# CODEOWNERS is a GitHub standard to specify who is automatically assigned pull requests to review. 
# This helps to prevent pull requests from languishing without review.
# GitHub can also be configured to require review from code owners before a pull request can be merged.

# Further reading is available from the following two URLs:
#   https://blog.github.com/2017-07-06-introducing-code-owners/
#   https://help.github.com/articles/about-codeowners/  

# Default owner for repo
*	@moderakh @kushagraThapar @kirankumarkolli @FabianMeiswinkel
