// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.softwareplan.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.PagedFlux;
import com.azure.core.http.rest.PagedIterable;
import com.azure.core.http.rest.PagedResponse;
import com.azure.core.http.rest.PagedResponseBase;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.softwareplan.fluent.HybridUseBenefitRevisionsClient;
import com.azure.resourcemanager.softwareplan.fluent.models.HybridUseBenefitModelInner;
import com.azure.resourcemanager.softwareplan.models.HybridUseBenefitListResult;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in HybridUseBenefitRevisionsClient. */
public final class HybridUseBenefitRevisionsClientImpl implements HybridUseBenefitRevisionsClient {
    /** The proxy service used to perform REST calls. */
    private final HybridUseBenefitRevisionsService service;

    /** The service client containing this operation class. */
    private final SoftwarePlanRPImpl client;

    /**
     * Initializes an instance of HybridUseBenefitRevisionsClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    HybridUseBenefitRevisionsClientImpl(SoftwarePlanRPImpl client) {
        this.service =
            RestProxy
                .create(
                    HybridUseBenefitRevisionsService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for SoftwarePlanRPHybridUseBenefitRevisions to be used by the proxy
     * service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "SoftwarePlanRPHybrid")
    private interface HybridUseBenefitRevisionsService {
        @Headers({"Content-Type: application/json"})
        @Get("/{scope}/providers/Microsoft.SoftwarePlan/hybridUseBenefits/{planId}/revisions")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<HybridUseBenefitListResult>> list(
            @HostParam("$host") String endpoint,
            @PathParam("scope") String scope,
            @PathParam("planId") String planId,
            @QueryParam("api-version") String apiVersion,
            @HeaderParam("Accept") String accept,
            Context context);

        @Headers({"Content-Type: application/json"})
        @Get("{nextLink}")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<HybridUseBenefitListResult>> listNext(
            @PathParam(value = "nextLink", encoded = true) String nextLink,
            @HostParam("$host") String endpoint,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Gets the version history of a hybrid use benefit.
     *
     * @param scope The scope at which the operation is performed. This is limited to Microsoft.Compute/virtualMachines
     *     and Microsoft.Compute/hostGroups/hosts for now.
     * @param planId This is a unique identifier for a plan. Should be a guid.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the version history of a hybrid use benefit along with {@link PagedResponse} on successful completion of
     *     {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<PagedResponse<HybridUseBenefitModelInner>> listSinglePageAsync(String scope, String planId) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (scope == null) {
            return Mono.error(new IllegalArgumentException("Parameter scope is required and cannot be null."));
        }
        if (planId == null) {
            return Mono.error(new IllegalArgumentException("Parameter planId is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .list(this.client.getEndpoint(), scope, planId, this.client.getApiVersion(), accept, context))
            .<PagedResponse<HybridUseBenefitModelInner>>map(
                res ->
                    new PagedResponseBase<>(
                        res.getRequest(),
                        res.getStatusCode(),
                        res.getHeaders(),
                        res.getValue().value(),
                        res.getValue().nextLink(),
                        null))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Gets the version history of a hybrid use benefit.
     *
     * @param scope The scope at which the operation is performed. This is limited to Microsoft.Compute/virtualMachines
     *     and Microsoft.Compute/hostGroups/hosts for now.
     * @param planId This is a unique identifier for a plan. Should be a guid.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the version history of a hybrid use benefit along with {@link PagedResponse} on successful completion of
     *     {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<PagedResponse<HybridUseBenefitModelInner>> listSinglePageAsync(
        String scope, String planId, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (scope == null) {
            return Mono.error(new IllegalArgumentException("Parameter scope is required and cannot be null."));
        }
        if (planId == null) {
            return Mono.error(new IllegalArgumentException("Parameter planId is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .list(this.client.getEndpoint(), scope, planId, this.client.getApiVersion(), accept, context)
            .map(
                res ->
                    new PagedResponseBase<>(
                        res.getRequest(),
                        res.getStatusCode(),
                        res.getHeaders(),
                        res.getValue().value(),
                        res.getValue().nextLink(),
                        null));
    }

    /**
     * Gets the version history of a hybrid use benefit.
     *
     * @param scope The scope at which the operation is performed. This is limited to Microsoft.Compute/virtualMachines
     *     and Microsoft.Compute/hostGroups/hosts for now.
     * @param planId This is a unique identifier for a plan. Should be a guid.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the version history of a hybrid use benefit as paginated response with {@link PagedFlux}.
     */
    @ServiceMethod(returns = ReturnType.COLLECTION)
    private PagedFlux<HybridUseBenefitModelInner> listAsync(String scope, String planId) {
        return new PagedFlux<>(() -> listSinglePageAsync(scope, planId), nextLink -> listNextSinglePageAsync(nextLink));
    }

    /**
     * Gets the version history of a hybrid use benefit.
     *
     * @param scope The scope at which the operation is performed. This is limited to Microsoft.Compute/virtualMachines
     *     and Microsoft.Compute/hostGroups/hosts for now.
     * @param planId This is a unique identifier for a plan. Should be a guid.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the version history of a hybrid use benefit as paginated response with {@link PagedFlux}.
     */
    @ServiceMethod(returns = ReturnType.COLLECTION)
    private PagedFlux<HybridUseBenefitModelInner> listAsync(String scope, String planId, Context context) {
        return new PagedFlux<>(
            () -> listSinglePageAsync(scope, planId, context), nextLink -> listNextSinglePageAsync(nextLink, context));
    }

    /**
     * Gets the version history of a hybrid use benefit.
     *
     * @param scope The scope at which the operation is performed. This is limited to Microsoft.Compute/virtualMachines
     *     and Microsoft.Compute/hostGroups/hosts for now.
     * @param planId This is a unique identifier for a plan. Should be a guid.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the version history of a hybrid use benefit as paginated response with {@link PagedIterable}.
     */
    @ServiceMethod(returns = ReturnType.COLLECTION)
    public PagedIterable<HybridUseBenefitModelInner> list(String scope, String planId) {
        return new PagedIterable<>(listAsync(scope, planId));
    }

    /**
     * Gets the version history of a hybrid use benefit.
     *
     * @param scope The scope at which the operation is performed. This is limited to Microsoft.Compute/virtualMachines
     *     and Microsoft.Compute/hostGroups/hosts for now.
     * @param planId This is a unique identifier for a plan. Should be a guid.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the version history of a hybrid use benefit as paginated response with {@link PagedIterable}.
     */
    @ServiceMethod(returns = ReturnType.COLLECTION)
    public PagedIterable<HybridUseBenefitModelInner> list(String scope, String planId, Context context) {
        return new PagedIterable<>(listAsync(scope, planId, context));
    }

    /**
     * Get the next page of items.
     *
     * @param nextLink The URL to get the next list of items
     *     <p>The nextLink parameter.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return list of hybrid use benefits along with {@link PagedResponse} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<PagedResponse<HybridUseBenefitModelInner>> listNextSinglePageAsync(String nextLink) {
        if (nextLink == null) {
            return Mono.error(new IllegalArgumentException("Parameter nextLink is required and cannot be null."));
        }
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.listNext(nextLink, this.client.getEndpoint(), accept, context))
            .<PagedResponse<HybridUseBenefitModelInner>>map(
                res ->
                    new PagedResponseBase<>(
                        res.getRequest(),
                        res.getStatusCode(),
                        res.getHeaders(),
                        res.getValue().value(),
                        res.getValue().nextLink(),
                        null))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Get the next page of items.
     *
     * @param nextLink The URL to get the next list of items
     *     <p>The nextLink parameter.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return list of hybrid use benefits along with {@link PagedResponse} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<PagedResponse<HybridUseBenefitModelInner>> listNextSinglePageAsync(String nextLink, Context context) {
        if (nextLink == null) {
            return Mono.error(new IllegalArgumentException("Parameter nextLink is required and cannot be null."));
        }
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .listNext(nextLink, this.client.getEndpoint(), accept, context)
            .map(
                res ->
                    new PagedResponseBase<>(
                        res.getRequest(),
                        res.getStatusCode(),
                        res.getHeaders(),
                        res.getValue().value(),
                        res.getValue().nextLink(),
                        null));
    }
}
