{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azure-keyvault-3.vault.azure.net/certificates/issuers/issuer1?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "www-authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : ""
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azure-keyvault-3.vault.azure.net/certificates/issuers/issuer1?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"id\":\"https://azure-keyvault-3.vault.azure.net/certificates/issuers/issuer1\",\"provider\":\"Test\",\"credentials\":{\"account_id\":\"account1\"},\"org_details\":{\"zip\":0,\"admin_details\":[{\"first_name\":\"John\",\"last_name\":\"Doe\",\"email\":\"john.doe@contoso.com\",\"phone\":\"fakePhoneNumberPlaceholder\"}]},\"attributes\":{\"enabled\":true,\"created\":1547150891,\"updated\":1547150891}}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-keyvault-3.vault.azure.net/certificates/issuers/issuer1?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"error\":{\"code\":\"CertificateIssuerNotFound\",\"message\":\"Issuer not found\"}}"
    }
  } ],
  "variables" : [ ]
}
