{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientintegrity018891c9198442cc474e9?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A05313F1A851",
      "Last-Modified" : "Thu, 23 Jan 2020 22:24:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientintegrity018891c9198442cc474e9/javablobencryptedclientintegrity1047640776ff73bdd7",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientintegrity018891c9198442cc474e9/javablobencryptedclientintegrity1047640776ff73bdd7",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "UM+6VQOop70=",
      "Last-Modified" : "Thu, 23 Jan 2020 22:24:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "ktt9sJhdlzljJ/bQih6glw==",
      "ETag" : "0x8D7A05314276C15"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientintegrity018891c9198442cc474e9/javablobencryptedclientintegrity1047640776ff73bdd7",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 23 Jan 2020 22:24:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "ktt9sJhdlzljJ/bQih6glw==",
      "x-ms-meta-encryptiondata" : "{\"EncryptionMode\":\"FullBlob\",\"WrappedContentKey\":{\"KeyId\":\"keyId\",\"EncryptedKey\":\"iYCaHxPYlVq0aIr6L5qeTEoXZBVcg9M1f6RPgQF0vl0=\",\"Algorithm\":\"keyWrapAlgorithm\"},\"EncryptionAgent\":{\"Protocol\":\"1.0\",\"EncryptionAlgorithm\":\"AES_CBC_256\"},\"ContentEncryptionIV\":\"NeAV46JNWbSTYstkqbbzJw==\",\"KeyWrappingMetadata\":{\"EncryptionLibrary\":\"JavaTrack212.4.0-beta.1\"}}",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7A05314276C15",
      "x-ms-creation-time" : "Thu, 23 Jan 2020 22:24:57 GMT",
      "Body" : "[16, 103, -21, 55, 88, -82, -77, 104, -20, 81, 124, -69, 21, 94, -76, 115, 122, -69, -97, -52, -55, -75, -84, 108, 117, 27, -35, -113, 82, -21, 54, 18, -19, 77, -12, 46, -25, 68, 25, -8, -95, -104, -115, -113, -87, -112, -30, -97, -14, 7, -4, -122, -118, 48, 23, 33, -83, 92, 86, 113, 26, 112, -123, -105, -88, -46, -48, 11, -123, -127, 81, -89, 24, -3, 87, -59, 58, 51, 69, -127, 90, 121, 3, 118, 92, -83, 111, -29, 70, 111, -127, -91, 86, -83, 91, 3, 48, 20, 0, 84, -87, 28, -102, 81, -117, 9, -9[...]
