{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadrange167077fb723fb2777140b99d9b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A053156A3ED2",
      "Last-Modified" : "Thu, 23 Jan 2020 22:24:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadrange167077fb723fb2777140b99d9b/javablobdownloadrange039401d84c97ea06b242b486",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadrange167077fb723fb2777140b99d9b/javablobdownloadrange039401d84c97ea06b242b486",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "dQAp2v3P/gM=",
      "Last-Modified" : "Thu, 23 Jan 2020 22:24:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "XDXDRVsjuowViCEJvqYQVg==",
      "ETag" : "0x8D7A05315848E97"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadrange167077fb723fb2777140b99d9b/javablobdownloadrange039401d84c97ea06b242b486",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 23 Jan 2020 22:24:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "XDXDRVsjuowViCEJvqYQVg==",
      "x-ms-meta-encryptiondata" : "{\"EncryptionMode\":\"FullBlob\",\"WrappedContentKey\":{\"KeyId\":\"keyId\",\"EncryptedKey\":\"QGAXQy+uuQyX4ssi/MgJtj6mSLK3znAazVMMAGyGFKM=\",\"Algorithm\":\"keyWrapAlgorithm\"},\"EncryptionAgent\":{\"Protocol\":\"1.0\",\"EncryptionAlgorithm\":\"AES_CBC_256\"},\"ContentEncryptionIV\":\"kjWQOTyNpVdQTVTB1169Lg==\",\"KeyWrappingMetadata\":{\"EncryptionLibrary\":\"JavaTrack212.4.0-beta.1\"}}",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7A05315848E97",
      "x-ms-creation-time" : "Thu, 23 Jan 2020 22:24:59 GMT",
      "Body" : "[12, 45, 42, -109, 32, 64, 53, 30, 41, -4, -99, -10, 36, -1, 45, 42]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  } ],
  "variables" : [ "137830a1-1769-4582-af38-fc54ebcfe334", "javablobdownloadrange039401d84c97ea06b242b486", "jtcdownloadrange167077fb723fb2777140b99d9b" ]
}