{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadtofileexistssucceeds1275462dc58e0a9c504?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A053195979BD",
      "Last-Modified" : "Thu, 23 Jan 2020 22:25:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadtofileexistssucceeds1275462dc58e0a9c504/javablobdownloadtofileexistssucceeds064045a024dbfe3f",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadtofileexistssucceeds1275462dc58e0a9c504/javablobdownloadtofileexistssucceeds064045a024dbfe3f",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "zy8bS33Qzeo=",
      "Last-Modified" : "Thu, 23 Jan 2020 22:25:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "GEp/wKwWI8NV0S4OVR9ShQ==",
      "ETag" : "0x8D7A0531975A534"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadtofileexistssucceeds1275462dc58e0a9c504/javablobdownloadtofileexistssucceeds064045a024dbfe3f",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "Content-Range" : "bytes 0-15/16",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "GEp/wKwWI8NV0S4OVR9ShQ==",
      "Last-Modified" : "Thu, 23 Jan 2020 22:25:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-meta-encryptiondata" : "{\"EncryptionMode\":\"FullBlob\",\"WrappedContentKey\":{\"KeyId\":\"keyId\",\"EncryptedKey\":\"Vwtg16eujO+2iBAe7y/BZz0Xrs9u/68cvrHx5EKPcXc=\",\"Algorithm\":\"keyWrapAlgorithm\"},\"EncryptionAgent\":{\"Protocol\":\"1.0\",\"EncryptionAlgorithm\":\"AES_CBC_256\"},\"ContentEncryptionIV\":\"RELjZrlM7OiWAobODm1FDg==\",\"KeyWrappingMetadata\":{\"EncryptionLibrary\":\"JavaTrack212.4.0-beta.1\"}}",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7A0531975A534",
      "x-ms-creation-time" : "Thu, 23 Jan 2020 22:25:06 GMT",
      "Body" : "[79, 39, 21, -116, 52, -97, 90, -43, 85, 62, 28, -32, 57, -76, 54, -13]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  } ],
  "variables" : [ "c37182c2-15d1-4828-a5b9-abb27f17b054", "javablobdownloadtofileexistssucceeds064045a024dbfe3f", "jtcdownloadtofileexistssucceeds1275462dc58e0a9c504" ]
}