{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadrange162977a638ff597151425eb16a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A05315D8B5EA",
      "Last-Modified" : "Thu, 23 Jan 2020 22:25:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadrange162977a638ff597151425eb16a/javablobdownloadrange0697733a0da0f65b40461581",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadrange162977a638ff597151425eb16a/javablobdownloadrange0697733a0da0f65b40461581",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "dpGhOwU7peI=",
      "Last-Modified" : "Thu, 23 Jan 2020 22:25:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "g3mlWMYstY37r+SrzYV/jg==",
      "ETag" : "0x8D7A05315F441B1"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadrange162977a638ff597151425eb16a/javablobdownloadrange0697733a0da0f65b40461581",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "Content-Range" : "bytes 0-15/16",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "g3mlWMYstY37r+SrzYV/jg==",
      "Last-Modified" : "Thu, 23 Jan 2020 22:25:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-meta-encryptiondata" : "{\"EncryptionMode\":\"FullBlob\",\"WrappedContentKey\":{\"KeyId\":\"keyId\",\"EncryptedKey\":\"t5jOPtF6Ihlf254v/6OKEAKzML1kbkrLyoJ0ARojMuU=\",\"Algorithm\":\"keyWrapAlgorithm\"},\"EncryptionAgent\":{\"Protocol\":\"1.0\",\"EncryptionAlgorithm\":\"AES_CBC_256\"},\"ContentEncryptionIV\":\"ZcAaDss5CGskgK02hHApnA==\",\"KeyWrappingMetadata\":{\"EncryptionLibrary\":\"JavaTrack212.4.0-beta.1\"}}",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7A05315F441B1",
      "x-ms-creation-time" : "Thu, 23 Jan 2020 22:25:00 GMT",
      "Body" : "[-48, -2, 62, 47, -66, 87, -95, 63, 126, 35, 42, 65, 104, 39, 39, -121]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  } ],
  "variables" : [ "a0c332f0-4d5f-4d49-a786-419472f9676e", "javablobdownloadrange0697733a0da0f65b40461581", "jtcdownloadrange162977a638ff597151425eb16a" ]
}