{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadmin1encryptedblobdownloadtestdownloadmineae83219ad?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A0531534AF96",
      "Last-Modified" : "Thu, 23 Jan 2020 22:24:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadmin1encryptedblobdownloadtestdownloadmineae83219ad/javablobdownloadmin090934a18ba093b95345228ff",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadmin1encryptedblobdownloadtestdownloadmineae83219ad/javablobdownloadmin090934a18ba093b95345228ff",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "TC+WZyvzgOo=",
      "Last-Modified" : "Thu, 23 Jan 2020 22:24:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "gscfHF0DbP2j9AbKcwj/Jw==",
      "ETag" : "0x8D7A053154EFE0D"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadmin1encryptedblobdownloadtestdownloadmineae83219ad/javablobdownloadmin090934a18ba093b95345228ff",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 23 Jan 2020 22:24:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "gscfHF0DbP2j9AbKcwj/Jw==",
      "x-ms-meta-encryptiondata" : "{\"EncryptionMode\":\"FullBlob\",\"WrappedContentKey\":{\"KeyId\":\"keyId\",\"EncryptedKey\":\"S5kvRiPcixA6pyN96N3vEOCtMddvu9jg7sxg91fGvK4=\",\"Algorithm\":\"keyWrapAlgorithm\"},\"EncryptionAgent\":{\"Protocol\":\"1.0\",\"EncryptionAlgorithm\":\"AES_CBC_256\"},\"ContentEncryptionIV\":\"Mgl54gyDB0Rd1lDH1qtaeA==\",\"KeyWrappingMetadata\":{\"EncryptionLibrary\":\"JavaTrack212.4.0-beta.1\"}}",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7A053154EFE0D",
      "x-ms-creation-time" : "Thu, 23 Jan 2020 22:24:59 GMT",
      "Body" : "[-88, 102, 47, 94, -28, 79, -79, -51, 84, -39, 66, 54, -5, 70, -73, -38]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  } ],
  "variables" : [ "a13a5507-7403-448e-b407-712808f68304", "javablobdownloadmin090934a18ba093b95345228ff", "jtcdownloadmin1encryptedblobdownloadtestdownloadmineae83219ad" ]
}