{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadwithretryrange061521548c3cd46d2c481d?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A11863786E5E",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadwithretryrange061521548c3cd46d2c481d/javablobdownloadwithretryrange355127a9dea3741f6c4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadwithretryrange061521548c3cd46d2c481d/javablobdownloadwithretryrange355127a9dea3741f6c4",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "rYLwCCMdC7Q=",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "LdCeNMVgOpaknQVUE/trbQ==",
      "ETag" : "0x8D7A1186390FFCD"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadwithretryrange061521548c3cd46d2c481d/javablobdownloadwithretryrange355127a9dea3741f6c4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "Content-Range" : "bytes 0-15/16",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "LdCeNMVgOpaknQVUE/trbQ==",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-meta-encryptiondata" : "{\"EncryptionMode\":\"FullBlob\",\"WrappedContentKey\":{\"KeyId\":\"keyId\",\"EncryptedKey\":\"Zs4dSYX6nOqWpwhODH5EYQzBF0BKOtJQ8iKS3f1Yxcw=\",\"Algorithm\":\"keyWrapAlgorithm\"},\"EncryptionAgent\":{\"Protocol\":\"1.0\",\"EncryptionAlgorithm\":\"AES_CBC_256\"},\"ContentEncryptionIV\":\"olZCESKthTuBT1CWYyTaKA==\",\"KeyWrappingMetadata\":{\"EncryptionLibrary\":\"JavaTrack212.4.0-beta.1\"}}",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7A1186390FFCD",
      "x-ms-creation-time" : "Fri, 24 Jan 2020 21:57:21 GMT",
      "Body" : "[-114, -46, -89, -79, -40, -48, 9, -19, 114, 59, 109, -122, -109, 32, 42, 83]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadwithretryrange061521548c3cd46d2c481d?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "422ddf22-5572-4ddb-8237-50f32b3f92c0", "jtcdownloadwithretryrange061521548c3cd46d2c481d", "javablobdownloadwithretryrange197008e43323240d384", "javablobdownloadwithretryrange262366d14769426b164", "javablobdownloadwithretryrange355127a9dea3741f6c4" ]
}