{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadmin0encyptedblockblobapitestdownloadmin7f180241b6?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A11863ECCDE5",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadmin0encyptedblockblobapitestdownloadmin7f180241b6/javablobdownloadmin307339004bc54129d64c499b4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadmin0encyptedblockblobapitestdownloadmin7f180241b6/javablobdownloadmin307339004bc54129d64c499b4",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "wFtW66E5qnQ=",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "7R5x0myFnBExc1XLDBdfmQ==",
      "ETag" : "0x8D7A1186405E221"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadmin0encyptedblockblobapitestdownloadmin7f180241b6/javablobdownloadmin307339004bc54129d64c499b4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "7R5x0myFnBExc1XLDBdfmQ==",
      "x-ms-meta-encryptiondata" : "{\"EncryptionMode\":\"FullBlob\",\"WrappedContentKey\":{\"KeyId\":\"keyId\",\"EncryptedKey\":\"sfocjb6N6PpzLeGGcGpS+zWEswy/MPRhz7gemMJiWvI=\",\"Algorithm\":\"keyWrapAlgorithm\"},\"EncryptionAgent\":{\"Protocol\":\"1.0\",\"EncryptionAlgorithm\":\"AES_CBC_256\"},\"ContentEncryptionIV\":\"k3xjivTmuvVSPxIdKbmUsw==\",\"KeyWrappingMetadata\":{\"EncryptionLibrary\":\"JavaTrack212.4.0-beta.1\"}}",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7A1186405E221",
      "x-ms-creation-time" : "Fri, 24 Jan 2020 21:57:22 GMT",
      "Body" : "[-75, -1, -80, 27, -122, 43, -35, -50, -4, 31, -113, 120, 101, -51, -60, -99]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadmin0encyptedblockblobapitestdownloadmin7f180241b6?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "8acc310b-f807-4051-abfb-d91d1afaa473", "jtcdownloadmin0encyptedblockblobapitestdownloadmin7f180241b6", "javablobdownloadmin190163a17a2f9616d243e3870", "javablobdownloadmin295312e6eed7b61a8643ec9a3", "javablobdownloadmin307339004bc54129d64c499b4" ]
}