{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientuploadoverwritefalse0751593b72d1432?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A11862557A12",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientuploadoverwritefalse0751593b72d1432/javablobencryptedclientuploadoverwritefalse370351c30378a",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientuploadoverwritefalse0751593b72d1432/javablobencryptedclientuploadoverwritefalse370351c30378a",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "Wk+cUUU/jD8=",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "MOn7Pkb5aut0Nfb15qt47w==",
      "ETag" : "0x8D7A118626E02C5"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientuploadoverwritefalse0751593b72d1432/javablobencryptedclientuploadoverwritefalse145674271d8d1",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "g7ccea7J6HN2KBZXumHf2Q==",
      "x-ms-meta-encryptiondata" : "{\"EncryptionMode\":\"FullBlob\",\"WrappedContentKey\":{\"KeyId\":\"keyId\",\"EncryptedKey\":\"EORqiuXdyiJw9aKkI87dPScYRCrhfuNzuesza54OO7U=\",\"Algorithm\":\"keyWrapAlgorithm\"},\"EncryptionAgent\":{\"Protocol\":\"1.0\",\"EncryptionAlgorithm\":\"AES_CBC_256\"},\"ContentEncryptionIV\":\"Bk2v+7Q7PyyxWZqPQ6pEOg==\",\"KeyWrappingMetadata\":{\"EncryptionLibrary\":\"JavaTrack212.4.0-beta.1\"}}",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D7A1186286451A",
      "x-ms-creation-time" : "Fri, 24 Jan 2020 21:57:20 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientuploadoverwritefalse0751593b72d1432?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "b3a39120-ce50-4518-a3ce-50313a819631", "jtcencryptedclientuploadoverwritefalse0751593b72d1432", "javablobencryptedclientuploadoverwritefalse145674271d8d1", "javablobencryptedclientuploadoverwritefalse27959737f9593", "javablobencryptedclientuploadoverwritefalse370351c30378a", "400706e1-ed94-471f-b68b-3b5acc3f142f" ]
}