{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.blob.core.windows.net/jtcbuilderbearertokenvalidation05918937236faf91944?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D76F844C64483F",
      "Last-Modified" : "Fri, 22 Nov 2019 19:43:50 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gapradev.blob.core.windows.net/jtcbuilderbearertokenvalidation05918937236faf91944?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcbuilderbearertokenvalidation05918937236faf91944", "javablobbuilderbearertokenvalidation1653231fb5703a29", "javablobbuilderbearertokenvalidation256202e4607ce929" ]
}