{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcbuilderbearertokenvalidation016381404ed12fffb74?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A1186303BF24",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcbuilderbearertokenvalidation016381404ed12fffb74/javablobbuilderbearertokenvalidation387151ea39939f7c",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcbuilderbearertokenvalidation016381404ed12fffb74/javablobbuilderbearertokenvalidation387151ea39939f7c",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "sqqux50S5gQ=",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "3GopeTby8s2ZUlEX9PZFKg==",
      "ETag" : "0x8D7A118631C447C"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcbuilderbearertokenvalidation016381404ed12fffb74?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "87a943e7-a8e8-437b-bbbd-d9080fd01269", "jtcbuilderbearertokenvalidation016381404ed12fffb74", "javablobbuilderbearertokenvalidation130593e03af93676", "javablobbuilderbearertokenvalidation298049daa77b18ed", "javablobbuilderbearertokenvalidation387151ea39939f7c" ]
}