{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientuploadoverwritetrue039805abaeb091e8?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A05326B4620D",
      "Last-Modified" : "Thu, 23 Jan 2020 22:25:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientuploadoverwritetrue039805abaeb091e8/javablobencryptedclientuploadoverwritetrue1724949495fef",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientuploadoverwritetrue039805abaeb091e8/javablobencryptedclientuploadoverwritetrue1724949495fef",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "CuzeTKhsP4s=",
      "Last-Modified" : "Thu, 23 Jan 2020 22:25:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "1ZAISeC8s4Gu0uI6ftB3Aw==",
      "ETag" : "0x8D7A05326CE4C8A"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientuploadoverwritetrue039805abaeb091e8?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "6bdcf26d-217b-4d1b-969d-ce2821965ec5", "jtcencryptedclientuploadoverwritetrue039805abaeb091e8", "javablobencryptedclientuploadoverwritetrue1724949495fef", "javablobencryptedclientuploadoverwritetrue244361993d27f", "edae5b1c-26e0-403b-98e8-3a6809793aa4" ]
}