{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadfiledoesnotexistopenoptions033793206db6641?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A11868FE5C8F",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadfiledoesnotexistopenoptions033793206db6641/javablobdownloadfiledoesnotexistopenoptions353986154f45c",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadfiledoesnotexistopenoptions033793206db6641/javablobdownloadfiledoesnotexistopenoptions353986154f45c",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "8W6uVtNNC/E=",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "qN1HgkQXRv3hLDZXRDwvgw==",
      "ETag" : "0x8D7A1186916C152"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadfiledoesnotexistopenoptions033793206db6641/javablobdownloadfiledoesnotexistopenoptions353986154f45c",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "Content-Range" : "bytes 0-15/16",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "qN1HgkQXRv3hLDZXRDwvgw==",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-meta-encryptiondata" : "{\"EncryptionMode\":\"FullBlob\",\"WrappedContentKey\":{\"KeyId\":\"keyId\",\"EncryptedKey\":\"EK7PD+dddOSn3sGTTGM0Jza+qd/zsMMXSk48j1GwhHo=\",\"Algorithm\":\"keyWrapAlgorithm\"},\"EncryptionAgent\":{\"Protocol\":\"1.0\",\"EncryptionAlgorithm\":\"AES_CBC_256\"},\"ContentEncryptionIV\":\"sR3ZuM31HYJcu5CRIh8tWg==\",\"KeyWrappingMetadata\":{\"EncryptionLibrary\":\"JavaTrack212.4.0-beta.1\"}}",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7A1186916C152",
      "x-ms-creation-time" : "Fri, 24 Jan 2020 21:57:31 GMT",
      "Body" : "[-3, -4, -25, 51, -64, 111, 84, -3, -76, -21, 74, -34, 42, 109, 21, -67]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadfiledoesnotexistopenoptions033793206db6641?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "238ffbab-1467-4b83-828a-18b967845815", "jtcdownloadfiledoesnotexistopenoptions033793206db6641", "javablobdownloadfiledoesnotexistopenoptions1467469bf94ef", "javablobdownloadfiledoesnotexistopenoptions261059da5da0c", "javablobdownloadfiledoesnotexistopenoptions353986154f45c" ]
}