{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadacfail027108426b6b9c3ad2488bb818?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A11866B2FABB",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadacfail027108426b6b9c3ad2488bb818/javablobdownloadacfail372223e086bce9dd494266a",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadacfail027108426b6b9c3ad2488bb818/javablobdownloadacfail372223e086bce9dd494266a",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "TpQhGZ1g1u8=",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "SVUWqCmVjikUkekAzQ0Ojg==",
      "ETag" : "0x8D7A11866CB9581"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadacfail027108426b6b9c3ad2488bb818/javablobdownloadacfail372223e086bce9dd494266a",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "ConditionNotMet",
      "retry-after" : "0",
      "StatusCode" : "412",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\nRequestId:bd0ccff3-a01e-0020-1401-d3e99c000000\nTime:2020-01-24T21:57:27.2919187Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadacfail027108426b6b9c3ad2488bb818?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "de7b36e7-6e76-4db2-a2ca-f18dc796bfb5", "jtcdownloadacfail027108426b6b9c3ad2488bb818", "javablobdownloadacfail161200480e4be647a7427c9", "javablobdownloadacfail2139526828d49298fb4678a", "javablobdownloadacfail372223e086bce9dd494266a" ]
}