{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadtofiledoesnotexist065934b8a242a9c7cc43?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A11868BFBDC4",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadtofiledoesnotexist065934b8a242a9c7cc43/javablobdownloadtofiledoesnotexist355364d8eaee8dea2",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadtofiledoesnotexist065934b8a242a9c7cc43/javablobdownloadtofiledoesnotexist355364d8eaee8dea2",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6E2+HWVtNeQ=",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "LjxBhMC3sFEPZjcu5JmWpA==",
      "ETag" : "0x8D7A11868D85845"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadtofiledoesnotexist065934b8a242a9c7cc43/javablobdownloadtofiledoesnotexist355364d8eaee8dea2",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "Content-Range" : "bytes 0-15/16",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "LjxBhMC3sFEPZjcu5JmWpA==",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-meta-encryptiondata" : "{\"EncryptionMode\":\"FullBlob\",\"WrappedContentKey\":{\"KeyId\":\"keyId\",\"EncryptedKey\":\"GhCjykHvYYhp/DzAw5i34otyieM/d2yKOw/APY0gwYs=\",\"Algorithm\":\"keyWrapAlgorithm\"},\"EncryptionAgent\":{\"Protocol\":\"1.0\",\"EncryptionAlgorithm\":\"AES_CBC_256\"},\"ContentEncryptionIV\":\"qhQlTttPikmpQf1kx3kp8w==\",\"KeyWrappingMetadata\":{\"EncryptionLibrary\":\"JavaTrack212.4.0-beta.1\"}}",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7A11868D85845",
      "x-ms-creation-time" : "Fri, 24 Jan 2020 21:57:30 GMT",
      "Body" : "[-86, -75, 52, -51, 48, -102, -119, -106, 69, -89, 49, 41, -59, 52, 41, -19]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadtofiledoesnotexist065934b8a242a9c7cc43?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "a448d21c-b285-495d-a6cc-4d7eea221811", "jtcdownloadtofiledoesnotexist065934b8a242a9c7cc43", "javablobdownloadtofiledoesnotexist1339192dabc956a1d", "javablobdownloadtofiledoesnotexist25607766381fa393d", "javablobdownloadtofiledoesnotexist355364d8eaee8dea2" ]
}