{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcencryptionuploadisnumblocks027597ea57a1ba46334?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C21CC8C12F01",
      "Last-Modified" : "Fri, 06 Mar 2020 22:21:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcencryptionuploadisnumblocks027597ea57a1ba46334/javablobencryptionuploadisnumblocks3055691f30e625d11",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcencryptionuploadisnumblocks027597ea57a1ba46334/javablobencryptionuploadisnumblocks3055691f30e625d11",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "z62K2x3PaYU=",
      "Last-Modified" : "Fri, 06 Mar 2020 22:21:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "SSil5tt+8c61/ufYoHOIuA==",
      "ETag" : "0x8D7C21CC902DB6F"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcencryptionuploadisnumblocks027597ea57a1ba46334/javablobencryptionuploadisnumblocks25070592da96fa5aa?blocklisttype=all&comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-blob-content-length" : "16",
      "Last-Modified" : "Fri, 06 Mar 2020 22:21:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "0x8D7C21CC91296B7",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks /><UncommittedBlocks /></BlockList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcencryptionuploadisnumblocks027597ea57a1ba46334?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "fe3fc622-1d30-42ab-becd-1bdf8c2ee0a5", "jtcencryptionuploadisnumblocks027597ea57a1ba46334", "javablobencryptionuploadisnumblocks179049e16dcadb763", "javablobencryptionuploadisnumblocks25070592da96fa5aa", "javablobencryptionuploadisnumblocks3055691f30e625d11", "bddb8271-4188-41d7-b2ba-0866dcddab2a" ]
}