{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientuploadoverwritefalse012993046113edd?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A0532672504F",
      "Last-Modified" : "Thu, 23 Jan 2020 22:25:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientuploadoverwritefalse012993046113edd/javablobencryptedclientuploadoverwritefalse11613383ad525",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientuploadoverwritefalse012993046113edd/javablobencryptedclientuploadoverwritefalse11613383ad525",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "ruxxkbKljjk=",
      "Last-Modified" : "Thu, 23 Jan 2020 22:25:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "3TyC1pnRs1AE0hAJoL00zA==",
      "ETag" : "0x8D7A053268C6253"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientuploadoverwritefalse012993046113edd/javablobencryptedclientuploadoverwritefalse11613383ad525",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 23 Jan 2020 22:25:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "3TyC1pnRs1AE0hAJoL00zA==",
      "x-ms-meta-encryptiondata" : "{\"EncryptionMode\":\"FullBlob\",\"WrappedContentKey\":{\"KeyId\":\"keyId\",\"EncryptedKey\":\"fiwYBaiPtHgJz1k3rhfvS3LjI0Esvj7pc6ruBJ4Y3Dk=\",\"Algorithm\":\"keyWrapAlgorithm\"},\"EncryptionAgent\":{\"Protocol\":\"1.0\",\"EncryptionAlgorithm\":\"AES_CBC_256\"},\"ContentEncryptionIV\":\"iEZ6wHbqwM3vZTR3ZColaA==\",\"KeyWrappingMetadata\":{\"EncryptionLibrary\":\"JavaTrack212.4.0-beta.1\"}}",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D7A053268C6253",
      "x-ms-creation-time" : "Thu, 23 Jan 2020 22:25:28 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientuploadoverwritefalse012993046113edd?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "fb3087e8-71ce-4f3e-bff4-40094ec640c3", "jtcencryptedclientuploadoverwritefalse012993046113edd", "javablobencryptedclientuploadoverwritefalse11613383ad525", "javablobencryptedclientuploadoverwritefalse209674422b4dd", "75508ea7-dbc0-4c4a-a995-80eddf82a870" ]
}