{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtccreateencryptionclientfails09587663b1d2fc24104?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A11853A89731",
      "Last-Modified" : "Fri, 24 Jan 2020 21:56:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtccreateencryptionclientfails09587663b1d2fc24104/javablobcreateencryptionclientfails361756ba595d11ad1",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtccreateencryptionclientfails09587663b1d2fc24104/javablobcreateencryptionclientfails361756ba595d11ad1",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "wn2sYFCC1uo=",
      "Last-Modified" : "Fri, 24 Jan 2020 21:56:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "4Jy3ZxzgzPVgsW2GHfkPLA==",
      "ETag" : "0x8D7A11853E00EA7"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtccreateencryptionclientfails09587663b1d2fc24104?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "7427cb81-cc69-4915-a93e-6957603144a0", "jtccreateencryptionclientfails09587663b1d2fc24104", "javablobcreateencryptionclientfails1122034cb05ae5416", "javablobcreateencryptionclientfails247192a3fce98d5dc", "javablobcreateencryptionclientfails361756ba595d11ad1", "javablobcreateencryptionclientfails4097454cb73989203", "javablobcreateencryptionclientfails574628396536e38b6" ]
}