{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtccreateencryptionclientsucceeds00178455609dd36181?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A0531A9CA823",
      "Last-Modified" : "Thu, 23 Jan 2020 22:25:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtccreateencryptionclientsucceeds00178455609dd36181?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "8a71faa6-4fc4-4caf-bddb-75fb5f11742c", "jtccreateencryptionclientsucceeds00178455609dd36181", "javablobcreateencryptionclientsucceeds103983bc5334795", "javablobcreateencryptionclientsucceeds2025556a9a9fe0d", "javablobcreateencryptionclientsucceeds304940c5d91bddd", "javablobcreateencryptionclientsucceeds469970c8da9ebe9" ]
}