{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcdownloadsnapshot0929685a75ed887157427bab7?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7DA7E0138F6DE",
      "Last-Modified" : "Mon, 06 Apr 2020 22:58:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcdownloadsnapshot0929685a75ed887157427bab7/javablobdownloadsnapshot37666690b045353c9e432a",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcdownloadsnapshot0929685a75ed887157427bab7/javablobdownloadsnapshot37666690b045353c9e432a",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "ftk1wVJpjkg=",
      "Last-Modified" : "Mon, 06 Apr 2020 22:58:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "Xl83kK88mj016XgLSA2lFg==",
      "ETag" : "0x8D7DA7E01B7FB6D"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcdownloadsnapshot0929685a75ed887157427bab7/javablobdownloadsnapshot37666690b045353c9e432a",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Mon, 06 Apr 2020 22:58:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "Xl83kK88mj016XgLSA2lFg==",
      "x-ms-meta-encryptiondata" : "{\"EncryptionMode\":\"FullBlob\",\"WrappedContentKey\":{\"KeyId\":\"keyId\",\"EncryptedKey\":\"U8nwfv2H9xZNujSDjHgfHMP2gpjJYHHXvf4SxMk+tH8=\",\"Algorithm\":\"keyWrapAlgorithm\"},\"EncryptionAgent\":{\"Protocol\":\"1.0\",\"EncryptionAlgorithm\":\"AES_CBC_256\"},\"ContentEncryptionIV\":\"HncD1RTsvEZ0rA/QsrlTFw==\",\"KeyWrappingMetadata\":{\"EncryptionLibrary\":\"JavaTrack212.6.0-beta.1\"}}",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7DA7E01B7FB6D",
      "x-ms-creation-time" : "Mon, 06 Apr 2020 22:58:22 GMT",
      "Body" : "[-101, 114, -61, -95, -44, -98, -14, 38, 53, -94, 25, -118, -14, -101, -24, 65]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcdownloadsnapshot0929685a75ed887157427bab7/javablobdownloadsnapshot37666690b045353c9e432a?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-snapshot" : "2020-04-06T22:58:23.0558168Z",
      "ETag" : "0x8D7DA7E01B7FB6D",
      "Last-Modified" : "Mon, 06 Apr 2020 22:58:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcdownloadsnapshot0929685a75ed887157427bab7/javablobdownloadsnapshot37666690b045353c9e432a?snapshot=2020-04-06T22%3a58%3a23.0558168Z",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "Last-Modified" : "Mon, 06 Apr 2020 22:58:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "Xl83kK88mj016XgLSA2lFg==",
      "x-ms-meta-encryptiondata" : "{\"EncryptionMode\":\"FullBlob\",\"WrappedContentKey\":{\"KeyId\":\"keyId\",\"EncryptedKey\":\"U8nwfv2H9xZNujSDjHgfHMP2gpjJYHHXvf4SxMk+tH8=\",\"Algorithm\":\"keyWrapAlgorithm\"},\"EncryptionAgent\":{\"Protocol\":\"1.0\",\"EncryptionAlgorithm\":\"AES_CBC_256\"},\"ContentEncryptionIV\":\"HncD1RTsvEZ0rA/QsrlTFw==\",\"KeyWrappingMetadata\":{\"EncryptionLibrary\":\"JavaTrack212.6.0-beta.1\"}}",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7DA7E01B7FB6D",
      "x-ms-creation-time" : "Mon, 06 Apr 2020 22:58:22 GMT",
      "Body" : "[-101, 114, -61, -95, -44, -98, -14, 38, 53, -94, 25, -118, -14, -101, -24, 65]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcdownloadsnapshot0929685a75ed887157427bab7?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "dd09bd73-c248-4cc1-87c2-1d4639b84b50", "jtcdownloadsnapshot0929685a75ed887157427bab7", "javablobdownloadsnapshot103524b6a0b7de8f7244f0", "javablobdownloadsnapshot270717b135393d99eb4acd", "javablobdownloadsnapshot37666690b045353c9e432a" ]
}