{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientfileuploadoverwritefalse01275223c7690?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A11861A4A123",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientfileuploadoverwritefalse01275223c7690/javablobencryptedclientfileuploadoverwritefalse3336029ea6e",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientfileuploadoverwritefalse01275223c7690/javablobencryptedclientfileuploadoverwritefalse3336029ea6e",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "EWPA7wzEBPo=",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "dk0Tl68o2OMe32JHaDP30Q==",
      "ETag" : "0x8D7A11861BCDA1E"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientfileuploadoverwritefalse01275223c7690/javablobencryptedclientfileuploadoverwritefalse1789449ec56",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "ykTG9RZPZXGAm4zZ5pMBaw==",
      "x-ms-meta-encryptiondata" : "{\"EncryptionMode\":\"FullBlob\",\"WrappedContentKey\":{\"KeyId\":\"keyId\",\"EncryptedKey\":\"E13q1m7X1peRulhZDmuTSQkEHvm+6MIVbzaZ4qV4DRU=\",\"Algorithm\":\"keyWrapAlgorithm\"},\"EncryptionAgent\":{\"Protocol\":\"1.0\",\"EncryptionAlgorithm\":\"AES_CBC_256\"},\"ContentEncryptionIV\":\"vCafyGJCAMx4r9y5OT7fbA==\",\"KeyWrappingMetadata\":{\"EncryptionLibrary\":\"JavaTrack212.4.0-beta.1\"}}",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D7A11861D607BA",
      "x-ms-creation-time" : "Fri, 24 Jan 2020 21:57:18 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcencryptedclientfileuploadoverwritefalse01275223c7690?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "662b6434-3b71-44b7-9e34-b726ed94f144", "jtcencryptedclientfileuploadoverwritefalse01275223c7690", "javablobencryptedclientfileuploadoverwritefalse1789449ec56", "javablobencryptedclientfileuploadoverwritefalse2080497d052", "javablobencryptedclientfileuploadoverwritefalse3336029ea6e", "ad1ad0a8-f849-4996-9c41-af258b2d1f1c" ]
}