{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtckeyresolverusedtodecryptdata0126385aa66a84b4614?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A05323FBA7D2",
      "Last-Modified" : "Thu, 23 Jan 2020 22:25:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtckeyresolverusedtodecryptdata0126385aa66a84b4614/javablobkeyresolverusedtodecryptdata3595428a096bcceb",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtckeyresolverusedtodecryptdata0126385aa66a84b4614/javablobkeyresolverusedtodecryptdata3595428a096bcceb",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "2Qlb/67HMEk=",
      "Last-Modified" : "Thu, 23 Jan 2020 22:25:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "QrIFWhUXox4VJ91BQWdb3A==",
      "ETag" : "0x8D7A05324171820"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtckeyresolverusedtodecryptdata0126385aa66a84b4614/javablobkeyresolverusedtodecryptdata3595428a096bcceb",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 23 Jan 2020 22:25:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "QrIFWhUXox4VJ91BQWdb3A==",
      "x-ms-meta-encryptiondata" : "{\"EncryptionMode\":\"FullBlob\",\"WrappedContentKey\":{\"KeyId\":\"keyId\",\"EncryptedKey\":\"zHjmeKMuYteCWScEUPqy3y9o+EAtxImnZCtETvEB6YU=\",\"Algorithm\":\"keyWrapAlgorithm\"},\"EncryptionAgent\":{\"Protocol\":\"1.0\",\"EncryptionAlgorithm\":\"AES_CBC_256\"},\"ContentEncryptionIV\":\"eVRUVqu/9aivKHpwryS1Mw==\",\"KeyWrappingMetadata\":{\"EncryptionLibrary\":\"JavaTrack212.4.0-beta.1\"}}",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7A05324171820",
      "x-ms-creation-time" : "Thu, 23 Jan 2020 22:25:24 GMT",
      "Body" : "[-45, 54, 8, -59, -85, -121, 79, 59, 26, 76, 64, 16, -65, -123, -53, -66, 100, -27, 86, -3, -54, 55, 74, 6, -47, 71, 83, -90, -123, -46, 18, 51]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtckeyresolverusedtodecryptdata0126385aa66a84b4614?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "5e78186f-494a-4ef5-8cde-2c239050de85", "jtckeyresolverusedtodecryptdata0126385aa66a84b4614", "javablobkeyresolverusedtodecryptdata199936e31ac08e9f", "javablobkeyresolverusedtodecryptdata26728203c207dbe2", "javablobkeyresolverusedtodecryptdata3595428a096bcceb", "b01b673c-41b6-48f2-af43-c68200ebcb17" ]
}