{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadrange0encyptedblockblobapitestdownloadrange16c51022?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A11864A60F58",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadrange0encyptedblockblobapitestdownloadrange16c51022/javablobdownloadrange3206656bb14f4e1b6c422589",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadrange0encyptedblockblobapitestdownloadrange16c51022/javablobdownloadrange3206656bb14f4e1b6c422589",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "xev7oAeepxg=",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "OHvfwinuGswrudjMgtMIlQ==",
      "ETag" : "0x8D7A11864BED333"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadrange0encyptedblockblobapitestdownloadrange16c51022/javablobdownloadrange3206656bb14f4e1b6c422589",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "Content-Range" : "bytes 0-15/16",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "OHvfwinuGswrudjMgtMIlQ==",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-meta-encryptiondata" : "{\"EncryptionMode\":\"FullBlob\",\"WrappedContentKey\":{\"KeyId\":\"keyId\",\"EncryptedKey\":\"Xaayv6nWEMdF1nuVzt5t0ZRpUBz4L/YsvavQzZqZWSo=\",\"Algorithm\":\"keyWrapAlgorithm\"},\"EncryptionAgent\":{\"Protocol\":\"1.0\",\"EncryptionAlgorithm\":\"AES_CBC_256\"},\"ContentEncryptionIV\":\"FywhI3f2hNrubvMo8BZYOw==\",\"KeyWrappingMetadata\":{\"EncryptionLibrary\":\"JavaTrack212.4.0-beta.1\"}}",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7A11864BED333",
      "x-ms-creation-time" : "Fri, 24 Jan 2020 21:57:23 GMT",
      "Body" : "[-116, 106, -75, -56, 80, 83, 67, -87, 16, -9, 48, -101, 23, -2, -19, -36]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcdownloadrange0encyptedblockblobapitestdownloadrange16c51022?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "76117299-c1a4-4c65-a8a0-ba219c29e949", "jtcdownloadrange0encyptedblockblobapitestdownloadrange16c51022", "javablobdownloadrange128449373df4ed5a6343a9a6", "javablobdownloadrange21709719654400f89740e38c", "javablobdownloadrange3206656bb14f4e1b6c422589" ]
}