{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtckeyresolverusedtodecryptdata065175859b4cb714c74?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A1185EDDD8AF",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtckeyresolverusedtodecryptdata065175859b4cb714c74/javablobkeyresolverusedtodecryptdata398956454d44d972",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtckeyresolverusedtodecryptdata065175859b4cb714c74/javablobkeyresolverusedtodecryptdata398956454d44d972",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "p316cUaeIuQ=",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "Pdb5GzrGOVtPIW3cpZnzqg==",
      "ETag" : "0x8D7A1185EF6B410"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtckeyresolverusedtodecryptdata065175859b4cb714c74/javablobkeyresolverusedtodecryptdata495367c9dbc7b072",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Fri, 24 Jan 2020 21:57:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "dO5IdM9XooBrgqCW2Ja2iw==",
      "x-ms-meta-encryptiondata" : "{\"EncryptionMode\":\"FullBlob\",\"WrappedContentKey\":{\"KeyId\":\"keyId\",\"EncryptedKey\":\"eBYVFVrBvLmOLMkrwENNW6aJwFCNQUFq4as+o1vXmMA=\",\"Algorithm\":\"keyWrapAlgorithm\"},\"EncryptionAgent\":{\"Protocol\":\"1.0\",\"EncryptionAlgorithm\":\"AES_CBC_256\"},\"ContentEncryptionIV\":\"Lo6gPsvVEBpUrcl5b0zMTw==\",\"KeyWrappingMetadata\":{\"EncryptionLibrary\":\"JavaTrack212.4.0-beta.1\"}}",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7A1185F116531",
      "x-ms-creation-time" : "Fri, 24 Jan 2020 21:57:14 GMT",
      "Body" : "[54, 118, -2, 37, 99, -27, 76, 62, 112, -9, -95, 43, 125, 72, 109, 101, -111, -32, -18, 76, -73, -94, -70, -20, 18, 101, 25, 69, -110, -76, 42, -37]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtckeyresolverusedtodecryptdata065175859b4cb714c74?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "4810f4fb-5434-4904-b883-24b750f442a8", "jtckeyresolverusedtodecryptdata065175859b4cb714c74", "javablobkeyresolverusedtodecryptdata165290a170e6d0ef", "javablobkeyresolverusedtodecryptdata2194897daaf9a1fd", "javablobkeyresolverusedtodecryptdata398956454d44d972", "javablobkeyresolverusedtodecryptdata495367c9dbc7b072", "c40d7ac1-a0b0-4962-b687-394bd50bca69", "ab816f91-9515-4f74-b70d-7605f050dfcb" ]
}