{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://test-vault.vault.azure.net/keys/itwkk-p521?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "www-authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : ""
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://test-vault.vault.azure.net/keys/itwkk-p521?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"key\":{\"kid\":\"https://test-vault.vault.azure.netkeys/itwkk-p521/a0fbc335f0d742a7bfe740959fb1f0fa\",\"kty\":\"EC\",\"key_ops\":[\"sign\",\"verify\"],\"crv\":\"P-521\",\"x\":\"Af9M2Aw-sNRDJQrQDRzEh0sYLV6mkNtvyDLyPy3c7CCmJlsG8T1ocO-oM8WbVncjT2p0ERQX9n5Z297p8cqlkYRL\",\"y\":\"ARJDc5Wdom6LgJDG0n76RtaKzUL85xaCZ7vsFcEjGZqEbKOjdTw0XASzT1UKxbIIXlH3ZW3jK14rkyUf-XBDkhf2\"},\"attributes\":{\"enabled\":true,\"created\":1542416029,\"updated\":1542416029,\"recoveryLevel\":\"Purgeable\"}}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://test-vault.vault.azure.netkeys/itwkk-p521/a0fbc335f0d742a7bfe740959fb1f0fa/sign?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"kid\":\"https://test-vault.vault.azure.netkeys/itwkk-p521/a0fbc335f0d742a7bfe740959fb1f0fa\",\"value\":\"ASOtcKfmxQHLeT9OXNlamphnKGpMnA3ALhVIMI6-2-cbXgIg_nilpF10H33r60ln5KcdUBG68kqlIaP2ZXMkmFwSAS4EXLD25I-9pAo3_dsxTnfx0fg4RgL3C-L3VWNbY30JqhY8e97IXj0H7CZxtxjbikC7pZgg76oK8MbYn6VlOeSL\"}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://test-vault.vault.azure.netkeys/itwkk-p521/a0fbc335f0d742a7bfe740959fb1f0fa/verify?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":true}"
    }
  } ],
  "variables" : [ ]
}