{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes039926de3b4045e5204?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D78277859E80E5",
      "Last-Modified" : "Mon, 16 Dec 2019 22:30:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes192877e63eff1bf1d44/javablobsubmittingsamebatchmanytimes357610ab3d3b7e92",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7827785A98B81",
      "Last-Modified" : "Mon, 16 Dec 2019 22:30:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?comp=batch",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "multipart/mixed; boundary=batch_905e3502-e22d-4c28-acee-e133c0beeb79"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202",
      "Body" : "--batchresponse_70008e99-8238-4bee-bd3c-95d766fbef00\r\nContent-Type: application/http\r\nContent-ID: 0\r\n\r\nHTTP/1.1 404 The specified blob does not exist.\r\nx-ms-error-code: BlobNotFound\r\nx-ms-request-id: 8dbb14d5-701e-00d7-1360-b47a511e9ccc\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: 891761f4-cdf5-4a6c-997e-40a1144f9a43\r\nContent-Length: 216\r\nContent-Type: application/xml\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\nRequestId:8dbb14d5-701e-00d7-1360-b47a511e9ccc\nTime:2019-12-16T22:30:15.1832115Z</Message></Error>\r\n--batchresponse_70008e99-8238-4bee-bd3c-95d766fbef00\r\nContent-Type: application/http\r\nContent-ID: 1\r\n\r\nHTTP/1.1 202 Accepted\r\nx-ms-delete-type-permanent: true\r\nx-ms-request-id: 8dbb14d5-701e-00d7-1360-b47a511e9cce\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: 881a3980-ef9e-40d2-ac73-fe3ab7476db5\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n--batchresponse_70008e99-8238-4bee-bd3c-95d766fbef00--",
      "Content-Type" : "multipart/mixed; boundary=batchresponse_70008e99-8238-4bee-bd3c-95d766fbef00"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcsubmittingsamebatchmanytimes&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcsubmittingsamebatchmanytimes</Prefix><Containers><Container><Name>jtcsubmittingsamebatchmanytimes039926de3b4045e5204</Name><Properties><Last-Modified>Mon, 16 Dec 2019 22:30:15 GMT</Last-Modified><Etag>\"0x8D78277859E80E5\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcsubmittingsamebatchmanytimes192877e63eff1bf1d44</Name><Properties><Last-Modified>Mon, 16 Dec 2019 22:30:15 GMT</Last-Modified><Etag>\"0x8D7827785A4007A\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes192877e63eff1bf1d44?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcsubmittingsamebatchmanytimes039926de3b4045e5204", "jtcsubmittingsamebatchmanytimes192877e63eff1bf1d44", "javablobsubmittingsamebatchmanytimes255324de17bd5d32", "javablobsubmittingsamebatchmanytimes357610ab3d3b7e92" ]
}