{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcbulksetaccesstier0batchapitestbulksetaccesstier38265073f1?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D74D05245A59AD\"",
      "Last-Modified" : "Wed, 09 Oct 2019 22:07:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcbulksetaccesstier0batchapitestbulksetaccesstier38265073f1/javablobbulksetaccesstier11414104a3cd7a977a4506",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Wed, 09 Oct 2019 22:07:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D74D0524617087\""
    },
    "Exception" : null
[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?comp=batch",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "multipart/mixed; boundary=batch_f6c61548-de81-4a78-b621-2b90d2555fa2"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202",
      "Body" : "--batchresponse_25310a56-21f7-4dc8-9f3a-b1c7c68c8ffc\r\nContent-Type: application/http\r\nContent-ID: 0\r\n\r\nHTTP/1.1 200 OK\r\nx-ms-request-id: 73653079-401e-0013-7cee-7e05971efe45\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: fe5ac7f0-bf7e-42c2-8f51-5ed955d1c0b0\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n--batchresponse_25310a56-21f7-4dc8-9f3a-b1c7c68c8ffc\r\nContent-Type: application/http\r\nContent-ID: 1\r\n\r\nHTTP/1.1 200 OK\r\nx-ms-request-id: 73653079-401e-0013-7cee-7e05971efe[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcbulksetaccesstier&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcbulksetaccesstier</Prefix><Containers><Container><Name>jtcbulksetaccesstier0batchapitestbulksetaccesstier38265073f1</Name><Properties><Last-Modified>Wed, 09 Oct 2019 22:07:57 GMT</Last-Modified><Etag>\"0x8D74D05245A59AD\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcbulksetaccesstier0batchapitestbulksetaccesstier38265073f1?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcbulksetaccesstier0batchapitestbulksetaccesstier38265073f1", "javablobbulksetaccesstier11414104a3cd7a977a4506", "javablobbulksetaccesstier29434566724e7d187f44a0", "javablobbulksetaccesstier376283da5c6d59e2c84b37", "javablobbulksetaccesstier411480b241315e947a4f78", "javablobbulksetaccesstier5727372dce9964dcc041e0", "javablobbulksetaccesstier609249fe9a3586fa714e64", "javablobbulksetaccesstier729568609f4334418d46ca", "javablobbulksetaccesstier87610856aa67ebe209427f", "javablobbulksetaccesstier9542287a146ead2d744c9d", "javablobbulksetaccesstier1016688895ee4913eb34f9" ]
}