{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes0097745be14ffb6ab94?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C52D27EB263A",
      "Last-Modified" : "Tue, 10 Mar 2020 19:56:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes0097745be14ffb6ab94/javablobsubmittingsamebatchmanytimes293965a1849221b8",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C52D27F231D9",
      "Last-Modified" : "Tue, 10 Mar 2020 19:56:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?comp=batch",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "multipart/mixed; boundary=batch_a92f96d4-f3ff-4718-9d59-86fb746d693b"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202",
      "Body" : "--batchresponse_20338d85-c0bb-4e7d-969c-9da8933cc703\r\nContent-Type: application/http\r\nContent-ID: 0\r\n\r\nHTTP/1.1 404 The specified blob does not exist.\r\nx-ms-error-code: BlobNotFound\r\nx-ms-request-id: b24aa96a-d01e-0052-0b16-f72d841e250d\r\nx-ms-version: 2019-07-07\r\nx-ms-client-request-id: 32423048-368e-4dc8-bd3b-0db6cea6b8eb\r\nContent-Length: 216\r\nContent-Type: application/xml\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\nRequestId:b24aa96a-d01e-0052-0b16-f72d841e250d\nTime:2020-03-10T19:56:43.1047770Z</Message></Error>\r\n--batchresponse_20338d85-c0bb-4e7d-969c-9da8933cc703\r\nContent-Type: application/http\r\nContent-ID: 1\r\n\r\nHTTP/1.1 202 Accepted\r\nx-ms-delete-type-permanent: true\r\nx-ms-request-id: b24aa96a-d01e-0052-0b16-f72d841e250f\r\nx-ms-version: 2019-07-07\r\nx-ms-client-request-id: 1d3b623f-f874-4340-b39e-b7dea57ad44d\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n--batchresponse_20338d85-c0bb-4e7d-969c-9da8933cc703--",
      "Content-Type" : "multipart/mixed; boundary=batchresponse_20338d85-c0bb-4e7d-969c-9da8933cc703"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes0097745be14ffb6ab94?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcsubmittingsamebatchmanytimes0097745be14ffb6ab94", "javablobsubmittingsamebatchmanytimes141000f6028cd3f6", "javablobsubmittingsamebatchmanytimes293965a1849221b8" ]
}