{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcdeleteblobsomesucceeddonotthrowonanyerror062193d88180?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7827783CCFAF5",
      "Last-Modified" : "Mon, 16 Dec 2019 22:30:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcdeleteblobsomesucceeddonotthrowonanyerror139644d2a2ea/javablobdeleteblobsomesucceeddonotthrowonanyerror2070372fed",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7827783D850EB",
      "Last-Modified" : "Mon, 16 Dec 2019 22:30:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?comp=batch",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "multipart/mixed; boundary=batch_cf9df209-4f84-49b0-a1ba-8bdfb6d68565"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202",
      "Body" : "--batchresponse_b8340a9e-40ba-44d9-8eca-625af354c654\r\nContent-Type: application/http\r\nContent-ID: 0\r\n\r\nHTTP/1.1 202 Accepted\r\nx-ms-delete-type-permanent: true\r\nx-ms-request-id: 8dbb0c11-701e-00d7-7c60-b47a511e9c47\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: f6f49e1b-1f6a-43ed-8a79-b4b789381d81\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n--batchresponse_b8340a9e-40ba-44d9-8eca-625af354c654\r\nContent-Type: application/http\r\nContent-ID: 1\r\n\r\nHTTP/1.1 404 The specified blob does not exist.\r\nx-ms-error-code: BlobNotFound\r\nx-ms-request-id: 8dbb0c11-701e-00d7-7c60-b47a511e9c49\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: 87de2a44-540d-4c6f-a4ba-c7cdf5853906\r\nContent-Length: 216\r\nContent-Type: application/xml\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\nRequestId:8dbb0c11-701e-00d7-7c60-b47a511e9c49\nTime:2019-12-16T22:30:12.1303563Z</Message></Error>\r\n--batchresponse_b8340a9e-40ba-44d9-8eca-625af354c654--",
      "Content-Type" : "multipart/mixed; boundary=batchresponse_b8340a9e-40ba-44d9-8eca-625af354c654"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcdeleteblobsomesucceeddonotthrowonanyerror&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcdeleteblobsomesucceeddonotthrowonanyerror</Prefix><Containers><Container><Name>jtcdeleteblobsomesucceeddonotthrowonanyerror062193d88180</Name><Properties><Last-Modified>Mon, 16 Dec 2019 22:30:12 GMT</Last-Modified><Etag>\"0x8D7827783CCFAF5\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcdeleteblobsomesucceeddonotthrowonanyerror139644d2a2ea</Name><Properties><Last-Modified>Mon, 16 Dec 2019 22:30:12 GMT</Last-Modified><Etag>\"0x8D7827783D27A80\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcdeleteblobsomesucceeddonotthrowonanyerror139644d2a2ea?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcdeleteblobsomesucceeddonotthrowonanyerror062193d88180", "jtcdeleteblobsomesucceeddonotthrowonanyerror139644d2a2ea", "javablobdeleteblobsomesucceeddonotthrowonanyerror2070372fed", "javablobdeleteblobsomesucceeddonotthrowonanyerror3836949dc2" ]
}