{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes095892fe71ee44e87f4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C52D28BBEFE1",
      "Last-Modified" : "Tue, 10 Mar 2020 19:56:44 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes095892fe71ee44e87f4/javablobsubmittingsamebatchmanytimes223520dd45e02608",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C52D28C3BF6A",
      "Last-Modified" : "Tue, 10 Mar 2020 19:56:44 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?comp=batch",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "multipart/mixed; boundary=batch_d3514c27-7154-4e86-bba8-7c35a9a90244"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202",
      "Body" : "--batchresponse_74947af2-8b5d-4caf-a932-682b701c2c0e\r\nContent-Type: application/http\r\nContent-ID: 0\r\n\r\nHTTP/1.1 404 The specified blob does not exist.\r\nx-ms-error-code: BlobNotFound\r\nx-ms-request-id: b24aaa5a-d01e-0052-4e16-f72d841e2537\r\nx-ms-version: 2019-07-07\r\nx-ms-client-request-id: 63c850eb-95ec-42b8-9abc-dae2336e79dd\r\nContent-Length: 216\r\nContent-Type: application/xml\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\nRequestId:b24aaa5a-d01e-0052-4e16-f72d841e2537\nTime:2020-03-10T19:56:44.4820956Z</Message></Error>\r\n--batchresponse_74947af2-8b5d-4caf-a932-682b701c2c0e\r\nContent-Type: application/http\r\nContent-ID: 1\r\n\r\nHTTP/1.1 202 Accepted\r\nx-ms-delete-type-permanent: true\r\nx-ms-request-id: b24aaa5a-d01e-0052-4e16-f72d841e2539\r\nx-ms-version: 2019-07-07\r\nx-ms-client-request-id: 405cacd9-2529-4d72-813d-a91833f3c09b\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n--batchresponse_74947af2-8b5d-4caf-a932-682b701c2c0e--",
      "Content-Type" : "multipart/mixed; boundary=batchresponse_74947af2-8b5d-4caf-a932-682b701c2c0e"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes095892fe71ee44e87f4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcsubmittingsamebatchmanytimes095892fe71ee44e87f4", "javablobsubmittingsamebatchmanytimes152274ae0a19ebc8", "javablobsubmittingsamebatchmanytimes223520dd45e02608" ]
}