{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes014508007254e27b3d4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7827788283846",
      "Last-Modified" : "Mon, 16 Dec 2019 22:30:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes14066820d765d3567d4/javablobsubmittingsamebatchmanytimes352756878db861d6",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7827788362DBC",
      "Last-Modified" : "Mon, 16 Dec 2019 22:30:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?comp=batch",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "multipart/mixed; boundary=batch_1b44441b-3d50-41be-8075-dc3d82099da5"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202",
      "Body" : "--batchresponse_cc8bbf90-9648-43b4-a01e-ad17ecc6bfe7\r\nContent-Type: application/http\r\nContent-ID: 0\r\n\r\nHTTP/1.1 404 The specified blob does not exist.\r\nx-ms-error-code: BlobNotFound\r\nx-ms-request-id: 8dbb2107-701e-00d7-4160-b47a511e9d7f\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: fac6cda7-0550-4557-a318-75f0c6ef1814\r\nContent-Length: 216\r\nContent-Type: application/xml\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\nRequestId:8dbb2107-701e-00d7-4160-b47a511e9d7f\nTime:2019-12-16T22:30:19.4752232Z</Message></Error>\r\n--batchresponse_cc8bbf90-9648-43b4-a01e-ad17ecc6bfe7\r\nContent-Type: application/http\r\nContent-ID: 1\r\n\r\nHTTP/1.1 202 Accepted\r\nx-ms-delete-type-permanent: true\r\nx-ms-request-id: 8dbb2107-701e-00d7-4160-b47a511e9d81\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: fe01258a-d8c7-4b11-9a34-e62a67342e03\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n--batchresponse_cc8bbf90-9648-43b4-a01e-ad17ecc6bfe7--",
      "Content-Type" : "multipart/mixed; boundary=batchresponse_cc8bbf90-9648-43b4-a01e-ad17ecc6bfe7"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcsubmittingsamebatchmanytimes&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcsubmittingsamebatchmanytimes</Prefix><Containers><Container><Name>jtcsubmittingsamebatchmanytimes014508007254e27b3d4</Name><Properties><Last-Modified>Mon, 16 Dec 2019 22:30:19 GMT</Last-Modified><Etag>\"0x8D7827788283846\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcsubmittingsamebatchmanytimes14066820d765d3567d4</Name><Properties><Last-Modified>Mon, 16 Dec 2019 22:30:19 GMT</Last-Modified><Etag>\"0x8D7827788302970\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes14066820d765d3567d4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcsubmittingsamebatchmanytimes014508007254e27b3d4", "jtcsubmittingsamebatchmanytimes14066820d765d3567d4", "javablobsubmittingsamebatchmanytimes21758951dfa6e64c", "javablobsubmittingsamebatchmanytimes352756878db861d6" ]
}