{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsettiersomesucceeddonotthrowonanyerror089360596a12f0?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D751B08784006F",
      "Last-Modified" : "Tue, 15 Oct 2019 20:44:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsettiersomesucceeddonotthrowonanyerror114329deec9c28/javablobsettiersomesucceeddonotthrowonanyerror215478eab9d",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Tue, 15 Oct 2019 20:44:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D751B08792ED56"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?comp=batch",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "multipart/mixed; boundary=batch_742955bd-a906-4cd6-b52d-eb25418b855a"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202",
      "Body" : "--batchresponse_d2993a5d-1457-4c59-87e2-30a648941ede\r\nContent-Type: application/http\r\nContent-ID: 0\r\n\r\nHTTP/1.1 200 OK\r\nx-ms-request-id: 50480810-d01e-00d1-2f99-838d291e1fcf\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: d8f77c68-892c-470e-bd89-651a723a2605\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n--batchresponse_d2993a5d-1457-4c59-87e2-30a648941ede\r\nContent-Type: application/http\r\nContent-ID: 1\r\n\r\nHTTP/1.1 404 The specified blob does not exist.\r\nx-ms-error-code: BlobNotFound\r\nx-ms-request-id: 50480810-d01e-00d1-2f99-838d291e1fd1\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: fb87b83f-7005-4d36-89e6-727fbd36f5d7\r\nContent-Length: 216\r\nContent-Type: application/xml\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\nRequestId:50480810-d01e-00d1-2f99-838d291e1fd1\nTime:2019-10-15T20:44:52.7354890Z</Message></Error>\r\n--batchresponse_d2993a5d-1457-4c59-87e2-30a648941ede--",
      "Content-Type" : "multipart/mixed; boundary=batchresponse_d2993a5d-1457-4c59-87e2-30a648941ede"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcsettiersomesucceeddonotthrowonanyerror&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcsettiersomesucceeddonotthrowonanyerror</Prefix><Containers><Container><Name>jtcsettiersomesucceeddonotthrowonanyerror089360596a12f0</Name><Properties><Last-Modified>Tue, 15 Oct 2019 20:44:52 GMT</Last-Modified><Etag>\"0x8D751B08784006F\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcsettiersomesucceeddonotthrowonanyerror114329deec9c28</Name><Properties><Last-Modified>Tue, 15 Oct 2019 20:44:52 GMT</Last-Modified><Etag>\"0x8D751B0878B5535\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsettiersomesucceeddonotthrowonanyerror114329deec9c28?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcsettiersomesucceeddonotthrowonanyerror089360596a12f0", "jtcsettiersomesucceeddonotthrowonanyerror114329deec9c28", "javablobsettiersomesucceeddonotthrowonanyerror215478eab9d", "javablobsettiersomesucceeddonotthrowonanyerror354764c650b" ]
}