{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes003187f796894940484?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7827786B47913",
      "Last-Modified" : "Mon, 16 Dec 2019 22:30:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes111468f72c73d327f04/javablobsubmittingsamebatchmanytimes3780594245ac8d3e",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7827786C2E1C3",
      "Last-Modified" : "Mon, 16 Dec 2019 22:30:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?comp=batch",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "multipart/mixed; boundary=batch_a407b3c5-b1e9-4c36-83c3-91da0eef671f"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202",
      "Body" : "--batchresponse_33049154-cf00-4883-9f9c-6707f8d1b6f4\r\nContent-Type: application/http\r\nContent-ID: 0\r\n\r\nHTTP/1.1 404 The specified blob does not exist.\r\nx-ms-error-code: BlobNotFound\r\nx-ms-request-id: 8dbb1a3d-701e-00d7-7d60-b47a511e9d1e\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: 4715255e-f947-4407-8728-3343a3cc06bf\r\nContent-Length: 216\r\nContent-Type: application/xml\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\nRequestId:8dbb1a3d-701e-00d7-7d60-b47a511e9d1e\nTime:2019-12-16T22:30:17.0189247Z</Message></Error>\r\n--batchresponse_33049154-cf00-4883-9f9c-6707f8d1b6f4\r\nContent-Type: application/http\r\nContent-ID: 1\r\n\r\nHTTP/1.1 202 Accepted\r\nx-ms-delete-type-permanent: true\r\nx-ms-request-id: 8dbb1a3d-701e-00d7-7d60-b47a511e9d20\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: 7e19f752-88e8-41aa-9d60-2ff902de605c\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n--batchresponse_33049154-cf00-4883-9f9c-6707f8d1b6f4--",
      "Content-Type" : "multipart/mixed; boundary=batchresponse_33049154-cf00-4883-9f9c-6707f8d1b6f4"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcsubmittingsamebatchmanytimes&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcsubmittingsamebatchmanytimes</Prefix><Containers><Container><Name>jtcsubmittingsamebatchmanytimes003187f796894940484</Name><Properties><Last-Modified>Mon, 16 Dec 2019 22:30:16 GMT</Last-Modified><Etag>\"0x8D7827786B47913\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcsubmittingsamebatchmanytimes111468f72c73d327f04</Name><Properties><Last-Modified>Mon, 16 Dec 2019 22:30:16 GMT</Last-Modified><Etag>\"0x8D7827786BA1FBF\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes111468f72c73d327f04?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcsubmittingsamebatchmanytimes003187f796894940484", "jtcsubmittingsamebatchmanytimes111468f72c73d327f04", "javablobsubmittingsamebatchmanytimes238931f0397b391d", "javablobsubmittingsamebatchmanytimes3780594245ac8d3e" ]
}