{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes0814410eac23b4d0c44?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7827788C9CF01",
      "Last-Modified" : "Mon, 16 Dec 2019 22:30:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes1727468219e11d50664/javablobsubmittingsamebatchmanytimes316149d2bc015462",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7827788D701FB",
      "Last-Modified" : "Mon, 16 Dec 2019 22:30:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?comp=batch",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "multipart/mixed; boundary=batch_863d43c8-5908-4c24-b7c3-1a7021ddd5cd"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202",
      "Body" : "--batchresponse_297b3177-e0b9-4473-bdd6-652f000f8f7f\r\nContent-Type: application/http\r\nContent-ID: 0\r\n\r\nHTTP/1.1 404 The specified blob does not exist.\r\nx-ms-error-code: BlobNotFound\r\nx-ms-request-id: 8dbb2438-701e-00d7-2460-b47a511e9db6\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: f9ff8a6c-5fa9-4612-ab82-110c7659288c\r\nContent-Length: 216\r\nContent-Type: application/xml\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\nRequestId:8dbb2438-701e-00d7-2460-b47a511e9db6\nTime:2019-12-16T22:30:20.5061853Z</Message></Error>\r\n--batchresponse_297b3177-e0b9-4473-bdd6-652f000f8f7f\r\nContent-Type: application/http\r\nContent-ID: 1\r\n\r\nHTTP/1.1 202 Accepted\r\nx-ms-delete-type-permanent: true\r\nx-ms-request-id: 8dbb2438-701e-00d7-2460-b47a511e9db8\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: a32ebc28-2505-47a0-b1b1-2c933107eb4e\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n--batchresponse_297b3177-e0b9-4473-bdd6-652f000f8f7f--",
      "Content-Type" : "multipart/mixed; boundary=batchresponse_297b3177-e0b9-4473-bdd6-652f000f8f7f"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcsubmittingsamebatchmanytimes&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcsubmittingsamebatchmanytimes</Prefix><Containers><Container><Name>jtcsubmittingsamebatchmanytimes0814410eac23b4d0c44</Name><Properties><Last-Modified>Mon, 16 Dec 2019 22:30:20 GMT</Last-Modified><Etag>\"0x8D7827788C9CF01\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcsubmittingsamebatchmanytimes1727468219e11d50664</Name><Properties><Last-Modified>Mon, 16 Dec 2019 22:30:20 GMT</Last-Modified><Etag>\"0x8D7827788D03925\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes1727468219e11d50664?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcsubmittingsamebatchmanytimes0814410eac23b4d0c44", "jtcsubmittingsamebatchmanytimes1727468219e11d50664", "javablobsubmittingsamebatchmanytimes2609192f93c473a1", "javablobsubmittingsamebatchmanytimes316149d2bc015462" ]
}