{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes0247041e9eac94bae24?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7827786004049",
      "Last-Modified" : "Mon, 16 Dec 2019 22:30:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes1340595601eb0390604/javablobsubmittingsamebatchmanytimes300818a7d36e1857",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D78277860BE7E3",
      "Last-Modified" : "Mon, 16 Dec 2019 22:30:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?comp=batch",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "multipart/mixed; boundary=batch_32861c02-28b2-4cd2-8c10-0d15a7f7057d"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202",
      "Body" : "--batchresponse_0f290bac-4017-4660-be07-57762f9e9f71\r\nContent-Type: application/http\r\nContent-ID: 0\r\n\r\nHTTP/1.1 404 The specified blob does not exist.\r\nx-ms-error-code: BlobNotFound\r\nx-ms-request-id: 8dbb1676-701e-00d7-0760-b47a511e9cea\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: 0080ee46-547b-4ca4-8597-6d36278167ad\r\nContent-Length: 216\r\nContent-Type: application/xml\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\nRequestId:8dbb1676-701e-00d7-0760-b47a511e9cea\nTime:2019-12-16T22:30:15.8408250Z</Message></Error>\r\n--batchresponse_0f290bac-4017-4660-be07-57762f9e9f71\r\nContent-Type: application/http\r\nContent-ID: 1\r\n\r\nHTTP/1.1 202 Accepted\r\nx-ms-delete-type-permanent: true\r\nx-ms-request-id: 8dbb1676-701e-00d7-0760-b47a511e9cec\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: 33d5fe12-3379-49a8-9a5e-abdc9028cfd5\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n--batchresponse_0f290bac-4017-4660-be07-57762f9e9f71--",
      "Content-Type" : "multipart/mixed; boundary=batchresponse_0f290bac-4017-4660-be07-57762f9e9f71"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcsubmittingsamebatchmanytimes&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcsubmittingsamebatchmanytimes</Prefix><Containers><Container><Name>jtcsubmittingsamebatchmanytimes0247041e9eac94bae24</Name><Properties><Last-Modified>Mon, 16 Dec 2019 22:30:15 GMT</Last-Modified><Etag>\"0x8D7827786004049\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcsubmittingsamebatchmanytimes1340595601eb0390604</Name><Properties><Last-Modified>Mon, 16 Dec 2019 22:30:15 GMT</Last-Modified><Etag>\"0x8D782778605E6F5\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes1340595601eb0390604?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcsubmittingsamebatchmanytimes0247041e9eac94bae24", "jtcsubmittingsamebatchmanytimes1340595601eb0390604", "javablobsubmittingsamebatchmanytimes2207132955c09805", "javablobsubmittingsamebatchmanytimes300818a7d36e1857" ]
}