{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes048916bc04b264e8d24?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C52D26C10310",
      "Last-Modified" : "Tue, 10 Mar 2020 19:56:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes048916bc04b264e8d24/javablobsubmittingsamebatchmanytimes241018d7962bc609",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C52D26C88347",
      "Last-Modified" : "Tue, 10 Mar 2020 19:56:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?comp=batch",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "multipart/mixed; boundary=batch_cbac9e06-ca27-450f-9d62-1c8e2f4adad8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202",
      "Body" : "--batchresponse_9f557cde-2c94-4089-9cec-171658b89973\r\nContent-Type: application/http\r\nContent-ID: 0\r\n\r\nHTTP/1.1 404 The specified blob does not exist.\r\nx-ms-error-code: BlobNotFound\r\nx-ms-request-id: b24aa7db-d01e-0052-5716-f72d841e24bf\r\nx-ms-version: 2019-07-07\r\nx-ms-client-request-id: cc930531-0ce0-44dc-864f-7be4c28258b9\r\nContent-Length: 216\r\nContent-Type: application/xml\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\nRequestId:b24aa7db-d01e-0052-5716-f72d841e24bf\nTime:2020-03-10T19:56:41.1579105Z</Message></Error>\r\n--batchresponse_9f557cde-2c94-4089-9cec-171658b89973\r\nContent-Type: application/http\r\nContent-ID: 1\r\n\r\nHTTP/1.1 202 Accepted\r\nx-ms-delete-type-permanent: true\r\nx-ms-request-id: b24aa7db-d01e-0052-5716-f72d841e24c1\r\nx-ms-version: 2019-07-07\r\nx-ms-client-request-id: 3ef734ab-23df-4679-81cd-33bd0256d4f7\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n--batchresponse_9f557cde-2c94-4089-9cec-171658b89973--",
      "Content-Type" : "multipart/mixed; boundary=batchresponse_9f557cde-2c94-4089-9cec-171658b89973"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes048916bc04b264e8d24?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcsubmittingsamebatchmanytimes048916bc04b264e8d24", "javablobsubmittingsamebatchmanytimes15702204c6f11fd8", "javablobsubmittingsamebatchmanytimes241018d7962bc609" ]
}