{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcdeleteblobsomesucceedthrowonanyerror07738877c2256db?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D78277839C1B43",
      "Last-Modified" : "Mon, 16 Dec 2019 22:30:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcdeleteblobsomesucceedthrowonanyerror1107271c0c635e1/javablobdeleteblobsomesucceedthrowonanyerror286219aa3f14",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7827783B1ACA1",
      "Last-Modified" : "Mon, 16 Dec 2019 22:30:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?comp=batch",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "multipart/mixed; boundary=batch_23be30bb-77b9-42ba-8687-bbf367fbd6bc"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202",
      "Body" : "--batchresponse_76b5e887-67bd-488f-822e-cb65a87f66a7\r\nContent-Type: application/http\r\nContent-ID: 0\r\n\r\nHTTP/1.1 202 Accepted\r\nx-ms-delete-type-permanent: true\r\nx-ms-request-id: 8dbb0b23-701e-00d7-1f60-b47a511e9c35\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: fdfea599-07bd-4b84-8e3f-921a63e26165\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n--batchresponse_76b5e887-67bd-488f-822e-cb65a87f66a7\r\nContent-Type: application/http\r\nContent-ID: 1\r\n\r\nHTTP/1.1 404 The specified blob does not exist.\r\nx-ms-error-code: BlobNotFound\r\nx-ms-request-id: 8dbb0b23-701e-00d7-1f60-b47a511e9c37\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: f94ae0b2-95c5-4831-b4d3-6e7ffe9e4a8f\r\nContent-Length: 216\r\nContent-Type: application/xml\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\nRequestId:8dbb0b23-701e-00d7-1f60-b47a511e9c37\nTime:2019-12-16T22:30:11.8751179Z</Message></Error>\r\n--batchresponse_76b5e887-67bd-488f-822e-cb65a87f66a7--",
      "Content-Type" : "multipart/mixed; boundary=batchresponse_76b5e887-67bd-488f-822e-cb65a87f66a7"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcdeleteblobsomesucceedthrowonanyerror&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcdeleteblobsomesucceedthrowonanyerror</Prefix><Containers><Container><Name>jtcdeleteblobsomesucceedthrowonanyerror07738877c2256db</Name><Properties><Last-Modified>Mon, 16 Dec 2019 22:30:11 GMT</Last-Modified><Etag>\"0x8D78277839C1B43\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcdeleteblobsomesucceedthrowonanyerror1107271c0c635e1</Name><Properties><Last-Modified>Mon, 16 Dec 2019 22:30:11 GMT</Last-Modified><Etag>\"0x8D7827783A21026\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcdeleteblobsomesucceedthrowonanyerror1107271c0c635e1?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcdeleteblobsomesucceedthrowonanyerror07738877c2256db", "jtcdeleteblobsomesucceedthrowonanyerror1107271c0c635e1", "javablobdeleteblobsomesucceedthrowonanyerror286219aa3f14", "javablobdeleteblobsomesucceedthrowonanyerror318628d52bcb" ]
}