{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes093275505717e1b0c54?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C52D26FEDE94",
      "Last-Modified" : "Tue, 10 Mar 2020 19:56:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes093275505717e1b0c54/javablobsubmittingsamebatchmanytimes227380009c563454",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C52D2706AD14",
      "Last-Modified" : "Tue, 10 Mar 2020 19:56:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?comp=batch",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "multipart/mixed; boundary=batch_5fe1a1d8-255c-49cf-b844-a04e2e74a3a5"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202",
      "Body" : "--batchresponse_508b4f35-e05b-46a2-89b4-7a5a0b1c88d7\r\nContent-Type: application/http\r\nContent-ID: 0\r\n\r\nHTTP/1.1 404 The specified blob does not exist.\r\nx-ms-error-code: BlobNotFound\r\nx-ms-request-id: b24aa826-d01e-0052-1216-f72d841e24ca\r\nx-ms-version: 2019-07-07\r\nx-ms-client-request-id: eefaaf40-e95e-4923-8354-eca9ace15322\r\nContent-Length: 216\r\nContent-Type: application/xml\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\nRequestId:b24aa826-d01e-0052-1216-f72d841e24ca\nTime:2020-03-10T19:56:41.5622976Z</Message></Error>\r\n--batchresponse_508b4f35-e05b-46a2-89b4-7a5a0b1c88d7\r\nContent-Type: application/http\r\nContent-ID: 1\r\n\r\nHTTP/1.1 202 Accepted\r\nx-ms-delete-type-permanent: true\r\nx-ms-request-id: b24aa826-d01e-0052-1216-f72d841e24cc\r\nx-ms-version: 2019-07-07\r\nx-ms-client-request-id: 5f842092-3a79-4a97-a006-3a1e96f6c861\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n--batchresponse_508b4f35-e05b-46a2-89b4-7a5a0b1c88d7--",
      "Content-Type" : "multipart/mixed; boundary=batchresponse_508b4f35-e05b-46a2-89b4-7a5a0b1c88d7"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes093275505717e1b0c54?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcsubmittingsamebatchmanytimes093275505717e1b0c54", "javablobsubmittingsamebatchmanytimes19963734387a68d2", "javablobsubmittingsamebatchmanytimes227380009c563454" ]
}