{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcdeleteblobsomesucceedthrowonanyerror022410d2736d482?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75291E6144F3C",
      "Last-Modified" : "Wed, 16 Oct 2019 23:38:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcdeleteblobsomesucceedthrowonanyerror137277889a7a363/javablobdeleteblobsomesucceedthrowonanyerror21427740a0de",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75291E6287CE1",
      "Last-Modified" : "Wed, 16 Oct 2019 23:38:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?comp=batch",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "multipart/mixed; boundary=batch_fca8569a-f798-4e79-bbc9-08da23157fff"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202",
      "Body" : "--batchresponse_c951ab3a-9c96-41fe-b982-1dabc17d6185\r\nContent-Type: application/http\r\nContent-ID: 0\r\n\r\nHTTP/1.1 202 Accepted\r\nx-ms-delete-type-permanent: true\r\nx-ms-request-id: a0ed4912-d01e-007b-177a-845bc61e10a2\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: 4684deef-ad90-4d15-a579-eef756fe4328\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n--batchresponse_c951ab3a-9c96-41fe-b982-1dabc17d6185\r\nContent-Type: application/http\r\nContent-ID: 1\r\n\r\nHTTP/1.1 404 The specified blob does not exist.\r\nx-ms-error-code: BlobNotFound\r\nx-ms-request-id: a0ed4912-d01e-007b-177a-845bc61e10a8\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: 8717374e-b4ad-4fab-9e2b-333e932403ed\r\nContent-Length: 216\r\nContent-Type: application/xml\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\nRequestId:a0ed4912-d01e-007b-177a-845bc61e10a8\nTime:2019-10-16T23:38:08.3842268Z</Message></Error>\r\n--batchresponse_c951ab3a-9c96-41fe-b982-1dabc17d6185--",
      "Content-Type" : "multipart/mixed; boundary=batchresponse_c951ab3a-9c96-41fe-b982-1dabc17d6185"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcdeleteblobsomesucceedthrowonanyerror&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcdeleteblobsomesucceedthrowonanyerror</Prefix><Containers><Container><Name>jtcdeleteblobsomesucceedthrowonanyerror022410d2736d482</Name><Properties><Last-Modified>Wed, 16 Oct 2019 23:38:08 GMT</Last-Modified><Etag>\"0x8D75291E6144F3C\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcdeleteblobsomesucceedthrowonanyerror137277889a7a363</Name><Properties><Last-Modified>Wed, 16 Oct 2019 23:38:08 GMT</Last-Modified><Etag>\"0x8D75291E6211B32\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcdeleteblobsomesucceedthrowonanyerror137277889a7a363?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcdeleteblobsomesucceedthrowonanyerror022410d2736d482", "jtcdeleteblobsomesucceedthrowonanyerror137277889a7a363", "javablobdeleteblobsomesucceedthrowonanyerror21427740a0de", "javablobdeleteblobsomesucceedthrowonanyerror380207e3b5f7" ]
}