{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes0450615914aba278434?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D78277865E2E28",
      "Last-Modified" : "Mon, 16 Dec 2019 22:30:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes12535821f94f376a844/javablobsubmittingsamebatchmanytimes361150628f8162e9",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D78277866912DC",
      "Last-Modified" : "Mon, 16 Dec 2019 22:30:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?comp=batch",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "multipart/mixed; boundary=batch_7cdbb3bd-0d96-4e4c-9bc7-49846e82278b"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202",
      "Body" : "--batchresponse_a0145a88-cadb-458a-9fd9-5337a6c82b61\r\nContent-Type: application/http\r\nContent-ID: 0\r\n\r\nHTTP/1.1 404 The specified blob does not exist.\r\nx-ms-error-code: BlobNotFound\r\nx-ms-request-id: 8dbb1853-701e-00d7-3a60-b47a511e9d07\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: ed76cf44-13b3-4f88-8e08-55d07bf1ddd4\r\nContent-Length: 216\r\nContent-Type: application/xml\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\nRequestId:8dbb1853-701e-00d7-3a60-b47a511e9d07\nTime:2019-12-16T22:30:16.4383829Z</Message></Error>\r\n--batchresponse_a0145a88-cadb-458a-9fd9-5337a6c82b61\r\nContent-Type: application/http\r\nContent-ID: 1\r\n\r\nHTTP/1.1 202 Accepted\r\nx-ms-delete-type-permanent: true\r\nx-ms-request-id: 8dbb1853-701e-00d7-3a60-b47a511e9d09\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: 2e83e188-7b96-4878-b91b-7b90dd82fd6e\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n--batchresponse_a0145a88-cadb-458a-9fd9-5337a6c82b61--",
      "Content-Type" : "multipart/mixed; boundary=batchresponse_a0145a88-cadb-458a-9fd9-5337a6c82b61"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcsubmittingsamebatchmanytimes&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcsubmittingsamebatchmanytimes</Prefix><Containers><Container><Name>jtcsubmittingsamebatchmanytimes0450615914aba278434</Name><Properties><Last-Modified>Mon, 16 Dec 2019 22:30:16 GMT</Last-Modified><Etag>\"0x8D78277865E2E28\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcsubmittingsamebatchmanytimes12535821f94f376a844</Name><Properties><Last-Modified>Mon, 16 Dec 2019 22:30:16 GMT</Last-Modified><Etag>\"0x8D782778663114E\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes12535821f94f376a844?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcsubmittingsamebatchmanytimes0450615914aba278434", "jtcsubmittingsamebatchmanytimes12535821f94f376a844", "javablobsubmittingsamebatchmanytimes20370583b6e9896b", "javablobsubmittingsamebatchmanytimes361150628f8162e9" ]
}