{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes00311939550b1b3fec4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7827786320A85",
      "Last-Modified" : "Mon, 16 Dec 2019 22:30:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes191109561fa214254f4/javablobsubmittingsamebatchmanytimes382011ede7e75e90",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D78277863D1614",
      "Last-Modified" : "Mon, 16 Dec 2019 22:30:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?comp=batch",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "multipart/mixed; boundary=batch_97ddfd61-2092-4da0-9e57-fea31b080bf4"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202",
      "Body" : "--batchresponse_fea669ce-7aa3-4a1c-bcff-7fa853f4dd33\r\nContent-Type: application/http\r\nContent-ID: 0\r\n\r\nHTTP/1.1 404 The specified blob does not exist.\r\nx-ms-error-code: BlobNotFound\r\nx-ms-request-id: 8dbb176d-701e-00d7-6760-b47a511e9cfa\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: 06d2f3cc-2bfe-4a35-9bda-2b0403e4edca\r\nContent-Length: 216\r\nContent-Type: application/xml\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\nRequestId:8dbb176d-701e-00d7-6760-b47a511e9cfa\nTime:2019-12-16T22:30:16.1431076Z</Message></Error>\r\n--batchresponse_fea669ce-7aa3-4a1c-bcff-7fa853f4dd33\r\nContent-Type: application/http\r\nContent-ID: 1\r\n\r\nHTTP/1.1 202 Accepted\r\nx-ms-delete-type-permanent: true\r\nx-ms-request-id: 8dbb176d-701e-00d7-6760-b47a511e9cfc\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: b59093aa-e357-4579-a6ff-f24ad9f14279\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n--batchresponse_fea669ce-7aa3-4a1c-bcff-7fa853f4dd33--",
      "Content-Type" : "multipart/mixed; boundary=batchresponse_fea669ce-7aa3-4a1c-bcff-7fa853f4dd33"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcsubmittingsamebatchmanytimes&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcsubmittingsamebatchmanytimes</Prefix><Containers><Container><Name>jtcsubmittingsamebatchmanytimes00311939550b1b3fec4</Name><Properties><Last-Modified>Mon, 16 Dec 2019 22:30:16 GMT</Last-Modified><Etag>\"0x8D7827786320A85\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcsubmittingsamebatchmanytimes191109561fa214254f4</Name><Properties><Last-Modified>Mon, 16 Dec 2019 22:30:16 GMT</Last-Modified><Etag>\"0x8D782778637D851\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes191109561fa214254f4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcsubmittingsamebatchmanytimes00311939550b1b3fec4", "jtcsubmittingsamebatchmanytimes191109561fa214254f4", "javablobsubmittingsamebatchmanytimes2535365651e45275", "javablobsubmittingsamebatchmanytimes382011ede7e75e90" ]
}