{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes020971c7a81137f0964?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7827785CB8F1B",
      "Last-Modified" : "Mon, 16 Dec 2019 22:30:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes18737945620415db7b4/javablobsubmittingsamebatchmanytimes363202ff651bb2eb",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7827785DD7983",
      "Last-Modified" : "Mon, 16 Dec 2019 22:30:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?comp=batch",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "multipart/mixed; boundary=batch_803dc15b-0353-4485-843e-73298b3ad8ea"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202",
      "Body" : "--batchresponse_092028e2-f710-40b8-8d26-8d871cb7909d\r\nContent-Type: application/http\r\nContent-ID: 0\r\n\r\nHTTP/1.1 404 The specified blob does not exist.\r\nx-ms-error-code: BlobNotFound\r\nx-ms-request-id: 8dbb15bb-701e-00d7-6660-b47a511e9cdf\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: 4046b042-62e8-43ff-811a-a972df0e78be\r\nContent-Length: 216\r\nContent-Type: application/xml\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\nRequestId:8dbb15bb-701e-00d7-6660-b47a511e9cdf\nTime:2019-12-16T22:30:15.5475529Z</Message></Error>\r\n--batchresponse_092028e2-f710-40b8-8d26-8d871cb7909d\r\nContent-Type: application/http\r\nContent-ID: 1\r\n\r\nHTTP/1.1 202 Accepted\r\nx-ms-delete-type-permanent: true\r\nx-ms-request-id: 8dbb15bb-701e-00d7-6660-b47a511e9ce1\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: 3e69b546-311f-4bcd-aa7e-f4b192ca0815\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n--batchresponse_092028e2-f710-40b8-8d26-8d871cb7909d--",
      "Content-Type" : "multipart/mixed; boundary=batchresponse_092028e2-f710-40b8-8d26-8d871cb7909d"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcsubmittingsamebatchmanytimes&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcsubmittingsamebatchmanytimes</Prefix><Containers><Container><Name>jtcsubmittingsamebatchmanytimes020971c7a81137f0964</Name><Properties><Last-Modified>Mon, 16 Dec 2019 22:30:15 GMT</Last-Modified><Etag>\"0x8D7827785CB8F1B\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcsubmittingsamebatchmanytimes18737945620415db7b4</Name><Properties><Last-Modified>Mon, 16 Dec 2019 22:30:15 GMT</Last-Modified><Etag>\"0x8D7827785D66725\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsubmittingsamebatchmanytimes18737945620415db7b4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcsubmittingsamebatchmanytimes020971c7a81137f0964", "jtcsubmittingsamebatchmanytimes18737945620415db7b4", "javablobsubmittingsamebatchmanytimes2678652794c9a4b1", "javablobsubmittingsamebatchmanytimes363202ff651bb2eb" ]
}