// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.testbase.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.resourcemanager.testbase.fluent.AnalysisResultOperationsClient;
import com.azure.resourcemanager.testbase.fluent.models.AnalysisResultSingletonResourceInner;
import com.azure.resourcemanager.testbase.models.AnalysisResultName;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in AnalysisResultOperationsClient. */
public final class AnalysisResultOperationsClientImpl implements AnalysisResultOperationsClient {
    private final ClientLogger logger = new ClientLogger(AnalysisResultOperationsClientImpl.class);

    /** The proxy service used to perform REST calls. */
    private final AnalysisResultOperationsService service;

    /** The service client containing this operation class. */
    private final RestApiForTestBaseImpl client;

    /**
     * Initializes an instance of AnalysisResultOperationsClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    AnalysisResultOperationsClientImpl(RestApiForTestBaseImpl client) {
        this.service =
            RestProxy
                .create(AnalysisResultOperationsService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for RestApiForTestBaseAnalysisResultOperations to be used by the proxy
     * service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "RestApiForTestBaseAn")
    private interface AnalysisResultOperationsService {
        @Headers({"Content-Type: application/json"})
        @Get(
            "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase"
                + "/testBaseAccounts/{testBaseAccountName}/packages/{packageName}/testResults/{testResultName}"
                + "/analysisResults/{analysisResultName}")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<AnalysisResultSingletonResourceInner>> get(
            @HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName,
            @PathParam("testBaseAccountName") String testBaseAccountName,
            @PathParam("packageName") String packageName,
            @PathParam("testResultName") String testResultName,
            @PathParam("analysisResultName") AnalysisResultName analysisResultName,
            @QueryParam("api-version") String apiVersion,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Gets an Analysis Result of a Test Result by name.
     *
     * @param resourceGroupName The name of the resource group that contains the resource.
     * @param testBaseAccountName The resource name of the Test Base Account.
     * @param packageName The resource name of the Test Base Package.
     * @param testResultName The Test Result Name. It equals to {osName}-{TestResultId} string.
     * @param analysisResultName The name of the Analysis Result of a Test Result.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an Analysis Result of a Test Result by name.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<AnalysisResultSingletonResourceInner>> getWithResponseAsync(
        String resourceGroupName,
        String testBaseAccountName,
        String packageName,
        String testResultName,
        AnalysisResultName analysisResultName) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (testBaseAccountName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter testBaseAccountName is required and cannot be null."));
        }
        if (packageName == null) {
            return Mono.error(new IllegalArgumentException("Parameter packageName is required and cannot be null."));
        }
        if (testResultName == null) {
            return Mono.error(new IllegalArgumentException("Parameter testResultName is required and cannot be null."));
        }
        if (analysisResultName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter analysisResultName is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .get(
                            this.client.getEndpoint(),
                            this.client.getSubscriptionId(),
                            resourceGroupName,
                            testBaseAccountName,
                            packageName,
                            testResultName,
                            analysisResultName,
                            this.client.getApiVersion(),
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Gets an Analysis Result of a Test Result by name.
     *
     * @param resourceGroupName The name of the resource group that contains the resource.
     * @param testBaseAccountName The resource name of the Test Base Account.
     * @param packageName The resource name of the Test Base Package.
     * @param testResultName The Test Result Name. It equals to {osName}-{TestResultId} string.
     * @param analysisResultName The name of the Analysis Result of a Test Result.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an Analysis Result of a Test Result by name.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<AnalysisResultSingletonResourceInner>> getWithResponseAsync(
        String resourceGroupName,
        String testBaseAccountName,
        String packageName,
        String testResultName,
        AnalysisResultName analysisResultName,
        Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (testBaseAccountName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter testBaseAccountName is required and cannot be null."));
        }
        if (packageName == null) {
            return Mono.error(new IllegalArgumentException("Parameter packageName is required and cannot be null."));
        }
        if (testResultName == null) {
            return Mono.error(new IllegalArgumentException("Parameter testResultName is required and cannot be null."));
        }
        if (analysisResultName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter analysisResultName is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .get(
                this.client.getEndpoint(),
                this.client.getSubscriptionId(),
                resourceGroupName,
                testBaseAccountName,
                packageName,
                testResultName,
                analysisResultName,
                this.client.getApiVersion(),
                accept,
                context);
    }

    /**
     * Gets an Analysis Result of a Test Result by name.
     *
     * @param resourceGroupName The name of the resource group that contains the resource.
     * @param testBaseAccountName The resource name of the Test Base Account.
     * @param packageName The resource name of the Test Base Package.
     * @param testResultName The Test Result Name. It equals to {osName}-{TestResultId} string.
     * @param analysisResultName The name of the Analysis Result of a Test Result.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an Analysis Result of a Test Result by name.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<AnalysisResultSingletonResourceInner> getAsync(
        String resourceGroupName,
        String testBaseAccountName,
        String packageName,
        String testResultName,
        AnalysisResultName analysisResultName) {
        return getWithResponseAsync(
                resourceGroupName, testBaseAccountName, packageName, testResultName, analysisResultName)
            .flatMap(
                (Response<AnalysisResultSingletonResourceInner> res) -> {
                    if (res.getValue() != null) {
                        return Mono.just(res.getValue());
                    } else {
                        return Mono.empty();
                    }
                });
    }

    /**
     * Gets an Analysis Result of a Test Result by name.
     *
     * @param resourceGroupName The name of the resource group that contains the resource.
     * @param testBaseAccountName The resource name of the Test Base Account.
     * @param packageName The resource name of the Test Base Package.
     * @param testResultName The Test Result Name. It equals to {osName}-{TestResultId} string.
     * @param analysisResultName The name of the Analysis Result of a Test Result.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an Analysis Result of a Test Result by name.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public AnalysisResultSingletonResourceInner get(
        String resourceGroupName,
        String testBaseAccountName,
        String packageName,
        String testResultName,
        AnalysisResultName analysisResultName) {
        return getAsync(resourceGroupName, testBaseAccountName, packageName, testResultName, analysisResultName)
            .block();
    }

    /**
     * Gets an Analysis Result of a Test Result by name.
     *
     * @param resourceGroupName The name of the resource group that contains the resource.
     * @param testBaseAccountName The resource name of the Test Base Account.
     * @param packageName The resource name of the Test Base Package.
     * @param testResultName The Test Result Name. It equals to {osName}-{TestResultId} string.
     * @param analysisResultName The name of the Analysis Result of a Test Result.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an Analysis Result of a Test Result by name.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<AnalysisResultSingletonResourceInner> getWithResponse(
        String resourceGroupName,
        String testBaseAccountName,
        String packageName,
        String testResultName,
        AnalysisResultName analysisResultName,
        Context context) {
        return getWithResponseAsync(
                resourceGroupName, testBaseAccountName, packageName, testResultName, analysisResultName, context)
            .block();
    }
}
