// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.testbase.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.resourcemanager.testbase.fluent.TestBaseAccountFlightingRingOperationsClient;
import com.azure.resourcemanager.testbase.fluent.models.FlightingRingResourceInner;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in
 * TestBaseAccountFlightingRingOperationsClient.
 */
public final class TestBaseAccountFlightingRingOperationsClientImpl
    implements TestBaseAccountFlightingRingOperationsClient {
    private final ClientLogger logger = new ClientLogger(TestBaseAccountFlightingRingOperationsClientImpl.class);

    /** The proxy service used to perform REST calls. */
    private final TestBaseAccountFlightingRingOperationsService service;

    /** The service client containing this operation class. */
    private final RestApiForTestBaseImpl client;

    /**
     * Initializes an instance of TestBaseAccountFlightingRingOperationsClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    TestBaseAccountFlightingRingOperationsClientImpl(RestApiForTestBaseImpl client) {
        this.service =
            RestProxy
                .create(
                    TestBaseAccountFlightingRingOperationsService.class,
                    client.getHttpPipeline(),
                    client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for RestApiForTestBaseTestBaseAccountFlightingRingOperations to be used
     * by the proxy service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "RestApiForTestBaseTe")
    private interface TestBaseAccountFlightingRingOperationsService {
        @Headers({"Content-Type: application/json"})
        @Get(
            "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase"
                + "/testBaseAccounts/{testBaseAccountName}/flightingRings/{flightingRingResourceName}")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<FlightingRingResourceInner>> get(
            @HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName,
            @PathParam("testBaseAccountName") String testBaseAccountName,
            @PathParam("flightingRingResourceName") String flightingRingResourceName,
            @QueryParam("api-version") String apiVersion,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Gets a flighting ring of a Test Base Account.
     *
     * @param resourceGroupName The name of the resource group that contains the resource.
     * @param testBaseAccountName The resource name of the Test Base Account.
     * @param flightingRingResourceName The resource name of a flighting ring.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a flighting ring of a Test Base Account.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<FlightingRingResourceInner>> getWithResponseAsync(
        String resourceGroupName, String testBaseAccountName, String flightingRingResourceName) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (testBaseAccountName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter testBaseAccountName is required and cannot be null."));
        }
        if (flightingRingResourceName == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter flightingRingResourceName is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .get(
                            this.client.getEndpoint(),
                            this.client.getSubscriptionId(),
                            resourceGroupName,
                            testBaseAccountName,
                            flightingRingResourceName,
                            this.client.getApiVersion(),
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Gets a flighting ring of a Test Base Account.
     *
     * @param resourceGroupName The name of the resource group that contains the resource.
     * @param testBaseAccountName The resource name of the Test Base Account.
     * @param flightingRingResourceName The resource name of a flighting ring.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a flighting ring of a Test Base Account.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<FlightingRingResourceInner>> getWithResponseAsync(
        String resourceGroupName, String testBaseAccountName, String flightingRingResourceName, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (testBaseAccountName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter testBaseAccountName is required and cannot be null."));
        }
        if (flightingRingResourceName == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter flightingRingResourceName is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .get(
                this.client.getEndpoint(),
                this.client.getSubscriptionId(),
                resourceGroupName,
                testBaseAccountName,
                flightingRingResourceName,
                this.client.getApiVersion(),
                accept,
                context);
    }

    /**
     * Gets a flighting ring of a Test Base Account.
     *
     * @param resourceGroupName The name of the resource group that contains the resource.
     * @param testBaseAccountName The resource name of the Test Base Account.
     * @param flightingRingResourceName The resource name of a flighting ring.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a flighting ring of a Test Base Account.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<FlightingRingResourceInner> getAsync(
        String resourceGroupName, String testBaseAccountName, String flightingRingResourceName) {
        return getWithResponseAsync(resourceGroupName, testBaseAccountName, flightingRingResourceName)
            .flatMap(
                (Response<FlightingRingResourceInner> res) -> {
                    if (res.getValue() != null) {
                        return Mono.just(res.getValue());
                    } else {
                        return Mono.empty();
                    }
                });
    }

    /**
     * Gets a flighting ring of a Test Base Account.
     *
     * @param resourceGroupName The name of the resource group that contains the resource.
     * @param testBaseAccountName The resource name of the Test Base Account.
     * @param flightingRingResourceName The resource name of a flighting ring.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a flighting ring of a Test Base Account.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public FlightingRingResourceInner get(
        String resourceGroupName, String testBaseAccountName, String flightingRingResourceName) {
        return getAsync(resourceGroupName, testBaseAccountName, flightingRingResourceName).block();
    }

    /**
     * Gets a flighting ring of a Test Base Account.
     *
     * @param resourceGroupName The name of the resource group that contains the resource.
     * @param testBaseAccountName The resource name of the Test Base Account.
     * @param flightingRingResourceName The resource name of a flighting ring.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a flighting ring of a Test Base Account.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<FlightingRingResourceInner> getWithResponse(
        String resourceGroupName, String testBaseAccountName, String flightingRingResourceName, Context context) {
        return getWithResponseAsync(resourceGroupName, testBaseAccountName, flightingRingResourceName, context).block();
    }
}
