openapi: 3.0.1
info:
  title: Identity.DirectoryManagement
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /contacts:
    get:
      tags:
        - contacts.orgContact
      summary: Get entities from contacts
      operationId: contacts.orgContact_ListOrgContact
      parameters:
        - name: ConsistencyLevel
          in: header
          description: Indicates the requested consistency level.
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - addresses
                - addresses desc
                - companyName
                - companyName desc
                - department
                - department desc
                - displayName
                - displayName desc
                - givenName
                - givenName desc
                - jobTitle
                - jobTitle desc
                - mail
                - mail desc
                - mailNickname
                - mailNickname desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesProvisioningErrors
                - onPremisesProvisioningErrors desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - phones
                - phones desc
                - proxyAddresses
                - proxyAddresses desc
                - surname
                - surname desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - addresses
                - companyName
                - department
                - displayName
                - givenName
                - jobTitle
                - mail
                - mailNickname
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSyncEnabled
                - phones
                - proxyAddresses
                - surname
                - directReports
                - manager
                - memberOf
                - transitiveMemberOf
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - directReports
                - manager
                - memberOf
                - transitiveMemberOf
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of orgContact
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.orgContact'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - contacts.orgContact
      summary: Add new entity to contacts
      operationId: contacts.orgContact_CreateOrgContact
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.orgContact'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.orgContact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}':
    get:
      tags:
        - contacts.orgContact
      summary: Get entity from contacts by key
      operationId: contacts.orgContact_GetOrgContact
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: ConsistencyLevel
          in: header
          description: Indicates the requested consistency level.
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - addresses
                - companyName
                - department
                - displayName
                - givenName
                - jobTitle
                - mail
                - mailNickname
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSyncEnabled
                - phones
                - proxyAddresses
                - surname
                - directReports
                - manager
                - memberOf
                - transitiveMemberOf
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - directReports
                - manager
                - memberOf
                - transitiveMemberOf
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.orgContact'
          links:
            directReports:
              operationId: contacts.ListDirectReports
              parameters:
                orgContact-id: $request.path.orgContact-id
            manager:
              operationId: contacts.GetManager
              parameters:
                orgContact-id: $request.path.orgContact-id
            memberOf:
              operationId: contacts.ListMemberOf
              parameters:
                orgContact-id: $request.path.orgContact-id
            transitiveMemberOf:
              operationId: contacts.ListTransitiveMemberOf
              parameters:
                orgContact-id: $request.path.orgContact-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - contacts.orgContact
      summary: Update entity in contacts
      operationId: contacts.orgContact_UpdateOrgContact
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.orgContact'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - contacts.orgContact
      summary: Delete entity from contacts
      operationId: contacts.orgContact_DeleteOrgContact
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/directReports':
    get:
      tags:
        - contacts.directoryObject
      summary: Get directReports from contacts
      operationId: contacts_ListDirectReports
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/directReports/$ref':
    get:
      tags:
        - contacts.directoryObject
      summary: Get ref of directReports from contacts
      operationId: contacts_ListRefDirectReports
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - contacts.directoryObject
      summary: Create new navigation property ref to directReports for contacts
      operationId: contacts_CreateRefDirectReports
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/manager':
    get:
      tags:
        - contacts.directoryObject
      summary: Get manager from contacts
      operationId: contacts_GetManager
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/manager/$ref':
    get:
      tags:
        - contacts.directoryObject
      summary: Get ref of manager from contacts
      operationId: contacts_GetRefManager
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - contacts.directoryObject
      summary: Update the ref of navigation property manager in contacts
      operationId: contacts_SetRefManager
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - contacts.directoryObject
      summary: Delete ref of navigation property manager for contacts
      operationId: contacts_DeleteRefManager
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/memberOf':
    get:
      tags:
        - contacts.directoryObject
      summary: Get memberOf from contacts
      operationId: contacts_ListMemberOf
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/memberOf/$ref':
    get:
      tags:
        - contacts.directoryObject
      summary: Get ref of memberOf from contacts
      operationId: contacts_ListRefMemberOf
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - contacts.directoryObject
      summary: Create new navigation property ref to memberOf for contacts
      operationId: contacts_CreateRefMemberOf
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - contacts.Actions
      summary: Invoke action checkMemberGroups
      operationId: contacts_checkMemberGroups
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contacts/{orgContact-id}/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - contacts.Actions
      summary: Invoke action checkMemberObjects
      operationId: contacts_checkMemberObjects
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contacts/{orgContact-id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - contacts.Actions
      summary: Invoke action getMemberGroups
      operationId: contacts_getMemberGroups
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contacts/{orgContact-id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - contacts.Actions
      summary: Invoke action getMemberObjects
      operationId: contacts_getMemberObjects
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contacts/{orgContact-id}/microsoft.graph.restore':
    post:
      tags:
        - contacts.Actions
      summary: Invoke action restore
      operationId: contacts_restore
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contacts/{orgContact-id}/transitiveMemberOf':
    get:
      tags:
        - contacts.directoryObject
      summary: Get transitiveMemberOf from contacts
      operationId: contacts_ListTransitiveMemberOf
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/contacts/{orgContact-id}/transitiveMemberOf/$ref':
    get:
      tags:
        - contacts.directoryObject
      summary: Get ref of transitiveMemberOf from contacts
      operationId: contacts_ListRefTransitiveMemberOf
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - contacts.directoryObject
      summary: Create new navigation property ref to transitiveMemberOf for contacts
      operationId: contacts_CreateRefTransitiveMemberOf
      parameters:
        - name: orgContact-id
          in: path
          description: 'key: id of orgContact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: orgContact
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /contacts/microsoft.graph.delta():
    get:
      tags:
        - contacts.Functions
      summary: Invoke function delta
      operationId: contacts_delta
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.orgContact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /contacts/microsoft.graph.getAvailableExtensionProperties:
    post:
      tags:
        - contacts.Actions
      summary: Invoke action getAvailableExtensionProperties
      operationId: contacts_getAvailableExtensionProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                isSyncedFromOnPremises:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.extensionProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /contacts/microsoft.graph.getByIds:
    post:
      tags:
        - contacts.Actions
      summary: Invoke action getByIds
      operationId: contacts_getByIds
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                types:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /contacts/microsoft.graph.validateProperties:
    post:
      tags:
        - contacts.Actions
      summary: Invoke action validateProperties
      operationId: contacts_validateProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: string
                  nullable: true
                displayName:
                  type: string
                  nullable: true
                mailNickname:
                  type: string
                  nullable: true
                onBehalfOfUserId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /contracts:
    get:
      tags:
        - contracts.contract
      summary: Get entities from contracts
      operationId: contracts.contract_ListContract
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - contractType
                - contractType desc
                - customerId
                - customerId desc
                - defaultDomainName
                - defaultDomainName desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - contractType
                - customerId
                - defaultDomainName
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of contract
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.contract'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - contracts.contract
      summary: Add new entity to contracts
      operationId: contracts.contract_CreateContract
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contract'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contract'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contracts/{contract-id}':
    get:
      tags:
        - contracts.contract
      summary: Get entity from contracts by key
      operationId: contracts.contract_GetContract
      parameters:
        - name: contract-id
          in: path
          description: 'key: id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - contractType
                - customerId
                - defaultDomainName
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contract'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - contracts.contract
      summary: Update entity in contracts
      operationId: contracts.contract_UpdateContract
      parameters:
        - name: contract-id
          in: path
          description: 'key: id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contract'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - contracts.contract
      summary: Delete entity from contracts
      operationId: contracts.contract_DeleteContract
      parameters:
        - name: contract-id
          in: path
          description: 'key: id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/contracts/{contract-id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - contracts.Actions
      summary: Invoke action checkMemberGroups
      operationId: contracts_checkMemberGroups
      parameters:
        - name: contract-id
          in: path
          description: 'key: id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contracts/{contract-id}/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - contracts.Actions
      summary: Invoke action checkMemberObjects
      operationId: contracts_checkMemberObjects
      parameters:
        - name: contract-id
          in: path
          description: 'key: id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contracts/{contract-id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - contracts.Actions
      summary: Invoke action getMemberGroups
      operationId: contracts_getMemberGroups
      parameters:
        - name: contract-id
          in: path
          description: 'key: id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contracts/{contract-id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - contracts.Actions
      summary: Invoke action getMemberObjects
      operationId: contracts_getMemberObjects
      parameters:
        - name: contract-id
          in: path
          description: 'key: id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/contracts/{contract-id}/microsoft.graph.restore':
    post:
      tags:
        - contracts.Actions
      summary: Invoke action restore
      operationId: contracts_restore
      parameters:
        - name: contract-id
          in: path
          description: 'key: id of contract'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contract
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /contracts/microsoft.graph.getAvailableExtensionProperties:
    post:
      tags:
        - contracts.Actions
      summary: Invoke action getAvailableExtensionProperties
      operationId: contracts_getAvailableExtensionProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                isSyncedFromOnPremises:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.extensionProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /contracts/microsoft.graph.getByIds:
    post:
      tags:
        - contracts.Actions
      summary: Invoke action getByIds
      operationId: contracts_getByIds
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                types:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /contracts/microsoft.graph.validateProperties:
    post:
      tags:
        - contracts.Actions
      summary: Invoke action validateProperties
      operationId: contracts_validateProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: string
                  nullable: true
                displayName:
                  type: string
                  nullable: true
                mailNickname:
                  type: string
                  nullable: true
                onBehalfOfUserId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /devices:
    get:
      tags:
        - devices.device
      summary: Get entities from devices
      operationId: devices.device_ListDevice
      parameters:
        - name: ConsistencyLevel
          in: header
          description: Indicates the requested consistency level.
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - accountEnabled
                - accountEnabled desc
                - alternativeSecurityIds
                - alternativeSecurityIds desc
                - approximateLastSignInDateTime
                - approximateLastSignInDateTime desc
                - complianceExpirationDateTime
                - complianceExpirationDateTime desc
                - deviceId
                - deviceId desc
                - deviceMetadata
                - deviceMetadata desc
                - deviceVersion
                - deviceVersion desc
                - displayName
                - displayName desc
                - isCompliant
                - isCompliant desc
                - isManaged
                - isManaged desc
                - mdmAppId
                - mdmAppId desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - operatingSystem
                - operatingSystem desc
                - operatingSystemVersion
                - operatingSystemVersion desc
                - physicalIds
                - physicalIds desc
                - profileType
                - profileType desc
                - systemLabels
                - systemLabels desc
                - trustType
                - trustType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - alternativeSecurityIds
                - approximateLastSignInDateTime
                - complianceExpirationDateTime
                - deviceId
                - deviceMetadata
                - deviceVersion
                - displayName
                - isCompliant
                - isManaged
                - mdmAppId
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - operatingSystem
                - operatingSystemVersion
                - physicalIds
                - profileType
                - systemLabels
                - trustType
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of device
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.device'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - devices.device
      summary: Add new entity to devices
      operationId: devices.device_CreateDevice
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.device'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}':
    get:
      tags:
        - devices.device
      summary: Get entity from devices by key
      operationId: devices.device_GetDevice
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: ConsistencyLevel
          in: header
          description: Indicates the requested consistency level.
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - alternativeSecurityIds
                - approximateLastSignInDateTime
                - complianceExpirationDateTime
                - deviceId
                - deviceMetadata
                - deviceVersion
                - displayName
                - isCompliant
                - isManaged
                - mdmAppId
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - operatingSystem
                - operatingSystemVersion
                - physicalIds
                - profileType
                - systemLabels
                - trustType
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
          links:
            memberOf:
              operationId: devices.ListMemberOf
              parameters:
                device-id: $request.path.device-id
            registeredOwners:
              operationId: devices.ListRegisteredOwners
              parameters:
                device-id: $request.path.device-id
            registeredUsers:
              operationId: devices.ListRegisteredUsers
              parameters:
                device-id: $request.path.device-id
            transitiveMemberOf:
              operationId: devices.ListTransitiveMemberOf
              parameters:
                device-id: $request.path.device-id
            extensions:
              operationId: devices.ListExtensions
              parameters:
                device-id: $request.path.device-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - devices.device
      summary: Update entity in devices
      operationId: devices.device_UpdateDevice
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.device'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - devices.device
      summary: Delete entity from devices
      operationId: devices.device_DeleteDevice
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/extensions':
    get:
      tags:
        - devices.extension
      summary: Get extensions from devices
      operationId: devices_ListExtensions
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of extension
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.extension'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - devices.extension
      summary: Create new navigation property to extensions for devices
      operationId: devices_CreateExtensions
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/extensions/{extension-id}':
    get:
      tags:
        - devices.extension
      summary: Get extensions from devices
      operationId: devices_GetExtensions
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - devices.extension
      summary: Update the navigation property extensions in devices
      operationId: devices_UpdateExtensions
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - devices.extension
      summary: Delete navigation property extensions for devices
      operationId: devices_DeleteExtensions
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/memberOf':
    get:
      tags:
        - devices.directoryObject
      summary: Get memberOf from devices
      operationId: devices_ListMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/memberOf/$ref':
    get:
      tags:
        - devices.directoryObject
      summary: Get ref of memberOf from devices
      operationId: devices_ListRefMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - devices.directoryObject
      summary: Create new navigation property ref to memberOf for devices
      operationId: devices_CreateRefMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - devices.Actions
      summary: Invoke action checkMemberGroups
      operationId: devices_checkMemberGroups
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/devices/{device-id}/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - devices.Actions
      summary: Invoke action checkMemberObjects
      operationId: devices_checkMemberObjects
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/devices/{device-id}/microsoft.graph.getMemberGroups':
    post:
      tags:
        - devices.Actions
      summary: Invoke action getMemberGroups
      operationId: devices_getMemberGroups
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/devices/{device-id}/microsoft.graph.getMemberObjects':
    post:
      tags:
        - devices.Actions
      summary: Invoke action getMemberObjects
      operationId: devices_getMemberObjects
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/devices/{device-id}/microsoft.graph.restore':
    post:
      tags:
        - devices.Actions
      summary: Invoke action restore
      operationId: devices_restore
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/devices/{device-id}/registeredOwners':
    get:
      tags:
        - devices.directoryObject
      summary: Get registeredOwners from devices
      operationId: devices_ListRegisteredOwners
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/registeredOwners/$ref':
    get:
      tags:
        - devices.directoryObject
      summary: Get ref of registeredOwners from devices
      operationId: devices_ListRefRegisteredOwners
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - devices.directoryObject
      summary: Create new navigation property ref to registeredOwners for devices
      operationId: devices_CreateRefRegisteredOwners
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/registeredUsers':
    get:
      tags:
        - devices.directoryObject
      summary: Get registeredUsers from devices
      operationId: devices_ListRegisteredUsers
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/registeredUsers/$ref':
    get:
      tags:
        - devices.directoryObject
      summary: Get ref of registeredUsers from devices
      operationId: devices_ListRefRegisteredUsers
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - devices.directoryObject
      summary: Create new navigation property ref to registeredUsers for devices
      operationId: devices_CreateRefRegisteredUsers
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/transitiveMemberOf':
    get:
      tags:
        - devices.directoryObject
      summary: Get transitiveMemberOf from devices
      operationId: devices_ListTransitiveMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/devices/{device-id}/transitiveMemberOf/$ref':
    get:
      tags:
        - devices.directoryObject
      summary: Get ref of transitiveMemberOf from devices
      operationId: devices_ListRefTransitiveMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - devices.directoryObject
      summary: Create new navigation property ref to transitiveMemberOf for devices
      operationId: devices_CreateRefTransitiveMemberOf
      parameters:
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /devices/microsoft.graph.getAvailableExtensionProperties:
    post:
      tags:
        - devices.Actions
      summary: Invoke action getAvailableExtensionProperties
      operationId: devices_getAvailableExtensionProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                isSyncedFromOnPremises:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.extensionProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /devices/microsoft.graph.getByIds:
    post:
      tags:
        - devices.Actions
      summary: Invoke action getByIds
      operationId: devices_getByIds
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                types:
                  type: array
                  items:
                    type: string
                    nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /devices/microsoft.graph.validateProperties:
    post:
      tags:
        - devices.Actions
      summary: Invoke action validateProperties
      operationId: devices_validateProperties
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: string
                  nullable: true
                displayName:
                  type: string
                  nullable: true
                mailNickname:
                  type: string
                  nullable: true
                onBehalfOfUserId:
                  pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                  type: string
                  format: uuid
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /directory:
    get:
      tags:
        - directory.directory
      summary: Get directory
      operationId: directory.directory_GetDirectory
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - administrativeUnits
                - deletedItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - administrativeUnits
                - deletedItems
              type: string
      responses:
        '200':
[...]
