openapi: 3.0.1
info:
  title: Users
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /users:
    get:
      tags:
        - users.user
      summary: Get entities from users
      operationId: users.user_ListUser
      parameters:
        - name: ConsistencyLevel
          in: header
          description: Indicates the requested consistency level.
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - accountEnabled
                - accountEnabled desc
                - ageGroup
                - ageGroup desc
                - assignedLicenses
                - assignedLicenses desc
                - assignedPlans
                - assignedPlans desc
                - businessPhones
                - businessPhones desc
                - city
                - city desc
                - companyName
                - companyName desc
                - consentProvidedForMinor
                - consentProvidedForMinor desc
                - country
                - country desc
                - createdDateTime
                - createdDateTime desc
                - creationType
                - creationType desc
                - department
                - department desc
                - displayName
                - displayName desc
                - employeeHireDate
                - employeeHireDate desc
                - employeeId
                - employeeId desc
                - employeeOrgData
                - employeeOrgData desc
                - employeeType
                - employeeType desc
                - externalUserState
                - externalUserState desc
                - externalUserStateChangeDateTime
                - externalUserStateChangeDateTime desc
                - faxNumber
                - faxNumber desc
                - givenName
                - givenName desc
                - identities
                - identities desc
                - imAddresses
                - imAddresses desc
                - isResourceAccount
                - isResourceAccount desc
                - jobTitle
                - jobTitle desc
                - lastPasswordChangeDateTime
                - lastPasswordChangeDateTime desc
                - legalAgeGroupClassification
                - legalAgeGroupClassification desc
                - licenseAssignmentStates
                - licenseAssignmentStates desc
                - mail
                - mail desc
                - mailNickname
                - mailNickname desc
                - mobilePhone
                - mobilePhone desc
                - officeLocation
                - officeLocation desc
                - onPremisesDistinguishedName
                - onPremisesDistinguishedName desc
                - onPremisesDomainName
                - onPremisesDomainName desc
                - onPremisesExtensionAttributes
                - onPremisesExtensionAttributes desc
                - onPremisesImmutableId
                - onPremisesImmutableId desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesProvisioningErrors
                - onPremisesProvisioningErrors desc
                - onPremisesSamAccountName
                - onPremisesSamAccountName desc
                - onPremisesSecurityIdentifier
                - onPremisesSecurityIdentifier desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - onPremisesUserPrincipalName
                - onPremisesUserPrincipalName desc
                - otherMails
                - otherMails desc
                - passwordPolicies
                - passwordPolicies desc
                - passwordProfile
                - passwordProfile desc
                - postalCode
                - postalCode desc
                - preferredLanguage
                - preferredLanguage desc
                - provisionedPlans
                - provisionedPlans desc
                - proxyAddresses
                - proxyAddresses desc
                - showInAddressList
                - showInAddressList desc
                - signInSessionsValidFromDateTime
                - signInSessionsValidFromDateTime desc
                - state
                - state desc
                - streetAddress
                - streetAddress desc
                - surname
                - surname desc
                - usageLocation
                - usageLocation desc
                - userPrincipalName
                - userPrincipalName desc
                - userType
                - userType desc
                - mailboxSettings
                - mailboxSettings desc
                - deviceEnrollmentLimit
                - deviceEnrollmentLimit desc
                - aboutMe
                - aboutMe desc
                - birthday
                - birthday desc
                - hireDate
                - hireDate desc
                - interests
                - interests desc
                - mySite
                - mySite desc
                - pastProjects
                - pastProjects desc
                - preferredName
                - preferredName desc
                - responsibilities
                - responsibilities desc
                - schools
                - schools desc
                - skills
                - skills desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - ageGroup
                - assignedLicenses
                - assignedPlans
                - businessPhones
                - city
                - companyName
                - consentProvidedForMinor
                - country
                - createdDateTime
                - creationType
                - department
                - displayName
                - employeeHireDate
                - employeeId
                - employeeOrgData
                - employeeType
                - externalUserState
                - externalUserStateChangeDateTime
                - faxNumber
                - givenName
                - identities
                - imAddresses
                - isResourceAccount
                - jobTitle
                - lastPasswordChangeDateTime
                - legalAgeGroupClassification
                - licenseAssignmentStates
                - mail
                - mailNickname
                - mobilePhone
                - officeLocation
                - onPremisesDistinguishedName
                - onPremisesDomainName
                - onPremisesExtensionAttributes
                - onPremisesImmutableId
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSamAccountName
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - onPremisesUserPrincipalName
                - otherMails
                - passwordPolicies
                - passwordProfile
                - postalCode
                - preferredLanguage
                - provisionedPlans
                - proxyAddresses
                - showInAddressList
                - signInSessionsValidFromDateTime
                - state
                - streetAddress
                - surname
                - usageLocation
                - userPrincipalName
                - userType
                - mailboxSettings
                - deviceEnrollmentLimit
                - aboutMe
                - birthday
                - hireDate
                - interests
                - mySite
                - pastProjects
                - preferredName
                - responsibilities
                - schools
                - skills
                - appRoleAssignments
                - createdObjects
                - directReports
                - licenseDetails
                - manager
                - memberOf
                - oauth2PermissionGrants
                - ownedDevices
                - ownedObjects
                - registeredDevices
                - scopedRoleMemberOf
                - transitiveMemberOf
                - calendar
                - calendarGroups
                - calendars
                - calendarView
                - contactFolders
                - contacts
                - events
                - inferenceClassification
                - mailFolders
                - messages
                - outlook
                - people
                - photo
                - photos
                - drive
                - drives
                - followedSites
                - extensions
                - managedDevices
                - managedAppRegistrations
                - deviceManagementTroubleshootingEvents
                - planner
                - insights
                - settings
                - onenote
                - activities
                - onlineMeetings
                - presence
                - joinedTeams
                - teamwork
                - todo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appRoleAssignments
                - createdObjects
                - directReports
                - licenseDetails
                - manager
                - memberOf
                - oauth2PermissionGrants
                - ownedDevices
                - ownedObjects
                - registeredDevices
                - scopedRoleMemberOf
                - transitiveMemberOf
                - calendar
                - calendarGroups
                - calendars
                - calendarView
                - contactFolders
                - contacts
                - events
                - inferenceClassification
                - mailFolders
                - messages
                - outlook
                - people
                - photo
                - photos
                - drive
                - drives
                - followedSites
                - extensions
                - managedDevices
                - managedAppRegistrations
                - deviceManagementTroubleshootingEvents
                - planner
                - insights
                - settings
                - onenote
                - activities
                - onlineMeetings
                - presence
                - joinedTeams
                - teamwork
                - todo
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of user
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: './Groups.yml#/components/schemas/microsoft.graph.user'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.user
      summary: Add new entity to users
      operationId: users.user_CreateUser
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: './Groups.yml#/components/schemas/microsoft.graph.user'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: './Groups.yml#/components/schemas/microsoft.graph.user'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}':
    get:
      tags:
        - users.user
      summary: Get entity from users by key
      operationId: users.user_GetUser
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: ConsistencyLevel
          in: header
          description: Indicates the requested consistency level.
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - ageGroup
                - assignedLicenses
                - assignedPlans
                - businessPhones
                - city
                - companyName
                - consentProvidedForMinor
                - country
                - createdDateTime
                - creationType
                - department
                - displayName
                - employeeHireDate
                - employeeId
                - employeeOrgData
                - employeeType
                - externalUserState
                - externalUserStateChangeDateTime
                - faxNumber
                - givenName
                - identities
                - imAddresses
                - isResourceAccount
                - jobTitle
                - lastPasswordChangeDateTime
                - legalAgeGroupClassification
                - licenseAssignmentStates
                - mail
                - mailNickname
                - mobilePhone
                - officeLocation
                - onPremisesDistinguishedName
                - onPremisesDomainName
                - onPremisesExtensionAttributes
                - onPremisesImmutableId
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSamAccountName
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - onPremisesUserPrincipalName
                - otherMails
                - passwordPolicies
                - passwordProfile
                - postalCode
                - preferredLanguage
                - provisionedPlans
                - proxyAddresses
                - showInAddressList
                - signInSessionsValidFromDateTime
                - state
                - streetAddress
                - surname
                - usageLocation
                - userPrincipalName
                - userType
                - mailboxSettings
                - deviceEnrollmentLimit
                - aboutMe
                - birthday
                - hireDate
                - interests
                - mySite
                - pastProjects
                - preferredName
                - responsibilities
                - schools
                - skills
                - appRoleAssignments
                - createdObjects
                - directReports
                - licenseDetails
                - manager
                - memberOf
                - oauth2PermissionGrants
                - ownedDevices
                - ownedObjects
                - registeredDevices
                - scopedRoleMemberOf
                - transitiveMemberOf
                - calendar
                - calendarGroups
                - calendars
                - calendarView
                - contactFolders
                - contacts
                - events
                - inferenceClassification
                - mailFolders
                - messages
                - outlook
                - people
                - photo
                - photos
                - drive
                - drives
                - followedSites
                - extensions
                - managedDevices
                - managedAppRegistrations
                - deviceManagementTroubleshootingEvents
                - planner
                - insights
                - settings
                - onenote
                - activities
                - onlineMeetings
                - presence
                - joinedTeams
                - teamwork
                - todo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appRoleAssignments
                - createdObjects
                - directReports
                - licenseDetails
                - manager
                - memberOf
                - oauth2PermissionGrants
                - ownedDevices
                - ownedObjects
                - registeredDevices
                - scopedRoleMemberOf
                - transitiveMemberOf
                - calendar
                - calendarGroups
                - calendars
                - calendarView
                - contactFolders
                - contacts
                - events
                - inferenceClassification
                - mailFolders
                - messages
                - outlook
                - people
                - photo
                - photos
                - drive
                - drives
                - followedSites
                - extensions
                - managedDevices
                - managedAppRegistrations
                - deviceManagementTroubleshootingEvents
                - planner
                - insights
                - settings
                - onenote
                - activities
                - onlineMeetings
                - presence
                - joinedTeams
                - teamwork
                - todo
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: './Groups.yml#/components/schemas/microsoft.graph.user'
          links:
            appRoleAssignments:
              operationId: users.ListAppRoleAssignments
              parameters:
                user-id: $request.path.user-id
            createdObjects:
              operationId: users.ListCreatedObjects
              parameters:
                user-id: $request.path.user-id
            directReports:
              operationId: users.ListDirectReports
              parameters:
                user-id: $request.path.user-id
            licenseDetails:
              operationId: users.ListLicenseDetails
              parameters:
                user-id: $request.path.user-id
            manager:
              operationId: users.GetManager
              parameters:
                user-id: $request.path.user-id
            memberOf:
              operationId: users.ListMemberOf
              parameters:
                user-id: $request.path.user-id
            oauth2PermissionGrants:
              operationId: users.ListOauth2PermissionGrants
              parameters:
                user-id: $request.path.user-id
            ownedDevices:
              operationId: users.ListOwnedDevices
              parameters:
                user-id: $request.path.user-id
            ownedObjects:
              operationId: users.ListOwnedObjects
              parameters:
                user-id: $request.path.user-id
            registeredDevices:
              operationId: users.ListRegisteredDevices
              parameters:
                user-id: $request.path.user-id
            scopedRoleMemberOf:
              operationId: users.ListScopedRoleMemberOf
              parameters:
                user-id: $request.path.user-id
            transitiveMemberOf:
              operationId: users.ListTransitiveMemberOf
              parameters:
                user-id: $request.path.user-id
            calendar:
              operationId: users.GetCalendar
              parameters:
                user-id: $request.path.user-id
            calendarGroups:
              operationId: users.ListCalendarGroups
              parameters:
                user-id: $request.path.user-id
            calendars:
              operationId: users.ListCalendars
              parameters:
                user-id: $request.path.user-id
            calendarView:
              operationId: users.ListCalendarView
              parameters:
                user-id: $request.path.user-id
            contactFolders:
              operationId: users.ListContactFolders
              parameters:
                user-id: $request.path.user-id
            contacts:
              operationId: users.ListContacts
              parameters:
                user-id: $request.path.user-id
            events:
              operationId: users.ListEvents
              parameters:
                user-id: $request.path.user-id
            inferenceClassification:
              operationId: users.GetInferenceClassification
              parameters:
                user-id: $request.path.user-id
            mailFolders:
              operationId: users.ListMailFolders
              parameters:
                user-id: $request.path.user-id
            messages:
              operationId: users.ListMessages
              parameters:
                user-id: $request.path.user-id
            outlook:
              operationId: users.GetOutlook
              parameters:
                user-id: $request.path.user-id
            people:
              operationId: users.ListPeople
              parameters:
                user-id: $request.path.user-id
            photo:
              operationId: users.GetPhoto
              parameters:
                user-id: $request.path.user-id
            photos:
              operationId: users.ListPhotos
              parameters:
                user-id: $request.path.user-id
            drive:
              operationId: users.GetDrive
              parameters:
                user-id: $request.path.user-id
            drives:
              operationId: users.ListDrives
              parameters:
                user-id: $request.path.user-id
            followedSites:
              operationId: users.ListFollowedSites
              parameters:
                user-id: $request.path.user-id
            extensions:
              operationId: users.ListExtensions
              parameters:
                user-id: $request.path.user-id
            managedDevices:
              operationId: users.ListManagedDevices
              parameters:
                user-id: $request.path.user-id
            managedAppRegistrations:
              operationId: users.ListManagedAppRegistrations
              parameters:
                user-id: $request.path.user-id
            deviceManagementTroubleshootingEvents:
              operationId: users.ListDeviceManagementTroubleshootingEvents
              parameters:
                user-id: $request.path.user-id
            planner:
              operationId: users.GetPlanner
              parameters:
                user-id: $request.path.user-id
            insights:
              operationId: users.GetInsights
              parameters:
                user-id: $request.path.user-id
            settings:
              operationId: users.GetSettings
              parameters:
                user-id: $request.path.user-id
            onenote:
              operationId: users.GetOnenote
              parameters:
                user-id: $request.path.user-id
            activities:
              operationId: users.ListActivities
              parameters:
                user-id: $request.path.user-id
            onlineMeetings:
              operationId: users.ListOnlineMeetings
              parameters:
                user-id: $request.path.user-id
            presence:
              operationId: users.GetPresence
              parameters:
                user-id: $request.path.user-id
            joinedTeams:
              operationId: users.ListJoinedTeams
              parameters:
                user-id: $request.path.user-id
            teamwork:
              operationId: users.GetTeamwork
              parameters:
                user-id: $request.path.user-id
            todo:
              operationId: users.GetTodo
              parameters:
                user-id: $request.path.user-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.user
      summary: Update entity in users
      operationId: users.user_UpdateUser
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: './Groups.yml#/components/schemas/microsoft.graph.user'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.user
      summary: Delete entity from users
      operationId: users.user_DeleteUser
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: './Groups.yml#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]
