// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.azureintegrationspaces.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.PagedFlux;
import com.azure.core.http.rest.PagedIterable;
import com.azure.core.http.rest.PagedResponse;
import com.azure.core.http.rest.PagedResponseBase;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.azureintegrationspaces.fluent.BusinessProcessVersionsClient;
import com.azure.resourcemanager.azureintegrationspaces.fluent.models.BusinessProcessVersionInner;
import com.azure.resourcemanager.azureintegrationspaces.models.BusinessProcessVersionListResult;
import java.util.ArrayList;
import java.util.List;
import java.util.Objects;
import java.util.stream.Collectors;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in BusinessProcessVersionsClient. */
public final class BusinessProcessVersionsClientImpl implements BusinessProcessVersionsClient {
    /** The proxy service used to perform REST calls. */
    private final BusinessProcessVersionsService service;

    /** The service client containing this operation class. */
    private final MicrosoftIntegrationSpacesImpl client;

    /**
     * Initializes an instance of BusinessProcessVersionsClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    BusinessProcessVersionsClientImpl(MicrosoftIntegrationSpacesImpl client) {
        this.service =
            RestProxy
                .create(BusinessProcessVersionsService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for MicrosoftIntegrationSpacesBusinessProcessVersions to be used by the
     * proxy service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "MicrosoftIntegration")
    public interface BusinessProcessVersionsService {
        @Headers({"Content-Type: application/json"})
        @Get(
            "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IntegrationSpaces/spaces/{spaceName}/applications/{applicationName}/businessProcesses/{businessProcessName}/versions")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<BusinessProcessVersionListResult>> listByBusinessProcess(
            @HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName,
            @QueryParam("top") Integer top,
            @QueryParam("skip") Integer skip,
            @QueryParam("maxpagesize") Integer maxPageSize,
            @QueryParam("filter") String filter,
            @QueryParam(value = "select", multipleQueryParams = true) List<String> select,
            @QueryParam(value = "expand", multipleQueryParams = true) List<String> expand,
            @QueryParam(value = "orderby", multipleQueryParams = true) List<String> orderBy,
            @PathParam("spaceName") String spaceName,
            @PathParam("applicationName") String applicationName,
            @PathParam("businessProcessName") String businessProcessName,
            @HeaderParam("Accept") String accept,
            Context context);

        @Headers({"Content-Type: application/json"})
        @Get(
            "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IntegrationSpaces/spaces/{spaceName}/applications/{applicationName}/businessProcesses/{businessProcessName}/versions/{businessProcessVersion}")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<BusinessProcessVersionInner>> get(
            @HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName,
            @PathParam("spaceName") String spaceName,
            @PathParam("applicationName") String applicationName,
            @PathParam("businessProcessName") String businessProcessName,
            @PathParam("businessProcessVersion") String businessProcessVersion,
            @HeaderParam("Accept") String accept,
            Context context);

        @Headers({"Content-Type: application/json"})
        @Get("{nextLink}")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<BusinessProcessVersionListResult>> listByBusinessProcessNext(
            @PathParam(value = "nextLink", encoded = true) String nextLink,
            @HostParam("$host") String endpoint,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * List BusinessProcessVersion resources by BusinessProcess.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param spaceName The name of the space.
     * @param applicationName The name of the Application.
     * @param businessProcessName The name of the business process.
     * @param top The number of result items to return.
     * @param skip The number of result items to skip.
     * @param maxPageSize The maximum number of result items per page.
     * @param filter Filter the result list using the given expression.
     * @param select Select the specified fields to be included in the response.
     * @param expand Expand the indicated resources into the response.
     * @param orderBy Expressions that specify the order of returned results.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response of a BusinessProcessVersion list operation along with {@link PagedResponse} on successful
     *     completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<PagedResponse<BusinessProcessVersionInner>> listByBusinessProcessSinglePageAsync(
        String resourceGroupName,
        String spaceName,
        String applicationName,
        String businessProcessName,
        Integer top,
        Integer skip,
        Integer maxPageSize,
        String filter,
        List<String> select,
        List<String> expand,
        List<String> orderBy) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (spaceName == null) {
            return Mono.error(new IllegalArgumentException("Parameter spaceName is required and cannot be null."));
        }
        if (applicationName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter applicationName is required and cannot be null."));
        }
        if (businessProcessName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter businessProcessName is required and cannot be null."));
        }
        final String accept = "application/json";
        List<String> selectConverted =
            (select == null)
                ? new ArrayList<>()
                : select.stream().map(item -> Objects.toString(item, "")).collect(Collectors.toList());
        List<String> expandConverted =
            (expand == null)
                ? new ArrayList<>()
                : expand.stream().map(item -> Objects.toString(item, "")).collect(Collectors.toList());
        List<String> orderByConverted =
            (orderBy == null)
                ? new ArrayList<>()
                : orderBy.stream().map(item -> Objects.toString(item, "")).collect(Collectors.toList());
        return FluxUtil
            .withContext(
                context ->
                    service
                        .listByBusinessProcess(
                            this.client.getEndpoint(),
                            this.client.getApiVersion(),
                            this.client.getSubscriptionId(),
                            resourceGroupName,
                            top,
                            skip,
                            maxPageSize,
                            filter,
                            selectConverted,
                            expandConverted,
                            orderByConverted,
                            spaceName,
                            applicationName,
                            businessProcessName,
                            accept,
                            context))
            .<PagedResponse<BusinessProcessVersionInner>>map(
                res ->
                    new PagedResponseBase<>(
                        res.getRequest(),
                        res.getStatusCode(),
                        res.getHeaders(),
                        res.getValue().value(),
                        res.getValue().nextLink(),
                        null))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * List BusinessProcessVersion resources by BusinessProcess.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param spaceName The name of the space.
     * @param applicationName The name of the Application.
     * @param businessProcessName The name of the business process.
     * @param top The number of result items to return.
     * @param skip The number of result items to skip.
     * @param maxPageSize The maximum number of result items per page.
     * @param filter Filter the result list using the given expression.
     * @param select Select the specified fields to be included in the response.
     * @param expand Expand the indicated resources into the response.
     * @param orderBy Expressions that specify the order of returned results.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response of a BusinessProcessVersion list operation along with {@link PagedResponse} on successful
     *     completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<PagedResponse<BusinessProcessVersionInner>> listByBusinessProcessSinglePageAsync(
        String resourceGroupName,
        String spaceName,
        String applicationName,
        String businessProcessName,
        Integer top,
        Integer skip,
        Integer maxPageSize,
        String filter,
        List<String> select,
        List<String> expand,
        List<String> orderBy,
        Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (spaceName == null) {
            return Mono.error(new IllegalArgumentException("Parameter spaceName is required and cannot be null."));
        }
        if (applicationName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter applicationName is required and cannot be null."));
        }
        if (businessProcessName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter businessProcessName is required and cannot be null."));
        }
        final String accept = "application/json";
        List<String> selectConverted =
            (select == null)
                ? new ArrayList<>()
                : select.stream().map(item -> Objects.toString(item, "")).collect(Collectors.toList());
        List<String> expandConverted =
            (expand == null)
                ? new ArrayList<>()
                : expand.stream().map(item -> Objects.toString(item, "")).collect(Collectors.toList());
        List<String> orderByConverted =
            (orderBy == null)
                ? new ArrayList<>()
                : orderBy.stream().map(item -> Objects.toString(item, "")).collect(Collectors.toList());
        context = this.client.mergeContext(context);
        return service
            .listByBusinessProcess(
                this.client.getEndpoint(),
                this.client.getApiVersion(),
                this.client.getSubscriptionId(),
                resourceGroupName,
                top,
                skip,
                maxPageSize,
                filter,
                selectConverted,
                expandConverted,
                orderByConverted,
                spaceName,
                applicationName,
                businessProcessName,
                accept,
                context)
            .map(
                res ->
                    new PagedResponseBase<>(
                        res.getRequest(),
                        res.getStatusCode(),
                        res.getHeaders(),
                        res.getValue().value(),
                        res.getValue().nextLink(),
                        null));
    }

    /**
     * List BusinessProcessVersion resources by BusinessProcess.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param spaceName The name of the space.
     * @param applicationName The name of the Application.
     * @param businessProcessName The name of the business process.
     * @param top The number of result items to return.
     * @param skip The number of result items to skip.
     * @param maxPageSize The maximum number of result items per page.
     * @param filter Filter the result list using the given expression.
     * @param select Select the specified fields to be included in the response.
     * @param expand Expand the indicated resources into the response.
     * @param orderBy Expressions that specify the order of returned results.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response of a BusinessProcessVersion list operation as paginated response with {@link PagedFlux}.
     */
    @ServiceMethod(returns = ReturnType.COLLECTION)
    private PagedFlux<BusinessProcessVersionInner> listByBusinessProcessAsync(
        String resourceGroupName,
        String spaceName,
        String applicationName,
        String businessProcessName,
        Integer top,
        Integer skip,
        Integer maxPageSize,
        String filter,
        List<String> select,
        List<String> expand,
        List<String> orderBy) {
        return new PagedFlux<>(
            () ->
                listByBusinessProcessSinglePageAsync(
                    resourceGroupName,
                    spaceName,
                    applicationName,
                    businessProcessName,
                    top,
                    skip,
                    maxPageSize,
                    filter,
                    select,
                    expand,
                    orderBy),
            nextLink -> listByBusinessProcessNextSinglePageAsync(nextLink));
    }

    /**
     * List BusinessProcessVersion resources by BusinessProcess.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param spaceName The name of the space.
     * @param applicationName The name of the Application.
     * @param businessProcessName The name of the business process.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response of a BusinessProcessVersion list operation as paginated response with {@link PagedFlux}.
     */
    @ServiceMethod(returns = ReturnType.COLLECTION)
    private PagedFlux<BusinessProcessVersionInner> listByBusinessProcessAsync(
        String resourceGroupName, String spaceName, String applicationName, String businessProcessName) {
        final Integer top = null;
        final Integer skip = null;
        final Integer maxPageSize = null;
        final String filter = null;
        final List<String> select = null;
        final List<String> expand = null;
        final List<String> orderBy = null;
        return new PagedFlux<>(
            () ->
                listByBusinessProcessSinglePageAsync(
                    resourceGroupName,
                    spaceName,
                    applicationName,
                    businessProcessName,
                    top,
                    skip,
                    maxPageSize,
                    filter,
                    select,
                    expand,
                    orderBy),
            nextLink -> listByBusinessProcessNextSinglePageAsync(nextLink));
    }

    /**
     * List BusinessProcessVersion resources by BusinessProcess.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param spaceName The name of the space.
     * @param applicationName The name of the Application.
     * @param businessProcessName The name of the business process.
     * @param top The number of result items to return.
     * @param skip The number of result items to skip.
     * @param maxPageSize The maximum number of result items per page.
     * @param filter Filter the result list using the given expression.
     * @param select Select the specified fields to be included in the response.
     * @param expand Expand the indicated resources into the response.
     * @param orderBy Expressions that specify the order of returned results.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response of a BusinessProcessVersion list operation as paginated response with {@link PagedFlux}.
     */
    @ServiceMethod(returns = ReturnType.COLLECTION)
    private PagedFlux<BusinessProcessVersionInner> listByBusinessProcessAsync(
        String resourceGroupName,
        String spaceName,
        String applicationName,
        String businessProcessName,
        Integer top,
        Integer skip,
        Integer maxPageSize,
        String filter,
        List<String> select,
        List<String> expand,
        List<String> orderBy,
        Context context) {
        return new PagedFlux<>(
            () ->
                listByBusinessProcessSinglePageAsync(
                    resourceGroupName,
                    spaceName,
                    applicationName,
                    businessProcessName,
                    top,
                    skip,
                    maxPageSize,
                    filter,
                    select,
                    expand,
                    orderBy,
                    context),
            nextLink -> listByBusinessProcessNextSinglePageAsync(nextLink, context));
    }

    /**
     * List BusinessProcessVersion resources by BusinessProcess.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param spaceName The name of the space.
     * @param applicationName The name of the Application.
     * @param businessProcessName The name of the business process.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response of a BusinessProcessVersion list operation as paginated response with {@link PagedIterable}.
     */
    @ServiceMethod(returns = ReturnType.COLLECTION)
    public PagedIterable<BusinessProcessVersionInner> listByBusinessProcess(
        String resourceGroupName, String spaceName, String applicationName, String businessProcessName) {
        final Integer top = null;
        final Integer skip = null;
        final Integer maxPageSize = null;
        final String filter = null;
        final List<String> select = null;
        final List<String> expand = null;
        final List<String> orderBy = null;
        return new PagedIterable<>(
            listByBusinessProcessAsync(
                resourceGroupName,
                spaceName,
                applicationName,
                businessProcessName,
                top,
                skip,
                maxPageSize,
                filter,
                select,
                expand,
                orderBy));
    }

    /**
     * List BusinessProcessVersion resources by BusinessProcess.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param spaceName The name of the space.
     * @param applicationName The name of the Application.
     * @param businessProcessName The name of the business process.
     * @param top The number of result items to return.
     * @param skip The number of result items to skip.
     * @param maxPageSize The maximum number of result items per page.
     * @param filter Filter the result list using the given expression.
     * @param select Select the specified fields to be included in the response.
     * @param expand Expand the indicated resources into the response.
     * @param orderBy Expressions that specify the order of returned results.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response of a BusinessProcessVersion list operation as paginated response with {@link PagedIterable}.
     */
    @ServiceMethod(returns = ReturnType.COLLECTION)
    public PagedIterable<BusinessProcessVersionInner> listByBusinessProcess(
        String resourceGroupName,
        String spaceName,
        String applicationName,
        String businessProcessName,
        Integer top,
        Integer skip,
        Integer maxPageSize,
        String filter,
        List<String> select,
        List<String> expand,
        List<String> orderBy,
        Context context) {
        return new PagedIterable<>(
            listByBusinessProcessAsync(
                resourceGroupName,
                spaceName,
                applicationName,
                businessProcessName,
                top,
                skip,
                maxPageSize,
                filter,
                select,
                expand,
                orderBy,
                context));
    }

    /**
     * Get a BusinessProcessVersion.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param spaceName The name of the space.
     * @param applicationName The name of the Application.
     * @param businessProcessName The name of the business process.
     * @param businessProcessVersion The version of the business process.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a BusinessProcessVersion along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<BusinessProcessVersionInner>> getWithResponseAsync(
        String resourceGroupName,
        String spaceName,
        String applicationName,
        String businessProcessName,
        String businessProcessVersion) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (spaceName == null) {
            return Mono.error(new IllegalArgumentException("Parameter spaceName is required and cannot be null."));
        }
        if (applicationName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter applicationName is required and cannot be null."));
        }
        if (businessProcessName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter businessProcessName is required and cannot be null."));
        }
        if (businessProcessVersion == null) {
            return Mono
                .error(
                    new IllegalArgumentException("Parameter businessProcessVersion is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .get(
                            this.client.getEndpoint(),
                            this.client.getApiVersion(),
                            this.client.getSubscriptionId(),
                            resourceGroupName,
                            spaceName,
                            applicationName,
                            businessProcessName,
                            businessProcessVersion,
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Get a BusinessProcessVersion.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param spaceName The name of the space.
     * @param applicationName The name of the Application.
     * @param businessProcessName The name of the business process.
     * @param businessProcessVersion The version of the business process.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a BusinessProcessVersion along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<BusinessProcessVersionInner>> getWithResponseAsync(
        String resourceGroupName,
        String spaceName,
        String applicationName,
        String businessProcessName,
        String businessProcessVersion,
        Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (spaceName == null) {
            return Mono.error(new IllegalArgumentException("Parameter spaceName is required and cannot be null."));
        }
        if (applicationName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter applicationName is required and cannot be null."));
        }
        if (businessProcessName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter businessProcessName is required and cannot be null."));
        }
        if (businessProcessVersion == null) {
            return Mono
                .error(
                    new IllegalArgumentException("Parameter businessProcessVersion is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .get(
                this.client.getEndpoint(),
                this.client.getApiVersion(),
                this.client.getSubscriptionId(),
                resourceGroupName,
                spaceName,
                applicationName,
                businessProcessName,
                businessProcessVersion,
                accept,
                context);
    }

    /**
     * Get a BusinessProcessVersion.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param spaceName The name of the space.
     * @param applicationName The name of the Application.
     * @param businessProcessName The name of the business process.
     * @param businessProcessVersion The version of the business process.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a BusinessProcessVersion on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<BusinessProcessVersionInner> getAsync(
        String resourceGroupName,
        String spaceName,
        String applicationName,
        String businessProcessName,
        String businessProcessVersion) {
        return getWithResponseAsync(
                resourceGroupName, spaceName, applicationName, businessProcessName, businessProcessVersion)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Get a BusinessProcessVersion.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param spaceName The name of the space.
     * @param applicationName The name of the Application.
     * @param businessProcessName The name of the business process.
     * @param businessProcessVersion The version of the business process.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a BusinessProcessVersion along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<BusinessProcessVersionInner> getWithResponse(
        String resourceGroupName,
        String spaceName,
        String applicationName,
        String businessProcessName,
        String businessProcessVersion,
        Context context) {
        return getWithResponseAsync(
                resourceGroupName, spaceName, applicationName, businessProcessName, businessProcessVersion, context)
            .block();
    }

    /**
     * Get a BusinessProcessVersion.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param spaceName The name of the space.
     * @param applicationName The name of the Application.
     * @param businessProcessName The name of the business process.
     * @param businessProcessVersion The version of the business process.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a BusinessProcessVersion.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public BusinessProcessVersionInner get(
        String resourceGroupName,
        String spaceName,
        String applicationName,
        String businessProcessName,
        String businessProcessVersion) {
        return getWithResponse(
                resourceGroupName,
                spaceName,
                applicationName,
                businessProcessName,
                businessProcessVersion,
                Context.NONE)
            .getValue();
    }

    /**
     * Get the next page of items.
     *
     * @param nextLink The URL to get the next list of items
     *     <p>The nextLink parameter.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response of a BusinessProcessVersion list operation along with {@link PagedResponse} on successful
     *     completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<PagedResponse<BusinessProcessVersionInner>> listByBusinessProcessNextSinglePageAsync(String nextLink) {
        if (nextLink == null) {
            return Mono.error(new IllegalArgumentException("Parameter nextLink is required and cannot be null."));
        }
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context -> service.listByBusinessProcessNext(nextLink, this.client.getEndpoint(), accept, context))
            .<PagedResponse<BusinessProcessVersionInner>>map(
                res ->
                    new PagedResponseBase<>(
                        res.getRequest(),
                        res.getStatusCode(),
                        res.getHeaders(),
                        res.getValue().value(),
                        res.getValue().nextLink(),
                        null))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Get the next page of items.
     *
     * @param nextLink The URL to get the next list of items
     *     <p>The nextLink parameter.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response of a BusinessProcessVersion list operation along with {@link PagedResponse} on successful
     *     completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<PagedResponse<BusinessProcessVersionInner>> listByBusinessProcessNextSinglePageAsync(
        String nextLink, Context context) {
        if (nextLink == null) {
            return Mono.error(new IllegalArgumentException("Parameter nextLink is required and cannot be null."));
        }
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .listByBusinessProcessNext(nextLink, this.client.getEndpoint(), accept, context)
            .map(
                res ->
                    new PagedResponseBase<>(
                        res.getRequest(),
                        res.getStatusCode(),
                        res.getHeaders(),
                        res.getValue().value(),
                        res.getValue().nextLink(),
                        null));
    }
}
