{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/share23877500?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D720D6B53469E2\"",
      "Last-Modified" : "Wed, 14 Aug 2019 16:44:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  } ],
  "variables" : [ "share334125a9", "share84711659", "directory44979f", "share95735da2", "directory14097c", "share54338242", "file99569be4", "share061525d9", "file0882781b", "share23877500" ]
}