{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/share0412801a?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71522023B9912\"",
      "Last-Modified" : "Tue, 30 Jul 2019 19:13:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=share0412801a&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>share0412801a</Prefix><Shares /><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "share0412801a" ]
}