{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestscreatedirectorywithmetadata425753ed?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72829E72A9151\"",
      "Last-Modified" : "Sat, 24 Aug 2019 00:27:53 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestscreatedirectorywithmetadata425753ed/directoryasyncapitestscreatedirectorywithmetadata02735955?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-08-24T00:27:53.3837127Z",
      "Last-Modified" : "Sat, 24 Aug 2019 00:27:53 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D72829E7329747\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-08-24T00:27:53.3837127Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-08-24T00:27:53.3837127Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryasyncapitestscreatedirectorywithmetadata425753ed", "directoryasyncapitestscreatedirectorywithmetadata02735955" ]
}