{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestsgetsubdirectoryclient885008b466770?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325082B17B39\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:29:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestsgetsubdirectoryclient885008b466770", "directoryapitestsgetsubdirectoryclient20005851d9433" ]
}