{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestslisthandles004557d99f25de3aba4?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D732508B12E8B2\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:29:40 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestslisthandles004557d99f25de3aba4/directoryapitestslisthandles065155a7d9329d07c94?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T22:29:40.9282018Z",
      "Last-Modified" : "Thu, 05 Sep 2019 22:29:40 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D732508B2283E2\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-05T22:29:40.9282018Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T22:29:40.9282018Z"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestslisthandles004557d99f25de3aba4/directoryapitestslisthandles065155a7d9329d07c94?maxresults=2&comp=listhandles",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults><MaxResults>2</MaxResults><Entries /><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestslisthandles004557d99f25de3aba4", "directoryapitestslisthandles065155a7d9329d07c94" ]
}