{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestsgetdirectoryurl4736844113c2dac7?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325082864C53\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:29:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestsgetdirectoryurl4736844113c2dac7", "directoryapitestsgetdirectoryurl07972c7a650dce37" ]
}