{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestscreatefilemaxoverload04639b8205ec4?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EBAE2CD21\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:04 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestscreatefilemaxoverload04639b8205ec4/directoryapitestscreatefilemaxoverload63662047e653a?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EBAE847BB\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:04 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestscreatefilemaxoverload04639b8205ec4/directoryapitestscreatefilemaxoverload63662047e653a%2ftestCreateFile",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EBAEF0024\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:04 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  } ],
  "variables" : [ "directoryapitestscreatefilemaxoverload04639b8205ec4", "directoryapitestscreatefilemaxoverload63662047e653a" ]
}