{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestsgetsnapshotid07120dc95c79de97d?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7519F651CAB24",
      "Last-Modified" : "Tue, 15 Oct 2019 18:42:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestsgetsnapshotid07120dc95c79de97d", "directoryapitestsgetsnapshotid7395303e31f19742d" ]
}