{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestsgetsnapshotid351143f407576ef4d?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDBB5DA35D\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:18:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  } ],
  "variables" : [ "directoryapitestsgetsnapshotid351143f407576ef4d", "directoryapitestsgetsnapshotid9329331a46bfb8c26" ]
}