{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryasyncapitestscreatedirpermissionandkeyerror136394a?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72D70E2625B48\"",
      "Last-Modified" : "Fri, 30 Aug 2019 17:38:35 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryasyncapitestscreatedirpermissionandkeyerror136394a", "directoryasyncapitestscreatedirpermissionandkeyerror1759121" ]
}