{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestslistfilesanddirectoriesargs0369233517e?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7317BB09377ED\"",
      "Last-Modified" : "Wed, 04 Sep 2019 21:06:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestslistfilesanddirectoriesargs0369233517e/directoryapitestslistfilesanddirectoriesargs04858022cd8?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T21:06:01.0250331Z",
      "Last-Modified" : "Wed, 04 Sep 2019 21:06:01 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7317BB0A0545B\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-04T21:06:01.0250331Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T21:06:01.0250331Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestslistfilesanddirectoriesargs0369233517e/directoryapitestslistfilesanddirectoriesargs04858022cd8%2fdirectoryapitestslistfilesanddirectoriesargs064273263e00?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "11529285414812647424",
      "x-ms-file-creation-time" : "2019-09-04T21:06:01.4163879Z",
      "Last-Modified" : "Wed, 04 Sep 2019 21:06:01 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7317BB0DC0BA7\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-04T21:06:01.4163879Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-09-04T21:06:01.4163879Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestslistfilesanddirectoriesargs0369233517e/directoryapitestslistfilesanddirectoriesargs04858022cd8%2fdirectoryapitestslistfilesanddirectoriesargs064273263e00%2fdirectoryapitestslistfilesanddirectoriesargs064273263e03",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15581347578553677299*8114634751575874941",
      "x-ms-file-id" : "16140971433240035328",
      "x-ms-file-creation-time" : "2019-09-04T21:06:01.5054687Z",
      "Last-Modified" : "Wed, 04 Sep 2019 21:06:01 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7317BB0E9A35F\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-04T21:06:01.5054687Z",
      "x-ms-file-parent-id" : "11529285414812647424",
      "x-ms-file-last-write-time" : "2019-09-04T21:06:01.5054687Z"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestslistfilesanddirectoriesargs0369233517e/directoryapitestslistfilesanddirectoriesargs04858022cd8%2fdirectoryapitestslistfilesanddirectoriesargs064273263e02",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15581347578553677299*8114634751575874941",
      "x-ms-file-id" : "9799903157902376960",
      "x-ms-file-creation-time" : "2019-09-04T21:06:02.9587884Z",
      "Last-Modified" : "Wed, 04 Sep 2019 21:06:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7317BB1C765AC\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-04T21:06:02.9587884Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-09-04T21:06:02.9587884Z"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestslistfilesanddirectoriesargs0369233517e/directoryapitestslistfilesanddirectoriesargs04858022cd8?restype=directory&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gapradev.file.core.windows.net/\" ShareName=\"directoryapitestslistfilesanddirectoriesargs0369233517e\" DirectoryPath=\"directoryapitestslistfilesanddirectoriesargs04858022cd8\"><Entries><Directory><Name>directoryapitestslistfilesanddirectoriesargs064273263e00</Name><Properties /></Directory><Directory><Name>directoryapitestslistfilesanddirectoriesargs064273263e01</Name><Properties /></Directory><File><Name>directoryapitestslistfilesanddirectoriesargs064273263e02</Name><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestslistfilesanddirectoriesargs0369233517e", "directoryapitestslistfilesanddirectoriesargs04858022cd8", "directoryapitestslistfilesanddirectoriesargs064273263e0" ]
}