{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/getdirectoryurldirectoryapitestsgetdirectoryurla3561353cc?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73191D5200DA2\"",
      "Last-Modified" : "Wed, 04 Sep 2019 23:44:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "getdirectoryurldirectoryapitestsgetdirectoryurla3561353cc", "getdirectoryurldirectoryapitestsgetdirectoryurla3588335b3" ]
}