{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listfilesanddirectoriesargs62967cc44b8c149cb45?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73191D87E1780\"",
      "Last-Modified" : "Wed, 04 Sep 2019 23:44:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listfilesanddirectoriesargs62967cc44b8c149cb45/listfilesanddirectoriesargs74510a6eaba5135bd4f?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T23:44:36.8968013Z",
      "Last-Modified" : "Wed, 04 Sep 2019 23:44:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D73191D887214D\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-04T23:44:36.8968013Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T23:44:36.8968013Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listfilesanddirectoriesargs62967cc44b8c149cb45/listfilesanddirectoriesargs74510a6eaba5135bd4f%2flistfilesanddirectoriesargs33099dea022d7bc96480?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "11529285414812647424",
      "x-ms-file-creation-time" : "2019-09-04T23:44:36.9358391Z",
      "Last-Modified" : "Wed, 04 Sep 2019 23:44:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D73191D88D1637\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-04T23:44:36.9358391Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-09-04T23:44:36.9358391Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listfilesanddirectoriesargs62967cc44b8c149cb45/listfilesanddirectoriesargs74510a6eaba5135bd4f%2flistfilesanddirectoriesargs33099dea022d7bc96480%2flistfilesanddirectoriesargs33099dea022d7bc96483",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "16140971433240035328",
      "x-ms-file-creation-time" : "2019-09-04T23:44:36.9948939Z",
      "Last-Modified" : "Wed, 04 Sep 2019 23:44:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D73191D896190B\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-04T23:44:36.9948939Z",
      "x-ms-file-parent-id" : "11529285414812647424",
      "x-ms-file-last-write-time" : "2019-09-04T23:44:36.9948939Z"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listfilesanddirectoriesargs62967cc44b8c149cb45/listfilesanddirectoriesargs74510a6eaba5135bd4f%2flistfilesanddirectoriesargs33099dea022d7bc96482",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "9799903157902376960",
      "x-ms-file-creation-time" : "2019-09-04T23:44:37.2431261Z",
      "Last-Modified" : "Wed, 04 Sep 2019 23:44:37 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D73191D8BBF99D\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-04T23:44:37.2431261Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-09-04T23:44:37.2431261Z"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listfilesanddirectoriesargs62967cc44b8c149cb45/listfilesanddirectoriesargs74510a6eaba5135bd4f?prefix=listfilesanddirectoriesargs33099dea022d7bc9648&restype=directory&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\" ShareName=\"listfilesanddirectoriesargs62967cc44b8c149cb45\" DirectoryPath=\"listfilesanddirectoriesargs74510a6eaba5135bd4f\"><Prefix>listfilesanddirectoriesargs33099dea022d7bc9648</Prefix><Entries><Directory><Name>listfilesanddirectoriesargs33099dea022d7bc96480</Name><Properties /></Directory><Directory><Name>listfilesanddirectoriesargs33099dea022d7bc96481</Name><Properties /></Directory><File><Name>listfilesanddirectoriesargs33099dea022d7bc96482</Name><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "listfilesanddirectoriesargs62967cc44b8c149cb45", "listfilesanddirectoriesargs74510a6eaba5135bd4f", "listfilesanddirectoriesargs33099dea022d7bc9648" ]
}