{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryasyncapitestsgetproperties53181411927aa36?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73250AE272FBC\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:30:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryasyncapitestsgetproperties53181411927aa36/directoryasyncapitestsgetproperties22522e64dec6304?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T22:30:39.7876214Z",
      "Last-Modified" : "Thu, 05 Sep 2019 22:30:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D73250AE37BFF6\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-05T22:30:39.7876214Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T22:30:39.7876214Z"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.file.core.windows.net/directoryasyncapitestsgetproperties53181411927aa36/directoryasyncapitestsgetproperties22522e64dec6304?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T22:30:39.7876214Z",
      "Last-Modified" : "Thu, 05 Sep 2019 22:30:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D73250AE37BFF6\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-05T22:30:39.7876214Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T22:30:39.7876214Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryasyncapitestsgetproperties53181411927aa36", "directoryasyncapitestsgetproperties22522e64dec6304" ]
}