{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestscreatedirectoryerror374711d1f1c?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258ED146387B\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestscreatedirectoryerror230374af66a/directoryasyncapitestscreatedirectoryerror059787394f9?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ShareNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareNotFound</Code><Message>The specified share does not exist.\nRequestId:6530f5f1-901a-013c-1d77-57c2f8000000\nTime:2019-08-20T16:52:42.4980471Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "directoryasyncapitestscreatedirectoryerror374711d1f1c", "directoryasyncapitestscreatedirectoryerror059787394f9", "directoryasyncapitestscreatedirectoryerror230374af66a" ]
}