{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestsgetdirectoryurl93064e3c8c2712?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258ED0E3B54B\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  } ],
  "variables" : [ "directoryasyncapitestsgetdirectoryurl93064e3c8c2712", "directoryasyncapitestsgetdirectoryurl885858bb7e2787" ]
}