{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryasyncapitestscreatedirwithfilepermkey8289545e0?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325BA635CF44\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:49:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryasyncapitestscreatedirwithfilepermkey8289545e0?restype=share&comp=filepermission",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15518056309741717644*8114634751575874941",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryasyncapitestscreatedirwithfilepermkey8289545e0/directoryasyncapitestscreatedirwithfilepermkey300182345?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "10570340844661901768*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T23:49:10.9640000Z",
      "Last-Modified" : "Thu, 05 Sep 2019 23:49:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7325BA64C3740\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-05T23:49:10.9640000Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T23:49:10.9640000Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryasyncapitestscreatedirwithfilepermkey8289545e0", "directoryasyncapitestscreatedirwithfilepermkey300182345", "2019-09-05T23:49:10.964Z", "2019-09-05T23:49:10.964Z" ]
}