{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createsubdirectorymetadataerror23915a7e8c01d03e4?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73191DB775333\"",
      "Last-Modified" : "Wed, 04 Sep 2019 23:44:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createsubdirectorymetadataerror23915a7e8c01d03e4/createsubdirectorymetadataerror179366086a419a90a?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T23:44:41.8624724Z",
      "Last-Modified" : "Wed, 04 Sep 2019 23:44:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D73191DB7CD4D4\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-04T23:44:41.8624724Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T23:44:41.8624724Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createsubdirectorymetadataerror23915a7e8c01d03e4/createsubdirectorymetadataerror179366086a419a90a%2ftestsubdirectory?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "EmptyMetadataKey",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>EmptyMetadataKey</Code><Message>The key for one of the metadata key-value pairs is empty.\nRequestId:78864ad3-901a-0137-1c7a-63da8c000000\nTime:2019-09-04T23:44:41.8944515Z</Message><MetadataValue>value</MetadataValue></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "createsubdirectorymetadataerror23915a7e8c01d03e4", "createsubdirectorymetadataerror179366086a419a90a" ]
}