{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestscreatedirectoryerror35758d831a735f?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDA2466E42\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:17:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestscreatedirectoryerror87804cf1584420/directoryapitestscreatedirectoryerror5729588185a1ce?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ShareNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareNotFound</Code><Message>The specified share does not exist.\nRequestId:d378edbd-a01a-013f-70a6-53c1ff000000\nTime:2019-08-15T20:17:45.1695212Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "directoryapitestscreatedirectoryerror35758d831a735f", "directoryapitestscreatedirectoryerror5729588185a1ce", "directoryapitestscreatedirectoryerror87804cf1584420" ]
}