{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestsgetfileclient366909f3e1ee4dd?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7519F65BAD860",
      "Last-Modified" : "Tue, 15 Oct 2019 18:42:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryasyncapitestsgetfileclient366909f3e1ee4dd", "directoryasyncapitestsgetfileclient772368e5df71574" ]
}