{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestsdeletefile21730628d8c84a3ce44?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EC064B484\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestsdeletefile21730628d8c84a3ce44/directoryapitestsdeletefile49426a473a9a0cedb4e?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EC06E4D91\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestsdeletefile21730628d8c84a3ce44/directoryapitestsdeletefile49426a473a9a0cedb4e%2ftestCreateFile",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EC074DEE8\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestsdeletefile21730628d8c84a3ce44/directoryapitestsdeletefile49426a473a9a0cedb4e%2ftestCreateFile",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "directoryapitestsdeletefile21730628d8c84a3ce44", "directoryapitestsdeletefile49426a473a9a0cedb4e" ]
}