{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestssetmetadata2143087a7313d0b334?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7317BAED3C559\"",
      "Last-Modified" : "Wed, 04 Sep 2019 21:05:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestssetmetadata2143087a7313d0b334/directoryapitestssetmetadata827949f58eb1282d54?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T21:05:58.0953734Z",
      "Last-Modified" : "Wed, 04 Sep 2019 21:05:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7317BAEE14C86\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-04T21:05:58.0953734Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T21:05:58.0953734Z"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestssetmetadata2143087a7313d0b334/directoryapitestssetmetadata827949f58eb1282d54?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T21:05:58.0953734Z",
      "Last-Modified" : "Wed, 04 Sep 2019 21:05:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D7317BAEE14C86\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-meta-testmetadata" : "value",
      "x-ms-file-change-time" : "2019-09-04T21:05:58.0953734Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T21:05:58.0953734Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestssetmetadata2143087a7313d0b334/directoryapitestssetmetadata827949f58eb1282d54?restype=directory&comp=metadata",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7317BAEF74AA7\"",
      "Last-Modified" : "Wed, 04 Sep 2019 21:05:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestssetmetadata2143087a7313d0b334/directoryapitestssetmetadata827949f58eb1282d54?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-meta-update" : "value",
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T21:05:58.0953734Z",
      "Last-Modified" : "Wed, 04 Sep 2019 21:05:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D7317BAEF74AA7\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-04T21:05:58.2395047Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T21:05:58.0953734Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestssetmetadata2143087a7313d0b334", "directoryapitestssetmetadata827949f58eb1282d54" ]
}