{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestsgetfileclient4621546d2ac079389?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDA212F5B2\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:17:44 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  } ],
  "variables" : [ "directoryapitestsgetfileclient4621546d2ac079389", "directoryapitestsgetfileclient34771dca48c9d1364" ]
}