{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestsgetfileclient885151a77299da5ec?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325B7B6C4F8F\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:47:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestsgetfileclient885151a77299da5ec", "directoryapitestsgetfileclient48896cfd8db9ead4a" ]
}