{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestslistfilesanddirectories72867da9a980?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDA3A98898\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:17:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestslistfilesanddirectories72867da9a980/directoryapitestslistfilesanddirectories50619a270559?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDA3B2CFE3\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:17:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestslistfilesanddirectories72867da9a980/directoryapitestslistfilesanddirectories50619a270559%2fdirectoryapitestslistfilesanddirectories65277494f7580?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDA3BCBD58\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:17:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestslistfilesanddirectories72867da9a980/directoryapitestslistfilesanddirectories50619a270559%2fdirectoryapitestslistfilesanddirectories65277494f7580%2fdirectoryapitestslistfilesanddirectories65277494f7583",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDA3C3C3F8\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:17:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestslistfilesanddirectories72867da9a980/directoryapitestslistfilesanddirectories50619a270559%2fdirectoryapitestslistfilesanddirectories65277494f7582",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDA3E6487F\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:17:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestslistfilesanddirectories72867da9a980/directoryapitestslistfilesanddirectories50619a270559?restype=directory&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\" ShareName=\"directoryapitestslistfilesanddirectories72867da9a980\" DirectoryPath=\"directoryapitestslistfilesanddirectories50619a270559\"><Entries><Directory><Name>directoryapitestslistfilesanddirectories65277494f7580</Name><Properties /></Directory><Directory><Name>directoryapitestslistfilesanddirectories65277494f7581</Name><Properties /></Directory><File><Name>directoryapitestslistfilesanddirectories65277494f7582</Name><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "directoryapitestslistfilesanddirectories72867da9a980", "directoryapitestslistfilesanddirectories50619a270559", "directoryapitestslistfilesanddirectories65277494f758" ]
}