{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestscreatedirectoryerrorwithmetadata30321b37?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325B7C4794B0\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:48:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestscreatedirectoryerrorwithmetadata30321b37/directoryapitestscreatedirectoryerrorwithmetadata852261d2?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-error-code" : "AuthenticationFailed",
      "retry-after" : "0",
      "StatusCode" : "403",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\nRequestId:07339b79-301a-000d-2e44-645aef000000\nTime:2019-09-05T23:48:00.5663209Z</Message><AuthenticationErrorDetail>The MAC signature found in the HTTP request 'fdceDpxLUq90lMfGTWkfSAzE2d8yHdba4QsT83HxD/o=' is not the same as any computed signature. Server used following string to sign: 'PUT\n\n\n\n\n\nThu, 05 Sep 2019 23:48:00 GMT\n\n\n\n\n\nx-ms-client-request-id:7504bec0-e80d-4a0c-8f35-a86c1fcf8875\nx-ms-file-attributes:None\nx-ms-file-creation-time:Now\nx-ms-file-last-write-time:Now\nx-ms-file-permission:Inherit\nx-ms-meta-testmeta:value\nx-ms-version:2019-02-02\n/gapradev/directoryapitestscreatedirectoryerrorwithmetadata30321b37/directoryapitestscreatedirectoryerrorwithmetadata852261d2\nrestype:directory'.</AuthenticationErrorDetail></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestscreatedirectoryerrorwithmetadata30321b37", "directoryapitestscreatedirectoryerrorwithmetadata852261d2" ]
}