{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestssetpropertiesfilepermissionkey78390d279?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7317BAE2BEBB8\"",
      "Last-Modified" : "Wed, 04 Sep 2019 21:05:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestssetpropertiesfilepermissionkey78390d279/directoryapitestssetpropertiesfilepermissionkey72527a2f1?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T21:05:57.0123904Z",
      "Last-Modified" : "Wed, 04 Sep 2019 21:05:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7317BAE3C0C80\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-04T21:05:57.0123904Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T21:05:57.0123904Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestssetpropertiesfilepermissionkey78390d279/directoryapitestssetpropertiesfilepermissionkey72527a2f1?restype=directory&comp=properties",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T21:05:55.8568139Z",
      "Last-Modified" : "Wed, 04 Sep 2019 21:05:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7317BAE4907D9\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-04T21:05:57.0974681Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T21:05:55.8568139Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestssetpropertiesfilepermissionkey78390d279", "directoryapitestssetpropertiesfilepermissionkey72527a2f1", "2019-09-04T21:05:55.856813900Z", "2019-09-04T21:05:55.856813900Z" ]
}