{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestscreatesubdirectory19777f69279a44b?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7317BB65C3366\"",
      "Last-Modified" : "Wed, 04 Sep 2019 21:06:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestscreatesubdirectory19777f69279a44b/directoryapitestscreatesubdirectory41623615bf9dcec?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T21:06:10.7298421Z",
      "Last-Modified" : "Wed, 04 Sep 2019 21:06:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7317BB6692A75\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-04T21:06:10.7298421Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T21:06:10.7298421Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestscreatesubdirectory19777f69279a44b/directoryapitestscreatesubdirectory41623615bf9dcec%2ftestCreateSubDirectory?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "11529285414812647424",
      "x-ms-file-creation-time" : "2019-09-04T21:06:10.8189229Z",
      "Last-Modified" : "Wed, 04 Sep 2019 21:06:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7317BB676C22D\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-04T21:06:10.8189229Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-09-04T21:06:10.8189229Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestscreatesubdirectory19777f69279a44b", "directoryapitestscreatesubdirectory41623615bf9dcec" ]
}