{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestssetmetadata30007d1762fe563284?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDA35252C7\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:17:46 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestssetmetadata30007d1762fe563284/directoryapitestssetmetadata819164152b213df9f4?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDA359284B\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:17:46 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestssetmetadata30007d1762fe563284/directoryapitestssetmetadata819164152b213df9f4?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-server-encrypted" : "true",
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDA359284B\"",
      "x-ms-meta-testmetadata" : "value",
      "Last-Modified" : "Thu, 15 Aug 2019 20:17:46 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestssetmetadata30007d1762fe563284/directoryapitestssetmetadata819164152b213df9f4?restype=directory&comp=metadata",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDA365D590\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:17:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestssetmetadata30007d1762fe563284/directoryapitestssetmetadata819164152b213df9f4?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-server-encrypted" : "true",
      "x-ms-meta-update" : "value",
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDA365D590\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:17:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    }
  } ],
  "variables" : [ "directoryapitestssetmetadata30007d1762fe563284", "directoryapitestssetmetadata819164152b213df9f4" ]
}