{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestscreatefilemaxoverloadinvalidargs391656ce?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325B896FAD3E\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:48:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestscreatefilemaxoverloadinvalidargs391656ce/directoryapitestscreatefilemaxoverloadinvalidargs398672e4?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T23:48:22.6440603Z",
      "Last-Modified" : "Thu, 05 Sep 2019 23:48:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7325B897F2D9B\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-05T23:48:22.6440603Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T23:48:22.6440603Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestscreatefilemaxoverloadinvalidargs391656ce/directoryapitestscreatefilemaxoverloadinvalidargs398672e4%2ffileName",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "EmptyMetadataKey",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>EmptyMetadataKey</Code><Message>The key for one of the metadata key-value pairs is empty.\nRequestId:07339cef-301a-000d-6044-645aef000000\nTime:2019-09-05T23:48:22.7304741Z</Message><MetadataValue>value</MetadataValue></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestscreatefilemaxoverloadinvalidargs391656ce", "directoryapitestscreatefilemaxoverloadinvalidargs398672e4" ]
}