{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/directoryasyncapitestsgetsharename736492dc4cfa440?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73BFFAB196A1A\"",
      "Last-Modified" : "Wed, 18 Sep 2019 06:15:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryasyncapitestsgetsharename736492dc4cfa440", "directoryasyncapitestsgetsharename65676cdc521ec7d" ]
}