{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryasyncapitestssetmetadataerror6770062b78ebd?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7317BD462C2C3\"",
      "Last-Modified" : "Wed, 04 Sep 2019 21:07:01 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryasyncapitestssetmetadataerror6770062b78ebd/directoryasyncapitestssetmetadataerror347924df3734d?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T21:07:01.1065618Z",
      "Last-Modified" : "Wed, 04 Sep 2019 21:07:01 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7317BD4700B12\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-04T21:07:01.1065618Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T21:07:01.1065618Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryasyncapitestssetmetadataerror6770062b78ebd/directoryasyncapitestssetmetadataerror347924df3734d?restype=directory&comp=metadata",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "EmptyMetadataKey",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>EmptyMetadataKey</Code><Message>The key for one of the metadata key-value pairs is empty.\nRequestId:caec61d8-c01a-0019-5864-631280000000\nTime:2019-09-04T21:07:01.1865216Z</Message><MetadataValue>value</MetadataValue></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryasyncapitestssetmetadataerror6770062b78ebd", "directoryasyncapitestssetmetadataerror347924df3734d" ]
}