{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestscreatesubdirectory592002594520?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258ED3D9B86D\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:46 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestscreatesubdirectory592002594520/directoryasyncapitestscreatesubdirectory42540d9d9ccc?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258ED3EF8687\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:46 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestscreatesubdirectory592002594520/directoryasyncapitestscreatesubdirectory42540d9d9ccc%2ftestCreateSubDirectory?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258ED3F9E953\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:46 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  } ],
  "variables" : [ "directoryasyncapitestscreatesubdirectory592002594520", "directoryasyncapitestscreatesubdirectory42540d9d9ccc" ]
}