{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestsdeletesubdirectoryerror02997e4c23ab?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D732508E364CD2\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:29:46 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestsdeletesubdirectoryerror02997e4c23ab/directoryapitestsdeletesubdirectoryerror896295f36f05?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T22:29:46.1992737Z",
      "Last-Modified" : "Thu, 05 Sep 2019 22:29:46 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D732508E46D121\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-05T22:29:46.1992737Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T22:29:46.1992737Z"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestsdeletesubdirectoryerror02997e4c23ab/directoryapitestsdeletesubdirectoryerror896295f36f05%2ftestsubdirectory?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "ResourceNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\nRequestId:a60ab464-101a-0035-1c39-64fe2f000000\nTime:2019-09-05T22:29:46.2910316Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestsdeletesubdirectoryerror02997e4c23ab", "directoryapitestsdeletesubdirectoryerror896295f36f05" ]
}