{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestscreatedirectory1359046d5f5b4d4b?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7317BAB7F18EE\"",
      "Last-Modified" : "Wed, 04 Sep 2019 21:05:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestscreatedirectory1359046d5f5b4d4b/directoryapitestscreatedirectory58225cd77f236693?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T21:05:52.5123057Z",
      "Last-Modified" : "Wed, 04 Sep 2019 21:05:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7317BAB8D63F1\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-04T21:05:52.5123057Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T21:05:52.5123057Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestscreatedirectory1359046d5f5b4d4b", "directoryapitestscreatedirectory58225cd77f236693" ]
}