{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/getfileclientdirectoryapitestsgetfileclient27f78350d404?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73191D5A78786\"",
      "Last-Modified" : "Wed, 04 Sep 2019 23:44:32 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "getfileclientdirectoryapitestsgetfileclient27f78350d404", "getfileclientdirectoryapitestsgetfileclient27f8379022c2" ]
}