{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryasyncapitestssetpropertieserror910905c46422?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325BA81F77C7\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:49:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryasyncapitestssetpropertieserror910905c46422/directoryasyncapitestssetpropertieserror673311bea328?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T23:49:14.1244001Z",
      "Last-Modified" : "Thu, 05 Sep 2019 23:49:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7325BA82E7461\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-05T23:49:14.1244001Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T23:49:14.1244001Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryasyncapitestssetpropertieserror910905c46422", "directoryasyncapitestssetpropertieserror673311bea328" ]
}