{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestscreatesubdirectorymetadata02084ff390e?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325B858E52BF\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:48:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestscreatesubdirectorymetadata02084ff390e/directoryapitestscreatesubdirectorymetadata43354110efa?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T23:48:16.1408926Z",
      "Last-Modified" : "Thu, 05 Sep 2019 23:48:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7325B859EDF9E\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-05T23:48:16.1408926Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T23:48:16.1408926Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestscreatesubdirectorymetadata02084ff390e/directoryapitestscreatesubdirectorymetadata43354110efa%2ftestCreateSubDirectory?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "11529285414812647424",
      "x-ms-file-creation-time" : "2019-09-05T23:48:16.2368939Z",
      "Last-Modified" : "Thu, 05 Sep 2019 23:48:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7325B85AD85AB\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-05T23:48:16.2368939Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-09-05T23:48:16.2368939Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestscreatesubdirectorymetadata02084ff390e", "directoryapitestscreatesubdirectorymetadata43354110efa" ]
}