{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestsgetproperties673664f8999b758?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258ED1EB04E8\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestsgetproperties673664f8999b758/directoryasyncapitestsgetproperties030623ad894017d?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258ED1F0A032\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestsgetproperties673664f8999b758/directoryasyncapitestsgetproperties030623ad894017d?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-server-encrypted" : "true",
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258ED1F0A032\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    }
  } ],
  "variables" : [ "directoryasyncapitestsgetproperties673664f8999b758", "directoryasyncapitestsgetproperties030623ad894017d" ]
}