{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestsdeletesubdirectoryerror923859769c7b?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EBA128218\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:03 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestsdeletesubdirectoryerror923859769c7b/directoryapitestsdeletesubdirectoryerror736306468f56?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EBA158164\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:03 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestsdeletesubdirectoryerror923859769c7b/directoryapitestsdeletesubdirectoryerror736306468f56%2ftestsubdirectory?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ResourceNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\nRequestId:d63390a8-b01a-002f-1e77-57b14c000000\nTime:2019-08-20T16:52:03.4314103Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "directoryapitestsdeletesubdirectoryerror923859769c7b", "directoryapitestsdeletesubdirectoryerror736306468f56" ]
}