{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryasyncapitestsgetsnapshotid1934158eac63c13?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325BB30250D7\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:49:32 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryasyncapitestsgetsnapshotid1934158eac63c13", "directoryasyncapitestsgetsnapshotid81404ca755d0b19" ]
}