{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestsgetsnapshotid0915668a02e323a58?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7317BBB27541F\"",
      "Last-Modified" : "Wed, 04 Sep 2019 21:06:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestsgetsnapshotid0915668a02e323a58", "directoryapitestsgetsnapshotid954575ca7b4fed5e9" ]
}