{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryasyncapitestscreatedirectoryerrorwithmetadata62422?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325BA5B3F4DD\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:49:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryasyncapitestscreatedirectoryerrorwithmetadata62422/directoryasyncapitestscreatedirectoryerrorwithmetadata98530?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-error-code" : "AuthenticationFailed",
      "retry-after" : "0",
      "StatusCode" : "403",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\nRequestId:36c45b3b-601a-0000-3a44-64923b000000\nTime:2019-09-05T23:49:10.1721553Z</Message><AuthenticationErrorDetail>The MAC signature found in the HTTP request 'WCYVzYpzy1gxV4siXE0zCleTDhjVtER9bmtWHyugB5c=' is not the same as any computed signature. Server used following string to sign: 'PUT\n\n\n\n\n\nThu, 05 Sep 2019 23:49:10 GMT\n\n\n\n\n\nx-ms-client-request-id:b4afface-6fba-4e8f-a1f7-62b6c1369d3a\nx-ms-file-attributes:None\nx-ms-file-creation-time:Now\nx-ms-file-last-write-time:Now\nx-ms-file-permission:Inherit\nx-ms-meta-testmeta:value\nx-ms-version:2019-02-02\n/gapradev/directoryasyncapitestscreatedirectoryerrorwithmetadata62422/directoryasyncapitestscreatedirectoryerrorwithmetadata98530\nrestype:directory'.</AuthenticationErrorDetail></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryasyncapitestscreatedirectoryerrorwithmetadata62422", "directoryasyncapitestscreatedirectoryerrorwithmetadata98530" ]
}