{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestsgetpropertieserror460251c932f2199?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73250858426DC\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:29:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestsgetpropertieserror460251c932f2199/directoryapitestsgetpropertieserror20577926ffa15c0?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "ResourceNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\nRequestId:a60ab390-101a-0035-7639-64fe2f000000\nTime:2019-09-05T22:29:31.6027449Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestsgetpropertieserror460251c932f2199", "directoryapitestsgetpropertieserror20577926ffa15c0" ]
}