{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestsdeletefile845289f963f25e98d4f?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDB594BC20\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:18:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestsdeletefile845289f963f25e98d4f/directoryapitestsdeletefile61592b432221ab0f94f?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDB59C4CF6\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:18:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestsdeletefile845289f963f25e98d4f/directoryapitestsdeletefile61592b432221ab0f94f%2ftestCreateFile",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDB5A30557\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:18:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestsdeletefile845289f963f25e98d4f/directoryapitestsdeletefile61592b432221ab0f94f%2ftestCreateFile",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "directoryapitestsdeletefile845289f963f25e98d4f", "directoryapitestsdeletefile61592b432221ab0f94f" ]
}