{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestscreatedirectory39849b1ef80b4cda?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EB5FE9640\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:51:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestscreatedirectory39849b1ef80b4cda/directoryapitestscreatedirectory79276cdda53fdf3a?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EB602A0E9\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:51:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  } ],
  "variables" : [ "directoryapitestscreatedirectory39849b1ef80b4cda", "directoryapitestscreatedirectory79276cdda53fdf3a" ]
}