{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/deletedirectory49242b8dabbb3c72e4880ab38?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73191E1316ED8\"",
      "Last-Modified" : "Wed, 04 Sep 2019 23:44:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/deletedirectory49242b8dabbb3c72e4880ab38/deletedirectory341651d9647ee98d349e99605?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T23:44:51.4955283Z",
      "Last-Modified" : "Wed, 04 Sep 2019 23:44:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D73191E13AB813\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-04T23:44:51.4955283Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T23:44:51.4955283Z"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/deletedirectory49242b8dabbb3c72e4880ab38/deletedirectory341651d9647ee98d349e99605?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "deletedirectory49242b8dabbb3c72e4880ab38", "deletedirectory341651d9647ee98d349e99605" ]
}