{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryasyncapitestscreatesubdirectoryfilepermkey2739696?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7317BD9E7E543\"",
      "Last-Modified" : "Wed, 04 Sep 2019 21:07:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryasyncapitestscreatesubdirectoryfilepermkey2739696/directoryasyncapitestscreatesubdirectoryfilepermkey29199d5?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T21:07:10.3679679Z",
      "Last-Modified" : "Wed, 04 Sep 2019 21:07:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7317BD9F538BF\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-04T21:07:10.3679679Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T21:07:10.3679679Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryasyncapitestscreatesubdirectoryfilepermkey2739696/directoryasyncapitestscreatesubdirectoryfilepermkey29199d5%2ftestCreateSubDirectory?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "11529285414812647424",
      "x-ms-file-creation-time" : "2019-09-04T21:07:09.2137422Z",
      "Last-Modified" : "Wed, 04 Sep 2019 21:07:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7317BD94519CE\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-04T21:07:09.2137422Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-09-04T21:07:09.2137422Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryasyncapitestscreatesubdirectoryfilepermkey2739696", "directoryasyncapitestscreatesubdirectoryfilepermkey29199d5", "2019-09-04T21:07:09.213742200Z", "2019-09-04T21:07:09.213742200Z" ]
}