{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestsgetsubdirectoryclient699418d61cd15?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDA1F9C244\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:17:44 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  } ],
  "variables" : [ "directoryapitestsgetsubdirectoryclient699418d61cd15", "directoryapitestsgetsubdirectoryclient35108c11d6fb2" ]
}