{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestscreatefilemaxoverloadinvalidargs335878d2?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D730D966E89147\"",
      "Last-Modified" : "Wed, 04 Sep 2019 01:44:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestscreatefilemaxoverloadinvalidargs335878d2/directoryapitestscreatefilemaxoverloadinvalidargs3611861d?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T01:44:18.9153700Z",
      "Last-Modified" : "Wed, 04 Sep 2019 01:44:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D730D966EE71A4\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-04T01:44:18.9153700Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T01:44:18.9153700Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestscreatefilemaxoverloadinvalidargs335878d2/directoryapitestscreatefilemaxoverloadinvalidargs3611861d%2ffileName",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "EmptyMetadataKey",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>EmptyMetadataKey</Code><Message>The key for one of the metadata key-value pairs is empty.\nRequestId:e7c18ba2-101a-0044-5bc2-62ec1a000000\nTime:2019-09-04T01:44:18.9479248Z</Message><MetadataValue>value</MetadataValue></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestscreatefilemaxoverloadinvalidargs335878d2", "directoryapitestscreatefilemaxoverloadinvalidargs3611861d" ]
}