{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestsgetdirectorypath3090350cd3befff9?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7519F65515C8F",
      "Last-Modified" : "Tue, 15 Oct 2019 18:42:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestsgetdirectorypath3090350cd3befff9", "directoryapitestsgetdirectorypath199142f99269be2f" ]
}