{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestscreatesubdirectorymetadataerror4968316b?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EB9C9F5E9\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestscreatesubdirectorymetadataerror4968316b/directoryapitestscreatesubdirectorymetadataerror76007730?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EB9CF8D7A\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestscreatesubdirectorymetadataerror4968316b/directoryapitestscreatesubdirectorymetadataerror76007730%2ftestsubdirectory?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "EmptyMetadataKey",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>EmptyMetadataKey</Code><Message>The key for one of the metadata key-value pairs is empty.\nRequestId:d633909b-b01a-002f-1377-57b14c000000\nTime:2019-08-20T16:52:02.9779826Z</Message><MetadataValue>value</MetadataValue></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "directoryapitestscreatesubdirectorymetadataerror4968316b", "directoryapitestscreatesubdirectorymetadataerror76007730" ]
}