{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestslistfilesanddirectoriesargs041347c4?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D725945E893997\"",
      "Last-Modified" : "Tue, 20 Aug 2019 17:32:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestslistfilesanddirectoriesargs041347c4/directoryasyncapitestslistfilesanddirectoriesargs01823274?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-08-20T17:32:27.5833265Z",
      "Last-Modified" : "Tue, 20 Aug 2019 17:32:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D725945F0609B1\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-08-20T17:32:27.5833265Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-08-20T17:32:27.5833265Z"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestslistfilesanddirectoriesargs041347c4/directoryasyncapitestslistfilesanddirectoriesargs01823274%2fdirectoryasyncapitestslistfilesanddirectoriesargs053073ee0?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "11529285414812647424",
      "x-ms-file-creation-time" : "2019-08-20T17:32:27.9386721Z",
      "Last-Modified" : "Tue, 20 Aug 2019 17:32:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D725945F3C4261\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-08-20T17:32:27.9386721Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-08-20T17:32:27.9386721Z"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestslistfilesanddirectoriesargs041347c4/directoryasyncapitestslistfilesanddirectoriesargs01823274%2fdirectoryasyncapitestslistfilesanddirectoriesargs053073ee0%2fdirectoryasyncapitestslistfilesanddirectoriesargs053073ee3",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "16140971433240035328",
      "x-ms-file-creation-time" : "2019-08-20T17:32:28.0127441Z",
      "Last-Modified" : "Tue, 20 Aug 2019 17:32:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D725945F478FD1\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-08-20T17:32:28.0127441Z",
      "x-ms-file-parent-id" : "11529285414812647424",
      "x-ms-file-last-write-time" : "2019-08-20T17:32:28.0127441Z"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestslistfilesanddirectoriesargs041347c4/directoryasyncapitestslistfilesanddirectoriesargs01823274%2fdirectoryasyncapitestslistfilesanddirectoriesargs053073ee2",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "9799903157902376960",
      "x-ms-file-creation-time" : "2019-08-20T17:32:28.2249502Z",
      "Last-Modified" : "Tue, 20 Aug 2019 17:32:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D725945F67F11E\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-08-20T17:32:28.2249502Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-08-20T17:32:28.2249502Z"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestslistfilesanddirectoriesargs041347c4/directoryasyncapitestslistfilesanddirectoriesargs01823274?prefix=directoryasyncapitestslistfilesanddirectoriesargs&restype=directory&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\" ShareName=\"directoryasyncapitestslistfilesanddirectoriesargs041347c4\" DirectoryPath=\"directoryasyncapitestslistfilesanddirectoriesargs01823274\"><Prefix>directoryasyncapitestslistfilesanddirectoriesargs</Prefix><Entries><Directory><Name>directoryasyncapitestslistfilesanddirectoriesargs053073ee0</Name><Properties /></Directory><Directory><Name>directoryasyncapitestslistfilesanddirectoriesargs053073ee1</Name><Properties /></Directory><File><Name>directoryasyncapitestslistfilesanddirectoriesargs053073ee2</Name><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "directoryasyncapitestslistfilesanddirectoriesargs041347c4", "directoryasyncapitestslistfilesanddirectoriesargs01823274", "directoryasyncapitestslistfilesanddirectoriesargs053073ee" ]
}