{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestscreatefile26735d5af9c8e40f64a?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDA7A6B3FD\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:17:54 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestscreatefile26735d5af9c8e40f64a/directoryapitestscreatefile07661cc3bb856416649?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDA7AD1463\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:17:54 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestscreatefile26735d5af9c8e40f64a/directoryapitestscreatefile07661cc3bb856416649%2ftestCreateFile",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDA7B3577A\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:17:54 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  } ],
  "variables" : [ "directoryapitestscreatefile26735d5af9c8e40f64a", "directoryapitestscreatefile07661cc3bb856416649" ]
}