{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestslisthandleserror52052be4912134b3?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72829C29DDAED\"",
      "Last-Modified" : "Sat, 24 Aug 2019 00:26:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestslisthandleserror52052be4912134b3/directoryapitestslisthandleserror5386395775529ac6?comp=listhandles",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "ResourceNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\nRequestId:799c295f-e01a-00d9-5d12-5a965a000000\nTime:2019-08-24T00:26:52.1180830Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestslisthandleserror52052be4912134b3", "directoryapitestslisthandleserror5386395775529ac6" ]
}