{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/directoryapitestsgetsubdirectoryclient64786ada7cd83?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7317BAB37AF69\"",
      "Last-Modified" : "Wed, 04 Sep 2019 21:05:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestsgetsubdirectoryclient64786ada7cd83", "directoryapitestsgetsubdirectoryclient52648f23bfc8d" ]
}