{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileserviceapitestslistshareswithargs228200edd38a1a0?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72829E456EAA9\"",
      "Last-Modified" : "Sat, 24 Aug 2019 00:27:48 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileserviceapitestslistshareswithargs228200edd38a1a2?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-08-24T00:27:48.0000000Z",
      "ETag" : "\"0x8D72829E46322A9\"",
      "Last-Modified" : "Sat, 24 Aug 2019 00:27:48 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=fileserviceapitestslistshareswithargs&include=metadata%2csnapshots&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>fileserviceapitestslistshareswithargs</Prefix><Shares><Share><Name>fileserviceapitestslistshareswithargs228200edd38a1a0</Name><Properties><Last-Modified>Sat, 24 Aug 2019 00:27:48 GMT</Last-Modified><Etag>\"0x8D72829E456EAA9\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>fileserviceapitestslistshareswithargs228200edd38a1a1</Name><Properties><Last-Modified>Sat, 24 Aug 2019 00:27:48 GMT</Last-Modified><Etag>\"0x8D72829E45D2DCC\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>fileserviceapitestslistshareswithargs228200edd38a1a2</Name><Snapshot>2019-08-24T00:27:48.0000000Z</Snapshot><Properties><Last-Modified>Sat, 24 Aug 2019 00:27:48 GMT</Last-Modified><Etag>\"0x8D72829E46322A9\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>fileserviceapitestslistshareswithargs228200edd38a1a2</Name><Properties><Last-Modified>Sat, 24 Aug 2019 00:27:48 GMT</Last-Modified><Etag>\"0x8D72829E46322A9\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileserviceapitestslistshareswithargs228200edd38a1a" ]
}