{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestslistranges28137a6a2034eb3b242?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72829D87E5A33\"",
      "Last-Modified" : "Sat, 24 Aug 2019 00:27:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestslistranges28137a6a2034eb3b242/fileasyncapitestslistranges425301245fd1523e846",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-08-24T00:27:28.7640544Z",
      "Last-Modified" : "Sat, 24 Aug 2019 00:27:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D72829D885EDE0\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-08-24T00:27:28.7640544Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-08-24T00:27:28.7640544Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestslistranges28137a6a2034eb3b242/fileasyncapitestslistranges425301245fd1523e846?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72829D88FDB5D\"",
      "Last-Modified" : "Sat, 24 Aug 2019 00:27:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "DzQ7CTESaiDxM9Z8KwGKOw=="
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestslistranges28137a6a2034eb3b242/fileasyncapitestslistranges425301245fd1523e846?comp=rangelist",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-length" : "1024",
      "Last-Modified" : "Sat, 24 Aug 2019 00:27:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"0x8D72829D88FDB5D\"",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges><Range><Start>0</Start><End>1023</End></Range></Ranges>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestslistranges28137a6a2034eb3b242", "fileasyncapitestslistranges425301245fd1523e846", "filefileasyncapitestslistranges6364323652fc6dc323" ]
}