{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsgetpropertieserror46147a2c97c397a?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EC370B849\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsgetpropertieserror46147a2c97c397a/fileasyncapitestsgetpropertieserror60974ef9d1662f0",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ResourceNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    }
  } ],
  "variables" : [ "fileasyncapitestsgetpropertieserror46147a2c97c397a", "fileasyncapitestsgetpropertieserror60974ef9d1662f0" ]
}