{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadandclearrangewithargs73365bbcbf751?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D727E8B774CEF6\"",
      "Last-Modified" : "Fri, 23 Aug 2019 16:41:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadandclearrangewithargs73365bbcbf751/fileapitestsuploadandclearrangewithargs26578be73b11c",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-08-23T16:41:16.2407800Z",
      "Last-Modified" : "Fri, 23 Aug 2019 16:41:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D727E8B7999B78\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-08-23T16:41:16.2407800Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-08-23T16:41:16.2407800Z"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadandclearrangewithargs73365bbcbf751/fileapitestsuploadandclearrangewithargs26578be73b11c?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D727E8B7CE4D11\"",
      "Last-Modified" : "Fri, 23 Aug 2019 16:41:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "A5momLrihyOacM8O00uT1g=="
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadandclearrangewithargs73365bbcbf751/fileapitestsuploadandclearrangewithargs26578be73b11c",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-08-23T16:41:16.2407800Z",
      "Content-Range" : "bytes 1-7/22",
      "Last-Modified" : "Fri, 23 Aug 2019 16:41:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "206",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "\"0x8D727E8B7EC63C8\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-08-23T16:41:16.2407800Z",
      "x-ms-file-parent-id" : "0",
      "Body" : "\u0000\u0000\u0000\u0000\u0000\u0000\u0000",
      "x-ms-file-last-write-time" : "2019-08-23T16:41:16.2407800Z",
      "Content-Type" : "application/octet-stream"
    }
  } ],
  "variables" : [ "fileapitestsuploadandclearrangewithargs73365bbcbf751", "fileapitestsuploadandclearrangewithargs26578be73b11c" ]
}