{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileserviceasyncapitestslistshareswithargs251667aa23da0?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDC9BD4AA0\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:18:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileserviceasyncapitestslistshareswithargs251667aa23da2?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-snapshot" : "2019-08-15T20:18:51.0000000Z",
      "ETag" : "\"0x8D721BDC9CA9450\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:18:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=fileserviceasyncapitestslistshareswithargs&include=metadata%2csnapshots&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>fileserviceasyncapitestslistshareswithargs</Prefix><Shares><Share><Name>fileserviceasyncapitestslistshareswithargs251667aa23da0</Name><Properties><Last-Modified>Thu, 15 Aug 2019 20:18:51 GMT</Last-Modified><Etag>\"0x8D721BDC9BD4AA0\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>fileserviceasyncapitestslistshareswithargs251667aa23da1</Name><Properties><Last-Modified>Thu, 15 Aug 2019 20:18:51 GMT</Last-Modified><Etag>\"0x8D721BDC9C4C68A\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>fileserviceasyncapitestslistshareswithargs251667aa23da2</Name><Snapshot>2019-08-15T20:18:51.0000000Z</Snapshot><Properties><Last-Modified>Thu, 15 Aug 2019 20:18:51 GMT</Last-Modified><Etag>\"0x8D721BDC9CA9450\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>fileserviceasyncapitestslistshareswithargs251667aa23da2</Name><Properties><Last-Modified>Thu, 15 Aug 2019 20:18:51 GMT</Last-Modified><Etag>\"0x8D721BDC9CA9450\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "fileserviceasyncapitestslistshareswithargs251667aa23da" ]
}