{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsgetsnapshotid12365c6de26f4f3ca?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7519F82A15FA0",
      "Last-Modified" : "Tue, 15 Oct 2019 18:43:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestsgetsnapshotid12365c6de26f4f3ca", "fileasyncapitestsgetsnapshotid4420330e41d070f2d" ]
}