{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestsgetpropertieserror96068f91ad0f26993?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325B6B9346A4\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:47:32 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestsgetpropertieserror96068f91ad0f26993/fileapitestsgetpropertieserror34128e5d2a31637b7",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "ResourceNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestsgetpropertieserror96068f91ad0f26993", "fileapitestsgetpropertieserror34128e5d2a31637b7" ]
}