{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileserviceapitestslistshareswithfilter25986983766fd0?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDBCAE1C1D\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:18:29 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=fileserviceapitestslistshareswithfilter&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>fileserviceapitestslistshareswithfilter</Prefix><Shares><Share><Name>fileserviceapitestslistshareswithfilter25986983766fd0</Name><Properties><Last-Modified>Thu, 15 Aug 2019 20:18:29 GMT</Last-Modified><Etag>\"0x8D721BDBCAE1C1D\"</Etag><Quota>1</Quota></Properties></Share><Share><Name>fileserviceapitestslistshareswithfilter25986983766fd1</Name><Properties><Last-Modified>Thu, 15 Aug 2019 20:18:29 GMT</Last-Modified><Etag>\"0x8D721BDBCB4864D\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>fileserviceapitestslistshareswithfilter25986983766fd2</Name><Properties><Last-Modified>Thu, 15 Aug 2019 20:18:29 GMT</Last-Modified><Etag>\"0x8D721BDBCBB8CE4\"</Etag><Quota>3</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "fileserviceapitestslistshareswithfilter25986983766fd" ]
}