{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestsuploadanddownloadfileexists0329111f6c389?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325B68E822C2\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:47:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestsuploadanddownloadfileexists0329111f6c389/fileapitestsuploadanddownloadfileexists886809c2e8a51",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15581347578553677299*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T23:47:28.0886415Z",
      "Last-Modified" : "Thu, 05 Sep 2019 23:47:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7325B68FAAE8F\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-05T23:47:28.0886415Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T23:47:28.0886415Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestsuploadanddownloadfileexists0329111f6c389/fileapitestsuploadanddownloadfileexists886809c2e8a51?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325B69097B9C\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:47:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "SBhvnLsTIqH+vn9SjVscdA=="
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestsuploadanddownloadfileexists0329111f6c389", "fileapitestsuploadanddownloadfileexists886809c2e8a51" ]
}