{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploadanddownloadfileexists06452f18a7?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72B3D2401848C\"",
      "Last-Modified" : "Tue, 27 Aug 2019 22:23:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploadanddownloadfileexists06452f18a7/fileasyncapitestsuploadanddownloadfileexists89317c161d",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-08-27T22:23:09.5813638Z",
      "Last-Modified" : "Tue, 27 Aug 2019 22:23:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D72B3D2427FA06\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-08-27T22:23:09.5813638Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-08-27T22:23:09.5813638Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploadanddownloadfileexists06452f18a7/fileasyncapitestsuploadanddownloadfileexists89317c161d?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72B3D243A26CA\"",
      "Last-Modified" : "Tue, 27 Aug 2019 22:23:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "SBhvnLsTIqH+vn9SjVscdA=="
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestsuploadanddownloadfileexists06452f18a7", "fileasyncapitestsuploadanddownloadfileexists89317c161d" ]
}