{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestscreatefileerror524107c3f48321f4?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EC1086DD6\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestscreatefileerror524107c3f48321f4/fileasyncapitestscreatefileerror68599b215cae99c4",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "OutOfRangeInput",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>OutOfRangeInput</Code><Message>The file size exceeds the maximum permissible limit.\nRequestId:249cbbc4-e01a-005a-1077-5736f7000000\nTime:2019-08-20T16:52:15.0783369Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "fileasyncapitestscreatefileerror524107c3f48321f4", "fileasyncapitestscreatefileerror68599b215cae99c4" ]
}