{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/getfileurlfileasyncapitestsgetfileurl182985589dafffc?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73191EF6EC514\"",
      "Last-Modified" : "Wed, 04 Sep 2019 23:45:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "getfileurlfileasyncapitestsgetfileurl182985589dafffc", "getfileurlfileasyncapitestsgetfileurl18241702572dadb" ]
}