{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileasyncapitestscreatefile17385a7d4ed4cef674e?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7317BBB728E5A\"",
      "Last-Modified" : "Wed, 04 Sep 2019 21:06:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestscreatefile17385a7d4ed4cef674e", "fileasyncapitestscreatefile04826c54e560518e345" ]
}