{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/setmetadatafileasyncapitestssetmetadata0b2361010ac894?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73191F1FACC27\"",
      "Last-Modified" : "Wed, 04 Sep 2019 23:45:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/setmetadatafileasyncapitestssetmetadata0b2361010ac894/setmetadatafileasyncapitestssetmetadata0b244244034118",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T23:45:19.6338667Z",
      "Last-Modified" : "Wed, 04 Sep 2019 23:45:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D73191F20049EB\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-04T23:45:19.6338667Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T23:45:19.6338667Z"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/setmetadatafileasyncapitestssetmetadata0b2361010ac894/setmetadatafileasyncapitestssetmetadata0b244244034118",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T23:45:19.6338667Z",
      "Last-Modified" : "Wed, 04 Sep 2019 23:45:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "\"0x8D73191F20049EB\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-meta-testmetadata" : "value",
      "x-ms-file-change-time" : "2019-09-04T23:45:19.6338667Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T23:45:19.6338667Z",
      "Content-Language" : "en",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/setmetadatafileasyncapitestssetmetadata0b2361010ac894/setmetadatafileasyncapitestssetmetadata0b244244034118?comp=metadata",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73191F20C81D6\"",
      "Last-Modified" : "Wed, 04 Sep 2019 23:45:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/setmetadatafileasyncapitestssetmetadata0b2361010ac894/setmetadatafileasyncapitestssetmetadata0b244244034118",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-meta-update" : "value",
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T23:45:19.6338667Z",
      "Last-Modified" : "Wed, 04 Sep 2019 23:45:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "\"0x8D73191F20C81D6\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-04T23:45:19.7139414Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T23:45:19.6338667Z",
      "Content-Language" : "en",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  } ],
  "variables" : [ "setmetadatafileasyncapitestssetmetadata0b2361010ac894", "setmetadatafileasyncapitestssetmetadata0b244244034118" ]
}