{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadandclearrange15644dd70e09bf969?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D728297E4DA38C\"",
      "Last-Modified" : "Sat, 24 Aug 2019 00:24:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadandclearrange15644dd70e09bf969/fileapitestsuploadandclearrange80088401f15b5d1bc",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-08-24T00:24:57.4536596Z",
      "Last-Modified" : "Sat, 24 Aug 2019 00:24:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D728297E55CB94\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-08-24T00:24:57.4536596Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-08-24T00:24:57.4536596Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadandclearrange15644dd70e09bf969/fileapitestsuploadandclearrange80088401f15b5d1bc?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D728297E5DE3D9\"",
      "Last-Modified" : "Sat, 24 Aug 2019 00:24:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "A5momLrihyOacM8O00uT1g=="
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadandclearrange15644dd70e09bf969/fileapitestsuploadandclearrange80088401f15b5d1bc",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-08-24T00:24:57.4536596Z",
      "Content-Range" : "bytes 0-6/22",
      "Last-Modified" : "Sat, 24 Aug 2019 00:24:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "206",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "\"0x8D728297E697F76\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-08-24T00:24:57.4536596Z",
      "x-ms-file-parent-id" : "0",
      "Body" : "[0, 0, 0, 0, 0, 0, 0]",
      "x-ms-file-last-write-time" : "2019-08-24T00:24:57.4536596Z",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestsuploadandclearrange15644dd70e09bf969", "fileapitestsuploadandclearrange80088401f15b5d1bc" ]
}