{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestslisthandles64802dcd58203532a4?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72829DBE3DD37\"",
      "Last-Modified" : "Sat, 24 Aug 2019 00:27:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestslisthandles64802dcd58203532a4/fileasyncapitestslisthandles29267b1dcebaa8e404",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-08-24T00:27:34.4575243Z",
      "Last-Modified" : "Sat, 24 Aug 2019 00:27:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D72829DBEAAF0B\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-08-24T00:27:34.4575243Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-08-24T00:27:34.4575243Z"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestslisthandles64802dcd58203532a4/fileasyncapitestslisthandles29267b1dcebaa8e404?comp=listhandles",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults><Entries /><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestslisthandles64802dcd58203532a4", "fileasyncapitestslisthandles29267b1dcebaa8e404" ]
}