{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestscreatefilepermissionandkeyerror031018d7a6a?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7317B83B533A2\"",
      "Last-Modified" : "Wed, 04 Sep 2019 21:04:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestscreatefilepermissionandkeyerror031018d7a6a", "fileapitestscreatefilepermissionandkeyerror000126be5d0" ]
}