{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestssethttpheadersfpk3885462a6f34780604?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325B6BCD1B5E\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:47:32 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestssethttpheadersfpk3885462a6f34780604/fileapitestssethttpheadersfpk99596a9607167b8f14",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15581347578553677299*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T23:47:32.9297677Z",
      "Last-Modified" : "Thu, 05 Sep 2019 23:47:32 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7325B6BDD610D\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-05T23:47:32.9297677Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T23:47:32.9297677Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestssethttpheadersfpk3885462a6f34780604?restype=share&comp=filepermission",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15518056309741717644*8114634751575874941",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestssethttpheadersfpk3885462a6f34780604/fileapitestssethttpheadersfpk99596a9607167b8f14?comp=properties",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15518056309741717644*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T23:47:33.0750000Z",
      "Last-Modified" : "Thu, 05 Sep 2019 23:47:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7325B6BF94DA6\"",
      "x-ms-file-attributes" : "None",
      "x-ms-file-change-time" : "2019-09-05T23:47:33.1127718Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T23:47:33.0750000Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestssethttpheadersfpk3885462a6f34780604", "fileapitestssethttpheadersfpk99596a9607167b8f14", "2019-09-05T23:47:33.075Z", "2019-09-05T23:47:33.075Z" ]
}