{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadanddownloaddatawithargs161653bf7789?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EA1548C37\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:51:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadanddownloaddatawithargs161653bf7789/fileapitestsuploadanddownloaddatawithargs801746b0064f",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EA15A2B27\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:51:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadanddownloaddatawithargs161653bf7789/fileapitestsuploadanddownloaddatawithargs801746b0064f?comp=range",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EA1610AAC\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:51:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadanddownloaddatawithargs161653bf7789/fileapitestsuploadanddownloaddatawithargs801746b0064f",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "Content-Range" : "bytes 1-7/1024",
      "Last-Modified" : "Tue, 20 Aug 2019 16:51:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "206",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "\"0x8D7258EA1610AAC\"",
      "Body" : "default",
      "Content-Type" : "application/octet-stream"
    }
  } ],
  "variables" : [ "fileapitestsuploadanddownloaddatawithargs161653bf7789", "fileapitestsuploadanddownloaddatawithargs801746b0064f" ]
}