{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createfilefileasyncapitestscreatefile0c576696067cec7?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73191EF7ECE9C\"",
      "Last-Modified" : "Wed, 04 Sep 2019 23:45:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "createfilefileasyncapitestscreatefile0c576696067cec7", "createfilefileasyncapitestscreatefile0c545241d842730" ]
}