{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadandclearrangewithargs2718774579a94?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D726C334365CE4\"",
      "Last-Modified" : "Thu, 22 Aug 2019 05:40:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadandclearrangewithargs2718774579a94/fileapitestsuploadandclearrangewithargs60539b5f68d5a",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-08-22T05:40:13.3633814Z",
      "Last-Modified" : "Thu, 22 Aug 2019 05:40:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D726C334450F16\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-08-22T05:40:13.3633814Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-08-22T05:40:13.3633814Z"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadandclearrangewithargs2718774579a94/fileapitestsuploadandclearrangewithargs60539b5f68d5a?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D726C33463C248\"",
      "Last-Modified" : "Thu, 22 Aug 2019 05:40:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "A5momLrihyOacM8O00uT1g=="
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadandclearrangewithargs2718774579a94/fileapitestsuploadandclearrangewithargs60539b5f68d5a",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-08-22T05:40:13.3633814Z",
      "Last-Modified" : "Thu, 22 Aug 2019 05:40:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "\"0x8D726C3346D135E\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-08-22T05:40:13.3633814Z",
      "x-ms-file-parent-id" : "0",
      "Body" : "p\u0000\u0000\u0000\u0000\u0000\u0000\u0000lear the range",
      "x-ms-file-last-write-time" : "2019-08-22T05:40:13.3633814Z",
      "Content-Type" : "application/octet-stream"
    }
  } ],
  "variables" : [ "fileapitestsuploadandclearrangewithargs2718774579a94", "fileapitestsuploadandclearrangewithargs60539b5f68d5a" ]
}