{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestscreatefilefileapitestscreatefile212217489946?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D730D9527A9CF9\"",
      "Last-Modified" : "Wed, 04 Sep 2019 01:43:44 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestscreatefilefileapitestscreatefile212217489946/fileapitestscreatefilefileapitestscreatefile212378604816",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T01:43:45.9971219Z",
      "Last-Modified" : "Wed, 04 Sep 2019 01:43:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D730D9534F8493\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-04T01:43:45.9971219Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T01:43:45.9971219Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestscreatefilefileapitestscreatefile212217489946", "fileapitestscreatefilefileapitestscreatefile212378604816" ]
}