{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsgetpropertieserror9000466551c7971d4?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D728299C3FF192\"",
      "Last-Modified" : "Sat, 24 Aug 2019 00:25:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsgetpropertieserror9000466551c7971d4/fileapitestsgetpropertieserror9107301c8f71bb870",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "ResourceNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestsgetpropertieserror9000466551c7971d4", "fileapitestsgetpropertieserror9107301c8f71bb870" ]
}