{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileserviceasyncapitestslistshareswithargs054856fa30c50?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325BB5FE7AF0\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:49:37 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileserviceasyncapitestslistshareswithargs054856fa30c52?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-09-05T23:49:37.0000000Z",
      "ETag" : "\"0x8D7325BB61A4051\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:49:37 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.file.core.windows.net?prefix=fileserviceasyncapitestslistshareswithargs&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gapradev.file.core.windows.net/\"><Prefix>fileserviceasyncapitestslistshareswithargs</Prefix><Shares><Share><Name>fileserviceasyncapitestslistshareswithargs054856fa30c50</Name><Properties><Last-Modified>Thu, 05 Sep 2019 23:49:37 GMT</Last-Modified><Etag>\"0x8D7325BB5FE7AF0\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>fileserviceasyncapitestslistshareswithargs054856fa30c51</Name><Properties><Last-Modified>Thu, 05 Sep 2019 23:49:37 GMT</Last-Modified><Etag>\"0x8D7325BB60C3681\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>fileserviceasyncapitestslistshareswithargs054856fa30c52</Name><Properties><Last-Modified>Thu, 05 Sep 2019 23:49:37 GMT</Last-Modified><Etag>\"0x8D7325BB61A4051\"</Etag><Quota>2</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileserviceasyncapitestslistshareswithargs054856fa30c5" ]
}