{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsdeletefile89163e4939140fbad4c?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EC317EA80\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsdeletefile89163e4939140fbad4c/fileasyncapitestsdeletefile949086dda6a3327174e",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EC31D7590\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsdeletefile89163e4939140fbad4c/fileasyncapitestsdeletefile949086dda6a3327174e",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "fileasyncapitestsdeletefile89163e4939140fbad4c", "fileasyncapitestsdeletefile949086dda6a3327174e" ]
}