{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploadandclearrange2749861335cdfe?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72829D47123B9\"",
      "Last-Modified" : "Sat, 24 Aug 2019 00:27:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploadandclearrange2749861335cdfe/fileasyncapitestsuploadandclearrange90344c3dfd83b2",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-08-24T00:27:21.9625211Z",
      "Last-Modified" : "Sat, 24 Aug 2019 00:27:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D72829D47818FB\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-08-24T00:27:21.9625211Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-08-24T00:27:21.9625211Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploadandclearrange2749861335cdfe/fileasyncapitestsuploadandclearrange90344c3dfd83b2?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72829D47E34F6\"",
      "Last-Modified" : "Sat, 24 Aug 2019 00:27:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "A5momLrihyOacM8O00uT1g=="
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestsuploadandclearrange2749861335cdfe", "fileasyncapitestsuploadandclearrange90344c3dfd83b2" ]
}