{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploaddataerror0399664c6b9518f7?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EC1E44DE4\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploaddataerror0399664c6b9518f7/fileasyncapitestsuploaddataerror5573253895a96970?comp=range",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ResourceNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\nRequestId:249cbbe7-e01a-005a-2c77-5736f7000000\nTime:2019-08-20T16:52:16.5293093Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "fileasyncapitestsuploaddataerror0399664c6b9518f7", "fileasyncapitestsuploaddataerror5573253895a96970" ]
}