{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestscreatefilewithargserror16975367436d7fc?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D724D8787691A7\"",
      "Last-Modified" : "Mon, 19 Aug 2019 19:07:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestscreatefilewithargserror16975367436d7fc/fileapitestscreatefilewithargserror1202215b9317f01",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-error-code" : "AuthenticationFailed",
      "retry-after" : "0",
      "StatusCode" : "403",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\nRequestId:254c2c04-601a-00c3-45c1-56b935000000\nTime:2019-08-19T19:07:24.9287344Z</Message><AuthenticationErrorDetail>The MAC signature found in the HTTP request '6jhqsOW5MSIflTwQ7BTyz4UiHWyMNvo/3ImsUNCtfXo=' is not the same as any computed signature. Server used following string to sign: 'PUT\n\n\n\n\n\nMon, 19 Aug 2019 19:07:24 GMT\n\n\n\n\n\nx-ms-client-request-id:2f2372a3-3fca-47c7-9841-3e6454e28aa8\nx-ms-content-language:en\nx-ms-content-length:1024\nx-ms-content-type:application/octet-stream\nx-ms-meta-testmeta:value\nx-ms-type:file\nx-ms-version:2018-11-09\n/azstoragesdkaccount/fileapitestscreatefilewithargserror16975367436d7fc/fileapitestscreatefilewithargserror1202215b9317f01'.</AuthenticationErrorDetail></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "fileapitestscreatefilewithargserror16975367436d7fc", "fileapitestscreatefilewithargserror1202215b9317f01" ]
}