{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestsuploadanddownloadfileexists52372126d51d9?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7317B9B781B47\"",
      "Last-Modified" : "Wed, 04 Sep 2019 21:05:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestsuploadanddownloadfileexists52372126d51d9/fileapitestsuploadanddownloadfileexists0783760d885a9",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15581347578553677299*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T21:05:25.6319138Z",
      "Last-Modified" : "Wed, 04 Sep 2019 21:05:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7317B9B87C4A2\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-04T21:05:25.6319138Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T21:05:25.6319138Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestsuploadanddownloadfileexists52372126d51d9/fileapitestsuploadanddownloadfileexists0783760d885a9?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7317B9B9B02FB\"",
      "Last-Modified" : "Wed, 04 Sep 2019 21:05:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "SBhvnLsTIqH+vn9SjVscdA=="
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestsuploadanddownloadfileexists52372126d51d9", "fileapitestsuploadanddownloadfileexists0783760d885a9" ]
}