{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileserviceapitestslistshareswithfilter028145b22e48d0?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72829E28CDE7D\"",
      "Last-Modified" : "Sat, 24 Aug 2019 00:27:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=fileserviceapitestslistshareswithfilter&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>fileserviceapitestslistshareswithfilter</Prefix><Shares><Share><Name>fileserviceapitestslistshareswithfilter028145b22e48d0</Name><Properties><Last-Modified>Sat, 24 Aug 2019 00:27:45 GMT</Last-Modified><Etag>\"0x8D72829E28CDE7D\"</Etag><Quota>1</Quota></Properties></Share><Share><Name>fileserviceapitestslistshareswithfilter028145b22e48d1</Name><Properties><Last-Modified>Sat, 24 Aug 2019 00:27:45 GMT</Last-Modified><Etag>\"0x8D72829E29396EA\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>fileserviceapitestslistshareswithfilter028145b22e48d2</Name><Properties><Last-Modified>Sat, 24 Aug 2019 00:27:45 GMT</Last-Modified><Etag>\"0x8D72829E2993D9D\"</Etag><Quota>3</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileserviceapitestslistshareswithfilter028145b22e48d" ]
}