{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileserviceasyncapitestslistshareswithargs0776990d58830?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73250BCF4294A\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:31:04 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileserviceasyncapitestslistshareswithargs0776990d58832?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-09-05T22:31:04.0000000Z",
      "ETag" : "\"0x8D73250BD1015CA\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:31:04 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.file.core.windows.net?prefix=fileserviceasyncapitestslistshareswithargs&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gapradev.file.core.windows.net/\"><Prefix>fileserviceasyncapitestslistshareswithargs</Prefix><Shares><Share><Name>fileserviceasyncapitestslistshareswithargs0776990d58830</Name><Properties><Last-Modified>Thu, 05 Sep 2019 22:31:04 GMT</Last-Modified><Etag>\"0x8D73250BCF4294A\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>fileserviceasyncapitestslistshareswithargs0776990d58831</Name><Properties><Last-Modified>Thu, 05 Sep 2019 22:31:04 GMT</Last-Modified><Etag>\"0x8D73250BD02331E\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>fileserviceasyncapitestslistshareswithargs0776990d58832</Name><Properties><Last-Modified>Thu, 05 Sep 2019 22:31:04 GMT</Last-Modified><Etag>\"0x8D73250BD1015CA\"</Etag><Quota>2</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileserviceasyncapitestslistshareswithargs0776990d5883" ]
}