{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploadandclearrangewithargs328257213b?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D727ECFF8A1F9D\"",
      "Last-Modified" : "Fri, 23 Aug 2019 17:11:54 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploadandclearrangewithargs328257213b/fileasyncapitestsuploadandclearrangewithargs20599d724f",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-08-23T17:11:55.1162037Z",
      "Last-Modified" : "Fri, 23 Aug 2019 17:11:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D727ECFFA7BAB5\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-08-23T17:11:55.1162037Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-08-23T17:11:55.1162037Z"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploadandclearrangewithargs328257213b/fileasyncapitestsuploadandclearrangewithargs20599d724f?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D727ECFFD3DEAA\"",
      "Last-Modified" : "Fri, 23 Aug 2019 17:11:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "A5momLrihyOacM8O00uT1g=="
    }
  } ],
  "variables" : [ "fileasyncapitestsuploadandclearrangewithargs328257213b", "fileasyncapitestsuploadandclearrangewithargs20599d724f" ]
}