{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadanddownloadfile035869f26695f053?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72824ECC48713\"",
      "Last-Modified" : "Fri, 23 Aug 2019 23:52:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadanddownloadfile035869f26695f053/fileapitestsuploadanddownloadfile172971c676a82463",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-08-23T23:52:15.3713050Z",
      "Last-Modified" : "Fri, 23 Aug 2019 23:52:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D72824ECD7C99A\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-08-23T23:52:15.3713050Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-08-23T23:52:15.3713050Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadanddownloadfile035869f26695f053/fileapitestsuploadanddownloadfile172971c676a82463?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72824ECF32083\"",
      "Last-Modified" : "Fri, 23 Aug 2019 23:52:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "/CTzx8jXJ1MqqUsC1dJBUQ=="
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadanddownloadfile035869f26695f053/fileapitestsuploadanddownloadfile172971c676a82463",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-08-23T23:52:15.3713050Z",
      "Last-Modified" : "Fri, 23 Aug 2019 23:52:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "\"0x8D72824ECF32083\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-08-23T23:52:15.3713050Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-08-23T23:52:15.3713050Z",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadanddownloadfile035869f26695f053/fileapitestsuploadanddownloadfile172971c676a82463",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-08-23T23:52:15.3713050Z",
      "Content-Range" : "bytes 0-13/14",
      "Last-Modified" : "Fri, 23 Aug 2019 23:52:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "206",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "\"0x8D72824ECF32083\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-08-23T23:52:15.3713050Z",
      "x-ms-file-parent-id" : "0",
      "Body" : "[72, 101, 108, 108, 111, 32, 119, 111, 114, 108, 100, 33, 13, 10]",
      "x-ms-file-last-write-time" : "2019-08-23T23:52:15.3713050Z",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestsuploadanddownloadfile035869f26695f053", "fileapitestsuploadanddownloadfile172971c676a82463" ]
}