{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsgetsnapshotidfileapitestsgetsnapshotidb23064675?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EA8DFB8B6\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:51:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  } ],
  "variables" : [ "fileapitestsgetsnapshotidfileapitestsgetsnapshotidb23064675", "fileapitestsgetsnapshotidfileapitestsgetsnapshotidb2325058d" ]
}