{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadandclearrange0406507f9d52668c2?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D726C333B945C9\"",
      "Last-Modified" : "Thu, 22 Aug 2019 05:40:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadandclearrange0406507f9d52668c2/fileapitestsuploadandclearrange90614ae7ccb31481f",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-08-22T05:40:12.5065552Z",
      "Last-Modified" : "Thu, 22 Aug 2019 05:40:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D726C333C25150\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-08-22T05:40:12.5065552Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-08-22T05:40:12.5065552Z"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadandclearrange0406507f9d52668c2/fileapitestsuploadandclearrange90614ae7ccb31481f?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D726C333E65CF3\"",
      "Last-Modified" : "Thu, 22 Aug 2019 05:40:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "A5momLrihyOacM8O00uT1g=="
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadandclearrange0406507f9d52668c2/fileapitestsuploadandclearrange90614ae7ccb31481f",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-08-22T05:40:12.5065552Z",
      "Last-Modified" : "Thu, 22 Aug 2019 05:40:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "\"0x8D726C333F15C34\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-08-22T05:40:12.5065552Z",
      "x-ms-file-parent-id" : "0",
      "Body" : "\u0000\u0000\u0000\u0000\u0000\u0000\u0000clear the range",
      "x-ms-file-last-write-time" : "2019-08-22T05:40:12.5065552Z",
      "Content-Type" : "application/octet-stream"
    }
  } ],
  "variables" : [ "fileapitestsuploadandclearrange0406507f9d52668c2", "fileapitestsuploadandclearrange90614ae7ccb31481f" ]
}