{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/getpropertiesfileasyncapitestsgetproperties9fa7853173e0?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73191F1B1F153\"",
      "Last-Modified" : "Wed, 04 Sep 2019 23:45:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/getpropertiesfileasyncapitestsgetproperties9fa7853173e0/getpropertiesfileasyncapitestsgetproperties9fa6199244d4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T23:45:19.1664274Z",
      "Last-Modified" : "Wed, 04 Sep 2019 23:45:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D73191F1B8F692\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-04T23:45:19.1664274Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T23:45:19.1664274Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "getpropertiesfileasyncapitestsgetproperties9fa7853173e0", "getpropertiesfileasyncapitestsgetproperties9fa6199244d4" ]
}