{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadfiledoesnotexist89971c955b4bdf9?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72B3D72DCBE94\"",
      "Last-Modified" : "Tue, 27 Aug 2019 22:25:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestsuploadfiledoesnotexist89971c955b4bdf9", "fileapitestsuploadfiledoesnotexist98370ca6ccb7bc4" ]
}