{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestssethttpheaderserror53246cde0c3f04a30?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D724D87DAB4B09\"",
      "Last-Modified" : "Mon, 19 Aug 2019 19:07:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestssethttpheaderserror53246cde0c3f04a30/fileapitestssethttpheaderserror1653513270724af4f",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D724D87DB30558\"",
      "Last-Modified" : "Mon, 19 Aug 2019 19:07:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestssethttpheaderserror53246cde0c3f04a30/fileapitestssethttpheaderserror1653513270724af4f?comp=properties",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "OutOfRangeInput",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>OutOfRangeInput</Code><Message>The file size exceeds the maximum permissible limit.\nRequestId:254c2c5b-601a-00c3-09c1-56b935000000\nTime:2019-08-19T19:07:33.7109184Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "fileapitestssethttpheaderserror53246cde0c3f04a30", "fileapitestssethttpheaderserror1653513270724af4f" ]
}