{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsstartcopyerror14114b7ff7e82938741?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D724D87BDA61D2\"",
      "Last-Modified" : "Mon, 19 Aug 2019 19:07:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsstartcopyerror14114b7ff7e82938741/fileapitestsstartcopyerror6814320d45814a27843",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D724D87BE217F9\"",
      "Last-Modified" : "Mon, 19 Aug 2019 19:07:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsstartcopyerror14114b7ff7e82938741/fileapitestsstartcopyerror6814320d45814a27843",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "InvalidHeaderValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The value for one of the HTTP headers is not in the correct format.\nRequestId:254c2c36-601a-00c3-6bc1-56b935000000\nTime:2019-08-19T19:07:30.6590728Z</Message><HeaderName>x-ms-copy-source</HeaderName><HeaderValue>some url</HeaderValue></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "fileapitestsstartcopyerror14114b7ff7e82938741", "fileapitestsstartcopyerror6814320d45814a27843" ]
}