{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/getsnapshotidfileapitestsgetsnapshotid93f1506570e9281?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73191EF5E6D67\"",
      "Last-Modified" : "Wed, 04 Sep 2019 23:45:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "getsnapshotidfileapitestsgetsnapshotid93f1506570e9281", "getsnapshotidfileapitestsgetsnapshotid93f4647859d640a" ]
}