{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileasyncapitestsgetsnapshotid61611d2a99783740e?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325B956FCD65\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:48:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestsgetsnapshotid61611d2a99783740e", "fileasyncapitestsgetsnapshotid08393278657d78d4b" ]
}