{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileasyncapitestscreatefilewithargserror00916482feaeb?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325B8B9C7939\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:48:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileasyncapitestscreatefilewithargserror00916482feaeb/fileasyncapitestscreatefilewithargserror000971fc4580e",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "OutOfRangeInput",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>OutOfRangeInput</Code><Message>The file size exceeds the maximum permissible limit.\nRequestId:07339d2c-301a-000d-1144-645aef000000\nTime:2019-09-05T23:48:26.2825031Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestscreatefilewithargserror00916482feaeb", "fileasyncapitestscreatefilewithargserror000971fc4580e" ]
}