{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsgetsnapshotidfileapitestsgetsnapshotidd9b093482?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D730D95B14AECB\"",
      "Last-Modified" : "Wed, 04 Sep 2019 01:43:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestsgetsnapshotidfileapitestsgetsnapshotidd9b093482", "fileapitestsgetsnapshotidfileapitestsgetsnapshotidd9b46415b" ]
}