{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadanddownloaddatawithargs085390bdc2eb?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D724C76D217E5A\"",
      "Last-Modified" : "Mon, 19 Aug 2019 17:05:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploadanddownloaddatawithargs085390bdc2eb/fileapitestsuploadanddownloaddatawithargs081781b03658",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D724C76D614771\"",
      "Last-Modified" : "Mon, 19 Aug 2019 17:05:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  } ],
  "variables" : [ "fileapitestsuploadanddownloaddatawithargs085390bdc2eb", "fileapitestsuploadanddownloaddatawithargs081781b03658" ]
}