{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsdeletedirectory007969ac26d4558da4b?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721CB1CB9064E\"",
      "Last-Modified" : "Thu, 15 Aug 2019 21:54:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  } ],
  "variables" : [ "fileapitestsdeletedirectory007969ac26d4558da4b", "fileapitestsdeletedirectory26233252b9ad4c1774e" ]
}