{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listshareswithfilter40249933fae3ecbd7457680?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73191F9F55420\"",
      "Last-Modified" : "Wed, 04 Sep 2019 23:45:32 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=listshareswithfilter40249933fae3ecbd745768&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>listshareswithfilter40249933fae3ecbd745768</Prefix><Shares><Share><Name>listshareswithfilter40249933fae3ecbd7457680</Name><Properties><Last-Modified>Wed, 04 Sep 2019 23:45:32 GMT</Last-Modified><Etag>\"0x8D73191F9F55420\"</Etag><Quota>1</Quota></Properties></Share><Share><Name>listshareswithfilter40249933fae3ecbd7457681</Name><Properties><Last-Modified>Wed, 04 Sep 2019 23:45:33 GMT</Last-Modified><Etag>\"0x8D73191F9FA5E81\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>listshareswithfilter40249933fae3ecbd7457682</Name><Properties><Last-Modified>Wed, 04 Sep 2019 23:45:33 GMT</Last-Modified><Etag>\"0x8D73191FA03D6BC\"</Etag><Quota>3</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "listshareswithfilter40249933fae3ecbd745768" ]
}