{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploaddataerror584203af4bef2a8fc4b?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D728297E1D8727\"",
      "Last-Modified" : "Sat, 24 Aug 2019 00:24:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploaddataerror584203af4bef2a8fc4b/fileapitestsuploaddataerror72763c12a663f291c4b?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "ResourceNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\nRequestId:90b84577-201a-006e-5212-5a995f000000\nTime:2019-08-24T00:24:57.2420551Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestsuploaddataerror584203af4bef2a8fc4b", "fileapitestsuploaddataerror72763c12a663f291c4b" ]
}