{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileserviceapitestslistshareswithargs221953a1bbe0510?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258ECDF2E391\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileserviceapitestslistshareswithargs221953a1bbe0512?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-snapshot" : "2019-08-20T16:52:36.0000000Z",
      "ETag" : "\"0x8D7258ECDFEF47E\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=fileserviceapitestslistshareswithargs&include=metadata%2csnapshots&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>fileserviceapitestslistshareswithargs</Prefix><Shares><Share><Name>fileserviceapitestslistshareswithargs221953a1bbe0510</Name><Properties><Last-Modified>Tue, 20 Aug 2019 16:52:36 GMT</Last-Modified><Etag>\"0x8D7258ECDF2E391\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>fileserviceapitestslistshareswithargs221953a1bbe0511</Name><Properties><Last-Modified>Tue, 20 Aug 2019 16:52:36 GMT</Last-Modified><Etag>\"0x8D7258ECDF8D87A\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>fileserviceapitestslistshareswithargs221953a1bbe0512</Name><Snapshot>2019-08-20T16:52:36.0000000Z</Snapshot><Properties><Last-Modified>Tue, 20 Aug 2019 16:52:36 GMT</Last-Modified><Etag>\"0x8D7258ECDFEF47E\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>fileserviceapitestslistshareswithargs221953a1bbe0512</Name><Properties><Last-Modified>Tue, 20 Aug 2019 16:52:36 GMT</Last-Modified><Etag>\"0x8D7258ECDFEF47E\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "fileserviceapitestslistshareswithargs221953a1bbe051" ]
}