{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsdownloaddataerror92136ae47d401d0?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EC200884F\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  } ],
  "variables" : [ "fileasyncapitestsdownloaddataerror92136ae47d401d0", "fileasyncapitestsdownloaddataerror10075546c30086a" ]
}