{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestssetmetadataerror04414210d1b77e02?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D730D96B1C18E3\"",
      "Last-Modified" : "Wed, 04 Sep 2019 01:44:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestssetmetadataerror04414210d1b77e02/fileasyncapitestssetmetadataerror374042718349b4d0",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T01:44:25.9650328Z",
      "Last-Modified" : "Wed, 04 Sep 2019 01:44:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D730D96B222318\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-04T01:44:25.9650328Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T01:44:25.9650328Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestssetmetadataerror04414210d1b77e02/fileasyncapitestssetmetadataerror374042718349b4d0?comp=metadata",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "EmptyMetadataKey",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>EmptyMetadataKey</Code><Message>The key for one of the metadata key-value pairs is empty.\nRequestId:e7c18c51-101a-0044-67c2-62ec1a000000\nTime:2019-09-04T01:44:26.0125294Z</Message><MetadataValue>value</MetadataValue></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestssetmetadataerror04414210d1b77e02", "fileasyncapitestssetmetadataerror374042718349b4d0" ]
}