{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestsstartcopyerror11872e181b2f0cf9947?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325B6A39D088\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:47:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestsstartcopyerror11872e181b2f0cf9947/fileapitestsstartcopyerror001799143c11ac35048",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15581347578553677299*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T23:47:30.3017030Z",
      "Last-Modified" : "Thu, 05 Sep 2019 23:47:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7325B6A4C5E46\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-05T23:47:30.3017030Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T23:47:30.3017030Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestsstartcopyerror11872e181b2f0cf9947/fileapitestsstartcopyerror001799143c11ac35048",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "InvalidHeaderValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The value for one of the HTTP headers is not in the correct format.\nRequestId:07339978-301a-000d-1344-645aef000000\nTime:2019-09-05T23:47:30.8151149Z</Message><HeaderName>x-ms-copy-source</HeaderName><HeaderValue>some url</HeaderValue></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestsstartcopyerror11872e181b2f0cf9947", "fileapitestsstartcopyerror001799143c11ac35048" ]
}