{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploaddatalengthmismatch130722ed583dbb3?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D729F515DD9379\"",
      "Last-Modified" : "Mon, 26 Aug 2019 07:14:50 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploaddatalengthmismatch130722ed583dbb3/fileapitestsuploaddatalengthmismatch162287ae2bfcf10",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-08-26T07:14:50.8062568Z",
      "Last-Modified" : "Mon, 26 Aug 2019 07:14:50 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D729F515F11768\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-08-26T07:14:50.8062568Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-08-26T07:14:50.8062568Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestsuploaddatalengthmismatch130722ed583dbb3", "fileapitestsuploaddatalengthmismatch162287ae2bfcf10" ]
}