{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/uploadfiledoesnotexist97139b37ae862a59d424a?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73191F0DEB596\"",
      "Last-Modified" : "Wed, 04 Sep 2019 23:45:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "uploadfiledoesnotexist97139b37ae862a59d424a", "uploadfiledoesnotexist351431c61fd2bcf764d65" ]
}