{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/deletefileerrorfileapitestsdeletefileerrord26655617e7ea?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73191EE3385FE\"",
      "Last-Modified" : "Wed, 04 Sep 2019 23:45:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/deletefileerrorfileapitestsdeletefileerrord26655617e7ea/deletefileerrorfileapitestsdeletefileerrord2679436ca61b",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "ResourceNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\nRequestId:78864e20-901a-0137-797a-63da8c000000\nTime:2019-09-04T23:45:13.2947870Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "deletefileerrorfileapitestsdeletefileerrord26655617e7ea", "deletefileerrorfileapitestsdeletefileerrord2679436ca61b" ]
}