{
  "networkCallRecords" : [ {
    "Method" : "DELETE",
    "Uri" : "https://gapradev.file.core.windows.net/fileserviceapitestsdeletesharedoesnotexist717999ee90a?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "ShareNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareNotFound</Code><Message>The specified share does not exist.\nRequestId:a60ab6b6-101a-0035-5a39-64fe2f000000\nTime:2019-09-05T22:30:23.2127502Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileserviceapitestsdeletesharedoesnotexist02216ac14df", "fileserviceapitestsdeletesharedoesnotexist717999ee90a" ]
}