{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestsuploadandclearrangewithargs21173913bee67?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7317B856CCEA3\"",
      "Last-Modified" : "Wed, 04 Sep 2019 21:04:48 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestsuploadandclearrangewithargs21173913bee67/fileapitestsuploadandclearrangewithargs34994d4b61798",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15581347578553677299*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T21:04:48.6516557Z",
      "Last-Modified" : "Wed, 04 Sep 2019 21:04:48 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7317B857D074D\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-04T21:04:48.6516557Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T21:04:48.6516557Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestsuploadandclearrangewithargs21173913bee67/fileapitestsuploadandclearrangewithargs34994d4b61798?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7317B8588EE3E\"",
      "Last-Modified" : "Wed, 04 Sep 2019 21:04:48 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "A5momLrihyOacM8O00uT1g=="
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestsuploadandclearrangewithargs21173913bee67/fileapitestsuploadandclearrangewithargs34994d4b61798",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T21:04:48.6516557Z",
      "Content-Range" : "bytes 1-7/22",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Wed, 04 Sep 2019 21:04:48 GMT",
      "retry-after" : "0",
      "StatusCode" : "206",
      "x-ms-file-attributes" : "Archive",
      "Body" : "[0, 0, 0, 0, 0, 0, 0]",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15581347578553677299*8114634751575874941",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "\"0x8D7317B8595BFA0\"",
      "x-ms-file-change-time" : "2019-09-04T21:04:48.6516557Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T21:04:48.6516557Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestsuploadandclearrangewithargs21173913bee67", "fileapitestsuploadandclearrangewithargs34994d4b61798" ]
}