{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileserviceapitestslistshareswithargs048890c2a8f27b0?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73250A670F737\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:30:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileserviceapitestslistshareswithargs048890c2a8f27b2?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-09-05T22:30:27.0000000Z",
      "ETag" : "\"0x8D73250A68C95A1\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:30:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.file.core.windows.net?prefix=fileserviceapitestslistshareswithargs&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gapradev.file.core.windows.net/\"><Prefix>fileserviceapitestslistshareswithargs</Prefix><Shares><Share><Name>fileserviceapitestslistshareswithargs048890c2a8f27b0</Name><Properties><Last-Modified>Thu, 05 Sep 2019 22:30:26 GMT</Last-Modified><Etag>\"0x8D73250A670F737\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>fileserviceapitestslistshareswithargs048890c2a8f27b1</Name><Properties><Last-Modified>Thu, 05 Sep 2019 22:30:26 GMT</Last-Modified><Etag>\"0x8D73250A67EDA13\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>fileserviceapitestslistshareswithargs048890c2a8f27b2</Name><Properties><Last-Modified>Thu, 05 Sep 2019 22:30:26 GMT</Last-Modified><Etag>\"0x8D73250A68C95A1\"</Etag><Quota>2</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileserviceapitestslistshareswithargs048890c2a8f27b" ]
}