{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileserviceapitestslistshareswithfilter3876232eb56940?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258ECCD63204\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=fileserviceapitestslistshareswithfilter&maxresults=2&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>fileserviceapitestslistshareswithfilter</Prefix><MaxResults>2</MaxResults><Shares><Share><Name>fileserviceapitestslistshareswithfilter3876232eb56940</Name><Properties><Last-Modified>Tue, 20 Aug 2019 16:52:34 GMT</Last-Modified><Etag>\"0x8D7258ECCD63204\"</Etag><Quota>1</Quota></Properties></Share><Share><Name>fileserviceapitestslistshareswithfilter3876232eb56941</Name><Properties><Last-Modified>Tue, 20 Aug 2019 16:52:34 GMT</Last-Modified><Etag>\"0x8D7258ECCDC4DFF\"</Etag><Quota>2</Quota></Properties></Share></Shares><NextMarker>/azstoragesdkaccount/fileserviceapitestslistshareswithfilter3876232eb56942</NextMarker></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "fileserviceapitestslistshareswithfilter3876232eb5694" ]
}