{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestscreatefilepermissionandkeyerror1245341cbad?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7317B83DD0722\"",
      "Last-Modified" : "Wed, 04 Sep 2019 21:04:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestscreatefilepermissionandkeyerror1245341cbad", "fileapitestscreatefilepermissionandkeyerror1105044f481" ]
}