{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestssethttpheadersfp54644dc00a69f5ddc4?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325B6C24B19A\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:47:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestssethttpheadersfp54644dc00a69f5ddc4/fileapitestssethttpheadersfp26647566b80e688be4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15581347578553677299*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T23:47:33.5067807Z",
      "Last-Modified" : "Thu, 05 Sep 2019 23:47:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7325B6C356C9F\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-05T23:47:33.5067807Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T23:47:33.5067807Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestssethttpheadersfp54644dc00a69f5ddc4/fileapitestssethttpheadersfp26647566b80e688be4?comp=properties",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15518056309741717644*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T23:47:33.5650000Z",
      "Last-Modified" : "Thu, 05 Sep 2019 23:47:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7325B6C44FD3C\"",
      "x-ms-file-attributes" : "None",
      "x-ms-file-change-time" : "2019-09-05T23:47:33.6087868Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T23:47:33.5650000Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestssethttpheadersfp54644dc00a69f5ddc4", "fileapitestssethttpheadersfp26647566b80e688be4", "2019-09-05T23:47:33.565Z", "2019-09-05T23:47:33.565Z" ]
}