{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileasyncapitestssethttpheadersfpk085634de0257817?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D732509800C1C6\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:30:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileasyncapitestssethttpheadersfpk085634de0257817/fileasyncapitestssethttpheadersfpk8874529d93eb9d6",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15581347578553677299*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T22:30:02.6354913Z",
      "Last-Modified" : "Thu, 05 Sep 2019 22:30:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D732509812C8E1\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-05T22:30:02.6354913Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T22:30:02.6354913Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileasyncapitestssethttpheadersfpk085634de0257817?restype=share&comp=filepermission",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15518056309741717644*8114634751575874941",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileasyncapitestssethttpheadersfpk085634de0257817/fileasyncapitestssethttpheadersfpk8874529d93eb9d6?comp=properties",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15518056309741717644*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T22:30:02.8050000Z",
      "Last-Modified" : "Thu, 05 Sep 2019 22:30:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7325098351E09\"",
      "x-ms-file-attributes" : "None",
      "x-ms-file-change-time" : "2019-09-05T22:30:02.8604937Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T22:30:02.8050000Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestssethttpheadersfpk085634de0257817", "fileasyncapitestssethttpheadersfpk8874529d93eb9d6", "2019-09-05T22:30:02.805Z", "2019-09-05T22:30:02.805Z" ]
}