{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsdeletefileerror64307caeeae53a43646?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EA4D71576\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:51:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsdeletefileerror64307caeeae53a43646/fileapitestsdeletefileerror41993afe923b6175e4c",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ResourceNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\nRequestId:1152b5ca-c01a-0064-0c77-5780d6000000\nTime:2019-08-20T16:51:31.2160828Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "fileapitestsdeletefileerror64307caeeae53a43646", "fileapitestsdeletefileerror41993afe923b6175e4c" ]
}