{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestslistrangeswithrange7541153cecd6f4910?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EA8443CB7\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:51:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestslistrangeswithrange7541153cecd6f4910/fileapitestslistrangeswithrange17871d9a751795e55",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EA84A53EF\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:51:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestslistrangeswithrange7541153cecd6f4910/fileapitestslistrangeswithrange17871d9a751795e55?comp=range",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EA854B6BC\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:51:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "DzQ7CTESaiDxM9Z8KwGKOw=="
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestslistrangeswithrange7541153cecd6f4910/fileapitestslistrangeswithrange17871d9a751795e55?comp=rangelist",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-content-length" : "1024",
      "ETag" : "\"0x8D7258EA854B6BC\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:51:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges><Range><Start>0</Start><End>511</End></Range></Ranges>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "fileapitestslistrangeswithrange7541153cecd6f4910", "fileapitestslistrangeswithrange17871d9a751795e55", "filefileapitestslistrangeswithrange4ee8536730736eda" ]
}