{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestsuploadanddownloaddata32075d17389b70b3?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325B653A3BE5\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:47:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestsuploadanddownloaddata32075d17389b70b3/fileapitestsuploadanddownloaddata3731879ec572caec",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15581347578553677299*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T23:47:21.9044799Z",
      "Last-Modified" : "Thu, 05 Sep 2019 23:47:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7325B654B0DBF\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-05T23:47:21.9044799Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T23:47:21.9044799Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestsuploadanddownloaddata32075d17389b70b3/fileapitestsuploadanddownloaddata3731879ec572caec?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325B6559DAFF\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:47:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestsuploadanddownloaddata32075d17389b70b3/fileapitestsuploadanddownloaddata3731879ec572caec",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-file-permission-key" : "15581347578553677299*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T23:47:21.9044799Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 05 Sep 2019 23:47:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "\"0x8D7325B6559DAFF\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-05T23:47:21.9044799Z",
      "x-ms-file-parent-id" : "0",
      "Body" : "[100, 101, 102, 97, 117, 108, 116]",
      "x-ms-file-last-write-time" : "2019-09-05T23:47:21.9044799Z",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestsuploadanddownloaddata32075d17389b70b3", "fileapitestsuploadanddownloaddata3731879ec572caec" ]
}