{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileasyncapitestsdownloaddataerror39041a7fffc505e?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325B8DC72F9A\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:48:29 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.file.core.windows.net/fileasyncapitestsdownloaddataerror39041a7fffc505e/fileasyncapitestsdownloaddataerror59176aa0be0484e",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "ResourceNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\nRequestId:36c45500-601a-0000-1844-64923b000000\nTime:2019-09-05T23:48:29.9268506Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestsdownloaddataerror39041a7fffc505e", "fileasyncapitestsdownloaddataerror59176aa0be0484e" ]
}