{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploaddatalengthmismatch0088664c40f869f?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73090253F6BBB\"",
      "Last-Modified" : "Tue, 03 Sep 2019 16:59:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploaddatalengthmismatch0088664c40f869f/fileapitestsuploaddatalengthmismatch062054dafc6056d",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-03T16:59:55.8095491Z",
      "Last-Modified" : "Tue, 03 Sep 2019 16:59:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7309025757E83\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-03T16:59:55.8095491Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-03T16:59:55.8095491Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsuploaddatalengthmismatch0088664c40f869f/fileapitestsuploaddatalengthmismatch062054dafc6056d?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : null,
    "Exception" : {
      "ClassName" : "com.azure.core.implementation.exception.UnexpectedLengthException",
      "ErrorMessage" : "Request body emitted 7 bytes more than the expected 6 bytes."
    }
  } ],
  "variables" : [ "fileapitestsuploaddatalengthmismatch0088664c40f869f", "fileapitestsuploaddatalengthmismatch062054dafc6056d" ]
}