{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestslisthandlesfileapitestslisthandles68465530c87?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325B6E1CB1D9\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:47:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestslisthandlesfileapitestslisthandles68465530c87/fileapitestslisthandlesfileapitestslisthandles6845538787a",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15581347578553677299*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T23:47:36.8088671Z",
      "Last-Modified" : "Thu, 05 Sep 2019 23:47:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7325B6E2D485F\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-05T23:47:36.8088671Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T23:47:36.8088671Z"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.file.core.windows.net/fileapitestslisthandlesfileapitestslisthandles68465530c87/fileapitestslisthandlesfileapitestslisthandles6845538787a?comp=listhandles",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults><Entries /><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestslisthandlesfileapitestslisthandles68465530c87", "fileapitestslisthandlesfileapitestslisthandles6845538787a" ]
}