{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileasyncapitestscreatefilewithargsfp01458c3ff3c16d?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73250926C339E\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:29:53 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileasyncapitestscreatefilewithargsfp01458c3ff3c16d/fileasyncapitestscreatefilewithargsfp99997bdd825b7b",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "10570340844661901768*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T22:29:53.2200000Z",
      "Last-Modified" : "Thu, 05 Sep 2019 22:29:53 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7325092761840\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-05T22:29:53.2200000Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T22:29:53.2200000Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestscreatefilewithargsfp01458c3ff3c16d", "fileasyncapitestscreatefilewithargsfp99997bdd825b7b", "2019-09-05T22:29:53.220Z", "2019-09-05T22:29:53.220Z" ]
}