{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileasyncapitestscreatefilewithargserror191826d86e073?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325092E1D963\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:29:53 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileasyncapitestscreatefilewithargserror191826d86e073/fileasyncapitestscreatefilewithargserror1262296f15f63",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-error-code" : "AuthenticationFailed",
      "retry-after" : "0",
      "StatusCode" : "403",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\nRequestId:a60ab4d7-101a-0035-7139-64fe2f000000\nTime:2019-09-05T22:29:54.0241811Z</Message><AuthenticationErrorDetail>The MAC signature found in the HTTP request 'c9lORnRIrrAQ/jBnZj0+Mtg07NGhW4OAfrhlIq9H7Vs=' is not the same as any computed signature. Server used following string to sign: 'PUT\n\n\n\n\n\nThu, 05 Sep 2019 22:29:53 GMT\n\n\n\n\n\nx-ms-client-request-id:3140cb1c-170b-4d7b-afc3-363ef7602701\nx-ms-content-length:1024\nx-ms-file-attributes:None\nx-ms-file-creation-time:Now\nx-ms-file-last-write-time:Now\nx-ms-file-permission:Inherit\nx-ms-meta-testmeta:value\nx-ms-type:file\nx-ms-version:2019-02-02\n/gapradev/fileasyncapitestscreatefilewithargserror191826d86e073/fileasyncapitestscreatefilewithargserror1262296f15f63'.</AuthenticationErrorDetail></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestscreatefilewithargserror191826d86e073", "fileasyncapitestscreatefilewithargserror1262296f15f63" ]
}