{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsgetpropertieserror652328cd811af90af?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D730D958FA4EA2\"",
      "Last-Modified" : "Wed, 04 Sep 2019 01:43:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsgetpropertieserror652328cd811af90af/fileapitestsgetpropertieserror049735d1185eb1408",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "ResourceNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestsgetpropertieserror652328cd811af90af", "fileapitestsgetpropertieserror049735d1185eb1408" ]
}