{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileserviceasyncapitestslistshareswithfilter105609490660?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73158D6E3FCBB\"",
      "Last-Modified" : "Wed, 04 Sep 2019 16:56:32 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=fileserviceasyncapitestslistshareswithfilter&include=metadata&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>fileserviceasyncapitestslistshareswithfilter</Prefix><Shares><Share><Name>fileserviceasyncapitestslistshareswithfilter105609490660</Name><Properties><Last-Modified>Wed, 04 Sep 2019 16:56:32 GMT</Last-Modified><Etag>\"0x8D73158D6E3FCBB\"</Etag><Quota>1</Quota></Properties><Metadata /></Share><Share><Name>fileserviceasyncapitestslistshareswithfilter105609490661</Name><Properties><Last-Modified>Wed, 04 Sep 2019 16:56:32 GMT</Last-Modified><Etag>\"0x8D73158D6EA18A2\"</Etag><Quota>2</Quota></Properties><Metadata /></Share><Share><Name>fileserviceasyncapitestslistshareswithfilter105609490662</Name><Properties><Last-Modified>Wed, 04 Sep 2019 16:56:32 GMT</Last-Modified><Etag>\"0x8D73158D6F00D85\"</Etag><Quota>3</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileserviceasyncapitestslistshareswithfilter10560949066" ]
}