{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileasyncapitestssethttpheadersfp74386f6e8ee698cd?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73250985EC0F3\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:30:03 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileasyncapitestssethttpheadersfp74386f6e8ee698cd/fileasyncapitestssethttpheadersfp8929024710f0a996",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15581347578553677299*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T22:30:03.2544989Z",
      "Last-Modified" : "Thu, 05 Sep 2019 22:30:03 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7325098713CDD\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-05T22:30:03.2544989Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T22:30:03.2544989Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileasyncapitestssethttpheadersfp74386f6e8ee698cd/fileasyncapitestssethttpheadersfp8929024710f0a996?comp=properties",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15518056309741717644*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T22:30:03.3150000Z",
      "Last-Modified" : "Thu, 05 Sep 2019 22:30:03 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7325098822CE1\"",
      "x-ms-file-attributes" : "None",
      "x-ms-file-change-time" : "2019-09-05T22:30:03.3655009Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T22:30:03.3150000Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestssethttpheadersfp74386f6e8ee698cd", "fileasyncapitestssethttpheadersfp8929024710f0a996", "2019-09-05T22:30:03.315Z", "2019-09-05T22:30:03.315Z" ]
}