{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/fileasyncapitestsuploaddatalengthmismatch1848748d1eae?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7318D99B0414D\"",
      "Last-Modified" : "Wed, 04 Sep 2019 23:14:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/fileasyncapitestsuploaddatalengthmismatch1848748d1eae/fileasyncapitestsuploaddatalengthmismatch16749564cdd2",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "9147088710610530974*15442866184092965392",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T23:14:13.5453876Z",
      "Last-Modified" : "Wed, 04 Sep 2019 23:14:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7318D99B9C8B4\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-04T23:14:13.5453876Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T23:14:13.5453876Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/fileasyncapitestsuploaddatalengthmismatch1848748d1eae/fileasyncapitestsuploaddatalengthmismatch16749564cdd2?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : null,
    "Exception" : {
      "ClassName" : "com.azure.core.exception.UnexpectedLengthException",
      "ErrorMessage" : "Request body emitted 7 bytes less than the expected 8 bytes."
    }
  } ],
  "variables" : [ "fileasyncapitestsuploaddatalengthmismatch1848748d1eae", "fileasyncapitestsuploaddatalengthmismatch16749564cdd2" ]
}