{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsdownloaddataerror49432fd472a2a9cd04?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EA19F1519\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:51:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsdownloaddataerror49432fd472a2a9cd04/fileapitestsdownloaddataerror98044ee7d0f179c454",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ResourceNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\nRequestId:1152b5a5-c01a-0064-7077-5780d6000000\nTime:2019-08-20T16:51:22.3866172Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "fileapitestsdownloaddataerror49432fd472a2a9cd04", "fileapitestsdownloaddataerror98044ee7d0f179c454" ]
}