{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileserviceapitestslistshareswithargs01115361b9fc4d0?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325BA15F6583\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:49:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileserviceapitestslistshareswithargs01115361b9fc4d2?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-09-05T23:49:02.0000000Z",
      "ETag" : "\"0x8D7325BA17BEE60\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:49:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.file.core.windows.net?prefix=fileserviceapitestslistshareswithargs&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gapradev.file.core.windows.net/\"><Prefix>fileserviceapitestslistshareswithargs</Prefix><Shares><Share><Name>fileserviceapitestslistshareswithargs01115361b9fc4d0</Name><Properties><Last-Modified>Thu, 05 Sep 2019 23:49:02 GMT</Last-Modified><Etag>\"0x8D7325BA15F6583\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>fileserviceapitestslistshareswithargs01115361b9fc4d1</Name><Properties><Last-Modified>Thu, 05 Sep 2019 23:49:02 GMT</Last-Modified><Etag>\"0x8D7325BA16D4853\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>fileserviceapitestslistshareswithargs01115361b9fc4d2</Name><Properties><Last-Modified>Thu, 05 Sep 2019 23:49:02 GMT</Last-Modified><Etag>\"0x8D7325BA17BEE60\"</Etag><Quota>2</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileserviceapitestslistshareswithargs01115361b9fc4d" ]
}