{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileasyncapitestscreatefilewithargsfp58928b5d83c5c1?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325B8B616C2B\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:48:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/fileasyncapitestscreatefilewithargsfp58928b5d83c5c1/fileasyncapitestscreatefilewithargsfp00048adb842343",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "10570340844661901768*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T23:48:25.8620000Z",
      "Last-Modified" : "Thu, 05 Sep 2019 23:48:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7325B8B6A3260\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-05T23:48:25.8620000Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T23:48:25.8620000Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestscreatefilewithargsfp58928b5d83c5c1", "fileasyncapitestscreatefilewithargsfp00048adb842343", "2019-09-05T23:48:25.862Z", "2019-09-05T23:48:25.862Z" ]
}