{
  "networkCallRecords" : [ {
    "Method" : "DELETE",
    "Uri" : "https://gapradev.file.core.windows.net/fileserviceasyncapitestsdeletesharedoesnotexist3065503ee?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "ShareNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareNotFound</Code><Message>The specified share does not exist.\nRequestId:a60ab8ad-101a-0035-5839-64fe2f000000\nTime:2019-09-05T22:31:01.3904760Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileserviceasyncapitestsdeletesharedoesnotexist207478cf3", "fileserviceasyncapitestsdeletesharedoesnotexist3065503ee" ]
}