{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploadandclearrange49142b99d0ddd8?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D730D968A63C8C\"",
      "Last-Modified" : "Wed, 04 Sep 2019 01:44:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploadandclearrange49142b99d0ddd8/fileasyncapitestsuploadandclearrange26631be868d245",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-04T01:44:21.8371314Z",
      "Last-Modified" : "Wed, 04 Sep 2019 01:44:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D730D968AC44F2\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-04T01:44:21.8371314Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-04T01:44:21.8371314Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploadandclearrange49142b99d0ddd8/fileasyncapitestsuploadandclearrange26631be868d245?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D730D968CB9454\"",
      "Last-Modified" : "Wed, 04 Sep 2019 01:44:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "A5momLrihyOacM8O00uT1g=="
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestsuploadandclearrange49142b99d0ddd8", "fileasyncapitestsuploadandclearrange26631be868d245" ]
}