{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestscreatefilewithargserror12702444b964d7e?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D730D9540396B3\"",
      "Last-Modified" : "Wed, 04 Sep 2019 01:43:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestscreatefilewithargserror12702444b964d7e/fileapitestscreatefilewithargserror122370a5709bf3d",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-error-code" : "AuthenticationFailed",
      "retry-after" : "0",
      "StatusCode" : "403",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\nRequestId:e7c1891a-101a-0044-53c2-62ec1a000000\nTime:2019-09-04T01:43:47.4164588Z</Message><AuthenticationErrorDetail>The MAC signature found in the HTTP request 'gaDZJ5/8PjkQv2tCLsumetsweVp+5qTvZW+lDD3H4G0=' is not the same as any computed signature. Server used following string to sign: 'PUT\n\n\n\n\n\nWed, 04 Sep 2019 01:43:45 GMT\n\n\n\n\n\nx-ms-client-request-id:0a428c28-6424-4ca9-8b78-0c01f15c8e96\nx-ms-content-language:en\nx-ms-content-length:1024\nx-ms-content-type:application/octet-stream\nx-ms-file-attributes:None\nx-ms-file-creation-time:now\nx-ms-file-last-write-time:now\nx-ms-file-permission:inherit\nx-ms-meta-testmeta:value\nx-ms-type:file\nx-ms-version:2019-02-02\n/azstoragesdkaccount/fileapitestscreatefilewithargserror12702444b964d7e/fileapitestscreatefilewithargserror122370a5709bf3d'.</AuthenticationErrorDetail></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestscreatefilewithargserror12702444b964d7e", "fileapitestscreatefilewithargserror122370a5709bf3d" ]
}