{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/share95438116?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D720D6B3B6E36A\"",
      "Last-Modified" : "Wed, 14 Aug 2019 16:44:40 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/share95438116/?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-server-encrypted" : "false",
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D720D6B40CBB15\"",
      "Last-Modified" : "Wed, 14 Aug 2019 16:44:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    }
  } ],
  "variables" : [ "share54641ca0", "share91181256", "directory176037", "share9156090b", "directory29773b", "share99412ceb", "file154326b7", "share186047f2", "file653524cb", "share95438116" ]
}