{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/share16415e080?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71522028956ED\"",
      "Last-Modified" : "Tue, 30 Jul 2019 19:13:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/share16415e080?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-snapshot" : "2019-07-30T19:13:31.0000000Z",
      "ETag" : "\"0x8D71522028956ED\"",
      "Last-Modified" : "Tue, 30 Jul 2019 19:13:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=share16415e08&include=metadata%2csnapshots&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>share16415e08</Prefix><Shares><Share><Name>share16415e080</Name><Snapshot>2019-07-30T19:13:31.0000000Z</Snapshot><Properties><Last-Modified>Tue, 30 Jul 2019 19:13:31 GMT</Last-Modified><Etag>\"0x8D71522028956ED\"</Etag><Quota>2</Quota></Properties><Metadata><test>metadata</test></Metadata></Share><Share><Name>share16415e080</Name><Properties><Last-Modified>Tue, 30 Jul 2019 19:13:31 GMT</Last-Modified><Etag>\"0x8D71522028956ED\"</Etag><Quota>2</Quota></Properties><Metadata><test>metadata</test></Metadata></Share><Share><Name>share16415e081</Name><Properties><Last-Modified>Tue, 30 Jul 2019 19:13:31 GMT</Last-Modified><Etag>\"0x8D7152202D9D46F\"</Etag><Quota>2</Quota></Properties><Metadata /></Share><Share><Name>share16415e082</Name><Snapshot>2019-07-30T19:13:31.0000000Z</Snapshot><Properties><Last-Modified>Tue, 30 Jul 2019 19:13:31 GMT</Last-Modified><Etag>\"0x8D7152202EC2863\"</Etag><Quota>2</Quota></Properties><Metadata><test>metadata</test></Metadata></Share><Share><Name>share16415e082</Name><Properties><Last-Modified>Tue, 30 Jul 2019 19:13:31 GMT</Last-Modified><Etag>\"0x8D7152202EC2863\"</Etag><Quota>2</Quota></Properties><Metadata><test>metadata</test></Metadata></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=share16415e08&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>share16415e08</Prefix><Shares><Share><Name>share16415e080</Name><Properties><Last-Modified>Tue, 30 Jul 2019 19:13:31 GMT</Last-Modified><Etag>\"0x8D71522028956ED\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>share16415e081</Name><Properties><Last-Modified>Tue, 30 Jul 2019 19:13:31 GMT</Last-Modified><Etag>\"0x8D7152202D9D46F\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>share16415e082</Name><Properties><Last-Modified>Tue, 30 Jul 2019 19:13:31 GMT</Last-Modified><Etag>\"0x8D7152202EC2863\"</Etag><Quota>2</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/share16415e080?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ShareHasSnapshots",
      "retry-after" : "0",
      "StatusCode" : "409",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareHasSnapshots</Code><Message>The share has snapshots and the operation requires no snapshots.\nRequestId:9ebed1e7-b01a-000d-730a-47df7a000000\nTime:2019-07-30T19:13:31.9728507Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/share16415e082?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ShareHasSnapshots",
      "retry-after" : "0",
      "StatusCode" : "409",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareHasSnapshots</Code><Message>The share has snapshots and the operation requires no snapshots.\nRequestId:9ebed1e9-b01a-000d-750a-47df7a000000\nTime:2019-07-30T19:13:32.0449189Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "share16415e08" ]
}