{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/share922507a3?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D720D6B81C60D9\"",
      "Last-Modified" : "Wed, 14 Aug 2019 16:44:48 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/share922507a3?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-share-quota" : "1",
      "ETag" : "\"0x8D720D6B81C60D9\"",
      "x-ms-has-immutability-policy" : "false",
      "Last-Modified" : "Wed, 14 Aug 2019 16:44:48 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/share922507a3?restype=share&comp=properties",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D720D6B88B9FA4\"",
      "Last-Modified" : "Wed, 14 Aug 2019 16:44:48 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/share922507a3?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-share-quota" : "2",
      "ETag" : "\"0x8D720D6B88B9FA4\"",
      "x-ms-has-immutability-policy" : "false",
      "Last-Modified" : "Wed, 14 Aug 2019 16:44:48 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false"
    }
  } ],
  "variables" : [ "share87907da2", "share00889be3", "directory314674", "share59685653", "directory428598", "share65199410", "file0225558a", "share563222c9", "file21492f7d", "share922507a3" ]
}