{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/share71964c7c?restype=share&comp=properties",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ShareNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareNotFound</Code><Message>The specified share does not exist.\nRequestId:5e0891ad-a01a-005d-71bf-52c072000000\nTime:2019-08-14T16:44:48.9371024Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "share27721a42", "share39619e6b", "directory680371", "share03425569", "directory339682", "share20039a7f", "file357721b0", "share853574c7", "file9300086f", "share71964c7c" ]
}