{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/setquotashareasyncapitestssetquotac1565725b249d795a?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73192000F81B2\"",
      "Last-Modified" : "Wed, 04 Sep 2019 23:45:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "setquotashareasyncapitestssetquotac1565725b249d795a" ]
}