{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareapitestscreatesharewithargs305881c19e26ce7d1?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BD94D79C8B\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:17:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  } ],
  "variables" : [ "shareapitestscreatesharewithargs305881c19e26ce7d1" ]
}