{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareapitestscreatesharewithargs1218071df2b1c9be3?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72C05ED28CA6A\"",
      "Last-Modified" : "Wed, 28 Aug 2019 22:20:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareapitestscreatesharewithargs1218071df2b1c9be3" ]
}