{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/shareapitestssetmetadatashareapitestssetmetadata1da89513c1?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325606AD8C6F\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:08:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.file.core.windows.net/shareapitestssetmetadatashareapitestssetmetadata1da89513c1?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "Last-Modified" : "Thu, 05 Sep 2019 23:08:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "x-ms-share-quota" : "5120",
      "ETag" : "\"0x8D7325606AD8C6F\"",
      "x-ms-has-immutability-policy" : "false",
      "x-ms-meta-testmetadata" : "value"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/shareapitestssetmetadatashareapitestssetmetadata1da89513c1?restype=share&comp=metadata",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325606C629FA\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:08:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.file.core.windows.net/shareapitestssetmetadatashareapitestssetmetadata1da89513c1?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "Last-Modified" : "Thu, 05 Sep 2019 23:08:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "x-ms-share-quota" : "5120",
      "ETag" : "\"0x8D7325606C629FA\"",
      "x-ms-has-immutability-policy" : "false",
      "x-ms-meta-afterset" : "value"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareapitestssetmetadatashareapitestssetmetadata1da89513c1" ]
}