{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareasyncapitestscreatesnapshotmetadata71869c75c49e?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EC6919770\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareasyncapitestscreatesnapshotmetadata71869c75c49e?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-snapshot" : "2019-08-20T16:52:24.0000000Z",
      "ETag" : "\"0x8D7258EC6605400\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  } ],
  "variables" : [ "shareasyncapitestscreatesnapshotmetadata71869c75c49e", "shareasyncapitestscreatesnapshotmetadata260143f8dd79" ]
}