{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareapitestsdeletefileerror149576e34905319a04?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EB592C227\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:51:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareapitestsdeletefileerror149576e34905319a04/testdirectory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ResourceNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\nRequestId:d6338fe8-b01a-002f-8077-57b14c000000\nTime:2019-08-20T16:51:55.8542748Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "shareapitestsdeletefileerror149576e34905319a04" ]
}