{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareapitestsdeletefileerror9874105fc2bc5dbcf4?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D721BDA19FF3C0\"",
      "Last-Modified" : "Thu, 15 Aug 2019 20:17:44 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareapitestsdeletefileerror9874105fc2bc5dbcf4/testdirectory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ResourceNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\nRequestId:d378eda5-a01a-013f-5ea6-53c1ff000000\nTime:2019-08-15T20:17:44.1505560Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "shareapitestsdeletefileerror9874105fc2bc5dbcf4" ]
}