{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareasyncapitestscreatesnapshot3556599293b85d3b?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D724EEE3CD5A8D\"",
      "Last-Modified" : "Mon, 19 Aug 2019 21:47:53 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareasyncapitestscreatesnapshot3556599293b85d3b?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-snapshot" : "2019-08-19T21:47:56.0000000Z",
      "ETag" : "\"0x8D724EEE3CD5A8D\"",
      "Last-Modified" : "Mon, 19 Aug 2019 21:47:53 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  } ],
  "variables" : [ "shareasyncapitestscreatesnapshot3556599293b85d3b", "shareasyncapitestscreatesnapshot394780c1243a1a77" ]
}