{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/shareapitestsdeletedirectoryerror66905ace172b0f11?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D732560B1E7B38\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:09:03 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gapradev.file.core.windows.net/shareapitestsdeletedirectoryerror66905ace172b0f11/testdirectory?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "ResourceNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\nRequestId:51ddc045-b01a-002c-4c3e-647e94000000\nTime:2019-09-05T23:09:03.2317808Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareapitestsdeletedirectoryerror66905ace172b0f11" ]
}