{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/shareasyncapitestscreatesnapshotmetadata67332033f5b0?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325B973EE8A5\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:48:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/shareasyncapitestscreatesnapshotmetadata67332033f5b0?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-09-05T23:48:45.0000000Z",
      "ETag" : "\"0x8D7325B96D26C80\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:48:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareasyncapitestscreatesnapshotmetadata67332033f5b0", "shareasyncapitestscreatesnapshotmetadata70007cd87c58" ]
}