{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareasyncapitestsdeleteshare71380e16f5cb4af0c4?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D724EEEAB1C0C8\"",
      "Last-Modified" : "Mon, 19 Aug 2019 21:48:05 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  } ],
  "variables" : [ "shareasyncapitestsdeleteshare71380e16f5cb4af0c4" ]
}