{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareasyncapitestscreatefilemaxoverload84585a39edba2?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72829DF4F4C42\"",
      "Last-Modified" : "Sat, 24 Aug 2019 00:27:40 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareasyncapitestscreatefilemaxoverload84585a39edba2/testCreateFile",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-08-24T00:27:40.2090514Z",
      "Last-Modified" : "Sat, 24 Aug 2019 00:27:40 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D72829DF584C12\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-08-24T00:27:40.2090514Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-08-24T00:27:40.2090514Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareasyncapitestscreatefilemaxoverload84585a39edba2" ]
}