{
  "networkCallRecords" : [ {
    "Method" : "DELETE",
    "Uri" : "https://gapradev.file.core.windows.net/shareasyncapitestsdeleteshareerror583257ac91a4885?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "ShareNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareNotFound</Code><Message>The specified share does not exist.\nRequestId:36c457c9-601a-0000-2c44-64923b000000\nTime:2019-09-05T23:48:46.5639777Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareasyncapitestsdeleteshareerror583257ac91a4885" ]
}