{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/shareasyncapitestsgetproperties756789b9f31123869?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7317BC600EC52\"",
      "Last-Modified" : "Wed, 04 Sep 2019 21:06:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.file.core.windows.net/shareasyncapitestsgetproperties756789b9f31123869?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "Last-Modified" : "Wed, 04 Sep 2019 21:06:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "x-ms-share-quota" : "1",
      "ETag" : "\"0x8D7317BC600EC52\"",
      "x-ms-has-immutability-policy" : "false",
      "x-ms-meta-testmetadata" : "value"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareasyncapitestsgetproperties756789b9f31123869" ]
}