{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createsnapshotshareasyncapitestscreatesnapshot97a59683e55?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73191FF84D2B4\"",
      "Last-Modified" : "Wed, 04 Sep 2019 23:45:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createsnapshotshareasyncapitestscreatesnapshot97a59683e55?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-09-04T23:45:42.0000000Z",
      "ETag" : "\"0x8D73191FF84D2B4\"",
      "Last-Modified" : "Wed, 04 Sep 2019 23:45:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "createsnapshotshareasyncapitestscreatesnapshot97a59683e55", "createsnapshotshareasyncapitestscreatesnapshot97a33675bdb" ]
}