{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareapitestssetmetadataerror219990d3a303a6bc64?restype=share&comp=metadata",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ShareNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareNotFound</Code><Message>The specified share does not exist.\nRequestId:b27cae29-001a-0014-2ca6-53f312000000\nTime:2019-08-15T20:17:29.6268640Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "shareapitestssetmetadataerror219990d3a303a6bc64" ]
}