{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://gapradev.file.core.windows.net/shareapitestsgetpropertieserror664112d72a9788d4a?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "ShareNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareNotFound</Code><Message>The specified share does not exist.\nRequestId:51ddbfc2-b01a-002c-673e-647e94000000\nTime:2019-09-05T23:08:54.8167751Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareapitestsgetpropertieserror664112d72a9788d4a" ]
}