{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareasyncapitestscreatesnapshot58149e233129e085?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7258EC5EBBA36\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareasyncapitestscreatesnapshot58149e233129e085?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-snapshot" : "2019-08-20T16:52:23.0000000Z",
      "ETag" : "\"0x8D7258EC5EBBA36\"",
      "Last-Modified" : "Tue, 20 Aug 2019 16:52:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  } ],
  "variables" : [ "shareasyncapitestscreatesnapshot58149e233129e085", "shareasyncapitestscreatesnapshot4058158c61fa4ba1" ]
}