{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/shareapitestsdeletedirectoryerror78144f29117967fd?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325B79051275\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:47:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gapradev.file.core.windows.net/shareapitestsdeletedirectoryerror78144f29117967fd/testdirectory?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "ResourceNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\nRequestId:07339b24-301a-000d-6c44-645aef000000\nTime:2019-09-05T23:47:55.0992814Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareapitestsdeletedirectoryerror78144f29117967fd" ]
}