{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/shareasyncapitestscreatesharewithargs385612f7fdf267?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7317BC4B0C473\"",
      "Last-Modified" : "Wed, 04 Sep 2019 21:06:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareasyncapitestscreatesharewithargs385612f7fdf267" ]
}