{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/shareasyncapitestscreatefilemaxoverload233455ecafc71?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73250A0DFEB95\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:30:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/shareasyncapitestscreatefilemaxoverload233455ecafc71/testCreateFile",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "10570340844661901768*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T22:30:17.4680000Z",
      "Last-Modified" : "Thu, 05 Sep 2019 22:30:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D73250A0EA0BC0\"",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-09-05T22:30:17.4680000Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T22:30:17.4680000Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareasyncapitestscreatefilemaxoverload233455ecafc71", "2019-09-05T22:30:17.468Z", "2019-09-05T22:30:17.468Z" ]
}