{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareasyncapitestscreatesharewithinvalidargs0024835613d?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "EmptyMetadataKey",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>EmptyMetadataKey</Code><Message>The key for one of the metadata key-value pairs is empty.\nRequestId:249cbc6f-e01a-005a-1877-5736f7000000\nTime:2019-08-20T16:52:22.9301881Z</Message><MetadataValue>value</MetadataValue></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "shareasyncapitestscreatesharewithinvalidargs0024835613d" ]
}