{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/shareapitestscreatedirectory3526873da4c58cc704?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D732560717E6CF\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:08:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/shareapitestscreatedirectory3526873da4c58cc704/testCreateDirectory?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-09-05T23:08:56.4824404Z",
      "Last-Modified" : "Thu, 05 Sep 2019 23:08:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7325607279154\"",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-09-05T23:08:56.4824404Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-09-05T23:08:56.4824404Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareapitestscreatedirectory3526873da4c58cc704" ]
}