{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/shareapitestsgetproperties92952ca1f77a304884a?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73250D30C7554\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:31:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.file.core.windows.net/shareapitestsgetproperties92952ca1f77a304884a?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "Last-Modified" : "Thu, 05 Sep 2019 22:31:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "x-ms-share-quota" : "1",
      "ETag" : "\"0x8D73250D30C7554\"",
      "x-ms-has-immutability-policy" : "false",
      "x-ms-meta-testmetadata" : "value"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareapitestsgetproperties92952ca1f77a304884a" ]
}