{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareasyncapitestscreatefilefilepermissionkey9249193dd7?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7519F9354D0F6",
      "Last-Modified" : "Tue, 15 Oct 2019 18:43:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareasyncapitestscreatefilefilepermissionkey9249193dd7?restype=share&comp=filepermission",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1226745640258142193*13168958551941065216",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareasyncapitestscreatefilefilepermissionkey9249193dd7/testCreateFile",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "6119292009901620917*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-10-15T18:43:31.0506541Z",
      "Last-Modified" : "Tue, 15 Oct 2019 18:43:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7519F9361862D",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-10-15T18:43:31.0506541Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-10-15T18:43:31.0506541Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareasyncapitestscreatefilefilepermissionkey9249193dd7", "2019-10-15T18:43:31.050654100Z", "2019-10-15T18:43:31.050654100Z" ]
}