{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/shareasyncapitestscreatesharewithargs049992b44e4140?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73255FAE68FA9\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:08:35 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareasyncapitestscreatesharewithargs049992b44e4140" ]
}