{
  "networkCallRecords" : [ {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareapitestsdeleteshareerror31709b1ed286f9e0d4?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ShareNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareNotFound</Code><Message>The specified share does not exist.\nRequestId:a2d63b9d-a01a-0116-4577-57b7bd000000\nTime:2019-08-20T16:51:37.9677702Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "shareapitestsdeleteshareerror31709b1ed286f9e0d4" ]
}