{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareasyncapitestscreatesharewithargs122379cceb0da4?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D724EEE328833C\"",
      "Last-Modified" : "Mon, 19 Aug 2019 21:47:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  } ],
  "variables" : [ "shareasyncapitestscreatesharewithargs122379cceb0da4" ]
}