{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.file.core.windows.net/shareasyncapitestssetquota09033d64166b626ed4e?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73255FD4C6C9C\"",
      "Last-Modified" : "Thu, 05 Sep 2019 23:08:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareasyncapitestssetquota09033d64166b626ed4e" ]
}