{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azs-sdk0c01297984fd.search.windows.net/datasources('azs-java-live-blob')?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D76B5A1B47E064\"",
      "elapsed-time" : "125",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdk0c01297984fd.search.windows.net/$metadata#datasources/$entity\",\"@odata.etag\":\"\\\"0x8D76B5A1B47E064\\\"\",\"name\":\"azs-java-live-blob\",\"description\":\"real live blob\",\"type\":\"azureblob\",\"subtype\":null,\"credentials\":{\"connectionString\":null},\"container\":{\"name\":\"azsblob757855\",\"query\":\"/\"},\"dataChangeDetectionPolicy\":null,\"dataDeletionDetectionPolicy\":{\"@odata.type\":\"#Microsoft.Azure.Search.SoftDeleteColumnDeletionDetectionPolicy\",\"softDeleteColumnName\":\"fieldName\",\"softDeleteMarkerValue\":\"someValue\"}}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azs-sdk0c01297984fd.search.windows.net/datasources('azs-java-live-blob')?api-version=2019-05-06"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azs-sdk0c01297984fd.search.windows.net/indexes('indexforindexers')?allowIndexDowntime=false&api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D76B5A1B9FAD97\"",
      "elapsed-time" : "415",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdk0c01297984fd.search.windows.net/$metadata#indexes/$entity\",\"@odata.etag\":\"\\\"0x8D76B5A1B9FAD97\\\"\",\"name\":\"indexforindexers\",\"defaultScoringProfile\":null,\"fields\":[{\"name\":\"county_name\",\"type\":\"Edm.String\",\"searchable\":false,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":false,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]},{\"name\":\"state\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":false,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]},{\"name\":\"feature_id\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":false,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":true,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]}],\"scoringProfiles\":[],\"corsOptions\":null,\"suggesters\":[],\"analyzers\":[],\"tokenizers\":[],\"tokenFilters\":[],\"charFilters\":[]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azs-sdk0c01297984fd.search.windows.net/indexes('indexforindexers')?allowIndexDowntime=false&api-version=2019-05-06"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azs-sdk0c01297984fd.search.windows.net/indexers('indexer')?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D76B5A1BD742A7\"",
      "elapsed-time" : "300",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdk0c01297984fd.search.windows.net/$metadata#indexers/$entity\",\"@odata.etag\":\"\\\"0x8D76B5A1BD742A7\\\"\",\"name\":\"indexer\",\"description\":null,\"dataSourceName\":\"azs-java-live-blob\",\"skillsetName\":null,\"targetIndexName\":\"indexforindexers\",\"disabled\":null,\"schedule\":{\"interval\":\"P1D\",\"startTime\":\"0001-01-01T00:00:00Z\"},\"parameters\":{\"batchSize\":null,\"maxFailedItems\":null,\"maxFailedItemsPerBatch\":null,\"base64EncodeKeys\":null,\"configuration\":{\"dataToExtract\":\"storageMetadata\",\"failOnUnsupportedContentType\":false,\"indexedFileNameExtensions\":\".pdf,.docx\",\"excludedFileNameExtensions\":\".xlsx\"}},\"fieldMappings\":[],\"outputFieldMappings\":[]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azs-sdk0c01297984fd.search.windows.net/indexers('indexer')?api-version=2019-05-06"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}