{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azs-sdk36919504d0c.search.windows.net/indexes?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7B95FE5C43E36\"",
      "elapsed-time" : "1163",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdk36919504d0c.search.windows.net/$metadata#indexes/$entity\",\"@odata.etag\":\"\\\"0x8D7B95FE5C43E36\\\"\",\"name\":\"hotels\",\"defaultScoringProfile\":\"MyProfile\",\"fields\":[{\"name\":\"HotelId\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":true,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]},{\"name\":\"HotelName\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":false,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]},{\"name\":\"Description\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":false,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":\"en.lucene\",\"synonymMaps\"[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azs-sdk36919504d0c.search.windows.net/indexes('hotels')?api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "elapsed-time" : "197",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azs-sdk36919504d0c.search.windows.net/indexes('hotels')?api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "elapsed-time" : "222",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  } ],
  "variables" : [ "azs-sdk36919504d0c", "azsmnet14157b4cecc", "azsmnet7803895a50e", "azsmnet94418e7228f", "azsmnet0060314ef32", "azsmnet621562fd549", "azsmnet82244b8ab5e", "azsmnet7850643be2f", "azsmnet790234b2c81", "azsmnet627180d39b6", "azsmnet12637076cbb", "azsmnet47099adbaac", "azsmnet364348bcf47", "azsmnet4093015d9f9", "azsmnet09977943c02", "azsmnet00441a33774", "azsmnet31924d62e83", "azsmnet876189cd7f6", "azsmnet54418a870ac", "azsmnet81913348c60", "azsmnet076005a6db1", "azsmnet542011878e9", "azsmnet79732ce7f93", "azsmnet190459cd5a0", "azsmnet16806e7a0b4", "azsmnet48931665211", "azsmnet95501687034", "azsmnet456420f5648", "azsmnet63596a6e4c3", "azsmnet35414d0fa56", "azsmnet77943def314", "azsmnet347004e88b9", "azsmnet72678bc1bc2", "azsmnet0505250f735", "azsmnet1230301eaa0", "azsmnet25590f6eac5", "azsmnet10835363b80", "azsmnet9055964a48e", "azsmnet60214a23735", "azsmnet21202014f82", "azsmnet792514f2d96", "azsmnet24114752388", "azsmnet401358a0b42", "azsmnet841372a5052", "azsmnet40961135cb3", "azsmnet04639125b9f", "azsmnet411504417ee", "azsmnet00635a02421", "azsmnet18833434a74", "azsmnet7261947e820" ]
}