{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azs-sdkd4a99352053b.search.windows.net/datasources('azs-java-test-sql')?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D77900ADC3182B\"",
      "elapsed-time" : "66",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdkd4a99352053b.search.windows.net/$metadata#datasources/$entity\",\"@odata.etag\":\"\\\"0x8D77900ADC3182B\\\"\",\"name\":\"azs-java-test-sql\",\"description\":\"Some data source\",\"type\":\"azuresql\",\"subtype\":null,\"credentials\":{\"connectionString\":null},\"container\":{\"name\":\"GeoNamesRI\",\"query\":null},\"dataChangeDetectionPolicy\":null,\"dataDeletionDetectionPolicy\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azs-sdkd4a99352053b.search.windows.net/datasources('azs-java-test-sql')?api-version=2019-05-06"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azs-sdkd4a99352053b.search.windows.net/indexes?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D77900AE826C0A\"",
      "elapsed-time" : "1177",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdkd4a99352053b.search.windows.net/$metadata#indexes/$entity\",\"@odata.etag\":\"\\\"0x8D77900AE826C0A\\\"\",\"name\":\"indexforindexers\",\"defaultScoringProfile\":null,\"fields\":[{\"name\":\"county_name\",\"type\":\"Edm.String\",\"searchable\":false,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":false,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]},{\"name\":\"state\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":false,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]},{\"name\":\"feature_id\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":false,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":true,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]}],\"scoringProfiles\":[],\"corsOptions\":null,\"suggesters\":[],\"analyzers\":[],\"tokenizers\":[],\"tokenFilters\":[],\"charFilters\":[]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azs-sdkd4a99352053b.search.windows.net/indexes('indexforindexers')?api-version=2019-05-06"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azs-sdkd4a99352053b.search.windows.net/indexers?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D77900AEBB1275\"",
      "elapsed-time" : "322",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdkd4a99352053b.search.windows.net/$metadata#indexers/$entity\",\"@odata.etag\":\"\\\"0x8D77900AEBB1275\\\"\",\"name\":\"indexer\",\"description\":null,\"dataSourceName\":\"azs-java-test-sql\",\"skillsetName\":null,\"targetIndexName\":\"indexforindexers\",\"disabled\":null,\"schedule\":{\"interval\":\"P1D\",\"startTime\":\"0001-01-01T00:00:00Z\"},\"parameters\":null,\"fieldMappings\":[],\"outputFieldMappings\":[]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azs-sdkd4a99352053b.search.windows.net/indexers('indexer')?api-version=2019-05-06"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azs-sdkd4a99352053b.search.windows.net/indexers('indexer')/search.run?api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "elapsed-time" : "65",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azs-sdkd4a99352053b.search.windows.net/indexers('indexer')/search.status?api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "51",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdkd4a99352053b.search.windows.net/$metadata#Microsoft.Azure.Search.V2019_05_06.IndexerExecutionInfo\",\"name\":\"indexer\",\"status\":\"running\",\"lastResult\":null,\"executionHistory\":[],\"limits\":{\"maxRunTime\":\"PT0S\",\"maxDocumentExtractionSize\":0,\"maxDocumentContentCharactersToExtract\":0}}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}