{
    "networkCallRecords" : [ {
        "Method" : "POST",
        "Uri" : "https://azs-sdk4e4282510a34.search.windows.net/indexes?api-version=2019-05-06",
        "Headers" : {
            "Content-Type" : "application/json; charset=utf-8"
        },
        "Response" : {
            "retry-after" : "0",
            "StatusCode" : "201",
            "ETag" : "W/\"0x8D763CA131807F3\"",
            "elapsed-time" : "1322",
            "OData-Version" : "4.0",
            "Body" : "{\"@odata.context\":\"https://azs-sdk4e4282510a34.search.windows.net/$metadata#indexes/$entity\",\"@odata.etag\":\"\\\"0x8D763CA131807F3\\\"\",\"name\":\"hotels\",\"defaultScoringProfile\":\"MyProfile\",\"fields\":[{\"name\":\"HotelId\",\"type\":\"Edm.String\",\"searchable\":false,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":true,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]},{\"name\":\"HotelName\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":false,\"key\":false,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]},{\"name\":\"Description\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":false,\"retrievable\":true,\"sortable\":false,\"facetable\":false,\"key\":false,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":\"en.lucene\",\"synonymMa[...]
