{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azs-sdk9234962250b1.search.windows.net/synonymmaps?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7639F8CFEDDB1\"",
      "elapsed-time" : "130",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdk9234962250b1.search.windows.net/$metadata#synonymmaps/$entity\",\"@odata.etag\":\"\\\"0x8D7639F8CFEDDB1\\\"\",\"name\":\"test-synonym\",\"format\":\"solr\",\"synonyms\":\"word1,word2\"}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azs-sdk9234962250b1.search.windows.net/synonymmaps('test-synonym')?api-version=2019-05-06"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azs-sdk9234962250b1.search.windows.net/synonymmaps('test-synonym')?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "W/\"0x8D7639F8D2271C0\"",
      "elapsed-time" : "60",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdk9234962250b1.search.windows.net/$metadata#synonymmaps/$entity\",\"@odata.etag\":\"\\\"0x8D7639F8D2271C0\\\"\",\"name\":\"test-synonym\",\"format\":\"solr\",\"synonyms\":\"newword1,newword2\"}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azs-sdk9234962250b1.search.windows.net/synonymmaps?api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "38",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdk9234962250b1.search.windows.net/$metadata#synonymmaps\",\"value\":[{\"@odata.etag\":\"\\\"0x8D7639F8D2271C0\\\"\",\"name\":\"test-synonym\",\"format\":\"solr\",\"synonyms\":\"newword1,newword2\"}]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}