{
    "networkCallRecords" : [ {
        "Method" : "POST",
        "Uri" : "https://azs-sdke5980989c939.search.windows.net/indexes?api-version=2019-05-06",
        "Headers" : {
            "Content-Type" : "application/json; charset=utf-8"
        },
        "Response" : {
            "retry-after" : "0",
            "StatusCode" : "201",
            "ETag" : "W/\"0x8D75BFADBE5F5D9\"",
            "elapsed-time" : "2243",
            "OData-Version" : "4.0",
            "Body" : "{\"@odata.context\":\"https://azs-sdke5980989c939.search.windows.net/$metadata#indexes/$entity\",\"@odata.etag\":\"\\\"0x8D75BFADBE5F5D9\\\"\",\"name\":\"hotels\",\"defaultScoringProfile\":\"MyProfile\",\"fields\":[{\"name\":\"HotelId\",\"type\":\"Edm.String\",\"searchable\":false,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":true,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]},{\"name\":\"HotelName\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":false,\"key\":false,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]},{\"name\":\"Description\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":false,\"retrievable\":true,\"sortable\":false,\"facetable\":false,\"key\":false,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":\"en.lucene\",\"synonymMa[...]
    }, {
        "Method" : "DELETE",
        "Uri" : "https://azs-sdke5980989c939.search.windows.net/indexes('hotels')?api-version=2019-05-06",
        "Headers" : { },
        "Response" : {
            "elapsed-time" : "312",
            "retry-after" : "0",
            "StatusCode" : "204"
        },
        "Exception" : null
[...]
    }, {
        "Method" : "DELETE",
        "Uri" : "https://azs-sdke5980989c939.search.windows.net/indexes('hotels')?api-version=2019-05-06",
        "Headers" : { },
        "Response" : {
            "elapsed-time" : "299",
            "retry-after" : "0",
            "StatusCode" : "204"
        },
        "Exception" : null
    } ],
    "variables" : [ ]
}
