{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azs-sdk4c690657d3cf.search.windows.net/synonymmaps?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D75BF60BDACED3\"",
      "elapsed-time" : "53",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdk4c690657d3cf.search.windows.net/$metadata#synonymmaps/$entity\",\"@odata.etag\":\"\\\"0x8D75BF60BDACED3\\\"\",\"name\":\"names\",\"format\":\"solr\",\"synonyms\":\"hotel,motel\"}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azs-sdk4c690657d3cf.search.windows.net/synonymmaps('names')?api-version=2019-05-06"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azs-sdk4c690657d3cf.search.windows.net/indexes?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D75BF60CBB457D\"",
      "elapsed-time" : "1489",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdk4c690657d3cf.search.windows.net/$metadata#indexes/$entity\",\"@odata.etag\":\"\\\"0x8D75BF60CBB457D\\\"\",\"name\":\"hotels\",\"defaultScoringProfile\":\"MyProfile\",\"fields\":[{\"name\":\"HotelId\",\"type\":\"Edm.String\",\"searchable\":false,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":true,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]},{\"name\":\"HotelName\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":false,\"key\":false,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[\"names\"]},{\"name\":\"Description\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":false,\"retrievable\":true,\"sortable\":false,\"facetable\":false,\"key\":false,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":\"en.lucene\",\"[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azs-sdk4c690657d3cf.search.windows.net/indexes('hotels')?api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "W/\"0x8D75BF60CBB457D\"",
      "elapsed-time" : "19",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdk4c690657d3cf.search.windows.net/$metadata#indexes/$entity\",\"@odata.etag\":\"\\\"0x8D75BF60CBB457D\\\"\",\"name\":\"h[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azs-sdk4c690657d3cf.search.windows.net/indexes('hotels')?allowIndexDowntime=true&api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "W/\"0x8D75BF60CFB6764\"",
      "elapsed-time" : "206",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdk4c690657d3cf.search.windows.net/[...]
