{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azs-sdkfb877431ecdf.search.windows.net/datasources('azs-java-test-blob')?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D76253C1A91D8A\"",
      "elapsed-time" : "48",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdkfb877431ecdf.search.windows.net/$metadata#datasources/$entity\",\"@odata.etag\":\"\\\"0x8D76253C1A91D8A\\\"\",\"name\":\"azs-java-test-blob\",\"description\":\"Some data source\",\"type\":\"azureblob\",\"subtype\":null,\"credentials\":{\"connectionString\":null},\"container\":{\"name\":\"fakecontainer\",\"query\":\"/fakefolder/\"},\"dataChangeDetectionPolicy\":null,\"dataDeletionDetectionPolicy\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azs-sdkfb877431ecdf.search.windows.net/datasources('azs-java-test-blob')?api-version=2019-05-06"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azs-sdkfb877431ecdf.search.windows.net/datasources('azs-java-test-blob')?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "412",
      "elapsed-time" : "47",
      "OData-Version" : "4.0",
      "Body" : "{\"error\":{\"code\":\"\",\"message\":\"The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request.\"}}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Language" : "en",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}