{
    "networkCallRecords" : [ {
        "Method" : "PUT",
        "Uri" : "https://azs-sdka4f17586afe3.search.windows.net/synonymmaps('test-synonym')?api-version=2019-05-06",
        "Headers" : {
            "Content-Type" : "application/json; charset=utf-8"
        },
        "Response" : {
            "retry-after" : "0",
            "StatusCode" : "201",
            "ETag" : "W/\"0x8D75D8038BFB80E\"",
            "elapsed-time" : "37",
            "OData-Version" : "4.0",
            "Body" : "{\"@odata.context\":\"https://azs-sdka4f17586afe3.search.windows.net/$metadata#synonymmaps/$entity\",\"@odata.etag\":\"\\\"0x8D75D8038BFB80E\\\"\",\"name\":\"test-synonym\",\"format\":\"solr\",\"synonyms\":\"word1,word2\"}",
            "Preference-Applied" : "odata.include-annotations=\"*\"",
            "Content-Type" : "application/json; odata.metadata=minimal",
            "Location" : "https://azs-sdka4f17586afe3.search.windows.net/synonymmaps('test-synonym')?api-version=2019-05-06"
        },
        "Exception" : null
    }, {
        "Method" : "PUT",
        "Uri" : "https://azs-sdka4f17586afe3.search.windows.net/synonymmaps('test-synonym')?api-version=2019-05-06",
        "Headers" : {
            "Content-Type" : "application/json; charset=utf-8"
        },
        "Response" : {
            "retry-after" : "0",
            "StatusCode" : "200",
            "ETag" : "W/\"0x8D75D8038D7FF5E\"",
            "elapsed-time" : "19",
            "OData-Version" : "4.0",
            "Body" : "{\"@odata.context\":\"https://azs-sdka4f17586afe3.search.windows.net/$metadata#synonymmaps/$entity\",\"@odata.etag\":\"\\\"0x8D75D8038D7FF5E\\\"\",\"name\":\"test-synonym\",\"format\":\"solr\",\"synonyms\":\"mutated1, mutated2\"}",
            "Preference-Applied" : "odata.include-annotations=\"*\"",
            "Content-Type" : "application/json; odata.metadata=minimal"
        },
        "Exception" : null
    } ],
    "variables" : [ ]
}
