{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azs-sdk94d530753382.search.windows.net/datasources('azs-java-test-sql')?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "400",
      "elapsed-time" : "28",
      "OData-Version" : "4.0",
      "Body" : "{\"error\":{\"code\":\"\",\"message\":\"Data source type 'thistypedoesnotexist' is not supported\"}}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Language" : "en",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}