{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azs-sdk847105502c9e.search.windows.net/synonymmaps('test-synonym')?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7624E101A1F9F\"",
      "elapsed-time" : "169",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdk847105502c9e.search.windows.net/$metadata#synonymmaps/$entity\",\"@odata.etag\":\"\\\"0x8D7624E101A1F9F\\\"\",\"name\":\"test-synonym\",\"format\":\"solr\",\"synonyms\":\"word1,word2\"}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azs-sdk847105502c9e.search.windows.net/synonymmaps('test-synonym')?api-version=2019-05-06"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azs-sdk847105502c9e.search.windows.net/synonymmaps('test-synonym')?api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "412",
      "elapsed-time" : "28",
      "OData-Version" : "4.0",
      "Body" : "{\"error\":{\"code\":\"\",\"message\":\"The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request.\"}}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Language" : "en",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azs-sdk847105502c9e.search.windows.net/synonymmaps('test-synonym')?api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "elapsed-time" : "40",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}