{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azs-sdk847165ff922.search.windows.net/indexes('data-types-tests-index')/docs/search.index?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "134",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdk847165ff922.search.windows.net/indexes('data-types-tests-index')/$metadata#Collection(Microsoft.Azure.Search.V2019_05_06.IndexResult)\",\"value\":[{\"key\":\"1\",\"status\":true,\"errorMessage\":null,\"statusCode\":201}]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azs-sdk847165ff922.search.windows.net/indexes('data-types-tests-index')/docs('1')?api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "14",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdk847165ff922.search.windows.net/indexes('data-types-tests-index')/$metadata#docs(*)/$entity\",\"Key\":\"1\",\"Bools\":[true,false],\"Dates\":[\"2019-08-13T14:30:00Z\"],\"Doubles\":[0.0,5.8,\"INF\",\"-INF\",\"NaN\"],\"Points\":[{\"type\":\"Point\",\"coordinates\":[100.0,1.0],\"crs\":{\"type\":\"name\",\"properties\":{\"name\":\"EPSG:4326\"}}}],\"Ints\":[1,2,3,4,-13,5,0],\"Longs\":[9999999999999999,832372345832523],\"Strings\":[\"hello\",\"bye\"]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  } ],
  "variables" : [ "azs-sdk847165ff922" ]
}