{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://azs-sdka28854051883.search.windows.net/datasources('thisdatasourcedoesnotexist')?api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "elapsed-time" : "24",
      "OData-Version" : "4.0",
      "Body" : "{\"error\":{\"code\":\"\",\"message\":\"No data source with the name 'thisdatasourcedoesnotexist' was found in service 'azs-sdka28854051883'.\"}}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Language" : "en",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}