{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://azs-sdk10363025a45.search.windows.net/indexers('thisindexerdoesnotexist')?api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "elapsed-time" : "47",
      "OData-Version" : "4.0",
      "Body" : "{\"error\":{\"code\":\"\",\"message\":\"Indexer 'thisindexerdoesnotexist' was not found in service 'azs-sdk10363025a45'.\"}}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Language" : "en",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  } ],
  "variables" : [ "azs-sdk10363025a45" ]
}