{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://azs-sdk07505664fea.search.windows.net/servicestats?api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "51",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdk07505664fea.search.windows.net/$metadata#Microsoft.Azure.Search.V2019_05_06.ServiceStatistics\",\"counters\":{\"documentCount\":{\"usage\":0,\"quota\":null},\"indexesCount\":{\"usage\":0,\"quota\":3},\"indexersCount\":{\"usage\":0,\"quota\":3},\"dataSourcesCount\":{\"usage\":0,\"quota\":3},\"storageSize\":{\"usage\":0,\"quota\":52428800},\"synonymMaps\":{\"usage\":0,\"quota\":3}},\"limits\":{\"maxFieldsPerIndex\":1000,\"maxIndexerRunTime\":\"PT1M\",\"maxFileExtractionSize\":16777216,\"maxFileContentCharactersToExtract\":32768,\"maxFieldNestingDepthPerIndex\":10,\"maxComplexCollectionFieldsPerIndex\":40,\"maxComplexObjectsInCollectionsPerDocument\":3000}}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  } ],
  "variables" : [ "azs-sdk07505664fea" ]
}