{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azs-sdkbd146638d2ec.search.windows.net/indexes('hotels')/docs/search.index?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "332",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdkbd146638d2ec.search.windows.net/indexes('hotels')/$metadata#Collection(Microsoft.Azure.Search.V2019_05_06.IndexResult)\",\"value\":[{\"key\":\"2\",\"status\":true,\"errorMessage\":null,\"statusCode\":201}]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azs-sdkbd146638d2ec.search.windows.net/indexes('hotels')/docs('2')?$select=Description%2cHotelName%2cAddress/City%2cRooms/BaseRate&api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "8",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdkbd146638d2ec.search.windows.net/indexes('hotels')/$metadata#docs(*)/$entity\",\"HotelName\":\"Countryside Hotel\",\"Description\":\"Save up to 50% off traditional hotels.  Free WiFi, great location near downtown, full kitchen, washer & dryer, 24/7 support, bowling alley, fitness center and more.\",\"Address\":{\"City\":\"Durham\"},\"Rooms\":[{\"BaseRate\":2.44},{\"BaseRate\":7.69}]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}