{
    "networkCallRecords" : [ {
        "Method" : "PUT",
        "Uri" : "https://azs-sdkac99361761be.search.windows.net/datasources('azs-java-test-blob')?api-version=2019-05-06",
        "Headers" : {
            "Content-Type" : "application/json; charset=utf-8"
        },
        "Response" : {
            "retry-after" : "0",
            "StatusCode" : "201",
            "ETag" : "W/\"0x8D763C8AA67E307\"",
            "elapsed-time" : "46",
            "OData-Version" : "4.0",
            "Body" : "{\"@odata.context\":\"https://azs-sdkac99361761be.search.windows.net/$metadata#datasources/$entity\",\"@odata.etag\":\"\\\"0x8D763C8AA67E307\\\"\",\"name\":\"azs-java-test-blob\",\"description\":\"Some data source\",\"type\":\"azureblob\",\"subtype\":null,\"credentials\":{\"connectionString\":null},\"container\":{\"name\":\"fakecontainer\",\"query\":\"/fakefolder/\"},\"dataChangeDetectionPolicy\":null,\"dataDeletionDetectionPolicy\":null}",
            "Preference-Applied" : "odata.include-annotations=\"*\"",
            "Content-Type" : "application/json; odata.metadata=minimal",
            "Location" : "https://azs-sdkac99361761be.search.windows.net/datasources('azs-java-test-blob')?api-version=2019-05-06"
        },
        "Exception" : null
    }, {
        "Method" : "PUT",
        "Uri" : "https://azs-sdkac99361761be.search.windows.net/datasources('azs-java-test-blob')?api-version=2019-05-06",
        "Headers" : {
            "Content-Type" : "application/json; charset=utf-8"
        },
        "Response" : {
            "retry-after" : "0",
            "StatusCode" : "200",
            "ETag" : "W/\"0x8D763C8AAB21D56\"",
            "elapsed-time" : "79",
            "OData-Version" : "4.0",
            "Body" : "{\"@odata.context\":\"https://azs-sdkac99361761be.search.windows.net/$metadata#datasources/$entity\",\"@odata.etag\":\"\\\"0x8D763C8AAB21D56\\\"\",\"name\":\"azs-java-test-blob\",\"description\":\"edited description\",\"type\":\"azureblob\",\"subtype\":null,\"credentials\":{\"connectionString\":null},\"container\":{\"name\":\"fakecontainer\",\"query\":\"/fakefolder/\"},\"dataChangeDetectionPolicy\":null,\"dataDeletionDetectionPolicy\":null}",
            "Preference-Applied" : "odata.include-annotations=\"*\"",
            "Content-Type" : "application/json; odata.metadata=minimal"
        },
        "Exception" : null
    } ],
    "variables" : [ ]
}
