// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.cosmos.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.Delete;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Put;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.management.polling.PollResult;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.polling.PollerFlux;
import com.azure.core.util.polling.SyncPoller;
import com.azure.resourcemanager.cosmos.fluent.ThroughputPoolAccountOperationsClient;
import com.azure.resourcemanager.cosmos.fluent.models.ThroughputPoolAccountResourceInner;
import java.nio.ByteBuffer;
import reactor.core.publisher.Flux;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in ThroughputPoolAccountOperationsClient.
 */
public final class ThroughputPoolAccountOperationsClientImpl implements ThroughputPoolAccountOperationsClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final ThroughputPoolAccountOperationsService service;

    /**
     * The service client containing this operation class.
     */
    private final CosmosDBManagementClientImpl client;

    /**
     * Initializes an instance of ThroughputPoolAccountOperationsClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    ThroughputPoolAccountOperationsClientImpl(CosmosDBManagementClientImpl client) {
        this.service = RestProxy.create(ThroughputPoolAccountOperationsService.class, client.getHttpPipeline(),
            client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for CosmosDBManagementClientThroughputPoolAccountOperations to be used by
     * the proxy service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "CosmosDBManagementCl")
    public interface ThroughputPoolAccountOperationsService {
        @Headers({ "Content-Type: application/json" })
        @Get("/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/throughputPools/{throughputPoolName}/throughputPoolAccounts/{throughputPoolAccountName}")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<ThroughputPoolAccountResourceInner>> get(@HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName,
            @PathParam("throughputPoolName") String throughputPoolName,
            @PathParam("throughputPoolAccountName") String throughputPoolAccountName,
            @QueryParam("api-version") String apiVersion, @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Put("/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/throughputPools/{throughputPoolName}/throughputPoolAccounts/{throughputPoolAccountName}")
        @ExpectedResponses({ 200, 201 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<Flux<ByteBuffer>>> create(@HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName,
            @PathParam("throughputPoolName") String throughputPoolName,
            @PathParam("throughputPoolAccountName") String throughputPoolAccountName,
            @QueryParam("api-version") String apiVersion,
            @BodyParam("application/json") ThroughputPoolAccountResourceInner body,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Delete("/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/throughputPools/{throughputPoolName}/throughputPoolAccounts/{throughputPoolAccountName}")
        @ExpectedResponses({ 202, 204 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<Flux<ByteBuffer>>> delete(@HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName,
            @PathParam("throughputPoolName") String throughputPoolName,
            @PathParam("throughputPoolAccountName") String throughputPoolAccountName,
            @QueryParam("api-version") String apiVersion, @HeaderParam("Accept") String accept, Context context);
    }

    /**
     * Retrieves the properties of an existing Azure Cosmos DB Throughput Pool.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an Azure Cosmos DB Throughputpool Account along with {@link Response} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<Response<ThroughputPoolAccountResourceInner>> getWithResponseAsync(String resourceGroupName,
        String throughputPoolName, String throughputPoolAccountName) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (throughputPoolName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter throughputPoolName is required and cannot be null."));
        }
        if (throughputPoolAccountName == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter throughputPoolAccountName is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context -> service.get(this.client.getEndpoint(), this.client.getSubscriptionId(), resourceGroupName,
                    throughputPoolName, throughputPoolAccountName, this.client.getApiVersion(), accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Retrieves the properties of an existing Azure Cosmos DB Throughput Pool.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an Azure Cosmos DB Throughputpool Account along with {@link Response} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<ThroughputPoolAccountResourceInner>> getWithResponseAsync(String resourceGroupName,
        String throughputPoolName, String throughputPoolAccountName, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (throughputPoolName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter throughputPoolName is required and cannot be null."));
        }
        if (throughputPoolAccountName == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter throughputPoolAccountName is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.get(this.client.getEndpoint(), this.client.getSubscriptionId(), resourceGroupName,
            throughputPoolName, throughputPoolAccountName, this.client.getApiVersion(), accept, context);
    }

    /**
     * Retrieves the properties of an existing Azure Cosmos DB Throughput Pool.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an Azure Cosmos DB Throughputpool Account on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<ThroughputPoolAccountResourceInner> getAsync(String resourceGroupName, String throughputPoolName,
        String throughputPoolAccountName) {
        return getWithResponseAsync(resourceGroupName, throughputPoolName, throughputPoolAccountName)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Retrieves the properties of an existing Azure Cosmos DB Throughput Pool.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an Azure Cosmos DB Throughputpool Account along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<ThroughputPoolAccountResourceInner> getWithResponse(String resourceGroupName,
        String throughputPoolName, String throughputPoolAccountName, Context context) {
        return getWithResponseAsync(resourceGroupName, throughputPoolName, throughputPoolAccountName, context).block();
    }

    /**
     * Retrieves the properties of an existing Azure Cosmos DB Throughput Pool.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an Azure Cosmos DB Throughputpool Account.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public ThroughputPoolAccountResourceInner get(String resourceGroupName, String throughputPoolName,
        String throughputPoolAccountName) {
        return getWithResponse(resourceGroupName, throughputPoolName, throughputPoolAccountName, Context.NONE)
            .getValue();
    }

    /**
     * Creates or updates an Azure Cosmos DB ThroughputPool account. The "Update" method is preferred when performing
     * updates on an account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @param body The parameters to provide for the current ThroughputPoolAccount.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an Azure Cosmos DB Throughputpool Account along with {@link Response} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<Response<Flux<ByteBuffer>>> createWithResponseAsync(String resourceGroupName, String throughputPoolName,
        String throughputPoolAccountName, ThroughputPoolAccountResourceInner body) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (throughputPoolName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter throughputPoolName is required and cannot be null."));
        }
        if (throughputPoolAccountName == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter throughputPoolAccountName is required and cannot be null."));
        }
        if (body == null) {
            return Mono.error(new IllegalArgumentException("Parameter body is required and cannot be null."));
        } else {
            body.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context -> service.create(this.client.getEndpoint(), this.client.getSubscriptionId(), resourceGroupName,
                    throughputPoolName, throughputPoolAccountName, this.client.getApiVersion(), body, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Creates or updates an Azure Cosmos DB ThroughputPool account. The "Update" method is preferred when performing
     * updates on an account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @param body The parameters to provide for the current ThroughputPoolAccount.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an Azure Cosmos DB Throughputpool Account along with {@link Response} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Flux<ByteBuffer>>> createWithResponseAsync(String resourceGroupName,
        String throughputPoolName, String throughputPoolAccountName, ThroughputPoolAccountResourceInner body,
        Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (throughputPoolName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter throughputPoolName is required and cannot be null."));
        }
        if (throughputPoolAccountName == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter throughputPoolAccountName is required and cannot be null."));
        }
        if (body == null) {
            return Mono.error(new IllegalArgumentException("Parameter body is required and cannot be null."));
        } else {
            body.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.create(this.client.getEndpoint(), this.client.getSubscriptionId(), resourceGroupName,
            throughputPoolName, throughputPoolAccountName, this.client.getApiVersion(), body, accept, context);
    }

    /**
     * Creates or updates an Azure Cosmos DB ThroughputPool account. The "Update" method is preferred when performing
     * updates on an account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @param body The parameters to provide for the current ThroughputPoolAccount.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link PollerFlux} for polling of an Azure Cosmos DB Throughputpool Account.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public PollerFlux<PollResult<ThroughputPoolAccountResourceInner>, ThroughputPoolAccountResourceInner>
        beginCreateAsync(String resourceGroupName, String throughputPoolName, String throughputPoolAccountName,
            ThroughputPoolAccountResourceInner body) {
        Mono<Response<Flux<ByteBuffer>>> mono
            = createWithResponseAsync(resourceGroupName, throughputPoolName, throughputPoolAccountName, body);
        return this.client.<ThroughputPoolAccountResourceInner, ThroughputPoolAccountResourceInner>getLroResult(mono,
            this.client.getHttpPipeline(), ThroughputPoolAccountResourceInner.class,
            ThroughputPoolAccountResourceInner.class, this.client.getContext());
    }

    /**
     * Creates or updates an Azure Cosmos DB ThroughputPool account. The "Update" method is preferred when performing
     * updates on an account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @param body The parameters to provide for the current ThroughputPoolAccount.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link PollerFlux} for polling of an Azure Cosmos DB Throughputpool Account.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    private PollerFlux<PollResult<ThroughputPoolAccountResourceInner>, ThroughputPoolAccountResourceInner>
        beginCreateAsync(String resourceGroupName, String throughputPoolName, String throughputPoolAccountName,
            ThroughputPoolAccountResourceInner body, Context context) {
        context = this.client.mergeContext(context);
        Mono<Response<Flux<ByteBuffer>>> mono
            = createWithResponseAsync(resourceGroupName, throughputPoolName, throughputPoolAccountName, body, context);
        return this.client.<ThroughputPoolAccountResourceInner, ThroughputPoolAccountResourceInner>getLroResult(mono,
            this.client.getHttpPipeline(), ThroughputPoolAccountResourceInner.class,
            ThroughputPoolAccountResourceInner.class, context);
    }

    /**
     * Creates or updates an Azure Cosmos DB ThroughputPool account. The "Update" method is preferred when performing
     * updates on an account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @param body The parameters to provide for the current ThroughputPoolAccount.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link SyncPoller} for polling of an Azure Cosmos DB Throughputpool Account.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public SyncPoller<PollResult<ThroughputPoolAccountResourceInner>, ThroughputPoolAccountResourceInner> beginCreate(
        String resourceGroupName, String throughputPoolName, String throughputPoolAccountName,
        ThroughputPoolAccountResourceInner body) {
        return this.beginCreateAsync(resourceGroupName, throughputPoolName, throughputPoolAccountName, body)
            .getSyncPoller();
    }

    /**
     * Creates or updates an Azure Cosmos DB ThroughputPool account. The "Update" method is preferred when performing
     * updates on an account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @param body The parameters to provide for the current ThroughputPoolAccount.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link SyncPoller} for polling of an Azure Cosmos DB Throughputpool Account.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public SyncPoller<PollResult<ThroughputPoolAccountResourceInner>, ThroughputPoolAccountResourceInner> beginCreate(
        String resourceGroupName, String throughputPoolName, String throughputPoolAccountName,
        ThroughputPoolAccountResourceInner body, Context context) {
        return this.beginCreateAsync(resourceGroupName, throughputPoolName, throughputPoolAccountName, body, context)
            .getSyncPoller();
    }

    /**
     * Creates or updates an Azure Cosmos DB ThroughputPool account. The "Update" method is preferred when performing
     * updates on an account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @param body The parameters to provide for the current ThroughputPoolAccount.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an Azure Cosmos DB Throughputpool Account on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<ThroughputPoolAccountResourceInner> createAsync(String resourceGroupName, String throughputPoolName,
        String throughputPoolAccountName, ThroughputPoolAccountResourceInner body) {
        return beginCreateAsync(resourceGroupName, throughputPoolName, throughputPoolAccountName, body).last()
            .flatMap(this.client::getLroFinalResultOrError);
    }

    /**
     * Creates or updates an Azure Cosmos DB ThroughputPool account. The "Update" method is preferred when performing
     * updates on an account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @param body The parameters to provide for the current ThroughputPoolAccount.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an Azure Cosmos DB Throughputpool Account on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<ThroughputPoolAccountResourceInner> createAsync(String resourceGroupName, String throughputPoolName,
        String throughputPoolAccountName, ThroughputPoolAccountResourceInner body, Context context) {
        return beginCreateAsync(resourceGroupName, throughputPoolName, throughputPoolAccountName, body, context).last()
            .flatMap(this.client::getLroFinalResultOrError);
    }

    /**
     * Creates or updates an Azure Cosmos DB ThroughputPool account. The "Update" method is preferred when performing
     * updates on an account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @param body The parameters to provide for the current ThroughputPoolAccount.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an Azure Cosmos DB Throughputpool Account.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public ThroughputPoolAccountResourceInner create(String resourceGroupName, String throughputPoolName,
        String throughputPoolAccountName, ThroughputPoolAccountResourceInner body) {
        return createAsync(resourceGroupName, throughputPoolName, throughputPoolAccountName, body).block();
    }

    /**
     * Creates or updates an Azure Cosmos DB ThroughputPool account. The "Update" method is preferred when performing
     * updates on an account.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @param body The parameters to provide for the current ThroughputPoolAccount.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an Azure Cosmos DB Throughputpool Account.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public ThroughputPoolAccountResourceInner create(String resourceGroupName, String throughputPoolName,
        String throughputPoolAccountName, ThroughputPoolAccountResourceInner body, Context context) {
        return createAsync(resourceGroupName, throughputPoolName, throughputPoolAccountName, body, context).block();
    }

    /**
     * Removes an existing Azure Cosmos DB database account from a throughput pool.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<Response<Flux<ByteBuffer>>> deleteWithResponseAsync(String resourceGroupName, String throughputPoolName,
        String throughputPoolAccountName) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (throughputPoolName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter throughputPoolName is required and cannot be null."));
        }
        if (throughputPoolAccountName == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter throughputPoolAccountName is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context -> service.delete(this.client.getEndpoint(), this.client.getSubscriptionId(), resourceGroupName,
                    throughputPoolName, throughputPoolAccountName, this.client.getApiVersion(), accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Removes an existing Azure Cosmos DB database account from a throughput pool.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Flux<ByteBuffer>>> deleteWithResponseAsync(String resourceGroupName,
        String throughputPoolName, String throughputPoolAccountName, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (throughputPoolName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter throughputPoolName is required and cannot be null."));
        }
        if (throughputPoolAccountName == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter throughputPoolAccountName is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.delete(this.client.getEndpoint(), this.client.getSubscriptionId(), resourceGroupName,
            throughputPoolName, throughputPoolAccountName, this.client.getApiVersion(), accept, context);
    }

    /**
     * Removes an existing Azure Cosmos DB database account from a throughput pool.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link PollerFlux} for polling of long-running operation.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public PollerFlux<PollResult<Void>, Void> beginDeleteAsync(String resourceGroupName, String throughputPoolName,
        String throughputPoolAccountName) {
        Mono<Response<Flux<ByteBuffer>>> mono
            = deleteWithResponseAsync(resourceGroupName, throughputPoolName, throughputPoolAccountName);
        return this.client.<Void, Void>getLroResult(mono, this.client.getHttpPipeline(), Void.class, Void.class,
            this.client.getContext());
    }

    /**
     * Removes an existing Azure Cosmos DB database account from a throughput pool.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link PollerFlux} for polling of long-running operation.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    private PollerFlux<PollResult<Void>, Void> beginDeleteAsync(String resourceGroupName, String throughputPoolName,
        String throughputPoolAccountName, Context context) {
        context = this.client.mergeContext(context);
        Mono<Response<Flux<ByteBuffer>>> mono
            = deleteWithResponseAsync(resourceGroupName, throughputPoolName, throughputPoolAccountName, context);
        return this.client.<Void, Void>getLroResult(mono, this.client.getHttpPipeline(), Void.class, Void.class,
            context);
    }

    /**
     * Removes an existing Azure Cosmos DB database account from a throughput pool.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link SyncPoller} for polling of long-running operation.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public SyncPoller<PollResult<Void>, Void> beginDelete(String resourceGroupName, String throughputPoolName,
        String throughputPoolAccountName) {
        return this.beginDeleteAsync(resourceGroupName, throughputPoolName, throughputPoolAccountName).getSyncPoller();
    }

    /**
     * Removes an existing Azure Cosmos DB database account from a throughput pool.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link SyncPoller} for polling of long-running operation.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public SyncPoller<PollResult<Void>, Void> beginDelete(String resourceGroupName, String throughputPoolName,
        String throughputPoolAccountName, Context context) {
        return this.beginDeleteAsync(resourceGroupName, throughputPoolName, throughputPoolAccountName, context)
            .getSyncPoller();
    }

    /**
     * Removes an existing Azure Cosmos DB database account from a throughput pool.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return A {@link Mono} that completes when a successful response is received.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<Void> deleteAsync(String resourceGroupName, String throughputPoolName,
        String throughputPoolAccountName) {
        return beginDeleteAsync(resourceGroupName, throughputPoolName, throughputPoolAccountName).last()
            .flatMap(this.client::getLroFinalResultOrError);
    }

    /**
     * Removes an existing Azure Cosmos DB database account from a throughput pool.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return A {@link Mono} that completes when a successful response is received.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Void> deleteAsync(String resourceGroupName, String throughputPoolName,
        String throughputPoolAccountName, Context context) {
        return beginDeleteAsync(resourceGroupName, throughputPoolName, throughputPoolAccountName, context).last()
            .flatMap(this.client::getLroFinalResultOrError);
    }

    /**
     * Removes an existing Azure Cosmos DB database account from a throughput pool.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public void delete(String resourceGroupName, String throughputPoolName, String throughputPoolAccountName) {
        deleteAsync(resourceGroupName, throughputPoolName, throughputPoolAccountName).block();
    }

    /**
     * Removes an existing Azure Cosmos DB database account from a throughput pool.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param throughputPoolName Cosmos DB Throughput Pool name.
     * @param throughputPoolAccountName Cosmos DB global database account in a Throughput Pool.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public void delete(String resourceGroupName, String throughputPoolName, String throughputPoolAccountName,
        Context context) {
        deleteAsync(resourceGroupName, throughputPoolName, throughputPoolAccountName, context).block();
    }
}
