# See for instructions on this file https://help.github.com/articles/about-codeowners/

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/engineering-system/codeowners.md

###########
# SDK
###########

# Catch all
# /sdk/ @joshfree

# Service teams
# /sdk/eventhubs/
# /sdk/keyvault/

###########
# Eng Sys
###########
/eng/   @weshaggard @mitchdenny @danieljurek
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny
