# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/                                               @joshfree @jonathangiles @srnagar @hemanttanwar @anuchandy

# BOM
/sdk/boms/azure-sdk-bom/                            @alzimmermsft @jonathangiles @srnagar @hemanttanwar @anuchandy

# Service teams
/sdk/appconfiguration/                              @mssfang @alzimmermsft @conniey @sima-zhu
/sdk/batch/                                         @xingwu1 @bgklein @matthchr
/sdk/core/                                          @alzimmermsft @jianghaolu @srnagar @hemanttanwar @anuchandy
/sdk/core/azure-core-tracing-opentelemetry/         @samvaity @alzimmermsft
/sdk/cosmos/                                        @moderakh @kushagraThapar @David-Noble-at-work @kirankumarkolli @mbhaskar
/sdk/eventhubs/                                     @conniey @srnagar @mssfang
/sdk/identity/                                      @schaabs @g2vinay @jianghaolu
/sdk/keyvault/                                      @g2vinay @vcolin7 @samvaity
/sdk/search/                                        @alzimmermsft @sima-zhu
/sdk/servicebus/                                    @yvgopal @nemakam @hemanttanwar @conniey
/sdk/storage/                                       @rickle-msft @jaschrep-msft @gapra-msft @alzimmermsft @sima-zhu
/sdk/textanalytics/                                 @samvaity @mssfang

# end to end tests
/sdk/e2e/                                           @jianghaolu @g2vinay

# Management Plane
/sdk/management/                                    @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft
/sdk/**/mgmt*/                                      @ChenTanyi @weidongxu-microsoft @yungezz @xccc-msft

###########
# Eng Sys
###########
/eng/                                               @JimSuplizio @mitchdenny @weshaggard @danieljurek
/eng/code-quality-reports/                          @mssfang @JonathanGiles
/eng/jacoco-test-coverage/                          @srnagar @JonathanGiles
/eng/spotbugs-aggregate-report/                     @srnagar @JonathanGiles
/parent/                                            @JimSuplizio

/**/tests.yml                                       @danieljurek
/**/ci.yml                                          @mitchdenny
