// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.learn.computation.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.exception.HttpResponseException;
import com.azure.core.http.HttpPipeline;
import com.azure.core.http.HttpPipelineBuilder;
import com.azure.core.http.policy.CookiePolicy;
import com.azure.core.http.policy.RetryPolicy;
import com.azure.core.http.policy.UserAgentPolicy;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.util.Context;
import com.azure.core.util.serializer.JacksonAdapter;
import com.azure.core.util.serializer.SerializerAdapter;
import com.azure.learn.computation.implementation.models.ComputationResponse;
import reactor.core.publisher.Mono;

/** Initializes a new instance of the ExampleComputationServiceForAzureSDKAPIDesignTrainingUnit type. */
public final class ExampleComputationServiceForAzureSDKAPIDesignTrainingUnitImpl {
    /** The proxy service used to perform REST calls. */
    private final ExampleComputationServiceForAzureSDKAPIDesignTrainingUnitService service;

    /** */
    private final String nodeName;

    /**
     * Gets.
     *
     * @return the nodeName value.
     */
    public String getNodeName() {
        return this.nodeName;
    }

    /** Optional client-provided request id. */
    private final String xMsClientRequestId;

    /**
     * Gets Optional client-provided request id.
     *
     * @return the xMsClientRequestId value.
     */
    public String getXMsClientRequestId() {
        return this.xMsClientRequestId;
    }

    /** server parameter. */
    private final String host;

    /**
     * Gets server parameter.
     *
     * @return the host value.
     */
    public String getHost() {
        return this.host;
    }

    /** The HTTP pipeline to send requests through. */
    private final HttpPipeline httpPipeline;

    /**
     * Gets The HTTP pipeline to send requests through.
     *
     * @return the httpPipeline value.
     */
    public HttpPipeline getHttpPipeline() {
        return this.httpPipeline;
    }

    /** The serializer to serialize an object into a string. */
    private final SerializerAdapter serializerAdapter;

    /**
     * Gets The serializer to serialize an object into a string.
     *
     * @return the serializerAdapter value.
     */
    public SerializerAdapter getSerializerAdapter() {
        return this.serializerAdapter;
    }

    /** The ComputeNodeAdministrationsImpl object to access its operations. */
    private final ComputeNodeAdministrationsImpl computeNodeAdministrations;

    /**
     * Gets the ComputeNodeAdministrationsImpl object to access its operations.
     *
     * @return the ComputeNodeAdministrationsImpl object.
     */
    public ComputeNodeAdministrationsImpl getComputeNodeAdministrations() {
        return this.computeNodeAdministrations;
    }

    /** The ComputationsImpl object to access its operations. */
    private final ComputationsImpl computations;

    /**
     * Gets the ComputationsImpl object to access its operations.
     *
     * @return the ComputationsImpl object.
     */
    public ComputationsImpl getComputations() {
        return this.computations;
    }

    /**
     * Initializes an instance of ExampleComputationServiceForAzureSDKAPIDesignTrainingUnit client.
     *
     * @param nodeName
     * @param xMsClientRequestId Optional client-provided request id.
     * @param host server parameter.
     */
    ExampleComputationServiceForAzureSDKAPIDesignTrainingUnitImpl(
            String nodeName, String xMsClientRequestId, String host) {
        this(
                new HttpPipelineBuilder()
                        .policies(new UserAgentPolicy(), new RetryPolicy(), new CookiePolicy())
                        .build(),
                JacksonAdapter.createDefaultSerializerAdapter(),
                nodeName,
                xMsClientRequestId,
                host);
    }

    /**
     * Initializes an instance of ExampleComputationServiceForAzureSDKAPIDesignTrainingUnit client.
     *
     * @param httpPipeline The HTTP pipeline to send requests through.
     * @param nodeName
     * @param xMsClientRequestId Optional client-provided request id.
     * @param host server parameter.
     */
    ExampleComputationServiceForAzureSDKAPIDesignTrainingUnitImpl(
            HttpPipeline httpPipeline, String nodeName, String xMsClientRequestId, String host) {
        this(httpPipeline, JacksonAdapter.createDefaultSerializerAdapter(), nodeName, xMsClientRequestId, host);
    }

    /**
     * Initializes an instance of ExampleComputationServiceForAzureSDKAPIDesignTrainingUnit client.
     *
     * @param httpPipeline The HTTP pipeline to send requests through.
     * @param serializerAdapter The serializer to serialize an object into a string.
     * @param nodeName
     * @param xMsClientRequestId Optional client-provided request id.
     * @param host server parameter.
     */
    ExampleComputationServiceForAzureSDKAPIDesignTrainingUnitImpl(
            HttpPipeline httpPipeline,
            SerializerAdapter serializerAdapter,
            String nodeName,
            String xMsClientRequestId,
            String host) {
        this.httpPipeline = httpPipeline;
        this.serializerAdapter = serializerAdapter;
        this.nodeName = nodeName;
        this.xMsClientRequestId = xMsClientRequestId;
        this.host = host;
        this.computeNodeAdministrations = new ComputeNodeAdministrationsImpl(this);
        this.computations = new ComputationsImpl(this);
        this.service =
                RestProxy.create(
                        ExampleComputationServiceForAzureSDKAPIDesignTrainingUnitService.class,
                        this.httpPipeline,
                        this.getSerializerAdapter());
    }

    /**
     * The interface defining all the services for ExampleComputationServiceForAzureSDKAPIDesignTrainingUnit to be used
     * by the proxy service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "ExampleComputationSe")
    private interface ExampleComputationServiceForAzureSDKAPIDesignTrainingUnitService {
        @Get("/operations/{operationId}")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(HttpResponseException.class)
        Mono<ComputationResponse> computation(
                @HostParam("$host") String host,
                @PathParam("operationId") String operationId,
                @HeaderParam("x-ms-client-request-id") String xMsClientRequestId,
                Context context);
    }

    /**
     * @param operationId The operationId parameter.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws HttpResponseException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<ComputationResponse> computationWithResponseAsync(String operationId, Context context) {
        return service.computation(this.getHost(), operationId, this.getXMsClientRequestId(), context);
    }
}
