{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gaprahns.blob.core.windows.net/jtfsdeletefilesystem089903ad3bb74a625f42888f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77DBFB192FF68",
      "Last-Modified" : "Tue, 10 Dec 2019 22:24:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "http://gaprahns.blob.core.windows.net/jtfsdeletefilesystem200449a51e251c74774b74a9?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:e2721cc8-401e-0017-42a8-af8e19000000\nTime:2019-12-10T22:24:17.0422889Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://gaprahns.blob.core.windows.net?prefix=jtfsdeletefilesystem&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://gaprahns.blob.core.windows.net/\"><Prefix>jtfsdeletefilesystem</Prefix><Containers><Container><Name>jtfsdeletefilesystem089903ad3bb74a625f42888f</Name><Properties><Last-Modified>Tue, 10 Dec 2019 22:24:16 GMT</Last-Modified><Etag>\"0x8D77DBFB192FF68\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtfsdeletefilesystem1115884f26f935c42f4695a6</Name><Properties><Last-Modified>Tue, 10 Dec 2019 22:24:16 GMT</Last-Modified><Etag>\"0x8D77DBFB1AE2D69\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "http://gaprahns.blob.core.windows.net/jtfsdeletefilesystem1115884f26f935c42f4695a6?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsdeletefilesystem089903ad3bb74a625f42888f", "jtfsdeletefilesystem1115884f26f935c42f4695a6", "jtfsdeletefilesystem200449a51e251c74774b74a9" ]
}