{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfsdeletesubdirdirdoesnotexistanymore03190d3bd5ba6e3?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E66B27E24",
      "Last-Modified" : "Thu, 12 Dec 2019 18:09:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfsdeletesubdirdirdoesnotexistanymore03190d3bd5ba6e3/javapathdeletesubdirdirdoesnotexistanymore7283567ae18d3?resource=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E66BE138A",
      "Last-Modified" : "Thu, 12 Dec 2019 18:09:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfsdeletesubdirdirdoesnotexistanymore03190d3bd5ba6e3/javapathdeletesubdirdirdoesnotexistanymore7283567ae18d3/javapathdeletesubdirdirdoesnotexistanymore858783d70e599?resource=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E66C739F8",
      "Last-Modified" : "Thu, 12 Dec 2019 18:09:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfsdeletesubdirdirdoesnotexistanymore03190d3bd5ba6e3/javapathdeletesubdirdirdoesnotexistanymore7283567ae18d3/javapathdeletesubdirdirdoesnotexistanymore858783d70e599?recursive=false",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfsdeletesubdirdirdoesnotexistanymore03190d3bd5ba6e3/javapathdeletesubdirdirdoesnotexistanymore7283567ae18d3%2Fjavapathdeletesubdirdirdoesnotexistanymore858783d70e599",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://javaadlstests.blob.core.windows.net?prefix=jtfsdeletesubdirdirdoesnotexistanymore&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://javaadlstests.blob.core.windows.net/\"><Prefix>jtfsdeletesubdirdirdoesnotexistanymore</Prefix><Containers><Container><Name>jtfsdeletesubdirdirdoesnotexistanymore03190d3bd5ba6e3</Name><Properties><Last-Modified>Thu, 12 Dec 2019 18:09:16 GMT</Last-Modified><Etag>\"0x8D77F2E66B27E24\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfsdeletesubdirdirdoesnotexistanymore03190d3bd5ba6e3?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsdeletesubdirdirdoesnotexistanymore03190d3bd5ba6e3", "javapathdeletesubdirdirdoesnotexistanymore7283567ae18d3", "javapathdeletesubdirdirdoesnotexistanymore858783d70e599" ]
}