{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfscreatesubdirroot0directoryapitestcreatesubdirrootd21675898?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C54863479C5D",
      "Last-Modified" : "Tue, 10 Mar 2020 23:11:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfscreatesubdirroot0directoryapitestcreatesubdirrootd21675898/javapathcreatesubdirroot1807737276a99607d24a12?resource=directory",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C548637ED48B",
      "Last-Modified" : "Tue, 10 Mar 2020 23:11:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfscreatesubdirroot0directoryapitestcreatesubdirrootd21675898/javapathcreatesubdirroot249160c39547e2b6a54795",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Tue, 10 Mar 2020 23:11:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "x-ms-meta-hdi_isfolder" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D7C54863B11E81",
      "x-ms-creation-time" : "Tue, 10 Mar 2020 23:11:39 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfscreatesubdirroot0directoryapitestcreatesubdirrootd21675898/javapathcreatesubdirroot249160c39547e2b6a54795?action=getAccessControl&upn=false",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-group" : "$superuser",
      "x-ms-version" : "2019-07-07",
      "x-ms-acl" : "user::rwx,group::r-x,other::---",
      "Last-Modified" : "Tue, 10 Mar 2020 23:11:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "0x8D7C54863B11E81",
      "x-ms-permissions" : "rwxr-x---",
      "x-ms-owner" : "$superuser"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net?prefix=jtfscreatesubdirroot&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahnsstg.blob.core.windows.net/\"><Prefix>jtfscreatesubdirroot</Prefix><Containers><Container><Name>jtfscreatesubdirroot0directoryapitestcreatesubdirrootd21675898</Name><Properties><Last-Modified>Tue, 10 Mar 2020 23:11:39 GMT</Last-Modified><Etag>\"0x8D7C54863479C5D\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfscreatesubdirroot0directoryapitestcreatesubdirrootd21675898?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfscreatesubdirroot0directoryapitestcreatesubdirrootd21675898", "javapathcreatesubdirroot1807737276a99607d24a12", "javapathcreatesubdirroot249160c39547e2b6a54795" ]
}