{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfscreatemin0directoryapitestcreatemine7574178f204123f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEAA7B6F2A5",
      "Last-Modified" : "Fri, 01 Nov 2019 16:43:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfscreatemin0directoryapitestcreatemine7574178f204123f/javapathcreatemin1directoryapitestcreatemine75978454c31a8?resource=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEAA7C479A0",
      "Last-Modified" : "Fri, 01 Nov 2019 16:43:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahns.blob.core.windows.net?prefix=jtfscreatemin&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahns.blob.core.windows.net/\"><Prefix>jtfscreatemin</Prefix><Containers><Container><Name>jtfscreatemin0directoryapitestcreatemine7574178f204123f</Name><Properties><Last-Modified>Fri, 01 Nov 2019 16:43:42 GMT</Last-Modified><Etag>\"0x8D75EEAA7B6F2A5\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfscreatemin0directoryapitestcreatemine7574178f204123f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfscreatemin0directoryapitestcreatemine7574178f204123f", "javapathcreatemin1directoryapitestcreatemine75978454c31a8", "javapathcreatemin2directoryapitestcreatemine750913204fa89" ]
}