{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsgetaccesscontrolac034510892a464da55a4a30a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEAB140DA1F",
      "Last-Modified" : "Fri, 01 Nov 2019 16:43:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsgetaccesscontrolac034510892a464da55a4a30a/javapathgetaccesscontrolac114023d645d573e333437?resource=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEAB14A7BE9",
      "Last-Modified" : "Fri, 01 Nov 2019 16:43:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsgetaccesscontrolac034510892a464da55a4a30a/javapathgetaccesscontrolac114023d645d573e333437",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Fri, 01 Nov 2019 16:43:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "x-ms-meta-hdi_isfolder" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D75EEAB14A7BE9",
      "x-ms-creation-time" : "Fri, 01 Nov 2019 16:43:58 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsgetaccesscontrolac034510892a464da55a4a30a/javapathgetaccesscontrolac114023d645d573e333437?action=getAccessControl&upn=false",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-group" : "$superuser",
      "x-ms-version" : "2019-02-02",
      "x-ms-acl" : "user::rwx,group::r-x,other::---",
      "Last-Modified" : "Fri, 01 Nov 2019 16:43:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "0x8D75EEAB14A7BE9",
      "x-ms-permissions" : "rwxr-x---",
      "x-ms-owner" : "$superuser"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahns.blob.core.windows.net?prefix=jtfsgetaccesscontrolac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahns.blob.core.windows.net/\"><Prefix>jtfsgetaccesscontrolac</Prefix><Containers><Container><Name>jtfsgetaccesscontrolac034510892a464da55a4a30a</Name><Properties><Last-Modified>Fri, 01 Nov 2019 16:43:58 GMT</Last-Modified><Etag>\"0x8D75EEAB140DA1F\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsgetaccesscontrolac034510892a464da55a4a30a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsgetaccesscontrolac034510892a464da55a4a30a", "javapathgetaccesscontrolac114023d645d573e333437" ]
}