{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gaprahns.blob.core.windows.net/jtfscreatedeletesubdirectoryurlencoding027627142176307?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D766E71EAE9C51",
      "Last-Modified" : "Mon, 11 Nov 2019 20:38:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprahns.dfs.core.windows.net/jtfscreatedeletesubdirectoryurlencoding027627142176307/javapathcreatedeletesubdirectoryurlencoding13246933787f1?resource=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D766E71EBAFDF0",
      "Last-Modified" : "Mon, 11 Nov 2019 20:38:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprahns.dfs.core.windows.net/jtfscreatedeletesubdirectoryurlencoding027627142176307/javapathcreatedeletesubdirectoryurlencoding299112491146c/path%2Fto%5Da%20dir?resource=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D766E71EC6EEB7",
      "Last-Modified" : "Mon, 11 Nov 2019 20:38:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://gaprahns.dfs.core.windows.net/jtfscreatedeletesubdirectoryurlencoding027627142176307/javapathcreatedeletesubdirectoryurlencoding299112491146c/path%2Fto%5Da%20dir?recursive=false",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://gaprahns.blob.core.windows.net?prefix=jtfscreatedeletesubdirectoryurlencoding&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://gaprahns.blob.core.windows.net/\"><Prefix>jtfscreatedeletesubdirectoryurlencoding</Prefix><Containers><Container><Name>jtfscreatedeletesubdirectoryurlencoding027627142176307</Name><Properties><Last-Modified>Mon, 11 Nov 2019 20:38:33 GMT</Last-Modified><Etag>\"0x8D766E71EAE9C51\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://gaprahns.blob.core.windows.net/jtfscreatedeletesubdirectoryurlencoding027627142176307?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfscreatedeletesubdirectoryurlencoding027627142176307", "javapathcreatedeletesubdirectoryurlencoding13246933787f1", "javapathcreatedeletesubdirectoryurlencoding299112491146c" ]
}