{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsgetaccesscontrolac039171301a21ee8faa4fd78?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEAB119BC82",
      "Last-Modified" : "Fri, 01 Nov 2019 16:43:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsgetaccesscontrolac039171301a21ee8faa4fd78/javapathgetaccesscontrolac1775695f2b8899d1ea41c?resource=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEAB122E153",
      "Last-Modified" : "Fri, 01 Nov 2019 16:43:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsgetaccesscontrolac039171301a21ee8faa4fd78/javapathgetaccesscontrolac1775695f2b8899d1ea41c?action=getAccessControl&upn=false",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-group" : "$superuser",
      "x-ms-version" : "2019-02-02",
      "x-ms-acl" : "user::rwx,group::r-x,other::---",
      "Last-Modified" : "Fri, 01 Nov 2019 16:43:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "0x8D75EEAB122E153",
      "x-ms-permissions" : "rwxr-x---",
      "x-ms-owner" : "$superuser"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahns.blob.core.windows.net?prefix=jtfsgetaccesscontrolac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahns.blob.core.windows.net/\"><Prefix>jtfsgetaccesscontrolac</Prefix><Containers><Container><Name>jtfsgetaccesscontrolac039171301a21ee8faa4fd78</Name><Properties><Last-Modified>Fri, 01 Nov 2019 16:43:58 GMT</Last-Modified><Etag>\"0x8D75EEAB119BC82\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsgetaccesscontrolac039171301a21ee8faa4fd78?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsgetaccesscontrolac039171301a21ee8faa4fd78", "javapathgetaccesscontrolac1775695f2b8899d1ea41c" ]
}