{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfscreatefilemetadata02532d74c4ddb2b8f4220ac?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E5ACED6C5",
      "Last-Modified" : "Thu, 12 Dec 2019 18:08:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfscreatefilemetadata02532d74c4ddb2b8f4220ac/javapathcreatefilemetadata09944f3de83d969e14f6f?resource=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E5ADA2C28",
      "Last-Modified" : "Thu, 12 Dec 2019 18:08:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfscreatefilemetadata02532d74c4ddb2b8f4220ac/javapathcreatefilemetadata09944f3de83d969e14f6f/javapathcreatefilemetadata6095619d335f9184240c4?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E5AE41914",
      "Last-Modified" : "Thu, 12 Dec 2019 18:08:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfscreatefilemetadata02532d74c4ddb2b8f4220ac/javapathcreatefilemetadata09944f3de83d969e14f6f%2Fjavapathcreatefilemetadata6095619d335f9184240c4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 12 Dec 2019 18:08:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-meta-foo" : "bar",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D77F2E5AE41914",
      "x-ms-creation-time" : "Thu, 12 Dec 2019 18:08:56 GMT",
      "x-ms-meta-fizz" : "buzz",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://javaadlstests.blob.core.windows.net?prefix=jtfscreatefilemetadata&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://javaadlstests.blob.core.windows.net/\"><Prefix>jtfscreatefilemetadata</Prefix><Containers><Container><Name>jtfscreatefilemetadata02532d74c4ddb2b8f4220ac</Name><Properties><Last-Modified>Thu, 12 Dec 2019 18:08:56 GMT</Last-Modified><Etag>\"0x8D77F2E5ACED6C5\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfscreatefilemetadata02532d74c4ddb2b8f4220ac?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfscreatefilemetadata02532d74c4ddb2b8f4220ac", "javapathcreatefilemetadata09944f3de83d969e14f6f", "javapathcreatefilemetadata6095619d335f9184240c4" ]
}