{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfssethttpheadersmindirectoryapitestsethttpheadersmin3d527241?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E52D86DD6",
      "Last-Modified" : "Thu, 12 Dec 2019 18:08:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfssethttpheadersmindirectoryapitestsethttpheadersmin3d527241/javapathsethttpheadersmin0756154494040520b4e6e?resource=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E52E424E2",
      "Last-Modified" : "Thu, 12 Dec 2019 18:08:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfssethttpheadersmindirectoryapitestsethttpheadersmin3d527241/javapathsethttpheadersmin0756154494040520b4e6e",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 12 Dec 2019 18:08:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "x-ms-meta-hdi_isfolder" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D77F2E52E424E2",
      "x-ms-creation-time" : "Thu, 12 Dec 2019 18:08:43 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfssethttpheadersmindirectoryapitestsethttpheadersmin3d527241/javapathsethttpheadersmin0756154494040520b4e6e?comp=properties",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E52F5B023",
      "Last-Modified" : "Thu, 12 Dec 2019 18:08:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfssethttpheadersmindirectoryapitestsethttpheadersmin3d527241/javapathsethttpheadersmin0756154494040520b4e6e",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 12 Dec 2019 18:08:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "x-ms-meta-hdi_isfolder" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D77F2E52F5B023",
      "x-ms-creation-time" : "Thu, 12 Dec 2019 18:08:43 GMT",
      "Body" : "",
      "Content-Type" : "type"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://javaadlstests.blob.core.windows.net?prefix=jtfssethttpheadersmin&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://javaadlstests.blob.core.windows.net/\"><Prefix>jtfssethttpheadersmin</Prefix><Containers><Container><Name>jtfssethttpheadersmindirectoryapitestsethttpheadersmin3d527241</Name><Properties><Last-Modified>Thu, 12 Dec 2019 18:08:43 GMT</Last-Modified><Etag>\"0x8D77F2E52D86DD6\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfssethttpheadersmindirectoryapitestsethttpheadersmin3d527241?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfssethttpheadersmindirectoryapitestsethttpheadersmin3d527241", "javapathsethttpheadersmin0756154494040520b4e6e" ]
}