{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsdeletesubdirdirdoesnotexistanymore08301973e15851b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEACB13F36E",
      "Last-Modified" : "Fri, 01 Nov 2019 16:44:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsdeletesubdirdirdoesnotexistanymore08301973e15851b/javapathdeletesubdirdirdoesnotexistanymore1950723dd78b4?resource=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEACB1D5247",
      "Last-Modified" : "Fri, 01 Nov 2019 16:44:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsdeletesubdirdirdoesnotexistanymore08301973e15851b/javapathdeletesubdirdirdoesnotexistanymore1950723dd78b4/javapathdeletesubdirdirdoesnotexistanymore2340326ea2e09?resource=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEACB2550A4",
      "Last-Modified" : "Fri, 01 Nov 2019 16:44:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsdeletesubdirdirdoesnotexistanymore08301973e15851b/javapathdeletesubdirdirdoesnotexistanymore1950723dd78b4/javapathdeletesubdirdirdoesnotexistanymore2340326ea2e09?recursive=false",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsdeletesubdirdirdoesnotexistanymore08301973e15851b/javapathdeletesubdirdirdoesnotexistanymore1950723dd78b4%2Fjavapathdeletesubdirdirdoesnotexistanymore2340326ea2e09",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahns.blob.core.windows.net?prefix=jtfsdeletesubdirdirdoesnotexistanymore&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahns.blob.core.windows.net/\"><Prefix>jtfsdeletesubdirdirdoesnotexistanymore</Prefix><Containers><Container><Name>jtfsdeletesubdirdirdoesnotexistanymore08301973e15851b</Name><Properties><Last-Modified>Fri, 01 Nov 2019 16:44:41 GMT</Last-Modified><Etag>\"0x8D75EEACB13F36E\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsdeletesubdirdirdoesnotexistanymore08301973e15851b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsdeletesubdirdirdoesnotexistanymore08301973e15851b", "javapathdeletesubdirdirdoesnotexistanymore1950723dd78b4", "javapathdeletesubdirdirdoesnotexistanymore2340326ea2e09" ]
}