{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfscreatefileoverwrite013035fcd3c0a8e43145a9a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7D59B93D923C6",
      "Last-Modified" : "Tue, 31 Mar 2020 17:47:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfscreatefileoverwrite013035fcd3c0a8e43145a9a/javapathcreatefileoverwrite18980380ac2cf07cd447f?resource=directory",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7D59B945981CB",
      "Last-Modified" : "Tue, 31 Mar 2020 17:47:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfscreatefileoverwrite013035fcd3c0a8e43145a9a/javapathcreatefileoverwrite18980380ac2cf07cd447f/javapathcreatefileoverwrite2632088e047d46bfd446b?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7D59B94975AC8",
      "Last-Modified" : "Tue, 31 Mar 2020 17:47:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfscreatefileoverwrite013035fcd3c0a8e43145a9a/javapathcreatefileoverwrite18980380ac2cf07cd447f/javapathcreatefileoverwrite2632088e047d46bfd446b?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "PathAlreadyExists",
      "retry-after" : "0",
      "StatusCode" : "409",
      "Body" : "{\"error\":{\"code\":\"PathAlreadyExists\",\"message\":\"The specified path already exists.\\nRequestId:f0d3f509-601f-002f-7f84-079ff0000000\\nTime:2020-03-31T17:47:29.7122821Z\"}}",
      "Content-Type" : "application/json;charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net?prefix=jtfscreatefileoverwrite&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahnsstg.blob.core.windows.net/\"><Prefix>jtfscreatefileoverwrite</Prefix><Containers><Container><Name>jtfscreatefileoverwrite013035fcd3c0a8e43145a9a</Name><Properties><Last-Modified>Tue, 31 Mar 2020 17:47:27 GMT</Last-Modified><Etag>\"0x8D7D59B93D923C6\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfscreatefileoverwrite013035fcd3c0a8e43145a9a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfscreatefileoverwrite013035fcd3c0a8e43145a9a", "javapathcreatefileoverwrite18980380ac2cf07cd447f", "javapathcreatefileoverwrite2632088e047d46bfd446b" ]
}