{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfscreatefileacdirectoryapitestcreatefileac60d7574875d15?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E5B46299A",
      "Last-Modified" : "Thu, 12 Dec 2019 18:08:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfscreatefileacdirectoryapitestcreatefileac60d7574875d15/javapathcreatefileacdirectoryapitestcreatefileac60d48443404?resource=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E5B525E2D",
      "Last-Modified" : "Thu, 12 Dec 2019 18:08:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfscreatefileacdirectoryapitestcreatefileac60d7574875d15/javapathcreatefileacdirectoryapitestcreatefileac60d48443404/javapathcreatefileacdirectoryapitestcreatefileac60d91513f5d?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E5B5C2C99",
      "Last-Modified" : "Thu, 12 Dec 2019 18:08:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://javaadlstests.blob.core.windows.net?prefix=jtfscreatefileac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://javaadlstests.blob.core.windows.net/\"><Prefix>jtfscreatefileac</Prefix><Containers><Container><Name>jtfscreatefileacdirectoryapitestcreatefileac60d7574875d15</Name><Properties><Last-Modified>Thu, 12 Dec 2019 18:08:57 GMT</Last-Modified><Etag>\"0x8D77F2E5B46299A\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfscreatefileacdirectoryapitestcreatefileac60d7574875d15?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfscreatefileacdirectoryapitestcreatefileac60d7574875d15", "javapathcreatefileacdirectoryapitestcreatefileac60d48443404", "javapathcreatefileacdirectoryapitestcreatefileac60d91513f5d" ]
}