{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfsdeletesubdiracfail0152741e98ac5e3544129a7?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E695EB152",
      "Last-Modified" : "Thu, 12 Dec 2019 18:09:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfsdeletesubdiracfail0152741e98ac5e3544129a7/javapathdeletesubdiracfail36558e2ac54bbc2734c1f?resource=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E69695957",
      "Last-Modified" : "Thu, 12 Dec 2019 18:09:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfsdeletesubdiracfail0152741e98ac5e3544129a7/javapathdeletesubdiracfail36558e2ac54bbc2734c1f/javapathdeletesubdiracfail07321d492768564964be0?resource=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E6972757C",
      "Last-Modified" : "Thu, 12 Dec 2019 18:09:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfsdeletesubdiracfail0152741e98ac5e3544129a7/javapathdeletesubdiracfail36558e2ac54bbc2734c1f%2Fjavapathdeletesubdiracfail07321d492768564964be0?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E6972757C",
      "x-ms-lease-id" : "1052269d-a229-4ca8-ba6d-4f362bea8831",
      "Last-Modified" : "Thu, 12 Dec 2019 18:09:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfsdeletesubdiracfail0152741e98ac5e3544129a7/javapathdeletesubdiracfail36558e2ac54bbc2734c1f/javapathdeletesubdiracfail07321d492768564964be0?recursive=false",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "LeaseIdMismatch",
      "retry-after" : "0",
      "StatusCode" : "412",
      "Body" : "{\"error\":{\"code\":\"LeaseIdMismatch\",\"message\":\"The lease ID specified did not match the lease ID for the resource.\\nRequestId:ce8b37fc-701f-0050-6117-b1eeb0000000\\nTime:2019-12-12T18:09:21.1711473Z\"}}",
      "Content-Type" : "application/json;charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://javaadlstests.blob.core.windows.net?prefix=jtfsdeletesubdiracfail&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://javaadlstests.blob.core.windows.net/\"><Prefix>jtfsdeletesubdiracfail</Prefix><Containers><Container><Name>jtfsdeletesubdiracfail0152741e98ac5e3544129a7</Name><Properties><Last-Modified>Thu, 12 Dec 2019 18:09:20 GMT</Last-Modified><Etag>\"0x8D77F2E695EB152\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfsdeletesubdiracfail0152741e98ac5e3544129a7?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsdeletesubdiracfail0152741e98ac5e3544129a7", "javapathdeletesubdiracfail36558e2ac54bbc2734c1f", "javapathdeletesubdiracfail07321d492768564964be0" ]
}