{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfscreatefileacfailfilesystemapitestcreatefileacfail1c6975251?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2EA577F2C0",
      "Last-Modified" : "Thu, 12 Dec 2019 18:11:01 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfscreatefileacfailfilesystemapitestcreatefileacfail1c6975251/javapathcreatefileacfail377972afa88aa3919462cb?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2EA5835C8A",
      "Last-Modified" : "Thu, 12 Dec 2019 18:11:01 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfscreatefileacfailfilesystemapitestcreatefileacfail1c6975251/javapathcreatefileacfail377972afa88aa3919462cb?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "ConditionNotMet",
      "retry-after" : "0",
      "StatusCode" : "412",
      "Body" : "{\"error\":{\"code\":\"ConditionNotMet\",\"message\":\"The condition specified using HTTP conditional header(s) is not met.\\nRequestId:ff49f7da-701f-005b-4917-b1f6c4000000\\nTime:2019-12-12T18:11:01.8884430Z\"}}",
      "Content-Type" : "application/json;charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://javaadlstests.blob.core.windows.net?prefix=jtfscreatefileacfail&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://javaadlstests.blob.core.windows.net/\"><Prefix>jtfscreatefileacfail</Prefix><Containers><Container><Name>jtfscreatefileacfailfilesystemapitestcreatefileacfail1c6975251</Name><Properties><Last-Modified>Thu, 12 Dec 2019 18:11:01 GMT</Last-Modified><Etag>\"0x8D77F2EA577F2C0\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfscreatefileacfailfilesystemapitestcreatefileacfail1c6975251?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfscreatefileacfailfilesystemapitestcreatefileacfail1c6975251", "javapathcreatefileacfail377972afa88aa3919462cb" ]
}