{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfsdownloadfilecountnull0637689618bb36bc5e4e22?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7B72E2366B8BB",
      "Last-Modified" : "Sat, 22 Feb 2020 00:28:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfsdownloadfilecountnull0637689618bb36bc5e4e22/javapathdownloadfilecountnull10757884f4a4f79f3c40?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7B72E23B5DD63",
      "Last-Modified" : "Sat, 22 Feb 2020 00:28:29 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfsdownloadfilecountnull0637689618bb36bc5e4e22/javapathdownloadfilecountnull10757884f4a4f79f3c40?position=0&action=append",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfsdownloadfilecountnull0637689618bb36bc5e4e22/javapathdownloadfilecountnull10757884f4a4f79f3c40?position=7&retainUncommittedData=false&close=false&action=flush",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7B72E23E6E652",
      "Last-Modified" : "Sat, 22 Feb 2020 00:28:29 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfsdownloadfilecountnull0637689618bb36bc5e4e22/javapathdownloadfilecountnull10757884f4a4f79f3c40",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "Content-Range" : "bytes 0-6/7",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Sat, 22 Feb 2020 00:28:29 GMT",
      "retry-after" : "0",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7B72E23E6E652",
      "x-ms-creation-time" : "Sat, 22 Feb 2020 00:28:29 GMT",
      "Body" : "[64, -21, 36, 39, -89, -51, 101]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net?prefix=jtfsdownloadfilecountnull&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahnsstg.blob.core.windows.net/\"><Prefix>jtfsdownloadfilecountnull</Prefix><Containers><Container><Name>jtfsdownloadfilecountnull0637689618bb36bc5e4e22</Name><Properties><Last-Modified>Sat, 22 Feb 2020 00:28:28 GMT</Last-Modified><Etag>\"0x8D7B72E2366B8BB\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfsdownloadfilecountnull0637689618bb36bc5e4e22?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsdownloadfilecountnull0637689618bb36bc5e4e22", "javapathdownloadfilecountnull10757884f4a4f79f3c40", "6589b6f1-765f-4759-a6c5-83862cd20412" ]
}