{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfsdownloadtofileexistssucceeds063143b7e6c3feeea7?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A34FAF8A0967",
      "Last-Modified" : "Mon, 27 Jan 2020 17:38:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfsdownloadtofileexistssucceeds063143b7e6c3feeea7/javapathdownloadtofileexistssucceeds1962321cbf323c29?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A34FB008A6ED",
      "Last-Modified" : "Mon, 27 Jan 2020 17:38:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfsdownloadtofileexistssucceeds063143b7e6c3feeea7/javapathdownloadtofileexistssucceeds1962321cbf323c29?position=0&action=append",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfsdownloadtofileexistssucceeds063143b7e6c3feeea7/javapathdownloadtofileexistssucceeds1962321cbf323c29?position=7&retainUncommittedData=false&close=false&action=flush",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A34FB02C387D",
      "Last-Modified" : "Mon, 27 Jan 2020 17:38:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfsdownloadtofileexistssucceeds063143b7e6c3feeea7/javapathdownloadtofileexistssucceeds1962321cbf323c29",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "Content-Range" : "bytes 0-6/7",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Mon, 27 Jan 2020 17:38:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7A34FB02C387D",
      "x-ms-creation-time" : "Mon, 27 Jan 2020 17:38:14 GMT",
      "Body" : "[100, 101, 102, 97, 117, 108, 116]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net?prefix=jtfsdownloadtofileexistssucceeds&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahnsstg.blob.core.windows.net/\"><Prefix>jtfsdownloadtofileexistssucceeds</Prefix><Containers><Container><Name>jtfsdownloadtofileexistssucceeds063143b7e6c3feeea7</Name><Properties><Last-Modified>Mon, 27 Jan 2020 17:38:13 GMT</Last-Modified><Etag>\"0x8D7A34FAF8A0967\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfsdownloadtofileexistssucceeds063143b7e6c3feeea7?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsdownloadtofileexistssucceeds063143b7e6c3feeea7", "javapathdownloadtofileexistssucceeds1962321cbf323c29" ]
}