{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahnscanary.blob.core.windows.net/jtfsqueryacfail0fileapitestqueryacfailf9f314829ab2b6e6?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7ED4B46268AC0",
      "Last-Modified" : "Thu, 30 Apr 2020 21:13:05 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahnscanary.dfs.core.windows.net/jtfsqueryacfail0fileapitestqueryacfailf9f314829ab2b6e6/javapathqueryacfail1fileapitestqueryacfailf9f26882e8855b?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7ED4B4665FDEF",
      "Last-Modified" : "Thu, 30 Apr 2020 21:13:05 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahnscanary.blob.core.windows.net/jtfsqueryacfail0fileapitestqueryacfailf9f314829ab2b6e6/javapathqueryacfail1fileapitestqueryacfailf9f26882e8855b?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7ED4B4665FDEF",
      "x-ms-lease-id" : "ea0bf503-93d1-482d-a433-576db480f7b4",
      "Last-Modified" : "Thu, 30 Apr 2020 21:13:05 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://gaprahnscanary.blob.core.windows.net/jtfsqueryacfail0fileapitestqueryacfailf9f314829ab2b6e6/javapathqueryacfail1fileapitestqueryacfailf9f26882e8855b?comp=query",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-error-code" : "LeaseIdMismatchWithBlobOperation",
      "retry-after" : "0",
      "StatusCode" : "412",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>LeaseIdMismatchWithBlobOperation</Code><Message>The lease ID specified did not match the lease ID for the blob.\nRequestId:dc0564e1-d01e-0093-5634-1f96aa000000\nTime:2020-04-30T21:13:06.7130019Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahnscanary.blob.core.windows.net?prefix=jtfsqueryacfail&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahnscanary.blob.core.windows.net/\"><Prefix>jtfsqueryacfail</Prefix><Containers><Container><Name>jtfsqueryacfail0fileapitestqueryacfailf9f314829ab2b6e6</Name><Properties><Last-Modified>Thu, 30 Apr 2020 21:13:05 GMT</Last-Modified><Etag>\"0x8D7ED4B46268AC0\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahnscanary.blob.core.windows.net/jtfsqueryacfail0fileapitestqueryacfailf9f314829ab2b6e6?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsqueryacfail0fileapitestqueryacfailf9f314829ab2b6e6", "javapathqueryacfail1fileapitestqueryacfailf9f26882e8855b" ]
}