{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsgetpropertiesleasefail08396896faee43307d43c?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEAD0477481",
      "Last-Modified" : "Fri, 01 Nov 2019 16:44:50 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsgetpropertiesleasefail08396896faee43307d43c?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "InvalidHeaderValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The value for one of the HTTP headers is not in the correct format.\nRequestId:3a660112-a01e-0034-6bd3-90e1d2000000\nTime:2019-11-01T16:44:50.6538067Z</Message><HeaderName>x-ms-lease-id</HeaderName><HeaderValue>garbage</HeaderValue></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahns.blob.core.windows.net?prefix=jtfsgetpropertiesleasefail&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahns.blob.core.windows.net/\"><Prefix>jtfsgetpropertiesleasefail</Prefix><Containers><Container><Name>jtfsgetpropertiesleasefail08396896faee43307d43c</Name><Properties><Last-Modified>Fri, 01 Nov 2019 16:44:50 GMT</Last-Modified><Etag>\"0x8D75EEAD0477481\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsgetpropertiesleasefail08396896faee43307d43c?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsgetpropertiesleasefail08396896faee43307d43c" ]
}