{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfssetmetadataac0fileapitestsetmetadataacaf976211c4ddc4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEB4C680B43",
      "Last-Modified" : "Fri, 01 Nov 2019 16:48:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfssetmetadataac0fileapitestsetmetadataacaf976211c4ddc4/javapathsetmetadataac1fileapitestsetmetadataacaf987268d4fa?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEB4C78FEE7",
      "Last-Modified" : "Fri, 01 Nov 2019 16:48:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfssetmetadataac0fileapitestsetmetadataacaf976211c4ddc4/javapathsetmetadataac1fileapitestsetmetadataacaf987268d4fa?position=0&action=append",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfssetmetadataac0fileapitestsetmetadataacaf976211c4ddc4/javapathsetmetadataac1fileapitestsetmetadataacaf987268d4fa?position=7&retainUncommittedData=false&close=false&action=flush",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEB4C899A2A",
      "Last-Modified" : "Fri, 01 Nov 2019 16:48:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfssetmetadataac0fileapitestsetmetadataacaf976211c4ddc4/javapathsetmetadataac1fileapitestsetmetadataacaf987268d4fa?comp=metadata",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEB4C922F41",
      "Last-Modified" : "Fri, 01 Nov 2019 16:48:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahns.blob.core.windows.net?prefix=jtfssetmetadataac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahns.blob.core.windows.net/\"><Prefix>jtfssetmetadataac</Prefix><Containers><Container><Name>jtfssetmetadataac0fileapitestsetmetadataacaf976211c4ddc4</Name><Properties><Last-Modified>Fri, 01 Nov 2019 16:48:18 GMT</Last-Modified><Etag>\"0x8D75EEB4C680B43\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfssetmetadataac0fileapitestsetmetadataacaf976211c4ddc4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfssetmetadataac0fileapitestsetmetadataacaf976211c4ddc4", "javapathsetmetadataac1fileapitestsetmetadataacaf987268d4fa" ]
}