{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsgetaccesscontrolreturnupn068899b6e30b63cabc4a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEB405CE6F8",
      "Last-Modified" : "Fri, 01 Nov 2019 16:47:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsgetaccesscontrolreturnupn068899b6e30b63cabc4a/javapathgetaccesscontrolreturnupn119492a86b5e938362?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEB4068C46C",
      "Last-Modified" : "Fri, 01 Nov 2019 16:47:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsgetaccesscontrolreturnupn068899b6e30b63cabc4a/javapathgetaccesscontrolreturnupn119492a86b5e938362?position=0&action=append",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsgetaccesscontrolreturnupn068899b6e30b63cabc4a/javapathgetaccesscontrolreturnupn119492a86b5e938362?position=7&retainUncommittedData=false&close=false&action=flush",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEB407B94F2",
      "Last-Modified" : "Fri, 01 Nov 2019 16:47:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsgetaccesscontrolreturnupn068899b6e30b63cabc4a/javapathgetaccesscontrolreturnupn119492a86b5e938362?action=getAccessControl&upn=true",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-group" : "$superuser",
      "x-ms-version" : "2019-02-02",
      "x-ms-acl" : "user::rw-,group::r--,other::---",
      "Last-Modified" : "Fri, 01 Nov 2019 16:47:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "0x8D75EEB407B94F2",
      "x-ms-permissions" : "rw-r-----",
      "x-ms-owner" : "$superuser"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahns.blob.core.windows.net?prefix=jtfsgetaccesscontrolreturnupn&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahns.blob.core.windows.net/\"><Prefix>jtfsgetaccesscontrolreturnupn</Prefix><Containers><Container><Name>jtfsgetaccesscontrolreturnupn068899b6e30b63cabc4a</Name><Properties><Last-Modified>Fri, 01 Nov 2019 16:47:58 GMT</Last-Modified><Etag>\"0x8D75EEB405CE6F8\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsgetaccesscontrolreturnupn068899b6e30b63cabc4a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsgetaccesscontrolreturnupn068899b6e30b63cabc4a", "javapathgetaccesscontrolreturnupn119492a86b5e938362" ]
}