{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahnscanary.blob.core.windows.net/jtfsqueryinputjson0fileapitestqueryinputjson79a38750d1ff4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7ED4A69C2B3E9",
      "Last-Modified" : "Thu, 30 Apr 2020 21:06:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahnscanary.dfs.core.windows.net/jtfsqueryinputjson0fileapitestqueryinputjson79a38750d1ff4/javapathqueryinputjson1fileapitestqueryinputjson79a49809673?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7ED4A6A034121",
      "Last-Modified" : "Thu, 30 Apr 2020 21:06:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahnscanary.dfs.core.windows.net/jtfsqueryinputjson0fileapitestqueryinputjson79a38750d1ff4/javapathqueryinputjson1fileapitestqueryinputjson79a49809673?position=0&action=append",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahnscanary.dfs.core.windows.net/jtfsqueryinputjson0fileapitestqueryinputjson79a38750d1ff4/javapathqueryinputjson1fileapitestqueryinputjson79a49809673?position=2183&retainUncommittedData=false&close=false&action=flush",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7ED4A6ADE6E55",
      "Last-Modified" : "Thu, 30 Apr 2020 21:06:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahnscanary.blob.core.windows.net/jtfsqueryinputjson0fileapitestqueryinputjson79a38750d1ff4/javapathqueryinputjson1fileapitestqueryinputjson79a49809673",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 30 Apr 2020 21:06:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7ED4A6ADE6E55",
      "x-ms-creation-time" : "Thu, 30 Apr 2020 21:06:56 GMT",
      "Body" : "[123, 10, 9, 34, 110, 97, 109, 101, 48, 34, 58, 32, 34, 111, 119, 110, 101, 114, 48, 34, 44, 10, 9, 34, 110, 97, 109, 101, 49, 34, 58, 32, 34, 111, 119, 110, 101, 114, 49, 34, 44, 10, 9, 34, 110, 97, 109, 101, 50, 34, 58, 32, 34, 111, 119, 110, 101, 114, 50, 34, 44, 10, 9, 34, 110, 97, 109, 101, 51, 34, 58, 32, 34, 111, 119, 110, 101, 114, 51, 34, 44, 10, 9, 34, 110, 97, 109, 101, 52, 34, 58, 32, 34, 111, 119, 110, 101, 114, 52, 34, 44, 10, 9, 34, 110, 97, 109, 101, 53, 34, 58, 32, 34, 111, 11[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://gaprahnscanary.blob.core.windows.net/jtfsqueryinputjson0fileapitestqueryinputjson79a38750d1ff4/javapathqueryinputjson1fileapitestqueryinputjson79a49809673?comp=query",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-version" : "2019-10-10",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 30 Apr 2020 21:06:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "ETag" : "0x8D7ED4A6ADE6E55",
      "x-ms-creation-time" : "Thu, 30 Apr 2020 21:06:56 GMT",
      "Body" : "Obj\u0001\u0002\u0016avro.schema�\u001E[\n  {\n    \"type\": \"record\",\n    \"name\": \"com.microsoft.azure.storage.queryBlobContents.resultData\",\n    \"doc\": \"Holds result data in the format specified for this query (CSV, JSON, etc.).\",\n    \"fields\": [\n      {\n        \"name\": \"data\",\n        \"type\": \"bytes\"\n      }\n    ]\n  },\n  {\n    \"type\": \"record\",\n    \"name\": \"com.microsoft.azure.storage.queryBlobContents.error\",\n    \"doc\": \"An error that occurred while processing the query.\",\n    \"fields\": [\n      {\n        \"name\": \"fatal\",\n        \"type\": \"boolean\",\n        \"doc\": \"If true, this error prevents further query processing.  More result data may be returned, but there is no guarantee that all[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahnscanary.blob.core.windows.net?prefix=jtfsqueryinputjson&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahnscanary.blob.core.windows.net/\"><Prefix>jtfsqueryinputjson</Prefix><Containers><Container><Name>jtfsqueryinputjson0fileapitestqueryinputjson79a38750d1ff4</Name><Properties><Last-Modified>Thu, 30 Apr 2020 21:06:55 GMT</Last-Modified><Etag>\"0x8D7ED4A69C2B3E9\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahnscanary.blob.core.windows.net/jtfsqueryinputjson0fileapitestqueryinputjson79a38750d1ff4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsqueryinputjson0fileapitestqueryinputjson79a38750d1ff4", "javapathqueryinputjson1fileapitestqueryinputjson79a49809673" ]
}