{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfssetaclacfileapitestsetaclac212231953bfe38e014e0?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E79ADC7BB",
      "Last-Modified" : "Thu, 12 Dec 2019 18:09:48 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfssetaclacfileapitestsetaclac212231953bfe38e014e0/javapathsetaclacfileapitestsetaclac212833334f32c0685b?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E79BCB577",
      "Last-Modified" : "Thu, 12 Dec 2019 18:09:48 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfssetaclacfileapitestsetaclac212231953bfe38e014e0/javapathsetaclacfileapitestsetaclac212833334f32c0685b?action=setAccessControl",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-namespace-enabled" : "true",
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E79BCB577",
      "Last-Modified" : "Thu, 12 Dec 2019 18:09:48 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://javaadlstests.blob.core.windows.net?prefix=jtfssetaclac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://javaadlstests.blob.core.windows.net/\"><Prefix>jtfssetaclac</Prefix><Containers><Container><Name>jtfssetaclacfileapitestsetaclac212231953bfe38e014e0</Name><Properties><Last-Modified>Thu, 12 Dec 2019 18:09:48 GMT</Last-Modified><Etag>\"0x8D77F2E79ADC7BB\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfssetaclacfileapitestsetaclac212231953bfe38e014e0?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfssetaclacfileapitestsetaclac212231953bfe38e014e0", "javapathsetaclacfileapitestsetaclac212833334f32c0685b" ]
}