{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfsbuffereduploadoptions04215854616f37dd9c4574?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7B583559D0EE5",
      "Last-Modified" : "Wed, 19 Feb 2020 21:33:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfsbuffereduploadoptions04215854616f37dd9c4574/javapathbuffereduploadoptions192208a445dd1f810a4d?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7B58355ACBD1C",
      "Last-Modified" : "Wed, 19 Feb 2020 21:33:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfsbuffereduploadoptions04215854616f37dd9c4574/javapathbuffereduploadoptions286053046ac19dffe54f?position=0&action=append",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfsbuffereduploadoptions04215854616f37dd9c4574/javapathbuffereduploadoptions286053046ac19dffe54f?position=104857601&retainUncommittedData=false&close=false&action=flush",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7B58358E0587B",
      "Last-Modified" : "Wed, 19 Feb 2020 21:33:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfsbuffereduploadoptions04215854616f37dd9c4574/javapathbuffereduploadoptions286053046ac19dffe54f",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Wed, 19 Feb 2020 21:33:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D7B58358E0587B",
      "x-ms-creation-time" : "Wed, 19 Feb 2020 21:33:18 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net?prefix=jtfsbuffereduploadoptions&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahnsstg.blob.core.windows.net/\"><Prefix>jtfsbuffereduploadoptions</Prefix><Containers><Container><Name>jtfsbuffereduploadoptions04215854616f37dd9c4574</Name><Properties><Last-Modified>Wed, 19 Feb 2020 21:33:17 GMT</Last-Modified><Etag>\"0x8D7B583559D0EE5\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfsbuffereduploadoptions04215854616f37dd9c4574?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsbuffereduploadoptions04215854616f37dd9c4574", "javapathbuffereduploadoptions192208a445dd1f810a4d", "javapathbuffereduploadoptions286053046ac19dffe54f", "cee6dcd8-477c-4d0c-b5d6-bd2d19bd99b1" ]
}