{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahnscanary.blob.core.windows.net/jtfsqueryac0fileapitestqueryac3ff23229ad286db25bb7?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7ED4AF071F13F",
      "Last-Modified" : "Thu, 30 Apr 2020 21:10:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahnscanary.dfs.core.windows.net/jtfsqueryac0fileapitestqueryac3ff23229ad286db25bb7/javapathqueryac1fileapitestqueryac3ff20635d20a645d4f?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7ED4AF8064092",
      "Last-Modified" : "Thu, 30 Apr 2020 21:10:54 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://gaprahnscanary.blob.core.windows.net/jtfsqueryac0fileapitestqueryac3ff23229ad286db25bb7/javapathqueryac1fileapitestqueryac3ff20635d20a645d4f?comp=query",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-version" : "2019-10-10",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 30 Apr 2020 21:10:54 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "ETag" : "0x8D7ED4AF8064092",
      "x-ms-creation-time" : "Thu, 30 Apr 2020 21:10:54 GMT",
      "Body" : "Obj\u0001\u0002\u0016avro.schema�\u001E[\n  {\n    \"type\": \"record\",\n    \"name\": \"com.microsoft.azure.storage.queryBlobContents.resultData\",\n    \"doc\": \"Holds result data in the format specified for this query (CSV, JSON, etc.).\",\n    \"fields\": [\n      {\n        \"name\": \"data\",\n        \"type\": \"bytes\"\n      }\n    ]\n  },\n  {\n    \"type\": \"record\",\n    \"name\": \"com.microsoft.azure.storage.queryBlobContents.error\",\n    \"doc\": \"An error that occurred while processing the query.\",\n    \"fields\": [\n      {\n        \"name\": \"fatal\",\n        \"type\": \"boolean\",\n        \"doc\": \"If true, this error prevents further query processing.  More result data may be returned, but there is no guarantee that all[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahnscanary.blob.core.windows.net?prefix=jtfsqueryac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahnscanary.blob.core.windows.net/\"><Prefix>jtfsqueryac</Prefix><Containers><Container><Name>jtfsqueryac0fileapitestqueryac3ff23229ad286db25bb7</Name><Properties><Last-Modified>Thu, 30 Apr 2020 21:10:41 GMT</Last-Modified><Etag>\"0x8D7ED4AF071F13F\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahnscanary.blob.core.windows.net/jtfsqueryac0fileapitestqueryac3ff23229ad286db25bb7?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsqueryac0fileapitestqueryac3ff23229ad286db25bb7", "javapathqueryac1fileapitestqueryac3ff20635d20a645d4f" ]
}