{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfsreadrangefileapitestreadrange694663038c4b0bdb92d?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E8A47F5E0",
      "Last-Modified" : "Thu, 12 Dec 2019 18:10:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfsreadrangefileapitestreadrange694663038c4b0bdb92d/javapathreadrangefileapitestreadrange69477803641127a2e?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E8A53D375",
      "Last-Modified" : "Thu, 12 Dec 2019 18:10:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfsreadrangefileapitestreadrange694663038c4b0bdb92d/javapathreadrangefileapitestreadrange69477803641127a2e?position=0&action=append",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfsreadrangefileapitestreadrange694663038c4b0bdb92d/javapathreadrangefileapitestreadrange69477803641127a2e?position=7&retainUncommittedData=false&close=false&action=flush",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E8A6732B0",
      "Last-Modified" : "Thu, 12 Dec 2019 18:10:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfsreadrangefileapitestreadrange694663038c4b0bdb92d/javapathreadrangefileapitestreadrange69477803641127a2e",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "Content-Range" : "bytes 0-4/7",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 12 Dec 2019 18:10:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D77F2E8A6732B0",
      "x-ms-creation-time" : "Thu, 12 Dec 2019 18:10:16 GMT",
      "Body" : "[100, 101, 102, 97, 117]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://javaadlstests.blob.core.windows.net?prefix=jtfsreadrange&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://javaadlstests.blob.core.windows.net/\"><Prefix>jtfsreadrange</Prefix><Containers><Container><Name>jtfsreadrangefileapitestreadrange694663038c4b0bdb92d</Name><Properties><Last-Modified>Thu, 12 Dec 2019 18:10:16 GMT</Last-Modified><Etag>\"0x8D77F2E8A47F5E0\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfsreadrangefileapitestreadrange694663038c4b0bdb92d?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsreadrangefileapitestreadrange694663038c4b0bdb92d", "javapathreadrangefileapitestreadrange69477803641127a2e" ]
}