{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsflushac0fileapitestflushaccee1949135eca5be3838?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEB62212437",
      "Last-Modified" : "Fri, 01 Nov 2019 16:48:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsflushac0fileapitestflushaccee1949135eca5be3838/javapathflushac1fileapitestflushaccee34027a2a56e455d?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEB622C3F08",
      "Last-Modified" : "Fri, 01 Nov 2019 16:48:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsflushac0fileapitestflushaccee1949135eca5be3838/javapathflushac1fileapitestflushaccee34027a2a56e455d?position=0&action=append",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsflushac0fileapitestflushaccee1949135eca5be3838/javapathflushac1fileapitestflushaccee34027a2a56e455d?position=7&retainUncommittedData=false&close=false&action=flush",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEB62446050",
      "Last-Modified" : "Fri, 01 Nov 2019 16:48:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsflushac0fileapitestflushaccee1949135eca5be3838/javapathflushac2fileapitestflushaccee499447801d53bf0?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEB624DD943",
      "x-ms-lease-id" : "0e9862dc-7998-4ff6-838d-e8f4c9037035",
      "Last-Modified" : "Fri, 01 Nov 2019 16:48:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahns.blob.core.windows.net?prefix=jtfsflushac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahns.blob.core.windows.net/\"><Prefix>jtfsflushac</Prefix><Containers><Container><Name>jtfsflushac0fileapitestflushaccee1949135eca5be3838</Name><Properties><Last-Modified>Fri, 01 Nov 2019 16:48:55 GMT</Last-Modified><Etag>\"0x8D75EEB62212437\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsflushac0fileapitestflushaccee1949135eca5be3838?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsflushac0fileapitestflushaccee1949135eca5be3838", "javapathflushac1fileapitestflushaccee34027a2a56e455d", "javapathflushac2fileapitestflushaccee499447801d53bf0" ]
}