{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfscreateminfileapitestcreatemind6a492710667292cba0?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E6EBBD2F2",
      "Last-Modified" : "Thu, 12 Dec 2019 18:09:29 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfscreateminfileapitestcreatemind6a492710667292cba0/javapathcreateminfileapitestcreatemind6a957431eaeafd69?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E6EC78A36",
      "Last-Modified" : "Thu, 12 Dec 2019 18:09:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://javaadlstests.blob.core.windows.net?prefix=jtfscreatemin&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://javaadlstests.blob.core.windows.net/\"><Prefix>jtfscreatemin</Prefix><Containers><Container><Name>jtfscreateminfileapitestcreatemind6a492710667292cba0</Name><Properties><Last-Modified>Thu, 12 Dec 2019 18:09:29 GMT</Last-Modified><Etag>\"0x8D77F2E6EBBD2F2\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfscreateminfileapitestcreatemind6a492710667292cba0?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfscreateminfileapitestcreatemind6a492710667292cba0", "javapathcreateminfileapitestcreatemind6a957431eaeafd69", "javapathcreateminfileapitestcreatemind6a17599b39a0b072" ]
}