{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gaprahns.blob.core.windows.net/jtfsgetfilenameandbuildclient040383cad119a8cd344e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D766E733DE70F8",
      "Last-Modified" : "Mon, 11 Nov 2019 20:39:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprahns.dfs.core.windows.net/jtfsgetfilenameandbuildclient040383cad119a8cd344e/javapathgetfilenameandbuildclient157283f0b569077d5e?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D766E733E9B702",
      "Last-Modified" : "Mon, 11 Nov 2019 20:39:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://gaprahns.blob.core.windows.net?prefix=jtfsgetfilenameandbuildclient&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://gaprahns.blob.core.windows.net/\"><Prefix>jtfsgetfilenameandbuildclient</Prefix><Containers><Container><Name>jtfsgetfilenameandbuildclient040383cad119a8cd344e</Name><Properties><Last-Modified>Mon, 11 Nov 2019 20:39:08 GMT</Last-Modified><Etag>\"0x8D766E733DE70F8\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://gaprahns.blob.core.windows.net/jtfsgetfilenameandbuildclient040383cad119a8cd344e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsgetfilenameandbuildclient040383cad119a8cd344e", "javapathgetfilenameandbuildclient157283f0b569077d5e" ]
}