{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gaprahns.blob.core.windows.net/jtfssetaclac0fileapitestsetaclac4ad345523c8a154630f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7623804FCE624",
      "Last-Modified" : "Tue, 05 Nov 2019 21:35:03 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprahns.dfs.core.windows.net/jtfssetaclac0fileapitestsetaclac4ad345523c8a154630f/javapathsetaclac1fileapitestsetaclac4ad1155751d9e3225?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7623805078358",
      "Last-Modified" : "Tue, 05 Nov 2019 21:35:03 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "http://gaprahns.dfs.core.windows.net/jtfssetaclac0fileapitestsetaclac4ad345523c8a154630f/javapathsetaclac1fileapitestsetaclac4ad1155751d9e3225?action=setAccessControl",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-namespace-enabled" : "true",
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7623805078358",
      "Last-Modified" : "Tue, 05 Nov 2019 21:35:03 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://gaprahns.blob.core.windows.net?prefix=jtfssetaclac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://gaprahns.blob.core.windows.net/\"><Prefix>jtfssetaclac</Prefix><Containers><Container><Name>jtfssetaclac0fileapitestsetaclac4ad345523c8a154630f</Name><Properties><Last-Modified>Tue, 05 Nov 2019 21:35:03 GMT</Last-Modified><Etag>\"0x8D7623804FCE624\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://gaprahns.blob.core.windows.net/jtfssetaclac0fileapitestsetaclac4ad345523c8a154630f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfssetaclac0fileapitestsetaclac4ad345523c8a154630f", "javapathsetaclac1fileapitestsetaclac4ad1155751d9e3225" ]
}