{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfsgetaccesscontrolacfileapitestgetaccesscontrolac70d3214581?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E7CEA2DC0",
      "Last-Modified" : "Thu, 12 Dec 2019 18:09:53 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfsgetaccesscontrolacfileapitestgetaccesscontrolac70d3214581/javapathgetaccesscontrolac09967017ba1f67add4aa8?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E7CF61AD9",
      "Last-Modified" : "Thu, 12 Dec 2019 18:09:53 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfsgetaccesscontrolacfileapitestgetaccesscontrolac70d3214581/javapathgetaccesscontrolac09967017ba1f67add4aa8?action=getAccessControl&upn=false",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-group" : "$superuser",
      "x-ms-version" : "2019-02-02",
      "x-ms-acl" : "user::rw-,group::r--,other::---",
      "Last-Modified" : "Thu, 12 Dec 2019 18:09:53 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "0x8D77F2E7CF61AD9",
      "x-ms-permissions" : "rw-r-----",
      "x-ms-owner" : "$superuser"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://javaadlstests.blob.core.windows.net?prefix=jtfsgetaccesscontrolac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://javaadlstests.blob.core.windows.net/\"><Prefix>jtfsgetaccesscontrolac</Prefix><Containers><Container><Name>jtfsgetaccesscontrolacfileapitestgetaccesscontrolac70d3214581</Name><Properties><Last-Modified>Thu, 12 Dec 2019 18:09:53 GMT</Last-Modified><Etag>\"0x8D77F2E7CEA2DC0\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfsgetaccesscontrolacfileapitestgetaccesscontrolac70d3214581?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsgetaccesscontrolacfileapitestgetaccesscontrolac70d3214581", "javapathgetaccesscontrolac09967017ba1f67add4aa8" ]
}