{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfsensurerootdirectory07832364d09a695eee4004b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C54610F2C5DF",
      "Last-Modified" : "Tue, 10 Mar 2020 22:55:01 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfsensurerootdirectory07832364d09a695eee4004b/?action=setAccessControl",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-namespace-enabled" : "true",
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C5461145C16F",
      "Last-Modified" : "Tue, 10 Mar 2020 22:55:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfsensurerootdirectory07832364d09a695eee4004b/%2F",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Tue, 10 Mar 2020 22:55:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "x-ms-meta-hdi_isfolder" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D7C5461145C16F",
      "x-ms-creation-time" : "Tue, 10 Mar 2020 22:55:01 GMT"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfsensurerootdirectory07832364d09a695eee4004b/%2F?comp=metadata",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C54611BC3865",
      "Last-Modified" : "Tue, 10 Mar 2020 22:55:03 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfsensurerootdirectory07832364d09a695eee4004b/?action=getAccessControl&upn=false",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-group" : "$superuser",
      "x-ms-version" : "2019-07-07",
      "x-ms-acl" : "user::rwx,group::r--,mask::rwx,other::---",
      "Last-Modified" : "Tue, 10 Mar 2020 22:55:03 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "0x8D7C54611BC3865",
      "x-ms-permissions" : "rwxrwx---+",
      "x-ms-owner" : "$superuser"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net?prefix=jtfsensurerootdirectory&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahnsstg.blob.core.windows.net/\"><Prefix>jtfsensurerootdirectory</Prefix><Containers><Container><Name>jtfsensurerootdirectory07832364d09a695eee4004b</Name><Properties><Last-Modified>Tue, 10 Mar 2020 22:55:01 GMT</Last-Modified><Etag>\"0x8D7C54610F2C5DF\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfsensurerootdirectory07832364d09a695eee4004b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsensurerootdirectory07832364d09a695eee4004b" ]
}