{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfssetaclacfileapitestsetaclacf9218921804e917e2899?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E7A4BDC6E",
      "Last-Modified" : "Thu, 12 Dec 2019 18:09:49 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfssetaclacfileapitestsetaclacf9218921804e917e2899/javapathsetaclacfileapitestsetaclacf9232329b4119a86c8?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E7A57A320",
      "Last-Modified" : "Thu, 12 Dec 2019 18:09:49 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfssetaclacfileapitestsetaclacf9218921804e917e2899/javapathsetaclacfileapitestsetaclacf9232329b4119a86c8?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E7A57A320",
      "x-ms-lease-id" : "d9e178b5-128e-4d2a-95af-31517178afee",
      "Last-Modified" : "Thu, 12 Dec 2019 18:09:49 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfssetaclacfileapitestsetaclacf9218921804e917e2899/javapathsetaclacfileapitestsetaclacf9232329b4119a86c8?action=setAccessControl",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-namespace-enabled" : "true",
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2E7A57A320",
      "Last-Modified" : "Thu, 12 Dec 2019 18:09:49 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://javaadlstests.blob.core.windows.net?prefix=jtfssetaclac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://javaadlstests.blob.core.windows.net/\"><Prefix>jtfssetaclac</Prefix><Containers><Container><Name>jtfssetaclacfileapitestsetaclacf9218921804e917e2899</Name><Properties><Last-Modified>Thu, 12 Dec 2019 18:09:49 GMT</Last-Modified><Etag>\"0x8D77F2E7A4BDC6E\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfssetaclacfileapitestsetaclacf9218921804e917e2899?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfssetaclacfileapitestsetaclacf9218921804e917e2899", "javapathsetaclacfileapitestsetaclacf9232329b4119a86c8" ]
}