{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfsreleasefileleaseacleaseapitestreleasefileleaseac2e8210714?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2EF0E77716",
      "Last-Modified" : "Thu, 12 Dec 2019 18:13:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfsreleasefileleaseacleaseapitestreleasefileleaseac2e8210714/javapathreleasefileleaseac0293110d376fdca684ca5?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2EF0F519D1",
      "Last-Modified" : "Thu, 12 Dec 2019 18:13:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfsreleasefileleaseacleaseapitestreleasefileleaseac2e8210714/javapathreleasefileleaseac0293110d376fdca684ca5?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2EF0F519D1",
      "x-ms-lease-id" : "7fda18d4-f46b-4fa9-a92a-ce065f9f9f72",
      "Last-Modified" : "Thu, 12 Dec 2019 18:13:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://javaadlstests.blob.core.windows.net?prefix=jtfsreleasefileleaseac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://javaadlstests.blob.core.windows.net/\"><Prefix>jtfsreleasefileleaseac</Prefix><Containers><Container><Name>jtfsreleasefileleaseacleaseapitestreleasefileleaseac2e8210714</Name><Properties><Last-Modified>Thu, 12 Dec 2019 18:13:08 GMT</Last-Modified><Etag>\"0x8D77F2EF0E77716\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfsreleasefileleaseacleaseapitestreleasefileleaseac2e8210714?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsreleasefileleaseacleaseapitestreleasefileleaseac2e8210714", "javapathreleasefileleaseac0293110d376fdca684ca5" ]
}