{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsrenewfilelease0leaseapitestrenewfilelease8e637256115a4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEA686EE1CC",
      "Last-Modified" : "Fri, 01 Nov 2019 16:41:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsrenewfilelease0leaseapitestrenewfilelease8e637256115a4/javapathrenewfilelease1leaseapitestrenewfilelease8e626969e20?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEA687A074F",
      "Last-Modified" : "Fri, 01 Nov 2019 16:41:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsrenewfilelease0leaseapitestrenewfilelease8e637256115a4/javapathrenewfilelease1leaseapitestrenewfilelease8e626969e20?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEA687A074F",
      "x-ms-lease-id" : "07a13dd4-80b0-47ac-8f17-92c99ed2e15b",
      "Last-Modified" : "Fri, 01 Nov 2019 16:41:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsrenewfilelease0leaseapitestrenewfilelease8e637256115a4/javapathrenewfilelease1leaseapitestrenewfilelease8e626969e20",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "locked",
      "x-ms-lease-state" : "leased",
      "Last-Modified" : "Fri, 01 Nov 2019 16:41:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D75EEA687A074F",
      "x-ms-creation-time" : "Fri, 01 Nov 2019 16:41:56 GMT",
      "x-ms-lease-duration" : "infinite",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahns.blob.core.windows.net?prefix=jtfsrenewfilelease&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahns.blob.core.windows.net/\"><Prefix>jtfsrenewfilelease</Prefix><Containers><Container><Name>jtfsrenewfilelease0leaseapitestrenewfilelease8e637256115a4</Name><Properties><Last-Modified>Fri, 01 Nov 2019 16:41:56 GMT</Last-Modified><Etag>\"0x8D75EEA686EE1CC\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsrenewfilelease0leaseapitestrenewfilelease8e637256115a4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsrenewfilelease0leaseapitestrenewfilelease8e637256115a4", "javapathrenewfilelease1leaseapitestrenewfilelease8e626969e20" ]
}