{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfschangefileleaseac0leaseapitestchangefileleaseacfd66443590?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEA7A8E881F",
      "Last-Modified" : "Fri, 01 Nov 2019 16:42:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfschangefileleaseac0leaseapitestchangefileleaseacfd66443590/javapathchangefileleaseac1544906bdf04be6ed0489e?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEA7A98A82B",
      "Last-Modified" : "Fri, 01 Nov 2019 16:42:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfschangefileleaseac0leaseapitestchangefileleaseacfd66443590/javapathchangefileleaseac1544906bdf04be6ed0489e?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEA7A98A82B",
      "x-ms-lease-id" : "07eeed17-375b-4331-8ccc-99fca7aa33fe",
      "Last-Modified" : "Fri, 01 Nov 2019 16:42:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahns.blob.core.windows.net?prefix=jtfschangefileleaseac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahns.blob.core.windows.net/\"><Prefix>jtfschangefileleaseac</Prefix><Containers><Container><Name>jtfschangefileleaseac0leaseapitestchangefileleaseacfd66443590</Name><Properties><Last-Modified>Fri, 01 Nov 2019 16:42:26 GMT</Last-Modified><Etag>\"0x8D75EEA7A8E881F\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfschangefileleaseac0leaseapitestchangefileleaseacfd66443590?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfschangefileleaseac0leaseapitestchangefileleaseacfd66443590", "javapathchangefileleaseac1544906bdf04be6ed0489e", "791a134a-194e-4fab-b95e-8cc9daf8905c" ]
}