{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gaprahns.blob.core.windows.net/jtfsrenewlease0leaseasyncerrormappingtestrenewleasec7e26581fc?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77DC1310692A8",
      "Last-Modified" : "Tue, 10 Dec 2019 22:35:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprahns.blob.core.windows.net/jtfsrenewlease1leaseasyncerrormappingtestrenewleasec7e7174173/javapathrenewlease2284788d0fc3edc1f741febb4?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\nRequestId:80aa6a0b-201e-00e9-36aa-afb27c000000\nTime:2019-12-10T22:35:00.4409099Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://gaprahns.blob.core.windows.net?prefix=jtfsrenewlease&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://gaprahns.blob.core.windows.net/\"><Prefix>jtfsrenewlease</Prefix><Containers><Container><Name>jtfsrenewlease0leaseasyncerrormappingtestrenewleasec7e26581fc</Name><Properties><Last-Modified>Tue, 10 Dec 2019 22:35:00 GMT</Last-Modified><Etag>\"0x8D77DC1310692A8\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtfsrenewlease1leaseasyncerrormappingtestrenewleasec7e7174173</Name><Properties><Last-Modified>Tue, 10 Dec 2019 22:35:00 GMT</Last-Modified><Etag>\"0x8D77DC1311FE727\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "http://gaprahns.blob.core.windows.net/jtfsrenewlease1leaseasyncerrormappingtestrenewleasec7e7174173?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsrenewlease0leaseasyncerrormappingtestrenewleasec7e26581fc", "jtfsrenewlease1leaseasyncerrormappingtestrenewleasec7e7174173", "javapathrenewlease2284788d0fc3edc1f741febb4" ]
}