{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfsacquirefileleaseacleaseapitestacquirefileleaseac4ff77637b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2EE306FC3B",
      "Last-Modified" : "Thu, 12 Dec 2019 18:12:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfsacquirefileleaseacleaseapitestacquirefileleaseac4ff77637b/javapathacquirefileleaseac427894b445d37870847a8?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2EE3130BC1",
      "Last-Modified" : "Thu, 12 Dec 2019 18:12:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfsacquirefileleaseacleaseapitestacquirefileleaseac4ff77637b/javapathacquirefileleaseac427894b445d37870847a8?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2EE3130BC1",
      "x-ms-lease-id" : "94dd2f38-f064-4b4f-96dc-5f5872f14eae",
      "Last-Modified" : "Thu, 12 Dec 2019 18:12:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://javaadlstests.blob.core.windows.net?prefix=jtfsacquirefileleaseac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://javaadlstests.blob.core.windows.net/\"><Prefix>jtfsacquirefileleaseac</Prefix><Containers><Container><Name>jtfsacquirefileleaseacleaseapitestacquirefileleaseac4ff77637b</Name><Properties><Last-Modified>Thu, 12 Dec 2019 18:12:45 GMT</Last-Modified><Etag>\"0x8D77F2EE306FC3B\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfsacquirefileleaseacleaseapitestacquirefileleaseac4ff77637b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsacquirefileleaseacleaseapitestacquirefileleaseac4ff77637b", "javapathacquirefileleaseac427894b445d37870847a8" ]
}