{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gaprahns.blob.core.windows.net/jtfschangelease0leaseasyncerrormappingtestchangeleaseaea163808?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77DC14E1A913C",
      "Last-Modified" : "Tue, 10 Dec 2019 22:35:48 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprahns.blob.core.windows.net/jtfschangelease1leaseasyncerrormappingtestchangeleaseaea16133a/javapathchangelease254080bee61464ab3f4e05834?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "MissingRequiredHeader",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>MissingRequiredHeader</Code><Message>An HTTP header that's mandatory for this request is not specified.\nRequestId:80aacf30-201e-00e9-0baa-afb27c000000\nTime:2019-12-10T22:35:49.1648670Z</Message><HeaderName>x-ms-proposed-lease-id</HeaderName></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://gaprahns.blob.core.windows.net?prefix=jtfschangelease&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://gaprahns.blob.core.windows.net/\"><Prefix>jtfschangelease</Prefix><Containers><Container><Name>jtfschangelease0leaseasyncerrormappingtestchangeleaseaea163808</Name><Properties><Last-Modified>Tue, 10 Dec 2019 22:35:48 GMT</Last-Modified><Etag>\"0x8D77DC14E1A913C\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtfschangelease1leaseasyncerrormappingtestchangeleaseaea16133a</Name><Properties><Last-Modified>Tue, 10 Dec 2019 22:35:49 GMT</Last-Modified><Etag>\"0x8D77DC14E33709E\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "http://gaprahns.blob.core.windows.net/jtfschangelease1leaseasyncerrormappingtestchangeleaseaea16133a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfschangelease0leaseasyncerrormappingtestchangeleaseaea163808", "jtfschangelease1leaseasyncerrormappingtestchangeleaseaea16133a", "javapathchangelease254080bee61464ab3f4e05834" ]
}