{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfschangefileleaseacfail0122982dd2dd03e47e48f7?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEA7BEF9033",
      "Last-Modified" : "Fri, 01 Nov 2019 16:42:29 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfschangefileleaseacfail0122982dd2dd03e47e48f7/javapathchangefileleaseacfail189238d38caa608ffa4e?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEA7BF9B2B1",
      "Last-Modified" : "Fri, 01 Nov 2019 16:42:29 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfschangefileleaseacfail0122982dd2dd03e47e48f7/javapathchangefileleaseacfail189238d38caa608ffa4e",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Fri, 01 Nov 2019 16:42:29 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D75EEA7BF9B2B1",
      "x-ms-creation-time" : "Fri, 01 Nov 2019 16:42:29 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfschangefileleaseacfail0122982dd2dd03e47e48f7/javapathchangefileleaseacfail189238d38caa608ffa4e?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEA7BF9B2B1",
      "x-ms-lease-id" : "990c8b17-36ec-4760-b09a-976966f49b33",
      "Last-Modified" : "Fri, 01 Nov 2019 16:42:29 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfschangefileleaseacfail0122982dd2dd03e47e48f7/javapathchangefileleaseacfail189238d38caa608ffa4e?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "ConditionNotMet",
      "retry-after" : "0",
      "StatusCode" : "412",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\nRequestId:dc6f6921-e01e-007c-4bd3-90d34f000000\nTime:2019-11-01T16:42:29.2961803Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahns.blob.core.windows.net?prefix=jtfschangefileleaseacfail&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahns.blob.core.windows.net/\"><Prefix>jtfschangefileleaseacfail</Prefix><Containers><Container><Name>jtfschangefileleaseacfail0122982dd2dd03e47e48f7</Name><Properties><Last-Modified>Fri, 01 Nov 2019 16:42:29 GMT</Last-Modified><Etag>\"0x8D75EEA7BEF9033\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfschangefileleaseacfail0122982dd2dd03e47e48f7?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfschangefileleaseacfail0122982dd2dd03e47e48f7", "javapathchangefileleaseacfail189238d38caa608ffa4e", "2daedbed-097b-425c-ab15-bce3a4904917" ]
}