{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfsbreakfileleaseacleaseapitestbreakfileleaseac3d447671797?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2EF4591D1C",
      "Last-Modified" : "Thu, 12 Dec 2019 18:13:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfsbreakfileleaseacleaseapitestbreakfileleaseac3d447671797/javapathbreakfileleaseacleaseapitestbreakfileleaseac3d4639565?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2EF46503E4",
      "Last-Modified" : "Thu, 12 Dec 2019 18:13:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfsbreakfileleaseacleaseapitestbreakfileleaseac3d447671797/javapathbreakfileleaseacleaseapitestbreakfileleaseac3d4639565?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2EF46503E4",
      "x-ms-lease-id" : "c8fdf11a-25ff-40cb-98d1-dc3fa877b174",
      "Last-Modified" : "Thu, 12 Dec 2019 18:13:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfsbreakfileleaseacleaseapitestbreakfileleaseac3d447671797/javapathbreakfileleaseacleaseapitestbreakfileleaseac3d4639565?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2EF46503E4",
      "x-ms-lease-time" : "0",
      "Last-Modified" : "Thu, 12 Dec 2019 18:13:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://javaadlstests.blob.core.windows.net?prefix=jtfsbreakfileleaseac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://javaadlstests.blob.core.windows.net/\"><Prefix>jtfsbreakfileleaseac</Prefix><Containers><Container><Name>jtfsbreakfileleaseacleaseapitestbreakfileleaseac3d447671797</Name><Properties><Last-Modified>Thu, 12 Dec 2019 18:13:14 GMT</Last-Modified><Etag>\"0x8D77F2EF4591D1C\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfsbreakfileleaseacleaseapitestbreakfileleaseac3d447671797?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsbreakfileleaseacleaseapitestbreakfileleaseac3d447671797", "javapathbreakfileleaseacleaseapitestbreakfileleaseac3d4639565" ]
}