{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfschangefileleaseminleaseapitestchangefileleasemina5164654d?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2EF6BF6E92",
      "Last-Modified" : "Thu, 12 Dec 2019 18:13:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.dfs.core.windows.net/jtfschangefileleaseminleaseapitestchangefileleasemina5164654d/javapathchangefileleasemin58286559b512867294a27?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2EF6CBAE18",
      "Last-Modified" : "Thu, 12 Dec 2019 18:13:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfschangefileleaseminleaseapitestchangefileleasemina5164654d/javapathchangefileleasemin58286559b512867294a27?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2EF6CBAE18",
      "x-ms-lease-id" : "da3b6b49-9c58-485e-a9f8-ead0365d2dde",
      "Last-Modified" : "Thu, 12 Dec 2019 18:13:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://javaadlstests.blob.core.windows.net?prefix=jtfschangefileleasemin&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://javaadlstests.blob.core.windows.net/\"><Prefix>jtfschangefileleasemin</Prefix><Containers><Container><Name>jtfschangefileleaseminleaseapitestchangefileleasemina5164654d</Name><Properties><Last-Modified>Thu, 12 Dec 2019 18:13:18 GMT</Last-Modified><Etag>\"0x8D77F2EF6BF6E92\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfschangefileleaseminleaseapitestchangefileleasemina5164654d?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfschangefileleaseminleaseapitestchangefileleasemina5164654d", "javapathchangefileleasemin58286559b512867294a27", "622df118-e19d-47c6-acc9-b2198920abd9" ]
}