{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfspathsaspermissiontostring0251556b85f9c9bf6b46?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D78A528BCB8059",
      "Last-Modified" : "Thu, 26 Dec 2019 22:25:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfspathsaspermissiontostring0251556b85f9c9bf6b46/javapathpathsaspermissiontostring1588314ba73aba41d3?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D78A528BFFF2C0",
      "Last-Modified" : "Thu, 26 Dec 2019 22:25:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfspathsaspermissiontostring0251556b85f9c9bf6b46/javapathpathsaspermissiontostring1588314ba73aba41d3?position=0&action=append",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfspathsaspermissiontostring0251556b85f9c9bf6b46/javapathpathsaspermissiontostring1588314ba73aba41d3?position=7&retainUncommittedData=false&close=false&action=flush",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D78A528C1B3A0D",
      "Last-Modified" : "Thu, 26 Dec 2019 22:25:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net?prefix=jtfspathsaspermissiontostring&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahnsstg.blob.core.windows.net/\"><Prefix>jtfspathsaspermissiontostring</Prefix><Containers><Container><Name>jtfspathsaspermissiontostring0251556b85f9c9bf6b46</Name><Properties><Last-Modified>Thu, 26 Dec 2019 22:25:43 GMT</Last-Modified><Etag>\"0x8D78A528BCB8059\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfspathsaspermissiontostring0251556b85f9c9bf6b46?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfspathsaspermissiontostring0251556b85f9c9bf6b46", "javapathpathsaspermissiontostring1588314ba73aba41d3" ]
}