{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsaccountsasnetworkcreatefilesystemsucceeds04922171127f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7782645D4EFCE",
      "Last-Modified" : "Tue, 03 Dec 2019 19:23:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsaccountsasnetworkcreatefilesystemsucceeds04922171127f/javapathaccountsasnetworkcreatefilesystemsucceeds1197996d8d?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7782645FA3990",
      "Last-Modified" : "Tue, 03 Dec 2019 19:23:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsaccountsasnetworkcreatefilesystemsucceeds04922171127f/javapathaccountsasnetworkcreatefilesystemsucceeds1197996d8d?position=0&action=append",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsaccountsasnetworkcreatefilesystemsucceeds04922171127f/javapathaccountsasnetworkcreatefilesystemsucceeds1197996d8d?position=7&retainUncommittedData=false&close=false&action=flush",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77826460B58DF",
      "Last-Modified" : "Tue, 03 Dec 2019 19:23:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsaccountsasnetworkcreatefilesystemsucceeds27281327c861?restype=container&sv=2019-02-02&ss=b&srt=sco&se=2019-12-04T19%3A23%3A27Z&sp=rc&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D778264613D8CF",
      "Last-Modified" : "Tue, 03 Dec 2019 19:23:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahns.blob.core.windows.net?prefix=jtfsaccountsasnetworkcreatefilesystemsucceeds&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahns.blob.core.windows.net/\"><Prefix>jtfsaccountsasnetworkcreatefilesystemsucceeds</Prefix><Containers><Container><Name>jtfsaccountsasnetworkcreatefilesystemsucceeds04922171127f</Name><Properties><Last-Modified>Tue, 03 Dec 2019 19:23:27 GMT</Last-Modified><Etag>\"0x8D7782645D4EFCE\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtfsaccountsasnetworkcreatefilesystemsucceeds27281327c861</Name><Properties><Last-Modified>Tue, 03 Dec 2019 19:23:27 GMT</Last-Modified><Etag>\"0x8D778264613D8CF\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsaccountsasnetworkcreatefilesystemsucceeds27281327c861?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsaccountsasnetworkcreatefilesystemsucceeds04922171127f", "javapathaccountsasnetworkcreatefilesystemsucceeds1197996d8d", "2019-12-03T19:23:27.524779200Z", "jtfsaccountsasnetworkcreatefilesystemsucceeds27281327c861" ]
}