{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfssasimplutilstringtosignuserdelegationkey0538485fdf5b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D78A5B6F9E1002",
      "Last-Modified" : "Thu, 26 Dec 2019 23:29:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfssasimplutilstringtosignuserdelegationkey0538485fdf5b/javapathsasimplutilstringtosignuserdelegationkey1354772d96?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D78A5B6FD476AE",
      "Last-Modified" : "Thu, 26 Dec 2019 23:29:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfssasimplutilstringtosignuserdelegationkey0538485fdf5b/javapathsasimplutilstringtosignuserdelegationkey1354772d96?position=0&action=append",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfssasimplutilstringtosignuserdelegationkey0538485fdf5b/javapathsasimplutilstringtosignuserdelegationkey1354772d96?position=7&retainUncommittedData=false&close=false&action=flush",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D78A5B6FEF7253",
      "Last-Modified" : "Thu, 26 Dec 2019 23:29:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net?prefix=jtfssasimplutilstringtosignuserdelegationkey&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahnsstg.blob.core.windows.net/\"><Prefix>jtfssasimplutilstringtosignuserdelegationkey</Prefix><Containers><Container><Name>jtfssasimplutilstringtosignuserdelegationkey0538485fdf5b</Name><Properties><Last-Modified>Thu, 26 Dec 2019 23:29:21 GMT</Last-Modified><Etag>\"0x8D78A5B6F9E1002\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfssasimplutilstringtosignuserdelegationkey0538485fdf5b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfssasimplutilstringtosignuserdelegationkey0538485fdf5b", "javapathsasimplutilstringtosignuserdelegationkey1354772d96" ]
}