{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfsaccountsasnetworktestfiledeletefails0236155693589e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D787F96F5C1296",
      "Last-Modified" : "Mon, 23 Dec 2019 22:42:48 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfsaccountsasnetworktestfiledeletefails0236155693589e/javapathaccountsasnetworktestfiledeletefails109411b5b55d?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D787F96F919134",
      "Last-Modified" : "Mon, 23 Dec 2019 22:42:48 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfsaccountsasnetworktestfiledeletefails0236155693589e/javapathaccountsasnetworktestfiledeletefails109411b5b55d?position=0&action=append",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfsaccountsasnetworktestfiledeletefails0236155693589e/javapathaccountsasnetworktestfiledeletefails109411b5b55d?position=7&retainUncommittedData=false&close=false&action=flush",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D787F96FAD1D20",
      "Last-Modified" : "Mon, 23 Dec 2019 22:42:48 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfsaccountsasnetworktestfiledeletefails0236155693589e/javapathaccountsasnetworktestfiledeletefails222614f3f806?sv=2019-07-07&ss=b&srt=sco&se=2019-12-24T22%3A42%3A49Z&sp=r&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "AuthorizationPermissionMismatch",
      "retry-after" : "0",
      "StatusCode" : "403",
      "Body" : "{\"error\":{\"code\":\"AuthorizationPermissionMismatch\",\"message\":\"This request is not authorized to perform this operation using this permission.\\nRequestId:407b61a6-a01f-0030-18e2-b92cf4000000\\nTime:2019-12-23T22:42:49.1293522Z\"}}",
      "Content-Type" : "application/json;charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net?prefix=jtfsaccountsasnetworktestfiledeletefails&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahnsstg.blob.core.windows.net/\"><Prefix>jtfsaccountsasnetworktestfiledeletefails</Prefix><Containers><Container><Name>jtfsaccountsasnetworktestfiledeletefails0236155693589e</Name><Properties><Last-Modified>Mon, 23 Dec 2019 22:42:48 GMT</Last-Modified><Etag>\"0x8D787F96F5C1296\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfsaccountsasnetworktestfiledeletefails0236155693589e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsaccountsasnetworktestfiledeletefails0236155693589e", "javapathaccountsasnetworktestfiledeletefails109411b5b55d", "javapathaccountsasnetworktestfiledeletefails222614f3f806", "2019-12-23T22:42:49.017863Z" ]
}