{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsservicesassignaturevaluesnetworktestfilesystem033843783?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77826ACDA2711",
      "Last-Modified" : "Tue, 03 Dec 2019 19:26:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsservicesassignaturevaluesnetworktestfilesystem033843783/javapathservicesassignaturevaluesnetworktestfilesystem1617487?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77826AD43E3F3",
      "Last-Modified" : "Tue, 03 Dec 2019 19:26:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsservicesassignaturevaluesnetworktestfilesystem033843783/javapathservicesassignaturevaluesnetworktestfilesystem1617487?position=0&action=append",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsservicesassignaturevaluesnetworktestfilesystem033843783/javapathservicesassignaturevaluesnetworktestfilesystem1617487?position=7&retainUncommittedData=false&close=false&action=flush",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77826AD5F799A",
      "Last-Modified" : "Tue, 03 Dec 2019 19:26:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsservicesassignaturevaluesnetworktestfilesystem033843783?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77826AD705C76",
      "Last-Modified" : "Tue, 03 Dec 2019 19:26:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsservicesassignaturevaluesnetworktestfilesystem033843783?recursive=false&upn=false&resource=filesystem&sv=2019-02-02&si=0000&sr=c&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"paths\":[{\"contentLength\":\"7\",\"etag\":\"0x8D77826AD5F799A\",\"group\":\"$superuser\",\"lastModified\":\"Tue, 03 Dec 2019 19:26:20 GMT\",\"name\":\"javapathservicesassignaturevaluesnetworktestfilesystem1617487\",\"owner\":\"$superuser\",\"permissions\":\"rw-r-----\"}]}\n",
      "Content-Type" : "application/json;charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahns.dfs.core.windows.net/jtfsservicesassignaturevaluesnetworktestfilesystem033843783?recursive=false&upn=false&resource=filesystem&sv=2019-02-02&se=2019-12-04T19%3A26%3A20Z&sr=c&sp=racwdl&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"paths\":[{\"contentLength\":\"7\",\"etag\":\"0x8D77826AD5F799A\",\"group\":\"$superuser\",\"lastModified\":\"Tue, 03 Dec 2019 19:26:20 GMT\",\"name\":\"javapathservicesassignaturevaluesnetworktestfilesystem1617487\",\"owner\":\"$superuser\",\"permissions\":\"rw-r-----\"}]}\n",
      "Content-Type" : "application/json;charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahns.blob.core.windows.net?prefix=jtfsservicesassignaturevaluesnetworktestfilesystem&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahns.blob.core.windows.net/\"><Prefix>jtfsservicesassignaturevaluesnetworktestfilesystem</Prefix><Containers><Container><Name>jtfsservicesassignaturevaluesnetworktestfilesystem033843783</Name><Properties><Last-Modified>Tue, 03 Dec 2019 19:26:21 GMT</Last-Modified><Etag>\"0x8D77826AD705C76\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfsservicesassignaturevaluesnetworktestfilesystem033843783?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsservicesassignaturevaluesnetworktestfilesystem033843783", "javapathservicesassignaturevaluesnetworktestfilesystem1617487", "2019-12-03T19:26:20.889589900Z", "2019-12-03T19:26:20.998616900Z" ]
}