{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfsaccountsasnetworkaccountsastokenonendpoint081333cac07?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7C6D32FD0D686",
      "Last-Modified" : "Thu, 12 Mar 2020 22:17:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfsaccountsasnetworkaccountsastokenonendpoint081333cac07/javapathaccountsasnetworkaccountsastokenonendpoint192221411?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7C6D33047AA9E",
      "Last-Modified" : "Thu, 12 Mar 2020 22:17:44 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfsaccountsasnetworkaccountsastokenonendpoint081333cac07/javapathaccountsasnetworkaccountsastokenonendpoint192221411?position=0&action=append",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://gaprahnsstg.dfs.core.windows.net/jtfsaccountsasnetworkaccountsastokenonendpoint081333cac07/javapathaccountsasnetworkaccountsastokenonendpoint192221411?position=7&retainUncommittedData=false&close=false&action=flush",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7C6D330D6DFB3",
      "Last-Modified" : "Thu, 12 Mar 2020 22:17:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfsaccountsasnetworkaccountsastokenonendpoint29745088e04?restype=container&sv=2019-10-10&se=2020-03-13T22%3A17%3A45Z&sp=rc&sig=REDACTED&ss=b&srt=sco",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7C6D33122A89D",
      "Last-Modified" : "Thu, 12 Mar 2020 22:17:46 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net?prefix=jtfsaccountsasnetworkaccountsastokenonendpoint&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahnsstg.blob.core.windows.net/\"><Prefix>jtfsaccountsasnetworkaccountsastokenonendpoint</Prefix><Containers><Container><Name>jtfsaccountsasnetworkaccountsastokenonendpoint081333cac07</Name><Properties><Last-Modified>Thu, 12 Mar 2020 22:17:43 GMT</Last-Modified><Etag>\"0x8D7C6D32FD0D686\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtfsaccountsasnetworkaccountsastokenonendpoint29745088e04</Name><Properties><Last-Modified>Thu, 12 Mar 2020 22:17:46 GMT</Last-Modified><Etag>\"0x8D7C6D33122A89D\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahnsstg.blob.core.windows.net/jtfsaccountsasnetworkaccountsastokenonendpoint29745088e04?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsaccountsasnetworkaccountsastokenonendpoint081333cac07", "javapathaccountsasnetworkaccountsastokenonendpoint192221411", "2020-03-12T22:17:45.633537300Z", "jtfsaccountsasnetworkaccountsastokenonendpoint29745088e04", "javapathaccountsasnetworkaccountsastokenonendpoint34828944b" ]
}