{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanaryhns.blob.core.windows.net/jtfspathsaspermissionparse06920266f425ecbab24ab?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7F2C4BA3C6AC3",
      "Last-Modified" : "Thu, 07 May 2020 20:25:04 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanaryhns.dfs.core.windows.net/jtfspathsaspermissionparse06920266f425ecbab24ab/javapathpathsaspermissionparse11325319d9527011464?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7F2C4BA4D45C6",
      "Last-Modified" : "Thu, 07 May 2020 20:25:04 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://kasobolcanaryhns.dfs.core.windows.net/jtfspathsaspermissionparse06920266f425ecbab24ab/javapathpathsaspermissionparse11325319d9527011464?position=0&action=append",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://kasobolcanaryhns.dfs.core.windows.net/jtfspathsaspermissionparse06920266f425ecbab24ab/javapathpathsaspermissionparse11325319d9527011464?position=7&retainUncommittedData=false&close=false&action=flush",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7F2C4BA6988E2",
      "Last-Modified" : "Thu, 07 May 2020 20:25:05 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://kasobolcanaryhns.blob.core.windows.net?prefix=jtfspathsaspermissionparse&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://kasobolcanaryhns.blob.core.windows.net/\"><Prefix>jtfspathsaspermissionparse</Prefix><Containers><Container><Name>jtfspathsaspermissionparse06920266f425ecbab24ab</Name><Properties><Last-Modified>Thu, 07 May 2020 20:25:04 GMT</Last-Modified><Etag>\"0x8D7F2C4BA3C6AC3\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://kasobolcanaryhns.blob.core.windows.net/jtfspathsaspermissionparse06920266f425ecbab24ab?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfspathsaspermissionparse06920266f425ecbab24ab", "javapathpathsaspermissionparse11325319d9527011464" ]
}