{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gaprahns.blob.core.windows.net/jtfsaccountsasnetworkaccountsastokenonendpoint067916d9d10?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77384781C846D",
      "Last-Modified" : "Wed, 27 Nov 2019 21:55:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprahns.blob.core.windows.net/jtfsaccountsasnetworkaccountsastokenonendpoint19368366285?restype=container&sv=2019-02-02&se=2019-11-28T21%3A55%3A08Z&sp=rc&sig=REDACTED&ss=b&srt=sco",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D773847839D5B1",
      "Last-Modified" : "Wed, 27 Nov 2019 21:55:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprahns.dfs.core.windows.net/jtfsaccountsasnetworkaccountsastokenonendpoint19368366285/javapathaccountsasnetworkaccountsastokenonendpoint263720b4b?resource=file",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D773847865E876",
      "Last-Modified" : "Wed, 27 Nov 2019 21:55:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://gaprahns.blob.core.windows.net?prefix=jtfsaccountsasnetworkaccountsastokenonendpoint&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://gaprahns.blob.core.windows.net/\"><Prefix>jtfsaccountsasnetworkaccountsastokenonendpoint</Prefix><Containers><Container><Name>jtfsaccountsasnetworkaccountsastokenonendpoint067916d9d10</Name><Properties><Last-Modified>Wed, 27 Nov 2019 21:55:08 GMT</Last-Modified><Etag>\"0x8D77384781C846D\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtfsaccountsasnetworkaccountsastokenonendpoint19368366285</Name><Properties><Last-Modified>Wed, 27 Nov 2019 21:55:08 GMT</Last-Modified><Etag>\"0x8D773847839D5B1\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "http://gaprahns.blob.core.windows.net/jtfsaccountsasnetworkaccountsastokenonendpoint19368366285?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfsaccountsasnetworkaccountsastokenonendpoint067916d9d10", "2019-11-27T21:55:08.510490500Z", "jtfsaccountsasnetworkaccountsastokenonendpoint19368366285", "javapathaccountsasnetworkaccountsastokenonendpoint263720b4b" ]
}