{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfslistfilesystemsmaxresults093051b3e84979a98744?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75EEAA59FE741",
      "Last-Modified" : "Fri, 01 Nov 2019 16:43:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahns.blob.core.windows.net?prefix=jtfslistfilesystemsmaxresults121660b4e075aeaaf046&maxresults=3&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahns.blob.core.windows.net/\"><Prefix>jtfslistfilesystemsmaxresults121660b4e075aeaaf046</Prefix><MaxResults>3</MaxResults><Containers><Container><Name>jtfslistfilesystemsmaxresults121660b4e075aeaaf0461</Name><Properties><Last-Modified>Fri, 01 Nov 2019 16:43:39 GMT</Last-Modified><Etag>\"0x8D75EEAA5ADF389\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtfslistfilesystemsmaxresults121660b4e075aeaaf0462</Name><Properties><Last-Modified>Fri, 01 Nov 2019 16:43:39 GMT</Last-Modified><Etag>\"0x8D75EEAA5B6A7A6\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtfslistfilesystemsmaxresults121660b4e075aeaaf0463</Name><Properties><Last-Modified>Fri, 01 Nov 2019 16:43:39 GMT</Last-Modified><Etag>\"0x8D75EEAA5BF82DE\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker>/gaprahns/jtfslistfilesystemsmaxresults121660b4e075aeaaf0464</NextMarker></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahns.blob.core.windows.net?prefix=jtfslistfilesystemsmaxresults121660b4e075aeaaf046&marker=/gaprahns/jtfslistfilesystemsmaxresults121660b4e075aeaaf0464&maxresults=3&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahns.blob.core.windows.net/\"><Prefix>jtfslistfilesystemsmaxresults121660b4e075aeaaf046</Prefix><Marker>/gaprahns/jtfslistfilesystemsmaxresults121660b4e075aeaaf0464</Marker><MaxResults>3</MaxResults><Containers><Container><Name>jtfslistfilesystemsmaxresults121660b4e075aeaaf0464</Name><Properties><Last-Modified>Fri, 01 Nov 2019 16:43:39 GMT</Last-Modified><Etag>\"0x8D75EEAA5C948A5\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtfslistfilesystemsmaxresults121660b4e075aeaaf0465</Name><Properties><Last-Modified>Fri, 01 Nov 2019 16:43:39 GMT</Last-Modified><Etag>\"0x8D75EEAA5D1FCC3\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprahns.blob.core.windows.net?prefix=jtfslistfilesystemsmaxresults&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprahns.blob.core.windows.net/\"><Prefix>jtfslistfilesystemsmaxresults</Prefix><Containers><Container><Name>jtfslistfilesystemsmaxresults093051b3e84979a98744</Name><Properties><Last-Modified>Fri, 01 Nov 2019 16:43:39 GMT</Last-Modified><Etag>\"0x8D75EEAA59FE741\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprahns.blob.core.windows.net/jtfslistfilesystemsmaxresults093051b3e84979a98744?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfslistfilesystemsmaxresults093051b3e84979a98744", "jtfslistfilesystemsmaxresults121660b4e075aeaaf046" ]
}