{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfslistfilesystemsminserviceapitestlistfilesystemsmin9b101552?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2EDC7DC94A",
      "Last-Modified" : "Thu, 12 Dec 2019 18:12:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://javaadlstests.blob.core.windows.net?comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://javaadlstests.blob.core.windows.net/\"><Containers><Container><Name>jtfslistfilesystemsminserviceapitestlistfilesystemsmin9b101552</Name><Properties><Last-Modified>Thu, 12 Dec 2019 18:12:34 GMT</Last-Modified><Etag>\"0x8D77F2EDC7DC94A\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://javaadlstests.blob.core.windows.net?prefix=jtfslistfilesystemsmin&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://javaadlstests.blob.core.windows.net/\"><Prefix>jtfslistfilesystemsmin</Prefix><Containers><Container><Name>jtfslistfilesystemsminserviceapitestlistfilesystemsmin9b101552</Name><Properties><Last-Modified>Thu, 12 Dec 2019 18:12:34 GMT</Last-Modified><Etag>\"0x8D77F2EDC7DC94A\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javaadlstests.blob.core.windows.net/jtfslistfilesystemsminserviceapitestlistfilesystemsmin9b101552?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtfslistfilesystemsminserviceapitestlistfilesystemsmin9b101552" ]
}