{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemproviderdeletefail18133037797708fe234?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:c04d3da3-301e-0097-3083-f272d4000000\nTime:2020-03-05T00:18:10.3211850Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemproviderdeletefail18133037797708fe234?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C09AAFD26457",
      "Last-Modified" : "Thu, 05 Mar 2020 00:18:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemproviderdeletefail2514295b30fd205fa74/javablobfilesystemproviderdeletefail35025570d28dfa67%2Fjavablobfilesystemproviderdeletefail4318382ac8ae1658",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Thu, 05 Mar 2020 00:18:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7C09AAFE82B14"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemproviderdeletefail2514295b30fd205fa74?prefix=javablobfilesystemproviderdeletefail35025570d28dfa67&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemproviderdeletefail2514295b30fd205fa74\"><Prefix>javablobfilesystemproviderdeletefail35025570d28dfa67</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>javablobfilesystemproviderdeletefail35025570d28dfa67/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemproviderdeletefail&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemproviderdeletefail</Prefix><Containers><Container><Name>jtcfilesystemproviderdeletefail18133037797708fe234</Name><Properties><Last-Modified>Thu, 05 Mar 2020 00:18:10 GMT</Last-Modified><Etag>\"0x8D7C09AAFD26457\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemproviderdeletefail2514295b30fd205fa74</Name><Properties><Last-Modified>Thu, 05 Mar 2020 00:18:10 GMT</Last-Modified><Etag>\"0x8D7C09AAFDDFFE3\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemproviderdeletefail2514295b30fd205fa74?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemproviderdeletefail056402669738a432fb4", "jtcfilesystemproviderdeletefail18133037797708fe234", "jtcfilesystemproviderdeletefail2514295b30fd205fa74", "javablobfilesystemproviderdeletefail35025570d28dfa67", "javablobfilesystemproviderdeletefail4318382ac8ae1658" ]
}