{
  "networkCallRecords" : [ {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail109415ca936b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail186919375e22?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d7b1-c01e-00e4-276e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:81c6d7b1-c01e-00e4-276e-f60217000000\nTime:2020-03-09T23:59:24.0312441Z</Message></Error>",
      "Date" : "Mon, 09 Mar 2020 23:59:23 GMT",
      "x-ms-client-request-id" : "a813a1cf-1b84-4087-8270-6f7fed315751",
=======
      "x-ms-request-id" : "67504eec-101e-010c-117d-eeb9b9000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:67504eec-101e-010c-117d-eeb9b9000000\nTime:2020-02-28T21:25:04.5349754Z</Message></Error>",
      "Date" : "Fri, 28 Feb 2020 21:25:04 GMT",
      "x-ms-client-request-id" : "6ca359bd-1666-4389-9cd5-1c09a3cc7034",
>>>>>>> upstream/master
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail109415ca936b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail186919375e22?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "ETag" : "0x8D7C485E490EE2B",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:24 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "81c6d7b4-c01e-00e4-296e-f60217000000",
      "Date" : "Mon, 09 Mar 2020 23:59:23 GMT",
      "x-ms-client-request-id" : "53e135e6-3768-4759-aa75-07ae68806919"
=======
      "ETag" : "0x8D7BC94AD57F92D",
      "Last-Modified" : "Fri, 28 Feb 2020 21:25:04 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "67504ef8-101e-010c-1c7d-eeb9b9000000",
      "Date" : "Fri, 28 Feb 2020 21:25:04 GMT",
      "x-ms-client-request-id" : "56f30cb3-646c-40a8-8fa6-414deed3301d"
>>>>>>> upstream/master
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail2715538a597e/javablobfilesystemprovidercopyreplaceexistingfail352297b09a",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail2057649db8dc/javablobfilesystemprovidercopyreplaceexistingfail357731de24",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "x-ms-content-crc64" : "zwwpfhqWdjU=",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Date" : "Mon, 09 Mar 2020 23:59:23 GMT",
      "Content-MD5" : "X3WKhDkEcZBiAKKi3jbBIw==",
      "ETag" : "0x8D7C485E4A0B77A",
      "Content-Length" : "0",
      "x-ms-request-id" : "81c6d7d6-c01e-00e4-416e-f60217000000",
      "x-ms-client-request-id" : "9ae7a125-1b27-4a63-ba59-d0b4935b1fa3"
=======
      "x-ms-content-crc64" : "yFvlMmLrjTM=",
      "Last-Modified" : "Fri, 28 Feb 2020 21:25:04 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Date" : "Fri, 28 Feb 2020 21:25:04 GMT",
      "Content-MD5" : "WBKff9+Kljv9ByCjyCuP0Q==",
      "ETag" : "0x8D7BC94AD67E667",
      "Content-Length" : "0",
      "x-ms-request-id" : "67504f1d-101e-010c-397d-eeb9b9000000",
      "x-ms-client-request-id" : "7fda04fd-9b41-469e-8376-925a15109c24"
>>>>>>> upstream/master
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail2715538a597e?prefix=javablobfilesystemprovidercopyreplaceexistingfail426967d915&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail2057649db8dc?prefix=javablobfilesystemprovidercopyreplaceexistingfail480490c326&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d7ec-c01e-00e4-536e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopyreplaceexistingfail2715538a597e\"><Prefix>javablobfilesystemprovidercopyreplaceexistingfail426967d915</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><Blob><Name>javablobfilesystemprovidercopyreplaceexistingfail426967d915</Name><Properties><Creation-Time>Mon, 09 Mar 2020 23:59:24 GMT</Creation-Time><Last-Modified>Mon, 09 Mar 2020 23:59:24 GMT</Last-Modified><Etag>0x8D7C485E4A60FF6</Etag><Content-Length>7</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>wh+Wm18D0z1D4E+PE252gg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /></Blob></Blobs><NextMarker /></EnumerationResults>",
      "Date" : "Mon, 09 Mar 2020 23:59:23 GMT",
      "x-ms-client-request-id" : "8a578cdc-08d5-406d-95c5-604599195977",
=======
      "x-ms-request-id" : "67504f2c-101e-010c-447d-eeb9b9000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopyreplaceexistingfail2057649db8dc\"><Prefix>javablobfilesystemprovidercopyreplaceexistingfail480490c326</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><Blob><Name>javablobfilesystemprovidercopyreplaceexistingfail480490c326</Name><Properties><Creation-Time>Fri, 28 Feb 2020 21:25:04 GMT</Creation-Time><Last-Modified>Fri, 28 Feb 2020 21:25:04 GMT</Last-Modified><Etag>0x8D7BC94AD6CF0AC</Etag><Content-Length>7</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>wh+Wm18D0z1D4E+PE252gg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /></Blob></Blobs><NextMarker /></EnumerationResults>",
      "Date" : "Fri, 28 Feb 2020 21:25:04 GMT",
      "x-ms-client-request-id" : "f52d7467-2408-41d8-a4b7-2188ed4615c0",
>>>>>>> upstream/master
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail2715538a597e/javablobfilesystemprovidercopyreplaceexistingfail426967d915",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail2057649db8dc/javablobfilesystemprovidercopyreplaceexistingfail480490c326",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available"
<<<<<<< HEAD
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Date" : "Mon, 09 Mar 2020 23:59:23 GMT",
=======
      "Last-Modified" : "Fri, 28 Feb 2020 21:25:04 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Date" : "Fri, 28 Feb 2020 21:25:04 GMT",
>>>>>>> upstream/master
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "Accept-Ranges" : "bytes",
      "x-ms-server-encrypted" : "true",
<<<<<<< HEAD
      "ETag" : "0x8D7C485E4A60FF6",
      "x-ms-creation-time" : "Mon, 09 Mar 2020 23:59:24 GMT",
      "Content-Length" : "7",
      "x-ms-request-id" : "81c6d7fa-c01e-00e4-616e-f60217000000",
      "Body" : "[100, 101, 102, 97, 117, 108, 116]",
      "x-ms-client-request-id" : "6bbd79df-67f1-46d4-bc8d-5eef24616a5d",
=======
      "ETag" : "0x8D7BC94AD6CF0AC",
      "x-ms-creation-time" : "Fri, 28 Feb 2020 21:25:04 GMT",
      "Content-Length" : "7",
      "x-ms-request-id" : "67504f34-101e-010c-4b7d-eeb9b9000000",
      "Body" : "[100, 101, 102, 97, 117, 108, 116]",
      "x-ms-client-request-id" : "61e947d6-688a-45b6-b829-caa20f97833f",
>>>>>>> upstream/master
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidercopyreplaceexistingfail&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "x-ms-client-request-id" : "bd090eff-dd4e-4df3-8ce4-accefe7e9e86"
=======
      "x-ms-client-request-id" : "846edd57-bdf2-47b8-a453-0701b330a4a3"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d805-c01e-00e4-6b6e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercopyreplaceexistingfail</Prefix><Containers><Container><Name>jtcfilesystemprovidercopyreplaceexistingfail109415ca936b</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:24 GMT</Last-Modified><Etag>\"0x8D7C485E490EE2B\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemprovidercopyreplaceexistingfail2715538a597e</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:24 GMT</Last-Modified><Etag>\"0x8D7C485E49AD92D\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHol[...]
[...]
  }, {
    "Method" : "DELETE",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail2715538a597e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail2057649db8dc?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d80f-c01e-00e4-746e-f60217000000",
      "Date" : "Mon, 09 Mar 2020 23:59:23 GMT",
      "x-ms-client-request-id" : "9dd30f7f-c4db-4170-870c-44e18ad617b7"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopyreplaceexistingfail000205121a55", "jtcfilesystemprovidercopyreplaceexistingfail109415ca936b", "jtcfilesystemprovidercopyreplaceexistingfail2715538a597e", "javablobfilesystemprovidercopyreplaceexistingfail352297b09a", "javablobfilesystemprovidercopyreplaceexistingfail426967d915", "9a3281e5-6a32-4026-b442-97b903ab52c6" ]
=======
      "x-ms-request-id" : "67504f48-101e-010c-5a7d-eeb9b9000000",
      "Date" : "Fri, 28 Feb 2020 21:25:04 GMT",
      "x-ms-client-request-id" : "65fd5659-b463-4521-8183-edf7900ab800"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopyreplaceexistingfail085888d2dd91", "jtcfilesystemprovidercopyreplaceexistingfail186919375e22", "jtcfilesystemprovidercopyreplaceexistingfail2057649db8dc", "javablobfilesystemprovidercopyreplaceexistingfail357731de24", "javablobfilesystemprovidercopyreplaceexistingfail480490c326", "2d8d5ace-0345-4667-90d1-c461e2a92778" ]
>>>>>>> upstream/master
}