{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcnexthasnextfailafterclose13423262e49649ccec46?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:2ff82faf-601e-00c0-14bb-069b59000000\nTime:2020-03-30T17:52:36.1122502Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcnexthasnextfailafterclose13423262e49649ccec46?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7D4D32180F88F",
      "Last-Modified" : "Mon, 30 Mar 2020 17:52:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcnexthasnextfailafterclose261194bbf0857ee44a4a/javablobnexthasnextfailafterclose393579e191ea862db3%2Fjavablobnexthasnextfailafterclose4814112127c675f0ad?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7D4D32194F6DC",
      "x-ms-content-crc64" : "p1vsGtjjPsk=",
      "Last-Modified" : "Mon, 30 Mar 2020 17:52:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcnexthasnextfailafterclose&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcnexthasnextfailafterclose</Prefix><Containers><Container><Name>jtcnexthasnextfailafterclose13423262e49649ccec46</Name><Properties><Last-Modified>Mon, 30 Mar 2020 17:52:36 GMT</Last-Modified><Etag>\"0x8D7D4D32180F88F\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcnexthasnextfailafterclose261194bbf0857ee44a4a</Name><Properties><Last-Modified>Mon, 30 Mar 2020 17:52:36 GMT</Last-Modified><Etag>\"0x8D7D4D3218E906E\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcnexthasnextfailafterclose261194bbf0857ee44a4a?prefix=javablobnexthasnextfailafterclose393579e191ea862db3/&delimiter=/&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcnexthasnextfailafterclose261194bbf0857ee44a4a\"><Prefix>javablobnexthasnextfailafterclose393579e191ea862db3/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>javablobnexthasnextfailafterclose393579e191ea862db3/javablobnexthasnextfailafterclose4814112127c675f0ad</Name><Properties><Creation-Time>Mon, 30 Mar 2020 17:52:36 GMT</Creation-Time><Last-Modified>Mon, 30 Mar 2020 17:52:36 GMT</Last-Modified><Etag>0x8D7D4D32194F6DC</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /></Blob><Blob><Name>javablobnexthasnextfailafterclose393579e191ea862db3/javablobnexthasnextfailafterclose570513d7628c3b4481</Name><Properties><Creation-Time>Mon, 30 Mar 2020 17:52:36 GMT</Creation-Time><Last-Modified>Mon, 30 Mar 2020 17:52:36 GMT</Last-Modified><Etag>0x8D7D4D3219F59A1</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /></Blob><Blob><Name>javablobnexthasnextfailafterclose393579e191ea862db3/javablobnexthasnextfailafterclose674436bd2d47f3091f</Name><Properties><Creation-Time>Mon, 30 Mar 2020 17:52:36 GMT</Creation-Time><Last-Modified>Mon, 30 Mar 2020 17:52:36 GMT</Last-Modified><Etag>0x8D7D4D321A6D583</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /></Blob></Blobs><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcnexthasnextfailafterclose261194bbf0857ee44a4a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcnexthasnextfailafterclose03378033ef81fb146c48", "jtcnexthasnextfailafterclose13423262e49649ccec46", "jtcnexthasnextfailafterclose261194bbf0857ee44a4a", "javablobnexthasnextfailafterclose393579e191ea862db3", "javablobnexthasnextfailafterclose4814112127c675f0ad", "javablobnexthasnextfailafterclose570513d7628c3b4481", "javablobnexthasnextfailafterclose674436bd2d47f3091f" ]
}