{
  "networkCallRecords" : [ {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource14787157cad79122334?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource14667169f20e8e98924?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d0a1-c01e-00e4-6e6e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:81c6d0a1-c01e-00e4-6e6e-f60217000000\nTime:2020-03-09T23:59:14.7363457Z</Message></Error>",
      "Date" : "Mon, 09 Mar 2020 23:59:13 GMT",
      "x-ms-client-request-id" : "081bdf90-f450-49e4-af52-f660b6181dd9",
=======
      "x-ms-request-id" : "67504586-101e-010c-397d-eeb9b9000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:67504586-101e-010c-397d-eeb9b9000000\nTime:2020-02-28T21:24:55.5524084Z</Message></Error>",
      "Date" : "Fri, 28 Feb 2020 21:24:55 GMT",
      "x-ms-client-request-id" : "a607ae53-4657-481e-af38-3debd74a027f",
>>>>>>> upstream/master
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource14787157cad79122334?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource14667169f20e8e98924?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "ETag" : "0x8D7C485DF0719A2",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:14 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "81c6d0a7-c01e-00e4-736e-f60217000000",
      "Date" : "Mon, 09 Mar 2020 23:59:13 GMT",
      "x-ms-client-request-id" : "8ddd8af9-b7ea-4f68-afff-12c22d964669"
=======
      "ETag" : "0x8D7BC94A7FD57A3",
      "Last-Modified" : "Fri, 28 Feb 2020 21:24:55 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "6750458e-101e-010c-3e7d-eeb9b9000000",
      "Date" : "Fri, 28 Feb 2020 21:24:55 GMT",
      "x-ms-client-request-id" : "972e7770-f53a-4680-9bdb-7513d7df736b"
>>>>>>> upstream/master
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource243819e3066b12aa6f4/javablobfilesystemprovidercopysource3874008ea030517c%2Fjavablobfilesystemprovidercopysource57402606b6b3ccbb",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource28344965cfc6a9b9654/javablobfilesystemprovidercopysource321496c574f08170%2Fjavablobfilesystemprovidercopysource599398b9529aa223",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "ETag" : "0x8D7C485DF175A63",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:14 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "81c6d0ba-c01e-00e4-036e-f60217000000",
      "x-ms-request-server-encrypted" : "true",
      "Date" : "Mon, 09 Mar 2020 23:59:14 GMT",
      "x-ms-client-request-id" : "d2d4cc87-3ea9-4671-adc3-f255d2cd4317"
=======
      "ETag" : "0x8D7BC94A80C0A6E",
      "Last-Modified" : "Fri, 28 Feb 2020 21:24:55 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "675045aa-101e-010c-557d-eeb9b9000000",
      "x-ms-request-server-encrypted" : "true",
      "Date" : "Fri, 28 Feb 2020 21:24:55 GMT",
      "x-ms-client-request-id" : "786e4d51-cf0d-4918-a025-86a03c966802"
>>>>>>> upstream/master
    },
    "Exception" : null
  }, {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource243819e3066b12aa6f4?prefix=javablobfilesystemprovidercopysource48368195cba4aae3&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource28344965cfc6a9b9654?prefix=javablobfilesystemprovidercopysource458627d70c84dd11&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d0c2-c01e-00e4-0b6e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopysource243819e3066b12aa6f4\"><Prefix>javablobfilesystemprovidercopysource48368195cba4aae3</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs /><NextMarker /></EnumerationResults>",
      "Date" : "Mon, 09 Mar 2020 23:59:14 GMT",
      "x-ms-client-request-id" : "b7bf1ac5-c50e-4e0e-91a8-2bcbd054b6c0",
=======
      "x-ms-request-id" : "675045b1-101e-010c-5c7d-eeb9b9000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopysource28344965cfc6a9b9654\"><Prefix>javablobfilesystemprovidercopysource458627d70c84dd11</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs /><NextMarker /></EnumerationResults>",
      "Date" : "Fri, 28 Feb 2020 21:24:55 GMT",
      "x-ms-client-request-id" : "e3ee41d0-47a1-4792-a660-482c0bb6c9af",
>>>>>>> upstream/master
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource243819e3066b12aa6f4/javablobfilesystemprovidercopysource48368195cba4aae3",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource28344965cfc6a9b9654/javablobfilesystemprovidercopysource458627d70c84dd11",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/maste[...]
  }, {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource243819e3066b12aa6f4?prefix=javablobfilesystemprovidercopysource3874008ea030517c&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource28344965cfc6a9b9654?prefix=javablobfilesystemprovidercopysource321496c574f08170&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d0cd-c01e-00e4-156e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopysource243819e3066b12aa6f4\"><Prefix>javablobfilesystemprovidercopysource3874008ea030517c</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>javablobfilesystemprovidercopysource3874008ea030517c/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>",
      "Date" : "Mon, 09 Mar 2020 23:59:14 GMT",
      "x-ms-client-request-id" : "d2035e69-519f-4d7b-90d7-67c58635e19e",
=======
      "x-ms-request-id" : "675045c3-101e-010c-6b7d-eeb9b9000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopysource28344965cfc6a9b9654\"><Prefix>javablobfilesystemprovidercopysource321496c574f08170</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>javablobfilesystemprovidercopysource321496c574f08170/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>",
      "Date" : "Fri, 28 Feb 2020 21:24:55 GMT",
      "x-ms-client-request-id" : "1160fa80-92ac-43b9-9928-46b0f24f7f1c",
>>>>>>> upstream/master
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource243819e3066b12aa6f4/javablobfilesystemprovidercopysource48368195cba4aae3?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource28344965cfc6a9b9654/javablobfilesystemprovidercopysource458627d70c84dd11?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "ETag" : "0x8D7C485DF2C6E1D",
      "x-ms-content-crc64" : "p1vsGtjjPsk=",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:15 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "81c6d0cf-c01e-00e4-176e-f60217000000",
      "x-ms-request-server-encrypted" : "true",
      "Date" : "Mon, 09 Mar 2020 23:59:14 GMT",
      "x-ms-client-request-id" : "3a8a295e-eab0-428d-8776-89d1e88cd6bc"
=======
      "ETag" : "0x8D7BC94A81F4906",
      "x-ms-content-crc64" : "p1vsGtjjPsk=",
      "Last-Modified" : "Fri, 28 Feb 2020 21:24:55 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "675045d0-101e-010c-787d-eeb9b9000000",
      "x-ms-request-server-encrypted" : "true",
      "Date" : "Fri, 28 Feb 2020 21:24:55 GMT",
      "x-ms-client-request-id" : "e21e0671-8645-4edb-845e-50a959a6e5b2"
>>>>>>> upstream/master
    },
    "Exception" : null
[...]
  }, {
    "Method" : "HEAD",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource243819e3066b12aa6f4/javablobfilesystemprovidercopysource48368195cba4aae3",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource28344965cfc6a9b9654/javablobfilesystemprovidercopysource458627d70c84dd11",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available"
<<<<<<< HEAD
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Date" : "Mon, 09 Mar 2020 23:59:14 GMT",
      "x-ms-blob-type" : "BlockBlob",
      "Accept-Ranges" : "bytes",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7C485DF2C6E1D",
      "x-ms-meta-is_hdi_folder" : "true",
      "x-ms-creation-time" : "Mon, 09 Mar 2020 23:59:15 GMT",
      "Content-Length" : "0",
      "x-ms-request-id" : "81c6d0db-c01e-00e4-216e-f60217000000",
      "x-ms-client-request-id" : "1c0d0a4d-9695-42e4-b67e-0d7c05e1d455",
=======
      "Last-Modified" : "Fri, 28 Feb 2020 21:24:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Date" : "Fri, 28 Feb 2020 21:24:55 GMT",
      "x-ms-blob-type" : "BlockBlob",
      "Accept-Ranges" : "bytes",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7BC94A81F4906",
      "x-ms-meta-is_hdi_folder" : "true",
      "x-ms-creation-time" : "Fri, 28 Feb 2020 21:24:55 GMT",
      "Content-Length" : "0",
      "x-ms-request-id" : "675045dd-101e-010c-047d-eeb9b9000000",
      "x-ms-client-request-id" : "ddd5cd13-c001-4efb-a30e-934d607651ed",
>>>>>>> upstream/master
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "HEAD",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource243819e3066b12aa6f4/javablobfilesystemprovidercopysource3874008ea030517c%2Fjavablobfilesystemprovidercopysource57402606b6b3ccbb",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource28344965cfc6a9b9654/javablobfilesystemprovidercopysource321496c574f08170%2Fjavablobfilesystemprovidercopysource599398b9529aa223",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "x-ms-blob-committed-block-count" : "0"
<<<<<<< HEAD
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Date" : "Mon, 09 Mar 2020 23:59:14 GMT",
      "x-ms-blob-type" : "AppendBlob",
      "Accept-Ranges" : "bytes",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7C485DF175A63",
      "x-ms-creation-time" : "Mon, 09 Mar 2020 23:59:14 GMT",
      "Content-Length" : "0",
      "x-ms-request-id" : "81c6d0e3-c01e-00e4-296e-f60217000000",
      "x-ms-client-request-id" : "41055b07-f79f-4436-b035-398dcb40fa30",
=======
      "Last-Modified" : "Fri, 28 Feb 2020 21:24:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Date" : "Fri, 28 Feb 2020 21:24:55 GMT",
      "x-ms-blob-type" : "AppendBlob",
      "Accept-Ranges" : "bytes",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7BC94A80C0A6E",
      "x-ms-creation-time" : "Fri, 28 Feb 2020 21:24:55 GMT",
      "Content-Length" : "0",
      "x-ms-request-id" : "675045e9-101e-010c-107d-eeb9b9000000",
      "x-ms-client-request-id" : "788678e4-1a69-4963-b7eb-8f076a144d49",
>>>>>>> upstream/master
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidercopysource&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "x-ms-client-request-id" : "45430131-007d-474e-b575-6e76e2fb5d31"
=======
      "x-ms-client-request-id" : "7a49d2a6-af06-4e87-af13-a27e7fb919be"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d0f2-c01e-00e4-366e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercopysource</Prefix><Containers><Container><Name>jtcfilesystemprovidercopysource14787157cad79122334</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:14 GMT</Last-Modified><Etag>\"0x8D7C485DF0719A2\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemprovidercopysource243819e3066b12aa6f4</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:14 GMT</Last-Modified><Etag>\"0x8D7C485DF1179B7\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>fals[...]
[...]
  }, {
    "Method" : "DELETE",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource243819e3066b12aa6f4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource28344965cfc6a9b9654?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d0fd-c01e-00e4-416e-f60217000000",
      "Date" : "Mon, 09 Mar 2020 23:59:14 GMT",
      "x-ms-client-request-id" : "3af929df-6360-4208-9292-b9a589847e3a"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopysource0993979ddc2595047c4", "jtcfilesystemprovidercopysource14787157cad79122334", "jtcfilesystemprovidercopysource243819e3066b12aa6f4", "javablobfilesystemprovidercopysource3874008ea030517c", "javablobfilesystemprovidercopysource48368195cba4aae3", "javablobfilesystemprovidercopysource57402606b6b3ccbb" ]
=======
      "x-ms-request-id" : "67504603-101e-010c-297d-eeb9b9000000",
      "Date" : "Fri, 28 Feb 2020 21:24:55 GMT",
      "x-ms-client-request-id" : "3af3098a-7ae1-4e02-8aa6-2749f73b5c4b"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopysource064025fa128860fa424", "jtcfilesystemprovidercopysource14667169f20e8e98924", "jtcfilesystemprovidercopysource28344965cfc6a9b9654", "javablobfilesystemprovidercopysource321496c574f08170", "javablobfilesystemprovidercopysource458627d70c84dd11", "javablobfilesystemprovidercopysource599398b9529aa223" ]
>>>>>>> upstream/master
}