{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatedirparentexists197562b3c08ce?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:174b7d55-f01e-00c5-16ba-fc6f26000000\nTime:2020-03-18T00:15:07.0323878Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatedirparentexists197562b3c08ce?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7CAD169FA5966",
      "Last-Modified" : "Wed, 18 Mar 2020 00:15:07 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatedirparentexists2864690276e89/javablobfilesystemprovidercreatedirparentexists3743830d9db%2Fjavablobfilesystemprovidercreatedirparentexists4997978572d%2F",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7CAD16A1F9B9C",
      "Last-Modified" : "Wed, 18 Mar 2020 00:15:07 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatedirparentexists2864690276e89?prefix=javablobfilesystemprovidercreatedirparentexists3743830d9db/javablobfilesystemprovidercreatedirparentexists4997978572d&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercreatedirparentexists2864690276e89\"><Prefix>javablobfilesystemprovidercreatedirparentexists3743830d9db/javablobfilesystemprovidercreatedirparentexists4997978572d</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>javablobfilesystemprovidercreatedirparentexists3743830d9db/javablobfilesystemprovidercreatedirparentexists4997978572d/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatedirparentexists2864690276e89/javablobfilesystemprovidercreatedirparentexists3743830d9db%2Fjavablobfilesystemprovidercreatedirparentexists4997978572d%2Fjavablobfilesystemprovidercreatedirparentexists5823119e41b?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7CAD16A3B1982",
      "x-ms-content-crc64" : "p1vsGtjjPsk=",
      "Last-Modified" : "Wed, 18 Mar 2020 00:15:07 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatedirparentexists2864690276e89/javablobfilesystemprovidercreatedirparentexists3743830d9db%2Fjavablobfilesystemprovidercreatedirparentexists4997978572d%2Fjavablobfilesystemprovidercreatedirparentexists5823119e41b",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Wed, 18 Mar 2020 00:15:07 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7CAD16A3B1982",
      "x-ms-meta-is_hdi_folder" : "true",
      "x-ms-creation-time" : "Wed, 18 Mar 2020 00:15:07 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidercreatedirparentexists&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercreatedirparentexists</Prefix><Containers><Container><Name>jtcfilesystemprovidercreatedirparentexists197562b3c08ce</Name><Properties><Last-Modified>Wed, 18 Mar 2020 00:15:07 GMT</Last-Modified><Etag>\"0x8D7CAD169FA5966\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemprovidercreatedirparentexists2864690276e89</Name><Properties><Last-Modified>Wed, 18 Mar 2020 00:15:07 GMT</Last-Modified><Etag>\"0x8D7CAD16A12A226\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatedirparentexists2864690276e89?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercreatedirparentexists018541bd422f2", "jtcfilesystemprovidercreatedirparentexists197562b3c08ce", "jtcfilesystemprovidercreatedirparentexists2864690276e89", "javablobfilesystemprovidercreatedirparentexists3743830d9db", "javablobfilesystemprovidercreatedirparentexists4997978572d", "javablobfilesystemprovidercreatedirparentexists5823119e41b" ]
}