{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth157292468f00c8334f4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:81c6dc19-c01e-00e4-646e-f60217000000\nTime:2020-03-09T23:59:30.6021627Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth157292468f00c8334f4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C485E87BB9CE",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth27150072dd3d7e459f4/javablobfilesystemprovidercopydepth341187c7de2f4cc0e%2Fjavablobfilesystemprovidercopydepth400047179ac6ea862%2Fjavablobfilesystemprovidercopydepth55861194ea332f4f6",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7C485E88B8FFD"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth27150072dd3d7e459f4/javablobfilesystemprovidercopydepth6352648f66383b2ef%2Fjavablobfilesystemprovidercopydepth766719e37f238a7c8?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C485E890E878",
      "x-ms-content-crc64" : "p1vsGtjjPsk=",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth27150072dd3d7e459f4?prefix=javablobfilesystemprovidercopydepth6352648f66383b2ef/javablobfilesystemprovidercopydepth766719e37f238a7c8/javablobfilesystemprovidercopydepth85213702afbd98691&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopydepth27150072dd3d7e459f4\"><Prefix>javablobfilesystemprovidercopydepth6352648f66383b2ef/javablobfilesystemprovidercopydepth766719e37f238a7c8/javablobfilesystemprovidercopydepth85213702afbd98691</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs /><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth27150072dd3d7e459f4?prefix=javablobfilesystemprovidercopydepth6352648f66383b2ef/javablobfilesystemprovidercopydepth766719e37f238a7c8&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopydepth27150072dd3d7e459f4\"><Prefix>javablobfilesystemprovidercopydepth6352648f66383b2ef/javablobfilesystemprovidercopydepth766719e37f238a7c8</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><Blob><Name>javablobfilesystemprovidercopydepth6352648f66383b2ef/javablobfilesystemprovidercopydepth766719e37f238a7c8</Name><Properties><Creation-Time>Mon, 09 Mar 2020 23:59:30 GMT</Creation-Time><Last-Modified>Mon, 09 Mar 2020 23:59:30 GMT</Last-Modified><Etag>0x8D7C485E890E878</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><is_hdi_folder>true</is_hdi_folder></Metadata></Blob></Blobs><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth27150072dd3d7e459f4/javablobfilesystemprovidercopydepth6352648f66383b2ef%2Fjavablobfilesystemprovidercopydepth766719e37f238a7c8%2Fjavablobfilesystemprovidercopydepth85213702afbd98691",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-copy-id" : "09d8bdd2-951f-4099-abe8-ff9af4c338d0",
      "ETag" : "0x8D7C485E8A07CA4",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:30 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "success",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth27150072dd3d7e459f4/javablobfilesystemprovidercopydepth6352648f66383b2ef%2Fjavablobfilesystemprovidercopydepth766719e37f238a7c8%2Fjavablobfilesystemprovidercopydepth85213702afbd98691",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-copy-id" : "09d8bdd2-951f-4099-abe8-ff9af4c338d0",
      "x-ms-lease-state" : "available",
      "x-ms-copy-source" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth27150072dd3d7e459f4/javablobfilesystemprovidercopydepth341187c7de2f4cc0e/javablobfilesystemprovidercopydepth400047179ac6ea862/javablobfilesystemprovidercopydepth55861194ea332f4f6",
      "x-ms-copy-progress" : "7/7",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-copy-completion-time" : "Mon, 09 Mar 2020 23:59:30 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7C485E8A07CA4",
      "x-ms-creation-time" : "Mon, 09 Mar 2020 23:59:30 GMT",
      "x-ms-copy-status" : "success",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidercopydepth&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercopydepth</Prefix><Containers><Container><Name>jtcfilesystemprovidercopydepth157292468f00c8334f4</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:30 GMT</Last-Modified><Etag>\"0x8D7C485E87BB9CE\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemprovidercopydepth27150072dd3d7e459f4</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:30 GMT</Last-Modified><Etag>\"0x8D7C485E885CBE7\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth27150072dd3d7e459f4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopydepth008153c19e302749494", "jtcfilesystemprovidercopydepth157292468f00c8334f4", "jtcfilesystemprovidercopydepth27150072dd3d7e459f4", "javablobfilesystemprovidercopydepth341187c7de2f4cc0e", "javablobfilesystemprovidercopydepth400047179ac6ea862", "javablobfilesystemprovidercopydepth55861194ea332f4f6", "javablobfilesystemprovidercopydepth6352648f66383b2ef", "javablobfilesystemprovidercopydepth766719e37f238a7c8", "javablobfilesystemprovidercopydepth85213702afbd98691" ]
}