{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydestination1130508870f59bb9?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:174b9a8d-f01e-00c5-34ba-fc6f26000000\nTime:2020-03-18T00:15:25.1544164Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydestination1130508870f59bb9?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7CAD174C590D8",
      "Last-Modified" : "Wed, 18 Mar 2020 00:15:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydestination298526cce185cf42/javablobfilesystemprovidercopydestination320225c2f52f9c",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Wed, 18 Mar 2020 00:15:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7CAD174EF964A"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydestination298526cce185cf42?prefix=javablobfilesystemprovidercopydestination481394020e5f90&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopydestination298526cce185cf42\"><Prefix>javablobfilesystemprovidercopydestination481394020e5f90</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><Blob><Name>javablobfilesystemprovidercopydestination481394020e5f90</Name><Properties><Creation-Time>Wed, 18 Mar 2020 00:15:25 GMT</Creation-Time><Last-Modified>Wed, 18 Mar 2020 00:15:25 GMT</Last-Modified><Etag>0x8D7CAD17502386F</Etag><Content-Length>20</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>LXFE+4YWc7cOQpKdNBMv3g==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /></Blob></Blobs><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydestination298526cce185cf42/javablobfilesystemprovidercopydestination481394020e5f90",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-copy-id" : "b7a6a39d-96b4-48cf-8cdf-d6cd18a70609",
      "ETag" : "0x8D7CAD1751F6466",
      "Last-Modified" : "Wed, 18 Mar 2020 00:15:25 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "success",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydestination298526cce185cf42/javablobfilesystemprovidercopydestination481394020e5f90",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-copy-id" : "b7a6a39d-96b4-48cf-8cdf-d6cd18a70609",
      "x-ms-lease-state" : "available",
      "x-ms-copy-source" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydestination298526cce185cf42/javablobfilesystemprovidercopydestination320225c2f52f9c",
      "x-ms-copy-progress" : "7/7",
      "Last-Modified" : "Wed, 18 Mar 2020 00:15:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-copy-completion-time" : "Wed, 18 Mar 2020 00:15:25 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7CAD1751F6466",
      "x-ms-creation-time" : "Wed, 18 Mar 2020 00:15:25 GMT",
      "x-ms-copy-status" : "success",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidercopydestination&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercopydestination</Prefix><Containers><Container><Name>jtcfilesystemprovidercopydestination1130508870f59bb9</Name><Properties><Last-Modified>Wed, 18 Mar 2020 00:15:25 GMT</Last-Modified><Etag>\"0x8D7CAD174C590D8\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemprovidercopydestination298526cce185cf42</Name><Properties><Last-Modified>Wed, 18 Mar 2020 00:15:25 GMT</Last-Modified><Etag>\"0x8D7CAD174E26EA0\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydestination298526cce185cf42?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopydestination0716778d44631850", "jtcfilesystemprovidercopydestination1130508870f59bb9", "jtcfilesystemprovidercopydestination298526cce185cf42", "javablobfilesystemprovidercopydestination320225c2f52f9c", "javablobfilesystemprovidercopydestination481394020e5f90", "43c0adfd-d188-4adc-a37e-a0fa7f190343" ]
}