{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth110517b12e17907ff64?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:174ba879-f01e-00c5-58ba-fc6f26000000\nTime:2020-03-18T00:15:34.1388566Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth110517b12e17907ff64?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7CAD17A20C9B3",
      "Last-Modified" : "Wed, 18 Mar 2020 00:15:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth229751ec9eafd809674/javablobfilesystemprovidercopydepth397123dc991d4d0dc%2Fjavablobfilesystemprovidercopydepth451859bf6b64c68d2",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Wed, 18 Mar 2020 00:15:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7CAD17A48D659"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth229751ec9eafd809674/javablobfilesystemprovidercopydepth5265667aa9be8c869?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7CAD17A56E390",
      "x-ms-content-crc64" : "p1vsGtjjPsk=",
      "Last-Modified" : "Wed, 18 Mar 2020 00:15:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth229751ec9eafd809674?prefix=javablobfilesystemprovidercopydepth5265667aa9be8c869/javablobfilesystemprovidercopydepth63192504a0de053f0&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopydepth229751ec9eafd809674\"><Prefix>javablobfilesystemprovidercopydepth5265667aa9be8c869/javablobfilesystemprovidercopydepth63192504a0de053f0</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs /><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth229751ec9eafd809674?prefix=javablobfilesystemprovidercopydepth5265667aa9be8c869&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopydepth229751ec9eafd809674\"><Prefix>javablobfilesystemprovidercopydepth5265667aa9be8c869</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><Blob><Name>javablobfilesystemprovidercopydepth5265667aa9be8c869</Name><Properties><Creation-Time>Wed, 18 Mar 2020 00:15:34 GMT</Creation-Time><Last-Modified>Wed, 18 Mar 2020 00:15:34 GMT</Last-Modified><Etag>0x8D7CAD17A56E390</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><is_hdi_folder>true</is_hdi_folder></Metadata></Blob></Blobs><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth229751ec9eafd809674/javablobfilesystemprovidercopydepth5265667aa9be8c869%2Fjavablobfilesystemprovidercopydepth63192504a0de053f0",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-copy-id" : "d214b3ec-5780-4247-9a52-b5157705646e",
      "ETag" : "0x8D7CAD17A7BD99D",
      "Last-Modified" : "Wed, 18 Mar 2020 00:15:34 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "success",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth229751ec9eafd809674/javablobfilesystemprovidercopydepth5265667aa9be8c869%2Fjavablobfilesystemprovidercopydepth63192504a0de053f0",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-copy-id" : "d214b3ec-5780-4247-9a52-b5157705646e",
      "x-ms-lease-state" : "available",
      "x-ms-copy-source" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth229751ec9eafd809674/javablobfilesystemprovidercopydepth397123dc991d4d0dc%2Fjavablobfilesystemprovidercopydepth451859bf6b64c68d2",
      "x-ms-copy-progress" : "7/7",
      "Last-Modified" : "Wed, 18 Mar 2020 00:15:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-copy-completion-time" : "Wed, 18 Mar 2020 00:15:34 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7CAD17A7BD99D",
      "x-ms-creation-time" : "Wed, 18 Mar 2020 00:15:34 GMT",
      "x-ms-copy-status" : "success",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidercopydepth&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercopydepth</Prefix><Containers><Container><Name>jtcfilesystemprovidercopydepth110517b12e17907ff64</Name><Properties><Last-Modified>Wed, 18 Mar 2020 00:15:34 GMT</Last-Modified><Etag>\"0x8D7CAD17A20C9B3\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemprovidercopydepth229751ec9eafd809674</Name><Properties><Last-Modified>Wed, 18 Mar 2020 00:15:34 GMT</Last-Modified><Etag>\"0x8D7CAD17A39AEE2\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth229751ec9eafd809674?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopydepth025728192760ea5fc24", "jtcfilesystemprovidercopydepth110517b12e17907ff64", "jtcfilesystemprovidercopydepth229751ec9eafd809674", "javablobfilesystemprovidercopydepth397123dc991d4d0dc", "javablobfilesystemprovidercopydepth451859bf6b64c68d2", "javablobfilesystemprovidercopydepth5265667aa9be8c869", "javablobfilesystemprovidercopydepth63192504a0de053f0" ]
}