{
  "networkCallRecords" : [ {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyoptionsfail158320e6dec956c4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyoptionsfail173386dd644bac6f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d81a-c01e-00e4-7d6e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:81c6d81a-c01e-00e4-7d6e-f60217000000\nTime:2020-03-09T23:59:24.4142395Z</Message></Error>",
      "Date" : "Mon, 09 Mar 2020 23:59:23 GMT",
      "x-ms-client-request-id" : "fb234a28-03a0-494d-97a2-1f90efb17e86",
=======
      "x-ms-request-id" : "67504f50-101e-010c-5f7d-eeb9b9000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:67504f50-101e-010c-5f7d-eeb9b9000000\nTime:2020-02-28T21:25:04.8943169Z</Message></Error>",
      "Date" : "Fri, 28 Feb 2020 21:25:04 GMT",
      "x-ms-client-request-id" : "e904adc8-2e23-47b0-adc6-a185cf0b0965",
>>>>>>> upstream/master
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyoptionsfail158320e6dec956c4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyoptionsfail173386dd644bac6f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "ETag" : "0x8D7C485E4CB5EF6",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:24 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "81c6d825-c01e-00e4-056e-f60217000000",
      "Date" : "Mon, 09 Mar 2020 23:59:23 GMT",
      "x-ms-client-request-id" : "5848f34e-cb30-4dba-939d-d905df36925f"
=======
      "ETag" : "0x8D7BC94AD8EF510",
      "Last-Modified" : "Fri, 28 Feb 2020 21:25:04 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "67504f54-101e-010c-627d-eeb9b9000000",
      "Date" : "Fri, 28 Feb 2020 21:25:04 GMT",
      "x-ms-client-request-id" : "dd4ac977-2589-4b1b-b13e-891247829787"
>>>>>>> upstream/master
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidercopyoptionsfail&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "x-ms-client-request-id" : "b26d3930-5870-41b7-a384-f33933ca0c60"
=======
      "x-ms-client-request-id" : "86248463-37f0-4974-aa5a-d4b1e00bdefe"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d837-c01e-00e4-126e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercopyoptionsfail</Prefix><Containers><Container><Name>jtcfilesystemprovidercopyoptionsfail158320e6dec956c4</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:24 GMT</Last-Modified><Etag>\"0x8D7C485E4CB5EF6\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemprovidercopyoptionsfail23165789e7f7994b</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:24 GMT</Last-Modified><Etag>\"0x8D7C485E4D522E1\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Date" : "Mon, 09 Mar 2020 23:59:23 GMT",
      "x-ms-client-request-id" : "b26d3930-5870-41b7-a384-f33933ca0c60",
=======
      "x-ms-request-id" : "67504f76-101e-010c-7a7d-eeb9b9000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercopyoptionsfail</Prefix><Containers><Container><Name>jtcfilesystemprovidercopyoptionsfail173386dd644bac6f</Na[...]
[...]
  }, {
    "Method" : "DELETE",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyoptionsfail23165789e7f7994b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyoptionsfail2445124c70e22ea2?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d83f-c01e-00e4-196e-f60217000000",
      "Date" : "Mon, 09 Mar 2020 23:59:23 GMT",
      "x-ms-client-request-id" : "018cfda8-95da-4e4a-8271-e59bcdb2d8f0"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopyoptionsfail009226ed63fd2902", "jtcfilesystemprovidercopyoptionsfail158320e6dec956c4", "jtcfilesystemprovidercopyoptionsfail23165789e7f7994b", "javablobfilesystemprovidercopyoptionsfail3402432a9f0208", "javablobfilesystemprovidercopyoptionsfail401069e1e35063" ]
=======
      "x-ms-request-id" : "67504f8e-101e-010c-0e7d-eeb9b9000000",
      "Date" : "Fri, 28 Feb 2020 21:25:04 GMT",
      "x-ms-client-request-id" : "e072d241-5d81-468c-a5ba-4b3ac541a927"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopyoptionsfail076070e42acfe303", "jtcfilesystemprovidercopyoptionsfail173386dd644bac6f", "jtcfilesystemprovidercopyoptionsfail2445124c70e22ea2", "javablobfilesystemprovidercopyoptionsfail317297e4152e2a", "javablobfilesystemprovidercopyoptionsfail496274dd14a80d" ]
>>>>>>> upstream/master
}