{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemproviderdirectorystatus153848a7f597e86b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:67505fcb-101e-010c-0a7d-eeb9b9000000\nTime:2020-02-28T21:25:21.6272651Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemproviderdirectorystatus153848a7f597e86b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7BC94B787E5A3",
      "Last-Modified" : "Fri, 28 Feb 2020 21:25:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemproviderdirectorystatus227097e9b8dc17e4?prefix=javablobfilesystemproviderdirectorystatus316808e668af10&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemproviderdirectorystatus227097e9b8dc17e4\"><Prefix>javablobfilesystemproviderdirectorystatus316808e668af10</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs /><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemproviderdirectorystatus153848a7f597e86b?prefix=javablobfilesystemproviderdirectorystatus46080008bbdc94/javablobfilesystemproviderdirectorystatus58420573bb1c13/javablobfilesystemproviderdirectorystatus62835965893b53/javablobfilesystemproviderdirectorystatus7039703fd8c28f&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemproviderdirectorystatus153848a7f597e86b\"><Prefix>javablobfilesystemproviderdirectorystatus46080008bbdc94/javablobfilesystemproviderdirectorystatus58420573bb1c13/javablobfilesystemproviderdirectorystatus62835965893b53/javablobfilesystemproviderdirectorystatus7039703fd8c28f</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs /><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemproviderdirectorystatus&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemproviderdirectorystatus</Prefix><Containers><Container><Name>jtcfilesystemproviderdirectorystatus153848a7f597e86b</Name><Properties><Last-Modified>Fri, 28 Feb 2020 21:25:21 GMT</Last-Modified><Etag>\"0x8D7BC94B787E5A3\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemproviderdirectorystatus227097e9b8dc17e4</Name><Properties><Last-Modified>Fri, 28 Feb 2020 21:25:21 GMT</Last-Modified><Etag>\"0x8D7BC94B7910F9E\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemproviderdirectorystatus227097e9b8dc17e4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemproviderdirectorystatus058826f33cf85dd4", "jtcfilesystemproviderdirectorystatus153848a7f597e86b", "jtcfilesystemproviderdirectorystatus227097e9b8dc17e4", "javablobfilesystemproviderdirectorystatus316808e668af10", "javablobfilesystemproviderdirectorystatus46080008bbdc94", "javablobfilesystemproviderdirectorystatus58420573bb1c13", "javablobfilesystemproviderdirectorystatus62835965893b53", "javablobfilesystemproviderdirectorystatus7039703fd8c28f", "javablobfilesystemproviderdirectorystatus824704ab8cc1b8", "javablobfilesystemproviderdirectorystatus9615736f8903bb" ]
}