{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth1868195dc540ac0f124?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:81c6dd64-c01e-00e4-116e-f60217000000\nTime:2020-03-09T23:59:32.1011475Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth1868195dc540ac0f124?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C485E9604CAB",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:32 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth21617939f950c8a31a4/javablobfilesystemprovidercopydepth347872e0db75729c5%2Fjavablobfilesystemprovidercopydepth454878a288a3cef73%2Fjavablobfilesystemprovidercopydepth521735b7adfadd85a",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:32 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7C485E9705B5E"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth21617939f950c8a31a4/javablobfilesystemprovidercopydepth61688875706c0782a%2Fjavablobfilesystemprovidercopydepth7811777cf06b6ce7a%2Fjavablobfilesystemprovidercopydepth877825f4143d384e0?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C485E9758CBD",
      "x-ms-content-crc64" : "p1vsGtjjPsk=",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:32 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth21617939f950c8a31a4?prefix=javablobfilesystemprovidercopydepth61688875706c0782a/javablobfilesystemprovidercopydepth7811777cf06b6ce7a/javablobfilesystemprovidercopydepth877825f4143d384e0/javablobfilesystemprovidercopydepth928318461afe585f9&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopydepth21617939f950c8a31a4\"><Prefix>javablobfilesystemprovidercopydepth61688875706c0782a/javablobfilesystemprovidercopydepth7811777cf06b6ce7a/javablobfilesystemprovidercopydepth877825f4143d384e0/javablobfilesystemprovidercopydepth928318461afe585f9</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs /><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth21617939f950c8a31a4?prefix=javablobfilesystemprovidercopydepth61688875706c0782a/javablobfilesystemprovidercopydepth7811777cf06b6ce7a/javablobfilesystemprovidercopydepth877825f4143d384e0&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopydepth21617939f950c8a31a4\"><Prefix>javablobfilesystemprovidercopydepth61688875706c0782a/javablobfilesystemprovidercopydepth7811777cf06b6ce7a/javablobfilesystemprovidercopydepth877825f4143d384e0</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><Blob><Name>javablobfilesystemprovidercopydepth61688875706c0782a/javablobfilesystemprovidercopydepth7811777cf06b6ce7a/javablobfilesystemprovidercopydepth877825f4143d384e0</Name><Properties><Creation-Time>Mon, 09 Mar 2020 23:59:32 GMT</Creation-Time><Last-Modified>Mon, 09 Mar 2020 23:59:32 GMT</Last-Modified><Etag>0x8D7C485E9758CBD</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><is_hdi_folder>true</is_hdi_folder></Metadata></Blob></Blobs><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth21617939f950c8a31a4/javablobfilesystemprovidercopydepth61688875706c0782a%2Fjavablobfilesystemprovidercopydepth7811777cf06b6ce7a%2Fjavablobfilesystemprovidercopydepth877825f4143d384e0%2Fjavablobfilesystemprovidercopydepth928318461afe585f9",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-copy-id" : "e5c8a725-b536-43ff-8160-bcddf37e5bc9",
      "ETag" : "0x8D7C485E985E46B",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:32 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "success",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth21617939f950c8a31a4/javablobfilesystemprovidercopydepth61688875706c0782a%2Fjavablobfilesystemprovidercopydepth7811777cf06b6ce7a%2Fjavablobfilesystemprovidercopydepth877825f4143d384e0%2Fjavablobfilesystemprovidercopydepth928318461afe585f9",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-copy-id" : "e5c8a725-b536-43ff-8160-bcddf37e5bc9",
      "x-ms-lease-state" : "available",
      "x-ms-copy-source" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth21617939f950c8a31a4/javablobfilesystemprovidercopydepth347872e0db75729c5/javablobfilesystemprovidercopydepth454878a288a3cef73/javablobfilesystemprovidercopydepth521735b7adfadd85a",
      "x-ms-copy-progress" : "7/7",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:32 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-copy-completion-time" : "Mon, 09 Mar 2020 23:59:32 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7C485E985E46B",
      "x-ms-creation-time" : "Mon, 09 Mar 2020 23:59:32 GMT",
      "x-ms-copy-status" : "success",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidercopydepth&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercopydepth</Prefix><Containers><Container><Name>jtcfilesystemprovidercopydepth1868195dc540ac0f124</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:32 GMT</Last-Modified><Etag>\"0x8D7C485E9604CAB\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemprovidercopydepth21617939f950c8a31a4</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:32 GMT</Last-Modified><Etag>\"0x8D7C485E96A5EF3\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth21617939f950c8a31a4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopydepth0260208b870a14446e4", "jtcfilesystemprovidercopydepth1868195dc540ac0f124", "jtcfilesystemprovidercopydepth21617939f950c8a31a4", "javablobfilesystemprovidercopydepth347872e0db75729c5", "javablobfilesystemprovidercopydepth454878a288a3cef73", "javablobfilesystemprovidercopydepth521735b7adfadd85a", "javablobfilesystemprovidercopydepth61688875706c0782a", "javablobfilesystemprovidercopydepth7811777cf06b6ce7a", "javablobfilesystemprovidercopydepth877825f4143d384e0", "javablobfilesystemprovidercopydepth928318461afe585f9" ]
}