{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth282658cbd47c300c034/javablobfilesystemprovidercopydepth318071bf5a8283a00%2Fjavablobfilesystemprovidercopydepth429062b5d9b2917e4",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Fri, 21 Feb 2020 02:42:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7B677B597AE77"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth282658cbd47c300c034/javablobfilesystemprovidercopydepth531304fc7b1f34d99%2Fjavablobfilesystemprovidercopydepth6920898de71ad52b1%2F?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7B677B59D7C39",
      "x-ms-content-crc64" : "p1vsGtjjPsk=",
      "Last-Modified" : "Fri, 21 Feb 2020 02:42:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth282658cbd47c300c034/javablobfilesystemprovidercopydepth531304fc7b1f34d99%2Fjavablobfilesystemprovidercopydepth6920898de71ad52b1%2Fjavablobfilesystemprovidercopydepth739791862924fa616",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-copy-id" : "aeb2dd5d-1934-4491-b465-a1205b16ef84",
      "x-ms-lease-state" : "available",
      "x-ms-copy-source" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth282658cbd47c300c034/javablobfilesystemprovidercopydepth318071bf5a8283a00/javablobfilesystemprovidercopydepth429062b5d9b2917e4",
      "x-ms-copy-progress" : "7/7",
      "Last-Modified" : "Fri, 21 Feb 2020 02:42:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-copy-completion-time" : "Fri, 21 Feb 2020 02:42:36 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7B677B5AE492E",
      "x-ms-creation-time" : "Fri, 21 Feb 2020 02:42:36 GMT",
      "x-ms-copy-status" : "success",
      "Body" : "[100, 101, 102, 97, 117, 108, 116]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidercopydepth&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercopydepth</Prefix><Containers><Container><Name>jtcfilesystemprovidercopydepth166780e7f944fe04014</Name><Properties><Last-Modified>Fri, 21 Feb 2020 02:42:35 GMT</Last-Modified><Etag>\"0x8D7B677B58750AA\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemprovidercopydepth282658cbd47c300c034</Name><Properties><Last-Modified>Fri, 21 Feb 2020 02:42:35 GMT</Last-Modified><Etag>\"0x8D7B677B591B35F\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth166780e7f944fe04014?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth282658cbd47c300c034?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopydepth053931d2c3e6e482e14", "jtcfilesystemprovidercopydepth166780e7f944fe04014", "jtcfilesystemprovidercopydepth282658cbd47c300c034", "javablobfilesystemprovidercopydepth318071bf5a8283a00", "javablobfilesystemprovidercopydepth429062b5d9b2917e4", "javablobfilesystemprovidercopydepth531304fc7b1f34d99", "javablobfilesystemprovidercopydepth6920898de71ad52b1", "javablobfilesystemprovidercopydepth739791862924fa616" ]
}