{
  "networkCallRecords" : [ {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatefilesystemduplicate14567285fff?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatefilesystemduplicate1219602178d?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6cba3-c01e-00e4-3d6e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:81c6cba3-c01e-00e4-3d6e-f60217000000\nTime:2020-03-09T23:59:09.0694147Z</Message></Error>",
      "Date" : "Mon, 09 Mar 2020 23:59:08 GMT",
      "x-ms-client-request-id" : "34060048-f718-4586-92fe-276d9a53ce24",
=======
      "x-ms-request-id" : "67503f09-101e-010c-597d-eeb9b9000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:67503f09-101e-010c-597d-eeb9b9000000\nTime:2020-02-28T21:24:49.9400581Z</Message></Error>",
      "Date" : "Fri, 28 Feb 2020 21:24:49 GMT",
      "x-ms-client-request-id" : "45a1a9ca-f1a8-4ac7-8f5c-4497c42e452a",
>>>>>>> upstream/master
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatefilesystemduplicate14567285fff?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatefilesystemduplicate1219602178d?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "ETag" : "0x8D7C485DBA63E12",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:09 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "81c6cbb0-c01e-00e4-466e-f60217000000",
      "Date" : "Mon, 09 Mar 2020 23:59:08 GMT",
      "x-ms-client-request-id" : "c5f47b32-c97a-4386-8403-83a5f84090db"
=======
      "ETag" : "0x8D7BC94A4A51E51",
      "Last-Modified" : "Fri, 28 Feb 2020 21:24:49 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "67503f0d-101e-010c-5c7d-eeb9b9000000",
      "Date" : "Fri, 28 Feb 2020 21:24:49 GMT",
      "x-ms-client-request-id" : "06ff95d0-d30b-4a68-bbae-7859ce3b6107"
>>>>>>> upstream/master
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidercreatefilesystemduplicate&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "x-ms-client-request-id" : "38349d06-cb8b-437b-a3aa-a9e3a633a7c1"
=======
      "x-ms-client-request-id" : "3ebe1343-69b3-4448-9418-885bcd7daf28"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6cbbe-c01e-00e4-4f6e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercreatefilesystemduplicate</Prefix><Containers><Container><Name>jtcfilesystemprovidercreatefilesystemduplicate14567285fff</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:09 GMT</Last-Modified><Etag>\"0x8D7C485DBA63E12\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Date" : "Mon, 09 Mar 2020 23:59:08 GMT",
      "x-ms-client-request-id" : "38349d06-cb8b-437b-a3aa-a9e3a633a7c1",
=======
      "x-ms-request-id" : "67503f23-101e-010c-6f7d-eeb9b9000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercreatefilesystemduplicate</Prefix><Containers><Container><Name>jtcfilesystemprovidercreatefilesystemduplicate1219602178d</Name><Properties><Last-Modified>Fri, 28 Feb 2020 21:24:49 GMT</Last-Modified><Etag>\"0x8D7BC94A4A51E51\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Date" : "Fri, 28 Feb 2020 21:24:49 GMT",
      "x-ms-client-request-id" : "3ebe1343-69b3-4448-9418-885bcd7daf28",
>>>>>>> upstream/master
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatefilesystemduplicate14567285fff?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatefilesystemduplicate1219602178d?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6cbc3-c01e-00e4-546e-f60217000000",
      "Date" : "Mon, 09 Mar 2020 23:59:08 GMT",
      "x-ms-client-request-id" : "c582f5b9-6aef-4fde-8fa8-49216e8613cf"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercreatefilesystemduplicate069847ea1d1", "jtcfilesystemprovidercreatefilesystemduplicate14567285fff" ]
=======
      "x-ms-request-id" : "67503f2b-101e-010c-777d-eeb9b9000000",
      "Date" : "Fri, 28 Feb 2020 21:24:49 GMT",
      "x-ms-client-request-id" : "825d1097-ddd5-4367-8630-f1d3345db905"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercreatefilesystemduplicate05525534464", "jtcfilesystemprovidercreatefilesystemduplicate1219602178d" ]
>>>>>>> upstream/master
}