{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcresourcedirectorystatusandexists12196770e632a60d2?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:c1c54537-501e-00c3-6137-f7985e000000\nTime:2020-03-10T23:57:24.8479628Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcresourcedirectorystatusandexists12196770e632a60d2?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C54EC7F09B6F",
      "Last-Modified" : "Tue, 10 Mar 2020 23:57:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcresourcedirectorystatusandexists12196770e632a60d2/jtcresourcedirectorystatusandexists292947707ae85c73e%2Fjavablobresourcedirectorystatusandexists387879cc6f2cb9%2Fjavablobresourcedirectorystatusandexists83000445b32989",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Tue, 10 Mar 2020 23:57:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7C54EC7FFA6E4"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcresourcedirectorystatusandexists12196770e632a60d2/javablobresourcedirectorystatusandexists450325d40f84b8%2Fjavablobresourcedirectorystatusandexists540473c86b6626%2Fjavablobresourcedirectorystatusandexists683171e0585909%2Fjavablobresourcedirectorystatusandexists7240597f36bc10%2Fjavablobresourcedirectorystatusandexists949735a06b9942",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Tue, 10 Mar 2020 23:57:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7C54EC804D834"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcresourcedirectorystatusandexists12196770e632a60d2?prefix=jtcresourcedirectorystatusandexists292947707ae85c73e/javablobresourcedirectorystatusandexists387879cc6f2cb9&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcresourcedirectorystatusandexists12196770e632a60d2\"><Prefix>jtcresourcedirectorystatusandexists292947707ae85c73e/javablobresourcedirectorystatusandexists387879cc6f2cb9</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>jtcresourcedirectorystatusandexists292947707ae85c73e/javablobresourcedirectorystatusandexists387879cc6f2cb9/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcresourcedirectorystatusandexists12196770e632a60d2?prefix=javablobresourcedirectorystatusandexists450325d40f84b8/javablobresourcedirectorystatusandexists540473c86b6626/javablobresourcedirectorystatusandexists683171e0585909/javablobresourcedirectorystatusandexists7240597f36bc10&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcresourcedirectorystatusandexists12196770e632a60d2\"><Prefix>javablobresourcedirectorystatusandexists450325d40f84b8/javablobresourcedirectorystatusandexists540473c86b6626/javablobresourcedirectorystatusandexists683171e0585909/javablobresourcedirectorystatusandexists7240597f36bc10</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>javablobresourcedirectorystatusandexists450325d40f84b8/javablobresourcedirectorystatusandexists540473c86b6626/javablobresourcedirectorystatusandexists683171e0585909/javablobresourcedirectorystatusandexists7240597f36bc10/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcresourcedirectorystatusandexists&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcresourcedirectorystatusandexists</Prefix><Containers><Container><Name>jtcresourcedirectorystatusandexists12196770e632a60d2</Name><Properties><Last-Modified>Tue, 10 Mar 2020 23:57:24 GMT</Last-Modified><Etag>\"0x8D7C54EC7F09B6F\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcresourcedirectorystatusandexists292947707ae85c73e</Name><Properties><Last-Modified>Tue, 10 Mar 2020 23:57:24 GMT</Last-Modified><Etag>\"0x8D7C54EC7F9EC7A\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcresourcedirectorystatusandexists292947707ae85c73e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcresourcedirectorystatusandexists05941487d80f63bb5", "jtcresourcedirectorystatusandexists12196770e632a60d2", "jtcresourcedirectorystatusandexists292947707ae85c73e", "javablobresourcedirectorystatusandexists387879cc6f2cb9", "javablobresourcedirectorystatusandexists450325d40f84b8", "javablobresourcedirectorystatusandexists540473c86b6626", "javablobresourcedirectorystatusandexists683171e0585909", "javablobresourcedirectorystatusandexists7240597f36bc10", "javablobresourcedirectorystatusandexists83000445b32989", "javablobresourcedirectorystatusandexists949735a06b9942" ]
}