{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcresourceparentdirexistsfalse14529523c353a76e4d4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:772334aa-f01e-0046-2dbb-fccf8b000000\nTime:2020-03-18T00:21:03.6642800Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcresourceparentdirexistsfalse14529523c353a76e4d4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7CAD23E8B06E2",
      "Last-Modified" : "Wed, 18 Mar 2020 00:21:03 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcresourceparentdirexistsfalse14529523c353a76e4d4?prefix=javablobresourceparentdirexistsfalse398721e403bfc6fd&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcresourceparentdirexistsfalse14529523c353a76e4d4\"><Prefix>javablobresourceparentdirexistsfalse398721e403bfc6fd</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs /><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net?prefix=jtcresourceparentdirexistsfalse&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xclientdev2.blob.core.windows.net/\"><Prefix>jtcresourceparentdirexistsfalse</Prefix><Containers><Container><Name>jtcresourceparentdirexistsfalse14529523c353a76e4d4</Name><Properties><Last-Modified>Wed, 18 Mar 2020 00:21:03 GMT</Last-Modified><Etag>\"0x8D7CAD23E8B06E2\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcresourceparentdirexistsfalse24438739f32aa20f9f4</Name><Properties><Last-Modified>Wed, 18 Mar 2020 00:21:03 GMT</Last-Modified><Etag>\"0x8D7CAD23EA2DA72\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcresourceparentdirexistsfalse24438739f32aa20f9f4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcresourceparentdirexistsfalse071419a76f45df5bdc4", "jtcresourceparentdirexistsfalse14529523c353a76e4d4", "jtcresourceparentdirexistsfalse24438739f32aa20f9f4", "javablobresourceparentdirexistsfalse398721e403bfc6fd" ]
}