{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcresourcedirectorystatusandexists135173675ad9619c7?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:772331c1-f01e-0046-4abb-fccf8b000000\nTime:2020-03-18T00:20:58.7675700Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcresourcedirectorystatusandexists135173675ad9619c7?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7CAD23B9F3E65",
      "Last-Modified" : "Wed, 18 Mar 2020 00:20:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcresourcedirectorystatusandexists135173675ad9619c7/jtcresourcedirectorystatusandexists21926095eefb8bbce%2Fjavablobresourcedirectorystatusandexists311303807bc13a",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Wed, 18 Mar 2020 00:20:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7CAD23BD1DFA2"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcresourcedirectorystatusandexists135173675ad9619c7/javablobresourcedirectorystatusandexists43861021eb2632%2Fjavablobresourcedirectorystatusandexists51271417b4c5cf%2Fjavablobresourcedirectorystatusandexists63856950e7f816%2Fjavablobresourcedirectorystatusandexists715373ccd5d339",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Wed, 18 Mar 2020 00:20:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7CAD23BE1259C"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcresourcedirectorystatusandexists135173675ad9619c7?prefix=jtcresourcedirectorystatusandexists21926095eefb8bbce/javablobresourcedirectorystatusandexists311303807bc13a&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcresourcedirectorystatusandexists135173675ad9619c7\"><Prefix>jtcresourcedirectorystatusandexists21926095eefb8bbce/javablobresourcedirectorystatusandexists311303807bc13a</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><Blob><Name>jtcresourcedirectorystatusandexists21926095eefb8bbce/javablobresourcedirectorystatusandexists311303807bc13a</Name><Properties><Creation-Time>Wed, 18 Mar 2020 00:20:59 GMT</Creation-Time><Last-Modified>Wed, 18 Mar 2020 00:20:59 GMT</Last-Modified><Etag>0x8D7CAD23BD1DFA2</Etag><Content-Length>7</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>wh+Wm18D0z1D4E+PE252gg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /></Blob></Blobs><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcresourcedirectorystatusandexists135173675ad9619c7?prefix=javablobresourcedirectorystatusandexists43861021eb2632/javablobresourcedirectorystatusandexists51271417b4c5cf/javablobresourcedirectorystatusandexists63856950e7f816/javablobresourcedirectorystatusandexists715373ccd5d339&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
   [...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net?prefix=jtcresourcedirectorystatusandexists&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xclientdev2.blob.core.windows.net/\"><Prefix>jtcresourcedirectorystatusandexists</Prefix><Containers><Container><Name>jtcresourcedirectorystatusandexists135173675ad9619c7</Name><Properties><Last-Modified>Wed, 18 Mar 2020 00:20:58 GMT</Last-Modified><Etag>\"0x8D7CAD23B9F3E65\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcresourcedirectorystatusandexists21926095eefb8bbce</Name><Properties><Last-Modified>Wed, 18 Mar 2020 00:20:59 GMT</Last-Modified><Etag>\"0x8D7CAD23BB9AAA6\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcresourcedirectorystatusandexists21926095eefb8bbce?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcresourcedirectorystatusandexists097999dc14799d05e", "jtcresourcedirectorystatusandexists135173675ad9619c7", "jtcresourcedirectorystatusandexists21926095eefb8bbce", "javablobresourcedirectorystatusandexists311303807bc13a", "javablobresourcedirectorystatusandexists43861021eb2632", "javablobresourcedirectorystatusandexists51271417b4c5cf", "javablobresourcedirectorystatusandexists63856950e7f816", "javablobresourcedirectorystatusandexists715373ccd5d339", "javablobresourcedirectorystatusandexists8397534f91ed99", "javablobresourcedirectorystatusandexists9452857c16397b" ]
}