{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemcreate126160998d6ecf0c0c4ef6863?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:81663ab2-e01e-0130-37ba-fc0d62000000\nTime:2020-03-18T00:18:41.5624080Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemcreate126160998d6ecf0c0c4ef6863?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7CAD1E9F6346B",
      "Last-Modified" : "Wed, 18 Mar 2020 00:18:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemcreate126160998d6ecf0c0c4ef6863?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "x-ms-deny-encryption-scope-override" : "false",
      "Last-Modified" : "Wed, 18 Mar 2020 00:18:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "x-ms-default-encryption-scope" : "$account-encryption-key",
      "ETag" : "0x8D7CAD1E9F6346B",
      "x-ms-has-immutability-policy" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemcreate&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemcreate</Prefix><Containers><Container><Name>jtcfilesystemcreate126160998d6ecf0c0c4ef6863</Name><Properties><Last-Modified>Wed, 18 Mar 2020 00:18:41 GMT</Last-Modified><Etag>\"0x8D7CAD1E9F6346B\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemcreate126160998d6ecf0c0c4ef6863?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemcreate012559df9216da45cd45c6881", "jtcfilesystemcreate126160998d6ecf0c0c4ef6863" ]
}