{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemgetpathfail115676850efd08f8eb4acb?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:a9328e2b-701e-011c-6f9e-ee8f5f000000\nTime:2020-02-29T01:18:23.7342376Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemgetpathfail115676850efd08f8eb4acb?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7BCB545844259",
      "Last-Modified" : "Sat, 29 Feb 2020 01:18:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemgetpathfail&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemgetpathfail</Prefix><Containers><Container><Name>jtcfilesystemgetpathfail115676850efd08f8eb4acb</Name><Properties><Last-Modified>Sat, 29 Feb 2020 01:18:23 GMT</Last-Modified><Etag>\"0x8D7BCB545844259\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemgetpathfail21507323206bfe20d74f90</Name><Properties><Last-Modified>Sat, 29 Feb 2020 01:18:23 GMT</Last-Modified><Etag>\"0x8D7BCB5458DBA91\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemgetpathfail21507323206bfe20d74f90?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemgetpathfail00066683438253b9794892", "jtcfilesystemgetpathfail115676850efd08f8eb4acb", "jtcfilesystemgetpathfail21507323206bfe20d74f90" ]
}