{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysamefilenoop1400216de3d53ea4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:174bcbff-f01e-00c5-3cba-fc6f26000000\nTime:2020-03-18T00:15:56.4647758Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysamefilenoop1400216de3d53ea4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7CAD1876F9B15",
      "Last-Modified" : "Wed, 18 Mar 2020 00:15:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidercopysamefilenoop&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercopysamefilenoop</Prefix><Containers><Container><Name>jtcfilesystemprovidercopysamefilenoop1400216de3d53ea4</Name><Properties><Last-Modified>Wed, 18 Mar 2020 00:15:56 GMT</Last-Modified><Etag>\"0x8D7CAD1876F9B15\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemprovidercopysamefilenoop265051bed1e9bd61</Name><Properties><Last-Modified>Wed, 18 Mar 2020 00:15:56 GMT</Last-Modified><Etag>\"0x8D7CAD1878991E0\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysamefilenoop265051bed1e9bd61?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopysamefilenoop049913b63eb9e53f", "jtcfilesystemprovidercopysamefilenoop1400216de3d53ea4", "jtcfilesystemprovidercopysamefilenoop265051bed1e9bd61", "javablobfilesystemprovidercopysamefilenoop32845672c8dde", "javablobfilesystemprovidercopysamefilenoop463215b133769" ]
}