{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatedirinvalidroot18878735743d13?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:6750436d-101e-010c-717d-eeb9b9000000\nTime:2020-02-28T21:24:53.5144671Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatedirinvalidroot18878735743d13?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7BC94A6C687AE",
      "Last-Modified" : "Fri, 28 Feb 2020 21:24:53 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidercreatedirinvalidroot&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercreatedirinvalidroot</Prefix><Containers><Container><Name>jtcfilesystemprovidercreatedirinvalidroot18878735743d13</Name><Properties><Last-Modified>Fri, 28 Feb 2020 21:24:53 GMT</Last-Modified><Etag>\"0x8D7BC94A6C687AE\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemprovidercreatedirinvalidroot2366419463e7da</Name><Properties><Last-Modified>Fri, 28 Feb 2020 21:24:53 GMT</Last-Modified><Etag>\"0x8D7BC94A6CFD8C2\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatedirinvalidroot2366419463e7da?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercreatedirinvalidroot00568527f26b5d", "jtcfilesystemprovidercreatedirinvalidroot18878735743d13", "jtcfilesystemprovidercreatedirinvalidroot2366419463e7da", "javablobfilesystemprovidercreatedirinvalidroot3198711f940" ]
}