{
  "networkCallRecords" : [ {
    "Method" : "HEAD",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatedirparentexists2798837eb6964/javablobfilesystemprovidercreatedirparentexists3617402090d",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "x-ms-blob-committed-block-count" : "0",
      "Last-Modified" : "Tue, 11 Feb 2020 00:59:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "AppendBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7AE8DAA1E8880",
      "x-ms-meta-is_hdi_folder" : "true",
      "x-ms-creation-time" : "Tue, 11 Feb 2020 00:59:36 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidercreatedirparentexists&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercreatedirparentexists</Prefix><Containers><Container><Name>jtcfilesystemprovidercreatedirparentexists146896ba666a7</Name><Properties><Last-Modified>Tue, 11 Feb 2020 00:59:36 GMT</Last-Modified><Etag>\"0x8D7AE8DA9FF8311\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemprovidercreatedirparentexists2798837eb6964</Name><Properties><Last-Modified>Tue, 11 Feb 2020 00:59:36 GMT</Last-Modified><Etag>\"0x8D7AE8DAA1336BE\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatedirparentexists146896ba666a7?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatedirparentexists2798837eb6964?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercreatedirparentexists057141dc47ee2", "jtcfilesystemprovidercreatedirparentexists146896ba666a7", "jtcfilesystemprovidercreatedirparentexists2798837eb6964", "javablobfilesystemprovidercreatedirparentexists3617402090d" ]
}