{
  "networkCallRecords" : [ {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth1868195dc540ac0f124?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth125624b06bb65ff28b4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6dd64-c01e-00e4-116e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:81c6dd64-c01e-00e4-116e-f60217000000\nTime:2020-03-09T23:59:32.1011475Z</Message></Error>",
      "Date" : "Mon, 09 Mar 2020 23:59:31 GMT",
      "x-ms-client-request-id" : "52bf1277-a36c-471e-8cba-e6eb1d995894",
=======
      "x-ms-request-id" : "675056b2-101e-010c-047d-eeb9b9000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:675056b2-101e-010c-047d-eeb9b9000000\nTime:2020-02-28T21:25:12.8158664Z</Message></Error>",
      "Date" : "Fri, 28 Feb 2020 21:25:12 GMT",
      "x-ms-client-request-id" : "be9818c7-e64b-42a2-8ef1-2bd25b7d906f",
>>>>>>> upstream/master
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth1868195dc540ac0f124?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth125624b06bb65ff28b4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "ETag" : "0x8D7C485E9604CAB",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:32 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "81c6dd6b-c01e-00e4-166e-f60217000000",
      "Date" : "Mon, 09 Mar 2020 23:59:31 GMT",
      "x-ms-client-request-id" : "7c3ded95-27ab-4340-89f4-d810017c0b61"
=======
      "ETag" : "0x8D7BC94B247B0A1",
      "Last-Modified" : "Fri, 28 Feb 2020 21:25:12 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "675056bb-101e-010c-0b7d-eeb9b9000000",
      "Date" : "Fri, 28 Feb 2020 21:25:12 GMT",
      "x-ms-client-request-id" : "56217d59-bcaa-49cc-9ffe-781902c25fd9"
>>>>>>> upstream/master
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth21617939f950c8a31a4/javablobfilesystemprovidercopydepth347872e0db75729c5%2Fjavablobfilesystemprovidercopydepth454878a288a3cef73%2Fjavablobfilesystemprovidercopydepth521735b7adfadd85a",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth125624b06bb65ff28b4/javablobfilesystemprovidercopydepth360690c424d2d5fe7%2Fjavablobfilesystemprovidercopydepth4356095e071427e9c%2Fjavablobfilesystemprovidercopydepth51764072bbf53d4df",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ="
<<<<<<< HEAD
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:32 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Date" : "Mon, 09 Mar 2020 23:59:31 GMT",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7C485E9705B5E",
      "Content-Length" : "0",
      "x-ms-request-id" : "81c6dd7d-c01e-00e4-256e-f60217000000",
      "x-ms-client-request-id" : "0a8da18d-2bee-44eb-a311-879cae524a02"
=======
      "Last-Modified" : "Fri, 28 Feb 2020 21:25:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Date" : "Fri, 28 Feb 2020 21:25:12 GMT",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7BC94B25C0DB4",
      "Content-Length" : "0",
      "x-ms-request-id" : "675056da-101e-010c-247d-eeb9b9000000",
      "x-ms-client-request-id" : "f28f3717-87d1-4a30-a03f-e6c9c8203045"
>>>>>>> upstream/master
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth21617939f950c8a31a4/javablobfilesystemprovidercopydepth61688875706c0782a%2Fjavablobfilesystemprovidercopydepth7811777cf06b6ce7a%2Fjavablobfilesystemprovidercopydepth877825f4143d384e0?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth125624b06bb65ff28b4/javablob[...]
  }, {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth21617939f950c8a31a4?prefix=javablobfilesystemprovidercopydepth61688875706c0782a/javablobfilesystemprovidercopydepth7811777cf06b6ce7a/javablobfilesystemprovidercopydepth877825f4143d384e0/javablobfilesystemprovidercopydepth928318461afe585f9&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth125624b06bb65ff28b4?prefix=javablobfilesystemprovidercopydepth6320893425c971ef6/javablobfilesystemprovidercopydepth79159873c70375d4e/javablobfilesystemprovidercopydepth8191365cca69a5ca2/javablobfilesystemprovidercopydepth981047cf3ec2ef92b&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6dd89-c01e-00e4-316e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopydepth21617939f950c8a31a4\"><Prefix>javablobfilesystemprovidercopydepth61688875706c0782a/javablobfilesystemprovidercopydepth7811777cf06b6ce7a/javablobfilesystemprovidercopydepth877825f4143d384e0/javablobfilesystemprovidercopydepth928318461afe585f9</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs /><NextMarker /></EnumerationResults>",
      "Date" : "Mon, 09 Mar 2020 23:59:31 GMT",
      "x-ms-client-request-id" : "85043b0c-e1b7-4510-9dfc-39da4927e129",
=======
      "x-ms-request-id" : "675056e9-101e-010c-317d-eeb9b9000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopydepth125624b06bb65ff28b4\"><Prefix>javablobfilesystemprovidercopydepth6320893425c971ef6/javablobfilesystemprovidercopydepth79159873c70375d4e/javablobfilesystemprovidercopydepth8191365cca69a5ca2/javablobfilesystemprovidercopydepth981047cf3ec2ef92b</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs /><NextMarker /></EnumerationResults>",
      "Date" : "Fri, 28 Feb 2020 21:25:12 GMT",
      "x-ms-client-request-id" : "ba6d463c-00e6-4b8d-9daf-35595d049aa5",
>>>>>>> upstream/master
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth21617939f950c8a31a4?prefix=javablobfilesystemprovidercopydepth61688875706c0782a/javablobfilesystemprovidercopydepth7811777cf06b6ce7a/javablobfilesystemprovidercopydepth877825f4143d384e0&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/[...]
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth21617939f950c8a31a4/javablobfilesystemprovidercopydepth61688875706c0782a%2Fjavablobfilesystemprovidercopydepth7811777cf06b6ce7a%2Fjavablobfilesystemprovidercopydepth877825f4143d384e0%2Fjavablobfilesystemprovidercopydepth928318461afe585f9",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth125624b06bb65ff28b4/javablobfilesystemprovidercopydepth6320893425c971ef6%2Fjavablobfilesystemprovidercopydepth79159873c70375d4e%2Fjavablobfilesystemprovidercopydepth8191365cca69a5ca2%2Fjavablobfilesystemprovidercopydepth981047cf3ec2ef92b",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "x-ms-copy-id" : "e5c8a725-b536-43ff-8160-bcddf37e5bc9",
      "ETag" : "0x8D7C485E985E46B",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:32 GMT",
=======
      "x-ms-copy-id" : "db7a2f96-b319-4822-82bb-04441fbc2969",
      "ETag" : "0x8D7BC94B26FE8B3",
      "Last-Modified" : "Fri, 28 Feb 2020 21:25:13 GMT",
>>>>>>> upstream/master
      "retry-after" : "0",
      "Content-Length" : "0",
      "x-ms-copy-status" : "success",
      "StatusCode" : "202",
<<<<<<< HEAD
      "x-ms-request-id" : "81c6dd92-c01e-00e4-396e-f60217000000",
      "Date" : "Mon, 09 Mar 2020 23:59:31 GMT",
      "x-ms-client-request-id" : "225e9880-4429-493b-bd76-38fbadb35d35"
=======
      "x-ms-request-id" : "675056f9-101e-010c-3f7d-eeb9b9000000",
      "Date" : "Fri, 28 Feb 2020 21:25:12 GMT",
      "x-ms-client-request-id" : "e570d784-7ee3-461e-be9c-e6cecce66cc6"
>>>>>>> upstream/master
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth21617939f950c8a31a4/javablobfilesystemprovidercopydepth61688875706c0782a%2Fjavablobfilesystemprovidercopydepth7811777cf06b6ce7a%2Fjavablobfilesystemprovidercopydepth877825f4143d384e0%2Fjavablobfilesystemprovidercopydepth928318461afe585f9",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth125624b06bb65ff28b4/javablobfilesystemprovidercopydepth6320893425c971ef6%2Fjavablobfilesystemprovidercopydepth79159873c70375d4e%2Fjavablobfilesystemprovidercopydepth8191365cca69a5ca2%2Fjavablobfilesystemprovidercopydepth981047cf3ec2ef92b",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked"
<<<<<<< HEAD
      "x-ms-copy-id" : "e5c8a725-b536-43ff-8160-bcddf37e5bc9",
      "x-ms-lease-state" : "available",
      "x-ms-copy-source" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth21617939f950c8a31a4/javablobfilesystemprovidercopydepth347872e0db75729c5/javablobfilesystemprovidercopydepth454878a288a3cef73/javablobfilesystemprovidercopydepth521735b7adfadd85a",
      "x-ms-copy-progress" : "7/7",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:32 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Date" : "Mon, 09 Mar 2020 23:59:32 GMT",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-copy-completion-time" : "Mon, 09 Mar 2020 23:59:32 GMT",
      "Accept-Ranges" : "bytes",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7C485E985E46B",
      "x-ms-creation-time" : "Mon, 09 Mar 2020 23:59:32 GMT",
      "Content-Length" : "7",
      "x-ms-copy-status" : "success",
      "x-ms-request-id" : "81c6de18-c01e-00e4-266e-f60217000000",
      "x-ms-client-request-id" : "5cc4bff3-beb1-4abe-aaca-d55656fa09aa",
=======
      "x-ms-copy-id" : "db7a2f96-b319-4822-82bb-04441fbc2969",
      "x-ms-lease-state" : "available",
      "x-ms-copy-source" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth125624b06bb65ff28b4/javablobfilesystemprovidercopydepth360690c424d2d5fe7/javablobfilesystemprovidercopydepth4356095e071427e9c/javablobfilesystemprovidercopydepth51764072bbf53d4df",
      "x-ms-copy-progress" : "7/7",
      "Last-Modified" : "Fri, 28 Feb 2020 21:25:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Date" : "Fri, 28 Feb 2020 21:25:13 GMT",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-copy-completion-time" : "Fri, 28 Feb 2020 21:25:13 GMT",
      "Accept-Ranges" : "bytes",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7BC94B26FE8B3",
      "x-ms-creation-time" : "Fri, 28 Feb 2020 21:25:13 GMT",
      "Content-Length" : "7",
      "x-ms-copy-status" : "success",
      "x-ms-request-id" : "675057db-101e-010c-087d-eeb9b9000000",
      "x-ms-client-request-id" : "99dce451-37b8-4ebd-b65b-907321f91a17",
>>>>>>> upstream/master
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidercopydepth&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "x-ms-client-request-id" : "abf6ae6e-2c36-4ce4-9909-9f1a535791ce"
=======
      "x-ms-client-request-id" : "7cf74e43-9f39-40fa-a553-d47c5119c8ec"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6de1e-c01e-00e4-2c6e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercopydepth</Prefix><Containers><Container><Name>jtcfilesystemprovidercopydepth1868195dc540ac0f124</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:32 GMT</Last-Modified><Etag>\"0x8D7C485E9604CAB\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemprovidercopydepth21617939f950c8a31a4</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:32 GMT</Last-Modified><Etag>\"0x8D7C485E96A5EF3\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false[...]
[...]
  }, {
    "Method" : "DELETE",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth21617939f950c8a31a4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth20769402f9efe6c4424?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6de36-c01e-00e4-3f6e-f60217000000",
      "Date" : "Mon, 09 Mar 2020 23:59:32 GMT",
      "x-ms-client-request-id" : "15bdee30-b8f2-42ba-9053-e3acc1774d0b"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopydepth0260208b870a14446e4", "jtcfilesystemprovidercopydepth1868195dc540ac0f124", "jtcfilesystemprovidercopydepth21617939f950c8a31a4", "javablobfilesystemprovidercopydepth347872e0db75729c5", "javablobfilesystemprovidercopydepth454878a288a3cef73", "javablobfilesystemprovidercopydepth521735b7adfadd85a", "javablobfilesystemprovidercopydepth61688875706c0782a", "javablobfilesystemprovidercopydepth7811777cf06b6ce7a", "javablobfilesystemprovidercopydepth877825f4143d384e0", "javablobfilesystemprovidercopydepth928318461afe585f9" ]
=======
      "x-ms-request-id" : "675057f4-101e-010c-207d-eeb9b9000000",
      "Date" : "Fri, 28 Feb 2020 21:25:13 GMT",
      "x-ms-client-request-id" : "1659386f-1086-479a-8189-33dd4f5cba3e"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopydepth07260575c0eeb938ec4", "jtcfilesystemprovidercopydepth125624b06bb65ff28b4", "jtcfilesystemprovidercopydepth20769402f9efe6c4424", "javablobfilesystemprovidercopydepth360690c424d2d5fe7", "javablobfilesystemprovidercopydepth4356095e071427e9c", "javablobfilesystemprovidercopydepth51764072bbf53d4df", "javablobfilesystemprovidercopydepth6320893425c971ef6", "javablobfilesystemprovidercopydepth79159873c70375d4e", "javablobfilesystemprovidercopydepth8191365cca69a5ca2", "javablobfilesystemprovidercopydepth981047cf3ec2ef92b" ]
>>>>>>> upstream/master
}