{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtccreatedirparentexists176941d81f783cf3fb4fec?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:fc891c96-a01e-0099-5cbc-069edf000000\nTime:2020-03-30T17:55:06.3136592Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtccreatedirparentexists176941d81f783cf3fb4fec?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7D4D37B087F8A",
      "Last-Modified" : "Mon, 30 Mar 2020 17:55:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtccreatedirparentexists2994663c1732e04059444e/javablobcreatedirparentexists3137651be2480fd04642%2Fjavablobcreatedirparentexists457719310d2b5deec244%2F",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7D4D37B1CCBD1",
      "Last-Modified" : "Mon, 30 Mar 2020 17:55:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtccreatedirparentexists2994663c1732e04059444e?prefix=javablobcreatedirparentexists3137651be2480fd04642/javablobcreatedirparentexists457719310d2b5deec244&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtccreatedirparentexists2994663c1732e04059444e\"><Prefix>javablobcreatedirparentexists3137651be2480fd04642/javablobcreatedirparentexists457719310d2b5deec244</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>javablobcreatedirparentexists3137651be2480fd04642/javablobcreatedirparentexists457719310d2b5deec244/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtccreatedirparentexists2994663c1732e04059444e/javablobcreatedirparentexists3137651be2480fd04642%2Fjavablobcreatedirparentexists457719310d2b5deec244%2Fjavablobcreatedirparentexists5255704b0b495b74334c?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7D4D37B2A3C98",
      "x-ms-content-crc64" : "p1vsGtjjPsk=",
      "Last-Modified" : "Mon, 30 Mar 2020 17:55:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtccreatedirparentexists2994663c1732e04059444e/javablobcreatedirparentexists3137651be2480fd04642%2Fjavablobcreatedirparentexists457719310d2b5deec244%2Fjavablobcreatedirparentexists5255704b0b495b74334c",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Mon, 30 Mar 2020 17:55:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "x-ms-meta-hdi_isfolder" : "true",
      "ETag" : "0x8D7D4D37B2A3C98",
      "x-ms-creation-time" : "Mon, 30 Mar 2020 17:55:06 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtccreatedirparentexists&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtccreatedirparentexists</Prefix><Containers><Container><Name>jtccreatedirparentexists176941d81f783cf3fb4fec</Name><Properties><Last-Modified>Mon, 30 Mar 2020 17:55:06 GMT</Last-Modified><Etag>\"0x8D7D4D37B087F8A\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtccreatedirparentexists2994663c1732e04059444e</Name><Properties><Last-Modified>Mon, 30 Mar 2020 17:55:06 GMT</Last-Modified><Etag>\"0x8D7D4D37B15F051\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtccreatedirparentexists2994663c1732e04059444e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtccreatedirparentexists040964bf174ef169764039", "jtccreatedirparentexists176941d81f783cf3fb4fec", "jtccreatedirparentexists2994663c1732e04059444e", "javablobcreatedirparentexists3137651be2480fd04642", "javablobcreatedirparentexists457719310d2b5deec244", "javablobcreatedirparentexists5255704b0b495b74334c" ]
}