{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemproviderdirectorystatus1222687124e90e8f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:81c6e4a6-c01e-00e4-1d6e-f60217000000\nTime:2020-03-09T23:59:43.3590172Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemproviderdirectorystatus1222687124e90e8f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C485F0164452",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemproviderdirectorystatus1222687124e90e8f/jtcfilesystemproviderdirectorystatus2307826b41442b4b%2Fjavablobfilesystemproviderdirectorystatus324110c997678d",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7C485F02FEBBD"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemproviderdirectorystatus1222687124e90e8f/javablobfilesystemproviderdirectorystatus49419610086d77%2Fjavablobfilesystemproviderdirectorystatus503832b37be3b1%2Fjavablobfilesystemproviderdirectorystatus6146029df0bbf6%2Fjavablobfilesystemproviderdirectorystatus7940462bad43e1",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7C485F035443D"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemproviderdirectorystatus1222687124e90e8f?prefix=jtcfilesystemproviderdirectorystatus2307826b41442b4b/javablobfilesystemproviderdirectorystatus324110c997678d&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemproviderdirectorystatus1222687124e90e8f\"><Prefix>jtcfilesystemproviderdirectorystatus2307826b41442b4b/javablobfilesystemproviderdirectorystatus324110c997678d</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><Blob><Name>jtcfilesystemproviderdirectorystatus2307826b41442b4b/javablobfilesystemproviderdirectorystatus324110c997678d</Name><Properties><Creation-Time>Mon, 09 Mar 2020 23:59:43 GMT</Creation-Time><Last-Modified>Mon, 09 Mar 2020 23:59:43 GMT</Last-Modified><Etag>0x8D7C485F02FEBBD</Etag><Content-Length>7</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>wh+Wm18D0z1D4E+PE252gg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /></Blob></Blobs><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemproviderdirectorystatus1222687124e90e8f?prefix=javablobfilesystemproviderdirectorystatus49419610086d77/javablobfilesystemproviderdirectorystatus503832b37be3b1/javablobfilesystemproviderdirectorystatus6146029df0bbf6/javablobfilesystemproviderdirectorystatus7940462bad43e1&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemproviderdirectorystatus&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemproviderdirectorystatus</Prefix><Containers><Container><Name>jtcfilesystemproviderdirectorystatus1222687124e90e8f</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:43 GMT</Last-Modified><Etag>\"0x8D7C485F0164452\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemproviderdirectorystatus2307826b41442b4b</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:43 GMT</Last-Modified><Etag>\"0x8D7C485F0205650\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemproviderdirectorystatus2307826b41442b4b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemproviderdirectorystatus0107780b15c46445", "jtcfilesystemproviderdirectorystatus1222687124e90e8f", "jtcfilesystemproviderdirectorystatus2307826b41442b4b", "javablobfilesystemproviderdirectorystatus324110c997678d", "javablobfilesystemproviderdirectorystatus49419610086d77", "javablobfilesystemproviderdirectorystatus503832b37be3b1", "javablobfilesystemproviderdirectorystatus6146029df0bbf6", "javablobfilesystemproviderdirectorystatus7940462bad43e1", "javablobfilesystemproviderdirectorystatus8782628575c0fe", "javablobfilesystemproviderdirectorystatus90216916ebaa36" ]
}