{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcinputstreamoptionsfail146166a49189d534a84f59?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:a4c73a83-701e-001c-6b20-1f1fc0000000\nTime:2020-04-30T18:49:24.0627757Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcinputstreamoptionsfail146166a49189d534a84f59?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7ED3733D5B099",
      "Last-Modified" : "Thu, 30 Apr 2020 18:49:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://blobindex1.blob.core.windows.net?prefix=jtcinputstreamoptionsfail&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://blobindex1.blob.core.windows.net/\"><Prefix>jtcinputstreamoptionsfail</Prefix><Containers><Container><Name>jtcinputstreamoptionsfail146166a49189d534a84f59</Name><Properties><Last-Modified>Thu, 30 Apr 2020 18:49:24 GMT</Last-Modified><Etag>\"0x8D7ED3733D5B099\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcinputstreamoptionsfail2786806c9de9cd22ac4ad1</Name><Properties><Last-Modified>Thu, 30 Apr 2020 18:49:25 GMT</Last-Modified><Etag>\"0x8D7ED3734425FD8\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcinputstreamoptionsfail2786806c9de9cd22ac4ad1?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcinputstreamoptionsfail0767569fd0567b387b4e23", "jtcinputstreamoptionsfail146166a49189d534a84f59", "jtcinputstreamoptionsfail2786806c9de9cd22ac4ad1" ]
}