{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth106173d53f421891ba4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:81c6e03a-c01e-00e4-0a6e-f60217000000\nTime:2020-03-09T23:59:36.6520929Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth106173d53f421891ba4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C485EC16B82A",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2584926a0a9a6cc2414/javablobfilesystemprovidercopydepth37706826c988f36ce%2Fjavablobfilesystemprovidercopydepth4558152392a82e459%2Fjavablobfilesystemprovidercopydepth56822568d2f548a47%2Fjavablobfilesystemprovidercopydepth6216503181ca856c0",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7C485EC266036"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2584926a0a9a6cc2414/javablobfilesystemprovidercopydepth7265511b67f5f96ec%2Fjavablobfilesystemprovidercopydepth89839655d5d797fce%2Fjavablobfilesystemprovidercopydepth95367176abb7566a8?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C485EC2BDFD2",
      "x-ms-content-crc64" : "p1vsGtjjPsk=",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2584926a0a9a6cc2414?prefix=javablobfilesystemprovidercopydepth7265511b67f5f96ec/javablobfilesystemprovidercopydepth89839655d5d797fce/javablobfilesystemprovidercopydepth95367176abb7566a8/javablobfilesystemprovidercopydepth100964745f1060993&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopydepth2584926a0a9a6cc2414\"><Prefix>javablobfilesystemprovidercopydepth7265511b67f5f96ec/javablobfilesystemprovidercopydepth89839655d5d797fce/javablobfilesystemprovidercopydepth95367176abb7566a8/javablobfilesystemprovidercopydepth100964745f1060993</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs /><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2584926a0a9a6cc2414?prefix=javablobfilesystemprovidercopydepth7265511b67f5f96ec/javablobfilesystemprovidercopydepth89839655d5d797fce/javablobfilesystemprovidercopydepth95367176abb7566a8&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopydepth2584926a0a9a6cc2414\"><Prefix>javablobfilesystemprovidercopydepth7265511b67f5f96ec/javablobfilesystemprovidercopydepth89839655d5d797fce/javablobfilesystemprovidercopydepth95367176abb7566a8</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><Blob><Name>javablobfilesystemprovidercopydepth7265511b67f5f96ec/javablobfilesystemprovidercopydepth89839655d5d797fce/javablobfilesystemprovidercopydepth95367176abb7566a8</Name><Properties><Creation-Time>Mon, 09 Mar 2020 23:59:36 GMT</Creation-Time><Last-Modified>Mon, 09 Mar 2020 23:59:36 GMT</Last-Modified><Etag>0x8D7C485EC2BDFD2</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><is_hdi_folder>true</is_hdi_folder></Metadata></Blob></Blobs><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2584926a0a9a6cc2414/javablobfilesystemprovidercopydepth7265511b67f5f96ec%2Fjavablobfilesystemprovidercopydepth89839655d5d797fce%2Fjavablobfilesystemprovidercopydepth95367176abb7566a8%2Fjavablobfilesystemprovidercopydepth100964745f1060993",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-copy-id" : "4e5b7c5e-9592-4a8d-831d-0dee080e65ae",
      "ETag" : "0x8D7C485EC3CACCA",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:36 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "success",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2584926a0a9a6cc2414/javablobfilesystemprovidercopydepth7265511b67f5f96ec%2Fjavablobfilesystemprovidercopydepth89839655d5d797fce%2Fjavablobfilesystemprovidercopydepth95367176abb7566a8%2Fjavablobfilesystemprovidercopydepth100964745f1060993",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-copy-id" : "4e5b7c5e-9592-4a8d-831d-0dee080e65ae",
      "x-ms-lease-state" : "available",
      "x-ms-copy-source" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2584926a0a9a6cc2414/javablobfilesystemprovidercopydepth37706826c988f36ce/javablobfilesystemprovidercopydepth4558152392a82e459/javablobfilesystemprovidercopydepth56822568d2f548a47/javablobfilesystemprovidercopydepth6216503181ca856c0",
      "x-ms-copy-progress" : "7/7",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-copy-completion-time" : "Mon, 09 Mar 2020 23:59:36 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7C485EC3CACCA",
      "x-ms-creation-time" : "Mon, 09 Mar 2020 23:59:36 GMT",
      "x-ms-copy-status" : "success",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidercopydepth&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercopydepth</Prefix><Containers><Container><Name>jtcfilesystemprovidercopydepth106173d53f421891ba4</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:36 GMT</Last-Modified><Etag>\"0x8D7C485EC16B82A\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemprovidercopydepth2584926a0a9a6cc2414</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:36 GMT</Last-Modified><Etag>\"0x8D7C485EC207C35\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2584926a0a9a6cc2414?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopydepth078233366c3cbf69534", "jtcfilesystemprovidercopydepth106173d53f421891ba4", "jtcfilesystemprovidercopydepth2584926a0a9a6cc2414", "javablobfilesystemprovidercopydepth37706826c988f36ce", "javablobfilesystemprovidercopydepth4558152392a82e459", "javablobfilesystemprovidercopydepth56822568d2f548a47", "javablobfilesystemprovidercopydepth6216503181ca856c0", "javablobfilesystemprovidercopydepth7265511b67f5f96ec", "javablobfilesystemprovidercopydepth89839655d5d797fce", "javablobfilesystemprovidercopydepth95367176abb7566a8", "javablobfilesystemprovidercopydepth100964745f1060993" ]
}