{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth19864860184edbfff34/javablobfilesystemprovidercopydepth32284770a51096a55%2Fjavablobfilesystemprovidercopydepth431295f68d39ee859%2Fjavablobfilesystemprovidercopydepth5970873c8440e7836",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Fri, 21 Feb 2020 02:42:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7B677B7690E0A"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth19864860184edbfff34/javablobfilesystemprovidercopydepth66615627e570d02a5%2F?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7B677B7714D62",
      "x-ms-content-crc64" : "p1vsGtjjPsk=",
      "Last-Modified" : "Fri, 21 Feb 2020 02:42:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth19864860184edbfff34/javablobfilesystemprovidercopydepth66615627e570d02a5%2Fjavablobfilesystemprovidercopydepth757289ebaab2b882e",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-copy-id" : "51d8a2d6-e51b-43a5-8778-8c7e8e67da6a",
      "x-ms-lease-state" : "available",
      "x-ms-copy-source" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth19864860184edbfff34/javablobfilesystemprovidercopydepth32284770a51096a55/javablobfilesystemprovidercopydepth431295f68d39ee859/javablobfilesystemprovidercopydepth5970873c8440e7836",
      "x-ms-copy-progress" : "7/7",
      "Last-Modified" : "Fri, 21 Feb 2020 02:42:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-copy-completion-time" : "Fri, 21 Feb 2020 02:42:39 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7B677B781A505",
      "x-ms-creation-time" : "Fri, 21 Feb 2020 02:42:39 GMT",
      "x-ms-copy-status" : "success",
      "Body" : "[100, 101, 102, 97, 117, 108, 116]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidercopydepth&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercopydepth</Prefix><Containers><Container><Name>jtcfilesystemprovidercopydepth19864860184edbfff34</Name><Properties><Last-Modified>Fri, 21 Feb 2020 02:42:38 GMT</Last-Modified><Etag>\"0x8D7B677B758B0C1\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemprovidercopydepth24716687a4c0fca9ac4</Name><Properties><Last-Modified>Fri, 21 Feb 2020 02:42:39 GMT</Last-Modified><Etag>\"0x8D7B677B7631380\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth19864860184edbfff34?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth24716687a4c0fca9ac4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopydepth014523690edaec53f74", "jtcfilesystemprovidercopydepth19864860184edbfff34", "jtcfilesystemprovidercopydepth24716687a4c0fca9ac4", "javablobfilesystemprovidercopydepth32284770a51096a55", "javablobfilesystemprovidercopydepth431295f68d39ee859", "javablobfilesystemprovidercopydepth5970873c8440e7836", "javablobfilesystemprovidercopydepth66615627e570d02a5", "javablobfilesystemprovidercopydepth757289ebaab2b882e" ]
}