{
  "networkCallRecords" : [ {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth103641b1d6e1b5a7ee4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth108721a4cf5c0f7e704?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6db01-c01e-00e4-716e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:81c6db01-c01e-00e4-716e-f60217000000\nTime:2020-03-09T23:59:29.0791747Z</Message></Error>",
      "Date" : "Mon, 09 Mar 2020 23:59:28 GMT",
      "x-ms-client-request-id" : "a12eddf8-373e-40f1-97bd-4dcf287144ed",
=======
      "x-ms-request-id" : "675053c6-101e-010c-147d-eeb9b9000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:675053c6-101e-010c-147d-eeb9b9000000\nTime:2020-02-28T21:25:09.6608558Z</Message></Error>",
      "Date" : "Fri, 28 Feb 2020 21:25:09 GMT",
      "x-ms-client-request-id" : "e1d6e8b2-e8f3-4217-83cf-8624cc2e544b",
>>>>>>> upstream/master
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth103641b1d6e1b5a7ee4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth108721a4cf5c0f7e704?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "ETag" : "0x8D7C485E7955201",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:29 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "81c6db0c-c01e-00e4-7a6e-f60217000000",
      "Date" : "Mon, 09 Mar 2020 23:59:28 GMT",
      "x-ms-client-request-id" : "5c4c7b93-a071-45bd-937b-14626907a7ec"
=======
      "ETag" : "0x8D7BC94B0661EE1",
      "Last-Modified" : "Fri, 28 Feb 2020 21:25:09 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "675053cc-101e-010c-197d-eeb9b9000000",
      "Date" : "Fri, 28 Feb 2020 21:25:09 GMT",
      "x-ms-client-request-id" : "2fc8bbdd-bf75-4f8f-a843-a5c9fb3e087b"
>>>>>>> upstream/master
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2930815c9a4d2cf4b04/javablobfilesystemprovidercopydepth3486262568232c81c%2Fjavablobfilesystemprovidercopydepth4215416e7e7c8fcfc%2Fjavablobfilesystemprovidercopydepth507798c0d2447895f",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2965292924a1b6be414/javablobfilesystemprovidercopydepth388164a129a5a116c%2Fjavablobfilesystemprovidercopydepth491343d8e34480c1d%2Fjavablobfilesystemprovidercopydepth5784966477950aa14",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ="
<<<<<<< HEAD
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:29 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Date" : "Mon, 09 Mar 2020 23:59:28 GMT",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7C485E7A564B0",
      "Content-Length" : "0",
      "x-ms-request-id" : "81c6db26-c01e-00e4-0d6e-f60217000000",
      "x-ms-client-request-id" : "8803ddda-01af-45fe-8aab-c0b5473c2602"
=======
      "Last-Modified" : "Fri, 28 Feb 2020 21:25:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Date" : "Fri, 28 Feb 2020 21:25:09 GMT",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7BC94B074ADB3",
      "Content-Length" : "0",
      "x-ms-request-id" : "675053e2-101e-010c-297d-eeb9b9000000",
      "x-ms-client-request-id" : "0a059164-c029-4bb6-95d1-4bfec8d26a13"
>>>>>>> upstream/master
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2930815c9a4d2cf4b04/javablobfilesystemprovidercopydepth629143000abbd0612?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2965292924a1b6be414/javablobfilesystemprovidercopydepth6953395af78fa6dea%2F?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "201[...]
  }, {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2930815c9a4d2cf4b04?prefix=javablobfilesystemprovidercopydepth629143000abbd0612/javablobfilesystemprovidercopydepth7181186e52258c8b3&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2965292924a1b6be414?prefix=javablobfilesystemprovidercopydepth6953395af78fa6dea/javablobfilesystemprovidercopydepth739398d012399b69d&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6db31-c01e-00e4-186e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopydepth2930815c9a4d2cf4b04\"><Prefix>javablobfilesystemprovidercopydepth629143000abbd0612/javablobfilesystemprovidercopydepth7181186e52258c8b3</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs /><NextMarker /></EnumerationResults>",
      "Date" : "Mon, 09 Mar 2020 23:59:28 GMT",
      "x-ms-client-request-id" : "8dad54f8-8e70-4c96-8d34-ea3720af21b8",
=======
      "x-ms-request-id" : "675053e8-101e-010c-2f7d-eeb9b9000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopydepth2965292924a1b6be414\"><Prefix>javablobfilesystemprovidercopydepth6953395af78fa6dea/javablobfilesystemprovidercopydepth739398d012399b69d</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs /><NextMarker /></EnumerationResults>",
      "Date" : "Fri, 28 Feb 2020 21:25:09 GMT",
      "x-ms-client-request-id" : "1197a87b-7ba8-4e47-9fb4-d300d5342172",
>>>>>>> upstream/master
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2930815c9a4d2cf4b04?prefix=javablobfilesystemprovidercopydepth629143000abbd0612&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2965292924a1b6be414?prefix=javablobfilesystemprovidercopydepth6953395af78fa6dea&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6db36-c01e-00e4-1c6e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopydepth2930815c9a4d2cf4b04\"><Prefix>javablobfilesystemprovidercopydepth629143000abbd0612</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><Blob><Name>javablobfilesystemprovidercopydepth629143000abbd0612</Name><Properties><Creation-Time>Mon, 09 Mar 2020 23:59:29 GMT</Creation-Time><Last-Modified>Mon, 09 Mar 2020 23:59:29 GMT</Last-Modified><Etag>0x8D7C485E7AABD30</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><is_hdi_folder>true</is_hdi_folder></Metadata></Blob></Blobs><NextMarker /></EnumerationResults>",
      "Date" : "Mon, 09 Mar 2020 23:59:28 GMT",
      "x-ms-client-request-id" : "feb8f92f-9368-4c65-9c42-c1dd1addb754",
=======
      "x-ms-request-id" : "675053f1-101e-010c-367d-eeb9b9000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopydepth2965292924a1b6be414\"><Prefix>javablobfilesystemprovidercopydepth6953395af78fa6dea</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>javablobfilesystemprovidercopydepth6953395af78fa6dea/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>",
      "Date" : "Fri, 28 Feb 2020 21:25:09 GMT",
      "x-ms-client-request-id" : "84207181-99fa-4b24-a415-105d2fd71e2e",
>>>>>>> upstream/master
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2930815c9a4d2cf4b04/javablobfilesystemprovidercopydepth629143000abbd0612%2Fjavablobfilesystemprovidercopydepth7181186e52258c8b3",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2965292924a1b6be414/javablobfilesystemprovidercopydepth6953395af78fa6dea%2Fjavablobfilesystemprovidercopydepth739398d012399b69d",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "x-ms-copy-id" : "405e9f3f-3790-4225-9daf-033c442f8ebe",
      "ETag" : "0x8D7C485E7BA0332",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:29 GMT",
=======
      "x-ms-copy-id" : "813e0f85-8045-4011-888b-15ae7a09621e",
      "ETag" : "0x8D7BC94B08CCF7E",
      "Last-Modified" : "Fri, 28 Feb 2020 21:25:09 GMT",
>>>>>>> upstream/master
      "retry-after" : "0",
      "Content-Length" : "0",
      "x-ms-copy-status" : "success",
      "StatusCode" : "202",
<<<<<<< HEAD
      "x-ms-request-id" : "81c6db3e-c01e-00e4-236e-f60217000000",
      "Date" : "Mon, 09 Mar 2020 23:59:28 GMT",
      "x-ms-client-request-id" : "92dbb681-5188-4c7b-a5bd-22f235c11878"
=======
      "x-ms-request-id" : "675053f4-101e-010c-397d-eeb9b9000000",
      "Date" : "Fri, 28 Feb 2020 21:25:09 GMT",
      "x-ms-client-request-id" : "0206c260-e02b-4aec-8adf-27313c2782b1"
>>>>>>> upstream/master
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2930815c9a4d2cf4b04/javablobfilesystemprovidercopydepth629143000abbd0612%2Fjavablobfilesystemprovidercopydepth7181186e52258c8b3",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2965292924a1b6be414/javablobfilesystemprovidercopydepth6953395af78fa6dea%2Fjavablobfilesystemprovidercopydepth739398d012399b69d",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked"
<<<<<<< HEAD
      "x-ms-copy-id" : "405e9f3f-3790-4225-9daf-033c442f8ebe",
      "x-ms-lease-state" : "available",
      "x-ms-copy-source" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2930815c9a4d2cf4b04/javablobfilesystemprovidercopydepth3486262568232c81c/javablobfilesystemprovidercopydepth4215416e7e7c8fcfc/javablobfilesystemprovidercopydepth507798c0d2447895f",
      "x-ms-copy-progress" : "7/7",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:29 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Date" : "Mon, 09 Mar 2020 23:59:29 GMT",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-copy-completion-time" : "Mon, 09 Mar 2020 23:59:29 GMT",
      "Accept-Ranges" : "bytes",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7C485E7BA0332",
      "x-ms-creation-time" : "Mon, 09 Mar 2020 23:59:29 GMT",
      "Content-Length" : "7",
      "x-ms-copy-status" : "success",
      "x-ms-request-id" : "81c6dbf5-c01e-00e4-426e-f60217000000",
      "x-ms-client-request-id" : "3dfa6271-1ba2-49d5-8d65-7a7dd1903042",
=======
      "x-ms-copy-id" : "813e0f85-8045-4011-888b-15ae7a09621e",
      "x-ms-lease-state" : "available",
      "x-ms-copy-source" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2965292924a1b6be414/javablobfilesystemprovidercopydepth388164a129a5a116c/javablobfilesystemprovidercopydepth491343d8e34480c1d/javablobfilesystemprovidercopydepth5784966477950aa14",
      "x-ms-copy-progress" : "7/7",
      "Last-Modified" : "Fri, 28 Feb 2020 21:25:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Date" : "Fri, 28 Feb 2020 21:25:10 GMT",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-copy-completion-time" : "Fri, 28 Feb 2020 21:25:09 GMT",
      "Accept-Ranges" : "bytes",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7BC94B08CCF7E",
      "x-ms-creation-time" : "Fri, 28 Feb 2020 21:25:09 GMT",
      "Content-Length" : "7",
      "x-ms-copy-status" : "success",
      "x-ms-request-id" : "675054f0-101e-010c-087d-eeb9b9000000",
      "x-ms-client-request-id" : "23944301-5ba2-4250-93e9-ca8fc5293326",
>>>>>>> upstream/master
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidercopydepth&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "x-ms-client-request-id" : "c6e38d18-b9be-4608-8e05-b5abcf03b7b4"
=======
      "x-ms-client-request-id" : "cb243562-50d4-4212-a9d2-67bbd1d5ef0c"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6dc08-c01e-00e4-546e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercopydepth</Prefix><Containers><Container><Name>jtcfilesystemprovidercopydepth103641b1d6e1b5a7ee4</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:29 GMT</Last-Modified><Etag>\"0x8D7C485E7955201\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemprovidercopydepth2930815c9a4d2cf4b04</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:29 GMT</Last-Modified><Etag>\"0x8D7C485E79F8B85\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false[...]
[...]
  }, {
    "Method" : "DELETE",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2930815c9a4d2cf4b04?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth2965292924a1b6be414?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6dc11-c01e-00e4-5c6e-f60217000000",
      "Date" : "Mon, 09 Mar 2020 23:59:29 GMT",
      "x-ms-client-request-id" : "ce121b2f-9d14-40f2-8a16-33f1906007e5"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopydepth034941ac778e83a17c4", "jtcfilesystemprovidercopydepth103641b1d6e1b5a7ee4", "jtcfilesystemprovidercopydepth2930815c9a4d2cf4b04", "javablobfilesystemprovidercopydepth3486262568232c81c", "javablobfilesystemprovidercopydepth4215416e7e7c8fcfc", "javablobfilesystemprovidercopydepth507798c0d2447895f", "javablobfilesystemprovidercopydepth629143000abbd0612", "javablobfilesystemprovidercopydepth7181186e52258c8b3" ]
=======
      "x-ms-request-id" : "67505520-101e-010c-2e7d-eeb9b9000000",
      "Date" : "Fri, 28 Feb 2020 21:25:10 GMT",
      "x-ms-client-request-id" : "d30ae6e1-22c1-4ab3-bdcc-fa5a30696d81"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopydepth065424da3cbccae63e4", "jtcfilesystemprovidercopydepth108721a4cf5c0f7e704", "jtcfilesystemprovidercopydepth2965292924a1b6be414", "javablobfilesystemprovidercopydepth388164a129a5a116c", "javablobfilesystemprovidercopydepth491343d8e34480c1d", "javablobfilesystemprovidercopydepth5784966477950aa14", "javablobfilesystemprovidercopydepth6953395af78fa6dea", "javablobfilesystemprovidercopydepth739398d012399b69d" ]
>>>>>>> upstream/master
}