{
  "networkCallRecords" : [ {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail156287c29ee7?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail106630e335d9?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d762-c01e-00e4-686e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:81c6d762-c01e-00e4-686e-f60217000000\nTime:2020-03-09T23:59:23.6562410Z</Message></Error>",
      "Date" : "Mon, 09 Mar 2020 23:59:22 GMT",
      "x-ms-client-request-id" : "3d7fc889-df1f-4a55-b223-195a0892d733",
=======
      "x-ms-request-id" : "67504e35-101e-010c-037d-eeb9b9000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:67504e35-101e-010c-037d-eeb9b9000000\nTime:2020-02-28T21:25:04.1766336Z</Message></Error>",
      "Date" : "Fri, 28 Feb 2020 21:25:03 GMT",
      "x-ms-client-request-id" : "883f9b65-9a2f-4bc9-b220-ae8a3be66461",
>>>>>>> upstream/master
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail156287c29ee7?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail106630e335d9?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "ETag" : "0x8D7C485E457DCE1",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:23 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "81c6d769-c01e-00e4-6d6e-f60217000000",
      "Date" : "Mon, 09 Mar 2020 23:59:22 GMT",
      "x-ms-client-request-id" : "0fe0a6e5-ce89-45d4-835c-0bba38679dc1"
=======
      "ETag" : "0x8D7BC94AD214B6F",
      "Last-Modified" : "Fri, 28 Feb 2020 21:25:04 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "67504e40-101e-010c-0a7d-eeb9b9000000",
      "Date" : "Fri, 28 Feb 2020 21:25:03 GMT",
      "x-ms-client-request-id" : "f024f9be-388c-493b-8958-4211ba9e620d"
>>>>>>> upstream/master
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail246042b21bac/javablobfilesystemprovidercopyreplaceexistingfail345109fae6",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail106630e335d9/javablobfilesystemprovidercopyreplaceexistingfail3615013e5d",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "x-ms-content-crc64" : "Qg8Md+MGNrs=",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Date" : "Mon, 09 Mar 2020 23:59:22 GMT",
      "Content-MD5" : "BvJ8yceVqvlQepWfM4f2/w==",
      "ETag" : "0x8D7C485E467BF46",
      "Content-Length" : "0",
      "x-ms-request-id" : "81c6d77d-c01e-00e4-7c6e-f60217000000",
      "x-ms-client-request-id" : "83a1eaae-793d-4184-a75f-03fb23f53871"
=======
      "x-ms-content-crc64" : "R1KSox7s6Ak=",
      "Last-Modified" : "Fri, 28 Feb 2020 21:25:04 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Date" : "Fri, 28 Feb 2020 21:25:03 GMT",
      "Content-MD5" : "EwjcYpNCr8hxYIwebZs1Nw==",
      "ETag" : "0x8D7BC94AD307515",
      "Content-Length" : "0",
      "x-ms-request-id" : "67504e70-101e-010c-317d-eeb9b9000000",
      "x-ms-client-request-id" : "fc3e900e-0361-45bb-b2ff-3b453f20cd1f"
>>>>>>> upstream/master
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail246042b21bac/javablobfilesystemprovidercopyreplaceexistingfail46677013e3?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail106630e335d9/javablobfilesystemprovidercopyreplaceexistingfail458102629c?comp=blocklist",
    "Headers" : {
  [...]
  }, {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail246042b21bac?prefix=javablobfilesystemprovidercopyreplaceexistingfail46677013e3&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail106630e335d9?prefix=javablobfilesystemprovidercopyreplaceexistingfail458102629c&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d78a-c01e-00e4-046e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopyreplaceexistingfail246042b21bac\"><Prefix>javablobfilesystemprovidercopyreplaceexistingfail46677013e3</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><Blob><Name>javablobfilesystemprovidercopyreplaceexistingfail46677013e3</Name><Properties><Creation-Time>Mon, 09 Mar 2020 23:59:23 GMT</Creation-Time><Last-Modified>Mon, 09 Mar 2020 23:59:23 GMT</Last-Modified><Etag>0x8D7C485E46D3EE2</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><is_hdi_folder>true</is_hdi_folder></Metadata></Blob></Blobs><NextMarker /></EnumerationResults>",
      "Date" : "Mon, 09 Mar 2020 23:59:23 GMT",
      "x-ms-client-request-id" : "448b5527-6ba9-4b54-af18-d95bc2b9afe7",
=======
      "x-ms-request-id" : "67504ea3-101e-010c-597d-eeb9b9000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopyreplaceexistingfail106630e335d9\"><Prefix>javablobfilesystemprovidercopyreplaceexistingfail458102629c</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><Blob><Name>javablobfilesystemprovidercopyreplaceexistingfail458102629c</Name><Properties><Creation-Time>Fri, 28 Feb 2020 21:25:04 GMT</Creation-Time><Last-Modified>Fri, 28 Feb 2020 21:25:04 GMT</Last-Modified><Etag>0x8D7BC94AD35CD9C</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><is_hdi_folder>true</is_hdi_folder></Metadata></Blob></Blobs><NextMarker /></EnumerationResults>",
      "Date" : "Fri, 28 Feb 2020 21:25:04 GMT",
      "x-ms-client-request-id" : "fac5131b-a0d6-4a3e-96cb-035e227616f6",
>>>>>>> upstream/master
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidercopyreplaceexistingfail&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "x-ms-client-request-id" : "daf16edf-eb87-46ee-92a3-6ac5bbf74fe2"
=======
      "x-ms-client-request-id" : "c19e4448-47dc-4f40-b9a1-a9e769b82f8b"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d792-c01e-00e4-0c6e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercopyreplaceexistingfail</Prefix><Containers><Container><Name>jtcfilesystemprovidercopyreplaceexistingfail156287c29ee7</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:23 GMT</Last-Modified><Etag>\"0x8D7C485E457DCE1\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemprovidercopyreplaceexistingfail246042b21bac</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:23 GMT</Last-Modified><Etag>\"0x8D7C485E461EF3C\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHol[...]
[...]
  }, {
    "Method" : "DELETE",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail246042b21bac?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopyreplaceexistingfail275290d63c64?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d7a9-c01e-00e4-206e-f60217000000",
      "Date" : "Mon, 09 Mar 2020 23:59:23 GMT",
      "x-ms-client-request-id" : "9d19b07e-4201-473e-b456-c08704b001cc"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopyreplaceexistingfail011558d2c0b2", "jtcfilesystemprovidercopyreplaceexistingfail156287c29ee7", "jtcfilesystemprovidercopyreplaceexistingfail246042b21bac", "javablobfilesystemprovidercopyreplaceexistingfail345109fae6", "javablobfilesystemprovidercopyreplaceexistingfail46677013e3", "560f735d-f352-465e-8e8f-0b6d0e527846" ]
=======
      "x-ms-request-id" : "67504ee0-101e-010c-097d-eeb9b9000000",
      "Date" : "Fri, 28 Feb 2020 21:25:04 GMT",
      "x-ms-client-request-id" : "625386fe-cb68-4142-aa52-c7d477e3ae48"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopyreplaceexistingfail0506928d0f0e", "jtcfilesystemprovidercopyreplaceexistingfail106630e335d9", "jtcfilesystemprovidercopyreplaceexistingfail275290d63c64", "javablobfilesystemprovidercopyreplaceexistingfail3615013e5d", "javablobfilesystemprovidercopyreplaceexistingfail458102629c", "4c912609-91c7-4fa3-88e5-a80e7d9dfaeb" ]
>>>>>>> upstream/master
}