{
  "networkCallRecords" : [ {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource1409374186755c0f294?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource1896032f4ae0545e554?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d207-c01e-00e4-2e6e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:81c6d207-c01e-00e4-2e6e-f60217000000\nTime:2020-03-09T23:59:16.7893213Z</Message></Error>",
      "Date" : "Mon, 09 Mar 2020 23:59:15 GMT",
      "x-ms-client-request-id" : "fea2cfec-e28d-4a39-9595-4a4649a6646f",
=======
      "x-ms-request-id" : "675047a4-101e-010c-1f7d-eeb9b9000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:675047a4-101e-010c-1f7d-eeb9b9000000\nTime:2020-02-28T21:24:57.5122804Z</Message></Error>",
      "Date" : "Fri, 28 Feb 2020 21:24:57 GMT",
      "x-ms-client-request-id" : "cdec1cc6-c071-4301-88c9-85b14c1d700d",
>>>>>>> upstream/master
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource1409374186755c0f294?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource1896032f4ae0545e554?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "ETag" : "0x8D7C485E0400DAB",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:16 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "81c6d213-c01e-00e4-376e-f60217000000",
      "Date" : "Mon, 09 Mar 2020 23:59:15 GMT",
      "x-ms-client-request-id" : "86519858-2d73-4c65-a790-59926c534de7"
=======
      "ETag" : "0x8D7BC94A9288C48",
      "Last-Modified" : "Fri, 28 Feb 2020 21:24:57 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "675047ab-101e-010c-237d-eeb9b9000000",
      "Date" : "Fri, 28 Feb 2020 21:24:57 GMT",
      "x-ms-client-request-id" : "1566fb0b-1858-43c3-8f6e-3706748ef585"
>>>>>>> upstream/master
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource256361ed4b32c70c154/javablobfilesystemprovidercopysource385648c153af2982?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource1896032f4ae0545e554/javablobfilesystemprovidercopysource3937937b1fa98d62?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "ETag" : "0x8D7C485E051FBCE",
      "x-ms-content-crc64" : "p1vsGtjjPsk=",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:16 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "81c6d231-c01e-00e4-4f6e-f60217000000",
      "x-ms-request-server-encrypted" : "true",
      "Date" : "Mon, 09 Mar 2020 23:59:16 GMT",
      "x-ms-client-request-id" : "b9cef336-5525-4f40-94fa-e40423c0376f"
=======
      "ETag" : "0x8D7BC94A937666E",
      "x-ms-content-crc64" : "p1vsGtjjPsk=",
      "Last-Modified" : "Fri, 28 Feb 2020 21:24:57 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "675047bc-101e-010c-317d-eeb9b9000000",
      "x-ms-request-server-encrypted" : "true",
      "Date" : "Fri, 28 Feb 2020 21:24:57 GMT",
      "x-ms-client-request-id" : "edbefb16-d44b-4faf-bed0-cceff4b14674"
>>>>>>> upstream/master
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource256361ed4b32c70c154/javablobfilesystemprovidercopysource385648c153af2982%2Fjavablobfilesystemprovidercopysource58251543b5d97754",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource1896032f4ae0545e554/javablobfilesystemprovidercopysource3937937b1fa98d62%2Fjavablobfilesystempro[...]
  }, {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource256361ed4b32c70c154?prefix=javablobfilesystemprovidercopysource4699346b96a9055b&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource1896032f4ae0545e554?prefix=javablobfilesystemprovidercopysource451255628ac1816a&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d243-c01e-00e4-5f6e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopysource256361ed4b32c70c154\"><Prefix>javablobfilesystemprovidercopysource4699346b96a9055b</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs /><NextMarker /></EnumerationResults>",
      "Date" : "Mon, 09 Mar 2020 23:59:16 GMT",
      "x-ms-client-request-id" : "84a7b365-cdf2-4001-9d58-e26f570fde7c",
=======
      "x-ms-request-id" : "675047c5-101e-010c-397d-eeb9b9000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopysource1896032f4ae0545e554\"><Prefix>javablobfilesystemprovidercopysource451255628ac1816a</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs /><NextMarker /></EnumerationResults>",
      "Date" : "Fri, 28 Feb 2020 21:24:57 GMT",
      "x-ms-client-request-id" : "2ab7d990-322f-4114-a118-ef8a5738f1fe",
>>>>>>> upstream/master
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource256361ed4b32c70c154/javablobfilesystemprovidercopysource4699346b96a9055b",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource1896032f4ae0545e554/javablobfilesystemprovidercopysource451255628ac1816a",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "x-ms-copy-id" : "b55f2be3-ae4e-43cd-9965-6340c55406df",
      "ETag" : "0x8D7C485E0627A8F",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:17 GMT",
=======
      "x-ms-copy-id" : "0d5eb314-12fb-4cba-8f6a-9c276fc2b3e3",
      "ETag" : "0x8D7BC94A946AC64",
      "Last-Modified" : "Fri, 28 Feb 2020 21:24:57 GMT",
>>>>>>> upstream/master
      "retry-after" : "0",
      "Content-Length" : "0",
      "x-ms-copy-status" : "success",
      "StatusCode" : "202",
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d246-c01e-00e4-626e-f60217000000",
      "Date" : "Mon, 09 Mar 2020 23:59:16 GMT",
      "x-ms-client-request-id" : "d69a16d2-5e0c-4bf6-abf1-d2da117b9e87"
=======
      "x-ms-request-id" : "675047c8-101e-010c-3c7d-eeb9b9000000",
      "Date" : "Fri, 28 Feb 2020 21:24:57 GMT",
      "x-ms-client-request-id" : "95f86d49-4493-41ac-871b-5259da46ae09"
>>>>>>> upstream/master
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource256361ed4b32c70c154/javablobfilesystemprovidercopysource4699346b96a9055b",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource1896032f4ae0545e554/javablobfilesystemprovidercopysource451255628ac1816a",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked"
<<<<<<< HEAD
      "x-ms-copy-id" : "b55f2be3-ae4e-43cd-9965-6340c55406df",
      "x-ms-lease-state" : "available",
      "x-ms-copy-source" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource256361ed4b32c70c154/javablobfilesystemprovidercopysource385648c153af2982",
      "x-ms-copy-progress" : "0/0",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Date" : "Mon, 09 Mar 2020 23:59:17 GMT",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-copy-completion-time" : "Mon, 09 Mar 2020 23:59:17 GMT",
      "Accept-Ranges" : "bytes",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7C485E0627A8F",
      "x-ms-meta-is_hdi_folder" : "true",
      "x-ms-creation-time" : "Mon, 09 Mar 2020 23:59:17 GMT",
      "Content-Length" : "0",
      "x-ms-copy-status" : "success",
      "x-ms-request-id" : "81c6d324-c01e-00e4-2b6e-f60217000000",
      "x-ms-client-request-id" : "3631616d-c366-4f3d-8bfe-4a6c4c75b052",
=======
      "x-ms-copy-id" : "0d5eb314-12fb-4cba-8f6a-9c276fc2b3e3",
      "x-ms-lease-state" : "available",
      "x-ms-copy-source" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource1896032f4ae0545e554/javablobfilesystemprovidercopysource3937937b1fa98d62",
      "x-ms-copy-progress" : "0/0",
      "Last-Modified" : "Fri, 28 Feb 2020 21:24:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Date" : "Fri, 28 Feb 2020 21:24:58 GMT",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-copy-completion-time" : "Fri, 28 Feb 2020 21:24:57 GMT",
      "Accept-Ranges" : "bytes",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7BC94A946AC64",
      "x-ms-meta-is_hdi_folder" : "true",
      "x-ms-creation-time" : "Fri, 28 Feb 2020 21:24:57 GMT",
      "Content-Length" : "0",
      "x-ms-copy-status" : "success",
      "x-ms-request-id" : "675048df-101e-010c-2a7d-eeb9b9000000",
      "x-ms-client-request-id" : "244e0fb0-4b74-4c95-b720-3e48893f01f3",
>>>>>>> upstream/master
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "HEAD",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource256361ed4b32c70c154/javablobfilesystemprovidercopysource385648c153af2982%2Fjavablobfilesystemprovidercopysource58251543b5d97754",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource1896032f4ae0545e554/javablobfilesystemprovidercopysource3937937b1fa98d62%2Fjavablobfilesystemprovidercopysource58012045977dc471",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "x-ms-blob-committed-block-count" : "0"
<<<<<<< HEAD
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Date" : "Mon, 09 Mar 2020 23:59:17 GMT",
      "x-ms-blob-type" : "AppendBlob",
      "Accept-Ranges" : "bytes",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7C485E057C994",
      "x-ms-creation-time" : "Mon, 09 Mar 2020 23:59:16 GMT",
      "Content-Length" : "0",
      "x-ms-request-id" : "81c6d343-c01e-00e4-496e-f60217000000",
      "x-ms-client-request-id" : "08a952a2-a278-4bb1-91b9-7a78dbed1c7c",
=======
      "Last-Modified" : "Fri, 28 Feb 2020 21:24:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Date" : "Fri, 28 Feb 2020 21:24:58 GMT",
      "x-ms-blob-type" : "AppendBlob",
      "Accept-Ranges" : "bytes",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7BC94A93C70AA",
      "x-ms-creation-time" : "Fri, 28 Feb 2020 21:24:57 GMT",
      "Content-Length" : "0",
      "x-ms-request-id" : "675048f9-101e-010c-427d-eeb9b9000000",
      "x-ms-client-request-id" : "4b091191-9bd1-408b-8231-d648dd55bb34",
>>>>>>> upstream/master
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidercopysource&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "x-ms-client-request-id" : "ca3dfc07-90c5-4d17-a182-a5395af45870"
=======
      "x-ms-client-request-id" : "cee10a69-1bf4-4b22-a6b2-26eed390b462"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d351-c01e-00e4-566e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercopysource</Prefix><Containers><Container><Name>jtcfilesystemprovidercopysource1409374186755c0f294</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:16 GMT</Last-Modified><Etag>\"0x8D7C485E0400DAB\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemprovidercopysource256361ed4b32c70c154</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:16 GMT</Last-Modified><Etag>\"0x8D7C485E04AE30E\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>fals[...]
[...]
  }, {
    "Method" : "DELETE",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource256361ed4b32c70c154?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopysource2906534b775dbb355f4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d35a-c01e-00e4-5f6e-f60217000000",
      "Date" : "Mon, 09 Mar 2020 23:59:17 GMT",
      "x-ms-client-request-id" : "caa79cfc-ca03-4150-a079-e5f43eef9c39"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopysource0219957c479042ed274", "jtcfilesystemprovidercopysource1409374186755c0f294", "jtcfilesystemprovidercopysource256361ed4b32c70c154", "javablobfilesystemprovidercopysource385648c153af2982", "javablobfilesystemprovidercopysource4699346b96a9055b", "javablobfilesystemprovidercopysource58251543b5d97754" ]
=======
      "x-ms-request-id" : "67504918-101e-010c-5c7d-eeb9b9000000",
      "Date" : "Fri, 28 Feb 2020 21:24:58 GMT",
      "x-ms-client-request-id" : "d7c4692c-3546-48a8-888a-6f32fb404b60"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopysource0075677a29a59744634", "jtcfilesystemprovidercopysource1896032f4ae0545e554", "jtcfilesystemprovidercopysource2906534b775dbb355f4", "javablobfilesystemprovidercopysource3937937b1fa98d62", "javablobfilesystemprovidercopysource451255628ac1816a", "javablobfilesystemprovidercopysource58012045977dc471" ]
>>>>>>> upstream/master
}