{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcdeletedefaultdir1153403580afdf72ab40b793c?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:fc8942a2-a01e-0099-4ebc-069edf000000\nTime:2020-03-30T17:55:50.1374276Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcdeletedefaultdir1153403580afdf72ab40b793c?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7D4D39526DD05",
      "Last-Modified" : "Mon, 30 Mar 2020 17:55:50 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcdeletedefaultdir1153403580afdf72ab40b793c/javablobdeletedefaultdir314703ea2fff52c4c24ced",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Mon, 30 Mar 2020 17:55:50 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7D4D3954DDECE"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcdeletedefaultdir1153403580afdf72ab40b793c?prefix=javablobdeletedefaultdir314703ea2fff52c4c24ced&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcdeletedefaultdir1153403580afdf72ab40b793c\"><Prefix>javablobdeletedefaultdir314703ea2fff52c4c24ced</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><Blob><Name>javablobdeletedefaultdir314703ea2fff52c4c24ced</Name><Properties><Creation-Time>Mon, 30 Mar 2020 17:55:50 GMT</Creation-Time><Last-Modified>Mon, 30 Mar 2020 17:55:50 GMT</Last-Modified><Etag>0x8D7D4D3954DDECE</Etag><Content-Length>7</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>wh+Wm18D0z1D4E+PE252gg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /></Blob></Blobs><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcdeletedefaultdir1153403580afdf72ab40b793c/javablobdeletedefaultdir314703ea2fff52c4c24ced",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-delete-type-permanent" : "true",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcdeletedefaultdir&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcdeletedefaultdir</Prefix><Containers><Container><Name>jtcdeletedefaultdir1153403580afdf72ab40b793c</Name><Properties><Last-Modified>Mon, 30 Mar 2020 17:55:50 GMT</Last-Modified><Etag>\"0x8D7D4D39526DD05\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcdeletedefaultdir2403281ee8906db44741a9908</Name><Properties><Last-Modified>Mon, 30 Mar 2020 17:55:50 GMT</Last-Modified><Etag>\"0x8D7D4D3953930FD\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcdeletedefaultdir2403281ee8906db44741a9908?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcdeletedefaultdir063763af311cc30ff7445a8a4", "jtcdeletedefaultdir1153403580afdf72ab40b793c", "jtcdeletedefaultdir2403281ee8906db44741a9908", "javablobdeletedefaultdir314703ea2fff52c4c24ced" ]
}