{
  "networkCallRecords" : [ {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopynonemptydest160628a654f5851d?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopynonemptydest16132601c5276749?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d6b4-c01e-00e4-576e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:81c6d6b4-c01e-00e4-576e-f60217000000\nTime:2020-03-09T23:59:22.8642502Z</Message></Error>",
      "Date" : "Mon, 09 Mar 2020 23:59:22 GMT",
      "x-ms-client-request-id" : "64c468e5-cc2e-4043-b29a-56c29036f88e",
=======
      "x-ms-request-id" : "67504d52-101e-010c-4d7d-eeb9b9000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:67504d52-101e-010c-4d7d-eeb9b9000000\nTime:2020-02-28T21:25:03.4018943Z</Message></Error>",
      "Date" : "Fri, 28 Feb 2020 21:25:03 GMT",
      "x-ms-client-request-id" : "f7b22c97-4c62-4bd4-9221-39fd930e90f2",
>>>>>>> upstream/master
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopynonemptydest160628a654f5851d?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopynonemptydest16132601c5276749?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "ETag" : "0x8D7C485E3DF03DF",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:22 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "81c6d6b9-c01e-00e4-5b6e-f60217000000",
      "Date" : "Mon, 09 Mar 2020 23:59:22 GMT",
      "x-ms-client-request-id" : "f84ae3da-1ffb-4e02-a115-8256c37b53df"
=======
      "ETag" : "0x8D7BC94ACAB3B42",
      "Last-Modified" : "Fri, 28 Feb 2020 21:25:03 GMT",
      "retry-after" : "0",
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "67504d59-101e-010c-537d-eeb9b9000000",
      "Date" : "Fri, 28 Feb 2020 21:25:03 GMT",
      "x-ms-client-request-id" : "810d7b2d-3842-4f62-8a9d-ef0555bab1e1"
>>>>>>> upstream/master
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopynonemptydest290131ef6849021f/javablobfilesystemprovidercopynonemptydest380413fade8f7",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopynonemptydest16132601c5276749/javablobfilesystemprovidercopynonemptydest397334f21112a",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "x-ms-content-crc64" : "1+h9OUXR4qQ=",
      "Last-Modified" : "Mon, 09 Mar 2020 23:59:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Date" : "Mon, 09 Mar 2020 23:59:22 GMT",
      "Content-MD5" : "2F599byecqjSwLmZy4tiEw==",
      "ETag" : "0x8D7C485E3EEC856",
      "Content-Length" : "0",
      "x-ms-request-id" : "81c6d6cc-c01e-00e4-696e-f60217000000",
      "x-ms-client-request-id" : "55117f0e-7798-4b59-87d4-277ac580e967"
=======
      "x-ms-content-crc64" : "LLmU9RmjcH4=",
      "Last-Modified" : "Fri, 28 Feb 2020 21:25:03 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Date" : "Fri, 28 Feb 2020 21:25:03 GMT",
      "Content-MD5" : "gckeg/qTIacIBy8OTjKv8Q==",
      "ETag" : "0x8D7BC94ACB9EF86",
      "Content-Length" : "0",
      "x-ms-request-id" : "67504d6d-101e-010c-617d-eeb9b9000000",
      "x-ms-client-request-id" : "18ea1490-016d-4e0a-bb5b-418e4a8bd883"
>>>>>>> upstream/master
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopynonemptydest290131ef6849021f/javablobfilesystemprovidercopynonemptydest4286106224fb9%2Fjavablobfilesystemprovidercopynonemptydest50975443f5c91",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopynonemptydest16132601c5276749/javablobfilesystemprovidercopynonemptydest4012732f146b0%2Fjavabl[...]
  }, {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopynonemptydest290131ef6849021f?prefix=javablobfilesystemprovidercopynonemptydest4286106224fb9&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopynonemptydest16132601c5276749?prefix=javablobfilesystemprovidercopynonemptydest4012732f146b0&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d6d6-c01e-00e4-726e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopynonemptydest290131ef6849021f\"><Prefix>javablobfilesystemprovidercopynonemptydest4286106224fb9</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>javablobfilesystemprovidercopynonemptydest4286106224fb9/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>",
      "Date" : "Mon, 09 Mar 2020 23:59:22 GMT",
      "x-ms-client-request-id" : "024f33d0-aca2-4113-9420-c8b286c04fe4",
=======
      "x-ms-request-id" : "67504d79-101e-010c-6a7d-eeb9b9000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopynonemptydest16132601c5276749\"><Prefix>javablobfilesystemprovidercopynonemptydest4012732f146b0</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>javablobfilesystemprovidercopynonemptydest4012732f146b0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>",
      "Date" : "Fri, 28 Feb 2020 21:25:03 GMT",
      "x-ms-client-request-id" : "4a6a4bc8-884a-4748-8b27-dad7287f870d",
>>>>>>> upstream/master
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidercopynonemptydest&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "x-ms-client-request-id" : "d0eb9c49-3522-46bc-b49e-e2219ffd01bf"
=======
      "x-ms-client-request-id" : "6fe951c5-8c0b-444e-b05e-183c07b88ec1"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d6e7-c01e-00e4-806e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercopynonemptydest</Prefix><Containers><Container><Name>jtcfilesystemprovidercopynonemptydest160628a654f5851d</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:22 GMT</Last-Modified><Etag>\"0x8D7C485E3DF03DF\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemprovidercopynonemptydest290131ef6849021f</Name><Properties><Last-Modified>Mon, 09 Mar 2020 23:59:22 GMT</Last-Modified><Etag>\"0x8D7C485E3E8EEE5\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>f[...]
[...]
  }, {
    "Method" : "DELETE",
<<<<<<< HEAD
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopynonemptydest290131ef6849021f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
=======
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopynonemptydest291979b3c2ad29e3?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6d6f6-c01e-00e4-0f6e-f60217000000",
      "Date" : "Mon, 09 Mar 2020 23:59:22 GMT",
      "x-ms-client-request-id" : "17024d2c-1d43-40ef-9179-d3691139e39f"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopynonemptydest092826f4ff231cbe", "jtcfilesystemprovidercopynonemptydest160628a654f5851d", "jtcfilesystemprovidercopynonemptydest290131ef6849021f", "javablobfilesystemprovidercopynonemptydest380413fade8f7", "javablobfilesystemprovidercopynonemptydest4286106224fb9", "852a1d11-cf2b-49e8-863e-02251be2312d", "javablobfilesystemprovidercopynonemptydest50975443f5c91" ]
=======
      "x-ms-request-id" : "67504d9e-101e-010c-047d-eeb9b9000000",
      "Date" : "Fri, 28 Feb 2020 21:25:03 GMT",
      "x-ms-client-request-id" : "dbe5fe22-82be-4747-9ddc-62042700cf71"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopynonemptydest09625487f7cb590d", "jtcfilesystemprovidercopynonemptydest16132601c5276749", "jtcfilesystemprovidercopynonemptydest291979b3c2ad29e3", "javablobfilesystemprovidercopynonemptydest397334f21112a", "javablobfilesystemprovidercopynonemptydest4012732f146b0", "cafbe608-41c6-49b5-b9d3-efdc8db01a2b", "javablobfilesystemprovidercopynonemptydest575000e08bf03" ]
>>>>>>> upstream/master
}