{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtclistfilesdepth15151049f333944afe4b12b568?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:fc88a73b-a01e-0099-4ebb-069edf000000\nTime:2020-03-30T17:52:33.8703812Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtclistfilesdepth15151049f333944afe4b12b568?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7D4D3202BCE2C",
      "Last-Modified" : "Mon, 30 Mar 2020 17:52:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtclistfilesdepth2182961c5efe100d3142e59183/javabloblistfilesdepth306899eb9da18fdb4b44d8b?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7D4D32040D4A9",
      "x-ms-content-crc64" : "p1vsGtjjPsk=",
      "Last-Modified" : "Mon, 30 Mar 2020 17:52:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtclistfilesdepth2182961c5efe100d3142e59183/javabloblistfilesdepth523401326fe56bbbfd4ce9b%2Fjavabloblistfilesdepth683321f18b8b4b726f496da?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7D4D320565DA5",
      "x-ms-content-crc64" : "p1vsGtjjPsk=",
      "Last-Modified" : "Mon, 30 Mar 2020 17:52:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtclistfilesdepth2182961c5efe100d3142e59183?delimiter=/&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtclistfilesdepth2182961c5efe100d3142e59183\"><Delimiter>/</Delimiter><Blobs><Blob><Name>javabloblistfilesdepth306899eb9da18fdb4b44d8b</Name><Properties><Creation-Time>Mon, 30 Mar 2020 17:52:34 GMT</Creation-Time><Last-Modified>Mon, 30 Mar 2020 17:52:34 GMT</Last-Modified><Etag>0x8D7D4D32040D4A9</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata /></Blob><Blob><Name>javabloblistfilesdepth46779849a21dba4eff4c5ab</Name><Properties><Creation-Time>Mon, 30 Mar 2020 17:52:34 GMT</Creation-Time><Last-Modified>Mon, 30 Mar 2020 17:52:34 GMT</Last-Modified><Etag>0x8D7D4D320489EAE</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><hdi_isfolder>true</hdi_isfolder></Metadata></Blob><Blob><Name>javabloblistfilesdepth523401326fe56bbbfd4ce9b</Name><Properties><Creation-Time>Mon, 30 Mar 2020 17:52:34 GMT</Creation-Time><Last-Modified>Mon, 30 Mar 2020 17:52:34 GMT</Last-Modified><Etag>0x8D7D4D3204FF371</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><hdi_isfolder>true</hdi_isfolder></Metadata></Blob><BlobPrefix><Name>javabloblistfilesdepth523401326fe56bbbfd4ce9b/</Name></BlobPrefix><BlobPrefix><Name>javabloblistfilesdepth783303c199c2044cec426da/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtclistfilesdepth&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtclistfilesdepth</Prefix><Containers><Container><Name>jtclistfilesdepth15151049f333944afe4b12b568</Name><Properties><Last-Modified>Mon, 30 Mar 2020 17:52:33 GMT</Last-Modified><Etag>\"0x8D7D4D3202BCE2C\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtclistfilesdepth2182961c5efe100d3142e59183</Name><Properties><Last-Modified>Mon, 30 Mar 2020 17:52:34 GMT</Last-Modified><Etag>\"0x8D7D4D32038F0B7\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev2.blob.core.windows.net/jtclistfilesdepth2182961c5efe100d3142e59183?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtclistfilesdepth0810602511c1cde9a748b4b374", "jtclistfilesdepth15151049f333944afe4b12b568", "jtclistfilesdepth2182961c5efe100d3142e59183", "javabloblistfilesdepth306899eb9da18fdb4b44d8b", "javabloblistfilesdepth46779849a21dba4eff4c5ab", "javabloblistfilesdepth523401326fe56bbbfd4ce9b", "javabloblistfilesdepth683321f18b8b4b726f496da", "javabloblistfilesdepth783303c199c2044cec426da", "javabloblistfilesdepth84803496185a9dc7774e298" ]
}