{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth142194385c52fac6304?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:174bb465-f01e-00c5-0fba-fc6f26000000\nTime:2020-03-18T00:15:42.9921785Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth142194385c52fac6304?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7CAD17F673D5A",
      "Last-Modified" : "Wed, 18 Mar 2020 00:15:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth293407428d611a15a44/javablobfilesystemprovidercopydepth394896efb106cebcf%2Fjavablobfilesystemprovidercopydepth49166432367306e6d%2Fjavablobfilesystemprovidercopydepth524090c70a23e3424",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Wed, 18 Mar 2020 00:15:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7CAD17F8FC298"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth293407428d611a15a44/javablobfilesystemprovidercopydepth610627bd832b4908a%2Fjavablobfilesystemprovidercopydepth705623948bf1a4905?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7CAD17F9F089C",
      "x-ms-content-crc64" : "p1vsGtjjPsk=",
      "Last-Modified" : "Wed, 18 Mar 2020 00:15:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth293407428d611a15a44?prefix=javablobfilesystemprovidercopydepth610627bd832b4908a/javablobfilesystemprovidercopydepth705623948bf1a4905/javablobfilesystemprovidercopydepth80253848db6e7d3ee&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopydepth293407428d611a15a44\"><Prefix>javablobfilesystemprovidercopydepth610627bd832b4908a/javablobfilesystemprovidercopydepth705623948bf1a4905/javablobfilesystemprovidercopydepth80253848db6e7d3ee</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs /><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth293407428d611a15a44?prefix=javablobfilesystemprovidercopydepth610627bd832b4908a/javablobfilesystemprovidercopydepth705623948bf1a4905&delimiter=/&maxresults=2&include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xclientdev2.blob.core.windows.net/\" ContainerName=\"jtcfilesystemprovidercopydepth293407428d611a15a44\"><Prefix>javablobfilesystemprovidercopydepth610627bd832b4908a/javablobfilesystemprovidercopydepth705623948bf1a4905</Prefix><MaxResults>2</MaxResults><Delimiter>/</Delimiter><Blobs><Blob><Name>javablobfilesystemprovidercopydepth610627bd832b4908a/javablobfilesystemprovidercopydepth705623948bf1a4905</Name><Properties><Creation-Time>Wed, 18 Mar 2020 00:15:43 GMT</Creation-Time><Last-Modified>Wed, 18 Mar 2020 00:15:43 GMT</Last-Modified><Etag>0x8D7CAD17F9F089C</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><is_hdi_folder>true</is_hdi_folder></Metadata></Blob></Blobs><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth293407428d611a15a44/javablobfilesystemprovidercopydepth610627bd832b4908a%2Fjavablobfilesystemprovidercopydepth705623948bf1a4905%2Fjavablobfilesystemprovidercopydepth80253848db6e7d3ee",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-copy-id" : "dc4bbff3-6556-44f0-87ff-bc2fa6d6b016",
      "ETag" : "0x8D7CAD17FC5ACD9",
      "Last-Modified" : "Wed, 18 Mar 2020 00:15:43 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "success",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth293407428d611a15a44/javablobfilesystemprovidercopydepth610627bd832b4908a%2Fjavablobfilesystemprovidercopydepth705623948bf1a4905%2Fjavablobfilesystemprovidercopydepth80253848db6e7d3ee",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-copy-id" : "dc4bbff3-6556-44f0-87ff-bc2fa6d6b016",
      "x-ms-lease-state" : "available",
      "x-ms-copy-source" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth293407428d611a15a44/javablobfilesystemprovidercopydepth394896efb106cebcf%2Fjavablobfilesystemprovidercopydepth49166432367306e6d%2Fjavablobfilesystemprovidercopydepth524090c70a23e3424",
      "x-ms-copy-progress" : "7/7",
      "Last-Modified" : "Wed, 18 Mar 2020 00:15:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-copy-completion-time" : "Wed, 18 Mar 2020 00:15:43 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7CAD17FC5ACD9",
      "x-ms-creation-time" : "Wed, 18 Mar 2020 00:15:43 GMT",
      "x-ms-copy-status" : "success",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidercopydepth&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercopydepth</Prefix><Containers><Container><Name>jtcfilesystemprovidercopydepth142194385c52fac6304</Name><Properties><Last-Modified>Wed, 18 Mar 2020 00:15:43 GMT</Last-Modified><Etag>\"0x8D7CAD17F673D5A\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemprovidercopydepth293407428d611a15a44</Name><Properties><Last-Modified>Wed, 18 Mar 2020 00:15:43 GMT</Last-Modified><Etag>\"0x8D7CAD17F810D09\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercopydepth293407428d611a15a44?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercopydepth056278a9169cf69b824", "jtcfilesystemprovidercopydepth142194385c52fac6304", "jtcfilesystemprovidercopydepth293407428d611a15a44", "javablobfilesystemprovidercopydepth394896efb106cebcf", "javablobfilesystemprovidercopydepth49166432367306e6d", "javablobfilesystemprovidercopydepth524090c70a23e3424", "javablobfilesystemprovidercopydepth610627bd832b4908a", "javablobfilesystemprovidercopydepth705623948bf1a4905", "javablobfilesystemprovidercopydepth80253848db6e7d3ee" ]
}