{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "http://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidergetfilesystemia&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
<<<<<<< HEAD
      "x-ms-client-request-id" : "b02584ef-e5dd-42a3-969e-5c480380f269"
=======
      "x-ms-client-request-id" : "d41649ee-8894-4f4b-ad85-e10336323212"
>>>>>>> upstream/master
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "x-ms-request-id" : "81c6cc0d-c01e-00e4-116e-f60217000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidergetfilesystemia</Prefix><Containers /><NextMarker /></EnumerationResults>",
      "Date" : "Mon, 09 Mar 2020 23:59:08 GMT",
      "x-ms-client-request-id" : "b02584ef-e5dd-42a3-969e-5c480380f269",
=======
      "x-ms-request-id" : "67503f96-101e-010c-4a7d-eeb9b9000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidergetfilesystemia</Prefix><Containers /><NextMarker /></EnumerationResults>",
      "Date" : "Fri, 28 Feb 2020 21:24:50 GMT",
      "x-ms-client-request-id" : "d41649ee-8894-4f4b-ad85-e10336323212",
>>>>>>> upstream/master
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
<<<<<<< HEAD
  "variables" : [ "jtcfilesystemprovidergetfilesystemia0810514b91638262" ]
=======
  "variables" : [ "jtcfilesystemprovidergetfilesystemia00658355f2a3bfa4" ]
>>>>>>> upstream/master
}