{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatedirattributes155970c4c5f573?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ContainerNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerNotFound</Code><Message>The specified container does not exist.\nRequestId:174b8805-f01e-00c5-33ba-fc6f26000000\nTime:2020-03-18T00:15:13.2952709Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatedirattributes155970c4c5f573?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7CAD16DB44F27",
      "Last-Modified" : "Wed, 18 Mar 2020 00:15:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatedirattributes155970c4c5f573/javablobfilesystemprovidercreatedirattributes368199a77889?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7CAD16DE5A4A3",
      "x-ms-content-crc64" : "p1vsGtjjPsk=",
      "Last-Modified" : "Wed, 18 Mar 2020 00:15:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatedirattributes155970c4c5f573/javablobfilesystemprovidercreatedirattributes368199a77889",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Wed, 18 Mar 2020 00:15:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-meta-is_hdi_folder" : "true",
      "x-ms-creation-time" : "Wed, 18 Mar 2020 00:15:13 GMT",
      "x-ms-meta-fizz" : "buzz",
      "Content-Type" : "myType",
      "x-ms-version" : "2019-07-07",
      "x-ms-meta-foo" : "bar",
      "Content-MD5" : "1B2M2Y8AsgTpgAmY7PhCfg==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7CAD16DE5A4A3",
      "Content-Disposition" : "myDisposition",
      "Content-Language" : "myLanguage"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net?prefix=jtcfilesystemprovidercreatedirattributes&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xclientdev2.blob.core.windows.net/\"><Prefix>jtcfilesystemprovidercreatedirattributes</Prefix><Containers><Container><Name>jtcfilesystemprovidercreatedirattributes155970c4c5f573</Name><Properties><Last-Modified>Wed, 18 Mar 2020 00:15:13 GMT</Last-Modified><Etag>\"0x8D7CAD16DB44F27\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcfilesystemprovidercreatedirattributes298436fdc04a66</Name><Properties><Last-Modified>Wed, 18 Mar 2020 00:15:13 GMT</Last-Modified><Etag>\"0x8D7CAD16DCE461C\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcfilesystemprovidercreatedirattributes298436fdc04a66?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfilesystemprovidercreatedirattributes054921950defd0", "jtcfilesystemprovidercreatedirattributes155970c4c5f573", "jtcfilesystemprovidercreatedirattributes298436fdc04a66", "javablobfilesystemprovidercreatedirattributes368199a77889" ]
}