{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcreadbuffoffsetlenfail012740430e67e596514bc1?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7ED37222DF50F",
      "Last-Modified" : "Thu, 30 Apr 2020 18:48:54 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcreadbuffoffsetlenfail012740430e67e596514bc1/javablobreadbuffoffsetlenfail11677174815bb000144c",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "pmFOrXAUh0w=",
      "Last-Modified" : "Thu, 30 Apr 2020 18:48:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "OKnCu+4Hz0Y2iNK0YRJbvw==",
      "ETag" : "0x8D7ED372305C008"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcreadbuffoffsetlenfail012740430e67e596514bc1/javablobreadbuffoffsetlenfail11677174815bb000144c",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 30 Apr 2020 18:48:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "OKnCu+4Hz0Y2iNK0YRJbvw==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D7ED372305C008",
      "x-ms-creation-time" : "Thu, 30 Apr 2020 18:48:56 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://blobindex1.blob.core.windows.net?prefix=jtcreadbuffoffsetlenfail&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://blobindex1.blob.core.windows.net/\"><Prefix>jtcreadbuffoffsetlenfail</Prefix><Containers /><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcreadbuffoffsetlenfail012740430e67e596514bc1", "804f54a4-e847-489f-82ce-c0200f0f267a", "afa4cc52-4466-481c-bec0-325a161cfdeb", "aa8ba420-86a4-48cb-9aad-8b106138ec62", "4188b6dd-6cef-470b-9cac-d36f9c88135c", "791d9ab5-7b32-4246-9d05-9bb211acaccd", "ecc33834-bba2-433c-a0e4-b96aa575ee61", "43a0935b-b6e3-40df-a4d3-fb380e54943e", "0964ed44-e81e-4f80-bd83-ecdedfec1042", "496aa387-8a04-442f-858f-4fe2595fcde2", "410fe870-a2b9-4625-ac0c-a43956176782", "javablobreadbuffoffsetlenfail11677174815bb000144c" ]
}