{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcskip0nioblobinputstreamtestskipf5093662f6bbed4217?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7ED370992F2DD",
      "Last-Modified" : "Thu, 30 Apr 2020 18:48:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcskip0nioblobinputstreamtestskipf5093662f6bbed4217/javablobskip1nioblobinputstreamtestskipf501371156c6111f",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "+LvUg7MLDmM=",
      "Last-Modified" : "Thu, 30 Apr 2020 18:48:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "qAQLy7QlzBI5+2kG4vt3KQ==",
      "ETag" : "0x8D7ED370A6D1346"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcskip0nioblobinputstreamtestskipf5093662f6bbed4217/javablobskip1nioblobinputstreamtestskipf501371156c6111f",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 30 Apr 2020 18:48:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "qAQLy7QlzBI5+2kG4vt3KQ==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D7ED370A6D1346",
      "x-ms-creation-time" : "Thu, 30 Apr 2020 18:48:15 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcskip0nioblobinputstreamtestskipf5093662f6bbed4217/javablobskip1nioblobinputstreamtestskipf501371156c6111f",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "Content-Range" : "bytes 10485759-10485759/10485760",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "qAQLy7QlzBI5+2kG4vt3KQ==",
      "Last-Modified" : "Thu, 30 Apr 2020 18:48:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7ED370A6D1346",
      "x-ms-creation-time" : "Thu, 30 Apr 2020 18:48:15 GMT",
      "Body" : "[39]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://blobindex1.blob.core.windows.net?prefix=jtcskip&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://blobindex1.blob.core.windows.net/\"><Prefix>jtcskip</Prefix><Containers /><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcskip0nioblobinputstreamtestskipf5093662f6bbed4217", "d1dd0b2a-e6b8-4842-8fea-bfaa0907ff15", "b2e34425-cc5d-4403-b363-4deaeebe88cf", "6b97019e-771a-4600-aef1-58e25913a9a6", "20819d81-6b02-4732-8c84-062a16c61d3d", "e3993b5a-3091-484c-8f38-8744e879a948", "bde9f3fc-5b2c-4402-b988-4b74baa87694", "416de85a-b8df-4b74-a8b1-324eeb7549c1", "d0e2bc3e-4f56-43f0-98e8-56d300e81af9", "c697708a-1aa7-40ff-8797-2036fd2dcff4", "10cafc96-f839-4408-b5f6-2378a87ad394", "javablobskip1nioblobinputstreamtestskipf501371156c6111f" ]
}