{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcreadbuffoffsetlenfail052213a33f71ba70104e1c?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7ED371E85851C",
      "Last-Modified" : "Thu, 30 Apr 2020 18:48:48 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcreadbuffoffsetlenfail052213a33f71ba70104e1c/javablobreadbuffoffsetlenfail155180f49dbb53276d47",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "dSIDOZboYzY=",
      "Last-Modified" : "Thu, 30 Apr 2020 18:48:50 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "dy/qexAxcHCeWgSuQcaj3Q==",
      "ETag" : "0x8D7ED371F8D111C"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcreadbuffoffsetlenfail052213a33f71ba70104e1c/javablobreadbuffoffsetlenfail155180f49dbb53276d47",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 30 Apr 2020 18:48:50 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "dy/qexAxcHCeWgSuQcaj3Q==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D7ED371F8D111C",
      "x-ms-creation-time" : "Thu, 30 Apr 2020 18:48:50 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://blobindex1.blob.core.windows.net?prefix=jtcreadbuffoffsetlenfail&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://blobindex1.blob.core.windows.net/\"><Prefix>jtcreadbuffoffsetlenfail</Prefix><Containers /><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcreadbuffoffsetlenfail052213a33f71ba70104e1c", "49979c6e-a368-4c52-b385-c7cde69110e8", "321445db-8377-4290-93e3-8436a49e5f15", "d6921f40-1abb-4bed-8c7b-6e5ea1ade57f", "99f4c4ad-9fbe-4e9d-8584-215d637039ba", "3a63bd36-107d-4e7a-b487-e51650ac06a4", "667c6bec-b919-4bfd-81be-9446ab23494b", "1131338b-0472-44dc-9ce8-1da470e80308", "2bfd1fd6-8aa1-44cc-a0d5-2394f59c26cf", "e795a415-9e00-4d5b-a0ff-22ede6735bd2", "9256f136-363c-4817-9811-84192020c2c5", "javablobreadbuffoffsetlenfail155180f49dbb53276d47" ]
}