language: java
sudo: required
install: true
jdk:
- oraclejdk8
- openjdk7
before_script:
- mvn jetty:run &
- sleep 5
script:
- |-
  for i in `ls -d */*/v20* | grep -v "node_modules/*/*"`; do cd $i; mvn compile -Dgpg.skip; if [ $? != 0 ]; then cd -; exit -1; else cd -; fi; done
