<div>
    <h3>
        Id_token content
    </h3>
    <p>{{userInfo.userName}}</p>
    <p>aud:{{userInfo.idToken.aud}}</p>
    <p>iss:{{userInfo.idToken.iss}}</p>
    <p>iat:{{userInfo.idToken.iat}}</p>
    <p>nbf:{{userInfo.idToken.nbf}}</p>
    <p>exp:{{userInfo.idToken.exp}}</p>
    <p>aio:{{userInfo.idToken.aio}}</p>
    <p>name:{{userInfo.idToken.name}}</p>
    <p>oid:{{userInfo.idToken.oid}}</p>
    <p>preferred_username:{{userInfo.idToken.preferred_username}}</p>
    <p>sub:{{userInfo.idToken.sub}}</p>
    <p>tid:{{userInfo.idToken.tid}}</p>
    <p>uti:{{userInfo.idToken.uti}}</p>
    <p>ver:{{userInfo.idToken.ver}}</p>
</div>