# WebapiA is an optional client, we can access obo resource servers.
# We can also access a custom server according to the webapiA client.

azure:
  activedirectory:
    client-id: <client-id>
    client-secret: <client-secret>
    tenant-id: <tenant-id>
    user-group:
      allowed-groups: group1, group2
    post-logout-redirect-uri: http://localhost:8080
    authorization-clients:
      arm:
        on-demand: true
        scopes: https://management.core.windows.net/user_impersonation
      graph:
        scopes:
          - https://graph.microsoft.com/User.Read
          - https://graph.microsoft.com/Directory.Read.All
#      webapiA:
#        scopes:
#          - <Web-API-A-app-id-url>/Obo.WebApiA.ExampleScope
