{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/secrets/JavaExtensionSecret2?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "www-authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : ""
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/secrets/JavaExtensionSecret2?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"AAECAwQFBgcICQoLDA0ODxAREhMUFRYX\",\"contentType\":\"application/octet-stream\",\"id\":\"https://tifchen-keyvault-fancy.vault.azure.net/secrets/JavaExtensionSecret2/034d5deab8164ffc97ca154f0cd9466e\",\"attributes\":{\"enabled\":true,\"created\":1529961640,\"updated\":1529961640,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/secrets/JavaExtensionSecret2/?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"AAECAwQFBgcICQoLDA0ODxAREhMUFRYX\",\"contentType\":\"application/octet-st[...]
