{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azure-keyvault-3.vault.azure.net/secrets/JavaExtensionSecret3?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "www-authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : ""
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azure-keyvault-3.vault.azure.net/secrets/JavaExtensionSecret3?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"AAECAwQFBgcICQoLDA0ODxAREhMUFRYXGBkaGxwdHh8\",\"contentType\":\"application/octet-stream\",\"id\":\"https://azure-keyvault-3.vault.azure.net/secrets/JavaExtensionSecret3/36e43b1afcc0463597d78731a6a28a2a\",\"attributes\":{\"enabled\":true,\"created\":1544654400,\"updated\":1544654400,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-keyvault-3.vault.azure.net/secrets/JavaExtensionSecret3/?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"AAECAwQFBgcICQoLDA0ODxAREhMUFRYXGBkaGxwdHh8\",\"contentType\":\"application/oct[...]
