{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/keys/JavaExtensionKey/create?api-version=2016-10-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "www-authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/keys/JavaExtensionKey/create?api-version=2016-10-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"key\":{\"kid\":\"https://tifchen-keyvault-fancy.vault.azure.net/keys/JavaExtensionKey/86cee9e27d734d5692f8c0401575675e\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"sWFPRfq-Z2JFEF_8HZ9j2CwVKHKhOT-3F9tq-R7nwDfZ965Nx4cAkPeQVRd79MiCFs2WS3ar4sWSd2_w35WLwICC0gH650QtczcXX2I5xYOkWLIbokRtQG1WdS5DVdWlSQUewewfbvlUp1Huh5qVeZoYja_Pgboi8k5QsCZt44R9mKX_1BeANZQnzQlvX7klyihF44D7d2lflWa5RZ1bV0S50hS1acnmBnN7pHNwBwhD-XreCJHHe_LlWZg7GwcErPeHNVMCQrJ3_pMGjQVqC8H_HrU745ZVcbiZJP34bX8lixZrtPEKIoK-WLsJM3m7a83G6jc-EIi26VAoukq5iw\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"created\":1509124270,\"updated\":1509124270,\"recoveryLevel\":\"Purgeable\"}}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/keys/JavaExtensionKey/?api-version=2016-10-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "www-authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : "[...]
