// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.migration.assessment.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.PagedFlux;
import com.azure.core.http.rest.PagedIterable;
import com.azure.core.http.rest.PagedResponse;
import com.azure.core.http.rest.PagedResponseBase;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.migration.assessment.fluent.AssessedSqlRecommendedEntityOperationsClient;
import com.azure.resourcemanager.migration.assessment.fluent.models.AssessedSqlRecommendedEntityInner;
import com.azure.resourcemanager.migration.assessment.models.AssessedSqlRecommendedEntityListResult;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in
 * AssessedSqlRecommendedEntityOperationsClient.
 */
public final class AssessedSqlRecommendedEntityOperationsClientImpl
    implements AssessedSqlRecommendedEntityOperationsClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final AssessedSqlRecommendedEntityOperationsService service;

    /**
     * The service client containing this operation class.
     */
    private final MigrationAssessmentManagementClientImpl client;

    /**
     * Initializes an instance of AssessedSqlRecommendedEntityOperationsClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    AssessedSqlRecommendedEntityOperationsClientImpl(MigrationAssessmentManagementClientImpl client) {
        this.service = RestProxy.create(AssessedSqlRecommendedEntityOperationsService.class, client.getHttpPipeline(),
            client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for
     * MigrationAssessmentManagementClientAssessedSqlRecommendedEntityOperations to be used by the proxy service to
     * perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "MigrationAssessmentM")
    public interface AssessedSqlRecommendedEntityOperationsService {
        @Headers({ "Content-Type: application/json" })
        @Get("/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments/{assessmentName}/recommendedAssessedEntities")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<AssessedSqlRecommendedEntityListResult>> listBySqlAssessmentV2(
            @HostParam("$host") String endpoint, @QueryParam("api-version") String apiVersion,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName, @QueryParam("$filter") String filter,
            @QueryParam("pageSize") Integer pageSize, @QueryParam("continuationToken") String continuationToken,
            @QueryParam("totalRecordCount") Integer totalRecordCount, @PathParam("projectName") String projectName,
            @PathParam("groupName") String groupName, @PathParam("assessmentName") String assessmentName,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Get("/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/sqlAssessments/{assessmentName}/recommendedAssessedEntities/{recommendedAssessedEntityName}")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<AssessedSqlRecommendedEntityInner>> get(@HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion, @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName, @PathParam("projectName") String projectName,
            @PathParam("groupName") String groupName, @PathParam("assessmentName") String assessmentName,
            @PathParam("recommendedAssessedEntityName") String recommendedAssessedEntityName,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Get("{nextLink}")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<AssessedSqlRecommendedEntityListResult>> listBySqlAssessmentV2Next(
            @PathParam(value = "nextLink", encoded = true) String nextLink, @HostParam("$host") String endpoint,
            @HeaderParam("Accept") String accept, Context context);
    }

    /**
     * List AssessedSqlRecommendedEntity resources by SqlAssessmentV2.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param projectName Assessment Project Name.
     * @param groupName Group ARM name.
     * @param assessmentName SQL Assessment arm name.
     * @param filter Filter query.
     * @param pageSize Optional parameter for page size.
     * @param continuationToken Optional parameter for continuation token.
     * @param totalRecordCount Total record count.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response of a AssessedSqlRecommendedEntity list operation along with {@link PagedResponse} on
     * successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<PagedResponse<AssessedSqlRecommendedEntityInner>> listBySqlAssessmentV2SinglePageAsync(
        String resourceGroupName, String projectName, String groupName, String assessmentName, String filter,
        Integer pageSize, String continuationToken, Integer totalRecordCount) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (projectName == null) {
            return Mono.error(new IllegalArgumentException("Parameter projectName is required and cannot be null."));
        }
        if (groupName == null) {
            return Mono.error(new IllegalArgumentException("Parameter groupName is required and cannot be null."));
        }
        if (assessmentName == null) {
            return Mono.error(new IllegalArgumentException("Parameter assessmentName is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.listBySqlAssessmentV2(this.client.getEndpoint(),
                this.client.getApiVersion(), this.client.getSubscriptionId(), resourceGroupName, filter, pageSize,
                continuationToken, totalRecordCount, projectName, groupName, assessmentName, accept, context))
            .<PagedResponse<AssessedSqlRecommendedEntityInner>>map(res -> new PagedResponseBase<>(res.getRequest(),
                res.getStatusCode(), res.getHeaders(), res.getValue().value(), res.getValue().nextLink(), null))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * List AssessedSqlRecommendedEntity resources by SqlAssessmentV2.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param projectName Assessment Project Name.
     * @param groupName Group ARM name.
     * @param assessmentName SQL Assessment arm name.
     * @param filter Filter query.
     * @param pageSize Optional parameter for page size.
     * @param continuationToken Optional parameter for continuation token.
     * @param totalRecordCount Total record count.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response of a AssessedSqlRecommendedEntity list operation along with {@link PagedResponse} on
     * successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<PagedResponse<AssessedSqlRecommendedEntityInner>> listBySqlAssessmentV2SinglePageAsync(
        String resourceGroupName, String projectName, String groupName, String assessmentName, String filter,
        Integer pageSize, String continuationToken, Integer totalRecordCount, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (projectName == null) {
            return Mono.error(new IllegalArgumentException("Parameter projectName is required and cannot be null."));
        }
        if (groupName == null) {
            return Mono.error(new IllegalArgumentException("Parameter groupName is required and cannot be null."));
        }
        if (assessmentName == null) {
            return Mono.error(new IllegalArgumentException("Parameter assessmentName is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .listBySqlAssessmentV2(this.client.getEndpoint(), this.client.getApiVersion(),
                this.client.getSubscriptionId(), resourceGroupName, filter, pageSize, continuationToken,
                totalRecordCount, projectName, groupName, assessmentName, accept, context)
            .map(res -> new PagedResponseBase<>(res.getRequest(), res.getStatusCode(), res.getHeaders(),
                res.getValue().value(), res.getValue().nextLink(), null));
    }

    /**
     * List AssessedSqlRecommendedEntity resources by SqlAssessmentV2.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param projectName Assessment Project Name.
     * @param groupName Group ARM name.
     * @param assessmentName SQL Assessment arm name.
     * @param filter Filter query.
     * @param pageSize Optional parameter for page size.
     * @param continuationToken Optional parameter for continuation token.
     * @param totalRecordCount Total record count.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response of a AssessedSqlRecommendedEntity list operation as paginated response with
     * {@link PagedFlux}.
     */
    @ServiceMethod(returns = ReturnType.COLLECTION)
    private PagedFlux<AssessedSqlRecommendedEntityInner> listBySqlAssessmentV2Async(String resourceGroupName,
        String projectName, String groupName, String assessmentName, String filter, Integer pageSize,
        String continuationToken, Integer totalRecordCount) {
        return new PagedFlux<>(
            () -> listBySqlAssessmentV2SinglePageAsync(resourceGroupName, projectName, groupName, assessmentName,
                filter, pageSize, continuationToken, totalRecordCount),
            nextLink -> listBySqlAssessmentV2NextSinglePageAsync(nextLink));
    }

    /**
     * List AssessedSqlRecommendedEntity resources by SqlAssessmentV2.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param projectName Assessment Project Name.
     * @param groupName Group ARM name.
     * @param assessmentName SQL Assessment arm name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response of a AssessedSqlRecommendedEntity list operation as paginated response with
     * {@link PagedFlux}.
     */
    @ServiceMethod(returns = ReturnType.COLLECTION)
    private PagedFlux<AssessedSqlRecommendedEntityInner> listBySqlAssessmentV2Async(String resourceGroupName,
        String projectName, String groupName, String assessmentName) {
        final String filter = null;
        final Integer pageSize = null;
        final String continuationToken = null;
        final Integer totalRecordCount = null;
        return new PagedFlux<>(
            () -> listBySqlAssessmentV2SinglePageAsync(resourceGroupName, projectName, groupName, assessmentName,
                filter, pageSize, continuationToken, totalRecordCount),
            nextLink -> listBySqlAssessmentV2NextSinglePageAsync(nextLink));
    }

    /**
     * List AssessedSqlRecommendedEntity resources by SqlAssessmentV2.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param projectName Assessment Project Name.
     * @param groupName Group ARM name.
     * @param assessmentName SQL Assessment arm name.
     * @param filter Filter query.
     * @param pageSize Optional parameter for page size.
     * @param continuationToken Optional parameter for continuation token.
     * @param totalRecordCount Total record count.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response of a AssessedSqlRecommendedEntity list operation as paginated response with
     * {@link PagedFlux}.
     */
    @ServiceMethod(returns = ReturnType.COLLECTION)
    private PagedFlux<AssessedSqlRecommendedEntityInner> listBySqlAssessmentV2Async(String resourceGroupName,
        String projectName, String groupName, String assessmentName, String filter, Integer pageSize,
        String continuationToken, Integer totalRecordCount, Context context) {
        return new PagedFlux<>(
            () -> listBySqlAssessmentV2SinglePageAsync(resourceGroupName, projectName, groupName, assessmentName,
                filter, pageSize, continuationToken, totalRecordCount, context),
            nextLink -> listBySqlAssessmentV2NextSinglePageAsync(nextLink, context));
    }

    /**
     * List AssessedSqlRecommendedEntity resources by SqlAssessmentV2.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param projectName Assessment Project Name.
     * @param groupName Group ARM name.
     * @param assessmentName SQL Assessment arm name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response of a AssessedSqlRecommendedEntity list operation as paginated response with
     * {@link PagedIterable}.
     */
    @ServiceMethod(returns = ReturnType.COLLECTION)
    public PagedIterable<AssessedSqlRecommendedEntityInner> listBySqlAssessmentV2(String resourceGroupName,
        String projectName, String groupName, String assessmentName) {
        final String filter = null;
        final Integer pageSize = null;
        final String continuationToken = null;
        final Integer totalRecordCount = null;
        return new PagedIterable<>(listBySqlAssessmentV2Async(resourceGroupName, projectName, groupName, assessmentName,
            filter, pageSize, continuationToken, totalRecordCount));
    }

    /**
     * List AssessedSqlRecommendedEntity resources by SqlAssessmentV2.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param projectName Assessment Project Name.
     * @param groupName Group ARM name.
     * @param assessmentName SQL Assessment arm name.
     * @param filter Filter query.
     * @param pageSize Optional parameter for page size.
     * @param continuationToken Optional parameter for continuation token.
     * @param totalRecordCount Total record count.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response of a AssessedSqlRecommendedEntity list operation as paginated response with
     * {@link PagedIterable}.
     */
    @ServiceMethod(returns = ReturnType.COLLECTION)
    public PagedIterable<AssessedSqlRecommendedEntityInner> listBySqlAssessmentV2(String resourceGroupName,
        String projectName, String groupName, String assessmentName, String filter, Integer pageSize,
        String continuationToken, Integer totalRecordCount, Context context) {
        return new PagedIterable<>(listBySqlAssessmentV2Async(resourceGroupName, projectName, groupName, assessmentName,
            filter, pageSize, continuationToken, totalRecordCount, context));
    }

    /**
     * Get a AssessedSqlRecommendedEntity.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param projectName Assessment Project Name.
     * @param groupName Group ARM name.
     * @param assessmentName SQL Assessment arm name.
     * @param recommendedAssessedEntityName Sql assessment Assessed Recommended Entity ARM name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a AssessedSqlRecommendedEntity along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<AssessedSqlRecommendedEntityInner>> getWithResponseAsync(String resourceGroupName,
        String projectName, String groupName, String assessmentName, String recommendedAssessedEntityName) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (projectName == null) {
            return Mono.error(new IllegalArgumentException("Parameter projectName is required and cannot be null."));
        }
        if (groupName == null) {
            return Mono.error(new IllegalArgumentException("Parameter groupName is required and cannot be null."));
        }
        if (assessmentName == null) {
            return Mono.error(new IllegalArgumentException("Parameter assessmentName is required and cannot be null."));
        }
        if (recommendedAssessedEntityName == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter recommendedAssessedEntityName is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.get(this.client.getEndpoint(), this.client.getApiVersion(),
                this.client.getSubscriptionId(), resourceGroupName, projectName, groupName, assessmentName,
                recommendedAssessedEntityName, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Get a AssessedSqlRecommendedEntity.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param projectName Assessment Project Name.
     * @param groupName Group ARM name.
     * @param assessmentName SQL Assessment arm name.
     * @param recommendedAssessedEntityName Sql assessment Assessed Recommended Entity ARM name.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a AssessedSqlRecommendedEntity along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<AssessedSqlRecommendedEntityInner>> getWithResponseAsync(String resourceGroupName,
        String projectName, String groupName, String assessmentName, String recommendedAssessedEntityName,
        Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (projectName == null) {
            return Mono.error(new IllegalArgumentException("Parameter projectName is required and cannot be null."));
        }
        if (groupName == null) {
            return Mono.error(new IllegalArgumentException("Parameter groupName is required and cannot be null."));
        }
        if (assessmentName == null) {
            return Mono.error(new IllegalArgumentException("Parameter assessmentName is required and cannot be null."));
        }
        if (recommendedAssessedEntityName == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter recommendedAssessedEntityName is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.get(this.client.getEndpoint(), this.client.getApiVersion(), this.client.getSubscriptionId(),
            resourceGroupName, projectName, groupName, assessmentName, recommendedAssessedEntityName, accept, context);
    }

    /**
     * Get a AssessedSqlRecommendedEntity.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param projectName Assessment Project Name.
     * @param groupName Group ARM name.
     * @param assessmentName SQL Assessment arm name.
     * @param recommendedAssessedEntityName Sql assessment Assessed Recommended Entity ARM name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a AssessedSqlRecommendedEntity on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<AssessedSqlRecommendedEntityInner> getAsync(String resourceGroupName, String projectName,
        String groupName, String assessmentName, String recommendedAssessedEntityName) {
        return getWithResponseAsync(resourceGroupName, projectName, groupName, assessmentName,
            recommendedAssessedEntityName).flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Get a AssessedSqlRecommendedEntity.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param projectName Assessment Project Name.
     * @param groupName Group ARM name.
     * @param assessmentName SQL Assessment arm name.
     * @param recommendedAssessedEntityName Sql assessment Assessed Recommended Entity ARM name.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a AssessedSqlRecommendedEntity along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<AssessedSqlRecommendedEntityInner> getWithResponse(String resourceGroupName, String projectName,
        String groupName, String assessmentName, String recommendedAssessedEntityName, Context context) {
        return getWithResponseAsync(resourceGroupName, projectName, groupName, assessmentName,
            recommendedAssessedEntityName, context).block();
    }

    /**
     * Get a AssessedSqlRecommendedEntity.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param projectName Assessment Project Name.
     * @param groupName Group ARM name.
     * @param assessmentName SQL Assessment arm name.
     * @param recommendedAssessedEntityName Sql assessment Assessed Recommended Entity ARM name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return a AssessedSqlRecommendedEntity.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public AssessedSqlRecommendedEntityInner get(String resourceGroupName, String projectName, String groupName,
        String assessmentName, String recommendedAssessedEntityName) {
        return getWithResponse(resourceGroupName, projectName, groupName, assessmentName, recommendedAssessedEntityName,
            Context.NONE).getValue();
    }

    /**
     * Get the next page of items.
     * 
     * @param nextLink The URL to get the next list of items.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response of a AssessedSqlRecommendedEntity list operation along with {@link PagedResponse} on
     * successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<PagedResponse<AssessedSqlRecommendedEntityInner>>
        listBySqlAssessmentV2NextSinglePageAsync(String nextLink) {
        if (nextLink == null) {
            return Mono.error(new IllegalArgumentException("Parameter nextLink is required and cannot be null."));
        }
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context -> service.listBySqlAssessmentV2Next(nextLink, this.client.getEndpoint(), accept, context))
            .<PagedResponse<AssessedSqlRecommendedEntityInner>>map(res -> new PagedResponseBase<>(res.getRequest(),
                res.getStatusCode(), res.getHeaders(), res.getValue().value(), res.getValue().nextLink(), null))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Get the next page of items.
     * 
     * @param nextLink The URL to get the next list of items.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response of a AssessedSqlRecommendedEntity list operation along with {@link PagedResponse} on
     * successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<PagedResponse<AssessedSqlRecommendedEntityInner>>
        listBySqlAssessmentV2NextSinglePageAsync(String nextLink, Context context) {
        if (nextLink == null) {
            return Mono.error(new IllegalArgumentException("Parameter nextLink is required and cannot be null."));
        }
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.listBySqlAssessmentV2Next(nextLink, this.client.getEndpoint(), accept, context)
            .map(res -> new PagedResponseBase<>(res.getRequest(), res.getStatusCode(), res.getHeaders(),
                res.getValue().value(), res.getValue().nextLink(), null));
    }
}
