// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.subscription.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.resourcemanager.subscription.fluent.BillingAccountsClient;
import com.azure.resourcemanager.subscription.fluent.models.BillingAccountPoliciesResponseInner;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in BillingAccountsClient.
 */
public final class BillingAccountsClientImpl implements BillingAccountsClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final BillingAccountsService service;

    /**
     * The service client containing this operation class.
     */
    private final SubscriptionClientImpl client;

    /**
     * Initializes an instance of BillingAccountsClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    BillingAccountsClientImpl(SubscriptionClientImpl client) {
        this.service
            = RestProxy.create(BillingAccountsService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for SubscriptionClientBillingAccounts to be used by the proxy service to
     * perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "SubscriptionClientBillingAccounts")
    public interface BillingAccountsService {
        @Headers({ "Content-Type: application/json" })
        @Get("/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Subscription/policies/default")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<BillingAccountPoliciesResponseInner>> getPolicy(@HostParam("$host") String endpoint,
            @PathParam("billingAccountId") String billingAccountId, @QueryParam("api-version") String apiVersion,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Get("/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Subscription/policies/default")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Response<BillingAccountPoliciesResponseInner> getPolicySync(@HostParam("$host") String endpoint,
            @PathParam("billingAccountId") String billingAccountId, @QueryParam("api-version") String apiVersion,
            @HeaderParam("Accept") String accept, Context context);
    }

    /**
     * Get Billing Account Policy.
     * 
     * @param billingAccountId Billing Account Id.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return billing Account Policy along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<BillingAccountPoliciesResponseInner>> getPolicyWithResponseAsync(String billingAccountId) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (billingAccountId == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter billingAccountId is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.getPolicy(this.client.getEndpoint(), billingAccountId,
                this.client.getApiVersion(), accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Get Billing Account Policy.
     * 
     * @param billingAccountId Billing Account Id.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return billing Account Policy on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<BillingAccountPoliciesResponseInner> getPolicyAsync(String billingAccountId) {
        return getPolicyWithResponseAsync(billingAccountId).flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Get Billing Account Policy.
     * 
     * @param billingAccountId Billing Account Id.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return billing Account Policy along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<BillingAccountPoliciesResponseInner> getPolicyWithResponse(String billingAccountId,
        Context context) {
        if (this.client.getEndpoint() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (billingAccountId == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter billingAccountId is required and cannot be null."));
        }
        final String accept = "application/json";
        return service.getPolicySync(this.client.getEndpoint(), billingAccountId, this.client.getApiVersion(), accept,
            context);
    }

    /**
     * Get Billing Account Policy.
     * 
     * @param billingAccountId Billing Account Id.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return billing Account Policy.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public BillingAccountPoliciesResponseInner getPolicy(String billingAccountId) {
        return getPolicyWithResponse(billingAccountId, Context.NONE).getValue();
    }

    private static final ClientLogger LOGGER = new ClientLogger(BillingAccountsClientImpl.class);
}
