{
    "networkCallRecords": [
        {
            "Method": "PUT",
            "Uri": "https://account.purview.azure.com/share/sentShares/b4f5e12f-3609-4987-a8b1-27fa8da31705?api-version=2023-05-30-preview",
            "Headers": {
                "content-type": "application/json"
            },
            "Response": {
                "Operation-Id": "https://account.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-05-30-preview",
                "retry-after": "0",
                "StatusCode": "201",
                "Operation-Location": "https://account.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-05-30-preview",
                "Body": "{\"properties\":{\"displayName\":\"sentshare91328942643\",\"description\":\"A sample share\",\"artifact\":{\"properties\":{\"paths\":[{\"containerName\":\"test-files\",\"senderPath\":\"graph.png\",\"receiverPath\":\"graph.png\"}],\"location\":\"uksouth\"},\"storeKind\":\"BlobAccount\",\"storeReference\":{\"referenceName\":\"/subscriptions/8af54e97-8629-48cd-A92e-24753982bf92/resourceGroups/my-resource-group/providers/Microsoft.Storage/storageAccounts/providerstorage\",\"type\":\"ArmResourceReference\"}},\"state\":\"Succeeded\",\"createdAt\":\"2023-06-01T14:59:42.087264Z\",\"dependsOn\":[],\"senderName\":\"sharing-app-1\",\"senderTenantName\":\"Microsoft\"},\"shareKind\":\"InPlace\",\"id\":\"b4f5e12f-3609-4987-a8b1-27fa8da31705\",\"type\":\"SentShare\"}",
                "Location": "/sentShares/b4f5e12f-3609-4987-a8b1-27fa8da31705/b4f5e12f-3609-4987-a8b1-27fa8da31705",
                "Content-Type": "application/json; charset=utf-8"
            },
            "Exception": null
        },
        {
            "Method": "GET",
            "Uri": "https://account.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-05-30-preview",
            "Headers": {
            },
            "Response": {
                "retry-after": "0",
                "StatusCode": "200",
                "Body": "{\"id\":\"00000000-0000-0000-0000-000000000000\",\"startTime\":\"2023-06-01T14:59:43.5500506Z\",\"endTime\":\"2023-06-01T14:59:43.5500506Z\",\"status\":\"Succeeded\",\"error\":null}",
                "Content-Type": "application/json; charset=utf-8"
            },
            "Exception": null
        },
[...]
        {
            "Method": "PUT",
            "Uri": "https://account.purview.azure.com/share/sentShares/b4f5e12f-3609-4987-a8b1-27fa8da31705/sentShareInvitations/6a81865d-a01d-4e83-b041-e29b5361485e?api-version=2023-05-30-preview",
            "Headers": {
                "content-type": "application/json"
            },
            "Response": {
                "retry-after": "0",
                "StatusCode": "201",
                "Body": "{\"properties\":{\"targetActiveDirectoryId\":\"4653a7b2-02ff-4155-8e55-2d0c7f3178a1\",\"targetObjectId\":\"789516ef-5d52-4d56-806d-3ab2d49b0356\",\"shareStatus\":\"Detached\",\"sentAt\":\"2023-06-01T14:59:44.1354849Z\",\"senderName\":\"sharing-app-1\",\"senderTenantName\":\"Microsoft\",\"state\":\"Succeeded\"},\"invitationKind\":\"Service\",\"id\":\"6a81865d-a01d-4e83-b041-e29b5361485e\",\"type\":\"sentShares/sentShareInvitations\"}",
                "Location": "/sentShares/b4f5e12f-3609-4987-a8b1-27fa8da31705/sentShareInvitations/6a81865d-a01d-4e83-b041-e29b5361485e/6a81865d-a01d-4e83-b041-e29b5361485e",
                "Content-Type": "application/json; charset=utf-8"
            },
            "Exception": null
        },
        {
            "Method": "GET",
            "Uri": "https://account.purview.azure.com/share/receivedShares/detached?api-version=2023-05-30-preview&%24orderBy=properties/createdAt%20desc",
            "Headers": {
            },
            "Response": {
                "retry-after": "0",
                "StatusCode": "200",
                "Body": "{\"value\":[{\"properties\":{\"createdAt\":\"2023-06-01T14:59:44.1354849Z\",\"sharedAt\":\"2023-06-01T14:59:44.1354849Z\",\"displayName\":\"sentshare91328942643\",\"state\":\"Succeeded\",\"shareStatus\":\"Detached\",\"sentShareDescription\":\"A sample share\",\"senderName\":\"sharing-app-1\",\"senderTenantName\":\"Microsoft\",\"assetLocation\":\"uksouth\",\"assetStoreKind\":\"BlobAccount\"},\"shareKind\":\"InPlace\",\"id\":\"2c8888bc-55b5-4cb1-88e0-0a952589a925\",\"type\":\"ReceivedShare\"},{\"properties\":{\"createdAt\":\"2023-06-01T14:59:34.9554273Z\",\"sharedAt\":\"2023-06-01T14:59:34.9554273Z\",\"displayName\":\"sentshare86460fa6eb5\",\"state\":\"Succeeded\",\"shareStatus\":\"Detached\",\"sentShareDescription\":\"A sample share\",\"senderName\":\"sharing-app-1\",\"senderTenantName\":\"Microsoft\",\"assetLocation\":\"uksouth\",\"assetStoreKind\":\"BlobAccount\"}[...]
        {
            "Method": "PUT",
            "Uri": "https://account.purview.azure.com/share/receivedShares/2c8888bc-55b5-4cb1-88e0-0a952589a925?api-version=2023-05-30-preview",
            "Headers": {
                "content-type": "application/json"
            },
            "Response": {
                "Operation-Id": "https://account.purview.azure.com/share/operationResults/a3652b4c-d807-4cf4-b9a3-6bce8e33cd56?api-version=2023-05-30-preview",
                "retry-after": "0",
                "StatusCode": "201",
                "Operation-Location": "https://account.purview.azure.com/share/operationResults/a3652b4c-d807-4cf4-b9a3-6bce8e33cd56?api-version=2023-05-30-preview",
                "Body": "{\"properties\":{\"createdAt\":\"2023-06-01T14:59:44.1354849Z\",\"sharedAt\":\"2023-06-01T14:59:44.1354849Z\",\"displayName\":\"sentshare91328942643\",\"state\":\"Creating\",\"shareStatus\":\"Attached\",\"sentShareDescription\":\"A sample share\",\"receiverName\":\"sharing-app-1\",\"receiverTenantName\":\"Microsoft\",\"senderName\":\"sharing-app-1\",\"senderTenantName\":\"Microsoft\",\"assetLocation\":\"uksouth\",\"assetStoreKind\":\"BlobAccount\",\"sink\":{\"properties\":{\"containerName\":\"container943177a5b07\",\"folder\":\"folder9471293a4\",\"mountPath\":\"mountpath855739f6\",\"location\":\"uksouth\"},\"storeKind\":\"BlobAccount\",\"storeReference\":{\"referenceName\":\"/subscriptions/8af54e97-8629-48cd-A92e-24753982bf92/resourceGroups/my-resource-group/providers/Microsoft.Storage/storageAccounts/consumerstorage\",\"type\":\"ArmResourceReference\"}}},\"shareKind\":\"InPlace\",\"id\":\"2c8888bc-55b5-4cb1-88e0-0a952589a925\",\"type\":\"ReceivedShare\"}",
                "Location": "/receivedShares/2c8888bc-55b5-4cb1-88e0-0a952589a925/2c8888bc-55b5-4cb1-88e0-0a952589a925",
                "Content-Type": "application/json; charset=utf-8"
            },
            "Exception": null
        },
[...]
        {
            "Method": "GET",
            "Uri": "https://account.purview.azure.com/share/operationResults/a3652b4c-d807-4cf4-b9a3-6bce8e33cd56?api-version=2023-05-30-preview",
            "Headers": {
            },
            "Response": {
                "retry-after": "0",
                "StatusCode": "200",
                "Body": "{\"id\":\"a3652b4c-d807-4cf4-b9a3-6bce8e33cd56\",\"startTime\":\"2023-06-01T14:59:46.6113199Z\",\"endTime\":null,\"status\":\"Succeeded\",\"error\":null}",
                "Content-Type": "application/json; charset=utf-8"
            },
            "Exception": null
        }
    ],
    "variables": [
        "b4f5e12f-3609-4987-a8b1-27fa8da31705",
        "6a81865d-a01d-4e83-b041-e29b5361485e",
        "sentshare91328942643",
        "container943177a5b07",
        "folder9471293a4",
        "mountpath855739f6"
    ]
}