{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://account.purview.azure.com/share/sentShares/b4de3e25-3d46-4cb0-b1d2-2c45e4ae37b2?api-version=2023-02-15-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Operation-Id" : "https://account.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-15-preview",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Operation-Location" : "https://account.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-15-preview",
      "Body" : "{\"properties\":{\"displayName\":\"sentshare97666583040\",\"description\":\"A sample share\",\"artifact\":{\"properties\":{\"paths\":[{\"containerName\":\"test-files\",\"senderPath\":\"graph.png\",\"receiverPath\":\"graph.png\"}],\"location\":\"japaneast\"},\"storeKind\":\"BlobAccount\",\"storeReference\":{\"referenceName\":\"/subscriptions/8af54e97-8629-48cd-A92e-24753982bf92/resourceGroups/my-resource-group/providers/Microsoft.Storage/storageAccounts/providerstorage\",\"type\":\"ArmResourceReference\"}},\"state\":\"Succeeded\",\"createdAt\":\"2023-02-23T22:01:04.7118032Z\",\"dependsOn\":[],\"senderName\":\"my-share-app\",\"senderTenantName\":\"Contoso\"},\"shareKind\":\"InPlace\",\"id\":\"b4de3e25-3d46-4cb0-b1d2-2c45e4ae37b2\",\"type\":\"SentShare\"}",
      "Location" : "/sentShares/b4de3e25-3d46-4cb0-b1d2-2c45e4ae37b2/b4de3e25-3d46-4cb0-b1d2-2c45e4ae37b2",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://account.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-15-preview",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"startTime\":\"2023-02-23T22:01:06.2517529Z\",\"endTime\":\"2023-02-23T22:01:06.2517529Z\",\"status\":\"Succeeded\",\"error\":null}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://account.purview.azure.com/share/operationResults/822f825f-d2f6-4ecb-9b51-0b0ef88336ad?api-version=2023-02-15-preview",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"startTime\":\"2023-02-23T22:01:06.5830432Z\",\"endTime\":null,\"status\":\"Succeeded\",\"error\":null}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "b4de3e25-3d46-4cb0-b1d2-2c45e4ae37b2", "sentshare97666583040" ]
}