{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://account.purview.azure.com/share/sentShares/7fe61554-f438-447d-9c2e-fe38179c8dfc?api-version=2023-05-30-preview",
    "Headers" : {
      "content-type" : "application/json"
    },
    "Response" : {
      "Operation-Id" : "https://account.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-05-30-preview",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Operation-Location" : "https://account.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-05-30-preview",
      "Body" : "{\"properties\":{\"displayName\":\"sentshare2031791b047\",\"description\":\"A sample share\",\"artifact\":{\"properties\":{\"paths\":[{\"containerName\":\"test-files\",\"senderPath\":\"graph.png\",\"receiverPath\":\"graph.png\"}],\"location\":\"uksouth\"},\"storeKind\":\"BlobAccount\",\"storeReference\":{\"referenceName\":\"/subscriptions/8af54e97-8629-48cd-A92e-24753982bf92/resourceGroups/my-resource-group/providers/Microsoft.Storage/storageAccounts/providerstorage\",\"type\":\"ArmResourceReference\"}},\"state\":\"Succeeded\",\"createdAt\":\"2023-06-01T15:01:42.7085604Z\",\"dependsOn\":[],\"senderName\":\"sharing-app-1\",\"senderTenantName\":\"Microsoft\"},\"shareKind\":\"InPlace\",\"id\":\"7fe61554-f438-447d-9c2e-fe38179c8dfc\",\"type\":\"SentShare\"}",
      "Location" : "/sentShares/7fe61554-f438-447d-9c2e-fe38179c8dfc/7fe61554-f438-447d-9c2e-fe38179c8dfc",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://account.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-05-30-preview",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"id\":\"00000000-0000-0000-0000-000000000000\",\"startTime\":\"2023-06-01T15:01:44.1428523Z\",\"endTime\":\"2023-06-01T15:01:44.1428523Z\",\"status\":\"Succeeded\",\"error\":null}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://account.purview.azure.com/share/sentShares/7fe61554-f438-447d-9c2e-fe38179c8dfc?api-version=2023-05-30-preview",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"properties\":{\"displayName\":\"sentshare2031791b047\",\"description\":\"A sample share\",\"artifact\":{\"properties\":{\"paths\":[{\"containerName\":\"test-files\",\"senderPath\":\"graph.png\",\"receiverPath\":\"graph.png\"}],\"location\":\"uksouth\"},\"storeKind\":\"BlobAccount\",\"storeReference\":{\"referenceName\":\"/subscriptions/8af54e97-8629-48cd-A92e-24753982bf92/resourceGroups/my-resource-group/providers/Microsoft.Storage/storageAccounts/providerstorage\",\"type\":\"ArmResourceReference\"}},\"state\":\"Succeeded\",\"createdAt\":\"2023-06-01T15:01:42.7085604Z\",\"dependsOn\":[],\"senderName\":\"sharing-app-1\",\"senderTenantName\":\"Microsoft\"},\"shareKind\":\"InPlace\",\"id\":\"7fe61554-f438-447d-9c2e-fe38179c8dfc\",\"type\":\"SentShare\"}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "7fe61554-f438-447d-9c2e-fe38179c8dfc", "sentshare2031791b047" ]
}