// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.reservations.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.reservations.fluent.ResourceProvidersClient;
import com.azure.resourcemanager.reservations.fluent.models.AppliedReservationsInner;
import com.azure.resourcemanager.reservations.fluent.models.CatalogInner;
import java.util.List;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in ResourceProvidersClient. */
public final class ResourceProvidersClientImpl implements ResourceProvidersClient {
    /** The proxy service used to perform REST calls. */
    private final ResourceProvidersService service;

    /** The service client containing this operation class. */
    private final AzureReservationApiImpl client;

    /**
     * Initializes an instance of ResourceProvidersClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    ResourceProvidersClientImpl(AzureReservationApiImpl client) {
        this.service =
            RestProxy.create(ResourceProvidersService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for AzureReservationApiResourceProviders to be used by the proxy service
     * to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "AzureReservationApiR")
    private interface ResourceProvidersService {
        @Headers({"Content-Type: application/json"})
        @Get("/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/catalogs")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<List<CatalogInner>>> getCatalog(
            @HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion,
            @PathParam("subscriptionId") String subscriptionId,
            @QueryParam("reservedResourceType") String reservedResourceType,
            @QueryParam("location") String location,
            @QueryParam("publisherId") String publisherId,
            @QueryParam("offerId") String offerId,
            @QueryParam("planId") String planId,
            @HeaderParam("Accept") String accept,
            Context context);

        @Headers({"Content-Type: application/json"})
        @Get("/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/appliedReservations")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<AppliedReservationsInner>> getAppliedReservationList(
            @HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion,
            @PathParam("subscriptionId") String subscriptionId,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Get the regions and skus that are available for RI purchase for the specified Azure subscription.
     *
     * @param subscriptionId Id of the subscription.
     * @param reservedResourceType The type of the resource for which the skus should be provided.
     * @param location Filters the skus based on the location specified in this parameter. This can be an azure region
     *     or global.
     * @param publisherId Publisher id used to get the third party products.
     * @param offerId Offer id used to get the third party products.
     * @param planId Plan id used to get the third party products.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the regions and skus that are available for RI purchase for the specified Azure subscription along with
     *     {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<List<CatalogInner>>> getCatalogWithResponseAsync(
        String subscriptionId,
        String reservedResourceType,
        String location,
        String publisherId,
        String offerId,
        String planId) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (subscriptionId == null) {
            return Mono.error(new IllegalArgumentException("Parameter subscriptionId is required and cannot be null."));
        }
        final String apiVersion = "2022-03-01";
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .getCatalog(
                            this.client.getEndpoint(),
                            apiVersion,
                            subscriptionId,
                            reservedResourceType,
                            location,
                            publisherId,
                            offerId,
                            planId,
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Get the regions and skus that are available for RI purchase for the specified Azure subscription.
     *
     * @param subscriptionId Id of the subscription.
     * @param reservedResourceType The type of the resource for which the skus should be provided.
     * @param location Filters the skus based on the location specified in this parameter. This can be an azure region
     *     or global.
     * @param publisherId Publisher id used to get the third party products.
     * @param offerId Offer id used to get the third party products.
     * @param planId Plan id used to get the third party products.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the regions and skus that are available for RI purchase for the specified Azure subscription along with
     *     {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<List<CatalogInner>>> getCatalogWithResponseAsync(
        String subscriptionId,
        String reservedResourceType,
        String location,
        String publisherId,
        String offerId,
        String planId,
        Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (subscriptionId == null) {
            return Mono.error(new IllegalArgumentException("Parameter subscriptionId is required and cannot be null."));
        }
        final String apiVersion = "2022-03-01";
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .getCatalog(
                this.client.getEndpoint(),
                apiVersion,
                subscriptionId,
                reservedResourceType,
                location,
                publisherId,
                offerId,
                planId,
                accept,
                context);
    }

    /**
     * Get the regions and skus that are available for RI purchase for the specified Azure subscription.
     *
     * @param subscriptionId Id of the subscription.
     * @param reservedResourceType The type of the resource for which the skus should be provided.
     * @param location Filters the skus based on the location specified in this parameter. This can be an azure region
     *     or global.
     * @param publisherId Publisher id used to get the third party products.
     * @param offerId Offer id used to get the third party products.
     * @param planId Plan id used to get the third party products.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the regions and skus that are available for RI purchase for the specified Azure subscription on
     *     successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<List<CatalogInner>> getCatalogAsync(
        String subscriptionId,
        String reservedResourceType,
        String location,
        String publisherId,
        String offerId,
        String planId) {
        return getCatalogWithResponseAsync(subscriptionId, reservedResourceType, location, publisherId, offerId, planId)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Get the regions and skus that are available for RI purchase for the specified Azure subscription.
     *
     * @param subscriptionId Id of the subscription.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the regions and skus that are available for RI purchase for the specified Azure subscription on
     *     successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<List<CatalogInner>> getCatalogAsync(String subscriptionId) {
        final String reservedResourceType = null;
        final String location = null;
        final String publisherId = null;
        final String offerId = null;
        final String planId = null;
        return getCatalogWithResponseAsync(subscriptionId, reservedResourceType, location, publisherId, offerId, planId)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Get the regions and skus that are available for RI purchase for the specified Azure subscription.
     *
     * @param subscriptionId Id of the subscription.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the regions and skus that are available for RI purchase for the specified Azure subscription.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public List<CatalogInner> getCatalog(String subscriptionId) {
        final String reservedResourceType = null;
        final String location = null;
        final String publisherId = null;
        final String offerId = null;
        final String planId = null;
        return getCatalogAsync(subscriptionId, reservedResourceType, location, publisherId, offerId, planId).block();
    }

    /**
     * Get the regions and skus that are available for RI purchase for the specified Azure subscription.
     *
     * @param subscriptionId Id of the subscription.
     * @param reservedResourceType The type of the resource for which the skus should be provided.
     * @param location Filters the skus based on the location specified in this parameter. This can be an azure region
     *     or global.
     * @param publisherId Publisher id used to get the third party products.
     * @param offerId Offer id used to get the third party products.
     * @param planId Plan id used to get the third party products.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the regions and skus that are available for RI purchase for the specified Azure subscription along with
     *     {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<List<CatalogInner>> getCatalogWithResponse(
        String subscriptionId,
        String reservedResourceType,
        String location,
        String publisherId,
        String offerId,
        String planId,
        Context context) {
        return getCatalogWithResponseAsync(
                subscriptionId, reservedResourceType, location, publisherId, offerId, planId, context)
            .block();
    }

    /**
     * Get list of applicable `Reservation`s.
     *
     * <p>Get applicable `Reservation`s that are applied to this subscription or a resource group under this
     * subscription.
     *
     * @param subscriptionId Id of the subscription.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return applicable `Reservation`s that are applied to this subscription or a resource group under this
     *     subscription along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<AppliedReservationsInner>> getAppliedReservationListWithResponseAsync(String subscriptionId) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (subscriptionId == null) {
            return Mono.error(new IllegalArgumentException("Parameter subscriptionId is required and cannot be null."));
        }
        final String apiVersion = "2022-03-01";
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .getAppliedReservationList(
                            this.client.getEndpoint(), apiVersion, subscriptionId, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Get list of applicable `Reservation`s.
     *
     * <p>Get applicable `Reservation`s that are applied to this subscription or a resource group under this
     * subscription.
     *
     * @param subscriptionId Id of the subscription.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return applicable `Reservation`s that are applied to this subscription or a resource group under this
     *     subscription along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<AppliedReservationsInner>> getAppliedReservationListWithResponseAsync(
        String subscriptionId, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (subscriptionId == null) {
            return Mono.error(new IllegalArgumentException("Parameter subscriptionId is required and cannot be null."));
        }
        final String apiVersion = "2022-03-01";
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .getAppliedReservationList(this.client.getEndpoint(), apiVersion, subscriptionId, accept, context);
    }

    /**
     * Get list of applicable `Reservation`s.
     *
     * <p>Get applicable `Reservation`s that are applied to this subscription or a resource group under this
     * subscription.
     *
     * @param subscriptionId Id of the subscription.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return applicable `Reservation`s that are applied to this subscription or a resource group under this
     *     subscription on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<AppliedReservationsInner> getAppliedReservationListAsync(String subscriptionId) {
        return getAppliedReservationListWithResponseAsync(subscriptionId)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Get list of applicable `Reservation`s.
     *
     * <p>Get applicable `Reservation`s that are applied to this subscription or a resource group under this
     * subscription.
     *
     * @param subscriptionId Id of the subscription.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return applicable `Reservation`s that are applied to this subscription or a resource group under this
     *     subscription.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public AppliedReservationsInner getAppliedReservationList(String subscriptionId) {
        return getAppliedReservationListAsync(subscriptionId).block();
    }

    /**
     * Get list of applicable `Reservation`s.
     *
     * <p>Get applicable `Reservation`s that are applied to this subscription or a resource group under this
     * subscription.
     *
     * @param subscriptionId Id of the subscription.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return applicable `Reservation`s that are applied to this subscription or a resource group under this
     *     subscription along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<AppliedReservationsInner> getAppliedReservationListWithResponse(
        String subscriptionId, Context context) {
        return getAppliedReservationListWithResponseAsync(subscriptionId, context).block();
    }
}
