// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.healthcareapis.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.resourcemanager.healthcareapis.fluent.OperationResultsClient;
import com.azure.resourcemanager.healthcareapis.fluent.models.OperationResultsDescriptionInner;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in OperationResultsClient. */
public final class OperationResultsClientImpl implements OperationResultsClient {
    private final ClientLogger logger = new ClientLogger(OperationResultsClientImpl.class);

    /** The proxy service used to perform REST calls. */
    private final OperationResultsService service;

    /** The service client containing this operation class. */
    private final HealthcareApisManagementClientImpl client;

    /**
     * Initializes an instance of OperationResultsClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    OperationResultsClientImpl(HealthcareApisManagementClientImpl client) {
        this.service =
            RestProxy.create(OperationResultsService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for HealthcareApisManagementClientOperationResults to be used by the
     * proxy service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "HealthcareApisManage")
    private interface OperationResultsService {
        @Headers({"Content-Type: application/json"})
        @Get(
            "/subscriptions/{subscriptionId}/providers/Microsoft.HealthcareApis/locations/{locationName}"
                + "/operationresults/{operationResultId}")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<OperationResultsDescriptionInner>> get(
            @HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("locationName") String locationName,
            @PathParam("operationResultId") String operationResultId,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Get the operation result for a long running operation.
     *
     * @param locationName The location of the operation.
     * @param operationResultId The ID of the operation result to get.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the operation result for a long running operation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<OperationResultsDescriptionInner>> getWithResponseAsync(
        String locationName, String operationResultId) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (locationName == null) {
            return Mono.error(new IllegalArgumentException("Parameter locationName is required and cannot be null."));
        }
        if (operationResultId == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter operationResultId is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .get(
                            this.client.getEndpoint(),
                            this.client.getApiVersion(),
                            this.client.getSubscriptionId(),
                            locationName,
                            operationResultId,
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Get the operation result for a long running operation.
     *
     * @param locationName The location of the operation.
     * @param operationResultId The ID of the operation result to get.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the operation result for a long running operation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<OperationResultsDescriptionInner>> getWithResponseAsync(
        String locationName, String operationResultId, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (locationName == null) {
            return Mono.error(new IllegalArgumentException("Parameter locationName is required and cannot be null."));
        }
        if (operationResultId == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter operationResultId is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .get(
                this.client.getEndpoint(),
                this.client.getApiVersion(),
                this.client.getSubscriptionId(),
                locationName,
                operationResultId,
                accept,
                context);
    }

    /**
     * Get the operation result for a long running operation.
     *
     * @param locationName The location of the operation.
     * @param operationResultId The ID of the operation result to get.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the operation result for a long running operation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<OperationResultsDescriptionInner> getAsync(String locationName, String operationResultId) {
        return getWithResponseAsync(locationName, operationResultId)
            .flatMap(
                (Response<OperationResultsDescriptionInner> res) -> {
                    if (res.getValue() != null) {
                        return Mono.just(res.getValue());
                    } else {
                        return Mono.empty();
                    }
                });
    }

    /**
     * Get the operation result for a long running operation.
     *
     * @param locationName The location of the operation.
     * @param operationResultId The ID of the operation result to get.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the operation result for a long running operation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public OperationResultsDescriptionInner get(String locationName, String operationResultId) {
        return getAsync(locationName, operationResultId).block();
    }

    /**
     * Get the operation result for a long running operation.
     *
     * @param locationName The location of the operation.
     * @param operationResultId The ID of the operation result to get.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the operation result for a long running operation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<OperationResultsDescriptionInner> getWithResponse(
        String locationName, String operationResultId, Context context) {
        return getWithResponseAsync(locationName, operationResultId, context).block();
    }
}
