// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.quota.fluent;

import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.http.rest.Response;
import com.azure.core.util.Context;
import com.azure.resourcemanager.quota.fluent.models.ResourceProvidersListInner;

/** An instance of this class provides access to all the operations defined in QuotaResourceProvidersClient. */
public interface QuotaResourceProvidersClient {
    /**
     * Gets the list of current resource providers supported by the Microsoft.Quota resource provider. For each resource
     * provider, the resource templates the resource provider supports are be provided. For each resource template, the
     * resource dimensions are listed. The resource dimensions are the name-value pairs in the resource URI.
     * Example: Microsoft.Compute Resource Provider The URI template is
     * '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{locationId}/quotaBucket'. The actual
     * dimensions vary depending on the resource provider. The resource dimensions are
     * {subscriptions},{locations},{quotaBucket}.
     *
     * @throws com.azure.core.management.exception.ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the list of current resource providers supported by the Microsoft.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    ResourceProvidersListInner list();

    /**
     * Gets the list of current resource providers supported by the Microsoft.Quota resource provider. For each resource
     * provider, the resource templates the resource provider supports are be provided. For each resource template, the
     * resource dimensions are listed. The resource dimensions are the name-value pairs in the resource URI.
     * Example: Microsoft.Compute Resource Provider The URI template is
     * '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{locationId}/quotaBucket'. The actual
     * dimensions vary depending on the resource provider. The resource dimensions are
     * {subscriptions},{locations},{quotaBucket}.
     *
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws com.azure.core.management.exception.ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the list of current resource providers supported by the Microsoft.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    Response<ResourceProvidersListInner> listWithResponse(Context context);
}
