// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.newrelicobservability.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Post;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.resourcemanager.newrelicobservability.fluent.SaaSClient;
import com.azure.resourcemanager.newrelicobservability.fluent.models.SaaSResourceDetailsResponseInner;
import com.azure.resourcemanager.newrelicobservability.models.ActivateSaaSParameterRequest;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in SaaSClient.
 */
public final class SaaSClientImpl implements SaaSClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final SaaSService service;

    /**
     * The service client containing this operation class.
     */
    private final NewRelicObservabilityImpl client;

    /**
     * Initializes an instance of SaaSClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    SaaSClientImpl(NewRelicObservabilityImpl client) {
        this.service = RestProxy.create(SaaSService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for NewRelicObservabilitySaaS to be used by the proxy service to perform
     * REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "NewRelicObservabilitySaaS")
    public interface SaaSService {
        @Headers({ "Content-Type: application/json" })
        @Post("/subscriptions/{subscriptionId}/providers/NewRelic.Observability/activateSaaS")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<SaaSResourceDetailsResponseInner>> activateResource(@HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion, @PathParam("subscriptionId") String subscriptionId,
            @BodyParam("application/json") ActivateSaaSParameterRequest request, @HeaderParam("Accept") String accept,
            Context context);

        @Headers({ "Content-Type: application/json" })
        @Post("/subscriptions/{subscriptionId}/providers/NewRelic.Observability/activateSaaS")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Response<SaaSResourceDetailsResponseInner> activateResourceSync(@HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion, @PathParam("subscriptionId") String subscriptionId,
            @BodyParam("application/json") ActivateSaaSParameterRequest request, @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Resolve the token to get the SaaS resource ID and activate the SaaS resource.
     * 
     * @param request The request body.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return marketplace SaaS resource details along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<SaaSResourceDetailsResponseInner>>
        activateResourceWithResponseAsync(ActivateSaaSParameterRequest request) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (request == null) {
            return Mono.error(new IllegalArgumentException("Parameter request is required and cannot be null."));
        } else {
            request.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.activateResource(this.client.getEndpoint(), this.client.getApiVersion(),
                this.client.getSubscriptionId(), request, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Resolve the token to get the SaaS resource ID and activate the SaaS resource.
     * 
     * @param request The request body.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return marketplace SaaS resource details on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<SaaSResourceDetailsResponseInner> activateResourceAsync(ActivateSaaSParameterRequest request) {
        return activateResourceWithResponseAsync(request).flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Resolve the token to get the SaaS resource ID and activate the SaaS resource.
     * 
     * @param request The request body.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return marketplace SaaS resource details along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<SaaSResourceDetailsResponseInner> activateResourceWithResponse(ActivateSaaSParameterRequest request,
        Context context) {
        if (this.client.getEndpoint() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (request == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter request is required and cannot be null."));
        } else {
            request.validate();
        }
        final String accept = "application/json";
        return service.activateResourceSync(this.client.getEndpoint(), this.client.getApiVersion(),
            this.client.getSubscriptionId(), request, accept, context);
    }

    /**
     * Resolve the token to get the SaaS resource ID and activate the SaaS resource.
     * 
     * @param request The request body.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return marketplace SaaS resource details.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public SaaSResourceDetailsResponseInner activateResource(ActivateSaaSParameterRequest request) {
        return activateResourceWithResponse(request, Context.NONE).getValue();
    }

    private static final ClientLogger LOGGER = new ClientLogger(SaaSClientImpl.class);
}
