{
  "networkCallRecords" : [ {
    "Method" : "HEAD",
    "Uri" : "https://sanjbatch.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS?api-version=2024-02-01.19.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://sanjbatch.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sanjbatch.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Fri, 29 Mar 2024 06:09:19 GMT",
      "etag" : "0x8DC4FB6C542F786",
      "location" : "https://sanjbatch.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://sanjbatch.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS?api-version=2024-02-01.19.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 29 Mar 2024 06:09:19 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8DC4FB6C542F786",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sanjbatch.eastus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"BatchUser-CRUDPaaS\",\"url\":\"https://sanjbatch.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS\",\"eTag\":\"0x8DC4FB6C542F786\",\"lastModified\":\"2024-03-29T06:09:19.1910278Z\",\"creationTime\":\"2024-03-29T06:09:19.1910262Z\",\"state\":\"active\",\"stateTransitionTime\":\"2024-03-29T06:09:19.1910262Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2024-03-29T06:09:19.1910278Z\",\"vmSize\":\"standard_d1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":3,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"userAccounts\":[\r\n    {\r\n      \"name\":\"test-user-1\",\"elevationLevel\":\"nonadmin\"\r\n    },{\r\n      \"name\":\"test-user-2\",\"elevationLevel\":\"admin\"\r\n    }\r\n  ],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n    \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-LTS\",\"version\":\"latest\"\r\n    },\"nodeAgentSKUId\":\"batch.node.ubuntu 18.04\"\r\n  }\r\n}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://sanjbatch.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sanjbatch.eastus.batch.azure.com/$metadata#pools\",\"value\":[\r\n    {\r\n      \"id\":\"BatchUser-CRUDPaaS\",\"url\":\"https://sanjbatch.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS\",\"eTag\":\"0x8DC4FB6C542F786\",\"lastModified\":\"2024-03-29T06:09:19.1910278Z\",\"creationTime\":\"2024-03-29T06:09:19.1910262Z\",\"state\":\"active\",\"stateTransitionTime\":\"2024-03-29T06:09:19.1910262Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2024-03-29T06:11:23.1392306Z\",\"vmSize\":\"standard_d1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":3,\"targetDedicatedNodes\":3,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"userAccounts\":[\r\n        {\r\n          \"name\":\"test-user-1\",\"elevationLevel\":\"nonadmin\"\r\n        },{\r\n          \"name\":\"test-user-2\",\"elevationLevel\":\"admin\"\r\n        }\r\n      ],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n        \"nodeFillType\":\"Spread\"\r\n      },\"virtualMachineConfiguration\":{\r\n        \"imageReference\":{\r\n          \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-LTS\",\"version\":\"latest\"\r\n        },\"nodeAgentSKUId\":\"batch.node.ubuntu 18.04\"\r\n      },\"currentNodeCommunicationMode\":\"classic\"\r\n    },{\r\n      \"id\":\"BatchUser-testIaaSpool\",\"url\":\"https://sanjbatch.eastus.batch.azure.com/pools/BatchUser-testIaaSpool\",\"eTag\":\"0x8DC4EF1A70E8585\",\"lastModified\":\"2024-03-28T06:38:17.6599429Z\",\"creationTime\":\"2024-03-28T06:38:17.6599416Z\",\"state\":\"active\",\"stateTransitionTime\":\"2024-03-28T06:38:17.6599416Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2024-03-28T06:40:36.6261036Z\",\"vmSize\":\"standard_d1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":1,\"targetDedicatedNodes\":1,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"userAccounts\":[\r\n        {\r\n          \"name\":\"test-user\",\"elevationLevel\":\"admin\",\"linuxUserConfiguration\":{\r\n            \"uid\":5,\"gid\":5\r\n          }\r\n        }\r\n      ],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n        \"nodeFillType\":\"Spread\"\r\n      },\"virtualMachineConfiguration\":{\r\n        \"imageReference\":{\r\n          \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-LTS\",\"version\":\"latest\"\r\n        },\"nodeAgentSKUId\":\"batch.node.ubuntu 18.04\"\r\n      },\"networkConfiguration\":{\r\n        \"subnetId\":\"/subscriptions/42d72928-df33-4f31-9f04-581177fca7d6/resourceGroups/sanjrg/providers/Microsoft.Network/virtualNetworks/sanjvnet/subnets/default\",\"dynamicVNetAssignmentScope\":\"none\",\"enableAcceleratedNetworking\":false\r\n      },\"currentNodeCommunicationMode\":\"classic\"\r\n    },{\r\n      \"id\":\"BatchUser-testpool\",\"url\":\"https://sanjbatch.eastus.batch.azure.com/pools/BatchUser-testpool\",\"eTag\":\"0x8DC4EE4E4A30236\",\"lastModified\":\"2024-03-28T05:06:57.5166006Z\",\"creationTime\":\"2024-03-28T05:06:57.5165994Z\",\"state\":\"active\",\"stateTransitionTime\":\"2024-03-28T05:06:57.5165994Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2024-03-28T05:09:13.50471Z\",\"vmS[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://sanjbatch.eastus.batch.azure.com/nodecounts?api-version=2024-02-01.19.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sanjbatch.eastus.batch.azure.com/$metadata#poolnodecounts\",\"value\":[\r\n    {\r\n      \"poolId\":\"BatchUser-CRUDPaaS\",\"dedicated\":{\r\n        \"creating\":0,\"idle\":3,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"upgradingOS\":0,\"waitingForStartTask\":0,\"total\":3\r\n      },\"lowPriority\":{\r\n        \"creating\":0,\"idle\":0,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFailed\":0,\"unusable\":0,\"unknown\":0,\"upgradingOS\":0,\"waitingForStartTask\":0,\"total\":0\r\n      }\r\n    },{\r\n      \"poolId\":\"BatchUser-testIaaSpool\",\"dedicated\":{\r\n        \"creating\":0,\"idle\":1,\"leavingPool\":0,\"offline\":0,\"preempted\":0,\"rebooting\":0,\"reimaging\":0,\"running\":0,\"starting\":0,\"startTaskFai[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://sanjbatch.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS?api-version=2024-02-01.19.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 29 Mar 2024 06:11:50 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8DC4FB71F624EB9",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sanjbatch.eastus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"BatchUser-CRUDPaaS\",\"url\":\"https://sanjbatch.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS\",\"eTag\":\"0x8DC4FB71F624EB9\",\"lastModified\":\"2024-03-29T06:11:50.3913657Z\",\"creationTime\":\"2024-03-29T06:09:19.1910262Z\",\"state\":\"active\",\"stateTransitionTime\":\"2024-03-29T06:09:19.1910262Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2024-03-29T06:11:23.1392306Z\",\"vmSize\":\"standard_d1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":3,\"targetDedicatedNodes\":3,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"userAccounts\":[\r\n    {\r\n      \"name\":\"test-user-1\",\"elevationLevel\":\"nonadmin\"\r\n    },{\r\n      \"name\":\"test-user-2\",\"elevationLevel\":\"admin\"\r\n    }\r\n  ],\"metadata\":[\r\n    {\r\n      \"name\":\"key1\",\"value\":\"value1\"\r\n    }\r\n  ],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n    \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-LTS\",\"version\":\"latest\"\r\n    },\"nodeAgentSKUId\":\"batch.node.ubuntu 18.04\"\r\n  },\"currentNodeCommunicationMode\":\"classic\"\r\n}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://sanjbatch.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS/updateproperties?api-version=2024-02-01.19.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sanjbatch.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS/updateproperties",
      "retry-after" : "0",
      "StatusCode" : "204",
      "last-modified" : "Fri, 29 Mar 2024 06:11:50 GMT",
      "etag" : "0x8DC4FB71F7E6F52",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sanjbatch.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS?api-version=2024-02-01.19.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 29 Mar 2024 06:11:50 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8DC4FB71F7E6F52",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sanjbatch.eastus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"BatchUser-CRUDPaaS\",\"url\":\"https://sanjbatch.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS\",\"eTag\":\"0x8DC4FB71F7E6F52\",\"lastModified\":\"2024-03-29T06:11:50.575701Z\",\"creationTime\":\"2024-03-29T06:09:19.1910262Z\",\"state\":\"active\",\"stateTransitionTime\":\"2024-03-29T06:09:19.1910262Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2024-03-29T06:11:23.1392306Z\",\"vmSize\":\"standard_d1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":3,\"targetDedicatedNodes\":3,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"userAccounts\":[\r\n    {\r\n      \"name\":\"test-user-1\",\"elevationLevel\":\"nonadmin\"\r\n    },{\r\n      \"name\":\"test-user-2\",\"elevationLevel\":\"admin\"\r\n    }\r\n  ],\"certificateReferences\":[],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n    \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"18.04-LTS\",\"version\":\"latest\"\r\n    },\"nodeAgentSKUId\":\"batch.node.ubuntu 18.04\"\r\n  },\"targetNodeCommunicationMode\":\"default\",\"currentNodeCommunicationMode\":\"classic\"\r\n}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://sanjbatch.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS?api-version=2024-02-01.19.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "404",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sanjbatch.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"PoolNotFound\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\":\"The specified pool does not exist.\\nRequestId:33166f80-d725-4c54-acb1-45a1f9e48513\\nTime:2024-03-29T06:14:44.2559616Z\"\r\n  }\r\n}"
    }
  }, {
    "Method" : "HEAD",
    "Uri" : "https://sanjbatch.eastus.batch.azure.com/pools/BatchUser-CRUDPaaS?api-version=2024-02-01.19.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}