{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobschedules?api-version=2020-03-01.11.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Tue, 21 Apr 2020 15:56:56 GMT",
      "etag" : "0x8D7E60C9E7BE916",
      "location" : "https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "HEAD",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD?api-version=2020-03-01.11.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 21 Apr 2020 15:56:56 GMT",
      "etag" : "0x8D7E60C9E7BE916",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD?api-version=2020-03-01.11.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 21 Apr 2020 15:56:56 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D7E60C9E7BE916",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"BatchUser-JobSchedule-canCRUD\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD\",\"eTag\":\"0x8D7E60C9E7BE916\",\"lastModified\":\"2020-04-21T15:56:56.9131286Z\",\"creationTime\":\"2020-04-21T15:56:56.9131286Z\",\"state\":\"active\",\"stateTransitionTime\":\"2020-04-21T15:56:56.9131286Z\",\"schedule\":{\r\n    \"doNotRunUntil\":\"2020-04-21T15:56:56.012Z\",\"doNotRunAfter\":\"2020-04-21T20:56:56.012Z\",\"startWindow\":\"P5D\"\r\n  },\"jobSpecification\":{\r\n    \"priority\":100,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n    },\"poolInfo\":{\r\n      \"poolId\":\"BatchUser-testpool\"\r\n    }\r\n  },\"executionInfo\":{\r\n    \"recentJob\":{\r\n      \"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-JobSchedule-canCRUD:job-1\",\"id\":\"BatchUser-JobSchedule-canCRUD:job-1\"\r\n    }\r\n  }\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobschedules?api-version=2020-03-01.11.0&%24filter=id%20eq%20%27BatchUser-JobSchedule-canCRUD%27",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#jobschedules\",\"value\":[\r\n    {\r\n      \"id\":\"BatchUser-JobSchedule-canCRUD\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD\",\"eTag\":\"0x8D7E60C9E7BE916\",\"lastModified\":\"2020-04-21T15:56:56.9131286Z\",\"creationTime\":\"2020-04-21T15:56:56.9131286Z\",\"state\":\"active\",\"stateTransitionTime\":\"2020-04-21T15:56:56.9131286Z\",\"schedule\":{\r\n        \"doNotRunUntil\":\"2020-04-21T15:56:56.012Z\",\"doNotRunAfter\":\"2020-04-21T20:56:56.012Z\",\"startWindow\":\"P5D\"\r\n      },\"jobSpecification\":{\r\n        \"priority\":100,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n          \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n        },\"poolInfo\":{\r\n          \"poolId\":\"BatchUser-testpool\"\r\n        }\r\n      },\"executionInfo\":{\r\n        \"recentJob\":{\r\n          \"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-JobSchedule-canCRUD:job-1\",\"id\":\"BatchUser-JobSchedule-canCRUD:job-1\"\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD?api-version=2020-03-01.11.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 21 Apr 2020 15:56:57 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D7E60C9EBFFA25",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"BatchUser-JobSchedule-canCRUD\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD\",\"eTag\":\"0x8D7E60C9EBFFA25\",\"lastModified\":\"2020-04-21T15:56:57.3592101Z\",\"creationTime\":\"2020-04-21T15:56:56.9131286Z\",\"state\":\"deleting\",\"stateTransitionTime\":\"2020-04-21T15:56:57.4741791Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2020-04-21T15:56:56.9131286Z\",\"schedule\":{\r\n    \"doNotRunUntil\":\"2020-04-21T15:56:56.012Z\",\"doNotRunAfter\":\"2020-04-21T20:56:56.012Z\",\"startWindow\":\"P5D\"\r\n  },\"jobSpecification\":{\r\n    \"priority\":100,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n    },\"poolInfo\":{\r\n      \"poolId\":\"BatchUser-testpool\"\r\n    }\r\n  },\"executionInfo\":{\r\n    \"recentJob\":{\r\n      \"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-JobSchedule-canCRUD:job-1\",\"id\":\"BatchUser-JobSchedule-canCRUD:job-1\"\r\n    }\r\n  },\"metadata\":[\r\n    {\r\n      \"name\":\"key1\",\"value\":\"value1\"\r\n    }\r\n  ]\r\n}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD?api-version=2020-03-01.11.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "409",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"JobScheduleBeingDeleted\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\":\"The specified job schedule has been marked for deletion and is being reclaimed.\\nRequestId:2c31067a-3e37-45a2-9e8d-19690e8e5212\\nTime:2020-04-21T15:56:58.5610825Z\"\r\n  }\r\n}"
    }
  } ],
  "variables" : [ ]
}