{
  "networkCallRecords" : [ {
    "Method" : "HEAD",
    "Uri" : "https://sdktest.westus.batch.azure.com/pools/BatchUser-testpool4?api-version=2022-10-01.16.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://sdktest.westus.batch.azure.com/pools?api-version=2022-10-01.16.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest.westus.batch.azure.com/pools/BatchUser-testpool4",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Tue, 15 Nov 2022 16:19:16 GMT",
      "etag" : "0x8DAC72524B135BD",
      "location" : "https://sdktest.westus.batch.azure.com/pools/BatchUser-testpool4",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest.westus.batch.azure.com/pools/BatchUser-testpool4?api-version=2022-10-01.16.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 15 Nov 2022 16:19:16 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8DAC72524B135BD",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest.westus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"BatchUser-testpool4\",\"url\":\"https://sdktest.westus.batch.azure.com/pools/BatchUser-testpool4\",\"eTag\":\"0x8DAC72524B135BD\",\"lastModified\":\"2022-11-15T16:19:16.9657277Z\",\"creationTime\":\"2022-11-15T16:19:16.9657277Z\",\"state\":\"active\",\"stateTransitionTime\":\"2022-11-15T16:19:16.9657277Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2022-11-15T16:19:16.9657277Z\",\"vmSize\":\"standard_d1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":1,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":2,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n  },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"4\",\"osVersion\":\"*\"\r\n  }\r\n}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest.westus.batch.azure.com/pools/BatchUser-testpool4?api-version=2022-10-01.16.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 15 Nov 2022 16:19:16 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8DAC72524B135BD",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest.westus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"BatchUser-testpool4\",\"url\":\"https://sdktest.westus.batch.azure.com/pools/BatchUser-testpool4\",\"eTag\":\"0x8DAC72524B135BD\",\"lastModified\":\"2022-11-15T16:19:16.9657277Z\",\"creationTime\":\"2022-11-15T16:19:16.9657277Z\",\"state\":\"active\",\"stateTransitionTime\":\"2022-11-15T16:19:16.9657277Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2022-11-15T16:20:30.0395358Z\",\"vmSize\":\"standard_d1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":1,\"targetDedicatedNodes\":1,\"currentLowPriorityNodes\":2,\"targetLowPriorityNodes\":2,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n  },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"4\",\"osVersion\":\"*\"\r\n  },\"currentNodeCommunicationMode\":\"classic\"\r\n}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://sdktest.westus.batch.azure.com/pools/BatchUser-testpool4/resize?api-version=2022-10-01.16.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest.westus.batch.azure.com/pools/BatchUser-testpool4/resize",
      "retry-after" : "0",
      "StatusCode" : "202",
      "last-modified" : "Tue, 15 Nov 2022 16:20:47 GMT",
      "etag" : "0x8DAC7255ACD9CDD",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest.westus.batch.azure.com/pools/BatchUser-testpool4?api-version=2022-10-01.16.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "404",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest.westus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"PoolNotFound\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\":\"The specified pool does not exist.\\nRequestId:89662857-abed-4b7a-b1c6-5f2576eb059c\\nTime:2022-11-15T16:25:50.6844989Z\"\r\n  }\r\n}"
    }
  }, {
    "Method" : "HEAD",
    "Uri" : "https://sdktest.westus.batch.azure.com/pools/BatchUser-testpool4?api-version=2022-10-01.16.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}