{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://sanjbatch.eastus.batch.azure.com/jobs?api-version=2024-02-01.19.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sanjbatch.eastus.batch.azure.com/jobs/job-1",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Sat, 16 Mar 2024 06:51:55 GMT",
      "etag" : "0x8DC4585915DC8F5",
      "location" : "https://sanjbatch.eastus.batch.azure.com/jobs/job-1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sanjbatch.eastus.batch.azure.com/jobs/BatchUser-Job-canCRUD?api-version=2024-02-01.19.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Sat, 16 Mar 2024 06:51:55 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8DC4585915DC8F5",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sanjbatch.eastus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"BatchUser-Job-canCRUD\",\"url\":\"https://sanjbatch.eastus.batch.azure.com/jobs/BatchUser-Job-canCRUD\",\"eTag\":\"0x8DC4585915DC8F5\",\"lastModified\":\"2024-03-16T06:51:55.1577333Z\",\"creationTime\":\"2024-03-16T06:51:55.1417308Z\",\"state\":\"active\",\"stateTransitionTime\":\"2024-03-16T06:51:55.1577333Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"BatchUser-testpool\"\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2024-03-16T06:51:55.1577333Z\",\"poolId\":\"BatchUser-testpool\"\r\n  },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sanjbatch.eastus.batch.azure.com/jobs?api-version=2024-02-01.19.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sanjbatch.eastus.batch.azure.com/$metadata#jobs\",\"value\":[\r\n    {\r\n      \"id\":\"BatchUser-Job-canCRUD\",\"url\":\"https://sanjbatch.eastus.batch.azure.com/jobs/BatchUser-Job-canCRUD\",\"eTag\":\"0x8DC4585915DC8F5\",\"lastModified\":\"2024-03-16T06:51:55.1577333Z\",\"creationTime\":\"2024-03-16T06:51:55.1417308Z\",\"state\":\"active\",\"stateTransitionTime\":\"2024-03-16T06:51:55.1577333Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n        \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n      },\"poolInfo\":{\r\n        \"poolId\":\"BatchUser-testpool\"\r\n      },\"executionInfo\":{\r\n        \"startTime\":\"2024-03-16T06:51:55.1577333Z\",\"poolId\":\"BatchUser-testpool\"\r\n      },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n    },{\r\n      \"id\":\"BatchUser-Job-canReadFromNode\",\"url\":\"https://sanjbatch.eastus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode\",\"eTag\":\"0x8DC45857CA52A2E\",\"lastModified\":\"2024-03-16T06:51:20.3933742Z\",\"creationTime\":\"2024-03-16T06:51:20.3773733Z\",\"state\":\"deleting\",\"stateTransitionTime\":\"2024-03-16T06:51:31.8182855Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2024-03-16T06:51:20.3933742Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n        \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n      },\"poolInfo\":{\r\n        \"poolId\":\"BatchUser-testpool\"\r\n      },\"executionInfo\":{\r\n        \"startTime\":\"2024-03-16T06:51:20.3933742Z\",\"poolId\":\"BatchUser-testpool\"\r\n      },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n    },{\r\n      \"id\":\"BatchUser-JobSchedule-updateJobScheduleState:job-1\",\"url\":\"https://sanjbatch.eastus.batch.azure.com/jobs/BatchUser-JobSchedule-updateJobScheduleState:job-1\",\"eTag\":\"0x8DC458588A5C8D3\",\"lastModified\":\"2024-03-16T06:51:40.5300947Z\",\"creationTime\":\"2024-03-16T06:51:40.5120957Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2024-03-16T06:51:41.7234029Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2024-03-16T06:51:40.5300947Z\",\"priority\":100,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n        \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n      },\"poolInfo\":{\r\n        \"poolId\":\"BatchUser-testpool\"\r\n      },\"executionInfo\":{\r\n        \"startTime\":\"2024-03-16T06:51:40.5300947Z\",\"endTime\":\"2024-03-16T06:51:41.7234029Z\",\"poolId\":\"BatchUser-testpool\",\"terminateReason\":\"TerminateWorkitem\"\r\n      },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n    }\r\n  ]\r\n}"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sanjbatch.eastus.batch.azure.com/jobs/BatchUser-Job-canCRUD?api-version=2024-02-01.19.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "409",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sanjbatch.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"JobBeingDeleted\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\":\"The specified job has been marked for deletion and is being garbage collected.\\nRequestId:3cf152c0-853c-484d-bd75-11781d952a77\\nTime:2024-03-16T06:51:57.0933503Z\"\r\n  }\r\n}"
    }
  } ],
  "variables" : [ ]
}