{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobs?api-version=2023-05-01.17.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobs/job-1",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Tue, 23 May 2023 03:28:51 GMT",
      "etag" : "0x8DB5B3DD414D35F",
      "location" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobs/job-1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobs/BatchUser-Job-canCRUD?api-version=2023-05-01.17.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 23 May 2023 03:28:51 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8DB5B3DD414D35F",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdkbatchaccount.westcentralus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"BatchUser-Job-canCRUD\",\"url\":\"https://sdkbatchaccount.westcentralus.batch.azure.com/jobs/BatchUser-Job-canCRUD\",\"eTag\":\"0x8DB5B3DD414D35F\",\"lastModified\":\"2023-05-23T03:28:51.2324447Z\",\"creationTime\":\"2023-05-23T03:28:51.219443Z\",\"state\":\"active\",\"stateTransitionTime\":\"2023-05-23T03:28:51.2324447Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"BatchUser-testpool\"\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2023-05-23T03:28:51.2324447Z\",\"poolId\":\"BatchUser-testpool\"\r\n  },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobs?api-version=2023-05-01.17.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdkbatchaccount.westcentralus.batch.azure.com/$metadata#jobs\",\"value\":[\r\n    {\r\n      \"id\":\"BatchUser-Job-canCRUD\",\"url\":\"https://sdkbatchaccount.westcentralus.batch.azure.com/jobs/BatchUser-Job-canCRUD\",\"eTag\":\"0x8DB5B3DD414D35F\",\"lastModified\":\"2023-05-23T03:28:51.2324447Z\",\"creationTime\":\"2023-05-23T03:28:51.219443Z\",\"state\":\"active\",\"stateTransitionTime\":\"2023-05-23T03:28:51.2324447Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n        \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n      },\"poolInfo\":{\r\n        \"poolId\":\"BatchUser-testpool\"\r\n      },\"executionInfo\":{\r\n        \"startTime\":\"2023-05-23T03:28:51.2324447Z\",\"poolId\":\"BatchUser-testpool\"\r\n      },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n    },{\r\n      \"id\":\"job\",\"url\":\"https://sdkbatchaccount.westcentralus.batch.azure.com/jobs/job\",\"eTag\":\"0x8DB583E196EF817\",\"lastModified\":\"2023-05-19T07:53:14.0976663Z\",\"creationTime\":\"2023-05-19T07:50:40.2581568Z\",\"state\":\"disabled\",\"stateTransitionTime\":\"2023-05-19T07:53:14.1166642Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2023-05-19T07:50:40.270147Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n        \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n      },\"commonEnvironmentSettings\":[],\"poolInfo\":{\r\n        \"poolId\":\"ljq\"\r\n      },\"executionInfo\":{\r\n        \"startTime\":\"2023-05-19T07:50:40.270147Z\",\"poolId\":\"ljq\"\r\n      },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n    },{\r\n      \"id\":\"BatchUser-JobSchedule-updateJobScheduleState:job-1\",\"url\":\"https://sdkbatchaccount.westcentralus.batch.azure.com/jobs/BatchUser-JobSchedule-updateJobScheduleState:job-1\",\"eTag\":\"0x8DB5B3D74887719\",\"lastModified\":\"2023-05-23T03:26:10.9290265Z\",\"creationTime\":\"2023-05-23T03:26:10.9160587Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2023-05-23T03:26:12.103485Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2023-05-23T03:26:10.9290265Z\",\"priority\":100,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n        \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n      },\"poolInfo\":{\r\n        \"poolId\":\"BatchUser-testpool\"\r\n      },\"executionInfo\":{\r\n        \"startTime\":\"2023-05-23T03:26:10.9290265Z\",\"endTime\":\"2023-05-23T03:26:12.103485Z\",\"poolId\":\"BatchUser-testpool\",\"terminateReason\":\"TerminateWorkitem\"\r\n      },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n    }\r\n  ]\r\n}"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobs/BatchUser-Job-canCRUD?api-version=2023-05-01.17.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "409",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdkbatchaccount.westcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"JobBeingDeleted\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\":\"The specified job has been marked for deletion and is being garbage collected.\\nRequestId:5b6344a9-f49d-47d0-a34a-688a56cd31d1\\nTime:2023-05-23T03:28:53.7684183Z\"\r\n  }\r\n}"
    }
  } ],
  "variables" : [ ]
}