{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://sdktest.westus.batch.azure.com/jobs?api-version=2022-10-01.16.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest.westus.batch.azure.com/jobs/job-1",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Tue, 15 Nov 2022 03:29:01 GMT",
      "etag" : "0x8DAC6B98A0D3059",
      "location" : "https://sdktest.westus.batch.azure.com/jobs/job-1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest.westus.batch.azure.com/jobs/BatchUser-Job-canCRUD?api-version=2022-10-01.16.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 15 Nov 2022 03:29:01 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8DAC6B98A0D3059",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest.westus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"BatchUser-Job-canCRUD\",\"url\":\"https://sdktest.westus.batch.azure.com/jobs/BatchUser-Job-canCRUD\",\"eTag\":\"0x8DAC6B98A0D3059\",\"lastModified\":\"2022-11-15T03:29:01.3716057Z\",\"creationTime\":\"2022-11-15T03:29:01.355602Z\",\"state\":\"active\",\"stateTransitionTime\":\"2022-11-15T03:29:01.3716057Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"BatchUser-testpool\"\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2022-11-15T03:29:01.3716057Z\",\"poolId\":\"BatchUser-testpool\"\r\n  },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest.westus.batch.azure.com/jobs?api-version=2022-10-01.16.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest.westus.batch.azure.com/$metadata#jobs\",\"value\":[\r\n    {\r\n      \"id\":\"BatchUser-Job-canCRUD\",\"url\":\"https://sdktest.westus.batch.azure.com/jobs/BatchUser-Job-canCRUD\",\"eTag\":\"0x8DAC6B98A0D3059\",\"lastModified\":\"2022-11-15T03:29:01.3716057Z\",\"creationTime\":\"2022-11-15T03:29:01.355602Z\",\"state\":\"active\",\"stateTransitionTime\":\"2022-11-15T03:29:01.3716057Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n        \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n      },\"poolInfo\":{\r\n        \"poolId\":\"BatchUser-testpool\"\r\n      },\"executionInfo\":{\r\n        \"startTime\":\"2022-11-15T03:29:01.3716057Z\",\"poolId\":\"BatchUser-testpool\"\r\n      },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n    },{\r\n      \"id\":\"BatchUser-Job-canReadFromNode\",\"url\":\"https://sdktest.westus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode\",\"eTag\":\"0x8DAC6B97BDD03BE\",\"lastModified\":\"2022-11-15T03:28:37.5677886Z\",\"creationTime\":\"2022-11-15T03:28:37.5487871Z\",\"state\":\"deleting\",\"stateTransitionTime\":\"2022-11-15T03:28:48.8824843Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2022-11-15T03:28:37.5677886Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n        \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n      },\"poolInfo\":{\r\n        \"poolId\":\"BatchUser-testpool\"\r\n      },\"executionInfo\":{\r\n        \"startTime\":\"2022-11-15T03:28:37.5677886Z\",\"poolId\":\"BatchUser-testpool\"\r\n      },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"n[...]
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sdktest.westus.batch.azure.com/jobs/BatchUser-Job-canCRUD?api-version=2022-10-01.16.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "409",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest.westus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"JobBeingDeleted\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\":\"The specified job has been marked for deletion and is being garbage collected.\\nRequestId:be5ea43f-db40-457b-af6f-dfccc9318888\\nTime:2022-11-15T03:29:03.2656688Z\"\r\n  }\r\n}"
    }
  } ],
  "variables" : [ ]
}