{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://sdktest.westus.batch.azure.com/jobs?api-version=2022-10-01.16.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest.westus.batch.azure.com/jobs/job-1",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Tue, 15 Nov 2022 03:28:37 GMT",
      "etag" : "0x8DAC6B97BDD03BE",
      "location" : "https://sdktest.westus.batch.azure.com/jobs/job-1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://sdktest.westus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode/tasks?api-version=2022-10-01.16.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest.westus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode/tasks/mytask",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Tue, 15 Nov 2022 03:28:37 GMT",
      "etag" : "0x8DAC6B97BF22E99",
      "location" : "https://sdktest.westus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode/tasks/mytask",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest.westus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode/tasks?api-version=2022-10-01.16.0&%24select=id%2C%20state",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest.westus.batch.azure.com/$metadata#tasks\",\"value\":[\r\n    {\r\n      \"id\":\"mytask\",\"state\":\"active\"\r\n    }\r\n  ]\r\n}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest.westus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode/tasks/mytask?api-version=2022-10-01.16.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 15 Nov 2022 03:28:37 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8DAC6B97BF22E99",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest.westus.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"mytask\",\"url\":\"https://sdktest.westus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode/tasks/mytask\",\"eTag\":\"0x8DAC6B97BF22E99\",\"creationTime\":\"2022-11-15T03:28:37.7065113Z\",\"lastModified\":\"2022-11-15T03:28:37.7065113Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2022-11-15T03:28:38.390289Z\",\"previousState\":\"running\",\"previousStateTransitionTime\":\"2022-11-15T03:28:38.272751Z\",\"commandLine\":\"/bin/bash -c \\\"echo hello\\\"\",\"userIdentity\":{\r\n    \"autoUser\":{\r\n      \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n    }\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":0\r\n  },\"requiredSlots\":1,\"executionInfo\":{\r\n    \"startTime\":\"2022-11-15T03:28:38.330418Z\",\"endTime\":\"2022-11-15T03:28:38.390289Z\",\"exitCode\":0,\"result\":\"success\",\"retryCount\":0,\"requeueCount\":0\r\n  },\"nodeInfo\":{\r\n    \"affinityId\":\"TVM:tvmps_2c5c93e2b1709d5e4b33f9322216c36e2aceb4adb3246039273fcd66865e98a4_d\",\"nodeUrl\":\"https://sdktest.westus.batch.azure.com/pools/BatchUser-testpool/nodes/tvmps_2c5c93e2b1709d5e4b33f9322216c36e2aceb4adb3246039273fcd66865e98a4_d\",\"poolId\":\"BatchUser-testpool\",\"nodeId\":\"tvmps_2c5c93e2b1709d5e4b33f9322216c36e2aceb4adb3246039273fcd66865e98a4_d\",\"taskRootDirectory\":\"workitems/BatchUser-Job-canReadFromNode/job-1/mytask\",\"taskRootDirectoryUrl\":\"https://sdktest.westus.batch.azure.com/pools/BatchUser-testpool/nodes/tvmps_2c5c93e2b1709d5e4b33f9322216c36e2aceb4adb3246039273fcd66865e98a4_d/files/workitems/BatchUser-Job-canReadFromNode/job-1/mytask\"\r\n  }\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest.westus.batch.azure.com/pools/BatchUser-testpool/nodes/tvmps_2c5c93e2b1709d5e4b33f9322216c36e2aceb4adb3246039273fcd66865e98a4_d/files?recursive=true&api-version=2022-10-01.16.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest.westus.batch.azure.com/$metadata#files\",\"value\":[\r\n    {\r\n      \"name\":\"workitems\",\"url\":\"https://sdktest.westus.batch.azure.com/pools/BatchUser-testpool/nodes/tvmps_2c5c93e2b1709d5e4b33f9322216c36e2aceb4adb3246039273fcd66865e98a4_d/files/workitems\",\"isDirectory\":true\r\n    },{\r\n      \"name\":\"applications\",\"url\":\"https://sdktest.westus.batch.azure.com/pools/BatchUser-testpool/nodes/tvmps_2c5c93e2b1709d5e4b33f9322216c36e2aceb4adb3246039273fcd66865e98a4_d/files/applications\",\"isDirectory\":true\r\n    },{\r\n      \"name\":\"shared\",\"url\":\"https://sdktest.westus.batch.azure.com/pools/BatchUser-testpool/nodes/tvmps_2c5c93e2b1709d5e4b33f9322216c36e2aceb4adb3246039273fcd66865e98a4_d/files/shared\",\"isDirectory\":true\r\n    },{\r\n      \"nam[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest.westus.batch.azure.com/pools/BatchUser-testpool/nodes/tvmps_2c5c93e2b1709d5e4b33f9322216c36e2aceb4adb3246039273fcd66865e98a4_d/files/workitems%2FBatchUser-Job-canReadFromNode%2Fjob-1%2Fmytask%2Fstdout.txt?api-version=2022-10-01.16.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "ocp-batch-file-mode" : "0o100644",
      "ocp-batch-file-isdirectory" : "False",
      "ocp-batch-file-url" : "https%3A%2F%2Fsdktest.westus.batch.azure.com%2Fpools%2FBatchUser-testpool%2Fnodes%2Ftvmps_2c5c93e2b1709d5e4b33f9322216c36e2aceb4adb3246039273fcd66865e98a4_d%2Ffiles%2Fworkitems%2FBatchUser-Job-canReadFromNode%2Fjob-1%2Fmytask%2Fstdout.txt",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 15 Nov 2022 03:28:38 GMT",
      "content-type" : "text/plain",
      "dataserviceversion" : "3.0",
      "Body" : "hello\n"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sdktest.westus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode?api-version=2022-10-01.16.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "202",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}