{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest2.westcentralus.batch.azure.com/jobs/job-1",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Wed, 19 Jun 2019 17:54:12 GMT",
      "etag" : "0x8D6F4DF23395CA6",
      "location" : "https://sdktest2.westcentralus.batch.azure.com/jobs/job-1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode/tasks?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode/tasks/mytask",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Wed, 19 Jun 2019 17:54:12 GMT",
      "etag" : "0x8D6F4DF2340A64F",
      "location" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode/tasks/mytask",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode/tasks?api-version=2019-06-01.9.0&%24select=id%2C%20state",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#tasks\",\"value\":[\r\n    {\r\n      \"id\":\"mytask\",\"state\":\"active\"\r\n    }\r\n  ]\r\n}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode/tasks/mytask?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 19 Jun 2019 17:54:12 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D6F4DF2340A64F",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"mytask\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode/tasks/mytask\",\"eTag\":\"0x8D6F4DF2340A64F\",\"creationTime\":\"2019-06-19T17:54:12.5827663Z\",\"lastModified\":\"2019-06-19T17:54:12.5827663Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2019-06-19T17:54:15.33509Z\",\"previousState\":\"running\",\"previousStateTransitionTime\":\"2019-06-19T17:54:15.100118Z\",\"commandLine\":\"cmd /c echo hello\",\"userIdentity\":{\r\n    \"autoUser\":{\r\n      \"elevationLevel\":\"nonadmin\"\r\n    }\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":0\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2019-06-19T17:54:15.100118Z\",\"endTime\":\"2019-06-19T17:54:15.33509Z\",\"exitCode\":0,\"result\":\"success\",\"retryCount\":0,\"requeueCount\":0\r\n  },\"nodeInfo\":{\r\n    \"affinityId\":\"TVM:tvmps_b6724082a3236a9b0b4b119aa70d0d830b79ac923f9c9149c4b600c9f0ed5192_d\",\"nodeUrl\":\"https://sdktest2.westcentralus.batch.azure.com/pools/BatchUser-testpool/nodes/tvmps_b6724082a3236a9b0b4b119aa70d0d830b79ac923f9c9149c4b600c9f0ed5192_d\",\"poolId\":\"BatchUser-testpool\",\"nodeId\":\"tvmps_b6724082a3236a9b0b4b119aa70d0d830b79ac923f9c9149c4b600c9f0ed5192_d\",\"taskRootDirectory\":\"workitems\\\\BatchUser-Job-canReadFromNode\\\\job-1\\\\mytask\",\"taskRootDirectoryUrl\":\"https://sdktest2.westcentralus.batch.azure.com/pools/BatchUser-testpool/nodes/tvmps_b6724082a3236a9b0b4b119aa70d0d830b79ac923f9c9149c4b600c9f0ed5192_d/files/workitems/BatchUser-Job-canReadFromNode/job-1/mytask\"\r\n  }\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/pools/BatchUser-testpool/nodes/tvmps_b6724082a3236a9b0b4b119aa70d0d830b79ac923f9c9149c4b600c9f0ed5192_d/files?recursive=true&api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#files\",\"value\":[\r\n    {\r\n      \"name\":\"applications\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/pools/BatchUser-testpool/nodes/tvmps_b6724082a3236a9b0b4b119aa70d0d830b79ac923f9c9149c4b600c9f0ed5192_d/files/applications\",\"isDirectory\":true\r\n    },{\r\n      \"name\":\"shared\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/pools/BatchUser-testpool/nodes/tvmps_b6724082a3236a9b0b4b119aa70d0d830b79ac923f9c9149c4b600c9f0ed5192_d/files/shared\",\"isDirectory\":true\r\n    },{\r\n      \"name\":\"startup\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/pools/BatchUser-testpool/nodes/tvmps_b6724082a3236a9b0b4b119aa70d0d830b79ac923f9c9149c4b600c9f0ed5192_d/files/startup\",\"isDirectory\":true\r\n    },{\r\n     [...]
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/pools/BatchUser-testpool/nodes/tvmps_b6724082a3236a9b0b4b119aa70d0d830b79ac923f9c9149c4b600c9f0ed5192_d/files/workitems%5CBatchUser-Job-canReadFromNode%5Cjob-1%5Cmytask%5Cstdout.txt?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "ocp-batch-file-isdirectory" : "False",
      "ocp-batch-file-url" : "https%3A%2F%2Fsdktest2.westcentralus.batch.azure.com%2Fpools%2FBatchUser-testpool%2Fnodes%2Ftvmps_b6724082a3236a9b0b4b119aa70d0d830b79ac923f9c9149c4b600c9f0ed5192_d%2Ffiles%2Fworkitems%2FBatchUser-Job-canReadFromNode%2Fjob-1%2Fmytask%2Fstdout.txt",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 19 Jun 2019 17:54:15 GMT",
      "content-type" : "text/plain",
      "dataserviceversion" : "3.0",
      "ocp-creation-time" : "Wed, 19 Jun 2019 17:54:15 GMT",
      "Body" : "hello\r\n"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-canReadFromNode?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "202",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}