{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/job-1",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Mon, 26 Jul 2021 18:09:37 GMT",
      "etag" : "0x8D9506087BD0AF9",
      "location" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/job-1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Mon, 26 Jul 2021 18:09:37 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D9506087BD0AF9",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"BatchUser-Job-CanUpdateState\",\"url\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState\",\"eTag\":\"0x8D9506087BD0AF9\",\"lastModified\":\"2021-07-26T18:09:37.4031609Z\",\"creationTime\":\"2021-07-26T18:09:37.3841603Z\",\"state\":\"active\",\"stateTransitionTime\":\"2021-07-26T18:09:37.4031609Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"BatchUser-testpool\"\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2021-07-26T18:09:37.4031609Z\",\"poolId\":\"BatchUser-testpool\"\r\n  },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/disable?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/disable",
      "retry-after" : "0",
      "StatusCode" : "202",
      "last-modified" : "Mon, 26 Jul 2021 18:09:37 GMT",
      "etag" : "0x8D9506087D4A163",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Mon, 26 Jul 2021 18:09:37 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D9506087D4A163",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"BatchUser-Job-CanUpdateState\",\"url\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState\",\"eTag\":\"0x8D9506087D4A163\",\"lastModified\":\"2021-07-26T18:09:37.5577443Z\",\"creationTime\":\"2021-07-26T18:09:37.3841603Z\",\"state\":\"disabling\",\"stateTransitionTime\":\"2021-07-26T18:09:37.5577443Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2021-07-26T18:09:37.4031609Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"BatchUser-testpool\"\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2021-07-26T18:09:37.4031609Z\",\"poolId\":\"BatchUser-testpool\"\r\n  },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"
    }
[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/enable?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/enable",
      "retry-after" : "0",
      "StatusCode" : "202",
      "last-modified" : "Mon, 26 Jul 2021 18:09:43 GMT",
      "etag" : "0x8D950608B26009E",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/terminate?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/terminate",
      "retry-after" : "0",
      "StatusCode" : "202",
      "last-modified" : "Mon, 26 Jul 2021 18:09:43 GMT",
      "etag" : "0x8D950608B35B579",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Mon, 26 Jul 2021 18:09:43 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D950608B35B579",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"BatchUser-Job-CanUpdateState\",\"url\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState\",\"eTag\":\"0x8D950608B35B579\",\"lastModified\":\"2021-07-26T18:09:43.2271225Z\",\"creationTime\":\"2021-07-26T18:09:37.3841603Z\",\"state\":\"terminating\",\"stateTransitionTime\":\"2021-07-26T18:09:43.2271225Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2021-07-26T18:09:43.1241886Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"BatchUser-testpool\"\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2021-07-26T18:09:37.4031609Z\",\"poolId\":\"BatchUser-testpool\",\"terminateReason\":\"myreason\"\r\n  },\"onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\"\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Mon, 26 Jul 2021 18:09:43 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D950608B35B579",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"BatchUser-Job-CanUpdateState\",\"url\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState\",\"eTag\":\"0x8D950608B35B579\",\"lastModified\":\"2021-07-26T18:09:43.2271225Z\",\"creationTime\":\"2021-07-26T18:09:37.3841603Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2021-07-26T18:09:44.2275759Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2021-07-26T18:09:43.1241886Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"BatchUser-testpool\"\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2021-07-26T18:09:37.4031609Z\",\"endTime\":\"2021-07-26T18:09:44.2275759Z\",\"poolId\":\"BatchUser-testpool\",\"terminateReason\":\"myreason\"\r\n  },\"onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\"\r\n}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "202",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}