{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobschedules?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Wed, 19 Jun 2019 18:33:32 GMT",
      "etag" : "0x8D6F4E4A2053A12",
      "location" : "https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 19 Jun 2019 18:33:32 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D6F4E4A2053A12",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"BatchUser-JobSchedule-updateJobScheduleState\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState\",\"eTag\":\"0x8D6F4E4A2053A12\",\"lastModified\":\"2019-06-19T18:33:32.7476242Z\",\"creationTime\":\"2019-06-19T18:33:32.7476242Z\",\"state\":\"active\",\"stateTransitionTime\":\"2019-06-19T18:33:32.7476242Z\",\"schedule\":{\r\n    \"doNotRunUntil\":\"2019-06-19T18:33:32.32Z\",\"doNotRunAfter\":\"2019-06-19T23:33:32.32Z\",\"startWindow\":\"P5D\"\r\n  },\"jobSpecification\":{\r\n    \"priority\":100,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n    },\"poolInfo\":{\r\n      \"poolId\":\"BatchUser-testpool\"\r\n    }\r\n  },\"executionInfo\":{\r\n    \"recentJob\":{\r\n      \"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-JobSchedule-updateJobScheduleState:job-1\",\"id\":\"BatchUser-JobSchedule-updateJobScheduleState:job-1\"\r\n    }\r\n  }\r\n}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/disable?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/disable",
      "retry-after" : "0",
      "StatusCode" : "204",
      "last-modified" : "Wed, 19 Jun 2019 18:33:33 GMT",
      "etag" : "0x8D6F4E4A2503DD0",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 19 Jun 2019 18:33:33 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D6F4E4A2503DD0",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"BatchUser-JobSchedule-updateJobScheduleState\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState\",\"eTag\":\"0x8D6F4E4A2503DD0\",\"lastModified\":\"2019-06-19T18:33:33.23924Z\",\"creationTime\":\"2019-06-19T18:33:32.7476242Z\",\"state\":\"disabled\",\"stateTransitionTime\":\"2019-06-19T18:33:33.23924Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2019-06-19T18:33:32.7476242Z\",\"schedule\":{\r\n    \"doNotRunUntil\":\"2019-06-19T18:33:32.32Z\",\"doNotRunAfter\":\"2019-06-19T23:33:32.32Z\",\"startWindow\":\"P5D\"\r\n  },\"jobSpecification\":{\r\n    \"priority\":100,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n    },\"poolInfo\":{\r\n      \"poolId\":\"BatchUser-testpool\"\r\n    }\r\n  },\"executionInfo\":{\r\n    \"recentJob\":{\r\n      \"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-JobSchedule-updateJobScheduleState:job-1\",\"id\":\"BatchUser-JobSchedule-updateJobScheduleState:job-1\"\r\n    }\r\n  }\r\n}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/enable?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/enable",
      "retry-after" : "0",
      "StatusCode" : "204",
      "last-modified" : "Wed, 19 Jun 2019 18:33:33 GMT",
      "etag" : "0x8D6F4E4A265A5E9",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/terminate?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/terminate",
      "retry-after" : "0",
      "StatusCode" : "202",
      "last-modified" : "Wed, 19 Jun 2019 18:33:33 GMT",
      "etag" : "0x8D6F4E4A27B896A",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "404",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"JobScheduleNotFound\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\":\"The specified job schedule does not exist.\\nRequestId:28d06db0-e90b-4113-9aeb-8e856c1cc1f6\\nTime:2019-06-19T18:33:35.7936018Z\"\r\n  }\r\n}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "404",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"JobScheduleNotFound\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\":\"The specified job schedule does not exist.\\nRequestId:6e1c4d19-3cf0-49b5-8e2a-82b1ae3eace3\\nTime:2019-06-19T18:33:35.9225770Z\"\r\n  }\r\n}"
    }
  } ],
  "variables" : [ ]
}