{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs?api-version=2020-03-01.11.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest2.westcentralus.batch.azure.com/jobs/job-1",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Tue, 07 Apr 2020 23:42:14 GMT",
      "etag" : "0x8D7DB4D4CD35422",
      "location" : "https://sdktest2.westcentralus.batch.azure.com/jobs/job-1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState?api-version=2020-03-01.11.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 07 Apr 2020 23:42:14 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D7DB4D4CD35422",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"BatchUser-Job-CanUpdateState\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState\",\"eTag\":\"0x8D7DB4D4CD35422\",\"lastModified\":\"2020-04-07T23:42:14.4097314Z\",\"creationTime\":\"2020-04-07T23:42:14.3957328Z\",\"state\":\"active\",\"stateTransitionTime\":\"2020-04-07T23:42:14.4097314Z\",\"priority\":0,\"usesTaskDependencies\":false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"BatchUser-testpool\"\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2020-04-07T23:42:14.4097314Z\",\"poolId\":\"BatchUser-testpool\"\r\n  },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/disable?api-version=2020-03-01.11.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/disable",
      "retry-after" : "0",
      "StatusCode" : "202",
      "last-modified" : "Tue, 07 Apr 2020 23:42:15 GMT",
      "etag" : "0x8D7DB4D4D65F4E1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState?api-version=2020-03-01.11.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 07 Apr 2020 23:42:15 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D7DB4D4D65F4E1",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"BatchUser-Job-CanUpdateState\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState\",\"eTag\":\"0x8D7DB4D4D65F4E1\",\"lastModified\":\"2020-04-07T23:42:15.3706721Z\",\"creationTime\":\"2020-04-07T23:42:14.3957328Z\",\"state\":\"disabling\",\"stateTransitionTime\":\"2020-04-07T23:42:15.3706721Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2020-04-07T23:42:14.4097314Z\",\"priority\":0,\"usesTaskDependencies\":false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"BatchUser-testpool\"\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2020-04-07T23:42:14.4097314Z\",\"poolId\":\"BatchUser-testpool\"\r\n  },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"
    }
[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/enable?api-version=2020-03-01.11.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/enable",
      "retry-after" : "0",
      "StatusCode" : "202",
      "last-modified" : "Tue, 07 Apr 2020 23:42:21 GMT",
      "etag" : "0x8D7DB4D5112448A",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/terminate?api-version=2020-03-01.11.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/terminate",
      "retry-after" : "0",
      "StatusCode" : "202",
      "last-modified" : "Tue, 07 Apr 2020 23:42:21 GMT",
      "etag" : "0x8D7DB4D5144A3DC",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState?api-version=2020-03-01.11.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 07 Apr 2020 23:42:21 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D7DB4D5144A3DC",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"BatchUser-Job-CanUpdateState\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState\",\"eTag\":\"0x8D7DB4D5144A3DC\",\"lastModified\":\"2020-04-07T23:42:21.8632156Z\",\"creationTime\":\"2020-04-07T23:42:14.3957328Z\",\"state\":\"terminating\",\"stateTransitionTime\":\"2020-04-07T23:42:21.8632156Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2020-04-07T23:42:21.5330954Z\",\"priority\":0,\"usesTaskDependencies\":false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"BatchUser-testpool\"\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2020-04-07T23:42:14.4097314Z\",\"poolId\":\"BatchUser-testpool\",\"terminateReason\":\"myreason\"\r\n  },\"onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\"\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState?api-version=2020-03-01.11.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 07 Apr 2020 23:42:21 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D7DB4D5144A3DC",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"BatchUser-Job-CanUpdateState\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState\",\"eTag\":\"0x8D7DB4D5144A3DC\",\"lastModified\":\"2020-04-07T23:42:21.8632156Z\",\"creationTime\":\"2020-04-07T23:42:14.3957328Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2020-04-07T23:42:22.5772609Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2020-04-07T23:42:21.5330954Z\",\"priority\":0,\"usesTaskDependencies\":false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"BatchUser-testpool\"\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2020-04-07T23:42:14.4097314Z\",\"endTime\":\"2020-04-07T23:42:22.5772609Z\",\"poolId\":\"BatchUser-testpool\",\"terminateReason\":\"myreason\"\r\n  },\"onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\"\r\n}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState?api-version=2020-03-01.11.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "202",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}