{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobschedules?api-version=2023-05-01.17.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Tue, 23 May 2023 03:26:10 GMT",
      "etag" : "0x8DB5B3D7483ABAE",
      "location" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState?api-version=2023-05-01.17.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 23 May 2023 03:26:10 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8DB5B3D7483ABAE",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdkbatchaccount.westcentralus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"BatchUser-JobSchedule-updateJobScheduleState\",\"url\":\"https://sdkbatchaccount.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState\",\"eTag\":\"0x8DB5B3D7483ABAE\",\"lastModified\":\"2023-05-23T03:26:10.8976046Z\",\"creationTime\":\"2023-05-23T03:26:10.8976046Z\",\"state\":\"active\",\"stateTransitionTime\":\"2023-05-23T03:26:10.8976046Z\",\"schedule\":{\r\n    \"doNotRunUntil\":\"2023-05-23T03:26:09.699Z\",\"doNotRunAfter\":\"2023-05-23T08:26:09.699Z\",\"startWindow\":\"P5D\"\r\n  },\"jobSpecification\":{\r\n    \"priority\":100,\"maxParallelTasks\":-1,\"allowTaskPreemption\":false,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n    },\"poolInfo\":{\r\n      \"poolId\":\"BatchUser-testpool\"\r\n    }\r\n  },\"executionInfo\":{\r\n    \"recentJob\":{\r\n      \"url\":\"https://sdkbatchaccount.westcentralus.batch.azure.com/jobs/BatchUser-JobSchedule-updateJobScheduleState:job-1\",\"id\":\"BatchUser-JobSchedule-updateJobScheduleState:job-1\"\r\n    }\r\n  }\r\n}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/disable?api-version=2023-05-01.17.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/disable",
      "retry-after" : "0",
      "StatusCode" : "204",
      "last-modified" : "Tue, 23 May 2023 03:26:11 GMT",
      "etag" : "0x8DB5B3D74C4004E",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState?api-version=2023-05-01.17.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 23 May 2023 03:26:11 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8DB5B3D74C4004E",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdkbatchaccount.westcentralus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"BatchUser-JobSchedule-updateJobScheduleState\",\"url\":\"https://sdkbatchaccount.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState\",\"eTag\":\"0x8DB5B3D74C4004E\",\"lastModified\":\"2023-05-23T03:26:11.3192014Z\",\"creationTime\":\"2023-05-23T03:26:10.8976046Z\",\"state\":\"disabled\",\"stateTransitionTime\":\"2023-05-23T03:26:11.3192014Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2023-05-23T03:26:10.8976046Z\",\"schedule\":{\r\n    \"doNotRunUntil\":\"2023-05-23T03:26:09.699Z\",\"doNotRunAfter\":\"2023-05-23T08:26:09.699Z\",\"startWindow\":\"P5D\"\r\n  },\"jobSpecification\":{\r\n    \"priority\":100,\"maxParallelTasks\":-1,\"allowTaskPreemption\":false,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n    },\"poolInfo\":{\r\n      \"poolId\":\"BatchUser-testpool\"\r\n    }\r\n  },\"executionInfo\":{\r\n    \"recentJob\":{\r\n      \"url\":\"https://sdkbatchaccount.westcentralus.batch.azure.com/jobs/BatchUser-JobSchedule-updateJobScheduleState:job-1\",\"id\":\"BatchUser-JobSchedule-updateJobScheduleState:job-1\"\r\n    }\r\n  }\r\n}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/enable?api-version=2023-05-01.17.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/enable",
      "retry-after" : "0",
      "StatusCode" : "204",
      "last-modified" : "Tue, 23 May 2023 03:26:11 GMT",
      "etag" : "0x8DB5B3D74FB39CF",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/terminate?api-version=2023-05-01.17.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/terminate",
      "retry-after" : "0",
      "StatusCode" : "202",
      "last-modified" : "Tue, 23 May 2023 03:26:12 GMT",
      "etag" : "0x8DB5B3D75322C36",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState?api-version=2023-05-01.17.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "409",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdkbatchaccount.westcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"JobScheduleBeingDeleted\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\":\"The specified job schedule has been marked for deletion and is being reclaimed.\\nRequestId:72ad6e8c-13ca-4b03-a541-b356fda069be\\nTime:2023-05-23T03:26:14.9599141Z\"\r\n  }\r\n}"
    }
  } ],
  "variables" : [ ]
}