{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest2.westcentralus.batch.azure.com/jobs/job-1",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Wed, 19 Jun 2019 17:58:14 GMT",
      "etag" : "0x8D6F4DFB34B9057",
      "location" : "https://sdktest2.westcentralus.batch.azure.com/jobs/job-1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 19 Jun 2019 17:58:14 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D6F4DFB34B9057",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"BatchUser-Job-CanUpdateState\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState\",\"eTag\":\"0x8D6F4DFB34B9057\",\"lastModified\":\"2019-06-19T17:58:14.2462039Z\",\"creationTime\":\"2019-06-19T17:58:14.2326197Z\",\"state\":\"active\",\"stateTransitionTime\":\"2019-06-19T17:58:14.2462039Z\",\"priority\":0,\"usesTaskDependencies\":false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"BatchUser-testpool\"\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2019-06-19T17:58:14.2462039Z\",\"poolId\":\"BatchUser-testpool\"\r\n  },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/disable?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/disable",
      "retry-after" : "0",
      "StatusCode" : "202",
      "last-modified" : "Wed, 19 Jun 2019 17:58:14 GMT",
      "etag" : "0x8D6F4DFB364BACA",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 19 Jun 2019 17:58:14 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D6F4DFB364BACA",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"BatchUser-Job-CanUpdateState\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState\",\"eTag\":\"0x8D6F4DFB364BACA\",\"lastModified\":\"2019-06-19T17:58:14.4111306Z\",\"creationTime\":\"2019-06-19T17:58:14.2326197Z\",\"state\":\"disabling\",\"stateTransitionTime\":\"2019-06-19T17:58:14.4111306Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2019-06-19T17:58:14.2462039Z\",\"priority\":0,\"usesTaskDependencies\":false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"BatchUser-testpool\"\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2019-06-19T17:58:14.2462039Z\",\"poolId\":\"BatchUser-testpool\"\r\n  },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"
    }
[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/enable?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/enable",
      "retry-after" : "0",
      "StatusCode" : "202",
      "last-modified" : "Wed, 19 Jun 2019 17:58:19 GMT",
      "etag" : "0x8D6F4DFB69AB544",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/terminate?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/terminate",
      "retry-after" : "0",
      "StatusCode" : "202",
      "last-modified" : "Wed, 19 Jun 2019 17:58:19 GMT",
      "etag" : "0x8D6F4DFB6B20634",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 19 Jun 2019 17:58:19 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D6F4DFB6B20634",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"BatchUser-Job-CanUpdateState\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState\",\"eTag\":\"0x8D6F4DFB6B20634\",\"lastModified\":\"2019-06-19T17:58:19.9508532Z\",\"creationTime\":\"2019-06-19T17:58:14.2326197Z\",\"state\":\"terminating\",\"stateTransitionTime\":\"2019-06-19T17:58:19.9508532Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2019-06-19T17:58:19.7980484Z\",\"priority\":0,\"usesTaskDependencies\":false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"BatchUser-testpool\"\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2019-06-19T17:58:14.2462039Z\",\"poolId\":\"BatchUser-testpool\",\"terminateReason\":\"myreason\"\r\n  },\"onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\"\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 19 Jun 2019 17:58:19 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D6F4DFB6B20634",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"BatchUser-Job-CanUpdateState\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState\",\"eTag\":\"0x8D6F4DFB6B20634\",\"lastModified\":\"2019-06-19T17:58:19.9508532Z\",\"creationTime\":\"2019-06-19T17:58:14.2326197Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2019-06-19T17:58:20.6363316Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2019-06-19T17:58:19.7980484Z\",\"priority\":0,\"usesTaskDependencies\":false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"BatchUser-testpool\"\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2019-06-19T17:58:14.2462039Z\",\"endTime\":\"2019-06-19T17:58:20.6363316Z\",\"poolId\":\"BatchUser-testpool\",\"terminateReason\":\"myreason\"\r\n  },\"onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\"\r\n}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "202",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}