{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://javasdkacct.eastus.batch.azure.com/jobs/job-1",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Fri, 11 Feb 2022 01:16:23 GMT",
      "etag" : "0x8D9ECFC1E77D4BA",
      "location" : "https://javasdkacct.eastus.batch.azure.com/jobs/job-1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 11 Feb 2022 01:16:23 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D9ECFC1E77D4BA",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"BatchUser-Job-CanUpdateState\",\"url\":\"https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState\",\"eTag\":\"0x8D9ECFC1E77D4BA\",\"lastModified\":\"2022-02-11T01:16:23.671929Z\",\"creationTime\":\"2022-02-11T01:16:23.6499278Z\",\"state\":\"active\",\"stateTransitionTime\":\"2022-02-11T01:16:23.671929Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"BatchUser-testpool\"\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2022-02-11T01:16:23.671929Z\",\"poolId\":\"BatchUser-testpool\"\r\n  },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/disable?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/disable",
      "retry-after" : "0",
      "StatusCode" : "202",
      "last-modified" : "Fri, 11 Feb 2022 01:16:23 GMT",
      "etag" : "0x8D9ECFC1EA2D44E",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 11 Feb 2022 01:16:23 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D9ECFC1EA2D44E",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"BatchUser-Job-CanUpdateState\",\"url\":\"https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState\",\"eTag\":\"0x8D9ECFC1EA2D44E\",\"lastModified\":\"2022-02-11T01:16:23.953723Z\",\"creationTime\":\"2022-02-11T01:16:23.6499278Z\",\"state\":\"disabling\",\"stateTransitionTime\":\"2022-02-11T01:16:23.953723Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2022-02-11T01:16:23.671929Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"BatchUser-testpool\"\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2022-02-11T01:16:23.671929Z\",\"poolId\":\"BatchUser-testpool\"\r\n  },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"
    }
[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/enable?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/enable",
      "retry-after" : "0",
      "StatusCode" : "202",
      "last-modified" : "Fri, 11 Feb 2022 01:16:29 GMT",
      "etag" : "0x8D9ECFC21FA9658",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/terminate?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState/terminate",
      "retry-after" : "0",
      "StatusCode" : "202",
      "last-modified" : "Fri, 11 Feb 2022 01:16:29 GMT",
      "etag" : "0x8D9ECFC221FE58D",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 11 Feb 2022 01:16:29 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D9ECFC221FE58D",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"BatchUser-Job-CanUpdateState\",\"url\":\"https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState\",\"eTag\":\"0x8D9ECFC221FE58D\",\"lastModified\":\"2022-02-11T01:16:29.8065293Z\",\"creationTime\":\"2022-02-11T01:16:23.6499278Z\",\"state\":\"terminating\",\"stateTransitionTime\":\"2022-02-11T01:16:29.8065293Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2022-02-11T01:16:29.5620184Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"BatchUser-testpool\"\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2022-02-11T01:16:23.671929Z\",\"poolId\":\"BatchUser-testpool\",\"terminateReason\":\"myreason\"\r\n  },\"onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\"\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 11 Feb 2022 01:16:29 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D9ECFC221FE58D",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"BatchUser-Job-CanUpdateState\",\"url\":\"https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState\",\"eTag\":\"0x8D9ECFC221FE58D\",\"lastModified\":\"2022-02-11T01:16:29.8065293Z\",\"creationTime\":\"2022-02-11T01:16:23.6499278Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2022-02-11T01:16:30.7978576Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2022-02-11T01:16:29.5620184Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"allowTaskPreemption\":false,\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n  },\"poolInfo\":{\r\n    \"poolId\":\"BatchUser-testpool\"\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2022-02-11T01:16:23.671929Z\",\"endTime\":\"2022-02-11T01:16:30.7978576Z\",\"poolId\":\"BatchUser-testpool\",\"terminateReason\":\"myreason\"\r\n  },\"onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\"\r\n}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-Job-CanUpdateState?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "202",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}