{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest2.westcentralus.batch.azure.com/jobs/job-1",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Wed, 19 Jun 2019 18:20:57 GMT",
      "etag" : "0x8D6F4E2DFE47C80",
      "location" : "https://sdktest2.westcentralus.batch.azure.com/jobs/job-1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-failCreateContainerRegPool/tasks?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-failCreateContainerRegPool/tasks/mytask",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Wed, 19 Jun 2019 18:20:57 GMT",
      "etag" : "0x8D6F4E2DFEB1612",
      "location" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-failCreateContainerRegPool/tasks/mytask",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-failCreateContainerRegPool?api-version=2019-06-01.9.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "202",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}