{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobs?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://servbatch.centralus.batch.azure.com/jobs/job-1",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Fri, 22 Feb 2019 22:42:43 GMT",
      "etag" : "0x8D699170EF5A91F",
      "location" : "https://servbatch.centralus.batch.azure.com/jobs/job-1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobs/BatchUser-testOutputFiles/tasks?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://servbatch.centralus.batch.azure.com/jobs/BatchUser-testOutputFiles/tasks/mytask",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Fri, 22 Feb 2019 22:42:43 GMT",
      "etag" : "0x8D699170F47ED51",
      "location" : "https://servbatch.centralus.batch.azure.com/jobs/BatchUser-testOutputFiles/tasks/mytask",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobs/BatchUser-testOutputFiles/tasks?api-version=2018-12-01.8.0&%24select=id%2C%20state",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://servbatch.centralus.batch.azure.com/$metadata#tasks\",\"value\":[\r\n    {\r\n      \"id\":\"mytask\",\"state\":\"active\"\r\n    }\r\n  ]\r\n}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobs/BatchUser-testOutputFiles/tasks/mytask?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 22 Feb 2019 22:42:43 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D699170F47ED51",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://servbatch.centralus.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"mytask\",\"url\":\"https://servbatch.centralus.batch.azure.com/jobs/BatchUser-testOutputFiles/tasks/mytask\",\"eTag\":\"0x8D699170F47ED51\",\"creationTime\":\"2019-02-22T22:42:43.9173457Z\",\"lastModified\":\"2019-02-22T22:42:43.9173457Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2019-02-22T22:42:46.496548Z\",\"previousState\":\"running\",\"previousStateTransitionTime\":\"2019-02-22T22:42:44.918573Z\",\"commandLine\":\"bash -c \\\"echo hello\\\"\",\"outputFiles\":[\r\n    {\r\n      \"filePattern\":\"../stdout.txt\",\"destination\":{\r\n        \"container\":{\r\n          \"containerUrl\":\"https://batchstrg.blob.core.windows.net/output?sig=wdoTjmEMt0tq4CbUuzfH8nWjKJ%2FGPV%2Frm3gz1cUcz%2Fg%3D&se=2019-02-23T22%3A42%3A43Z&sv=2018-03-28&sp=rcwdl&sr=c\",\"path\":\"taskLogs/output.txt\"\r\n        }\r\n      },\"uploadOptions\":{\r\n        \"uploadCondition\":\"TaskCompletion\"\r\n      }\r\n    },{\r\n      \"filePattern\":\"../stderr.txt\",\"destination\":{\r\n        \"container\":{\r\n          \"containerUrl\":\"https://batchstrg.blob.core.windows.net/output?sig=wdoTjmEMt0tq4CbUuzfH8nWjKJ%2FGPV%2Frm3gz1cUcz%2Fg%3D&se=2019-02-23T22%3A42%3A43Z&sv=2018-03-28&sp=rcwdl&sr=c\",\"path\":\"taskLogs/err.txt\"\r\n        }\r\n      },\"uploadOptions\":{\r\n        \"uploadCondition\":\"TaskFailure\"\r\n      }\r\n    }\r\n  ],\"userIdentity\":{\r\n    \"autoUser\":{\r\n      \"elevationLevel\":\"nonadmin\"\r\n    }\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":0\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2019-02-22T22:42:44.918682Z\",\"endTime\":\"2019-02-22T22:42:46.496548Z\",\"exitCode\":0,\"result\":\"success\",\"retryCount\":0,\"requeueCount\":0\r\n  },\"nodeInfo\":{\r\n    \"affinityId\":\"TVM:tvmps_4ae0138be98a88b4518ef54c7971defd62f40bd8909e4db4762b5bbd92b93894_d\",\"nodeUrl\":\"https://servbatch.centralus.batch.azure.com/pools/BatchUser-testIaaSpool/nodes/tvmps_4ae0138be98a88b4518ef54c7971defd62f40bd8909e4db4762b5bbd92b93894_d\",\"poolId\":\"BatchUser-testIaaSpool\",\"nodeId\":\"tvmps_4ae0138be98a88b4518ef54c7971defd62f40bd8909e4db4762b5bbd92b93894_d\",\"taskRootDirectory\":\"workitems/BatchUser-testOutputFiles/job-1/mytask\",\"taskRootDirectoryUrl\":\"https://servbatch.centralus.batch.azure.com/pools/BatchUser-testIaaSpool/nodes/tvmps_4ae0138be98a88b4518ef54c7971defd62f40bd8909e4db4762b5bbd92b93894_d/files/workitems/BatchUser-testOutputFiles/job-1/mytask\"\r\n  }\r\n}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobs/BatchUser-testOutputFiles/tasks/mytask1?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 22 Feb 2019 22:42:54 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D6991715B1E886",
      "dataserviceversion"[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobs/BatchUser-testOutputFiles?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "202",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}