{
  "networkCallRecords" : [ {
    "Method" : "HEAD",
    "Uri" : "https://sanjbatch.eastus.batch.azure.com/pools/BatchUserSecurityProfile?api-version=2024-02-01.19.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://sanjbatch.eastus.batch.azure.com/pools?api-version=2024-02-01.19.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sanjbatch.eastus.batch.azure.com/pools/BatchUserSecurityProfile",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Fri, 29 Mar 2024 06:02:09 GMT",
      "etag" : "0x8DC4FB5C53758F8",
      "location" : "https://sanjbatch.eastus.batch.azure.com/pools/BatchUserSecurityProfile",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sanjbatch.eastus.batch.azure.com/pools/BatchUserSecurityProfile?api-version=2024-02-01.19.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 29 Mar 2024 06:02:09 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8DC4FB5C53758F8",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sanjbatch.eastus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"BatchUserSecurityProfile\",\"url\":\"https://sanjbatch.eastus.batch.azure.com/pools/BatchUserSecurityProfile\",\"eTag\":\"0x8DC4FB5C53758F8\",\"lastModified\":\"2024-03-29T06:02:09.6181496Z\",\"creationTime\":\"2024-03-29T06:02:09.6181483Z\",\"state\":\"active\",\"stateTransitionTime\":\"2024-03-29T06:02:09.6181483Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2024-03-29T06:02:09.6181496Z\",\"vmSize\":\"standard_d2s_v3\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n    \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"0001-com-ubuntu-server-jammy\",\"sku\":\"22_04-lts\",\"version\":\"latest\"\r\n    },\"osDisk\":{\r\n      \"ephemeralOSDiskSettings\":{},\"managedDisk\":{\r\n        \"storageAccountType\":\"standard_lrs\"\r\n      },\"diskSizeGB\":50,\"writeAcceleratorEnabled\":true,\"caching\":\"ReadWrite\"\r\n    },\"nodeAgentSKUId\":\"batch.node.ubuntu 22.04\",\"securityProfile\":{\r\n      \"securityType\":\"trustedlaunch\",\"encryptionAtHost\":true,\"uefiSettings\":{\r\n        \"secureBootEnabled\":true,\"vTpmEnabled\":true\r\n      }\r\n    }\r\n  }\r\n}"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sanjbatch.eastus.batch.azure.com/pools/BatchUserSecurityProfile?api-version=2024-02-01.19.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "202",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}