{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://javasdkacct.eastus.batch.azure.com/jobs/job-1",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Fri, 11 Feb 2022 01:03:16 GMT",
      "etag" : "0x8D9ECFA49673A07",
      "location" : "https://javasdkacct.eastus.batch.azure.com/jobs/job-1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-testOutputFiles/tasks?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-testOutputFiles/tasks/mytask",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Fri, 11 Feb 2022 01:03:17 GMT",
      "etag" : "0x8D9ECFA49A9C877",
      "location" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-testOutputFiles/tasks/mytask",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-testOutputFiles/tasks?api-version=2022-01-01.15.0&%24select=id%2C%20state",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#tasks\",\"value\":[\r\n    {\r\n      \"id\":\"mytask\",\"state\":\"active\"\r\n    }\r\n  ]\r\n}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-testOutputFiles/tasks/mytask?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 11 Feb 2022 01:03:17 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D9ECFA49A9C877",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://javasdkacct.eastus.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"mytask\",\"url\":\"https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-testOutputFiles/tasks/mytask\",\"eTag\":\"0x8D9ECFA49A9C877\",\"creationTime\":\"2022-02-11T01:03:17.1478647Z\",\"lastModified\":\"2022-02-11T01:03:17.1478647Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2022-02-11T01:03:17.938176Z\",\"previousState\":\"running\",\"previousStateTransitionTime\":\"2022-02-11T01:03:17.399406Z\",\"commandLine\":\"bash -c \\\"echo hello\\\"\",\"outputFiles\":[\r\n    {\r\n      \"filePattern\":\"../stdout.txt\",\"destination\":{\r\n        \"container\":{\r\n          \"containerUrl\":\"https://javasdkstore.blob.core.windows.net/output?sig=rgUYyfzGWjPQbZU5S9KVm6iYR3waLH698UXItQHI0eE%3D&se=2022-02-12T01%3A03%3A17Z&sv=2018-03-28&sp=rcwdl&sr=c\",\"path\":\"taskLogs/output.txt\"\r\n        }\r\n      },\"uploadOptions\":{\r\n        \"uploadCondition\":\"TaskCompletion\"\r\n      }\r\n    },{\r\n      \"filePattern\":\"../stderr.txt\",\"destination\":{\r\n        \"container\":{\r\n          \"containerUrl\":\"https://javasdkstore.blob.core.windows.net/output?sig=rgUYyfzGWjPQbZU5S9KVm6iYR3waLH698UXItQHI0eE%3D&se=2022-02-12T01%3A03%3A17Z&sv=2018-03-28&sp=rcwdl&sr=c\",\"path\":\"taskLogs/err.txt\"\r\n        }\r\n      },\"uploadOptions\":{\r\n        \"uploadCondition\":\"TaskFailure\"\r\n      }\r\n    }\r\n  ],\"userIdentity\":{\r\n    \"autoUser\":{\r\n      \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n    }\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":0\r\n  },\"requiredSlots\":1,\"executionInfo\":{\r\n    \"startTime\":\"2022-02-11T01:03:17.455829Z\",\"endTime\":\"2022-02-11T01:03:17.938176Z\",\"exitCode\":0,\"result\":\"success\",\"retryCount\":0,\"requeueCount\":0\r\n  },\"nodeInfo\":{\r\n    \"affinityId\":\"TVM:tvmps_ca0689d44c70a980912db95f05b5b6c796eb7cb6b14765fa7e5c4e376702bd16_d\",\"nodeUrl\":\"https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-testIaaSpool/nodes/tvmps_ca0689d44c70a980912db95f05b5b6c796eb7cb6b14765fa7e5c4e376702bd16_d\",\"poolId\":\"BatchUser-testIaaSpool\",\"nodeId\":\"tvmps_ca0689d44c70a980912db95f05b5b6c796eb7cb6b14765fa7e5c4e376702bd16_d\",\"taskRootDirectory\":\"workitems/BatchUser-testOutputFiles/job-1/mytask\",\"taskRootDirectoryUrl\":\"https://javasdkacct.eastus.batch.azure.com/pools/BatchUser-testIaaSpool/nodes/tvmps_ca0689d44c70a980912db95f05b5b6c796eb7cb6b14765fa7e5c4e376702bd16_d/files/workitems/BatchUser-testOutputFiles/job-1/mytask\"\r\n  }\r\n}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-testOutputFiles/tasks/mytask1?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 11 Feb 2022 01:03:27 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D9ECFA501E56E4",
      "dataserviceversion"[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://javasdkacct.eastus.batch.azure.com/jobs/BatchUser-testOutputFiles?api-version=2022-01-01.15.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "202",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}