{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://sdktest.westus.batch.azure.com/jobs?api-version=2022-10-01.16.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest.westus.batch.azure.com/jobs/job-1",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Tue, 15 Nov 2022 04:05:00 GMT",
      "etag" : "0x8DAC6BE90E14C24",
      "location" : "https://sdktest.westus.batch.azure.com/jobs/job-1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://sdktest.westus.batch.azure.com/jobs/BatchUser-testOutputFiles/tasks?api-version=2022-10-01.16.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest.westus.batch.azure.com/jobs/BatchUser-testOutputFiles/tasks/mytask",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Tue, 15 Nov 2022 04:05:00 GMT",
      "etag" : "0x8DAC6BE9121DAE5",
      "location" : "https://sdktest.westus.batch.azure.com/jobs/BatchUser-testOutputFiles/tasks/mytask",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest.westus.batch.azure.com/jobs/BatchUser-testOutputFiles/tasks?api-version=2022-10-01.16.0&%24select=id%2C%20state",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest.westus.batch.azure.com/$metadata#tasks\",\"value\":[\r\n    {\r\n      \"id\":\"mytask\",\"state\":\"active\"\r\n    }\r\n  ]\r\n}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest.westus.batch.azure.com/jobs/BatchUser-testOutputFiles/tasks/mytask?api-version=2022-10-01.16.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 15 Nov 2022 04:05:00 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8DAC6BE9121DAE5",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest.westus.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"mytask\",\"url\":\"https://sdktest.westus.batch.azure.com/jobs/BatchUser-testOutputFiles/tasks/mytask\",\"eTag\":\"0x8DAC6BE9121DAE5\",\"creationTime\":\"2022-11-15T04:05:00.7347429Z\",\"lastModified\":\"2022-11-15T04:05:00.7347429Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2022-11-15T04:05:02.640691Z\",\"previousState\":\"running\",\"previousStateTransitionTime\":\"2022-11-15T04:05:02.048894Z\",\"commandLine\":\"bash -c \\\"echo hello\\\"\",\"outputFiles\":[\r\n    {\r\n      \"filePattern\":\"../stdout.txt\",\"destination\":{\r\n        \"container\":{\r\n          \"containerUrl\":\"https://batchsdktest.blob.core.windows.net/output?sig=b8C%2F0H5tEjPDEVSj1M4R9j75Kl9r8UGwJmOZnMlfq0E%3D&se=2022-11-16T04%3A05%3A00Z&sv=2018-03-28&sp=rcwdl&sr=c\",\"path\":\"taskLogs/output.txt\"\r\n        }\r\n      },\"uploadOptions\":{\r\n        \"uploadCondition\":\"TaskCompletion\"\r\n      }\r\n    },{\r\n      \"filePattern\":\"../stderr.txt\",\"destination\":{\r\n        \"container\":{\r\n          \"containerUrl\":\"https://batchsdktest.blob.core.windows.net/output?sig=b8C%2F0H5tEjPDEVSj1M4R9j75Kl9r8UGwJmOZnMlfq0E%3D&se=2022-11-16T04%3A05%3A00Z&sv=2018-03-28&sp=rcwdl&sr=c\",\"path\":\"taskLogs/err.txt\"\r\n        }\r\n      },\"uploadOptions\":{\r\n        \"uploadCondition\":\"TaskFailure\"\r\n      }\r\n    }\r\n  ],\"userIdentity\":{\r\n    \"autoUser\":{\r\n      \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n    }\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":0\r\n  },\"requiredSlots\":1,\"executionInfo\":{\r\n    \"startTime\":\"2022-11-15T04:05:02.123302Z\",\"endTime\":\"2022-11-15T04:05:02.640691Z\",\"exitCode\":0,\"result\":\"success\",\"retryCount\":0,\"requeueCount\":0\r\n  },\"nodeInfo\":{\r\n    \"affinityId\":\"TVM:tvmps_174bbecd948b59bdee9f6269edd409a223a90ce03ef1b910296bc05c526ced52_d\",\"nodeUrl\":\"https://sdktest.westus.batch.azure.com/pools/BatchUser-testIaaSpool/nodes/tvmps_174bbecd948b59bdee9f6269edd409a223a90ce03ef1b910296bc05c526ced52_d\",\"poolId\":\"BatchUser-testIaaSpool\",\"nodeId\":\"tvmps_174bbecd948b59bdee9f6269edd409a223a90ce03ef1b910296bc05c526ced52_d\",\"taskRootDirectory\":\"workitems/BatchUser-testOutputFiles/job-1/mytask\",\"taskRootDirectoryUrl\":\"https://sdktest.westus.batch.azure.com/pools/BatchUser-testIaaSpool/nodes/tvmps_174bbecd948b59bdee9f6269edd409a223a90ce03ef1b910296bc05c526ced52_d/files/workitems/BatchUser-testOutputFiles/job-1/mytask\"\r\n  }\r\n}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest.westus.batch.azure.com/jobs/BatchUser-testOutputFiles/tasks/mytask1?api-version=2022-10-01.16.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 15 Nov 2022 04:05:11 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8DAC6BE97C429F3",
      "dataserviceversion" : "[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sdktest.westus.batch.azure.com/jobs/BatchUser-testOutputFiles?api-version=2022-10-01.16.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "202",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}