{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobs?api-version=2023-05-01.17.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobs/job-1",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Tue, 23 May 2023 05:05:56 GMT",
      "etag" : "0x8DB5B4B6400F4DE",
      "location" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobs/job-1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobs/BatchUser-testJobUser/tasks?api-version=2023-05-01.17.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobs/BatchUser-testJobUser/tasks/mytask",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Tue, 23 May 2023 05:05:56 GMT",
      "etag" : "0x8DB5B4B641D3E4D",
      "location" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobs/BatchUser-testJobUser/tasks/mytask",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobs/BatchUser-testJobUser/tasks/mytask?api-version=2023-05-01.17.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 23 May 2023 05:05:56 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8DB5B4B641D3E4D",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdkbatchaccount.westcentralus.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"mytask\",\"url\":\"https://sdkbatchaccount.westcentralus.batch.azure.com/jobs/BatchUser-testJobUser/tasks/mytask\",\"eTag\":\"0x8DB5B4B641D3E4D\",\"creationTime\":\"2023-05-23T05:05:56.3370061Z\",\"lastModified\":\"2023-05-23T05:05:56.3370061Z\",\"state\":\"active\",\"stateTransitionTime\":\"2023-05-23T05:05:56.3370061Z\",\"commandLine\":\"cmd /c echo hello\",\"applicationPackageReferences\":[\r\n    {\r\n      \"applicationId\":\"msmpi\"\r\n    }\r\n  ],\"userIdentity\":{\r\n    \"username\":\"test-user\"\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":0\r\n  },\"requiredSlots\":1,\"executionInfo\":{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n  }\r\n}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sdkbatchaccount.westcentralus.batch.azure.com/jobs/BatchUser-testJobUser?api-version=2023-05-01.17.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "202",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}