{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/job-1",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Mon, 26 Jul 2021 18:10:44 GMT",
      "etag" : "0x8D95060AFC41683",
      "location" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/job-1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-testGetTaskCounts/taskcounts?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "500",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"InternalError\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\":\"Server encountered an internal error. Please try again after some time.\\nRequestId:c650b543-db78-439f-ad17-f98dd5ede4a1\\nTime:2021-07-26T18:11:00.5873690Z\"\r\n  }\r\n}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-testGetTaskCounts/taskcounts?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/$metadata#taskcountsresult/@Element\",\"taskCounts\":{\r\n    \"active\":0,\"running\":0,\"completed\":0,\"succeeded\":0,\"failed\":0\r\n  },\"taskSlotCounts\":{\r\n    \"active\":0,\"running\":0,\"completed\":0,\"succeeded\":0,\"failed\":0\r\n  }\r\n}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-testGetTaskCounts/addtaskcollection?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/$metadata#taskaddresult\",\"value\":[\r\n    {\r\n      \"status\":\"Success\",\"taskId\":\"mytask450\",\"eTag\":\"0x8D95060C8CB536A\",\"lastModified\":\"2021-07-26T18:11:26.5486698Z\",\"location\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-testGetTaskCounts/tasks/mytask450\"\r\n    },{\r\n      \"status\":\"Success\",\"taskId\":\"mytask470\",\"eTag\":\"0x8D95060C8DF5087\",\"lastModified\":\"2021-07-26T18:11:26.6796679Z\",\"location\":\"https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-testGetTaskCounts/tasks/mytask470\"\r\n    },{\r\n      \"status\":\"Success\",\"taskId\":\"mytask452\",\"eT[...]
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://shpasterbatch1.pilotprod2.eastus.batch.azure.com/jobs/BatchUser-testGetTaskCounts?api-version=2021-06-01.14.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "202",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}