{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/pools/BatchUser-testpool?api-version=2019-08-01.10.0&%24expand=stats",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 06 Aug 2019 16:52:11 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D71A8E6D5B06C8",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"BatchUser-testpool\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/pools/BatchUser-testpool\",\"eTag\":\"0x8D71A8E6D5B06C8\",\"lastModified\":\"2019-08-06T16:52:11.8574792Z\",\"creationTime\":\"2019-08-06T16:52:11.8574792Z\",\"state\":\"active\",\"stateTransitionTime\":\"2019-08-06T16:52:11.8574792Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2019-08-06T16:53:33.8509356Z\",\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":3,\"targetDedicatedNodes\":3,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"userAccounts\":[\r\n    {\r\n      \"name\":\"test-user\",\"elevationLevel\":\"admin\",\"windowsUserConfiguration\":{\r\n        \"loginMode\":\"interactive\"\r\n      }\r\n    }\r\n  ],\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n  },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"4\",\"osVersion\":\"*\"\r\n  }\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/pools?api-version=2019-08-01.10.0&%24select=id%2C%20state",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#pools\",\"value\":[\r\n    {\r\n      \"id\":\"BatchUser-testpool\",\"state\":\"active\"\r\n    },{\r\n      \"id\":\"ncj-ubuntu1604\",\"state\":\"active\"\r\n    },{\r\n      \"id\":\"ncj-windows-2012-r2\",\"state\":\"active\"\r\n    },{\r\n      \"id\":\"xplatTestPool\",\"state\":\"active\"\r\n    }\r\n  ]\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/pools?api-version=2019-08-01.10.0&%24filter=state%20eq%20%27deleting%27",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#pools\",\"value\":[\r\n    \r\n  ]\r\n}"
    }
  } ],
  "variables" : [ ]
}