{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs?api-version=2020-03-01.11.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest2.westcentralus.batch.azure.com/jobs/job-1",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Wed, 08 Apr 2020 00:09:12 GMT",
      "etag" : "0x8D7DB51110E483A",
      "location" : "https://sdktest2.westcentralus.batch.azure.com/jobs/job-1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-testJobUser/tasks?api-version=2020-03-01.11.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-testJobUser/tasks/mytask",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Wed, 08 Apr 2020 00:09:12 GMT",
      "etag" : "0x8D7DB511117AA62",
      "location" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-testJobUser/tasks/mytask",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-testJobUser/tasks/mytask?api-version=2020-03-01.11.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 08 Apr 2020 00:09:12 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D7DB511117AA62",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://sdktest2.westcentralus.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"mytask\",\"url\":\"https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-testJobUser/tasks/mytask\",\"eTag\":\"0x8D7DB511117AA62\",\"creationTime\":\"2020-04-08T00:09:12.1812066Z\",\"lastModified\":\"2020-04-08T00:09:12.1812066Z\",\"state\":\"active\",\"stateTransitionTime\":\"2020-04-08T00:09:12.1812066Z\",\"commandLine\":\"cmd /c echo hello\",\"applicationPackageReferences\":[\r\n    {\r\n      \"applicationId\":\"msmpi\"\r\n    }\r\n  ],\"userIdentity\":{\r\n    \"username\":\"test-user\"\r\n  },\"constraints\":{\r\n    \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":0\r\n  },\"executionInfo\":{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n  }\r\n}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sdktest2.westcentralus.batch.azure.com/jobs/BatchUser-testJobUser?api-version=2020-03-01.11.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "202",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}