<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hyak.Generator" version="1.0.5429.26906-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Scheduler.Specification" version="1.0.5429.34185-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.CloudServices.Specification" version="1.0.5430.13424-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.MediaServices.Specification" version="1.0.5427.16700-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Compute.Specification" version="2.0.5430.13424-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Specification" version="1.0.5427.16700-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Sql.Specification" version="1.0.5427.16701-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Storage.Specification" version="1.0.5427.16701-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.WebSites.Specification" version="3.0.5430.13427-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Network.Specification" version="2.0.5427.16701-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.ServiceBus.Specification" version="1.0.5427.16701-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Azure.Management.Resources.Specification" version="1.0.5427.16701-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Azure.Management.Sql.Specification" version="0.9.5427.16704-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Azure.Management.WebSites.Specification" version="2.0.5427.16702-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
</packages>
