<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hydra.Generator" version="1.0.5414.5153-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Scheduler.Specification" version="1.0.5407.24153-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.CloudServices.Specification" version="1.0.5407.24151-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.MediaServices.Specification" version="1.0.5407.24152-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Compute.Specification" version="2.0.5409.13599-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Specification" version="1.0.5407.24152-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Sql.Specification" version="1.0.5407.24154-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Storage.Specification" version="1.0.5407.24154-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.WebSites.Specification" version="3.0.5407.24154-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Network.Specification" version="2.0.5408.25340-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.ServiceBus.Specification" version="1.0.5407.24153-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Azure.Management.Resources.Specification" version="1.0.5407.24153-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Azure.Management.Sql.Specification" version="0.9.5407.24158-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Azure.Management.WebSites.Specification" version="2.0.5407.24155-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
</packages>
