{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestslistfilesanddirectoriesargs232567f2204?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7519F60FD6F17",
      "Last-Modified" : "Tue, 15 Oct 2019 18:42:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestslistfilesanddirectoriesargs232567f2204/directoryapitestslistfilesanddirectoriesargs20433483445?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-10-15T18:42:06.5747491Z",
      "Last-Modified" : "Tue, 15 Oct 2019 18:42:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7519F61078623",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-10-15T18:42:06.5747491Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-10-15T18:42:06.5747491Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestslistfilesanddirectoriesargs232567f2204/directoryapitestslistfilesanddirectoriesargs20433483445%2fdirectoryapitestslistfilesanddirectoriesargs274830fd2c00?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "13835093239654252544",
      "x-ms-file-creation-time" : "2019-10-15T18:42:06.6207926Z",
      "Last-Modified" : "Tue, 15 Oct 2019 18:42:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7519F610E8CB6",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-10-15T18:42:06.6207926Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-10-15T18:42:06.6207926Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestslistfilesanddirectoriesargs232567f2204/directoryapitestslistfilesanddirectoriesargs20433483445%2fdirectoryapitestslistfilesanddirectoriesargs274830fd2c00%2fdirectoryapitestslistfilesanddirectoriesargs274830fd2c03",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "11529285414812647424",
      "x-ms-file-creation-time" : "2019-10-15T18:42:06.6738436Z",
      "Last-Modified" : "Tue, 15 Oct 2019 18:42:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7519F6116A504",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-10-15T18:42:06.6738436Z",
      "x-ms-file-parent-id" : "13835093239654252544",
      "x-ms-file-last-write-time" : "2019-10-15T18:42:06.6738436Z"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestslistfilesanddirectoriesargs232567f2204/directoryapitestslistfilesanddirectoriesargs20433483445%2fdirectoryapitestslistfilesanddirectoriesargs274830fd2c02",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "10376328725833711616",
      "x-ms-file-creation-time" : "2019-10-15T18:42:06.9320932Z",
      "Last-Modified" : "Tue, 15 Oct 2019 18:42:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7519F613E0CE4",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-10-15T18:42:06.9320932Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-10-15T18:42:06.9320932Z"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestslistfilesanddirectoriesargs232567f2204/directoryapitestslistfilesanddirectoriesargs20433483445?prefix=noOp&maxresults=3&restype=directory&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\" ShareName=\"directoryapitestslistfilesanddirectoriesargs232567f2204\" DirectoryPath=\"directoryapitestslistfilesanddirectoriesargs20433483445\"><Prefix>noOp</Prefix><MaxResults>3</MaxResults><Entries /><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestslistfilesanddirectoriesargs232567f2204", "directoryapitestslistfilesanddirectoriesargs20433483445", "directoryapitestslistfilesanddirectoriesargs274830fd2c0" ]
}