{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/getdirectorypathdirectoryapitestsgetdirectorypathb03483870?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F24E92B4B9C",
      "Last-Modified" : "Thu, 12 Dec 2019 17:01:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=getdirectorypath&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>getdirectorypath</Prefix><Shares><Share><Name>getdirectorypathdirectoryapitestsgetdirectorypathb03483870</Name><Properties><Last-Modified>Thu, 12 Dec 2019 17:01:20 GMT</Last-Modified><Etag>\"0x8D77F24E92B4B9C\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/getdirectorypathdirectoryapitestsgetdirectorypathb03483870?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "getdirectorypathdirectoryapitestsgetdirectorypathb03483870", "getdirectorypathdirectoryapitestsgetdirectorypathb0399228a" ]
}