{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/setmetadatadirectoryasyncapitestssetmetadatac5e397111ef3?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7785049DD67BB",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/setmetadatadirectoryasyncapitestssetmetadatac5e397111ef3/setmetadatadirectoryasyncapitestssetmetadatac5e60794ac58?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T00:24:12.8587043Z",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7785049E3A523",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-04T00:24:12.8587043Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T00:24:12.8587043Z"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/setmetadatadirectoryasyncapitestssetmetadatac5e397111ef3/setmetadatadirectoryasyncapitestssetmetadatac5e60794ac58?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T00:24:12.8587043Z",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7785049E3A523",
      "x-ms-file-attributes" : "Directory",
      "x-ms-meta-testmetadata" : "value",
      "x-ms-file-change-time" : "2019-12-04T00:24:12.8587043Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T00:24:12.8587043Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/setmetadatadirectoryasyncapitestssetmetadatac5e397111ef3/setmetadatadirectoryasyncapitestssetmetadatac5e60794ac58?restype=directory&comp=metadata",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7785049ED6B6C",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/setmetadatadirectoryasyncapitestssetmetadatac5e397111ef3/setmetadatadirectoryasyncapitestssetmetadatac5e60794ac58?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-meta-update" : "value",
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T00:24:12.8587043Z",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7785049ED6B6C",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-04T00:24:12.9227628Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T00:24:12.8587043Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "setmetadatadirectoryasyncapitestssetmetadatac5e397111ef3", "setmetadatadirectoryasyncapitestssetmetadatac5e60794ac58" ]
}