{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createdirectorywithfilepermission5274984165799f21?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77850424C48BE",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createdirectorywithfilepermission5274984165799f21/createdirectorywithfilepermission380222a1b1b5b555?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "6119292009901620917*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T00:24:00.1640089Z",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7785042529699",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-04T00:24:00.1640089Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T00:24:00.1640089Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "createdirectorywithfilepermission5274984165799f21", "createdirectorywithfilepermission380222a1b1b5b555" ]
}