{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestsgetsharesnapshoturl0163471ebc67e8?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7519F5A940233",
      "Last-Modified" : "Tue, 15 Oct 2019 18:41:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestsgetsharesnapshoturl0163471ebc67e8?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-10-15T18:41:56.0000000Z",
      "ETag" : "0x8D7519F5A940233",
      "Last-Modified" : "Tue, 15 Oct 2019 18:41:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestsgetsharesnapshoturl0163471ebc67e8", "directoryapitestsgetsharesnapshoturl96745bb9230b09" ]
}