{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestsforceclosehandlemin43604f124f0d6c?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911B8BFA8D3",
      "Last-Modified" : "Wed, 04 Dec 2019 23:28:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestsforceclosehandlemin43604f124f0d6c/directoryapitestsforceclosehandlemin23677491a51afa?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "1887593946193683302*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T23:28:51.8109178Z",
      "Last-Modified" : "Wed, 04 Dec 2019 23:28:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77911B8CDB7FA",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-04T23:28:51.8109178Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T23:28:51.8109178Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestsforceclosehandlemin43604f124f0d6c/directoryapitestsforceclosehandlemin23677491a51afa?comp=forceclosehandles",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-number-of-handles-closed" : "0",
      "x-ms-number-of-handles-failed" : "0",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestsforceclosehandlemin43604f124f0d6c", "directoryapitestsforceclosehandlemin23677491a51afa" ]
}