{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestscreatefilemaxoverloadinvalidargs3090630c?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911BDA1F709",
      "Last-Modified" : "Wed, 04 Dec 2019 23:28:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestscreatefilemaxoverloadinvalidargs3090630c/directoryapitestscreatefilemaxoverloadinvalidargs38055143?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "1887593946193683302*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T23:29:00.0078926Z",
      "Last-Modified" : "Wed, 04 Dec 2019 23:29:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77911BDB07A4E",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-04T23:29:00.0078926Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T23:29:00.0078926Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestscreatefilemaxoverloadinvalidargs3090630c/directoryapitestscreatefilemaxoverloadinvalidargs38055143%2ffileName",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "EmptyMetadataKey",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>EmptyMetadataKey</Code><Message>The key for one of the metadata key-value pairs is empty.\nRequestId:172f88ef-101a-0047-37fa-aaf960000000\nTime:2019-12-04T23:29:00.1057760Z</Message><MetadataValue>value</MetadataValue></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestscreatefilemaxoverloadinvalidargs3090630c", "directoryapitestscreatefilemaxoverloadinvalidargs38055143" ]
}