{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/directoryasyncapitestsdeletefilelease23320143a6f51c?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D783404D74CAB0",
      "Last-Modified" : "Tue, 17 Dec 2019 22:27:29 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/directoryasyncapitestsdeletefilelease23320143a6f51c/directoryasyncapitestsdeletefilelease979647c45aa960?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "1887593946193683302*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-17T22:27:30.1647957Z",
      "Last-Modified" : "Tue, 17 Dec 2019 22:27:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D783404DBDDA55",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-17T22:27:30.1647957Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-17T22:27:30.1647957Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/directoryasyncapitestsdeletefilelease23320143a6f51c/directoryasyncapitestsdeletefilelease979647c45aa960%2ftestCreateFile",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "11529285414812647424",
      "x-ms-file-creation-time" : "2019-12-17T22:27:30.3587939Z",
      "Last-Modified" : "Tue, 17 Dec 2019 22:27:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D783404DDB7463",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-17T22:27:30.3587939Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-12-17T22:27:30.3587939Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/directoryasyncapitestsdeletefilelease23320143a6f51c/directoryasyncapitestsdeletefilelease979647c45aa960/testCreateFile?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D783404DDB7463",
      "x-ms-lease-id" : "7c4350fb-6c71-4461-a4d0-8e78cea245dc",
      "Last-Modified" : "Tue, 17 Dec 2019 22:27:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://gaprastg71.file.core.windows.net/directoryasyncapitestsdeletefilelease23320143a6f51c/directoryasyncapitestsdeletefilelease979647c45aa960%2ftestCreateFile",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryasyncapitestsdeletefilelease23320143a6f51c", "directoryasyncapitestsdeletefilelease979647c45aa960" ]
}