{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestslistfilesanddirectoriesargs24701042a14?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D767DE1362F8C2",
      "Last-Modified" : "Wed, 13 Nov 2019 02:06:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestslistfilesanddirectoriesargs24701042a14/directoryapitestslistfilesanddirectoriesargs283854674ff?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-11-13T02:06:20.2333243Z",
      "Last-Modified" : "Wed, 13 Nov 2019 02:06:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D767DE136A103B",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-11-13T02:06:20.2333243Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-11-13T02:06:20.2333243Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestslistfilesanddirectoriesargs24701042a14/directoryapitestslistfilesanddirectoriesargs283854674ff%2fdirectoryapitestslistfilesanddirectoriesargs298802a9f590?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "11529285414812647424",
      "x-ms-file-creation-time" : "2019-11-13T02:06:20.2773650Z",
      "Last-Modified" : "Wed, 13 Nov 2019 02:06:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D767DE1370C892",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-11-13T02:06:20.2773650Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-11-13T02:06:20.2773650Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestslistfilesanddirectoriesargs24701042a14/directoryapitestslistfilesanddirectoriesargs283854674ff%2fdirectoryapitestslistfilesanddirectoriesargs298802a9f590%2fdirectoryapitestslistfilesanddirectoriesargs298802a9f593",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "16140971433240035328",
      "x-ms-file-creation-time" : "2019-11-13T02:06:20.3274133Z",
      "Last-Modified" : "Wed, 13 Nov 2019 02:06:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D767DE13786B95",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-11-13T02:06:20.3274133Z",
      "x-ms-file-parent-id" : "11529285414812647424",
      "x-ms-file-last-write-time" : "2019-11-13T02:06:20.3274133Z"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestslistfilesanddirectoriesargs24701042a14/directoryapitestslistfilesanddirectoriesargs283854674ff%2fdirectoryapitestslistfilesanddirectoriesargs298802a9f592",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "9799903157902376960",
      "x-ms-file-creation-time" : "2019-11-13T02:06:20.5986688Z",
      "Last-Modified" : "Wed, 13 Nov 2019 02:06:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D767DE13A1CF80",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-11-13T02:06:20.5986688Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-11-13T02:06:20.5986688Z"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestslistfilesanddirectoriesargs24701042a14/directoryapitestslistfilesanddirectoriesargs283854674ff?prefix=noOp&maxresults=3&restype=directory&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\" ShareName=\"directoryapitestslistfilesanddirectoriesargs24701042a14\" DirectoryPath=\"directoryapitestslistfilesanddirectoriesargs283854674ff\"><Prefix>noOp</Prefix><MaxResults>3</MaxResults><Entries /><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestslistfilesanddirectoriesargs24701042a14", "directoryapitestslistfilesanddirectoriesargs283854674ff", "directoryapitestslistfilesanddirectoriesargs298802a9f59" ]
}