{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestsexistsdirectoryapitestsexistsb3a06738038?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7BA2C9F3275AA",
      "Last-Modified" : "Tue, 25 Feb 2020 19:55:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestsexistsdirectoryapitestsexistsb3a06738038/directoryapitestsexistsdirectoryapitestsexistsb3a666858c6?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "1887593946193683302*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2020-02-25T19:55:11.0685581Z",
      "Last-Modified" : "Tue, 25 Feb 2020 19:55:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7BA2C9F54EF8D",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2020-02-25T19:55:11.0685581Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2020-02-25T19:55:11.0685581Z"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestsexistsdirectoryapitestsexistsb3a06738038/directoryapitestsexistsdirectoryapitestsexistsb3a666858c6?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "1887593946193683302*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2020-02-25T19:55:11.0685581Z",
      "Last-Modified" : "Tue, 25 Feb 2020 19:55:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7BA2C9F54EF8D",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2020-02-25T19:55:11.0685581Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2020-02-25T19:55:11.0685581Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestsexistsdirectoryapitestsexistsb3a06738038", "directoryapitestsexistsdirectoryapitestsexistsb3a666858c6" ]
}