{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/directoryasyncapitestsdeletefileleasefail404982299ffb?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D78340039E4853",
      "Last-Modified" : "Tue, 17 Dec 2019 22:25:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/directoryasyncapitestsdeletefileleasefail404982299ffb/directoryasyncapitestsdeletefileleasefail997223a7d36d?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "1887593946193683302*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-17T22:25:26.0868071Z",
      "Last-Modified" : "Tue, 17 Dec 2019 22:25:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7834003C90DE7",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-17T22:25:26.0868071Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-17T22:25:26.0868071Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/directoryasyncapitestsdeletefileleasefail404982299ffb/directoryasyncapitestsdeletefileleasefail997223a7d36d%2ftestCreateFile",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "11529285414812647424",
      "x-ms-file-creation-time" : "2019-12-17T22:25:26.2048008Z",
      "Last-Modified" : "Tue, 17 Dec 2019 22:25:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7834003DB0F08",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-17T22:25:26.2048008Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-12-17T22:25:26.2048008Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/directoryasyncapitestsdeletefileleasefail404982299ffb/directoryasyncapitestsdeletefileleasefail997223a7d36d/testCreateFile?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7834003DB0F08",
      "x-ms-lease-id" : "6b5ba10a-586e-41b1-99d6-12fb798b8641",
      "Last-Modified" : "Tue, 17 Dec 2019 22:25:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://gaprastg71.file.core.windows.net/directoryasyncapitestsdeletefileleasefail404982299ffb/directoryasyncapitestsdeletefileleasefail997223a7d36d%2ftestCreateFile",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "LeaseIdMismatchWithFileOperation",
      "retry-after" : "0",
      "StatusCode" : "412",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMismatchWithFileOperation</Code><Message>The lease ID specified did not match the lease ID for the file.\nRequestId:044850da-301a-0032-1b28-b5924c000000\nTime:2019-12-17T22:25:26.4684979Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryasyncapitestsdeletefileleasefail404982299ffb", "directoryasyncapitestsdeletefileleasefail997223a7d36d", "3fb67176-f9eb-4fc7-bd0c-063b90778e4e" ]
}