{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/getsnapshotiddirectoryasyncapitestsgetsnapshotid4bc5694550?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D778504DECBE12",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "getsnapshotiddirectoryasyncapitestsgetsnapshotid4bc5694550", "getsnapshotiddirectoryasyncapitestsgetsnapshotid4bc878214f" ]
}