{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestscreatefile268666f1010ad0a7344?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911BBC7B8FC",
      "Last-Modified" : "Wed, 04 Dec 2019 23:28:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestscreatefile268666f1010ad0a7344/directoryapitestscreatefile380613e768e6b26b942?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "1887593946193683302*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T23:28:56.8969133Z",
      "Last-Modified" : "Wed, 04 Dec 2019 23:28:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77911BBD5C7AD",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-04T23:28:56.8969133Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T23:28:56.8969133Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestscreatefile268666f1010ad0a7344/directoryapitestscreatefile380613e768e6b26b942%2ftestCreateFile",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "11529285414812647424",
      "x-ms-file-creation-time" : "2019-12-04T23:28:56.9909428Z",
      "Last-Modified" : "Wed, 04 Dec 2019 23:28:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77911BBE420B4",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-04T23:28:56.9909428Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-12-04T23:28:56.9909428Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestscreatefile268666f1010ad0a7344", "directoryapitestscreatefile380613e768e6b26b942" ]
}