{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryasyncapitestslistfilesanddirectoriesargs096583fb?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911C3E3120C",
      "Last-Modified" : "Wed, 04 Dec 2019 23:29:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryasyncapitestslistfilesanddirectoriesargs096583fb/directoryasyncapitestslistfilesanddirectoriesargs09146510?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "1887593946193683302*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T23:29:10.5020092Z",
      "Last-Modified" : "Wed, 04 Dec 2019 23:29:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77911C3F1C0BC",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-04T23:29:10.5020092Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T23:29:10.5020092Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryasyncapitestslistfilesanddirectoriesargs096583fb/directoryasyncapitestslistfilesanddirectoriesargs09146510%2fdirectoryasyncapitestslistfilesanddirectoriesargs0105827f0?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "1887593946193683302*8280205063999649007",
      "x-ms-file-id" : "11529285414812647424",
      "x-ms-file-creation-time" : "2019-12-04T23:29:10.5919616Z",
      "Last-Modified" : "Wed, 04 Dec 2019 23:29:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77911C3FF7A80",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-04T23:29:10.5919616Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-12-04T23:29:10.5919616Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryasyncapitestslistfilesanddirectoriesargs096583fb/directoryasyncapitestslistfilesanddirectoriesargs09146510%2fdirectoryasyncapitestslistfilesanddirectoriesargs0105827f0%2fdirectoryasyncapitestslistfilesanddirectoriesargs0105827f3",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "16140971433240035328",
      "x-ms-file-creation-time" : "2019-12-04T23:29:10.6829707Z",
      "Last-Modified" : "Wed, 04 Dec 2019 23:29:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77911C40D5D8B",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-04T23:29:10.6829707Z",
      "x-ms-file-parent-id" : "11529285414812647424",
      "x-ms-file-last-write-time" : "2019-12-04T23:29:10.6829707Z"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryasyncapitestslistfilesanddirectoriesargs096583fb/directoryasyncapitestslistfilesanddirectoriesargs09146510%2fdirectoryasyncapitestslistfilesanddirectoriesargs0105827f2",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "9799903157902376960",
      "x-ms-file-creation-time" : "2019-12-04T23:29:11.1519771Z",
      "Last-Modified" : "Wed, 04 Dec 2019 23:29:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77911C454EE1B",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-04T23:29:11.1519771Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-12-04T23:29:11.1519771Z"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryasyncapitestslistfilesanddirectoriesargs096583fb/directoryasyncapitestslistfilesanddirectoriesargs09146510?restype=directory&comp=list&prefix=directoryasyncapitestslistfilesanddirectoriesargs",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.file.core.windows.net/\" ShareName=\"directoryasyncapitestslistfilesanddirectoriesargs096583fb\" DirectoryPath=\"directoryasyncapitestslistfilesanddirectoriesargs09146510\"><Prefix>directoryasyncapitestslistfilesanddirectoriesargs</Prefix><Entries><Directory><Name>directoryasyncapitestslistfilesanddirectoriesargs0105827f0</Name><Properties /></Directory><Directory><Name>directoryasyncapitestslistfilesanddirectoriesargs0105827f1</Name><Properties /></Directory><File><Name>directoryasyncapitestslistfilesanddirectoriesargs0105827f2</Name><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryasyncapitestslistfilesanddirectoriesargs096583fb", "directoryasyncapitestslistfilesanddirectoriesargs09146510", "directoryasyncapitestslistfilesanddirectoriesargs0105827f" ]
}