{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/deletefiledirectoryasyncapitestsdeletefile276468237667d?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D778504DB6D40F",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/deletefiledirectoryasyncapitestsdeletefile276468237667d/deletefiledirectoryasyncapitestsdeletefile27662891f9c9a?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T00:24:19.3176570Z",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D778504DBD33FA",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-04T00:24:19.3176570Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T00:24:19.3176570Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/deletefiledirectoryasyncapitestsdeletefile276468237667d/deletefiledirectoryasyncapitestsdeletefile27662891f9c9a%2ftestCreateFile",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "11529285414812647424",
      "x-ms-file-creation-time" : "2019-12-04T00:24:19.3526890Z",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D778504DC28C6A",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-04T00:24:19.3526890Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-12-04T00:24:19.3526890Z"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/deletefiledirectoryasyncapitestsdeletefile276468237667d/deletefiledirectoryasyncapitestsdeletefile27662891f9c9a%2ftestCreateFile",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "deletefiledirectoryasyncapitestsdeletefile276468237667d", "deletefiledirectoryasyncapitestsdeletefile27662891f9c9a" ]
}