{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listhandleserrordirectoryapitestslisthandleserror8c2922251?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D778504587533C",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:05 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listhandleserrordirectoryapitestslisthandleserror8c2922251/listhandleserrordirectoryapitestslisthandleserror8c2376552?comp=listhandles",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "ResourceNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\nRequestId:660bae02-401a-0075-1239-aab7cd000000\nTime:2019-12-04T00:24:05.8530804Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "listhandleserrordirectoryapitestslisthandleserror8c2922251", "listhandleserrordirectoryapitestslisthandleserror8c2376552" ]
}