{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestscreatesubdirectorymetadata52635c9c?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D767DE1C22D2AB",
      "Last-Modified" : "Wed, 13 Nov 2019 02:06:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestscreatesubdirectorymetadata52635c9c/directoryasyncapitestscreatesubdirectorymetadata96634332?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-11-13T02:06:34.9112194Z",
      "Last-Modified" : "Wed, 13 Nov 2019 02:06:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D767DE1C29BB82",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-11-13T02:06:34.9112194Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-11-13T02:06:34.9112194Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestscreatesubdirectorymetadata52635c9c/directoryasyncapitestscreatesubdirectorymetadata96634332%2ftestCreateSubDirectory?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "11529285414812647424",
      "x-ms-file-creation-time" : "2019-11-13T02:06:34.9532592Z",
      "Last-Modified" : "Wed, 13 Nov 2019 02:06:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D767DE1C3025B0",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-11-13T02:06:34.9532592Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-11-13T02:06:34.9532592Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryasyncapitestscreatesubdirectorymetadata52635c9c", "directoryasyncapitestscreatesubdirectorymetadata96634332" ]
}