{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/getsubdirectoryclient65773588bc566ebb247b68?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D778504876CA7F",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "getsubdirectoryclient65773588bc566ebb247b68", "getsubdirectoryclient823314b85bc85f0984a689" ]
}