{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/getfileclientdirectoryapitestsgetfileclient2610962725c6?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7785041DF8A1B",
      "Last-Modified" : "Wed, 04 Dec 2019 00:23:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "getfileclientdirectoryapitestsgetfileclient2610962725c6", "getfileclientdirectoryapitestsgetfileclient2618583508ef" ]
}