{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/setpropertieserror11578cdde22caa82f40a4ae?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D778504367C0ED",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:01 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/setpropertieserror11578cdde22caa82f40a4ae/setpropertieserror19556f0fe61be0b5e4c59be?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T00:24:02.0217193Z",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77850436E0D69",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-04T00:24:02.0217193Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T00:24:02.0217193Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "setpropertieserror11578cdde22caa82f40a4ae", "setpropertieserror19556f0fe61be0b5e4c59be" ]
}