{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestscreatesubdirectoryfilepermission21509c72?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911BAA0C4E7",
      "Last-Modified" : "Wed, 04 Dec 2019 23:28:54 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestscreatesubdirectoryfilepermission21509c72/directoryapitestscreatesubdirectoryfilepermission6242429d?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "1887593946193683302*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T23:28:54.9678624Z",
      "Last-Modified" : "Wed, 04 Dec 2019 23:28:54 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77911BAAF6E20",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-04T23:28:54.9678624Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T23:28:54.9678624Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestscreatesubdirectoryfilepermission21509c72/directoryapitestscreatesubdirectoryfilepermission6242429d%2ftestCreateSubDirectory?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "10431655103412740186*8280205063999649007",
      "x-ms-file-id" : "11529285414812647424",
      "x-ms-file-creation-time" : "2019-12-04T23:28:55.0588606Z",
      "Last-Modified" : "Wed, 04 Dec 2019 23:28:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77911BABD50BE",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-04T23:28:55.0588606Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-12-04T23:28:55.0588606Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestscreatesubdirectoryfilepermission21509c72", "directoryapitestscreatesubdirectoryfilepermission6242429d" ]
}