{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestsgetdirectorypath471345c579811?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7519F6F715F39",
      "Last-Modified" : "Tue, 15 Oct 2019 18:42:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryasyncapitestsgetdirectorypath471345c579811", "directoryasyncapitestsgetdirectorypath850938bf9962c" ]
}