{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestsgetfileclient3577826891a5e2bf5?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7519F5B2345C5",
      "Last-Modified" : "Tue, 15 Oct 2019 18:41:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestsgetfileclient3577826891a5e2bf5", "directoryapitestsgetfileclient00401d3caeb8d0a59" ]
}