{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestsforceclosehandleinvalidhandleid48126180?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D751D960573CAB",
      "Last-Modified" : "Wed, 16 Oct 2019 01:37:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestsforceclosehandleinvalidhandleid48126180/directoryapitestsforceclosehandleinvalidhandleid35967adf?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-10-16T01:37:16.2697455Z",
      "Last-Modified" : "Wed, 16 Oct 2019 01:37:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D751D9605D56EF",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-10-16T01:37:16.2697455Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-10-16T01:37:16.2697455Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestsforceclosehandleinvalidhandleid48126180/directoryapitestsforceclosehandleinvalidhandleid35967adf?comp=forceclosehandles",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "InvalidHeaderValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The value for one of the HTTP headers is not in the correct format.\nRequestId:bb1e057b-401a-0031-46c2-836ba1000000\nTime:2019-10-16T01:37:16.3008208Z</Message><HeaderName>x-ms-handle-id</HeaderName><HeaderValue>invalidHandleId</HeaderValue></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestsforceclosehandleinvalidhandleid48126180", "directoryapitestsforceclosehandleinvalidhandleid35967adf" ]
}