{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestscreatedirectorywithfilepermission807545a?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D767DE0F8DF546",
      "Last-Modified" : "Wed, 13 Nov 2019 02:06:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryapitestscreatedirectorywithfilepermission807545a/directoryapitestscreatedirectorywithfilepermission777139f?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "6119292009901620917*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-11-13T02:06:13.8162516Z",
      "Last-Modified" : "Wed, 13 Nov 2019 02:06:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D767DE0F96E554",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-11-13T02:06:13.8162516Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-11-13T02:06:13.8162516Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestscreatedirectorywithfilepermission807545a", "directoryapitestscreatedirectorywithfilepermission777139f" ]
}