{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createfilemaxoverload0519914dda94dfaf84233b?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D778504D33A1D0",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createfilemaxoverload0519914dda94dfaf84233b/createfilemaxoverload483694ed7af6c47df44b0b?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T00:24:18.4718790Z",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D778504D3C25C6",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-04T00:24:18.4718790Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T00:24:18.4718790Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createfilemaxoverload0519914dda94dfaf84233b/createfilemaxoverload483694ed7af6c47df44b0b%2ftestCreateFile",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "6119292009901620917*13168958551941065216",
      "x-ms-file-id" : "11529285414812647424",
      "x-ms-file-creation-time" : "2019-12-04T00:24:18.4786995Z",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D778504D3D3033",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-04T00:24:18.4786995Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-12-04T00:24:18.4786995Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "createfilemaxoverload0519914dda94dfaf84233b", "createfilemaxoverload483694ed7af6c47df44b0b", "2019-12-04T00:24:18.478699500Z", "2019-12-04T00:24:18.478699500Z" ]
}