{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestsgetsharesnapshoturl760447c3f2d961?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911B01EF2E6",
      "Last-Modified" : "Wed, 04 Dec 2019 23:28:37 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestsgetsharesnapshoturl760447c3f2d961?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-snapshot" : "2019-12-04T23:28:37.0000000Z",
      "ETag" : "0x8D77911B01EF2E6",
      "Last-Modified" : "Wed, 04 Dec 2019 23:28:37 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestsgetsharesnapshoturl760447c3f2d961", "directoryapitestsgetsharesnapshoturl40528d88d82ff4" ]
}