{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/deletefiledirectoryapitestsdeletefilefd027318a645ff6?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7785047FEBE85",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/deletefiledirectoryapitestsdeletefilefd027318a645ff6/deletefiledirectoryapitestsdeletefilefd074826a33e82c?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T00:24:09.7198143Z",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D778504804B03F",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-04T00:24:09.7198143Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T00:24:09.7198143Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/deletefiledirectoryapitestsdeletefilefd027318a645ff6/deletefiledirectoryapitestsdeletefilefd074826a33e82c%2ftestCreateFile",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "11529285414812647424",
      "x-ms-file-creation-time" : "2019-12-04T00:24:09.7568482Z",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77850480A56E2",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-04T00:24:09.7568482Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-12-04T00:24:09.7568482Z"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/deletefiledirectoryapitestsdeletefilefd027318a645ff6/deletefiledirectoryapitestsdeletefilefd074826a33e82c%2ftestCreateFile",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "deletefiledirectoryapitestsdeletefilefd027318a645ff6", "deletefiledirectoryapitestsdeletefilefd074826a33e82c" ]
}