{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createsubdirectoryinvalidname21529e9f39815fc014?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7785046580179",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createsubdirectoryinvalidname21529e9f39815fc014/createsubdirectoryinvalidname974431cd8db3681024?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T00:24:06.9642779Z",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7785046603A1B",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-04T00:24:06.9642779Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T00:24:06.9642779Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createsubdirectoryinvalidname21529e9f39815fc014/createsubdirectoryinvalidname974431cd8db3681024%2ftest%2fsubdirectory?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "ParentNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ParentNotFound</Code><Message>The specified parent path does not exist.\nRequestId:660bae19-401a-0075-2339-aab7cd000000\nTime:2019-12-04T00:24:06.9965810Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "createsubdirectoryinvalidname21529e9f39815fc014", "createsubdirectoryinvalidname974431cd8db3681024" ]
}