{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestsdeletefile51256666cf7a9441?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D767DE1E496E42",
      "Last-Modified" : "Wed, 13 Nov 2019 02:06:38 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestsdeletefile51256666cf7a9441/directoryasyncapitestsdeletefile568459c0005ca261?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-11-13T02:06:38.5186331Z",
      "Last-Modified" : "Wed, 13 Nov 2019 02:06:38 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D767DE1E502E1B",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-11-13T02:06:38.5186331Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-11-13T02:06:38.5186331Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestsdeletefile51256666cf7a9441/directoryasyncapitestsdeletefile568459c0005ca261%2ftestCreateFile",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "11529285414812647424",
      "x-ms-file-creation-time" : "2019-11-13T02:06:38.5636759Z",
      "Last-Modified" : "Wed, 13 Nov 2019 02:06:38 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D767DE1E570D97",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-11-13T02:06:38.5636759Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-11-13T02:06:38.5636759Z"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/directoryasyncapitestsdeletefile51256666cf7a9441/directoryasyncapitestsdeletefile568459c0005ca261%2ftestCreateFile",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryasyncapitestsdeletefile51256666cf7a9441", "directoryasyncapitestsdeletefile568459c0005ca261" ]
}