{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestscreatesubdirectoryfilepermissionkey85718a?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911BAE56ED9",
      "Last-Modified" : "Wed, 04 Dec 2019 23:28:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestscreatesubdirectoryfilepermissionkey85718a/directoryapitestscreatesubdirectoryfilepermissionkey180724?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "1887593946193683302*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T23:28:55.4198612Z",
      "Last-Modified" : "Wed, 04 Dec 2019 23:28:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77911BAF46654",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-04T23:28:55.4198612Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T23:28:55.4198612Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestscreatesubdirectoryfilepermissionkey85718a?restype=share&comp=filepermission",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15361494707574448414*8280205063999649007",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestscreatesubdirectoryfilepermissionkey85718a/directoryapitestscreatesubdirectoryfilepermissionkey180724%2ftestCreateSubDirectory?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "10431655103412740186*8280205063999649007",
      "x-ms-file-id" : "11529285414812647424",
      "x-ms-file-creation-time" : "2019-12-04T23:28:55.5053397Z",
      "Last-Modified" : "Wed, 04 Dec 2019 23:28:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77911BB017155",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-04T23:28:55.5053397Z",
      "x-ms-file-parent-id" : "13835128424026341376",
      "x-ms-file-last-write-time" : "2019-12-04T23:28:55.5053397Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestscreatesubdirectoryfilepermissionkey85718a", "directoryapitestscreatesubdirectoryfilepermissionkey180724", "2019-12-04T23:28:55.505339700Z", "2019-12-04T23:28:55.505339700Z" ]
}