{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestscreatedirectoryerror70965f8071547c?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911B0DE4B81",
      "Last-Modified" : "Wed, 04 Dec 2019 23:28:38 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/directoryapitestscreatedirectoryerror826706940cdecb/directoryapitestscreatedirectoryerror75926fb375ec92?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "ShareNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareNotFound</Code><Message>The specified share does not exist.\nRequestId:172f86bc-101a-0047-4bfa-aaf960000000\nTime:2019-12-04T23:28:38.7007777Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "directoryapitestscreatedirectoryerror70965f8071547c", "directoryapitestscreatedirectoryerror75926fb375ec92", "directoryapitestscreatedirectoryerror826706940cdecb" ]
}