{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileasyncapitestsuploadandclearrange835800ee0c1c81?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911E3EF2EE2",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:04 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileasyncapitestsuploadandclearrange835800ee0c1c81/fileasyncapitestsuploadandclearrange405174d66a61ab",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T23:30:04.2703561Z",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:04 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77911E3FE26C9",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-04T23:30:04.2703561Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T23:30:04.2703561Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileasyncapitestsuploadandclearrange835800ee0c1c81/fileasyncapitestsuploadandclearrange405174d66a61ab?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911E40BBAC5",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:04 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "A5momLrihyOacM8O00uT1g=="
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileasyncapitestsuploadandclearrange835800ee0c1c81/fileasyncapitestsuploadandclearrange405174d66a61ab",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T23:30:04.2703561Z",
      "Content-Range" : "bytes 0-6/22",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:04 GMT",
      "retry-after" : "0",
      "StatusCode" : "206",
      "x-ms-file-attributes" : "Archive",
      "Body" : "[0, 0, 0, 0, 0, 0, 0]",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "0x8D77911E41A127E",
      "x-ms-file-change-time" : "2019-12-04T23:30:04.2703561Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T23:30:04.2703561Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestsuploadandclearrange835800ee0c1c81", "fileasyncapitestsuploadandclearrange405174d66a61ab" ]
}