{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileapitestscreatefilepermissionandkeyerror0783789cdea?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911CE13DD63",
      "Last-Modified" : "Wed, 04 Dec 2019 23:29:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestscreatefilepermissionandkeyerror0783789cdea", "fileapitestscreatefilepermissionandkeyerror015007fc189" ]
}