{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileserviceapitestslistshareswithargs272334f836e01c0?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7519F86A0876D",
      "Last-Modified" : "Tue, 15 Oct 2019 18:43:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileserviceapitestslistshareswithargs272334f836e01c2?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-10-15T18:43:09.0000000Z",
      "ETag" : "0x8D7519F86AF5813",
      "Last-Modified" : "Tue, 15 Oct 2019 18:43:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=fileserviceapitestslistshareswithargs&include=metadata%2csnapshots&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>fileserviceapitestslistshareswithargs</Prefix><Shares><Share><Name>fileserviceapitestslistshareswithargs272334f836e01c0</Name><Properties><Last-Modified>Tue, 15 Oct 2019 18:43:09 GMT</Last-Modified><Etag>\"0x8D7519F86A0876D\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>fileserviceapitestslistshareswithargs272334f836e01c1</Name><Properties><Last-Modified>Tue, 15 Oct 2019 18:43:09 GMT</Last-Modified><Etag>\"0x8D7519F86A766E6\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>fileserviceapitestslistshareswithargs272334f836e01c2</Name><Snapshot>2019-10-15T18:43:09.0000000Z</Snapshot><Properties><Last-Modified>Tue, 15 Oct 2019 18:43:09 GMT</Last-Modified><Etag>\"0x8D7519F86AF5813\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>fileserviceapitestslistshareswithargs272334f836e01c2</Name><Properties><Last-Modified>Tue, 15 Oct 2019 18:43:09 GMT</Last-Modified><Etag>\"0x8D7519F86AF5813\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileserviceapitestslistshareswithargs272334f836e01c" ]
}