{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/fileasyncapitestsuploadlease043528e0dd2612b764?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7833EBF731522",
      "Last-Modified" : "Tue, 17 Dec 2019 22:16:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/fileasyncapitestsuploadlease043528e0dd2612b764/fileasyncapitestsuploadlease2485191ebe2df879e4",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-17T22:16:22.0440915Z",
      "Last-Modified" : "Tue, 17 Dec 2019 22:16:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7833EBF82B953",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-17T22:16:22.0440915Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-17T22:16:22.0440915Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/fileasyncapitestsuploadlease043528e0dd2612b764/fileasyncapitestsuploadlease2485191ebe2df879e4?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7833EBF82B953",
      "x-ms-lease-id" : "e4264ada-e9c1-4442-a2c0-bf505235e7cf",
      "Last-Modified" : "Tue, 17 Dec 2019 22:16:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestsuploadlease043528e0dd2612b764", "fileasyncapitestsuploadlease2485191ebe2df879e4" ]
}