{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/filesastestsaccountsasnetworkaccountsastokenonendpoint86983?restype=share&sv=2019-10-10&se=2020-03-13T22%3A39%3A16Z&sp=rc&sig=REDACTED&ss=f&srt=sco",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7C6D63299ADEC",
      "Last-Modified" : "Thu, 12 Mar 2020 22:39:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/filesastestsaccountsasnetworkaccountsastokenonendpoint86983/filesastestsaccountsasnetworkaccountsastokenonendpoint48466?sv=2019-10-10&se=2020-03-13T22%3A39%3A16Z&sp=rc&sig=REDACTED&ss=f&srt=sco",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2020-03-12T22:39:17.3740860Z",
      "Last-Modified" : "Thu, 12 Mar 2020 22:39:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7C6D632CBED3C",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2020-03-12T22:39:17.3740860Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2020-03-12T22:39:17.3740860Z"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.file.core.windows.net/filesastestsaccountsasnetworkaccountsastokenonendpoint86983/filesastestsaccountsasnetworkaccountsastokenonendpoint48466?sv=2019-10-10&se=2020-03-13T22%3A39%3A16Z&sp=rc&sig=REDACTED&ss=f&srt=sco",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-lease-status" : "unlocked",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2020-03-12T22:39:17.3740860Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 12 Mar 2020 22:39:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "0x8D7C6D632CBED3C",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2020-03-12T22:39:17.3740860Z",
      "x-ms-file-parent-id" : "0",
      "Body" : "[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,[...]
