{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/sethttpheadersfpkfileasyncapitestssethttpheadersfpk99b66163?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D778505E1ACA2F",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:46 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/sethttpheadersfpkfileasyncapitestssethttpheadersfpk99b66163/sethttpheadersfpkfileasyncapitestssethttpheadersfpk99b02944",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T00:24:46.8266806Z",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:46 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D778505E22BF36",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-04T00:24:46.8266806Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T00:24:46.8266806Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/sethttpheadersfpkfileasyncapitestssethttpheadersfpk99b66163?restype=share&comp=filepermission",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1226745640258142193*13168958551941065216",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/sethttpheadersfpkfileasyncapitestssethttpheadersfpk99b66163/sethttpheadersfpkfileasyncapitestssethttpheadersfpk99b02944?comp=properties",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1226745640258142193*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T00:24:46.9444052Z",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:46 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D778505E3C67D6",
      "x-ms-file-attributes" : "None",
      "x-ms-file-change-time" : "2019-12-04T00:24:46.9948374Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T00:24:46.9444052Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "sethttpheadersfpkfileasyncapitestssethttpheadersfpk99b66163", "sethttpheadersfpkfileasyncapitestssethttpheadersfpk99b02944", "2019-12-04T00:24:46.944405200Z", "2019-12-04T00:24:46.944405200Z" ]
}