{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/filesastestsaccountsasnetworkcreatedeleteshare538874cfe?restype=share&sv=2019-10-10&ss=f&srt=sco&se=2020-03-13T22%3A39%3A15Z&sp=rdc&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7C6D632144E2E",
      "Last-Modified" : "Thu, 12 Mar 2020 22:39:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.file.core.windows.net/filesastestsaccountsasnetworkcreatedeleteshare538874cfe?restype=share&sv=2019-10-10&ss=f&srt=sco&se=2020-03-13T22%3A39%3A15Z&sp=rdc&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "filesastestsaccountsasnetworkcreatedeleteshare6121706e3", "2020-03-12T22:39:15.863508600Z", "filesastestsaccountsasnetworkcreatedeleteshare538874cfe" ]
}