{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/filesastestssharesasnetworkidentifierpermissions970584ed?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77E9AF07536B1",
      "Last-Modified" : "Thu, 12 Dec 2019 00:33:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/filesastestssharesasnetworkidentifierpermissions970584ed?restype=share&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77E9AF0B24539",
      "Last-Modified" : "Thu, 12 Dec 2019 00:33:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/filesastestssharesasnetworkidentifierpermissions970584ed/filesastestssharesasnetworkidentifierpermissions614833aa?restype=directory&sv=2019-02-02&si=0000&sr=s&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-12T00:33:42.5443371Z",
      "Last-Modified" : "Thu, 12 Dec 2019 00:33:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77E9AF0C0C62B",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-12T00:33:42.5443371Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-12T00:33:42.5443371Z"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/filesastestssharesasnetworkidentifierpermissions970584ed/filesastestssharesasnetworkidentifierpermissions432234d0?restype=directory&sv=2019-02-02&se=2019-12-13T00%3A33%3A42Z&sr=s&sp=rcwdl&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "16004293428625128841*13168958551941065216",
      "x-ms-file-id" : "11529285414812647424",
      "x-ms-file-creation-time" : "2019-12-12T00:33:42.6714582Z",
      "Last-Modified" : "Thu, 12 Dec 2019 00:33:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77E9AF0D42BD6",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-12T00:33:42.6714582Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-12T00:33:42.6714582Z"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/filesastestssharesasnetworkidentifierpermissions970584ed/filesastestssharesasnetworkidentifierpermissions432234d0?restype=directory&sv=2019-02-02&se=2019-12-13T00%3A33%3A42Z&sr=s&sp=rcwdl&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "filesastestssharesasnetworkidentifierpermissions970584ed", "2019-12-12T00:33:40.648810100Z", "2019-12-12T00:33:42.489341300Z", "filesastestssharesasnetworkidentifierpermissions614833aa", "filesastestssharesasnetworkidentifierpermissions432234d0" ]
}