{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileserviceapitestscreateshare5809697b8be19e865?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911EF4BA68A",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileserviceapitestscreateshare5809697b8be19e865" ]
}