{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsgetfilepathfileapitestsgetfilepath5c9637299c9?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7519F78B2CC42",
      "Last-Modified" : "Tue, 15 Oct 2019 18:42:46 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestsgetfilepathfileapitestsgetfilepath5c9637299c9", "fileapitestsgetfilepathfileapitestsgetfilepath5c93216825f" ]
}