{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestssetmetadata76727dc0b35f2c6a14?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7519F810CA1DB",
      "Last-Modified" : "Tue, 15 Oct 2019 18:43:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestssetmetadata76727dc0b35f2c6a14/fileasyncapitestssetmetadata3372093bbebd5a2f54",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-10-15T18:43:00.3736451Z",
      "Last-Modified" : "Tue, 15 Oct 2019 18:43:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7519F81189583",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-10-15T18:43:00.3736451Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-10-15T18:43:00.3736451Z"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestssetmetadata76727dc0b35f2c6a14/fileasyncapitestssetmetadata3372093bbebd5a2f54",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-10-15T18:43:00.3736451Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Tue, 15 Oct 2019 18:43:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "0x8D7519F81189583",
      "x-ms-file-attributes" : "Archive",
      "x-ms-meta-testmetadata" : "value",
      "x-ms-file-change-time" : "2019-10-15T18:43:00.3736451Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-10-15T18:43:00.3736451Z",
      "Content-Language" : "en",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestssetmetadata76727dc0b35f2c6a14/fileasyncapitestssetmetadata3372093bbebd5a2f54?comp=metadata",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7519F8126C9D7",
      "Last-Modified" : "Tue, 15 Oct 2019 18:43:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestssetmetadata76727dc0b35f2c6a14/fileasyncapitestssetmetadata3372093bbebd5a2f54",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-meta-update" : "value",
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-10-15T18:43:00.3736451Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Tue, 15 Oct 2019 18:43:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "0x8D7519F8126C9D7",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-10-15T18:43:00.4667351Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-10-15T18:43:00.3736451Z",
      "Content-Language" : "en",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestssetmetadata76727dc0b35f2c6a14", "fileasyncapitestssetmetadata3372093bbebd5a2f54" ]
}