{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanarytest.file.core.windows.net/jtsfileserviceapitestsrestoresharemax01760715caff6e33?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7F77EE91F128B",
      "Last-Modified" : "Wed, 13 May 2020 20:47:54 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanarytest.file.core.windows.net/jtsfileserviceapitestsrestoresharemax01760715caff6e33/javapathfileserviceapitestsrestoresharemax17370168b7921",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "x-ms-file-permission-key" : "9064745170435706323*15378836105569756509",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2020-05-13T20:47:54.9145531Z",
      "Last-Modified" : "Wed, 13 May 2020 20:47:54 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7F77EE95A05BB",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2020-05-13T20:47:54.9145531Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2020-05-13T20:47:54.9145531Z"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://kasobolcanarytest.file.core.windows.net?prefix=jtsfileserviceapitestsrestoresharemax01760715caff6e33&include=deleted&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://kasobolcanarytest.file.core.windows.net/\"><Prefix>jtsfileserviceapitestsrestoresharemax01760715caff6e33</Prefix><Shares><Share><Name>jtsfileserviceapitestsrestoresharemax01760715caff6e33</Name><Deleted>true</Deleted><Version>01D62967C6A84142</Version><Properties><Last-Modified>Wed, 13 May 2020 20:47:54 GMT</Last-Modified><Etag>\"0x8D7F77EE91F128B\"</Etag><Quota>5120</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>5/13/2020 8:47:54 PM</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><DeletedTime>Wed, 13 May 2020 20:47:55 GMT</DeletedTime><RemainingRetentionDays>1</RemainingRetentionDays></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanarytest.file.core.windows.net/jtsfileserviceapitestsrestoresharemax01760715caff6e33?restype=share&comp=undelete",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7F77EFB920CC2",
      "Last-Modified" : "Wed, 13 May 2020 20:48:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://kasobolcanarytest.file.core.windows.net/jtsfileserviceapitestsrestoresharemax01760715caff6e33/javapathfileserviceapitestsrestoresharemax17370168b7921",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "x-ms-lease-status" : "unlocked",
      "x-ms-file-permission-key" : "9064745170435706323*15378836105569756509",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2020-05-13T20:47:54.9145531Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Wed, 13 May 2020 20:47:54 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "0x8D7F77EE95A05BB",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2020-05-13T20:47:54.9145531Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2020-05-13T20:47:54.9145531Z",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileserviceapitestsrestoresharemax31014f76acc84db", "jtsfileserviceapitestsrestoresharemax01760715caff6e33", "javapathfileserviceapitestsrestoresharemax17370168b7921" ]
}