{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileserviceapitestslistshareswithfilter396647bc9bd190?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911F14A832E",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.file.core.windows.net?prefix=fileserviceapitestslistshareswithfilter&maxresults=2&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.file.core.windows.net/\"><Prefix>fileserviceapitestslistshareswithfilter</Prefix><MaxResults>2</MaxResults><Shares><Share><Name>fileserviceapitestslistshareswithfilter396647bc9bd190</Name><Properties><Last-Modified>Wed, 04 Dec 2019 23:30:26 GMT</Last-Modified><Etag>\"0x8D77911F14A832E\"</Etag><Quota>1</Quota></Properties></Share><Share><Name>fileserviceapitestslistshareswithfilter396647bc9bd191</Name><Properties><Last-Modified>Wed, 04 Dec 2019 23:30:26 GMT</Last-Modified><Etag>\"0x8D77911F1572B5E\"</Etag><Quota>2</Quota></Properties></Share></Shares><NextMarker>/gaprastg71/fileserviceapitestslistshareswithfilter396647bc9bd192</NextMarker></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.file.core.windows.net?prefix=fileserviceapitestslistshareswithfilter&marker=/gaprastg71/fileserviceapitestslistshareswithfilter396647bc9bd192&maxresults=2&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.file.core.windows.net/\"><Prefix>fileserviceapitestslistshareswithfilter</Prefix><Marker>/gaprastg71/fileserviceapitestslistshareswithfilter396647bc9bd192</Marker><MaxResults>2</MaxResults><Shares><Share><Name>fileserviceapitestslistshareswithfilter396647bc9bd192</Name><Properties><Last-Modified>Wed, 04 Dec 2019 23:30:26 GMT</Last-Modified><Etag>\"0x8D77911F163FCA2\"</Etag><Quota>3</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileserviceapitestslistshareswithfilter396647bc9bd19" ]
}