{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileasyncapitestsstartcopy826437c249ba347d449?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911E6B468B2",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileasyncapitestsstartcopy826437c249ba347d449/fileasyncapitestsstartcopy709508d1f3b16c8124c",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T23:30:08.9173773Z",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77911E6C33B0D",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-04T23:30:08.9173773Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T23:30:08.9173773Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileasyncapitestsstartcopy826437c249ba347d449/fileasyncapitestsstartcopy709508d1f3b16c8124c",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-copy-id" : "46f6410b-73f1-4e3d-83cf-dd3a343f8ced",
      "ETag" : "0x8D77911E70E74AE",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:09 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "success",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileasyncapitestsstartcopy826437c249ba347d449/fileasyncapitestsstartcopy709508d1f3b16c8124c",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T23:30:09.4103726Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-file-attributes" : "Archive",
      "Content-Type" : "application/octet-stream",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-version" : "2019-07-07",
      "x-ms-copy-id" : "46f6410b-73f1-4e3d-83cf-dd3a343f8ced",
      "x-ms-copy-source" : "https://gaprastg71.file.core.windows.net/fileasyncapitestsstartcopy826437c249ba347d449/fileasyncapitestsstartcopy709508d1f3b16c8124c",
      "x-ms-copy-progress" : "1024/1024",
      "x-ms-copy-completion-time" : "Wed, 04 Dec 2019 23:30:09 GMT",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "0x8D77911E70E74AE",
      "x-ms-file-change-time" : "2019-12-04T23:30:09.4103726Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-copy-status" : "success",
      "x-ms-file-last-write-time" : "2019-12-04T23:30:09.4103726Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestsstartcopy826437c249ba347d449", "fileasyncapitestsstartcopy709508d1f3b16c8124c" ]
}