{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/fileasyncapitestssethttpheaderslease089696ceec8749?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7833ECB272B23",
      "Last-Modified" : "Tue, 17 Dec 2019 22:16:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/fileasyncapitestssethttpheaderslease089696ceec8749/fileasyncapitestssethttpheaderslease43622e1713f751",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-17T22:16:41.6781661Z",
      "Last-Modified" : "Tue, 17 Dec 2019 22:16:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7833ECB36A55D",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-17T22:16:41.6781661Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-17T22:16:41.6781661Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/fileasyncapitestssethttpheaderslease089696ceec8749/fileasyncapitestssethttpheaderslease43622e1713f751?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7833ECB36A55D",
      "x-ms-lease-id" : "27f78709-446b-46f5-9684-80e544a225ec",
      "Last-Modified" : "Tue, 17 Dec 2019 22:16:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/fileasyncapitestssethttpheaderslease089696ceec8749/fileasyncapitestssethttpheaderslease43622e1713f751?comp=properties",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-17T22:16:41.6781661Z",
      "Last-Modified" : "Tue, 17 Dec 2019 22:16:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7833ECB52428D",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-17T22:16:41.8591373Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-17T22:16:41.6781661Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestssethttpheaderslease089696ceec8749", "fileasyncapitestssethttpheaderslease43622e1713f751" ]
}