{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/getsharesnapshoturlfileapitestsgetsharesnapshoturld22209701?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F24F01F53DA",
      "Last-Modified" : "Thu, 12 Dec 2019 17:01:32 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/getsharesnapshoturlfileapitestsgetsharesnapshoturld22209701?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-12-12T17:01:32.0000000Z",
      "ETag" : "0x8D77F24F01F53DA",
      "Last-Modified" : "Thu, 12 Dec 2019 17:01:32 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=getsharesnapshoturl&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>getsharesnapshoturl</Prefix><Shares><Share><Name>getsharesnapshoturlfileapitestsgetsharesnapshoturld22209701</Name><Properties><Last-Modified>Thu, 12 Dec 2019 17:01:32 GMT</Last-Modified><Etag>\"0x8D77F24F01F53DA\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/getsharesnapshoturlfileapitestsgetsharesnapshoturld22209701?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "getsharesnapshoturlfileapitestsgetsharesnapshoturld22209701", "getsharesnapshoturlfileapitestsgetsharesnapshoturld2249140f" ]
}