{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileserviceasyncapitestscreatesharewithmetadata1242448ef?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911F4C85DA8",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:32 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileserviceasyncapitestscreatesharewithmetadata1242448ef" ]
}