{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploaddatalengthmismatch002145649515?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D76DF1AF48FDF2",
      "Last-Modified" : "Wed, 20 Nov 2019 19:41:49 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploaddatalengthmismatch002145649515/fileasyncapitestsuploaddatalengthmismatch081988278031",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-11-20T19:41:49.2074551Z",
      "Last-Modified" : "Wed, 20 Nov 2019 19:41:49 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D76DF1AF50E437",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-11-20T19:41:49.2074551Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-11-20T19:41:49.2074551Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploaddatalengthmismatch002145649515/fileasyncapitestsuploaddatalengthmismatch081988278031?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : null,
    "Exception" : {
      "ClassName" : "com.azure.core.exception.UnexpectedLengthException",
      "ErrorMessage" : "Request body emitted 7 bytes more than the expected 6 bytes."
    }
  } ],
  "variables" : [ "fileasyncapitestsuploaddatalengthmismatch002145649515", "fileasyncapitestsuploaddatalengthmismatch081988278031" ]
}