{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createfilewithargsfpk328518a545cae1af04ed6a?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F24F759A1A5",
      "Last-Modified" : "Thu, 12 Dec 2019 17:01:44 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createfilewithargsfpk328518a545cae1af04ed6a?restype=share&comp=filepermission",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1226745640258142193*13168958551941065216",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createfilewithargsfpk328518a545cae1af04ed6a/createfilewithargsfpk5852853d22335cae64bfbb",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "6119292009901620917*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-12T17:01:44.1197003Z",
      "Last-Modified" : "Thu, 12 Dec 2019 17:01:44 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77F24F7534FCB",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-12T17:01:44.1197003Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-12T17:01:44.1197003Z"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=createfilewithargsfpk&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>createfilewithargsfpk</Prefix><Shares><Share><Name>createfilewithargsfpk328518a545cae1af04ed6a</Name><Properties><Last-Modified>Thu, 12 Dec 2019 17:01:44 GMT</Last-Modified><Etag>\"0x8D77F24F759A1A5\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createfilewithargsfpk328518a545cae1af04ed6a?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "createfilewithargsfpk328518a545cae1af04ed6a", "createfilewithargsfpk5852853d22335cae64bfbb", "2019-12-12T17:01:44.119700300Z", "2019-12-12T17:01:44.119700300Z" ]
}