{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanarytest.file.core.windows.net/filesastestsaccountsasnetworkcreatedeleteshare652424b8c?restype=share&sv=2019-10-10&ss=f&srt=sco&se=2020-05-13T20%3A47%3A23Z&sp=rdc&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7F6B5ABFA1B85",
      "Last-Modified" : "Tue, 12 May 2020 20:47:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://kasobolcanarytest.file.core.windows.net/filesastestsaccountsasnetworkcreatedeleteshare652424b8c?restype=share&sv=2019-10-10&ss=f&srt=sco&se=2020-05-13T20%3A47%3A23Z&sp=rdc&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "filesastestsaccountsasnetworkcreatedeleteshare721327892", "2020-05-12T20:47:23.150918100Z", "filesastestsaccountsasnetworkcreatedeleteshare652424b8c" ]
}