{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/filesastestsaccountsasnetworkaccountsastokenonendpoint52889?restype=share&sv=2019-07-07&se=2019-12-27T22%3A50%3A54Z&sp=rc&sig=REDACTED&ss=f&srt=sco",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D78A5611140DE7",
      "Last-Modified" : "Thu, 26 Dec 2019 22:50:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/filesastestsaccountsasnetworkaccountsastokenonendpoint52889/filesastestsaccountsasnetworkaccountsastokenonendpoint23039?sv=2019-07-07&se=2019-12-27T22%3A50%3A54Z&sp=rc&sig=REDACTED&ss=f&srt=sco",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-26T22:50:55.8018119Z",
      "Last-Modified" : "Thu, 26 Dec 2019 22:50:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D78A561148CA47",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-26T22:50:55.8018119Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-26T22:50:55.8018119Z"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://gaprastg71.file.core.windows.net/filesastestsaccountsasnetworkaccountsastokenonendpoint52889/filesastestsaccountsasnetworkaccountsastokenonendpoint23039?sv=2019-07-07&se=2019-12-27T22%3A50%3A54Z&sp=rc&sig=REDACTED&ss=f&srt=sco",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-26T22:50:55.8018119Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 26 Dec 2019 22:50:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "0x8D78A561148CA47",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-26T22:50:55.8018119Z",
      "x-ms-file-parent-id" : "0",
      "Body" : "[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,[...]
