{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanarytest.file.core.windows.net/filesasclienttestsaccountsasnetworkcreatedeleteshare79357b?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7F6B52E375398",
      "Last-Modified" : "Tue, 12 May 2020 20:43:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanarytest.file.core.windows.net/filesasclienttestsaccountsasnetworkcreatedeleteshare79357b/filename",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "x-ms-file-permission-key" : "9064745170435706323*15378836105569756509",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2020-05-12T20:43:52.1992441Z",
      "Last-Modified" : "Tue, 12 May 2020 20:43:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7F6B52E44DAF9",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2020-05-12T20:43:52.1992441Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2020-05-12T20:43:52.1992441Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanarytest.file.core.windows.net/create?restype=share&sv=2019-10-10&ss=f&srt=sco&se=2020-05-13T20%3A43%3A52Z&sp=rdc&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7F6B52E567BE2",
      "Last-Modified" : "Tue, 12 May 2020 20:43:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://kasobolcanarytest.file.core.windows.net/create?restype=share&sv=2019-10-10&ss=f&srt=sco&se=2020-05-13T20%3A43%3A52Z&sp=rdc&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "filesasclienttestsaccountsasnetworkcreatedeleteshare79357b", "2020-05-12T20:43:52.352761800Z" ]
}