{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/filesastestsaccountsasnetworkaccountsastokenonendpoint33605/filesastestsaccountsasnetworkaccountsastokenonendpoint45564?sv=2019-07-07&se=2019-12-27T21%3A47%3A59Z&sp=rc&sig=REDACTED&ss=f&srt=sco",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-26T21:47:59.3379809Z",
      "Last-Modified" : "Thu, 26 Dec 2019 21:47:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D78A4D465623E1",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-26T21:47:59.3379809Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-26T21:47:59.3379809Z"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://gaprastg71.file.core.windows.net/filesastestsaccountsasnetworkaccountsastokenonendpoint33605/filesastestsaccountsasnetworkaccountsastokenonendpoint45564?sv=2019-07-07&se=2019-12-27T21%3A47%3A59Z&sp=rc&sig=REDACTED&ss=f&srt=sco",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-26T21:47:59.3379809Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 26 Dec 2019 21:47:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "0x8D78A4D465623E1",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-26T21:47:59.3379809Z",
      "x-ms-file-parent-id" : "0",
      "Body" : "[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,[...]
