{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileasyncapitestsuploadanddownloadtofiledoesnotexist62591a?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911E5D3A5D2",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:07 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileasyncapitestsuploadanddownloadtofiledoesnotexist62591a/fileasyncapitestsuploadanddownloadtofiledoesnotexist230707",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T23:30:07.4473634Z",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:07 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77911E5E2ECA2",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-04T23:30:07.4473634Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T23:30:07.4473634Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileasyncapitestsuploadanddownloadtofiledoesnotexist62591a/fileasyncapitestsuploadanddownloadtofiledoesnotexist230707?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911E5F00C08",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:07 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "1tRkiflHQxQzG0ItV6HNAg=="
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileasyncapitestsuploadanddownloadtofiledoesnotexist62591a/fileasyncapitestsuploadanddownloadtofiledoesnotexist230707",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T23:30:07.4473634Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:07 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "0x8D77911E5F00C08",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-04T23:30:07.4473634Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T23:30:07.4473634Z",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileasyncapitestsuploadanddownloadtofiledoesnotexist62591a/fileasyncapitestsuploadanddownloadtofiledoesnotexist230707",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T23:30:07.4473634Z",
      "Content-Range" : "bytes 0-27/28",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:07 GMT",
      "retry-after" : "0",
      "StatusCode" : "206",
      "x-ms-file-attributes" : "Archive",
      "Body" : "[68, 111, 119, 110, 108, 111, 97, 100, 32, 102, 105, 108, 101, 32, 100, 111, 101, 115, 32, 110, 111, 116, 32, 101, 120, 105, 115, 116]",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "0x8D77911E5F00C08",
      "x-ms-file-change-time" : "2019-12-04T23:30:07.4473634Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T23:30:07.4473634Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestsuploadanddownloadtofiledoesnotexist62591a", "fileasyncapitestsuploadanddownloadtofiledoesnotexist230707" ]
}