{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listshareswithargs354154a477361cfce448aa10?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D778506699E4CC",
      "Last-Modified" : "Wed, 04 Dec 2019 00:25:01 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listshareswithargs354154a477361cfce448aa12?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-12-04T00:25:01.0000000Z",
      "ETag" : "0x8D7785066A55941",
      "Last-Modified" : "Wed, 04 Dec 2019 00:25:01 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=listshareswithargs&include=metadata%2csnapshots&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>listshareswithargs</Prefix><Shares><Share><Name>listshareswithargs354154a477361cfce448aa10</Name><Properties><Last-Modified>Wed, 04 Dec 2019 00:25:01 GMT</Last-Modified><Etag>\"0x8D778506699E4CC\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>listshareswithargs354154a477361cfce448aa11</Name><Properties><Last-Modified>Wed, 04 Dec 2019 00:25:01 GMT</Last-Modified><Etag>\"0x8D77850669F3D3E\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>listshareswithargs354154a477361cfce448aa12</Name><Snapshot>2019-12-04T00:25:01.0000000Z</Snapshot><Properties><Last-Modified>Wed, 04 Dec 2019 00:25:01 GMT</Last-Modified><Etag>\"0x8D7785066A55941\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>listshareswithargs354154a477361cfce448aa12</Name><Properties><Last-Modified>Wed, 04 Dec 2019 00:25:01 GMT</Last-Modified><Etag>\"0x8D7785066A55941\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "listshareswithargs354154a477361cfce448aa1" ]
}