{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsforceclosehandlemin11963be1d234cca16?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D751D971DEB247",
      "Last-Modified" : "Wed, 16 Oct 2019 01:37:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsforceclosehandlemin11963be1d234cca16/fileapitestsforceclosehandlemin735842f045df03f21",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-10-16T01:37:45.6833123Z",
      "Last-Modified" : "Wed, 16 Oct 2019 01:37:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D751D971E57E63",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-10-16T01:37:45.6833123Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-10-16T01:37:45.6833123Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsforceclosehandlemin11963be1d234cca16/fileapitestsforceclosehandlemin735842f045df03f21?comp=forceclosehandles",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-number-of-handles-closed" : "0",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestsforceclosehandlemin11963be1d234cca16", "fileapitestsforceclosehandlemin735842f045df03f21" ]
}