{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileserviceasyncapitestscreateshare494046f9b20ed53?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7519F892E396C",
      "Last-Modified" : "Tue, 15 Oct 2019 18:43:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileserviceasyncapitestscreateshare494046f9b20ed53" ]
}