{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestssethttpheaderserror00881ded5d37cc?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D76DF1B4A22759",
      "Last-Modified" : "Wed, 20 Nov 2019 19:41:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestssethttpheaderserror00881ded5d37cc/fileasyncapitestssethttpheaderserror169765e5d6658e",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-11-20T19:41:58.1719219Z",
      "Last-Modified" : "Wed, 20 Nov 2019 19:41:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D76DF1B4A8C2B3",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-11-20T19:41:58.1719219Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-11-20T19:41:58.1719219Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestssethttpheaderserror00881ded5d37cc/fileasyncapitestssethttpheaderserror169765e5d6658e?comp=properties",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "OutOfRangeInput",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>OutOfRangeInput</Code><Message>The file size exceeds the maximum permissible limit.\nRequestId:16b1f028-f01a-00ab-4bda-9fe764000000\nTime:2019-11-20T19:41:58.2096996Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestssethttpheaderserror00881ded5d37cc", "fileasyncapitestssethttpheaderserror169765e5d6658e" ]
}