{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestssethttpheadersfp47256ab0fdfca591?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D767DE2E5CBEBB",
      "Last-Modified" : "Wed, 13 Nov 2019 02:07:05 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestssethttpheadersfp47256ab0fdfca591/fileasyncapitestssethttpheadersfp60596692a803cf09",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-11-13T02:07:05.5083464Z",
      "Last-Modified" : "Wed, 13 Nov 2019 02:07:05 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D767DE2E667BC8",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-11-13T02:07:05.5083464Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-11-13T02:07:05.5083464Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestssethttpheadersfp47256ab0fdfca591/fileasyncapitestssethttpheadersfp60596692a803cf09?comp=properties",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1226745640258142193*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-11-13T02:07:05.5438228Z",
      "Last-Modified" : "Wed, 13 Nov 2019 02:07:05 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D767DE2E6FF3F8",
      "x-ms-file-attributes" : "None",
      "x-ms-file-change-time" : "2019-11-13T02:07:05.5704056Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-11-13T02:07:05.5438228Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestssethttpheadersfp47256ab0fdfca591", "fileasyncapitestssethttpheadersfp60596692a803cf09", "2019-11-13T02:07:05.543822800Z", "2019-11-13T02:07:05.543822800Z" ]
}