{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listshareswithargs57191ff7824dd48ee4c4cbf0?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F250FFD6886",
      "Last-Modified" : "Thu, 12 Dec 2019 17:02:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listshareswithargs57191ff7824dd48ee4c4cbf2?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-12-12T17:02:25.0000000Z",
      "ETag" : "0x8D77F251007F265",
      "Last-Modified" : "Thu, 12 Dec 2019 17:02:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=listshareswithargs&include=metadata%2csnapshots&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>listshareswithargs</Prefix><Shares><Share><Name>listshareswithargs57191ff7824dd48ee4c4cbf0</Name><Properties><Last-Modified>Thu, 12 Dec 2019 17:02:25 GMT</Last-Modified><Etag>\"0x8D77F250FFD6886\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>listshareswithargs57191ff7824dd48ee4c4cbf1</Name><Properties><Last-Modified>Thu, 12 Dec 2019 17:02:25 GMT</Last-Modified><Etag>\"0x8D77F25100299EC\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>listshareswithargs57191ff7824dd48ee4c4cbf2</Name><Snapshot>2019-12-12T17:02:25.0000000Z</Snapshot><Properties><Last-Modified>Thu, 12 Dec 2019 17:02:25 GMT</Last-Modified><Etag>\"0x8D77F251007F265\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>listshareswithargs57191ff7824dd48ee4c4cbf2</Name><Properties><Last-Modified>Thu, 12 Dec 2019 17:02:25 GMT</Last-Modified><Etag>\"0x8D77F251007F265\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=listshareswithargs&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>listshareswithargs</Prefix><Shares><Share><Name>listshareswithargs57191ff7824dd48ee4c4cbf0</Name><Properties><Last-Modified>Thu, 12 Dec 2019 17:02:25 GMT</Last-Modified><Etag>\"0x8D77F250FFD6886\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>listshareswithargs57191ff7824dd48ee4c4cbf1</Name><Properties><Last-Modified>Thu, 12 Dec 2019 17:02:25 GMT</Last-Modified><Etag>\"0x8D77F25100299EC\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>listshareswithargs57191ff7824dd48ee4c4cbf2</Name><Properties><Last-Modified>Thu, 12 Dec 2019 17:02:25 GMT</Last-Modified><Etag>\"0x8D77F251007F265\"</Etag><Quota>2</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listshareswithargs57191ff7824dd48ee4c4cbf2?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "listshareswithargs57191ff7824dd48ee4c4cbf" ]
}