{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?restype=service&comp=properties",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "InvalidXmlDocument",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidXmlDocument</Code><Message>XML specified is not syntactically valid.\nRequestId:f77c5de7-401a-00df-6fc7-996122000000\nTime:2019-11-13T02:07:22.8481067Z</Message><LineNumber>0</LineNumber><LinePosition>0</LinePosition><Reason /></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "c6a97c5f0ea644c68d2a4c23726d3e07383ded863d4c4ee9a147f73e2da9853c" ]
}