{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/uploaddatalengthmismatch017687d6fb8940b06479?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7785051F1F23D",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/uploaddatalengthmismatch017687d6fb8940b06479/uploaddatalengthmismatch373246617c0d3ba29422",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T00:24:28.7903852Z",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D778505362A06C",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-04T00:24:28.7903852Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T00:24:28.7903852Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/uploaddatalengthmismatch017687d6fb8940b06479/uploaddatalengthmismatch373246617c0d3ba29422?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : null,
    "Exception" : {
      "ClassName" : "com.azure.core.exception.UnexpectedLengthException",
      "ErrorMessage" : "Request body emitted 7 bytes, less than the expected 8 bytes."
    }
  } ],
  "variables" : [ "uploaddatalengthmismatch017687d6fb8940b06479", "uploaddatalengthmismatch373246617c0d3ba29422" ]
}