{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanarytest.file.core.windows.net/filesastestsaccountsasnetworkaccountsastokenonendpoint00226?restype=share&sv=2019-10-10&se=2020-05-13T20%3A47%3A23Z&sp=rc&sig=REDACTED&ss=f&srt=sco",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7F6B5AC249137",
      "Last-Modified" : "Tue, 12 May 2020 20:47:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanarytest.file.core.windows.net/filesastestsaccountsasnetworkaccountsastokenonendpoint00226/filesastestsaccountsasnetworkaccountsastokenonendpoint82353?sv=2019-10-10&se=2020-05-13T20%3A47%3A23Z&sp=rc&sig=REDACTED&ss=f&srt=sco",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "x-ms-file-permission-key" : "9064745170435706323*15378836105569756509",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2020-05-12T20:47:23.5024286Z",
      "Last-Modified" : "Tue, 12 May 2020 20:47:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7F6B5AC37299E",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2020-05-12T20:47:23.5024286Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2020-05-12T20:47:23.5024286Z"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://kasobolcanarytest.file.core.windows.net/filesastestsaccountsasnetworkaccountsastokenonendpoint00226/filesastestsaccountsasnetworkaccountsastokenonendpoint82353?sv=2019-10-10&se=2020-05-13T20%3A47%3A23Z&sp=rc&sig=REDACTED&ss=f&srt=sco",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "x-ms-lease-status" : "unlocked",
      "x-ms-file-permission-key" : "9064745170435706323*15378836105569756509",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2020-05-12T20:47:23.5024286Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Tue, 12 May 2020 20:47:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "0x8D7F6B5AC37299E",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2020-05-12T20:47:23.5024286Z",
      "x-ms-file-parent-id" : "0",
      "Body" : "[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,[...]
