{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listrangesfileasyncapitestslistranges2bc43279924432c?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F250230583D",
      "Last-Modified" : "Thu, 12 Dec 2019 17:02:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listrangesfileasyncapitestslistranges2bc43279924432c/listrangesfileasyncapitestslistranges2bc02314495ed94",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-12T17:02:02.3916200Z",
      "Last-Modified" : "Thu, 12 Dec 2019 17:02:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77F25023762A8",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-12T17:02:02.3916200Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-12T17:02:02.3916200Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listrangesfileasyncapitestslistranges2bc43279924432c/listrangesfileasyncapitestslistranges2bc02314495ed94?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F25023DA5CF",
      "Last-Modified" : "Thu, 12 Dec 2019 17:02:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "DzQ7CTESaiDxM9Z8KwGKOw=="
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listrangesfileasyncapitestslistranges2bc43279924432c/listrangesfileasyncapitestslistranges2bc02314495ed94?comp=rangelist",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-length" : "1024",
      "Last-Modified" : "Thu, 12 Dec 2019 17:02:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "0x8D77F25023DA5CF",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges><Range><Start>0</Start><End>1023</End></Range></Ranges>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=listranges&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>listranges</Prefix><Shares><Share><Name>listrangesfileasyncapitestslistranges2bc43279924432c</Name><Properties><Last-Modified>Thu, 12 Dec 2019 17:02:02 GMT</Last-Modified><Etag>\"0x8D77F250230583D\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listrangesfileasyncapitestslistranges2bc43279924432c?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "listrangesfileasyncapitestslistranges2bc43279924432c", "listrangesfileasyncapitestslistranges2bc02314495ed94", "filefileasyncapitestslistranges2bc18073dd29c1dd64" ]
}