{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/sethttpheadersfpfileapitestssethttpheadersfpa3786169f85f?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7785056862DB2",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/sethttpheadersfpfileapitestssethttpheadersfpa3786169f85f/sethttpheadersfpfileapitestssethttpheadersfpa37781898363",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T00:24:34.0982786Z",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77850568C8C02",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-04T00:24:34.0982786Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T00:24:34.0982786Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/sethttpheadersfpfileapitestssethttpheadersfpa3786169f85f/sethttpheadersfpfileapitestssethttpheadersfpa37781898363?comp=properties",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1226745640258142193*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T00:24:34.1174555Z",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77850569232B2",
      "x-ms-file-attributes" : "None",
      "x-ms-file-change-time" : "2019-12-04T00:24:34.1353138Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T00:24:34.1174555Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "sethttpheadersfpfileapitestssethttpheadersfpa3786169f85f", "sethttpheadersfpfileapitestssethttpheadersfpa37781898363", "2019-12-04T00:24:34.117455500Z", "2019-12-04T00:24:34.117455500Z" ]
}