{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileserviceasyncapitestslistshareswithfilter0823916a05c0?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911F5D44D69",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.file.core.windows.net?prefix=fileserviceasyncapitestslistshareswithfilter&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.file.core.windows.net/\"><Prefix>fileserviceasyncapitestslistshareswithfilter</Prefix><Shares><Share><Name>fileserviceasyncapitestslistshareswithfilter0823916a05c0</Name><Properties><Last-Modified>Wed, 04 Dec 2019 23:30:34 GMT</Last-Modified><Etag>\"0x8D77911F5D44D69\"</Etag><Quota>1</Quota></Properties></Share><Share><Name>fileserviceasyncapitestslistshareswithfilter0823916a05c1</Name><Properties><Last-Modified>Wed, 04 Dec 2019 23:30:34 GMT</Last-Modified><Etag>\"0x8D77911F5E1E1E7\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>fileserviceasyncapitestslistshareswithfilter0823916a05c2</Name><Properties><Last-Modified>Wed, 04 Dec 2019 23:30:34 GMT</Last-Modified><Etag>\"0x8D77911F5EEB330\"</Etag><Quota>3</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileserviceasyncapitestslistshareswithfilter0823916a05c" ]
}