{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileserviceasyncapitestslistshareswithfilter3387379ecb60?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911F70664A6",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.file.core.windows.net?comp=list&prefix=fileserviceasyncapitestslistshareswithfilter&maxresults=2&include=",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.file.core.windows.net/\"><Prefix>fileserviceasyncapitestslistshareswithfilter</Prefix><MaxResults>2</MaxResults><Shares><Share><Name>fileserviceasyncapitestslistshareswithfilter3387379ecb60</Name><Properties><Last-Modified>Wed, 04 Dec 2019 23:30:36 GMT</Last-Modified><Etag>\"0x8D77911F70664A6\"</Etag><Quota>1</Quota></Properties></Share><Share><Name>fileserviceasyncapitestslistshareswithfilter3387379ecb61</Name><Properties><Last-Modified>Wed, 04 Dec 2019 23:30:36 GMT</Last-Modified><Etag>\"0x8D77911F713387E\"</Etag><Quota>2</Quota></Properties></Share></Shares><NextMarker>/gaprastg71/fileserviceasyncapitestslistshareswithfilter3387379ecb62</NextMarker></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.file.core.windows.net?comp=list&prefix=fileserviceasyncapitestslistshareswithfilter&marker=/gaprastg71/fileserviceasyncapitestslistshareswithfilter3387379ecb62&maxresults=2&include=",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.file.core.windows.net/\"><Prefix>fileserviceasyncapitestslistshareswithfilter</Prefix><Marker>/gaprastg71/fileserviceasyncapitestslistshareswithfilter3387379ecb62</Marker><MaxResults>2</MaxResults><Shares><Share><Name>fileserviceasyncapitestslistshareswithfilter3387379ecb62</Name><Properties><Last-Modified>Wed, 04 Dec 2019 23:30:36 GMT</Last-Modified><Etag>\"0x8D77911F7202DE7\"</Etag><Quota>3</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileserviceasyncapitestslistshareswithfilter3387379ecb6" ]
}