{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileasyncapitestssethttpheadersfp5645152970688fa7?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911E91D5126",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileasyncapitestssethttpheadersfp5645152970688fa7/fileasyncapitestssethttpheadersfp61058491d437600c",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T23:30:12.9634149Z",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77911E92C9B65",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-04T23:30:12.9634149Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T23:30:12.9634149Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileasyncapitestssethttpheadersfp5645152970688fa7/fileasyncapitestssethttpheadersfp61058491d437600c?comp=properties",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15361494707574448414*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T23:30:12.9688147Z",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77911E93B4114",
      "x-ms-file-attributes" : "None",
      "x-ms-file-change-time" : "2019-12-04T23:30:13.0594068Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T23:30:12.9688147Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestssethttpheadersfp5645152970688fa7", "fileasyncapitestssethttpheadersfp61058491d437600c", "2019-12-04T23:30:12.968814700Z", "2019-12-04T23:30:12.968814700Z" ]
}