{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/filesastestssharesasnetworkidentifierpermissions0629636a?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D78A4D45B0E11D",
      "Last-Modified" : "Thu, 26 Dec 2019 21:47:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/filesastestssharesasnetworkidentifierpermissions0629636a?restype=share&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D78A4D45BF8A1F",
      "Last-Modified" : "Thu, 26 Dec 2019 21:47:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/filesastestssharesasnetworkidentifierpermissions0629636a/filesastestssharesasnetworkidentifierpermissions504103c9?restype=directory&sv=2019-07-07&si=0000&sr=s&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "1887593946193683302*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-26T21:47:58.4489269Z",
      "Last-Modified" : "Thu, 26 Dec 2019 21:47:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D78A4D45CE7B35",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-26T21:47:58.4489269Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-26T21:47:58.4489269Z"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/filesastestssharesasnetworkidentifierpermissions0629636a/filesastestssharesasnetworkidentifierpermissions40285ed0?restype=directory&sv=2019-07-07&se=2019-12-27T21%3A47%3A58Z&sr=s&sp=rcwdl&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "1887593946193683302*8280205063999649007",
      "x-ms-file-id" : "11529285414812647424",
      "x-ms-file-creation-time" : "2019-12-26T21:47:58.6189363Z",
      "Last-Modified" : "Thu, 26 Dec 2019 21:47:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D78A4D45E86C33",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-26T21:47:58.6189363Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-26T21:47:58.6189363Z"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://gaprastg71.file.core.windows.net/filesastestssharesasnetworkidentifierpermissions0629636a/filesastestssharesasnetworkidentifierpermissions40285ed0?restype=directory&sv=2019-07-07&se=2019-12-27T21%3A47%3A58Z&sr=s&sp=rcwdl&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "filesastestssharesasnetworkidentifierpermissions0629636a", "2019-12-26T21:47:58.186001800Z", "2019-12-26T21:47:58.364557Z", "filesastestssharesasnetworkidentifierpermissions504103c9", "filesastestssharesasnetworkidentifierpermissions40285ed0" ]
}