{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileapitestssetmetadatafileapitestssetmetadatab8d7027103a?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911D51FDF95",
      "Last-Modified" : "Wed, 04 Dec 2019 23:29:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileapitestssetmetadatafileapitestssetmetadatab8d7027103a/fileapitestssetmetadatafileapitestssetmetadatab8d49108b09",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T23:29:39.4241836Z",
      "Last-Modified" : "Wed, 04 Dec 2019 23:29:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77911D52EED2C",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-04T23:29:39.4241836Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T23:29:39.4241836Z"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileapitestssetmetadatafileapitestssetmetadatab8d7027103a/fileapitestssetmetadatafileapitestssetmetadatab8d49108b09",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T23:29:39.4241836Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Wed, 04 Dec 2019 23:29:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "0x8D77911D52EED2C",
      "x-ms-file-attributes" : "Archive",
      "x-ms-meta-testmetadata" : "value",
      "x-ms-file-change-time" : "2019-12-04T23:29:39.4241836Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T23:29:39.4241836Z",
      "Content-Language" : "en",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileapitestssetmetadatafileapitestssetmetadatab8d7027103a/fileapitestssetmetadatafileapitestssetmetadatab8d49108b09?comp=metadata",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911D54840FB",
      "Last-Modified" : "Wed, 04 Dec 2019 23:29:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileapitestssetmetadatafileapitestssetmetadatab8d7027103a/fileapitestssetmetadatafileapitestssetmetadatab8d49108b09",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-meta-update" : "value",
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T23:29:39.4241836Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Wed, 04 Dec 2019 23:29:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "0x8D77911D54840FB",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-04T23:29:39.5901691Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T23:29:39.4241836Z",
      "Content-Language" : "en",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestssetmetadatafileapitestssetmetadatab8d7027103a", "fileapitestssetmetadatafileapitestssetmetadatab8d49108b09" ]
}