{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gapradev.file.core.windows.net/filesasclienttestsaccountsasnetworkcreatedeleteshare113593?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7780FD157E07E",
      "Last-Modified" : "Tue, 03 Dec 2019 16:42:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gapradev.file.core.windows.net/filesasclienttestsaccountsasnetworkcreatedeleteshare113593/filename",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15581347578553677299*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-03T16:42:42.9247296Z",
      "Last-Modified" : "Tue, 03 Dec 2019 16:42:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7780FD1670740",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-03T16:42:42.9247296Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-03T16:42:42.9247296Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gapradev.file.core.windows.net/create?restype=share&sv=2019-02-02&ss=f&srt=sco&se=2019-12-04T16%3A42%3A42Z&sp=rdc&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7780FD17BBBF2",
      "Last-Modified" : "Tue, 03 Dec 2019 16:42:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://gapradev.file.core.windows.net/create?restype=share&sv=2019-02-02&ss=f&srt=sco&se=2019-12-04T16%3A42%3A42Z&sp=rdc&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "filesasclienttestsaccountsasnetworkcreatedeleteshare113593", "2019-12-03T16:42:42.972784200Z" ]
}