{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploadandclearrangewithargs0439145e90?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7689D248EFB9F",
      "Last-Modified" : "Thu, 14 Nov 2019 00:54:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploadandclearrangewithargs0439145e90/fileasyncapitestsuploadandclearrangewithargs93315953b8",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-11-14T00:54:02.9279216Z",
      "Last-Modified" : "Thu, 14 Nov 2019 00:54:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7689D249787F0",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-11-14T00:54:02.9279216Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-11-14T00:54:02.9279216Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploadandclearrangewithargs0439145e90/fileasyncapitestsuploadandclearrangewithargs93315953b8?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7689D249D55C0",
      "Last-Modified" : "Thu, 14 Nov 2019 00:54:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "A5momLrihyOacM8O00uT1g=="
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploadandclearrangewithargs0439145e90/fileasyncapitestsuploadandclearrangewithargs93315953b8",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-11-14T00:54:02.9279216Z",
      "Content-Range" : "bytes 1-7/22",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 14 Nov 2019 00:54:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "206",
      "x-ms-file-attributes" : "Archive",
      "Body" : "[0, 0, 0, 0, 0, 0, 0]",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "0x8D7689D24A28736",
      "x-ms-file-change-time" : "2019-11-14T00:54:02.9279216Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-11-14T00:54:02.9279216Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestsuploadandclearrangewithargs0439145e90", "fileasyncapitestsuploadandclearrangewithargs93315953b8" ]
}