{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileserviceasyncapitestslistshareswithfilter1006064205e0?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911F63AD72F",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.file.core.windows.net?comp=list&prefix=fileserviceasyncapitestslistshareswithfilter&include=metadata",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.file.core.windows.net/\"><Prefix>fileserviceasyncapitestslistshareswithfilter</Prefix><Shares><Share><Name>fileserviceasyncapitestslistshareswithfilter1006064205e0</Name><Properties><Last-Modified>Wed, 04 Dec 2019 23:30:34 GMT</Last-Modified><Etag>\"0x8D77911F63AD72F\"</Etag><Quota>1</Quota></Properties><Metadata /></Share><Share><Name>fileserviceasyncapitestslistshareswithfilter1006064205e1</Name><Properties><Last-Modified>Wed, 04 Dec 2019 23:30:34 GMT</Last-Modified><Etag>\"0x8D77911F647CFE8\"</Etag><Quota>2</Quota></Properties><Metadata /></Share><Share><Name>fileserviceasyncapitestslistshareswithfilter1006064205e2</Name><Properties><Last-Modified>Wed, 04 Dec 2019 23:30:35 GMT</Last-Modified><Etag>\"0x8D77911F654A0E0\"</Etag><Quota>3</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileserviceasyncapitestslistshareswithfilter1006064205e" ]
}