{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsgetpropertieserror674925a2378ff9ebb?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D767DE25E1892A",
      "Last-Modified" : "Wed, 13 Nov 2019 02:06:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsgetpropertieserror674925a2378ff9ebb/fileapitestsgetpropertieserror123154e8cc8ca8c80",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "ResourceNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestsgetpropertieserror674925a2378ff9ebb", "fileapitestsgetpropertieserror123154e8cc8ca8c80" ]
}