{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/filesasclienttestssharesasnetworkidentifierpermissions95873?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7C6D61867A16C",
      "Last-Modified" : "Thu, 12 Mar 2020 22:38:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/filesasclienttestssharesasnetworkidentifierpermissions95873/filename",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2020-03-12T22:38:33.4718508Z",
      "Last-Modified" : "Thu, 12 Mar 2020 22:38:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7C6D618A0FA2C",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2020-03-12T22:38:33.4718508Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2020-03-12T22:38:33.4718508Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/filesasclienttestssharesasnetworkidentifierpermissions95873?restype=share&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7C6D618D9BDEE",
      "Last-Modified" : "Thu, 12 Mar 2020 22:38:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/filesasclienttestssharesasnetworkidentifierpermissions95873/dir?restype=directory&sv=2019-10-10&si=0000&sr=s&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-file-permission-key" : "1887593946193683302*8280205063999649007",
      "x-ms-file-id" : "13835093239654252544",
      "x-ms-file-creation-time" : "2020-03-12T22:39:04.5160539Z",
      "Last-Modified" : "Thu, 12 Mar 2020 22:39:04 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7C6D62B21F25B",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2020-03-12T22:39:04.5160539Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2020-03-12T22:39:04.5160539Z"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/filesasclienttestssharesasnetworkidentifierpermissions95873/dir?restype=directory&sv=2019-10-10&se=2020-03-13T22%3A39%3A03Z&sr=s&sp=rcwdl&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-file-permission-key" : "1887593946193683302*8280205063999649007",
      "x-ms-file-id" : "13835163608398430208",
      "x-ms-file-creation-time" : "2020-03-12T22:39:05.2780684Z",
      "Last-Modified" : "Thu, 12 Mar 2020 22:39:05 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7C6D62B96388C",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2020-03-12T22:39:05.2780684Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2020-03-12T22:39:05.2780684Z"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.file.core.windows.net/filesasclienttestssharesasnetworkidentifierpermissions95873/dir?restype=directory&sv=2019-10-10&se=2020-03-13T22%3A39%3A03Z&sr=s&sp=rcwdl&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "filesasclienttestssharesasnetworkidentifierpermissions95873", "2020-03-12T22:38:33.518232400Z", "2020-03-12T22:39:03.901193800Z" ]
}