{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestscreatefile77755c7d31a23964740?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7519F78DD1AFF",
      "Last-Modified" : "Tue, 15 Oct 2019 18:42:46 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestscreatefile77755c7d31a23964740", "fileasyncapitestscreatefile398795d516c62f57a4d" ]
}