{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploadfiledoesnotexist77215e6e86423?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D767DE2B3601D0",
      "Last-Modified" : "Wed, 13 Nov 2019 02:07:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestsuploadfiledoesnotexist77215e6e86423", "fileasyncapitestsuploadfiledoesnotexist964027fd69b5a" ]
}