{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestssethttpheadersfp215642f95562cbba?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7519F80C2B5AE",
      "Last-Modified" : "Tue, 15 Oct 2019 18:42:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestssethttpheadersfp215642f95562cbba/fileasyncapitestssethttpheadersfp22384d4539e22f4b",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-10-15T18:42:59.8611510Z",
      "Last-Modified" : "Tue, 15 Oct 2019 18:42:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7519F80CA6236",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-10-15T18:42:59.8611510Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-10-15T18:42:59.8611510Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestssethttpheadersfp215642f95562cbba/fileasyncapitestssethttpheadersfp22384d4539e22f4b?comp=properties",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1226745640258142193*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-10-15T18:42:59.8941690Z",
      "Last-Modified" : "Tue, 15 Oct 2019 18:42:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7519F80D1B701",
      "x-ms-file-attributes" : "None",
      "x-ms-file-change-time" : "2019-10-15T18:42:59.9091969Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-10-15T18:42:59.8941690Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestssethttpheadersfp215642f95562cbba", "fileasyncapitestssethttpheadersfp22384d4539e22f4b", "2019-10-15T18:42:59.894169Z", "2019-10-15T18:42:59.894169Z" ]
}