{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestslistranges9740524162164f9ea43?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D767DE2EF0BE62",
      "Last-Modified" : "Wed, 13 Nov 2019 02:07:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestslistranges9740524162164f9ea43/fileasyncapitestslistranges569593cb5161264f24d",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-11-13T02:07:06.4722597Z",
      "Last-Modified" : "Wed, 13 Nov 2019 02:07:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D767DE2EF990A5",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-11-13T02:07:06.4722597Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-11-13T02:07:06.4722597Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestslistranges9740524162164f9ea43/fileasyncapitestslistranges569593cb5161264f24d?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D767DE2F009739",
      "Last-Modified" : "Wed, 13 Nov 2019 02:07:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "DzQ7CTESaiDxM9Z8KwGKOw=="
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestslistranges9740524162164f9ea43/fileasyncapitestslistranges569593cb5161264f24d?comp=rangelist",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-length" : "1024",
      "Last-Modified" : "Wed, 13 Nov 2019 02:07:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "0x8D767DE2F009739",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges><Range><Start>0</Start><End>1023</End></Range></Ranges>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestslistranges9740524162164f9ea43", "fileasyncapitestslistranges569593cb5161264f24d", "filefileasyncapitestslistranges56d770730f74907269" ]
}