{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listshareswithfilter43404517bd3c51cc6412690?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F250D45DB18",
      "Last-Modified" : "Thu, 12 Dec 2019 17:02:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=listshareswithfilter&include=metadata&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>listshareswithfilter</Prefix><Shares><Share><Name>listshareswithfilter43404517bd3c51cc6412690</Name><Properties><Last-Modified>Thu, 12 Dec 2019 17:02:20 GMT</Last-Modified><Etag>\"0x8D77F250D45DB18\"</Etag><Quota>1</Quota></Properties><Metadata /></Share><Share><Name>listshareswithfilter43404517bd3c51cc6412691</Name><Properties><Last-Modified>Thu, 12 Dec 2019 17:02:20 GMT</Last-Modified><Etag>\"0x8D77F250D4CBA8C\"</Etag><Quota>2</Quota></Properties><Metadata /></Share><Share><Name>listshareswithfilter43404517bd3c51cc6412692</Name><Properties><Last-Modified>Thu, 12 Dec 2019 17:02:21 GMT</Last-Modified><Etag>\"0x8D77F250D523A2A\"</Etag><Quota>3</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=listshareswithfilter&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>listshareswithfilter</Prefix><Shares><Share><Name>listshareswithfilter43404517bd3c51cc6412690</Name><Properties><Last-Modified>Thu, 12 Dec 2019 17:02:20 GMT</Last-Modified><Etag>\"0x8D77F250D45DB18\"</Etag><Quota>1</Quota></Properties></Share><Share><Name>listshareswithfilter43404517bd3c51cc6412691</Name><Properties><Last-Modified>Thu, 12 Dec 2019 17:02:20 GMT</Last-Modified><Etag>\"0x8D77F250D4CBA8C\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>listshareswithfilter43404517bd3c51cc6412692</Name><Properties><Last-Modified>Thu, 12 Dec 2019 17:02:21 GMT</Last-Modified><Etag>\"0x8D77F250D523A2A\"</Etag><Quota>3</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listshareswithfilter43404517bd3c51cc6412692?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "listshareswithfilter43404517bd3c51cc641269" ]
}