{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/accountsasnetworkcreatedeleteshare49446f28ce46420?restype=share&sv=2019-02-02&ss=f&srt=sco&se=2019-12-13T17%3A02%3A10Z&sp=rdc&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F2506E6C32B",
      "Last-Modified" : "Thu, 12 Dec 2019 17:02:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=accountsasnetworkcreatedeleteshare&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>accountsasnetworkcreatedeleteshare</Prefix><Shares /><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "accountsasnetworkcreatedeleteshare72404ff82d2d489", "2019-12-12T17:02:10.085520700Z", "accountsasnetworkcreatedeleteshare49446f28ce46420" ]
}