{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanarytest.file.core.windows.net/fileserviceapitestslistshareswithargs0287973933937d0?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7F6D161DBF966",
      "Last-Modified" : "Wed, 13 May 2020 00:05:44 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanarytest.file.core.windows.net/fileserviceapitestslistshareswithargs0287973933937d2?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "x-ms-snapshot" : "2020-05-13T00:05:44.0000000Z",
      "ETag" : "0x8D7F6D162013DC0",
      "Last-Modified" : "Wed, 13 May 2020 00:05:44 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://kasobolcanarytest.file.core.windows.net?prefix=fileserviceapitestslistshareswithargs0287973933937d&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://kasobolcanarytest.file.core.windows.net/\"><Prefix>fileserviceapitestslistshareswithargs0287973933937d</Prefix><Shares><Share><Name>fileserviceapitestslistshareswithargs0287973933937d0</Name><Properties><Last-Modified>Wed, 13 May 2020 00:05:44 GMT</Last-Modified><Etag>\"0x8D7F6D161DBF966\"</Etag><Quota>2</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>5/13/2020 12:05:44 AM</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>fileserviceapitestslistshareswithargs0287973933937d1</Name><Properties><Last-Modified>Wed, 13 May 2020 00:05:44 GMT</Last-Modified><Etag>\"0x8D7F6D161F3F40F\"</Etag><Quota>2</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>5/13/2020 12:05:44 AM</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share><Share><Name>fileserviceapitestslistshareswithargs0287973933937d2</Name><Properties><Last-Modified>Wed, 13 May 2020 00:05:44 GMT</Last-Modified><Etag>\"0x8D7F6D162013DC0\"</Etag><Quota>2</Quota><AccessTier>TransactionOptimized</AccessTier><AccessTierChangeTime>5/13/2020 12:05:44 AM</AccessTierChangeTime><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileserviceapitestslistshareswithargs0287973933937d" ]
}