{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/setmetadataerrorfileasyncapitestssetmetadataerror087099132?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D778505EA94AB4",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/setmetadataerrorfileasyncapitestssetmetadataerror087099132/setmetadataerrorfileasyncapitestssetmetadataerror08759988f",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T00:24:47.7525397Z",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D778505EB00595",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-04T00:24:47.7525397Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T00:24:47.7525397Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/setmetadataerrorfileasyncapitestssetmetadataerror087099132/setmetadataerrorfileasyncapitestssetmetadataerror08759988f?comp=metadata",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "EmptyMetadataKey",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>EmptyMetadataKey</Code><Message>The key for one of the metadata key-value pairs is empty.\nRequestId:0ec733b9-501a-0025-5139-aaa8c5000000\nTime:2019-12-04T00:24:47.7845080Z</Message><MetadataValue>value</MetadataValue></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "setmetadataerrorfileasyncapitestssetmetadataerror087099132", "setmetadataerrorfileasyncapitestssetmetadataerror08759988f" ]
}