{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/getfileurlfileasyncapitestsgetfileurl8eb024447aeb5ba?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7785059CA8C11",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "getfileurlfileasyncapitestsgetfileurl8eb024447aeb5ba", "getfileurlfileasyncapitestsgetfileurl8eb82849a61f62f" ]
}