{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsforceclosehandlemin841657764bb8a3?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D751D9D3A908D5",
      "Last-Modified" : "Wed, 16 Oct 2019 01:40:29 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsforceclosehandlemin841657764bb8a3/fileasyncapitestsforceclosehandlemin61878f79288041",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-10-16T01:40:29.7862629Z",
      "Last-Modified" : "Wed, 16 Oct 2019 01:40:29 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D751D9D3B59DE5",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-10-16T01:40:29.7862629Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-10-16T01:40:29.7862629Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsforceclosehandlemin841657764bb8a3/fileasyncapitestsforceclosehandlemin61878f79288041?comp=forceclosehandles",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-number-of-handles-closed" : "0",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestsforceclosehandlemin841657764bb8a3", "fileasyncapitestsforceclosehandlemin61878f79288041" ]
}