{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/getsnapshotidfileapitestsgetsnapshotid3d087756f711475?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77850599E8F58",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "getsnapshotidfileapitestsgetsnapshotid3d087756f711475", "getsnapshotidfileapitestsgetsnapshotid3d074937b27f7a0" ]
}