{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileserviceapitestslistshareswithargs149623f0e87d850?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911F23333A7",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileserviceapitestslistshareswithargs149623f0e87d852?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-snapshot" : "2019-12-04T23:30:28.0000000Z",
      "ETag" : "0x8D77911F24D7225",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.file.core.windows.net?prefix=fileserviceapitestslistshareswithargs&include=metadata&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.file.core.windows.net/\"><Prefix>fileserviceapitestslistshareswithargs</Prefix><Shares><Share><Name>fileserviceapitestslistshareswithargs149623f0e87d850</Name><Properties><Last-Modified>Wed, 04 Dec 2019 23:30:28 GMT</Last-Modified><Etag>\"0x8D77911F23333A7\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>fileserviceapitestslistshareswithargs149623f0e87d851</Name><Properties><Last-Modified>Wed, 04 Dec 2019 23:30:28 GMT</Last-Modified><Etag>\"0x8D77911F240070E\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>fileserviceapitestslistshareswithargs149623f0e87d852</Name><Properties><Last-Modified>Wed, 04 Dec 2019 23:30:28 GMT</Last-Modified><Etag>\"0x8D77911F24D7225\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileserviceapitestslistshareswithargs149623f0e87d85" ]
}