{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/fileasyncapitestsclearrangeleasefail3079076738f324?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7833EC32992D1",
      "Last-Modified" : "Tue, 17 Dec 2019 22:16:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/fileasyncapitestsclearrangeleasefail3079076738f324/fileasyncapitestsclearrangeleasefail53753b254d5cf0",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-17T22:16:28.2820982Z",
      "Last-Modified" : "Tue, 17 Dec 2019 22:16:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7833EC33A9176",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-17T22:16:28.2820982Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-17T22:16:28.2820982Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/fileasyncapitestsclearrangeleasefail3079076738f324/fileasyncapitestsclearrangeleasefail53753b254d5cf0?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7833EC33A9176",
      "x-ms-lease-id" : "4add2f9a-de93-49f8-95ef-d18d2a364420",
      "Last-Modified" : "Tue, 17 Dec 2019 22:16:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/fileasyncapitestsclearrangeleasefail3079076738f324/fileasyncapitestsclearrangeleasefail53753b254d5cf0?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "LeaseIdMismatchWithFileOperation",
      "retry-after" : "0",
      "StatusCode" : "412",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMismatchWithFileOperation</Code><Message>The lease ID specified did not match the lease ID for the file.\nRequestId:d096bcec-501a-0034-4b27-b5a1f3000000\nTime:2019-12-17T22:16:28.4607203Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestsclearrangeleasefail3079076738f324", "fileasyncapitestsclearrangeleasefail53753b254d5cf0", "b4002d16-5203-4bf6-9468-bd1ae38a347e" ]
}