{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestslistrangeswithrange96542b45e22180?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7519F81FA6FDC",
      "Last-Modified" : "Tue, 15 Oct 2019 18:43:01 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestslistrangeswithrange96542b45e22180/fileasyncapitestslistrangeswithrange0067332f50003a",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-10-15T18:43:02.1283379Z",
      "Last-Modified" : "Tue, 15 Oct 2019 18:43:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7519F82245433",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-10-15T18:43:02.1283379Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-10-15T18:43:02.1283379Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestslistrangeswithrange96542b45e22180/fileasyncapitestslistrangeswithrange0067332f50003a?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7519F822C6C81",
      "Last-Modified" : "Tue, 15 Oct 2019 18:43:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "DzQ7CTESaiDxM9Z8KwGKOw=="
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestslistrangeswithrange96542b45e22180/fileasyncapitestslistrangeswithrange0067332f50003a?comp=rangelist",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-length" : "1024",
      "Last-Modified" : "Tue, 15 Oct 2019 18:43:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "0x8D7519F822C6C81",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Ranges><Range><Start>0</Start><End>511</End></Range></Ranges>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestslistrangeswithrange96542b45e22180", "fileasyncapitestslistrangeswithrange0067332f50003a", "filefileasyncapitestslistrangeswithrangedd96830087ba7c" ]
}