{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/getfilepathfileapitestsgetfilepath0511460546df7bb4d?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7785059BB4626",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "getfilepathfileapitestsgetfilepath0511460546df7bb4d", "getfilepathfileapitestsgetfilepath0514834381f787da6" ]
}