{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestssethttpheadersfp98811a2045076fbf?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D76DF1B47E430B",
      "Last-Modified" : "Wed, 20 Nov 2019 19:41:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestssethttpheadersfp98811a2045076fbf/fileasyncapitestssethttpheadersfp3789857d5324ef17",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-11-20T19:41:57.9366986Z",
      "Last-Modified" : "Wed, 20 Nov 2019 19:41:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D76DF1B484DE4A",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-11-20T19:41:57.9366986Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-11-20T19:41:57.9366986Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestssethttpheadersfp98811a2045076fbf/fileasyncapitestssethttpheadersfp3789857d5324ef17?comp=properties",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1226745640258142193*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-11-20T19:41:57.9573575Z",
      "Last-Modified" : "Wed, 20 Nov 2019 19:41:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D76DF1B491D9BF",
      "x-ms-file-attributes" : "None",
      "x-ms-file-change-time" : "2019-11-20T19:41:58.0217791Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-11-20T19:41:57.9573575Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestssethttpheadersfp98811a2045076fbf", "fileasyncapitestssethttpheadersfp3789857d5324ef17", "2019-11-20T19:41:57.957357500Z", "2019-11-20T19:41:57.957357500Z" ]
}