{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listshareswithargs50972f9444c76b23a423db90?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7785062AC6FCA",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:54 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listshareswithargs50972f9444c76b23a423db92?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-12-04T00:24:54.0000000Z",
      "ETag" : "0x8D7785062B6845A",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:54 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=listshareswithargs&include=metadata%2csnapshots&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>listshareswithargs</Prefix><Shares><Share><Name>listshareswithargs50972f9444c76b23a423db90</Name><Properties><Last-Modified>Wed, 04 Dec 2019 00:24:54 GMT</Last-Modified><Etag>\"0x8D7785062AC6FCA\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>listshareswithargs50972f9444c76b23a423db91</Name><Properties><Last-Modified>Wed, 04 Dec 2019 00:24:54 GMT</Last-Modified><Etag>\"0x8D7785062B17A04\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>listshareswithargs50972f9444c76b23a423db92</Name><Snapshot>2019-12-04T00:24:54.0000000Z</Snapshot><Properties><Last-Modified>Wed, 04 Dec 2019 00:24:54 GMT</Last-Modified><Etag>\"0x8D7785062B6845A\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share><Share><Name>listshareswithargs50972f9444c76b23a423db92</Name><Properties><Last-Modified>Wed, 04 Dec 2019 00:24:54 GMT</Last-Modified><Etag>\"0x8D7785062B6845A\"</Etag><Quota>2</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "listshareswithargs50972f9444c76b23a423db9" ]
}