{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/filesastestsaccountsasnetworkcreatedeleteshare656218fe4?restype=share&sv=2019-07-07&ss=f&srt=sco&se=2019-12-24T22%3A47%3A24Z&sp=rdc&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D787FA146256A9",
      "Last-Modified" : "Mon, 23 Dec 2019 22:47:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://gaprastg71.file.core.windows.net/filesastestsaccountsasnetworkcreatedeleteshare656218fe4?restype=share&sv=2019-07-07&ss=f&srt=sco&se=2019-12-24T22%3A47%3A24Z&sp=rdc&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "filesastestsaccountsasnetworkcreatedeleteshare903642e84", "2019-12-23T22:47:24.246033500Z", "filesastestsaccountsasnetworkcreatedeleteshare656218fe4" ]
}