{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gapradev.file.core.windows.net/filesasclienttestssharesasnetworkidentifierpermissions30482?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7780FD0CABB76",
      "Last-Modified" : "Tue, 03 Dec 2019 16:42:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gapradev.file.core.windows.net/filesasclienttestssharesasnetworkidentifierpermissions30482/filename",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15581347578553677299*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-03T16:42:42.0017909Z",
      "Last-Modified" : "Tue, 03 Dec 2019 16:42:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7780FD0DA32F5",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-03T16:42:42.0017909Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-03T16:42:42.0017909Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gapradev.file.core.windows.net/filesasclienttestssharesasnetworkidentifierpermissions30482?restype=share&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7780FD0EB63AF",
      "Last-Modified" : "Tue, 03 Dec 2019 16:42:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gapradev.file.core.windows.net/filesasclienttestssharesasnetworkidentifierpermissions30482/dir?restype=directory&sv=2019-02-02&si=0000&sr=s&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "11529285414812647424",
      "x-ms-file-creation-time" : "2019-12-03T16:42:42.2587658Z",
      "Last-Modified" : "Tue, 03 Dec 2019 16:42:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7780FD101690A",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-03T16:42:42.2587658Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-03T16:42:42.2587658Z"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://gapradev.file.core.windows.net/filesasclienttestssharesasnetworkidentifierpermissions30482/dir?restype=directory&sv=2019-02-02&se=2019-12-04T16%3A42%3A42Z&sr=s&sp=rcwdl&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1749612463032355572*8114634751575874941",
      "x-ms-file-id" : "16140971433240035328",
      "x-ms-file-creation-time" : "2019-12-03T16:42:42.4627566Z",
      "Last-Modified" : "Tue, 03 Dec 2019 16:42:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7780FD120896E",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-03T16:42:42.4627566Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-03T16:42:42.4627566Z"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://gapradev.file.core.windows.net/filesasclienttestssharesasnetworkidentifierpermissions30482/dir?restype=directory&sv=2019-02-02&se=2019-12-04T16%3A42%3A42Z&sr=s&sp=rcwdl&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "filesasclienttestssharesasnetworkidentifierpermissions30482", "2019-12-03T16:42:42.017575800Z", "2019-12-03T16:42:42.152625600Z" ]
}