{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestsgetfileurlfileapitestsgetfileurl19c2902354ec?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7519F6F884838",
      "Last-Modified" : "Tue, 15 Oct 2019 18:42:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestsgetfileurlfileapitestsgetfileurl19c2902354ec", "fileapitestsgetfileurlfileapitestsgetfileurl19c2605115af" ]
}