{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploadanddownloadfileexists50853af13c?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D76DF1B1942AE9",
      "Last-Modified" : "Wed, 20 Nov 2019 19:41:53 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploadanddownloadfileexists50853af13c/fileasyncapitestsuploadanddownloadfileexists2481251251",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-11-20T19:41:53.0600925Z",
      "Last-Modified" : "Wed, 20 Nov 2019 19:41:53 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D76DF1B19CC1DD",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-11-20T19:41:53.0600925Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-11-20T19:41:53.0600925Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsuploadanddownloadfileexists50853af13c/fileasyncapitestsuploadanddownloadfileexists2481251251?comp=range",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D76DF1B1A2B6C0",
      "Last-Modified" : "Wed, 20 Nov 2019 19:41:53 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "SBhvnLsTIqH+vn9SjVscdA=="
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestsuploadanddownloadfileexists50853af13c", "fileasyncapitestsuploadanddownloadfileexists2481251251" ]
}