{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gapradev.file.core.windows.net/filesastestsaccountsasnetworkaccountsastokenonendpoint17508?restype=share&sv=2019-02-02&se=2019-12-03T14%3A42%3A57Z&sp=rc&sig=REDACTED&ss=f&srt=sco",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77735EC87A69C",
      "Last-Modified" : "Mon, 02 Dec 2019 14:42:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gapradev.file.core.windows.net/filesastestsaccountsasnetworkaccountsastokenonendpoint17508/filesastestsaccountsasnetworkaccountsastokenonendpoint87576?sv=2019-02-02&se=2019-12-03T14%3A42%3A57Z&sp=rc&sig=REDACTED&ss=f&srt=sco",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15581347578553677299*8114634751575874941",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-02T14:42:58.3530829Z",
      "Last-Modified" : "Mon, 02 Dec 2019 14:42:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77735ECA6A54D",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-02T14:42:58.3530829Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-02T14:42:58.3530829Z"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://gapradev.file.core.windows.net/filesastestsaccountsasnetworkaccountsastokenonendpoint17508/filesastestsaccountsasnetworkaccountsastokenonendpoint87576",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-02T14:42:58.3530829Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Mon, 02 Dec 2019 14:42:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-file-attributes" : "Archive",
      "Body" : "[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,[...]
