{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsforcecloseallhandlesmin6704208ca574?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D76DF1B74316BB",
      "Last-Modified" : "Wed, 20 Nov 2019 19:42:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsforcecloseallhandlesmin6704208ca574/fileasyncapitestsforcecloseallhandlesmin58825e53ee9a",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "2189138948451189390*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-11-20T19:42:02.5850882Z",
      "Last-Modified" : "Wed, 20 Nov 2019 19:42:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D76DF1B74A2802",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-11-20T19:42:02.5850882Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-11-20T19:42:02.5850882Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileasyncapitestsforcecloseallhandlesmin6704208ca574/fileasyncapitestsforcecloseallhandlesmin58825e53ee9a?comp=forceclosehandles",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-number-of-handles-closed" : "0",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestsforcecloseallhandlesmin6704208ca574", "fileasyncapitestsforcecloseallhandlesmin58825e53ee9a" ]
}