{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestscreatefilewithargsfp46267ae3c0d41a7c?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D767DE1F5A0FCC",
      "Last-Modified" : "Wed, 13 Nov 2019 02:06:40 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileapitestscreatefilewithargsfp46267ae3c0d41a7c/fileapitestscreatefilewithargsfp49327350968025be",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "6119292009901620917*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-11-13T02:06:40.2927334Z",
      "Last-Modified" : "Wed, 13 Nov 2019 02:06:40 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D767DE1F5EE2E6",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-11-13T02:06:40.2927334Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-11-13T02:06:40.2927334Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileapitestscreatefilewithargsfp46267ae3c0d41a7c", "fileapitestscreatefilewithargsfp49327350968025be", "2019-11-13T02:06:40.292733400Z", "2019-11-13T02:06:40.292733400Z" ]
}