{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/listshareswithfilter5894388bae12d6f5640a5a0?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77850658EC264",
      "Last-Modified" : "Wed, 04 Dec 2019 00:24:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=listshareswithfilter&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>listshareswithfilter</Prefix><Shares><Share><Name>listshareswithfilter5894388bae12d6f5640a5a0</Name><Properties><Last-Modified>Wed, 04 Dec 2019 00:24:59 GMT</Last-Modified><Etag>\"0x8D77850658EC264\"</Etag><Quota>1</Quota></Properties></Share><Share><Name>listshareswithfilter5894388bae12d6f5640a5a1</Name><Properties><Last-Modified>Wed, 04 Dec 2019 00:24:59 GMT</Last-Modified><Etag>\"0x8D7785065952C95\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>listshareswithfilter5894388bae12d6f5640a5a2</Name><Properties><Last-Modified>Wed, 04 Dec 2019 00:24:59 GMT</Last-Modified><Etag>\"0x8D778506599E8BD\"</Etag><Quota>3</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "listshareswithfilter5894388bae12d6f5640a5a" ]
}