{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/fileserviceasyncapitestslistshareswithfilter129381b5c590?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D767DE374A3F82",
      "Last-Modified" : "Wed, 13 Nov 2019 02:07:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=fileserviceasyncapitestslistshareswithfilter&include=metadata&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>fileserviceasyncapitestslistshareswithfilter</Prefix><Shares><Share><Name>fileserviceasyncapitestslistshareswithfilter129381b5c590</Name><Properties><Last-Modified>Wed, 13 Nov 2019 02:07:20 GMT</Last-Modified><Etag>\"0x8D767DE374A3F82\"</Etag><Quota>1</Quota></Properties><Metadata /></Share><Share><Name>fileserviceasyncapitestslistshareswithfilter129381b5c591</Name><Properties><Last-Modified>Wed, 13 Nov 2019 02:07:20 GMT</Last-Modified><Etag>\"0x8D767DE37508289\"</Etag><Quota>2</Quota></Properties><Metadata /></Share><Share><Name>fileserviceasyncapitestslistshareswithfilter129381b5c592</Name><Properties><Last-Modified>Wed, 13 Nov 2019 02:07:20 GMT</Last-Modified><Etag>\"0x8D767DE37565058\"</Etag><Quota>3</Quota></Properties><Metadata><testmetadata>value</testmetadata></Metadata></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileserviceasyncapitestslistshareswithfilter129381b5c59" ]
}