{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileasyncapitestscreatefile88715f34e24f338774e?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911D83CD83A",
      "Last-Modified" : "Wed, 04 Dec 2019 23:29:44 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/fileasyncapitestscreatefile88715f34e24f338774e/fileasyncapitestscreatefile59986202cd5c5995c4b",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T23:29:44.6562089Z",
      "Last-Modified" : "Wed, 04 Dec 2019 23:29:44 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77911D84D4529",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-04T23:29:44.6562089Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T23:29:44.6562089Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "fileasyncapitestscreatefile88715f34e24f338774e", "fileasyncapitestscreatefile59986202cd5c5995c4b" ]
}