{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/leaseapitestbreakbloblease58804764002b426c34d?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7833C90A55017",
      "Last-Modified" : "Tue, 17 Dec 2019 22:00:44 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/leaseapitestbreakbloblease58804764002b426c34d/leaseapitestbreakbloblease287705c787c8d3b044d",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-17T22:00:44.5426104Z",
      "Last-Modified" : "Tue, 17 Dec 2019 22:00:44 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7833C90B759B8",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-17T22:00:44.5426104Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-17T22:00:44.5426104Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/leaseapitestbreakbloblease58804764002b426c34d/leaseapitestbreakbloblease287705c787c8d3b044d?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7833C90B759B8",
      "x-ms-lease-id" : "0528f648-e0f8-4277-aaf0-7a02c259ee2b",
      "Last-Modified" : "Tue, 17 Dec 2019 22:00:44 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/leaseapitestbreakbloblease58804764002b426c34d/leaseapitestbreakbloblease287705c787c8d3b044d?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7833C90B759B8",
      "x-ms-lease-time" : "0",
      "Last-Modified" : "Tue, 17 Dec 2019 22:00:44 GMT",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "http://gaprastg71.file.core.windows.net/leaseapitestbreakbloblease58804764002b426c34d/leaseapitestbreakbloblease287705c787c8d3b044d",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-17T22:00:44.5426104Z",
      "x-ms-lease-state" : "broken",
      "Last-Modified" : "Tue, 17 Dec 2019 22:00:44 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "0x8D7833C90B759B8",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-17T22:00:44.5426104Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-17T22:00:44.5426104Z",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  } ],
  "variables" : [ "leaseapitestbreakbloblease58804764002b426c34d", "leaseapitestbreakbloblease287705c787c8d3b044d", "0528f648-e0f8-4277-aaf0-7a02c259ee2b" ]
}