{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/getsharesnapshoturlshareapitestsgetsharesnapshoturl98b45921?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77850671B69C9",
      "Last-Modified" : "Wed, 04 Dec 2019 00:25:01 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/getsharesnapshoturlshareapitestsgetsharesnapshoturl98b45921?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-12-04T00:25:01.0000000Z",
      "ETag" : "0x8D77850671B69C9",
      "Last-Modified" : "Wed, 04 Dec 2019 00:25:01 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "getsharesnapshoturlshareapitestsgetsharesnapshoturl98b45921" ]
}