{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/shareasyncapitestsdeletefileleasefail7614697e911f0f?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7833E721B3E96",
      "Last-Modified" : "Tue, 17 Dec 2019 22:14:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/shareasyncapitestsdeletefileleasefail7614697e911f0f/testCreateFile",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-17T22:14:12.3942251Z",
      "Last-Modified" : "Tue, 17 Dec 2019 22:14:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7833E723BB96B",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-17T22:14:12.3942251Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-17T22:14:12.3942251Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/shareasyncapitestsdeletefileleasefail7614697e911f0f/testCreateFile?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7833E723BB96B",
      "x-ms-lease-id" : "5689efed-7813-4e61-bc5d-02cb364e905e",
      "Last-Modified" : "Tue, 17 Dec 2019 22:14:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://gaprastg71.file.core.windows.net/shareasyncapitestsdeletefileleasefail7614697e911f0f/testCreateFile",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "LeaseIdMismatchWithFileOperation",
      "retry-after" : "0",
      "StatusCode" : "412",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>LeaseIdMismatchWithFileOperation</Code><Message>The lease ID specified did not match the lease ID for the file.\nRequestId:3d16c015-a01a-000f-6427-b5e457000000\nTime:2019-12-17T22:14:12.6403610Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareasyncapitestsdeletefileleasefail7614697e911f0f", "dd795200-6a68-4863-b598-8e4460e79414" ]
}