{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/shareapitestsexistsshareapitestsexistsdb8302586e97016?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7BA2CB9D97EC3",
      "Last-Modified" : "Tue, 25 Feb 2020 19:55:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.file.core.windows.net/shareapitestsexistsshareapitestsexistsdb8302586e97016?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "Last-Modified" : "Tue, 25 Feb 2020 19:55:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "x-ms-share-quota" : "5120",
      "ETag" : "0x8D7BA2CB9D97EC3",
      "x-ms-has-immutability-policy" : "false"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareapitestsexistsshareapitestsexistsdb8302586e97016" ]
}