{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createsnapshotshareapitestscreatesnapshot3a65293492d47?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77F251AD33851",
      "Last-Modified" : "Thu, 12 Dec 2019 17:02:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createsnapshotshareapitestscreatesnapshot3a65293492d47?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-12-12T17:02:43.0000000Z",
      "ETag" : "0x8D77F251AD33851",
      "Last-Modified" : "Thu, 12 Dec 2019 17:02:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net?prefix=createsnapshot&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\"><Prefix>createsnapshot</Prefix><Shares><Share><Name>createsnapshotshareapitestscreatesnapshot3a65293492d47</Name><Properties><Last-Modified>Thu, 12 Dec 2019 17:02:43 GMT</Last-Modified><Etag>\"0x8D77F251AD33851\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createsnapshotshareapitestscreatesnapshot3a65293492d47?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "createsnapshotshareapitestscreatesnapshot3a65293492d47", "createsnapshotshareapitestscreatesnapshot3a6319154c2d1" ]
}