{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createpermissionshareasyncapitestscreatepermissiondbd06014a?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D778506D575832",
      "Last-Modified" : "Wed, 04 Dec 2019 00:25:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createpermissionshareasyncapitestscreatepermissiondbd06014a?restype=share&comp=filepermission",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1226745640258142193*13168958551941065216",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "createpermissionshareasyncapitestscreatepermissiondbd06014a" ]
}