{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/jtsshareserviceversionpolicyteststartcopywithargs3078397dca?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7952DA1035F4E",
      "Last-Modified" : "Thu, 09 Jan 2020 17:59:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/jtsshareserviceversionpolicyteststartcopywithargs3078397dca/javapathshareserviceversionpolicyteststartcopywithargs31098814",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2020-01-09T17:59:10.4695006Z",
      "Last-Modified" : "Thu, 09 Jan 2020 17:59:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7952DA1138EDE",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2020-01-09T17:59:10.4695006Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2020-01-09T17:59:10.4695006Z"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/jtsshareserviceversionpolicyteststartcopywithargs3078397dca?restype=share&comp=filepermission",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15361494707574448414*8280205063999649007",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtsshareserviceversionpolicyteststartcopywithargs3078397dca", "javapathshareserviceversionpolicyteststartcopywithargs31098814", "2020-01-09T17:59:10.584879100Z", "2020-01-09T17:59:10.584879100Z" ]
}