{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createsnapshotmetadata44255eb62d2d096d34ab1?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D778506B1E8ECC",
      "Last-Modified" : "Wed, 04 Dec 2019 00:25:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createsnapshotmetadata44255eb62d2d096d34ab1?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-12-04T00:25:08.0000000Z",
      "ETag" : "0x8D778506AC18A00",
      "Last-Modified" : "Wed, 04 Dec 2019 00:25:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "createsnapshotmetadata44255eb62d2d096d34ab1", "createsnapshotmetadata69336a85356957aed493b" ]
}