{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareasyncapitestsgetproperties052541b54005247e8?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7519F92025C5B",
      "Last-Modified" : "Tue, 15 Oct 2019 18:43:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareasyncapitestsgetproperties052541b54005247e8?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "Last-Modified" : "Tue, 15 Oct 2019 18:43:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "x-ms-share-quota" : "1",
      "ETag" : "0x8D7519F92025C5B",
      "x-ms-has-immutability-policy" : "false",
      "x-ms-meta-testmetadata" : "value"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareasyncapitestsgetproperties052541b54005247e8" ]
}