{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/shareasyncapitestscreatedirectory09754c50f6010246?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77912052B480C",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/shareasyncapitestscreatedirectory09754c50f6010246/testCreateDirectory?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-file-permission-key" : "1887593946193683302*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T23:31:00.0247326Z",
      "Last-Modified" : "Wed, 04 Dec 2019 23:31:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D779120539981E",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-12-04T23:31:00.0247326Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T23:31:00.0247326Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareasyncapitestscreatedirectory09754c50f6010246" ]
}