{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/shareasyncapitestssetquota00973a0140a79582940?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7791204A91FD4",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareasyncapitestssetquota00973a0140a79582940" ]
}