{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.file.core.windows.net/shareapitestsgetproperties0671514f21621d9cb4a?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77911FBE900F5",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:44 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.file.core.windows.net/shareapitestsgetproperties0671514f21621d9cb4a?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "Last-Modified" : "Wed, 04 Dec 2019 23:30:44 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "x-ms-share-quota" : "1",
      "ETag" : "0x8D77911FBE900F5",
      "x-ms-has-immutability-policy" : "false",
      "x-ms-meta-testmetadata" : "value"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareapitestsgetproperties0671514f21621d9cb4a" ]
}