{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createfilemaxoverload1400996efe4140f5641c1b?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D778506958C7EC",
      "Last-Modified" : "Wed, 04 Dec 2019 00:25:05 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/createfilemaxoverload1400996efe4140f5641c1b/testCreateFile",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "6119292009901620917*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-12-04T00:25:05.6590901Z",
      "Last-Modified" : "Wed, 04 Dec 2019 00:25:05 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D77850695C5835",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2019-12-04T00:25:05.6590901Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-12-04T00:25:05.6590901Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "createfilemaxoverload1400996efe4140f5641c1b", "2019-12-04T00:25:05.659090100Z", "2019-12-04T00:25:05.659090100Z" ]
}