{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/shareapitestscreatefileinrootdirectory0432183cec74f?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A36E16B4FD84",
      "Last-Modified" : "Mon, 27 Jan 2020 21:15:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gaprastg71.file.core.windows.net/shareapitestscreatefileinrootdirectory0432183cec74f/testCreateFile",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "15729343842853002337*8280205063999649007",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2020-01-27T21:15:52.0821414Z",
      "Last-Modified" : "Mon, 27 Jan 2020 21:15:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7A36E16D23CA6",
      "x-ms-file-attributes" : "Archive",
      "x-ms-file-change-time" : "2020-01-27T21:15:52.0821414Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2020-01-27T21:15:52.0821414Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareapitestscreatefileinrootdirectory0432183cec74f" ]
}