{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/setquotashareapitestssetquota2aa412648e50cecea2c?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77850681AF084",
      "Last-Modified" : "Wed, 04 Dec 2019 00:25:03 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/setquotashareapitestssetquota2aa412648e50cecea2c?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "Last-Modified" : "Wed, 04 Dec 2019 00:25:03 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "x-ms-share-quota" : "1",
      "ETag" : "0x8D77850681AF084",
      "x-ms-has-immutability-policy" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/setquotashareapitestssetquota2aa412648e50cecea2c?restype=share&comp=properties",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D778506825D6F6",
      "Last-Modified" : "Wed, 04 Dec 2019 00:25:03 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/setquotashareapitestssetquota2aa412648e50cecea2c?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "Last-Modified" : "Wed, 04 Dec 2019 00:25:03 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "x-ms-share-quota" : "2",
      "ETag" : "0x8D778506825D6F6",
      "x-ms-has-immutability-policy" : "false"
    },
    "Exception" : null
  } ],
  "variables" : [ "setquotashareapitestssetquota2aa412648e50cecea2c" ]
}