{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareapitestscreatedirectoryfilepermissionkey19832b3ff7?restype=share",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7519F8E1F9D11",
      "Last-Modified" : "Tue, 15 Oct 2019 18:43:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareapitestscreatedirectoryfilepermissionkey19832b3ff7?restype=share&comp=filepermission",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "1226745640258142193*13168958551941065216",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/shareapitestscreatedirectoryfilepermissionkey19832b3ff7/testCreateDirectory?restype=directory",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-file-permission-key" : "6119292009901620917*13168958551941065216",
      "x-ms-file-id" : "13835128424026341376",
      "x-ms-file-creation-time" : "2019-10-15T18:43:22.3021870Z",
      "Last-Modified" : "Tue, 15 Oct 2019 18:43:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7519F8E2A9D2E",
      "x-ms-file-attributes" : "Directory",
      "x-ms-file-change-time" : "2019-10-15T18:43:22.3021870Z",
      "x-ms-file-parent-id" : "0",
      "x-ms-file-last-write-time" : "2019-10-15T18:43:22.3021870Z"
    },
    "Exception" : null
  } ],
  "variables" : [ "shareapitestscreatedirectoryfilepermissionkey19832b3ff7", "2019-10-15T18:43:22.302187Z", "2019-10-15T18:43:22.302187Z" ]
}