{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc952252108bab19e29?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F30267156E\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:41:11 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc952252108bab19e29/javablob51882553d99ad0",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F30270E2FE\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:41:11 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc952252108bab19e29?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F302794C01\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:41:11 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200"
    },
    "Errors" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc952252108bab19e29/javablob3040834d8daade?comp=appendblock",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-blob-committed-block-count" : "1",
      "Last-Modified" : "Sun, 02 Jun 2019 00:41:11 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D6E6F3028A64C0\"",
      "x-ms-blob-append-offset" : "0"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc952252108bab19e29/javablob51882553d99ad0?comp=appendblock",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ConditionNotMet",
      "retry-after" : "0",
      "body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\nRequestId:7a820a5c-a01e-00b3-71db-18caf1000000\nTime:2019-06-02T00:41:11.3978040Z</Message></Error>",
      "StatusCode" : "412",
      "Content-Type" : "application/xml"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc952252108bab19e29", "javablob51882553d99ad0", "javablob3040834d8daade" ]
}