{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc76015452b?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E46634E3D4C9\"",
      "Last-Modified" : "Wed, 29 May 2019 18:48:14 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc76015452b/javablob573126",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E46634EAA5FB\"",
      "Last-Modified" : "Wed, 29 May 2019 18:48:14 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Errors" : null
[...]
  }, {
    "Method" : "HEAD",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc76015452b/javablob573126",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "x-ms-blob-committed-block-count" : "0",
      "Last-Modified" : "Wed, 29 May 2019 18:48:14 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200",
      "x-ms-blob-type" : "AppendBlob",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "\"0x8D6E46634F381C3\"",
      "x-ms-creation-time" : "Wed, 29 May 2019 18:48:14 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc76015452b", "javablob573126" ]
}