{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc15108d8a1afbda905?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE4F526F55A\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:10:40 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc15108d8a1afbda905/javablob61667ba6914844",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE4F52C7F6C\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:10:40 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc15108d8a1afbda905/javablob141870bd6e5933",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-copy-id" : "1cddd6ee-d981-4a3b-8d13-1063cd32c34c",
      "ETag" : "\"0x8D6EAE4F53497B0\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:10:40 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "success",
      "body" : "",
      "StatusCode" : "202"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc15108d8a1afbda905", "javablob61667ba6914844", "javablob141870bd6e5933" ]
}