{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc61332f8b072fdbac8?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F34C8DCD36\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:43:15 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc61332f8b072fdbac8/javablob24260d701b6d39",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F34C946F7D\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:43:15 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc61332f8b072fdbac8", "javablob24260d701b6d39" ]
}