{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc11706a07d?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E47112561C4B\"",
      "Last-Modified" : "Wed, 29 May 2019 20:06:00 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc11706a07d/javablob61933d",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E471125C907D\"",
      "Last-Modified" : "Wed, 29 May 2019 20:06:00 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkpremium.blob.core.windows.net/jtc741697953?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E4711261C86D\"",
      "Last-Modified" : "Wed, 29 May 2019 20:06:01 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkpremium.blob.core.windows.net/jtc741697953/javablob36962f",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E47112674AFC\"",
      "Last-Modified" : "Wed, 29 May 2019 20:06:01 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkpremium.blob.core.windows.net/jtc741697953/javablob36962f?comp=tier",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200"
    },
    "Errors" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "http://azstoragesdkpremium.blob.core.windows.net/jtc741697953/javablob36962f",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-state" : "available",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Wed, 29 May 2019 20:06:01 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier" : "P30",
      "ETag" : "\"0x8D6E47112674AFC\"",
      "x-ms-creation-time" : "Wed, 29 May 2019 20:06:01 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkpremium.blob.core.windows.net/jtc741697953?include=&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<EnumerationResults ServiceEndpoint=\"http://azstoragesdkpremium.blob.core.windows.net/\" ContainerName=\"jtc741697953\"><Blobs><Blob><Name>javablob36962f</Name><Properties><Creation-Time>Wed, 29 May 2019 20:06:01 GMT</Creation-Time><Last-Modified>Wed, 29 May 2019 20:06:01 GMT</Last-Modified><Etag>0x8D6E47112674AFC</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding/><Content-Language/><Content-MD5/><Cache-Control/><Content-Disposition/><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><AccessTier>P30</AccessTier><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker/></EnumerationResults>",
      "StatusCode" : "200",
      "Content-Type" : "application/xml"
    },
    "Errors" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://azstoragesdkpremium.blob.core.windows.net/jtc741697953?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "202"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc11706a07d", "javablob61933d", "jtc741697953", "javablob36962f" ]
}