{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc11940b879e7ba4485?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F3450D2765\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:43:02 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc11940b879e7ba4485/javablob6898450d5cc4a5",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F34513C9AD\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:43:02 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc11940b879e7ba4485?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F3451A223E\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:43:03 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200"
    },
    "Errors" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc11940b879e7ba4485/javablob09517de609b15e",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-copy-id" : "bf2fe725-4622-42fa-bf39-b80f3223edc2",
      "Last-Modified" : "Sun, 02 Jun 2019 00:43:03 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "202",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D6E6F3452D3A74\"",
      "x-ms-copy-status" : "success"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc11940b879e7ba4485", "javablob6898450d5cc4a5", "javablob09517de609b15e" ]
}