{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc40865ec35?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E470E3A26FF9\"",
      "Last-Modified" : "Wed, 29 May 2019 20:04:42 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc40865ec35/javablob65981e",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E470E3A8F7A8\"",
      "Last-Modified" : "Wed, 29 May 2019 20:04:42 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc40865ec35/javablob65981e?comp=lease",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E470E3A8F7A8\"",
      "x-ms-lease-id" : "64f9a494-9145-4421-8200-31c5bceaf6b3",
      "Last-Modified" : "Wed, 29 May 2019 20:04:42 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc40865ec35/javablob65981e?comp=properties",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E470E3B41DED\"",
      "Last-Modified" : "Wed, 29 May 2019 20:04:42 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc40865ec35", "javablob65981e" ]
}