{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcblobapitestsnapshot0ef83219a?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE4F2D6CFBA\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:10:36 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcblobapitestsnapshot0ef83219a/javablob527138c2bcc63c",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE4F2DD3E3E\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:10:36 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcblobapitestsnapshot0ef83219a/javablob527138c2bcc63c?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-snapshot" : "2019-06-07T01:10:36.7862934Z",
      "ETag" : "\"0x8D6EAE4F2DD3E3E\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:10:36 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Errors" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcblobapitestsnapshot0ef83219a/javablob527138c2bcc63c?snapshot=2019-06-07T01:10:36.7862934Z",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-tag-count" : "0",
      "Last-Modified" : "Fri, 07 Jun 2019 01:10:36 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-snapshot" : "2019-06-07T01:10:36.7862934Z",
      "x-ms-access-tier" : "Hot",
      "ETag" : "\"0x8D6EAE4F2DD3E3E\"",
      "x-ms-creation-time" : "Fri, 07 Jun 2019 01:10:36 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcblobapitestsnapshot0ef83219a", "javablob527138c2bcc63c" ]
}