{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc768831743c9cd2714?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F3074E917E\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:41:19 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc768831743c9cd2714/javablob82649606308767",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F30755C7D9\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:41:19 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc768831743c9cd2714/javablob82649606308767",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Sun, 02 Jun 2019 00:41:19 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "\"0x8D6E6F30755C7D9\"",
      "x-ms-creation-time" : "Sun, 02 Jun 2019 00:41:19 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc768831743c9cd2714/javablob82649606308767",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Sun, 02 Jun 2019 00:41:19 GMT",
      "retry-after" : "0",
      "body" : "default",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D6E6F30755C7D9\"",
      "x-ms-creation-time" : "Sun, 02 Jun 2019 00:41:19 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc768831743c9cd2714", "javablob82649606308767" ]
}