{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc4575656e997dceee7?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F318FA971A\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:41:49 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc4575656e997dceee7/javablob29292d11e13a61",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F3190184FC\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:41:49 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc4575656e997dceee7/javablob29292d11e13a61?comp=lease",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F3190184FC\"",
      "x-ms-lease-id" : "c93322d0-ed4c-4487-b857-02ed59ab814c",
      "Last-Modified" : "Sun, 02 Jun 2019 00:41:49 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc4575656e997dceee7/javablob29292d11e13a61?comp=lease",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F3190184FC\"",
      "x-ms-lease-id" : "c93322d0-ed4c-4487-b857-02ed59ab814c",
      "Last-Modified" : "Sun, 02 Jun 2019 00:41:49 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc4575656e997dceee7", "javablob29292d11e13a61" ]
}