{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcclearpagesac25b752181dc3?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE5C659EFC2\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:31 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcclearpagesac25b752181dc3/javablobclearpagesac44123549ee",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE5C661294A\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:31 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcclearpagesac25b752181dc3/javablobclearpagesac44123549ee?comp=page",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:31 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "kHwQXwCEHCWWHeyaczpqfw==",
      "ETag" : "\"0x8D6EAE5C666CFF5\""
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcclearpagesac25b752181dc3/javablobclearpagesac44123549ee?comp=page",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE5C66B3DD9\"",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:31 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcclearpagesac25b752181dc3", "javablobclearpagesac44123549ee" ]
}