{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc054907c8d229c9d29?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F3997C4653\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:45:24 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc054907c8d229c9d29?comp=lease&restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F3997C4653\"",
      "x-ms-lease-id" : "8488d71e-4c32-4959-90c5-1e8b4225d37d",
      "Last-Modified" : "Sun, 02 Jun 2019 00:45:24 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc054907c8d229c9d29?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "locked",
      "x-ms-lease-state" : "leased",
      "Last-Modified" : "Sun, 02 Jun 2019 00:45:24 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "ETag" : "\"0x8D6E6F3997C4653\"",
      "x-ms-has-immutability-policy" : "false",
      "x-ms-lease-duration" : "infinite"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc054907c8d229c9d29" ]
}