{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc494609413839eb418?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE5A17EFBB3\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:15:29 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc494609413839eb418?comp=lease&restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE5A17EFBB3\"",
      "x-ms-lease-id" : "7be7c2e7-b0b0-4643-bf69-1c749e5a6953",
      "Last-Modified" : "Fri, 07 Jun 2019 01:15:29 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc494609413839eb418?comp=lease&restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE5A17EFBB3\"",
      "x-ms-lease-time" : "0",
      "Last-Modified" : "Fri, 07 Jun 2019 01:15:29 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "202"
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc494609413839eb418?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "broken",
      "Last-Modified" : "Fri, 07 Jun 2019 01:15:29 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "ETag" : "\"0x8D6EAE5A17EFBB3\"",
      "x-ms-has-immutability-policy" : "false"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc494609413839eb418" ]
}