{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc080077811?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E471ADF688EB\"",
      "Last-Modified" : "Wed, 29 May 2019 20:10:22 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc080077811?comp=lease&restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E471ADF688EB\"",
      "x-ms-lease-id" : "230ac660-fa9b-48b6-a5d6-b11f63bfa36e",
      "Last-Modified" : "Wed, 29 May 2019 20:10:22 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc080077811?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "locked",
      "x-ms-lease-state" : "leased",
      "Last-Modified" : "Wed, 29 May 2019 20:10:22 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "ETag" : "\"0x8D6E471ADF688EB\"",
      "x-ms-has-immutability-policy" : "false",
      "x-ms-lease-duration" : "infinite"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc080077811" ]
}