{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc01840c880?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E471AE4706B8\"",
      "Last-Modified" : "Wed, 29 May 2019 20:10:22 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc01840c880?comp=lease&restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ConditionNotMet",
      "retry-after" : "0",
      "body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\nRequestId:9be3f16a-d01e-0130-685a-162c09000000\nTime:2019-05-29T20:10:22.6201972Z</Message></Error>",
      "StatusCode" : "412",
      "Content-Type" : "application/xml"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc01840c880" ]
}