{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileoptionsf87333148?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6C6F8C2279B\"",
      "Last-Modified" : "Sat, 01 Jun 2019 19:25:57 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileoptionsf87333148/javablob192709c7229b7b",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6C6F8D07944\"",
      "Last-Modified" : "Sat, 01 Jun 2019 19:25:57 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "9V9fF4CUCAI39wqspoQjZA=="
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileoptionsf87333148/javablob192709c7229b7b",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "Content-Range" : "bytes 0-6/7",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "9V9fF4CUCAI39wqspoQjZA==",
      "Last-Modified" : "Sat, 01 Jun 2019 19:25:57 GMT",
      "retry-after" : "0",
      "body" : "=4\u001D%\u00110\u001B",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D6E6C6F8D07944\"",
      "x-ms-creation-time" : "Sat, 01 Jun 2019 19:25:57 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcdownloadfileoptionsf87333148", "javablob192709c7229b7b", "445e141e6bc54da4b56ef2cf3e112bed", "=4\u001D%\u00110\u001B", "d4f3f032160d4a67a365002309bb8e1b", "" ]
}