{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfilerangec1625061e6?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE6254095DE\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:10 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfilerangec1625061e6/javablob442220952f1aa7",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE625484697\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:10 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "q8pJOgYkknPMktpX1e9rYA=="
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfilerangec1625061e6/javablob442220952f1aa7",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "Content-Range" : "bytes 0-5/7",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "q8pJOgYkknPMktpX1e9rYA==",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:10 GMT",
      "retry-after" : "0",
      "body" : "\u00146\"\u001B3,",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D6EAE625484697\"",
      "x-ms-creation-time" : "Fri, 07 Jun 2019 01:19:10 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcdownloadfilerangec1625061e6", "javablob442220952f1aa7", "ZGFmMjdiYzEtMmQwMi00NDBmLWFjM2UtNDRjY2YxNTA3MDE0", "FDYiGzMsAQ==", "MTY5ZTE1YTAtOTNjZS00MGI3LWJkMGQtMTIyZjkyMzEwMGM5", "" ]
}