{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfilerange1c91398122?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE62556E25E\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:10 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfilerange1c91398122/javablob35270bf4a7178c",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE6255E9337\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:10 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "CKCx5RjxCam9BVigg7EmFw=="
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfilerange1c91398122/javablob35270bf4a7178c",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "Content-Range" : "bytes 0-6/7",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "CKCx5RjxCam9BVigg7EmFw==",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:10 GMT",
      "retry-after" : "0",
      "body" : "+\u000E\"\f&1\b",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D6EAE6255E9337\"",
      "x-ms-creation-time" : "Fri, 07 Jun 2019 01:19:10 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcdownloadfilerange1c91398122", "javablob35270bf4a7178c", "ZDlkYjYyNmMtOGI4YS00Njg2LWIyZDgtZDFjOWNhNjI1NDk0", "Kw4iDCYxCA==", "ZWE1MDQxY2YtOTA1Yy00MGJiLWI2ODMtOGYwNDNkNjFhY2Qz", "" ]
}