{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileaccd486085db4?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF3F125B4B\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:25 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileaccd486085db4/javablobdownloadfileacdbc95702b",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF3F1A5631\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:25 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "uRQ21OiVfkpVRI3gXfSwyw=="
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileaccd486085db4/javablobdownloadfileacdbc95702b",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "Content-Range" : "bytes 0-6/7",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "uRQ21OiVfkpVRI3gXfSwyw==",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:25 GMT",
      "retry-after" : "0",
      "body" : "\r)3#&\u0006\u0002",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D6EDFF3F1A5631\"",
      "x-ms-creation-time" : "Mon, 10 Jun 2019 23:56:25 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcdownloadfileaccd486085db4", "javablobdownloadfileacdbc95702b", "MTRmMWUxODgtNGFhNy00YjA0LTg5ZGItYjJlODFlNGE5Mzli", "DSkzIyYGAg==", "MjA4NTQyMjEtOTM1OS00MDBmLWFlZjctMmI5Y2UxNDg0NjMz", "" ]
}