{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileianullbd685146a?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF416FDAB3\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:28 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcdownloadfileianullbd685146a", "javablob25844a37fd43db", "ZWRjNTYyMjEtOWRlNy00M2Q3LWJlZjItYmI0NDc3MzlkZDU4", "OjkRLBsRGS4qGg==" ]
}