{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileac00f5765154f?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF3EE80CA3\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:24 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileac00f5765154f/javablobdownloadfileacbce598443",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF3EF007C3\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:24 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "EuA4qARjW+2skXhhoG7jaQ=="
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileac00f5765154f/javablobdownloadfileacbce598443",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "Content-Range" : "bytes 0-6/7",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "EuA4qARjW+2skXhhoG7jaQ==",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:24 GMT",
      "retry-after" : "0",
      "body" : "\u0004>@\u000E'\u0002@",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D6EDFF3EF007C3\"",
      "x-ms-creation-time" : "Mon, 10 Jun 2019 23:56:24 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcdownloadfileac00f5765154f", "javablobdownloadfileacbce598443", "Y2Q1YTFhYWEtOGIyOS00M2U4LWExYjgtMzc3NzQxMTQ0N2Zj", "BD5ADicCQA==", "Yjg4MmRlNTMtNWVmMS00Nzk2LTk3ZmMtOWE5NTFlZTNmZDYz", "" ]
}