{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfilerangefc2249732f?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F478BA6CDB\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:51:39 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfilerangefc2249732f/javablob01310d971e4f4f",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F478C4856D\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:51:39 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "gzR/TQSZQoZ9RvMDHLJmlA=="
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfilerangefc2249732f/javablob01310d971e4f4f",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "Content-Range" : "bytes 0-6/7",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "gzR/TQSZQoZ9RvMDHLJmlA==",
      "Last-Modified" : "Sun, 02 Jun 2019 00:51:39 GMT",
      "retry-after" : "0",
      "body" : "7\u0011<.\b\u001B>",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D6E6F478C4856D\"",
      "x-ms-creation-time" : "Sun, 02 Jun 2019 00:51:39 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcdownloadfilerangefc2249732f", "javablob01310d971e4f4f", "1fb808b1d6ef4314a3f33426792e2e98", "NxE8LggbPg==", "3818f433265c4184ba844b01ba327493", "" ]
}