{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileac43978590f26?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F47A1682BF\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:51:41 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileac43978590f26/javablobdownloadfileac347628805",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F47A25CB24\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:51:41 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "9sRJ+R86Iv6BB9mQC6/bEw=="
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileac43978590f26/javablobdownloadfileac347628805",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "Content-Range" : "bytes 0-6/7",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "9sRJ+R86Iv6BB9mQC6/bEw==",
      "Last-Modified" : "Sun, 02 Jun 2019 00:51:41 GMT",
      "retry-after" : "0",
      "body" : "6<\r\u0013\u0003\u0015\u000B",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D6E6F47A25CB24\"",
      "x-ms-creation-time" : "Sun, 02 Jun 2019 00:51:41 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcdownloadfileac43978590f26", "javablobdownloadfileac347628805", "ee964a70f11a4462915ee63e78d798f4", "NjwNEwMVCw==", "e480552a473d441d97c8d6dc509ad8e1", "" ]
}