{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc98598dda2b1a30bfe?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F47E28FE02\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:51:48 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc98598dda2b1a30bfe/javablob71791ec207b420",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F47E329598\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:51:48 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "4lNvQyxWPttEm/GSOSm3rQ=="
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc98598dda2b1a30bfe/javablob71791ec207b420",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "Content-Range" : "bytes 0-99/100",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "4lNvQyxWPttEm/GSOSm3rQ==",
      "Last-Modified" : "Sun, 02 Jun 2019 00:51:48 GMT",
      "retry-after" : "0",
      "body" : ".*\u0007\u001A\u001E\u001D\u001C\u000E$?5\u00043\u001D\u000F\u0003\u000F8.8\u000B31\t9\u0016(*> 9.\f,)2@\u001C5(\u0012)2?\u0017\u0018#\b\u001E3\u001B\u001C;4+\b\u000E\u00068\u0003;\u0017;6\u0006.\u001C\u00142\u0007\t>\u0018\u001C\n\u0017#0\u0018*?\u000299\u0014,1\u001C9@\u0018\u0016\r\u000E\u00052\t\r\u0015\f",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D6E6F47E329598\"",
      "x-ms-creation-time" : "Sun, 02 Jun 2019 00:51:48 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc98598dda2b1a30bfe", "javablob71791ec207b420", "165e1cbf8e2b4ff1ab4c7dd143048dc5", "LioHGh4dHA4kPzUEMx0PAw84LjgLMzEJORYoKj4gOS4MLCkyQBw1KBIpMj8XGCMIHjMbHDs0KwgOBjgDOxc7NgYuHBQyBwk+GBwKFyMwGCo/Ajk5FCwxHDlAGBYNDgUyCQ0VDA==", "e173e868363e48a185eff8a15e1d5ec6", "" ]
}