{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc261694875d4641a04?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE6296527E2\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:17 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc261694875d4641a04", "javablob376228869885c8", "ODg3NjJhY2ItZGE4My00YTkyLTgzY2ItYmNjNmY2YmE0MWEw", "" ]
}