{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc25983e4bea048e1f6?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF41486D9C\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:28 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc25983e4bea048e1f6/javablob738393395aa2a6",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF41505BFC\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:28 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "8aqwvdTLTsp3Pt+pFp/zyA=="
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc25983e4bea048e1f6/javablob738393395aa2a6",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "Content-Range" : "bytes 0-99/100",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "8aqwvdTLTsp3Pt+pFp/zyA==",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:28 GMT",
      "retry-after" : "0",
      "body" : "?\u0006\u00067\u0004-\t\u0018\"\t\u0002#@\u001C*<\r\u0019-\u0005\u0003\u0011\f\u0015$\u001C@ \r\u0014 \u001D\u0013\u0014\u000B\u0017\f-94\f\b/\u0013\u00023\u0004$* .6'\u0018;\u0001\u0003?#1\b\u000F9\u001D8!(\u0003$ \t>\u0011\u001F\u000E6(\u0004\u0007\u00124\u0011\u000F\u000B\u001F\u0013(\u00015\u001F\u000B\u00073\u00117\u0004\u0015;\u000B\u001F",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D6EDFF41505BFC\"",
      "x-ms-creation-time" : "Mon, 10 Jun 2019 23:56:28 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc25983e4bea048e1f6", "javablob738393395aa2a6", "NDkwNzY0NGQtYzBkMC00MTNlLWI5ZjMtMjU5NGI5NjJmOWU5", "PwYGNwQtCRgiCQIjQBwqPA0ZLQUDEQwVJBxAIA0UIB0TFAsXDC05NAwILxMCMwQkKiAuNicYOwEDPyMxCA85HTghKAMkIAk+ER8ONigEBxI0EQ8LHxMoATUfCwczETcEFTsLHw==", "ZmZjMTQ4NzQtZDk5ZS00NGRiLWIwMDctZWNkMGFhZTQyMWVk", "" ]
}