{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileemptyef43778911?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF3DDA5222\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:22 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileemptyef43778911/javablob43852da92bd3af",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF3DE13CF8\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:23 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "1B2M2Y8AsgTpgAmY7PhCfg=="
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileemptyef43778911/javablob43852da92bd3af",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "Content-Range" : "bytes */0",
      "x-ms-error-code" : "InvalidRange",
      "retry-after" : "0",
      "body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidRange</Code><Message>The range specified is invalid for the current size of the resource.\nRequestId:47b167ab-e01e-0073-44e8-1f40b5000000\nTime:2019-06-10T23:56:23.0756351Z</Message></Error>",
      "StatusCode" : "416",
      "Content-Type" : "application/xml"
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileemptyef43778911/javablob43852da92bd3af",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:23 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "1B2M2Y8AsgTpgAmY7PhCfg==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D6EDFF3DE13CF8\"",
      "x-ms-creation-time" : "Mon, 10 Jun 2019 23:56:23 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcdownloadfileemptyef43778911", "javablob43852da92bd3af", "NWI0OGVkMDktNDRjMi00MWIzLTgzYWQtM2JjN2NjZjZmZGEw", "", "M2RjNzM1MTEtMDI4ZC00ZWE4LTk5ZmEtODRhYmM5ZjUzYzcy", "" ]
}