{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfilesmall5dd9609139?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF3DF8DE23\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:23 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfilesmall5dd9609139/javablob9517388e377514",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF3E02889B\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:23 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "D6FFzdEeYbo9227rhW6z+A=="
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfilesmall5dd9609139/javablob9517388e377514",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "Content-Range" : "bytes 0-19/20",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "D6FFzdEeYbo9227rhW6z+A==",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:23 GMT",
      "retry-after" : "0",
      "body" : "?6\u00040\u000E\u001F\u000F\u001E1\u000E/&%\n3\u0013\u0010\u001A\u0006/",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D6EDFF3E02889B\"",
      "x-ms-creation-time" : "Mon, 10 Jun 2019 23:56:23 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcdownloadfilesmall5dd9609139", "javablob9517388e377514", "ZTZjMDFkYzUtMGYyYi00MTNhLWE3NjYtYTEzOWRmMzQ1ZDdl", "PzYEMA4fDx4xDi8mJQozExAaBi8=", "OWI2NDY1ZTUtNzg1ZS00MjNmLWE4NjAtNjMxNTg0NzI2Yjg4", "" ]
}