{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc84391a7ae00dd271f?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE6280D5B1B\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:15 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc84391a7ae00dd271f/javablob33392bb570a52c",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE628154CFD\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:15 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "HCcJKrNeFgju1fsY1P6ODg=="
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc84391a7ae00dd271f/javablob33392bb570a52c",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "Content-Range" : "bytes 0-99/100",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "HCcJKrNeFgju1fsY1P6ODg==",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:15 GMT",
      "retry-after" : "0",
      "body" : "%\f#/'\f\n\u001B$/\u0013*\f \u00039\u001D\u0018\u000E'\u0013\f.\u0010*\u0017\u001B/\u0011*<1%\u000E#\u0002') 9,\u0005\u001E)+$.\u0018*\u001F4\f &(\u0013>\u0014\b--!\f#*\u000E\">06\u0017\u001B!\u000F\u001B\u001D\u0010\u0005\u0014>\u000E\u0007 \u0015\"\u001B\u000E9\u0015\u0013>\u001A\u000B#<@.!\u001C%",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D6EAE628154CFD\"",
      "x-ms-creation-time" : "Fri, 07 Jun 2019 01:19:15 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc84391a7ae00dd271f", "javablob33392bb570a52c", "M2U2ZDA2MTItNzJkOC00M2RhLTllMTAtNGQ4MDBjNWUxODQz", "JQwjLycMChskLxMqDCADOR0YDicTDC4QKhcbLxEqPDElDiMCJykgOSwFHikrJC4YKh80DCAmKBM+FAgtLSEMIyoOIj4wNhcbIQ8bHRAFFD4OByAVIhsOORUTPhoLIzxALiEcJQ==", "OTlkZWNjOTktMzNhYS00ZTA3LWE2NjEtNWE5OGMxYzA3OGYx", "" ]
}