{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileacd8e70046be1?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F47A5D3A43\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:51:41 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileacd8e70046be1/javablobdownloadfileac187268425",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F47A6C5B2F\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:51:41 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "GQYZdpodiik/upOZ96fOsQ=="
    },
    "Errors" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileacd8e70046be1/javablobdownloadfileac187268425",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Sun, 02 Jun 2019 00:51:41 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "GQYZdpodiik/upOZ96fOsQ==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "\"0x8D6E6F47A6C5B2F\"",
      "x-ms-creation-time" : "Sun, 02 Jun 2019 00:51:41 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileacd8e70046be1/javablobdownloadfileac187268425",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "Content-Range" : "bytes 0-6/7",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "GQYZdpodiik/upOZ96fOsQ==",
      "Last-Modified" : "Sun, 02 Jun 2019 00:51:41 GMT",
      "retry-after" : "0",
      "body" : "&80\u0003\u000E/-",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D6E6F47A6C5B2F\"",
      "x-ms-creation-time" : "Sun, 02 Jun 2019 00:51:41 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcdownloadfileacd8e70046be1", "javablobdownloadfileac187268425", "eeeb5de8f4974728bff25e7cdc3df92b", "JjgwAw4vLQ==", "17dc974f19bb42d8a2dd1e31168f1f3a", "" ]
}