{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileacb1e347594cd?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE62637DB95\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:12 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileacb1e347594cd/javablobdownloadfileac81f99044a",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE6263F3F2B\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:12 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "DPanNBr69CNg+h4BYfDvzQ=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileacb1e347594cd/javablobdownloadfileac81f99044a?comp=lease",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE6263F3F2B\"",
      "x-ms-lease-id" : "7b643c27-d769-4cb2-829a-bd3be899abd2",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:12 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfileacb1e347594cd/javablobdownloadfileac81f99044a",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "locked",
      "x-ms-tag-count" : "0",
      "Content-Range" : "bytes 0-6/7",
      "x-ms-lease-state" : "leased",
      "x-ms-blob-content-md5" : "DPanNBr69CNg+h4BYfDvzQ==",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:12 GMT",
      "retry-after" : "0",
      "body" : "'<%%\"3\n",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D6EAE6263F3F2B\"",
      "x-ms-creation-time" : "Fri, 07 Jun 2019 01:19:12 GMT",
      "x-ms-lease-duration" : "infinite",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcdownloadfileacb1e347594cd", "javablobdownloadfileac81f99044a", "M2ZmYjFiMTEtNmEwYS00M2Y3LTk3OGQtNjRmMWFmNzg1ZjQ1", "JzwlJSIzCg==", "M2FjYmRjZTctYzhjNC00YzRkLWIwMTAtYmQzMTk1YjQ1NDJj", "" ]
}