{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfilesmall1f91181847?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE624E9FC78\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:10 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfilesmall1f91181847/javablob044411f0c22e26",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE624F185DB\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:10 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "cLqIldZzIprLvqN2Lw1e3g=="
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfilesmall1f91181847/javablob044411f0c22e26",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "Content-Range" : "bytes 0-19/20",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "cLqIldZzIprLvqN2Lw1e3g==",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:10 GMT",
      "retry-after" : "0",
      "body" : "?\u0002.3\n\u0016\t4\u00065!\u001D0\u0001 \"2\u001D>\t",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D6EAE624F185DB\"",
      "x-ms-creation-time" : "Fri, 07 Jun 2019 01:19:10 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcdownloadfilesmall1f91181847", "javablob044411f0c22e26", "MTBjNzA5NmEtOWQwMS00MWRiLTgyMDEtY2E2NTg5NzhiNjlm", "PwIuMwoWCTQGNSEdMAEgIjIdPgk=", "N2FiYmVhZmYtMzI3Yy00Y2NlLWFjZTgtYzNlY2MzNWZjNjAw", "" ]
}