{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfilerangec188392840?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F478D43CD3\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:51:39 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfilerangec188392840/javablob70391b75e8c7dd",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F478DE5553\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:51:39 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "IbfSCPNkWiI0+rmxaPil/Q=="
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfilerangec188392840/javablob70391b75e8c7dd",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "Content-Range" : "bytes 1-6/7",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "IbfSCPNkWiI0+rmxaPil/Q==",
      "Last-Modified" : "Sun, 02 Jun 2019 00:51:39 GMT",
      "retry-after" : "0",
      "body" : "\u0004;\u001B-)\r",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D6E6F478DE5553\"",
      "x-ms-creation-time" : "Sun, 02 Jun 2019 00:51:39 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcdownloadfilerangec188392840", "javablob70391b75e8c7dd", "21e1dde764524ca78dcd40bea5eb1434", "IQQ7Gy0pDQ==", "399c16145dfa46e6b3dba9de89833333", "" ]
}