{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfilerangef9a64617d1?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE62514E76C\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:10 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfilerangef9a64617d1/javablob29777756d3340f",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE6251D82B0\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:10 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "gcVNNK4UXByKGBkZBxfn+w=="
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadfilerangef9a64617d1/javablob29777756d3340f",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "Content-Range" : "bytes 1-6/7",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "gcVNNK4UXByKGBkZBxfn+w==",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:10 GMT",
      "retry-after" : "0",
      "body" : "\n&=\u0005\u0010\t",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D6EAE6251D82B0\"",
      "x-ms-creation-time" : "Fri, 07 Jun 2019 01:19:10 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcdownloadfilerangef9a64617d1", "javablob29777756d3340f", "ZWY1NzIwM2EtNTgwMC00OGFhLWE0NDQtOTM3NTA4Y2RkNjM0", "GQomPQUQCQ==", "YjhhZTEwZWItOWZiZC00ZGY0LWE3MDUtYmQ1ODdkNzU4YjNm", "" ]
}