{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklist5c17711967d2?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE541BAC2C7\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:12:49 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklist5c17711967d2/javablobgetblocklistaa08748514",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE541C0F904\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:12:49 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklist5c17711967d2/javablobgetblocklistaa08748514?blockid=YWUwYmQyZTUtMGE0Yi00NTE0LWEyMGUtMjUxOWY0NjFjZWRj&comp=block",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklist5c17711967d2/javablobgetblocklistaa08748514?blockid=ZjFhMjc4ZDUtZjdjOS00MjJkLTk5N2ItOTA5MDlkZTYyMGI4&comp=block",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklist5c17711967d2/javablobgetblocklistaa08748514?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE541D3E968\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:12:49 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "i66gT10Ai3Rnqdv+u5BQcQ=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklist5c17711967d2/javablobgetblocklistaa08748514?blockid=NmUwOTA1NmQtY2EzNi00OTkyLWFhNzYtNGEyNTA5NTMyYjFm&comp=block",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklist5c17711967d2/javablobgetblocklistaa08748514?blockid=ODNmNjIxZTktMDFhYy00Mzk1LWEzODAtMjEzMDdhNDAxZTgw&comp=block",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklist5c17711967d2/javablobgetblocklistaa08748514?blocklisttype=all&comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-blob-content-length" : "14",
      "ETag" : "\"0x8D6EAE541D3E968\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:12:49 GMT",
      "retry-after" : "0",
      "body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks><Block><Name>YWUwYmQyZTUtMGE0Yi00NTE0LWEyMGUtMjUxOWY0NjFjZWRj</Name><Size>7</Size></Block><Block><Name>ZjFhMjc4ZDUtZjdjOS00MjJkLTk5N2ItOTA5MDlkZTYyMGI4</Name><Size>7</Size></Block></CommittedBlocks><UncommittedBlocks><Block><Name>NmUwOTA1NmQtY2EzNi00OTkyLWFhNzYtNGEyNTA5NTMyYjFm</Name><Size>7</Size></Block><Block><Name>ODNmNjIxZTktMDFhYy00Mzk1LWEzODAtMjEzMDdhNDAxZTgw</Name><Size>7</Size></Block></UncommittedBlocks></BlockList>",
      "StatusCode" : "200",
      "Content-Type" : "application/xml"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcgetblocklist5c17711967d2", "javablobgetblocklistaa08748514", "YWUwYmQyZTUtMGE0Yi00NTE0LWEyMGUtMjUxOWY0NjFjZWRj", "ZjFhMjc4ZDUtZjdjOS00MjJkLTk5N2ItOTA5MDlkZTYyMGI4", "NmUwOTA1NmQtY2EzNi00OTkyLWFhNzYtNGEyNTA5NTMyYjFm", "ODNmNjIxZTktMDFhYy00Mzk1LWEzODAtMjEzMDdhNDAxZTgw" ]
}