{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc15808cd25?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E466AB65250B\"",
      "Last-Modified" : "Wed, 29 May 2019 18:51:33 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc15808cd25/javablob88078f",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E466AB6BB5B3\"",
      "Last-Modified" : "Wed, 29 May 2019 18:51:33 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc15808cd25/javablob88078f?blockid=MWQyZGRkZTItOTNjMi00MmUyLTk0NTItYTA4MTU5OTdiOGRm&comp=block",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc15808cd25/javablob88078f?blockid=ODU3NWIwNTktOWI1My00ZTE0LTg1MzctOTJlZjQ4YTBjY2I4&comp=block",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc15808cd25/javablob88078f?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E466AB7CF7F4\"",
      "Last-Modified" : "Wed, 29 May 2019 18:51:33 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "rG7+4inTpA3WqPpSPfY6Zw=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc15808cd25/javablob88078f?blockid=NmRlZmJiZmItNWRhZS00YmVjLWFhMmYtZjVjNzU5MWUwMDkw&comp=block",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc15808cd25/javablob88078f?blockid=M2ZhZTM4NjYtNGNjNy00NjY0LTgxZTQtYjc2YjljZWM3Y2Q4&comp=block",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc15808cd25/javablob88078f?blocklisttype=all&comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-blob-content-length" : "14",
      "ETag" : "\"0x8D6E466AB7CF7F4\"",
      "Last-Modified" : "Wed, 29 May 2019 18:51:33 GMT",
      "retry-after" : "0",
      "body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks><Block><Name>MWQyZGRkZTItOTNjMi00MmUyLTk0NTItYTA4MTU5OTdiOGRm</Name><Size>7</Size></Block><Block><Name>ODU3NWIwNTktOWI1My00ZTE0LTg1MzctOTJlZjQ4YTBjY2I4</Name><Size>7</Size></Block></CommittedBlocks><UncommittedBlocks><Block><Name>M2ZhZTM4NjYtNGNjNy00NjY0LTgxZTQtYjc2YjljZWM3Y2Q4</Name><Size>7</Size></Block><Block><Name>NmRlZmJiZmItNWRhZS00YmVjLWFhMmYtZjVjNzU5MWUwMDkw</Name><Size>7</Size></Block></UncommittedBlocks></BlockList>",
      "StatusCode" : "200",
      "Content-Type" : "application/xml"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc15808cd25", "javablob88078f", "MWQyZGRkZTItOTNjMi00MmUyLTk0NTItYTA4MTU5OTdiOGRm", "ODU3NWIwNTktOWI1My00ZTE0LTg1MzctOTJlZjQ4YTBjY2I4", "NmRlZmJiZmItNWRhZS00YmVjLWFhMmYtZjVjNzU5MWUwMDkw", "M2ZhZTM4NjYtNGNjNy00NjY0LTgxZTQtYjc2YjljZWM3Y2Q4" ]
}