{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklisttypef97681321e?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE54203C418\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:12:49 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklisttypef97681321e/javablob00318d2d76a98e",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE5420A21E7\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:12:49 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklisttypef97681321e/javablob00318d2d76a98e?blockid=NjQyMWE5ODEtNDFmMC00ZWI1LWJjZDYtNzQyOGEyMTQzODBh&comp=block",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklisttypef97681321e/javablob00318d2d76a98e?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE54215BD76\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:12:49 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "T+/jruREdp6fGF+abCwldA=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklisttypef97681321e/javablob00318d2d76a98e?blockid=ODlhNDUxZjktY2QxYi00MDk1LTkwNTUtYWViMzc0NTkwMGE3&comp=block",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklisttypef97681321e/javablob00318d2d76a98e?blocklisttype=all&comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-blob-content-length" : "7",
      "ETag" : "\"0x8D6EAE54215BD76\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:12:49 GMT",
      "retry-after" : "0",
      "body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks><Block><Name>NjQyMWE5ODEtNDFmMC00ZWI1LWJjZDYtNzQyOGEyMTQzODBh</Name><Size>7</Size></Block></CommittedBlocks><UncommittedBlocks><Block><Name>ODlhNDUxZjktY2QxYi00MDk1LTkwNTUtYWViMzc0NTkwMGE3</Name><Size>7</Size></Block></UncommittedBlocks></BlockList>",
      "StatusCode" : "200",
      "Content-Type" : "application/xml"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcgetblocklisttypef97681321e", "javablob00318d2d76a98e", "NjQyMWE5ODEtNDFmMC00ZWI1LWJjZDYtNzQyOGEyMTQzODBh", "ODlhNDUxZjktY2QxYi00MDk1LTkwNTUtYWViMzc0NTkwMGE3" ]
}