{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc80227a9c2?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E471E34EAB4A\"",
      "Last-Modified" : "Wed, 29 May 2019 20:11:51 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc80227a9c2/javablob835329",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E471E3539BB6\"",
      "Last-Modified" : "Wed, 29 May 2019 20:11:51 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc80227a9c2/javablob835329?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-snapshot" : "2019-05-29T20:11:51.6158918Z",
      "ETag" : "\"0x8D6E471E3539BB6\"",
      "Last-Modified" : "Wed, 29 May 2019 20:11:51 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc80227a9c2/javablob835329?prevsnapshot=2019-05-29T20%3a11%3a51.6158918Z&comp=pagelist",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-blob-content-length" : "512",
      "ETag" : "\"0x8D6E471E3539BB6\"",
      "Last-Modified" : "Wed, 29 May 2019 20:11:51 GMT",
      "retry-after" : "0",
      "body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList />",
      "StatusCode" : "200",
      "Content-Type" : "application/xml"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc80227a9c2", "javablob835329" ]
}