{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcgetpropscontext66009170a3a?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE6124FF4E8\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:18:39 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net?restype=service&comp=properties",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "202"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net?restype=service&comp=properties",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "202"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcgetpropscontext66009170a3a" ]
}