{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc265504bc1?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E471E4D00292\"",
      "Last-Modified" : "Wed, 29 May 2019 20:11:54 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc265504bc1/javablob200917",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E471E4D59099\"",
      "Last-Modified" : "Wed, 29 May 2019 20:11:54 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc265504bc1", "javablob200917" ]
}