{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcresizeacfaile96150274129?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F42913630A\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:49:25 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcresizeacfaile96150274129/javablobresizeacfail374677621a",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F4291AAD6E\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:49:25 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcresizeacfaile96150274129/javablobresizeacfail374677621a?comp=properties",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ConditionNotMet",
      "retry-after" : "0",
      "body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\nRequestId:d5b3e19f-f01e-00e4-7cdd-18237c000000\nTime:2019-06-02T00:49:25.6360240Z</Message></Error>",
      "StatusCode" : "412",
      "Content-Type" : "application/xml"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcresizeacfaile96150274129", "javablobresizeacfail374677621a" ]
}