{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc445163e4592c7bc0e?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE62CEBDC63\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:23 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc9411668d602838800/javablob82325ae3aa1f09",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE62CF807A0\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:23 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc9411668d602838800/javablob82325ae3aa1f09?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-snapshot" : "2019-06-07T01:19:23.7664239Z",
      "ETag" : "\"0x8D6EAE62CF807A0\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:23 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtc9411668d602838800/javablob82325ae3aa1f09?sv=2018-11-09&spr=https&st=2019-06-06T01%3A19%3A23Z&se=2019-06-08T01%3A19%3A23Z&sip=0.0.0.0-255.255.255.255&sr=bs&sp=racwd&sig=tyqFwfmTfcWYbiam%2FrccVIgo%2BZjJ38yDJdK2YUWMPWE%3D&rscc=cache&rscd=disposition&rsce=encoding&rscl=language&rsct=type",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-error-code" : "AuthenticationFailed",
      "retry-after" : "0",
      "body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\nRequestId:bf84eb19-101e-0000-0dcf-1c3076000000\nTime:2019-06-07T01:19:23.8205384Z</Message><AuthenticationErrorDetail>The specified signed resource is not allowed for the this resource level</AuthenticationErrorDetail></Error>",
      "StatusCode" : "403",
      "Content-Type" : "application/xml"
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtc9411668d602838800/javablob82325ae3aa1f09?snapshot=2019-06-07T01:19:23.7664239Z&sv=2018-11-09&spr=https&st=2019-06-06T01%3A19%3A23Z&se=2019-06-08T01%3A19%3A23Z&sip=0.0.0.0-255.255.255.255&sr=bs&sp=racwd&sig=tyqFwfmTfcWYbiam%2FrccVIgo%2BZjJ38yDJdK2YUWMPWE%3D&rscc=cache&rscd=disposition&rsce=encoding&rscl=language&rsct=type",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-tag-count" : "0",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:23 GMT",
      "retry-after" : "0",
      "body" : "default",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "x-ms-snapshot" : "2019-06-07T01:19:23.7664239Z",
      "ETag" : "\"0x8D6EAE62CF807A0\"",
      "Content-Disposition" : "disposition",
      "x-ms-creation-time" : "Fri, 07 Jun 2019 01:19:23 GMT",
      "Content-Language" : "language",
      "Content-Type" : "type"
    },
    "Errors" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtc9411668d602838800/javablob82325ae3aa1f09?snapshot=2019-06-07T01:19:23.7664239Z&sv=2018-11-09&spr=https&st=2019-06-06T01%3A19%3A23Z&se=2019-06-08T01%3A19%3A23Z&sip=0.0.0.0-255.255.255.255&sr=bs&sp=racwd&sig=tyqFwfmTfcWYbiam%2FrccVIgo%2BZjJ38yDJdK2YUWMPWE%3D&rscc=cache&rscd=disposition&rsce=encoding&rscl=language&rsct=type",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-tag-count" : "0",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:23 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Fri, 07 Jun 2019 01:19:23 GMT",
      "Content-Type" : "type",
      "x-ms-version" : "2018-11-09",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "x-ms-snapshot" : "2019-06-07T01:19:23.7664239Z",
      "ETag" : "\"0x8D6EAE62CF807A0\"",
      "Content-Disposition" : "disposition",
      "Content-Language" : "language"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc445163e4592c7bc0e", "jtc9411668d602838800", "javablob82325ae3aa1f09", "2019-06-06T18:19:23.823-07:00", "2019-06-06T18:19:23.831-07:00", "tyqFwfmTfcWYbiam/rccVIgo+ZjJ38yDJdK2YUWMPWE=" ]
}