{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc80441b9927d58c723?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE62DEEFCDC\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:25 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/?restype=service&comp=userdelegationkey",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>c21a53bd-e8d7-412c-b60f-19e9f7fb0c7e</SignedOid><SignedTid>72f988bf-86f1-41af-91ab-2d7cd011db47</SignedTid><SignedStart>2019-06-07T01:19:25Z</SignedStart><SignedExpiry>2019-06-08T01:19:25Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2018-11-09</SignedVersion><Value>qFBRO2f/VLnMLPJ+4SWdiPbmpb/mNLOhnR+8TXcEnyk=</Value></UserDelegationKey>",
      "StatusCode" : "200",
      "Content-Type" : "application/xml"
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc3896147d100f08ec6?sv=2018-11-09&spr=https%2Chttp&se=2019-06-07T06%3A19%3A25Z&skoid=c21a53bd-e8d7-412c-b60f-19e9f7fb0c7e&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2019-06-07T01%3A19%3A25Z&ske=2019-06-08T01%3A19%3A25Z&sks=b&skv=2018-11-09&sr=c&sp=racwdl&sig=FA1vhqvvFK1e1VnCeBgjZeNQRV1JbGrnNOR81D5PNso%3D&include=&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://azstoragesdkaccount.blob.core.windows.net/\" ContainerName=\"jtc3896147d100f08ec6\"><Blobs /><NextMarker /></EnumerationResults>",
      "StatusCode" : "200",
      "Content-Type" : "application/xml"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc80441b9927d58c723", "jtc3896147d100f08ec6", "2019-06-06T18:19:25.439-07:00", "2019-06-06T18:19:25.611-07:00", "FA1vhqvvFK1e1VnCeBgjZeNQRV1JbGrnNOR81D5PNso=" ]
}