{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc82331b7e985335abd?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE62D184E94\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:23 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc681769108663528a1?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE62D22A6E8\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:19:24 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200"
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtc681769108663528a1?sv=2018-11-09&spr=https&si=0000&sr=c&sig=TA6Vugct1rFIC7nOgOWlZyDxDpyz3RDQSbJr1qN9pvQ%3D&include=&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\" ContainerName=\"jtc681769108663528a1\"><Blobs /><NextMarker /></EnumerationResults>",
      "StatusCode" : "200",
      "Content-Type" : "application/xml"
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtc681769108663528a1?sv=2018-11-09&se=2019-06-08T01%3A19%3A24Z&sr=c&sp=racwdl&sig=Myd%2F8BSPRt8TOP4VhWEmE6WryAxJhVC%2BgyIVoKrq%2BDs%3D&include=&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\" ContainerName=\"jtc681769108663528a1\"><Blobs /><NextMarker /></EnumerationResults>",
      "StatusCode" : "200",
      "Content-Type" : "application/xml"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc82331b7e985335abd", "jtc681769108663528a1", "2019-06-06T18:19:24.016-07:00", "2019-06-06T18:19:24.067-07:00", "TA6Vugct1rFIC7nOgOWlZyDxDpyz3RDQSbJr1qN9pvQ=", "Myd/8BSPRt8TOP4VhWEmE6WryAxJhVC+gyIVoKrq+Ds=" ]
}