{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc51956075365222ac1?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE53F484333\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:12:44 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc51956075365222ac1/javablob77387c039f554d",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE53F4D8AE9\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:12:44 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc51956075365222ac1?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE53F52F25A\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:12:45 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200"
    },
    "Errors" : null
[...]
  }, {
    "Method" : "HEAD",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc51956075365222ac1/javablob72295ee9ad0c4d",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Fri, 07 Jun 2019 01:12:45 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "\"0x8D6EAE53F58FF62\"",
      "x-ms-creation-time" : "Fri, 07 Jun 2019 01:12:45 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc51956075365222ac1/javablob77387c039f554d?blockid=Zjc3OTFkMDMtNGYzMi00MjY0LWI4OWItNTZmMzE3Njg5NzNi&comp=block",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc51956075365222ac1", "javablob77387c039f554d", "Zjc3OTFkMDMtNGYzMi00MjY0LWI4OWItNTZmMzE3Njg5NzNi", "javablob72295ee9ad0c4d" ]
}