{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc45391dd45?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E47153152E27\"",
      "Last-Modified" : "Wed, 29 May 2019 20:07:49 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc45391dd45/javablob873963",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E471531AD629\"",
      "Last-Modified" : "Wed, 29 May 2019 20:07:49 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc45391dd45/javablob873963?blockid=MmMwYzM1OWUtMTk5Ni00YTc5LTkwM2UtYTczZTA5ZDc0NmYx&comp=block",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : null,
    "Errors" : {
      "classType" : "com.microsoft.rest.v2.http.UnexpectedLengthException",
      "types" : [ "java.lang.String", "long", "long" ],
      "args" : [ "", 0, 0 ]
    }
  } ],
  "variables" : [ "jtc45391dd45", "javablob873963", "MmMwYzM1OWUtMTk5Ni00YTc5LTkwM2UtYTczZTA5ZDc0NmYx" ]
}