{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc039658a3bfe27e397?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE53E3DE6CE\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:12:43 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc039658a3bfe27e397/javablob6704874f56f9b7",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE53E437B6E\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:12:43 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc039658a3bfe27e397?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE53E486CF8\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:12:43 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc039658a3bfe27e397/javablob41157f43fe259a?blockid=YWZmYWUwMjktZmUwYy00YTU2LTg0M2YtMDRmNmY4YmM0Mjg3&comp=block",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "InvalidMd5",
      "retry-after" : "0",
      "body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidMd5</Code><Message>The MD5 value specified in the request is invalid. MD5 value must be 128 bits and base64 encoded.\nRequestId:0540402a-101e-006d-74ce-1c9a58000000\nTime:2019-06-07T01:12:43.3309489Z</Message></Error>",
      "StatusCode" : "400",
      "Content-Type" : "application/xml"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc039658a3bfe27e397", "javablob6704874f56f9b7", "javablob41157f43fe259a", "YWZmYWUwMjktZmUwYy00YTU2LTg0M2YtMDRmNmY4YmM0Mjg3" ]
}