{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc50234e5a6?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E471EAD0A347\"",
      "Last-Modified" : "Wed, 29 May 2019 20:12:04 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc50234e5a6/javablob182861",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E471EAD7E456\"",
      "Last-Modified" : "Wed, 29 May 2019 20:12:04 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc50234e5a6?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E471EADDA178\"",
      "Last-Modified" : "Wed, 29 May 2019 20:12:04 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc50234e5a6/javablob182861?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-snapshot" : "2019-05-29T20:12:04.2729221Z",
      "ETag" : "\"0x8D6E471EAD7E456\"",
      "Last-Modified" : "Wed, 29 May 2019 20:12:04 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc50234e5a6/javablob70423f?comp=incrementalcopy",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-copy-id" : "811e568e-71a7-4835-b033-47ec6b67eb9a",
      "ETag" : "\"0x8D6E471EAEA5F68\"",
      "Last-Modified" : "Wed, 29 May 2019 20:12:04 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "pending",
      "body" : "",
      "StatusCode" : "202"
    },
    "Errors" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc50234e5a6/javablob70423f",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-copy-destination-snapshot" : "2019-05-29T20:12:04.3409873Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Wed, 29 May 2019 20:12:04 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Wed, 29 May 2019 20:12:04 GMT",
      "x-ms-incremental-copy" : "true",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2018-11-09",
      "x-ms-copy-id" : "811e568e-71a7-4835-b033-47ec6b67eb9a",
      "x-ms-copy-source" : "https://azstoragesdkaccount.blob.core.windows.net/jtc50234e5a6/javablob182861?snapshot=2019-05-29T20:12:04.2729221Z",
      "x-ms-blob-sequence-number" : "0",
      "x-ms-copy-progress" : "512/512",
      "x-ms-copy-completion-time" : "Wed, 29 May 2019 20:12:04 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D6E471EAEA5F68\"",
      "x-ms-copy-status" : "success"
    },
    "Errors" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc50234e5a6/javablob70423f?comp=incrementalcopy",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-copy-id" : "4434d139-1559-4f34-9d99-886d0ea5956d",
      "ETag" : "\"0x8D6E471EB95BD3B\"",
      "Last-Modified" : "Wed, 29 May 2019 20:12:05 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "pending",
      "body" : "",
      "StatusCode" : "202"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc50234e5a6", "javablob182861", "javablob70423f" ]
}