{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc91598e0063c9f2625?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE5D18620D5\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:50 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc91598e0063c9f2625/javablob37536aeb8a0487",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE5D18B8C70\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:50 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc91598e0063c9f2625?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE5D190D66B\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:50 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc91598e0063c9f2625/javablob37536aeb8a0487?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-snapshot" : "2019-06-07T01:16:50.4158470Z",
      "ETag" : "\"0x8D6EAE5D18B8C70\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:50 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc91598e0063c9f2625/javablob19079bc0b5c8a6?comp=incrementalcopy",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-copy-id" : "4e340e19-8379-4608-9a73-ed1336ab04fe",
      "ETag" : "\"0x8D6EAE5D19C8086\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:50 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "pending",
      "body" : "",
      "StatusCode" : "202"
    },
    "Errors" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc91598e0063c9f2625/javablob19079bc0b5c8a6",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-copy-destination-snapshot" : "2019-06-07T01:16:50.4839128Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:50 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Fri, 07 Jun 2019 01:16:50 GMT",
      "x-ms-incremental-copy" : "true",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2018-11-09",
      "x-ms-copy-id" : "4e340e19-8379-4608-9a73-ed1336ab04fe",
      "x-ms-copy-source" : "https://azstoragesdkaccount.blob.core.windows.net/jtc91598e0063c9f2625/javablob37536aeb8a0487?snapshot=2019-06-07T01:16:50.4158470Z",
      "x-ms-blob-sequence-number" : "0",
      "x-ms-copy-progress" : "512/512",
      "x-ms-copy-completion-time" : "Fri, 07 Jun 2019 01:16:50 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D6EAE5D19C8086\"",
      "x-ms-copy-status" : "success"
    },
    "Errors" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc91598e0063c9f2625/javablob19079bc0b5c8a6?comp=incrementalcopy",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-copy-id" : "b82e0105-fe91-494f-9c22-5596d97bf23d",
      "ETag" : "\"0x8D6EAE5D246091A\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:51 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "pending",
      "body" : "",
      "StatusCode" : "202"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc91598e0063c9f2625", "javablob37536aeb8a0487", "javablob19079bc0b5c8a6" ]
}