{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc35891093b7df081f4?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE5CFDE4C8F\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:47 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc35891093b7df081f4/javablob32939f8fa9fc61",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE5CFE4C8D5\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:47 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc35891093b7df081f4?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE5CFE9C35C\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:47 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc35891093b7df081f4/javablob32939f8fa9fc61?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-snapshot" : "2019-06-07T01:16:47.6622354Z",
      "ETag" : "\"0x8D6EAE5CFE4C8D5\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:47 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc35891093b7df081f4/javablob688718267e04f7?comp=incrementalcopy",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-copy-id" : "3224f205-3a06-4d91-8079-85930cc8c68c",
      "ETag" : "\"0x8D6EAE5CFF8A3C4\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:47 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "pending",
      "body" : "",
      "StatusCode" : "202"
    },
    "Errors" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc35891093b7df081f4/javablob688718267e04f7",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-copy-destination-snapshot" : "2019-06-07T01:16:47.7343041Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:47 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Fri, 07 Jun 2019 01:16:47 GMT",
      "x-ms-incremental-copy" : "true",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2018-11-09",
      "x-ms-copy-id" : "3224f205-3a06-4d91-8079-85930cc8c68c",
      "x-ms-copy-source" : "https://azstoragesdkaccount.blob.core.windows.net/jtc35891093b7df081f4/javablob32939f8fa9fc61?snapshot=2019-06-07T01:16:47.6622354Z",
      "x-ms-blob-sequence-number" : "0",
      "x-ms-copy-progress" : "512/512",
      "x-ms-copy-completion-time" : "Fri, 07 Jun 2019 01:16:47 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D6EAE5CFF8A3C4\"",
      "x-ms-copy-status" : "success"
    },
    "Errors" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc35891093b7df081f4/javablob688718267e04f7?comp=incrementalcopy",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-copy-id" : "11eeee75-2728-4a21-8022-5efb958726ee",
      "ETag" : "\"0x8D6EAE5D0B2F93B\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:48 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "pending",
      "body" : "",
      "StatusCode" : "202"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc35891093b7df081f4", "javablob32939f8fa9fc61", "javablob688718267e04f7" ]
}