{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc885533c001d69f48e?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE5D446860C\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:54 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc885533c001d69f48e/javablob8741371be2ae5e",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE5D44BF3D8\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:54 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc885533c001d69f48e?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE5D450A32E\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:54 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "200"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc885533c001d69f48e/javablob8741371be2ae5e?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-snapshot" : "2019-06-07T01:16:55.0672612Z",
      "ETag" : "\"0x8D6EAE5D44BF3D8\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:54 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc885533c001d69f48e/javablob119545b9ce7aef?comp=incrementalcopy",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-copy-id" : "29860760-afb4-43b0-afa3-535e0671bfe3",
      "ETag" : "\"0x8D6EAE5D4617CDA\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:55 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "pending",
      "body" : "",
      "StatusCode" : "202"
    },
    "Errors" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc885533c001d69f48e/javablob119545b9ce7aef?comp=incrementalcopy",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "TargetConditionNotMet",
      "retry-after" : "0",
      "body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>TargetConditionNotMet</Code><Message>The target condition specified using HTTP conditional header(s) is not met.\nRequestId:b50b539b-401e-0090-18ce-1ca53a000000\nTime:2019-06-07T01:16:55.1658059Z</Message></Error>",
      "StatusCode" : "412",
      "Content-Type" : "application/xml"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc885533c001d69f48e", "javablob8741371be2ae5e", "javablob119545b9ce7aef" ]
}