{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc73380699ca20f9d34?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6C77F6C4BEB\"",
      "Last-Modified" : "Sat, 01 Jun 2019 19:29:43 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc73380699ca20f9d34/javablob41699a18ffe790?blockid=NjQxYjZkNWUtM2E1NS00YTMzLWFhYjktY2ExMjU0YWVhMjY5&comp=block",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "p8Ns3/ZrYlguvN4yAWMogg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc73380699ca20f9d34/javablob41699a18ffe790?blockid=MTdhYzgyYTktNWZmOC00ZTM4LWI4MDctZjI3NjE3MzE3N2Ri&comp=block",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "T9MrBH+LGf/IEHYjxgriIg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc73380699ca20f9d34/javablob41699a18ffe790?blockid=N2Q1MzdmNjgtOGY1Mi00MGZhLWFmZGEtMzQ5Nzc5ZjA1OGFk&comp=block",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "tj9GiB5fzqQTEyeyCyGA/Q=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc73380699ca20f9d34/javablob41699a18ffe790?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6C77F86C4EC\"",
      "Last-Modified" : "Sat, 01 Jun 2019 19:29:43 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "6C/RIRvA1ZX5qhJy4QNZ+w=="
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc73380699ca20f9d34/javablob41699a18ffe790",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Sat, 01 Jun 2019 19:29:43 GMT",
      "retry-after" : "0",
      "body" : "���������������������",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D6E6C77F86C4EC\"",
      "x-ms-creation-time" : "Sat, 01 Jun 2019 19:29:43 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Errors" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc73380699ca20f9d34/javablob41699a18ffe790?blocklisttype=all&comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-blob-content-length" : "21",
      "ETag" : "\"0x8D6E6C77F86C4EC\"",
      "Last-Modified" : "Sat, 01 Jun 2019 19:29:43 GMT",
      "retry-after" : "0",
      "body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks><Block><Name>NjQxYjZkNWUtM2E1NS00YTMzLWFhYjktY2ExMjU0YWVhMjY5</Name><Size>10</Size></Block><Block><Name>MTdhYzgyYTktNWZmOC00ZTM4LWI4MDctZjI3NjE3MzE3N2Ri</Name><Size>10</Size></Block><Block><Name>N2Q1MzdmNjgtOGY1Mi00MGZhLWFmZGEtMzQ5Nzc5ZjA1OGFk</Name><Size>1</Size></Block></CommittedBlocks><UncommittedBlocks /></BlockList>",
      "StatusCode" : "200",
      "Content-Type" : "application/xml"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc73380699ca20f9d34", "javablob41699a18ffe790" ]
}