{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadfileacde936704b7a7?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF32B566B0\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:04 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadfileacde936704b7a7/javablobuploadfileac6244137290",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF32BCAC59\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:04 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadfileacde936704b7a7/javablobuploadfileac6244137290",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF32C4EBB9\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:04 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "Lvtyb0kmgsqoeEtYkWIVng=="
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcuploadfileacde936704b7a7", "javablobuploadfileac6244137290", "MGE2ZDM3ODctM2U5OC00NTU4LWE3ZjUtZDlhNTFkNGE4NGQz", "EjQLMyQpLBUTLQ==" ]
}