{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadpageiac5926798b914?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE5BFC68EF1\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:20 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadpageiac5926798b914/javablobuploadpageia2b36922506",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE5BFCBE485\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:20 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadpageiac5926798b914/javablobuploadpageia2b36922506?comp=page",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : null,
    "Errors" : {
      "classType" : "com.microsoft.rest.v2.http.UnexpectedLengthException",
      "types" : [ "java.lang.String", "long", "long" ],
      "args" : [ "", 0, 0 ]
    }
  } ],
  "variables" : [ "jtcuploadpageiac5926798b914", "javablobuploadpageia2b36922506" ]
}