{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadnrfbbc88543eb3e9f?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF41822EB5\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:29 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcuploadnrfbbc88543eb3e9f", "javablobuploadnrfde809015d7a" ]
}