{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadpageaca5747307e4b4?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE5C03AEC75\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:21 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadpageaca5747307e4b4/javablobuploadpageac5260663508",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EAE5C041313D\"",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:21 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadpageaca5747307e4b4/javablobuploadpageac5260663508?comp=page",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Fri, 07 Jun 2019 01:16:21 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "DIEUAZeZywY3LUH4Kl2Stg==",
      "ETag" : "\"0x8D6EAE5C04662B0\""
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcuploadpageaca5747307e4b4", "javablobuploadpageac5260663508" ]
}