{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc391200f77e5b6e9e8?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF31DB24DA\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:02 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc391200f77e5b6e9e8", "javablob544042247444b6", "NTk1MDgyZjMtODU2Zi00MzBlLWI0YjAtNjk3ZDM2OTUxMzcy", "FDgKJy47BBA+Ag==" ]
}