{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadfileacc1a8966756be?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF3300B2E9\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:04 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadfileacc1a8966756be/javablobuploadfileacde986603d1",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF33070DB0\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:04 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadfileacc1a8966756be/javablobuploadfileacde986603d1?comp=lease",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF33070DB0\"",
      "x-ms-lease-id" : "06ed6e22-9dac-4e76-9cf8-bad53d236038",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:04 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadfileacc1a8966756be/javablobuploadfileacde986603d1",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF3315DE4E\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:04 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "Gxdjgj4dikRDEyEMR7HayA=="
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcuploadfileacc1a8966756be", "javablobuploadfileacde986603d1", "ZDk3NDg3MGItOTcyNS00ZjBlLWIxMWQtZTYxMTgxMzdjYmI0", "Kz8aBzU7IhQdDQ==" ]
}