{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadpageia32f35382f840?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F417BDEEA8\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:48:56 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadpageia32f35382f840/javablobuploadpageia8a5212425c",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F417C5024A\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:48:56 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadpageia32f35382f840/javablobuploadpageia8a5212425c?comp=page",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : null,
    "Errors" : {
      "classType" : "com.microsoft.rest.v2.http.UnexpectedLengthException",
      "types" : [ "java.lang.String", "long", "long" ],
      "args" : [ "", 0, 0 ]
    }
  } ],
  "variables" : [ "jtcuploadpageia32f35382f840", "javablobuploadpageia8a5212425c" ]
}