{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadpageaca25954530541?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F417D3F005\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:48:56 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadpageaca25954530541/javablobuploadpageac0d68165508",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F417DE5CC4\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:48:56 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadpageaca25954530541/javablobuploadpageac0d68165508?comp=page",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Sun, 02 Jun 2019 00:48:56 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "Zn7gVfSyPveA/9V1+oPkyA==",
      "ETag" : "\"0x8D6E6F417E8BF8D\""
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcuploadpageaca25954530541", "javablobuploadpageac0d68165508" ]
}