{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadfileacc7f941225c88?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F46DCA7777\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:51:20 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadfileacc7f941225c88/javablobuploadfileaca1d61946b0",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F46DD2A103\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:51:20 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadfileacc7f941225c88/javablobuploadfileaca1d61946b0?comp=lease",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F46DD2A103\"",
      "x-ms-lease-id" : "0c1e0286-df9e-45dc-a2c0-9bb42c150f9f",
      "Last-Modified" : "Sun, 02 Jun 2019 00:51:20 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadfileacc7f941225c88/javablobuploadfileaca1d61946b0",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F46DE47FBA\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:51:20 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "oZ5kBg2xSsXt4FI+/ZFohg=="
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcuploadfileacc7f941225c88", "javablobuploadfileaca1d61946b0", "c6a2ad4ad95242f1a4367616c549458b", "EgkNNgUVEw0CAg==" ]
}