{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadfileacc6c714790cc2?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF329EA4C0\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:04 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadfileacc6c714790cc2/javablobuploadfileaccf428201aa",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF32A5271E\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:04 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadfileacc6c714790cc2/javablobuploadfileaccf428201aa",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF32AD3F55\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:04 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "TQuLd5MVnYlvBfXT7zVDWw=="
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcuploadfileacc6c714790cc2", "javablobuploadfileaccf428201aa", "MDM1MmMzYmYtZTQ3ZS00MjQ4LWE4ODYtMDVlODIzOGM4MmZi", "GjYZBhArEDsYNQ==" ]
}