{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtc26127e86ba4c1716b?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6E6F46C8AA322\"",
      "Last-Modified" : "Sun, 02 Jun 2019 00:51:18 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  } ],
  "variables" : [ "jtc26127e86ba4c1716b", "javablob7891101eddd957", "db1b72d0b60b4f1d84fcd6b01d754c1a", "HyEGPygsNCgyNg==" ]
}