{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadfileac2a6948852421?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF32EB02CA\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:04 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201"
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadfileac2a6948852421/javablobuploadfileac0b75174001",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF32F184B0\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:04 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    },
    "Errors" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadfileac2a6948852421/javablobuploadfileac0b75174001",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6EDFF32F8B25C\"",
      "Last-Modified" : "Mon, 10 Jun 2019 23:56:04 GMT",
      "retry-after" : "0",
      "body" : "",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "G4VOjW0dOlHKG2Hh10LaZA=="
    },
    "Errors" : null
  } ],
  "variables" : [ "jtcuploadfileac2a6948852421", "javablobuploadfileac0b75174001", "OGIwMjQ4ZGItYThiYi00NTc3LTlhNzUtMDZmNDE1YzJkM2Vm", "Nj80ASYFGhkRHQ==" ]
}