{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azure-java-live-test2.vault.azure.net/certificates/non-existing/backup?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "{\"error\":{\"code\":\"CertificateNotFound\",\"message\":\"Certificate not found: non-existing\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}