{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://cameravault.vault.azure.net/certificates/issuers/listCertIssuer4?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"id\":\"https://cameravault.vault.azure.net/certificates/issuers/listCertIssuer4\",\"provider\":\"Test\",\"credentials\":{\"account_id\":\"issuerAccountId\"},\"org_details\":{\"zip\":0,\"admin_details\":[{\"first_name\":\"first\",\"last_name\":\"last\",\"email\":\"first.last@hotmail.com\",\"phone\":\"12345\"}]},\"attributes\":{\"enabled\":true,\"created\":1575378001,\"updated\":1575378001}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cameravault.vault.azure.net/certificates/Issuers?maxresults=25&api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"value\":[{\"id\":\"https://cameravault.vault.azure.net/certificates/issuers/listCertIssuer0\",\"provider\":\"Test\"},{\"id\":\"https://cameravault.vault.azure.net/certificates/issuers/listCertIssuer1\",\"provider\":\"Test\"},{\"id\":\"https://cameravault.vault.azure.net/certificates/issuers/listCertIssuer2\",\"provider\":\"Test\"},{\"id\":\"https://cameravault.vault.azure.net/certificates/issuers/listCertIssuer3\",\"provider\":\"Test\"},{\"id\":\"https://cameravault.vault.azure.net/certificates/issuers/listCertIssuer4\",\"provider\":\"Test\"},{\"id\":\"https://cameravault.vault.azure.net/certificates/issuers/listCertIssuer5\",\"provider\":\"Test\"},{\"id\":\"https://cameravault.vault.azure.net/certificates/issuers/listCertIssuer6\",\"provider\":\"Test\"},{\"id\":\"https://cameravault.vault.azure.net/certificates/issuers/listCertIssuer7\",\"provider\":\"Test\"},{\"id\":\"https://cameravault.vault.azure.net/certificates/issuers/listCertIssuer8\",\"provider\":\"Test\"},{\"id\":\"https://cameravault.vault.azure.net/certificates/issuers/listCertIssuer9\",\"provider\":\"Test\"},{\"id\":\"https://cameravault.vault.azure.net/certificates/issuers/testIssuer01\",\"provider\":\"Test\"},{\"id\":\"https://cameravault.vault.azure.net/certificates/issuers/testIssuer02\",\"provider\":\"Test\"}],\"nextLink\":null}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://cameravault.vault.azure.net/certificates/issuers/listCertIssuer1?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"id\":\"https://cameravault.vault.azure.net/certificates/issuers/listCertIssuer1\",\"provider\":\"Test\",\"credentials\":{\"account_id\":\"issuerAccountId\"},\"org_details\":{\"zip\":0,\"admin_details\":[{\"first_name\":\"first\",\"last_name\":\"last\",\"email\":\"first.last@hotmail.com\",\"phone\":\"12345\"}]},\"attributes\":{\"enabled\":true,\"created\":1575378003,\"updated\":1575378003}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}