{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue042491b4",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue042491b4/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c2490f97-85f7-4a7d-9eca-e0bb3e54a5c6</MessageId><InsertionTime>Fri, 09 Aug 2019 22:08:14 GMT</InsertionTime><ExpirationTime>Fri, 16 Aug 2019 22:08:14 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAGwoB8f5O1QE=</PopReceipt><TimeNextVisible>Fri, 09 Aug 2019 22:08:14 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queue393506b8", "queue82430fc4", "queue042491b4" ]
}