{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/Abc",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-error-code" : "InvalidResourceName",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidResourceName</Code><Message>The specifed resource name contains invalid characters.\nRequestId:bde1069a-1003-0066-54fe-4e822c000000\nTime:2019-08-09T22:08:07.6307898Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queue83525434", "queue34341d7d" ]
}