{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue355832df",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue355832df/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>892027c9-fc57-40f7-b746-9ed62bd1274e</MessageId><InsertionTime>Fri, 09 Aug 2019 22:08:08 GMT</InsertionTime><ExpirationTime>Fri, 16 Aug 2019 22:08:08 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAq7ES7f5O1QE=</PopReceipt><TimeNextVisible>Fri, 09 Aug 2019 22:08:08 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queue67144fd6", "queue702644ad", "queue355832df" ]
}