{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue12441e21",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue12441e21/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>719e3a2b-e9a1-4b06-8039-b710ef21f8ca</MessageId><InsertionTime>Tue, 13 Aug 2019 18:03:00 GMT</InsertionTime><ExpirationTime>Tue, 20 Aug 2019 18:03:00 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA66njVwFS1QE=</PopReceipt><TimeNextVisible>Tue, 13 Aug 2019 18:03:00 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queue12441e21" ]
}