{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue845586a9",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue845586a9/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>7d9890a5-dc64-4ec3-90b4-092005b49e2e</MessageId><InsertionTime>Tue, 13 Aug 2019 18:02:59 GMT</InsertionTime><ExpirationTime>Tue, 20 Aug 2019 18:02:59 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAYp6/VwFS1QE=</PopReceipt><TimeNextVisible>Tue, 13 Aug 2019 18:02:59 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queue845586a9" ]
}