{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue51248ff6",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue51248ff6/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4b3fa886-0fac-44a7-a28b-de2a02c1db3f</MessageId><InsertionTime>Wed, 14 Aug 2019 00:35:41 GMT</InsertionTime><ExpirationTime>Wed, 21 Aug 2019 00:35:41 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAG0OgMzhS1QE=</PopReceipt><TimeNextVisible>Wed, 14 Aug 2019 00:35:41 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queue51248ff6" ]
}