{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue69589713",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue69589713/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>dd7eae0b-e620-43aa-96ae-059293ed8baf</MessageId><InsertionTime>Fri, 09 Aug 2019 22:08:14 GMT</InsertionTime><ExpirationTime>Fri, 16 Aug 2019 22:08:14 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAOiHq8P5O1QE=</PopReceipt><TimeNextVisible>Fri, 09 Aug 2019 22:08:14 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queue3989899d", "queue65300a1c", "queue69589713" ]
}