{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue337113ba",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue337113ba/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ad91775b-fae0-4079-bb1c-047d8cca9b7b</MessageId><InsertionTime>Tue, 13 Aug 2019 18:01:52 GMT</InsertionTime><ExpirationTime>Tue, 20 Aug 2019 18:01:52 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAmH63LwFS1QE=</PopReceipt><TimeNextVisible>Tue, 13 Aug 2019 18:01:52 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue337113ba/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ad91775b-fae0-4079-bb1c-047d8cca9b7b</MessageId><InsertionTime>Tue, 13 Aug 2019 18:01:52 GMT</InsertionTime><ExpirationTime>Tue, 20 Aug 2019 18:01:52 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAAWGhQQFS1QE=</PopReceipt><TimeNextVisible>Tue, 13 Aug 2019 18:02:22 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue337113ba/messages/ad91775b-fae0-4079-bb1c-047d8cca9b7bRandom?popreceipt=AgAAAAMAAAAAAAAAAWGhQQFS1QE%3d",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-error-code" : "MessageNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>MessageNotFound</Code><Message>The specified message does not exist.\nRequestId:abcb22d8-9003-00f4-3001-52159a000000\nTime:2019-08-13T18:01:52.7367936Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queue337113ba" ]
}