{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue97082379",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue97082379/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>7d45fb5a-d0a5-4140-a5a9-7dfb0a7da8f0</MessageId><InsertionTime>Fri, 09 Aug 2019 23:15:35 GMT</InsertionTime><ExpirationTime>Fri, 16 Aug 2019 23:15:35 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAyYOEWQhP1QE=</PopReceipt><TimeNextVisible>Fri, 09 Aug 2019 23:15:35 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue97082379/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>7d45fb5a-d0a5-4140-a5a9-7dfb0a7da8f0</MessageId><InsertionTime>Fri, 09 Aug 2019 23:15:35 GMT</InsertionTime><ExpirationTime>Fri, 16 Aug 2019 23:15:35 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAh/Z/awhP1QE=</PopReceipt><TimeNextVisible>Fri, 09 Aug 2019 23:16:05 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue97082379/messages/7d45fb5a-d0a5-4140-a5a9-7dfb0a7da8f0?popreceipt=AgAAAAMAAAAAAAAAh/Z/awhP1QE%3dRandom",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-error-code" : "InvalidQueryParameterValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidQueryParameterValue</Code><Message>Value for one of the query parameters specified in the request URI is invalid.\nRequestId:982ae091-f003-00c6-7008-4f4d4a000000\nTime:2019-08-09T23:15:35.9858163Z</Message><QueryParameterName>popreceipt</QueryParameterName><QueryParameterValue>AgAAAAMAAAAAAAAAh/Z/awhP1QE=Random</QueryParameterValue><Reason>Invalid pop receipt format</Reason></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queue555952bd", "queue02473741", "queue97082379" ]
}