{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue76639fce/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-error-code" : "QueueNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The specified queue does not exist.\nRequestId:abcb1e62-9003-00f4-5f01-52159a000000\nTime:2019-08-13T18:01:49.6758795Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queue76639fce" ]
}