{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue88651835",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue88651835/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4bb86d30-3037-417a-b602-f802676d34ad</MessageId><InsertionTime>Wed, 14 Aug 2019 00:32:53 GMT</InsertionTime><ExpirationTime>Wed, 21 Aug 2019 00:32:53 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAMUWbzzdS1QE=</PopReceipt><TimeNextVisible>Wed, 14 Aug 2019 00:32:53 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue88651835/messages?numofmessages=2&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4bb86d30-3037-417a-b602-f802676d34ad</MessageId><InsertionTime>Wed, 14 Aug 2019 00:32:53 GMT</InsertionTime><ExpirationTime>Wed, 21 Aug 2019 00:32:53 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAuM2K4TdS1QE=</PopReceipt><TimeNextVisible>Wed, 14 Aug 2019 00:33:23 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message 1</MessageText></QueueMessage><QueueMessage><MessageId>27995a14-db55-4743-bd63-55a452dc7d8a</MessageId><InsertionTime>Wed, 14 Aug 2019 00:32:53 GMT</InsertionTime><ExpirationTime>Wed, 21 Aug 2019 00:32:53 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAuM2K4TdS1QE=</PopReceipt><TimeNextVisible>Wed, 14 Aug 2019 00:33:23 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message 2</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queue88651835" ]
}