{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue71700d28",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue71700d28/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a30f5d13-64b1-4c0e-a584-061d7f199260</MessageId><InsertionTime>Tue, 13 Aug 2019 17:59:57 GMT</InsertionTime><ExpirationTime>Tue, 20 Aug 2019 17:59:57 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAk6cA6wBS1QE=</PopReceipt><TimeNextVisible>Tue, 13 Aug 2019 17:59:57 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue71700d28/messages?numofmessages=2&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a30f5d13-64b1-4c0e-a584-061d7f199260</MessageId><InsertionTime>Tue, 13 Aug 2019 17:59:57 GMT</InsertionTime><ExpirationTime>Tue, 20 Aug 2019 17:59:57 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAlz7z/ABS1QE=</PopReceipt><TimeNextVisible>Tue, 13 Aug 2019 18:00:27 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message 1</MessageText></QueueMessage><QueueMessage><MessageId>b3f17bea-fc7f-4cee-a873-cea6798b959a</MessageId><InsertionTime>Tue, 13 Aug 2019 17:59:57 GMT</InsertionTime><ExpirationTime>Tue, 20 Aug 2019 17:59:57 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAlz7z/ABS1QE=</PopReceipt><TimeNextVisible>Tue, 13 Aug 2019 18:00:27 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message 2</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queue71700d28" ]
}