{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue0729263b",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue0729263b/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>454e4c65-b519-4752-af64-95272c33acae</MessageId><InsertionTime>Fri, 09 Aug 2019 22:06:54 GMT</InsertionTime><ExpirationTime>Fri, 16 Aug 2019 22:06:54 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAwbkYwf5O1QE=</PopReceipt><TimeNextVisible>Fri, 09 Aug 2019 22:06:54 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queue26501182", "queue638286de", "queue0729263b" ]
}