{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue72494b74",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue72494b74?comp=metadata",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-meta-metadata" : "value",
      "retry-after" : "0",
      "x-ms-approximate-messages-count" : "0",
      "StatusCode" : "200"
    }
  } ],
  "variables" : [ "queue72494b74" ]
}