{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue148929f8",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue148929f8/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ff2af5f3-72df-46f7-9892-f262ed569b6c</MessageId><InsertionTime>Wed, 14 Aug 2019 00:32:54 GMT</InsertionTime><ExpirationTime>Wed, 21 Aug 2019 00:32:54 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAz0IO0DdS1QE=</PopReceipt><TimeNextVisible>Wed, 14 Aug 2019 00:32:54 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue148929f8/messages?numofmessages=2&peekonly=true",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ff2af5f3-72df-46f7-9892-f262ed569b6c</MessageId><InsertionTime>Wed, 14 Aug 2019 00:32:54 GMT</InsertionTime><ExpirationTime>Wed, 21 Aug 2019 00:32:54 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message 1</MessageText></QueueMessage><QueueMessage><MessageId>5ad6b34d-a565-4c63-bd3e-7d4e994468e8</MessageId><InsertionTime>Wed, 14 Aug 2019 00:32:54 GMT</InsertionTime><ExpirationTime>Wed, 21 Aug 2019 00:32:54 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message 2</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queue148929f8" ]
}