{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue285218fe",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue285218fe/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>81cb628c-f658-4222-abee-e8985df6576f</MessageId><InsertionTime>Wed, 14 Aug 2019 00:34:35 GMT</InsertionTime><ExpirationTime>Wed, 21 Aug 2019 00:34:35 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAHfZeDDhS1QE=</PopReceipt><TimeNextVisible>Wed, 14 Aug 2019 00:34:35 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue285218fe/messages?numofmessages=2&peekonly=true",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>81cb628c-f658-4222-abee-e8985df6576f</MessageId><InsertionTime>Wed, 14 Aug 2019 00:34:35 GMT</InsertionTime><ExpirationTime>Wed, 21 Aug 2019 00:34:35 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message 1</MessageText></QueueMessage><QueueMessage><MessageId>a3e38c3b-2709-4723-b613-173eb44748a8</MessageId><InsertionTime>Wed, 14 Aug 2019 00:34:35 GMT</InsertionTime><ExpirationTime>Wed, 21 Aug 2019 00:34:35 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message 2</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queue285218fe" ]
}