{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue48952e28",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue48952e28/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>1256e2f1-0208-4beb-a400-5d13a01fbbe6</MessageId><InsertionTime>Tue, 13 Aug 2019 18:01:50 GMT</InsertionTime><ExpirationTime>Tue, 20 Aug 2019 18:01:50 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAWfw3LgFS1QE=</PopReceipt><TimeNextVisible>Tue, 13 Aug 2019 18:01:50 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue48952e28/messages?numofmessages=2&peekonly=true",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>1256e2f1-0208-4beb-a400-5d13a01fbbe6</MessageId><InsertionTime>Tue, 13 Aug 2019 18:01:50 GMT</InsertionTime><ExpirationTime>Tue, 20 Aug 2019 18:01:50 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message 1</MessageText></QueueMessage><QueueMessage><MessageId>df37a109-1392-4e09-838c-d81490dc52c7</MessageId><InsertionTime>Tue, 13 Aug 2019 18:01:50 GMT</InsertionTime><ExpirationTime>Tue, 20 Aug 2019 18:01:50 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message 2</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queue48952e28" ]
}