{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/e09a8979c0",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/e09a8979c0/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a16e30ff-de06-4cd0-9a9d-57fa4bf06512</MessageId><InsertionTime>Wed, 11 Dec 2019 23:41:56 GMT</InsertionTime><ExpirationTime>Wed, 18 Dec 2019 23:41:56 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAmYn6knyw1QE=</PopReceipt><TimeNextVisible>Wed, 11 Dec 2019 23:41:56 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "e09a8979c0", "2019-12-11T23:41:56.587913700Z" ]
}