{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.queue.core.windows.net/queuesasclienttestsaccountsascreatequeue700443b",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://gapradev.queue.core.windows.net/queuesasclienttestsaccountsascreatequeue700443b/messages",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>877c2a55-8d72-4498-9a3c-7fa1ad428213</MessageId><InsertionTime>Thu, 12 Mar 2020 22:40:45 GMT</InsertionTime><ExpirationTime>Thu, 19 Mar 2020 22:40:45 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAZhcPRb/41QE=</PopReceipt><TimeNextVisible>Thu, 12 Mar 2020 22:40:45 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.queue.core.windows.net/queuesasclienttestsaccountsascreatequeue4230956?sv=2019-10-10&ss=q&srt=sco&se=2020-03-13T22%3A40%3A45Z&sp=rdc&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gapradev.queue.core.windows.net/queuesasclienttestsaccountsascreatequeue4230956?sv=2019-10-10&ss=q&srt=sco&se=2020-03-13T22%3A40%3A45Z&sp=rdc&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  } ],
  "variables" : [ "queuesasclienttestsaccountsascreatequeue700443b", "2020-03-12T22:40:45.908076500Z", "queuesasclienttestsaccountsascreatequeue4230956" ]
}