{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queuesastestsaccountsascreatedeletequeue675881938c53?sv=2019-02-02&ss=q&srt=sco&se=2019-12-13T21%3A49%3A20Z&sp=rdc&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queuesastestsaccountsascreatedeletequeue675881938c53?sv=2019-02-02&ss=q&srt=sco&se=2019-12-13T21%3A49%3A20Z&sp=rdc&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  } ],
  "variables" : [ "queuesastestsaccountsascreatedeletequeue37178d95ced3", "2019-12-12T21:49:20.150535600Z", "queuesastestsaccountsascreatedeletequeue675881938c53" ]
}