{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queuesasclienttestsqueuesasupdatedeletewithpermissions49212",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queuesasclienttestsqueuesasupdatedeletewithpermissions49212/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e3554a59-7e4e-4ded-b475-0ec0e8d0bf1b</MessageId><InsertionTime>Wed, 11 Dec 2019 23:46:16 GMT</InsertionTime><ExpirationTime>Wed, 18 Dec 2019 23:46:16 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAX+ryLX2w1QE=</PopReceipt><TimeNextVisible>Wed, 11 Dec 2019 23:46:16 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queuesasclienttestsqueuesasupdatedeletewithpermissions49212/messages/e3554a59-7e4e-4ded-b475-0ec0e8d0bf1b?popreceipt=AgAAAAMAAAAAAAAAX%2bryLX2w1QE%3d&visibilitytimeout=0&sv=2019-02-02&spr=https%2Chttp&st=2019-12-10T23%3A46%3A16Z&se=2019-12-12T23%3A46%3A16Z&sip=0.0.0.0-255.255.255.255&sp=raup&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-time-next-visible" : "Wed, 11 Dec 2019 23:46:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "204",
      "x-ms-popreceipt" : "AwAAAAMAAAAAAAAAFf0FLn2w1QEAAAAA"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queuesasclienttestsqueuesasupdatedeletewithpermissions49212/messages?numofmessages=1&visibilitytimeout=30&sv=2019-02-02&spr=https%2Chttp&st=2019-12-10T23%3A46%3A16Z&se=2019-12-12T23%3A46%3A16Z&sip=0.0.0.0-255.255.255.255&sp=raup&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e3554a59-7e4e-4ded-b475-0ec0e8d0bf1b</MessageId><InsertionTime>Wed, 11 Dec 2019 23:46:16 GMT</InsertionTime><ExpirationTime>Wed, 18 Dec 2019 23:46:16 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAACVvsP32w1QE=</PopReceipt><TimeNextVisible>Wed, 11 Dec 2019 23:46:46 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>testing</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queuesasclienttestsqueuesasupdatedeletewithpermissions49212?sv=2019-02-02&spr=https%2Chttp&st=2019-12-10T23%3A46%3A16Z&se=2019-12-12T23%3A46%3A16Z&sip=0.0.0.0-255.255.255.255&sp=raup&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "AuthorizationFailure",
      "retry-after" : "0",
      "StatusCode" : "403",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\nRequestId:3c0e52c0-7003-001b-6c7d-b01ee4000000\nTime:2019-12-11T23:46:16.7468358Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queuesasclienttestsqueuesasupdatedeletewithpermissions49212", "2019-12-11T23:46:16.596058500Z", "2019-12-11T23:46:16.604068500Z", "queue83333268" ]
}