{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.queue.core.windows.net/queueaysncapitestsclearmessages10545e15702ae9dbd",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://gapradev.queue.core.windows.net/queueaysncapitestsclearmessages10545e15702ae9dbd/messages",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f2e4fc19-9bc3-4c9e-a9fb-f8f9602d6e06</MessageId><InsertionTime>Tue, 11 Feb 2020 00:25:00 GMT</InsertionTime><ExpirationTime>Tue, 18 Feb 2020 00:25:00 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAO5M4snHg1QE=</PopReceipt><TimeNextVisible>Tue, 11 Feb 2020 00:25:00 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.queue.core.windows.net/queueaysncapitestsclearmessages10545e15702ae9dbd?comp=metadata",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "x-ms-approximate-messages-count" : "3",
      "StatusCode" : "200"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.queue.core.windows.net/queueaysncapitestsclearmessages10545e15702ae9dbd?comp=metadata",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "x-ms-approximate-messages-count" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueaysncapitestsclearmessages10545e15702ae9dbd" ]
}