{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/dequeuemultiplemessages8302951003ab465fd4136",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/dequeuemultiplemessages8302951003ab465fd4136/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>59dbf21b-0c1e-4111-b8b4-0c45ed218aa0</MessageId><InsertionTime>Tue, 03 Dec 2019 23:34:42 GMT</InsertionTime><ExpirationTime>Tue, 10 Dec 2019 23:34:42 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAGLEBPTKq1QE=</PopReceipt><TimeNextVisible>Tue, 03 Dec 2019 23:34:42 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/dequeuemultiplemessages8302951003ab465fd4136/messages?numofmessages=2",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>59dbf21b-0c1e-4111-b8b4-0c45ed218aa0</MessageId><InsertionTime>Tue, 03 Dec 2019 23:34:42 GMT</InsertionTime><ExpirationTime>Tue, 10 Dec 2019 23:34:42 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAmkHtTjKq1QE=</PopReceipt><TimeNextVisible>Tue, 03 Dec 2019 23:35:12 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message 1</MessageText></QueueMessage><QueueMessage><MessageId>0c07b05c-b698-4812-beac-fa1c6e7e935b</MessageId><InsertionTime>Tue, 03 Dec 2019 23:34:42 GMT</InsertionTime><ExpirationTime>Tue, 10 Dec 2019 23:34:42 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAmkHtTjKq1QE=</PopReceipt><TimeNextVisible>Tue, 03 Dec 2019 23:35:12 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message 2</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "dequeuemultiplemessages8302951003ab465fd4136" ]
}