{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.queue.core.windows.net/queuesastestsaccountsasnetworkonendpoint50654685ead2?sv=2019-07-07&se=2020-02-12T00%3A26%3A14Z&sp=rwdlc&sig=REDACTED&ss=q&srt=sco",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gapradev.queue.core.windows.net/queuesastestsaccountsasnetworkonendpoint50654685ead2?sv=2019-07-07&se=2020-02-12T00%3A26%3A14Z&sp=rwdlc&sig=REDACTED&ss=q&srt=sco",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  } ],
  "variables" : [ "queuesastestsaccountsasnetworkonendpoint195899887a98", "2020-02-11T00:26:14.144580200Z", "queuesastestsaccountsasnetworkonendpoint50654685ead2" ]
}