{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestssetinvalidmeta016360e08086ad8e7",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestssetinvalidmeta016360e08086ad8e7?comp=metadata",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-error-code" : "AuthenticationFailed",
      "retry-after" : "0",
      "StatusCode" : "403",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\nRequestId:9c1908dc-9003-0099-0bcf-5ebfb4000000\nTime:2019-08-30T01:11:40.2014416Z</Message><AuthenticationErrorDetail>The MAC signature found in the HTTP request '8VejqLPKqJczOOqxJZWRvPW7NFZErmx4iu2GQ6/vHB8=' is not the same as any computed signature. Server used following string to sign: 'PUT\n\n\n\n\n\nFri, 30 Aug 2019 01:11:40 GMT\n\n\n\n\n\nx-ms-client-request-id:28c990a9-90c3-4956-8652-f4630f901d5e\nx-ms-meta-invalidmeta:value\nx-ms-version:2018-03-28\n/azstoragesdkaccount/queueaysncapitestssetinvalidmeta016360e08086ad8e7\ncomp:metadata'.</AuthenticationErrorDetail></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueaysncapitestssetinvalidmeta016360e08086ad8e7" ]
}