{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/deletemessageinvalidargs5611849b3a90505494d3",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/deletemessageinvalidargs5611849b3a90505494d3/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fa0e6ddc-3e9b-46f3-b791-6f9c0b71231d</MessageId><InsertionTime>Tue, 03 Dec 2019 23:34:35 GMT</InsertionTime><ExpirationTime>Tue, 10 Dec 2019 23:34:35 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA8aN9ODKq1QE=</PopReceipt><TimeNextVisible>Tue, 03 Dec 2019 23:34:35 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/deletemessageinvalidargs5611849b3a90505494d3/messages?numofmessages=1",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fa0e6ddc-3e9b-46f3-b791-6f9c0b71231d</MessageId><InsertionTime>Tue, 03 Dec 2019 23:34:35 GMT</InsertionTime><ExpirationTime>Tue, 10 Dec 2019 23:34:35 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA2kloSjKq1QE=</PopReceipt><TimeNextVisible>Tue, 03 Dec 2019 23:35:05 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/deletemessageinvalidargs5611849b3a90505494d3/messages/fa0e6ddc-3e9b-46f3-b791-6f9c0b71231d?popreceipt=AgAAAAMAAAAAAAAA2kloSjKq1QE%3dRandom",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "InvalidQueryParameterValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidQueryParameterValue</Code><Message>Value for one of the query parameters specified in the request URI is invalid.\nRequestId:62cd72be-0003-0072-1832-aa4148000000\nTime:2019-12-03T23:34:35.1174051Z</Message><QueryParameterName>popreceipt</QueryParameterName><QueryParameterValue>AgAAAAMAAAAAAAAA2kloSjKq1QE=Random</QueryParameterValue><Reason>Invalid pop receipt format</Reason></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "deletemessageinvalidargs5611849b3a90505494d3" ]
}