{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessage95419cc48c1bf915842",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessage95419cc48c1bf915842/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b74a7f0b-dba6-483e-adf5-c3e78bddf919</MessageId><InsertionTime>Thu, 22 Aug 2019 04:13:09 GMT</InsertionTime><ExpirationTime>Thu, 29 Aug 2019 04:13:09 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAZOlG6J9Y1QE=</PopReceipt><TimeNextVisible>Thu, 22 Aug 2019 04:13:09 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessage95419cc48c1bf915842/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b74a7f0b-dba6-483e-adf5-c3e78bddf919</MessageId><InsertionTime>Thu, 22 Aug 2019 04:13:09 GMT</InsertionTime><ExpirationTime>Thu, 29 Aug 2019 04:13:09 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAPlBT+p9Y1QE=</PopReceipt><TimeNextVisible>Thu, 22 Aug 2019 04:13:40 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message before update</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessage95419cc48c1bf915842/messages/b74a7f0b-dba6-483e-adf5-c3e78bddf919?popreceipt=AgAAAAMAAAAAAAAAPlBT%2bp9Y1QE%3d&visibilitytimeout=1",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-time-next-visible" : "Thu, 22 Aug 2019 04:13:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "204",
      "x-ms-popreceipt" : "AwAAAAMAAAAAAAAAL00a6Z9Y1QEBAAAA"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessage95419cc48c1bf915842/messages?peekonly=true",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b74a7f0b-dba6-483e-adf5-c3e78bddf919</MessageId><InsertionTime>Thu, 22 Aug 2019 04:13:09 GMT</InsertionTime><ExpirationTime>Thu, 29 Aug 2019 04:13:09 GMT</ExpirationTime><DequeueCount>1</DequeueCount><MessageText>Updated test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queueapitestsupdatemessage95419cc48c1bf915842" ]
}