{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/updatemessageinvalidargs06205512b0e4bc5ce410",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/updatemessageinvalidargs06205512b0e4bc5ce410/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>50f6caf5-9067-4a1a-afaa-705f40067dd0</MessageId><InsertionTime>Thu, 12 Dec 2019 17:44:26 GMT</InsertionTime><ExpirationTime>Thu, 19 Dec 2019 17:44:26 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAApGp0zBOx1QE=</PopReceipt><TimeNextVisible>Thu, 12 Dec 2019 17:44:26 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/updatemessageinvalidargs06205512b0e4bc5ce410/messages?numofmessages=1",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>50f6caf5-9067-4a1a-afaa-705f40067dd0</MessageId><InsertionTime>Thu, 12 Dec 2019 17:44:26 GMT</InsertionTime><ExpirationTime>Thu, 19 Dec 2019 17:44:26 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAk+9a3hOx1QE=</PopReceipt><TimeNextVisible>Thu, 12 Dec 2019 17:44:57 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message before update</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/updatemessageinvalidargs06205512b0e4bc5ce410/messages/50f6caf5-9067-4a1a-afaa-705f40067dd0Random?popreceipt=AgAAAAMAAAAAAAAAk%2b9a3hOx1QE%3d&visibilitytimeout=1",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "MessageNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>MessageNotFound</Code><Message>The specified message does not exist.\nRequestId:2449ca20-6003-00e1-1e13-b1d703000000\nTime:2019-12-12T17:44:27.0633401Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net?prefix=updatemessageinvalidargs&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.queue.core.windows.net/\"><Prefix>updatemessageinvalidargs</Prefix><Queues><Queue><Name>updatemessageinvalidargs06205512b0e4bc5ce410</Name></Queue></Queues><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/updatemessageinvalidargs06205512b0e4bc5ce410",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  } ],
  "variables" : [ "updatemessageinvalidargs06205512b0e4bc5ce410" ]
}