{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessage091955dcc90dacb6344",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessage091955dcc90dacb6344/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4f37034b-849e-474c-8ac8-f20696af459d</MessageId><InsertionTime>Fri, 30 Aug 2019 01:11:34 GMT</InsertionTime><ExpirationTime>Fri, 06 Sep 2019 01:11:34 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAT1N03c9e1QE=</PopReceipt><TimeNextVisible>Fri, 30 Aug 2019 01:11:34 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessage091955dcc90dacb6344/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4f37034b-849e-474c-8ac8-f20696af459d</MessageId><InsertionTime>Fri, 30 Aug 2019 01:11:34 GMT</InsertionTime><ExpirationTime>Fri, 06 Sep 2019 01:11:34 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAWzlc789e1QE=</PopReceipt><TimeNextVisible>Fri, 30 Aug 2019 01:12:04 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message before update</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessage091955dcc90dacb6344/messages/4f37034b-849e-474c-8ac8-f20696af459d?popreceipt=AgAAAAMAAAAAAAAAWzlc789e1QE%3d&visibilitytimeout=1",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-time-next-visible" : "Fri, 30 Aug 2019 01:11:35 GMT",
      "retry-after" : "0",
      "StatusCode" : "204",
      "x-ms-popreceipt" : "AwAAAAMAAAAAAAAA7gMp3s9e1QEBAAAA"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessage091955dcc90dacb6344/messages?peekonly=true",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4f37034b-849e-474c-8ac8-f20696af459d</MessageId><InsertionTime>Fri, 30 Aug 2019 01:11:34 GMT</InsertionTime><ExpirationTime>Fri, 06 Sep 2019 01:11:34 GMT</ExpirationTime><DequeueCount>1</DequeueCount><MessageText>Updated test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueapitestsupdatemessage091955dcc90dacb6344" ]
}