{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.queue.core.windows.net/queueapitestspeekmessagequeueapitestspeekmessagef2f770737d",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://gapradev.queue.core.windows.net/queueapitestspeekmessagequeueapitestspeekmessagef2f770737d/messages",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ab956bbc-8ecd-460f-a3c1-70e50a07df67</MessageId><InsertionTime>Tue, 11 Feb 2020 00:24:40 GMT</InsertionTime><ExpirationTime>Tue, 18 Feb 2020 00:24:40 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAUn2lpnHg1QE=</PopReceipt><TimeNextVisible>Tue, 11 Feb 2020 00:24:40 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.queue.core.windows.net/queueapitestspeekmessagequeueapitestspeekmessagef2f770737d/messages?peekonly=true",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ab956bbc-8ecd-460f-a3c1-70e50a07df67</MessageId><InsertionTime>Tue, 11 Feb 2020 00:24:40 GMT</InsertionTime><ExpirationTime>Tue, 18 Feb 2020 00:24:40 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueapitestspeekmessagequeueapitestspeekmessagef2f770737d" ]
}