{
  "networkCallRecords" : [ {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/deletequeueerrorqueueapitestsdeletequeueerrorf2b71509526",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "QueueNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The specified queue does not exist.\nRequestId:62cd6947-0003-0072-2f32-aa4148000000\nTime:2019-12-03T23:34:29.2107729Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "deletequeueerrorqueueapitestsdeletequeueerrorf2b71509526" ]
}