{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gapradev.queue.core.windows.net/e7bc4b6553",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "http://gapradev.queue.core.windows.net/e7bc4b6553/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6cd99460-8e47-49df-9c88-6f3caab797ef</MessageId><InsertionTime>Tue, 03 Dec 2019 16:30:06 GMT</InsertionTime><ExpirationTime>Tue, 10 Dec 2019 16:30:06 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAs8ju6/ap1QE=</PopReceipt><TimeNextVisible>Tue, 03 Dec 2019 16:30:06 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gapradev.queue.core.windows.net/queue?sv=2019-02-02&ss=q&srt=sco&se=2019-12-04T16%3A30%3A06Z&sp=rdc&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://gapradev.queue.core.windows.net/queue?sv=2019-02-02&ss=q&srt=sco&se=2019-12-04T16%3A30%3A06Z&sp=rdc&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  } ],
  "variables" : [ "e7bc4b6553", "2019-12-03T16:30:06.281838600Z" ]
}