{
  "networkCallRecords" : [ {
    "Method" : "PUT",
<<<<<<< HEAD:sdk/storage/azure-storage-queue/src/test/resources/session-records/QueueServiceAsyncAPITestsListQueues0.json
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueserviceasyncapitestslistqueues009680da03558a90",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
=======
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue11138203",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
>>>>>>> e0117285eed... queue async:sdk/storage/azure-storage-queue/src/test/resources/session-records/deleteExistingQueue.json
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
<<<<<<< HEAD:sdk/storage/azure-storage-queue/src/test/resources/session-records/QueueServiceAsyncAPITestsListQueues0.json
      "x-ms-request-id" : "b9c9cbdd-2003-0008-3088-532b05000000",
      "Date" : "Thu, 15 Aug 2019 16:40:51 GMT"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue11138203",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
>>>>>>> e0117285eed... queue async:sdk/storage/azure-storage-queue/src/test/resources/session-records/deleteExistingQueue.json
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0"
<<<<<<< HEAD:sdk/storage/azure-storage-queue/src/test/resources/session-records/QueueServiceAsyncAPITestsListQueues0.json
      "StatusCode" : "201",
      "x-ms-request-id" : "b9c9cbe6-2003-0008-3788-532b05000000",
      "Date" : "Thu, 15 Aug 2019 16:40:51 GMT"
    }
[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue11138203/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
>>>>>>> e0117285eed... queue async:sdk/storage/azure-storage-queue/src/test/resources/session-records/deleteExistingQueue.json
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0"
<<<<<<< HEAD:sdk/storage/azure-storage-queue/src/test/resources/session-records/QueueServiceAsyncAPITestsListQueues0.json
      "Content-Length" : "0",
      "StatusCode" : "201",
      "x-ms-request-id" : "b9c9cbf2-2003-0008-3f88-532b05000000",
      "Date" : "Thu, 15 Aug 2019 16:40:51 GMT"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net?prefix=queueserviceasyncapitestslistqueues&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
=======
      "Content-Length" : "217",
      "StatusCode" : "404",
      "x-ms-request-id" : "66e682d8-f003-0127-3431-4eec6a000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The specified queue does not exist.\nRequestId:66e682d8-f003-0127-3431-4eec6a000000\nTime:2019-08-08T21:34:22.4851899Z</Message></Error>",
      "Date" : "Thu, 08 Aug 2019 21:34:21 GMT",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net?prefix=queue11138203&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
>>>>>>> e0117285eed... queue async:sdk/storage/azure-storage-queue/src/test/resources/session-records/deleteExistingQueue.json
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD:sdk/storage/azure-storage-queue/src/test/resources/session-records/QueueServiceAsyncAPITestsListQueues0.json
      "x-ms-request-id" : "b9c9cbfa-2003-0008-4688-532b05000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.queue.core.windows.net/\"><Prefix>queueserviceasyncapitestslistqueues</Prefix><Queues><Queue><Name>queueserviceasyncapitestslistqueues009680da03558a90</Name></Queue><Queue><Name>queueserviceasyncapitestslistqueues009680da03558a91</Name></Queue><Queue><Name>queueserviceasyncapitestslistqueues009680da03558a92</Name></Queue></Queues><NextMarker /></EnumerationResults>",
      "Date" : "Thu, 15 Aug 2019 16:40:51 GMT",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queueserviceasyncapitestslistqueues009680da03558a9" ]
=======
      "x-ms-request-id" : "66e682e9-f003-0127-4531-4eec6a000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.queue.core.windows.net/\"><Prefix>queue11138203</Prefix><Queues /><NextMarker /></EnumerationResults>",
      "Date" : "Thu, 08 Aug 2019 21:34:21 GMT",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queue11138203" ]
>>>>>>> e0117285eed... queue async:sdk/storage/azure-storage-queue/src/test/resources/session-records/deleteExistingQueue.json
}