{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs244000add4302d",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs244000add4302d/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6e27cb73-32b7-46fb-88f8-4dc338d63dcf</MessageId><InsertionTime>Fri, 16 Aug 2019 17:50:29 GMT</InsertionTime><ExpirationTime>Fri, 23 Aug 2019 17:50:29 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAASz30F1tU1QE=</PopReceipt><TimeNextVisible>Fri, 16 Aug 2019 17:50:29 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs244000add4302d/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>6e27cb73-32b7-46fb-88f8-4dc338d63dcf</MessageId><InsertionTime>Fri, 16 Aug 2019 17:50:29 GMT</InsertionTime><ExpirationTime>Fri, 23 Aug 2019 17:50:29 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAesPaKVtU1QE=</PopReceipt><TimeNextVisible>Fri, 16 Aug 2019 17:50:59 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs244000add4302d/messages/6e27cb73-32b7-46fb-88f8-4dc338d63dcfRandom?popreceipt=AgAAAAMAAAAAAAAAesPaKVtU1QE%3dRandom",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-error-code" : "InvalidQueryParameterValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidQueryParameterValue</Code><Message>Value for one of the query parameters specified in the request URI is invalid.\nRequestId:6647a23f-b003-000d-395b-54df7a000000\nTime:2019-08-16T17:50:29.8548035Z</Message><QueryParameterName>popreceipt</QueryParameterName><QueryParameterValue>AgAAAAMAAAAAAAAAesPaKVtU1QE=Random</QueryParameterValue><Reason>Invalid pop receipt format</Reason></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queueapitestsdeletemessageinvalidargs244000add4302d" ]
}