{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queuesasteststestqueuesasenqueuedequeuewithidentifier79261b",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queuesasteststestqueuesasenqueuedequeuewithidentifier79261b/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4cac3342-1e4f-49d2-9b3d-b83998214c4f</MessageId><InsertionTime>Fri, 08 Nov 2019 22:32:29 GMT</InsertionTime><ExpirationTime>Fri, 15 Nov 2019 22:32:29 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAfzDgZ4SW1QE=</PopReceipt><TimeNextVisible>Fri, 08 Nov 2019 22:32:29 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queuesasteststestqueuesasenqueuedequeuewithidentifier79261b?comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queuesasteststestqueuesasenqueuedequeuewithidentifier79261b/messages?sv=2019-02-02&si=62ecbebd-7fc6-4731-9f1a-22cee934b51c&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>59980060-d85f-4339-af20-eb925efee96f</MessageId><InsertionTime>Fri, 08 Nov 2019 22:32:30 GMT</InsertionTime><ExpirationTime>Fri, 15 Nov 2019 22:32:30 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAQKHtZ4SW1QE=</PopReceipt><TimeNextVisible>Fri, 08 Nov 2019 22:32:30 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queuesasteststestqueuesasenqueuedequeuewithidentifier79261b/messages?numofmessages=2&visibilitytimeout=30&sv=2019-02-02&si=62ecbebd-7fc6-4731-9f1a-22cee934b51c&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>4cac3342-1e4f-49d2-9b3d-b83998214c4f</MessageId><InsertionTime>Fri, 08 Nov 2019 22:32:29 GMT</InsertionTime><ExpirationTime>Fri, 15 Nov 2019 22:32:29 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAonXUeYSW1QE=</PopReceipt><TimeNextVisible>Fri, 08 Nov 2019 22:33:00 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test</MessageText></QueueMessage><QueueMessage><MessageId>59980060-d85f-4339-af20-eb925efee96f</MessageId><InsertionTime>Fri, 08 Nov 2019 22:32:30 GMT</InsertionTime><ExpirationTime>Fri, 15 Nov 2019 22:32:30 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAonXUeYSW1QE=</PopReceipt><TimeNextVisible>Fri, 08 Nov 2019 22:33:00 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>sastest</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queuesasteststestqueuesasenqueuedequeuewithidentifier79261b", "2019-11-08T22:32:30.008805200Z", "2019-11-08T22:32:30.010833500Z", "62ecbebd-7fc6-4731-9f1a-22cee934b51c", "queue82514678" ]
}