{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessageinvalidargs1346290ae7d47b",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessageinvalidargs1346290ae7d47b/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>0222cc0e-60b9-4ee2-b05b-6c533015f593</MessageId><InsertionTime>Tue, 15 Oct 2019 19:19:45 GMT</InsertionTime><ExpirationTime>Tue, 22 Oct 2019 19:19:45 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAspQwgY2D1QE=</PopReceipt><TimeNextVisible>Tue, 15 Oct 2019 19:19:45 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessageinvalidargs1346290ae7d47b/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>0222cc0e-60b9-4ee2-b05b-6c533015f593</MessageId><InsertionTime>Tue, 15 Oct 2019 19:19:45 GMT</InsertionTime><ExpirationTime>Tue, 22 Oct 2019 19:19:45 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA4xoXk42D1QE=</PopReceipt><TimeNextVisible>Tue, 15 Oct 2019 19:20:15 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message before update</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessageinvalidargs1346290ae7d47b/messages/0222cc0e-60b9-4ee2-b05b-6c533015f593Random?popreceipt=AgAAAAMAAAAAAAAA4xoXk42D1QE%3d&visibilitytimeout=1",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-error-code" : "MessageNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>MessageNotFound</Code><Message>The specified message does not exist.\nRequestId:2f7e8af5-f003-0082-7d8d-839126000000\nTime:2019-10-15T19:19:45.9036300Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueapitestsupdatemessageinvalidargs1346290ae7d47b" ]
}