{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessage20169d5232703cfab4c",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessage20169d5232703cfab4c/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8a490ffe-b89a-4c2a-8fc5-006f68ba8859</MessageId><InsertionTime>Thu, 29 Aug 2019 18:31:22 GMT</InsertionTime><ExpirationTime>Thu, 05 Sep 2019 18:31:22 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA4UUw9Zde1QE=</PopReceipt><TimeNextVisible>Thu, 29 Aug 2019 18:31:22 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessage20169d5232703cfab4c/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8a490ffe-b89a-4c2a-8fc5-006f68ba8859</MessageId><InsertionTime>Thu, 29 Aug 2019 18:31:22 GMT</InsertionTime><ExpirationTime>Thu, 05 Sep 2019 18:31:22 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA9tynCJhe1QE=</PopReceipt><TimeNextVisible>Thu, 29 Aug 2019 18:31:55 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message before update</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessage20169d5232703cfab4c/messages/8a490ffe-b89a-4c2a-8fc5-006f68ba8859?popreceipt=AgAAAAMAAAAAAAAA9tynCJhe1QE%3d&visibilitytimeout=1",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-time-next-visible" : "Thu, 29 Aug 2019 18:31:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "204",
      "x-ms-popreceipt" : "AwAAAAMAAAAAAAAAPhiC95de1QEBAAAA"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessage20169d5232703cfab4c/messages?peekonly=true",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8a490ffe-b89a-4c2a-8fc5-006f68ba8859</MessageId><InsertionTime>Thu, 29 Aug 2019 18:31:22 GMT</InsertionTime><ExpirationTime>Thu, 05 Sep 2019 18:31:22 GMT</ExpirationTime><DequeueCount>1</DequeueCount><MessageText>Updated test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueapitestsupdatemessage20169d5232703cfab4c" ]
}