{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueserviceasyncapitestscreatequeue521554a9cfcc30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueserviceasyncapitestscreatequeue521554a9cfcc30/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>32773691-e38e-4dd7-a68a-b8e0f381a0a7</MessageId><InsertionTime>Thu, 22 Aug 2019 18:30:21 GMT</InsertionTime><ExpirationTime>Thu, 29 Aug 2019 18:30:21 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAWrcbqBdZ1QE=</PopReceipt><TimeNextVisible>Thu, 22 Aug 2019 18:30:21 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queueserviceasyncapitestscreatequeue521554a9cfcc30" ]
}