{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs2949322bfc0573",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs2949322bfc0573/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>cae6d4d7-dd70-4aeb-9e2b-d3cb71d29693</MessageId><InsertionTime>Wed, 04 Sep 2019 01:45:47 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 01:45:47 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA0OJuecJi1QE=</PopReceipt><TimeNextVisible>Wed, 04 Sep 2019 01:45:47 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs2949322bfc0573/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>cae6d4d7-dd70-4aeb-9e2b-d3cb71d29693</MessageId><InsertionTime>Wed, 04 Sep 2019 01:45:47 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 01:45:47 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAGhdXi8Ji1QE=</PopReceipt><TimeNextVisible>Wed, 04 Sep 2019 01:46:17 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs2949322bfc0573/messages/cae6d4d7-dd70-4aeb-9e2b-d3cb71d29693Random?popreceipt=AgAAAAMAAAAAAAAAGhdXi8Ji1QE%3dRandom",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-error-code" : "InvalidQueryParameterValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidQueryParameterValue</Code><Message>Value for one of the query parameters specified in the request URI is invalid.\nRequestId:b18148df-6003-00c8-3dc2-62a141000000\nTime:2019-09-04T01:45:47.8548519Z</Message><QueryParameterName>popreceipt</QueryParameterName><QueryParameterValue>AgAAAAMAAAAAAAAAGhdXi8Ji1QE=Random</QueryParameterValue><Reason>Invalid pop receipt format</Reason></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueapitestsdeletemessageinvalidargs2949322bfc0573" ]
}