{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsenqueuemessage876157c2d29e75eb94c",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsenqueuemessage876157c2d29e75eb94c/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8f6d118b-323d-47bd-99a2-b2511d67452e</MessageId><InsertionTime>Fri, 08 Nov 2019 22:32:12 GMT</InsertionTime><ExpirationTime>Fri, 15 Nov 2019 22:32:12 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAABSdjXYSW1QE=</PopReceipt><TimeNextVisible>Fri, 08 Nov 2019 22:32:12 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsenqueuemessage876157c2d29e75eb94c/messages?peekonly=true",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8f6d118b-323d-47bd-99a2-b2511d67452e</MessageId><InsertionTime>Fri, 08 Nov 2019 22:32:12 GMT</InsertionTime><ExpirationTime>Fri, 15 Nov 2019 22:32:12 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueapitestsenqueuemessage876157c2d29e75eb94c" ]
}