{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsdequeuemessage3274382b83855667",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsdequeuemessage3274382b83855667/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8cf6ace1-f60f-4515-a30c-e4f2c117a672</MessageId><InsertionTime>Fri, 08 Nov 2019 22:32:23 GMT</InsertionTime><ExpirationTime>Fri, 15 Nov 2019 22:32:23 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAXrq2Y4SW1QE=</PopReceipt><TimeNextVisible>Fri, 08 Nov 2019 22:32:23 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsdequeuemessage3274382b83855667/messages?numofmessages=1",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8cf6ace1-f60f-4515-a30c-e4f2c117a672</MessageId><InsertionTime>Fri, 08 Nov 2019 22:32:23 GMT</InsertionTime><ExpirationTime>Fri, 15 Nov 2019 22:32:23 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA4bWddYSW1QE=</PopReceipt><TimeNextVisible>Fri, 08 Nov 2019 22:32:53 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueaysncapitestsdequeuemessage3274382b83855667" ]
}