{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsenqueueemptymessage990422b428b368a1",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsenqueueemptymessage990422b428b368a1/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>56a41b07-1aa7-4bf9-bad1-3bc5163bd100</MessageId><InsertionTime>Fri, 08 Nov 2019 22:32:12 GMT</InsertionTime><ExpirationTime>Fri, 15 Nov 2019 22:32:12 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAWUF/XYSW1QE=</PopReceipt><TimeNextVisible>Fri, 08 Nov 2019 22:32:12 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsenqueueemptymessage990422b428b368a1/messages?peekonly=true",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>56a41b07-1aa7-4bf9-bad1-3bc5163bd100</MessageId><InsertionTime>Fri, 08 Nov 2019 22:32:12 GMT</InsertionTime><ExpirationTime>Fri, 15 Nov 2019 22:32:12 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText /></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueapitestsenqueueemptymessage990422b428b368a1" ]
}