{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsenqueuemessage181086f84c4d218a",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsenqueuemessage181086f84c4d218a/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2c9f8bc9-3716-48c2-b578-77c8aff50f72</MessageId><InsertionTime>Mon, 11 Nov 2019 23:20:39 GMT</InsertionTime><ExpirationTime>Mon, 18 Nov 2019 23:20:39 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAOIBzoeaY1QE=</PopReceipt><TimeNextVisible>Mon, 11 Nov 2019 23:20:39 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsenqueuemessage181086f84c4d218a/messages?peekonly=true",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2c9f8bc9-3716-48c2-b578-77c8aff50f72</MessageId><InsertionTime>Mon, 11 Nov 2019 23:20:39 GMT</InsertionTime><ExpirationTime>Mon, 18 Nov 2019 23:20:39 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueaysncapitestsenqueuemessage181086f84c4d218a" ]
}