{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queuesasteststestqueuesasenqueuedequeuewithidentifier372077",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queuesasteststestqueuesasenqueuedequeuewithidentifier372077/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>9a22ae30-d30c-4467-82ef-15fe254b01c0</MessageId><InsertionTime>Fri, 30 Aug 2019 01:11:51 GMT</InsertionTime><ExpirationTime>Fri, 06 Sep 2019 01:11:51 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAQ0h1589e1QE=</PopReceipt><TimeNextVisible>Fri, 30 Aug 2019 01:11:51 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queuesasteststestqueuesasenqueuedequeuewithidentifier372077?comp=acl",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queuesasteststestqueuesasenqueuedequeuewithidentifier372077/messages?sv=2019-02-02&si=e06dcf2f-be28-4a37-85fe-e2bbfef50fa9&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>59974686-8478-4a1d-9082-d8192a5f7111</MessageId><InsertionTime>Fri, 30 Aug 2019 01:11:51 GMT</InsertionTime><ExpirationTime>Fri, 06 Sep 2019 01:11:51 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAALi6D589e1QE=</PopReceipt><TimeNextVisible>Fri, 30 Aug 2019 01:11:51 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queuesasteststestqueuesasenqueuedequeuewithidentifier372077/messages?numofmessages=2&visibilitytimeout=30&sv=2019-02-02&si=e06dcf2f-be28-4a37-85fe-e2bbfef50fa9&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>9a22ae30-d30c-4467-82ef-15fe254b01c0</MessageId><InsertionTime>Fri, 30 Aug 2019 01:11:51 GMT</InsertionTime><ExpirationTime>Fri, 06 Sep 2019 01:11:51 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAA8Zq+c9e1QE=</PopReceipt><TimeNextVisible>Fri, 30 Aug 2019 01:12:21 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test</MessageText></QueueMessage><QueueMessage><MessageId>59974686-8478-4a1d-9082-d8192a5f7111</MessageId><InsertionTime>Fri, 30 Aug 2019 01:11:51 GMT</InsertionTime><ExpirationTime>Fri, 06 Sep 2019 01:11:51 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAA8Zq+c9e1QE=</PopReceipt><TimeNextVisible>Fri, 30 Aug 2019 01:12:21 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>sastest</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queuesasteststestqueuesasenqueuedequeuewithidentifier372077", "2019-08-30T01:11:51.232Z", "2019-08-30T01:11:51.234Z", "e06dcf2f-be28-4a37-85fe-e2bbfef50fa9", "queue80651d0a" ]
}