{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.queue.core.windows.net/queueaysncapitestsenqueuemessage0039334abba6db74",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://gapradev.queue.core.windows.net/queueaysncapitestsenqueuemessage0039334abba6db74/messages",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fdfed826-f466-41b3-b070-f299e82ab6cb</MessageId><InsertionTime>Tue, 11 Feb 2020 00:24:56 GMT</InsertionTime><ExpirationTime>Tue, 18 Feb 2020 00:24:56 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA+twDsHHg1QE=</PopReceipt><TimeNextVisible>Tue, 11 Feb 2020 00:24:56 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.queue.core.windows.net/queueaysncapitestsenqueuemessage0039334abba6db74/messages?peekonly=true",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fdfed826-f466-41b3-b070-f299e82ab6cb</MessageId><InsertionTime>Tue, 11 Feb 2020 00:24:56 GMT</InsertionTime><ExpirationTime>Tue, 18 Feb 2020 00:24:56 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueaysncapitestsenqueuemessage0039334abba6db74" ]
}