{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/deletemessagequeueaysncapitestsdeletemessage28696416918a",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/deletemessagequeueaysncapitestsdeletemessage28696416918a/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>bc6c1a79-6607-4eaf-83b2-d34bf3cb8822</MessageId><InsertionTime>Thu, 05 Sep 2019 00:14:23 GMT</InsertionTime><ExpirationTime>Thu, 12 Sep 2019 00:14:23 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAqI2u3n5j1QE=</PopReceipt><TimeNextVisible>Thu, 05 Sep 2019 00:14:23 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/deletemessagequeueaysncapitestsdeletemessage28696416918a/messages?numofmessages=1",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>bc6c1a79-6607-4eaf-83b2-d34bf3cb8822</MessageId><InsertionTime>Thu, 05 Sep 2019 00:14:23 GMT</InsertionTime><ExpirationTime>Thu, 12 Sep 2019 00:14:23 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA7vmi8H5j1QE=</PopReceipt><TimeNextVisible>Thu, 05 Sep 2019 00:14:53 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message 1</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/deletemessagequeueaysncapitestsdeletemessage28696416918a?comp=metadata",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "x-ms-approximate-messages-count" : "3",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/deletemessagequeueaysncapitestsdeletemessage28696416918a/messages/bc6c1a79-6607-4eaf-83b2-d34bf3cb8822?popreceipt=AgAAAAMAAAAAAAAA7vmi8H5j1QE%3d",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/deletemessagequeueaysncapitestsdeletemessage28696416918a?comp=metadata",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "x-ms-approximate-messages-count" : "2",
      "StatusCode" : "200"
    },
    "Exception" : null
  } ],
  "variables" : [ "deletemessagequeueaysncapitestsdeletemessage28696416918a" ]
}