{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessageinvalidargs251260f631e650",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessageinvalidargs251260f631e650/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>5383b4e0-755a-4220-a970-7847d7ce5daf</MessageId><InsertionTime>Thu, 22 Aug 2019 04:10:34 GMT</InsertionTime><ExpirationTime>Thu, 29 Aug 2019 04:10:34 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAAdCYi59Y1QE=</PopReceipt><TimeNextVisible>Thu, 22 Aug 2019 04:10:34 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessageinvalidargs251260f631e650/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>5383b4e0-755a-4220-a970-7847d7ce5daf</MessageId><InsertionTime>Thu, 22 Aug 2019 04:10:34 GMT</InsertionTime><ExpirationTime>Thu, 29 Aug 2019 04:10:34 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAd2CEnZ9Y1QE=</PopReceipt><TimeNextVisible>Thu, 22 Aug 2019 04:11:04 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message before update</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessageinvalidargs251260f631e650/messages/5383b4e0-755a-4220-a970-7847d7ce5dafRandom?popreceipt=AgAAAAMAAAAAAAAAd2CEnZ9Y1QE%3dRandom&visibilitytimeout=1",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-error-code" : "InvalidQueryParameterValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidQueryParameterValue</Code><Message>Value for one of the query parameters specified in the request URI is invalid.\nRequestId:c5c6615c-f003-010e-519f-589a28000000\nTime:2019-08-22T04:10:34.3703182Z</Message><QueryParameterName>popreceipt</QueryParameterName><QueryParameterValue>AgAAAAMAAAAAAAAAd2CEnZ9Y1QE=Random</QueryParameterValue><Reason>Invalid pop receipt format</Reason></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queueapitestsupdatemessageinvalidargs251260f631e650" ]
}