{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/peekmultiplemessages142735aea2a3be49547bba",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/peekmultiplemessages142735aea2a3be49547bba/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8f036843-78ea-4d51-9033-d5a0649b018c</MessageId><InsertionTime>Thu, 12 Dec 2019 17:44:13 GMT</InsertionTime><ExpirationTime>Thu, 19 Dec 2019 17:44:13 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAABnikxBOx1QE=</PopReceipt><TimeNextVisible>Thu, 12 Dec 2019 17:44:13 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/peekmultiplemessages142735aea2a3be49547bba/messages?numofmessages=2&peekonly=true",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8f036843-78ea-4d51-9033-d5a0649b018c</MessageId><InsertionTime>Thu, 12 Dec 2019 17:44:13 GMT</InsertionTime><ExpirationTime>Thu, 19 Dec 2019 17:44:13 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message 1</MessageText></QueueMessage><QueueMessage><MessageId>37e415bb-2daf-43cf-8c64-3f0a9482c518</MessageId><InsertionTime>Thu, 12 Dec 2019 17:44:13 GMT</InsertionTime><ExpirationTime>Thu, 19 Dec 2019 17:44:13 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message 2</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net?prefix=peekmultiplemessages&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.queue.core.windows.net/\"><Prefix>peekmultiplemessages</Prefix><Queues><Queue><Name>peekmultiplemessages142735aea2a3be49547bba</Name></Queue></Queues><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/peekmultiplemessages142735aea2a3be49547bba",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  } ],
  "variables" : [ "peekmultiplemessages142735aea2a3be49547bba" ]
}