{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/-ab",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "InvalidResourceName",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidResourceName</Code><Message>The specifed resource name contains invalid characters.\nRequestId:d056fe11-9003-0115-6a32-aab4ba000000\nTime:2019-12-03T23:35:27.4356877Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}