{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.queue.core.windows.net/queueserviceasyncapitestscreatequeuemaxoverload1178155ac",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://gapradev.queue.core.windows.net/queueserviceasyncapitestscreatequeuemaxoverload1178155ac/messages",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>e804ffa0-4d37-4ff8-876c-42d49533a470</MessageId><InsertionTime>Tue, 11 Feb 2020 00:26:23 GMT</InsertionTime><ExpirationTime>Tue, 18 Feb 2020 00:26:23 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAKPmR43Hg1QE=</PopReceipt><TimeNextVisible>Tue, 11 Feb 2020 00:26:23 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueserviceasyncapitestscreatequeuemaxoverload1178155ac" ]
}