{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueserviceasyncapitestscreatequeuemaxoverload262696c10",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueserviceasyncapitestscreatequeuemaxoverload262696c10/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>422b1734-939a-4bcc-88ea-31f9cbcdfd60</MessageId><InsertionTime>Thu, 22 Aug 2019 18:16:39 GMT</InsertionTime><ExpirationTime>Thu, 29 Aug 2019 18:16:39 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA4JTBvRVZ1QE=</PopReceipt><TimeNextVisible>Thu, 22 Aug 2019 18:16:39 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queueserviceasyncapitestscreatequeuemaxoverload262696c10" ]
}