{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/ffc92642f2",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/ffc92642f2/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a555ddcc-9a74-40b1-9b77-75ee24cddd35</MessageId><InsertionTime>Thu, 12 Dec 2019 17:44:27 GMT</InsertionTime><ExpirationTime>Thu, 19 Dec 2019 17:44:27 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAO2HfzBOx1QE=</PopReceipt><TimeNextVisible>Thu, 12 Dec 2019 17:44:27 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/ffc92642f2/messages/a555ddcc-9a74-40b1-9b77-75ee24cddd35?popreceipt=AgAAAAMAAAAAAAAAO2HfzBOx1QE%3d&visibilitytimeout=0&sv=2019-02-02&spr=https%2Chttp&st=2019-12-11T17%3A44%3A27Z&se=2019-12-13T17%3A44%3A27Z&sip=0.0.0.0-255.255.255.255&sp=raup&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-time-next-visible" : "Thu, 12 Dec 2019 17:44:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "204",
      "x-ms-popreceipt" : "AwAAAAMAAAAAAAAA/PTjzBOx1QEAAAAA"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/ffc92642f2/messages?numofmessages=1&visibilitytimeout=30&sv=2019-02-02&spr=https%2Chttp&st=2019-12-11T17%3A44%3A27Z&se=2019-12-13T17%3A44%3A27Z&sip=0.0.0.0-255.255.255.255&sp=raup&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a555ddcc-9a74-40b1-9b77-75ee24cddd35</MessageId><InsertionTime>Thu, 12 Dec 2019 17:44:27 GMT</InsertionTime><ExpirationTime>Thu, 19 Dec 2019 17:44:27 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAqrbJ3hOx1QE=</PopReceipt><TimeNextVisible>Thu, 12 Dec 2019 17:44:57 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>testing</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/ffc92642f2?sv=2019-02-02&spr=https%2Chttp&st=2019-12-11T17%3A44%3A27Z&se=2019-12-13T17%3A44%3A27Z&sip=0.0.0.0-255.255.255.255&sp=raup&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "AuthorizationFailure",
      "retry-after" : "0",
      "StatusCode" : "403",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\nRequestId:2449caf0-6003-00e1-5a13-b1d703000000\nTime:2019-12-12T17:44:27.7870253Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net?prefix=testqueuesasupdatedeletewithpermissions&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.queue.core.windows.net/\"><Prefix>testqueuesasupdatedeletewithpermissions</Prefix><Queues /><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "ffc92642f2", "2019-12-12T17:44:27.728149200Z", "2019-12-12T17:44:27.728149200Z", "queue59494cfd" ]
}