{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestspeekmultiplemessages482015df88954",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestspeekmultiplemessages482015df88954/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d78b93d2-2003-45f4-a096-b8b9fcd6e117</MessageId><InsertionTime>Fri, 30 Aug 2019 01:11:43 GMT</InsertionTime><ExpirationTime>Fri, 06 Sep 2019 01:11:43 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAY/Lp4s9e1QE=</PopReceipt><TimeNextVisible>Fri, 30 Aug 2019 01:11:43 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestspeekmultiplemessages482015df88954/messages?numofmessages=2&peekonly=true",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d78b93d2-2003-45f4-a096-b8b9fcd6e117</MessageId><InsertionTime>Fri, 30 Aug 2019 01:11:43 GMT</InsertionTime><ExpirationTime>Fri, 06 Sep 2019 01:11:43 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message 1</MessageText></QueueMessage><QueueMessage><MessageId>ae436666-6c4d-4854-a139-ab91b11422e1</MessageId><InsertionTime>Fri, 30 Aug 2019 01:11:43 GMT</InsertionTime><ExpirationTime>Fri, 06 Sep 2019 01:11:43 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message 2</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueaysncapitestspeekmultiplemessages482015df88954" ]
}