{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/1fbd3253e5",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/1fbd3253e5/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b2f39baf-ebab-44c3-8021-5dd93592e5ab</MessageId><InsertionTime>Wed, 11 Dec 2019 23:41:25 GMT</InsertionTime><ExpirationTime>Wed, 18 Dec 2019 23:41:25 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAL8FHgHyw1QE=</PopReceipt><TimeNextVisible>Wed, 11 Dec 2019 23:41:25 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/1fbd3253e5/messages?sv=2019-02-02&spr=https%2Chttp&st=2019-12-10T23%3A41%3A25Z&se=2019-12-12T23%3A41%3A25Z&sip=0.0.0.0-255.255.255.255&sp=rap&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8900cb85-a364-4808-8c6f-d5781f22be6f</MessageId><InsertionTime>Wed, 11 Dec 2019 23:41:25 GMT</InsertionTime><ExpirationTime>Wed, 18 Dec 2019 23:41:25 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA4uprgHyw1QE=</PopReceipt><TimeNextVisible>Wed, 11 Dec 2019 23:41:25 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/1fbd3253e5/messages?numofmessages=2&visibilitytimeout=30&sv=2019-02-02&spr=https%2Chttp&st=2019-12-10T23%3A41%3A25Z&se=2019-12-12T23%3A41%3A25Z&sip=0.0.0.0-255.255.255.255&sp=rap&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b2f39baf-ebab-44c3-8021-5dd93592e5ab</MessageId><InsertionTime>Wed, 11 Dec 2019 23:41:25 GMT</InsertionTime><ExpirationTime>Wed, 18 Dec 2019 23:41:25 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAhv9Yknyw1QE=</PopReceipt><TimeNextVisible>Wed, 11 Dec 2019 23:41:55 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test</MessageText></QueueMessage><QueueMessage><MessageId>8900cb85-a364-4808-8c6f-d5781f22be6f</MessageId><InsertionTime>Wed, 11 Dec 2019 23:41:25 GMT</InsertionTime><ExpirationTime>Wed, 18 Dec 2019 23:41:25 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAhv9Yknyw1QE=</PopReceipt><TimeNextVisible>Wed, 11 Dec 2019 23:41:55 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>sastest</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/1fbd3253e5/messages/b2f39baf-ebab-44c3-8021-5dd93592e5ab?popreceipt=AgAAAAMAAAAAAAAAL8FHgHyw1QE%3d&visibilitytimeout=3600&sv=2019-02-02&spr=https%2Chttp&st=2019-12-10T23%3A41%3A25Z&se=2019-12-12T23%3A41%3A25Z&sip=0.0.0.0-255.255.255.255&sp=rap&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "AuthorizationPermissionMismatch",
      "retry-after" : "0",
      "StatusCode" : "403",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationPermissionMismatch</Code><Message>This request is not authorized to perform this operation using this permission.\nRequestId:40937c9c-4003-0117-577c-b0b640000000\nTime:2019-12-11T23:41:25.5762751Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "1fbd3253e5", "2019-12-11T23:41:25.292104500Z", "2019-12-11T23:41:25.298101Z", "queue35469954" ]
}