{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestspeekmultiplemessages28366a47b6d9ea98",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestspeekmultiplemessages28366a47b6d9ea98/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ff54c1c0-fef5-4736-8401-fcc9f1bb7efe</MessageId><InsertionTime>Fri, 30 Aug 2019 01:11:31 GMT</InsertionTime><ExpirationTime>Fri, 06 Sep 2019 01:11:31 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAOea1289e1QE=</PopReceipt><TimeNextVisible>Fri, 30 Aug 2019 01:11:31 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestspeekmultiplemessages28366a47b6d9ea98/messages?numofmessages=2&peekonly=true",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ff54c1c0-fef5-4736-8401-fcc9f1bb7efe</MessageId><InsertionTime>Fri, 30 Aug 2019 01:11:31 GMT</InsertionTime><ExpirationTime>Fri, 06 Sep 2019 01:11:31 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message 1</MessageText></QueueMessage><QueueMessage><MessageId>f97585e4-3aeb-48bd-bafe-7e2c5d7cf174</MessageId><InsertionTime>Fri, 30 Aug 2019 01:11:31 GMT</InsertionTime><ExpirationTime>Fri, 06 Sep 2019 01:11:31 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message 2</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueapitestspeekmultiplemessages28366a47b6d9ea98" ]
}