{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/updatemessageinvalidargs2399953e38cf6cf50421",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/updatemessageinvalidargs2399953e38cf6cf50421/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a178eb2b-08fd-4539-8047-3b671671b7b4</MessageId><InsertionTime>Thu, 05 Sep 2019 00:14:26 GMT</InsertionTime><ExpirationTime>Thu, 12 Sep 2019 00:14:26 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAWCn04H5j1QE=</PopReceipt><TimeNextVisible>Thu, 05 Sep 2019 00:14:26 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/updatemessageinvalidargs2399953e38cf6cf50421/messages?numofmessages=1",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>a178eb2b-08fd-4539-8047-3b671671b7b4</MessageId><InsertionTime>Thu, 05 Sep 2019 00:14:26 GMT</InsertionTime><ExpirationTime>Thu, 12 Sep 2019 00:14:26 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAkq/a8n5j1QE=</PopReceipt><TimeNextVisible>Thu, 05 Sep 2019 00:14:56 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message before update</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/updatemessageinvalidargs2399953e38cf6cf50421/messages/a178eb2b-08fd-4539-8047-3b671671b7b4Random?popreceipt=AgAAAAMAAAAAAAAAkq/a8n5j1QE%3dRandom&visibilitytimeout=1",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-error-code" : "InvalidQueryParameterValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidQueryParameterValue</Code><Message>Value for one of the query parameters specified in the request URI is invalid.\nRequestId:22919675-8003-0101-057e-6377de000000\nTime:2019-09-05T00:14:26.9360768Z</Message><QueryParameterName>popreceipt</QueryParameterName><QueryParameterValue>AgAAAAMAAAAAAAAAkq/a8n5j1QE=Random</QueryParameterValue><Reason>Invalid pop receipt format</Reason></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "updatemessageinvalidargs2399953e38cf6cf50421" ]
}