{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueserviceapitestscreatequeue6702763e570a55153",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueserviceapitestscreatequeue6702763e570a55153/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>046c33b8-6172-4a89-b265-3f83ba4cf010</MessageId><InsertionTime>Fri, 08 Nov 2019 22:32:30 GMT</InsertionTime><ExpirationTime>Fri, 15 Nov 2019 22:32:30 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA2dUlaISW1QE=</PopReceipt><TimeNextVisible>Fri, 08 Nov 2019 22:32:30 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueserviceapitestscreatequeue6702763e570a55153" ]
}