{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.queue.core.windows.net/queueserviceapitestscreatequeue40016bfd91ab73a61",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://gapradev.queue.core.windows.net/queueserviceapitestscreatequeue40016bfd91ab73a61/messages",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d228a938-cebc-47d9-97cd-88ec9874e7dd</MessageId><InsertionTime>Tue, 11 Feb 2020 00:26:14 GMT</InsertionTime><ExpirationTime>Tue, 18 Feb 2020 00:26:14 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAYwyL3nHg1QE=</PopReceipt><TimeNextVisible>Tue, 11 Feb 2020 00:26:14 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueserviceapitestscreatequeue40016bfd91ab73a61" ]
}