{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://gapradev.queue.core.windows.net/queueaysncapitestsgetaccesspolicydoeserror1305347d575?comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "QueueNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The specified queue does not exist.\nRequestId:d25b82e5-f003-0012-0171-e0e9eb000000\nTime:2020-02-11T00:24:54.8814346Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueaysncapitestsgetaccesspolicydoeserror1305347d575" ]
}