{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.queue.core.windows.net/queuesasclienttestsqueuesasenqueuewithperm162875",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://gapradev.queue.core.windows.net/queuesasclienttestsqueuesasenqueuewithperm162875/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ba55d35c-ec61-4a7e-8908-a600bceffbd4</MessageId><InsertionTime>Thu, 26 Dec 2019 21:55:19 GMT</InsertionTime><ExpirationTime>Thu, 02 Jan 2020 21:55:19 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAaxEWKje81QE=</PopReceipt><TimeNextVisible>Thu, 26 Dec 2019 21:55:19 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://gapradev.queue.core.windows.net/queuesasclienttestsqueuesasenqueuewithperm162875/messages?sv=2019-02-02&spr=https%2Chttp&st=2019-12-25T21%3A55%3A19Z&se=2019-12-27T21%3A55%3A19Z&sip=0.0.0.0-255.255.255.255&sp=rap&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>91feec67-d6bc-40be-b21c-55f3a7bffac4</MessageId><InsertionTime>Thu, 26 Dec 2019 21:55:19 GMT</InsertionTime><ExpirationTime>Thu, 02 Jan 2020 21:55:19 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA1a1OKje81QE=</PopReceipt><TimeNextVisible>Thu, 26 Dec 2019 21:55:19 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.queue.core.windows.net/queuesasclienttestsqueuesasenqueuewithperm162875/messages?numofmessages=2&visibilitytimeout=30&sv=2019-02-02&spr=https%2Chttp&st=2019-12-25T21%3A55%3A19Z&se=2019-12-27T21%3A55%3A19Z&sip=0.0.0.0-255.255.255.255&sp=rap&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ba55d35c-ec61-4a7e-8908-a600bceffbd4</MessageId><InsertionTime>Thu, 26 Dec 2019 21:55:19 GMT</InsertionTime><ExpirationTime>Thu, 02 Jan 2020 21:55:19 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAxYE+PDe81QE=</PopReceipt><TimeNextVisible>Thu, 26 Dec 2019 21:55:49 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test</MessageText></QueueMessage><QueueMessage><MessageId>91feec67-d6bc-40be-b21c-55f3a7bffac4</MessageId><InsertionTime>Thu, 26 Dec 2019 21:55:19 GMT</InsertionTime><ExpirationTime>Thu, 02 Jan 2020 21:55:19 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAxYE+PDe81QE=</PopReceipt><TimeNextVisible>Thu, 26 Dec 2019 21:55:49 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>sastest</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.queue.core.windows.net/queuesasclienttestsqueuesasenqueuewithperm162875/messages/ba55d35c-ec61-4a7e-8908-a600bceffbd4?popreceipt=AgAAAAMAAAAAAAAAaxEWKje81QE%3d&visibilitytimeout=3600&sv=2019-02-02&spr=https%2Chttp&st=2019-12-25T21%3A55%3A19Z&se=2019-12-27T21%3A55%3A19Z&sip=0.0.0.0-255.255.255.255&sp=rap&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "AuthorizationPermissionMismatch",
      "retry-after" : "0",
      "StatusCode" : "403",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationPermissionMismatch</Code><Message>This request is not authorized to perform this operation using this permission.\nRequestId:ddefcc6e-6003-002f-2e37-bc9ff0000000\nTime:2019-12-26T21:55:20.1537474Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queuesasclienttestsqueuesasenqueuewithperm162875", "2019-12-26T21:55:19.331855600Z", "2019-12-26T21:55:19.336855300Z", "queue4844299d" ]
}