{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsupdatemessage14314cbecaf3f2030",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsupdatemessage14314cbecaf3f2030/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>efa7ebcf-377a-4f85-ae38-e728b77b7ed3</MessageId><InsertionTime>Fri, 08 Nov 2019 22:32:25 GMT</InsertionTime><ExpirationTime>Fri, 15 Nov 2019 22:32:25 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAFGxcZYSW1QE=</PopReceipt><TimeNextVisible>Fri, 08 Nov 2019 22:32:25 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsupdatemessage14314cbecaf3f2030/messages?numofmessages=1",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>efa7ebcf-377a-4f85-ae38-e728b77b7ed3</MessageId><InsertionTime>Fri, 08 Nov 2019 22:32:25 GMT</InsertionTime><ExpirationTime>Fri, 15 Nov 2019 22:32:25 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAekBDd4SW1QE=</PopReceipt><TimeNextVisible>Fri, 08 Nov 2019 22:32:55 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message before update</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsupdatemessage14314cbecaf3f2030/messages/efa7ebcf-377a-4f85-ae38-e728b77b7ed3?popreceipt=AgAAAAMAAAAAAAAAekBDd4SW1QE%3d&visibilitytimeout=1",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-time-next-visible" : "Fri, 08 Nov 2019 22:32:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "204",
      "x-ms-popreceipt" : "AwAAAAMAAAAAAAAAvgEAZoSW1QEBAAAA"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsupdatemessage14314cbecaf3f2030/messages?peekonly=true",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>efa7ebcf-377a-4f85-ae38-e728b77b7ed3</MessageId><InsertionTime>Fri, 08 Nov 2019 22:32:25 GMT</InsertionTime><ExpirationTime>Fri, 15 Nov 2019 22:32:25 GMT</ExpirationTime><DequeueCount>1</DequeueCount><MessageText>Updated test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueaysncapitestsupdatemessage14314cbecaf3f2030" ]
}