{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.queue.core.windows.net/queueapitestssetandclearmetadata359173783a5d5acaf",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.queue.core.windows.net/queueapitestssetandclearmetadata359173783a5d5acaf?comp=metadata",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-meta-metadata" : "value",
      "retry-after" : "0",
      "x-ms-approximate-messages-count" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.queue.core.windows.net/queueapitestssetandclearmetadata359173783a5d5acaf?comp=metadata",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-meta-metadata" : "value",
      "retry-after" : "0",
      "x-ms-approximate-messages-count" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueapitestssetandclearmetadata359173783a5d5acaf" ]
}