{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queuesasteststestqueuesasupdatedeletewithpermissions265653",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queuesasteststestqueuesasupdatedeletewithpermissions265653/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>68bd5d83-0f2a-48a0-b2dd-c9ece6027c3b</MessageId><InsertionTime>Wed, 04 Sep 2019 01:45:51 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 01:45:51 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAHrffe8Ji1QE=</PopReceipt><TimeNextVisible>Wed, 04 Sep 2019 01:45:51 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queuesasteststestqueuesasupdatedeletewithpermissions265653/messages/68bd5d83-0f2a-48a0-b2dd-c9ece6027c3b?popreceipt=AgAAAAMAAAAAAAAAHrffe8Ji1QE%3d&visibilitytimeout=0&sv=2019-02-02&spr=https%2Chttp&st=2019-09-03T01%3A45%3A49Z&se=2019-09-05T01%3A45%3A49Z&sip=0.0.0.0-255.255.255.255&sp=raup&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-time-next-visible" : "Wed, 04 Sep 2019 01:45:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "204",
      "x-ms-popreceipt" : "AwAAAAMAAAAAAAAAg+jke8Ji1QEAAAAA"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queuesasteststestqueuesasupdatedeletewithpermissions265653/messages?numofmessages=1&visibilitytimeout=30&sv=2019-02-02&spr=https%2Chttp&st=2019-09-03T01%3A45%3A49Z&se=2019-09-05T01%3A45%3A49Z&sip=0.0.0.0-255.255.255.255&sp=raup&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>68bd5d83-0f2a-48a0-b2dd-c9ece6027c3b</MessageId><InsertionTime>Wed, 04 Sep 2019 01:45:51 GMT</InsertionTime><ExpirationTime>Wed, 11 Sep 2019 01:45:51 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAgSDLjcJi1QE=</PopReceipt><TimeNextVisible>Wed, 04 Sep 2019 01:46:21 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>testing</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queuesasteststestqueuesasupdatedeletewithpermissions265653?sv=2019-02-02&spr=https%2Chttp&st=2019-09-03T01%3A45%3A49Z&se=2019-09-05T01%3A45%3A49Z&sip=0.0.0.0-255.255.255.255&sp=raup&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-error-code" : "AuthorizationFailure",
      "retry-after" : "0",
      "StatusCode" : "403",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\nRequestId:b1814a44-6003-00c8-5dc2-62a141000000\nTime:2019-09-04T01:45:51.9746959Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queuesasteststestqueuesasupdatedeletewithpermissions265653", "2019-09-04T01:45:49.959Z", "2019-09-04T01:45:49.959Z", "queue9139827d" ]
}