{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs2763886d20e03f",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs2763886d20e03f/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d44b25ff-a01e-46c3-a447-96fe43f58dcc</MessageId><InsertionTime>Thu, 15 Aug 2019 16:40:26 GMT</InsertionTime><ExpirationTime>Thu, 22 Aug 2019 16:40:26 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA2md0JIhT1QE=</PopReceipt><TimeNextVisible>Thu, 15 Aug 2019 16:40:26 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs2763886d20e03f/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>d44b25ff-a01e-46c3-a447-96fe43f58dcc</MessageId><InsertionTime>Thu, 15 Aug 2019 16:40:26 GMT</InsertionTime><ExpirationTime>Thu, 22 Aug 2019 16:40:26 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA7tRdNohT1QE=</PopReceipt><TimeNextVisible>Thu, 15 Aug 2019 16:40:57 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs2763886d20e03f/messages/d44b25ff-a01e-46c3-a447-96fe43f58dccRandom?popreceipt=AgAAAAMAAAAAAAAA7tRdNohT1QE%3dRandom",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-error-code" : "InvalidQueryParameterValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidQueryParameterValue</Code><Message>Value for one of the query parameters specified in the request URI is invalid.\nRequestId:86d0b166-d003-0034-2688-539fde000000\nTime:2019-08-15T16:40:27.0473254Z</Message><QueryParameterName>popreceipt</QueryParameterName><QueryParameterValue>AgAAAAMAAAAAAAAA7tRdNohT1QE=Random</QueryParameterValue><Reason>Invalid pop receipt format</Reason></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queueapitestsdeletemessageinvalidargs2763886d20e03f" ]
}