{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsupdatemessageinvalidargs230456b8e3fd",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsupdatemessageinvalidargs230456b8e3fd/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>25b1663b-0917-4820-82ab-4841c1326b31</MessageId><InsertionTime>Thu, 15 Aug 2019 16:40:43 GMT</InsertionTime><ExpirationTime>Thu, 22 Aug 2019 16:40:43 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAc4pnLohT1QE=</PopReceipt><TimeNextVisible>Thu, 15 Aug 2019 16:40:43 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsupdatemessageinvalidargs230456b8e3fd/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>25b1663b-0917-4820-82ab-4841c1326b31</MessageId><InsertionTime>Thu, 15 Aug 2019 16:40:43 GMT</InsertionTime><ExpirationTime>Thu, 22 Aug 2019 16:40:43 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAABdROQIhT1QE=</PopReceipt><TimeNextVisible>Thu, 15 Aug 2019 16:41:13 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message before update</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsupdatemessageinvalidargs230456b8e3fd/messages/25b1663b-0917-4820-82ab-4841c1326b31Random?popreceipt=AgAAAAMAAAAAAAAABdROQIhT1QE%3dRandom&visibilitytimeout=1",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-error-code" : "InvalidQueryParameterValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidQueryParameterValue</Code><Message>Value for one of the query parameters specified in the request URI is invalid.\nRequestId:86d0bb0a-d003-0034-5b88-539fde000000\nTime:2019-08-15T16:40:43.7233771Z</Message><QueryParameterName>popreceipt</QueryParameterName><QueryParameterValue>AgAAAAMAAAAAAAAABdROQIhT1QE=Random</QueryParameterValue><Reason>Invalid pop receipt format</Reason></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queueaysncapitestsupdatemessageinvalidargs230456b8e3fd" ]
}