{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsdeletemessageinvalidargs2588132938bc",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsdeletemessageinvalidargs2588132938bc/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c1fc6a67-685e-4c94-942d-89d6e41cd927</MessageId><InsertionTime>Thu, 22 Aug 2019 04:07:13 GMT</InsertionTime><ExpirationTime>Thu, 29 Aug 2019 04:07:13 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA1QbWE59Y1QE=</PopReceipt><TimeNextVisible>Thu, 22 Aug 2019 04:07:13 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsdeletemessageinvalidargs2588132938bc/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>c1fc6a67-685e-4c94-942d-89d6e41cd927</MessageId><InsertionTime>Thu, 22 Aug 2019 04:07:13 GMT</InsertionTime><ExpirationTime>Thu, 29 Aug 2019 04:07:13 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA9HO/JZ9Y1QE=</PopReceipt><TimeNextVisible>Thu, 22 Aug 2019 04:07:43 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsdeletemessageinvalidargs2588132938bc/messages/c1fc6a67-685e-4c94-942d-89d6e41cd927Random?popreceipt=AgAAAAMAAAAAAAAA9HO/JZ9Y1QE%3dRandom",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-error-code" : "InvalidQueryParameterValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidQueryParameterValue</Code><Message>Value for one of the query parameters specified in the request URI is invalid.\nRequestId:364f3cbe-9003-011e-789f-58acce000000\nTime:2019-08-22T04:07:13.4194990Z</Message><QueryParameterName>popreceipt</QueryParameterName><QueryParameterValue>AgAAAAMAAAAAAAAA9HO/JZ9Y1QE=Random</QueryParameterValue><Reason>Invalid pop receipt format</Reason></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queueaysncapitestsdeletemessageinvalidargs2588132938bc" ]
}