{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/enqueuetimetolive66685c31a848a39244c02b0d",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/enqueuetimetolive66685c31a848a39244c02b0d/messages?visibilitytimeout=0&messagettl=2",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>73b23636-eaf2-4f19-903e-bb8690104ea8</MessageId><InsertionTime>Tue, 03 Dec 2019 23:34:42 GMT</InsertionTime><ExpirationTime>Tue, 03 Dec 2019 23:34:44 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAtWnTPDKq1QE=</PopReceipt><TimeNextVisible>Tue, 03 Dec 2019 23:34:42 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "enqueuetimetolive66685c31a848a39244c02b0d" ]
}