{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessageinvalidargs156931e2264b7b",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessageinvalidargs156931e2264b7b/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>91921531-1f0f-421e-af05-b790db72cbd9</MessageId><InsertionTime>Thu, 22 Aug 2019 04:10:33 GMT</InsertionTime><ExpirationTime>Thu, 29 Aug 2019 04:10:33 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAVJ4Ki59Y1QE=</PopReceipt><TimeNextVisible>Thu, 22 Aug 2019 04:10:33 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessageinvalidargs156931e2264b7b/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>91921531-1f0f-421e-af05-b790db72cbd9</MessageId><InsertionTime>Thu, 22 Aug 2019 04:10:33 GMT</InsertionTime><ExpirationTime>Thu, 29 Aug 2019 04:10:33 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAaZL1nJ9Y1QE=</PopReceipt><TimeNextVisible>Thu, 22 Aug 2019 04:11:03 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message before update</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessageinvalidargs156931e2264b7b/messages/91921531-1f0f-421e-af05-b790db72cbd9Random?popreceipt=AgAAAAMAAAAAAAAAaZL1nJ9Y1QE%3d&visibilitytimeout=1",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-error-code" : "MessageNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>MessageNotFound</Code><Message>The specified message does not exist.\nRequestId:c5c66130-f003-010e-309f-589a28000000\nTime:2019-08-22T04:10:33.9389106Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queueapitestsupdatemessageinvalidargs156931e2264b7b" ]
}