{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/getaccesspolicyqueueapitestsgetaccesspolicy3bb92146a36b",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/getaccesspolicyqueueapitestsgetaccesspolicy3bb92146a36b?comp=acl",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers />",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "getaccesspolicyqueueapitestsgetaccesspolicy3bb92146a36b" ]
}