{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/testqueuesasenqueuedequeuewithidentifier94403847f574",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/testqueuesasenqueuedequeuewithidentifier94403847f574/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>3289537b-f921-420d-a9ea-48f21da59979</MessageId><InsertionTime>Thu, 12 Dec 2019 17:44:59 GMT</InsertionTime><ExpirationTime>Thu, 19 Dec 2019 17:44:59 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAUxjS3xOx1QE=</PopReceipt><TimeNextVisible>Thu, 12 Dec 2019 17:44:59 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/testqueuesasenqueuedequeuewithidentifier94403847f574?comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/testqueuesasenqueuedequeuewithidentifier94403847f574/messages?sv=2019-02-02&si=1bc29be4-24ed-483a-b564-9a05faa0641e&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>2c7120b2-c1f5-4890-92b2-87f5be7e10cb</MessageId><InsertionTime>Thu, 12 Dec 2019 17:45:29 GMT</InsertionTime><ExpirationTime>Thu, 19 Dec 2019 17:45:29 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA89G+8ROx1QE=</PopReceipt><TimeNextVisible>Thu, 12 Dec 2019 17:45:29 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/testqueuesasenqueuedequeuewithidentifier94403847f574/messages?numofmessages=2&visibilitytimeout=30&sv=2019-02-02&si=1bc29be4-24ed-483a-b564-9a05faa0641e&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>3289537b-f921-420d-a9ea-48f21da59979</MessageId><InsertionTime>Thu, 12 Dec 2019 17:44:59 GMT</InsertionTime><ExpirationTime>Thu, 19 Dec 2019 17:44:59 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA7wilAxSx1QE=</PopReceipt><TimeNextVisible>Thu, 12 Dec 2019 17:45:59 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test</MessageText></QueueMessage><QueueMessage><MessageId>2c7120b2-c1f5-4890-92b2-87f5be7e10cb</MessageId><InsertionTime>Thu, 12 Dec 2019 17:45:29 GMT</InsertionTime><ExpirationTime>Thu, 19 Dec 2019 17:45:29 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA7wilAxSx1QE=</PopReceipt><TimeNextVisible>Thu, 12 Dec 2019 17:45:59 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>sastest</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net?prefix=testqueuesasenqueuedequeuewithidentifier&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.queue.core.windows.net/\"><Prefix>testqueuesasenqueuedequeuewithidentifier</Prefix><Queues><Queue><Name>testqueuesasenqueuedequeuewithidentifier94403847f574</Name></Queue></Queues><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/testqueuesasenqueuedequeuewithidentifier94403847f574",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  } ],
  "variables" : [ "testqueuesasenqueuedequeuewithidentifier94403847f574", "2019-12-12T17:44:59.520235500Z", "2019-12-12T17:44:59.520235500Z", "1bc29be4-24ed-483a-b564-9a05faa0641e", "queue15212c93" ]
}