{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/deletemessageinvalidargs74970b3294a185e9f4b2",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/deletemessageinvalidargs74970b3294a185e9f4b2/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>df7f7330-fe45-4d6d-a92e-d0746bbe94e6</MessageId><InsertionTime>Thu, 05 Sep 2019 00:14:14 GMT</InsertionTime><ExpirationTime>Thu, 12 Sep 2019 00:14:14 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAApyqn2X5j1QE=</PopReceipt><TimeNextVisible>Thu, 05 Sep 2019 00:14:14 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/deletemessageinvalidargs74970b3294a185e9f4b2/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>df7f7330-fe45-4d6d-a92e-d0746bbe94e6</MessageId><InsertionTime>Thu, 05 Sep 2019 00:14:14 GMT</InsertionTime><ExpirationTime>Thu, 12 Sep 2019 00:14:14 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAIiaO635j1QE=</PopReceipt><TimeNextVisible>Thu, 05 Sep 2019 00:14:44 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/deletemessageinvalidargs74970b3294a185e9f4b2/messages/df7f7330-fe45-4d6d-a92e-d0746bbe94e6Random?popreceipt=AgAAAAMAAAAAAAAAIiaO635j1QE%3dRandom",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-error-code" : "InvalidQueryParameterValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidQueryParameterValue</Code><Message>Value for one of the query parameters specified in the request URI is invalid.\nRequestId:22918ccd-8003-0101-027e-6377de000000\nTime:2019-09-05T00:14:14.6602184Z</Message><QueryParameterName>popreceipt</QueryParameterName><QueryParameterValue>AgAAAAMAAAAAAAAAIiaO635j1QE=Random</QueryParameterValue><Reason>Invalid pop receipt format</Reason></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "deletemessageinvalidargs74970b3294a185e9f4b2" ]
}