{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/updatemessageinvalidargs503622587d6ab7fab4a4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/updatemessageinvalidargs503622587d6ab7fab4a4/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8e2d43cf-0fad-4dd0-a555-68a1542b3d59</MessageId><InsertionTime>Thu, 12 Dec 2019 17:44:27 GMT</InsertionTime><ExpirationTime>Thu, 19 Dec 2019 17:44:27 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAeI+RzBOx1QE=</PopReceipt><TimeNextVisible>Thu, 12 Dec 2019 17:44:27 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/updatemessageinvalidargs503622587d6ab7fab4a4/messages?numofmessages=1",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8e2d43cf-0fad-4dd0-a555-68a1542b3d59</MessageId><InsertionTime>Thu, 12 Dec 2019 17:44:27 GMT</InsertionTime><ExpirationTime>Thu, 19 Dec 2019 17:44:27 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAYu133hOx1QE=</PopReceipt><TimeNextVisible>Thu, 12 Dec 2019 17:44:57 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message before update</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/updatemessageinvalidargs503622587d6ab7fab4a4/messages/8e2d43cf-0fad-4dd0-a555-68a1542b3d59Random?popreceipt=AgAAAAMAAAAAAAAAYu133hOx1QE%3dRandom&visibilitytimeout=1",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "InvalidQueryParameterValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidQueryParameterValue</Code><Message>Value for one of the query parameters specified in the request URI is invalid.\nRequestId:2449ca5b-6003-00e1-5113-b1d703000000\nTime:2019-12-12T17:44:27.2555228Z</Message><QueryParameterName>popreceipt</QueryParameterName><QueryParameterValue>AgAAAAMAAAAAAAAAYu133hOx1QE=Random</QueryParameterValue><Reason>Invalid pop receipt format</Reason></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net?prefix=updatemessageinvalidargs&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.queue.core.windows.net/\"><Prefix>updatemessageinvalidargs</Prefix><Queues><Queue><Name>updatemessageinvalidargs503622587d6ab7fab4a4</Name></Queue></Queues><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/updatemessageinvalidargs503622587d6ab7fab4a4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  } ],
  "variables" : [ "updatemessageinvalidargs503622587d6ab7fab4a4" ]
}