{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestspeekmultiplemessages99123b27adb7405a",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestspeekmultiplemessages99123b27adb7405a/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>3a919a7a-35c7-4553-b19d-68b7d97f9ed8</MessageId><InsertionTime>Thu, 15 Aug 2019 16:40:22 GMT</InsertionTime><ExpirationTime>Thu, 22 Aug 2019 16:40:22 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAPNbUIYhT1QE=</PopReceipt><TimeNextVisible>Thu, 15 Aug 2019 16:40:22 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestspeekmultiplemessages99123b27adb7405a/messages?numofmessages=2&peekonly=true",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>3a919a7a-35c7-4553-b19d-68b7d97f9ed8</MessageId><InsertionTime>Thu, 15 Aug 2019 16:40:22 GMT</InsertionTime><ExpirationTime>Thu, 22 Aug 2019 16:40:22 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message 1</MessageText></QueueMessage><QueueMessage><MessageId>2e8db9be-aa49-41a9-afb0-d9af0211f6b1</MessageId><InsertionTime>Thu, 15 Aug 2019 16:40:22 GMT</InsertionTime><ExpirationTime>Thu, 22 Aug 2019 16:40:22 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message 2</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queueapitestspeekmultiplemessages99123b27adb7405a" ]
}