{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.queue.core.windows.net/queuesasclienttestsqueuesasenqueuewithperm137792",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://gapradev.queue.core.windows.net/queuesasclienttestsqueuesasenqueuewithperm137792/messages",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>176939ce-ca87-4722-bd90-1cf9b9496e7e</MessageId><InsertionTime>Tue, 11 Feb 2020 00:25:07 GMT</InsertionTime><ExpirationTime>Tue, 18 Feb 2020 00:25:07 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAALMWJtnHg1QE=</PopReceipt><TimeNextVisible>Tue, 11 Feb 2020 00:25:07 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://gapradev.queue.core.windows.net/queuesasclienttestsqueuesasenqueuewithperm137792/messages?sv=2019-07-07&spr=https%2Chttp&st=2020-02-10T00%3A25%3A07Z&se=2020-02-12T00%3A25%3A07Z&sip=0.0.0.0-255.255.255.255&sp=rap&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>16f4bbc4-af92-4972-861e-78e376f4dc61</MessageId><InsertionTime>Tue, 11 Feb 2020 00:25:07 GMT</InsertionTime><ExpirationTime>Tue, 18 Feb 2020 00:25:07 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAi8SbtnHg1QE=</PopReceipt><TimeNextVisible>Tue, 11 Feb 2020 00:25:07 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.queue.core.windows.net/queuesasclienttestsqueuesasenqueuewithperm137792/messages?numofmessages=2&visibilitytimeout=30&sv=2019-07-07&spr=https%2Chttp&st=2020-02-10T00%3A25%3A07Z&se=2020-02-12T00%3A25%3A07Z&sip=0.0.0.0-255.255.255.255&sp=rap&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>176939ce-ca87-4722-bd90-1cf9b9496e7e</MessageId><InsertionTime>Tue, 11 Feb 2020 00:25:07 GMT</InsertionTime><ExpirationTime>Tue, 18 Feb 2020 00:25:07 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAeBOKyHHg1QE=</PopReceipt><TimeNextVisible>Tue, 11 Feb 2020 00:25:37 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test</MessageText></QueueMessage><QueueMessage><MessageId>16f4bbc4-af92-4972-861e-78e376f4dc61</MessageId><InsertionTime>Tue, 11 Feb 2020 00:25:07 GMT</InsertionTime><ExpirationTime>Tue, 18 Feb 2020 00:25:07 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAeBOKyHHg1QE=</PopReceipt><TimeNextVisible>Tue, 11 Feb 2020 00:25:37 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>sastest</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.queue.core.windows.net/queuesasclienttestsqueuesasenqueuewithperm137792/messages/176939ce-ca87-4722-bd90-1cf9b9496e7e?popreceipt=AgAAAAMAAAAAAAAALMWJtnHg1QE%3d&visibilitytimeout=3600&sv=2019-07-07&spr=https%2Chttp&st=2020-02-10T00%3A25%3A07Z&se=2020-02-12T00%3A25%3A07Z&sip=0.0.0.0-255.255.255.255&sp=rap&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "AuthorizationPermissionMismatch",
      "retry-after" : "0",
      "StatusCode" : "403",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationPermissionMismatch</Code><Message>This request is not authorized to perform this operation using this permission.\nRequestId:d25b83db-f003-0012-5271-e0e9eb000000\nTime:2020-02-11T00:25:07.8935285Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queuesasclienttestsqueuesasenqueuewithperm137792", "2020-02-11T00:25:07.584114Z", "2020-02-11T00:25:07.587113900Z", "queue74776dab" ]
}