{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdequeuemessage28118d29199da3f0a48",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdequeuemessage28118d29199da3f0a48/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>993c9e4a-7bda-4f21-b272-331bc567d078</MessageId><InsertionTime>Fri, 08 Nov 2019 22:32:12 GMT</InsertionTime><ExpirationTime>Fri, 15 Nov 2019 22:32:12 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAALsS3XYSW1QE=</PopReceipt><TimeNextVisible>Fri, 08 Nov 2019 22:32:12 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdequeuemessage28118d29199da3f0a48/messages?numofmessages=1",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>993c9e4a-7bda-4f21-b272-331bc567d078</MessageId><InsertionTime>Fri, 08 Nov 2019 22:32:12 GMT</InsertionTime><ExpirationTime>Fri, 15 Nov 2019 22:32:12 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAi5ieb4SW1QE=</PopReceipt><TimeNextVisible>Fri, 08 Nov 2019 22:32:42 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueapitestsdequeuemessage28118d29199da3f0a48" ]
}