{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.queue.core.windows.net/queueserviceasyncapitestscreatequeuemaxoverload0170865c1",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://gapradev.queue.core.windows.net/queueserviceasyncapitestscreatequeuemaxoverload0170865c1/messages",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>1425d801-4db6-4631-98f3-5eb82802834a</MessageId><InsertionTime>Tue, 11 Feb 2020 00:26:22 GMT</InsertionTime><ExpirationTime>Tue, 18 Feb 2020 00:26:22 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA4KxZ43Hg1QE=</PopReceipt><TimeNextVisible>Tue, 11 Feb 2020 00:26:22 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueserviceasyncapitestscreatequeuemaxoverload0170865c1" ]
}