{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueserviceasyncapitestsdeletequeue5575361e8807b1",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueserviceasyncapitestsdeletequeue5575361e8807b1/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-error-code" : "QueueNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The specified queue does not exist.\nRequestId:60ef4e5e-a003-0074-32cf-5eb630000000\nTime:2019-08-30T01:12:02.0980578Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueserviceasyncapitestsdeletequeue5575361e8807b1" ]
}