{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsupdatemessageinvalidargs296465bf5d65",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsupdatemessageinvalidargs296465bf5d65/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>16fad914-1447-4124-8ca0-fe8f8ef0115a</MessageId><InsertionTime>Fri, 08 Nov 2019 22:32:28 GMT</InsertionTime><ExpirationTime>Fri, 15 Nov 2019 22:32:28 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAANtT0ZoSW1QE=</PopReceipt><TimeNextVisible>Fri, 08 Nov 2019 22:32:28 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsupdatemessageinvalidargs296465bf5d65/messages?numofmessages=1",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>16fad914-1447-4124-8ca0-fe8f8ef0115a</MessageId><InsertionTime>Fri, 08 Nov 2019 22:32:28 GMT</InsertionTime><ExpirationTime>Fri, 15 Nov 2019 22:32:28 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAWAvmeISW1QE=</PopReceipt><TimeNextVisible>Fri, 08 Nov 2019 22:32:58 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message before update</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueaysncapitestsupdatemessageinvalidargs296465bf5d65/messages/16fad914-1447-4124-8ca0-fe8f8ef0115aRandom?popreceipt=AgAAAAMAAAAAAAAAWAvmeISW1QE%3dRandom&visibilitytimeout=1",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "InvalidQueryParameterValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidQueryParameterValue</Code><Message>Value for one of the query parameters specified in the request URI is invalid.\nRequestId:c474d9ee-5003-0084-4c84-96665e000000\nTime:2019-11-08T22:32:28.5878582Z</Message><QueryParameterName>popreceipt</QueryParameterName><QueryParameterValue>AgAAAAMAAAAAAAAAWAvmeISW1QE=Random</QueryParameterValue><Reason>Invalid pop receipt format</Reason></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueaysncapitestsupdatemessageinvalidargs296465bf5d65" ]
}