{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessageinvalidargs0424523a30020b",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessageinvalidargs0424523a30020b/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>37aa3d7b-6d29-4633-9de1-285b08245cf0</MessageId><InsertionTime>Fri, 08 Nov 2019 22:32:18 GMT</InsertionTime><ExpirationTime>Fri, 15 Nov 2019 22:32:18 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAfprFYISW1QE=</PopReceipt><TimeNextVisible>Fri, 08 Nov 2019 22:32:18 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessageinvalidargs0424523a30020b/messages?numofmessages=1",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>37aa3d7b-6d29-4633-9de1-285b08245cf0</MessageId><InsertionTime>Fri, 08 Nov 2019 22:32:18 GMT</InsertionTime><ExpirationTime>Fri, 15 Nov 2019 22:32:18 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA+5WscoSW1QE=</PopReceipt><TimeNextVisible>Fri, 08 Nov 2019 22:32:48 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message before update</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsupdatemessageinvalidargs0424523a30020b/messages/37aa3d7b-6d29-4633-9de1-285b08245cf0?popreceipt=AgAAAAMAAAAAAAAA%2b5WscoSW1QE%3dRandom&visibilitytimeout=1",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "InvalidQueryParameterValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidQueryParameterValue</Code><Message>Value for one of the query parameters specified in the request URI is invalid.\nRequestId:9ab30a1e-e003-009d-1784-964a36000000\nTime:2019-11-08T22:32:18.1416272Z</Message><QueryParameterName>popreceipt</QueryParameterName><QueryParameterValue>AgAAAAMAAAAAAAAA+5WscoSW1QE=Random</QueryParameterValue><Reason>Invalid pop receipt format</Reason></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueapitestsupdatemessageinvalidargs0424523a30020b" ]
}