{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/d92872abb8",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/d92872abb8/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>5802ce47-b81e-4eea-90f0-3535cb9e9e4f</MessageId><InsertionTime>Wed, 11 Dec 2019 23:41:25 GMT</InsertionTime><ExpirationTime>Wed, 18 Dec 2019 23:41:25 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAysC3gHyw1QE=</PopReceipt><TimeNextVisible>Wed, 11 Dec 2019 23:41:25 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/d92872abb8?comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/d92872abb8/messages?sv=2019-02-02&si=b1dc1cdf-ce47-4ef9-969b-46a96c9c68f2&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>ba366a74-967e-42e8-be3c-5e1164058180</MessageId><InsertionTime>Wed, 11 Dec 2019 23:41:56 GMT</InsertionTime><ExpirationTime>Wed, 18 Dec 2019 23:41:56 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA9/Srknyw1QE=</PopReceipt><TimeNextVisible>Wed, 11 Dec 2019 23:41:56 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/d92872abb8/messages?numofmessages=2&visibilitytimeout=30&sv=2019-02-02&si=b1dc1cdf-ce47-4ef9-969b-46a96c9c68f2&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>5802ce47-b81e-4eea-90f0-3535cb9e9e4f</MessageId><InsertionTime>Wed, 11 Dec 2019 23:41:25 GMT</InsertionTime><ExpirationTime>Wed, 18 Dec 2019 23:41:25 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAtvOZpHyw1QE=</PopReceipt><TimeNextVisible>Wed, 11 Dec 2019 23:42:26 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test</MessageText></QueueMessage><QueueMessage><MessageId>ba366a74-967e-42e8-be3c-5e1164058180</MessageId><InsertionTime>Wed, 11 Dec 2019 23:41:56 GMT</InsertionTime><ExpirationTime>Wed, 18 Dec 2019 23:41:56 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAtvOZpHyw1QE=</PopReceipt><TimeNextVisible>Wed, 11 Dec 2019 23:42:26 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>sastest</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "d92872abb8", "2019-12-11T23:41:25.953301400Z", "2019-12-11T23:41:25.959336400Z", "b1dc1cdf-ce47-4ef9-969b-46a96c9c68f2", "queue087417ca" ]
}