{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.queue.core.windows.net/queueaysncapitestsdeletemessageinvalidargs267066a7ed97",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://gapradev.queue.core.windows.net/queueaysncapitestsdeletemessageinvalidargs267066a7ed97/messages",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b74ae7ac-1d1b-44bd-a16a-3de6062079b7</MessageId><InsertionTime>Tue, 11 Feb 2020 00:25:02 GMT</InsertionTime><ExpirationTime>Tue, 18 Feb 2020 00:25:02 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA/qHMs3Hg1QE=</PopReceipt><TimeNextVisible>Tue, 11 Feb 2020 00:25:02 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.queue.core.windows.net/queueaysncapitestsdeletemessageinvalidargs267066a7ed97/messages?numofmessages=1",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>b74ae7ac-1d1b-44bd-a16a-3de6062079b7</MessageId><InsertionTime>Tue, 11 Feb 2020 00:25:02 GMT</InsertionTime><ExpirationTime>Tue, 18 Feb 2020 00:25:02 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA0du5xXHg1QE=</PopReceipt><TimeNextVisible>Tue, 11 Feb 2020 00:25:33 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gapradev.queue.core.windows.net/queueaysncapitestsdeletemessageinvalidargs267066a7ed97/messages/b74ae7ac-1d1b-44bd-a16a-3de6062079b7Random?popreceipt=AgAAAAMAAAAAAAAA0du5xXHg1QE%3dRandom",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "InvalidQueryParameterValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidQueryParameterValue</Code><Message>Value for one of the query parameters specified in the request URI is invalid.\nRequestId:d25b83bb-f003-0012-3a71-e0e9eb000000\nTime:2020-02-11T00:25:03.1304928Z</Message><QueryParameterName>popreceipt</QueryParameterName><QueryParameterValue>AgAAAAMAAAAAAAAA0du5xXHg1QE=Random</QueryParameterValue><Reason>Invalid pop receipt format</Reason></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueaysncapitestsdeletemessageinvalidargs267066a7ed97" ]
}