{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs0693965ccc692d",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs0693965ccc692d/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>0e4d5847-0aa4-463a-9e43-698deb9b5ad5</MessageId><InsertionTime>Thu, 17 Oct 2019 15:06:50 GMT</InsertionTime><ExpirationTime>Thu, 24 Oct 2019 15:06:50 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAdaACgfyE1QE=</PopReceipt><TimeNextVisible>Thu, 17 Oct 2019 15:06:50 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs0693965ccc692d/messages?numofmessages=1",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>0e4d5847-0aa4-463a-9e43-698deb9b5ad5</MessageId><InsertionTime>Thu, 17 Oct 2019 15:06:50 GMT</InsertionTime><ExpirationTime>Thu, 24 Oct 2019 15:06:50 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAADfv1kvyE1QE=</PopReceipt><TimeNextVisible>Thu, 17 Oct 2019 15:07:20 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs0693965ccc692d/messages/0e4d5847-0aa4-463a-9e43-698deb9b5ad5?popreceipt=AgAAAAMAAAAAAAAADfv1kvyE1QE%3dRandom",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-error-code" : "InvalidQueryParameterValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidQueryParameterValue</Code><Message>Value for one of the query parameters specified in the request URI is invalid.\nRequestId:a9a4ab24-a003-0116-38fc-84b7bd000000\nTime:2019-10-17T15:06:51.0297716Z</Message><QueryParameterName>popreceipt</QueryParameterName><QueryParameterValue>AgAAAAMAAAAAAAAADfv1kvyE1QE=Random</QueryParameterValue><Reason>Invalid pop receipt format</Reason></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueapitestsdeletemessageinvalidargs0693965ccc692d" ]
}