{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs251533bfef3787",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs251533bfef3787/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>83ab1871-2c2a-4c73-9763-f3d16c6338be</MessageId><InsertionTime>Thu, 17 Oct 2019 15:06:53 GMT</InsertionTime><ExpirationTime>Thu, 24 Oct 2019 15:06:53 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAn265gvyE1QE=</PopReceipt><TimeNextVisible>Thu, 17 Oct 2019 15:06:53 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs251533bfef3787/messages?numofmessages=1",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>83ab1871-2c2a-4c73-9763-f3d16c6338be</MessageId><InsertionTime>Thu, 17 Oct 2019 15:06:53 GMT</InsertionTime><ExpirationTime>Thu, 24 Oct 2019 15:06:53 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAE/GhlPyE1QE=</PopReceipt><TimeNextVisible>Thu, 17 Oct 2019 15:07:23 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs251533bfef3787/messages/83ab1871-2c2a-4c73-9763-f3d16c6338beRandom?popreceipt=AgAAAAMAAAAAAAAAE/GhlPyE1QE%3dRandom",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-error-code" : "InvalidQueryParameterValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidQueryParameterValue</Code><Message>Value for one of the query parameters specified in the request URI is invalid.\nRequestId:a9a4adbe-a003-0116-7bfc-84b7bd000000\nTime:2019-10-17T15:06:53.8033991Z</Message><QueryParameterName>popreceipt</QueryParameterName><QueryParameterValue>AgAAAAMAAAAAAAAAE/GhlPyE1QE=Random</QueryParameterValue><Reason>Invalid pop receipt format</Reason></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "queueapitestsdeletemessageinvalidargs251533bfef3787" ]
}