{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gapradev.queue.core.windows.net/e3fd469c94",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "http://gapradev.queue.core.windows.net/e3fd469c94/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f71c058d-f67f-4b3b-8b97-51a38c0c2216</MessageId><InsertionTime>Tue, 03 Dec 2019 16:29:34 GMT</InsertionTime><ExpirationTime>Tue, 10 Dec 2019 16:29:34 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAZwJG2fap1QE=</PopReceipt><TimeNextVisible>Tue, 03 Dec 2019 16:29:34 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gapradev.queue.core.windows.net/e3fd469c94/messages/f71c058d-f67f-4b3b-8b97-51a38c0c2216?popreceipt=AgAAAAMAAAAAAAAAZwJG2fap1QE%3d&visibilitytimeout=0&sv=2019-02-02&spr=https%2Chttp&st=2019-12-02T16%3A29%3A34Z&se=2019-12-04T16%3A29%3A34Z&sip=0.0.0.0-255.255.255.255&sp=raup&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-time-next-visible" : "Tue, 03 Dec 2019 16:29:35 GMT",
      "retry-after" : "0",
      "StatusCode" : "204",
      "x-ms-popreceipt" : "AwAAAAMAAAAAAAAAwy5W2fap1QEAAAAA"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://gapradev.queue.core.windows.net/e3fd469c94/messages?numofmessages=1&visibilitytimeout=30&sv=2019-02-02&spr=https%2Chttp&st=2019-12-02T16%3A29%3A34Z&se=2019-12-04T16%3A29%3A34Z&sip=0.0.0.0-255.255.255.255&sp=raup&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>f71c058d-f67f-4b3b-8b97-51a38c0c2216</MessageId><InsertionTime>Tue, 03 Dec 2019 16:29:34 GMT</InsertionTime><ExpirationTime>Tue, 10 Dec 2019 16:29:34 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAOdNJ6/ap1QE=</PopReceipt><TimeNextVisible>Tue, 03 Dec 2019 16:30:05 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>testing</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://gapradev.queue.core.windows.net/e3fd469c94?sv=2019-02-02&spr=https%2Chttp&st=2019-12-02T16%3A29%3A34Z&se=2019-12-04T16%3A29%3A34Z&sip=0.0.0.0-255.255.255.255&sp=raup&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "AuthorizationFailure",
      "retry-after" : "0",
      "StatusCode" : "403",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\nRequestId:c338fcd6-9003-002b-64f6-a912f7000000\nTime:2019-12-03T16:29:35.3201722Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "e3fd469c94", "2019-12-03T16:29:34.971090100Z", "2019-12-03T16:29:34.971090100Z", "queue320848ee" ]
}