{
  "networkCallRecords" : [ {
    "Method" : "PUT",
<<<<<<< HEAD:sdk/storage/azure-storage-queue/src/test/resources/session-records/QueueAPITestsDeleteMessageInvalidArgs1.json
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs158450b740d8f3",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
=======
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue67128106",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
>>>>>>> e0117285eed... queue async:sdk/storage/azure-storage-queue/src/test/resources/session-records/dequeueMessage.json
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
<<<<<<< HEAD:sdk/storage/azure-storage-queue/src/test/resources/session-records/QueueAPITestsDeleteMessageInvalidArgs1.json
      "x-ms-request-id" : "86d0b0b6-d003-0034-0e88-539fde000000",
      "Date" : "Thu, 15 Aug 2019 16:40:25 GMT"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs158450b740d8f3/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
=======
      "x-ms-request-id" : "fb8e0535-9003-005e-6131-4ec375000000",
      "Date" : "Thu, 08 Aug 2019 21:38:40 GMT"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue67128106/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
>>>>>>> e0117285eed... queue async:sdk/storage/azure-storage-queue/src/test/resources/session-records/dequeueMessage.json
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
<<<<<<< HEAD:sdk/storage/azure-storage-queue/src/test/resources/session-records/QueueAPITestsDeleteMessageInvalidArgs1.json
      "x-ms-request-id" : "86d0b0bd-d003-0034-1488-539fde000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>34e78151-51d8-45fa-b3f4-f3e5a1e6c31f</MessageId><InsertionTime>Thu, 15 Aug 2019 16:40:25 GMT</InsertionTime><ExpirationTime>Thu, 22 Aug 2019 16:40:25 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAARv6kI4hT1QE=</PopReceipt><TimeNextVisible>Thu, 15 Aug 2019 16:40:25 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Date" : "Thu, 15 Aug 2019 16:40:25 GMT",
=======
      "x-ms-request-id" : "fb8e0541-9003-005e-6a31-4ec375000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>1e3986c2-6bc8-468b-ba32-ae3841561c4b</MessageId><InsertionTime>Thu, 08 Aug 2019 21:38:41 GMT</InsertionTime><ExpirationTime>Thu, 15 Aug 2019 21:38:41 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA1O9WpTFO1QE=</PopReceipt><TimeNextVisible>Thu, 08 Aug 2019 21:38:41 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Date" : "Thu, 08 Aug 2019 21:38:40 GMT",
>>>>>>> e0117285eed... queue async:sdk/storage/azure-storage-queue/src/test/resources/session-records/dequeueMessage.json
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
<<<<<<< HEAD:sdk/storage/azure-storage-queue/src/test/resources/session-records/QueueAPITestsDeleteMessageInvalidArgs1.json
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs158450b740d8f3/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
=======
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue67128106/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
>>>>>>> e0117285eed... queue async:sdk/storage/azure-storage-queue/src/test/resources/session-records/dequeueMessage.json
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD:sdk/storage/azure-storage-queue/src/test/resources/session-records/QueueAPITestsDeleteMessageInvalidArgs1.json
      "x-ms-request-id" : "86d0b0c0-d003-0034-1688-539fde000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>34e78151-51d8-45fa-b3f4-f3e5a1e6c31f</MessageId><InsertionTime>Thu, 15 Aug 2019 16:40:25 GMT</InsertionTime><ExpirationTime>Thu, 22 Aug 2019 16:40:25 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAASb2MNYhT1QE=</PopReceipt><TimeNextVisible>Thu, 15 Aug 2019 16:40:55 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>",
      "Date" : "Thu, 15 Aug 2019 16:40:25 GMT",
=======
      "x-ms-request-id" : "fb8e0547-9003-005e-6f31-4ec375000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>1e3986c2-6bc8-468b-ba32-ae3841561c4b</MessageId><InsertionTime>Thu, 08 Aug 2019 21:38:41 GMT</InsertionTime><ExpirationTime>Thu, 15 Aug 2019 21:38:41 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAT0pKtzFO1QE=</PopReceipt><TimeNextVisible>Thu, 08 Aug 2019 21:39:11 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>",
      "Date" : "Thu, 08 Aug 2019 21:38:40 GMT",
>>>>>>> e0117285eed... queue async:sdk/storage/azure-storage-queue/src/test/resources/session-records/dequeueMessage.json
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "DELETE",
<<<<<<< HEAD:sdk/storage/azure-storage-queue/src/test/resources/session-records/QueueAPITestsDeleteMessageInvalidArgs1.json
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queueapitestsdeletemessageinvalidargs158450b740d8f3/messages/34e78151-51d8-45fa-b3f4-f3e5a1e6c31fRandom?popreceipt=AgAAAAMAAAAAAAAASb2MNYhT1QE%3d",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
=======
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue67128106/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
>>>>>>> e0117285eed... queue async:sdk/storage/azure-storage-queue/src/test/resources/session-records/dequeueMessage.json
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-error-code" : "MessageNotFound",
      "retry-after" : "0"
<<<<<<< HEAD:sdk/storage/azure-storage-queue/src/test/resources/session-records/QueueAPITestsDeleteMessageInvalidArgs1.json
      "Content-Length" : "221",
      "StatusCode" : "404",
      "x-ms-request-id" : "86d0b0c4-d003-0034-1a88-539fde000000",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>MessageNotFound</Code><Message>The specified message does not exist.\nRequestId:86d0b0c4-d003-0034-1a88-539fde000000\nTime:2019-08-15T16:40:26.7240160Z</Message></Error>",
      "Date" : "Thu, 15 Aug 2019 16:40:26 GMT",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queueapitestsdeletemessageinvalidargs158450b740d8f3" ]
=======
      "Content-Length" : "0",
      "StatusCode" : "204",
      "x-ms-request-id" : "fb8e0549-9003-005e-7131-4ec375000000",
      "Date" : "Thu, 08 Aug 2019 21:38:40 GMT"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue67128106",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "204"
    }
  } ],
  "variables" : [ "queue67128106" ]
>>>>>>> e0117285eed... queue async:sdk/storage/azure-storage-queue/src/test/resources/session-records/dequeueMessage.json
}