{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/createqueuemaxoverload872375f01f7d007224ed4",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/createqueuemaxoverload872375f01f7d007224ed4/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>8b071f1e-e702-4cbf-aa58-6ce494a75e2c</MessageId><InsertionTime>Thu, 05 Sep 2019 00:14:29 GMT</InsertionTime><ExpirationTime>Thu, 12 Sep 2019 00:14:29 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAMie74n5j1QE=</PopReceipt><TimeNextVisible>Thu, 05 Sep 2019 00:14:29 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "createqueuemaxoverload872375f01f7d007224ed4" ]
}