{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/listqueuesqueueserviceasyncapitestslistqueues9bd878287480",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net?prefix=listqueues&maxresults=2&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.queue.core.windows.net/\"><Prefix>listqueues</Prefix><MaxResults>2</MaxResults><Queues><Queue><Name>listqueuesqueueserviceasyncapitestslistqueues9bd878287480</Name></Queue><Queue><Name>listqueuesqueueserviceasyncapitestslistqueues9bd878287481</Name></Queue></Queues><NextMarker>/azstoragesdkaccount/listqueuesqueueserviceasyncapitestslistqueues9bd878287482</NextMarker></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net?prefix=listqueues&marker=/azstoragesdkaccount/listqueuesqueueserviceasyncapitestslistqueues9bd878287482&maxresults=2&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.queue.core.windows.net/\"><Prefix>listqueues</Prefix><Marker>/azstoragesdkaccount/listqueuesqueueserviceasyncapitestslistqueues9bd878287482</Marker><MaxResults>2</MaxResults><Queues><Queue><Name>listqueuesqueueserviceasyncapitestslistqueues9bd878287482</Name></Queue></Queues><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "listqueuesqueueserviceasyncapitestslistqueues9bd87828748" ]
}