{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/createqueuemaxoverload954043c6018067c524f4b",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/createqueuemaxoverload954043c6018067c524f4b/messages",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>22815fcf-5702-4bc4-97df-dec26caf180c</MessageId><InsertionTime>Tue, 03 Dec 2019 23:35:27 GMT</InsertionTime><ExpirationTime>Tue, 10 Dec 2019 23:35:27 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAABC33VzKq1QE=</PopReceipt><TimeNextVisible>Tue, 03 Dec 2019 23:35:27 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  } ],
  "variables" : [ "createqueuemaxoverload954043c6018067c524f4b" ]
}