{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue7901121c",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue7901121c/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>173fbf30-ecd2-4ef1-8e67-1bb8852718a9</MessageId><InsertionTime>Wed, 14 Aug 2019 00:35:08 GMT</InsertionTime><ExpirationTime>Wed, 21 Aug 2019 00:35:08 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAohLLHzhS1QE=</PopReceipt><TimeNextVisible>Wed, 14 Aug 2019 00:35:08 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue7901121c/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>173fbf30-ecd2-4ef1-8e67-1bb8852718a9</MessageId><InsertionTime>Wed, 14 Aug 2019 00:35:08 GMT</InsertionTime><ExpirationTime>Wed, 21 Aug 2019 00:35:08 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA5r+xMThS1QE=</PopReceipt><TimeNextVisible>Wed, 14 Aug 2019 00:35:38 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message before update</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue7901121c/messages/173fbf30-ecd2-4ef1-8e67-1bb8852718a9?popreceipt=AgAAAAMAAAAAAAAA5r%2bxMThS1QE%3d&visibilitytimeout=1",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-time-next-visible" : "Wed, 14 Aug 2019 00:35:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "204",
      "x-ms-popreceipt" : "AwAAAAMAAAAAAAAANT1zIDhS1QEBAAAA"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue7901121c/messages?peekonly=true",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>173fbf30-ecd2-4ef1-8e67-1bb8852718a9</MessageId><InsertionTime>Wed, 14 Aug 2019 00:35:08 GMT</InsertionTime><ExpirationTime>Wed, 21 Aug 2019 00:35:08 GMT</ExpirationTime><DequeueCount>1</DequeueCount><MessageText>Updated test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queue7901121c" ]
}