{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue90505b99",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue90505b99/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>32eb4ad0-5ee5-4e54-a08f-06053f07a784</MessageId><InsertionTime>Wed, 14 Aug 2019 00:33:27 GMT</InsertionTime><ExpirationTime>Wed, 21 Aug 2019 00:33:27 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAkS2K4zdS1QE=</PopReceipt><TimeNextVisible>Wed, 14 Aug 2019 00:33:27 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue90505b99/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>32eb4ad0-5ee5-4e54-a08f-06053f07a784</MessageId><InsertionTime>Wed, 14 Aug 2019 00:33:27 GMT</InsertionTime><ExpirationTime>Wed, 21 Aug 2019 00:33:27 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAApLNw9TdS1QE=</PopReceipt><TimeNextVisible>Wed, 14 Aug 2019 00:33:57 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message before update</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue90505b99/messages/32eb4ad0-5ee5-4e54-a08f-06053f07a784?popreceipt=AgAAAAMAAAAAAAAApLNw9TdS1QE%3d&visibilitytimeout=1",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-time-next-visible" : "Wed, 14 Aug 2019 00:33:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "204",
      "x-ms-popreceipt" : "AwAAAAMAAAAAAAAAXzgu5DdS1QEBAAAA"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue90505b99/messages?peekonly=true",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>32eb4ad0-5ee5-4e54-a08f-06053f07a784</MessageId><InsertionTime>Wed, 14 Aug 2019 00:33:27 GMT</InsertionTime><ExpirationTime>Wed, 21 Aug 2019 00:33:27 GMT</ExpirationTime><DequeueCount>1</DequeueCount><MessageText>Updated test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queue90505b99" ]
}