{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue57536049",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue57536049/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fc87e1dc-6d89-4f46-97b7-0ff24073b145</MessageId><InsertionTime>Fri, 09 Aug 2019 23:17:44 GMT</InsertionTime><ExpirationTime>Fri, 16 Aug 2019 23:17:44 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAUSdapghP1QE=</PopReceipt><TimeNextVisible>Fri, 09 Aug 2019 23:17:44 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue57536049/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>fc87e1dc-6d89-4f46-97b7-0ff24073b145</MessageId><InsertionTime>Fri, 09 Aug 2019 23:17:44 GMT</InsertionTime><ExpirationTime>Fri, 16 Aug 2019 23:17:44 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAABHFBuAhP1QE=</PopReceipt><TimeNextVisible>Fri, 09 Aug 2019 23:18:14 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message before update</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue57536049/messages/fc87e1dc-6d89-4f46-97b7-0ff24073b145Random?popreceipt=AgAAAAMAAAAAAAAABHFBuAhP1QE%3d&visibilitytimeout=1",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-error-code" : "MessageNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>MessageNotFound</Code><Message>The specified message does not exist.\nRequestId:2a62c38b-8003-010a-4108-4f6faa000000\nTime:2019-08-09T23:17:44.7521030Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queue82921d51", "queue432196d4", "queue57536049" ]
}