{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue28045ab5",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue28045ab5/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>32f692df-8384-41b7-9b5e-db49776a9c9e</MessageId><InsertionTime>Tue, 13 Aug 2019 18:00:36 GMT</InsertionTime><ExpirationTime>Tue, 20 Aug 2019 18:00:36 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAxugqAgFS1QE=</PopReceipt><TimeNextVisible>Tue, 13 Aug 2019 18:00:36 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue28045ab5/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>32f692df-8384-41b7-9b5e-db49776a9c9e</MessageId><InsertionTime>Tue, 13 Aug 2019 18:00:36 GMT</InsertionTime><ExpirationTime>Tue, 20 Aug 2019 18:00:36 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAApo4VFAFS1QE=</PopReceipt><TimeNextVisible>Tue, 13 Aug 2019 18:01:06 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test update message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue28045ab5/messages/32f692df-8384-41b7-9b5e-db49776a9c9e?popreceipt=AgAAAAMAAAAAAAAApo4VFAFS1QE%3d&visibilitytimeout=1",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-error-code" : "QueueNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The specified queue does not exist.\nRequestId:abcae54f-9003-00f4-6801-52159a000000\nTime:2019-08-13T18:01:06.3946607Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queue28045ab5" ]
}