{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key55481552829?label=8a547e84272803",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjgwODk=;sn=228089",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 24 Apr 2019 18:48:40 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"6DiyhVHPcexjK0y9Avpib5F4ZNF\"",
      "Body" : "{\"etag\":\"6DiyhVHPcexjK0y9Avpib5F4ZNF\",\"key\":\"key55481552829\",\"label\":\"8a547e84272803\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T18:48:40+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key55481552829&label=8a547e84272803%2c8a547e8439365e",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjgwOTA=;sn=228090",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"6DiyhVHPcexjK0y9Avpib5F4ZNF\",\"key\":\"key55481552829\",\"label\":\"8a547e84272803\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T18:48:40+00:00\"},{\"etag\":\"E95PrGzijXfeNsulv8DDtWWALQG\",\"key\":\"key55481552829\",\"label\":\"8a547e8439365e\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T18:48:40+00:00\"}]}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key55481%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjgwOTA=;sn=228090",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"6DiyhVHPcexjK0y9Avpib5F4ZNF\",\"key\":\"key55481552829\",\"label\":\"8a547e84272803\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T18:48:40+00:00\"},{\"etag\":\"E95PrGzijXfeNsulv8DDtWWALQG\",\"key\":\"key55481552829\",\"label\":\"8a547e8439365e\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T18:48:40+00:00\"}]}"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key55481552829?label=8a547e8439365e",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjgwOTI=;sn=228092",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 24 Apr 2019 18:48:40 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"E95PrGzijXfeNsulv8DDtWWALQG\"",
      "Body" : "{\"etag\":\"E95PrGzijXfeNsulv8DDtWWALQG\",\"key\":\"key55481552829\",\"label\":\"8a547e8439365e\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T18:48:40+00:00\"}"
    }
  } ],
  "variables" : [ "key55481", "8a547e84", "key55481552829", "8a547e84272803", "8a547e8439365e" ]
}