# Confidential Ledger resource endpoint
CONFIDENTIALLEDGER_URL=
CONFIDENTIALLEDGER_IDENTITY_URL=
LEDGER_IDENTITY=

# App registration secret for AAD authentication
AZURE_CLIENT_SECRET=
AZURE_CLIENT_ID=
AZURE_TENANT_ID=

# Client Certificate and Key in PEM format
USER_CERT= 
USER_CERT_KEY=

USER_ID=

TEST_MODE=live

CERTIFICATE=

TLS_CERTIFICATE=

NODE_TLS_REJECT_UNAUTHORIZED=0