{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/secrets/testSecretGetDelete?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"testSecretGetDeleteVal\",\"id\":\"https://azure-sdk-java-key-vault.vault.azure.net/secrets/testSecretGetDelete/ef8653aacb054a14b0040b243ecc0aa4\",\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1560365687,\"updated\":1560365687,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/secrets/testSecretGetDelete?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"recoveryId\":\"https://azure-sdk-java-key-vault.vault.azure.net/deletedsecrets/testSecretGetDelete\",\"deletedDate\":1560365687,\"scheduledPurgeDate\":1568141687,\"id\":\"https://azure-sdk-java-key-vault.vault.azure.net/secrets/testSecretGetDelete/ef8653aacb054a14b0040b243ecc0aa4\",\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1560365687,\"updated\":1560365687,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/deletedsecrets/testSecretGetDelete?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"error\":{\"code\":\"SecretNotFound\",\"message\":\"Deleted Secret not found: testSecretGetDelete\"}}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/deletedsecrets/testSecretGetDelete?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"error\":{\"code\":\"SecretNotFound\",\"message\":\"Deleted Secret not found: testSecretGetDelete\"}}"
    }
  } ],
  "variables" : [ ]
}