{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/secrets/testSecretGetDeleted?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"testSecretGetDeleteVal\",\"id\":\"https://azure-sdk-java-key-vault.vault.azure.net/secrets/testSecretGetDeleted/8f916eb84456435e83bf0eb8ddeab17b\",\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1561364961,\"updated\":1561364961,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/secrets/testSecretGetDeleted?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"recoveryId\":\"https://azure-sdk-java-key-vault.vault.azure.net/deletedsecrets/testSecretGetDeleted\",\"deletedDate\":1561364968,\"scheduledPurgeDate\":1569140968,\"id\":\"https://azure-sdk-java-key-vault.vault.azure.net/secrets/testSecretGetDeleted/8f916eb84456435e83bf0eb8ddeab17b\",\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1561364961,\"updated\":1561364961,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/deletedsecrets/testSecretGetDeleted?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"error\":{\"code\":\"SecretNotFound\",\"message\":\"Deleted Secret not found: testSecretGetDeleted\"}}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/deletedsecrets/testSecretGetDeleted?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"error\":{\"code\":\"SecretNotFound\",\"message\":\"Deleted Secret not found: testSecretGetDeleted\"}}"
    }
  } ],
  "variables" : [ ]
}