{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/secrets/testSecretGet?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"testSecretGetVal\",\"id\":\"https://azure-sdk-java-key-vault.vault.azure.net/secrets/testSecretGet/c387d1ab9a4644e6b764aeb6f51b5d50\",\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1560365886,\"updated\":1560365886,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/secrets/testSecretGet/?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"testSecretGetVal\",\"id\":\"https://azure-sdk-java-key-vault.vault.azure.net/secrets/testSecretGet/c387d1ab9a4644e6b764aeb6f51b5d50\",\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1560365886,\"updated\":1560365886,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  } ],
  "variables" : [ ]
}