// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.servicegroups.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Post;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.resourcemanager.servicegroups.fluent.ServiceGroupsClient;
import com.azure.resourcemanager.servicegroups.fluent.models.ServiceGroupCollectionResponseInner;
import com.azure.resourcemanager.servicegroups.fluent.models.ServiceGroupInner;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in ServiceGroupsClient.
 */
public final class ServiceGroupsClientImpl implements ServiceGroupsClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final ServiceGroupsService service;

    /**
     * The service client containing this operation class.
     */
    private final ServiceGroupsManagementClientImpl client;

    /**
     * Initializes an instance of ServiceGroupsClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    ServiceGroupsClientImpl(ServiceGroupsManagementClientImpl client) {
        this.service
            = RestProxy.create(ServiceGroupsService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for ServiceGroupsManagementClientServiceGroups to be used by the proxy
     * service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "ServiceGroupsManagementClientServiceGroups")
    public interface ServiceGroupsService {
        @Headers({ "Content-Type: application/json" })
        @Get("/providers/Microsoft.Management/serviceGroups/{serviceGroupName}")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<ServiceGroupInner>> get(@HostParam("$host") String endpoint,
            @PathParam("serviceGroupName") String serviceGroupName, @QueryParam("api-version") String apiVersion,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Get("/providers/Microsoft.Management/serviceGroups/{serviceGroupName}")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Response<ServiceGroupInner> getSync(@HostParam("$host") String endpoint,
            @PathParam("serviceGroupName") String serviceGroupName, @QueryParam("api-version") String apiVersion,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Post("/providers/Microsoft.Management/serviceGroups/{serviceGroupName}/listAncestors")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<ServiceGroupCollectionResponseInner>> listAncestors(@HostParam("$host") String endpoint,
            @PathParam("serviceGroupName") String serviceGroupName, @QueryParam("api-version") String apiVersion,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Post("/providers/Microsoft.Management/serviceGroups/{serviceGroupName}/listAncestors")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Response<ServiceGroupCollectionResponseInner> listAncestorsSync(@HostParam("$host") String endpoint,
            @PathParam("serviceGroupName") String serviceGroupName, @QueryParam("api-version") String apiVersion,
            @HeaderParam("Accept") String accept, Context context);
    }

    /**
     * Get the details of the serviceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the details of the serviceGroup along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<ServiceGroupInner>> getWithResponseAsync(String serviceGroupName) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (serviceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter serviceGroupName is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.get(this.client.getEndpoint(), serviceGroupName,
                this.client.getApiVersion(), accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Get the details of the serviceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the details of the serviceGroup on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<ServiceGroupInner> getAsync(String serviceGroupName) {
        return getWithResponseAsync(serviceGroupName).flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Get the details of the serviceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the details of the serviceGroup along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<ServiceGroupInner> getWithResponse(String serviceGroupName, Context context) {
        if (this.client.getEndpoint() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (serviceGroupName == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter serviceGroupName is required and cannot be null."));
        }
        final String accept = "application/json";
        return service.getSync(this.client.getEndpoint(), serviceGroupName, this.client.getApiVersion(), accept,
            context);
    }

    /**
     * Get the details of the serviceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the details of the serviceGroup.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public ServiceGroupInner get(String serviceGroupName) {
        return getWithResponse(serviceGroupName, Context.NONE).getValue();
    }

    /**
     * Get the details of the serviceGroup's ancestors.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the details of the serviceGroup's ancestors along with {@link Response} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<ServiceGroupCollectionResponseInner>>
        listAncestorsWithResponseAsync(String serviceGroupName) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (serviceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter serviceGroupName is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.listAncestors(this.client.getEndpoint(), serviceGroupName,
                this.client.getApiVersion(), accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Get the details of the serviceGroup's ancestors.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the details of the serviceGroup's ancestors on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<ServiceGroupCollectionResponseInner> listAncestorsAsync(String serviceGroupName) {
        return listAncestorsWithResponseAsync(serviceGroupName).flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Get the details of the serviceGroup's ancestors.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the details of the serviceGroup's ancestors along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<ServiceGroupCollectionResponseInner> listAncestorsWithResponse(String serviceGroupName,
        Context context) {
        if (this.client.getEndpoint() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (serviceGroupName == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter serviceGroupName is required and cannot be null."));
        }
        final String accept = "application/json";
        return service.listAncestorsSync(this.client.getEndpoint(), serviceGroupName, this.client.getApiVersion(),
            accept, context);
    }

    /**
     * Get the details of the serviceGroup's ancestors.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the details of the serviceGroup's ancestors.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public ServiceGroupCollectionResponseInner listAncestors(String serviceGroupName) {
        return listAncestorsWithResponse(serviceGroupName, Context.NONE).getValue();
    }

    private static final ClientLogger LOGGER = new ClientLogger(ServiceGroupsClientImpl.class);
}
