// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.managementservicegroups.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.Delete;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.Patch;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Put;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.management.polling.PollResult;
import com.azure.core.util.BinaryData;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.core.util.polling.PollerFlux;
import com.azure.core.util.polling.SyncPoller;
import com.azure.resourcemanager.managementservicegroups.fluent.ResourceProvidersClient;
import com.azure.resourcemanager.managementservicegroups.fluent.models.ServiceGroupInner;
import java.nio.ByteBuffer;
import reactor.core.publisher.Flux;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in ResourceProvidersClient.
 */
public final class ResourceProvidersClientImpl implements ResourceProvidersClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final ResourceProvidersService service;

    /**
     * The service client containing this operation class.
     */
    private final ServiceGroupsManagementClientImpl client;

    /**
     * Initializes an instance of ResourceProvidersClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    ResourceProvidersClientImpl(ServiceGroupsManagementClientImpl client) {
        this.service
            = RestProxy.create(ResourceProvidersService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for ServiceGroupsManagementClientResourceProviders to be used by the
     * proxy service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "ServiceGroupsManagementClientResourceProviders")
    public interface ResourceProvidersService {
        @Headers({ "Content-Type: application/json" })
        @Put("/providers/Microsoft.Management/serviceGroups/{serviceGroupName}")
        @ExpectedResponses({ 200, 201 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<Flux<ByteBuffer>>> createOrUpdateServiceGroup(@HostParam("$host") String endpoint,
            @PathParam("serviceGroupName") String serviceGroupName, @QueryParam("api-version") String apiVersion,
            @BodyParam("application/json") ServiceGroupInner createServiceGroupRequest,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Put("/providers/Microsoft.Management/serviceGroups/{serviceGroupName}")
        @ExpectedResponses({ 200, 201 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Response<BinaryData> createOrUpdateServiceGroupSync(@HostParam("$host") String endpoint,
            @PathParam("serviceGroupName") String serviceGroupName, @QueryParam("api-version") String apiVersion,
            @BodyParam("application/json") ServiceGroupInner createServiceGroupRequest,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Patch("/providers/Microsoft.Management/serviceGroups/{serviceGroupName}")
        @ExpectedResponses({ 200, 202 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<Flux<ByteBuffer>>> updateServiceGroup(@HostParam("$host") String endpoint,
            @PathParam("serviceGroupName") String serviceGroupName, @QueryParam("api-version") String apiVersion,
            @BodyParam("application/json") ServiceGroupInner updateServiceGroupRequest,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Patch("/providers/Microsoft.Management/serviceGroups/{serviceGroupName}")
        @ExpectedResponses({ 200, 202 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Response<BinaryData> updateServiceGroupSync(@HostParam("$host") String endpoint,
            @PathParam("serviceGroupName") String serviceGroupName, @QueryParam("api-version") String apiVersion,
            @BodyParam("application/json") ServiceGroupInner updateServiceGroupRequest,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Delete("/providers/Microsoft.Management/serviceGroups/{serviceGroupName}")
        @ExpectedResponses({ 202, 204 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<Flux<ByteBuffer>>> deleteServiceGroup(@HostParam("$host") String endpoint,
            @PathParam("serviceGroupName") String serviceGroupName, @QueryParam("api-version") String apiVersion,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Delete("/providers/Microsoft.Management/serviceGroups/{serviceGroupName}")
        @ExpectedResponses({ 202, 204 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Response<BinaryData> deleteServiceGroupSync(@HostParam("$host") String endpoint,
            @PathParam("serviceGroupName") String serviceGroupName, @QueryParam("api-version") String apiVersion,
            @HeaderParam("Accept") String accept, Context context);
    }

    /**
     * Create or Update a serviceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param createServiceGroupRequest ServiceGroup creation parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the serviceGroup details along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Flux<ByteBuffer>>> createOrUpdateServiceGroupWithResponseAsync(String serviceGroupName,
        ServiceGroupInner createServiceGroupRequest) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (serviceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter serviceGroupName is required and cannot be null."));
        }
        if (createServiceGroupRequest == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter createServiceGroupRequest is required and cannot be null."));
        } else {
            createServiceGroupRequest.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.createOrUpdateServiceGroup(this.client.getEndpoint(), serviceGroupName,
                this.client.getApiVersion(), createServiceGroupRequest, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Create or Update a serviceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param createServiceGroupRequest ServiceGroup creation parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the serviceGroup details along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Response<BinaryData> createOrUpdateServiceGroupWithResponse(String serviceGroupName,
        ServiceGroupInner createServiceGroupRequest) {
        if (this.client.getEndpoint() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (serviceGroupName == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter serviceGroupName is required and cannot be null."));
        }
        if (createServiceGroupRequest == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter createServiceGroupRequest is required and cannot be null."));
        } else {
            createServiceGroupRequest.validate();
        }
        final String accept = "application/json";
        return service.createOrUpdateServiceGroupSync(this.client.getEndpoint(), serviceGroupName,
            this.client.getApiVersion(), createServiceGroupRequest, accept, Context.NONE);
    }

    /**
     * Create or Update a serviceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param createServiceGroupRequest ServiceGroup creation parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the serviceGroup details along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Response<BinaryData> createOrUpdateServiceGroupWithResponse(String serviceGroupName,
        ServiceGroupInner createServiceGroupRequest, Context context) {
        if (this.client.getEndpoint() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (serviceGroupName == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter serviceGroupName is required and cannot be null."));
        }
        if (createServiceGroupRequest == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter createServiceGroupRequest is required and cannot be null."));
        } else {
            createServiceGroupRequest.validate();
        }
        final String accept = "application/json";
        return service.createOrUpdateServiceGroupSync(this.client.getEndpoint(), serviceGroupName,
            this.client.getApiVersion(), createServiceGroupRequest, accept, context);
    }

    /**
     * Create or Update a serviceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param createServiceGroupRequest ServiceGroup creation parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link PollerFlux} for polling of the serviceGroup details.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    private PollerFlux<PollResult<ServiceGroupInner>, ServiceGroupInner>
        beginCreateOrUpdateServiceGroupAsync(String serviceGroupName, ServiceGroupInner createServiceGroupRequest) {
        Mono<Response<Flux<ByteBuffer>>> mono
            = createOrUpdateServiceGroupWithResponseAsync(serviceGroupName, createServiceGroupRequest);
        return this.client.<ServiceGroupInner, ServiceGroupInner>getLroResult(mono, this.client.getHttpPipeline(),
            ServiceGroupInner.class, ServiceGroupInner.class, this.client.getContext());
    }

    /**
     * Create or Update a serviceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param createServiceGroupRequest ServiceGroup creation parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link SyncPoller} for polling of the serviceGroup details.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public SyncPoller<PollResult<ServiceGroupInner>, ServiceGroupInner>
        beginCreateOrUpdateServiceGroup(String serviceGroupName, ServiceGroupInner createServiceGroupRequest) {
        Response<BinaryData> response
            = createOrUpdateServiceGroupWithResponse(serviceGroupName, createServiceGroupRequest);
        return this.client.<ServiceGroupInner, ServiceGroupInner>getLroResult(response, ServiceGroupInner.class,
            ServiceGroupInner.class, Context.NONE);
    }

    /**
     * Create or Update a serviceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param createServiceGroupRequest ServiceGroup creation parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link SyncPoller} for polling of the serviceGroup details.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public SyncPoller<PollResult<ServiceGroupInner>, ServiceGroupInner> beginCreateOrUpdateServiceGroup(
        String serviceGroupName, ServiceGroupInner createServiceGroupRequest, Context context) {
        Response<BinaryData> response
            = createOrUpdateServiceGroupWithResponse(serviceGroupName, createServiceGroupRequest, context);
        return this.client.<ServiceGroupInner, ServiceGroupInner>getLroResult(response, ServiceGroupInner.class,
            ServiceGroupInner.class, context);
    }

    /**
     * Create or Update a serviceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param createServiceGroupRequest ServiceGroup creation parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the serviceGroup details on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<ServiceGroupInner> createOrUpdateServiceGroupAsync(String serviceGroupName,
        ServiceGroupInner createServiceGroupRequest) {
        return beginCreateOrUpdateServiceGroupAsync(serviceGroupName, createServiceGroupRequest).last()
            .flatMap(this.client::getLroFinalResultOrError);
    }

    /**
     * Create or Update a serviceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param createServiceGroupRequest ServiceGroup creation parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the serviceGroup details.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public ServiceGroupInner createOrUpdateServiceGroup(String serviceGroupName,
        ServiceGroupInner createServiceGroupRequest) {
        return beginCreateOrUpdateServiceGroup(serviceGroupName, createServiceGroupRequest).getFinalResult();
    }

    /**
     * Create or Update a serviceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param createServiceGroupRequest ServiceGroup creation parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the serviceGroup details.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public ServiceGroupInner createOrUpdateServiceGroup(String serviceGroupName,
        ServiceGroupInner createServiceGroupRequest, Context context) {
        return beginCreateOrUpdateServiceGroup(serviceGroupName, createServiceGroupRequest, context).getFinalResult();
    }

    /**
     * Update a serviceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param updateServiceGroupRequest ServiceGroup update parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the serviceGroup details along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Flux<ByteBuffer>>> updateServiceGroupWithResponseAsync(String serviceGroupName,
        ServiceGroupInner updateServiceGroupRequest) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (serviceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter serviceGroupName is required and cannot be null."));
        }
        if (updateServiceGroupRequest == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter updateServiceGroupRequest is required and cannot be null."));
        } else {
            updateServiceGroupRequest.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.updateServiceGroup(this.client.getEndpoint(), serviceGroupName,
                this.client.getApiVersion(), updateServiceGroupRequest, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Update a serviceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param updateServiceGroupRequest ServiceGroup update parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the serviceGroup details along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Response<BinaryData> updateServiceGroupWithResponse(String serviceGroupName,
        ServiceGroupInner updateServiceGroupRequest) {
        if (this.client.getEndpoint() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (serviceGroupName == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter serviceGroupName is required and cannot be null."));
        }
        if (updateServiceGroupRequest == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter updateServiceGroupRequest is required and cannot be null."));
        } else {
            updateServiceGroupRequest.validate();
        }
        final String accept = "application/json";
        return service.updateServiceGroupSync(this.client.getEndpoint(), serviceGroupName, this.client.getApiVersion(),
            updateServiceGroupRequest, accept, Context.NONE);
    }

    /**
     * Update a serviceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param updateServiceGroupRequest ServiceGroup update parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the serviceGroup details along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Response<BinaryData> updateServiceGroupWithResponse(String serviceGroupName,
        ServiceGroupInner updateServiceGroupRequest, Context context) {
        if (this.client.getEndpoint() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (serviceGroupName == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter serviceGroupName is required and cannot be null."));
        }
        if (updateServiceGroupRequest == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter updateServiceGroupRequest is required and cannot be null."));
        } else {
            updateServiceGroupRequest.validate();
        }
        final String accept = "application/json";
        return service.updateServiceGroupSync(this.client.getEndpoint(), serviceGroupName, this.client.getApiVersion(),
            updateServiceGroupRequest, accept, context);
    }

    /**
     * Update a serviceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param updateServiceGroupRequest ServiceGroup update parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link PollerFlux} for polling of the serviceGroup details.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    private PollerFlux<PollResult<ServiceGroupInner>, ServiceGroupInner>
        beginUpdateServiceGroupAsync(String serviceGroupName, ServiceGroupInner updateServiceGroupRequest) {
        Mono<Response<Flux<ByteBuffer>>> mono
            = updateServiceGroupWithResponseAsync(serviceGroupName, updateServiceGroupRequest);
        return this.client.<ServiceGroupInner, ServiceGroupInner>getLroResult(mono, this.client.getHttpPipeline(),
            ServiceGroupInner.class, ServiceGroupInner.class, this.client.getContext());
    }

    /**
     * Update a serviceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param updateServiceGroupRequest ServiceGroup update parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link SyncPoller} for polling of the serviceGroup details.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public SyncPoller<PollResult<ServiceGroupInner>, ServiceGroupInner> beginUpdateServiceGroup(String serviceGroupName,
        ServiceGroupInner updateServiceGroupRequest) {
        Response<BinaryData> response = updateServiceGroupWithResponse(serviceGroupName, updateServiceGroupRequest);
        return this.client.<ServiceGroupInner, ServiceGroupInner>getLroResult(response, ServiceGroupInner.class,
            ServiceGroupInner.class, Context.NONE);
    }

    /**
     * Update a serviceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param updateServiceGroupRequest ServiceGroup update parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link SyncPoller} for polling of the serviceGroup details.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public SyncPoller<PollResult<ServiceGroupInner>, ServiceGroupInner> beginUpdateServiceGroup(String serviceGroupName,
        ServiceGroupInner updateServiceGroupRequest, Context context) {
        Response<BinaryData> response
            = updateServiceGroupWithResponse(serviceGroupName, updateServiceGroupRequest, context);
        return this.client.<ServiceGroupInner, ServiceGroupInner>getLroResult(response, ServiceGroupInner.class,
            ServiceGroupInner.class, context);
    }

    /**
     * Update a serviceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param updateServiceGroupRequest ServiceGroup update parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the serviceGroup details on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<ServiceGroupInner> updateServiceGroupAsync(String serviceGroupName,
        ServiceGroupInner updateServiceGroupRequest) {
        return beginUpdateServiceGroupAsync(serviceGroupName, updateServiceGroupRequest).last()
            .flatMap(this.client::getLroFinalResultOrError);
    }

    /**
     * Update a serviceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param updateServiceGroupRequest ServiceGroup update parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the serviceGroup details.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public ServiceGroupInner updateServiceGroup(String serviceGroupName, ServiceGroupInner updateServiceGroupRequest) {
        return beginUpdateServiceGroup(serviceGroupName, updateServiceGroupRequest).getFinalResult();
    }

    /**
     * Update a serviceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param updateServiceGroupRequest ServiceGroup update parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the serviceGroup details.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public ServiceGroupInner updateServiceGroup(String serviceGroupName, ServiceGroupInner updateServiceGroupRequest,
        Context context) {
        return beginUpdateServiceGroup(serviceGroupName, updateServiceGroupRequest, context).getFinalResult();
    }

    /**
     * Delete a ServiceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Flux<ByteBuffer>>> deleteServiceGroupWithResponseAsync(String serviceGroupName) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (serviceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter serviceGroupName is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.deleteServiceGroup(this.client.getEndpoint(), serviceGroupName,
                this.client.getApiVersion(), accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Delete a ServiceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response body along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Response<BinaryData> deleteServiceGroupWithResponse(String serviceGroupName) {
        if (this.client.getEndpoint() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (serviceGroupName == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter serviceGroupName is required and cannot be null."));
        }
        final String accept = "application/json";
        return service.deleteServiceGroupSync(this.client.getEndpoint(), serviceGroupName, this.client.getApiVersion(),
            accept, Context.NONE);
    }

    /**
     * Delete a ServiceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response body along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Response<BinaryData> deleteServiceGroupWithResponse(String serviceGroupName, Context context) {
        if (this.client.getEndpoint() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (serviceGroupName == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter serviceGroupName is required and cannot be null."));
        }
        final String accept = "application/json";
        return service.deleteServiceGroupSync(this.client.getEndpoint(), serviceGroupName, this.client.getApiVersion(),
            accept, context);
    }

    /**
     * Delete a ServiceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link PollerFlux} for polling of long-running operation.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    private PollerFlux<PollResult<Void>, Void> beginDeleteServiceGroupAsync(String serviceGroupName) {
        Mono<Response<Flux<ByteBuffer>>> mono = deleteServiceGroupWithResponseAsync(serviceGroupName);
        return this.client.<Void, Void>getLroResult(mono, this.client.getHttpPipeline(), Void.class, Void.class,
            this.client.getContext());
    }

    /**
     * Delete a ServiceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link SyncPoller} for polling of long-running operation.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public SyncPoller<PollResult<Void>, Void> beginDeleteServiceGroup(String serviceGroupName) {
        Response<BinaryData> response = deleteServiceGroupWithResponse(serviceGroupName);
        return this.client.<Void, Void>getLroResult(response, Void.class, Void.class, Context.NONE);
    }

    /**
     * Delete a ServiceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link SyncPoller} for polling of long-running operation.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public SyncPoller<PollResult<Void>, Void> beginDeleteServiceGroup(String serviceGroupName, Context context) {
        Response<BinaryData> response = deleteServiceGroupWithResponse(serviceGroupName, context);
        return this.client.<Void, Void>getLroResult(response, Void.class, Void.class, context);
    }

    /**
     * Delete a ServiceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return A {@link Mono} that completes when a successful response is received.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Void> deleteServiceGroupAsync(String serviceGroupName) {
        return beginDeleteServiceGroupAsync(serviceGroupName).last().flatMap(this.client::getLroFinalResultOrError);
    }

    /**
     * Delete a ServiceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public void deleteServiceGroup(String serviceGroupName) {
        beginDeleteServiceGroup(serviceGroupName).getFinalResult();
    }

    /**
     * Delete a ServiceGroup.
     * 
     * @param serviceGroupName ServiceGroup Name.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public void deleteServiceGroup(String serviceGroupName, Context context) {
        beginDeleteServiceGroup(serviceGroupName, context).getFinalResult();
    }

    private static final ClientLogger LOGGER = new ClientLogger(ResourceProvidersClientImpl.class);
}
