{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/storagetests/directory67807a?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "last-modified" : "Mon, 17 Jun 2019 22:16:12 GMT",
      "x-ms-version" : "2018-11-09",
      "etag" : "\"0x8D6F371681EC3AB\"",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  } ],
  "variables" : [ "directory67807a" ]
}