{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmerstorage.file.core.windows.net/share10287788?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "last-modified" : "Fri, 14 Jun 2019 18:15:59 GMT",
      "x-ms-version" : "2018-11-09",
      "etag" : "\"0x8D6F0F45A5CBED0\"",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmerstorage.file.core.windows.net/share10287788?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "content-type" : "application/xml",
      "x-ms-error-code" : "ShareBeingDeleted",
      "retry-after" : "0",
      "StatusCode" : "409",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareBeingDeleted</Code><Message>The specified share is being deleted. Try operation later.\nRequestId:91408c35-c01a-0011-1edd-22f830000000\nTime:2019-06-14T18:15:59.9228909Z</Message></Error>"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmerstorage.file.core.windows.net?prefix=share10287788&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "content-type" : "application/xml",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://alzimmerstorage.file.core.windows.net/\"><Prefix>share10287788</Prefix><Shares /><NextMarker /></EnumerationResults>"
    }
  } ],
  "variables" : [ "share10287788" ]
}