{
  "networkCallRecords" : [ {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue30144952",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "content-type" : "application/xml",
      "x-ms-error-code" : "QueueNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The specified queue does not exist.\nRequestId:6b5c1122-e003-0024-16ff-225665000000\nTime:2019-06-14T22:21:59.7359311Z</Message></Error>"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net?prefix=queue30144952&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "content-type" : "application/xml",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://alzimmerstorage.queue.core.windows.net/\"><Prefix>queue30144952</Prefix><Queues /><NextMarker /></EnumerationResults>"
    }
  } ],
  "variables" : [ "queue30144952" ]
}