{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/dirsharename/directory62615b?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6F92F401C0ED2\"",
      "Last-Modified" : "Tue, 25 Jun 2019 05:37:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sima.file.core.windows.net/dirsharename/directory62615b?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "directory62615b" ]
}