{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue24082003",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue24082003/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "content-type" : "application/xml",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>161fd387-1396-452b-b161-4a4064f8883b</MessageId><InsertionTime>Thu, 13 Jun 2019 05:47:48 GMT</InsertionTime><ExpirationTime>Thu, 20 Jun 2019 05:47:48 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA5CL+h6sh1QE=</PopReceipt><TimeNextVisible>Thu, 13 Jun 2019 05:47:48 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue24082003/messages?numofmessages=2&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "content-type" : "application/xml",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>161fd387-1396-452b-b161-4a4064f8883b</MessageId><InsertionTime>Thu, 13 Jun 2019 05:47:48 GMT</InsertionTime><ExpirationTime>Thu, 20 Jun 2019 05:47:48 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAsa/rmash1QE=</PopReceipt><TimeNextVisible>Thu, 13 Jun 2019 05:48:18 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message</MessageText></QueueMessage><QueueMessage><MessageId>db168816-2408-4b40-90e9-0a3cfaf36268</MessageId><InsertionTime>Thu, 13 Jun 2019 05:47:48 GMT</InsertionTime><ExpirationTime>Thu, 20 Jun 2019 05:47:48 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAsa/rmash1QE=</PopReceipt><TimeNextVisible>Thu, 13 Jun 2019 05:48:18 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message 2</MessageText></QueueMessage></QueueMessagesList>"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue24082003/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "204"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue24082003",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "204"
    }
  } ],
  "variables" : [ "queue24082003" ]
}