{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue039365df/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "content-type" : "application/xml",
      "x-ms-error-code" : "QueueNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The specified queue does not exist.\nRequestId:eecd84bc-c003-001a-430c-23e044000000\nTime:2019-06-14T23:54:29.5719227Z</Message></Error>"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue039365df/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "content-type" : "application/xml",
      "x-ms-error-code" : "QueueNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The specified queue does not exist.\nRequestId:eecd84c1-c003-001a-470c-23e044000000\nTime:2019-06-14T23:54:29.6129620Z</Message></Error>"
    }
  } ],
  "variables" : [ "queue039365df" ]
}