{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue618998fd?comp=acl",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "content-type" : "application/xml",
      "x-ms-error-code" : "QueueNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The specified queue does not exist.\nRequestId:53b6ec21-a003-0001-62a9-21ced6000000\nTime:2019-06-13T05:36:15.7347312Z</Message></Error>"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue618998fd/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "content-type" : "application/xml",
      "x-ms-error-code" : "QueueNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The specified queue does not exist.\nRequestId:53b6ec25-a003-0001-64a9-21ced6000000\nTime:2019-06-13T05:36:15.7707658Z</Message></Error>"
    }
  } ],
  "variables" : [ "queue618998fd" ]
}