{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/share758824c2?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6F9300D59B0E3\"",
      "Last-Modified" : "Tue, 25 Jun 2019 05:43:29 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.file.core.windows.net/share758824c2?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-meta-test" : "metadata",
      "x-ms-version" : "2018-11-09",
      "Last-Modified" : "Tue, 25 Jun 2019 05:43:29 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "x-ms-share-quota" : "2",
      "ETag" : "\"0x8D6F9300D59B0E3\"",
      "x-ms-has-immutability-policy" : "false"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sima.file.core.windows.net/share758824c2?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "share758824c2" ]
}