{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://sima.file.core.windows.net/share28232a64?restype=share&comp=acl",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ShareNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareNotFound</Code><Message>The specified share does not exist.\nRequestId:cf06f021-901a-004c-5718-2b088d000000\nTime:2019-06-25T05:43:23.4647481Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sima.file.core.windows.net/share28232a64?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ShareNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareNotFound</Code><Message>The specified share does not exist.\nRequestId:cf06f022-901a-004c-5818-2b088d000000\nTime:2019-06-25T05:43:23.5458060Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "share28232a64" ]
}