{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/storagetests/directory11288e?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "last-modified" : "Mon, 17 Jun 2019 22:16:09 GMT",
      "x-ms-version" : "2018-11-09",
      "etag" : "\"0x8D6F371663FE81B\"",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.file.core.windows.net/storagetests/directory11288e?sharesnapshot=&restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "last-modified" : "Mon, 17 Jun 2019 22:16:09 GMT",
      "x-ms-server-encrypted" : "true",
      "x-ms-version" : "2018-11-09",
      "etag" : "\"0x8D6F371663FE81B\"",
      "retry-after" : "0",
      "StatusCode" : "200"
    }
  } ],
  "variables" : [ "directory11288e" ]
}