{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/dirsharename/directory901308?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6F92F3F449CDB\"",
      "Last-Modified" : "Tue, 25 Jun 2019 05:37:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.file.core.windows.net/dirsharename/directory901308?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-server-encrypted" : "true",
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6F92F3F449CDB\"",
      "Last-Modified" : "Tue, 25 Jun 2019 05:37:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    }
  } ],
  "variables" : [ "directory901308" ]
}