{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmerstorage.file.core.windows.net/share23809870?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "last-modified" : "Mon, 17 Jun 2019 22:14:57 GMT",
      "x-ms-version" : "2018-11-09",
      "etag" : "\"0x8D6F3713B62FDDE\"",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmerstorage.file.core.windows.net/share23809870?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-meta-test" : "metadata",
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "last-modified" : "Mon, 17 Jun 2019 22:14:57 GMT",
      "x-ms-share-quota" : "2",
      "x-ms-has-immutability-policy" : "false",
      "etag" : "\"0x8D6F3713B62FDDE\""
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.file.core.windows.net/share23809870?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "share23809870" ]
}
