{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://alzimmerstorage.file.core.windows.net/{shareName}?restype=share&comp=stats",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "content-type" : "application/xml",
      "x-ms-error-code" : "InvalidResourceName",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidResourceName</Code><Message>The specifed resource name contains invalid characters.\nRequestId:a1b94f38-401a-0029-6ed4-22b969000000\nTime:2019-06-14T17:10:14.5586696Z</Message></Error>"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmerstorage.file.core.windows.net?prefix=share261668e0&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "content-type" : "application/xml",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://alzimmerstorage.file.core.windows.net/\"><Prefix>share261668e0</Prefix><Shares /><NextMarker /></EnumerationResults>"
    }
  } ],
  "variables" : [ "share261668e0" ]
}