{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmerstorage.file.core.windows.net/share94111fc6?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "last-modified" : "Mon, 17 Jun 2019 22:15:44 GMT",
      "x-ms-version" : "2018-11-09",
      "etag" : "\"0x8D6F3715759346D\"",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmerstorage.file.core.windows.net/share94111fc6?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "last-modified" : "Mon, 17 Jun 2019 22:15:44 GMT",
      "x-ms-version" : "2018-11-09",
      "x-ms-snapshot" : "2019-06-17T22:15:44.0000000Z",
      "etag" : "\"0x8D6F371573D6800\"",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmerstorage.file.core.windows.net/share94111fc6?sharesnapshot=2019-06-17T22%3a15%3a44.0000000Z&restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-meta-snapshot" : "metadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "last-modified" : "Mon, 17 Jun 2019 22:15:44 GMT",
      "x-ms-share-quota" : "2",
      "x-ms-has-immutability-policy" : "false",
      "etag" : "\"0x8D6F371573D6800\""
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.file.core.windows.net/share94111fc6?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "content-type" : "application/xml",
      "x-ms-error-code" : "ShareHasSnapshots",
      "retry-after" : "0",
      "StatusCode" : "409",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareHasSnapshots</Code><Message>The share has snapshots and the operation requires no snapshots.\nRequestId:b1b3872c-601a-0035-015a-25617e000000\nTime:2019-06-17T22:15:44.2892844Z</Message></Error>"
    }
  } ],
  "variables" : [ "share94111fc6" ]
}