{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/storagefiletests/testdir%2ffile318204f2",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "last-modified" : "Thu, 20 Jun 2019 03:08:44 GMT",
      "x-ms-version" : "2018-11-09",
      "etag" : "\"0x8D6F52C9B274805\"",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.file.core.windows.net/storagefiletests/testdir%2ffile318204f2?comp=listhandles",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "content-type" : "application/xml",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults><Entries /><NextMarker /></EnumerationResults>"
    }
  } ],
  "variables" : [ "file318204f2" ]
}