{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue20528c490",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net?prefix=queue20528c49&maxresults=2&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "content-type" : "application/xml",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://alzimmerstorage.queue.core.windows.net/\"><Prefix>queue20528c49</Prefix><MaxResults>2</MaxResults><Queues><Queue><Name>queue20528c490</Name></Queue><Queue><Name>queue20528c491</Name></Queue></Queues><NextMarker>/alzimmerstorage/queue20528c492</NextMarker></EnumerationResults>"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net?prefix=queue20528c49&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "content-type" : "application/xml",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://alzimmerstorage.queue.core.windows.net/\"><Prefix>queue20528c49</Prefix><Queues><Queue><Name>queue20528c490</Name></Queue><Queue><Name>queue20528c491</Name></Queue><Queue><Name>queue20528c492</Name></Queue></Queues><NextMarker /></EnumerationResults>"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue20528c490/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "204"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue20528c492",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "204"
    }
  } ],
  "variables" : [ "queue20528c49" ]
}