{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmerstorage.file.core.windows.net/share39638db3prefix0?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "last-modified" : "Fri, 14 Jun 2019 17:10:15 GMT",
      "x-ms-version" : "2018-11-09",
      "etag" : "\"0x8D6F0EB2B23D09F\"",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmerstorage.file.core.windows.net/share39638db31?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "last-modified" : "Fri, 14 Jun 2019 17:10:15 GMT",
      "x-ms-version" : "2018-11-09",
      "etag" : "\"0x8D6F0EB2B2A13B9\"",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmerstorage.file.core.windows.net?prefix=share39638db3prefix&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "content-type" : "application/xml",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://alzimmerstorage.file.core.windows.net/\"><Prefix>share39638db3prefix</Prefix><Shares><Share><Name>share39638db3prefix0</Name><Properties><Last-Modified>Fri, 14 Jun 2019 17:10:15 GMT</Last-Modified><Etag>\"0x8D6F0EB2B23D09F\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>share39638db3prefix2</Name><Properties><Last-Modified>Fri, 14 Jun 2019 17:10:15 GMT</Last-Modified><Etag>\"0x8D6F0EB2B3056D7\"</Etag><Quota>2</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmerstorage.file.core.windows.net?prefix=share39638db3&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "content-type" : "application/xml",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://alzimmerstorage.file.core.windows.net/\"><Prefix>share39638db3</Prefix><Shares><Share><Name>share39638db31</Name><Properties><Last-Modified>Fri, 14 Jun 2019 17:10:15 GMT</Last-Modified><Etag>\"0x8D6F0EB2B2A13B9\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>share39638db3prefix0</Name><Properties><Last-Modified>Fri, 14 Jun 2019 17:10:15 GMT</Last-Modified><Etag>\"0x8D6F0EB2B23D09F\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>share39638db3prefix2</Name><Properties><Last-Modified>Fri, 14 Jun 2019 17:10:15 GMT</Last-Modified><Etag>\"0x8D6F0EB2B3056D7\"</Etag><Quota>2</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.file.core.windows.net/share39638db3prefix2?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "share39638db3" ]
}