{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue11624b600",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net?prefix=queue11624b60&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "content-type" : "application/xml",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://alzimmerstorage.queue.core.windows.net/\"><Prefix>queue11624b60</Prefix><Queues><Queue><Name>queue11624b600</Name></Queue><Queue><Name>queue11624b601</Name></Queue><Queue><Name>queue11624b602</Name></Queue></Queues><NextMarker /></EnumerationResults>"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue11624b600/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "204"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue11624b602",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "204"
    }
  } ],
  "variables" : [ "queue11624b60" ]
}