{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmerstorage.file.core.windows.net/share53276e780?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "last-modified" : "Fri, 14 Jun 2019 18:16:48 GMT",
      "x-ms-version" : "2018-11-09",
      "etag" : "\"0x8D6F0F4778CF62A\"",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmerstorage.file.core.windows.net?prefix=share53276e78&include=metadata&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "content-type" : "application/xml",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://alzimmerstorage.file.core.windows.net/\"><Prefix>share53276e78</Prefix><Shares><Share><Name>share53276e780</Name><Properties><Last-Modified>Fri, 14 Jun 2019 18:16:48 GMT</Last-Modified><Etag>\"0x8D6F0F4778CF62A\"</Etag><Quota>2</Quota></Properties><Metadata><test>metadata</test></Metadata></Share><Share><Name>share53276e781</Name><Properties><Last-Modified>Fri, 14 Jun 2019 18:16:48 GMT</Last-Modified><Etag>\"0x8D6F0F477944AF7\"</Etag><Quota>2</Quota></Properties><Metadata /></Share><Share><Name>share53276e782</Name><Properties><Last-Modified>Fri, 14 Jun 2019 18:16:48 GMT</Last-Modified><Etag>\"0x8D6F0F4779A8E10\"</Etag><Quota>2</Quota></Properties><Metadata><test>metadata</test></Metadata></Share></Shares><NextMarker /></EnumerationResults>"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmerstorage.file.core.windows.net?prefix=share53276e78&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "content-type" : "application/xml",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://alzimmerstorage.file.core.windows.net/\"><Prefix>share53276e78</Prefix><Shares><Share><Name>share53276e780</Name><Properties><Last-Modified>Fri, 14 Jun 2019 18:16:48 GMT</Last-Modified><Etag>\"0x8D6F0F4778CF62A\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>share53276e781</Name><Properties><Last-Modified>Fri, 14 Jun 2019 18:16:48 GMT</Last-Modified><Etag>\"0x8D6F0F477944AF7\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>share53276e782</Name><Properties><Last-Modified>Fri, 14 Jun 2019 18:16:48 GMT</Last-Modified><Etag>\"0x8D6F0F4779A8E10\"</Etag><Quota>2</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.file.core.windows.net/share53276e782?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "share53276e78" ]
}