{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue112694e70",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net?prefix=queue112694e7&include=metadata&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "content-type" : "application/xml",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://alzimmerstorage.queue.core.windows.net/\"><Prefix>queue112694e7</Prefix><Queues><Queue><Name>queue112694e70</Name><Metadata><metadata1>value1</metadata1><metadata2>value2</metadata2></Metadata></Queue><Queue><Name>queue112694e71</Name><Metadata /></Queue><Queue><Name>queue112694e72</Name><Metadata><metadata1>value1</metadata1><metadata2>value2</metadata2></Metadata></Queue></Queues><NextMarker /></EnumerationResults>"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net?prefix=queue112694e7&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "content-type" : "application/xml",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://alzimmerstorage.queue.core.windows.net/\"><Prefix>queue112694e7</Prefix><Queues><Queue><Name>queue112694e70</Name></Queue><Queue><Name>queue112694e71</Name></Queue><Queue><Name>queue112694e72</Name></Queue></Queues><NextMarker /></EnumerationResults>"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue112694e70/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "204"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue112694e72",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "204"
    }
  } ],
  "variables" : [ "queue112694e7" ]
}