{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue41230714",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue41230714/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "content-type" : "application/xml",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>9f3f0d18-9155-4a62-80f2-6098c0e9dc3d</MessageId><InsertionTime>Thu, 13 Jun 2019 05:47:12 GMT</InsertionTime><ExpirationTime>Thu, 20 Jun 2019 05:47:12 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAsHeWcqsh1QE=</PopReceipt><TimeNextVisible>Thu, 13 Jun 2019 05:47:12 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue41230714/messages?numofmessages=2&peekonly=true",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "content-type" : "application/xml",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>9f3f0d18-9155-4a62-80f2-6098c0e9dc3d</MessageId><InsertionTime>Thu, 13 Jun 2019 05:47:12 GMT</InsertionTime><ExpirationTime>Thu, 20 Jun 2019 05:47:12 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message</MessageText></QueueMessage><QueueMessage><MessageId>8128410e-a481-469d-a434-ce88f47b5328</MessageId><InsertionTime>Thu, 13 Jun 2019 05:47:12 GMT</InsertionTime><ExpirationTime>Thu, 20 Jun 2019 05:47:12 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message 2</MessageText></QueueMessage></QueueMessagesList>"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue41230714/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "204"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue41230714",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "204"
    }
  } ],
  "variables" : [ "queue41230714" ]
}