{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/storagefiletests/testdir%2ffile25090827",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "last-modified" : "Thu, 20 Jun 2019 03:08:42 GMT",
      "x-ms-version" : "2018-11-09",
      "etag" : "\"0x8D6F52C999BF325\"",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/storagefiletests/testdir%2ffile25090827?comp=properties",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "last-modified" : "Thu, 20 Jun 2019 03:08:42 GMT",
      "x-ms-version" : "2018-11-09",
      "etag" : "\"0x8D6F52C99DDEA30\"",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    }
  } ],
  "variables" : [ "file25090827" ]
}