{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue65964be3",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue65964be3?comp=acl",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "content-type" : "application/xml",
      "x-ms-error-code" : "InvalidXmlDocument",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidXmlDocument</Code><Message>XML specified is not syntactically valid.\nRequestId:eecda8f9-c003-001a-550c-23e044000000\nTime:2019-06-14T23:55:07.1175194Z</Message><LineNumber>1</LineNumber><LinePosition>304</LinePosition><Reason>Signed identifier ID cannot be empty or over 64 characters in length</Reason></Error>"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue65964be3/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "204"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue65964be3",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "204"
    }
  } ],
  "variables" : [ "queue65964be3" ]
}