{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmerstorage.file.core.windows.net/share522035a2?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "last-modified" : "Mon, 17 Jun 2019 22:15:44 GMT",
      "x-ms-version" : "2018-11-09",
      "etag" : "\"0x8D6F37157804E18\"",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmerstorage.file.core.windows.net/share522035a2?restype=share&comp=metadata",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "content-type" : "application/xml",
      "x-ms-error-code" : "EmptyMetadataKey",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>EmptyMetadataKey</Code><Message>The key for one of the metadata key-value pairs is empty.\nRequestId:b1b38732-601a-0035-065a-25617e000000\nTime:2019-06-17T22:15:44.4734618Z</Message><MetadataValue>metadata</MetadataValue></Error>"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.file.core.windows.net/share522035a2?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "share522035a2" ]
}