{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/storagefiletests/testdir%2ffile21883133",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "last-modified" : "Thu, 20 Jun 2019 03:08:46 GMT",
      "x-ms-version" : "2018-11-09",
      "etag" : "\"0x8D6F52C9BF56BFF\"",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/storagefiletests/testdir%2ffile21883133?comp=metadata",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "last-modified" : "Thu, 20 Jun 2019 03:08:46 GMT",
      "x-ms-version" : "2018-11-09",
      "etag" : "\"0x8D6F52C9C1F1BAB\"",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    }
  } ],
  "variables" : [ "file21883133" ]
}