{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/share6958227c?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6F9300AC9B48E\"",
      "Last-Modified" : "Tue, 25 Jun 2019 05:43:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/share6958227c?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-snapshot" : "2019-06-25T05:43:25.0000000Z",
      "ETag" : "\"0x8D6F9300A88FC80\"",
      "Last-Modified" : "Tue, 25 Jun 2019 05:43:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.file.core.windows.net/share6958227c?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "Last-Modified" : "Tue, 25 Jun 2019 05:43:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "x-ms-meta-create" : "metadata",
      "x-ms-share-quota" : "2",
      "ETag" : "\"0x8D6F9300AC9B48E\"",
      "x-ms-has-immutability-policy" : "false"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.file.core.windows.net/share6958227c?sharesnapshot=2019-06-25T05%3a43%3a25.0000000Z&restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-meta-update" : "metadata",
      "x-ms-version" : "2018-11-09",
      "Last-Modified" : "Tue, 25 Jun 2019 05:43:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "x-ms-share-quota" : "2",
      "ETag" : "\"0x8D6F9300A88FC80\"",
      "x-ms-has-immutability-policy" : "false"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sima.file.core.windows.net/share6958227c?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ShareHasSnapshots",
      "retry-after" : "0",
      "StatusCode" : "409",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareHasSnapshots</Code><Message>The share has snapshots and the operation requires no snapshots.\nRequestId:cf06f041-901a-004c-6d18-2b088d000000\nTime:2019-06-25T05:43:25.8204260Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "share6958227c" ]
}