{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/storagefiletests/testdir%2ffile0878923f",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D6F5A65D43FA35\"",
      "Last-Modified" : "Thu, 20 Jun 2019 17:40:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/storagefiletests/testdir%2ffile0878923f",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-copy-id" : "7383b713-1ae2-43f2-88c3-d0520b4b944f",
      "ETag" : "\"0x8D6F5A65DC3A18B\"",
      "Last-Modified" : "Thu, 20 Jun 2019 17:40:20 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "success",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "file0878923f" ]
}