{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue96760ff9/messages/doesn't?popreceipt=exist&visibilitytimeout=5",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "content-type" : "application/xml",
      "x-ms-error-code" : "InvalidQueryParameterValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidQueryParameterValue</Code><Message>Value for one of the query parameters specified in the request URI is invalid.\nRequestId:f58c3d5c-0003-0048-5fab-21fdb6000000\nTime:2019-06-13T05:47:11.8473838Z</Message><QueryParameterName>popreceipt</QueryParameterName><QueryParameterValue>exist</QueryParameterValue><Reason>Invalid pop receipt format</Reason></Error>"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue96760ff9/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "content-type" : "application/xml",
      "x-ms-error-code" : "QueueNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The specified queue does not exist.\nRequestId:f58c3d65-0003-0048-66ab-21fdb6000000\nTime:2019-06-13T05:47:11.8824170Z</Message></Error>"
    }
  } ],
  "variables" : [ "queue96760ff9" ]
}