{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue7015479f",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue7015479f/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "content-type" : "application/xml",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>1ca2f357-762b-4206-9db7-2a0ea1cd4c10</MessageId><InsertionTime>Thu, 13 Jun 2019 05:47:12 GMT</InsertionTime><ExpirationTime>Thu, 20 Jun 2019 05:47:12 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAA+oDbcqsh1QE=</PopReceipt><TimeNextVisible>Thu, 13 Jun 2019 05:47:12 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue7015479f/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "content-type" : "application/xml",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>1ca2f357-762b-4206-9db7-2a0ea1cd4c10</MessageId><InsertionTime>Thu, 13 Jun 2019 05:47:12 GMT</InsertionTime><ExpirationTime>Thu, 20 Jun 2019 05:47:12 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAEmfDhKsh1QE=</PopReceipt><TimeNextVisible>Thu, 13 Jun 2019 05:47:42 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue7015479f/messages/1ca2f357-762b-4206-9db7-2a0ea1cd4c10?popreceipt=AgAAAAMAAAAAAAAAEmfDhKsh1QE%3d&visibilitytimeout=1",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-time-next-visible" : "Thu, 13 Jun 2019 05:47:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "204",
      "x-ms-popreceipt" : "AwAAAAMAAAAAAAAAe9aBc6sh1QEBAAAA"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue7015479f/messages?numofmessages=1&peekonly=true",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "content-type" : "application/xml",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>1ca2f357-762b-4206-9db7-2a0ea1cd4c10</MessageId><InsertionTime>Thu, 13 Jun 2019 05:47:12 GMT</InsertionTime><ExpirationTime>Thu, 20 Jun 2019 05:47:12 GMT</ExpirationTime><DequeueCount>1</DequeueCount><MessageText>updated test message</MessageText></QueueMessage></QueueMessagesList>"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue7015479f/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "204"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmerstorage.queue.core.windows.net/queue7015479f",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "204"
    }
  } ],
  "variables" : [ "queue7015479f" ]
}