// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.agrifood.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.agrifood.fluent.OperationResultsClient;
import com.azure.resourcemanager.agrifood.fluent.models.ArmAsyncOperationInner;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in OperationResultsClient.
 */
public final class OperationResultsClientImpl implements OperationResultsClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final OperationResultsService service;

    /**
     * The service client containing this operation class.
     */
    private final AgriFoodManagementClientImpl client;

    /**
     * Initializes an instance of OperationResultsClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    OperationResultsClientImpl(AgriFoodManagementClientImpl client) {
        this.service
            = RestProxy.create(OperationResultsService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for AgriFoodManagementClientOperationResults to be used by the proxy
     * service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "AgriFoodManagementCl")
    public interface OperationResultsService {
        @Headers({ "Content-Type: application/json" })
        @Get("/subscriptions/{subscriptionId}/providers/Microsoft.AgFoodPlatform/locations/{locations}/operationResults/{operationResultsId}")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<ArmAsyncOperationInner>> get(@HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId, @QueryParam("api-version") String apiVersion,
            @PathParam("locations") String locations, @PathParam("operationResultsId") String operationResultsId,
            @HeaderParam("Accept") String accept, Context context);
    }

    /**
     * Get operationResults for a FarmBeats resource.
     * 
     * @param locations Location.
     * @param operationResultsId operation Results Id.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return operationResults for a FarmBeats resource along with {@link Response} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<ArmAsyncOperationInner>> getWithResponseAsync(String locations, String operationResultsId) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (locations == null) {
            return Mono.error(new IllegalArgumentException("Parameter locations is required and cannot be null."));
        }
        if (operationResultsId == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter operationResultsId is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.get(this.client.getEndpoint(), this.client.getSubscriptionId(),
                this.client.getApiVersion(), locations, operationResultsId, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Get operationResults for a FarmBeats resource.
     * 
     * @param locations Location.
     * @param operationResultsId operation Results Id.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return operationResults for a FarmBeats resource along with {@link Response} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<ArmAsyncOperationInner>> getWithResponseAsync(String locations, String operationResultsId,
        Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (locations == null) {
            return Mono.error(new IllegalArgumentException("Parameter locations is required and cannot be null."));
        }
        if (operationResultsId == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter operationResultsId is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.get(this.client.getEndpoint(), this.client.getSubscriptionId(), this.client.getApiVersion(),
            locations, operationResultsId, accept, context);
    }

    /**
     * Get operationResults for a FarmBeats resource.
     * 
     * @param locations Location.
     * @param operationResultsId operation Results Id.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return operationResults for a FarmBeats resource on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<ArmAsyncOperationInner> getAsync(String locations, String operationResultsId) {
        return getWithResponseAsync(locations, operationResultsId).flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Get operationResults for a FarmBeats resource.
     * 
     * @param locations Location.
     * @param operationResultsId operation Results Id.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return operationResults for a FarmBeats resource along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<ArmAsyncOperationInner> getWithResponse(String locations, String operationResultsId,
        Context context) {
        return getWithResponseAsync(locations, operationResultsId, context).block();
    }

    /**
     * Get operationResults for a FarmBeats resource.
     * 
     * @param locations Location.
     * @param operationResultsId operation Results Id.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return operationResults for a FarmBeats resource.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public ArmAsyncOperationInner get(String locations, String operationResultsId) {
        return getWithResponse(locations, operationResultsId, Context.NONE).getValue();
    }
}
