// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.authorization.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Post;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.resourcemanager.authorization.fluent.GroupsOnenotePagesParentSectionPagesClient;
import com.azure.resourcemanager.authorization.fluent.models.GroupsOnenotePagesParentSectionPagesCopyToSectionRequestBody;
import com.azure.resourcemanager.authorization.fluent.models.GroupsOnenotePagesParentSectionPagesOnenotePatchContentRequestBody;
import com.azure.resourcemanager.authorization.fluent.models.MicrosoftGraphOnenoteOperationInner;
import com.azure.resourcemanager.authorization.fluent.models.MicrosoftGraphOnenotePagePreviewInner;
import com.azure.resourcemanager.authorization.fluent.models.OdataErrorMainException;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in
 * GroupsOnenotePagesParentSectionPagesClient.
 */
public final class GroupsOnenotePagesParentSectionPagesClientImpl
    implements GroupsOnenotePagesParentSectionPagesClient {
    private final ClientLogger logger = new ClientLogger(GroupsOnenotePagesParentSectionPagesClientImpl.class);

    /** The proxy service used to perform REST calls. */
    private final GroupsOnenotePagesParentSectionPagesService service;

    /** The service client containing this operation class. */
    private final MicrosoftGraphClientImpl client;

    /**
     * Initializes an instance of GroupsOnenotePagesParentSectionPagesClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    GroupsOnenotePagesParentSectionPagesClientImpl(MicrosoftGraphClientImpl client) {
        this.service =
            RestProxy
                .create(
                    GroupsOnenotePagesParentSectionPagesService.class,
                    client.getHttpPipeline(),
                    client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for MicrosoftGraphClientGroupsOnenotePagesParentSectionPages to be used
     * by the proxy service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "MicrosoftGraphClient")
    private interface GroupsOnenotePagesParentSectionPagesService {
        @Headers({"Content-Type: application/json"})
        @Post(
            "/groups/{group-id}/onenote/pages/{onenotePage-id}/parentSection/pages/{onenotePage-id1}"
                + "/microsoft.graph.copyToSection")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(OdataErrorMainException.class)
        Mono<Response<MicrosoftGraphOnenoteOperationInner>> copyToSection(
            @HostParam("$host") String endpoint,
            @PathParam("group-id") String groupId,
            @PathParam("onenotePage-id") String onenotePageId,
            @PathParam("onenotePage-id1") String onenotePageId1,
            @BodyParam("application/json") GroupsOnenotePagesParentSectionPagesCopyToSectionRequestBody body,
            @HeaderParam("Accept") String accept,
            Context context);

        @Headers({"Content-Type: application/json"})
        @Post(
            "/groups/{group-id}/onenote/pages/{onenotePage-id}/parentSection/pages/{onenotePage-id1}"
                + "/microsoft.graph.onenotePatchContent")
        @ExpectedResponses({204})
        @UnexpectedResponseExceptionType(OdataErrorMainException.class)
        Mono<Response<Void>> onenotePatchContent(
            @HostParam("$host") String endpoint,
            @PathParam("group-id") String groupId,
            @PathParam("onenotePage-id") String onenotePageId,
            @PathParam("onenotePage-id1") String onenotePageId1,
            @BodyParam("application/json") GroupsOnenotePagesParentSectionPagesOnenotePatchContentRequestBody body,
            @HeaderParam("Accept") String accept,
            Context context);

        @Headers({"Content-Type: application/json"})
        @Get(
            "/groups/{group-id}/onenote/pages/{onenotePage-id}/parentSection/pages/{onenotePage-id1}"
                + "/microsoft.graph.preview()")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(OdataErrorMainException.class)
        Mono<Response<MicrosoftGraphOnenotePagePreviewInner>> preview(
            @HostParam("$host") String endpoint,
            @PathParam("group-id") String groupId,
            @PathParam("onenotePage-id") String onenotePageId,
            @PathParam("onenotePage-id1") String onenotePageId1,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Invoke action copyToSection.
     *
     * @param groupId key: id of group.
     * @param onenotePageId key: id of onenotePage.
     * @param onenotePageId1 key: id of onenotePage.
     * @param body Action parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return onenoteOperation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<Response<MicrosoftGraphOnenoteOperationInner>> copyToSectionWithResponseAsync(
        String groupId,
        String onenotePageId,
        String onenotePageId1,
        GroupsOnenotePagesParentSectionPagesCopyToSectionRequestBody body) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (groupId == null) {
            return Mono.error(new IllegalArgumentException("Parameter groupId is required and cannot be null."));
        }
        if (onenotePageId == null) {
            return Mono.error(new IllegalArgumentException("Parameter onenotePageId is required and cannot be null."));
        }
        if (onenotePageId1 == null) {
            return Mono.error(new IllegalArgumentException("Parameter onenotePageId1 is required and cannot be null."));
        }
        if (body == null) {
            return Mono.error(new IllegalArgumentException("Parameter body is required and cannot be null."));
        } else {
            body.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .copyToSection(
                            this.client.getEndpoint(), groupId, onenotePageId, onenotePageId1, body, accept, context))
            .subscriberContext(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext())));
    }

    /**
     * Invoke action copyToSection.
     *
     * @param groupId key: id of group.
     * @param onenotePageId key: id of onenotePage.
     * @param onenotePageId1 key: id of onenotePage.
     * @param body Action parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return onenoteOperation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<MicrosoftGraphOnenoteOperationInner>> copyToSectionWithResponseAsync(
        String groupId,
        String onenotePageId,
        String onenotePageId1,
        GroupsOnenotePagesParentSectionPagesCopyToSectionRequestBody body,
        Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (groupId == null) {
            return Mono.error(new IllegalArgumentException("Parameter groupId is required and cannot be null."));
        }
        if (onenotePageId == null) {
            return Mono.error(new IllegalArgumentException("Parameter onenotePageId is required and cannot be null."));
        }
        if (onenotePageId1 == null) {
            return Mono.error(new IllegalArgumentException("Parameter onenotePageId1 is required and cannot be null."));
        }
        if (body == null) {
            return Mono.error(new IllegalArgumentException("Parameter body is required and cannot be null."));
        } else {
            body.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .copyToSection(this.client.getEndpoint(), groupId, onenotePageId, onenotePageId1, body, accept, context);
    }

    /**
     * Invoke action copyToSection.
     *
     * @param groupId key: id of group.
     * @param onenotePageId key: id of onenotePage.
     * @param onenotePageId1 key: id of onenotePage.
     * @param body Action parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return onenoteOperation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<MicrosoftGraphOnenoteOperationInner> copyToSectionAsync(
        String groupId,
        String onenotePageId,
        String onenotePageId1,
        GroupsOnenotePagesParentSectionPagesCopyToSectionRequestBody body) {
        return copyToSectionWithResponseAsync(groupId, onenotePageId, onenotePageId1, body)
            .flatMap(
                (Response<MicrosoftGraphOnenoteOperationInner> res) -> {
                    if (res.getValue() != null) {
                        return Mono.just(res.getValue());
                    } else {
                        return Mono.empty();
                    }
                });
    }

    /**
     * Invoke action copyToSection.
     *
     * @param groupId key: id of group.
     * @param onenotePageId key: id of onenotePage.
     * @param onenotePageId1 key: id of onenotePage.
     * @param body Action parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return onenoteOperation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public MicrosoftGraphOnenoteOperationInner copyToSection(
        String groupId,
        String onenotePageId,
        String onenotePageId1,
        GroupsOnenotePagesParentSectionPagesCopyToSectionRequestBody body) {
        return copyToSectionAsync(groupId, onenotePageId, onenotePageId1, body).block();
    }

    /**
     * Invoke action copyToSection.
     *
     * @param groupId key: id of group.
     * @param onenotePageId key: id of onenotePage.
     * @param onenotePageId1 key: id of onenotePage.
     * @param body Action parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return onenoteOperation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<MicrosoftGraphOnenoteOperationInner> copyToSectionWithResponse(
        String groupId,
        String onenotePageId,
        String onenotePageId1,
        GroupsOnenotePagesParentSectionPagesCopyToSectionRequestBody body,
        Context context) {
        return copyToSectionWithResponseAsync(groupId, onenotePageId, onenotePageId1, body, context).block();
    }

    /**
     * Invoke action onenotePatchContent.
     *
     * @param groupId key: id of group.
     * @param onenotePageId key: id of onenotePage.
     * @param onenotePageId1 key: id of onenotePage.
     * @param body Action parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the completion.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<Response<Void>> onenotePatchContentWithResponseAsync(
        String groupId,
        String onenotePageId,
        String onenotePageId1,
        GroupsOnenotePagesParentSectionPagesOnenotePatchContentRequestBody body) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (groupId == null) {
            return Mono.error(new IllegalArgumentException("Parameter groupId is required and cannot be null."));
        }
        if (onenotePageId == null) {
            return Mono.error(new IllegalArgumentException("Parameter onenotePageId is required and cannot be null."));
        }
        if (onenotePageId1 == null) {
            return Mono.error(new IllegalArgumentException("Parameter onenotePageId1 is required and cannot be null."));
        }
        if (body == null) {
            return Mono.error(new IllegalArgumentException("Parameter body is required and cannot be null."));
        } else {
            body.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .onenotePatchContent(
                            this.client.getEndpoint(), groupId, onenotePageId, onenotePageId1, body, accept, context))
            .subscriberContext(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext())));
    }

    /**
     * Invoke action onenotePatchContent.
     *
     * @param groupId key: id of group.
     * @param onenotePageId key: id of onenotePage.
     * @param onenotePageId1 key: id of onenotePage.
     * @param body Action parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the completion.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Void>> onenotePatchContentWithResponseAsync(
        String groupId,
        String onenotePageId,
        String onenotePageId1,
        GroupsOnenotePagesParentSectionPagesOnenotePatchContentRequestBody body,
        Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (groupId == null) {
            return Mono.error(new IllegalArgumentException("Parameter groupId is required and cannot be null."));
        }
        if (onenotePageId == null) {
            return Mono.error(new IllegalArgumentException("Parameter onenotePageId is required and cannot be null."));
        }
        if (onenotePageId1 == null) {
            return Mono.error(new IllegalArgumentException("Parameter onenotePageId1 is required and cannot be null."));
        }
        if (body == null) {
            return Mono.error(new IllegalArgumentException("Parameter body is required and cannot be null."));
        } else {
            body.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .onenotePatchContent(
                this.client.getEndpoint(), groupId, onenotePageId, onenotePageId1, body, accept, context);
    }

    /**
     * Invoke action onenotePatchContent.
     *
     * @param groupId key: id of group.
     * @param onenotePageId key: id of onenotePage.
     * @param onenotePageId1 key: id of onenotePage.
     * @param body Action parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the completion.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<Void> onenotePatchContentAsync(
        String groupId,
        String onenotePageId,
        String onenotePageId1,
        GroupsOnenotePagesParentSectionPagesOnenotePatchContentRequestBody body) {
        return onenotePatchContentWithResponseAsync(groupId, onenotePageId, onenotePageId1, body)
            .flatMap((Response<Void> res) -> Mono.empty());
    }

    /**
     * Invoke action onenotePatchContent.
     *
     * @param groupId key: id of group.
     * @param onenotePageId key: id of onenotePage.
     * @param onenotePageId1 key: id of onenotePage.
     * @param body Action parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public void onenotePatchContent(
        String groupId,
        String onenotePageId,
        String onenotePageId1,
        GroupsOnenotePagesParentSectionPagesOnenotePatchContentRequestBody body) {
        onenotePatchContentAsync(groupId, onenotePageId, onenotePageId1, body).block();
    }

    /**
     * Invoke action onenotePatchContent.
     *
     * @param groupId key: id of group.
     * @param onenotePageId key: id of onenotePage.
     * @param onenotePageId1 key: id of onenotePage.
     * @param body Action parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<Void> onenotePatchContentWithResponse(
        String groupId,
        String onenotePageId,
        String onenotePageId1,
        GroupsOnenotePagesParentSectionPagesOnenotePatchContentRequestBody body,
        Context context) {
        return onenotePatchContentWithResponseAsync(groupId, onenotePageId, onenotePageId1, body, context).block();
    }

    /**
     * Invoke function preview.
     *
     * @param groupId key: id of group.
     * @param onenotePageId key: id of onenotePage.
     * @param onenotePageId1 key: id of onenotePage.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return onenotePagePreview.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<Response<MicrosoftGraphOnenotePagePreviewInner>> previewWithResponseAsync(
        String groupId, String onenotePageId, String onenotePageId1) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (groupId == null) {
            return Mono.error(new IllegalArgumentException("Parameter groupId is required and cannot be null."));
        }
        if (onenotePageId == null) {
            return Mono.error(new IllegalArgumentException("Parameter onenotePageId is required and cannot be null."));
        }
        if (onenotePageId1 == null) {
            return Mono.error(new IllegalArgumentException("Parameter onenotePageId1 is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service.preview(this.client.getEndpoint(), groupId, onenotePageId, onenotePageId1, accept, context))
            .subscriberContext(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext())));
    }

    /**
     * Invoke function preview.
     *
     * @param groupId key: id of group.
     * @param onenotePageId key: id of onenotePage.
     * @param onenotePageId1 key: id of onenotePage.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return onenotePagePreview.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<MicrosoftGraphOnenotePagePreviewInner>> previewWithResponseAsync(
        String groupId, String onenotePageId, String onenotePageId1, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (groupId == null) {
            return Mono.error(new IllegalArgumentException("Parameter groupId is required and cannot be null."));
        }
        if (onenotePageId == null) {
            return Mono.error(new IllegalArgumentException("Parameter onenotePageId is required and cannot be null."));
        }
        if (onenotePageId1 == null) {
            return Mono.error(new IllegalArgumentException("Parameter onenotePageId1 is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.preview(this.client.getEndpoint(), groupId, onenotePageId, onenotePageId1, accept, context);
    }

    /**
     * Invoke function preview.
     *
     * @param groupId key: id of group.
     * @param onenotePageId key: id of onenotePage.
     * @param onenotePageId1 key: id of onenotePage.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return onenotePagePreview.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<MicrosoftGraphOnenotePagePreviewInner> previewAsync(
        String groupId, String onenotePageId, String onenotePageId1) {
        return previewWithResponseAsync(groupId, onenotePageId, onenotePageId1)
            .flatMap(
                (Response<MicrosoftGraphOnenotePagePreviewInner> res) -> {
                    if (res.getValue() != null) {
                        return Mono.just(res.getValue());
                    } else {
                        return Mono.empty();
                    }
                });
    }

    /**
     * Invoke function preview.
     *
     * @param groupId key: id of group.
     * @param onenotePageId key: id of onenotePage.
     * @param onenotePageId1 key: id of onenotePage.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return onenotePagePreview.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public MicrosoftGraphOnenotePagePreviewInner preview(String groupId, String onenotePageId, String onenotePageId1) {
        return previewAsync(groupId, onenotePageId, onenotePageId1).block();
    }

    /**
     * Invoke function preview.
     *
     * @param groupId key: id of group.
     * @param onenotePageId key: id of onenotePage.
     * @param onenotePageId1 key: id of onenotePage.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return onenotePagePreview.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<MicrosoftGraphOnenotePagePreviewInner> previewWithResponse(
        String groupId, String onenotePageId, String onenotePageId1, Context context) {
        return previewWithResponseAsync(groupId, onenotePageId, onenotePageId1, context).block();
    }
}
