// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.authorization.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Post;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.resourcemanager.authorization.fluent.GroupsOnenoteNotebooksSectionsPagesClient;
import com.azure.resourcemanager.authorization.fluent.models.GroupsOnenoteNotebooksSectionsPagesCopyToSectionRequestBody;
import com.azure.resourcemanager.authorization.fluent.models.GroupsOnenoteNotebooksSectionsPagesOnenotePatchContentRequestBody;
import com.azure.resourcemanager.authorization.fluent.models.MicrosoftGraphOnenoteOperationInner;
import com.azure.resourcemanager.authorization.fluent.models.MicrosoftGraphOnenotePagePreviewInner;
import com.azure.resourcemanager.authorization.fluent.models.OdataErrorMainException;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in GroupsOnenoteNotebooksSectionsPagesClient.
 */
public final class GroupsOnenoteNotebooksSectionsPagesClientImpl implements GroupsOnenoteNotebooksSectionsPagesClient {
    private final ClientLogger logger = new ClientLogger(GroupsOnenoteNotebooksSectionsPagesClientImpl.class);

    /** The proxy service used to perform REST calls. */
    private final GroupsOnenoteNotebooksSectionsPagesService service;

    /** The service client containing this operation class. */
    private final MicrosoftGraphClientImpl client;

    /**
     * Initializes an instance of GroupsOnenoteNotebooksSectionsPagesClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    GroupsOnenoteNotebooksSectionsPagesClientImpl(MicrosoftGraphClientImpl client) {
        this.service =
            RestProxy
                .create(
                    GroupsOnenoteNotebooksSectionsPagesService.class,
                    client.getHttpPipeline(),
                    client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for MicrosoftGraphClientGroupsOnenoteNotebooksSectionsPages to be used by
     * the proxy service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "MicrosoftGraphClient")
    private interface GroupsOnenoteNotebooksSectionsPagesService {
        @Headers({"Content-Type: application/json"})
        @Post(
            "/groups/{group-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}"
                + "/microsoft.graph.copyToSection")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(OdataErrorMainException.class)
        Mono<Response<MicrosoftGraphOnenoteOperationInner>> copyToSection(
            @HostParam("$host") String endpoint,
            @PathParam("group-id") String groupId,
            @PathParam("notebook-id") String notebookId,
            @PathParam("onenoteSection-id") String onenoteSectionId,
            @PathParam("onenotePage-id") String onenotePageId,
            @BodyParam("application/json") GroupsOnenoteNotebooksSectionsPagesCopyToSectionRequestBody body,
            @HeaderParam("Accept") String accept,
            Context context);

        @Headers({"Content-Type: application/json"})
        @Post(
            "/groups/{group-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}"
                + "/microsoft.graph.onenotePatchContent")
        @ExpectedResponses({204})
        @UnexpectedResponseExceptionType(OdataErrorMainException.class)
        Mono<Response<Void>> onenotePatchContent(
            @HostParam("$host") String endpoint,
            @PathParam("group-id") String groupId,
            @PathParam("notebook-id") String notebookId,
            @PathParam("onenoteSection-id") String onenoteSectionId,
            @PathParam("onenotePage-id") String onenotePageId,
            @BodyParam("application/json") GroupsOnenoteNotebooksSectionsPagesOnenotePatchContentRequestBody body,
            @HeaderParam("Accept") String accept,
            Context context);

        @Headers({"Content-Type: application/json"})
        @Get(
            "/groups/{group-id}/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}"
                + "/microsoft.graph.preview()")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(OdataErrorMainException.class)
        Mono<Response<MicrosoftGraphOnenotePagePreviewInner>> preview(
            @HostParam("$host") String endpoint,
            @PathParam("group-id") String groupId,
            @PathParam("notebook-id") String notebookId,
            @PathParam("onenoteSection-id") String onenoteSectionId,
            @PathParam("onenotePage-id") String onenotePageId,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Invoke action copyToSection.
     *
     * @param groupId key: id of group.
     * @param notebookId key: id of notebook.
     * @param onenoteSectionId key: id of onenoteSection.
     * @param onenotePageId key: id of onenotePage.
     * @param body Action parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return onenoteOperation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<Response<MicrosoftGraphOnenoteOperationInner>> copyToSectionWithResponseAsync(
        String groupId,
        String notebookId,
        String onenoteSectionId,
        String onenotePageId,
        GroupsOnenoteNotebooksSectionsPagesCopyToSectionRequestBody body) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (groupId == null) {
            return Mono.error(new IllegalArgumentException("Parameter groupId is required and cannot be null."));
        }
        if (notebookId == null) {
            return Mono.error(new IllegalArgumentException("Parameter notebookId is required and cannot be null."));
        }
        if (onenoteSectionId == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter onenoteSectionId is required and cannot be null."));
        }
        if (onenotePageId == null) {
            return Mono.error(new IllegalArgumentException("Parameter onenotePageId is required and cannot be null."));
        }
        if (body == null) {
            return Mono.error(new IllegalArgumentException("Parameter body is required and cannot be null."));
        } else {
            body.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .copyToSection(
                            this.client.getEndpoint(),
                            groupId,
                            notebookId,
                            onenoteSectionId,
                            onenotePageId,
                            body,
                            accept,
                            context))
            .subscriberContext(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext())));
    }

    /**
     * Invoke action copyToSection.
     *
     * @param groupId key: id of group.
     * @param notebookId key: id of notebook.
     * @param onenoteSectionId key: id of onenoteSection.
     * @param onenotePageId key: id of onenotePage.
     * @param body Action parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return onenoteOperation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<MicrosoftGraphOnenoteOperationInner>> copyToSectionWithResponseAsync(
        String groupId,
        String notebookId,
        String onenoteSectionId,
        String onenotePageId,
        GroupsOnenoteNotebooksSectionsPagesCopyToSectionRequestBody body,
        Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (groupId == null) {
            return Mono.error(new IllegalArgumentException("Parameter groupId is required and cannot be null."));
        }
        if (notebookId == null) {
            return Mono.error(new IllegalArgumentException("Parameter notebookId is required and cannot be null."));
        }
        if (onenoteSectionId == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter onenoteSectionId is required and cannot be null."));
        }
        if (onenotePageId == null) {
            return Mono.error(new IllegalArgumentException("Parameter onenotePageId is required and cannot be null."));
        }
        if (body == null) {
            return Mono.error(new IllegalArgumentException("Parameter body is required and cannot be null."));
        } else {
            body.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .copyToSection(
                this.client.getEndpoint(), groupId, notebookId, onenoteSectionId, onenotePageId, body, accept, context);
    }

    /**
     * Invoke action copyToSection.
     *
     * @param groupId key: id of group.
     * @param notebookId key: id of notebook.
     * @param onenoteSectionId key: id of onenoteSection.
     * @param onenotePageId key: id of onenotePage.
     * @param body Action parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return onenoteOperation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<MicrosoftGraphOnenoteOperationInner> copyToSectionAsync(
        String groupId,
        String notebookId,
        String onenoteSectionId,
        String onenotePageId,
        GroupsOnenoteNotebooksSectionsPagesCopyToSectionRequestBody body) {
        return copyToSectionWithResponseAsync(groupId, notebookId, onenoteSectionId, onenotePageId, body)
            .flatMap(
                (Response<MicrosoftGraphOnenoteOperationInner> res) -> {
                    if (res.getValue() != null) {
                        return Mono.just(res.getValue());
                    } else {
                        return Mono.empty();
                    }
                });
    }

    /**
     * Invoke action copyToSection.
     *
     * @param groupId key: id of group.
     * @param notebookId key: id of notebook.
     * @param onenoteSectionId key: id of onenoteSection.
     * @param onenotePageId key: id of onenotePage.
     * @param body Action parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return onenoteOperation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public MicrosoftGraphOnenoteOperationInner copyToSection(
        String groupId,
        String notebookId,
        String onenoteSectionId,
        String onenotePageId,
        GroupsOnenoteNotebooksSectionsPagesCopyToSectionRequestBody body) {
        return copyToSectionAsync(groupId, notebookId, onenoteSectionId, onenotePageId, body).block();
    }

    /**
     * Invoke action copyToSection.
     *
     * @param groupId key: id of group.
     * @param notebookId key: id of notebook.
     * @param onenoteSectionId key: id of onenoteSection.
     * @param onenotePageId key: id of onenotePage.
     * @param body Action parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return onenoteOperation.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<MicrosoftGraphOnenoteOperationInner> copyToSectionWithResponse(
        String groupId,
        String notebookId,
        String onenoteSectionId,
        String onenotePageId,
        GroupsOnenoteNotebooksSectionsPagesCopyToSectionRequestBody body,
        Context context) {
        return copyToSectionWithResponseAsync(groupId, notebookId, onenoteSectionId, onenotePageId, body, context)
            .block();
    }

    /**
     * Invoke action onenotePatchContent.
     *
     * @param groupId key: id of group.
     * @param notebookId key: id of notebook.
     * @param onenoteSectionId key: id of onenoteSection.
     * @param onenotePageId key: id of onenotePage.
     * @param body Action parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the completion.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<Response<Void>> onenotePatchContentWithResponseAsync(
        String groupId,
        String notebookId,
        String onenoteSectionId,
        String onenotePageId,
        GroupsOnenoteNotebooksSectionsPagesOnenotePatchContentRequestBody body) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (groupId == null) {
            return Mono.error(new IllegalArgumentException("Parameter groupId is required and cannot be null."));
        }
        if (notebookId == null) {
            return Mono.error(new IllegalArgumentException("Parameter notebookId is required and cannot be null."));
        }
        if (onenoteSectionId == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter onenoteSectionId is required and cannot be null."));
        }
        if (onenotePageId == null) {
            return Mono.error(new IllegalArgumentException("Parameter onenotePageId is required and cannot be null."));
        }
        if (body == null) {
            return Mono.error(new IllegalArgumentException("Parameter body is required and cannot be null."));
        } else {
            body.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .onenotePatchContent(
                            this.client.getEndpoint(),
                            groupId,
                            notebookId,
                            onenoteSectionId,
                            onenotePageId,
                            body,
                            accept,
                            context))
            .subscriberContext(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext())));
    }

    /**
     * Invoke action onenotePatchContent.
     *
     * @param groupId key: id of group.
     * @param notebookId key: id of notebook.
     * @param onenoteSectionId key: id of onenoteSection.
     * @param onenotePageId key: id of onenotePage.
     * @param body Action parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the completion.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Void>> onenotePatchContentWithResponseAsync(
        String groupId,
        String notebookId,
        String onenoteSectionId,
        String onenotePageId,
        GroupsOnenoteNotebooksSectionsPagesOnenotePatchContentRequestBody body,
        Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (groupId == null) {
            return Mono.error(new IllegalArgumentException("Parameter groupId is required and cannot be null."));
        }
        if (notebookId == null) {
            return Mono.error(new IllegalArgumentException("Parameter notebookId is required and cannot be null."));
        }
        if (onenoteSectionId == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter onenoteSectionId is required and cannot be null."));
        }
        if (onenotePageId == null) {
            return Mono.error(new IllegalArgumentException("Parameter onenotePageId is required and cannot be null."));
        }
        if (body == null) {
            return Mono.error(new IllegalArgumentException("Parameter body is required and cannot be null."));
        } else {
            body.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .onenotePatchContent(
                this.client.getEndpoint(), groupId, notebookId, onenoteSectionId, onenotePageId, body, accept, context);
    }

    /**
     * Invoke action onenotePatchContent.
     *
     * @param groupId key: id of group.
     * @param notebookId key: id of notebook.
     * @param onenoteSectionId key: id of onenoteSection.
     * @param onenotePageId key: id of onenotePage.
     * @param body Action parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the completion.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<Void> onenotePatchContentAsync(
        String groupId,
        String notebookId,
        String onenoteSectionId,
        String onenotePageId,
        GroupsOnenoteNotebooksSectionsPagesOnenotePatchContentRequestBody body) {
        return onenotePatchContentWithResponseAsync(groupId, notebookId, onenoteSectionId, onenotePageId, body)
            .flatMap((Response<Void> res) -> Mono.empty());
    }

    /**
     * Invoke action onenotePatchContent.
     *
     * @param groupId key: id of group.
     * @param notebookId key: id of notebook.
     * @param onenoteSectionId key: id of onenoteSection.
     * @param onenotePageId key: id of onenotePage.
     * @param body Action parameters.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public void onenotePatchContent(
        String groupId,
        String notebookId,
        String onenoteSectionId,
        String onenotePageId,
        GroupsOnenoteNotebooksSectionsPagesOnenotePatchContentRequestBody body) {
        onenotePatchContentAsync(groupId, notebookId, onenoteSectionId, onenotePageId, body).block();
    }

    /**
     * Invoke action onenotePatchContent.
     *
     * @param groupId key: id of group.
     * @param notebookId key: id of notebook.
     * @param onenoteSectionId key: id of onenoteSection.
     * @param onenotePageId key: id of onenotePage.
     * @param body Action parameters.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<Void> onenotePatchContentWithResponse(
        String groupId,
        String notebookId,
        String onenoteSectionId,
        String onenotePageId,
        GroupsOnenoteNotebooksSectionsPagesOnenotePatchContentRequestBody body,
        Context context) {
        return onenotePatchContentWithResponseAsync(groupId, notebookId, onenoteSectionId, onenotePageId, body, context)
            .block();
    }

    /**
     * Invoke function preview.
     *
     * @param groupId key: id of group.
     * @param notebookId key: id of notebook.
     * @param onenoteSectionId key: id of onenoteSection.
     * @param onenotePageId key: id of onenotePage.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return onenotePagePreview.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<Response<MicrosoftGraphOnenotePagePreviewInner>> previewWithResponseAsync(
        String groupId, String notebookId, String onenoteSectionId, String onenotePageId) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (groupId == null) {
            return Mono.error(new IllegalArgumentException("Parameter groupId is required and cannot be null."));
        }
        if (notebookId == null) {
            return Mono.error(new IllegalArgumentException("Parameter notebookId is required and cannot be null."));
        }
        if (onenoteSectionId == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter onenoteSectionId is required and cannot be null."));
        }
        if (onenotePageId == null) {
            return Mono.error(new IllegalArgumentException("Parameter onenotePageId is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .preview(
                            this.client.getEndpoint(),
                            groupId,
                            notebookId,
                            onenoteSectionId,
                            onenotePageId,
                            accept,
                            context))
            .subscriberContext(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext())));
    }

    /**
     * Invoke function preview.
     *
     * @param groupId key: id of group.
     * @param notebookId key: id of notebook.
     * @param onenoteSectionId key: id of onenoteSection.
     * @param onenotePageId key: id of onenotePage.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return onenotePagePreview.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<MicrosoftGraphOnenotePagePreviewInner>> previewWithResponseAsync(
        String groupId, String notebookId, String onenoteSectionId, String onenotePageId, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (groupId == null) {
            return Mono.error(new IllegalArgumentException("Parameter groupId is required and cannot be null."));
        }
        if (notebookId == null) {
            return Mono.error(new IllegalArgumentException("Parameter notebookId is required and cannot be null."));
        }
        if (onenoteSectionId == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter onenoteSectionId is required and cannot be null."));
        }
        if (onenotePageId == null) {
            return Mono.error(new IllegalArgumentException("Parameter onenotePageId is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .preview(this.client.getEndpoint(), groupId, notebookId, onenoteSectionId, onenotePageId, accept, context);
    }

    /**
     * Invoke function preview.
     *
     * @param groupId key: id of group.
     * @param notebookId key: id of notebook.
     * @param onenoteSectionId key: id of onenoteSection.
     * @param onenotePageId key: id of onenotePage.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return onenotePagePreview.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<MicrosoftGraphOnenotePagePreviewInner> previewAsync(
        String groupId, String notebookId, String onenoteSectionId, String onenotePageId) {
        return previewWithResponseAsync(groupId, notebookId, onenoteSectionId, onenotePageId)
            .flatMap(
                (Response<MicrosoftGraphOnenotePagePreviewInner> res) -> {
                    if (res.getValue() != null) {
                        return Mono.just(res.getValue());
                    } else {
                        return Mono.empty();
                    }
                });
    }

    /**
     * Invoke function preview.
     *
     * @param groupId key: id of group.
     * @param notebookId key: id of notebook.
     * @param onenoteSectionId key: id of onenoteSection.
     * @param onenotePageId key: id of onenotePage.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return onenotePagePreview.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public MicrosoftGraphOnenotePagePreviewInner preview(
        String groupId, String notebookId, String onenoteSectionId, String onenotePageId) {
        return previewAsync(groupId, notebookId, onenoteSectionId, onenotePageId).block();
    }

    /**
     * Invoke function preview.
     *
     * @param groupId key: id of group.
     * @param notebookId key: id of notebook.
     * @param onenoteSectionId key: id of onenoteSection.
     * @param onenotePageId key: id of onenotePage.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws OdataErrorMainException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return onenotePagePreview.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<MicrosoftGraphOnenotePagePreviewInner> previewWithResponse(
        String groupId, String notebookId, String onenoteSectionId, String onenotePageId, Context context) {
        return previewWithResponseAsync(groupId, notebookId, onenoteSectionId, onenotePageId, context).block();
    }
}
