<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Configure the root logger -->
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>
  
  <!-- Configure LoggerTelemetryPublisher specifically -->
  <logger name="com.azure.spring.cloud.feature.management.telemetry.LoggerTelemetryPublisher" level="INFO" />
</configuration>