{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.0-preview.1/sentiment",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "csp-billing-usage" : "CognitiveServices.TextAnalytics.BatchScoring=2",
      "x-aml-ta-request-id" : "f4b4ea38-f3d8-48af-bf43-232e549a6331",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"documents\":[{\"id\":\"0\",\"sentiment\":\"mixed\",\"documentScores\":{\"positive\":0.49978500604629522,\"neutral\":0.0001903649390442,\"negative\":0.500024676322937},\"sentences\":[{\"sentiment\":\"negative\",\"sentenceScores\":{\"positive\":4.08880950999E-05,\"neutral\":4.88695768581E-05,\"negative\":0.99991023540496826},\"offset\":0,\"length\":31},{\"sentiment\":\"positive\",\"sentenceScores\":{\"positive\":0.99952912330627441,\"neutral\":0.0003318602975924,\"negative\":0.000139072391903},\"offset\":32,\"length\":35}]},{\"id\":\"1\",\"sentiment\":\"mixed\",\"documentScores\":{\"positive\":0.49978500604629522,\"neutral\":0.0001903649390442,\"negative\":0.500024676322937},\"sentences\":[{\"sentiment\":\"positive\",\"sentenceScores\":{\"positive\":0.99952912330627441,\"neutral\":0.0003318602975924,\"negative\":0.000139072391903},\"offset\":0,\"length\":35},{\"sentiment\":\"negative\",\"sentenceScores\":{\"positive\":4.08880950999E-05,\"neutral\":4.88695768581E-05,\"negative\":0.99991023540496826},\"offset\":36,\"length\":31}]}],\"errors\":[],\"modelVersion\":\"2019-10-01\"}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}