{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.0-preview.1/languages?showStats=true",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "x-aml-ta-request-id" : "48a69634-955c-4422-a934-ed74ef8255ed",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "{\"error\":{\"code\":\"InvalidRequest\",\"innerError\":{\"code\":\"InvalidDocument\",\"message\":\"Request contains duplicated Ids. Make sure each document has a unique Id.\"},\"message\":\"Invalid document in request.\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}