{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.0-preview.1/languages",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "csp-billing-usage" : "CognitiveServices.TextAnalytics.BatchScoring=1",
      "x-aml-ta-request-id" : "7f5839ca-452a-41d8-a9b7-9f0b74032231",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"documents\":[{\"id\":\"0\",\"detectedLanguages\":[{\"name\":\"(Unknown)\",\"iso6391Name\":\"(Unknown)\",\"score\":0.0}]}],\"errors\":[],\"modelVersion\":\"2019-10-01\"}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}