{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://westus2.ppe.cognitiveservices.azure.com/text/analytics/v3.0//languages",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "csp-billing-usage" : "CognitiveServices.TextAnalytics.BatchScoring=0",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"documents\":[],\"errors\":[{\"id\":\"0\",\"error\":{\"code\":\"InvalidArgument\",\"message\":\"Invalid Country Hint.\",\"innererror\":{\"code\":\"InvalidCountryHint\",\"message\":\"Country hint is not valid. Please specify an ISO 3166-1 alpha-2 two letter country code.\"}}}],\"modelVersion\":\"2019-10-01\"}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}