{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.0-preview.1/keyPhrases",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "csp-billing-usage" : "CognitiveServices.TextAnalytics.BatchScoring=2",
      "x-aml-ta-request-id" : "8cfb3cb4-c4a9-46b9-aec6-c69e705ca62e",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"documents\":[{\"id\":\"0\",\"keyPhrases\":[\"input text\",\"world\"]},{\"id\":\"1\",\"keyPhrases\":[\"monde\"]}],\"errors\":[],\"modelVersion\":\"2019-10-01\"}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}
