{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://javatextanalyticstestresources.cognitiveservices.azure.com//text/analytics/v3.0-preview.1/keyPhrases",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "csp-billing-usage" : "CognitiveServices.TextAnalytics.BatchScoring=2",
      "x-aml-ta-request-id" : "63c00349-b151-43b3-8077-4cab63b5a551",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"documents\":[{\"id\":\"0\",\"keyPhrases\":[\"Microsoft employee\",\"ssn\",\"awesome API's\"]},{\"id\":\"1\",\"keyPhrases\":[\"lower left hand corner\",\"personal check\",\"digits\",\"ABA number\"]}],\"errors\":[],\"modelVersion\":\"2019-10-01\"}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}