{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.queue.core.windows.net/queue1154048f",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://sima.queue.core.windows.net/queue1154048f/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "201",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>5d20d094-2ec7-4544-9ad1-86fc3aa14140</MessageId><InsertionTime>Wed, 10 Jul 2019 23:18:38 GMT</InsertionTime><ExpirationTime>Wed, 17 Jul 2019 23:18:38 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAskA9znU31QE=</PopReceipt><TimeNextVisible>Wed, 10 Jul 2019 23:18:38 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.queue.core.windows.net/queue1154048f/messages?numofmessages=1&visibilitytimeout=30",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>5d20d094-2ec7-4544-9ad1-86fc3aa14140</MessageId><InsertionTime>Wed, 10 Jul 2019 23:18:38 GMT</InsertionTime><ExpirationTime>Wed, 17 Jul 2019 23:18:38 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAOIYm4HU31QE=</PopReceipt><TimeNextVisible>Wed, 10 Jul 2019 23:19:08 GMT</TimeNextVisible><DequeueCount>1</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sima.queue.core.windows.net/queue1154048f/messages/5d20d094-2ec7-4544-9ad1-86fc3aa14140?popreceipt=AgAAAAMAAAAAAAAAOIYm4HU31QE%3d",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "204"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.queue.core.windows.net/queue1154048f?comp=metadata",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "x-ms-approximate-messages-count" : "0",
      "StatusCode" : "200"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sima.queue.core.windows.net/queue1154048f/messages",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "204"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sima.queue.core.windows.net/queue1154048f",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "204"
    }
  } ],
  "variables" : [ "queue1154048f" ]
}