{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net/queue881089d3/messages?visibilitytimeout=0&messagettl=604800",
    "Headers" : {
      "x-ms-version" : "2018-03-28",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "x-ms-error-code" : "QueueNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The specified queue does not exist.\nRequestId:1cdd82f3-e003-0073-0f09-4740b5000000\nTime:2019-07-30T19:01:06.9836664Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.queue.core.windows.net?prefix=queue881089d3&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-03-28"
    },
    "Response" : {
      "x-ms-version" : "2018-03-28",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.queue.core.windows.net/\"><Prefix>queue881089d3</Prefix><Queues /><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "queue881089d3" ]
}