{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://java-sdk-test.vault.azure.net/secrets/JavaExtensionSecret1?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/jose+json; charset=utf-8"
    },
    "Response" : {
      "www-authenticate" : "Bearer authorization=\"https://login.windows.net/47b059c3-046e-4c01-baa7-8b27aee31575\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : ""
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://java-sdk-test.vault.azure.net/secrets/JavaExtensionSecret1?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"AAECAwQFBgcICQoLDA0ODw\",\"contentType\":\"application/octet-stream\",\"id\":\"https://java-sdk-test.vault.azure.net/secrets/JavaExtensionSecret1/7b0176dc7bdd48e5aaf97e65a5207da3\",\"attributes\":{\"enabled\":true,\"created\":1525282635,\"updated\":1525282635,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://java-sdk-test.vault.azure.net/secrets/JavaExtensionSecret1/?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"AAECAwQFBgcICQoLDA0ODw\",\"contentType\":\"application/octet-stream\",\"id[...]
