{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/keys/JavaExtensionKey/create?api-version=2016-10-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "www-authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/keys/JavaExtensionKey/create?api-version=2016-10-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"key\":{\"kid\":\"https://tifchen-keyvault-fancy.vault.azure.net/keys/JavaExtensionKey/48b62b3ede7744569920e4a35acf6601\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"njZZak4ugkmCJXgbyfAAEXFa50d3SVOnfxUR2tJZ90YCqF6AeXteWjJjgfQdvsp8H1u0HvMGHB8PYqAkdQWYCZPplSTySrTeM_SAp649NB90ZMwo2B6TG-tqZqJXQlaRZQ5NiRXkkBgSLY5UhPPHrIPwg9lgBRrp7wmTx4ADaE8ObCN7Hbqk52pu6rEuh2KADDFmFL4U0kEDjYq4c9z-VZxrosSAdxYME7RYajyZeoIDHotMGmVJK4HxDmIKvyAWFj-TUBbwNFnes9LcqPIUpsl8JAEwHGlqwT_fGvgPGJ3Pv5jUGyakIIFYqXVYbPowef53Hy2Sv0javDC7GiTNQQ\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"created\":1509124958,\"updated\":1509124958,\"recoveryLevel\":\"Purgeable\"}}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/keys/JavaExtensionKey/?api-version=2016-10-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "www-authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : "[...]
