// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.hybridcompute.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.PagedFlux;
import com.azure.core.http.rest.PagedIterable;
import com.azure.core.http.rest.PagedResponse;
import com.azure.core.http.rest.PagedResponseBase;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.resourcemanager.hybridcompute.fluent.ExtensionMetadataV2sClient;
import com.azure.resourcemanager.hybridcompute.fluent.models.ExtensionValueV2Inner;
import com.azure.resourcemanager.hybridcompute.models.ExtensionValueListResultV2;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in ExtensionMetadataV2sClient.
 */
public final class ExtensionMetadataV2sClientImpl implements ExtensionMetadataV2sClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final ExtensionMetadataV2sService service;

    /**
     * The service client containing this operation class.
     */
    private final HybridComputeManagementClientImpl client;

    /**
     * Initializes an instance of ExtensionMetadataV2sClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    ExtensionMetadataV2sClientImpl(HybridComputeManagementClientImpl client) {
        this.service = RestProxy.create(ExtensionMetadataV2sService.class, client.getHttpPipeline(),
            client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for HybridComputeManagementClientExtensionMetadataV2s to be used by the
     * proxy service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "HybridComputeManagementClientExtensionMetadataV2s")
    public interface ExtensionMetadataV2sService {
        @Headers({ "Content-Type: application/json" })
        @Get("/providers/Microsoft.HybridCompute/locations/{location}/publishers/{publisher}/extensionTypes/{extensionType}/versions/{version}")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<ExtensionValueV2Inner>> get(@HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion, @PathParam("location") String location,
            @PathParam("publisher") String publisher, @PathParam("extensionType") String extensionType,
            @PathParam("version") String version, @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Get("/providers/Microsoft.HybridCompute/locations/{location}/publishers/{publisher}/extensionTypes/{extensionType}/versions/{version}")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Response<ExtensionValueV2Inner> getSync(@HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion, @PathParam("location") String location,
            @PathParam("publisher") String publisher, @PathParam("extensionType") String extensionType,
            @PathParam("version") String version, @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Get("/providers/Microsoft.HybridCompute/locations/{location}/publishers/{publisher}/extensionTypes/{extensionType}/versions")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<ExtensionValueListResultV2>> list(@HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion, @PathParam("location") String location,
            @PathParam("publisher") String publisher, @PathParam("extensionType") String extensionType,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Get("/providers/Microsoft.HybridCompute/locations/{location}/publishers/{publisher}/extensionTypes/{extensionType}/versions")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Response<ExtensionValueListResultV2> listSync(@HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion, @PathParam("location") String location,
            @PathParam("publisher") String publisher, @PathParam("extensionType") String extensionType,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Get("{nextLink}")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<ExtensionValueListResultV2>> listNext(
            @PathParam(value = "nextLink", encoded = true) String nextLink, @HostParam("$host") String endpoint,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Get("{nextLink}")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Response<ExtensionValueListResultV2> listNextSync(
            @PathParam(value = "nextLink", encoded = true) String nextLink, @HostParam("$host") String endpoint,
            @HeaderParam("Accept") String accept, Context context);
    }

    /**
     * Gets an Extension Metadata based on location, publisher, extensionType and version.
     * 
     * @param location The name of Azure region.
     * @param publisher The publisher of the Extension being received.
     * @param extensionType The extensionType of the Extension being received.
     * @param version The version of the Extension being received.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an Extension Metadata based on location, publisher, extensionType and version along with {@link Response}
     * on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<ExtensionValueV2Inner>> getWithResponseAsync(String location, String publisher,
        String extensionType, String version) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (location == null) {
            return Mono.error(new IllegalArgumentException("Parameter location is required and cannot be null."));
        }
        if (publisher == null) {
            return Mono.error(new IllegalArgumentException("Parameter publisher is required and cannot be null."));
        }
        if (extensionType == null) {
            return Mono.error(new IllegalArgumentException("Parameter extensionType is required and cannot be null."));
        }
        if (version == null) {
            return Mono.error(new IllegalArgumentException("Parameter version is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.get(this.client.getEndpoint(), this.client.getApiVersion(), location,
                publisher, extensionType, version, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Gets an Extension Metadata based on location, publisher, extensionType and version.
     * 
     * @param location The name of Azure region.
     * @param publisher The publisher of the Extension being received.
     * @param extensionType The extensionType of the Extension being received.
     * @param version The version of the Extension being received.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an Extension Metadata based on location, publisher, extensionType and version on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<ExtensionValueV2Inner> getAsync(String location, String publisher, String extensionType,
        String version) {
        return getWithResponseAsync(location, publisher, extensionType, version)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Gets an Extension Metadata based on location, publisher, extensionType and version.
     * 
     * @param location The name of Azure region.
     * @param publisher The publisher of the Extension being received.
     * @param extensionType The extensionType of the Extension being received.
     * @param version The version of the Extension being received.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an Extension Metadata based on location, publisher, extensionType and version along with
     * {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<ExtensionValueV2Inner> getWithResponse(String location, String publisher, String extensionType,
        String version, Context context) {
        if (this.client.getEndpoint() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (location == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter location is required and cannot be null."));
        }
        if (publisher == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter publisher is required and cannot be null."));
        }
        if (extensionType == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter extensionType is required and cannot be null."));
        }
        if (version == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter version is required and cannot be null."));
        }
        final String accept = "application/json";
        return service.getSync(this.client.getEndpoint(), this.client.getApiVersion(), location, publisher,
            extensionType, version, accept, context);
    }

    /**
     * Gets an Extension Metadata based on location, publisher, extensionType and version.
     * 
     * @param location The name of Azure region.
     * @param publisher The publisher of the Extension being received.
     * @param extensionType The extensionType of the Extension being received.
     * @param version The version of the Extension being received.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an Extension Metadata based on location, publisher, extensionType and version.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public ExtensionValueV2Inner get(String location, String publisher, String extensionType, String version) {
        return getWithResponse(location, publisher, extensionType, version, Context.NONE).getValue();
    }

    /**
     * Gets all Extension versions based on location, publisher, extensionType.
     * 
     * @param location The name of Azure region.
     * @param publisher The publisher of the Extension being received.
     * @param extensionType The extensionType of the Extension being received.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return all Extension versions based on location, publisher, extensionType along with {@link PagedResponse} on
     * successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<PagedResponse<ExtensionValueV2Inner>> listSinglePageAsync(String location, String publisher,
        String extensionType) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (location == null) {
            return Mono.error(new IllegalArgumentException("Parameter location is required and cannot be null."));
        }
        if (publisher == null) {
            return Mono.error(new IllegalArgumentException("Parameter publisher is required and cannot be null."));
        }
        if (extensionType == null) {
            return Mono.error(new IllegalArgumentException("Parameter extensionType is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.list(this.client.getEndpoint(), this.client.getApiVersion(), location,
                publisher, extensionType, accept, context))
            .<PagedResponse<ExtensionValueV2Inner>>map(res -> new PagedResponseBase<>(res.getRequest(),
                res.getStatusCode(), res.getHeaders(), res.getValue().value(), res.getValue().nextLink(), null))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Gets all Extension versions based on location, publisher, extensionType.
     * 
     * @param location The name of Azure region.
     * @param publisher The publisher of the Extension being received.
     * @param extensionType The extensionType of the Extension being received.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return all Extension versions based on location, publisher, extensionType as paginated response with
     * {@link PagedFlux}.
     */
    @ServiceMethod(returns = ReturnType.COLLECTION)
    private PagedFlux<ExtensionValueV2Inner> listAsync(String location, String publisher, String extensionType) {
        return new PagedFlux<>(() -> listSinglePageAsync(location, publisher, extensionType),
            nextLink -> listNextSinglePageAsync(nextLink));
    }

    /**
     * Gets all Extension versions based on location, publisher, extensionType.
     * 
     * @param location The name of Azure region.
     * @param publisher The publisher of the Extension being received.
     * @param extensionType The extensionType of the Extension being received.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return all Extension versions based on location, publisher, extensionType along with {@link PagedResponse}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private PagedResponse<ExtensionValueV2Inner> listSinglePage(String location, String publisher,
        String extensionType) {
        if (this.client.getEndpoint() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (location == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter location is required and cannot be null."));
        }
        if (publisher == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter publisher is required and cannot be null."));
        }
        if (extensionType == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter extensionType is required and cannot be null."));
        }
        final String accept = "application/json";
        Response<ExtensionValueListResultV2> res = service.listSync(this.client.getEndpoint(),
            this.client.getApiVersion(), location, publisher, extensionType, accept, Context.NONE);
        return new PagedResponseBase<>(res.getRequest(), res.getStatusCode(), res.getHeaders(), res.getValue().value(),
            res.getValue().nextLink(), null);
    }

    /**
     * Gets all Extension versions based on location, publisher, extensionType.
     * 
     * @param location The name of Azure region.
     * @param publisher The publisher of the Extension being received.
     * @param extensionType The extensionType of the Extension being received.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return all Extension versions based on location, publisher, extensionType along with {@link PagedResponse}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private PagedResponse<ExtensionValueV2Inner> listSinglePage(String location, String publisher, String extensionType,
        Context context) {
        if (this.client.getEndpoint() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (location == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter location is required and cannot be null."));
        }
        if (publisher == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter publisher is required and cannot be null."));
        }
        if (extensionType == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter extensionType is required and cannot be null."));
        }
        final String accept = "application/json";
        Response<ExtensionValueListResultV2> res = service.listSync(this.client.getEndpoint(),
            this.client.getApiVersion(), location, publisher, extensionType, accept, context);
        return new PagedResponseBase<>(res.getRequest(), res.getStatusCode(), res.getHeaders(), res.getValue().value(),
            res.getValue().nextLink(), null);
    }

    /**
     * Gets all Extension versions based on location, publisher, extensionType.
     * 
     * @param location The name of Azure region.
     * @param publisher The publisher of the Extension being received.
     * @param extensionType The extensionType of the Extension being received.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return all Extension versions based on location, publisher, extensionType as paginated response with
     * {@link PagedIterable}.
     */
    @ServiceMethod(returns = ReturnType.COLLECTION)
    public PagedIterable<ExtensionValueV2Inner> list(String location, String publisher, String extensionType) {
        return new PagedIterable<>(() -> listSinglePage(location, publisher, extensionType),
            nextLink -> listNextSinglePage(nextLink));
    }

    /**
     * Gets all Extension versions based on location, publisher, extensionType.
     * 
     * @param location The name of Azure region.
     * @param publisher The publisher of the Extension being received.
     * @param extensionType The extensionType of the Extension being received.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return all Extension versions based on location, publisher, extensionType as paginated response with
     * {@link PagedIterable}.
     */
    @ServiceMethod(returns = ReturnType.COLLECTION)
    public PagedIterable<ExtensionValueV2Inner> list(String location, String publisher, String extensionType,
        Context context) {
        return new PagedIterable<>(() -> listSinglePage(location, publisher, extensionType, context),
            nextLink -> listNextSinglePage(nextLink, context));
    }

    /**
     * Get the next page of items.
     * 
     * @param nextLink The URL to get the next list of items.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the List Extension Metadata response along with {@link PagedResponse} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<PagedResponse<ExtensionValueV2Inner>> listNextSinglePageAsync(String nextLink) {
        if (nextLink == null) {
            return Mono.error(new IllegalArgumentException("Parameter nextLink is required and cannot be null."));
        }
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil.withContext(context -> service.listNext(nextLink, this.client.getEndpoint(), accept, context))
            .<PagedResponse<ExtensionValueV2Inner>>map(res -> new PagedResponseBase<>(res.getRequest(),
                res.getStatusCode(), res.getHeaders(), res.getValue().value(), res.getValue().nextLink(), null))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Get the next page of items.
     * 
     * @param nextLink The URL to get the next list of items.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the List Extension Metadata response along with {@link PagedResponse}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private PagedResponse<ExtensionValueV2Inner> listNextSinglePage(String nextLink) {
        if (nextLink == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter nextLink is required and cannot be null."));
        }
        if (this.client.getEndpoint() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        final String accept = "application/json";
        Response<ExtensionValueListResultV2> res
            = service.listNextSync(nextLink, this.client.getEndpoint(), accept, Context.NONE);
        return new PagedResponseBase<>(res.getRequest(), res.getStatusCode(), res.getHeaders(), res.getValue().value(),
            res.getValue().nextLink(), null);
    }

    /**
     * Get the next page of items.
     * 
     * @param nextLink The URL to get the next list of items.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the List Extension Metadata response along with {@link PagedResponse}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private PagedResponse<ExtensionValueV2Inner> listNextSinglePage(String nextLink, Context context) {
        if (nextLink == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter nextLink is required and cannot be null."));
        }
        if (this.client.getEndpoint() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        final String accept = "application/json";
        Response<ExtensionValueListResultV2> res
            = service.listNextSync(nextLink, this.client.getEndpoint(), accept, context);
        return new PagedResponseBase<>(res.getRequest(), res.getStatusCode(), res.getHeaders(), res.getValue().value(),
            res.getValue().nextLink(), null);
    }

    private static final ClientLogger LOGGER = new ClientLogger(ExtensionMetadataV2sClientImpl.class);
}
