// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.peering.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Post;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.peering.fluent.ResourceProvidersClient;
import com.azure.resourcemanager.peering.models.CheckServiceProviderAvailabilityInput;
import com.azure.resourcemanager.peering.models.Enum0;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in ResourceProvidersClient. */
public final class ResourceProvidersClientImpl implements ResourceProvidersClient {
    /** The proxy service used to perform REST calls. */
    private final ResourceProvidersService service;

    /** The service client containing this operation class. */
    private final PeeringManagementClientImpl client;

    /**
     * Initializes an instance of ResourceProvidersClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    ResourceProvidersClientImpl(PeeringManagementClientImpl client) {
        this.service =
            RestProxy.create(ResourceProvidersService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for PeeringManagementClientResourceProviders to be used by the proxy
     * service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "PeeringManagementCli")
    private interface ResourceProvidersService {
        @Headers({"Content-Type: application/json"})
        @Post("/subscriptions/{subscriptionId}/providers/Microsoft.Peering/checkServiceProviderAvailability")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<Enum0>> checkServiceProviderAvailability(
            @HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId,
            @QueryParam("api-version") String apiVersion,
            @BodyParam("application/json") CheckServiceProviderAvailabilityInput checkServiceProviderAvailabilityInput,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Checks if the peering service provider is present within 1000 miles of customer's location.
     *
     * @param checkServiceProviderAvailabilityInput The CheckServiceProviderAvailabilityInput indicating customer
     *     location and service provider.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response body along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Enum0>> checkServiceProviderAvailabilityWithResponseAsync(
        CheckServiceProviderAvailabilityInput checkServiceProviderAvailabilityInput) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (checkServiceProviderAvailabilityInput == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter checkServiceProviderAvailabilityInput is required and cannot be null."));
        } else {
            checkServiceProviderAvailabilityInput.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .checkServiceProviderAvailability(
                            this.client.getEndpoint(),
                            this.client.getSubscriptionId(),
                            this.client.getApiVersion(),
                            checkServiceProviderAvailabilityInput,
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Checks if the peering service provider is present within 1000 miles of customer's location.
     *
     * @param checkServiceProviderAvailabilityInput The CheckServiceProviderAvailabilityInput indicating customer
     *     location and service provider.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response body along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Enum0>> checkServiceProviderAvailabilityWithResponseAsync(
        CheckServiceProviderAvailabilityInput checkServiceProviderAvailabilityInput, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (checkServiceProviderAvailabilityInput == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter checkServiceProviderAvailabilityInput is required and cannot be null."));
        } else {
            checkServiceProviderAvailabilityInput.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .checkServiceProviderAvailability(
                this.client.getEndpoint(),
                this.client.getSubscriptionId(),
                this.client.getApiVersion(),
                checkServiceProviderAvailabilityInput,
                accept,
                context);
    }

    /**
     * Checks if the peering service provider is present within 1000 miles of customer's location.
     *
     * @param checkServiceProviderAvailabilityInput The CheckServiceProviderAvailabilityInput indicating customer
     *     location and service provider.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response body on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Enum0> checkServiceProviderAvailabilityAsync(
        CheckServiceProviderAvailabilityInput checkServiceProviderAvailabilityInput) {
        return checkServiceProviderAvailabilityWithResponseAsync(checkServiceProviderAvailabilityInput)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Checks if the peering service provider is present within 1000 miles of customer's location.
     *
     * @param checkServiceProviderAvailabilityInput The CheckServiceProviderAvailabilityInput indicating customer
     *     location and service provider.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Enum0 checkServiceProviderAvailability(
        CheckServiceProviderAvailabilityInput checkServiceProviderAvailabilityInput) {
        return checkServiceProviderAvailabilityAsync(checkServiceProviderAvailabilityInput).block();
    }

    /**
     * Checks if the peering service provider is present within 1000 miles of customer's location.
     *
     * @param checkServiceProviderAvailabilityInput The CheckServiceProviderAvailabilityInput indicating customer
     *     location and service provider.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the response body along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<Enum0> checkServiceProviderAvailabilityWithResponse(
        CheckServiceProviderAvailabilityInput checkServiceProviderAvailabilityInput, Context context) {
        return checkServiceProviderAvailabilityWithResponseAsync(checkServiceProviderAvailabilityInput, context)
            .block();
    }
}
