{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/keys/javaKey/create?api-version=2016-10-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "www-authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/keys/javaKey/create?api-version=2016-10-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"key\":{\"kid\":\"https://tifchen-keyvault-fancy.vault.azure.net/keys/javaKey/6711cbf7c4f14aba9746d088f715e96a\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"ucnRrlcFG7sANhpK8oIljpfqKKw9HaLfEpaSQ6UsS_PkhrVNh99YQEGNR3P2OYiTSzYUKZpr4BB4qEkiN8NauQgzJlqmEToFWQpoGCGnrYF_HjBEz01s218OVrN1or920yLSxtZ62XFi1GA3PpZLyqJ5nXcd4OZMGsMdOA5O3IeWAAIe_IdKaFRVnFJa-ZjiEAUt7-ff9nr14g9mvkx_onQVhKQWFsWGv3Yi2r4OgoZphpe3TGqZfCetZoVF2Nxt493qBJm7IZwV67XMDuj_J5Rv0I04TsCgYMHqQeLo2yaRP0TKS-L8R7TNLbzfL9hSkUPwvcp1dbkCp18BO8kvJw\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"created\":1508964734,\"updated\":1508964734,\"recoveryLevel\":\"Purgeable\"}}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/keys/javaKey/?api-version=2016-10-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"key\":{\"kid\":\"https://tifchen-keyvault-fancy.vault.azure.net/keys/javaKey/6711cbf7c4f14aba9746d088f71[...]
