{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/secrets/crudSecret?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "www-authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : ""
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/secrets/crudSecret?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"Chocolate is hidden in the toothpaste cabinet\",\"id\":\"https://tifchen-keyvault-fancy.vault.azure.net/secrets/crudSecret/323c8db683d942028d0aa1221d268d43\",\"attributes\":{\"enabled\":true,\"created\":1529957220,\"updated\":1529957220,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/secrets/crudSecret/?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"Chocolate is hidden in the toothpaste cabinet\",\"id\":\"https://tifchen-keyvault-f[...]
