{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/secrets/disabledsecret?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "www-authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : ""
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/secrets/disabledsecret?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"Chocolate is hidden in the toothpaste cabinet\",\"id\":\"https://tifchen-keyvault-fancy.vault.azure.net/secrets/disabledsecret/367b7ed4894a4f51b8cc8631a187ab8e\",\"attributes\":{\"enabled\":false,\"created\":1520540292,\"updated\":1520540292,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/secrets/disabledsecret/367b7ed4894a4f51b8cc8631a187ab8e?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "403",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"error\":{\"code\":\"Forbidden\",\"message\":\"Operation get is not allowed on a disabled secret.\",\"innererror\":{\"code\":\"SecretDisabled\"}}}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/secrets/disabledsecret?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"recoveryId\":\"https://tifchen-keyvault-fancy.vault.azure.net/deletedsecrets/disabledsecret\",\"deletedDate\":1520540292,\"scheduledPurgeDate\":1528316292,\"id\":\"https://tifchen-keyvault-fancy.vault.azure.net/secrets/disabledsecret/367b7ed4894a4f51b8cc8631a187ab8e\",\"attributes\":{\"enabled\":false,\"created\":1520540292,\"updated\":1520540292,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/deletedsecrets/disabledsecret?api-version=7.0-preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "204",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}