{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/keys/javaKey?api-version=2016-10-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "www-authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : ""
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/keys/javaKey?api-version=2016-10-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"key\":{\"kid\":\"https://tifchen-keyvault-fancy.vault.azure.net/keys/javaKey/fcec8bd3b3f647cdb6ebdf29eac00556\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\"],\"n\":\"1_6ZtP288hEkKML-L6nFyZh1PD1rmAgwbbwjEvTSDK_008BYWhjp_6ULy9BhWtRIytNkPkm9gzaBTrCpp-vyDXPGa836Htp-w8u5JmxoUZchJh576m3m-8ZYWTmZSAp5SpruyKAmLSxPJHEWPXQntnmuTMjb9HBT9Ltrwc0ZDk-jsMLYunDJrNmrRUxQgb0zQ_Tl5fJjj8j-0KVx2RXtbfWFvf5fRdBYyP3m0aUpoopQPwtXszD2LcSKMJ_TnmnvMWr8MOA5aRlBaGdBk7zBgRafvDPam3Q2AvFA9mfcAVncpfZ3JFm73VARw6MofXtRqOHtZ7y4oNbY95xXwU2r6w\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"nbf\":948837131,\"exp\":2526760331,\"created\":1508964732,\"updated\":1508964732,\"recoveryLevel\":\"Purgeable\"},\"tags\":{\"foo\":\"baz\"}}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/keys/javaKey/fcec8bd3b3f647cdb6ebdf29eac00556/encrypt?api-version=2016-10-01",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"kid\":\"https://tifchen-keyvault-fancy.vault.azure.net/keys/javaKey/fcec8bd3b3f647cdb6ebdf29eac00556\",\"value\":\"BUBGmUvPKX0bDLd5w1UGwf5yrqz47DYvnYV3fRcASqtarfFUnzL1ER7LsicYMfTv4oBB2Zs6Sosk33thWz4jGLQXTB6WsGfmXTO8D8DjJ1ZHJ_iWOgbWhEKsSMjWc8Wk1Kdl79LnnhPsD1p8Q4YAHiQcISA_I0kV6AZWhWv9liRJytwAOnEYMDU2XMGA3tR9Kg011vqP-fy5zjZrc7QRHC4dRpcilnGqqPtrTNhI-8xkbC8-Fr7TKPdXTMEqLTC_N8PeZCkPETZPGA9nnPF2dJOdhxJN1Ac-HdX3IRIqbMf1aPoFpUVAmw0lkkL1DvWh8EFcyv023usZjKtBTJtFQw\"}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/keys/javaKey/fcec8bd3b3f647cdb6ebdf29eac00556/decry[...]
