{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/keys/javaKey/create?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "www-authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/keys/javaKey/create?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"key\":{\"kid\":\"https://tifchen-keyvault-fancy.vault.azure.net/keys/javaKey/51374aa5d790497ab1fcae270b647402\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"tVn-_yOWjHT8Mmc9XmNBPsEDVYz4X4Yu3741T5ZAauxwixnC-1PLFM2cgrR3pi4MwuPeiM8tMxuqpQRGEvSE18q8iD9CAJ9bw5UbHQo1GO3nmjKa8EzzG_BJS1Jk7sypHkrSgO-ofsJpKCZrWdHwAzzV_BdJl8-TY3heyir_wgr1IMsSeD6PKd5q7KhLGb7AibhlHMuszrexnP_UTuz7vJesNV4-s3PXEtY9Kl2YR8xh3vN36Nzl6zGsljTsLP9AQNsiEQqjiP5ylwC1dacBO_FkAC-WGaSkGVo9lku1az1Y8SxpACvGJpXRo6ZNsmb3AmHnvfZ-Bo4ux8JwRrXC7w\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"created\":1529956387,\"updated\":1529956387,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://tifchen-keyvault-fancy.vault.azure.net/keys/javaKey/create?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"key\":{\"kid\":\"https://tifchen-keyvault-fancy.vault.azure.net/keys/javaKey/1f08e3afd3bf40e[...]
