// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.hybridconnectivity.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Post;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.hybridconnectivity.fluent.GenerateAwsTemplatesClient;
import com.azure.resourcemanager.hybridconnectivity.models.GenerateAwsTemplateRequest;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in GenerateAwsTemplatesClient.
 */
public final class GenerateAwsTemplatesClientImpl implements GenerateAwsTemplatesClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final GenerateAwsTemplatesService service;

    /**
     * The service client containing this operation class.
     */
    private final HybridConnectivityManagementApiImpl client;

    /**
     * Initializes an instance of GenerateAwsTemplatesClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    GenerateAwsTemplatesClientImpl(HybridConnectivityManagementApiImpl client) {
        this.service = RestProxy.create(GenerateAwsTemplatesService.class, client.getHttpPipeline(),
            client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for HybridConnectivityManagementApiGenerateAwsTemplates to be used by the
     * proxy service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "HybridConnectivityMa")
    public interface GenerateAwsTemplatesService {
        @Headers({ "Content-Type: application/json" })
        @Post("/subscriptions/{subscriptionId}/providers/Microsoft.HybridConnectivity/generateAwsTemplate")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<Object>> post(@HostParam("$host") String endpoint, @QueryParam("api-version") String apiVersion,
            @PathParam("subscriptionId") String subscriptionId,
            @BodyParam("application/json") GenerateAwsTemplateRequest generateAwsTemplateRequest,
            @HeaderParam("Accept") String accept, Context context);
    }

    /**
     * Retrieve AWS Cloud Formation template.
     * 
     * @param generateAwsTemplateRequest ConnectorId and SolutionTypes and their properties to Generate AWS CFT
     * Template.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return any object along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Object>> postWithResponseAsync(GenerateAwsTemplateRequest generateAwsTemplateRequest) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (generateAwsTemplateRequest == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter generateAwsTemplateRequest is required and cannot be null."));
        } else {
            generateAwsTemplateRequest.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.post(this.client.getEndpoint(), this.client.getApiVersion(),
                this.client.getSubscriptionId(), generateAwsTemplateRequest, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Retrieve AWS Cloud Formation template.
     * 
     * @param generateAwsTemplateRequest ConnectorId and SolutionTypes and their properties to Generate AWS CFT
     * Template.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return any object along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Object>> postWithResponseAsync(GenerateAwsTemplateRequest generateAwsTemplateRequest,
        Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (generateAwsTemplateRequest == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter generateAwsTemplateRequest is required and cannot be null."));
        } else {
            generateAwsTemplateRequest.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.post(this.client.getEndpoint(), this.client.getApiVersion(), this.client.getSubscriptionId(),
            generateAwsTemplateRequest, accept, context);
    }

    /**
     * Retrieve AWS Cloud Formation template.
     * 
     * @param generateAwsTemplateRequest ConnectorId and SolutionTypes and their properties to Generate AWS CFT
     * Template.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return any object on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Object> postAsync(GenerateAwsTemplateRequest generateAwsTemplateRequest) {
        return postWithResponseAsync(generateAwsTemplateRequest).flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Retrieve AWS Cloud Formation template.
     * 
     * @param generateAwsTemplateRequest ConnectorId and SolutionTypes and their properties to Generate AWS CFT
     * Template.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return any object along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<Object> postWithResponse(GenerateAwsTemplateRequest generateAwsTemplateRequest, Context context) {
        return postWithResponseAsync(generateAwsTemplateRequest, context).block();
    }

    /**
     * Retrieve AWS Cloud Formation template.
     * 
     * @param generateAwsTemplateRequest ConnectorId and SolutionTypes and their properties to Generate AWS CFT
     * Template.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return any object.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Object post(GenerateAwsTemplateRequest generateAwsTemplateRequest) {
        return postWithResponse(generateAwsTemplateRequest, Context.NONE).getValue();
    }
}
