{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azure-keyvault-3.vault.azure.net/keys/tempkey/create?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "www-authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azure-keyvault-3.vault.azure.net/keys/tempkey/create?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"key\":{\"kid\":\"https://azure-keyvault-3.vault.azure.net/keys/tempkey/57c1003913194b7cb366792581e05f41\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"6VzhDaP4S3bq9hFwtje3DMoK33JPgX3vYL2N17nrHU5TjjMVm86xYvat5wzuQ49z-x1SSFUSc9opja40ijkc1z-kYb-iEfidjkDD18Tt9vXat1kyw1tP7iF_14TEkujixzbHNHYlal7HTl6Oy-CsxGufgwpRQ7lv3LpkjOXg6SZZWLo-WwxE-jTu5Kpvl0kpgHq_daQfkqZsBQrDLapZ-Qi5JZkVFT056KegrI_eFaluzgtcV03gsHMzKaORdmr7zHAbYa-wvjFuk7-YO3uj15k28tnqPb8k4T_0hVm4oM48mRmNTNta4lBGj5Si8Dg2o4Ce1odVwgDpydPYZ7yNZQ\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"created\":1545081047,\"updated\":1545081047,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "PATCH",
    "Uri" : "https://azure-keyvault-3.vault.azure.net/keys/tempkey/57c1003913194b7cb366792581e05f41?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"key\":{\"kid\":\"https://azure-keyvault-3.vault.azure.net/keys/tempkey/[...]
