{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azure-keyvault-3.vault.azure.net/secrets/javaSecretVersions?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "www-authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : ""
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azure-keyvault-3.vault.azure.net/secrets/javaSecretVersions?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"Chocolate is hidden in the toothpaste cabinet\",\"id\":\"https://azure-keyvault-3.vault.azure.net/secrets/javaSecretVersions/f89410f4d5d4468b9d01f4be3416234e\",\"attributes\":{\"enabled\":true,\"created\":1545082419,\"updated\":1545082419,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azure-keyvault-3.vault.azure.net/secrets/javaSecretVersions?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"Chocolate is hidden in the toothpaste cabinet\",\"id\":\"https://azure-keyvault-3.[...]
