{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azure-keyvault-3.vault.azure.net/keys/javaKey/create?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "www-authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azure-keyvault-3.vault.azure.net/keys/javaKey/create?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"key\":{\"kid\":\"https://azure-keyvault-3.vault.azure.net/keys/javaKey/17364ed8bb7e49ed913d249591583b9b\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"lr_wap-qVfMhlcWr9YRmWxSBYbwRS_bz18_Irj28fX0jlD3VGmHfW4LagtK0_Rkfeu-oBhm8N3hGCwvVfkG2mKJu2A20tgtM4-y8pV45ivYIMLPlIX_YEkPF93bGMp14wlBu9bJNDdSy2VGuWQ7dvAd1wqpSyxOF0uZXKXaHt7CJ6yhrpi6WAQX2MNIkheaIFiiFzKqjmjEnuh6AZ7ow8jLmJm5BUa5mS-uuw6Eq-JlvEWH_k5HQpaVrCd8SlbNkpNQhIVhOGhkXXkf22uL1xwPW3Zfyyo-fJaVjEgiTUikWYj38KdHqWVfpFaKjRfnXRs0kO8H7ze4xMj6ZOIFAHw\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"created\":1545082087,\"updated\":1545082087,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azure-keyvault-3.vault.azure.net/keys/javaKey/create?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"key\":{\"kid\":\"https://azure-keyvault-3.vault.azure.net/keys/javaKey/6ee2492ede384ab9be0b3cccee7[...]
