// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.vi.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.vi.fluent.ClassicAccountsClient;
import com.azure.resourcemanager.vi.fluent.models.ClassicAccountInner;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in ClassicAccountsClient. */
public final class ClassicAccountsClientImpl implements ClassicAccountsClient {
    /** The proxy service used to perform REST calls. */
    private final ClassicAccountsService service;

    /** The service client containing this operation class. */
    private final ViManagementClientImpl client;

    /**
     * Initializes an instance of ClassicAccountsClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    ClassicAccountsClientImpl(ViManagementClientImpl client) {
        this.service =
            RestProxy.create(ClassicAccountsService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for ViManagementClientClassicAccounts to be used by the proxy service to
     * perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "ViManagementClientCl")
    private interface ClassicAccountsService {
        @Headers({"Content-Type: application/json"})
        @Get("/providers/Microsoft.VideoIndexer/locations/{location}/classicAccounts/{accountName}")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<ClassicAccountInner>> getDetails(
            @HostParam("$host") String endpoint,
            @PathParam("location") String location,
            @QueryParam("api-version") String apiVersion,
            @PathParam("accountName") String accountName,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Gets the properties of an Azure Video Indexer Classic account.
     *
     * @param location The name of Azure region.
     * @param accountName The name of the Azure Video Indexer account.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the properties of an Azure Video Indexer Classic account along with {@link Response} on successful
     *     completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<ClassicAccountInner>> getDetailsWithResponseAsync(String location, String accountName) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (location == null) {
            return Mono.error(new IllegalArgumentException("Parameter location is required and cannot be null."));
        }
        if (accountName == null) {
            return Mono.error(new IllegalArgumentException("Parameter accountName is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .getDetails(
                            this.client.getEndpoint(),
                            location,
                            this.client.getApiVersion(),
                            accountName,
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Gets the properties of an Azure Video Indexer Classic account.
     *
     * @param location The name of Azure region.
     * @param accountName The name of the Azure Video Indexer account.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the properties of an Azure Video Indexer Classic account along with {@link Response} on successful
     *     completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<ClassicAccountInner>> getDetailsWithResponseAsync(
        String location, String accountName, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (location == null) {
            return Mono.error(new IllegalArgumentException("Parameter location is required and cannot be null."));
        }
        if (accountName == null) {
            return Mono.error(new IllegalArgumentException("Parameter accountName is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .getDetails(this.client.getEndpoint(), location, this.client.getApiVersion(), accountName, accept, context);
    }

    /**
     * Gets the properties of an Azure Video Indexer Classic account.
     *
     * @param location The name of Azure region.
     * @param accountName The name of the Azure Video Indexer account.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the properties of an Azure Video Indexer Classic account on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<ClassicAccountInner> getDetailsAsync(String location, String accountName) {
        return getDetailsWithResponseAsync(location, accountName)
            .flatMap(
                (Response<ClassicAccountInner> res) -> {
                    if (res.getValue() != null) {
                        return Mono.just(res.getValue());
                    } else {
                        return Mono.empty();
                    }
                });
    }

    /**
     * Gets the properties of an Azure Video Indexer Classic account.
     *
     * @param location The name of Azure region.
     * @param accountName The name of the Azure Video Indexer account.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the properties of an Azure Video Indexer Classic account.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public ClassicAccountInner getDetails(String location, String accountName) {
        return getDetailsAsync(location, accountName).block();
    }

    /**
     * Gets the properties of an Azure Video Indexer Classic account.
     *
     * @param location The name of Azure region.
     * @param accountName The name of the Azure Video Indexer account.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the properties of an Azure Video Indexer Classic account along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<ClassicAccountInner> getDetailsWithResponse(String location, String accountName, Context context) {
        return getDetailsWithResponseAsync(location, accountName, context).block();
    }
}
