<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hydra.Generator" version="1.0.5155.24789-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Compute.Specification" version="1.0.5155.20591-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Scheduler.Specification" version="1.0.5155.20607-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Specification" version="1.0.5155.20600-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Sql.Specification" version="1.0.5155.20615-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Storage.Specification" version="1.0.5155.20616-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.WebSites.Specification" version="1.0.5155.20624-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Store.Specification" version="1.0.5136.29848-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.Network.Specification" version="1.0.5155.20603-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.Management.ServiceBus.Specification" version="1.0.5155.20609-prerelease" targetFramework="portable-net45+sl50+wp80+win" />
</packages>