{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcaccountsasnetworkcreatecontainer1565146198028036448a8bc?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71AE1EF43F756\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:49:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcaccountsasnetworkcreatecontainer1565146198108198684042b?restype=container&sv=2018-11-09&ss=b&srt=sco&se=2019-08-08T02%3A49%3A58Z&sp=rc&sig=vL%2BTIdP632Q%2Bm2q6%2BYaV3Na6UCsOYTLxudPITj4jEdQ%3D",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71AE1EF50082F\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:49:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcaccountsasnetworkcreatecontainer&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcaccountsasnetworkcreatecontainer</Prefix><Containers><Container><Name>jtcaccountsasnetworkcreatecontainer1565146198028036448a8bc</Name><Properties><Last-Modified>Wed, 07 Aug 2019 02:49:58 GMT</Last-Modified><Etag>\"0x8D71AE1EF43F756\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcaccountsasnetworkcreatecontainer1565146198108198684042b</Name><Properties><Last-Modified>Wed, 07 Aug 2019 02:49:58 GMT</Last-Modified><Etag>\"0x8D71AE1EF50082F\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcaccountsasnetworkcreatecontainer1565146198108198684042b?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "jtcaccountsasnetworkcreatecontainer1565146198028036448a8bc", "jtcaccountsasnetworkcreatecontainer1565146198108198684042b" ]
}