{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.blob.core.windows.net/jtcgetappendblobname070182b7e6b97ccd6c4ab7a4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73BEF0F7DC9F0\"",
      "Last-Modified" : "Wed, 18 Sep 2019 04:17:03 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://sima.blob.core.windows.net/jtcgetappendblobname070182b7e6b97ccd6c4ab7a4/javablobgetappendblobname132355bc35361e47b04a1a",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73BEF10066693\"",
      "Last-Modified" : "Wed, 18 Sep 2019 04:17:04 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.blob.core.windows.net?prefix=jtcgetappendblobname&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://sima.blob.core.windows.net/\"><Prefix>jtcgetappendblobname</Prefix><Containers><Container><Name>jtcgetappendblobname070182b7e6b97ccd6c4ab7a4</Name><Properties><Last-Modified>Wed, 18 Sep 2019 04:17:03 GMT</Last-Modified><Etag>\"0x8D73BEF0F7DC9F0\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sima.blob.core.windows.net/jtcgetappendblobname070182b7e6b97ccd6c4ab7a4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcgetappendblobname070182b7e6b97ccd6c4ab7a4", "javablobgetappendblobname132355bc35361e47b04a1a" ]
}