{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcappendblockfromurlrange017382868c66afb5ff455?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D735623D9EB1A9\"",
      "Last-Modified" : "Mon, 09 Sep 2019 20:13:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcappendblockfromurlrange017382868c66afb5ff455/javablobappendblockfromurlrange1796539031022cbe974",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D735623DAC066F\"",
      "Last-Modified" : "Mon, 09 Sep 2019 20:13:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcappendblockfromurlrange017382868c66afb5ff455?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D735623DB80D01\"",
      "Last-Modified" : "Mon, 09 Sep 2019 20:13:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcappendblockfromurlrange017382868c66afb5ff455/javablobappendblockfromurlrange1796539031022cbe974?comp=appendblock",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "I4BeA45EIyY=",
      "x-ms-blob-committed-block-count" : "1",
      "Last-Modified" : "Mon, 09 Sep 2019 20:13:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D735623DC53859\"",
      "x-ms-blob-append-offset" : "0"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcappendblockfromurlrange017382868c66afb5ff455/javablobappendblockfromurlrange20062678ad43ab42c14?comp=appendblock",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-blob-committed-block-count" : "1",
      "Last-Modified" : "Mon, 09 Sep 2019 20:13:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "/l0y3f0qoh481uG3mpcNTw==",
      "ETag" : "\"0x8D735623DE0B4A5\"",
      "x-ms-blob-append-offset" : "0"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcappendblockfromurlrange017382868c66afb5ff455/javablobappendblockfromurlrange20062678ad43ab42c14",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "x-ms-blob-committed-block-count" : "1",
      "Last-Modified" : "Mon, 09 Sep 2019 20:13:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "AppendBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D735623DE0B4A5\"",
      "x-ms-creation-time" : "Mon, 09 Sep 2019 20:13:55 GMT",
      "Body" : "[13, 127, 46, 109, 50, 106, 54, 117, 57, 96, 96, 110, 83, -72, -104, -40, 72, -54, 82, 44, 86, -104, -22, -12, -83, 8, 57, -64, -104, 121, 100, -45, 104, -28, -21, 102, -50, 75, 1, -100, -94, -41, -7, 112, 57, -80, -91, 44, 8, -17, -53, -54, -53, -14, -22, 127, -18, 31, 112, -42, 28, -20, -58, -122, 73, -72, 47, 18, 37, 14, -57, -115, -10, 53, 63, -96, 18, 1, 52, -46, -11, 84, 66, 47, -77, 42, 25, -97, 116, 16, 96, -14, 76, -110, -47, 108, -26, -72, 61, 64, -36, -101, -61, -24, 122, -79, -13, [...]
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net?prefix=jtcappendblockfromurlrange&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jaschrepragrs.blob.core.windows.net/\"><Prefix>jtcappendblockfromurlrange</Prefix><Containers><Container><Name>jtcappendblockfromurlrange017382868c66afb5ff455</Name><Properties><Last-Modified>Mon, 09 Sep 2019 20:13:55 GMT</Last-Modified><Etag>\"0x8D735623DB80D01\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>container</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcappendblockfromurlrange017382868c66afb5ff455?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcappendblockfromurlrange017382868c66afb5ff455", "javablobappendblockfromurlrange1796539031022cbe974", "28818490-4400-4f1e-855e-56356cab35ce", "javablobappendblockfromurlrange20062678ad43ab42c14" ]
}