{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcappendblockfromurlrange089797915c0d8cccc444e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72CA67BEA1C30\"",
      "Last-Modified" : "Thu, 29 Aug 2019 17:29:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcappendblockfromurlrange089797915c0d8cccc444e/javablobappendblockfromurlrange1243480363c99331bb4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72CA67BEFCE58\"",
      "Last-Modified" : "Thu, 29 Aug 2019 17:29:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcappendblockfromurlrange089797915c0d8cccc444e?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72CA67BF793AE\"",
      "Last-Modified" : "Thu, 29 Aug 2019 17:29:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcappendblockfromurlrange089797915c0d8cccc444e/javablobappendblockfromurlrange1243480363c99331bb4?comp=appendblock",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "sQ+Q1/lZ8NY=",
      "x-ms-blob-committed-block-count" : "1",
      "Last-Modified" : "Thu, 29 Aug 2019 17:29:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D72CA67BFD664C\"",
      "x-ms-blob-append-offset" : "0"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcappendblockfromurlrange089797915c0d8cccc444e/javablobappendblockfromurlrange24018838e85ecf38314?comp=appendblock",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-blob-committed-block-count" : "1",
      "Last-Modified" : "Thu, 29 Aug 2019 17:29:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wODknSn7kaysLaMzgt/22Q==",
      "ETag" : "\"0x8D72CA67C1539EA\"",
      "x-ms-blob-append-offset" : "0"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcappendblockfromurlrange089797915c0d8cccc444e/javablobappendblockfromurlrange24018838e85ecf38314",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "x-ms-blob-committed-block-count" : "1",
      "Last-Modified" : "Thu, 29 Aug 2019 17:29:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "AppendBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D72CA67C1539EA\"",
      "x-ms-creation-time" : "Thu, 29 Aug 2019 17:29:45 GMT",
      "Body" : "[58, 56, 86, 76, 55, 50, 24, 11, 75, -59, 0, -85, 125, 32, -105, 85, -127, -33, -125, -83, -5, -74, 91, -70, -45, -105, 30, 44, 32, -74, 19, -43, -13, 62, 84, -59, 95, 75, -47, -27, 124, 21, 67, -41, -111, 5, -125, -25, 31, 92, -32, -90, 23, -10, -114, 40, -114, -92, -24, 50, -48, 99, -6, 124, 62, 101, 38, 76, 105, 29, 76, -47, 56, -11, -107, -83, -118, -6, -110, -61, -121, 10, 74, 120, -17, 7, 121, 57, 13, -19, 63, 125, 118, 64, -107, -28, -62, -104, 112, 5, -102, 37, 71, -124, -81, 85, 26, 4[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcappendblockfromurlrange&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcappendblockfromurlrange</Prefix><Containers><Container><Name>jtcappendblockfromurlrange089797915c0d8cccc444e</Name><Properties><Last-Modified>Thu, 29 Aug 2019 17:29:45 GMT</Last-Modified><Etag>\"0x8D72CA67BF793AE\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>container</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcappendblockfromurlrange089797915c0d8cccc444e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcappendblockfromurlrange089797915c0d8cccc444e", "javablobappendblockfromurlrange1243480363c99331bb4", "8a1da219-4dd9-406f-92a6-5d22e254c831", "javablobappendblockfromurlrange24018838e85ecf38314" ]
}