{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadtoblob0azuritetestuploadtoblob2458303007005134?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D761990FCDF31B",
      "Last-Modified" : "Tue, 05 Nov 2019 02:37:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://127.0.0.1:10000/devstoreaccount1/jtcuploadtoblob1azuritetestuploadtoblob245856846e3b4fe4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "last-modified" : "Tue, 05 Nov 2019 02:37:11 GMT",
      "x-ms-version" : "2018-03-28",
      "etag" : "d-jRjCM+oUZOZi9FW8LZ0CTbjVgFY",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://127.0.0.1:10000/devstoreaccount1/jtcuploadtoblob1azuritetestuploadtoblob245856846e3b4fe4/javablobuploadtoblob2azuritetestuploadtoblob245909710f1dd",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "last-modified" : "Tue, 05 Nov 2019 02:37:12 GMT",
      "x-ms-version" : "2018-03-28",
      "content-md5" : "wh+Wm18D0z1D4E+PE252gg==",
      "etag" : "d-wVIjqNx9iWg79OGqKUKrTNSpCFA",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://127.0.0.1:10000/devstoreaccount1/jtcuploadtoblob1azuritetestuploadtoblob245856846e3b4fe4/javablobuploadtoblob2azuritetestuploadtoblob245909710f1dd",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-version" : "2018-03-28",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "wh+Wm18D0z1D4E+PE252gg==",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "last-modified" : "Tue, 05 Nov 2019 02:37:12 GMT",
      "x-ms-server-encrypted" : "true",
      "content-md5" : "wh+Wm18D0z1D4E+PE252gg==",
      "etag" : "d-wVIjqNx9iWg79OGqKUKrTNSpCFA",
      "Body" : "[100, 101, 102, 97, 117, 108, 116]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcuploadtoblob&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcuploadtoblob</Prefix><Containers><Container><Name>jtcuploadtoblob0azuritetestuploadtoblob2458303007005134</Name><Properties><Last-Modified>Tue, 05 Nov 2019 02:37:11 GMT</Last-Modified><Etag>\"0x8D761990FCDF31B\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadtoblob0azuritetestuploadtoblob2458303007005134?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcuploadtoblob0azuritetestuploadtoblob2458303007005134", "jtcuploadtoblob1azuritetestuploadtoblob245856846e3b4fe4", "javablobuploadtoblob2azuritetestuploadtoblob245909710f1dd" ]
}