{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcusedevelopmentstoragetrue0964627f31622970014e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7C98AF225C57C",
      "Last-Modified" : "Mon, 16 Mar 2020 09:18:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://xclientdev2.blob.core.windows.net?prefix=jtcusedevelopmentstoragetrue&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xclientdev2.blob.core.windows.net/\"><Prefix>jtcusedevelopmentstoragetrue</Prefix><Containers><Container><Name>jtcusedevelopmentstoragetrue0964627f31622970014e</Name><Properties><Last-Modified>Mon, 16 Mar 2020 09:18:10 GMT</Last-Modified><Etag>\"0x8D7C98AF225C57C\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://xclientdev2.blob.core.windows.net/jtcusedevelopmentstoragetrue0964627f31622970014e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcusedevelopmentstoragetrue0964627f31622970014e" ]
}