{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsettiersomesucceedthrowonanyerror063234eb075a2e73?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D74922B4EEBC22\"",
      "Last-Modified" : "Fri, 04 Oct 2019 23:29:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsettiersomesucceedthrowonanyerror135067da479d39fc/javablobsettiersomesucceedthrowonanyerror275507e325abba",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Fri, 04 Oct 2019 23:29:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D74922B4FC6564\""
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?comp=batch",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "multipart/mixed; boundary=batch_6dac7bb2-4f67-4db5-b6ff-cda94fc7640e"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202",
      "Body" : "--batchresponse_21804fd6-7641-4c6d-a2de-eecfe6bbd721\r\nContent-Type: application/http\r\nContent-ID: 0\r\n\r\nHTTP/1.1 200 OK\r\nx-ms-request-id: 1ebe3aaa-301e-009f-0b0b-7b48cc1e30f6\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: 5b83d9f2-9d00-4f88-9bb0-305bf80a187e\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n--batchresponse_21804fd6-7641-4c6d-a2de-eecfe6bbd721\r\nContent-Type: application/http\r\nContent-ID: 1\r\n\r\nHTTP/1.1 404 The specified blob does not exist.\r\nx-ms-error-code: BlobNotFound\r\nx-ms-request-id: 1ebe3aaa-301e-009f-0b0b-7b48cc1e30f8\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: 86929540-8162-4311-a214-3e64cd9f3909\r\nContent-Length: 216\r\nContent-Type: application/xml\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\nRequestId:1ebe3aaa-301e-009f-0b0b-7b48cc1e30f8\nTime:2019-10-04T23:29:31.1106392Z</Message></Error>\r\n--batchresponse_21804fd6-7641-4c6d-a2de-eecfe6bbd721--",
      "Content-Type" : "multipart/mixed; boundary=batchresponse_21804fd6-7641-4c6d-a2de-eecfe6bbd721"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcsettiersomesucceedthrowonanyerror&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcsettiersomesucceedthrowonanyerror</Prefix><Containers><Container><Name>jtcsettiersomesucceedthrowonanyerror063234eb075a2e73</Name><Properties><Last-Modified>Fri, 04 Oct 2019 23:29:30 GMT</Last-Modified><Etag>\"0x8D74922B4EEBC22\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcsettiersomesucceedthrowonanyerror135067da479d39fc</Name><Properties><Last-Modified>Fri, 04 Oct 2019 23:29:30 GMT</Last-Modified><Etag>\"0x8D74922B4F57481\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsettiersomesucceedthrowonanyerror135067da479d39fc?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcsettiersomesucceedthrowonanyerror063234eb075a2e73", "jtcsettiersomesucceedthrowonanyerror135067da479d39fc", "javablobsettiersomesucceedthrowonanyerror275507e325abba", "javablobsettiersomesucceedthrowonanyerror33135523f9582b" ]
}