{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcdeleteblobsomesucceeddonotthrowonanyerror025665b265ff?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D74922B68486D0\"",
      "Last-Modified" : "Fri, 04 Oct 2019 23:29:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcdeleteblobsomesucceeddonotthrowonanyerror1436581dd138/javablobdeleteblobsomesucceeddonotthrowonanyerror2509980f67",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D74922B694561F\"",
      "Last-Modified" : "Fri, 04 Oct 2019 23:29:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?comp=batch",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "multipart/mixed; boundary=batch_9ed8bc1e-e878-49be-a0ec-f9ed5b829797"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202",
      "Body" : "--batchresponse_4078b170-a229-4649-9d0f-39b2c3f7acb2\r\nContent-Type: application/http\r\nContent-ID: 0\r\n\r\nHTTP/1.1 202 Accepted\r\nx-ms-delete-type-permanent: true\r\nx-ms-request-id: 72c325aa-501e-00e2-5e0b-7bd4041eb94c\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: cfcb82e6-cc88-4dc5-b551-a82e273afbb9\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n--batchresponse_4078b170-a229-4649-9d0f-39b2c3f7acb2\r\nContent-Type: application/http\r\nContent-ID: 1\r\n\r\nHTTP/1.1 404 The specified blob does not exist.\r\nx-ms-error-code: BlobNotFound\r\nx-ms-request-id: 72c325aa-501e-00e2-5e0b-7bd4041eb94e\r\nx-ms-version: 2019-02-02\r\nx-ms-client-request-id: 7c8adb12-5500-4130-b28b-ad0e4faf58da\r\nContent-Length: 216\r\nContent-Type: application/xml\r\nServer: Windows-Azure-Blob/1.0\r\n\r\n﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\nRequestId:72c325aa-501e-00e2-5e0b-7bd4041eb94e\nTime:2019-10-04T23:29:33.7626151Z</Message></Error>\r\n--batchresponse_4078b170-a229-4649-9d0f-39b2c3f7acb2--",
      "Content-Type" : "multipart/mixed; boundary=batchresponse_4078b170-a229-4649-9d0f-39b2c3f7acb2"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcdeleteblobsomesucceeddonotthrowonanyerror&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcdeleteblobsomesucceeddonotthrowonanyerror</Prefix><Containers><Container><Name>jtcdeleteblobsomesucceeddonotthrowonanyerror025665b265ff</Name><Properties><Last-Modified>Fri, 04 Oct 2019 23:29:33 GMT</Last-Modified><Etag>\"0x8D74922B68486D0\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcdeleteblobsomesucceeddonotthrowonanyerror1436581dd138</Name><Properties><Last-Modified>Fri, 04 Oct 2019 23:29:33 GMT</Last-Modified><Etag>\"0x8D74922B68CDD0D\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcdeleteblobsomesucceeddonotthrowonanyerror1436581dd138?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcdeleteblobsomesucceeddonotthrowonanyerror025665b265ff", "jtcdeleteblobsomesucceeddonotthrowonanyerror1436581dd138", "javablobdeleteblobsomesucceeddonotthrowonanyerror2509980f67", "javablobdeleteblobsomesucceeddonotthrowonanyerror359559c5e1" ]
}