{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcsethttpheadersheaders017965a34819c37552408c?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D730FDFF172408\"",
      "Last-Modified" : "Wed, 04 Sep 2019 06:06:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcsethttpheadersheaders017965a34819c37552408c/javablobsethttpheadersheaders1390777c8ec6137e2347",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Wed, 04 Sep 2019 06:06:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D730FDFF1DAE01\""
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcsethttpheadersheaders017965a34819c37552408c/javablobsethttpheadersheaders1390777c8ec6137e2347?comp=properties",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D730FDFF23067F\"",
      "Last-Modified" : "Wed, 04 Sep 2019 06:06:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcsethttpheadersheaders017965a34819c37552408c/javablobsethttpheadersheaders1390777c8ec6137e2347",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Wed, 04 Sep 2019 06:06:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "\"0x8D730FDFF23067F\"",
      "x-ms-creation-time" : "Wed, 04 Sep 2019 06:06:16 GMT"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net?prefix=jtcsethttpheadersheaders&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcsethttpheadersheaders</Prefix><Containers><Container><Name>jtcsethttpheadersheaders017965a34819c37552408c</Name><Properties><Last-Modified>Wed, 04 Sep 2019 06:06:16 GMT</Last-Modified><Etag>\"0x8D730FDFF172408\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcsethttpheadersheaders017965a34819c37552408c?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcsethttpheadersheaders017965a34819c37552408c", "javablobsethttpheadersheaders1390777c8ec6137e2347" ]
}