{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtccopywithtier0blobapitestcopywithtiere5246890214a5bf5?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D735613E9BBEB5\"",
      "Last-Modified" : "Mon, 09 Sep 2019 20:06:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtccopywithtier0blobapitestcopywithtiere5246890214a5bf5/javablobcopywithtier1blobapitestcopywithtiere5274908e3f4c",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Mon, 09 Sep 2019 20:06:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D735613EA87D3B\""
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtccopywithtier0blobapitestcopywithtiere5246890214a5bf5/javablobcopywithtier3blobapitestcopywithtiere52433422ed45",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "6209b6e0-1ee1-4272-9ec0-1b06d6c0556f",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Mon, 09 Sep 2019 20:06:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "202",
      "ETag" : "\"0x8D735613EC3E769\"",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtccopywithtier0blobapitestcopywithtiere5246890214a5bf5/javablobcopywithtier3blobapitestcopywithtiere52433422ed45",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Mon, 09 Sep 2019 20:06:47 GMT",
      "retry-after" : "0",
      "x-ms-access-tier-change-time" : "Mon, 09 Sep 2019 20:06:47 GMT",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Mon, 09 Sep 2019 20:06:47 GMT",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "6209b6e0-1ee1-4272-9ec0-1b06d6c0556f",
      "x-ms-copy-source" : "https://jaschrepragrs.blob.core.windows.net/jtccopywithtier0blobapitestcopywithtiere5246890214a5bf5/javablobcopywithtier2blobapitestcopywithtiere5221856b2e5c?sv=2019-02-02&se=2019-09-09T21%3A06%3A47Z&sr=b&sp=r&sig=VW8ObC1plTSNg3lk68kY1okx6MeDNlTeRDEP6LVfJVc%3D",
      "x-ms-copy-progress" : "7/7",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-copy-completion-time" : "Mon, 09 Sep 2019 20:06:47 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D735613EC3E769\"",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net?prefix=jtccopywithtier&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jaschrepragrs.blob.core.windows.net/\"><Prefix>jtccopywithtier</Prefix><Containers><Container><Name>jtccopywithtier0blobapitestcopywithtiere5246890214a5bf5</Name><Properties><Last-Modified>Mon, 09 Sep 2019 20:06:47 GMT</Last-Modified><Etag>\"0x8D735613E9BBEB5\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtccopywithtier0blobapitestcopywithtiere5246890214a5bf5?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtccopywithtier0blobapitestcopywithtiere5246890214a5bf5", "javablobcopywithtier1blobapitestcopywithtiere5274908e3f4c", "javablobcopywithtier2blobapitestcopywithtiere5221856b2e5c", "javablobcopywithtier3blobapitestcopywithtiere52433422ed45" ]
}