{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://ortestsaccountcbn1.blob.core.windows.net/jtcgetpropertiesors0blobapitestgetpropertiesors22822919268b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7EAD369BEC3C0",
      "Last-Modified" : "Mon, 27 Apr 2020 17:50:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://ortestsaccountcbn1.blob.core.windows.net/jtcgetpropertiesors0blobapitestgetpropertiesors22822919268b/javablobgetpropertiesors1blobapitestgetpropertiesors22868587e",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "x-ms-version-id" : "2020-04-27T17:50:03.6848851Z",
      "Last-Modified" : "Mon, 27 Apr 2020 17:50:03 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7EAD36A3198D3"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://ortestsaccountcbn1.blob.core.windows.net/test1/javablobgetpropertiesors2blobapitestgetpropertiesors57d93407b",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-is-current-version" : "true",
      "x-ms-version" : "2019-10-10",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "x-ms-version-id" : "2020-04-21T21:14:42.3905881Z",
      "Last-Modified" : "Tue, 21 Apr 2020 21:14:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-or-fd2da1b9-56f5-45ff-9eb6-310e6dfc2c80_105f9aad-f39b-4064-8e47-ccd7937295ca" : "complete",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D7E6390264E659",
      "x-ms-creation-time" : "Tue, 21 Apr 2020 21:14:42 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://ortestsaccountcbn1.blob.core.windows.net/test1/javablobgetpropertiesors2blobapitestgetpropertiesors57d93407b",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-is-current-version" : "true",
      "x-ms-version" : "2019-10-10",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "x-ms-version-id" : "2020-04-21T21:14:42.3905881Z",
      "Last-Modified" : "Tue, 21 Apr 2020 21:14:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-or-fd2da1b9-56f5-45ff-9eb6-310e6dfc2c80_105f9aad-f39b-4064-8e47-ccd7937295ca" : "complete",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7E6390264E659",
      "x-ms-creation-time" : "Tue, 21 Apr 2020 21:14:42 GMT",
      "Body" : "[100, 101, 102, 97, 117, 108, 116]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://vbalaorcentral1.blob.core.windows.net/test2/javablobgetpropertiesors2blobapitestgetpropertiesors57d93407b",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-is-current-version" : "true",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "x-ms-version-id" : "2020-04-21T21:15:42.8141548Z",
      "Last-Modified" : "Tue, 21 Apr 2020 21:15:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Tue, 21 Apr 2020 21:15:42 GMT",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-10-10",
      "x-ms-copy-id" : "a514d62a-e039-4bdc-90e3-6576d95f18a5",
      "x-ms-copy-source" : "https://ortestsaccountcbn1.blob.core.windows.net/test1/javablobgetpropertiesors2blobapitestgetpropertiesors57d93407b?versionid=2020-04-21T21:14:42.3905881Z&sv=2015-04-05&ss=b&srt=sco&sp=rwdlacup&se=2020-04-22T21%3A05%3A01.4556519Z&spr=https",
      "x-ms-copy-progress" : "7/7",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-copy-completion-time" : "Tue, 21 Apr 2020 21:15:42 GMT",
      "x-ms-server-encrypted" : "true",
      "x-ms-or-policy-id" : "fd2da1b9-56f5-45ff-9eb6-310e6dfc2c80",
      "ETag" : "0x8D7E6392667E161",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://REDACTED.blob.core.windows.net?comp=list&prefix=b31b276c",
    "Headers" : {
      "x-ms-version" : "2020-06-12"
    },
    "Response" : {
      "x-ms-version" : "2020-06-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://kasobolcanadacentral.blob.core.windows.net/\"><Prefix>b31b276c</Prefix><Containers><Container><Name>b31b276c0b31b276cf99886055953f7c4b0c94716847</Name><Properties><Last-Modified>Wed, 05 May 2021 00:11:50 GMT</Last-Modified><Etag>\"0x8D90F5A615F8B74\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://REDACTED.blob.core.windows.net/b31b276c0b31b276cf99886055953f7c4b0c94716847?restype=container",
    "Headers" : {
      "x-ms-version" : "2020-06-12"
    },
    "Response" : {
      "x-ms-version" : "2020-06-12",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcgetpropertiesors0blobapitestgetpropertiesors22822919268b", "javablobgetpropertiesors1blobapitestgetpropertiesors22868587e" ]
}