{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcsynccopytags0blobapitestsynccopytagsdd88845619386e69?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7E56C96BA58BB",
      "Last-Modified" : "Mon, 20 Apr 2020 20:51:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcsynccopytags0blobapitestsynccopytagsdd88845619386e69/javablobsynccopytags1blobapitestsynccopytagsdd8961123013e",
    "Headers" : {
      "x-ms-version" : "2019-12-12",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "x-ms-version-id" : "2020-04-20T20:51:24.7521962Z",
      "Last-Modified" : "Mon, 20 Apr 2020 20:51:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7E56C96EC74AA"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcsynccopytags0blobapitestsynccopytagsdd88845619386e69?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-12-12",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7E56C971D611D",
      "Last-Modified" : "Mon, 20 Apr 2020 20:51:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcsynccopytags0blobapitestsynccopytagsdd88845619386e69/javablobsynccopytags2blobapitestsynccopytagsdd891066824ff",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "x-ms-copy-id" : "dacce6cb-d159-41ec-befd-946dc7c97f80",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "x-ms-version-id" : "2020-04-20T20:51:25.5187408Z",
      "Last-Modified" : "Mon, 20 Apr 2020 20:51:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "202",
      "ETag" : "0x8D7E56C97607340",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcsynccopytags0blobapitestsynccopytagsdd88845619386e69/javablobsynccopytags2blobapitestsynccopytagsdd891066824ff?comp=tags",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Tags><TagSet><Tag><Key>fizz</Key><Value>buzz</Value></Tag><Tag><Key>foo</Key><Value>bar</Value></Tag></TagSet></Tags>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://blobindex1.blob.core.windows.net?prefix=jtcsynccopytags&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://blobindex1.blob.core.windows.net/\"><Prefix>jtcsynccopytags</Prefix><Containers><Container><Name>jtcsynccopytags0blobapitestsynccopytagsdd88845619386e69</Name><Properties><Last-Modified>Mon, 20 Apr 2020 20:51:25 GMT</Last-Modified><Etag>\"0x8D7E56C971D611D\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>container</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcsynccopytags0blobapitestsynccopytagsdd88845619386e69?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcsynccopytags0blobapitestsynccopytagsdd88845619386e69", "javablobsynccopytags1blobapitestsynccopytagsdd8961123013e", "javablobsynccopytags2blobapitestsynccopytagsdd891066824ff" ]
}