{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcabortcopymin0blobapitestabortcopymin09a52281cf59def2?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73251D64846DC\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:38:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcabortcopymin0blobapitestabortcopymin09a52281cf59def2/javablobabortcopymin1blobapitestabortcopymin09a59442a7fd9",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Thu, 05 Sep 2019 22:38:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D73251D6563D1F\""
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcabortcopymin0blobapitestabortcopymin09a52281cf59def2?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73251D6DB65C1\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:38:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jamesschreppler.blob.core.windows.net/javablobabortcopymin2blobapitestabortcopymin09a893574bcba?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73251D6E3EDD9\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:38:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jamesschreppler.blob.core.windows.net/javablobabortcopymin2blobapitestabortcopymin09a893574bcba/javablobabortcopymin3blobapitestabortcopymin09a28962b8299",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "5427ccf0-31cc-4972-9eab-9005f05fdbde",
      "ETag" : "\"0x8D73251D6F369FB\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:38:57 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "pending",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jamesschreppler.blob.core.windows.net/javablobabortcopymin2blobapitestabortcopymin09a893574bcba/javablobabortcopymin3blobapitestabortcopymin09a28962b8299?copyid=5427ccf0-31cc-4972-9eab-9005f05fdbde&comp=copy",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net?prefix=jtcabortcopymin&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jaschrepragrs.blob.core.windows.net/\"><Prefix>jtcabortcopymin</Prefix><Containers><Container><Name>jtcabortcopymin0blobapitestabortcopymin09a52281cf59def2</Name><Properties><Last-Modified>Thu, 05 Sep 2019 22:38:57 GMT</Last-Modified><Etag>\"0x8D73251D6DB65C1\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>blob</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcabortcopymin0blobapitestabortcopymin09a52281cf59def2?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcabortcopymin0blobapitestabortcopymin09a52281cf59def2", "javablobabortcopymin1blobapitestabortcopymin09a59442a7fd9", "459126f5-17ad-4770-ad6d-ca712ae8fa8c", "javablobabortcopymin2blobapitestabortcopymin09a893574bcba", "javablobabortcopymin3blobapitestabortcopymin09a28962b8299" ]
}