{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://storageaccount.blob.core.windows.net/jtccopypoller0blobapitestcopypoller3a1062384d8832d2ff?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7529B4D6F2811",
      "Last-Modified" : "Thu, 17 Oct 2019 00:45:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://storageaccount.blob.core.windows.net/jtccopypoller0blobapitestcopypoller3a1062384d8832d2ff/javablobcopypoller1blobapitestcopypoller3a1499542089c08",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Thu, 17 Oct 2019 00:45:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7529B4D9EECFA"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://storageaccount.blob.core.windows.net/jtccopypoller0blobapitestcopypoller3a1062384d8832d2ff/javablobcopypoller2blobapitestcopypoller3a137183fc57c48",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "5bd8fac4-9277-45a2-9e4e-495043105346",
      "ETag" : "0x8D7529B4DAEA831",
      "Last-Modified" : "Thu, 17 Oct 2019 00:45:27 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "success",
      "StatusCode" : "202"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "HEAD",
    "Uri" : "https://storageaccount.blob.core.windows.net/jtccopypoller0blobapitestcopypoller3a1062384d8832d2ff/javablobcopypoller2blobapitestcopypoller3a137183fc57c48",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 17 Oct 2019 00:45:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Thu, 17 Oct 2019 00:45:27 GMT",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "faa83f4c-3538-404e-86fe-0c7524c9b883",
      "x-ms-copy-source" : "https://storageaccount.blob.core.windows.net/jtccopypoller0blobapitestcopypoller3a1062384d8832d2ff/javablobcopypoller1blobapitestcopypoller3a1499542089c08",
      "x-ms-copy-progress" : "7/7",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-copy-completion-time" : "Thu, 17 Oct 2019 00:45:27 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7529B4DBD0386",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://storageaccount.blob.core.windows.net?prefix=jtccopypoller&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://storageaccount.blob.core.windows.net/\"><Prefix>jtccopypoller</Prefix><Containers><Container><Name>jtccopypoller0blobapitestcopypoller3a1062384d8832d2ff</Name><Properties><Last-Modified>Thu, 17 Oct 2019 00:45:26 GMT</Last-Modified><Etag>\"0x8D7529B4D6F2811\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://storageaccount.blob.core.windows.net/jtccopypoller0blobapitestcopypoller3a1062384d8832d2ff?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtccopypoller0blobapitestcopypoller3a1062384d8832d2ff", "javablobcopypoller1blobapitestcopypoller3a1499542089c08", "javablobcopypoller2blobapitestcopypoller3a137183fc57c48" ]
}
