{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetpropertiesdefault04869471703e3b7b524e9bb?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D751AD37ABD056",
      "Last-Modified" : "Tue, 15 Oct 2019 20:21:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetpropertiesdefault04869471703e3b7b524e9bb/javablobgetpropertiesdefault135096523f828eeda24c",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Tue, 15 Oct 2019 20:21:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D751AD37B91FE9"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetpropertiesdefault04869471703e3b7b524e9bb/javablobgetpropertiesdefault135096523f828eeda24c",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Tue, 15 Oct 2019 20:21:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D751AD37B91FE9",
      "x-ms-creation-time" : "Tue, 15 Oct 2019 20:21:10 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcgetpropertiesdefault&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcgetpropertiesdefault</Prefix><Containers><Container><Name>jtcgetpropertiesdefault04869471703e3b7b524e9bb</Name><Properties><Last-Modified>Tue, 15 Oct 2019 20:21:10 GMT</Last-Modified><Etag>\"0x8D751AD37ABD056\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetpropertiesdefault04869471703e3b7b524e9bb?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcgetpropertiesdefault04869471703e3b7b524e9bb", "javablobgetpropertiesdefault135096523f828eeda24c" ]
}