{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://seanmcccanary.blob.core.windows.net/jtcqueryinputoutputia0648315731b3ef8416426e8a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7ED4EFDBEB19E",
      "Last-Modified" : "Thu, 30 Apr 2020 21:39:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://seanmcccanary.blob.core.windows.net/jtcqueryinputoutputia0648315731b3ef8416426e8a/javablobqueryinputoutputia194456e9fdeac44918481",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-content-crc64" : "AAAAAAAAAAA=",
      "x-ms-version-id" : "2020-04-30T21:39:42.0673746Z",
      "Last-Modified" : "Thu, 30 Apr 2020 21:39:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "1B2M2Y8AsgTpgAmY7PhCfg==",
      "ETag" : "0x8D7ED4EFDFD2AD2"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://seanmcccanary.blob.core.windows.net?prefix=jtcqueryinputoutputia&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanary.blob.core.windows.net/\"><Prefix>jtcqueryinputoutputia</Prefix><Containers><Container><Name>jtcqueryinputoutputia0648315731b3ef8416426e8a</Name><Properties><Last-Modified>Thu, 30 Apr 2020 21:39:41 GMT</Last-Modified><Etag>\"0x8D7ED4EFDBEB19E\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://seanmcccanary.blob.core.windows.net/jtcqueryinputoutputia0648315731b3ef8416426e8a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcqueryinputoutputia0648315731b3ef8416426e8a", "javablobqueryinputoutputia194456e9fdeac44918481" ]
}