{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtccopysourceacblobapitestcopysourceac9836797098232a39?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77E938785D00D",
      "Last-Modified" : "Wed, 11 Dec 2019 23:40:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtccopysourceacblobapitestcopysourceac9836797098232a39/javablobcopysourceacblobapitestcopysourceac98316748a06399",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Wed, 11 Dec 2019 23:40:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D77E93878B32A7"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtccopysourceacblobapitestcopysourceac9836797098232a39/javablobcopysourceacblobapitestcopysourceac983213210394b3",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "5ffbc5b5-ebc4-41a8-8d62-a0411af5866e",
      "ETag" : "0x8D77E93879AEDEF",
      "Last-Modified" : "Wed, 11 Dec 2019 23:40:39 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "success",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtccopysourceacblobapitestcopysourceac9836797098232a39/javablobcopysourceacblobapitestcopysourceac983213210394b3",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Wed, 11 Dec 2019 23:40:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Wed, 11 Dec 2019 23:40:39 GMT",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "5ffbc5b5-ebc4-41a8-8d62-a0411af5866e",
      "x-ms-copy-source" : "https://azstoragesdkaccount.blob.core.windows.net/jtccopysourceacblobapitestcopysourceac9836797098232a39/javablobcopysourceacblobapitestcopysourceac98316748a06399",
      "x-ms-copy-progress" : "7/7",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-copy-completion-time" : "Wed, 11 Dec 2019 23:40:39 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D77E93879AEDEF",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtccopysourceac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtccopysourceac</Prefix><Containers><Container><Name>jtccopysourceacblobapitestcopysourceac9836797098232a39</Name><Properties><Last-Modified>Wed, 11 Dec 2019 23:40:39 GMT</Last-Modified><Etag>\"0x8D77E938785D00D\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtccopysourceacblobapitestcopysourceac9836797098232a39?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtccopysourceacblobapitestcopysourceac9836797098232a39", "javablobcopysourceacblobapitestcopysourceac98316748a06399", "javablobcopysourceacblobapitestcopysourceac983213210394b3" ]
}