{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcabortcopy0blobapitestabortcopy802911970e44f1a67a0?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7356125559229\"",
      "Last-Modified" : "Mon, 09 Sep 2019 20:06:05 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcabortcopy0blobapitestabortcopy802911970e44f1a67a0/javablobabortcopy1blobapitestabortcopy80205732aa3bd73d",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Mon, 09 Sep 2019 20:06:05 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D735612563808E\""
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcabortcopy0blobapitestabortcopy802911970e44f1a67a0?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7356125E40ADD\"",
      "Last-Modified" : "Mon, 09 Sep 2019 20:06:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jamesschreppler.blob.core.windows.net/javablobabortcopy2blobapitestabortcopy802853406c9abf0d?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7356125EC3794\"",
      "Last-Modified" : "Mon, 09 Sep 2019 20:06:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jamesschreppler.blob.core.windows.net/javablobabortcopy2blobapitestabortcopy802853406c9abf0d/javablobabortcopy3blobapitestabortcopy802161168b0ca4bb",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "545440c9-eef3-4049-9352-3791766afbf9",
      "ETag" : "\"0x8D7356125FB380C\"",
      "Last-Modified" : "Mon, 09 Sep 2019 20:06:06 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "pending",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jamesschreppler.blob.core.windows.net/javablobabortcopy2blobapitestabortcopy802853406c9abf0d/javablobabortcopy3blobapitestabortcopy802161168b0ca4bb?copyid=545440c9-eef3-4049-9352-3791766afbf9&comp=copy",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net?prefix=jtcabortcopy&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jaschrepragrs.blob.core.windows.net/\"><Prefix>jtcabortcopy</Prefix><Containers><Container><Name>jtcabortcopy0blobapitestabortcopy802911970e44f1a67a0</Name><Properties><Last-Modified>Mon, 09 Sep 2019 20:06:06 GMT</Last-Modified><Etag>\"0x8D7356125E40ADD\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>blob</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcabortcopy0blobapitestabortcopy802911970e44f1a67a0?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcabortcopy0blobapitestabortcopy802911970e44f1a67a0", "javablobabortcopy1blobapitestabortcopy80205732aa3bd73d", "d6ba6650-832b-425e-a944-3f2e80ec513b", "javablobabortcopy2blobapitestabortcopy802853406c9abf0d", "javablobabortcopy3blobapitestabortcopy802161168b0ca4bb" ]
}