{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadmd50blobapitestdownloadmd5bf60395169c4ccc61?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D730FDFC947102\"",
      "Last-Modified" : "Wed, 04 Sep 2019 06:06:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadmd50blobapitestdownloadmd5bf60395169c4ccc61/javablobdownloadmd51blobapitestdownloadmd5bf620848f9f610",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Wed, 04 Sep 2019 06:06:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D730FDFC9AFB81\""
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadmd50blobapitestdownloadmd5bf60395169c4ccc61/javablobdownloadmd51blobapitestdownloadmd5bf620848f9f610",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "Content-Range" : "bytes 0-2/7",
      "x-ms-lease-state" : "available",
      "x-ms-blob-content-md5" : "wh+Wm18D0z1D4E+PE252gg==",
      "Last-Modified" : "Wed, 04 Sep 2019 06:06:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "206",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "TtlAdjDrEADA9rY4Qt76fQ==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D730FDFC9AFB81\"",
      "x-ms-creation-time" : "Wed, 04 Sep 2019 06:06:11 GMT",
      "Body" : "[100, 101, 102]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net?prefix=jtcdownloadmd5&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcdownloadmd5</Prefix><Containers><Container><Name>jtcdownloadmd50blobapitestdownloadmd5bf60395169c4ccc61</Name><Properties><Last-Modified>Wed, 04 Sep 2019 06:06:11 GMT</Last-Modified><Etag>\"0x8D730FDFC947102\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcdownloadmd50blobapitestdownloadmd5bf60395169c4ccc61?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcdownloadmd50blobapitestdownloadmd5bf60395169c4ccc61", "javablobdownloadmd51blobapitestdownloadmd5bf620848f9f610" ]
}