{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.blob.core.windows.net/jtcgetblobname0blobapitestgetblobnamee87552625b9b5d37d?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73BFE4B9CEE83\"",
      "Last-Modified" : "Wed, 18 Sep 2019 06:06:07 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://sima.blob.core.windows.net/jtcgetblobname0blobapitestgetblobnamee87552625b9b5d37d/javablobgetblobname1blobapitestgetblobnamee8737251eb0da5",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Wed, 18 Sep 2019 06:06:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D73BFE4C134515\""
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.blob.core.windows.net?prefix=jtcgetblobname&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://sima.blob.core.windows.net/\"><Prefix>jtcgetblobname</Prefix><Containers><Container><Name>jtcgetblobname0blobapitestgetblobnamee87552625b9b5d37d</Name><Properties><Last-Modified>Wed, 18 Sep 2019 06:06:07 GMT</Last-Modified><Etag>\"0x8D73BFE4B9CEE83\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sima.blob.core.windows.net/jtcgetblobname0blobapitestgetblobnamee87552625b9b5d37d?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcgetblobname0blobapitestgetblobnamee87552625b9b5d37d", "javablobgetblobname1blobapitestgetblobnamee8737251eb0da5" ]
}