{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://seanmcccanary.blob.core.windows.net/jtcqueryac0blobbaseapitestqueryac52e6931330eac777bc9?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7ED4F09940F94",
      "Last-Modified" : "Thu, 30 Apr 2020 21:40:01 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://seanmcccanary.blob.core.windows.net/jtcqueryac0blobbaseapitestqueryac52e6931330eac777bc9/javablobqueryac1blobbaseapitestqueryac52e61958e87533f8",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-content-crc64" : "AAAAAAAAAAA=",
      "x-ms-version-id" : "2020-04-30T21:40:02.0325546Z",
      "Last-Modified" : "Thu, 30 Apr 2020 21:40:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "1B2M2Y8AsgTpgAmY7PhCfg==",
      "ETag" : "0x8D7ED4F09E37586"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://seanmcccanary.blob.core.windows.net/jtcqueryac0blobbaseapitestqueryac52e6931330eac777bc9/javablobqueryac1blobbaseapitestqueryac52e61958e87533f8?comp=query",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-version" : "2019-10-10",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 30 Apr 2020 21:40:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "ETag" : "0x8D7ED4F09E37586",
      "x-ms-creation-time" : "Thu, 30 Apr 2020 21:40:02 GMT",
      "Body" : "Obj\u0001\u0002\u0016avro.schema�\u001E[\n  {\n    \"type\": \"record\",\n    \"name\": \"com.microsoft.azure.storage.queryBlobContents.resultData\",\n    \"doc\": \"Holds result data in the format specified for this query (CSV, JSON, etc.).\",\n    \"fields\": [\n      {\n        \"name\": \"data\",\n        \"type\": \"bytes\"\n      }\n    ]\n  },\n  {\n    \"type\": \"record\",\n    \"name\": \"com.microsoft.azure.storage.queryBlobContents.error\",\n    \"doc\": \"An error that occurred while processing the query.\",\n    \"fields\": [\n      {\n        \"name\": \"fatal\",\n        \"type\": \"boolean\",\n        \"doc\": \"If true, this error prevents further query processing.  More result data may be returned, but there is no guarantee that all[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://seanmcccanary.blob.core.windows.net?prefix=jtcqueryac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanary.blob.core.windows.net/\"><Prefix>jtcqueryac</Prefix><Containers><Container><Name>jtcqueryac0blobbaseapitestqueryac52e6931330eac777bc9</Name><Properties><Last-Modified>Thu, 30 Apr 2020 21:40:01 GMT</Last-Modified><Etag>\"0x8D7ED4F09940F94\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://seanmcccanary.blob.core.windows.net/jtcqueryac0blobbaseapitestqueryac52e6931330eac777bc9?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcqueryac0blobbaseapitestqueryac52e6931330eac777bc9", "javablobqueryac1blobbaseapitestqueryac52e61958e87533f8" ]
}