{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsettierarchivestatus00640943c55c7a980f45cc8?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7226E27E8C3C8\"",
      "Last-Modified" : "Fri, 16 Aug 2019 17:21:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsettierarchivestatus00640943c55c7a980f45cc8/javablobsettierarchivestatus11836869dda429d7c342",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Fri, 16 Aug 2019 17:21:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D7226E27F0F5C9\""
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkblobaccount.blob.core.windows.net/javablobsettierarchivestatus2369299599c567230940?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7226E27FC66E6\"",
      "Last-Modified" : "Fri, 16 Aug 2019 17:21:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkblobaccount.blob.core.windows.net/javablobsettierarchivestatus2369299599c567230940/javablobsettierarchivestatus3768358a2f7eebde454d",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Fri, 16 Aug 2019 17:21:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D7226E28093CC1\""
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkblobaccount.blob.core.windows.net/javablobsettierarchivestatus2369299599c567230940/javablobsettierarchivestatus3768358a2f7eebde454d?comp=tier",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkblobaccount.blob.core.windows.net/javablobsettierarchivestatus2369299599c567230940/javablobsettierarchivestatus3768358a2f7eebde454d",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Fri, 16 Aug 2019 17:21:20 GMT",
      "retry-after" : "0",
      "x-ms-access-tier-change-time" : "Fri, 16 Aug 2019 17:21:21 GMT",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier" : "Archive",
      "ETag" : "\"0x8D7226E28093CC1\"",
      "x-ms-creation-time" : "Fri, 16 Aug 2019 17:21:20 GMT",
      "x-ms-archive-status" : "rehydrate-pending-to-cool",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkblobaccount.blob.core.windows.net/javablobsettierarchivestatus2369299599c567230940?include=&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkblobaccount.blob.core.windows.net/\" ContainerName=\"javablobsettierarchivestatus2369299599c567230940\"><Blobs><Blob><Name>javablobsettierarchivestatus3768358a2f7eebde454d</Name><Properties><Creation-Time>Fri, 16 Aug 2019 17:21:20 GMT</Creation-Time><Last-Modified>Fri, 16 Aug 2019 17:21:20 GMT</Last-Modified><Etag>0x8D7226E28093CC1</Etag><Content-Length>7</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>6RYQPwaVsyQ=</Content-CRC64><Content-MD5>wh+Wm18D0z1D4E+PE252gg==</Content-MD5><Cache-Control /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Archive</AccessTier><ArchiveStatus>rehydrate-pending-to-cool</ArchiveStatus><AccessTierChangeTime>Fri, 16 Aug 2019 17:21:21 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted><TagCount>0</TagCount></Properties></Blob></Blobs><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcsettierarchivestatus&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcsettierarchivestatus</Prefix><Containers><Container><Name>jtcsettierarchivestatus00640943c55c7a980f45cc8</Name><Properties><Last-Modified>Fri, 16 Aug 2019 17:21:20 GMT</Last-Modified><Etag>\"0x8D7226E27E8C3C8\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsettierarchivestatus00640943c55c7a980f45cc8?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcsettierarchivestatus00640943c55c7a980f45cc8", "javablobsettierarchivestatus11836869dda429d7c342", "javablobsettierarchivestatus2369299599c567230940", "javablobsettierarchivestatus3768358a2f7eebde454d" ]
}