{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtccopyerror0blobapitestcopyerrorcd251410586b6aca30f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72812E68ADF88\"",
      "Last-Modified" : "Fri, 23 Aug 2019 21:43:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtccopyerror0blobapitestcopyerrorcd251410586b6aca30f/javablobcopyerror1blobapitestcopyerrorcd20797646b68acc",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Fri, 23 Aug 2019 21:43:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D72812E692B9FD\""
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtccopyerror0blobapitestcopyerrorcd251410586b6aca30f/javablobcopyerror2blobapitestcopyerrorcd22580012ca7ea3",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "CannotVerifyCopySource",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>The specified resource does not exist.\nRequestId:d51ea0b7-201e-00c4-30fb-594fb0000000\nTime:2019-08-23T21:43:13.9478609Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtccopyerror&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtccopyerror</Prefix><Containers><Container><Name>jtccopyerror0blobapitestcopyerrorcd251410586b6aca30f</Name><Properties><Last-Modified>Fri, 23 Aug 2019 21:43:13 GMT</Last-Modified><Etag>\"0x8D72812E68ADF88\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtccopyerror0blobapitestcopyerrorcd251410586b6aca30f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtccopyerror0blobapitestcopyerrorcd251410586b6aca30f", "javablobcopyerror1blobapitestcopyerrorcd20797646b68acc", "javablobcopyerror2blobapitestcopyerrorcd22580012ca7ea3" ]
}