{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://seanmcccanary.blob.core.windows.net/jtcquerymin0blobbaseapitestquerymin617750282bad8b4e3a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7ED4ED3850962",
      "Last-Modified" : "Thu, 30 Apr 2020 21:38:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://seanmcccanary.blob.core.windows.net/jtcquerymin0blobbaseapitestquerymin617750282bad8b4e3a/javablobquerymin1blobbaseapitestquerymin61736036c988b33",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-content-crc64" : "AAAAAAAAAAA=",
      "x-ms-version-id" : "2020-04-30T21:38:31.2270713Z",
      "Last-Modified" : "Thu, 30 Apr 2020 21:38:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "1B2M2Y8AsgTpgAmY7PhCfg==",
      "ETag" : "0x8D7ED4ED3C3A462"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://seanmcccanary.blob.core.windows.net/jtcquerymin0blobbaseapitestquerymin617750282bad8b4e3a/javablobquerymin1blobbaseapitestquerymin61736036c988b33",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-is-current-version" : "true",
      "x-ms-version" : "2019-10-10",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "x-ms-version-id" : "2020-04-30T21:38:31.6743885Z",
      "Last-Modified" : "Thu, 30 Apr 2020 21:38:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "vDCMhAvvo34oZHeMW+ZcXg==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7ED4ED407E5BD",
      "x-ms-creation-time" : "Thu, 30 Apr 2020 21:38:31 GMT",
      "Body" : "[49, 48, 48, 44, 50, 48, 48, 44, 51, 48, 48, 44, 52, 48, 48, 10, 51, 48, 48, 44, 52, 48, 48, 44, 53, 48, 48, 44, 54, 48, 48, 10, 49, 48, 48, 44, 50, 48, 48, 44, 51, 48, 48, 44, 52, 48, 48, 10, 51, 48, 48, 44, 52, 48, 48, 44, 53, 48, 48, 44, 54, 48, 48, 10, 49, 48, 48, 44, 50, 48, 48, 44, 51, 48, 48, 44, 52, 48, 48, 10, 51, 48, 48, 44, 52, 48, 48, 44, 53, 48, 48, 44, 54, 48, 48, 10, 49, 48, 48, 44, 50, 48, 48, 44, 51, 48, 48, 44, 52, 48, 48, 10, 51, 48, 48, 44, 52, 48, 48, 44, 53, 48, 48, 44, 5[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://seanmcccanary.blob.core.windows.net/jtcquerymin0blobbaseapitestquerymin617750282bad8b4e3a/javablobquerymin1blobbaseapitestquerymin61736036c988b33?comp=query",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-version" : "2019-10-10",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 30 Apr 2020 21:38:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "ETag" : "0x8D7ED4ED407E5BD",
      "x-ms-creation-time" : "Thu, 30 Apr 2020 21:38:31 GMT",
      "Body" : "Obj\u0001\u0002\u0016avro.schema�\u001E[\n  {\n    \"type\": \"record\",\n    \"name\": \"com.microsoft.azure.storage.queryBlobContents.resultData\",\n    \"doc\": \"Holds result data in the format specified for this query (CSV, JSON, etc.).\",\n    \"fields\": [\n      {\n        \"name\": \"data\",\n        \"type\": \"bytes\"\n      }\n    ]\n  },\n  {\n    \"type\": \"record\",\n    \"name\": \"com.microsoft.azure.storage.queryBlobContents.error\",\n    \"doc\": \"An error that occurred while processing the query.\",\n    \"fields\": [\n      {\n        \"name\": \"fatal\",\n        \"type\": \"boolean\",\n        \"doc\": \"If true, this error prevents further query processing.  More result data may be returned, but there is no guarantee that all[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://seanmcccanary.blob.core.windows.net?prefix=jtcquerymin&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanary.blob.core.windows.net/\"><Prefix>jtcquerymin</Prefix><Containers><Container><Name>jtcquerymin0blobbaseapitestquerymin617750282bad8b4e3a</Name><Properties><Last-Modified>Thu, 30 Apr 2020 21:38:30 GMT</Last-Modified><Etag>\"0x8D7ED4ED3850962\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://seanmcccanary.blob.core.windows.net/jtcquerymin0blobbaseapitestquerymin617750282bad8b4e3a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcquerymin0blobbaseapitestquerymin617750282bad8b4e3a", "javablobquerymin1blobbaseapitestquerymin61736036c988b33" ]
}