{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcsynccopytags0blobapitestsynccopytags186571347b1b86be?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7E56C94FBF07F",
      "Last-Modified" : "Mon, 20 Apr 2020 20:51:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcsynccopytags0blobapitestsynccopytags186571347b1b86be/javablobsynccopytags1blobapitestsynccopytags186511911e63d",
    "Headers" : {
      "x-ms-version" : "2019-12-12",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "x-ms-version-id" : "2020-04-20T20:51:22.0022442Z",
      "Last-Modified" : "Mon, 20 Apr 2020 20:51:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7E56C9548D8AA"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcsynccopytags0blobapitestsynccopytags186571347b1b86be?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-12-12",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7E56C95836434",
      "Last-Modified" : "Mon, 20 Apr 2020 20:51:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcsynccopytags0blobapitestsynccopytags186571347b1b86be/javablobsynccopytags2blobapitestsynccopytags18657391ef9b3",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "x-ms-copy-id" : "69af8510-3ad1-4660-aace-9cf8c0114e01",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "x-ms-version-id" : "2020-04-20T20:51:22.8448427Z",
      "Last-Modified" : "Mon, 20 Apr 2020 20:51:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "202",
      "ETag" : "0x8D7E56C95C87D3B",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcsynccopytags0blobapitestsynccopytags186571347b1b86be/javablobsynccopytags2blobapitestsynccopytags18657391ef9b3?comp=tags",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Tags><TagSet/></Tags>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://blobindex1.blob.core.windows.net?prefix=jtcsynccopytags&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://blobindex1.blob.core.windows.net/\"><Prefix>jtcsynccopytags</Prefix><Containers><Container><Name>jtcsynccopytags0blobapitestsynccopytags186571347b1b86be</Name><Properties><Last-Modified>Mon, 20 Apr 2020 20:51:22 GMT</Last-Modified><Etag>\"0x8D7E56C95836434\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>container</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcsynccopytags0blobapitestsynccopytags186571347b1b86be?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcsynccopytags0blobapitestsynccopytags186571347b1b86be", "javablobsynccopytags1blobapitestsynccopytags186511911e63d", "javablobsynccopytags2blobapitestsynccopytags18657391ef9b3" ]
}