{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcabortcopyleaseblobapitestabortcopyleaseeb957554dc6bc3?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77E93934CD3B5",
      "Last-Modified" : "Wed, 11 Dec 2019 23:40:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcabortcopyleaseblobapitestabortcopyleaseeb957554dc6bc3/javablobabortcopyleaseblobapitestabortcopyleaseeb927670b726",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Wed, 11 Dec 2019 23:40:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D77E939352C774"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcabortcopyleaseblobapitestabortcopyleaseeb957554dc6bc3?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77E9393F206CB",
      "Last-Modified" : "Wed, 11 Dec 2019 23:41:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkblobaccount.blob.core.windows.net/jtcabortcopyleaseblobapitestabortcopyleaseeb9080666b1f9b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77E9393F65DFD",
      "Last-Modified" : "Wed, 11 Dec 2019 23:41:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkblobaccount.blob.core.windows.net/jtcabortcopyleaseblobapitestabortcopyleaseeb9080666b1f9b/javablobabortcopyleaseblobapitestabortcopyleaseeb9453073d49",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Wed, 11 Dec 2019 23:41:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D77E9393FB0939"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkblobaccount.blob.core.windows.net/jtcabortcopyleaseblobapitestabortcopyleaseeb9080666b1f9b/javablobabortcopyleaseblobapitestabortcopyleaseeb9453073d49?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77E9393FB0939",
      "x-ms-lease-id" : "a4c0d142-0037-4f67-894d-bc16a12b2d16",
      "Last-Modified" : "Wed, 11 Dec 2019 23:41:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkblobaccount.blob.core.windows.net/jtcabortcopyleaseblobapitestabortcopyleaseeb9080666b1f9b/javablobabortcopyleaseblobapitestabortcopyleaseeb9453073d49",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "a13ec293-f788-4007-b2ee-437d52542c6b",
      "ETag" : "0x8D77E939404A886",
      "Last-Modified" : "Wed, 11 Dec 2019 23:41:00 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "pending",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkblobaccount.blob.core.windows.net/jtcabortcopyleaseblobapitestabortcopyleaseeb9080666b1f9b/javablobabortcopyleaseblobapitestabortcopyleaseeb9453073d49",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-lease-status" : "locked",
      "x-ms-lease-state" : "leased",
      "Last-Modified" : "Wed, 11 Dec 2019 23:41:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Wed, 11 Dec 2019 23:41:00 GMT",
      "x-ms-lease-duration" : "infinite",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "a13ec293-f788-4007-b2ee-437d52542c6b",
      "x-ms-copy-source" : "https://azstoragesdkaccount.blob.core.windows.net/jtcabortcopyleaseblobapitestabortcopyleaseeb957554dc6bc3/javablobabortcopyleaseblobapitestabortcopyleaseeb927670b726",
      "x-ms-copy-progress" : "0/8388608",
      "Content-MD5" : "Jd3k8Y9TnpH308k6L4jbWg==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D77E939404A886",
      "x-ms-copy-status" : "pending"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkblobaccount.blob.core.windows.net/jtcabortcopyleaseblobapitestabortcopyleaseeb9080666b1f9b/javablobabortcopyleaseblobapitestabortcopyleaseeb9453073d49?copyid=a13ec293-f788-4007-b2ee-437d52542c6b&comp=copy",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcabortcopylease&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcabortcopylease</Prefix><Containers><Container><Name>jtcabortcopyleaseblobapitestabortcopyleaseeb957554dc6bc3</Name><Properties><Last-Modified>Wed, 11 Dec 2019 23:41:00 GMT</Last-Modified><Etag>\"0x8D77E9393F206CB\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>blob</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcabortcopyleaseblobapitestabortcopyleaseeb957554dc6bc3?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcabortcopyleaseblobapitestabortcopyleaseeb957554dc6bc3", "javablobabortcopyleaseblobapitestabortcopyleaseeb927670b726", "4dd33ec3-ec64-4f1d-84c5-77ec2a1da7d5", "jtcabortcopyleaseblobapitestabortcopyleaseeb9080666b1f9b", "javablobabortcopyleaseblobapitestabortcopyleaseeb9453073d49" ]
}