{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtccopymetadata0blobapitestcopymetadataa529831591e0b7ea?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73251CD7AA577\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:38:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtccopymetadata0blobapitestcopymetadataa529831591e0b7ea/javablobcopymetadata1blobapitestcopymetadataa529754972114",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Thu, 05 Sep 2019 22:38:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D73251CD875E84\""
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtccopymetadata0blobapitestcopymetadataa529831591e0b7ea/javablobcopymetadata2blobapitestcopymetadataa5247427dd32f",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "cb044c23-c4bd-40ae-8785-7ce6b9084636",
      "ETag" : "\"0x8D73251CD945934\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:38:41 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "success",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtccopymetadata0blobapitestcopymetadataa529831591e0b7ea/javablobcopymetadata2blobapitestcopymetadataa5247427dd32f",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 05 Sep 2019 22:38:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Thu, 05 Sep 2019 22:38:41 GMT",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "cb044c23-c4bd-40ae-8785-7ce6b9084636",
      "x-ms-copy-source" : "https://jaschrepragrs.blob.core.windows.net/jtccopymetadata0blobapitestcopymetadataa529831591e0b7ea/javablobcopymetadata1blobapitestcopymetadataa529754972114",
      "x-ms-copy-progress" : "7/7",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-copy-completion-time" : "Thu, 05 Sep 2019 22:38:41 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D73251CD945934\"",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net?prefix=jtccopymetadata&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jaschrepragrs.blob.core.windows.net/\"><Prefix>jtccopymetadata</Prefix><Containers><Container><Name>jtccopymetadata0blobapitestcopymetadataa529831591e0b7ea</Name><Properties><Last-Modified>Thu, 05 Sep 2019 22:38:41 GMT</Last-Modified><Etag>\"0x8D73251CD7AA577\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtccopymetadata0blobapitestcopymetadataa529831591e0b7ea?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtccopymetadata0blobapitestcopymetadataa529831591e0b7ea", "javablobcopymetadata1blobapitestcopymetadataa529754972114", "javablobcopymetadata2blobapitestcopymetadataa5247427dd32f" ]
}