{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcuploadinputstreamoverwrite0285140671588c8c7344?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7A511109FA2BC",
      "Last-Modified" : "Wed, 29 Jan 2020 23:15:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcuploadinputstreamoverwrite0285140671588c8c7344/javablobuploadinputstreamoverwrite1953664f956b3c3a4",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Wed, 29 Jan 2020 23:15:01 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7A51110BF506D"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcuploadinputstreamoverwrite0285140671588c8c7344/javablobuploadinputstreamoverwrite1953664f956b3c3a4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Wed, 29 Jan 2020 23:15:01 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "nB5lkTvpfMGWFC+ykNLhkg==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7A51110D48599",
      "x-ms-creation-time" : "Wed, 29 Jan 2020 23:15:01 GMT",
      "Body" : "[98, 17, 83, -24, -36, 46, -72, -118, -35, 65, 44, -44, -77, 125, -43, 98, 69, 3, -67, 95, 112, -75, -51, -52, -76, -73, 19, -35, -97, 68, 20, -22, 52, 25, 20, -120, -65, -95, 42, 79, 24, -59, 95, 31, -104, -116, 34, 58, 103, -18, -92, -85, -46, 55, 100, 19, 67, -64, -71, -26, -122, 21, 65, 6, 107, -89, -21, 61, -22, -78, -77, 0, 79, -78, -1, 99, 74, 66, 17, -112, 73, -119, 22, -123, -39, -9, -118, -15, -5, -68, 59, 75, 53, -123, 9, -8, -25, 94, -8, 7, -115, -104, 17, 123, -81, -104, -123, -71[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net?prefix=jtcuploadinputstreamoverwrite&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\"><Prefix>jtcuploadinputstreamoverwrite</Prefix><Containers><Container><Name>jtcuploadinputstreamoverwrite0285140671588c8c7344</Name><Properties><Last-Modified>Wed, 29 Jan 2020 23:15:00 GMT</Last-Modified><Etag>\"0x8D7A511109FA2BC\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcuploadinputstreamoverwrite0285140671588c8c7344?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcuploadinputstreamoverwrite0285140671588c8c7344", "javablobuploadinputstreamoverwrite1953664f956b3c3a4", "09494839-1358-43ee-875f-ad5c51779f2e" ]
}