{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbreaklease0blobapitestbreaklease7a732352426c4bddad?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7356110762365\"",
      "Last-Modified" : "Mon, 09 Sep 2019 20:05:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbreaklease0blobapitestbreaklease7a732352426c4bddad/javablobbreaklease1blobapitestbreaklease7a739884cf89d0c",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Mon, 09 Sep 2019 20:05:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D735611083E362\""
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbreaklease0blobapitestbreaklease7a732352426c4bddad/javablobbreaklease1blobapitestbreaklease7a739884cf89d0c?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D735611083E362\"",
      "x-ms-lease-id" : "6e1146ed-a2ca-4007-a9fa-18f0d6ab90d4",
      "Last-Modified" : "Mon, 09 Sep 2019 20:05:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbreaklease0blobapitestbreaklease7a732352426c4bddad/javablobbreaklease1blobapitestbreaklease7a739884cf89d0c?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D735611083E362\"",
      "x-ms-lease-time" : "20",
      "Last-Modified" : "Mon, 09 Sep 2019 20:05:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbreaklease0blobapitestbreaklease7a732352426c4bddad/javablobbreaklease1blobapitestbreaklease7a739884cf89d0c",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "locked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "breaking",
      "Last-Modified" : "Mon, 09 Sep 2019 20:05:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "\"0x8D735611083E362\"",
      "x-ms-creation-time" : "Mon, 09 Sep 2019 20:05:30 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net?prefix=jtcbreaklease&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jaschrepragrs.blob.core.windows.net/\"><Prefix>jtcbreaklease</Prefix><Containers><Container><Name>jtcbreaklease0blobapitestbreaklease7a732352426c4bddad</Name><Properties><Last-Modified>Mon, 09 Sep 2019 20:05:30 GMT</Last-Modified><Etag>\"0x8D7356110762365\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbreaklease0blobapitestbreaklease7a732352426c4bddad?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcbreaklease0blobapitestbreaklease7a732352426c4bddad", "javablobbreaklease1blobapitestbreaklease7a739884cf89d0c", "6e1146ed-a2ca-4007-a9fa-18f0d6ab90d4" ]
}