{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcgetpropertiesac0blobapitestgetpropertiesac5eb09028cd69f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F4396761FFC",
      "Last-Modified" : "Thu, 12 Dec 2019 20:40:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcgetpropertiesac0blobapitestgetpropertiesac5eb09028cd69f/javablobgetpropertiesac1blobapitestgetpropertiesac5eb7741891",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Thu, 12 Dec 2019 20:40:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D77F4396833EAA"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcgetpropertiesac0blobapitestgetpropertiesac5eb09028cd69f/javablobgetpropertiesac1blobapitestgetpropertiesac5eb7741891",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 12 Dec 2019 20:40:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D77F4396833EAA",
      "x-ms-creation-time" : "Thu, 12 Dec 2019 20:40:56 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net?prefix=jtcgetpropertiesac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\"><Prefix>jtcgetpropertiesac</Prefix><Containers><Container><Name>jtcgetpropertiesac0blobapitestgetpropertiesac5eb09028cd69f</Name><Properties><Last-Modified>Thu, 12 Dec 2019 20:40:56 GMT</Last-Modified><Etag>\"0x8D77F4396761FFC\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcgetpropertiesac0blobapitestgetpropertiesac5eb09028cd69f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcgetpropertiesac0blobapitestgetpropertiesac5eb09028cd69f", "javablobgetpropertiesac1blobapitestgetpropertiesac5eb7741891" ]
}