{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtccopysourceac0blobapitestcopysourceac66b17452319e63ca?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F43AC9AE4D8",
      "Last-Modified" : "Thu, 12 Dec 2019 20:41:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtccopysourceac0blobapitestcopysourceac66b17452319e63ca/javablobcopysourceac1blobapitestcopysourceac66b89398d806a",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Thu, 12 Dec 2019 20:41:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D77F43ACA77151"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtccopysourceac0blobapitestcopysourceac66b17452319e63ca/javablobcopysourceac1blobapitestcopysourceac66b89398d806a",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 12 Dec 2019 20:41:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D77F43ACA77151",
      "x-ms-creation-time" : "Thu, 12 Dec 2019 20:41:33 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtccopysourceac0blobapitestcopysourceac66b17452319e63ca/javablobcopysourceac2blobapitestcopysourceac66b950677d064",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-copy-id" : "f4f19227-42f1-4579-ab82-288d30f3c260",
      "ETag" : "0x8D77F43ACC02BD3",
      "Last-Modified" : "Thu, 12 Dec 2019 20:41:33 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "success",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtccopysourceac0blobapitestcopysourceac66b17452319e63ca/javablobcopysourceac2blobapitestcopysourceac66b950677d064",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 12 Dec 2019 20:41:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Thu, 12 Dec 2019 20:41:33 GMT",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-07-07",
      "x-ms-copy-id" : "f4f19227-42f1-4579-ab82-288d30f3c260",
      "x-ms-copy-source" : "https://gaprastg71.blob.core.windows.net/jtccopysourceac0blobapitestcopysourceac66b17452319e63ca/javablobcopysourceac1blobapitestcopysourceac66b89398d806a",
      "x-ms-copy-progress" : "7/7",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-copy-completion-time" : "Thu, 12 Dec 2019 20:41:33 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D77F43ACC02BD3",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net?prefix=jtccopysourceac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\"><Prefix>jtccopysourceac</Prefix><Containers><Container><Name>jtccopysourceac0blobapitestcopysourceac66b17452319e63ca</Name><Properties><Last-Modified>Thu, 12 Dec 2019 20:41:33 GMT</Last-Modified><Etag>\"0x8D77F43AC9AE4D8\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtccopysourceac0blobapitestcopysourceac66b17452319e63ca?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtccopysourceac0blobapitestcopysourceac66b17452319e63ca", "javablobcopysourceac1blobapitestcopysourceac66b89398d806a", "javablobcopysourceac2blobapitestcopysourceac66b950677d064" ]
}