{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklist0blockblobapitestgetblocklist8bb31325ab25b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D732FCF138581B\"",
      "Last-Modified" : "Fri, 06 Sep 2019 19:03:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklist0blockblobapitestgetblocklist8bb31325ab25b/javablobgetblocklist1blockblobapitestgetblocklist8bb04587431",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Fri, 06 Sep 2019 19:03:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D732FCF15583C5\""
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklist0blockblobapitestgetblocklist8bb31325ab25b/javablobgetblocklist1blockblobapitestgetblocklist8bb04587431?blockid=NDU4NjZiN2YtYjZjOC00ZjhhLWE4MjEtNzk5YzUyMTI4MmU4&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklist0blockblobapitestgetblocklist8bb31325ab25b/javablobgetblocklist1blockblobapitestgetblocklist8bb04587431?blockid=ZmUzZmJmNDYtODhmYi00ZTU3LWFlZjYtNzBhZDU5NTgxYmQ3&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklist0blockblobapitestgetblocklist8bb31325ab25b/javablobgetblocklist1blockblobapitestgetblocklist8bb04587431?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D732FCF168C237\"",
      "x-ms-content-crc64" : "4kbUw2LgLrE=",
      "Last-Modified" : "Fri, 06 Sep 2019 19:03:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklist0blockblobapitestgetblocklist8bb31325ab25b/javablobgetblocklist1blockblobapitestgetblocklist8bb04587431?blockid=NjU2Yzg5MzItMTUzYy00ODk4LWE3YjMtMTMxOTYzY2E2YjQ4&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklist0blockblobapitestgetblocklist8bb31325ab25b/javablobgetblocklist1blockblobapitestgetblocklist8bb04587431?blockid=MjY0ZGM5NjktNDE2NC00Y2QyLTliZDUtOGYyOWYxNjFhMThl&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklist0blockblobapitestgetblocklist8bb31325ab25b/javablobgetblocklist1blockblobapitestgetblocklist8bb04587431?blocklisttype=all&comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-blob-content-length" : "14",
      "Last-Modified" : "Fri, 06 Sep 2019 19:03:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"0x8D732FCF168C237\"",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks><Block><Name>NDU4NjZiN2YtYjZjOC00ZjhhLWE4MjEtNzk5YzUyMTI4MmU4</Name><Size>7</Size></Block><Block><Name>ZmUzZmJmNDYtODhmYi00ZTU3LWFlZjYtNzBhZDU5NTgxYmQ3</Name><Size>7</Size></Block></CommittedBlocks><UncommittedBlocks><Block><Name>MjY0ZGM5NjktNDE2NC00Y2QyLTliZDUtOGYyOWYxNjFhMThl</Name><Size>7</Size></Block><Block><Name>NjU2Yzg5MzItMTUzYy00ODk4LWE3YjMtMTMxOTYzY2E2YjQ4</Name><Size>7</Size></Block></UncommittedBlocks></BlockList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcgetblocklist&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcgetblocklist</Prefix><Containers><Container><Name>jtcgetblocklist0blockblobapitestgetblocklist8bb31325ab25b</Name><Properties><Last-Modified>Fri, 06 Sep 2019 19:03:45 GMT</Last-Modified><Etag>\"0x8D732FCF138581B\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklist0blockblobapitestgetblocklist8bb31325ab25b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcgetblocklist0blockblobapitestgetblocklist8bb31325ab25b", "javablobgetblocklist1blockblobapitestgetblocklist8bb04587431", "javablobgetblocklist2blockblobapitestgetblocklist8bb735352b6", "45866b7f-b6c8-4f8a-a821-799c521282e8", "fe3fbf46-88fb-4e57-aef6-70ad59581bd7", "656c8932-153c-4898-a7b3-131963ca6b48", "264dc969-4164-4cd2-9bd5-8f29f161a18e" ]
}