{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcbuffereduploadheaders0591286235de6167fa47d5?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72BDB10C6EE47\"",
      "Last-Modified" : "Wed, 28 Aug 2019 17:13:37 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcbuffereduploadheaders0591286235de6167fa47d5/javablobbuffereduploadheaders162923dc964a9aa39b43",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Wed, 28 Aug 2019 17:13:37 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D72BDB10CBBECB\""
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcbuffereduploadheaders0591286235de6167fa47d5/javablobbuffereduploadheaders246911f878ed251b1748?blockid=OGE5OWU1OGYtMzc2YS00MGE1LTlhYmUtYmNiZGE4NTQ2ODE3&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcbuffereduploadheaders0591286235de6167fa47d5/javablobbuffereduploadheaders246911f878ed251b1748?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72BDB10D8E08E\"",
      "Last-Modified" : "Wed, 28 Aug 2019 17:13:37 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "RM1itUrTE6+BvlnQxx5mQQ=="
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcbuffereduploadheaders0591286235de6167fa47d5/javablobbuffereduploadheaders246911f878ed251b1748",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Wed, 28 Aug 2019 17:13:37 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Wed, 28 Aug 2019 17:13:37 GMT",
      "Content-Type" : "type",
      "x-ms-version" : "2019-02-02",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D72BDB10D8E08E\"",
      "Content-Disposition" : "disposition",
      "Content-Language" : "language"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev3.blob.core.windows.net?prefix=jtcbuffereduploadheaders&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev3.blob.core.windows.net/\"><Prefix>jtcbuffereduploadheaders</Prefix><Containers><Container><Name>jtcbuffereduploadheaders0591286235de6167fa47d5</Name><Properties><Last-Modified>Wed, 28 Aug 2019 17:13:37 GMT</Last-Modified><Etag>\"0x8D72BDB10C6EE47\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcbuffereduploadheaders0591286235de6167fa47d5?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcbuffereduploadheaders0591286235de6167fa47d5", "javablobbuffereduploadheaders162923dc964a9aa39b43", "javablobbuffereduploadheaders246911f878ed251b1748" ]
}