{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklisttypeblockblobapitestgetblocklisttype65d3833994?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77E95B9EB87CF",
      "Last-Modified" : "Wed, 11 Dec 2019 23:56:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklisttypeblockblobapitestgetblocklisttype65d3833994/javablobgetblocklisttype02055853d4f60226e4d448",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Wed, 11 Dec 2019 23:56:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D77E95B9F772FF"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklisttypeblockblobapitestgetblocklisttype65d3833994/javablobgetblocklisttype02055853d4f60226e4d448?blockid=MmEzY2E1NTMtZmQzOS00ODUxLWFkY2QtZjgxNzI4ZWYwZDY1&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklisttypeblockblobapitestgetblocklisttype65d3833994/javablobgetblocklisttype02055853d4f60226e4d448?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77E95BA0C117A",
      "x-ms-content-crc64" : "dYq3vKQh4qc=",
      "Last-Modified" : "Wed, 11 Dec 2019 23:56:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklisttypeblockblobapitestgetblocklisttype65d3833994/javablobgetblocklisttype02055853d4f60226e4d448?blockid=NjdjYTc4ZGEtNWE4OS00MGRhLWE1MjMtNzEwM2YzOTQyZTRl&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklisttypeblockblobapitestgetblocklisttype65d3833994/javablobgetblocklisttype02055853d4f60226e4d448?blocklisttype=committed&comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-blob-content-length" : "7",
      "Last-Modified" : "Wed, 11 Dec 2019 23:56:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "0x8D77E95BA0C117A",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks><Block><Name>MmEzY2E1NTMtZmQzOS00ODUxLWFkY2QtZjgxNzI4ZWYwZDY1</Name><Size>7</Size></Block></CommittedBlocks></BlockList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcgetblocklisttype&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcgetblocklisttype</Prefix><Containers><Container><Name>jtcgetblocklisttypeblockblobapitestgetblocklisttype65d3833994</Name><Properties><Last-Modified>Wed, 11 Dec 2019 23:56:23 GMT</Last-Modified><Etag>\"0x8D77E95B9EB87CF\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetblocklisttypeblockblobapitestgetblocklisttype65d3833994?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcgetblocklisttypeblockblobapitestgetblocklisttype65d3833994", "javablobgetblocklisttype02055853d4f60226e4d448", "javablobgetblocklisttype889228d39c18ed1244beda", "2a3ca553-fd39-4851-adcd-f81728ef0d65", "67ca78da-5a89-40da-a523-7103f3942e4e" ]
}