{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstageblockillegalarguments095193a953dcb4a7f449?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7226E610CA3E0\"",
      "Last-Modified" : "Fri, 16 Aug 2019 17:22:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstageblockillegalarguments095193a953dcb4a7f449/javablobstageblockillegalarguments175198a413f9ae656",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Fri, 16 Aug 2019 17:22:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D7226E6113E7E9\""
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstageblockillegalarguments095193a953dcb4a7f449/javablobstageblockillegalarguments175198a413f9ae656?blockid=YjNlYzE4ZmUtYjQ5My00ZmRjLTgzNTctYWU5YmIxY2QwNTkz&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : null,
    "Exception" : {
      "Throwable" : {
        "cause" : null,
        "stackTrace" : [ {
          "methodName" : "read",
          "fileName" : "ByteArrayInputStream.java",
          "lineNumber" : 180,
          "className" : "java.io.ByteArrayInputStream",
          "nativeMethod" : false
        }, {
          "methodName" : "lambda$5",
          "fileName" : "BlockBlobClient.java",
          "lineNumber" : 254,
          "className" : "com.azure.storage.blob.BlockBlobClient",
          "nativeMethod" : false
        }, {
          "methodName" : "call",
          "fileName" : "MonoCallable.java",
          "lineNumber" : 91,
          "className" : "reactor.core.publisher.MonoCallable",
          "nativeMethod" : false
        }, {
          "methodName" : "drain",
     [...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcstageblockillegalarguments&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcstageblockillegalarguments</Prefix><Containers><Container><Name>jtcstageblockillegalarguments095193a953dcb4a7f449</Name><Properties><Last-Modified>Fri, 16 Aug 2019 17:22:56 GMT</Last-Modified><Etag>\"0x8D7226E610CA3E0\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstageblockillegalarguments095193a953dcb4a7f449?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcstageblockillegalarguments095193a953dcb4a7f449", "javablobstageblockillegalarguments175198a413f9ae656", "b3ec18fe-b493-4fdc-8357-ae9bb1cd0593" ]
}