{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcbuffereduploadchunkedsource032672b4e493f32cb34?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D730FED1C12EEA\"",
      "Last-Modified" : "Wed, 04 Sep 2019 06:12:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcbuffereduploadchunkedsource032672b4e493f32cb34/javablobbuffereduploadchunkedsource1971149ede1fd8061",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Wed, 04 Sep 2019 06:12:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D730FED1C7E480\""
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcbuffereduploadchunkedsource032672b4e493f32cb34/javablobbuffereduploadchunkedsource27071743a5e0cac83?blockid=ODBiYTgyNDgtNWFkNy00MDczLTk2M2EtNjJhY2RjZWIyNzVh&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "PNDWsMsxcc8=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcbuffereduploadchunkedsource032672b4e493f32cb34/javablobbuffereduploadchunkedsource27071743a5e0cac83?blockid=ODU0MTFiMDQtYTc0OS00YzE0LTg5NWYtNTg2NzA2OWJmMDdl&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "4Vqb/kdH1jc=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcbuffereduploadchunkedsource032672b4e493f32cb34/javablobbuffereduploadchunkedsource27071743a5e0cac83?blockid=ZjY2MGU1NDAtZjI1Mi00YmE0LTgyM2YtOGQyYTY3NjI3Y2My&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "aWTcXZCv0DI=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcbuffereduploadchunkedsource032672b4e493f32cb34/javablobbuffereduploadchunkedsource27071743a5e0cac83?blockid=ZmMyNWVlOGYtZmMzMy00ZTE5LWFkNDktYjg0ZDdhYmZkMTQ3&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "zOaz4uVSGeQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcbuffereduploadchunkedsource032672b4e493f32cb34/javablobbuffereduploadchunkedsource27071743a5e0cac83?blockid=ZGY5ZDk1ZjMtMmQ5MS00NzYwLWJkZTgtNDVhN2EyMTViNDJi&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "cSYnFcb+bfI=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcbuffereduploadchunkedsource032672b4e493f32cb34/javablobbuffereduploadchunkedsource27071743a5e0cac83?blockid=NTc2ZjE1N2EtMjk4Zi00NmRkLTg5ZDktMzUzNGZjMzA4ZmU2&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "facw0aXoQso=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcbuffereduploadchunkedsource032672b4e493f32cb34/javablobbuffereduploadchunkedsource27071743a5e0cac83?blockid=OGM0NDIzOTktYTNkYi00MGQwLWI0MjYtMGUzZjJhMDUyZWUx&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "Nh6hXa3MKhk=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcbuffereduploadchunkedsource032672b4e493f32cb34/javablobbuffereduploadchunkedsource27071743a5e0cac83?blockid=ZGZkNzhiOTItOGExNy00MmY0LTk4YjgtODkwNDg4NTgxZjAw&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "fYpc+v5V+Co=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcbuffereduploadchunkedsource032672b4e493f32cb34/javablobbuffereduploadchunkedsource27071743a5e0cac83?blockid=ZjI1MjI0OWEtODY4Ni00MjcyLWI5NjgtZTk0ZGZmNThkMjRk&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "gF3SjyzOM4E=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcbuffereduploadchunkedsource032672b4e493f32cb34/javablobbuffereduploadchunkedsource27071743a5e0cac83?blockid=MjM2M2ExMGEtMzE3OS00NmQ5LWFkMTMtOGEzMmRjZjY4Yjdl&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "COKNpfX5FT4=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcbuffereduploadchunkedsource032672b4e493f32cb34/javablobbuffereduploadchunkedsource27071743a5e0cac83?blockid=NDgzYTgwMGYtN2Y3NC00YTgzLWEzNTAtNzRlYjcyNjM4YmYz&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "7hhTvumjAns=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcbuffereduploadchunkedsource032672b4e493f32cb34/javablobbuffereduploadchunkedsource27071743a5e0cac83?blockid=YTdiNDY0ZTgtYjU5Yy00MTNjLTk1OTYtNzIzNmVlOGY2N2U1&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "TSdkZxXvhJY=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcbuffereduploadchunkedsource032672b4e493f32cb34/javablobbuffereduploadchunkedsource27071743a5e0cac83?blockid=YmZmMzAyOTAtYjRmOC00NDcwLTgzNjUtM2IyNzJhMWYzYmJj&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "qp+owzZMiRs=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcbuffereduploadchunkedsource032672b4e493f32cb34/javablobbuffereduploadchunkedsource27071743a5e0cac83?blockid=MWM1NjdkNjUtODBjNy00OWY2LTk1ODUtNTcxNjU5Yzk3OTU5&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "h7MD0k3JgrU=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcbuffereduploadchunkedsource032672b4e493f32cb34/javablobbuffereduploadchunkedsource27071743a5e0cac83?blockid=ZTUwYmI2MzQtODhlYi00Yzk1LWExYzgtZTY5ZTY0N2ZjZWU5&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "gBxNOIH4LD0=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcbuffereduploadchunkedsource032672b4e493f32cb34/javablobbuffereduploadchunkedsource27071743a5e0cac83?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D730FED1F8C42E\"",
      "x-ms-content-crc64" : "fzOz+6vwm9w=",
      "Last-Modified" : "Wed, 04 Sep 2019 06:12:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcbuffereduploadchunkedsource032672b4e493f32cb34/javablobbuffereduploadchunkedsource27071743a5e0cac83",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Wed, 04 Sep 2019 06:12:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D730FED1F8C42E\"",
      "x-ms-creation-time" : "Wed, 04 Sep 2019 06:12:09 GMT",
      "Body" : "[-63, -13, 22, 35, 41, 19, -45, -88, -35, -93, -84, 26, -4, 47, -38, 85, -108, -108, 83, 24, -70, 90, -87, 29, -95, 11, 8, 117, 76, -123, -88, -46, -16, 51, 7, 10, -5, -120, -48, 53, 98, 121, -117, -32, -90, 58, 88, 105, 97, 30, 78, -121, -125, -84, -33, 72, 66, 82, 126, -79, -21, 69, 78, -128, 36, -120, -89, -23, 0, 1, 35, -86, -11, -70, -16, -110, -77, -28, -84, -48, 113, 32, 46, 96, 18, 77, 107, -36, -51, -10, -49, -32, 52, 100, 117, 121, -17, -75, -8, -96, -20, -81, 57, 89, -62, 64, 116, -80, 105, -107, 27, -13, 42, 42, -123, 84, -108, -36, 102, 12, 40, -124, 26, 104, 97, 29, -12, -116, -18, 24, -63, 46, 49, 114, -60, 95, -93, -100, -100, -86, 106, 44, -6, 11, -2, 104, 84, -60, -36, 47]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcbuffereduploadchunkedsource032672b4e493f32cb34/javablobbuffereduploadchunkedsource27071743a5e0cac83?blocklisttype=all&comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-blob-content-length" : "150",
      "Last-Modified" : "Wed, 04 Sep 2019 06:12:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"0x8D730FED1F8C42E\"",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks><Block><Name>ODBiYTgyNDgtNWFkNy00MDczLTk2M2EtNjJhY2RjZWIyNzVh</Name><Size>10</Size></Block><Block><Name>ODU0MTFiMDQtYTc0OS00YzE0LTg5NWYtNTg2NzA2OWJmMDdl</Name><Size>10</Size></Block><Block><Name>ZjY2MGU1NDAtZjI1Mi00YmE0LTgyM2YtOGQyYTY3NjI3Y2My</Name><Size>10</Size></Block><Block><Name>ZmMyNWVlOGYtZmMzMy00ZTE5LWFkNDktYjg0ZDdhYmZkMTQ3</Name><Size>10</Size></Block><Block><Name>ZGY5ZDk1ZjMtMmQ5MS00NzYwLWJkZTgtNDVhN2EyMTViNDJi</Name><Size>10</Size></Block><Block><Name>NTc2ZjE1N2EtMjk4Zi00NmRkLTg5ZDktMzUzNGZjMzA4ZmU2</Name><Size>10</Size></Block><Block><Name>OGM0NDIzOTktYTNkYi00MGQwLWI0MjYtMGUzZjJhMDUyZWUx</Name><Size>10</Size></Block><Block><Name>ZGZkNzhiOTItOGExNy00MmY0LTk4YjgtODkwNDg4NTgxZjAw</Name><Size>10</Size></Block><Block><Name>ZjI1MjI0OWEtODY4Ni00MjcyLWI5NjgtZTk0ZGZmNThkMjRk</Name><Size>10</Size></Block><Block><Name>MjM2M2ExMGEtMzE3OS00NmQ5LWFkMTMtOGEzMmRjZjY4Yjdl</Name><Size>10</Size></Block><Block><Name>NDgzYTgwMGYtN2Y3NC00YTgzLWEzNTAtNzRlYjcyNjM4YmYz</Name><Size>10</Size></Block><Block><Name>YTdiNDY0ZTgtYjU5Yy00MTNjLTk1OTYtNzIzNmVlOGY2N2U1</Name><Size>10</Size></Block><Block><Name>YmZmMzAyOTAtYjRmOC00NDcwLTgzNjUtM2IyNzJhMWYzYmJj</Name><Size>10</Size></Block><Block><Name>ZTUwYmI2MzQtODhlYi00Yzk1LWExYzgtZTY5ZTY0N2ZjZWU5</Name><Size>10</Size></Block><Block><Name>MWM1NjdkNjUtODBjNy00OWY2LTk1ODUtNTcxNjU5Yzk3OTU5</Name><Size>10</Size></Block></CommittedBlocks><UncommittedBlocks /></BlockList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net?prefix=jtcbuffereduploadchunkedsource&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcbuffereduploadchunkedsource</Prefix><Containers><Container><Name>jtcbuffereduploadchunkedsource032672b4e493f32cb34</Name><Properties><Last-Modified>Wed, 04 Sep 2019 06:12:09 GMT</Last-Modified><Etag>\"0x8D730FED1C12EEA\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcbuffereduploadchunkedsource032672b4e493f32cb34?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcbuffereduploadchunkedsource032672b4e493f32cb34", "javablobbuffereduploadchunkedsource1971149ede1fd8061", "javablobbuffereduploadchunkedsource27071743a5e0cac83", "e530e42f-91c1-4aa1-bc78-dc81e37bd43d", "076f3af6-7957-4e86-813e-5054b606ef3c", "fd17b595-04af-4809-b7f3-2f31a7083688" ]
}