{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcuploadmetadata0blockblobapitestuploadmetadatacd163915e9f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D76A14982C4BC4",
      "Last-Modified" : "Fri, 15 Nov 2019 21:41:38 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcuploadmetadata0blockblobapitestuploadmetadatacd163915e9f/javablobuploadmetadata1blockblobapitestuploadmetadatacd191589d",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Fri, 15 Nov 2019 21:41:38 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D76A149830DC66"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "HEAD",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcuploadmetadata0blockblobapitestuploadmetadatacd163915e9f/javablobuploadmetadata1blockblobapitestuploadmetadatacd191589d",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Fri, 15 Nov 2019 21:41:38 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D76A149839DEBC",
      "x-ms-creation-time" : "Fri, 15 Nov 2019 21:41:38 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev3.blob.core.windows.net?prefix=jtcuploadmetadata&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev3.blob.core.windows.net/\"><Prefix>jtcuploadmetadata</Prefix><Containers><Container><Name>jtcuploadmetadata0blockblobapitestuploadmetadatacd163915e9f</Name><Properties><Last-Modified>Fri, 15 Nov 2019 21:41:38 GMT</Last-Modified><Etag>\"0x8D76A14982C4BC4\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcuploadmetadata0blockblobapitestuploadmetadatacd163915e9f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcuploadmetadata0blockblobapitestuploadmetadatacd163915e9f", "javablobuploadmetadata1blockblobapitestuploadmetadatacd191589d", "javablobuploadmetadata2blockblobapitestuploadmetadatacd108888f" ]
}