{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadillegalargument0568870f940208d984470e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D730FEC0E055AF\"",
      "Last-Modified" : "Wed, 04 Sep 2019 06:11:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadillegalargument0568870f940208d984470e/javablobuploadillegalargument1968093c49693a08404c",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Wed, 04 Sep 2019 06:11:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D730FEC0E57776\""
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadillegalargument0568870f940208d984470e/javablobuploadillegalargument1968093c49693a08404c",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : null,
    "Exception" : {
      "Throwable" : {
        "cause" : null,
        "stackTrace" : [ {
          "methodName" : "lambda$null$1",
          "fileName" : "BlockBlobClient.java",
          "lineNumber" : 148,
          "className" : "com.azure.storage.blob.BlockBlobClient",
          "nativeMethod" : false
        }, {
          "methodName" : "call",
          "fileName" : "MonoCallable.java",
          "lineNumber" : 91,
          "className" : "reactor.core.publisher.MonoCallable",
          "nativeMethod" : false
        }, {
          "methodName" : "drain",
          "fileName" : "FluxConcatMap.java",
          "lineNumber" : 402,
          "className" : "reactor.core.publisher.FluxConcatMap$ConcatMapImmediate",
          "nativeMethod" : false
        }, {
          "methodName" : "o[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net?prefix=jtcuploadillegalargument&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcuploadillegalargument</Prefix><Containers><Container><Name>jtcuploadillegalargument0568870f940208d984470e</Name><Properties><Last-Modified>Wed, 04 Sep 2019 06:11:41 GMT</Last-Modified><Etag>\"0x8D730FEC0E055AF\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtcuploadillegalargument0568870f940208d984470e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcuploadillegalargument0568870f940208d984470e", "javablobuploadillegalargument1968093c49693a08404c", "javablobuploadillegalargument2045317370e478096947" ]
}