{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtccommitblocklistnull0328354a3d2a9ae4e9405e8?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7226E67AFAC83\"",
      "Last-Modified" : "Fri, 16 Aug 2019 17:23:07 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtccommitblocklistnull0328354a3d2a9ae4e9405e8/javablobcommitblocklistnull1665437c73bda73a8f4aa",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Fri, 16 Aug 2019 17:23:07 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D7226E67B7FF13\""
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtccommitblocklistnull0328354a3d2a9ae4e9405e8/javablobcommitblocklistnull1665437c73bda73a8f4aa?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7226E67BF05B5\"",
      "x-ms-content-crc64" : "p1vsGtjjPsk=",
      "Last-Modified" : "Fri, 16 Aug 2019 17:23:07 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtccommitblocklistnull&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtccommitblocklistnull</Prefix><Containers><Container><Name>jtccommitblocklistnull0328354a3d2a9ae4e9405e8</Name><Properties><Last-Modified>Fri, 16 Aug 2019 17:23:07 GMT</Last-Modified><Etag>\"0x8D7226E67AFAC83\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtccommitblocklistnull0328354a3d2a9ae4e9405e8?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtccommitblocklistnull0328354a3d2a9ae4e9405e8", "javablobcommitblocklistnull1665437c73bda73a8f4aa" ]
}