{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcuploadwithtier0blockblobapitestuploadwithtier17266418761?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D76A149A918583",
      "Last-Modified" : "Fri, 15 Nov 2019 21:41:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcuploadwithtier0blockblobapitestuploadwithtier17266418761/javablobuploadwithtier1blockblobapitestuploadwithtier17232719d",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Fri, 15 Nov 2019 21:41:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D76A149A96B2DD"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "HEAD",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcuploadwithtier0blockblobapitestuploadwithtier17266418761/javablobuploadwithtier3blockblobapitestuploadwithtier172761872",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Fri, 15 Nov 2019 21:41:42 GMT",
      "retry-after" : "0",
      "x-ms-access-tier-change-time" : "Fri, 15 Nov 2019 21:41:42 GMT",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier" : "Cool",
      "ETag" : "0x8D76A149AA11506",
      "x-ms-creation-time" : "Fri, 15 Nov 2019 21:41:42 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev3.blob.core.windows.net?prefix=jtcuploadwithtier&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev3.blob.core.windows.net/\"><Prefix>jtcuploadwithtier</Prefix><Containers><Container><Name>jtcuploadwithtier0blockblobapitestuploadwithtier17266418761</Name><Properties><Last-Modified>Fri, 15 Nov 2019 21:41:42 GMT</Last-Modified><Etag>\"0x8D76A149A918583\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcuploadwithtier0blockblobapitestuploadwithtier17266418761?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcuploadwithtier0blockblobapitestuploadwithtier17266418761", "javablobuploadwithtier1blockblobapitestuploadwithtier17232719d", "javablobuploadwithtier2blockblobapitestuploadwithtier17204809d", "javablobuploadwithtier3blockblobapitestuploadwithtier172761872" ]
}