{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcasyncbufferedupload0273885c3052431d9244d78?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72BDB0B5AC322\"",
      "Last-Modified" : "Wed, 28 Aug 2019 17:13:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcasyncbufferedupload0273885c3052431d9244d78/javablobasyncbufferedupload123490efef38f53269459",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Wed, 28 Aug 2019 17:13:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D72BDB0B5F6E8A\""
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcasyncbufferedupload0273885c3052431d9244d78/javablobasyncbufferedupload243141151f2a2453e447a?blockid=YjhhZTgwODQtMjQ5OC00M2E5LTliZGYtMzVkZDgwMjU3MTg5&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "O525LLCoKDw=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcasyncbufferedupload0273885c3052431d9244d78/javablobasyncbufferedupload243141151f2a2453e447a?blockid=ZmIzNzJkYzQtMjA5My00YmQzLWI5ZTQtMWY3YjdkMTFjMWVk&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "Usg0y1URkGs=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcasyncbufferedupload0273885c3052431d9244d78/javablobasyncbufferedupload243141151f2a2453e447a?blockid=ZjJiMzdlMjgtZmYyOS00MmZkLWExZTYtNTljZGEyNmE3NTg2&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "zWKj9G12Qfc=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcasyncbufferedupload0273885c3052431d9244d78/javablobasyncbufferedupload243141151f2a2453e447a?blockid=MTk0ODQyYzctMmZlOC00Mjc3LTlhYWUtYTBlYWFmZDcxOTU0&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "LBo1qmZj9gk=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcasyncbufferedupload0273885c3052431d9244d78/javablobasyncbufferedupload243141151f2a2453e447a?blockid=OTkzZTliNzEtMWFmZi00YTlmLThhYTEtNTc0N2UzMDIxZjY1&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "K1CKoA6lxQw=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcasyncbufferedupload0273885c3052431d9244d78/javablobasyncbufferedupload243141151f2a2453e447a?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72BDB0D72A989\"",
      "x-ms-content-crc64" : "D24lIsAsoBg=",
      "Last-Modified" : "Wed, 28 Aug 2019 17:13:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcasyncbufferedupload0273885c3052431d9244d78/javablobasyncbufferedupload243141151f2a2453e447a?blocklisttype=all&comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-blob-content-length" : "104857600",
      "Last-Modified" : "Wed, 28 Aug 2019 17:13:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"0x8D72BDB0D72A989\"",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks><Block><Name>OTkzZTliNzEtMWFmZi00YTlmLThhYTEtNTc0N2UzMDIxZjY1</Name><Size>20971520</Size></Block><Block><Name>YjhhZTgwODQtMjQ5OC00M2E5LTliZGYtMzVkZDgwMjU3MTg5</Name><Size>20971520</Size></Block><Block><Name>ZmIzNzJkYzQtMjA5My00YmQzLWI5ZTQtMWY3YjdkMTFjMWVk</Name><Size>20971520</Size></Block><Block><Name>ZjJiMzdlMjgtZmYyOS00MmZkLWExZTYtNTljZGEyNmE3NTg2</Name><Size>20971520</Size></Block><Block><Name>MTk0ODQyYzctMmZlOC00Mjc3LTlhYWUtYTBlYWFmZDcxOTU0</Name><Size>20971520</Size></Block></CommittedBlocks><UncommittedBlocks /></BlockList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev3.blob.core.windows.net?prefix=jtcasyncbufferedupload&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev3.blob.core.windows.net/\"><Prefix>jtcasyncbufferedupload</Prefix><Containers><Container><Name>jtcasyncbufferedupload0273885c3052431d9244d78</Name><Properties><Last-Modified>Wed, 28 Aug 2019 17:13:28 GMT</Last-Modified><Etag>\"0x8D72BDB0B5AC322\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcasyncbufferedupload0273885c3052431d9244d78?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcasyncbufferedupload0273885c3052431d9244d78", "javablobasyncbufferedupload123490efef38f53269459", "javablobasyncbufferedupload243141151f2a2453e447a", "5e1673f6-d265-4a2b-a498-82d9313d832b" ]
}