{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadmetadata0blockblobapitestuploadmetadatae4411917f53?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7274090F9D62F\"",
      "Last-Modified" : "Thu, 22 Aug 2019 20:37:35 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadmetadata0blockblobapitestuploadmetadatae4411917f53/javablobuploadmetadata1blockblobapitestuploadmetadatae4425703e",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Thu, 22 Aug 2019 20:37:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D7274090FEDC90\""
    },
    "Exception" : null
[...]
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadmetadata0blockblobapitestuploadmetadatae4411917f53/javablobuploadmetadata1blockblobapitestuploadmetadatae4425703e",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 22 Aug 2019 20:37:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-meta-foo" : "bar",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "\"0x8D727409103BFC1\"",
      "x-ms-creation-time" : "Thu, 22 Aug 2019 20:37:36 GMT",
      "x-ms-meta-fizz" : "buzz",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcuploadmetadata&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcuploadmetadata</Prefix><Containers><Container><Name>jtcuploadmetadata0blockblobapitestuploadmetadatae4411917f53</Name><Properties><Last-Modified>Thu, 22 Aug 2019 20:37:35 GMT</Last-Modified><Etag>\"0x8D7274090F9D62F\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadmetadata0blockblobapitestuploadmetadatae4411917f53?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcuploadmetadata0blockblobapitestuploadmetadatae4411917f53", "javablobuploadmetadata1blockblobapitestuploadmetadatae4425703e" ]
}