{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gapradev.blob.core.windows.net/jtcuploademptybody0blockblobapitestuploademptybodyf079224651?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75646F1585C7D",
      "Last-Modified" : "Mon, 21 Oct 2019 16:51:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gapradev.blob.core.windows.net/jtcuploademptybody0blockblobapitestuploademptybodyf079224651/javablobuploademptybody14159676b1ae284ef74a71a",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Mon, 21 Oct 2019 16:51:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D75646F1659465"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://gapradev.blob.core.windows.net?prefix=jtcuploademptybody&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://gapradev.blob.core.windows.net/\"><Prefix>jtcuploademptybody</Prefix><Containers><Container><Name>jtcuploademptybody0blockblobapitestuploademptybodyf079224651</Name><Properties><Last-Modified>Mon, 21 Oct 2019 16:51:39 GMT</Last-Modified><Etag>\"0x8D75646F1585C7D\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://gapradev.blob.core.windows.net/jtcuploademptybody0blockblobapitestuploademptybodyf079224651?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcuploademptybody0blockblobapitestuploademptybodyf079224651", "javablobuploademptybody14159676b1ae284ef74a71a", "javablobuploademptybody2624663257a99d40914df38", "javablobuploademptybody3127790b4839867b174d308" ]
}