{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource077254f30af70f99904?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73252B2320840\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:45:05 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource077254f30af70f99904/javablobbuffereduploadchunkedsource1327363361fda4018",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Thu, 05 Sep 2019 22:45:05 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D73252B23F397E\""
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource077254f30af70f99904/javablobbuffereduploadchunkedsource244286d1527f29211?blockid=NTNjNDY0Y2ItODhiMy00MWJiLWFlMzYtM2I2MjIwY2JiMjlk&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "fih1enWMmK0=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource077254f30af70f99904/javablobbuffereduploadchunkedsource244286d1527f29211?blockid=YTA5NjkzODctNjM3NS00OWQ0LTgxMGMtOTc0Njc0MWViMTI4&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "e9z5DMC+LxY=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource077254f30af70f99904/javablobbuffereduploadchunkedsource244286d1527f29211?blockid=MDI0MGQ3YWUtZDlkNy00MmZiLWI3M2YtNWFkYzc5ZjQ0ZmEw&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "3RhIUjx30zQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource077254f30af70f99904/javablobbuffereduploadchunkedsource244286d1527f29211?blockid=YjQ3MzVlZTMtNzUwOS00MzVlLWE1ZTItNjlmMzVkZWU5ZTky&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "XheKNeXMCCI=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource077254f30af70f99904/javablobbuffereduploadchunkedsource244286d1527f29211?blockid=MWNmYjE3MzctZDQxYy00M2YxLTg3N2UtNGFlMTg3Njk4Y2Q2&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "pAAbalxAJpA=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource077254f30af70f99904/javablobbuffereduploadchunkedsource244286d1527f29211?blockid=NjczMDkyYzYtNmQ3OS00MjY5LWI4YTAtOTkyZWM2ODQ5YTlm&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "jCGXxFvp4Qk=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource077254f30af70f99904/javablobbuffereduploadchunkedsource244286d1527f29211?blockid=ZjFiZWViYzMtNGY0MC00OWUxLWEwN2YtYzZlNDBhZDdkZGY2&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "jHnidkMb/d0=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource077254f30af70f99904/javablobbuffereduploadchunkedsource244286d1527f29211?blockid=M2FlNzIyMzAtNjQ5Yi00M2VjLWE5MzAtYzdlZGNjZTMzNDZl&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "GTC6JvVWMEI=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource077254f30af70f99904/javablobbuffereduploadchunkedsource244286d1527f29211?blockid=ODNmNTk5NjUtZTFiMi00M2Q3LTgyZDUtYjZmZTQwMWJhMDZh&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "ulYBebtE5bw=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource077254f30af70f99904/javablobbuffereduploadchunkedsource244286d1527f29211?blockid=MTliMmM0YTYtMmJjMi00ZTlhLWI0OTQtYzAzYjQ4YjUzNGU3&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "TZTh0Gdr26M=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource077254f30af70f99904/javablobbuffereduploadchunkedsource244286d1527f29211?blockid=ODY5YTExZDItZWUzNC00OTJjLTk3MzQtMThjMzQ5OTkyNTBi&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "EPYP75b7ICU=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource077254f30af70f99904/javablobbuffereduploadchunkedsource244286d1527f29211?blockid=ZWJhNGFmYjItNTY4Yi00YjQ0LWFlNjItMWYzZjc2MzExYTZj&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "bLUyK1Mp+9M=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource077254f30af70f99904/javablobbuffereduploadchunkedsource244286d1527f29211?blockid=YThlMzg3NGMtOTM4Yy00YThlLThkOTAtNGI0ZGNkODI1MDM4&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "sxQnaz2Ci6o=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource077254f30af70f99904/javablobbuffereduploadchunkedsource244286d1527f29211?blockid=OTQxZmJlNGUtYTdlNy00YmJjLWEzOGQtODk5MTVlYzIyNGE1&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "z0gstiUavQs=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource077254f30af70f99904/javablobbuffereduploadchunkedsource244286d1527f29211?blockid=MmE5MDI1NjktMzFkZS00M2Q4LThmNjEtNzBlMjVjYTU5Yzgz&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "AwvsH6L10OU=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource077254f30af70f99904/javablobbuffereduploadchunkedsource244286d1527f29211?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73252B2C6F904\"",
      "x-ms-content-crc64" : "teRfZUxhmB0=",
      "Last-Modified" : "Thu, 05 Sep 2019 22:45:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource077254f30af70f99904/javablobbuffereduploadchunkedsource244286d1527f29211",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 05 Sep 2019 22:45:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D73252B2C6F904\"",
      "x-ms-creation-time" : "Thu, 05 Sep 2019 22:45:06 GMT",
      "Body" : "[-25, 69, -52, 28, -28, -22, 26, -109, 4, -42, 26, 57, 113, 111, -12, -80, -11, 114, 76, 88, -15, 110, 96, -49, -78, -37, 111, -94, -56, 86, -58, 28, 64, -18, 32, 110, 94, 27, -125, 117, -7, 104, -3, 66, -83, -61, 89, 68, -120, -45, -100, 25, -104, 127, -70, 10, -123, 124, -57, 8, 17, -119, -37, -48, 38, -102, -89, -79, -53, 64, 61, 110, 50, 114, 121, 85, -21, -116, -125, 40, -34, 69, 84, -112, 46, 105, 86, -83, 0, -50, -3, 65, -122, 88, -50, -17, 106, -106, -123, 70, -113, -45, -99, 68, -49, -68, -13, 120, -99, 6, 95, -36, -75, -62, -43, 42, -117, -70, 33, 89, -125, 122, -104, 85, -49, 122, -87, -27, -40, -18, -31, -65, -13, -66, -121, 76, 83, 4, 78, -46, -35, -67, 118, 16, 83, 57, -119, 65, 0, 77]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource077254f30af70f99904/javablobbuffereduploadchunkedsource244286d1527f29211?blocklisttype=all&comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-blob-content-length" : "150",
      "Last-Modified" : "Thu, 05 Sep 2019 22:45:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"0x8D73252B2C6F904\"",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks><Block><Name>YTA5NjkzODctNjM3NS00OWQ0LTgxMGMtOTc0Njc0MWViMTI4</Name><Size>10</Size></Block><Block><Name>NTNjNDY0Y2ItODhiMy00MWJiLWFlMzYtM2I2MjIwY2JiMjlk</Name><Size>10</Size></Block><Block><Name>MDI0MGQ3YWUtZDlkNy00MmZiLWI3M2YtNWFkYzc5ZjQ0ZmEw</Name><Size>10</Size></Block><Block><Name>YjQ3MzVlZTMtNzUwOS00MzVlLWE1ZTItNjlmMzVkZWU5ZTky</Name><Size>10</Size></Block><Block><Name>MWNmYjE3MzctZDQxYy00M2YxLTg3N2UtNGFlMTg3Njk4Y2Q2</Name><Size>10</Size></Block><Block><Name>NjczMDkyYzYtNmQ3OS00MjY5LWI4YTAtOTkyZWM2ODQ5YTlm</Name><Size>10</Size></Block><Block><Name>ZjFiZWViYzMtNGY0MC00OWUxLWEwN2YtYzZlNDBhZDdkZGY2</Name><Size>10</Size></Block><Block><Name>M2FlNzIyMzAtNjQ5Yi00M2VjLWE5MzAtYzdlZGNjZTMzNDZl</Name><Size>10</Size></Block><Block><Name>ODNmNTk5NjUtZTFiMi00M2Q3LTgyZDUtYjZmZTQwMWJhMDZh</Name><Size>10</Size></Block><Block><Name>MTliMmM0YTYtMmJjMi00ZTlhLWI0OTQtYzAzYjQ4YjUzNGU3</Name><Size>10</Size></Block><Block><Name>ODY5YTExZDItZWUzNC00OTJjLTk3MzQtMThjMzQ5OTkyNTBi</Name><Size>10</Size></Block><Block><Name>ZWJhNGFmYjItNTY4Yi00YjQ0LWFlNjItMWYzZjc2MzExYTZj</Name><Size>10</Size></Block><Block><Name>YThlMzg3NGMtOTM4Yy00YThlLThkOTAtNGI0ZGNkODI1MDM4</Name><Size>10</Size></Block><Block><Name>MmE5MDI1NjktMzFkZS00M2Q4LThmNjEtNzBlMjVjYTU5Yzgz</Name><Size>10</Size></Block><Block><Name>OTQxZmJlNGUtYTdlNy00YmJjLWEzOGQtODk5MTVlYzIyNGE1</Name><Size>10</Size></Block></CommittedBlocks><UncommittedBlocks /></BlockList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net?prefix=jtcbuffereduploadchunkedsource&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jaschrepragrs.blob.core.windows.net/\"><Prefix>jtcbuffereduploadchunkedsource</Prefix><Containers><Container><Name>jtcbuffereduploadchunkedsource077254f30af70f99904</Name><Properties><Last-Modified>Thu, 05 Sep 2019 22:45:05 GMT</Last-Modified><Etag>\"0x8D73252B2320840\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource077254f30af70f99904?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcbuffereduploadchunkedsource077254f30af70f99904", "javablobbuffereduploadchunkedsource1327363361fda4018", "javablobbuffereduploadchunkedsource244286d1527f29211", "82c9087c-08b1-42c8-a762-8714b78d1fbb", "d7dcce05-3fd3-479e-992b-b71dfb7d79b0", "7c81207e-6ff5-4c04-a604-3d5f3eeed182" ]
}