{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstageblockillegalarguments01419723fc7892557141?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72DA3E0D375BE\"",
      "Last-Modified" : "Fri, 30 Aug 2019 23:43:37 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstageblockillegalarguments01419723fc7892557141/javablobstageblockillegalarguments113524105e8f9591a",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Fri, 30 Aug 2019 23:43:37 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D72DA3E0DB101D\""
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstageblockillegalarguments01419723fc7892557141/javablobstageblockillegalarguments113524105e8f9591a?blockid=ZGEyMDBjOTgtMjk1MS00ZDUyLTgyOTctMGI0MzQyYWUzY2Ey&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : null,
    "Exception" : {
      "Throwable" : {
        "cause" : null,
        "stackTrace" : [ {
          "methodName" : "lambda$null$3",
          "fileName" : "Utility.java",
          "lineNumber" : 517,
          "className" : "com.azure.storage.common.Utility",
          "nativeMethod" : false
        }, {
          "methodName" : "call",
          "fileName" : "MonoCallable.java",
          "lineNumber" : 91,
          "className" : "reactor.core.publisher.MonoCallable",
          "nativeMethod" : false
        }, {
          "methodName" : "drain",
          "fileName" : "FluxConcatMap.java",
          "lineNumber" : 402,
          "className" : "reactor.core.publisher.FluxConcatMap$ConcatMapImmediate",
          "nativeMethod" : false
        }, {
          "methodName" : "o[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcstageblockillegalarguments&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcstageblockillegalarguments</Prefix><Containers><Container><Name>jtcstageblockillegalarguments01419723fc7892557141</Name><Properties><Last-Modified>Fri, 30 Aug 2019 23:43:37 GMT</Last-Modified><Etag>\"0x8D72DA3E0D375BE\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstageblockillegalarguments01419723fc7892557141?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcstageblockillegalarguments01419723fc7892557141", "javablobstageblockillegalarguments113524105e8f9591a", "da200c98-2951-4d52-8297-0b4342ae3ca2" ]
}