{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gapradev.blob.core.windows.net/jtcstageblockfromurllease08652709cfcfa7132742f6?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75646E1A8A223",
      "Last-Modified" : "Mon, 21 Oct 2019 16:51:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gapradev.blob.core.windows.net/jtcstageblockfromurllease08652709cfcfa7132742f6/javablobstageblockfromurllease1256952b556f57c2874",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Mon, 21 Oct 2019 16:51:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D75646E1B76CB0"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gapradev.blob.core.windows.net/jtcstageblockfromurllease08652709cfcfa7132742f6?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75646E1C4B8A2",
      "Last-Modified" : "Mon, 21 Oct 2019 16:51:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gapradev.blob.core.windows.net/jtcstageblockfromurllease08652709cfcfa7132742f6/javablobstageblockfromurllease1256952b556f57c2874?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75646E1B76CB0",
      "x-ms-lease-id" : "8f46a5e7-2f20-4151-9db8-8579fad9c44c",
      "Last-Modified" : "Mon, 21 Oct 2019 16:51:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gapradev.blob.core.windows.net/jtcstageblockfromurllease08652709cfcfa7132742f6/javablobstageblockfromurllease1256952b556f57c2874?blockid=OGE4NmVjZTUtOTU4Yy00NDA3LTg4MTAtODdhMjhlZDFmNDIy&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://gapradev.blob.core.windows.net?prefix=jtcstageblockfromurllease&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://gapradev.blob.core.windows.net/\"><Prefix>jtcstageblockfromurllease</Prefix><Containers><Container><Name>jtcstageblockfromurllease08652709cfcfa7132742f6</Name><Properties><Last-Modified>Mon, 21 Oct 2019 16:51:13 GMT</Last-Modified><Etag>\"0x8D75646E1C4B8A2\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>container</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://gapradev.blob.core.windows.net/jtcstageblockfromurllease08652709cfcfa7132742f6?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcstageblockfromurllease08652709cfcfa7132742f6", "javablobstageblockfromurllease1256952b556f57c2874", "javablobstageblockfromurllease23498961d23313fb5c4", "javablobstageblockfromurllease362108be907700e4d54", "8a86ece5-958c-4407-8810-87a28ed1f422" ]
}