{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://gapradev.blob.core.windows.net/jtcuploadmin0blockblobapitestuploadmin4dd6638782f74cbd?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75646F05ECFDA",
      "Last-Modified" : "Mon, 21 Oct 2019 16:51:37 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://gapradev.blob.core.windows.net/jtcuploadmin0blockblobapitestuploadmin4dd6638782f74cbd/javablobuploadmin1blockblobapitestuploadmin4dd762513c6d04",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Mon, 21 Oct 2019 16:51:37 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D75646F06CF051"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://gapradev.blob.core.windows.net/jtcuploadmin0blockblobapitestuploadmin4dd6638782f74cbd/javablobuploadmin3blockblobapitestuploadmin4dd9040676deec",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Mon, 21 Oct 2019 16:51:37 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D75646F07A5F88",
      "x-ms-creation-time" : "Mon, 21 Oct 2019 16:51:37 GMT",
      "Body" : "[100, 101, 102, 97, 117, 108, 116]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://gapradev.blob.core.windows.net?prefix=jtcuploadmin&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://gapradev.blob.core.windows.net/\"><Prefix>jtcuploadmin</Prefix><Containers><Container><Name>jtcuploadmin0blockblobapitestuploadmin4dd6638782f74cbd</Name><Properties><Last-Modified>Mon, 21 Oct 2019 16:51:37 GMT</Last-Modified><Etag>\"0x8D75646F05ECFDA\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://gapradev.blob.core.windows.net/jtcuploadmin0blockblobapitestuploadmin4dd6638782f74cbd?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcuploadmin0blockblobapitestuploadmin4dd6638782f74cbd", "javablobuploadmin1blockblobapitestuploadmin4dd762513c6d04", "javablobuploadmin2blockblobapitestuploadmin4dd07879688baf", "javablobuploadmin3blockblobapitestuploadmin4dd9040676deec" ]
}