{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcgetblocklist0blockblobapitestgetblocklist0b8352809c1d8?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73561C30C9FE9\"",
      "Last-Modified" : "Mon, 09 Sep 2019 20:10:29 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcgetblocklist0blockblobapitestgetblocklist0b8352809c1d8/javablobgetblocklist1blockblobapitestgetblocklist0b8639533b4",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Mon, 09 Sep 2019 20:10:29 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D73561C31933B7\""
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcgetblocklist0blockblobapitestgetblocklist0b8352809c1d8/javablobgetblocklist1blockblobapitestgetblocklist0b8639533b4?blockid=M2YwYmYwMDUtZTAyZi00NjJlLWE1NjctMDg3MGNjY2YyMDFh&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcgetblocklist0blockblobapitestgetblocklist0b8352809c1d8/javablobgetblocklist1blockblobapitestgetblocklist0b8639533b4?blockid=ZGRmNDY2NGQtZDliMy00NzEzLWIzMTgtZjA0ZTBjMDZhMzdm&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcgetblocklist0blockblobapitestgetblocklist0b8352809c1d8/javablobgetblocklist1blockblobapitestgetblocklist0b8639533b4?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73561C33FFCBC\"",
      "x-ms-content-crc64" : "jN3BMXnN2Aw=",
      "Last-Modified" : "Mon, 09 Sep 2019 20:10:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcgetblocklist0blockblobapitestgetblocklist0b8352809c1d8/javablobgetblocklist1blockblobapitestgetblocklist0b8639533b4?blockid=MTNkZmZiY2ItNTEyZi00M2QwLWEwODAtYmZhY2RkZWFhYTQ3&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcgetblocklist0blockblobapitestgetblocklist0b8352809c1d8/javablobgetblocklist1blockblobapitestgetblocklist0b8639533b4?blockid=ZWM4ZTdhOTQtNGYxNS00YzdkLThlOTktODBjNjQ3ZWY0ZWU0&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcgetblocklist0blockblobapitestgetblocklist0b8352809c1d8/javablobgetblocklist1blockblobapitestgetblocklist0b8639533b4?blocklisttype=all&comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-blob-content-length" : "14",
      "Last-Modified" : "Mon, 09 Sep 2019 20:10:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"0x8D73561C33FFCBC\"",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks><Block><Name>M2YwYmYwMDUtZTAyZi00NjJlLWE1NjctMDg3MGNjY2YyMDFh</Name><Size>7</Size></Block><Block><Name>ZGRmNDY2NGQtZDliMy00NzEzLWIzMTgtZjA0ZTBjMDZhMzdm</Name><Size>7</Size></Block></CommittedBlocks><UncommittedBlocks><Block><Name>MTNkZmZiY2ItNTEyZi00M2QwLWEwODAtYmZhY2RkZWFhYTQ3</Name><Size>7</Size></Block><Block><Name>ZWM4ZTdhOTQtNGYxNS00YzdkLThlOTktODBjNjQ3ZWY0ZWU0</Name><Size>7</Size></Block></UncommittedBlocks></BlockList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net?prefix=jtcgetblocklist&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jaschrepragrs.blob.core.windows.net/\"><Prefix>jtcgetblocklist</Prefix><Containers><Container><Name>jtcgetblocklist0blockblobapitestgetblocklist0b8352809c1d8</Name><Properties><Last-Modified>Mon, 09 Sep 2019 20:10:29 GMT</Last-Modified><Etag>\"0x8D73561C30C9FE9\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcgetblocklist0blockblobapitestgetblocklist0b8352809c1d8?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcgetblocklist0blockblobapitestgetblocklist0b8352809c1d8", "javablobgetblocklist1blockblobapitestgetblocklist0b8639533b4", "javablobgetblocklist2blockblobapitestgetblocklist0b844440b48", "3f0bf005-e02f-462e-a567-0870cccf201a", "ddf4664d-d9b3-4713-b318-f04e0c06a37f", "13dffbcb-512f-43d0-a080-bfacddeaaa47", "ec8e7a94-4f15-4c7d-8e99-80c647ef4ee4" ]
}