{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource004173a0a088337dd14?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7324A39A9420E\"",
      "Last-Modified" : "Thu, 05 Sep 2019 21:44:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource004173a0a088337dd14/javablobbuffereduploadchunkedsource1445642ca2b9aaf83",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Thu, 05 Sep 2019 21:44:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D7324A39B743E6\""
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource004173a0a088337dd14/javablobbuffereduploadchunkedsource295527c75bda1e205?blockid=MTMzNDgwMTgtYjlmYi00MzU3LTk2ZmEtMWZlNTM3MzFlNTBh&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "U0WP+2zopqo=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource004173a0a088337dd14/javablobbuffereduploadchunkedsource295527c75bda1e205?blockid=NmVjYTk4NWUtMmFmMC00MDE3LTgzMTktYWExNmZjNWE3ODgx&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "iHBImHqDa3c=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource004173a0a088337dd14/javablobbuffereduploadchunkedsource295527c75bda1e205?blockid=ODU3NzY4OTAtMjllMy00YWNhLTk1ZGItOTI2ZjRmODQwOGIz&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "gH34sp4gTWY=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource004173a0a088337dd14/javablobbuffereduploadchunkedsource295527c75bda1e205?blockid=MjZlOTI3MTItOGZjNC00NWY0LWIxMzAtMzhiOWM4MjRmMDE1&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "UPz1yPjQIVs=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource004173a0a088337dd14/javablobbuffereduploadchunkedsource295527c75bda1e205?blockid=MDliYWU1YjktMDZmYi00MDE2LWE2NjAtN2I0YjcwY2IwMzE0&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "5u3u4zzTyn4=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource004173a0a088337dd14/javablobbuffereduploadchunkedsource295527c75bda1e205?blockid=NTU4ZjFkZmEtN2Q5YS00NjgyLThmNDctNzMwYjE3M2Q2YjQ5&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "xgBIQ2fYvUI=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource004173a0a088337dd14/javablobbuffereduploadchunkedsource295527c75bda1e205?blockid=ZTMxMzVjNDMtZDdhNi00ZmY5LWI0ZjctMzBiNzY2MmE3ZDA5&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "S1Tmr1YT7W0=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource004173a0a088337dd14/javablobbuffereduploadchunkedsource295527c75bda1e205?blockid=OTgwNmM1MWItNGNlYy00MTYyLWI2ZmUtOTA1NmE2MTA0ODc5&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "wXBV0NySeAk=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource004173a0a088337dd14/javablobbuffereduploadchunkedsource295527c75bda1e205?blockid=ZTQ1YzNmODctNTUyYy00M2UxLThhZjYtZjNjYWYzZWM5N2Y0&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "3r9brlVF30c=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource004173a0a088337dd14/javablobbuffereduploadchunkedsource295527c75bda1e205?blockid=Y2UyMjFmMTItMjUwYi00MDY5LTgwZWYtYzJjMTU4NmIxYzE1&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "M4vi1H1S+rg=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource004173a0a088337dd14/javablobbuffereduploadchunkedsource295527c75bda1e205?blockid=YTUwOTVhNDMtODA3ZC00MWZjLTg1MWEtMzlhOGFkY2Q2ODky&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "yMABPUegy+c=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource004173a0a088337dd14/javablobbuffereduploadchunkedsource295527c75bda1e205?blockid=OWYxNzc4NGMtOGQyMi00Mjc0LTk2ZTEtZWNiNDA1NmM5NjVj&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "9fj5/vGE/A0=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource004173a0a088337dd14/javablobbuffereduploadchunkedsource295527c75bda1e205?blockid=ZWU1MGVmOWEtMGI0MS00NzU3LWE1OGYtMTYwZDQ5NDAyOTdl&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "13Q9ED+QGMY=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource004173a0a088337dd14/javablobbuffereduploadchunkedsource295527c75bda1e205?blockid=YzcyNzQ2ZjEtOWM2Mi00MTk5LTgyMWEtY2VjYjAyOTEzNTg3&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "0lJQL95dGSU=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource004173a0a088337dd14/javablobbuffereduploadchunkedsource295527c75bda1e205?blockid=ZDZmYzJhNjAtOTQwYS00Nzc4LWFiNGEtNmIwMWIzMjEwOGE1&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "j7TuzywI9CU=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource004173a0a088337dd14/javablobbuffereduploadchunkedsource295527c75bda1e205?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7324A3A334175\"",
      "x-ms-content-crc64" : "5siY5UVcYMw=",
      "Last-Modified" : "Thu, 05 Sep 2019 21:44:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource004173a0a088337dd14/javablobbuffereduploadchunkedsource295527c75bda1e205",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 05 Sep 2019 21:44:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D7324A3A334175\"",
      "x-ms-creation-time" : "Thu, 05 Sep 2019 21:44:28 GMT",
      "Body" : "[19, 106, -66, -48, 18, -78, 59, 117, 29, -5, -64, -76, -128, 73, 42, -113, 2, 64, 67, 92, -18, -8, 110, 83, -57, 28, 106, 50, 126, -40, -70, 115, 51, 106, -116, 39, 50, -88, -97, 127, 41, -110, 73, 44, -61, 39, -72, -21, -90, 22, 61, 105, 58, 98, 16, 81, 1, 42, 120, -100, -83, -9, 53, 103, 18, 30, -37, 34, 73, 96, 68, 6, -84, 41, -103, 84, -1, -76, 38, -86, 27, 82, -112, 55, 40, -5, 70, 118, 25, 29, -9, 97, -14, -87, -80, -48, -62, 60, 91, 125, -26, 63, -64, 100, -45, 48, -105, 56, 119, -81, -41, 37, 10, 14, -86, -62, 75, -23, -40, -33, 84, 88, 45, 90, -88, 0, -85, -62, 99, -3, -111, 2, 107, -61, 63, -47, 120, -15, 44, -4, 5, 39, -65, -122, -1, 11, -103, -40, -114, -17]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource004173a0a088337dd14/javablobbuffereduploadchunkedsource295527c75bda1e205?blocklisttype=all&comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-blob-content-length" : "150",
      "Last-Modified" : "Thu, 05 Sep 2019 21:44:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"0x8D7324A3A334175\"",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><BlockList><CommittedBlocks><Block><Name>MTMzNDgwMTgtYjlmYi00MzU3LTk2ZmEtMWZlNTM3MzFlNTBh</Name><Size>10</Size></Block><Block><Name>NmVjYTk4NWUtMmFmMC00MDE3LTgzMTktYWExNmZjNWE3ODgx</Name><Size>10</Size></Block><Block><Name>ODU3NzY4OTAtMjllMy00YWNhLTk1ZGItOTI2ZjRmODQwOGIz</Name><Size>10</Size></Block><Block><Name>MjZlOTI3MTItOGZjNC00NWY0LWIxMzAtMzhiOWM4MjRmMDE1</Name><Size>10</Size></Block><Block><Name>MDliYWU1YjktMDZmYi00MDE2LWE2NjAtN2I0YjcwY2IwMzE0</Name><Size>10</Size></Block><Block><Name>NTU4ZjFkZmEtN2Q5YS00NjgyLThmNDctNzMwYjE3M2Q2YjQ5</Name><Size>10</Size></Block><Block><Name>ZTMxMzVjNDMtZDdhNi00ZmY5LWI0ZjctMzBiNzY2MmE3ZDA5</Name><Size>10</Size></Block><Block><Name>OTgwNmM1MWItNGNlYy00MTYyLWI2ZmUtOTA1NmE2MTA0ODc5</Name><Size>10</Size></Block><Block><Name>ZTQ1YzNmODctNTUyYy00M2UxLThhZjYtZjNjYWYzZWM5N2Y0</Name><Size>10</Size></Block><Block><Name>Y2UyMjFmMTItMjUwYi00MDY5LTgwZWYtYzJjMTU4NmIxYzE1</Name><Size>10</Size></Block><Block><Name>YTUwOTVhNDMtODA3ZC00MWZjLTg1MWEtMzlhOGFkY2Q2ODky</Name><Size>10</Size></Block><Block><Name>OWYxNzc4NGMtOGQyMi00Mjc0LTk2ZTEtZWNiNDA1NmM5NjVj</Name><Size>10</Size></Block><Block><Name>ZWU1MGVmOWEtMGI0MS00NzU3LWE1OGYtMTYwZDQ5NDAyOTdl</Name><Size>10</Size></Block><Block><Name>ZDZmYzJhNjAtOTQwYS00Nzc4LWFiNGEtNmIwMWIzMjEwOGE1</Name><Size>10</Size></Block><Block><Name>YzcyNzQ2ZjEtOWM2Mi00MTk5LTgyMWEtY2VjYjAyOTEzNTg3</Name><Size>10</Size></Block></CommittedBlocks><UncommittedBlocks /></BlockList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net?prefix=jtcbuffereduploadchunkedsource&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jaschrepragrs.blob.core.windows.net/\"><Prefix>jtcbuffereduploadchunkedsource</Prefix><Containers><Container><Name>jtcbuffereduploadchunkedsource004173a0a088337dd14</Name><Properties><Last-Modified>Thu, 05 Sep 2019 21:44:27 GMT</Last-Modified><Etag>\"0x8D7324A39A9420E\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcbuffereduploadchunkedsource004173a0a088337dd14?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcbuffereduploadchunkedsource004173a0a088337dd14", "javablobbuffereduploadchunkedsource1445642ca2b9aaf83", "javablobbuffereduploadchunkedsource295527c75bda1e205", "f21102d3-e277-41c9-a081-47563b4611c8", "a926716b-ec86-46c0-a3f2-c5a6f7e3849f", "2c8806fc-f1bc-4b86-b4bb-c4b31144d6fb" ]
}