{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtclistblobsflatmarker00606265d48a3b10f64a979?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D735607E12C873\"",
      "Last-Modified" : "Mon, 09 Sep 2019 20:01:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtclistblobsflatmarker00606265d48a3b10f64a979/javabloblistblobsflatmarker11714641894ac79e6447c",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D735607E202AAB\"",
      "Last-Modified" : "Mon, 09 Sep 2019 20:01:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtclistblobsflatmarker00606265d48a3b10f64a979?maxresults=6&include=&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jaschrepragrs.blob.core.windows.net/\" ContainerName=\"jtclistblobsflatmarker00606265d48a3b10f64a979\"><MaxResults>6</MaxResults><Blobs><Blob><Name>javabloblistblobsflatmarker10288759b95d85a3d0e43</Name><Properties><Creation-Time>Mon, 09 Sep 2019 20:01:25 GMT</Creation-Time><Last-Modified>Mon, 09 Sep 2019 20:01:25 GMT</Last-Modified><Etag>0x8D735607E9A04BB</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted><TagCount>0</TagCount></Properties></Blob><Blob><Name>javabloblistblobsflatmarker11714641894ac79e6447c</Name><Properties><Creation-Time>Mon, 09 Sep 2019 20:01:24 GMT</Creation-Time><Last-Modified>Mon, 09 Sep 2019 20:01:24 GMT</Last-Modified><Etag>0x8D735607E202AAB</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blo[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtclistblobsflatmarker00606265d48a3b10f64a979?marker=2%21124%21MDAwMDQ4IWphdmFibG9ibGlzdGJsb2JzZmxhdG1hcmtlcjYxMTUzNGU3ZjRkNjhlZjNhMjQyYiEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-&maxresults=6&include=&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jaschrepragrs.blob.core.windows.net/\" ContainerName=\"jtclistblobsflatmarker00606265d48a3b10f64a979\"><Marker>2!124!MDAwMDQ4IWphdmFibG9ibGlzdGJsb2JzZmxhdG1hcmtlcjYxMTUzNGU3ZjRkNjhlZjNhMjQyYiEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-</Marker><MaxResults>6</MaxResults><Blobs><Blob><Name>javabloblistblobsflatmarker611534e7f4d68ef3a242b</Name><Properties><Creation-Time>Mon, 09 Sep 2019 20:01:24 GMT</Creation-Time><Last-Modified>Mon, 09 Sep 2019 20:01:24 GMT</Last-Modified><Etag>0x8D735607E641DD8</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-E[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net?prefix=jtclistblobsflatmarker&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jaschrepragrs.blob.core.windows.net/\"><Prefix>jtclistblobsflatmarker</Prefix><Containers><Container><Name>jtclistblobsflatmarker00606265d48a3b10f64a979</Name><Properties><Last-Modified>Mon, 09 Sep 2019 20:01:24 GMT</Last-Modified><Etag>\"0x8D735607E12C873\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtclistblobsflatmarker00606265d48a3b10f64a979?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtclistblobsflatmarker00606265d48a3b10f64a979", "javabloblistblobsflatmarker11714641894ac79e6447c", "javabloblistblobsflatmarker248262d2cbc5a6d63a4f8", "javabloblistblobsflatmarker3969292db775e74f8b492", "javabloblistblobsflatmarker4011882ffb6620addd482", "javabloblistblobsflatmarker5456134f3be824f9e9471", "javabloblistblobsflatmarker611534e7f4d68ef3a242b", "javabloblistblobsflatmarker707289547c51dd646d419", "javabloblistblobsflatmarker849878520c8ff7a9364cc", "javabloblistblobsflatmarker987076ca28fe988c56441", "javabloblistblobsflatmarker10288759b95d85a3d0e43" ]
}