{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatmarker03949752bc36fb346943cfb?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72CB11DDF453A\"",
      "Last-Modified" : "Thu, 29 Aug 2019 18:45:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatmarker03949752bc36fb346943cfb/javabloblistblobsflatmarker1482877d1c9ff4fc224ff",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72CB11DE4C045\"",
      "Last-Modified" : "Thu, 29 Aug 2019 18:45:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatmarker03949752bc36fb346943cfb?maxresults=6&include=&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\" ContainerName=\"jtclistblobsflatmarker03949752bc36fb346943cfb\"><MaxResults>6</MaxResults><Blobs><Blob><Name>javabloblistblobsflatmarker10965924fd3e61ec73b43</Name><Properties><Creation-Time>Thu, 29 Aug 2019 18:45:52 GMT</Creation-Time><Last-Modified>Thu, 29 Aug 2019 18:45:52 GMT</Last-Modified><Etag>0x8D72CB11E1A3559</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted><TagCount>0</TagCount></Properties></Blob><Blob><Name>javabloblistblobsflatmarker1482877d1c9ff4fc224ff</Name><Properties><Creation-Time>Thu, 29 Aug 2019 18:45:51 GMT</Creation-Time><Last-Modified>Thu, 29 Aug 2019 18:45:51 GMT</Last-Modified><Etag>0x8D72CB11DE4C045</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blo[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatmarker03949752bc36fb346943cfb?marker=2%21124%21MDAwMDQ4IWphdmFibG9ibGlzdGJsb2JzZmxhdG1hcmtlcjYwNTQ1Mjc0ZTU3ZmU4NDU3YTQ2OCEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-&maxresults=6&include=&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\" ContainerName=\"jtclistblobsflatmarker03949752bc36fb346943cfb\"><Marker>2!124!MDAwMDQ4IWphdmFibG9ibGlzdGJsb2JzZmxhdG1hcmtlcjYwNTQ1Mjc0ZTU3ZmU4NDU3YTQ2OCEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-</Marker><MaxResults>6</MaxResults><Blobs><Blob><Name>javabloblistblobsflatmarker60545274e57fe8457a468</Name><Properties><Creation-Time>Thu, 29 Aug 2019 18:45:52 GMT</Creation-Time><Last-Modified>Thu, 29 Aug 2019 18:45:52 GMT</Last-Modified><Etag>0x8D72CB11E00DABA</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-E[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtclistblobsflatmarker&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtclistblobsflatmarker</Prefix><Containers><Container><Name>jtclistblobsflatmarker03949752bc36fb346943cfb</Name><Properties><Last-Modified>Thu, 29 Aug 2019 18:45:51 GMT</Last-Modified><Etag>\"0x8D72CB11DDF453A\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatmarker03949752bc36fb346943cfb?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtclistblobsflatmarker03949752bc36fb346943cfb", "javabloblistblobsflatmarker1482877d1c9ff4fc224ff", "javabloblistblobsflatmarker22132922762943f1b9411", "javabloblistblobsflatmarker337237043ddc41b5384d9", "javabloblistblobsflatmarker4189923cf67dc74c4446e", "javabloblistblobsflatmarker503373a9cfacc7b9c2459", "javabloblistblobsflatmarker60545274e57fe8457a468", "javabloblistblobsflatmarker7843094c5021520bdf42d", "javabloblistblobsflatmarker8371618da289be123d4da", "javabloblistblobsflatmarker932312f3b1cf606c0b4e4", "javabloblistblobsflatmarker10965924fd3e61ec73b43" ]
}