{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatoptionscopy55024aa07281e313b4ba?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77E9417D4B1D2",
      "Last-Modified" : "Wed, 11 Dec 2019 23:44:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatoptionscopy55024aa07281e313b4ba/ajavabloblistblobsflatoptionscopy27745b7c33b94dc294",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77E9417DBBAAC",
      "Last-Modified" : "Wed, 11 Dec 2019 23:44:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatoptionscopy55024aa07281e313b4ba/cjavabloblistblobsflatoptionscopy30425c9eb7691fbc04",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "d05e7f23-7b81-4f16-ae8b-0969c5dde007",
      "ETag" : "0x8D77E94183A93DE",
      "Last-Modified" : "Wed, 11 Dec 2019 23:44:42 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "success",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatoptionscopy55024aa07281e313b4ba/cjavabloblistblobsflatoptionscopy30425c9eb7691fbc04",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-copy-id" : "d05e7f23-7b81-4f16-ae8b-0969c5dde007",
      "x-ms-lease-state" : "available",
      "x-ms-copy-source" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatoptionscopy55024aa07281e313b4ba/ajavabloblistblobsflatoptionscopy27745b7c33b94dc294",
      "x-ms-blob-sequence-number" : "0",
      "x-ms-copy-progress" : "512/512",
      "Last-Modified" : "Wed, 11 Dec 2019 23:44:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-copy-completion-time" : "Wed, 11 Dec 2019 23:44:42 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D77E94183A93DE",
      "x-ms-creation-time" : "Wed, 11 Dec 2019 23:44:42 GMT",
      "x-ms-copy-status" : "success",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatoptionscopy55024aa07281e313b4ba/mjavabloblistblobsflatoptionscopy63097e90136553a5c4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77E941B427883",
      "Last-Modified" : "Wed, 11 Dec 2019 23:44:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatoptionscopy55024aa07281e313b4ba/ujavabloblistblobsflatoptionscopy66361d699e18faf834?blockid=MmFhYzBlODEtYzYyNi00OGE5LWI2NDctYWU2OWU2Y2Y3Mzg1&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatoptionscopy55024aa07281e313b4ba/ajavabloblistblobsflatoptionscopy27745b7c33b94dc294?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-12-11T23:44:47.4475807Z",
      "ETag" : "0x8D77E9417DBBAAC",
      "Last-Modified" : "Wed, 11 Dec 2019 23:44:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatoptionscopy55024aa07281e313b4ba?include=copy&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\" ContainerName=\"jtclistblobsflatoptionscopy55024aa07281e313b4ba\"><Blobs><Blob><Name>ajavabloblistblobsflatoptionscopy27745b7c33b94dc294</Name><Properties><Creation-Time>Wed, 11 Dec 2019 23:44:41 GMT</Creation-Time><Last-Modified>Wed, 11 Dec 2019 23:44:41 GMT</Last-Modified><Etag>0x8D77E9417DBBAAC</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>cjavabloblistblobsflatoptionscopy30425c9eb7691fbc04</Name><Properties><Creation-Time>Wed, 11 Dec 2019 23:44:42 GMT</Creation-Time><Last-Modified>Wed, 11 Dec 2019 23:44:42 GMT</Last-Modified><Etag>0x8D77E94183A93DE</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><CopyId>d05e7f23-7b81-4f16-ae8b-0969c5dde007</CopyId><CopySource>https://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatoptionscopy55024aa07281e313b4ba/ajavabloblistblobsflatoptionscopy27745b7c33b94dc294</CopySource><CopyStatus>success</CopyStatus><CopyProgress>512/512</CopyProgress><CopyCompletionTime>Wed, 11 Dec 2019 23:44:42 GMT</CopyCompletionTime><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>mjavabloblistblobsflatoptionscopy63097e90136553a5c4</Name><Properties><Creation-Time>Wed, 11 Dec 2019 23:44:47 GMT</Creation-Time><Last-Modified>Wed, 11 Dec 2019 23:44:47 GMT</Last-Modified><Etag>0x8D77E941B427883</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtclistblobsflatoptionscopy&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtclistblobsflatoptionscopy</Prefix><Containers><Container><Name>jtclistblobsflatoptionscopy55024aa07281e313b4ba</Name><Properties><Last-Modified>Wed, 11 Dec 2019 23:44:41 GMT</Last-Modified><Etag>\"0x8D77E9417D4B1D2\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatoptionscopy55024aa07281e313b4ba?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtclistblobsflatoptionscopy55024aa07281e313b4ba", "javabloblistblobsflatoptionscopy27745b7c33b94dc294", "javabloblistblobsflatoptionscopy30425c9eb7691fbc04", "javabloblistblobsflatoptionscopy63097e90136553a5c4", "javabloblistblobsflatoptionscopy66361d699e18faf834", "2aac0e81-c626-48a9-b647-ae69e6cf7385" ]
}