{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatoptionsmetadata0439117dc9f2720c234?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D730FEDD49FE0E\"",
      "Last-Modified" : "Wed, 04 Sep 2019 06:12:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatoptionsmetadata0439117dc9f2720c234/ajavabloblistblobsflatoptionsmetadata175464c4f2a0c326",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D730FEDD51652C\"",
      "Last-Modified" : "Wed, 04 Sep 2019 06:12:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatoptionsmetadata0439117dc9f2720c234/cjavabloblistblobsflatoptionsmetadata210831692b098ad0",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "859fbd52-5e92-4d54-a19a-a16f78f99690",
      "ETag" : "\"0x8D730FEDD5DEB41\"",
      "Last-Modified" : "Wed, 04 Sep 2019 06:12:28 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "success",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatoptionsmetadata0439117dc9f2720c234/cjavabloblistblobsflatoptionsmetadata210831692b098ad0",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Wed, 04 Sep 2019 06:12:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Wed, 04 Sep 2019 06:12:28 GMT",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "859fbd52-5e92-4d54-a19a-a16f78f99690",
      "x-ms-copy-source" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatoptionsmetadata0439117dc9f2720c234/ajavabloblistblobsflatoptionsmetadata175464c4f2a0c326",
      "x-ms-blob-sequence-number" : "0",
      "x-ms-copy-progress" : "512/512",
      "x-ms-copy-completion-time" : "Wed, 04 Sep 2019 06:12:28 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D730FEDD5DEB41\"",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatoptionsmetadata0439117dc9f2720c234/mjavabloblistblobsflatoptionsmetadata319178f59b53760a",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D730FEDE013016\"",
      "Last-Modified" : "Wed, 04 Sep 2019 06:12:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatoptionsmetadata0439117dc9f2720c234/ajavabloblistblobsflatoptionsmetadata175464c4f2a0c326?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-09-04T06:12:30.1021104Z",
      "ETag" : "\"0x8D730FEDD51652C\"",
      "Last-Modified" : "Wed, 04 Sep 2019 06:12:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatoptionsmetadata0439117dc9f2720c234/ujavabloblistblobsflatoptionsmetadata4620212c31f37045?blockid=0000&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatoptionsmetadata0439117dc9f2720c234?include=metadata&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://azstoragesdkaccount.blob.core.windows.net/\" ContainerName=\"jtclistblobsflatoptionsmetadata0439117dc9f2720c234\"><Blobs><Blob><Name>ajavabloblistblobsflatoptionsmetadata175464c4f2a0c326</Name><Properties><Creation-Time>Wed, 04 Sep 2019 06:12:28 GMT</Creation-Time><Last-Modified>Wed, 04 Sep 2019 06:12:28 GMT</Last-Modified><Etag>0x8D730FEDD51652C</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted><TagCount>0</TagCount></Properties><Metadata /></Blob><Blob><Name>cjavabloblistblobsflatoptionsmetadata210831692b098ad0</Name><Properties><Creation-Time>Wed, 04 Sep 2019 06:12:28 GMT</Creation-Time><Last-Modified>Wed, 04 Sep 2019 06:12:28 GMT</Last-Modified><Etag>0x8D730FEDD5DEB41</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number>[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net?prefix=jtclistblobsflatoptionsmetadata&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtclistblobsflatoptionsmetadata</Prefix><Containers><Container><Name>jtclistblobsflatoptionsmetadata0439117dc9f2720c234</Name><Properties><Last-Modified>Wed, 04 Sep 2019 06:12:28 GMT</Last-Modified><Etag>\"0x8D730FEDD49FE0E\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatoptionsmetadata0439117dc9f2720c234?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtclistblobsflatoptionsmetadata0439117dc9f2720c234", "javabloblistblobsflatoptionsmetadata175464c4f2a0c326", "javabloblistblobsflatoptionsmetadata210831692b098ad0", "javabloblistblobsflatoptionsmetadata319178f59b53760a", "javabloblistblobsflatoptionsmetadata4620212c31f37045" ]
}