{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.blob.core.windows.net/jtcgetcontainername0containerapitestgetcontainernamedcb529325?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73BF1E8D6318F\"",
      "Last-Modified" : "Wed, 18 Sep 2019 04:37:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.blob.core.windows.net?prefix=jtcgetcontainername&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://sima.blob.core.windows.net/\"><Prefix>jtcgetcontainername</Prefix><Containers><Container><Name>jtcgetcontainername0containerapitestgetcontainername48664316a</Name><Properties><Last-Modified>Wed, 18 Sep 2019 04:33:51 GMT</Last-Modified><Etag>\"0x8D73BF168583BC8\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcgetcontainername0containerapitestgetcontainernamedcb529325</Name><Properties><Last-Modified>Wed, 18 Sep 2019 04:37:27 GMT</Last-Modified><Etag>\"0x8D73BF1E8D6318F\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sima.blob.core.windows.net/jtcgetcontainername0containerapitestgetcontainernamedcb529325?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcgetcontainername0containerapitestgetcontainernamedcb529325", "jtcgetcontainername1containerapitestgetcontainernamedcb443397" ]
}