{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionsmaxresults092277ca88766a9510?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7E56F849BEEC2",
      "Last-Modified" : "Mon, 20 Apr 2020 21:12:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionsmaxresults092277ca88766a9510/ajavabloblistblobsflatoptionsmaxresults1133503ec580eba",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7E56F84E6E318",
      "Last-Modified" : "Mon, 20 Apr 2020 21:12:23 GMT",
      "x-ms-version-id" : "2020-04-20T21:12:23.0069016Z",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionsmaxresults092277ca88766a9510/cjavabloblistblobsflatoptionsmaxresults232038f90317e4f",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "x-ms-copy-id" : "6fd5f57b-1632-4f66-9876-a99129aa2685",
      "Last-Modified" : "Mon, 20 Apr 2020 21:12:23 GMT",
      "x-ms-version-id" : "2020-04-20T21:12:23.4302016Z",
      "retry-after" : "0",
      "StatusCode" : "202",
      "ETag" : "0x8D7E56F85275329",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionsmaxresults092277ca88766a9510/cjavabloblistblobsflatoptionsmaxresults232038f90317e4f",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-is-current-version" : "true",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "x-ms-version-id" : "2020-04-20T21:12:23.4302016Z",
      "Last-Modified" : "Mon, 20 Apr 2020 21:12:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-creation-time" : "Mon, 20 Apr 2020 21:12:23 GMT",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-12-12",
      "x-ms-copy-id" : "6fd5f57b-1632-4f66-9876-a99129aa2685",
      "x-ms-copy-source" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionsmaxresults092277ca88766a9510/ajavabloblistblobsflatoptionsmaxresults1133503ec580eba",
      "x-ms-blob-sequence-number" : "0",
      "x-ms-copy-progress" : "512/512",
      "x-ms-copy-completion-time" : "Mon, 20 Apr 2020 21:12:23 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7E56F85275329",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionsmaxresults092277ca88766a9510/mjavabloblistblobsflatoptionsmaxresults325067fc9688c43",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7E56F889E2F1A",
      "Last-Modified" : "Mon, 20 Apr 2020 21:12:29 GMT",
      "x-ms-version-id" : "2020-04-20T21:12:29.2423217Z",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionsmaxresults092277ca88766a9510/tjavabloblistblobsflatoptionsmaxresults4198666b298a736",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7E56F88D044AF",
      "Last-Modified" : "Mon, 20 Apr 2020 21:12:29 GMT",
      "x-ms-version-id" : "2020-04-20T21:12:29.5695535Z",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionsmaxresults092277ca88766a9510/ujavabloblistblobsflatoptionsmaxresults5070932dc5bde56?blockid=ZmE5ZjNiYzAtODQ1OS00OTYxLWI2NTItYmI4YzEwZDczNDdm&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-12-12",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionsmaxresults092277ca88766a9510/ajavabloblistblobsflatoptionsmaxresults1133503ec580eba?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "Last-Modified" : "Mon, 20 Apr 2020 21:12:23 GMT",
      "x-ms-version-id" : "2020-04-20T21:12:30.3040732Z",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false",
      "x-ms-snapshot" : "2020-04-20T21:12:30.3030732Z",
      "ETag" : "0x8D7E56F84E6E318"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionsmaxresults092277ca88766a9510?maxresults=2&include=copy%2csnapshots%2cuncommittedblobs&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://blobindex1.blob.core.windows.net/\" ContainerName=\"jtclistblobsflatoptionsmaxresults092277ca88766a9510\"><MaxResults>2</MaxResults><Blobs><Blob><Name>ajavabloblistblobsflatoptionsmaxresults1133503ec580eba</Name><Snapshot>2020-04-20T21:12:30.3030732Z</Snapshot><Properties><Creation-Time>Mon, 20 Apr 2020 21:12:23 GMT</Creation-Time><Last-Modified>Mon, 20 Apr 2020 21:12:23 GMT</Last-Modified><Etag>0x8D7E56F84E6E318</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>ajavabloblistblobsflatoptionsmaxresults1133503ec580eba</Name><VersionId>2020-04-20T21:12:30.3040732Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 20 Apr 2020 21:12:23 GMT</Creation-Time><Last-Modified>Mon, 20 Apr 2020 21:12:23 GMT</Last-Modified><Etag>0x8D7E56F84E6E318</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker>2!132!MDAwMDU0IWNqYXZhYmxvYmxpc3RibG9ic2ZsYXRvcHRpb25zbWF4cmVzdWx0czIzMjAzOGY5MDMxN2U0ZiEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-</NextMarker></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionsmaxresults092277ca88766a9510?marker=2%21132%21MDAwMDU0IWNqYXZhYmxvYmxpc3RibG9ic2ZsYXRvcHRpb25zbWF4cmVzdWx0czIzMjAzOGY5MDMxN2U0ZiEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-&maxresults=2&include=copy%2csnapshots%2cuncommittedblobs&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://blobindex1.blob.core.windows.net/\" ContainerName=\"jtclistblobsflatoptionsmaxresults092277ca88766a9510\"><Marker>2!132!MDAwMDU0IWNqYXZhYmxvYmxpc3RibG9ic2ZsYXRvcHRpb25zbWF4cmVzdWx0czIzMjAzOGY5MDMxN2U0ZiEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-</Marker><MaxResults>2</MaxResults><Blobs><Blob><Name>cjavabloblistblobsflatoptionsmaxresults232038f90317e4f</Name><VersionId>2020-04-20T21:12:23.4302016Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 20 Apr 2020 21:12:23 GMT</Creation-Time><Last-Modified>Mon, 20 Apr 2020 21:12:23 GMT</Last-Modified><Etag>0x8D7E56F85275329</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><CopyId>6fd5f57b-1632-4f66-9876-a99129aa2685</CopyId><CopySource>https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionsmaxresults092277ca88766a9510/ajavabloblistblobsflatoptionsmaxresults1133503ec580eba</CopySource><CopyStatus>success</CopyStatus><CopyProgress>512/512</CopyProgress><CopyCompletionTime>Mon, 20 Apr 2020 21:12:23 GMT</CopyCompletionTime><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>mjavabloblistblobsflatoptionsmaxresults325067fc9688c43</Name><VersionId>2020-04-20T21:12:29.2423217Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 20 Apr 2020 21:12:29 GMT</Creation-Time><Last-Modified>Mon, 20 Apr 2020 21:12:29 GMT</Last-Modified><Etag>0x8D7E56F889E2F1A</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker>2!132!MDAwMDU0IXRqYXZhYmxvYmxpc3RibG9ic2ZsYXRvcHRpb25zbWF4cmVzdWx0czQxOTg2NjZiMjk4YTczNiEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-</NextMarker></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://blobindex1.blob.core.windows.net?prefix=jtclistblobsflatoptionsmaxresults&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://blobindex1.blob.core.windows.net/\"><Prefix>jtclistblobsflatoptionsmaxresults</Prefix><Containers><Container><Name>jtclistblobsflatoptionsmaxresults092277ca88766a9510</Name><Properties><Last-Modified>Mon, 20 Apr 2020 21:12:22 GMT</Last-Modified><Etag>\"0x8D7E56F849BEEC2\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionsmaxresults092277ca88766a9510?marker=2%21132%21MDAwMDU0IXRqYXZhYmxvYmxpc3RibG9ic2ZsYXRvcHRpb25zbWF4cmVzdWx0czQxOTg2NjZiMjk4YTczNiEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-&maxresults=2&include=copy%2csnapshots%2cuncommittedblobs&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retr[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionsmaxresults092277ca88766a9510?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtclistblobsflatoptionsmaxresults092277ca88766a9510", "javabloblistblobsflatoptionsmaxresults1133503ec580eba", "javabloblistblobsflatoptionsmaxresults232038f90317e4f", "javabloblistblobsflatoptionsmaxresults325067fc9688c43", "javabloblistblobsflatoptionsmaxresults4198666b298a736", "javabloblistblobsflatoptionsmaxresults5070932dc5bde56", "fa9f3bc0-8459-4961-b652-bb8c10d7347f" ]
}