{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionscopy0676356275d8b349b640a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7E5793CDC85CB",
      "Last-Modified" : "Mon, 20 Apr 2020 22:21:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionscopy0676356275d8b349b640a/ajavabloblistblobsflatoptionscopy1534112ada38b40d08",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7E5793D289FCA",
      "Last-Modified" : "Mon, 20 Apr 2020 22:21:57 GMT",
      "x-ms-version-id" : "2020-04-20T22:21:57.6100582Z",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionscopy0676356275d8b349b640a/cjavabloblistblobsflatoptionscopy29240598d27cfdf6cc",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "x-ms-copy-id" : "f701fe86-a49a-4595-88fe-0a48b3dfa81f",
      "Last-Modified" : "Mon, 20 Apr 2020 22:21:58 GMT",
      "x-ms-version-id" : "2020-04-20T22:21:58.4146284Z",
      "retry-after" : "0",
      "StatusCode" : "202",
      "ETag" : "0x8D7E5793DA36455",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionscopy0676356275d8b349b640a/cjavabloblistblobsflatoptionscopy29240598d27cfdf6cc",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-is-current-version" : "true",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "x-ms-version-id" : "2020-04-20T22:21:58.4146284Z",
      "Last-Modified" : "Mon, 20 Apr 2020 22:21:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-creation-time" : "Mon, 20 Apr 2020 22:21:58 GMT",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-12-12",
      "x-ms-copy-id" : "f701fe86-a49a-4595-88fe-0a48b3dfa81f",
      "x-ms-copy-source" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionscopy0676356275d8b349b640a/ajavabloblistblobsflatoptionscopy1534112ada38b40d08",
      "x-ms-blob-sequence-number" : "0",
      "x-ms-copy-progress" : "512/512",
      "x-ms-copy-completion-time" : "Mon, 20 Apr 2020 22:21:58 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7E5793DA36455",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionscopy0676356275d8b349b640a/mjavabloblistblobsflatoptionscopy3158189639d49095ba",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7E5794114E81D",
      "Last-Modified" : "Mon, 20 Apr 2020 22:22:04 GMT",
      "x-ms-version-id" : "2020-04-20T22:22:04.1907229Z",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionscopy0676356275d8b349b640a/tjavabloblistblobsflatoptionscopy4234777842a52f0009",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7E579414A80BD",
      "Last-Modified" : "Mon, 20 Apr 2020 22:22:04 GMT",
      "x-ms-version-id" : "2020-04-20T22:22:04.5429712Z",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionscopy0676356275d8b349b640a/ujavabloblistblobsflatoptionscopy509341a4e6b7cd328e?blockid=OTMzMDc2MjgtOGFlMS00ZmE2LTg0NzAtOTA0YzQ1NWUzOGYx&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-12-12",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionscopy0676356275d8b349b640a/ajavabloblistblobsflatoptionscopy1534112ada38b40d08?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "Last-Modified" : "Mon, 20 Apr 2020 22:21:57 GMT",
      "x-ms-version-id" : "2020-04-20T22:22:05.3585438Z",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false",
      "x-ms-snapshot" : "2020-04-20T22:22:05.3575438Z",
      "ETag" : "0x8D7E5793D289FCA"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionscopy0676356275d8b349b640a?include=copy&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://blobindex1.blob.core.windows.net/\" ContainerName=\"jtclistblobsflatoptionscopy0676356275d8b349b640a\"><Blobs><Blob><Name>ajavabloblistblobsflatoptionscopy1534112ada38b40d08</Name><VersionId>2020-04-20T22:22:05.3585438Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 20 Apr 2020 22:21:57 GMT</Creation-Time><Last-Modified>Mon, 20 Apr 2020 22:21:57 GMT</Last-Modified><Etag>0x8D7E5793D289FCA</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>cjavabloblistblobsflatoptionscopy29240598d27cfdf6cc</Name><VersionId>2020-04-20T22:21:58.4146284Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 20 Apr 2020 22:21:58 GMT</Creation-Time><Last-Modified>Mon, 20 Apr 2020 22:21:58 GMT</Last-Modified><Etag>0x8D7E5793DA36455</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><CopyId>f701fe86-a49a-4595-88fe-0a48b3dfa81f</CopyId><CopySource>https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionscopy0676356275d8b349b640a/ajavabloblistblobsflatoptionscopy1534112ada38b40d08</CopySource><CopyStatus>success</CopyStatus><CopyProgress>512/512</CopyProgress><CopyCompletionTime>Mon, 20 Apr 2020 22:21:58 GMT</CopyCompletionTime><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>mjavabloblistblobsflatoptionscopy3158189639d49095ba</Name><VersionId>2020-04-20T22:22:04.1907229Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 20 Apr 2020 22:22:04 GMT</Creation-Time><Last-Modified>Mon, 20 Apr 2020 22:22:04 GMT</Last-Modified><Etag>0x8D7E5794114E81D</Etag><Content-Length>512</Content-Length><Content-Type>application/octet[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://blobindex1.blob.core.windows.net?prefix=jtclistblobsflatoptionscopy&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://blobindex1.blob.core.windows.net/\"><Prefix>jtclistblobsflatoptionscopy</Prefix><Containers><Container><Name>jtclistblobsflatoptionscopy0676356275d8b349b640a</Name><Properties><Last-Modified>Mon, 20 Apr 2020 22:21:57 GMT</Last-Modified><Etag>\"0x8D7E5793CDC85CB\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionscopy0676356275d8b349b640a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtclistblobsflatoptionscopy0676356275d8b349b640a", "javabloblistblobsflatoptionscopy1534112ada38b40d08", "javabloblistblobsflatoptionscopy29240598d27cfdf6cc", "javabloblistblobsflatoptionscopy3158189639d49095ba", "javabloblistblobsflatoptionscopy4234777842a52f0009", "javabloblistblobsflatoptionscopy509341a4e6b7cd328e", "93307628-8ae1-4fa6-8470-904c455e38f1" ]
}