{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtccreatemin0containerapitestcreatemine9a22241c402f1dc?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72CEFD0F3D8F2\"",
      "Last-Modified" : "Fri, 30 Aug 2019 02:14:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtccreatemin1containerapitestcreatemine9a97718e5bb0d54?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "x-ms-deny-encryption-scope-override" : "false",
      "Last-Modified" : "Fri, 30 Aug 2019 02:14:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "x-ms-default-encryption-scope" : "$account-encryption-key",
      "ETag" : "\"0x8D72CEFD10B0EB5\"",
      "x-ms-has-immutability-policy" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev3.blob.core.windows.net?prefix=jtccreatemin&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev3.blob.core.windows.net/\"><Prefix>jtccreatemin</Prefix><Containers><Container><Name>jtccreatemin0containerapitestcreatemine9a22241c402f1dc</Name><Properties><Last-Modified>Fri, 30 Aug 2019 02:14:41 GMT</Last-Modified><Etag>\"0x8D72CEFD0F3D8F2\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtccreatemin1containerapitestcreatemine9a97718e5bb0d54</Name><Properties><Last-Modified>Fri, 30 Aug 2019 02:14:41 GMT</Last-Modified><Etag>\"0x8D72CEFD10B0EB5\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtccreatemin1containerapitestcreatemine9a97718e5bb0d54?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtccreatemin0containerapitestcreatemine9a22241c402f1dc", "jtccreatemin1containerapitestcreatemine9a97718e5bb0d54" ]
}