{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatmarker0163586b6082a09e3542248?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7689E83C8C297",
      "Last-Modified" : "Thu, 14 Nov 2019 01:03:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatmarker0163586b6082a09e3542248/javabloblistblobsflatmarker19670764fe152fb8f347d",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D7689E83DF3EEE",
      "Last-Modified" : "Thu, 14 Nov 2019 01:03:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatmarker0163586b6082a09e3542248?maxresults=6&include=&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\" ContainerName=\"jtclistblobsflatmarker0163586b6082a09e3542248\"><MaxResults>6</MaxResults><Blobs><Blob><Name>javabloblistblobsflatmarker103977437ea4a28e5f04e</Name><Properties><Creation-Time>Thu, 14 Nov 2019 01:03:52 GMT</Creation-Time><Last-Modified>Thu, 14 Nov 2019 01:03:52 GMT</Last-Modified><Etag>0x8D7689E8412908D</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>javabloblistblobsflatmarker19670764fe152fb8f347d</Name><Properties><Creation-Time>Thu, 14 Nov 2019 01:03:52 GMT</Creation-Time><Last-Modified>Thu, 14 Nov 2019 01:03:52 GMT</Last-Modified><Etag>0x8D7689E83DF3EEE</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatmarker0163586b6082a09e3542248?marker=2%21124%21MDAwMDQ4IWphdmFibG9ibGlzdGJsb2JzZmxhdG1hcmtlcjYzNzk0Mzg1YzU5OGRmOWUwYjQ1MCEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-&maxresults=6&include=&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\" ContainerName=\"jtclistblobsflatmarker0163586b6082a09e3542248\"><Marker>2!124!MDAwMDQ4IWphdmFibG9ibGlzdGJsb2JzZmxhdG1hcmtlcjYzNzk0Mzg1YzU5OGRmOWUwYjQ1MCEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-</Marker><MaxResults>6</MaxResults><Blobs><Blob><Name>javabloblistblobsflatmarker63794385c598df9e0b450</Name><Properties><Creation-Time>Thu, 14 Nov 2019 01:03:52 GMT</Creation-Time><Last-Modified>Thu, 14 Nov 2019 01:03:52 GMT</Last-Modified><Etag>0x8D7689E83FB0B24</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-E[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtclistblobsflatmarker&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtclistblobsflatmarker</Prefix><Containers><Container><Name>jtclistblobsflatmarker0163586b6082a09e3542248</Name><Properties><Last-Modified>Thu, 14 Nov 2019 01:03:52 GMT</Last-Modified><Etag>\"0x8D7689E83C8C297\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobsflatmarker0163586b6082a09e3542248?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtclistblobsflatmarker0163586b6082a09e3542248", "javabloblistblobsflatmarker19670764fe152fb8f347d", "javabloblistblobsflatmarker2188444c3f4ed3959844a", "javabloblistblobsflatmarker32446715a0fa6c40db4b6", "javabloblistblobsflatmarker433306efeeb01528a94b7", "javabloblistblobsflatmarker502449e5902d4cae4143c", "javabloblistblobsflatmarker63794385c598df9e0b450", "javabloblistblobsflatmarker714552972ace6c00864e4", "javabloblistblobsflatmarker886605da9cbcf22f20448", "javabloblistblobsflatmarker904210bd5fea58dc0146f", "javabloblistblobsflatmarker103977437ea4a28e5f04e" ]
}