{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobshieroptionscopy123132d9259e23af541d?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77E949212DFAE",
      "Last-Modified" : "Wed, 11 Dec 2019 23:48:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobshieroptionscopy123132d9259e23af541d/ajavabloblistblobshieroptionscopy1155834d19f453a504",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77E949218774E",
      "Last-Modified" : "Wed, 11 Dec 2019 23:48:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobshieroptionscopy123132d9259e23af541d/cjavabloblistblobshieroptionscopy602528901addcd55c4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "771cf044-64e9-464e-bced-b9f317ba5ba6",
      "ETag" : "0x8D77E94922B1988",
      "Last-Modified" : "Wed, 11 Dec 2019 23:48:06 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "success",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobshieroptionscopy123132d9259e23af541d/cjavabloblistblobshieroptionscopy602528901addcd55c4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-copy-id" : "771cf044-64e9-464e-bced-b9f317ba5ba6",
      "x-ms-lease-state" : "available",
      "x-ms-copy-source" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobshieroptionscopy123132d9259e23af541d/ajavabloblistblobshieroptionscopy1155834d19f453a504",
      "x-ms-blob-sequence-number" : "0",
      "x-ms-copy-progress" : "512/512",
      "Last-Modified" : "Wed, 11 Dec 2019 23:48:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-copy-completion-time" : "Wed, 11 Dec 2019 23:48:06 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D77E94922B1988",
      "x-ms-creation-time" : "Wed, 11 Dec 2019 23:48:06 GMT",
      "x-ms-copy-status" : "success",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobshieroptionscopy123132d9259e23af541d/mjavabloblistblobshieroptionscopy70927e3f8964e0ffd4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : null,
    "Exception" : {
      "ClassName" : "java.io.IOException",
      "ErrorMessage" : "An existing connection was forcibly closed by the remote host"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobshieroptionscopy123132d9259e23af541d/ujavabloblistblobshieroptionscopy5198478df4dc536b54?blockid=NzQ1NWE3ZjYtYjc3Mi00YzlkLTg2OGQtMzhkNzE0YTAxZTU5&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobshieroptionscopy123132d9259e23af541d/ajavabloblistblobshieroptionscopy1155834d19f453a504?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-12-11T23:48:35.2023304Z",
      "ETag" : "0x8D77E949218774E",
      "Last-Modified" : "Wed, 11 Dec 2019 23:48:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobshieroptionscopy123132d9259e23af541d?delimiter=&include=copy&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\" ContainerName=\"jtclistblobshieroptionscopy123132d9259e23af541d\"><Blobs><Blob><Name>ajavabloblistblobshieroptionscopy1155834d19f453a504</Name><Properties><Creation-Time>Wed, 11 Dec 2019 23:48:06 GMT</Creation-Time><Last-Modified>Wed, 11 Dec 2019 23:48:06 GMT</Last-Modified><Etag>0x8D77E949218774E</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>cjavabloblistblobshieroptionscopy602528901addcd55c4</Name><Properties><Creation-Time>Wed, 11 Dec 2019 23:48:06 GMT</Creation-Time><Last-Modified>Wed, 11 Dec 2019 23:48:06 GMT</Last-Modified><Etag>0x8D77E94922B1988</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><CopyId>771cf044-64e9-464e-bced-b9f317ba5ba6</CopyId><CopySource>https://azstoragesdkaccount.blob.core.windows.net/jtclistblobshieroptionscopy123132d9259e23af541d/ajavabloblistblobshieroptionscopy1155834d19f453a504</CopySource><CopyStatus>success</CopyStatus><CopyProgress>512/512</CopyProgress><CopyCompletionTime>Wed, 11 Dec 2019 23:48:06 GMT</CopyCompletionTime><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>mjavabloblistblobshieroptionscopy70927e3f8964e0ffd4</Name><Properties><Creation-Time>Wed, 11 Dec 2019 23:48:35 GMT</Creation-Time><Last-Modified>Wed, 11 Dec 2019 23:48:35 GMT</Last-Modified><Etag>0x8D77E94A301B683</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtclistblobshieroptionscopy&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtclistblobshieroptionscopy</Prefix><Containers><Container><Name>jtclistblobshieroptionscopy123132d9259e23af541d</Name><Properties><Last-Modified>Wed, 11 Dec 2019 23:48:06 GMT</Last-Modified><Etag>\"0x8D77E949212DFAE\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistblobshieroptionscopy123132d9259e23af541d?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtclistblobshieroptionscopy123132d9259e23af541d", "javabloblistblobshieroptionscopy1155834d19f453a504", "javabloblistblobshieroptionscopy602528901addcd55c4", "javabloblistblobshieroptionscopy70927e3f8964e0ffd4", "javabloblistblobshieroptionscopy5198478df4dc536b54", "7455a7f6-b772-4c9d-868d-38d714a01e59" ]
}