{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsetmetadatamincontainerapitestsetmetadatamin676883547b9d?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77E94133A2227",
      "Last-Modified" : "Wed, 11 Dec 2019 23:44:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsetmetadatamincontainerapitestsetmetadatamin676883547b9d?restype=container&comp=metadata",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77E94133F64F3",
      "Last-Modified" : "Wed, 11 Dec 2019 23:44:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsetmetadatamincontainerapitestsetmetadatamin676883547b9d?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "x-ms-deny-encryption-scope-override" : "false",
      "Last-Modified" : "Wed, 11 Dec 2019 23:44:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "x-ms-meta-foo" : "bar",
      "x-ms-default-encryption-scope" : "$account-encryption-key",
      "ETag" : "0x8D77E94133F64F3",
      "x-ms-has-immutability-policy" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcsetmetadatamin&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcsetmetadatamin</Prefix><Containers><Container><Name>jtcsetmetadatamincontainerapitestsetmetadatamin676883547b9d</Name><Properties><Last-Modified>Wed, 11 Dec 2019 23:44:33 GMT</Last-Modified><Etag>\"0x8D77E94133F64F3\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsetmetadatamincontainerapitestsetmetadatamin676883547b9d?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcsetmetadatamincontainerapitestsetmetadatamin676883547b9d" ]
}