{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionssnapshots085776e5c4c1a9466d?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7E56F1615AB56",
      "Last-Modified" : "Mon, 20 Apr 2020 21:09:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionssnapshots085776e5c4c1a9466d/ajavabloblistblobsflatoptionssnapshots182173b3e1e29991",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7E56F1663A68E",
      "Last-Modified" : "Mon, 20 Apr 2020 21:09:17 GMT",
      "x-ms-version-id" : "2020-04-20T21:09:17.5974542Z",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionssnapshots085776e5c4c1a9466d/cjavabloblistblobsflatoptionssnapshots214080bd40489ba3",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "x-ms-copy-id" : "1c7cfad6-80b9-4f48-a988-55adf1e3b90f",
      "Last-Modified" : "Mon, 20 Apr 2020 21:09:18 GMT",
      "x-ms-version-id" : "2020-04-20T21:09:18.0357654Z",
      "retry-after" : "0",
      "StatusCode" : "202",
      "ETag" : "0x8D7E56F16A660FE",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionssnapshots085776e5c4c1a9466d/cjavabloblistblobsflatoptionssnapshots214080bd40489ba3",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-is-current-version" : "true",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "x-ms-version-id" : "2020-04-20T21:09:18.0357654Z",
      "Last-Modified" : "Mon, 20 Apr 2020 21:09:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-creation-time" : "Mon, 20 Apr 2020 21:09:18 GMT",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-12-12",
      "x-ms-copy-id" : "1c7cfad6-80b9-4f48-a988-55adf1e3b90f",
      "x-ms-copy-source" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionssnapshots085776e5c4c1a9466d/ajavabloblistblobsflatoptionssnapshots182173b3e1e29991",
      "x-ms-blob-sequence-number" : "0",
      "x-ms-copy-progress" : "512/512",
      "x-ms-copy-completion-time" : "Mon, 20 Apr 2020 21:09:18 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7E56F16A660FE",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionssnapshots085776e5c4c1a9466d/mjavabloblistblobsflatoptionssnapshots3658422079e0f91e",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7E56F1A128C99",
      "Last-Modified" : "Mon, 20 Apr 2020 21:09:23 GMT",
      "x-ms-version-id" : "2020-04-20T21:09:23.7768345Z",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionssnapshots085776e5c4c1a9466d/tjavabloblistblobsflatoptionssnapshots460565a33b0d610a",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7E56F1A42A607",
      "Last-Modified" : "Mon, 20 Apr 2020 21:09:24 GMT",
      "x-ms-version-id" : "2020-04-20T21:09:24.0930590Z",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionssnapshots085776e5c4c1a9466d/ujavabloblistblobsflatoptionssnapshots550609cb3d8224fd?blockid=ZWNhZWQ3ZDUtYzQ5MS00ZWE5LWI1NjMtNjg0MjNiYmRjMGNk&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-12-12",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionssnapshots085776e5c4c1a9466d/ajavabloblistblobsflatoptionssnapshots182173b3e1e29991?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "Last-Modified" : "Mon, 20 Apr 2020 21:09:17 GMT",
      "x-ms-version-id" : "2020-04-20T21:09:24.8355839Z",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false",
      "x-ms-snapshot" : "2020-04-20T21:09:24.8345839Z",
      "ETag" : "0x8D7E56F1663A68E"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionssnapshots085776e5c4c1a9466d?include=snapshots&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://blobindex1.blob.core.windows.net/\" ContainerName=\"jtclistblobsflatoptionssnapshots085776e5c4c1a9466d\"><Blobs><Blob><Name>ajavabloblistblobsflatoptionssnapshots182173b3e1e29991</Name><Snapshot>2020-04-20T21:09:24.8345839Z</Snapshot><Properties><Creation-Time>Mon, 20 Apr 2020 21:09:17 GMT</Creation-Time><Last-Modified>Mon, 20 Apr 2020 21:09:17 GMT</Last-Modified><Etag>0x8D7E56F1663A68E</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>ajavabloblistblobsflatoptionssnapshots182173b3e1e29991</Name><VersionId>2020-04-20T21:09:24.8355839Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 20 Apr 2020 21:09:17 GMT</Creation-Time><Last-Modified>Mon, 20 Apr 2020 21:09:17 GMT</Last-Modified><Etag>0x8D7E56F1663A68E</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>cjavabloblistblobsflatoptionssnapshots214080bd40489ba3</Name><VersionId>2020-04-20T21:09:18.0357654Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Mon, 20 Apr 2020 21:09:18 GMT</Creation-Time><Last-Modified>Mon, 20 Apr 2020 21:09:18 GMT</Last-Modified><Etag>0x8D7E56F16A660FE</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Co[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://blobindex1.blob.core.windows.net?prefix=jtclistblobsflatoptionssnapshots&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://blobindex1.blob.core.windows.net/\"><Prefix>jtclistblobsflatoptionssnapshots</Prefix><Containers><Container><Name>jtclistblobsflatoptionssnapshots085776e5c4c1a9466d</Name><Properties><Last-Modified>Mon, 20 Apr 2020 21:09:17 GMT</Last-Modified><Etag>\"0x8D7E56F1615AB56\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtclistblobsflatoptionssnapshots085776e5c4c1a9466d?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtclistblobsflatoptionssnapshots085776e5c4c1a9466d", "javabloblistblobsflatoptionssnapshots182173b3e1e29991", "javabloblistblobsflatoptionssnapshots214080bd40489ba3", "javabloblistblobsflatoptionssnapshots3658422079e0f91e", "javabloblistblobsflatoptionssnapshots460565a33b0d610a", "javabloblistblobsflatoptionssnapshots550609cb3d8224fd", "ecaed7d5-c491-4ea9-b563-68423bbdc0cd" ]
}