{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtclistblobsflatmarker04621880aad6f4a4f8408fb?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F44AACB3D66",
      "Last-Modified" : "Thu, 12 Dec 2019 20:48:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtclistblobsflatmarker04621880aad6f4a4f8408fb/javabloblistblobsflatmarker140632033c779b98114c2",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F44AAD88481",
      "Last-Modified" : "Thu, 12 Dec 2019 20:48:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtclistblobsflatmarker04621880aad6f4a4f8408fb?maxresults=6&include=&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\" ContainerName=\"jtclistblobsflatmarker04621880aad6f4a4f8408fb\"><MaxResults>6</MaxResults><Blobs><Blob><Name>javabloblistblobsflatmarker1055004dff59e64bd4a4f</Name><Properties><Creation-Time>Thu, 12 Dec 2019 20:48:40 GMT</Creation-Time><Last-Modified>Thu, 12 Dec 2019 20:48:40 GMT</Last-Modified><Etag>0x8D77F44AB4B4139</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>javabloblistblobsflatmarker140632033c779b98114c2</Name><Properties><Creation-Time>Thu, 12 Dec 2019 20:48:39 GMT</Creation-Time><Last-Modified>Thu, 12 Dec 2019 20:48:39 GMT</Last-Modified><Etag>0x8D77F44AAD88481</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtclistblobsflatmarker04621880aad6f4a4f8408fb?marker=2%21124%21MDAwMDQ4IWphdmFibG9ibGlzdGJsb2JzZmxhdG1hcmtlcjY1NTQ5MGZhZjQ5NWY2OGE5MDQ2NiEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-&maxresults=6&include=&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\" ContainerName=\"jtclistblobsflatmarker04621880aad6f4a4f8408fb\"><Marker>2!124!MDAwMDQ4IWphdmFibG9ibGlzdGJsb2JzZmxhdG1hcmtlcjY1NTQ5MGZhZjQ5NWY2OGE5MDQ2NiEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-</Marker><MaxResults>6</MaxResults><Blobs><Blob><Name>javabloblistblobsflatmarker655490faf495f68a90466</Name><Properties><Creation-Time>Thu, 12 Dec 2019 20:48:40 GMT</Creation-Time><Last-Modified>Thu, 12 Dec 2019 20:48:40 GMT</Last-Modified><Etag>0x8D77F44AB1711A7</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-E[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net?prefix=jtclistblobsflatmarker&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\"><Prefix>jtclistblobsflatmarker</Prefix><Containers><Container><Name>jtclistblobsflatmarker04621880aad6f4a4f8408fb</Name><Properties><Last-Modified>Thu, 12 Dec 2019 20:48:39 GMT</Last-Modified><Etag>\"0x8D77F44AACB3D66\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtclistblobsflatmarker04621880aad6f4a4f8408fb?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtclistblobsflatmarker04621880aad6f4a4f8408fb", "javabloblistblobsflatmarker140632033c779b98114c2", "javabloblistblobsflatmarker22483272f13b425ec14d4", "javabloblistblobsflatmarker39305834057bb13276495", "javabloblistblobsflatmarker48012114bc9413f2764f0", "javabloblistblobsflatmarker536305992e2bd2f3a7420", "javabloblistblobsflatmarker655490faf495f68a90466", "javabloblistblobsflatmarker78971568167e96454f456", "javabloblistblobsflatmarker809256ad2751afec224e1", "javabloblistblobsflatmarker913428c3c6babdd6f441a", "javabloblistblobsflatmarker1055004dff59e64bd4a4f" ]
}