{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtclistblobshiermarker09830710d4dedc108a47a3b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F44D8480879",
      "Last-Modified" : "Thu, 12 Dec 2019 20:49:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtclistblobshiermarker09830710d4dedc108a47a3b/javabloblistblobshiermarker123019645480c6f41c4ba",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F44D854CB82",
      "Last-Modified" : "Thu, 12 Dec 2019 20:49:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtclistblobshiermarker09830710d4dedc108a47a3b?delimiter=/&maxresults=6&include=&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\" ContainerName=\"jtclistblobshiermarker09830710d4dedc108a47a3b\"><MaxResults>6</MaxResults><Delimiter>/</Delimiter><Blobs><Blob><Name>javabloblistblobshiermarker1060438e3d623467c6040</Name><Properties><Creation-Time>Thu, 12 Dec 2019 20:49:56 GMT</Creation-Time><Last-Modified>Thu, 12 Dec 2019 20:49:56 GMT</Last-Modified><Etag>0x8D77F44D8C4CB61</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob><Blob><Name>javabloblistblobshiermarker123019645480c6f41c4ba</Name><Properties><Creation-Time>Thu, 12 Dec 2019 20:49:56 GMT</Creation-Time><Last-Modified>Thu, 12 Dec 2019 20:49:56 GMT</Last-Modified><Etag>0x8D77F44D854CB82</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtclistblobshiermarker09830710d4dedc108a47a3b?delimiter=/&marker=2%21124%21MDAwMDQ4IWphdmFibG9ibGlzdGJsb2JzaGllcm1hcmtlcjYwMTAxODgwNTdiMjZmMmMxYzRlYiEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-&maxresults=6&include=&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\" ContainerName=\"jtclistblobshiermarker09830710d4dedc108a47a3b\"><Marker>2!124!MDAwMDQ4IWphdmFibG9ibGlzdGJsb2JzaGllcm1hcmtlcjYwMTAxODgwNTdiMjZmMmMxYzRlYiEwMDAwMjghOTk5OS0xMi0zMVQyMzo1OTo1OS45OTk5OTk5WiE-</Marker><MaxResults>6</MaxResults><Delimiter>/</Delimiter><Blobs><Blob><Name>javabloblistblobshiermarker6010188057b26f2c1c4eb</Name><Properties><Creation-Time>Thu, 12 Dec 2019 20:49:56 GMT</Creation-Time><Last-Modified>Thu, 12 Dec 2019 20:49:56 GMT</Last-Modified><Etag>0x8D77F44D89270CD</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream<[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net?prefix=jtclistblobshiermarker&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\"><Prefix>jtclistblobshiermarker</Prefix><Containers><Container><Name>jtclistblobshiermarker09830710d4dedc108a47a3b</Name><Properties><Last-Modified>Thu, 12 Dec 2019 20:49:55 GMT</Last-Modified><Etag>\"0x8D77F44D8480879\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtclistblobshiermarker09830710d4dedc108a47a3b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtclistblobshiermarker09830710d4dedc108a47a3b", "javabloblistblobshiermarker123019645480c6f41c4ba", "javabloblistblobshiermarker29821731903f1047924f0", "javabloblistblobshiermarker385183583a362796074e9", "javabloblistblobshiermarker433168b90d6732f8a645c", "javabloblistblobshiermarker5137958b7afe160b624b7", "javabloblistblobshiermarker6010188057b26f2c1c4eb", "javabloblistblobshiermarker7071993af99d0e21d5440", "javabloblistblobshiermarker8012324d8cb9e566e245a", "javabloblistblobshiermarker99816858f130c6ee6b476", "javabloblistblobshiermarker1060438e3d623467c6040" ]
}