{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtclistblobshieroptionsprefix005262dbe6b98ea6df41?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F44D532213E",
      "Last-Modified" : "Thu, 12 Dec 2019 20:49:50 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtclistblobshieroptionsprefix005262dbe6b98ea6df41/ajavabloblistblobshieroptionsprefix199067cb36e37f207",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F44D53F01AB",
      "Last-Modified" : "Thu, 12 Dec 2019 20:49:50 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtclistblobshieroptionsprefix005262dbe6b98ea6df41/cjavabloblistblobshieroptionsprefix203063da8f3731b00",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-copy-id" : "78137427-c27b-43f4-9445-710f55fa5b09",
      "ETag" : "0x8D77F44D554858F",
      "Last-Modified" : "Thu, 12 Dec 2019 20:49:50 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "success",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtclistblobshieroptionsprefix005262dbe6b98ea6df41/cjavabloblistblobshieroptionsprefix203063da8f3731b00",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-copy-id" : "78137427-c27b-43f4-9445-710f55fa5b09",
      "x-ms-lease-state" : "available",
      "x-ms-copy-source" : "https://gaprastg71.blob.core.windows.net/jtclistblobshieroptionsprefix005262dbe6b98ea6df41/ajavabloblistblobshieroptionsprefix199067cb36e37f207",
      "x-ms-blob-sequence-number" : "0",
      "x-ms-copy-progress" : "512/512",
      "Last-Modified" : "Thu, 12 Dec 2019 20:49:50 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-copy-completion-time" : "Thu, 12 Dec 2019 20:49:50 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D77F44D554858F",
      "x-ms-creation-time" : "Thu, 12 Dec 2019 20:49:50 GMT",
      "x-ms-copy-status" : "success",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtclistblobshieroptionsprefix005262dbe6b98ea6df41/mjavabloblistblobshieroptionsprefix330016c2f9ac24ef7",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F44D604C11F",
      "Last-Modified" : "Thu, 12 Dec 2019 20:49:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtclistblobshieroptionsprefix005262dbe6b98ea6df41/ajavabloblistblobshieroptionsprefix199067cb36e37f207?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-snapshot" : "2019-12-12T20:49:52.2174414Z",
      "ETag" : "0x8D77F44D53F01AB",
      "Last-Modified" : "Thu, 12 Dec 2019 20:49:50 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtclistblobshieroptionsprefix005262dbe6b98ea6df41/ujavabloblistblobshieroptionsprefix4555509f54ae585e6?blockid=0000&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtclistblobshieroptionsprefix005262dbe6b98ea6df41?prefix=a&delimiter=&include=&restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\" ContainerName=\"jtclistblobshieroptionsprefix005262dbe6b98ea6df41\"><Prefix>a</Prefix><Blobs><Blob><Name>ajavabloblistblobshieroptionsprefix199067cb36e37f207</Name><Properties><Creation-Time>Thu, 12 Dec 2019 20:49:50 GMT</Creation-Time><Last-Modified>Thu, 12 Dec 2019 20:49:50 GMT</Last-Modified><Etag>0x8D77F44D53F01AB</Etag><Content-Length>512</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net?prefix=jtclistblobshieroptionsprefix&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\"><Prefix>jtclistblobshieroptionsprefix</Prefix><Containers><Container><Name>jtclistblobshieroptionsprefix005262dbe6b98ea6df41</Name><Properties><Last-Modified>Thu, 12 Dec 2019 20:49:50 GMT</Last-Modified><Etag>\"0x8D77F44D532213E\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtclistblobshieroptionsprefix005262dbe6b98ea6df41?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtclistblobshieroptionsprefix005262dbe6b98ea6df41", "javabloblistblobshieroptionsprefix199067cb36e37f207", "javabloblistblobshieroptionsprefix203063da8f3731b00", "javabloblistblobshieroptionsprefix330016c2f9ac24ef7", "javabloblistblobshieroptionsprefix4555509f54ae585e6" ]
}