{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcblockblobstageblock0cpkntestblockblobstageblock7ab498595e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7831EF224074E",
      "Last-Modified" : "Tue, 17 Dec 2019 18:28:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcblockblobstageblock0cpkntestblockblobstageblock7ab498595e/javablobblockblobstageblock4105797e91277b70d7420",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Tue, 17 Dec 2019 18:28:43 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7831EF230D2E5",
      "x-ms-encryption-scope" : "testscope1"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcblockblobstageblock0cpkntestblockblobstageblock7ab498595e/javablobblockblobstageblock160323e93ab47fe9d44e9?blockid=NjlmNDg4OTctZDI3Zi00ODk4LWE3ZGMtNDM4Y2RjMmM1MzY5&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "x-ms-encryption-scope" : "testscope1"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net?prefix=jtcblockblobstageblock&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\"><Prefix>jtcblockblobstageblock</Prefix><Containers><Container><Name>jtcblockblobstageblock0cpkntestblockblobstageblock7ab498595e</Name><Properties><Last-Modified>Tue, 17 Dec 2019 18:28:43 GMT</Last-Modified><Etag>\"0x8D7831EF224074E\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcblockblobstageblock0cpkntestblockblobstageblock7ab498595e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcblockblobstageblock0cpkntestblockblobstageblock7ab498595e", "javablobblockblobstageblock160323e93ab47fe9d44e9", "javablobblockblobstageblock2797554c5fb3ec6e0f4b9", "javablobblockblobstageblock30914438130c50d41b4d8", "javablobblockblobstageblock4105797e91277b70d7420", "69f48897-d27f-4898-a7dc-438cdc2c5369" ]
}