{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcblockblobcommitblocklist043679f9f64eb0cc7443a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7826C123DAEED",
      "Last-Modified" : "Mon, 16 Dec 2019 21:08:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcblockblobcommitblocklist043679f9f64eb0cc7443a/javablobblockblobcommitblocklist400487d569b89dbfca",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Mon, 16 Dec 2019 21:08:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7826C124B0FDA",
      "x-ms-encryption-scope" : "gaprascope1"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcblockblobcommitblocklist043679f9f64eb0cc7443a/javablobblockblobcommitblocklist173450bb3b99ba82df?blockid=Y2UxNmUyODgtNzFjOS00NGRmLWJmY2ItNmQzODY3NTA5NDlk&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "x-ms-encryption-scope" : "gaprascope1"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcblockblobcommitblocklist043679f9f64eb0cc7443a/javablobblockblobcommitblocklist173450bb3b99ba82df?comp=blocklist",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "39ao4pd9IEc=",
      "Last-Modified" : "Mon, 16 Dec 2019 21:08:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7826C1265C667",
      "x-ms-encryption-scope" : "gaprascope1"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net?prefix=jtcblockblobcommitblocklist&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\"><Prefix>jtcblockblobcommitblocklist</Prefix><Containers><Container><Name>jtcblockblobcommitblocklist043679f9f64eb0cc7443a</Name><Properties><Last-Modified>Mon, 16 Dec 2019 21:08:17 GMT</Last-Modified><Etag>\"0x8D7826C123DAEED\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcblockblobcommitblocklist043679f9f64eb0cc7443a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcblockblobcommitblocklist043679f9f64eb0cc7443a", "javablobblockblobcommitblocklist173450bb3b99ba82df", "javablobblockblobcommitblocklist280075a6754216b579", "javablobblockblobcommitblocklist3806881096bc079317", "javablobblockblobcommitblocklist400487d569b89dbfca", "ce16e288-71c9-44df-bfcb-6d386750949d" ]
}