{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtccontainercreate0cpkntestcontainercreate18831544027cbe?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7831EED2CC119",
      "Last-Modified" : "Tue, 17 Dec 2019 18:28:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtccontainercreate0cpkntestcontainercreate18831544027cbe/javablobcontainercreate4cpkntestcontainercreate18858588efe5",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Tue, 17 Dec 2019 18:28:35 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7831EED5ED79C",
      "x-ms-encryption-scope" : "testscope1"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net?prefix=jtccontainercreate&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\"><Prefix>jtccontainercreate</Prefix><Containers><Container><Name>jtccontainercreate0cpkntestcontainercreate18831544027cbe</Name><Properties><Last-Modified>Tue, 17 Dec 2019 18:28:34 GMT</Last-Modified><Etag>\"0x8D7831EED2CC119\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtccontainercreate5cpkntestcontainercreate18869475b56be3</Name><Properties><Last-Modified>Tue, 17 Dec 2019 18:28:35 GMT</Last-Modified><Etag>\"0x8D7831EED7EC466\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>testscope2</DefaultEncryptionScope><DenyEncryptionScopeOverride>true</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtccontainercreate5cpkntestcontainercreate18869475b56be3?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtccontainercreate0cpkntestcontainercreate18831544027cbe", "javablobcontainercreate1cpkntestcontainercreate18861101d355", "javablobcontainercreate2cpkntestcontainercreate188979968765", "javablobcontainercreate3cpkntestcontainercreate188547136e02", "javablobcontainercreate4cpkntestcontainercreate18858588efe5", "jtccontainercreate5cpkntestcontainercreate18869475b56be3" ]
}