{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcpageblobputpage0cpkntestpageblobputpage9eb23506cca4b4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7831EF03B9D46",
      "Last-Modified" : "Tue, 17 Dec 2019 18:28:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcpageblobputpage0cpkntestpageblobputpage9eb23506cca4b4/javablobpageblobputpage4cpkntestpageblobputpage9eb456456654",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Tue, 17 Dec 2019 18:28:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7831EF048D887",
      "x-ms-encryption-scope" : "testscope1"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcpageblobputpage0cpkntestpageblobputpage9eb23506cca4b4/javablobpageblobputpage2cpkntestpageblobputpage9eb380132e0b?comp=page",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Tue, 17 Dec 2019 18:28:40 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "uT/gz8SQvRZ8XDz2Rm553w==",
      "ETag" : "0x8D7831EF0664BAA",
      "x-ms-encryption-scope" : "testscope1"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net?prefix=jtcpageblobputpage&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\"><Prefix>jtcpageblobputpage</Prefix><Containers><Container><Name>jtcpageblobputpage0cpkntestpageblobputpage9eb23506cca4b4</Name><Properties><Last-Modified>Tue, 17 Dec 2019 18:28:39 GMT</Last-Modified><Etag>\"0x8D7831EF03B9D46\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcpageblobputpage0cpkntestpageblobputpage9eb23506cca4b4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcpageblobputpage0cpkntestpageblobputpage9eb23506cca4b4", "javablobpageblobputpage1cpkntestpageblobputpage9eb81974cf93", "javablobpageblobputpage2cpkntestpageblobputpage9eb380132e0b", "javablobpageblobputpage3cpkntestpageblobputpage9eb88081cb4e", "javablobpageblobputpage4cpkntestpageblobputpage9eb456456654", "28714559-7ec8-4b55-bf63-53802674b6ff" ]
}