{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtccontainerlistblobsflat0861575840cd39b84a4f2c?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D7831EEE2515EC",
      "Last-Modified" : "Tue, 17 Dec 2019 18:28:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtccontainerlistblobsflat0861575840cd39b84a4f2c/javablobcontainerlistblobsflat40284597af91f054d84",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Tue, 17 Dec 2019 18:28:36 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7831EEE325607",
      "x-ms-encryption-scope" : "testscope1"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtccontainerlistblobsflat599194fd2429ab45244ee3?restype=container&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\" ContainerName=\"jtccontainerlistblobsflat599194fd2429ab45244ee3\"><Blobs><Blob><Name>javablobcontainerlistblobsflat648726c2528d56f2604</Name><Properties><Creation-Time>Tue, 17 Dec 2019 18:28:36 GMT</Creation-Time><Last-Modified>Tue, 17 Dec 2019 18:28:36 GMT</Last-Modified><Etag>0x8D7831EEE4CE129</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted><EncryptionScope>testscope2</EncryptionScope></Properties></Blob></Blobs><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net?prefix=jtccontainerlistblobsflat&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\"><Prefix>jtccontainerlistblobsflat</Prefix><Containers><Container><Name>jtccontainerlistblobsflat0861575840cd39b84a4f2c</Name><Properties><Last-Modified>Tue, 17 Dec 2019 18:28:36 GMT</Last-Modified><Etag>\"0x8D7831EEE2515EC\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtccontainerlistblobsflat599194fd2429ab45244ee3</Name><Properties><Last-Modified>Tue, 17 Dec 2019 18:28:36 GMT</Last-Modified><Etag>\"0x8D7831EEE3FA719\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>testscope2</DefaultEncryptionScope><DenyEncryptionScopeOverride>true</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtccontainerlistblobsflat599194fd2429ab45244ee3?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtccontainerlistblobsflat0861575840cd39b84a4f2c", "javablobcontainerlistblobsflat10875199eb6704d05d4", "javablobcontainerlistblobsflat2241350f1c0ec06b1b4", "javablobcontainerlistblobsflat3991182bdb36b4caf04", "javablobcontainerlistblobsflat40284597af91f054d84", "jtccontainerlistblobsflat599194fd2429ab45244ee3", "javablobcontainerlistblobsflat648726c2528d56f2604" ]
}
