{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcputblobwithcpk0cpktestputblobwithcpk33f2927088bec3c5?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7355CDF5B3F63\"",
      "Last-Modified" : "Mon, 09 Sep 2019 19:35:29 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcputblobwithcpk0cpktestputblobwithcpk33f2927088bec3c5/javablobputblobwithcpk4cpktestputblobwithcpk33f2795311f3a",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Mon, 09 Sep 2019 19:35:30 GMT",
      "retry-after" : "0",
      "x-ms-encryption-key-sha256" : "REDACTED",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D7355CDFAF4436\""
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net?prefix=jtcputblobwithcpk&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jaschrepragrs.blob.core.windows.net/\"><Prefix>jtcputblobwithcpk</Prefix><Containers><Container><Name>jtcputblobwithcpk0cpktestputblobwithcpk33f2927088bec3c5</Name><Properties><Last-Modified>Mon, 09 Sep 2019 19:35:29 GMT</Last-Modified><Etag>\"0x8D7355CDF5B3F63\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcputblobwithcpk0cpktestputblobwithcpk33f2927088bec3c5?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcputblobwithcpk0cpktestputblobwithcpk33f2927088bec3c5", "javablobputblobwithcpk1cpktestputblobwithcpk33f74819a8c20", "javablobputblobwithcpk2cpktestputblobwithcpk33f172835f107", "javablobputblobwithcpk3cpktestputblobwithcpk33f3298114b0b", "javablobputblobwithcpk4cpktestputblobwithcpk33f2795311f3a" ]
}