{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcputblockwithcpkcpktestputblockwithcpk13b792006faacb6?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D77E94E73B2C37",
      "Last-Modified" : "Wed, 11 Dec 2019 23:50:29 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcputblockwithcpkcpktestputblockwithcpk13b792006faacb6/javablobputblockwithcpkcpktestputblockwithcpk13b303728a3ec",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Wed, 11 Dec 2019 23:50:29 GMT",
      "retry-after" : "0",
      "x-ms-encryption-key-sha256" : "REDACTED",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D77E94E7426BD5"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcputblockwithcpkcpktestputblockwithcpk13b792006faacb6/javablobputblockwithcpkcpktestputblockwithcpk13b37972df655?blockid=NWM3Y2NjNzAtMjFkNi00Zjc5LTgxYTEtZmE4Zjg5MzExMWI0&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "retry-after" : "0",
      "x-ms-encryption-key-sha256" : "REDACTED",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcputblockwithcpk&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcputblockwithcpk</Prefix><Containers><Container><Name>jtcputblockwithcpkcpktestputblockwithcpk13b792006faacb6</Name><Properties><Last-Modified>Wed, 11 Dec 2019 23:50:29 GMT</Last-Modified><Etag>\"0x8D77E94E73B2C37\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcputblockwithcpkcpktestputblockwithcpk13b792006faacb6?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcputblockwithcpkcpktestputblockwithcpk13b792006faacb6", "javablobputblockwithcpkcpktestputblockwithcpk13b37972df655", "javablobputblockwithcpkcpktestputblockwithcpk13b70752c1d13", "javablobputblockwithcpkcpktestputblockwithcpk13b575082b96f", "javablobputblockwithcpkcpktestputblockwithcpk13b303728a3ec", "5c7ccc70-21d6-4f79-81a1-fa8f893111b4" ]
}