{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcputpagefromurlwihcpk0cpktestputpagefromurlwihcpk43726010c4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D751ADA0ABE1BB",
      "Last-Modified" : "Tue, 15 Oct 2019 20:24:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcputpagefromurlwihcpk0cpktestputpagefromurlwihcpk43726010c4/javablobputpagefromurlwihcpk4936556a3619aee13849",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Tue, 15 Oct 2019 20:24:06 GMT",
      "retry-after" : "0",
      "x-ms-encryption-key-sha256" : "REDACTED",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D751ADA0B3A4D1"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcputpagefromurlwihcpk0cpktestputpagefromurlwihcpk43726010c4/javablobputpagefromurlwihcpk5279294b4d39d00fc94c?comp=page",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "TpTAbKNH9Ww=",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Tue, 15 Oct 2019 20:24:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D751ADA0C2C3B5"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcputpagefromurlwihcpk&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcputpagefromurlwihcpk</Prefix><Containers><Container><Name>jtcputpagefromurlwihcpk0cpktestputpagefromurlwihcpk43726010c4</Name><Properties><Last-Modified>Tue, 15 Oct 2019 20:24:06 GMT</Last-Modified><Etag>\"0x8D751ADA0ABE1BB\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcputpagefromurlwihcpk0cpktestputpagefromurlwihcpk43726010c4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcputpagefromurlwihcpk0cpktestputpagefromurlwihcpk43726010c4", "javablobputpagefromurlwihcpk161597931fa67313cc41", "javablobputpagefromurlwihcpk27033188102bc7973b4c", "javablobputpagefromurlwihcpk367641f9d0e299741844", "javablobputpagefromurlwihcpk4936556a3619aee13849", "javablobputpagefromurlwihcpk5279294b4d39d00fc94c", "3dee9ec7-7e42-44b1-a001-8f1e28142d41" ]
}