{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcputpagefromurlwihcpk0cpktestputpagefromurlwihcpk7eb337222a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7355CE6AD2603\"",
      "Last-Modified" : "Mon, 09 Sep 2019 19:35:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcputpagefromurlwihcpk0cpktestputpagefromurlwihcpk7eb337222a/javablobputpagefromurlwihcpk481390dc8e4436c98844",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Mon, 09 Sep 2019 19:35:42 GMT",
      "retry-after" : "0",
      "x-ms-encryption-key-sha256" : "REDACTED",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D7355CE6E07D75\""
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcputpagefromurlwihcpk0cpktestputpagefromurlwihcpk7eb337222a/javablobputpagefromurlwihcpk5939469cd6e054833f4a?comp=page",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "fPrH/6SuCCE=",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Mon, 09 Sep 2019 19:35:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7355CE7445AB0\""
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net?prefix=jtcputpagefromurlwihcpk&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jaschrepragrs.blob.core.windows.net/\"><Prefix>jtcputpagefromurlwihcpk</Prefix><Containers><Container><Name>jtcputpagefromurlwihcpk0cpktestputpagefromurlwihcpk7eb337222a</Name><Properties><Last-Modified>Mon, 09 Sep 2019 19:35:41 GMT</Last-Modified><Etag>\"0x8D7355CE6AD2603\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcputpagefromurlwihcpk0cpktestputpagefromurlwihcpk7eb337222a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcputpagefromurlwihcpk0cpktestputpagefromurlwihcpk7eb337222a", "javablobputpagefromurlwihcpk198048c0a0f1d8aa9549", "javablobputpagefromurlwihcpk277574b0a1ceb6f6ab4b", "javablobputpagefromurlwihcpk3097923d5d040918a64e", "javablobputpagefromurlwihcpk481390dc8e4436c98844", "javablobputpagefromurlwihcpk5939469cd6e054833f4a", "aaa7c342-f0ed-458e-9623-eb7f8d84e578" ]
}