{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcputblockfromurlwithcpk036939c921261a3ea74a1e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F451DBFEAC6",
      "Last-Modified" : "Thu, 12 Dec 2019 20:51:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcputblockfromurlwithcpk036939c921261a3ea74a1e/javablobputblockfromurlwithcpk415656b16dd7e0c80b4",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Thu, 12 Dec 2019 20:51:52 GMT",
      "retry-after" : "0",
      "x-ms-encryption-key-sha256" : "REDACTED",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D77F451DCF344F"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcputblockfromurlwithcpk036939c921261a3ea74a1e/javablobputblockfromurlwithcpk1098770a4e7a3c0a214?blockid=ZWMxYzdmZDUtNGVjNy00MjQ5LWI3MjYtYTJlYzMyMDEyNTU5&comp=block",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-error-code" : "CannotVerifyCopySource",
      "retry-after" : "0",
      "StatusCode" : "500",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>Could not verify the copy source within the specified time.\nRequestId:c60486ca-701e-0041-272d-b1cadf000000\nTime:2019-12-12T20:52:13.8423470Z</Message></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net?prefix=jtcputblockfromurlwithcpk&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\"><Prefix>jtcputblockfromurlwithcpk</Prefix><Containers><Container><Name>jtcputblockfromurlwithcpk036939c921261a3ea74a1e</Name><Properties><Last-Modified>Thu, 12 Dec 2019 20:51:52 GMT</Last-Modified><Etag>\"0x8D77F451DBFEAC6\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcputblockfromurlwithcpk036939c921261a3ea74a1e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcputblockfromurlwithcpk036939c921261a3ea74a1e", "javablobputblockfromurlwithcpk1098770a4e7a3c0a214", "javablobputblockfromurlwithcpk2200499100c81505c04", "javablobputblockfromurlwithcpk39651584b0cb86d2bc4", "javablobputblockfromurlwithcpk415656b16dd7e0c80b4", "javablobputblockfromurlwithcpk5975375975ccd5dc704", "ec1c7fd5-4ec7-4249-b726-a2ec32012559" ]
}