{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcgetblobwithcpk0cpktestgetblobwithcpk8c3886258958ab10?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7355CE0890D2B\"",
      "Last-Modified" : "Mon, 09 Sep 2019 19:35:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcgetblobwithcpk0cpktestgetblobwithcpk8c3886258958ab10/javablobgetblobwithcpk4cpktestgetblobwithcpk8c324257be779",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Mon, 09 Sep 2019 19:35:31 GMT",
      "retry-after" : "0",
      "x-ms-encryption-key-sha256" : "REDACTED",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "\"0x8D7355CE0BC51C9\""
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcgetblobwithcpk0cpktestgetblobwithcpk8c3886258958ab10/javablobgetblobwithcpk1cpktestgetblobwithcpk8c365849c3bbd",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Mon, 09 Sep 2019 19:35:32 GMT",
      "retry-after" : "0",
      "x-ms-encryption-key-sha256" : "REDACTED",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D7355CE0EEDCC6\"",
      "x-ms-creation-time" : "Mon, 09 Sep 2019 19:35:32 GMT",
      "Body" : "[100, 101, 102, 97, 117, 108, 116]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net?prefix=jtcgetblobwithcpk&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jaschrepragrs.blob.core.windows.net/\"><Prefix>jtcgetblobwithcpk</Prefix><Containers><Container><Name>jtcgetblobwithcpk0cpktestgetblobwithcpk8c3886258958ab10</Name><Properties><Last-Modified>Mon, 09 Sep 2019 19:35:31 GMT</Last-Modified><Etag>\"0x8D7355CE0890D2B\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcgetblobwithcpk0cpktestgetblobwithcpk8c3886258958ab10?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcgetblobwithcpk0cpktestgetblobwithcpk8c3886258958ab10", "javablobgetblobwithcpk1cpktestgetblobwithcpk8c365849c3bbd", "javablobgetblobwithcpk2cpktestgetblobwithcpk8c390478cd3eb", "javablobgetblobwithcpk3cpktestgetblobwithcpk8c33029849d5f", "javablobgetblobwithcpk4cpktestgetblobwithcpk8c324257be779" ]
}