{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcdownloaderror15651454692500downloaderror0c717258f49091?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71AE03CE0BA23\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:37:49 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcdownloaderror15651454692500downloaderror0c717258f49091/javablobdownloaderror15651454692941downloaderror0c751730e46",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71AE03CE79A4E\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:37:49 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcdownloaderror15651454692500downloaderror0c717258f49091/javablobdownloaderror15651454693392downloaderror0c7031804ab",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\nRequestId:3b106502-901e-007c-35c9-4cad43000000\nTime:2019-08-07T02:37:49.3432524Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcdownloaderror&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcdownloaderror</Prefix><Containers><Container><Name>jtcdownloaderror15651454692500downloaderror0c717258f49091</Name><Properties><Last-Modified>Wed, 07 Aug 2019 02:37:49 GMT</Last-Modified><Etag>\"0x8D71AE03CE0BA23\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcdownloaderror15651454692500downloaderror0c717258f49091?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "jtcdownloaderror15651454692500downloaderror0c717258f49091", "javablobdownloaderror15651454692941downloaderror0c751730e46", "javablobdownloaderror15651454693392downloaderror0c7031804ab" ]
}