{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetpagerangesdiffac15651460913230132215d8be56717d?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71AE1AFA8BA30\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:48:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetpagerangesdiffac15651460913230132215d8be56717d/javablobgetpagerangesdiffac1565146091373198884a4db47e4",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71AE1AFB1A9BA\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:48:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetpagerangesdiffac15651460913230132215d8be56717d/javablobgetpagerangesdiffac1565146091373198884a4db47e4?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-snapshot" : "2019-08-07T02:48:11.4314891Z",
      "ETag" : "\"0x8D71AE1AFB1A9BA\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:48:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetpagerangesdiffac15651460913230132215d8be56717d/javablobgetpagerangesdiffac1565146091373198884a4db47e4?comp=lease",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71AE1AFB1A9BA\"",
      "x-ms-lease-id" : "8146a760-49e1-4681-98c9-ba0d97ccd8f8",
      "Last-Modified" : "Wed, 07 Aug 2019 02:48:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetpagerangesdiffac15651460913230132215d8be56717d/javablobgetpagerangesdiffac1565146091373198884a4db47e4?prevsnapshot=2019-08-07T02%3a48%3a11.4314891Z&comp=pagelist",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-blob-content-length" : "512",
      "ETag" : "\"0x8D71AE1AFB1A9BA\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:48:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList />",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcgetpagerangesdiffac&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcgetpagerangesdiffac</Prefix><Containers><Container><Name>jtcgetpagerangesdiffac15651460913230132215d8be56717d</Name><Properties><Last-Modified>Wed, 07 Aug 2019 02:48:11 GMT</Last-Modified><Etag>\"0x8D71AE1AFA8BA30\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetpagerangesdiffac15651460913230132215d8be56717d?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "jtcgetpagerangesdiffac15651460913230132215d8be56717d", "javablobgetpagerangesdiffac1565146091373198884a4db47e4" ]
}