{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetpropertiesac15651454714740getpropertiesaccb8180364f3a?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71AE03E33CD59\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:37:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetpropertiesac15651454714740getpropertiesaccb8180364f3a/javablobgetpropertiesac15651454715261getpropertiesaccb8262508",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71AE03E3E7D2E\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:37:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetpropertiesac15651454714740getpropertiesaccb8180364f3a/javablobgetpropertiesac15651454715261getpropertiesaccb8262508?comp=lease",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71AE03E3E7D2E\"",
      "x-ms-lease-id" : "b0b4b0c6-9a1a-4d74-89da-c53ad2e19e9b",
      "Last-Modified" : "Wed, 07 Aug 2019 02:37:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetpropertiesac15651454714740getpropertiesaccb8180364f3a/javablobgetpropertiesac15651454715261getpropertiesaccb8262508",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-lease-status" : "locked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "leased",
      "Last-Modified" : "Wed, 07 Aug 2019 02:37:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "\"0x8D71AE03E3E7D2E\"",
      "x-ms-creation-time" : "Wed, 07 Aug 2019 02:37:51 GMT",
      "x-ms-lease-duration" : "infinite",
      "Body" : "",
      "Content-Type" : "application/octet-stream"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcgetpropertiesac&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcgetpropertiesac</Prefix><Containers><Container><Name>jtcgetpropertiesac15651454714740getpropertiesaccb8180364f3a</Name><Properties><Last-Modified>Wed, 07 Aug 2019 02:37:51 GMT</Last-Modified><Etag>\"0x8D71AE03E33CD59\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcgetpropertiesac15651454714740getpropertiesaccb8180364f3a?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "jtcgetpropertiesac15651454714740getpropertiesaccb8180364f3a", "javablobgetpropertiesac15651454715261getpropertiesaccb8262508" ]
}