{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcaccountsaspermissionsparse041700c37ba0ed49aa43?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D722806A311E95\"",
      "Last-Modified" : "Fri, 16 Aug 2019 19:32:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcaccountsaspermissionsparse&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcaccountsaspermissionsparse</Prefix><Containers><Container><Name>jtcaccountsaspermissionsparse041700c37ba0ed49aa43</Name><Properties><Last-Modified>Fri, 16 Aug 2019 19:32:02 GMT</Last-Modified><Etag>\"0x8D722806A311E95\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcaccountsaspermissionsparse041700c37ba0ed49aa43?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcaccountsaspermissionsparse041700c37ba0ed49aa43" ]
}