{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtccontainersaspermissionsparse0852846ef9ff1717b04?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7CF7CB7BBFA1D",
      "Last-Modified" : "Mon, 23 Mar 2020 22:51:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net?prefix=jtccontainersaspermissionsparse&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://cdm03r01aversioning16.blob.core.windows.net/\"><Prefix>jtccontainersaspermissionsparse</Prefix><Containers><Container><Name>jtccontainersaspermissionsparse0852846ef9ff1717b04</Name><Properties><Last-Modified>Mon, 23 Mar 2020 22:51:26 GMT</Last-Modified><Etag>\"0x8D7CF7CB7BBFA1D\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtccontainersaspermissionsparse0852846ef9ff1717b04?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtccontainersaspermissionsparse0852846ef9ff1717b04" ]
}