{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcchangecontainerleaseacillegal043497c04e2b8bb655?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73AD63BE822DF\"",
      "Last-Modified" : "Mon, 16 Sep 2019 18:46:49 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcchangecontainerleaseacillegal043497c04e2b8bb655?comp=lease&restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-error-code" : "InvalidHeaderValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidHeaderValue</Code><Message>The value for one of the HTTP headers is not in the correct format.\nRequestId:9c05f5b5-501e-0084-7abf-6c665e000000\nTime:2019-09-16T18:46:49.9016198Z</Message><HeaderName>x-ms-lease-id</HeaderName><HeaderValue>received</HeaderValue></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcchangecontainerleaseacillegal&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcchangecontainerleaseacillegal</Prefix><Containers><Container><Name>jtcchangecontainerleaseacillegal043497c04e2b8bb655</Name><Properties><Last-Modified>Mon, 16 Sep 2019 18:46:49 GMT</Last-Modified><Etag>\"0x8D73AD63BE822DF\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcchangecontainerleaseacillegal043497c04e2b8bb655?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcchangecontainerleaseacillegal043497c04e2b8bb655" ]
}