{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistcontainersmarker1565146248264002225bfc540f61c?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71AE20D3C0EE6\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:50:48 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?restype=service&comp=properties",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Containers><Container><Name>$root</Name><Properties><Last-Modified>Wed, 07 Aug 2019 01:23:34 GMT</Last-Modified><Etag>\"0x8D71AD5DD9AB5EB\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>$web</Name><Properties><Last-Modified>Wed, 07 Aug 2019 02:46:50 GMT</Last-Modified><Etag>\"0x8D71AE17F5C50C5\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>container</Name><Properties><Last-Modified>Wed, 07 Aug 2019 01:25:47 GMT</Last-Modified><Etag>\"0x8D71AD62CFEE8E3\"</Etag><L[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtclistcontainersmarker&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtclistcontainersmarker</Prefix><Containers><Container><Name>jtclistcontainersmarker1565146248264002225bfc540f61c</Name><Properties><Last-Modified>Wed, 07 Aug 2019 02:50:48 GMT</Last-Modified><Etag>\"0x8D71AE20D3C0EE6\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtclistcontainersmarker1565146248723129592f5f6a62633</Name><Properties><Last-[...]
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtclistcontainersmarker156514625058010347829d1fe37045?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "jtclistcontainersmarker1565146248264002225bfc540f61c", "jtclistcontainersmarker1565146248723129592f5f6a62633", "jtclistcontainersmarker15651462489862623959fdba9bb00", "jtclistcontainersmarker1565146249291332390d299438592", "jtclistcontainersmarker156514624959944544560f64c1be4", "jtclistcontainersmarker15651462496555919497101a89952", "jtclistcontainersmarker1565146249905636300d7d8447733", "jtclistcontainersmarker1565146250212786678c584c25fe9", "jtclistcontainersmarker156514625026889469220e1d5b439", "jtclistcontainersmarker15651462505209154842818f144de", "jtclistcontainersmarker156514625058010347829d1fe37045" ]
}