{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadpagefromurlrange0945810ae68ada01db4a13?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72CB0B2DF43B9\"",
      "Last-Modified" : "Thu, 29 Aug 2019 18:42:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadpagefromurlrange0945810ae68ada01db4a13/javablobuploadpagefromurlrange104667aa3237a5fea54",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72CB0B2E4B6BC\"",
      "Last-Modified" : "Thu, 29 Aug 2019 18:42:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadpagefromurlrange0945810ae68ada01db4a13?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72CB0B2E9C36F\"",
      "Last-Modified" : "Thu, 29 Aug 2019 18:42:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadpagefromurlrange0945810ae68ada01db4a13/javablobuploadpagefromurlrange223314540b7327077d4?comp=page",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "vl8XMKnl15Q=",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Thu, 29 Aug 2019 18:42:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D72CB0B2F891C3\""
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadpagefromurlrange0945810ae68ada01db4a13/javablobuploadpagefromurlrange37474633863e003def4?comp=page",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Thu, 29 Aug 2019 18:42:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "pEzBvMp9zNssPOP+SMRwuQ==",
      "ETag" : "\"0x8D72CB0B3071446\""
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadpagefromurlrange0945810ae68ada01db4a13/javablobuploadpagefromurlrange37474633863e003def4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Thu, 29 Aug 2019 18:42:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D72CB0B3071446\"",
      "x-ms-creation-time" : "Thu, 29 Aug 2019 18:42:52 GMT",
      "Body" : "[40, -79, 92, -41, -34, 47, -36, 3, 114, -10, -126, 85, -34, 7, 72, 78, -49, 53, 111, -43, 66, 52, -12, -66, 82, -88, -78, 82, -49, -48, 90, 81, -68, -15, -95, -101, -80, -87, -53, 91, -108, -99, 24, -31, 23, 82, -25, 44, -45, -73, 70, 45, -47, -42, 9, 86, 100, -73, 22, 7, 11, -89, -13, 92, 73, 27, -96, -34, -44, -54, -12, -53, 41, -17, 40, 89, 40, 94, 115, 39, -117, -6, 46, -59, -126, 88, 110, -68, 13, 54, -96, 118, 71, 60, 89, 34, 93, 84, -109, -50, -112, 46, 93, 121, -68, 72, -83, 113, 16, [...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcuploadpagefromurlrange&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcuploadpagefromurlrange</Prefix><Containers><Container><Name>jtcuploadpagefromurlrange0945810ae68ada01db4a13</Name><Properties><Last-Modified>Thu, 29 Aug 2019 18:42:52 GMT</Last-Modified><Etag>\"0x8D72CB0B2E9C36F\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>container</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadpagefromurlrange0945810ae68ada01db4a13?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcuploadpagefromurlrange0945810ae68ada01db4a13", "javablobuploadpagefromurlrange104667aa3237a5fea54", "abf1d83a-1949-4e82-a736-8bec84e36fd7", "javablobuploadpagefromurlrange223314540b7327077d4", "javablobuploadpagefromurlrange37474633863e003def4" ]
}