{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcstartincrementalcopyac0663428626e7552e5643b8?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F4823EF7701",
      "Last-Modified" : "Thu, 12 Dec 2019 21:13:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcstartincrementalcopyac0663428626e7552e5643b8/javablobstartincrementalcopyac158101f511e7f7df444",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F4823FCCB7B",
      "Last-Modified" : "Thu, 12 Dec 2019 21:13:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcstartincrementalcopyac0663428626e7552e5643b8?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F482408C255",
      "Last-Modified" : "Thu, 12 Dec 2019 21:13:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcstartincrementalcopyac0663428626e7552e5643b8/javablobstartincrementalcopyac158101f511e7f7df444?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-snapshot" : "2019-12-12T21:13:31.5986731Z",
      "ETag" : "0x8D77F4823FCCB7B",
      "Last-Modified" : "Thu, 12 Dec 2019 21:13:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcstartincrementalcopyac0663428626e7552e5643b8/javablobstartincrementalcopyac282197d38f827fbbf54?comp=incrementalcopy",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-copy-id" : "5643b95d-285c-42a7-afd8-42d2c1b3cf47",
      "ETag" : "0x8D77F4824238CF1",
      "Last-Modified" : "Thu, 12 Dec 2019 21:13:31 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "pending",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcstartincrementalcopyac0663428626e7552e5643b8/javablobstartincrementalcopyac282197d38f827fbbf54",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-copy-destination-snapshot" : "2019-12-12T21:13:31.7196356Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 12 Dec 2019 21:13:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-creation-time" : "Thu, 12 Dec 2019 21:13:31 GMT",
      "x-ms-incremental-copy" : "true",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-07-07",
      "x-ms-copy-id" : "5643b95d-285c-42a7-afd8-42d2c1b3cf47",
      "x-ms-copy-source" : "https://gaprastg71.blob.core.windows.net/jtcstartincrementalcopyac0663428626e7552e5643b8/javablobstartincrementalcopyac158101f511e7f7df444?snapshot=2019-12-12T21:13:31.5986731Z",
      "x-ms-blob-sequence-number" : "0",
      "x-ms-copy-progress" : "512/512",
      "x-ms-copy-completion-time" : "Thu, 12 Dec 2019 21:13:31 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D77F4824238CF1",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net?prefix=jtcstartincrementalcopyac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\"><Prefix>jtcstartincrementalcopyac</Prefix><Containers><Container><Name>jtcstartincrementalcopyac0663428626e7552e5643b8</Name><Properties><Last-Modified>Thu, 12 Dec 2019 21:13:31 GMT</Last-Modified><Etag>\"0x8D77F482408C255\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>blob</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcstartincrementalcopyac0663428626e7552e5643b8?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcstartincrementalcopyac0663428626e7552e5643b8", "javablobstartincrementalcopyac158101f511e7f7df444", "javablobstartincrementalcopyac282197d38f827fbbf54" ]
}