{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurldestinationac083362385771d01eb6?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D732524CFD5CC0\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:42:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurldestinationac083362385771d01eb6/javablobuploadpagefromurldestinationac105467650fbb368",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D732524D0A4D7D\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:42:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurldestinationac083362385771d01eb6?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D732524D19FBC3\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:42:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurldestinationac083362385771d01eb6/javablobuploadpagefromurldestinationac20997381a62499d?comp=page",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "O10aKLwtmak=",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Thu, 05 Sep 2019 22:42:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D732524D34245B\""
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurldestinationac083362385771d01eb6/javablobuploadpagefromurldestinationac105467650fbb368?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D732524D0A4D7D\"",
      "x-ms-lease-id" : "b0e3d2d9-de44-4728-bf79-fc3237a86adc",
      "Last-Modified" : "Thu, 05 Sep 2019 22:42:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurldestinationac083362385771d01eb6/javablobuploadpagefromurldestinationac105467650fbb368?comp=page",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Thu, 05 Sep 2019 22:42:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "JegBDHE0ekEm4XnNvmY0hg==",
      "ETag" : "\"0x8D732524D4E67E1\""
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net?prefix=jtcuploadpagefromurldestinationac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jaschrepragrs.blob.core.windows.net/\"><Prefix>jtcuploadpagefromurldestinationac</Prefix><Containers><Container><Name>jtcuploadpagefromurldestinationac083362385771d01eb6</Name><Properties><Last-Modified>Thu, 05 Sep 2019 22:42:15 GMT</Last-Modified><Etag>\"0x8D732524D19FBC3\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>container</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurldestinationac083362385771d01eb6?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcuploadpagefromurldestinationac083362385771d01eb6", "javablobuploadpagefromurldestinationac105467650fbb368", "javablobuploadpagefromurldestinationac20997381a62499d", "c97bbca6-67a9-45ad-b901-aba4e4336db5" ]
}