{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcgetpagerangesdiffac03178553d766c6a8cb4816a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F4804C816E0",
      "Last-Modified" : "Thu, 12 Dec 2019 21:12:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcgetpagerangesdiffac03178553d766c6a8cb4816a/javablobgetpagerangesdiffac1827367944c7ec703c4d0",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F4804D50400",
      "Last-Modified" : "Thu, 12 Dec 2019 21:12:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcgetpagerangesdiffac03178553d766c6a8cb4816a/javablobgetpagerangesdiffac1827367944c7ec703c4d0?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-snapshot" : "2019-12-12T21:12:39.2476404Z",
      "ETag" : "0x8D77F4804D50400",
      "Last-Modified" : "Thu, 12 Dec 2019 21:12:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcgetpagerangesdiffac03178553d766c6a8cb4816a/javablobgetpagerangesdiffac1827367944c7ec703c4d0?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F4804D50400",
      "x-ms-lease-id" : "699a768f-c7ba-4e32-bb1f-90b185f9f56c",
      "Last-Modified" : "Thu, 12 Dec 2019 21:12:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcgetpagerangesdiffac03178553d766c6a8cb4816a/javablobgetpagerangesdiffac1827367944c7ec703c4d0?prevsnapshot=2019-12-12T21%3a12%3a39.2476404Z&comp=pagelist",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-blob-content-length" : "512",
      "Last-Modified" : "Thu, 12 Dec 2019 21:12:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "0x8D77F4804D50400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList />",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net?prefix=jtcgetpagerangesdiffac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\"><Prefix>jtcgetpagerangesdiffac</Prefix><Containers><Container><Name>jtcgetpagerangesdiffac03178553d766c6a8cb4816a</Name><Properties><Last-Modified>Thu, 12 Dec 2019 21:12:39 GMT</Last-Modified><Etag>\"0x8D77F4804C816E0\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcgetpagerangesdiffac03178553d766c6a8cb4816a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcgetpagerangesdiffac03178553d766c6a8cb4816a", "javablobgetpagerangesdiffac1827367944c7ec703c4d0" ]
}