{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcuploadpagetransactionalmd50253239822e560f5184c?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75420D121DC81",
      "Last-Modified" : "Fri, 18 Oct 2019 23:13:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcuploadpagetransactionalmd50253239822e560f5184c/javablobuploadpagetransactionalmd5172543b247dcc2317",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D75420D1480998",
      "Last-Modified" : "Fri, 18 Oct 2019 23:13:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcuploadpagetransactionalmd50253239822e560f5184c/javablobuploadpagetransactionalmd5172543b247dcc2317?comp=page",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Fri, 18 Oct 2019 23:13:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "Vggxgx3zvRRvOZCMbWw35g==",
      "ETag" : "0x8D75420D16BC4B0"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "http://xclientdev3.blob.core.windows.net?prefix=jtcuploadpagetransactionalmd5&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"http://xclientdev3.blob.core.windows.net/\"><Prefix>jtcuploadpagetransactionalmd5</Prefix><Containers><Container><Name>jtcuploadpagetransactionalmd50253239822e560f5184c</Name><Properties><Last-Modified>Fri, 18 Oct 2019 23:13:42 GMT</Last-Modified><Etag>\"0x8D75420D121DC81\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "http://xclientdev3.blob.core.windows.net/jtcuploadpagetransactionalmd50253239822e560f5184c?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcuploadpagetransactionalmd50253239822e560f5184c", "javablobuploadpagetransactionalmd5172543b247dcc2317", "64b53f06-4836-4c9a-8ca1-24cdf75a2c33" ]
}