{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcgetpagerangesdiffac07248546cbf26372254dbea?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D735619C583CD5\"",
      "Last-Modified" : "Mon, 09 Sep 2019 20:09:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcgetpagerangesdiffac07248546cbf26372254dbea/javablobgetpagerangesdiffac160346cc1f166d5bcf4b9",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D735619C665BAA\"",
      "Last-Modified" : "Mon, 09 Sep 2019 20:09:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcgetpagerangesdiffac07248546cbf26372254dbea/javablobgetpagerangesdiffac160346cc1f166d5bcf4b9?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-09-09T20:09:24.9128820Z",
      "ETag" : "\"0x8D735619C665BAA\"",
      "Last-Modified" : "Mon, 09 Sep 2019 20:09:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcgetpagerangesdiffac07248546cbf26372254dbea/javablobgetpagerangesdiffac160346cc1f166d5bcf4b9?comp=lease",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D735619C665BAA\"",
      "x-ms-lease-id" : "3459f470-6375-4931-9e16-7f8df806efed",
      "Last-Modified" : "Mon, 09 Sep 2019 20:09:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcgetpagerangesdiffac07248546cbf26372254dbea/javablobgetpagerangesdiffac160346cc1f166d5bcf4b9?prevsnapshot=2019-09-09T20%3a09%3a24.9128820Z&comp=pagelist",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-blob-content-length" : "512",
      "Last-Modified" : "Mon, 09 Sep 2019 20:09:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"0x8D735619C665BAA\"",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList />",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net?prefix=jtcgetpagerangesdiffac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jaschrepragrs.blob.core.windows.net/\"><Prefix>jtcgetpagerangesdiffac</Prefix><Containers><Container><Name>jtcgetpagerangesdiffac07248546cbf26372254dbea</Name><Properties><Last-Modified>Mon, 09 Sep 2019 20:09:24 GMT</Last-Modified><Etag>\"0x8D735619C583CD5\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcgetpagerangesdiffac07248546cbf26372254dbea?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcgetpagerangesdiffac07248546cbf26372254dbea", "javablobgetpagerangesdiffac160346cc1f166d5bcf4b9" ]
}