{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurlrange0273217850190ecbf34f1f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D732524950C0E9\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:42:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurlrange0273217850190ecbf34f1f/javablobuploadpagefromurlrange194024f4f1b3b3f36c4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D732524961A83E\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:42:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurlrange0273217850190ecbf34f1f?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D73252496DAC6E\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:42:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurlrange0273217850190ecbf34f1f/javablobuploadpagefromurlrange25025867404b8fa15f4?comp=page",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "2GfBOs8XKeU=",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Thu, 05 Sep 2019 22:42:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7325249871163\""
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurlrange0273217850190ecbf34f1f/javablobuploadpagefromurlrange3628159a58b02e12654?comp=page",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Thu, 05 Sep 2019 22:42:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "JQ0obDJVZ4GRuz88ANdtsg==",
      "ETag" : "\"0x8D7325249A0DFB3\""
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurlrange0273217850190ecbf34f1f/javablobuploadpagefromurlrange3628159a58b02e12654",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Thu, 05 Sep 2019 22:42:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D7325249A0DFB3\"",
      "x-ms-creation-time" : "Thu, 05 Sep 2019 22:42:09 GMT",
      "Body" : "[121, -74, 107, 67, -41, -65, -89, 113, -83, -95, 32, 127, -27, 79, 49, -11, 105, 127, -13, 103, -71, 54, -10, 61, -69, -80, -45, -47, -116, -16, 52, 107, -125, 66, -8, 117, -102, -119, -52, 14, 47, 114, -93, -74, 39, -38, 16, -108, 78, 99, -49, 49, -111, 30, -117, -13, -46, -127, 72, 4, -78, 79, -91, 76, -13, 37, 98, 116, -36, -33, -128, -60, 17, -22, 96, 102, 48, 91, -24, 8, 14, -112, 62, -91, 40, 110, -119, 97, -16, -94, -92, 118, -121, 19, 63, 90, -56, 2, -107, 73, 15, -77, -27, -50, 61, -[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net?prefix=jtcuploadpagefromurlrange&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jaschrepragrs.blob.core.windows.net/\"><Prefix>jtcuploadpagefromurlrange</Prefix><Containers><Container><Name>jtcuploadpagefromurlrange0273217850190ecbf34f1f</Name><Properties><Last-Modified>Thu, 05 Sep 2019 22:42:09 GMT</Last-Modified><Etag>\"0x8D73252496DAC6E\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>container</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurlrange0273217850190ecbf34f1f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcuploadpagefromurlrange0273217850190ecbf34f1f", "javablobuploadpagefromurlrange194024f4f1b3b3f36c4", "4445adbb-67a4-4fb7-a391-928656d89da5", "javablobuploadpagefromurlrange25025867404b8fa15f4", "javablobuploadpagefromurlrange3628159a58b02e12654" ]
}