{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurlrange0613548e30d42541f844a4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7356182DFA807\"",
      "Last-Modified" : "Mon, 09 Sep 2019 20:08:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurlrange0613548e30d42541f844a4/javablobuploadpagefromurlrange153428f7acc68023fe4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7356182EDBA66\"",
      "Last-Modified" : "Mon, 09 Sep 2019 20:08:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurlrange0613548e30d42541f844a4?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7356182FA10A0\"",
      "Last-Modified" : "Mon, 09 Sep 2019 20:08:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurlrange0613548e30d42541f844a4/javablobuploadpagefromurlrange207617e3a060cf83804?comp=page",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "1I/g2VDfi7U=",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Mon, 09 Sep 2019 20:08:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D7356183156DF6\""
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurlrange0613548e30d42541f844a4/javablobuploadpagefromurlrange3664549b2945648f4b4?comp=page",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Mon, 09 Sep 2019 20:08:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "+eZxdjm2z6365obLet++Wg==",
      "ETag" : "\"0x8D7356183309C11\""
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurlrange0613548e30d42541f844a4/javablobuploadpagefromurlrange3664549b2945648f4b4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Mon, 09 Sep 2019 20:08:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D7356183309C11\"",
      "x-ms-creation-time" : "Mon, 09 Sep 2019 20:08:42 GMT",
      "Body" : "[-41, 103, 66, -30, 114, -105, -106, 66, -117, -6, 97, -99, -69, 96, 100, 82, 86, -17, -29, -20, 31, -18, 23, 12, -98, 110, 24, 44, 20, 106, 72, -37, 13, 109, -47, 127, 113, -128, 7, 6, -85, -35, 109, -87, -80, 82, 27, 65, 57, 52, 34, 32, -47, -3, 89, -100, 49, 92, -23, 42, 60, -94, 90, 41, 27, 35, 124, 103, 28, 75, 44, 102, 26, 25, -49, 123, -4, 97, 16, -4, -38, 40, -75, -30, -71, 92, 4, 53, 67, 48, 27, 66, -1, 86, 113, -123, -89, -59, 108, -54, -19, 29, 125, -16, 60, -95, -8, 17, -108, 43, -[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net?prefix=jtcuploadpagefromurlrange&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jaschrepragrs.blob.core.windows.net/\"><Prefix>jtcuploadpagefromurlrange</Prefix><Containers><Container><Name>jtcuploadpagefromurlrange0613548e30d42541f844a4</Name><Properties><Last-Modified>Mon, 09 Sep 2019 20:08:42 GMT</Last-Modified><Etag>\"0x8D7356182FA10A0\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>container</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurlrange0613548e30d42541f844a4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcuploadpagefromurlrange0613548e30d42541f844a4", "javablobuploadpagefromurlrange153428f7acc68023fe4", "47964d01-1fb7-4a32-ad86-8dfbf4426b10", "javablobuploadpagefromurlrange207617e3a060cf83804", "javablobuploadpagefromurlrange3664549b2945648f4b4" ]
}