{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac099166eafc285cfcdd40c4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D732FDD5DED646\"",
      "Last-Modified" : "Fri, 06 Sep 2019 19:10:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac099166eafc285cfcdd40c4/javablobstartincrementalcopyac10931893162b1f45554",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D732FDD5E79785\"",
      "Last-Modified" : "Fri, 06 Sep 2019 19:10:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac099166eafc285cfcdd40c4?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D732FDD5ED0807\"",
      "Last-Modified" : "Fri, 06 Sep 2019 19:10:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac099166eafc285cfcdd40c4/javablobstartincrementalcopyac10931893162b1f45554?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-09-06T19:10:09.3734447Z",
      "ETag" : "\"0x8D732FDD5E79785\"",
      "Last-Modified" : "Fri, 06 Sep 2019 19:10:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac099166eafc285cfcdd40c4/javablobstartincrementalcopyac238163b9874e8918814?comp=incrementalcopy",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "1f746999-3263-40a3-a4e6-4b2140119372",
      "ETag" : "\"0x8D732FDD603D8B6\"",
      "Last-Modified" : "Fri, 06 Sep 2019 19:10:09 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "pending",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac099166eafc285cfcdd40c4/javablobstartincrementalcopyac238163b9874e8918814",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-copy-destination-snapshot" : "2019-09-06T19:10:09.5946497Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Fri, 06 Sep 2019 19:10:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Fri, 06 Sep 2019 19:10:09 GMT",
      "x-ms-incremental-copy" : "true",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "1f746999-3263-40a3-a4e6-4b2140119372",
      "x-ms-copy-source" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac099166eafc285cfcdd40c4/javablobstartincrementalcopyac10931893162b1f45554?snapshot=2019-09-06T19:10:09.3734447Z",
      "x-ms-blob-sequence-number" : "0",
      "x-ms-copy-progress" : "512/512",
      "x-ms-copy-completion-time" : "Fri, 06 Sep 2019 19:10:09 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D732FDD603D8B6\"",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcstartincrementalcopyac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcstartincrementalcopyac</Prefix><Containers><Container><Name>jtcstartincrementalcopyac099166eafc285cfcdd40c4</Name><Properties><Last-Modified>Fri, 06 Sep 2019 19:10:09 GMT</Last-Modified><Etag>\"0x8D732FDD5ED0807\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>blob</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac099166eafc285cfcdd40c4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcstartincrementalcopyac099166eafc285cfcdd40c4", "javablobstartincrementalcopyac10931893162b1f45554", "javablobstartincrementalcopyac238163b9874e8918814" ]
}