{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcuploadpageac0pageblobapitestuploadpageacf909998777afc7?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F47E9C36413",
      "Last-Modified" : "Thu, 12 Dec 2019 21:11:53 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcuploadpageac0pageblobapitestuploadpageacf909998777afc7/javablobuploadpageac1pageblobapitestuploadpageacf90180902f0",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F47E9D05E1C",
      "Last-Modified" : "Thu, 12 Dec 2019 21:11:53 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcuploadpageac0pageblobapitestuploadpageacf909998777afc7/javablobuploadpageac1pageblobapitestuploadpageacf90180902f0?comp=page",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Thu, 12 Dec 2019 21:11:53 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "VODM3Ra8ERZOlpFmhsGHSg==",
      "ETag" : "0x8D77F47E9DCB7F2"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net?prefix=jtcuploadpageac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\"><Prefix>jtcuploadpageac</Prefix><Containers><Container><Name>jtcuploadpageac0pageblobapitestuploadpageacf909998777afc7</Name><Properties><Last-Modified>Thu, 12 Dec 2019 21:11:53 GMT</Last-Modified><Etag>\"0x8D77F47E9C36413\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcuploadpageac0pageblobapitestuploadpageacf909998777afc7?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcuploadpageac0pageblobapitestuploadpageacf909998777afc7", "javablobuploadpageac1pageblobapitestuploadpageacf90180902f0", "a3c95c51-7f1b-44d8-ad63-93116988bc83" ]
}