{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac08007836bd65505aea411e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72CB0C564D813\"",
      "Last-Modified" : "Thu, 29 Aug 2019 18:43:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac08007836bd65505aea411e/javablobstartincrementalcopyac120216d2526947eeff4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72CB0C56A14A7\"",
      "Last-Modified" : "Thu, 29 Aug 2019 18:43:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac08007836bd65505aea411e?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72CB0C56FF369\"",
      "Last-Modified" : "Thu, 29 Aug 2019 18:43:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac08007836bd65505aea411e/javablobstartincrementalcopyac120216d2526947eeff4?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-08-29T18:43:23.4875121Z",
      "ETag" : "\"0x8D72CB0C56A14A7\"",
      "Last-Modified" : "Thu, 29 Aug 2019 18:43:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac08007836bd65505aea411e/javablobstartincrementalcopyac254075caacab4ab0c84?comp=incrementalcopy",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "bfcff45c-b37e-4914-9d51-8462fb813fc0",
      "ETag" : "\"0x8D72CB0C57FEBFE\"",
      "Last-Modified" : "Thu, 29 Aug 2019 18:43:23 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "pending",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac08007836bd65505aea411e/javablobstartincrementalcopyac254075caacab4ab0c84",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 29 Aug 2019 18:43:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Thu, 29 Aug 2019 18:43:23 GMT",
      "x-ms-incremental-copy" : "true",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "bfcff45c-b37e-4914-9d51-8462fb813fc0",
      "x-ms-copy-source" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac08007836bd65505aea411e/javablobstartincrementalcopyac120216d2526947eeff4?snapshot=2019-08-29T18:43:23.4875121Z",
      "x-ms-blob-sequence-number" : "0",
      "x-ms-copy-progress" : "0/512",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D72CB0C57FEBFE\"",
      "x-ms-copy-status" : "pending"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac08007836bd65505aea411e/javablobstartincrementalcopyac254075caacab4ab0c84",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-copy-destination-snapshot" : "2019-08-29T18:43:23.5886103Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 29 Aug 2019 18:43:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Thu, 29 Aug 2019 18:43:23 GMT",
      "x-ms-incremental-copy" : "true",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "bfcff45c-b37e-4914-9d51-8462fb813fc0",
      "x-ms-copy-source" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac08007836bd65505aea411e/javablobstartincrementalcopyac120216d2526947eeff4?snapshot=2019-08-29T18:43:23.4875121Z",
      "x-ms-blob-sequence-number" : "0",
      "x-ms-copy-progress" : "512/512",
      "x-ms-copy-completion-time" : "Thu, 29 Aug 2019 18:43:23 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D72CB0C57FEBFE\"",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcstartincrementalcopyac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcstartincrementalcopyac</Prefix><Containers><Container><Name>jtcstartincrementalcopyac08007836bd65505aea411e</Name><Properties><Last-Modified>Thu, 29 Aug 2019 18:43:23 GMT</Last-Modified><Etag>\"0x8D72CB0C56FF369\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>blob</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac08007836bd65505aea411e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcstartincrementalcopyac08007836bd65505aea411e", "javablobstartincrementalcopyac120216d2526947eeff4", "javablobstartincrementalcopyac254075caacab4ab0c84" ]
}