{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcresize0pageblobapitestresize9a532046839eac02ee1a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325265BB326B\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:42:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcresize0pageblobapitestresize9a532046839eac02ee1a/javablobresize1pageblobapitestresize9a55640330198a554",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325265C83047\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:42:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcresize0pageblobapitestresize9a532046839eac02ee1a/javablobresize1pageblobapitestresize9a55640330198a554?comp=properties",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325265DA8329\"",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Thu, 05 Sep 2019 22:42:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcresize0pageblobapitestresize9a532046839eac02ee1a/javablobresize1pageblobapitestresize9a55640330198a554",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Thu, 05 Sep 2019 22:42:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "\"0x8D7325265DA8329\"",
      "x-ms-creation-time" : "Thu, 05 Sep 2019 22:42:57 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net?prefix=jtcresize&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jaschrepragrs.blob.core.windows.net/\"><Prefix>jtcresize</Prefix><Containers><Container><Name>jtcresize0pageblobapitestresize9a532046839eac02ee1a</Name><Properties><Last-Modified>Thu, 05 Sep 2019 22:42:57 GMT</Last-Modified><Etag>\"0x8D7325265BB326B\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcresize0pageblobapitestresize9a532046839eac02ee1a?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcresize0pageblobapitestresize9a532046839eac02ee1a", "javablobresize1pageblobapitestresize9a55640330198a554" ]
}