{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac057654e589ce2cd34e470f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72CB0C88D902A\"",
      "Last-Modified" : "Thu, 29 Aug 2019 18:43:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac057654e589ce2cd34e470f/javablobstartincrementalcopyac174312bba464c0c9e54",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72CB0C892F7B6\"",
      "Last-Modified" : "Thu, 29 Aug 2019 18:43:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac057654e589ce2cd34e470f?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72CB0C8985D25\"",
      "Last-Modified" : "Thu, 29 Aug 2019 18:43:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac057654e589ce2cd34e470f/javablobstartincrementalcopyac174312bba464c0c9e54?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-08-29T18:43:28.7856305Z",
      "ETag" : "\"0x8D72CB0C892F7B6\"",
      "Last-Modified" : "Thu, 29 Aug 2019 18:43:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac057654e589ce2cd34e470f/javablobstartincrementalcopyac244563504c32f74d784?comp=incrementalcopy",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "e8d8af25-1eb3-42c8-b620-b6f11b3ca77b",
      "ETag" : "\"0x8D72CB0C8A5C103\"",
      "Last-Modified" : "Thu, 29 Aug 2019 18:43:28 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "pending",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac057654e589ce2cd34e470f/javablobstartincrementalcopyac244563504c32f74d784",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-copy-destination-snapshot" : "2019-08-29T18:43:28.8697116Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 29 Aug 2019 18:43:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Thu, 29 Aug 2019 18:43:28 GMT",
      "x-ms-incremental-copy" : "true",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "e8d8af25-1eb3-42c8-b620-b6f11b3ca77b",
      "x-ms-copy-source" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac057654e589ce2cd34e470f/javablobstartincrementalcopyac174312bba464c0c9e54?snapshot=2019-08-29T18:43:28.7856305Z",
      "x-ms-blob-sequence-number" : "0",
      "x-ms-copy-progress" : "512/512",
      "x-ms-copy-completion-time" : "Thu, 29 Aug 2019 18:43:28 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D72CB0C8A5C103\"",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcstartincrementalcopyac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcstartincrementalcopyac</Prefix><Containers><Container><Name>jtcstartincrementalcopyac057654e589ce2cd34e470f</Name><Properties><Last-Modified>Thu, 29 Aug 2019 18:43:28 GMT</Last-Modified><Etag>\"0x8D72CB0C8985D25\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>blob</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac057654e589ce2cd34e470f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcstartincrementalcopyac057654e589ce2cd34e470f", "javablobstartincrementalcopyac174312bba464c0c9e54", "javablobstartincrementalcopyac244563504c32f74d784" ]
}