{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac0512406c1f4cf6d0e24b71?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72CB6BCEF874B\"",
      "Last-Modified" : "Thu, 29 Aug 2019 19:26:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac0512406c1f4cf6d0e24b71/javablobstartincrementalcopyac1417034bd670759d7b4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72CB6BCF5AA3B\"",
      "Last-Modified" : "Thu, 29 Aug 2019 19:26:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac0512406c1f4cf6d0e24b71?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72CB6BCFAB06B\"",
      "Last-Modified" : "Thu, 29 Aug 2019 19:26:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac0512406c1f4cf6d0e24b71/javablobstartincrementalcopyac1417034bd670759d7b4?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-08-29T19:26:06.2781703Z",
      "ETag" : "\"0x8D72CB6BCF5AA3B\"",
      "Last-Modified" : "Thu, 29 Aug 2019 19:26:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac0512406c1f4cf6d0e24b71/javablobstartincrementalcopyac2282070f167ede94834?comp=incrementalcopy",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "bc403185-a5c1-4ff3-a862-ee3e84f5bec4",
      "ETag" : "\"0x8D72CB6BD069E54\"",
      "Last-Modified" : "Thu, 29 Aug 2019 19:26:06 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "pending",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac0512406c1f4cf6d0e24b71/javablobstartincrementalcopyac2282070f167ede94834",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 29 Aug 2019 19:26:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Thu, 29 Aug 2019 19:26:06 GMT",
      "x-ms-incremental-copy" : "true",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "bc403185-a5c1-4ff3-a862-ee3e84f5bec4",
      "x-ms-copy-source" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac0512406c1f4cf6d0e24b71/javablobstartincrementalcopyac1417034bd670759d7b4?snapshot=2019-08-29T19:26:06.2781703Z",
      "x-ms-blob-sequence-number" : "0",
      "x-ms-copy-progress" : "0/512",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D72CB6BD069E54\"",
      "x-ms-copy-status" : "pending"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac0512406c1f4cf6d0e24b71/javablobstartincrementalcopyac2282070f167ede94834",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-copy-destination-snapshot" : "2019-08-29T19:26:06.3802693Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 29 Aug 2019 19:26:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Thu, 29 Aug 2019 19:26:06 GMT",
      "x-ms-incremental-copy" : "true",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "bc403185-a5c1-4ff3-a862-ee3e84f5bec4",
      "x-ms-copy-source" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac0512406c1f4cf6d0e24b71/javablobstartincrementalcopyac1417034bd670759d7b4?snapshot=2019-08-29T19:26:06.2781703Z",
      "x-ms-blob-sequence-number" : "0",
      "x-ms-copy-progress" : "512/512",
      "x-ms-copy-completion-time" : "Thu, 29 Aug 2019 19:26:06 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D72CB6BD069E54\"",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcstartincrementalcopyac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcstartincrementalcopyac</Prefix><Containers><Container><Name>jtcstartincrementalcopyac0512406c1f4cf6d0e24b71</Name><Properties><Last-Modified>Thu, 29 Aug 2019 19:26:06 GMT</Last-Modified><Etag>\"0x8D72CB6BCFAB06B\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>blob</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac0512406c1f4cf6d0e24b71?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcstartincrementalcopyac0512406c1f4cf6d0e24b71", "javablobstartincrementalcopyac1417034bd670759d7b4", "javablobstartincrementalcopyac2282070f167ede94834" ]
}