{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcuploadpagefromurlrange0954063c77f1122f2d44e2?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F47ECEC1BDE",
      "Last-Modified" : "Thu, 12 Dec 2019 21:11:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcuploadpagefromurlrange0954063c77f1122f2d44e2/javablobuploadpagefromurlrange145793beca065a3daa4",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F47ECF8C76F",
      "Last-Modified" : "Thu, 12 Dec 2019 21:11:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcuploadpagefromurlrange0954063c77f1122f2d44e2?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F47ED04A6A7",
      "Last-Modified" : "Thu, 12 Dec 2019 21:11:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcuploadpagefromurlrange0954063c77f1122f2d44e2/javablobuploadpagefromurlrange288944ffedce5c5e534?comp=page",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Thu, 12 Dec 2019 21:11:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "Sjgzw3WvTKJMIZTto3+slg==",
      "ETag" : "0x8D77F47ED1D65C4"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcuploadpagefromurlrange0954063c77f1122f2d44e2/javablobuploadpagefromurlrange332030badfd9cd9de94",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Thu, 12 Dec 2019 21:11:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D77F47ED37062A",
      "x-ms-creation-time" : "Thu, 12 Dec 2019 21:11:59 GMT",
      "Body" : "[98, 19, -2, -28, 5, -89, -76, 88, -71, 69, -111, -49, 47, -122, -66, -80, 67, -94, -101, 71, -33, -36, 27, 59, 80, -47, 75, -121, -102, 122, 48, -90, -49, 113, 98, 86, -106, 116, 25, 60, -11, -10, -67, 109, 103, -71, -71, -30, -49, 19, 93, 9, 78, -102, -13, 63, -67, -56, -20, -40, -14, 51, -53, -12, -39, 76, 78, 113, 123, 105, -90, 32, -41, 61, -66, -122, 108, 48, 70, 45, -14, -54, 65, -7, -76, 8, -55, 51, -51, -125, -10, -11, -54, -5, 10, -3, 122, 34, 31, 21, -51, 46, -120, -120, 10, -96, -3[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net?prefix=jtcuploadpagefromurlrange&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\"><Prefix>jtcuploadpagefromurlrange</Prefix><Containers><Container><Name>jtcuploadpagefromurlrange0954063c77f1122f2d44e2</Name><Properties><Last-Modified>Thu, 12 Dec 2019 21:11:59 GMT</Last-Modified><Etag>\"0x8D77F47ED04A6A7\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>container</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcuploadpagefromurlrange0954063c77f1122f2d44e2?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcuploadpagefromurlrange0954063c77f1122f2d44e2", "javablobuploadpagefromurlrange145793beca065a3daa4", "12068ff3-4371-4cb6-8b0c-74e85c05f736", "javablobuploadpagefromurlrange288944ffedce5c5e534", "javablobuploadpagefromurlrange332030badfd9cd9de94" ]
}