{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcgetpagerangesdiff0pageblobapitestgetpagerangesdiff443437470?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F48027ACA56",
      "Last-Modified" : "Thu, 12 Dec 2019 21:12:35 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcgetpagerangesdiff0pageblobapitestgetpagerangesdiff443437470/javablobgetpagerangesdiff156555f2579d86d8b94326",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F4802876A88",
      "Last-Modified" : "Thu, 12 Dec 2019 21:12:35 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcgetpagerangesdiff0pageblobapitestgetpagerangesdiff443437470/javablobgetpagerangesdiff156555f2579d86d8b94326?comp=page",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Thu, 12 Dec 2019 21:12:35 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "d+5LQ9eXAnzKQ5ehtWyY/Q==",
      "ETag" : "0x8D77F48029FFB3A"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcgetpagerangesdiff0pageblobapitestgetpagerangesdiff443437470/javablobgetpagerangesdiff156555f2579d86d8b94326?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-snapshot" : "2019-12-12T21:12:35.5446358Z",
      "ETag" : "0x8D77F48029FFB3A",
      "Last-Modified" : "Thu, 12 Dec 2019 21:12:35 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcgetpagerangesdiff0pageblobapitestgetpagerangesdiff443437470/javablobgetpagerangesdiff156555f2579d86d8b94326?prevsnapshot=2019-12-12T21%3a12%3a35.5446358Z&comp=pagelist",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-blob-content-length" : "1024",
      "Last-Modified" : "Thu, 12 Dec 2019 21:12:35 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "0x8D77F4802C49A2D",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList><PageRange><Start>0</Start><End>511</End></PageRange><ClearRange><Start>512</Start><End>1023</End></ClearRange></PageList>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net?prefix=jtcgetpagerangesdiff&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\"><Prefix>jtcgetpagerangesdiff</Prefix><Containers><Container><Name>jtcgetpagerangesdiff0pageblobapitestgetpagerangesdiff443437470</Name><Properties><Last-Modified>Thu, 12 Dec 2019 21:12:35 GMT</Last-Modified><Etag>\"0x8D77F48027ACA56\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcgetpagerangesdiff0pageblobapitestgetpagerangesdiff443437470?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcgetpagerangesdiff0pageblobapitestgetpagerangesdiff443437470", "javablobgetpagerangesdiff156555f2579d86d8b94326", "f27a1e18-3fc5-4cf0-8177-64b0c88aadd6", "a154256d-cd30-4204-84f7-0b24fedaee35" ]
}