{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcstartincrementalcopyac00463182c7d069870842d1?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F4821B257F0",
      "Last-Modified" : "Thu, 12 Dec 2019 21:13:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcstartincrementalcopyac00463182c7d069870842d1/javablobstartincrementalcopyac149069e28946ccd8ee4",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F4821BFACF9",
      "Last-Modified" : "Thu, 12 Dec 2019 21:13:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcstartincrementalcopyac00463182c7d069870842d1?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F4821CBC72C",
      "Last-Modified" : "Thu, 12 Dec 2019 21:13:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcstartincrementalcopyac00463182c7d069870842d1/javablobstartincrementalcopyac149069e28946ccd8ee4?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-snapshot" : "2019-12-12T21:13:27.8416367Z",
      "ETag" : "0x8D77F4821BFACF9",
      "Last-Modified" : "Thu, 12 Dec 2019 21:13:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcstartincrementalcopyac00463182c7d069870842d1/javablobstartincrementalcopyac281139ec82a457365a4?comp=incrementalcopy",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-copy-id" : "64f5d3fc-5bb3-46ed-8cbf-a42b36c59081",
      "ETag" : "0x8D77F4821E5F682",
      "Last-Modified" : "Thu, 12 Dec 2019 21:13:27 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "pending",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcstartincrementalcopyac00463182c7d069870842d1/javablobstartincrementalcopyac281139ec82a457365a4",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-copy-destination-snapshot" : "2019-12-12T21:13:27.9596411Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 12 Dec 2019 21:13:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-creation-time" : "Thu, 12 Dec 2019 21:13:27 GMT",
      "x-ms-incremental-copy" : "true",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-07-07",
      "x-ms-copy-id" : "64f5d3fc-5bb3-46ed-8cbf-a42b36c59081",
      "x-ms-copy-source" : "https://gaprastg71.blob.core.windows.net/jtcstartincrementalcopyac00463182c7d069870842d1/javablobstartincrementalcopyac149069e28946ccd8ee4?snapshot=2019-12-12T21:13:27.8416367Z",
      "x-ms-blob-sequence-number" : "0",
      "x-ms-copy-progress" : "512/512",
      "x-ms-copy-completion-time" : "Thu, 12 Dec 2019 21:13:27 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D77F4821E5F682",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net?prefix=jtcstartincrementalcopyac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\"><Prefix>jtcstartincrementalcopyac</Prefix><Containers><Container><Name>jtcstartincrementalcopyac00463182c7d069870842d1</Name><Properties><Last-Modified>Thu, 12 Dec 2019 21:13:27 GMT</Last-Modified><Etag>\"0x8D77F4821CBC72C\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>blob</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcstartincrementalcopyac00463182c7d069870842d1?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcstartincrementalcopyac00463182c7d069870842d1", "javablobstartincrementalcopyac149069e28946ccd8ee4", "javablobstartincrementalcopyac281139ec82a457365a4" ]
}