{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac00081154497fdfcea945fe?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72813DC657DE1\"",
      "Last-Modified" : "Fri, 23 Aug 2019 21:50:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac00081154497fdfcea945fe/javablobstartincrementalcopyac1079800fd71d61a09b4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72813DC6AD067\"",
      "Last-Modified" : "Fri, 23 Aug 2019 21:50:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac00081154497fdfcea945fe?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72813DC6F8F7C\"",
      "Last-Modified" : "Fri, 23 Aug 2019 21:50:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac00081154497fdfcea945fe/javablobstartincrementalcopyac1079800fd71d61a09b4?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-snapshot" : "2019-08-23T21:50:06.4422573Z",
      "ETag" : "\"0x8D72813DC6AD067\"",
      "Last-Modified" : "Fri, 23 Aug 2019 21:50:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac00081154497fdfcea945fe/javablobstartincrementalcopyac25276123443a8e9cd74?comp=incrementalcopy",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "14a09b7f-1bce-4805-a492-f07774e10dfa",
      "ETag" : "\"0x8D72813DC7D729F\"",
      "Last-Modified" : "Fri, 23 Aug 2019 21:50:06 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "pending",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac00081154497fdfcea945fe/javablobstartincrementalcopyac25276123443a8e9cd74",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Fri, 23 Aug 2019 21:50:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Fri, 23 Aug 2019 21:50:06 GMT",
      "x-ms-incremental-copy" : "true",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "14a09b7f-1bce-4805-a492-f07774e10dfa",
      "x-ms-copy-source" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac00081154497fdfcea945fe/javablobstartincrementalcopyac1079800fd71d61a09b4?snapshot=2019-08-23T21:50:06.4422573Z",
      "x-ms-blob-sequence-number" : "0",
      "x-ms-copy-progress" : "0/512",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D72813DC7D729F\"",
      "x-ms-copy-status" : "pending"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac00081154497fdfcea945fe/javablobstartincrementalcopyac25276123443a8e9cd74",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-copy-destination-snapshot" : "2019-08-23T21:50:06.5213339Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Fri, 23 Aug 2019 21:50:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Fri, 23 Aug 2019 21:50:06 GMT",
      "x-ms-incremental-copy" : "true",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-02-02",
      "x-ms-copy-id" : "14a09b7f-1bce-4805-a492-f07774e10dfa",
      "x-ms-copy-source" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac00081154497fdfcea945fe/javablobstartincrementalcopyac1079800fd71d61a09b4?snapshot=2019-08-23T21:50:06.4422573Z",
      "x-ms-blob-sequence-number" : "0",
      "x-ms-copy-progress" : "512/512",
      "x-ms-copy-completion-time" : "Fri, 23 Aug 2019 21:50:06 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D72813DC7D729F\"",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcstartincrementalcopyac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcstartincrementalcopyac</Prefix><Containers><Container><Name>jtcstartincrementalcopyac00081154497fdfcea945fe</Name><Properties><Last-Modified>Fri, 23 Aug 2019 21:50:06 GMT</Last-Modified><Etag>\"0x8D72813DC6F8F7C\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>blob</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac00081154497fdfcea945fe?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcstartincrementalcopyac00081154497fdfcea945fe", "javablobstartincrementalcopyac1079800fd71d61a09b4", "javablobstartincrementalcopyac25276123443a8e9cd74" ]
}