{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtccreatetags0pageblobapitestcreatetagsbc621108c8e91669?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7E56A91F18F5B",
      "Last-Modified" : "Mon, 20 Apr 2020 20:36:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtccreatetags0pageblobapitestcreatetagsbc621108c8e91669/javablobcreatetags1pageblobapitestcreatetagsbc690393fe160",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7E56A921ED0DC",
      "Last-Modified" : "Mon, 20 Apr 2020 20:36:57 GMT",
      "x-ms-version-id" : "2020-04-20T20:36:57.7001692Z",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtccreatetags0pageblobapitestcreatetagsbc621108c8e91669/javablobcreatetags1pageblobapitestcreatetagsbc690393fe160?comp=tags",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Tags><TagSet><Tag><Key> +-./:=_  +-./:=_</Key><Value> +-./:=_</Value></Tag></TagSet></Tags>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://blobindex1.blob.core.windows.net?prefix=jtccreatetags&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://blobindex1.blob.core.windows.net/\"><Prefix>jtccreatetags</Prefix><Containers><Container><Name>jtccreatetags0pageblobapitestcreatetagsbc621108c8e91669</Name><Properties><Last-Modified>Mon, 20 Apr 2020 20:36:57 GMT</Last-Modified><Etag>\"0x8D7E56A91F18F5B\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtccreatetags0pageblobapitestcreatetagsbc621108c8e91669?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtccreatetags0pageblobapitestcreatetagsbc621108c8e91669", "javablobcreatetags1pageblobapitestcreatetagsbc690393fe160" ]
}