{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurlsourceac03554831c21bcb49864b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325252CFD44D\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:42:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurlsourceac03554831c21bcb49864b/javablobuploadpagefromurlsourceac139844855921d64585",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325252DCC7FB\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:42:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurlsourceac03554831c21bcb49864b?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D7325252E941B6\"",
      "Last-Modified" : "Thu, 05 Sep 2019 22:42:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurlsourceac03554831c21bcb49864b/javablobuploadpagefromurlsourceac2846520c3badc2acd2?comp=page",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "tlzg3TYEW7U=",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Thu, 05 Sep 2019 22:42:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "\"0x8D732525303DF2A\""
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurlsourceac03554831c21bcb49864b/javablobuploadpagefromurlsourceac139844855921d64585?comp=page",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Thu, 05 Sep 2019 22:42:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "zEGuDy8qoClt+ebLxleCxg==",
      "ETag" : "\"0x8D7325253132434\""
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net?prefix=jtcuploadpagefromurlsourceac&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jaschrepragrs.blob.core.windows.net/\"><Prefix>jtcuploadpagefromurlsourceac</Prefix><Containers><Container><Name>jtcuploadpagefromurlsourceac03554831c21bcb49864b</Name><Properties><Last-Modified>Thu, 05 Sep 2019 22:42:25 GMT</Last-Modified><Etag>\"0x8D7325252E941B6\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>container</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://jaschrepragrs.blob.core.windows.net/jtcuploadpagefromurlsourceac03554831c21bcb49864b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcuploadpagefromurlsourceac03554831c21bcb49864b", "javablobuploadpagefromurlsourceac139844855921d64585", "javablobuploadpagefromurlsourceac2846520c3badc2acd2", "24d15201-d031-4916-8ce6-fdbd6513fe30" ]
}