{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadpagefromurlrange084104ca62b1a4692a4e4b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D751AEFC648913",
      "Last-Modified" : "Tue, 15 Oct 2019 20:33:49 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadpagefromurlrange084104ca62b1a4692a4e4b/javablobuploadpagefromurlrange14424713293c01098c4",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D751AEFC6CB1E1",
      "Last-Modified" : "Tue, 15 Oct 2019 20:33:49 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadpagefromurlrange084104ca62b1a4692a4e4b?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "0x8D751AEFC72A068",
      "Last-Modified" : "Tue, 15 Oct 2019 20:33:49 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadpagefromurlrange084104ca62b1a4692a4e4b/javablobuploadpagefromurlrange2414684680253193734?comp=page",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "IE7ivFZsHds=",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Tue, 15 Oct 2019 20:33:49 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D751AEFC7F05E1"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadpagefromurlrange084104ca62b1a4692a4e4b/javablobuploadpagefromurlrange35075863452f844f034?comp=page",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Tue, 15 Oct 2019 20:33:50 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "qEmqviuyrKsUo797FMCqGA==",
      "ETag" : "0x8D751AEFC97C41D"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadpagefromurlrange084104ca62b1a4692a4e4b/javablobuploadpagefromurlrange35075863452f844f034",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Tue, 15 Oct 2019 20:33:50 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D751AEFC97C41D",
      "x-ms-creation-time" : "Tue, 15 Oct 2019 20:33:49 GMT",
      "Body" : "[-83, 18, 69, 109, 74, -114, 47, 22, 102, -1, 124, -73, -108, -127, -127, 63, 49, -102, 126, 8, 11, 59, -98, 64, 87, -9, 63, -9, 1, -78, -64, 101, -111, -85, -55, -51, -83, 42, 52, -101, -51, -30, 100, 12, -84, 15, 108, 80, 22, 101, -94, -50, 126, -43, -42, -114, -1, -112, 8, -52, 101, 127, -84, 127, 68, 101, 51, 29, 25, -94, 31, -113, -122, -81, -76, 46, 40, -88, -66, -116, 62, 108, -106, 118, -5, 116, 16, 41, 102, -28, -81, -128, -42, -98, 29, 39, 104, 47, 51, -58, 85, 37, -55, 119, 78, 4, -[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcuploadpagefromurlrange&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcuploadpagefromurlrange</Prefix><Containers><Container><Name>jtcuploadpagefromurlrange084104ca62b1a4692a4e4b</Name><Properties><Last-Modified>Tue, 15 Oct 2019 20:33:49 GMT</Last-Modified><Etag>\"0x8D751AEFC72A068\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>container</PublicAccess><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadpagefromurlrange084104ca62b1a4692a4e4b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcuploadpagefromurlrange084104ca62b1a4692a4e4b", "javablobuploadpagefromurlrange14424713293c01098c4", "b1bfdc09-a7eb-4f1a-a6ba-329e5a511539", "javablobuploadpagefromurlrange2414684680253193734", "javablobuploadpagefromurlrange35075863452f844f034" ]
}