{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcblobsasimplutilstringtosign0383483db1ca1120774?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7D0F7E89D07CE",
      "Last-Modified" : "Wed, 25 Mar 2020 20:05:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcblobsasimplutilstringtosign0383483db1ca1120774/javablobblobsasimplutilstringtosign166979e66771d8b90",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "x-ms-version-id" : "2020-03-25T20:05:47.4920656Z",
      "Last-Modified" : "Wed, 25 Mar 2020 20:05:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7D0F7E8A634D0"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net?prefix=jtcblobsasimplutilstringtosign&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://cdm03r01aversioning16.blob.core.windows.net/\"><Prefix>jtcblobsasimplutilstringtosign</Prefix><Containers><Container><Name>jtcblobsasimplutilstringtosign0383483db1ca1120774</Name><Properties><Last-Modified>Wed, 25 Mar 2020 20:05:47 GMT</Last-Modified><Etag>\"0x8D7D0F7E89D07CE\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcblobsasimplutilstringtosign0383483db1ca1120774?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcblobsasimplutilstringtosign0383483db1ca1120774", "javablobblobsasimplutilstringtosign166979e66771d8b90" ]
}