{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcnetworktestblobsnapshot028608612d1ccb42c2463?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D78A4AAB067F9C",
      "Last-Modified" : "Thu, 26 Dec 2019 21:29:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcnetworktestblobsnapshot028608612d1ccb42c2463/javablobnetworktestblobsnapshot196380447bfc74400c4",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Thu, 26 Dec 2019 21:29:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D78A4AAB37487A"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcnetworktestblobsnapshot028608612d1ccb42c2463/javablobnetworktestblobsnapshot222220047518b4190a4?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-snapshot" : "2019-12-26T21:29:20.2744265Z",
      "ETag" : "0x8D78A4AAB459F68",
      "Last-Modified" : "Thu, 26 Dec 2019 21:29:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcnetworktestblobsnapshot028608612d1ccb42c2463/javablobnetworktestblobsnapshot222220047518b4190a4?snapshot=2019-12-26T21%3a29%3a20.2744265Z&sv=2019-07-07&spr=https%2Chttp&st=2019-12-25T21%3A29%3A20Z&se=2019-12-27T21%3A29%3A20Z&sip=0.0.0.0-255.255.255.255&sr=bs&sp=racwd&sig=REDACTED&rscc=cache&rscd=disposition&rsce=encoding&rscl=language&rsct=type",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "Last-Modified" : "Thu, 26 Dec 2019 21:29:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "CY9rzUYh03PK3k6DJie09g==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D78A4AAB459F68",
      "Content-Disposition" : "disposition",
      "x-ms-creation-time" : "Thu, 26 Dec 2019 21:29:20 GMT",
      "Body" : "test",
      "Content-Language" : "language",
      "Content-Type" : "type"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcnetworktestblobsnapshot028608612d1ccb42c2463/javablobnetworktestblobsnapshot222220047518b4190a4?snapshot=2019-12-26T21%3a29%3a20.2744265Z&sv=2019-07-07&spr=https%2Chttp&st=2019-12-25T21%3A29%3A20Z&se=2019-12-27T21%3A29%3A20Z&sip=0.0.0.0-255.255.255.255&sr=bs&sp=racwd&sig=REDACTED&rscc=cache&rscd=disposition&rsce=encoding&rscl=language&rsct=type",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "Last-Modified" : "Thu, 26 Dec 2019 21:29:20 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "CY9rzUYh03PK3k6DJie09g==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D78A4AAB459F68",
      "Content-Disposition" : "disposition",
      "x-ms-creation-time" : "Thu, 26 Dec 2019 21:29:20 GMT",
      "Content-Language" : "language",
      "Content-Type" : "type"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net?prefix=jtcnetworktestblobsnapshot&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\"><Prefix>jtcnetworktestblobsnapshot</Prefix><Containers><Container><Name>jtcnetworktestblobsnapshot028608612d1ccb42c2463</Name><Properties><Last-Modified>Thu, 26 Dec 2019 21:29:19 GMT</Last-Modified><Etag>\"0x8D78A4AAB067F9C\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcnetworktestblobsnapshot028608612d1ccb42c2463?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcnetworktestblobsnapshot028608612d1ccb42c2463", "javablobnetworktestblobsnapshot196380447bfc74400c4", "javablobnetworktestblobsnapshot222220047518b4190a4", "2019-12-26T21:29:20.292730900Z", "2019-12-26T21:29:20.292730900Z" ]
}