{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gapradev.blob.core.windows.net/jtcnetworktestblobuserdelegation023286641f58ee65f6?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7C6D25442173C",
      "Last-Modified" : "Thu, 12 Mar 2020 22:11:35 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gapradev.blob.core.windows.net/jtcnetworktestblobuserdelegation023286641f58ee65f6/javablobnetworktestblobuserdelegation1506494deb17e59a",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "Last-Modified" : "Thu, 12 Mar 2020 22:11:35 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7C6D254743B62"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://gapradev.blob.core.windows.net?restype=service&comp=userdelegationkey",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>e1f47fe2-5d52-4de7-820a-8bbce728080d</SignedOid><SignedTid>fc7925a6-f740-4ca8-8921-305c962b7e05</SignedTid><SignedStart>2020-03-11T22:11:35Z</SignedStart><SignedExpiry>2020-03-13T22:11:35Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2019-10-10</SignedVersion><Value>UkVEQUNURUQ=</Value></UserDelegationKey>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.blob.core.windows.net/jtcnetworktestblobuserdelegation023286641f58ee65f6/javablobnetworktestblobuserdelegation1506494deb17e59a?sv=2019-10-10&spr=https%2Chttp&st=2020-03-11T22%3A11%3A35Z&se=2020-03-13T22%3A11%3A35Z&sip=0.0.0.0-255.255.255.255&skoid=c4f48289-bb84-4086-b250-6f94a8f64cee&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2020-03-11T22%3A11%3A35Z&ske=2020-03-13T22%3A11%3A35Z&sks=b&skv=2019-10-10&sr=b&sp=racwd&sig=REDACTED&rscc=cache&rscd=disposition&rsce=encoding&rscl=language&rsct=type",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 12 Mar 2020 22:11:35 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7C6D254743B62",
      "Content-Disposition" : "disposition",
      "x-ms-creation-time" : "Thu, 12 Mar 2020 22:11:35 GMT",
      "Body" : "default",
      "Content-Language" : "language",
      "Content-Type" : "type"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://gapradev.blob.core.windows.net/jtcnetworktestblobuserdelegation023286641f58ee65f6/javablobnetworktestblobuserdelegation1506494deb17e59a?sv=2019-10-10&spr=https%2Chttp&st=2020-03-11T22%3A11%3A35Z&se=2020-03-13T22%3A11%3A35Z&sip=0.0.0.0-255.255.255.255&skoid=c4f48289-bb84-4086-b250-6f94a8f64cee&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2020-03-11T22%3A11%3A35Z&ske=2020-03-13T22%3A11%3A35Z&sks=b&skv=2019-10-10&sr=b&sp=racwd&sig=REDACTED&rscc=cache&rscd=disposition&rsce=encoding&rscl=language&rsct=type",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 12 Mar 2020 22:11:35 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Thu, 12 Mar 2020 22:11:35 GMT",
      "Content-Type" : "type",
      "x-ms-version" : "2019-10-10",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7C6D254743B62",
      "Content-Disposition" : "disposition",
      "Content-Language" : "language"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gapradev.blob.core.windows.net?prefix=jtcnetworktestblobuserdelegation&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gapradev.blob.core.windows.net/\"><Prefix>jtcnetworktestblobuserdelegation</Prefix><Containers><Container><Name>jtcnetworktestblobuserdelegation023286641f58ee65f6</Name><Properties><Last-Modified>Thu, 12 Mar 2020 22:11:35 GMT</Last-Modified><Etag>\"0x8D7C6D25442173C\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gapradev.blob.core.windows.net/jtcnetworktestblobuserdelegation023286641f58ee65f6?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcnetworktestblobuserdelegation023286641f58ee65f6", "javablobnetworktestblobuserdelegation1506494deb17e59a", "2020-03-12T22:11:35.891316800Z", "2020-03-12T22:11:35.891316800Z", "2020-03-12T22:11:35.908256800Z", "2020-03-12T22:11:35.908256800Z", "c4f48289-bb84-4086-b250-6f94a8f64cee", "72f988bf-86f1-41af-91ab-2d7cd011db47" ]
}