{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net/jtcservicesassignaturevaluesnetworktestblobsnapshotus0611652b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7F2B81FF40561",
      "Last-Modified" : "Thu, 07 May 2020 18:54:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net/jtcservicesassignaturevaluesnetworktestblobsnapshotus0611652b/862f7f35a51a470d987f5f08e9c3235896f09faa25ed422496d850f6f4a0de9a",
    "Headers" : {
      "x-ms-version" : "2019-12-12",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "x-ms-content-crc64" : "Q7G6/s6+u/k=",
      "x-ms-version-id" : "2020-05-07T18:54:52.3962298Z",
      "Last-Modified" : "Thu, 07 May 2020 18:54:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "CY9rzUYh03PK3k6DJie09g==",
      "ETag" : "0x8D7F2B8202D5BBA"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net/jtcservicesassignaturevaluesnetworktestblobsnapshotus0611652b/862f7f35a51a470d987f5f08e9c3235896f09faa25ed422496d850f6f4a0de9a?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "Last-Modified" : "Thu, 07 May 2020 18:54:52 GMT",
      "x-ms-version-id" : "2020-05-07T18:54:52.5073325Z",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false",
      "x-ms-snapshot" : "2020-05-07T18:54:52.5063325Z",
      "ETag" : "0x8D7F2B8202D5BBA"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net?restype=service&comp=userdelegationkey",
    "Headers" : {
      "x-ms-version" : "2019-12-12",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><UserDelegationKey><SignedOid>b1c008bf-cafa-4d30-8a2c-ad50ade74fe2</SignedOid><SignedTid>a8405fae-c074-43f2-8f47-678d16c12c69</SignedTid><SignedStart>2020-05-06T18:54:52Z</SignedStart><SignedExpiry>2020-05-08T18:54:52Z</SignedExpiry><SignedService>b</SignedService><SignedVersion>2019-12-12</SignedVersion><Value>UkVEQUNURUQ=</Value></UserDelegationKey>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net/jtcservicesassignaturevaluesnetworktestblobsnapshotus0611652b/862f7f35a51a470d987f5f08e9c3235896f09faa25ed422496d850f6f4a0de9a?sv=2019-10-10&spr=https%2Chttp&st=2020-05-06T18%3A54%3A52Z&se=2020-05-08T18%3A54%3A52Z&sip=0.0.0.0-255.255.255.255&skoid=c4f48289-bb84-4086-b250-6f94a8f64cee&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2020-05-06T18%3A54%3A52Z&ske=2020-05-08T18%3A54%3A52Z&sks=b&skv=2019-12-12&sr=bs&sp=racwd&sig=REDACTED&rscc=cache&rscd=disposition&rsce=encoding&rscl=language&rsct=type",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-error-code" : "AuthenticationFailed",
      "retry-after" : "0",
      "StatusCode" : "403",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\nRequestId:c0669156-b01e-005e-01a0-241dc1000000\nTime:2020-05-07T18:54:53.8641966Z</Message><AuthenticationErrorDetail>The specified signed resource is not allowed for the this resource level</AuthenticationErrorDetail></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net/jtcservicesassignaturevaluesnetworktestblobsnapshotus0611652b/862f7f35a51a470d987f5f08e9c3235896f09faa25ed422496d850f6f4a0de9a?snapshot=2020-05-07T18%3a54%3a52.5063325Z&sv=2019-10-10&spr=https%2Chttp&st=2020-05-06T18%3A54%3A52Z&se=2020-05-08T18%3A54%3A52Z&sip=0.0.0.0-255.255.255.255&skoid=c4f48289-bb84-4086-b250-6f94a8f64cee&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2020-05-06T18%3A54%3A52Z&ske=2020-05-08T18%3A54%3A52Z&sks=b&skv=2019-12-12&sr=bs&sp=racwd&sig=REDACTED&rscc=cache&rscd=disposition&rsce=encoding&rscl=language&rsct=type",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "Last-Modified" : "Thu, 07 May 2020 18:54:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "CY9rzUYh03PK3k6DJie09g==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7F2B8202D5BBA",
      "Content-Disposition" : "disposition",
      "x-ms-creation-time" : "Thu, 07 May 2020 18:54:52 GMT",
      "Body" : "test",
      "Content-Language" : "language",
      "Content-Type" : "type"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net/jtcservicesassignaturevaluesnetworktestblobsnapshotus0611652b/862f7f35a51a470d987f5f08e9c3235896f09faa25ed422496d850f6f4a0de9a?snapshot=2020-05-07T18%3a54%3a52.5063325Z&sv=2019-10-10&spr=https%2Chttp&st=2020-05-06T18%3A54%3A52Z&se=2020-05-08T18%3A54%3A52Z&sip=0.0.0.0-255.255.255.255&skoid=c4f48289-bb84-4086-b250-6f94a8f64cee&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2020-05-06T18%3A54%3A52Z&ske=2020-05-08T18%3A54%3A52Z&sks=b&skv=2019-12-12&sr=bs&sp=racwd&sig=REDACTED&rscc=cache&rscd=disposition&rsce=encoding&rscl=language&rsct=type",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "Last-Modified" : "Thu, 07 May 2020 18:54:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "CY9rzUYh03PK3k6DJie09g==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D7F2B8202D5BBA",
      "Content-Disposition" : "disposition",
      "x-ms-creation-time" : "Thu, 07 May 2020 18:54:52 GMT",
      "Content-Language" : "language",
      "Content-Type" : "type"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net?prefix=jtcservicesassignaturevaluesnetworktestblobsnapshotus&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://kasobolcanarytest.blob.core.windows.net/\"><Prefix>jtcservicesassignaturevaluesnetworktestblobsnapshotus</Prefix><Containers><Container><Name>jtcservicesassignaturevaluesnetworktestblobsnapshotus0611652b</Name><Properties><Last-Modified>Thu, 07 May 2020 18:54:52 GMT</Last-Modified><Etag>\"0x8D7F2B81FF40561\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net/jtcservicesassignaturevaluesnetworktestblobsnapshotus0611652b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcservicesassignaturevaluesnetworktestblobsnapshotus0611652b", "862f7f35a51a470d987f5f08e9c3235896f09faa25ed422496d850f6f4a0de9a", "2020-05-07T18:54:52.768078400Z", "2020-05-07T18:54:52.768078400Z", "c4f48289-bb84-4086-b250-6f94a8f64cee", "72f988bf-86f1-41af-91ab-2d7cd011db47" ]
}