{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcservicesassignaturevaluesnetworktestblob08029986891f8?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "ETag" : "\"0x8D72CB26DB5B870\"",
      "Last-Modified" : "Thu, 29 Aug 2019 18:55:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcservicesassignaturevaluesnetworktestblob08029986891f8/javablobservicesassignaturevaluesnetworktestblob19699890c6",
    "Headers" : {
      "x-ms-version" : "2019-02-02",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "x-ms-content-crc64" : "Q7G6/s6+u/k=",
      "Last-Modified" : "Thu, 29 Aug 2019 18:55:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "CY9rzUYh03PK3k6DJie09g==",
      "ETag" : "\"0x8D72CB26DBEA013\""
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcservicesassignaturevaluesnetworktestblob08029986891f8/javablobservicesassignaturevaluesnetworktestblob19699890c6?sv=2018-11-09&spr=https%2Chttp&st=2019-08-28T18%3A55%3A13Z&se=2019-08-30T18%3A55%3A13Z&sip=0.0.0.0-255.255.255.255&sr=b&sp=racwd&sig=REDACTED&rscc=cache&rscd=disposition&rsce=encoding&rscl=language&rsct=type",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 29 Aug 2019 18:55:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-creation-time" : "Thu, 29 Aug 2019 18:55:15 GMT",
      "Body" : "test",
      "Content-Type" : "type",
      "x-ms-version" : "2019-02-02",
      "Content-MD5" : "CY9rzUYh03PK3k6DJie09g==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D72CB26DBEA013\"",
      "Content-Disposition" : "disposition",
      "Content-Language" : "language"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcservicesassignaturevaluesnetworktestblob08029986891f8/javablobservicesassignaturevaluesnetworktestblob19699890c6?sv=2018-11-09&spr=https%2Chttp&st=2019-08-28T18%3A55%3A13Z&se=2019-08-30T18%3A55%3A13Z&sip=0.0.0.0-255.255.255.255&sr=b&sp=racwd&sig=REDACTED&rscc=cache&rscd=disposition&rsce=encoding&rscl=language&rsct=type",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Thu, 29 Aug 2019 18:55:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Thu, 29 Aug 2019 18:55:15 GMT",
      "Content-Type" : "type",
      "x-ms-version" : "2019-02-02",
      "Content-MD5" : "CY9rzUYh03PK3k6DJie09g==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D72CB26DBEA013\"",
      "Content-Disposition" : "disposition",
      "Content-Language" : "language"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcservicesassignaturevaluesnetworktestblob&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcservicesassignaturevaluesnetworktestblob</Prefix><Containers><Container><Name>jtcservicesassignaturevaluesnetworktestblob08029986891f8</Name><Properties><Last-Modified>Thu, 29 Aug 2019 18:55:15 GMT</Last-Modified><Etag>\"0x8D72CB26DB5B870\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcservicesassignaturevaluesnetworktestblob08029986891f8?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-02-02"
    },
    "Response" : {
      "x-ms-version" : "2019-02-02",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcservicesassignaturevaluesnetworktestblob08029986891f8", "javablobservicesassignaturevaluesnetworktestblob19699890c6", "2019-08-29T18:55:13.440Z", "2019-08-29T18:55:13.440Z" ]
}