{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcaccountsasnetworktestblobread03610735e7cf6034d3?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77FE7D254B771",
      "Last-Modified" : "Fri, 13 Dec 2019 16:16:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcaccountsasnetworktestblobread03610735e7cf6034d3/javablobaccountsasnetworktestblobread107325302937a37b",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "Q7G6/s6+u/k=",
      "Last-Modified" : "Fri, 13 Dec 2019 16:16:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "CY9rzUYh03PK3k6DJie09g==",
      "ETag" : "0x8D77FE7D2642C26"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcaccountsasnetworktestblobread03610735e7cf6034d3/javablobaccountsasnetworktestblobread107325302937a37b?sv=2019-07-07&ss=b&srt=sco&se=2019-12-14T16%3A16%3A34Z&sp=r&sig=REDACTED",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Fri, 13 Dec 2019 16:16:34 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "CY9rzUYh03PK3k6DJie09g==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D77FE7D2642C26",
      "x-ms-creation-time" : "Fri, 13 Dec 2019 16:16:34 GMT",
      "Body" : "[116, 101, 115, 116]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net?prefix=jtcaccountsasnetworktestblobread&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\"><Prefix>jtcaccountsasnetworktestblobread</Prefix><Containers><Container><Name>jtcaccountsasnetworktestblobread03610735e7cf6034d3</Name><Properties><Last-Modified>Fri, 13 Dec 2019 16:16:33 GMT</Last-Modified><Etag>\"0x8D77FE7D254B771\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcaccountsasnetworktestblobread03610735e7cf6034d3?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcaccountsasnetworktestblobread03610735e7cf6034d3", "javablobaccountsasnetworktestblobread107325302937a37b", "2019-12-13T16:16:34.056905600Z" ]
}