{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcblobclientgetsnapshot0sastestblobclientgetsnapshotf7f37001f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "ETag" : "0x8D77F45C907F7F7",
      "Last-Modified" : "Thu, 12 Dec 2019 20:56:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcblobclientgetsnapshot0sastestblobclientgetsnapshotf7f37001f/javablobblobclientgetsnapshot1934038c5cbf2f6c4048",
    "Headers" : {
      "x-ms-version" : "2019-07-07",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-content-crc64" : "Q7G6/s6+u/k=",
      "Last-Modified" : "Thu, 12 Dec 2019 20:56:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "CY9rzUYh03PK3k6DJie09g==",
      "ETag" : "0x8D77F45C91C230F"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcblobclientgetsnapshot0sastestblobclientgetsnapshotf7f37001f/javablobblobclientgetsnapshot1934038c5cbf2f6c4048?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "x-ms-snapshot" : "2019-12-12T20:56:40.1040368Z",
      "ETag" : "0x8D77F45C91C230F",
      "Last-Modified" : "Thu, 12 Dec 2019 20:56:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://gaprastg71.blob.core.windows.net?prefix=jtcblobclientgetsnapshot&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://gaprastg71.blob.core.windows.net/\"><Prefix>jtcblobclientgetsnapshot</Prefix><Containers><Container><Name>jtcblobclientgetsnapshot0sastestblobclientgetsnapshotf7f37001f</Name><Properties><Last-Modified>Thu, 12 Dec 2019 20:56:39 GMT</Last-Modified><Etag>\"0x8D77F45C907F7F7\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://gaprastg71.blob.core.windows.net/jtcblobclientgetsnapshot0sastestblobclientgetsnapshotf7f37001f?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-07-07"
    },
    "Response" : {
      "x-ms-version" : "2019-07-07",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcblobclientgetsnapshot0sastestblobclientgetsnapshotf7f37001f", "javablobblobclientgetsnapshot1934038c5cbf2f6c4048" ]
}