{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net/jtcaccountsasnetworkaccountsastokenonendpoint0280053bc9f2?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7F2B4C8D96E6D",
      "Last-Modified" : "Thu, 07 May 2020 18:30:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net/jtcaccountsasnetworkaccountsastokenonendpoint1042837f9202?restype=container&sv=2019-10-10&se=2020-05-08T18%3A30%3A57Z&sp=rc&sig=REDACTED&ss=b&srt=sco",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7F2B4C8E66196",
      "Last-Modified" : "Thu, 07 May 2020 18:30:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net/jtcaccountsasnetworkaccountsastokenonendpoint1042837f9202?restype=container&sv=2019-10-10&se=2020-05-08T18%3A30%3A57Z&sp=rc&sig=REDACTED&ss=b&srt=sco",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "x-ms-deny-encryption-scope-override" : "false",
      "Last-Modified" : "Thu, 07 May 2020 18:30:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "x-ms-default-encryption-scope" : "$account-encryption-key",
      "ETag" : "0x8D7F2B4C8E66196",
      "x-ms-has-immutability-policy" : "false"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net/jtcaccountsasnetworkaccountsastokenonendpoint1042837f9202/javablobaccountsasnetworkaccountsastokenonendpoint204251227",
    "Headers" : {
      "x-ms-version" : "2019-12-12",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "x-ms-content-crc64" : "dFBt/wKMAKM=",
      "x-ms-version-id" : "2020-05-07T18:30:57.7435510Z",
      "Last-Modified" : "Thu, 07 May 2020 18:30:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "rHGqXKHCY6+FgPwEPAYyng==",
      "ETag" : "0x8D7F2B4C90EBB76"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net?prefix=jtcaccountsasnetworkaccountsastokenonendpoint&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://kasobolcanarytest.blob.core.windows.net/\"><Prefix>jtcaccountsasnetworkaccountsastokenonendpoint</Prefix><Containers><Container><Name>jtcaccountsasnetworkaccountsastokenonendpoint0280053bc9f2</Name><Properties><Last-Modified>Thu, 07 May 2020 18:30:57 GMT</Last-Modified><Etag>\"0x8D7F2B4C8D96E6D\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcaccountsasnetworkaccountsastokenonendpoint1042837f9202</Name><Properties><Last-Modified>Thu, 07 May 2020 18:30:57 GMT</Last-Modified><Etag>\"0x8D7F2B4C8E66196\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net/jtcaccountsasnetworkaccountsastokenonendpoint1042837f9202?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcaccountsasnetworkaccountsastokenonendpoint0280053bc9f2", "2020-05-07T18:30:57.635925400Z", "jtcaccountsasnetworkaccountsastokenonendpoint1042837f9202", "javablobaccountsasnetworkaccountsastokenonendpoint204251227", "f4f9dfca-20ab-41e8-910e-483e8afa86f2" ]
}