{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net/jtcaccountsaspermissionsparse0219167a4eb3bd3a934b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7F2B4D7970207",
      "Last-Modified" : "Thu, 07 May 2020 18:31:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net?prefix=jtcaccountsaspermissionsparse&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://kasobolcanarytest.blob.core.windows.net/\"><Prefix>jtcaccountsaspermissionsparse</Prefix><Containers><Container><Name>jtcaccountsaspermissionsparse0219167a4eb3bd3a934b</Name><Properties><Last-Modified>Thu, 07 May 2020 18:31:22 GMT</Last-Modified><Etag>\"0x8D7F2B4D7970207\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net/jtcaccountsaspermissionsparse0219167a4eb3bd3a934b?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcaccountsaspermissionsparse0219167a4eb3bd3a934b" ]
}