{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net/jtcblobservicesasnetworktestblobsnapshot057302a0b34e33?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7F2B4C5A6EF79",
      "Last-Modified" : "Thu, 07 May 2020 18:30:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net/jtcblobservicesasnetworktestblobsnapshot187493971625ab/javablobblobservicesasnetworktestblobsnapshot297322cc47fd",
    "Headers" : {
      "x-ms-version" : "2019-12-12",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "x-ms-version-id" : "2020-05-07T18:30:52.2343424Z",
      "Last-Modified" : "Thu, 07 May 2020 18:30:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7F2B4C5C5F0EB"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net/jtcblobservicesasnetworktestblobsnapshot187493971625ab/javablobblobservicesasnetworktestblobsnapshot297322cc47fd?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "Last-Modified" : "Thu, 07 May 2020 18:30:52 GMT",
      "x-ms-version-id" : "2020-05-07T18:30:52.4105061Z",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false",
      "x-ms-snapshot" : "2020-05-07T18:30:52.4095061Z",
      "ETag" : "0x8D7F2B4C5C5F0EB"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net/jtcblobservicesasnetworktestblobsnapshot187493971625ab/javablobblobservicesasnetworktestblobsnapshot297322cc47fd?sv=2019-10-10&spr=https%2Chttp&st=2020-05-06T18%3A30%3A52Z&se=2020-05-08T18%3A30%3A52Z&sip=0.0.0.0-255.255.255.255&sr=bs&sp=racwd&sig=REDACTED&rscc=cache&rscd=disposition&rsce=encoding&rscl=language&rsct=type",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-error-code" : "AuthenticationFailed",
      "retry-after" : "0",
      "StatusCode" : "403",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthenticationFailed</Code><Message>Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.\nRequestId:aef7360b-d01e-0058-459d-242e7e000000\nTime:2020-05-07T18:30:52.5756621Z</Message><AuthenticationErrorDetail>The specified signed resource is not allowed for the this resource level</AuthenticationErrorDetail></Error>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net/jtcblobservicesasnetworktestblobsnapshot187493971625ab/javablobblobservicesasnetworktestblobsnapshot297322cc47fd?snapshot=2020-05-07T18%3a30%3a52.4095061Z&sv=2019-10-10&spr=https%2Chttp&st=2020-05-06T18%3A30%3A52Z&se=2020-05-08T18%3A30%3A52Z&sip=0.0.0.0-255.255.255.255&sr=bs&sp=racwd&sig=REDACTED&rscc=cache&rscd=disposition&rsce=encoding&rscl=language&rsct=type",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "Last-Modified" : "Thu, 07 May 2020 18:30:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7F2B4C5C5F0EB",
      "Content-Disposition" : "disposition",
      "x-ms-creation-time" : "Thu, 07 May 2020 18:30:52 GMT",
      "Body" : "default",
      "Content-Language" : "language",
      "Content-Type" : "type"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net/jtcblobservicesasnetworktestblobsnapshot187493971625ab/javablobblobservicesasnetworktestblobsnapshot297322cc47fd?snapshot=2020-05-07T18%3a30%3a52.4095061Z&sv=2019-10-10&spr=https%2Chttp&st=2020-05-06T18%3A30%3A52Z&se=2020-05-08T18%3A30%3A52Z&sip=0.0.0.0-255.255.255.255&sr=bs&sp=racwd&sig=REDACTED&rscc=cache&rscd=disposition&rsce=encoding&rscl=language&rsct=type",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "Last-Modified" : "Thu, 07 May 2020 18:30:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D7F2B4C5C5F0EB",
      "Content-Disposition" : "disposition",
      "x-ms-creation-time" : "Thu, 07 May 2020 18:30:52 GMT",
      "Content-Language" : "language",
      "Content-Type" : "type"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net?prefix=jtcblobservicesasnetworktestblobsnapshot&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://kasobolcanarytest.blob.core.windows.net/\"><Prefix>jtcblobservicesasnetworktestblobsnapshot</Prefix><Containers><Container><Name>jtcblobservicesasnetworktestblobsnapshot057302a0b34e33</Name><Properties><Last-Modified>Thu, 07 May 2020 18:30:52 GMT</Last-Modified><Etag>\"0x8D7F2B4C5A6EF79\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container><Container><Name>jtcblobservicesasnetworktestblobsnapshot187493971625ab</Name><Properties><Last-Modified>Thu, 07 May 2020 18:30:52 GMT</Last-Modified><Etag>\"0x8D7F2B4C5B542F9\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://kasobolcanarytest.blob.core.windows.net/jtcblobservicesasnetworktestblobsnapshot187493971625ab?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcblobservicesasnetworktestblobsnapshot057302a0b34e33", "jtcblobservicesasnetworktestblobsnapshot187493971625ab", "javablobblobservicesasnetworktestblobsnapshot297322cc47fd", "2020-05-07T18:30:52.657980600Z", "2020-05-07T18:30:52.657980600Z" ]
}