{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcfindblobsmin0serviceapitestfindblobsmin3ff8829768f95e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "ETag" : "0x8D7E57016FA1A94",
      "Last-Modified" : "Mon, 20 Apr 2020 21:16:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://blobindex1.blob.core.windows.net?restype=service&comp=properties",
    "Headers" : {
      "x-ms-version" : "2019-12-12",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://blobindex1.blob.core.windows.net?where=%22key%22%3d%27value%27&comp=blobs",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<EnumerationResults ServiceEndpoint=\"https://blobindex1.blob.core.windows.net/\"><Where>&quot;key&quot;=&apos;value&apos;</Where><Blobs><Blob><Name>test-blob-38b2dbcd-a26a-42fd-a217-9328cebf6eff</Name><ContainerName>test-container-7151e466-e964-4b76-a9d5-1000ce5aca2c</ContainerName><TagValue>value</TagValue></Blob><Blob><Name>test-blob-d9990784-153c-4f37-b505-04d3ead19111</Name><ContainerName>test-container-9b58d915-b1fb-4a0f-8795-f2a4d3238319</ContainerName><TagValue>value</TagValue></Blob></Blobs><NextMarker/></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://blobindex1.blob.core.windows.net?prefix=jtcfindblobsmin&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://blobindex1.blob.core.windows.net/\"><Prefix>jtcfindblobsmin</Prefix><Containers><Container><Name>jtcfindblobsmin0serviceapitestfindblobsmin3ff8829768f95e</Name><Properties><Last-Modified>Mon, 20 Apr 2020 21:16:28 GMT</Last-Modified><Etag>\"0x8D7E57016FA1A94\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://blobindex1.blob.core.windows.net/jtcfindblobsmin0serviceapitestfindblobsmin3ff8829768f95e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-12-12"
    },
    "Response" : {
      "x-ms-version" : "2019-12-12",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcfindblobsmin0serviceapitestfindblobsmin3ff8829768f95e" ]
}