{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsetaccesspolicyac15651457984240setaccesspolicyac5d00229902?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71AE10114A7D9\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:43:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsetaccesspolicyac15651457984240setaccesspolicyac5d00229902?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71AE1011BD1BC\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:43:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcsetaccesspolicyac&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcsetaccesspolicyac</Prefix><Containers><Container><Name>jtcsetaccesspolicyac15651457984240setaccesspolicyac5d00229902</Name><Properties><Last-Modified>Wed, 07 Aug 2019 02:43:18 GMT</Last-Modified><Etag>\"0x8D71AE1011BD1BC\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsetaccesspolicyac15651457984240setaccesspolicyac5d00229902?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "jtcsetaccesspolicyac15651457984240setaccesspolicyac5d00229902" ]
}