{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsnapshotac15651455211020snapshotac28b936584d867a533?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71AE05BC8C639\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:38:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsnapshotac15651455211020snapshotac28b936584d867a533/javablobsnapshotac15651455211481snapshotac28b618529d1786",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71AE05BD043C5\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:38:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg=="
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsnapshotac15651455211020snapshotac28b936584d867a533/javablobsnapshotac15651455211481snapshotac28b618529d1786?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-snapshot" : "2019-08-07T02:38:41.2006899Z",
      "ETag" : "\"0x8D71AE05BD043C5\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:38:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcsnapshotac&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcsnapshotac</Prefix><Containers><Container><Name>jtcsnapshotac15651455211020snapshotac28b936584d867a533</Name><Properties><Last-Modified>Wed, 07 Aug 2019 02:38:41 GMT</Last-Modified><Etag>\"0x8D71AE05BC8C639\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcsnapshotac15651455211020snapshotac28b936584d867a533?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "jtcsnapshotac15651455211020snapshotac28b936584d867a533", "javablobsnapshotac15651455211481snapshotac28b618529d1786" ]
}