{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac1565146117910024400eacecc4fb?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71AE1BFA7C88B\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:48:38 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac1565146117910024400eacecc4fb/javablobstartincrementalcopyac15651461182921578338c41657",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71AE1BFBE0EAF\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:48:38 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac1565146117910024400eacecc4fb?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71AE1BFC5C486\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:48:38 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac1565146117910024400eacecc4fb/javablobstartincrementalcopyac15651461182921578338c41657?comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-snapshot" : "2019-08-07T02:48:38.4213240Z",
      "ETag" : "\"0x8D71AE1BFBE0EAF\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:48:38 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "false"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac1565146117910024400eacecc4fb/javablobstartincrementalcopyac1565146118393245735cd667be?comp=incrementalcopy",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-copy-id" : "a203cb28-2491-4a66-bdfa-cdc004806a94",
      "ETag" : "\"0x8D71AE1C0020631\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:48:38 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "pending",
      "StatusCode" : "202"
    }
  }, {
    "Method" : "HEAD",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac1565146117910024400eacecc4fb/javablobstartincrementalcopyac1565146118393245735cd667be",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-lease-status" : "unlocked",
      "x-ms-tag-count" : "0",
      "x-ms-copy-destination-snapshot" : "2019-08-07T02:48:38.7786661Z",
      "x-ms-lease-state" : "available",
      "Last-Modified" : "Wed, 07 Aug 2019 02:48:38 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "PageBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Wed, 07 Aug 2019 02:48:38 GMT",
      "x-ms-incremental-copy" : "true",
      "Body" : "",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2018-11-09",
      "x-ms-copy-id" : "a203cb28-2491-4a66-bdfa-cdc004806a94",
      "x-ms-copy-source" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac1565146117910024400eacecc4fb/javablobstartincrementalcopyac15651461182921578338c41657?snapshot=2019-08-07T02:48:38.4213240Z",
      "x-ms-blob-sequence-number" : "0",
      "x-ms-copy-progress" : "512/512",
      "x-ms-copy-completion-time" : "Wed, 07 Aug 2019 02:48:38 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "\"0x8D71AE1C0020631\"",
      "x-ms-copy-status" : "success"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcstartincrementalcopyac&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcstartincrementalcopyac</Prefix><Containers><Container><Name>jtcstartincrementalcopyac1565146117910024400eacecc4fb</Name><Properties><Last-Modified>Wed, 07 Aug 2019 02:48:38 GMT</Last-Modified><Etag>\"0x8D71AE1BFC5C486\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>blob</PublicAccess><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcstartincrementalcopyac1565146117910024400eacecc4fb?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "jtcstartincrementalcopyac1565146117910024400eacecc4fb", "javablobstartincrementalcopyac15651461182921578338c41657", "javablobstartincrementalcopyac1565146118393245735cd667be" ]
}