{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadpagefromurlsourceac1565146071827091382c6d81d88?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71AE1A40AE11F\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:47:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadpagefromurlsourceac1565146071827091382c6d81d88/javablobuploadpagefromurlsourceac156514607203310023964ccb",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71AE1A42AB01E\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:47:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadpagefromurlsourceac1565146071827091382c6d81d88?restype=container&comp=acl",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/xml; charset=utf-8"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71AE1A43131DA\"",
      "Last-Modified" : "Wed, 07 Aug 2019 02:47:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadpagefromurlsourceac1565146071827091382c6d81d88/javablobuploadpagefromurlsourceac1565146072122229868a8e7d?comp=page",
    "Headers" : {
      "x-ms-version" : "2018-11-09",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71AE1A43FC3E5\"",
      "x-ms-blob-sequence-number" : "0",
      "Last-Modified" : "Wed, 07 Aug 2019 02:47:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "lEIHbX8pF7h5wAtg+UUmnQ=="
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net?prefix=jtcuploadpagefromurlsourceac&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.blob.core.windows.net/\"><Prefix>jtcuploadpagefromurlsourceac</Prefix><Containers><Container><Name>jtcuploadpagefromurlsourceac1565146071827091382c6d81d88</Name><Properties><Last-Modified>Wed, 07 Aug 2019 02:47:52 GMT</Last-Modified><Etag>\"0x8D71AE1A43131DA\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><PublicAccess>container</PublicAccess><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azstoragesdkaccount.blob.core.windows.net/jtcuploadpagefromurlsourceac1565146071827091382c6d81d88?restype=container",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "jtcuploadpagefromurlsourceac1565146071827091382c6d81d88", "javablobuploadpagefromurlsourceac156514607203310023964ccb", "javablobuploadpagefromurlsourceac1565146072122229868a8e7d" ]
}