{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcdeleteblobbyversion008405cefd46d0c4c044808?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7CF725ADBD1C3",
      "Last-Modified" : "Mon, 23 Mar 2020 21:37:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcdeleteblobbyversion273884f0bdc602202640758/javablobdeleteblobbyversion172839fd0fc3b7ca1c45f",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-content-crc64" : "ywr9rMi7xR4=",
      "x-ms-version-id" : "2020-03-23T21:37:15.5053965Z",
      "Last-Modified" : "Mon, 23 Mar 2020 21:37:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "YG5vQuFUmxmlD0AjZQJsiw==",
      "ETag" : "0x8D7CF725AEF158D"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcdeleteblobbyversion273884f0bdc602202640758/javablobdeleteblobbyversion172839fd0fc3b7ca1c45f?versionid=2020-03-23T21%3a37%3a15.5053965Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-delete-type-permanent" : "false",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcdeleteblobbyversion273884f0bdc602202640758/javablobdeleteblobbyversion172839fd0fc3b7ca1c45f?versionid=2020-03-23T21%3a37%3a15.5053965Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcdeleteblobbyversion273884f0bdc602202640758/javablobdeleteblobbyversion172839fd0fc3b7ca1c45f?versionid=2020-03-23T21%3a37%3a15.5774470Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-is-current-version" : "true",
      "x-ms-version" : "2019-10-10",
      "x-ms-version-id" : "2020-03-23T21:37:15.5774470Z",
      "Last-Modified" : "Mon, 23 Mar 2020 21:37:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "kmALmZ1m8z4vpHwTIxFP4g==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D7CF725AF9ECF6",
      "x-ms-creation-time" : "Mon, 23 Mar 2020 21:37:15 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net?prefix=jtcdeleteblobbyversion&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://cdm03r01aversioning16.blob.core.windows.net/\"><Prefix>jtcdeleteblobbyversion</Prefix><Containers><Container><Name>jtcdeleteblobbyversion008405cefd46d0c4c044808</Name><Properties><Last-Modified>Mon, 23 Mar 2020 21:37:15 GMT</Last-Modified><Etag>\"0x8D7CF725ADBD1C3\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcdeleteblobbyversion008405cefd46d0c4c044808?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcdeleteblobbyversion008405cefd46d0c4c044808", "javablobdeleteblobbyversion172839fd0fc3b7ca1c45f", "jtcdeleteblobbyversion273884f0bdc602202640758" ]
}