{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobbyversion00216599b98f7279f44?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7CC6511726C9B",
      "Last-Modified" : "Fri, 20 Mar 2020 00:24:35 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobbyversion298446e346ce23bb534/javablobretrieveappendblobbyversion182748062d0190865",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7CC6511847FF7",
      "Last-Modified" : "Fri, 20 Mar 2020 00:24:35 GMT",
      "x-ms-version-id" : "2020-03-20T00:24:35.3873911Z",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobbyversion298446e346ce23bb534/javablobretrieveappendblobbyversion182748062d0190865?comp=appendblock",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-content-crc64" : "T8yccY3ZxcA=",
      "x-ms-blob-committed-block-count" : "1",
      "Last-Modified" : "Fri, 20 Mar 2020 00:24:35 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7CC6511901AD5",
      "x-ms-blob-append-offset" : "0"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobbyversion298446e346ce23bb534/javablobretrieveappendblobbyversion182748062d0190865?versionid=2020-03-20T00%3a24%3a35.3873911Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-blob-committed-block-count" : "1",
      "x-ms-version-id" : "2020-03-20T00:24:35.3873911Z",
      "Last-Modified" : "Fri, 20 Mar 2020 00:24:35 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "AppendBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7CC6511901AD5",
      "x-ms-creation-time" : "Fri, 20 Mar 2020 00:24:35 GMT",
      "Body" : "[49, 48, 48, 57, 48, 99, 97, 54, 45, 98, 101, 52, 50, 45, 52, 51, 49, 50, 45, 56, 102, 102, 48, 45, 97, 102, 53, 55, 56, 99, 51, 55, 101, 52, 54, 100]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobbyversion298446e346ce23bb534/javablobretrieveappendblobbyversion182748062d0190865?versionid=2020-03-20T00%3a24%3a35.5415008Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-is-current-version" : "true",
      "x-ms-version" : "2019-10-10",
      "x-ms-blob-committed-block-count" : "1",
      "x-ms-version-id" : "2020-03-20T00:24:35.5415008Z",
      "Last-Modified" : "Fri, 20 Mar 2020 00:24:35 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "AppendBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7CC6511A4B80A",
      "x-ms-creation-time" : "Fri, 20 Mar 2020 00:24:35 GMT",
      "Body" : "[100, 50, 51, 54, 54, 102, 55, 52, 45, 101, 98, 102, 101, 45, 52, 97, 99, 52, 45, 98, 102, 54, 50, 45, 57, 102, 48, 100, 53, 52, 98, 53, 48, 48, 98, 56]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net?prefix=jtcretrieveappendblobbyversion&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://cdm03r01aversioning16.blob.core.windows.net/\"><Prefix>jtcretrieveappendblobbyversion</Prefix><Containers><Container><Name>jtcretrieveappendblobbyversion00216599b98f7279f44</Name><Properties><Last-Modified>Fri, 20 Mar 2020 00:24:35 GMT</Last-Modified><Etag>\"0x8D7CC6511726C9B\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobbyversion00216599b98f7279f44?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcretrieveappendblobbyversion00216599b98f7279f44", "javablobretrieveappendblobbyversion182748062d0190865", "jtcretrieveappendblobbyversion298446e346ce23bb534" ]
}