{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobpropertiesbyversion013698b06f9f6e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7CC65BADCC7C1",
      "Last-Modified" : "Fri, 20 Mar 2020 00:29:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobpropertiesbyversion273205de5ff386/javablobretrieveappendblobpropertiesbyversion149989afca44",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7CC65BAEEAAF9",
      "Last-Modified" : "Fri, 20 Mar 2020 00:29:19 GMT",
      "x-ms-version-id" : "2020-03-20T00:29:19.6191246Z",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobpropertiesbyversion273205de5ff386/javablobretrieveappendblobpropertiesbyversion149989afca44?comp=metadata",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7CC65BAF897D2",
      "Last-Modified" : "Fri, 20 Mar 2020 00:29:19 GMT",
      "x-ms-version-id" : "2020-03-20T00:29:19.6841698Z",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "HEAD",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobpropertiesbyversion273205de5ff386/javablobretrieveappendblobpropertiesbyversion149989afca44?versionid=2020-03-20T00%3a29%3a19.6191246Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-blob-committed-block-count" : "0",
      "x-ms-version-id" : "2020-03-20T00:29:19.6191246Z",
      "Last-Modified" : "Fri, 20 Mar 2020 00:29:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "AppendBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7CC65BAEEAAF9",
      "x-ms-creation-time" : "Fri, 20 Mar 2020 00:29:19 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobpropertiesbyversion273205de5ff386/javablobretrieveappendblobpropertiesbyversion149989afca44?versionid=2020-03-20T00%3a29%3a19.6841698Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-blob-committed-block-count" : "0",
      "x-ms-version-id" : "2020-03-20T00:29:19.6841698Z",
      "Last-Modified" : "Fri, 20 Mar 2020 00:29:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "AppendBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7CC65BAF897D2",
      "x-ms-meta-key" : "val2",
      "x-ms-creation-time" : "Fri, 20 Mar 2020 00:29:19 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobpropertiesbyversion273205de5ff386/javablobretrieveappendblobpropertiesbyversion149989afca44?versionid=2020-03-20T00%3a29%3a19.7422109Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-is-current-version" : "true",
      "x-ms-version" : "2019-10-10",
      "x-ms-blob-committed-block-count" : "0",
      "x-ms-version-id" : "2020-03-20T00:29:19.7422109Z",
      "Last-Modified" : "Fri, 20 Mar 2020 00:29:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "AppendBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7CC65BB01730D",
      "x-ms-meta-key" : "val3",
      "x-ms-creation-time" : "Fri, 20 Mar 2020 00:29:19 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net?prefix=jtcretrieveappendblobpropertiesbyversion&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://cdm03r01aversioning16.blob.core.windows.net/\"><Prefix>jtcretrieveappendblobpropertiesbyversion</Prefix><Containers><Container><Name>jtcretrieveappendblobpropertiesbyversion013698b06f9f6e</Name><Properties><Last-Modified>Fri, 20 Mar 2020 00:29:19 GMT</Last-Modified><Etag>\"0x8D7CC65BADCC7C1\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobpropertiesbyversion013698b06f9f6e?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcretrieveappendblobpropertiesbyversion013698b06f9f6e", "javablobretrieveappendblobpropertiesbyversion149989afca44", "jtcretrieveappendblobpropertiesbyversion273205de5ff386" ]
}