{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobbyversion033141620509d9c58b4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7CC65B8577C28",
      "Last-Modified" : "Fri, 20 Mar 2020 00:29:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobbyversion2447296a87605343984/javablobretrieveappendblobbyversion154780e951094f716",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7CC65B86C6D3B",
      "Last-Modified" : "Fri, 20 Mar 2020 00:29:15 GMT",
      "x-ms-version-id" : "2020-03-20T00:29:15.4091323Z",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobbyversion2447296a87605343984/javablobretrieveappendblobbyversion154780e951094f716?comp=appendblock",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-content-crc64" : "ywr9rMi7xR4=",
      "x-ms-blob-committed-block-count" : "1",
      "Last-Modified" : "Fri, 20 Mar 2020 00:29:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7CC65B875BDBD",
      "x-ms-blob-append-offset" : "0"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobbyversion2447296a87605343984/javablobretrieveappendblobbyversion154780e951094f716?versionid=2020-03-20T00%3a29%3a15.4091323Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-blob-committed-block-count" : "1",
      "x-ms-version-id" : "2020-03-20T00:29:15.4091323Z",
      "Last-Modified" : "Fri, 20 Mar 2020 00:29:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "AppendBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7CC65B875BDBD",
      "x-ms-creation-time" : "Fri, 20 Mar 2020 00:29:15 GMT",
      "Body" : "[99, 111, 110, 116, 101, 110, 116, 86, 49]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobbyversion2447296a87605343984/javablobretrieveappendblobbyversion154780e951094f716?versionid=2020-03-20T00%3a29%3a15.5362226Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-is-current-version" : "true",
      "x-ms-version" : "2019-10-10",
      "x-ms-blob-committed-block-count" : "1",
      "x-ms-version-id" : "2020-03-20T00:29:15.5362226Z",
      "Last-Modified" : "Fri, 20 Mar 2020 00:29:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "AppendBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7CC65B888D40A",
      "x-ms-creation-time" : "Fri, 20 Mar 2020 00:29:15 GMT",
      "Body" : "[99, 111, 110, 116, 101, 110, 116, 86, 50]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net?prefix=jtcretrieveappendblobbyversion&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://cdm03r01aversioning16.blob.core.windows.net/\"><Prefix>jtcretrieveappendblobbyversion</Prefix><Containers><Container><Name>jtcretrieveappendblobbyversion033141620509d9c58b4</Name><Properties><Last-Modified>Fri, 20 Mar 2020 00:29:15 GMT</Last-Modified><Etag>\"0x8D7CC65B8577C28\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobbyversion033141620509d9c58b4?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcretrieveappendblobbyversion033141620509d9c58b4", "javablobretrieveappendblobbyversion154780e951094f716", "jtcretrieveappendblobbyversion2447296a87605343984" ]
}