{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcgetblobpropertiesbyversion09502110b6067c7dac48?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7CF725CACC7B3",
      "Last-Modified" : "Mon, 23 Mar 2020 21:37:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcgetblobpropertiesbyversion26366484eac2156e6145/javablobgetblobpropertiesbyversion1742676364a4c45c1",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "x-ms-version-id" : "2020-03-23T21:37:18.5435599Z",
      "Last-Modified" : "Mon, 23 Mar 2020 21:37:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7CF725CBE84BA"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcgetblobpropertiesbyversion26366484eac2156e6145/javablobgetblobpropertiesbyversion1742676364a4c45c1?comp=metadata",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7CF725CCA94DA",
      "Last-Modified" : "Mon, 23 Mar 2020 21:37:18 GMT",
      "x-ms-version-id" : "2020-03-23T21:37:18.6226154Z",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "HEAD",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcgetblobpropertiesbyversion26366484eac2156e6145/javablobgetblobpropertiesbyversion1742676364a4c45c1?versionid=2020-03-23T21%3a37%3a18.5435599Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-version-id" : "2020-03-23T21:37:18.5435599Z",
      "Last-Modified" : "Mon, 23 Mar 2020 21:37:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D7CF725CBE84BA",
      "x-ms-creation-time" : "Mon, 23 Mar 2020 21:37:18 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcgetblobpropertiesbyversion26366484eac2156e6145/javablobgetblobpropertiesbyversion1742676364a4c45c1?versionid=2020-03-23T21%3a37%3a18.6226154Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-version-id" : "2020-03-23T21:37:18.6226154Z",
      "Last-Modified" : "Mon, 23 Mar 2020 21:37:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D7CF725CCA94DA",
      "x-ms-meta-key" : "val2",
      "x-ms-creation-time" : "Mon, 23 Mar 2020 21:37:18 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcgetblobpropertiesbyversion26366484eac2156e6145/javablobgetblobpropertiesbyversion1742676364a4c45c1?versionid=2020-03-23T21%3a37%3a18.6956677Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-is-current-version" : "true",
      "x-ms-version" : "2019-10-10",
      "x-ms-version-id" : "2020-03-23T21:37:18.6956677Z",
      "Last-Modified" : "Mon, 23 Mar 2020 21:37:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D7CF725CD5BA75",
      "x-ms-meta-key" : "val3",
      "x-ms-creation-time" : "Mon, 23 Mar 2020 21:37:18 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net?prefix=jtcgetblobpropertiesbyversion&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://cdm03r01aversioning16.blob.core.windows.net/\"><Prefix>jtcgetblobpropertiesbyversion</Prefix><Containers><Container><Name>jtcgetblobpropertiesbyversion09502110b6067c7dac48</Name><Properties><Last-Modified>Mon, 23 Mar 2020 21:37:18 GMT</Last-Modified><Etag>\"0x8D7CF725CACC7B3\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcgetblobpropertiesbyversion09502110b6067c7dac48?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcgetblobpropertiesbyversion09502110b6067c7dac48", "javablobgetblobpropertiesbyversion1742676364a4c45c1", "jtcgetblobpropertiesbyversion26366484eac2156e6145" ]
}