{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcdeleteblobbyversionusingaccountsastoken000625d2b0d91?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7CF6B401A16B3",
      "Last-Modified" : "Mon, 23 Mar 2020 20:46:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcdeleteblobbyversionusingaccountsastoken247731ec0e30f/javablobdeleteblobbyversionusingaccountsastoken199446d9db3",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-content-crc64" : "ywr9rMi7xR4=",
      "x-ms-version-id" : "2020-03-23T20:46:24.4410871Z",
      "Last-Modified" : "Mon, 23 Mar 2020 20:46:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "YG5vQuFUmxmlD0AjZQJsiw==",
      "ETag" : "0x8D7CF6B405B9DF7"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "HEAD",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcdeleteblobbyversionusingaccountsastoken247731ec0e30f/javablobdeleteblobbyversionusingaccountsastoken199446d9db3?versionid=2020-03-23T20%3a46%3a24.4410871Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcdeleteblobbyversionusingaccountsastoken247731ec0e30f/javablobdeleteblobbyversionusingaccountsastoken199446d9db3?versionid=2020-03-23T20%3a46%3a24.5421584Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-is-current-version" : "true",
      "x-ms-version" : "2019-10-10",
      "x-ms-version-id" : "2020-03-23T20:46:24.5421584Z",
      "Last-Modified" : "Mon, 23 Mar 2020 20:46:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "kmALmZ1m8z4vpHwTIxFP4g==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D7CF6B406AE300",
      "x-ms-creation-time" : "Mon, 23 Mar 2020 20:46:24 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net?prefix=jtcdeleteblobbyversionusingaccountsastoken&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://cdm03r01aversioning16.blob.core.windows.net/\"><Prefix>jtcdeleteblobbyversionusingaccountsastoken</Prefix><Containers><Container><Name>jtcdeleteblobbyversionusingaccountsastoken000625d2b0d91</Name><Properties><Last-Modified>Mon, 23 Mar 2020 20:46:24 GMT</Last-Modified><Etag>\"0x8D7CF6B401A16B3\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcdeleteblobbyversionusingaccountsastoken000625d2b0d91?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcdeleteblobbyversionusingaccountsastoken000625d2b0d91", "javablobdeleteblobbyversionusingaccountsastoken199446d9db3", "jtcdeleteblobbyversionusingaccountsastoken247731ec0e30f", "2020-03-23T20:46:24.605422700Z" ]
}