{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcdownloadblobbyversion0927894157bdcf75244547?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7CF6AD1ABC39F",
      "Last-Modified" : "Mon, 23 Mar 2020 20:43:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcdownloadblobbyversion2961579fbf8b7aa1ba4f1b/javablobdownloadblobbyversion108719ff622f22a61d4c",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-content-crc64" : "ywr9rMi7xR4=",
      "x-ms-version-id" : "2020-03-23T20:43:18.8601255Z",
      "Last-Modified" : "Mon, 23 Mar 2020 20:43:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "YG5vQuFUmxmlD0AjZQJsiw==",
      "ETag" : "0x8D7CF6AD1BE35A7"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcdownloadblobbyversion2961579fbf8b7aa1ba4f1b/javablobdownloadblobbyversion108719ff622f22a61d4c?versionid=2020-03-23T20%3a43%3a18.8601255Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-version-id" : "2020-03-23T20:43:18.8601255Z",
      "Last-Modified" : "Mon, 23 Mar 2020 20:43:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "YG5vQuFUmxmlD0AjZQJsiw==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7CF6AD1BE35A7",
      "x-ms-creation-time" : "Mon, 23 Mar 2020 20:43:18 GMT",
      "Body" : "[99, 111, 110, 116, 101, 110, 116, 86, 49]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcdownloadblobbyversion2961579fbf8b7aa1ba4f1b/javablobdownloadblobbyversion108719ff622f22a61d4c?versionid=2020-03-23T20%3a43%3a18.9311754Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-is-current-version" : "true",
      "x-ms-version" : "2019-10-10",
      "x-ms-version-id" : "2020-03-23T20:43:18.9311754Z",
      "Last-Modified" : "Mon, 23 Mar 2020 20:43:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "kmALmZ1m8z4vpHwTIxFP4g==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7CF6AD1C8E5FA",
      "x-ms-creation-time" : "Mon, 23 Mar 2020 20:43:18 GMT",
      "Body" : "[99, 111, 110, 116, 101, 110, 116, 86, 50]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net?prefix=jtcdownloadblobbyversion&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://cdm03r01aversioning16.blob.core.windows.net/\"><Prefix>jtcdownloadblobbyversion</Prefix><Containers><Container><Name>jtcdownloadblobbyversion0927894157bdcf75244547</Name><Properties><Last-Modified>Mon, 23 Mar 2020 20:43:18 GMT</Last-Modified><Etag>\"0x8D7CF6AD1ABC39F\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcdownloadblobbyversion0927894157bdcf75244547?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcdownloadblobbyversion0927894157bdcf75244547", "javablobdownloadblobbyversion108719ff622f22a61d4c", "jtcdownloadblobbyversion2961579fbf8b7aa1ba4f1b" ]
}