{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobbyversion005977e1d1c50dba584?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7CAC5B1EB27A9",
      "Last-Modified" : "Tue, 17 Mar 2020 22:51:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobbyversion274830fb09402cd09f4/javablobretrieveappendblobbyversion12227176acf8d486b",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7CAC5B1FD166C",
      "Last-Modified" : "Tue, 17 Mar 2020 22:51:13 GMT",
      "x-ms-version-id" : "2020-03-17T22:51:13.9746177Z",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobbyversion274830fb09402cd09f4/javablobretrieveappendblobbyversion12227176acf8d486b?comp=appendblock",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-content-crc64" : "vwNBTV/Jxdk=",
      "x-ms-blob-committed-block-count" : "1",
      "Last-Modified" : "Tue, 17 Mar 2020 22:51:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "ETag" : "0x8D7CAC5B207EDD5",
      "x-ms-blob-append-offset" : "0"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobbyversion274830fb09402cd09f4/javablobretrieveappendblobbyversion12227176acf8d486b?versionid=2020-03-17T22%3a51%3a13.9746177Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-blob-committed-block-count" : "1",
      "x-ms-version-id" : "2020-03-17T22:51:13.9746177Z",
      "Last-Modified" : "Tue, 17 Mar 2020 22:51:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "AppendBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7CAC5B207EDD5",
      "x-ms-creation-time" : "Tue, 17 Mar 2020 22:51:13 GMT",
      "Body" : "[100, 55, 50, 54, 55, 50, 52, 97, 45, 48, 52, 52, 51, 45, 52, 49, 102, 52, 45, 57, 57, 49, 53, 45, 49, 57, 52, 55, 57, 52, 102, 50, 53, 100, 57, 54]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobbyversion274830fb09402cd09f4/javablobretrieveappendblobbyversion12227176acf8d486b?versionid=2020-03-17T22%3a51%3a14.1217213Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-is-current-version" : "true",
      "x-ms-version" : "2019-10-10",
      "x-ms-blob-committed-block-count" : "1",
      "x-ms-version-id" : "2020-03-17T22:51:14.1217213Z",
      "Last-Modified" : "Tue, 17 Mar 2020 22:51:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "AppendBlob",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7CAC5B21BEEAD",
      "x-ms-creation-time" : "Tue, 17 Mar 2020 22:51:14 GMT",
      "Body" : "[54, 56, 48, 102, 48, 56, 55, 51, 45, 101, 49, 101, 101, 45, 52, 55, 101, 100, 45, 56, 56, 48, 98, 45, 102, 52, 99, 101, 102, 52, 53, 57, 50, 99, 49, 51]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net?prefix=jtcretrieveappendblobbyversion&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://cdm03r01aversioning16.blob.core.windows.net/\"><Prefix>jtcretrieveappendblobbyversion</Prefix><Containers><Container><Name>jtcretrieveappendblobbyversion005977e1d1c50dba584</Name><Properties><Last-Modified>Tue, 17 Mar 2020 22:51:13 GMT</Last-Modified><Etag>\"0x8D7CAC5B1EB27A9\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveappendblobbyversion005977e1d1c50dba584?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcretrieveappendblobbyversion005977e1d1c50dba584", "javablobretrieveappendblobbyversion12227176acf8d486b", "jtcretrieveappendblobbyversion274830fb09402cd09f4" ]
}