{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcbegincopyblobswithversion009274e3c5e9ce442543?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7CC65BC705B65",
      "Last-Modified" : "Fri, 20 Mar 2020 00:29:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcbegincopyblobswithversion22262118125f291d0140/javablobbegincopyblobswithversion160418ecfc2a758c30",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "x-ms-version-id" : "2020-03-20T00:29:22.2720135Z",
      "Last-Modified" : "Fri, 20 Mar 2020 00:29:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7CC65BC839E87"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcbegincopyblobswithversion22262118125f291d0140/javablobbegincopyblobswithversion160418ecfc2a758c30",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-copy-id" : "02daef36-5ec7-4ad2-900c-7240bb271c1a",
      "Last-Modified" : "Fri, 20 Mar 2020 00:29:22 GMT",
      "x-ms-version-id" : "2020-03-20T00:29:22.4291247Z",
      "retry-after" : "0",
      "StatusCode" : "202",
      "ETag" : "0x8D7CC65BC9B709F",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcbegincopyblobswithversion22262118125f291d0140/javablobbegincopyblobswithversion160418ecfc2a758c30",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-is-current-version" : "true",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "x-ms-version-id" : "2020-03-20T00:29:22.4291247Z",
      "Last-Modified" : "Fri, 20 Mar 2020 00:29:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Fri, 20 Mar 2020 00:29:22 GMT",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-10-10",
      "x-ms-copy-id" : "02daef36-5ec7-4ad2-900c-7240bb271c1a",
      "x-ms-copy-source" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcbegincopyblobswithversion22262118125f291d0140/javablobbegincopyblobswithversion337526f71296d37995",
      "x-ms-copy-progress" : "7/7",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-copy-completion-time" : "Fri, 20 Mar 2020 00:29:22 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7CC65BC9B709F",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net?prefix=jtcbegincopyblobswithversion&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://cdm03r01aversioning16.blob.core.windows.net/\"><Prefix>jtcbegincopyblobswithversion</Prefix><Containers><Container><Name>jtcbegincopyblobswithversion009274e3c5e9ce442543</Name><Properties><Last-Modified>Fri, 20 Mar 2020 00:29:22 GMT</Last-Modified><Etag>\"0x8D7CC65BC705B65\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcbegincopyblobswithversion009274e3c5e9ce442543?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcbegincopyblobswithversion009274e3c5e9ce442543", "javablobbegincopyblobswithversion160418ecfc2a758c30", "jtcbegincopyblobswithversion22262118125f291d0140", "javablobbegincopyblobswithversion337526f71296d37995" ]
}