{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcdeleteblobbyversion0483119056fdfa32ec45b49?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7CF4E7540CF5C",
      "Last-Modified" : "Mon, 23 Mar 2020 17:20:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcdeleteblobbyversion2736318277d7d80aa54bd99/javablobdeleteblobbyversion1690996196d643fc15444",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-content-crc64" : "ywr9rMi7xR4=",
      "x-ms-version-id" : "2020-03-23T17:20:17.9388878Z",
      "Last-Modified" : "Mon, 23 Mar 2020 17:20:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "YG5vQuFUmxmlD0AjZQJsiw==",
      "ETag" : "0x8D7CF4E755921CE"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcdeleteblobbyversion2736318277d7d80aa54bd99/javablobdeleteblobbyversion1690996196d643fc15444?versionid=2020-03-23T17%3a20%3a17.9388878Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-delete-type-permanent" : "false",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcdeleteblobbyversion2736318277d7d80aa54bd99/javablobdeleteblobbyversion1690996196d643fc15444?versionid=2020-03-23T17%3a20%3a17.9388878Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-error-code" : "BlobNotFound",
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcdeleteblobbyversion2736318277d7d80aa54bd99/javablobdeleteblobbyversion1690996196d643fc15444?versionid=2020-03-23T17%3a20%3a18.0469638Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-is-current-version" : "true",
      "x-ms-version" : "2019-10-10",
      "x-ms-version-id" : "2020-03-23T17:20:18.0469638Z",
      "Last-Modified" : "Mon, 23 Mar 2020 17:20:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "kmALmZ1m8z4vpHwTIxFP4g==",
      "x-ms-server-encrypted" : "true",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "ETag" : "0x8D7CF4E7569515D",
      "x-ms-creation-time" : "Mon, 23 Mar 2020 17:20:18 GMT",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net?prefix=jtcdeleteblobbyversion&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://cdm03r01aversioning16.blob.core.windows.net/\"><Prefix>jtcdeleteblobbyversion</Prefix><Containers><Container><Name>jtcdeleteblobbyversion0483119056fdfa32ec45b49</Name><Properties><Last-Modified>Mon, 23 Mar 2020 17:20:17 GMT</Last-Modified><Etag>\"0x8D7CF4E7540CF5C\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcdeleteblobbyversion0483119056fdfa32ec45b49?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcdeleteblobbyversion0483119056fdfa32ec45b49", "javablobdeleteblobbyversion1690996196d643fc15444", "jtcdeleteblobbyversion2736318277d7d80aa54bd99" ]
}