{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcbegincopyblobswithversion0111854a7b29269e7a4c?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7CF4E77908316",
      "Last-Modified" : "Mon, 23 Mar 2020 17:20:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcbegincopyblobswithversion2328044a486ae005eb47/javablobbegincopyblobswithversion195228ae8cc7c04b1b",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "x-ms-version-id" : "2020-03-23T17:20:21.7766144Z",
      "Last-Modified" : "Mon, 23 Mar 2020 17:20:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7CF4E77A2B900"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcbegincopyblobswithversion2328044a486ae005eb47/javablobbegincopyblobswithversion195228ae8cc7c04b1b",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-copy-id" : "efe85cbd-bd99-4360-81f9-57764c373e85",
      "Last-Modified" : "Mon, 23 Mar 2020 17:20:22 GMT",
      "x-ms-version-id" : "2020-03-23T17:20:22.0087792Z",
      "retry-after" : "0",
      "StatusCode" : "202",
      "ETag" : "0x8D7CF4E77C5D7C7",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcbegincopyblobswithversion2328044a486ae005eb47/javablobbegincopyblobswithversion195228ae8cc7c04b1b",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-is-current-version" : "true",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "x-ms-version-id" : "2020-03-23T17:20:22.0087792Z",
      "Last-Modified" : "Mon, 23 Mar 2020 17:20:22 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Mon, 23 Mar 2020 17:20:21 GMT",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-10-10",
      "x-ms-copy-id" : "efe85cbd-bd99-4360-81f9-57764c373e85",
      "x-ms-copy-source" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcbegincopyblobswithversion2328044a486ae005eb47/javablobbegincopyblobswithversion3237154824e59611ee",
      "x-ms-copy-progress" : "7/7",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-copy-completion-time" : "Mon, 23 Mar 2020 17:20:22 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7CF4E77C5D7C7",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net?prefix=jtcbegincopyblobswithversion&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://cdm03r01aversioning16.blob.core.windows.net/\"><Prefix>jtcbegincopyblobswithversion</Prefix><Containers><Container><Name>jtcbegincopyblobswithversion0111854a7b29269e7a4c</Name><Properties><Last-Modified>Mon, 23 Mar 2020 17:20:21 GMT</Last-Modified><Etag>\"0x8D7CF4E77908316\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcbegincopyblobswithversion0111854a7b29269e7a4c?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcbegincopyblobswithversion0111854a7b29269e7a4c", "javablobbegincopyblobswithversion195228ae8cc7c04b1b", "jtcbegincopyblobswithversion2328044a486ae005eb47", "javablobbegincopyblobswithversion3237154824e59611ee" ]
}