{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveblockblobbyversion07017469ecde07576c47?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7CAC5B0F1300F",
      "Last-Modified" : "Tue, 17 Mar 2020 22:51:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveblockblobbyversion24869271459a17f99746/javablobretrieveblockblobbyversion1045070b3c792f386",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-content-crc64" : "UsEwHKDtMJA=",
      "x-ms-version-id" : "2020-03-17T22:51:12.3544699Z",
      "Last-Modified" : "Tue, 17 Mar 2020 22:51:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "3PK1vADeVJGRJfX4Gf94CQ==",
      "ETag" : "0x8D7CAC5B105DF62"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveblockblobbyversion24869271459a17f99746/javablobretrieveblockblobbyversion1045070b3c792f386?versionid=2020-03-17T22%3a51%3a12.3544699Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-version-id" : "2020-03-17T22:51:12.3544699Z",
      "Last-Modified" : "Tue, 17 Mar 2020 22:51:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "3PK1vADeVJGRJfX4Gf94CQ==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7CAC5B105DF62",
      "x-ms-creation-time" : "Tue, 17 Mar 2020 22:51:12 GMT",
      "Body" : "[55, 49, 98, 100, 56, 102, 52, 53, 45, 102, 98, 99, 53, 45, 52, 54, 57, 54, 45, 98, 50, 49, 49, 45, 98, 52, 101, 101, 52, 56, 51, 102, 98, 52, 99, 57]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveblockblobbyversion24869271459a17f99746/javablobretrieveblockblobbyversion1045070b3c792f386?versionid=2020-03-17T22%3a51%3a12.4425326Z",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-is-current-version" : "true",
      "x-ms-version" : "2019-10-10",
      "x-ms-version-id" : "2020-03-17T22:51:12.4425326Z",
      "Last-Modified" : "Tue, 17 Mar 2020 22:51:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "Content-MD5" : "oJGa2O/TZT0zE162yUIsWg==",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7CAC5B1132845",
      "x-ms-creation-time" : "Tue, 17 Mar 2020 22:51:12 GMT",
      "Body" : "[97, 54, 100, 98, 56, 56, 52, 99, 45, 57, 48, 97, 52, 45, 52, 98, 51, 51, 45, 56, 56, 49, 49, 45, 56, 55, 54, 51, 49, 100, 55, 97, 48, 56, 97, 52]",
      "Content-Type" : "application/octet-stream"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net?prefix=jtcretrieveblockblobbyversion&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://cdm03r01aversioning16.blob.core.windows.net/\"><Prefix>jtcretrieveblockblobbyversion</Prefix><Containers><Container><Name>jtcretrieveblockblobbyversion07017469ecde07576c47</Name><Properties><Last-Modified>Tue, 17 Mar 2020 22:51:12 GMT</Last-Modified><Etag>\"0x8D7CAC5B0F1300F\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcretrieveblockblobbyversion07017469ecde07576c47?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcretrieveblockblobbyversion07017469ecde07576c47", "javablobretrieveblockblobbyversion1045070b3c792f386", "jtcretrieveblockblobbyversion24869271459a17f99746" ]
}