{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcbegincopyblobswithversion0470888f14c5b7eed849?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "ETag" : "0x8D7CF6AD6049D7A",
      "Last-Modified" : "Mon, 23 Mar 2020 20:43:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcbegincopyblobswithversion2383935bb7d4c6927844/javablobbegincopyblobswithversion1950074ba9572b4e74",
    "Headers" : {
      "x-ms-version" : "2019-10-10",
      "Content-Type" : "application/octet-stream"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-content-crc64" : "6RYQPwaVsyQ=",
      "x-ms-version-id" : "2020-03-23T20:43:26.1513117Z",
      "Last-Modified" : "Mon, 23 Mar 2020 20:43:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "ETag" : "0x8D7CF6AD616C19D"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcbegincopyblobswithversion2383935bb7d4c6927844/javablobbegincopyblobswithversion1950074ba9572b4e74",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "x-ms-copy-id" : "7fc4763a-3768-4908-874f-99e291248d21",
      "Last-Modified" : "Mon, 23 Mar 2020 20:43:26 GMT",
      "x-ms-version-id" : "2020-03-23T20:43:26.3194305Z",
      "retry-after" : "0",
      "StatusCode" : "202",
      "ETag" : "0x8D7CF6AD6301A9C",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
  }, {
    "Method" : "HEAD",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcbegincopyblobswithversion2383935bb7d4c6927844/javablobbegincopyblobswithversion1950074ba9572b4e74",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-is-current-version" : "true",
      "x-ms-lease-status" : "unlocked",
      "x-ms-lease-state" : "available",
      "x-ms-version-id" : "2020-03-23T20:43:26.3194305Z",
      "Last-Modified" : "Mon, 23 Mar 2020 20:43:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-blob-type" : "BlockBlob",
      "x-ms-access-tier-inferred" : "true",
      "x-ms-access-tier" : "Hot",
      "x-ms-creation-time" : "Mon, 23 Mar 2020 20:43:26 GMT",
      "Content-Type" : "application/octet-stream",
      "x-ms-version" : "2019-10-10",
      "x-ms-copy-id" : "7fc4763a-3768-4908-874f-99e291248d21",
      "x-ms-copy-source" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcbegincopyblobswithversion2383935bb7d4c6927844/javablobbegincopyblobswithversion365694f1d2827bb096",
      "x-ms-copy-progress" : "7/7",
      "Content-MD5" : "wh+Wm18D0z1D4E+PE252gg==",
      "x-ms-copy-completion-time" : "Mon, 23 Mar 2020 20:43:26 GMT",
      "x-ms-server-encrypted" : "true",
      "ETag" : "0x8D7CF6AD6301A9C",
      "x-ms-copy-status" : "success"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net?prefix=jtcbegincopyblobswithversion&comp=list",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://cdm03r01aversioning16.blob.core.windows.net/\"><Prefix>jtcbegincopyblobswithversion</Prefix><Containers><Container><Name>jtcbegincopyblobswithversion0470888f14c5b7eed849</Name><Properties><Last-Modified>Mon, 23 Mar 2020 20:43:26 GMT</Last-Modified><Etag>\"0x8D7CF6AD6049D7A\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold></Properties></Container></Containers><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://cdm03r01aversioning16.blob.core.windows.net/jtcbegincopyblobswithversion0470888f14c5b7eed849?restype=container",
    "Headers" : {
      "x-ms-version" : "2019-10-10"
    },
    "Response" : {
      "x-ms-version" : "2019-10-10",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  } ],
  "variables" : [ "jtcbegincopyblobswithversion0470888f14c5b7eed849", "javablobbegincopyblobswithversion1950074ba9572b4e74", "jtcbegincopyblobswithversion2383935bb7d4c6927844", "javablobbegincopyblobswithversion365694f1d2827bb096" ]
}