/**
 * Copyright (c) Microsoft Corporation. All rights reserved.
 * Licensed under the MIT License. See License.txt in the project root for
 * license information.
 * 
 * Code generated by Microsoft (R) AutoRest Code Generator 0.13.0.0
 * Changes may cause incorrect behavior and will be lost if the code is
 * regenerated.
 */

package com.microsoft.azure.management.resources;

import com.microsoft.azure.management.resources.models.ProviderOperationsMetadata;
import com.microsoft.azure.management.resources.models.ProviderOperationsMetadataListResult;
import com.microsoft.rest.ServiceCallback;
import com.microsoft.rest.ServiceException;
import com.microsoft.rest.ServiceResponse;
import com.squareup.okhttp.ResponseBody;
import retrofit.Call;
import retrofit.http.GET;
import retrofit.http.Header;
import retrofit.http.Path;
import retrofit.http.Query;
import retrofit.http.Url;

/**
 * An instance of this class provides access to all the operations defined
 * in ProviderOperationsMetadataOperations.
 */
public interface ProviderOperationsMetadataOperations {
    /**
     * The interface defining all the services for ProviderOperationsMetadataOperations to be
     * used by Retrofit to perform actually REST calls.
     */
    interface ProviderOperationsMetadataService {
        @GET("/providers/Microsoft.Authorization/providerOperations/{resourceProviderNamespace}")
        Call<ResponseBody> get(@Path("resourceProviderNamespace") String resourceProviderNamespace, @Path("subscriptionId") String subscriptionId, @Query("api-version") String apiVersion, @Query("$expand") String expand, @Header("accept-language") String acceptLanguage);

        @GET("/providers/Microsoft.Authorization/providerOperations")
        Call<ResponseBody> list(@Path("subscriptionId") String subscriptionId, @Query("api-version") String apiVersion, @Query("$expand") String expand, @Header("accept-language") String acceptLanguage);

        @GET
        Call<ResponseBody> listNext(@Url String nextPageLink, @Header("accept-language") String acceptLanguage);

    }
    /**
     * Gets provider operations metadata
     *
     * @param resourceProviderNamespace Namespace of the resource provider.
     * @param apiVersion the String value
     * @param expand the String value
     * @throws ServiceException exception thrown from REST call
     * @return the ProviderOperationsMetadata object wrapped in ServiceResponse if successful.
     */
    ServiceResponse<ProviderOperationsMetadata> get(String resourceProviderNamespace, String apiVersion, String expand) throws ServiceException;

    /**
     * Gets provider operations metadata
     *
     * @param resourceProviderNamespace Namespace of the resource provider.
     * @param apiVersion the String value
     * @param expand the String value
     * @param serviceCallback the async ServiceCallback to handle successful and failed responses.
     * @return the {@link Call} object
     */
    Call<ResponseBody> getAsync(String resourceProviderNamespace, String apiVersion, String expand, final ServiceCallback<ProviderOperationsMetadata> serviceCallback);

    /**
     * Gets provider operations metadata list
     *
     * @param apiVersion the String value
     * @param expand the String value
     * @throws ServiceException exception thrown from REST call
     * @return the ProviderOperationsMetadataListResult object wrapped in ServiceResponse if successful.
     */
    ServiceResponse<ProviderOperationsMetadataListResult> list(String apiVersion, String expand) throws ServiceException;

    /**
     * Gets provider operations metadata list
     *
     * @param apiVersion the String value
     * @param expand the String value
     * @param serviceCallback the async ServiceCallback to handle successful and failed responses.
     * @return the {@link Call} object
     */
    Call<ResponseBody> listAsync(String apiVersion, String expand, final ServiceCallback<ProviderOperationsMetadataListResult> serviceCallback);

    /**
     * Gets provider operations metadata list
     *
     * @param nextPageLink The NextLink from the previous successful call to List operation.
     * @throws ServiceException exception thrown from REST call
     * @return the ProviderOperationsMetadataListResult object wrapped in ServiceResponse if successful.
     */
    ServiceResponse<ProviderOperationsMetadataListResult> listNext(String nextPageLink) throws ServiceException;

    /**
     * Gets provider operations metadata list
     *
     * @param nextPageLink The NextLink from the previous successful call to List operation.
     * @param serviceCallback the async ServiceCallback to handle successful and failed responses.
     * @return the {@link Call} object
     */
    Call<ResponseBody> listNextAsync(String nextPageLink, final ServiceCallback<ProviderOperationsMetadataListResult> serviceCallback);

}
