{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azure-keyvault-3.vault.azure.net/secrets/JavaExtensionSecret1?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "www-authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : ""
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azure-keyvault-3.vault.azure.net/secrets/JavaExtensionSecret1?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"AAECAwQFBgcICQoLDA0ODw\",\"contentType\":\"application/octet-stream\",\"id\":\"https://azure-keyvault-3.vault.azure.net/secrets/JavaExtensionSecret1/e0b9414ee6b94be5a52516ab720d1f8e\",\"attributes\":{\"enabled\":true,\"created\":1547150302,\"updated\":1547150302,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-keyvault-3.vault.azure.net/secrets/JavaExtensionSecret1/?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"AAECAwQFBgcICQoLDA0ODw\",\"contentType\":\"application/octet-stream\",\"id\":\"https://azure-keyvault-3.vault.azure.net/secrets/JavaExtensionSecret1/e0b9414ee6b94be5a52516ab720d1f8e\",\"attributes\":{\"enabled\":true,\"created\":1547150302,\"updated\":1547150302,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-keyvault-3.vault.azure.net/secrets/JavaExtensionSecret1/e0b9414ee6b94be5a52516ab720d1f8e?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"AAECAwQFBgcICQoLDA0ODw\",\"contentType\":\"application/octet-stream\",\"id\":\"https://azure-keyvault-3.vault.azure.net/secrets/JavaExtensionSecret1/e0b9414ee6b94be5a52516ab720d1f8e\",\"attributes\":{\"enabled\":true,\"created\":1547150302,\"updated\":1547150302,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azure-keyvault-3.vault.azure.net/secrets/JavaExtensionSecret1?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"recoveryId\":\"https://azure-keyvault-3.vault.azure.net/deletedsecrets/JavaExtensionSecret1\",\"deletedDate\":1547150303,\"scheduledPurgeDate\":1554926303,\"contentType\":\"application/octet-stream\",\"id\":\"https://azure-keyvault-3.vault.azure.net/secrets/JavaExtensionSecret1/e0b9414ee6b94be5a52516ab720d1f8e\",\"attributes\":{\"enabled\":true,\"created\":1547150302,\"updated\":1547150302,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-keyvault-3.vault.azure.net/deletedsecrets/JavaExtensionSecret1?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"error\":{\"code\":\"SecretNotFound\",\"message\":\"Deleted Secret not found: JavaExtensionSecret1\"}}"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azure-keyvault-3.vault.azure.net/deletedsecrets/JavaExtensionSecret1?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "204",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}