// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.powerbiprivatelinks.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.resourcemanager.powerbiprivatelinks.fluent.PrivateLinkServicesForPowerBIsClient;
import com.azure.resourcemanager.powerbiprivatelinks.fluent.models.TenantResourceInner;
import java.util.List;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in PrivateLinkServicesForPowerBIsClient. */
public final class PrivateLinkServicesForPowerBIsClientImpl implements PrivateLinkServicesForPowerBIsClient {
    private final ClientLogger logger = new ClientLogger(PrivateLinkServicesForPowerBIsClientImpl.class);

    /** The proxy service used to perform REST calls. */
    private final PrivateLinkServicesForPowerBIsService service;

    /** The service client containing this operation class. */
    private final PrivateLinkServicesForPowerBIClientImpl client;

    /**
     * Initializes an instance of PrivateLinkServicesForPowerBIsClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    PrivateLinkServicesForPowerBIsClientImpl(PrivateLinkServicesForPowerBIClientImpl client) {
        this.service =
            RestProxy
                .create(
                    PrivateLinkServicesForPowerBIsService.class,
                    client.getHttpPipeline(),
                    client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for PrivateLinkServicesForPowerBIClientPrivateLinkServicesForPowerBIs to
     * be used by the proxy service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "PrivateLinkServicesF")
    private interface PrivateLinkServicesForPowerBIsService {
        @Headers({"Content-Type: application/json"})
        @Get("/subscriptions/{subscriptionId}/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<List<TenantResourceInner>>> listBySubscriptionId(
            @HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId,
            @QueryParam("api-version") String apiVersion,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Gets all the private link resources for the given subscription id.
     *
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return all the private link resources for the given subscription id.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<List<TenantResourceInner>>> listBySubscriptionIdWithResponseAsync() {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .listBySubscriptionId(
                            this.client.getEndpoint(),
                            this.client.getSubscriptionId(),
                            this.client.getApiVersion(),
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Gets all the private link resources for the given subscription id.
     *
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return all the private link resources for the given subscription id.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<List<TenantResourceInner>>> listBySubscriptionIdWithResponseAsync(Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .listBySubscriptionId(
                this.client.getEndpoint(),
                this.client.getSubscriptionId(),
                this.client.getApiVersion(),
                accept,
                context);
    }

    /**
     * Gets all the private link resources for the given subscription id.
     *
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return all the private link resources for the given subscription id.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<List<TenantResourceInner>> listBySubscriptionIdAsync() {
        return listBySubscriptionIdWithResponseAsync()
            .flatMap(
                (Response<List<TenantResourceInner>> res) -> {
                    if (res.getValue() != null) {
                        return Mono.just(res.getValue());
                    } else {
                        return Mono.empty();
                    }
                });
    }

    /**
     * Gets all the private link resources for the given subscription id.
     *
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return all the private link resources for the given subscription id.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public List<TenantResourceInner> listBySubscriptionId() {
        return listBySubscriptionIdAsync().block();
    }

    /**
     * Gets all the private link resources for the given subscription id.
     *
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return all the private link resources for the given subscription id.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<List<TenantResourceInner>> listBySubscriptionIdWithResponse(Context context) {
        return listBySubscriptionIdWithResponseAsync(context).block();
    }
}
