{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys/testKey5/create?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"key\":{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/testKey5/a0b537902c95401b82d7a834fd8f2ba4\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"xsww0pX8nr8robCJ2uZdjaUKumF23SqhQrpM9wMGWFYb6sIl919c9ePa1jn_R8nwUtK8VTJezRZu8Bmoh6RrjdMZ0u0Uk_DbkrjCUqjVxeGoesFwFt7de1rHxePnWC6sSAHUY_2ZmoRPhUW0Xaab1JTbfunhJYrZa6KK3JD615ZuCOQEaE0dBxXC6RJ1zA-YQG1hrTkprtv4s_54uMgzFLovEN1f_4eH256d9uKvpTVBpzXbOwr-PrKcICAGbpScstAwsKFZfrkIKKvXD4HzE-qyUfB00XJf4Dgck-uE8mLcViHP08UphXjCCZgwurBcV8H9e6SYRyRmCQniSD6p-w\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1560706777,\"updated\":1560706777,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys/testKey5?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"recoveryId\":\"https://azure-sdk-java-key-vault.vault.azure.net/deletedkeys/testKey5\",\"deletedDate\":1560706778,\"scheduledPurgeDate\":1568482778,\"key\":{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/testKey5/a0b537902c95401b82d7a834fd8f2ba4\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"xsww0pX8nr8robCJ2uZdjaUKumF23SqhQrpM9wMGWFYb6sIl919c9ePa1jn_R8nwUtK8VTJezRZu8Bmoh6RrjdMZ0u0Uk_DbkrjCUqjVxeGoesFwFt7de1rHxePnWC6sSAHUY_2ZmoRPhUW0Xaab1JTbfunhJYrZa6KK3JD615ZuCOQEaE0dBxXC6RJ1zA-YQG1hrTkprtv4s_54uMgzFLovEN1f_4eH256d9uKvpTVBpzXbOwr-PrKcICAGbpScstAwsKFZfrkIKKvXD4HzE-qyUfB00XJf4Dgck-uE8mLcViHP08UphXjCCZgwurBcV8H9e6SYRyRmCQniSD6p-w\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1560706777,\"updated\":1560706777,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/deletedkeys/testKey5?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"error\":{\"code\":\"KeyNotFound\",\"message\":\"Deleted Key not found: testKey5\"}}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/deletedkeys/testKey5?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"error\":{\"code\":\"KeyNotFound\",\"message\":\"Deleted Key not found: testKey5\"}}"
    }
  } ],
  "variables" : [ ]
}