{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys/listKeyVersion/create?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"key\":{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/listKeyVersion/5d7b3b166d374a1d84accdfe86f90f14\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"k2UzIVNRCmEoZCcbKjxwAornj7sLhJxLpK9GuxORam9DIPrY_PPDE0el07wIRKmoDJnfOXgtbGqcwxWYyy9YLNOK13TyZXkaWzzehZWJL_Mf0t2d0zHnzSAHaITDqR1I1kqXO7TIbKyOkOYYTCtx288dkpCUtZ9-zksxmrUH5viISB8u7R3JE7fSw8N9Ijs0-RNWgFa2C-rWkK3LwKq2AyjyxwK0R33RAttgyUiX2LbpCWGyTpq3gI0BAbLkAsaRGsBaWq1rnA_AoNkl1zCF8EwuKToBoHHISHENK5zW8aot13SPSHIkx6z4yIsuD_iZsVkrsxSFz1cTFg1sy-xePw\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"exp\":3797280000,\"created\":1560706761,\"updated\":1560706761,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys/listKeyVersion/versions?maxresults=25&api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":[{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/listKeyVersion/42064eebd5244df4b14bdbb4b4fa44df\",\"attributes\":{\"enabled\":true,\"exp\":3797452800,\"created\":1560706763,\"updated\":1560706763,\"recoveryLevel\":\"Recoverable+Purgeable\"}},{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/listKeyVersion/54d8259420464ba0ad937885d2231126\",\"attributes\":{\"enabled\":true,\"exp\":3797366400,\"created\":1560706762,\"updated\":1560706762,\"recoveryLevel\":\"Recoverable+Purgeable\"}},{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/listKeyVersion/5d7b3b166d374a1d84accdfe86f90f14\",\"attributes\":{\"enabled\":true,\"exp\":3797280000,\"created\":1560706761,\"updated\":1560706761,\"recoveryLevel\":\"Recoverable+Purgeable\"}},{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/listKeyVersion/888c34600d524e4f8954cc80faf5119d\",\"attributes\":{\"enabled\":true,\"exp\":3797539200,\"created\":1560706763,\"updated\":1560706763,\"recoveryLevel\":\"Recoverable+Purgeable\"}}],\"nextLink\":null}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys/listKeyVersion?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"recoveryId\":\"https://azure-sdk-java-key-vault.vault.azure.net/deletedkeys/listKeyVersion\",\"deletedDate\":1560706764,\"scheduledPurgeDate\":1568482764,\"key\":{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/listKeyVersion/888c34600d524e4f8954cc80faf5119d\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"odw70BeAcNTdIG7K_EWUDVJ8V-o3aAlok2LKYG-0onougvc796gqigVMz0bYWh8o9a4m0LhtGecZUGzoVrhUYATQpd63UhK-5cOaXcFjq3YpgVW9oaRHs4IeErg_KNpt32VdF8Oy6fpa_IccNDVTjbBeneFuMucrwhPyOTR7vS5Dd8iRls8FYg4yD54G9uxsg6b58q11DcQieFtlJJyySI_a9_PpnrCOLH2sRCB3quaVRgU_ixM4kqgZmcTu_w3FpZ3u6SiTrNcPisGTeXvdRuvskfbvjn9_NrjGz2XgDomIqgC_AjYpM89SVSmMe2K32QaQ3B3DhqCuWmImf9NmLw\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"exp\":3797539200,\"created\":1560706763,\"updated\":1560706763,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/deletedkeys/listKeyVersion?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"error\":{\"code\":\"KeyNotFound\",\"message\":\"Deleted Key not found: listKeyVersion\"}}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/deletedkeys/listKeyVersion?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"error\":{\"code\":\"KeyNotFound\",\"message\":\"Deleted Key not found: listKeyVersion\"}}"
    }
  } ],
  "variables" : [ ]
}