{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/secrets/testSecretGet?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"testSecretGetVal\",\"id\":\"https://azure-sdk-java-key-vault.vault.azure.net/secrets/testSecretGet/6bcb9fc7bef74f66b77c08a120886dfe\",\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1561365359,\"updated\":1561365359,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/secrets/testSecretGet/?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"testSecretGetVal\",\"id\":\"https://azure-sdk-java-key-vault.vault.azure.net/secrets/testSecretGet/6bcb9fc7bef74f66b77c08a120886dfe\",\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1561365359,\"updated\":1561365359,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  } ],
  "variables" : [ ]
}