// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.postgresqlflexibleserver.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Put;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.management.polling.PollResult;
import com.azure.core.util.BinaryData;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.core.util.polling.PollerFlux;
import com.azure.core.util.polling.SyncPoller;
import com.azure.resourcemanager.postgresqlflexibleserver.fluent.ServerThreatProtectionSettingsClient;
import com.azure.resourcemanager.postgresqlflexibleserver.fluent.models.AdvancedThreatProtectionSettingsModelInner;
import com.azure.resourcemanager.postgresqlflexibleserver.models.ThreatProtectionName;
import java.nio.ByteBuffer;
import reactor.core.publisher.Flux;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in ServerThreatProtectionSettingsClient.
 */
public final class ServerThreatProtectionSettingsClientImpl implements ServerThreatProtectionSettingsClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final ServerThreatProtectionSettingsService service;

    /**
     * The service client containing this operation class.
     */
    private final PostgreSqlManagementClientImpl client;

    /**
     * Initializes an instance of ServerThreatProtectionSettingsClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    ServerThreatProtectionSettingsClientImpl(PostgreSqlManagementClientImpl client) {
        this.service = RestProxy.create(ServerThreatProtectionSettingsService.class, client.getHttpPipeline(),
            client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for PostgreSqlManagementClientServerThreatProtectionSettings to be used
     * by the proxy service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "PostgreSqlManagementClientServerThreatProtectionSettings")
    public interface ServerThreatProtectionSettingsService {
        @Headers({ "Content-Type: application/json" })
        @Put("/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/advancedThreatProtectionSettings/{threatProtectionName}")
        @ExpectedResponses({ 200, 202 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<Flux<ByteBuffer>>> createOrUpdate(@HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion, @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName, @PathParam("serverName") String serverName,
            @PathParam("threatProtectionName") ThreatProtectionName threatProtectionName,
            @BodyParam("application/json") AdvancedThreatProtectionSettingsModelInner parameters,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Put("/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/advancedThreatProtectionSettings/{threatProtectionName}")
        @ExpectedResponses({ 200, 202 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Response<BinaryData> createOrUpdateSync(@HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion, @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName, @PathParam("serverName") String serverName,
            @PathParam("threatProtectionName") ThreatProtectionName threatProtectionName,
            @BodyParam("application/json") AdvancedThreatProtectionSettingsModelInner parameters,
            @HeaderParam("Accept") String accept, Context context);
    }

    /**
     * Creates or updates a server's Advanced Threat Protection settings.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param serverName The name of the server.
     * @param threatProtectionName Name of the advanced threat protection settings.
     * @param parameters The Advanced Threat Protection state for the server.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return advanced threat protection settings of the server along with {@link Response} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<Response<Flux<ByteBuffer>>> createOrUpdateWithResponseAsync(String resourceGroupName, String serverName,
        ThreatProtectionName threatProtectionName, AdvancedThreatProtectionSettingsModelInner parameters) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (serverName == null) {
            return Mono.error(new IllegalArgumentException("Parameter serverName is required and cannot be null."));
        }
        if (threatProtectionName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter threatProtectionName is required and cannot be null."));
        }
        if (parameters == null) {
            return Mono.error(new IllegalArgumentException("Parameter parameters is required and cannot be null."));
        } else {
            parameters.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.createOrUpdate(this.client.getEndpoint(), this.client.getApiVersion(),
                this.client.getSubscriptionId(), resourceGroupName, serverName, threatProtectionName, parameters,
                accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Creates or updates a server's Advanced Threat Protection settings.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param serverName The name of the server.
     * @param threatProtectionName Name of the advanced threat protection settings.
     * @param parameters The Advanced Threat Protection state for the server.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return advanced threat protection settings of the server along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Response<BinaryData> createOrUpdateWithResponse(String resourceGroupName, String serverName,
        ThreatProtectionName threatProtectionName, AdvancedThreatProtectionSettingsModelInner parameters) {
        if (this.client.getEndpoint() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (serverName == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter serverName is required and cannot be null."));
        }
        if (threatProtectionName == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter threatProtectionName is required and cannot be null."));
        }
        if (parameters == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter parameters is required and cannot be null."));
        } else {
            parameters.validate();
        }
        final String accept = "application/json";
        return service.createOrUpdateSync(this.client.getEndpoint(), this.client.getApiVersion(),
            this.client.getSubscriptionId(), resourceGroupName, serverName, threatProtectionName, parameters, accept,
            Context.NONE);
    }

    /**
     * Creates or updates a server's Advanced Threat Protection settings.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param serverName The name of the server.
     * @param threatProtectionName Name of the advanced threat protection settings.
     * @param parameters The Advanced Threat Protection state for the server.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return advanced threat protection settings of the server along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Response<BinaryData> createOrUpdateWithResponse(String resourceGroupName, String serverName,
        ThreatProtectionName threatProtectionName, AdvancedThreatProtectionSettingsModelInner parameters,
        Context context) {
        if (this.client.getEndpoint() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException(
                    "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (serverName == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter serverName is required and cannot be null."));
        }
        if (threatProtectionName == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter threatProtectionName is required and cannot be null."));
        }
        if (parameters == null) {
            throw LOGGER.atError()
                .log(new IllegalArgumentException("Parameter parameters is required and cannot be null."));
        } else {
            parameters.validate();
        }
        final String accept = "application/json";
        return service.createOrUpdateSync(this.client.getEndpoint(), this.client.getApiVersion(),
            this.client.getSubscriptionId(), resourceGroupName, serverName, threatProtectionName, parameters, accept,
            context);
    }

    /**
     * Creates or updates a server's Advanced Threat Protection settings.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param serverName The name of the server.
     * @param threatProtectionName Name of the advanced threat protection settings.
     * @param parameters The Advanced Threat Protection state for the server.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link PollerFlux} for polling of advanced threat protection settings of the server.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public
        PollerFlux<PollResult<AdvancedThreatProtectionSettingsModelInner>, AdvancedThreatProtectionSettingsModelInner>
        beginCreateOrUpdateAsync(String resourceGroupName, String serverName, ThreatProtectionName threatProtectionName,
            AdvancedThreatProtectionSettingsModelInner parameters) {
        Mono<Response<Flux<ByteBuffer>>> mono
            = createOrUpdateWithResponseAsync(resourceGroupName, serverName, threatProtectionName, parameters);
        return this.client
            .<AdvancedThreatProtectionSettingsModelInner, AdvancedThreatProtectionSettingsModelInner>getLroResult(mono,
                this.client.getHttpPipeline(), AdvancedThreatProtectionSettingsModelInner.class,
                AdvancedThreatProtectionSettingsModelInner.class, this.client.getContext());
    }

    /**
     * Creates or updates a server's Advanced Threat Protection settings.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param serverName The name of the server.
     * @param threatProtectionName Name of the advanced threat protection settings.
     * @param parameters The Advanced Threat Protection state for the server.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link SyncPoller} for polling of advanced threat protection settings of the server.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public
        SyncPoller<PollResult<AdvancedThreatProtectionSettingsModelInner>, AdvancedThreatProtectionSettingsModelInner>
        beginCreateOrUpdate(String resourceGroupName, String serverName, ThreatProtectionName threatProtectionName,
            AdvancedThreatProtectionSettingsModelInner parameters) {
        Response<BinaryData> response
            = createOrUpdateWithResponse(resourceGroupName, serverName, threatProtectionName, parameters);
        return this.client
            .<AdvancedThreatProtectionSettingsModelInner, AdvancedThreatProtectionSettingsModelInner>getLroResult(
                response, AdvancedThreatProtectionSettingsModelInner.class,
                AdvancedThreatProtectionSettingsModelInner.class, Context.NONE);
    }

    /**
     * Creates or updates a server's Advanced Threat Protection settings.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param serverName The name of the server.
     * @param threatProtectionName Name of the advanced threat protection settings.
     * @param parameters The Advanced Threat Protection state for the server.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link SyncPoller} for polling of advanced threat protection settings of the server.
     */
    @ServiceMethod(returns = ReturnType.LONG_RUNNING_OPERATION)
    public
        SyncPoller<PollResult<AdvancedThreatProtectionSettingsModelInner>, AdvancedThreatProtectionSettingsModelInner>
        beginCreateOrUpdate(String resourceGroupName, String serverName, ThreatProtectionName threatProtectionName,
            AdvancedThreatProtectionSettingsModelInner parameters, Context context) {
        Response<BinaryData> response
            = createOrUpdateWithResponse(resourceGroupName, serverName, threatProtectionName, parameters, context);
        return this.client
            .<AdvancedThreatProtectionSettingsModelInner, AdvancedThreatProtectionSettingsModelInner>getLroResult(
                response, AdvancedThreatProtectionSettingsModelInner.class,
                AdvancedThreatProtectionSettingsModelInner.class, context);
    }

    /**
     * Creates or updates a server's Advanced Threat Protection settings.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param serverName The name of the server.
     * @param threatProtectionName Name of the advanced threat protection settings.
     * @param parameters The Advanced Threat Protection state for the server.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return advanced threat protection settings of the server on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<AdvancedThreatProtectionSettingsModelInner> createOrUpdateAsync(String resourceGroupName,
        String serverName, ThreatProtectionName threatProtectionName,
        AdvancedThreatProtectionSettingsModelInner parameters) {
        return beginCreateOrUpdateAsync(resourceGroupName, serverName, threatProtectionName, parameters).last()
            .flatMap(this.client::getLroFinalResultOrError);
    }

    /**
     * Creates or updates a server's Advanced Threat Protection settings.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param serverName The name of the server.
     * @param threatProtectionName Name of the advanced threat protection settings.
     * @param parameters The Advanced Threat Protection state for the server.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return advanced threat protection settings of the server.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public AdvancedThreatProtectionSettingsModelInner createOrUpdate(String resourceGroupName, String serverName,
        ThreatProtectionName threatProtectionName, AdvancedThreatProtectionSettingsModelInner parameters) {
        return beginCreateOrUpdate(resourceGroupName, serverName, threatProtectionName, parameters).getFinalResult();
    }

    /**
     * Creates or updates a server's Advanced Threat Protection settings.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param serverName The name of the server.
     * @param threatProtectionName Name of the advanced threat protection settings.
     * @param parameters The Advanced Threat Protection state for the server.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return advanced threat protection settings of the server.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public AdvancedThreatProtectionSettingsModelInner createOrUpdate(String resourceGroupName, String serverName,
        ThreatProtectionName threatProtectionName, AdvancedThreatProtectionSettingsModelInner parameters,
        Context context) {
        return beginCreateOrUpdate(resourceGroupName, serverName, threatProtectionName, parameters, context)
            .getFinalResult();
    }

    private static final ClientLogger LOGGER = new ClientLogger(ServerThreatProtectionSettingsClientImpl.class);
}
