// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.security.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.resourcemanager.security.fluent.IotAlertTypesClient;
import com.azure.resourcemanager.security.fluent.models.IotAlertTypeInner;
import com.azure.resourcemanager.security.fluent.models.IotAlertTypeListInner;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in IotAlertTypesClient. */
public final class IotAlertTypesClientImpl implements IotAlertTypesClient {
    private final ClientLogger logger = new ClientLogger(IotAlertTypesClientImpl.class);

    /** The proxy service used to perform REST calls. */
    private final IotAlertTypesService service;

    /** The service client containing this operation class. */
    private final SecurityCenterImpl client;

    /**
     * Initializes an instance of IotAlertTypesClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    IotAlertTypesClientImpl(SecurityCenterImpl client) {
        this.service =
            RestProxy.create(IotAlertTypesService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for SecurityCenterIotAlertTypes to be used by the proxy service to
     * perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "SecurityCenterIotAle")
    private interface IotAlertTypesService {
        @Headers({"Content-Type: application/json"})
        @Get("/subscriptions/{subscriptionId}/providers/Microsoft.Security/iotAlertTypes")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<IotAlertTypeListInner>> list(
            @HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion,
            @PathParam("subscriptionId") String subscriptionId,
            @HeaderParam("Accept") String accept,
            Context context);

        @Headers({"Content-Type: application/json"})
        @Get("/subscriptions/{subscriptionId}/providers/Microsoft.Security/iotAlertTypes/{iotAlertTypeName}")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<IotAlertTypeInner>> get(
            @HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("iotAlertTypeName") String iotAlertTypeName,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * List IoT alert types.
     *
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return list of alert types.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<IotAlertTypeListInner>> listWithResponseAsync() {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        final String apiVersion = "2020-08-06-preview";
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .list(this.client.getEndpoint(), apiVersion, this.client.getSubscriptionId(), accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * List IoT alert types.
     *
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return list of alert types.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<IotAlertTypeListInner>> listWithResponseAsync(Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        final String apiVersion = "2020-08-06-preview";
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.list(this.client.getEndpoint(), apiVersion, this.client.getSubscriptionId(), accept, context);
    }

    /**
     * List IoT alert types.
     *
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return list of alert types.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<IotAlertTypeListInner> listAsync() {
        return listWithResponseAsync()
            .flatMap(
                (Response<IotAlertTypeListInner> res) -> {
                    if (res.getValue() != null) {
                        return Mono.just(res.getValue());
                    } else {
                        return Mono.empty();
                    }
                });
    }

    /**
     * List IoT alert types.
     *
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return list of alert types.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public IotAlertTypeListInner list() {
        return listAsync().block();
    }

    /**
     * List IoT alert types.
     *
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return list of alert types.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<IotAlertTypeListInner> listWithResponse(Context context) {
        return listWithResponseAsync(context).block();
    }

    /**
     * Get IoT alert type.
     *
     * @param iotAlertTypeName Name of the alert type.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return ioT alert type.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<IotAlertTypeInner>> getWithResponseAsync(String iotAlertTypeName) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (iotAlertTypeName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter iotAlertTypeName is required and cannot be null."));
        }
        final String apiVersion = "2020-08-06-preview";
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .get(
                            this.client.getEndpoint(),
                            apiVersion,
                            this.client.getSubscriptionId(),
                            iotAlertTypeName,
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Get IoT alert type.
     *
     * @param iotAlertTypeName Name of the alert type.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return ioT alert type.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<IotAlertTypeInner>> getWithResponseAsync(String iotAlertTypeName, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (iotAlertTypeName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter iotAlertTypeName is required and cannot be null."));
        }
        final String apiVersion = "2020-08-06-preview";
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .get(
                this.client.getEndpoint(),
                apiVersion,
                this.client.getSubscriptionId(),
                iotAlertTypeName,
                accept,
                context);
    }

    /**
     * Get IoT alert type.
     *
     * @param iotAlertTypeName Name of the alert type.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return ioT alert type.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<IotAlertTypeInner> getAsync(String iotAlertTypeName) {
        return getWithResponseAsync(iotAlertTypeName)
            .flatMap(
                (Response<IotAlertTypeInner> res) -> {
                    if (res.getValue() != null) {
                        return Mono.just(res.getValue());
                    } else {
                        return Mono.empty();
                    }
                });
    }

    /**
     * Get IoT alert type.
     *
     * @param iotAlertTypeName Name of the alert type.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return ioT alert type.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public IotAlertTypeInner get(String iotAlertTypeName) {
        return getAsync(iotAlertTypeName).block();
    }

    /**
     * Get IoT alert type.
     *
     * @param iotAlertTypeName Name of the alert type.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return ioT alert type.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<IotAlertTypeInner> getWithResponse(String iotAlertTypeName, Context context) {
        return getWithResponseAsync(iotAlertTypeName, context).block();
    }
}
