// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.security.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.resourcemanager.security.fluent.IotRecommendationTypesClient;
import com.azure.resourcemanager.security.fluent.models.IotRecommendationTypeInner;
import com.azure.resourcemanager.security.fluent.models.IotRecommendationTypeListInner;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in IotRecommendationTypesClient. */
public final class IotRecommendationTypesClientImpl implements IotRecommendationTypesClient {
    private final ClientLogger logger = new ClientLogger(IotRecommendationTypesClientImpl.class);

    /** The proxy service used to perform REST calls. */
    private final IotRecommendationTypesService service;

    /** The service client containing this operation class. */
    private final SecurityCenterImpl client;

    /**
     * Initializes an instance of IotRecommendationTypesClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    IotRecommendationTypesClientImpl(SecurityCenterImpl client) {
        this.service =
            RestProxy
                .create(IotRecommendationTypesService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for SecurityCenterIotRecommendationTypes to be used by the proxy service
     * to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "SecurityCenterIotRec")
    private interface IotRecommendationTypesService {
        @Headers({"Content-Type: application/json"})
        @Get("/subscriptions/{subscriptionId}/providers/Microsoft.Security/iotRecommendationTypes")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<IotRecommendationTypeListInner>> list(
            @HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion,
            @PathParam("subscriptionId") String subscriptionId,
            @HeaderParam("Accept") String accept,
            Context context);

        @Headers({"Content-Type: application/json"})
        @Get(
            "/subscriptions/{subscriptionId}/providers/Microsoft.Security/iotRecommendationTypes"
                + "/{iotRecommendationTypeName}")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<IotRecommendationTypeInner>> get(
            @HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("iotRecommendationTypeName") String iotRecommendationTypeName,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * List IoT recommendation types.
     *
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return list of recommendation types.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<IotRecommendationTypeListInner>> listWithResponseAsync() {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        final String apiVersion = "2020-08-06-preview";
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .list(this.client.getEndpoint(), apiVersion, this.client.getSubscriptionId(), accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * List IoT recommendation types.
     *
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return list of recommendation types.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<IotRecommendationTypeListInner>> listWithResponseAsync(Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        final String apiVersion = "2020-08-06-preview";
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.list(this.client.getEndpoint(), apiVersion, this.client.getSubscriptionId(), accept, context);
    }

    /**
     * List IoT recommendation types.
     *
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return list of recommendation types.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<IotRecommendationTypeListInner> listAsync() {
        return listWithResponseAsync()
            .flatMap(
                (Response<IotRecommendationTypeListInner> res) -> {
                    if (res.getValue() != null) {
                        return Mono.just(res.getValue());
                    } else {
                        return Mono.empty();
                    }
                });
    }

    /**
     * List IoT recommendation types.
     *
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return list of recommendation types.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public IotRecommendationTypeListInner list() {
        return listAsync().block();
    }

    /**
     * List IoT recommendation types.
     *
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return list of recommendation types.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<IotRecommendationTypeListInner> listWithResponse(Context context) {
        return listWithResponseAsync(context).block();
    }

    /**
     * Get IoT recommendation type.
     *
     * @param iotRecommendationTypeName Name of the recommendation type.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return ioT recommendation type.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<IotRecommendationTypeInner>> getWithResponseAsync(String iotRecommendationTypeName) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (iotRecommendationTypeName == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter iotRecommendationTypeName is required and cannot be null."));
        }
        final String apiVersion = "2020-08-06-preview";
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .get(
                            this.client.getEndpoint(),
                            apiVersion,
                            this.client.getSubscriptionId(),
                            iotRecommendationTypeName,
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Get IoT recommendation type.
     *
     * @param iotRecommendationTypeName Name of the recommendation type.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return ioT recommendation type.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<IotRecommendationTypeInner>> getWithResponseAsync(
        String iotRecommendationTypeName, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (iotRecommendationTypeName == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter iotRecommendationTypeName is required and cannot be null."));
        }
        final String apiVersion = "2020-08-06-preview";
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .get(
                this.client.getEndpoint(),
                apiVersion,
                this.client.getSubscriptionId(),
                iotRecommendationTypeName,
                accept,
                context);
    }

    /**
     * Get IoT recommendation type.
     *
     * @param iotRecommendationTypeName Name of the recommendation type.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return ioT recommendation type.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<IotRecommendationTypeInner> getAsync(String iotRecommendationTypeName) {
        return getWithResponseAsync(iotRecommendationTypeName)
            .flatMap(
                (Response<IotRecommendationTypeInner> res) -> {
                    if (res.getValue() != null) {
                        return Mono.just(res.getValue());
                    } else {
                        return Mono.empty();
                    }
                });
    }

    /**
     * Get IoT recommendation type.
     *
     * @param iotRecommendationTypeName Name of the recommendation type.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return ioT recommendation type.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public IotRecommendationTypeInner get(String iotRecommendationTypeName) {
        return getAsync(iotRecommendationTypeName).block();
    }

    /**
     * Get IoT recommendation type.
     *
     * @param iotRecommendationTypeName Name of the recommendation type.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return ioT recommendation type.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<IotRecommendationTypeInner> getWithResponse(String iotRecommendationTypeName, Context context) {
        return getWithResponseAsync(iotRecommendationTypeName, context).block();
    }
}
