// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.security.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.Put;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.security.fluent.ResourceProvidersClient;
import com.azure.resourcemanager.security.fluent.models.GetSensitivitySettingsResponseInner;
import com.azure.resourcemanager.security.models.UpdateSensitivitySettingsRequest;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in ResourceProvidersClient.
 */
public final class ResourceProvidersClientImpl implements ResourceProvidersClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final ResourceProvidersService service;

    /**
     * The service client containing this operation class.
     */
    private final SecurityCenterImpl client;

    /**
     * Initializes an instance of ResourceProvidersClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    ResourceProvidersClientImpl(SecurityCenterImpl client) {
        this.service
            = RestProxy.create(ResourceProvidersService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for SecurityCenterResourceProviders to be used by the proxy service to
     * perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "SecurityCenterResour")
    public interface ResourceProvidersService {
        @Headers({ "Content-Type: application/json" })
        @Put("/providers/Microsoft.Security/sensitivitySettings/current")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<GetSensitivitySettingsResponseInner>> updateSensitivitySettings(
            @HostParam("$host") String endpoint, @QueryParam("api-version") String apiVersion,
            @BodyParam("application/json") UpdateSensitivitySettingsRequest sensitivitySettings,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Get("/providers/Microsoft.Security/sensitivitySettings/current")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<GetSensitivitySettingsResponseInner>> getSensitivitySettings(@HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion, @HeaderParam("Accept") String accept, Context context);
    }

    /**
     * Updates data sensitivity settings for sensitive data discovery.
     * 
     * @param sensitivitySettings The data sensitivity settings to update.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return data sensitivity settings for sensitive data discovery along with {@link Response} on successful
     * completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<GetSensitivitySettingsResponseInner>>
        updateSensitivitySettingsWithResponseAsync(UpdateSensitivitySettingsRequest sensitivitySettings) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (sensitivitySettings == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter sensitivitySettings is required and cannot be null."));
        } else {
            sensitivitySettings.validate();
        }
        final String apiVersion = "2023-02-15-preview";
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.updateSensitivitySettings(this.client.getEndpoint(), apiVersion,
                sensitivitySettings, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Updates data sensitivity settings for sensitive data discovery.
     * 
     * @param sensitivitySettings The data sensitivity settings to update.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return data sensitivity settings for sensitive data discovery along with {@link Response} on successful
     * completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<GetSensitivitySettingsResponseInner>> updateSensitivitySettingsWithResponseAsync(
        UpdateSensitivitySettingsRequest sensitivitySettings, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (sensitivitySettings == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter sensitivitySettings is required and cannot be null."));
        } else {
            sensitivitySettings.validate();
        }
        final String apiVersion = "2023-02-15-preview";
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.updateSensitivitySettings(this.client.getEndpoint(), apiVersion, sensitivitySettings, accept,
            context);
    }

    /**
     * Updates data sensitivity settings for sensitive data discovery.
     * 
     * @param sensitivitySettings The data sensitivity settings to update.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return data sensitivity settings for sensitive data discovery on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<GetSensitivitySettingsResponseInner>
        updateSensitivitySettingsAsync(UpdateSensitivitySettingsRequest sensitivitySettings) {
        return updateSensitivitySettingsWithResponseAsync(sensitivitySettings)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Updates data sensitivity settings for sensitive data discovery.
     * 
     * @param sensitivitySettings The data sensitivity settings to update.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return data sensitivity settings for sensitive data discovery along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<GetSensitivitySettingsResponseInner>
        updateSensitivitySettingsWithResponse(UpdateSensitivitySettingsRequest sensitivitySettings, Context context) {
        return updateSensitivitySettingsWithResponseAsync(sensitivitySettings, context).block();
    }

    /**
     * Updates data sensitivity settings for sensitive data discovery.
     * 
     * @param sensitivitySettings The data sensitivity settings to update.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return data sensitivity settings for sensitive data discovery.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public GetSensitivitySettingsResponseInner
        updateSensitivitySettings(UpdateSensitivitySettingsRequest sensitivitySettings) {
        return updateSensitivitySettingsWithResponse(sensitivitySettings, Context.NONE).getValue();
    }

    /**
     * Gets data sensitivity settings for sensitive data discovery.
     * 
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return data sensitivity settings for sensitive data discovery along with {@link Response} on successful
     * completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<GetSensitivitySettingsResponseInner>> getSensitivitySettingsWithResponseAsync() {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        final String apiVersion = "2023-02-15-preview";
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context -> service.getSensitivitySettings(this.client.getEndpoint(), apiVersion, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Gets data sensitivity settings for sensitive data discovery.
     * 
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return data sensitivity settings for sensitive data discovery along with {@link Response} on successful
     * completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<GetSensitivitySettingsResponseInner>>
        getSensitivitySettingsWithResponseAsync(Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        final String apiVersion = "2023-02-15-preview";
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.getSensitivitySettings(this.client.getEndpoint(), apiVersion, accept, context);
    }

    /**
     * Gets data sensitivity settings for sensitive data discovery.
     * 
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return data sensitivity settings for sensitive data discovery on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<GetSensitivitySettingsResponseInner> getSensitivitySettingsAsync() {
        return getSensitivitySettingsWithResponseAsync().flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Gets data sensitivity settings for sensitive data discovery.
     * 
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return data sensitivity settings for sensitive data discovery along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<GetSensitivitySettingsResponseInner> getSensitivitySettingsWithResponse(Context context) {
        return getSensitivitySettingsWithResponseAsync(context).block();
    }

    /**
     * Gets data sensitivity settings for sensitive data discovery.
     * 
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return data sensitivity settings for sensitive data discovery.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public GetSensitivitySettingsResponseInner getSensitivitySettings() {
        return getSensitivitySettingsWithResponse(Context.NONE).getValue();
    }
}
