azure:
  activedirectory:
    b2c:
      tenant: ${your-tenant-name}
      oidc-enabled: true
      client-id: ${your-client-id}
      client-secret: ${your-client-secret}
      reply-url: ${your-reply-url-from-aad} # should be absolute url.
      logout-success-url: ${your-logout-success-url}
      user-name-attribute-name: ${your-user-name-claim}
      user-flows:
        sign-up-or-sign-in: ${your-sign-up-or-in-user-flow}
        profile-edit: ${your-profile-edit-user-flow}     # optional
        password-reset: ${your-password-reset-user-flow} # optional
        sign-in: ${your-sign-in-user-flow} # optional
        sign-up: ${your-sign-up-user-flow} # optional
