// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.resources.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Post;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.resources.fluent.PolicyTokensClient;
import com.azure.resourcemanager.resources.fluent.models.PolicyTokenResponseInner;
import com.azure.resourcemanager.resources.models.PolicyTokenRequest;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in PolicyTokensClient.
 */
public final class PolicyTokensClientImpl implements PolicyTokensClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final PolicyTokensService service;

    /**
     * The service client containing this operation class.
     */
    private final PolicyClientImpl client;

    /**
     * Initializes an instance of PolicyTokensClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    PolicyTokensClientImpl(PolicyClientImpl client) {
        this.service
            = RestProxy.create(PolicyTokensService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for PolicyClientPolicyTokens to be used by the proxy service to perform
     * REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "PolicyClientPolicyTokens")
    public interface PolicyTokensService {
        @Headers({ "Content-Type: application/json" })
        @Post("/providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Authorization/acquirePolicyToken")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<PolicyTokenResponseInner>> acquireAtManagementGroup(@HostParam("$host") String endpoint,
            @PathParam("managementGroupName") String managementGroupName, @QueryParam("api-version") String apiVersion,
            @BodyParam("application/json") PolicyTokenRequest parameters, @HeaderParam("Accept") String accept,
            Context context);

        @Headers({ "Content-Type: application/json" })
        @Post("/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/acquirePolicyToken")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<PolicyTokenResponseInner>> acquire(@HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion, @PathParam("subscriptionId") String subscriptionId,
            @BodyParam("application/json") PolicyTokenRequest parameters, @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Acquires a policy token at management group level.
     * 
     * This operation acquires a policy token in the given management group for the given request body.
     * 
     * @param managementGroupName The name of the management group. The name is case insensitive.
     * @param parameters The policy token properties.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the policy token response properties along with {@link Response} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<Response<PolicyTokenResponseInner>>
        acquireAtManagementGroupWithResponseAsync(String managementGroupName, PolicyTokenRequest parameters) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (managementGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter managementGroupName is required and cannot be null."));
        }
        if (parameters == null) {
            return Mono.error(new IllegalArgumentException("Parameter parameters is required and cannot be null."));
        } else {
            parameters.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.acquireAtManagementGroup(this.client.getEndpoint(), managementGroupName,
                this.client.getApiVersion(), parameters, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Acquires a policy token at management group level.
     * 
     * This operation acquires a policy token in the given management group for the given request body.
     * 
     * @param managementGroupName The name of the management group. The name is case insensitive.
     * @param parameters The policy token properties.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the policy token response properties along with {@link Response} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<PolicyTokenResponseInner>> acquireAtManagementGroupWithResponseAsync(
        String managementGroupName, PolicyTokenRequest parameters, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (managementGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter managementGroupName is required and cannot be null."));
        }
        if (parameters == null) {
            return Mono.error(new IllegalArgumentException("Parameter parameters is required and cannot be null."));
        } else {
            parameters.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.acquireAtManagementGroup(this.client.getEndpoint(), managementGroupName,
            this.client.getApiVersion(), parameters, accept, context);
    }

    /**
     * Acquires a policy token at management group level.
     * 
     * This operation acquires a policy token in the given management group for the given request body.
     * 
     * @param managementGroupName The name of the management group. The name is case insensitive.
     * @param parameters The policy token properties.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the policy token response properties on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<PolicyTokenResponseInner> acquireAtManagementGroupAsync(String managementGroupName,
        PolicyTokenRequest parameters) {
        return acquireAtManagementGroupWithResponseAsync(managementGroupName, parameters)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Acquires a policy token at management group level.
     * 
     * This operation acquires a policy token in the given management group for the given request body.
     * 
     * @param managementGroupName The name of the management group. The name is case insensitive.
     * @param parameters The policy token properties.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the policy token response properties along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<PolicyTokenResponseInner> acquireAtManagementGroupWithResponse(String managementGroupName,
        PolicyTokenRequest parameters, Context context) {
        return acquireAtManagementGroupWithResponseAsync(managementGroupName, parameters, context).block();
    }

    /**
     * Acquires a policy token at management group level.
     * 
     * This operation acquires a policy token in the given management group for the given request body.
     * 
     * @param managementGroupName The name of the management group. The name is case insensitive.
     * @param parameters The policy token properties.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the policy token response properties.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public PolicyTokenResponseInner acquireAtManagementGroup(String managementGroupName,
        PolicyTokenRequest parameters) {
        return acquireAtManagementGroupWithResponse(managementGroupName, parameters, Context.NONE).getValue();
    }

    /**
     * Acquires a policy token.
     * 
     * This operation acquires a policy token in the given subscription for the given request body.
     * 
     * @param parameters The request body.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the policy token response properties along with {@link Response} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<Response<PolicyTokenResponseInner>> acquireWithResponseAsync(PolicyTokenRequest parameters) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (parameters == null) {
            return Mono.error(new IllegalArgumentException("Parameter parameters is required and cannot be null."));
        } else {
            parameters.validate();
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.acquire(this.client.getEndpoint(), this.client.getApiVersion(),
                this.client.getSubscriptionId(), parameters, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Acquires a policy token.
     * 
     * This operation acquires a policy token in the given subscription for the given request body.
     * 
     * @param parameters The request body.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the policy token response properties along with {@link Response} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<PolicyTokenResponseInner>> acquireWithResponseAsync(PolicyTokenRequest parameters,
        Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (parameters == null) {
            return Mono.error(new IllegalArgumentException("Parameter parameters is required and cannot be null."));
        } else {
            parameters.validate();
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.acquire(this.client.getEndpoint(), this.client.getApiVersion(), this.client.getSubscriptionId(),
            parameters, accept, context);
    }

    /**
     * Acquires a policy token.
     * 
     * This operation acquires a policy token in the given subscription for the given request body.
     * 
     * @param parameters The request body.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the policy token response properties on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Mono<PolicyTokenResponseInner> acquireAsync(PolicyTokenRequest parameters) {
        return acquireWithResponseAsync(parameters).flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Acquires a policy token.
     * 
     * This operation acquires a policy token in the given subscription for the given request body.
     * 
     * @param parameters The request body.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the policy token response properties along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<PolicyTokenResponseInner> acquireWithResponse(PolicyTokenRequest parameters, Context context) {
        return acquireWithResponseAsync(parameters, context).block();
    }

    /**
     * Acquires a policy token.
     * 
     * This operation acquires a policy token in the given subscription for the given request body.
     * 
     * @param parameters The request body.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the policy token response properties.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public PolicyTokenResponseInner acquire(PolicyTokenRequest parameters) {
        return acquireWithResponse(parameters, Context.NONE).getValue();
    }
}
