openapi: 3.0.1
info:
  title: Identity.DirectoryManagement
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /domains:
    get:
      tags:
        - domains.domain
      summary: Get entities from domains
      operationId: domains.domain_ListDomain
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - authenticationType
                - authenticationType desc
                - availabilityStatus
                - availabilityStatus desc
                - isAdminManaged
                - isAdminManaged desc
                - isDefault
                - isDefault desc
                - isInitial
                - isInitial desc
                - isRoot
                - isRoot desc
                - isVerified
                - isVerified desc
                - manufacturer
                - manufacturer desc
                - model
                - model desc
                - passwordNotificationWindowInDays
                - passwordNotificationWindowInDays desc
                - passwordValidityPeriodInDays
                - passwordValidityPeriodInDays desc
                - state
                - state desc
                - supportedServices
                - supportedServices desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - authenticationType
                - availabilityStatus
                - isAdminManaged
                - isDefault
                - isInitial
                - isRoot
                - isVerified
                - manufacturer
                - model
                - passwordNotificationWindowInDays
                - passwordValidityPeriodInDays
                - state
                - supportedServices
                - domainNameReferences
                - serviceConfigurationRecords
                - verificationDnsRecords
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - domainNameReferences
                - serviceConfigurationRecords
                - verificationDnsRecords
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of domain
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.domain'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - domains.domain
      summary: Add new entity to domains
      operationId: domains.domain_CreateDomain
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.domain'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.domain'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/domains/{domain-id}':
    get:
      tags:
        - domains.domain
      summary: Get entity from domains by key
      operationId: domains.domain_GetDomain
      parameters:
        - name: domain-id
          in: path
          description: 'key: id of domain'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: domain
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - authenticationType
                - availabilityStatus
                - isAdminManaged
                - isDefault
                - isInitial
                - isRoot
                - isVerified
                - manufacturer
                - model
                - passwordNotificationWindowInDays
                - passwordValidityPeriodInDays
                - state
                - supportedServices
                - domainNameReferences
                - serviceConfigurationRecords
                - verificationDnsRecords
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - domainNameReferences
                - serviceConfigurationRecords
                - verificationDnsRecords
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.domain'
          links:
            domainNameReferences:
              operationId: domains.ListDomainNameReferences
              parameters:
                domain-id: $request.path.domain-id
            serviceConfigurationRecords:
              operationId: domains.ListServiceConfigurationRecords
              parameters:
                domain-id: $request.path.domain-id
            verificationDnsRecords:
              operationId: domains.ListVerificationDnsRecords
              parameters:
                domain-id: $request.path.domain-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - domains.domain
      summary: Update entity in domains
      operationId: domains.domain_UpdateDomain
      parameters:
        - name: domain-id
          in: path
          description: 'key: id of domain'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: domain
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.domain'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - domains.domain
      summary: Delete entity from domains
      operationId: domains.domain_DeleteDomain
      parameters:
        - name: domain-id
          in: path
          description: 'key: id of domain'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: domain
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.orgContact:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: orgContact
          type: object
          properties:
            addresses:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.physicalOfficeAddress'
            companyName:
              type: string
              nullable: true
            department:
              type: string
              nullable: true
            displayName:
              type: string
              nullable: true
            givenName:
              type: string
              nullable: true
            jobTitle:
              type: string
              nullable: true
            mail:
              type: string
              nullable: true
            mailNickname:
              type: string
              nullable: true
            onPremisesLastSyncDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            onPremisesProvisioningErrors:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.onPremisesProvisioningError'
            onPremisesSyncEnabled:
              type: boolean
              nullable: true
            phones:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.phone'
            proxyAddresses:
              type: array
              items:
                type: string
            surname:
              type: string
              nullable: true
            directReports:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            manager:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            memberOf:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            transitiveMemberOf:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.extensionProperty:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: extensionProperty
          type: object
          properties:
            appDisplayName:
              type: string
              description: Display name of the application object on which this extension property is defined. Read-only.
              nullable: true
            dataType:
              type: string
              description: Specifies the data type of the value the extension property can hold. Following values are supported. Not nullable. Binary - 256 bytes maximumBooleanDateTime - Must be specified in ISO 8601 format. Will be stored in UTC.Integer - 32-bit value.LargeInteger - 64-bit value.String - 256 characters maximum
            isSyncedFromOnPremises:
              type: boolean
              description: Indicates if this extension property was sycned from onpremises directory using Azure AD Connect. Read-only.
              nullable: true
            name:
              type: string
              description: Name of the extension property. Not nullable.
            targetObjects:
              type: array
              items:
                type: string
              description: Following values are supported. Not nullable. UserGroupOrganizationDeviceApplication
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.contract:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: contract
          type: object
          properties:
            contractType:
              type: string
              description: 'Type of contract.Possible values are: SyndicationPartner - Partner that exclusively resells and manages O365 and Intune for this customer. They resell and support their customers. BreadthPartner - Partner has the ability to provide administrative support for this customer. However, the partner is not allowed to resell to the customer.ResellerPartner - Partner that is similar to a syndication partner, except that the partner doesn’t have exclusive access to a tenant. In the syndication case, the customer cannot buy additional direct subscriptions from Microsoft or from other partners.'
              nullable: true
            customerId:
              pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
              type: string
              description: The unique identifier for the customer tenant referenced by this partnership. Corresponds to the id property of the customer tenant's organization resource.
              format: uuid
              nullable: true
            defaultDomainName:
              type: string
              description: A copy of the customer tenant's default domain name. The copy is made when the partnership with the customer is established. It is not automatically updated if the customer tenant's default domain name changes.
              nullable: true
            displayName:
              type: string
              description: A copy of the customer tenant's display name. The copy is made when the partnership with the customer is established. It is not automatically updated if the customer tenant's display name changes.
              nullable: true
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.device:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: device
          type: object
          properties:
            accountEnabled:
              type: boolean
              description: 'true if the account is enabled; otherwise, false. Required.'
              nullable: true
            alternativeSecurityIds:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.alternativeSecurityId'
              description: For internal use only. Not nullable.
            approximateLastSignInDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z''. Read-only.'
              format: date-time
              nullable: true
            complianceExpirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The timestamp when the device is no longer deemed compliant. The timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z''. Read-only.'
              format: date-time
              nullable: true
            deviceId:
              type: string
              description: Unique identifier set by Azure Device Registration Service at the time of registration.
              nullable: true
            deviceMetadata:
              type: string
              description: For internal use only. Set to null.
              nullable: true
            deviceVersion:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: For internal use only.
              format: int32
              nullable: true
            displayName:
              type: string
              description: The display name for the device. Required.
              nullable: true
            isCompliant:
              type: boolean
              description: 'true if the device complies with Mobile Device Management (MDM) policies; otherwise, false. Read-only. This can only be updated by Intune for any device OS type or by an approved MDM app for Windows OS devices.'
              nullable: true
            isManaged:
              type: boolean
              description: 'true if the device is managed by a Mobile Device Management (MDM) app; otherwise, false. This can only be updated by Intune for any device OS type or by an approved MDM app for Windows OS devices.'
              nullable: true
            mdmAppId:
              type: string
              description: Application identifier used to register device into MDM. Read-only. Supports $filter.
              nullable: true
            onPremisesLastSyncDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The last time at which the object was synced with the on-premises directory. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z'' Read-only.'
              format: date-time
              nullable: true
            onPremisesSyncEnabled:
              type: boolean
              description: true if this object is synced from an on-premises directory; false if this object was originally synced from an on-premises directory but is no longer synced; null if this object has never been synced from an on-premises directory (default). Read-only.
              nullable: true
            operatingSystem:
              type: string
              description: The type of operating system on the device. Required.
              nullable: true
            operatingSystemVersion:
              type: string
              description: The version of the operating system on the device. Required.
              nullable: true
            physicalIds:
              type: array
              items:
                type: string
              description: For internal use only. Not nullable.
            profileType:
              type: string
              description: The profile type of the device. Possible values:RegisteredDevice (default)SecureVMPrinterSharedIoT
              nullable: true
            systemLabels:
              type: array
              items:
                type: string
              description: List of labels applied to the device by the system.
            trustType:
              type: string
              description: 'Type of trust for the joined device. Read-only. Possible values: Workplace - indicates bring your own personal devicesAzureAd - Cloud only joined devicesServerAd - on-premises domain joined devices joined to Azure AD. For more details, see Introduction to device management in Azure Active Directory'
              nullable: true
            memberOf:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: 'Groups that this group is a member of. HTTP Methods: GET (supported for all groups). Read-only. Nullable.'
            registeredOwners:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: 'The user that cloud joined the device or registered their personal device. The registered owner is set at the time of registration. Currently, there can be only one owner. Read-only. Nullable.'
            registeredUsers:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: 'Collection of registered users of the device. For cloud joined devices and registered personal devices, registered users are set to the same value as registered owners at the time of registration. Read-only. Nullable.'
            transitiveMemberOf:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
              description: The collection of open extensions defined for the device. Read-only. Nullable.
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.extension:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: extension
          type: object
          additionalProperties:
            type: object
    microsoft.graph.directory:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directory
          type: object
          properties:
            administrativeUnits:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
            deletedItems:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: Recently deleted items. Read-only. Nullable.
          additionalProperties:
            type: object
    microsoft.graph.administrativeUnit:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: administrativeUnit
          type: object
          properties:
            description:
              type: string
              description: An optional description for the administrative unit.
              nullable: true
            displayName:
              type: string
              description: Display name for the administrative unit.
              nullable: true
            visibility:
              type: string
              description: 'Controls whether the administrative unit and its members are hidden or public. Can be set to HiddenMembership or Public. If not set, default behavior is Public. When set to HiddenMembership, only members of the administrative unit can list other members of the adminstrative unit.'
              nullable: true
            members:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: 'Users and groups that are members of this Adminsitrative Unit. HTTP Methods: GET (list members), POST (add members), DELETE (remove members).'
            scopedRoleMembers:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
              description: 'Scoped-role members of this Administrative Unit.  HTTP Methods: GET (list scopedRoleMemberships), POST (add scopedRoleMembership), DELETE (remove scopedRoleMembership).'
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.scopedRoleMembership:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: scopedRoleMembership
          type: object
          properties:
            administrativeUnitId:
              type: string
              description: Unique identifier for the administrative unit that the directory role is scoped to
            roleId:
              type: string
              description: Unique identifier for the directory role that the member is in.
            roleMemberInfo:
              $ref: '#/components/schemas/microsoft.graph.identity'
          additionalProperties:
            type: object
    microsoft.graph.directoryRole:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: directoryRole
          type: object
          properties:
            description:
              type: string
              description: The description for the directory role. Read-only.
              nullable: true
            displayName:
              type: string
              description: The display name for the directory role. Read-only.
              nullable: true
            roleTemplateId:
              type: string
              description: 'The id of the directoryRoleTemplate that this role is based on. The property must be specified when activating a directory role in a tenant with a POST operation. After the directory role has been activated, the property is read only.'
              nullable: true
            members:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: 'Users that are members of this directory role. HTTP Methods: GET, POST, DELETE. Read-only. Nullable.'
            scopedMembers:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.directoryRoleTemplate:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: directoryRoleTemplate
          type: object
          properties:
            description:
              type: string
              description: The description to set for the directory role. Read-only.
              nullable: true
            displayName:
              type: string
              description: The display name to set for the directory role. Read-only.
              nullable: true
          additionalProperties:
            type: object
          description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
    microsoft.graph.domain:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: domain
          type: object
          properties:
            authenticationType:
              type: string
              description: Indicates the configured authentication type for the domain. The value is either Managed or Federated. Managed indicates a cloud managed domain where Azure AD performs user authentication.Federated indicates authentication is federated with an identity provider such as the tenant's on-premises Active Directory via Active Directory Federation Services. This property is read-only and is not nullable.
            availabilityStatus:
              type: string
              description: 'This property is always null except when the verify action is used. When the verify action is used, a domain entity is returned in the response. The availabilityStatus property of the domain entity in the response is either AvailableImmediately or EmailVerifiedDomainTakeoverScheduled.'
              nullable: true
            isAdminManaged:
              type: boolean
              description: 'The value of the property is false if the DNS record management of the domain has been delegated to Microsoft 365. Otherwise, the value is true. Not nullable'
            isDefault:
              type: boolean
              description: True if this is the default domain that is used for user creation. There is only one default domain per company. Not nullable
            isInitial:
              type: boolean
              description: True if this is the initial domain created by Microsoft Online Services (companyname.onmicrosoft.com). There is only one initial domain per company. Not nullable
            isRoot:
              type: boolean
              description: 'True if the domain is a verified root domain. Otherwise, false if the domain is a subdomain or unverified. Not nullable'
            isVerified:
              type: boolean
              description: True if the domain has completed domain ownership verification. Not nullable
            manufacturer:
              type: string
              nullable: true
            model:
              type: string
              nullable: true
            passwordNotificationWindowInDays:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: 'Specifies the number of days before a user receives notification that their password will expire. If the property is not set, a default value of 14 days will be used.'
              format: int32
              nullable: true
            passwordValidityPeriodInDays:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: 'Specifies the length of time that a password is valid before it must be changed. If the property is not set, a default value of 90 days will be used.'
              format: int32
              nullable: true
            state:
              $ref: '#/components/schemas/microsoft.graph.domainState'
            supportedServices:
              type: array
              items:
                type: string
              description: 'The capabilities assigned to the domain.Can include 0, 1 or more of following values: Email, Sharepoint, EmailInternalRelayOnly, OfficeCommunicationsOnline, SharePointDefaultDomain, FullRedelegation, SharePointPublic, OrgIdAuthentication, Yammer, Intune The values which you can add/remove using Graph API include: Email, OfficeCommunicationsOnline, YammerNot nullable'
            domainNameReferences:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
              description: 'Read-only, Nullable'
            serviceConfigurationRecords:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.domainDnsRecord'
              description: 'DNS records the customer adds to the DNS zone file of the domain before the domain can be used by Microsoft Online services.Read-only, Nullable'
            verificationDnsRecords:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.domainDnsRecord'
              description: 'DNS records that the customer adds to the DNS zone file of the domain before the customer can complete domain ownership verification with Azure AD.Read-only, Nullable'
          additionalProperties:
            type: object
    microsoft.graph.domainDnsRecord:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: domainDnsRecord
          type: object
          properties:
            isOptional:
              type: boolean
              description: 'If false, this record must be configured by the customer at the DNS host for Microsoft Online Services to operate correctly with the domain.'
            label:
              type: string
              description: Value used when configuring the name of the DNS record at the DNS host.
            recordType:
              type: string
              description: 'Indicates what type of DNS record this entity represents.The value can be one of the following: CName, Mx, Srv, TxtKey'
              nullable: true
            supportedService:
              type: string
              description: 'Microsoft Online Service or feature that has a dependency on this DNS record.Can be one of the following values: null, Email, Sharepoint, EmailInternalRelayOnly, OfficeCommunicationsOnline, SharePointDefaultDomain, FullRedelegation, SharePointPublic, OrgIdAuthentication, Yammer, Intune'
            ttl:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: Value to use when configuring the time-to-live (ttl) property of the DNS record at the DNS host. Not nullable
              format: int32
          additionalProperties:
            type: object
    microsoft.graph.organization:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.directoryObject'
        - title: organization
          type: object
          properties:
            assignedPlans:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.assignedPlan'
              description: The collection of service plans associated with the tenant. Not nullable.
            businessPhones:
              type: array
              items:
                type: string
              description: 'Telephone number for the organization. NOTE: Although this is a string collection, only one number can be set for this property.'
            city:
              type: string
              description: City name of the address for the organization.
              nullable: true
            country:
              type: string
              description: Country/region name of the address for the organization.
              nullable: true
            countryLetterCode:
              type: string
              description: Country/region abbreviation for the organization.
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Timestamp of when the organization was created. The value cannot be modified and is automatically populated when the organization is created. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z''. Read-only.'
              format: date-time
              nullable: true
            displayName:
              type: string
              description: The display name for the tenant.
              nullable: true
            marketingNotificationEmails:
              type: array
              items:
                type: string
              description: Not nullable.
            onPremisesLastSyncDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The time and date at which the tenant was last synced with the on-premise directory. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: ''2014-01-01T00:00:00Z''. Read-only.'
              format: date-time
              nullable: true
            onPremisesSyncEnabled:
              type: boolean
              description: true if this object is synced from an on-premises directory; false if this object was originally synced from an on-premises directory but is no longer synced; null if this object has never been synced from an on-premises directory (default).
              nullable: true
            postalCode:
              type: string
              description: Postal code of the address for the organization.
              nullable: true
            preferredLanguage:
              type: string
              description: The preferred language for the organization. Should follow ISO 639-1 Code; for example 'en'.
              nullable: true
            privacyProfile:
              $ref: '#/components/schemas/microsoft.graph.privacyProfile'
            provisionedPlans:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.provisionedPlan'
              description: Not nullable.
            securityComplianceNotificationMails:
              type: array
              items:
                type: string
            securityComplianceNotificationPhones:
              type: array
              items:
                type: string
            state:
              type: string
              description: State name of the address for the organization.
              nullable: true
            street:
              type: string
              description: Street name of the address for organization.
              nullable: true
            technicalNotificationMails:
              type: array
              items:
                type: string
              description: Not nullable.
            tenantType:
              type: string
              nullable: true
            verifiedDomains:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.verifiedDomain'
              description: The collection of domains associated with this tenant. Not nullable.
            mobileDeviceManagementAuthority:
              $ref: '#/components/schemas/microsoft.graph.mdmAuthority'
            certificateBasedAuthConfiguration:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.certificateBasedAuthConfiguration'
              description: Navigation property to manage certificate-based authentication configuration. Only a single instance of certificateBasedAuthConfiguration can be created in the collection.
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
              description: The collection of open extensions defined for the organization. Read-only. Nullable.
          additionalProperties:
            type: object
          description: The organization resource represents an instance of global settings and resources which operate and are provisioned at the tenant-level.
    microsoft.graph.subscribedSku:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: subscribedSku
          type: object
          properties:
            appliesTo:
              type: string
              description: 'For example, ''User'' or ''Company''.'
              nullable: true
            capabilityStatus:
              type: string
              description: 'Possible values are: Enabled, Warning, Suspended, Deleted, LockedOut.'
              nullable: true
            consumedUnits:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: The number of licenses that have been assigned.
              format: int32
              nullable: true
            prepaidUnits:
              $ref: '#/components/schemas/microsoft.graph.licenseUnitsDetail'
            servicePlans:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.servicePlanInfo'
              description: Information about the service plans that are available with the SKU. Not nullable
            skuId:
              pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
              type: string
              description: The unique identifier (GUID) for the service SKU.
              format: uuid
              nullable: true
            skuPartNumber:
              type: string
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.physicalOfficeAddress:
      title: physicalOfficeAddress
      type: object
      properties:
        city:
          type: string
          description: The city.
          nullable: true
        countryOrRegion:
          type: string
          description: 'The country or region. It''s a free-format string value, for example, ''United States''.'
          nullable: true
        officeLocation:
          type: string
          description: Office location such as building and office number for an organizational contact.
          nullable: true
        postalCode:
          type: string
          description: The postal code.
          nullable: true
        state:
          type: string
          description: The state.
          nullable: true
        street:
          type: string
          description: The street.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.onPremisesProvisioningError:
      title: onPremisesProvisioningError
      type: object
      properties:
        category:
          type: string
          description: 'Category of the provisioning error. Note: Currently, there is only one possible value. Possible value: PropertyConflict - indicates a property value is not unique. Other objects contain the same value for the property.'
          nullable: true
        occurredDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: The date and time at which the error occurred.
          format: date-time
          nullable: true
        propertyCausingError:
          type: string
          description: 'Name of the directory property causing the error. Current possible values: UserPrincipalName or ProxyAddress'
          nullable: true
        value:
          type: string
          description: Value of the property causing the error.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.phone:
      title: phone
      type: object
      properties:
        language:
          type: string
          nullable: true
        number:
          type: string
          description: The phone number.
          nullable: true
        region:
          type: string
          nullable: true
        type:
          $ref: '#/components/schemas/microsoft.graph.phoneType'
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: Read-only.
      additionalProperties:
        type: object
    microsoft.graph.alternativeSecurityId:
      title: alternativeSecurityId
      type: object
      properties:
        identityProvider:
          type: string
          description: For internal use only
          nullable: true
        key:
          type: string
          description: For internal use only
          format: base64url
          nullable: true
        type:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: For internal use only
          format: int32
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.identity:
      title: identity
      type: object
      properties:
        displayName:
          type: string
          description: 'The identity''s display name. Note that this may not always be available or up to date. For example, if a user changes their display name, the API may show the new value in a future response, but the items associated with the user won''t show up as having changed when using delta.'
          nullable: true
        id:
          type: string
          description: Unique identifier for the identity.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.domainState:
      title: domainState
      type: object
      properties:
        lastActionDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: 'Timestamp for when the last activity occurred. The value is updated when an operation is scheduled, the asynchronous task starts, and when the operation completes.'
          format: date-time
          nullable: true
        operation:
          type: string
          description: Type of asynchronous operation. The values can be ForceDelete or Verification
          nullable: true
        status:
          type: string
          description: Current status of the operation.  Scheduled - Operation has been scheduled but has not started.  InProgress - Task has started and is in progress.  Failed - Operation has failed.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.assignedPlan:
      title: assignedPlan
      type: object
      properties:
        assignedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        capabilityStatus:
          type: string
          description: 'Condition of the capability assignment. The possible values are Enabled, Warning, Suspended, Deleted, LockedOut.'
          nullable: true
        service:
          type: string
          description: 'The name of the service; for example, ''Exchange''.'
          nullable: true
        servicePlanId:
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          type: string
          description: A GUID that identifies the service plan.
          format: uuid
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.privacyProfile:
      title: privacyProfile
      type: object
      properties:
        contactEmail:
          type: string
          description: A valid smtp email address for the privacy statement contact. Not required.
          nullable: true
        statementUrl:
          type: string
          description: A valid URL format that begins with http:// or https://. Maximum length is 255 characters. The URL that directs to the company's privacy statement. Not required.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.provisionedPlan:
      title: provisionedPlan
      type: object
      properties:
        capabilityStatus:
          type: string
          description: 'For example, ''Enabled''.'
          nullable: true
        provisioningStatus:
          type: string
          description: 'For example, ''Success''.'
          nullable: true
        service:
          type: string
          description: 'The name of the service; for example, ''AccessControlS2S'''
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.verifiedDomain:
      title: verifiedDomain
      type: object
      properties:
        capabilities:
          type: string
          description: 'For example, ''Email'', ''OfficeCommunicationsOnline''.'
          nullable: true
        isDefault:
          type: boolean
          description: 'true if this is the default domain associated with the tenant; otherwise, false.'
          nullable: true
        isInitial:
          type: boolean
          description: 'true if this is the initial domain associated with the tenant; otherwise, false'
          nullable: true
        name:
          type: string
          description: 'The domain name; for example, ''contoso.onmicrosoft.com'''
          nullable: true
        type:
          type: string
          description: 'For example, ''Managed''.'
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.mdmAuthority:
      title: mdmAuthority
      enum:
        - unknown
        - intune
        - sccm
        - office365
      type: string
    microsoft.graph.certificateBasedAuthConfiguration:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: certificateBasedAuthConfiguration
          type: object
          properties:
            certificateAuthorities:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.certificateAuthority'
              description: Collection of certificate authorities which creates a trusted certificate chain.
          additionalProperties:
            type: object
    microsoft.graph.licenseUnitsDetail:
      title: licenseUnitsDetail
      type: object
      properties:
        enabled:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The number of units that are enabled.
          format: int32
          nullable: true
        suspended:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The number of units that are suspended.
          format: int32
          nullable: true
        warning:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The number of units that are in warning status.
          format: int32
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.servicePlanInfo:
      title: servicePlanInfo
      type: object
      properties:
        appliesTo:
          type: string
          description: The object the service plan can be assigned to. Possible values:'User' - service plan can be assigned to individual users.'Company' - service plan can be assigned to the entire tenant.
          nullable: true
        provisioningStatus:
          type: string
          description: 'The provisioning status of the service plan. Possible values:''Success'' - Service is fully provisioned.''Disabled'' - Service has been disabled.''PendingInput'' - Service is not yet provisioned; awaiting service confirmation.''PendingActivation'' - Service is provisioned but requires explicit activation by administrator (for example, Intune_O365 service plan)''PendingProvisioning'' - Microsoft has added a new service to the product SKU and it has not been activated in the tenant, yet.'
          nullable: true
        servicePlanId:
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          type: string
          description: The unique identifier of the service plan.
          format: uuid
          nullable: true
        servicePlanName:
          type: string
          description: The name of the service plan.
          nullable: true
      additionalProperties:
        type: object
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    microsoft.graph.phoneType:
      title: phoneType
      enum:
        - home
        - business
        - mobile
        - other
        - assistant
        - homeFax
        - businessFax
        - otherFax
        - pager
        - radio
      type: string
    microsoft.graph.certificateAuthority:
      title: certificateAuthority
      type: object
      properties:
        certificate:
          type: string
          description: Required. The base64 encoded string representing the public certificate.
          format: base64url
        certificateRevocationListUrl:
          type: string
          description: The URL of the certificate revocation list.
          nullable: true
        deltaCertificateRevocationListUrl:
          type: string
          description: The URL contains the list of all revoked certificates since the last time a full certificate revocaton list was created.
          nullable: true
        isRootAuthority:
          type: boolean
          description: 'Required. true if the trusted certificate is a root authority, false if the trusted certificate is an intermediate authority.'
        issuer:
          type: string
          description: 'The issuer of the certificate, calculated from the certificate value. Read-only.'
        issuerSki:
          type: string
          description: 'The subject key identifier of the certificate, calculated from the certificate value. Read-only.'
      additionalProperties:
        type: object
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]
