{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobschedules?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Fri, 22 Feb 2019 05:35:09 GMT",
      "etag" : "0x8D69887826C9A47",
      "location" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 22 Feb 2019 05:35:09 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D69887826C9A47",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://servbatch.centralus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"BatchUser-JobSchedule-updateJobScheduleState\",\"url\":\"https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState\",\"eTag\":\"0x8D69887826C9A47\",\"lastModified\":\"2019-02-22T05:35:09.5666247Z\",\"creationTime\":\"2019-02-22T05:35:09.5666247Z\",\"state\":\"active\",\"stateTransitionTime\":\"2019-02-22T05:35:09.5666247Z\",\"schedule\":{\r\n    \"doNotRunUntil\":\"2019-02-22T05:35:09.035Z\",\"doNotRunAfter\":\"2019-02-22T10:35:09.035Z\",\"startWindow\":\"P5D\"\r\n  },\"jobSpecification\":{\r\n    \"priority\":100,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n    },\"poolInfo\":{\r\n      \"poolId\":\"BatchUser-testpool\"\r\n    }\r\n  },\"executionInfo\":{\r\n    \"recentJob\":{\r\n      \"url\":\"https://servbatch.centralus.batch.azure.com/jobs/BatchUser-JobSchedule-updateJobScheduleState:job-1\",\"id\":\"BatchUser-JobSchedule-updateJobScheduleState:job-1\"\r\n    }\r\n  }\r\n}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/disable?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/disable",
      "retry-after" : "0",
      "StatusCode" : "204",
      "last-modified" : "Fri, 22 Feb 2019 05:35:10 GMT",
      "etag" : "0x8D6988782B32E26",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 22 Feb 2019 05:35:10 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D6988782B32E26",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://servbatch.centralus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"BatchUser-JobSchedule-updateJobScheduleState\",\"url\":\"https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState\",\"eTag\":\"0x8D6988782B32E26\",\"lastModified\":\"2019-02-22T05:35:10.0291622Z\",\"creationTime\":\"2019-02-22T05:35:09.5666247Z\",\"state\":\"disabled\",\"stateTransitionTime\":\"2019-02-22T05:35:10.0291622Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2019-02-22T05:35:09.5666247Z\",\"schedule\":{\r\n    \"doNotRunUntil\":\"2019-02-22T05:35:09.035Z\",\"doNotRunAfter\":\"2019-02-22T10:35:09.035Z\",\"startWindow\":\"P5D\"\r\n  },\"jobSpecification\":{\r\n    \"priority\":100,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n    },\"poolInfo\":{\r\n      \"poolId\":\"BatchUser-testpool\"\r\n    }\r\n  },\"executionInfo\":{\r\n    \"recentJob\":{\r\n      \"url\":\"https://servbatch.centralus.batch.azure.com/jobs/BatchUser-JobSchedule-updateJobScheduleState:job-1\",\"id\":\"BatchUser-JobSchedule-updateJobScheduleState:job-1\"\r\n    }\r\n  }\r\n}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/enable?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/enable",
      "retry-after" : "0",
      "StatusCode" : "204",
      "last-modified" : "Fri, 22 Feb 2019 05:35:10 GMT",
      "etag" : "0x8D6988782EFED19",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/terminate?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/terminate",
      "retry-after" : "0",
      "StatusCode" : "202",
      "last-modified" : "Fri, 22 Feb 2019 05:35:10 GMT",
      "etag" : "0x8D69887830E910A",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "409",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://servbatch.centralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"JobScheduleBeingDeleted\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\":\"The specified job schedule has been marked for deletion and is being reclaimed.\\nRequestId:19f6dca3-0adf-4a78-b167-fb17873c2a1f\\nTime:2019-02-22T05:35:13.1654534Z\"\r\n  }\r\n}"
    }
  } ],
  "variables" : [ ]
}