// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.servicefabric.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.resourcemanager.servicefabric.fluent.ManagedClusterVersionsClient;
import com.azure.resourcemanager.servicefabric.fluent.models.ManagedClusterVersionDetailsInner;
import com.azure.resourcemanager.servicefabric.models.ManagedClusterVersionsOsType;
import java.util.List;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in ManagedClusterVersionsClient. */
public final class ManagedClusterVersionsClientImpl implements ManagedClusterVersionsClient {
    private final ClientLogger logger = new ClientLogger(ManagedClusterVersionsClientImpl.class);

    /** The proxy service used to perform REST calls. */
    private final ManagedClusterVersionsService service;

    /** The service client containing this operation class. */
    private final ServiceFabricManagementClientImpl client;

    /**
     * Initializes an instance of ManagedClusterVersionsClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    ManagedClusterVersionsClientImpl(ServiceFabricManagementClientImpl client) {
        this.service =
            RestProxy
                .create(ManagedClusterVersionsService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for ServiceFabricManagementClientManagedClusterVersions to be used by the
     * proxy service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "ServiceFabricManagem")
    private interface ManagedClusterVersionsService {
        @Headers({"Content-Type: application/json"})
        @Get(
            "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/managedclusters/locations/{location}"
                + "/osType/{osType}/clusterVersions")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<List<ManagedClusterVersionDetailsInner>>> listByOS(
            @HostParam("$host") String endpoint,
            @PathParam("location") String location,
            @PathParam("osType") ManagedClusterVersionsOsType osType,
            @QueryParam("api-version") String apiVersion,
            @PathParam("subscriptionId") String subscriptionId,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Gets all available code versions for Service Fabric cluster resources by OS type.
     *
     * @param location The location for the cluster code versions. This is different from cluster location.
     * @param osType The operating system of the cluster.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return all available code versions for Service Fabric cluster resources by OS type.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<List<ManagedClusterVersionDetailsInner>>> listByOSWithResponseAsync(
        String location, ManagedClusterVersionsOsType osType) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (location == null) {
            return Mono.error(new IllegalArgumentException("Parameter location is required and cannot be null."));
        }
        if (osType == null) {
            return Mono.error(new IllegalArgumentException("Parameter osType is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        final String apiVersion = "2020-01-01-preview";
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .listByOS(
                            this.client.getEndpoint(),
                            location,
                            osType,
                            apiVersion,
                            this.client.getSubscriptionId(),
                            accept,
                            context))
            .subscriberContext(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext())));
    }

    /**
     * Gets all available code versions for Service Fabric cluster resources by OS type.
     *
     * @param location The location for the cluster code versions. This is different from cluster location.
     * @param osType The operating system of the cluster.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return all available code versions for Service Fabric cluster resources by OS type.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<List<ManagedClusterVersionDetailsInner>>> listByOSWithResponseAsync(
        String location, ManagedClusterVersionsOsType osType, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (location == null) {
            return Mono.error(new IllegalArgumentException("Parameter location is required and cannot be null."));
        }
        if (osType == null) {
            return Mono.error(new IllegalArgumentException("Parameter osType is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        final String apiVersion = "2020-01-01-preview";
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .listByOS(
                this.client.getEndpoint(),
                location,
                osType,
                apiVersion,
                this.client.getSubscriptionId(),
                accept,
                context);
    }

    /**
     * Gets all available code versions for Service Fabric cluster resources by OS type.
     *
     * @param location The location for the cluster code versions. This is different from cluster location.
     * @param osType The operating system of the cluster.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return all available code versions for Service Fabric cluster resources by OS type.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<List<ManagedClusterVersionDetailsInner>> listByOSAsync(
        String location, ManagedClusterVersionsOsType osType) {
        return listByOSWithResponseAsync(location, osType)
            .flatMap(
                (Response<List<ManagedClusterVersionDetailsInner>> res) -> {
                    if (res.getValue() != null) {
                        return Mono.just(res.getValue());
                    } else {
                        return Mono.empty();
                    }
                });
    }

    /**
     * Gets all available code versions for Service Fabric cluster resources by OS type.
     *
     * @param location The location for the cluster code versions. This is different from cluster location.
     * @param osType The operating system of the cluster.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return all available code versions for Service Fabric cluster resources by OS type.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public List<ManagedClusterVersionDetailsInner> listByOS(String location, ManagedClusterVersionsOsType osType) {
        return listByOSAsync(location, osType).block();
    }

    /**
     * Gets all available code versions for Service Fabric cluster resources by OS type.
     *
     * @param location The location for the cluster code versions. This is different from cluster location.
     * @param osType The operating system of the cluster.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return all available code versions for Service Fabric cluster resources by OS type.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<List<ManagedClusterVersionDetailsInner>> listByOSWithResponse(
        String location, ManagedClusterVersionsOsType osType, Context context) {
        return listByOSWithResponseAsync(location, osType, context).block();
    }
}
