// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.securityinsights.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.securityinsights.fluent.IpGeodatasClient;
import com.azure.resourcemanager.securityinsights.fluent.models.EnrichmentIpGeodataInner;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in IpGeodatasClient. */
public final class IpGeodatasClientImpl implements IpGeodatasClient {
    /** The proxy service used to perform REST calls. */
    private final IpGeodatasService service;

    /** The service client containing this operation class. */
    private final SecurityInsightsImpl client;

    /**
     * Initializes an instance of IpGeodatasClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    IpGeodatasClientImpl(SecurityInsightsImpl client) {
        this.service =
            RestProxy.create(IpGeodatasService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for SecurityInsightsIpGeodatas to be used by the proxy service to perform
     * REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "SecurityInsightsIpGe")
    private interface IpGeodatasService {
        @Headers({"Content-Type: application/json"})
        @Get(
            "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityInsights"
                + "/enrichment/ip/geodata/")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<EnrichmentIpGeodataInner>> get(
            @HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName,
            @QueryParam("ipAddress") String ipAddress,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Get geodata for a single IP address.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param ipAddress IP address (v4 or v6) to be enriched.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return geodata for a single IP address along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<EnrichmentIpGeodataInner>> getWithResponseAsync(String resourceGroupName, String ipAddress) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (ipAddress == null) {
            return Mono.error(new IllegalArgumentException("Parameter ipAddress is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .get(
                            this.client.getEndpoint(),
                            this.client.getApiVersion(),
                            this.client.getSubscriptionId(),
                            resourceGroupName,
                            ipAddress,
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Get geodata for a single IP address.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param ipAddress IP address (v4 or v6) to be enriched.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return geodata for a single IP address along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<EnrichmentIpGeodataInner>> getWithResponseAsync(
        String resourceGroupName, String ipAddress, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (ipAddress == null) {
            return Mono.error(new IllegalArgumentException("Parameter ipAddress is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .get(
                this.client.getEndpoint(),
                this.client.getApiVersion(),
                this.client.getSubscriptionId(),
                resourceGroupName,
                ipAddress,
                accept,
                context);
    }

    /**
     * Get geodata for a single IP address.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param ipAddress IP address (v4 or v6) to be enriched.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return geodata for a single IP address on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<EnrichmentIpGeodataInner> getAsync(String resourceGroupName, String ipAddress) {
        return getWithResponseAsync(resourceGroupName, ipAddress).flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Get geodata for a single IP address.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param ipAddress IP address (v4 or v6) to be enriched.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return geodata for a single IP address.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public EnrichmentIpGeodataInner get(String resourceGroupName, String ipAddress) {
        return getAsync(resourceGroupName, ipAddress).block();
    }

    /**
     * Get geodata for a single IP address.
     *
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param ipAddress IP address (v4 or v6) to be enriched.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return geodata for a single IP address along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<EnrichmentIpGeodataInner> getWithResponse(
        String resourceGroupName, String ipAddress, Context context) {
        return getWithResponseAsync(resourceGroupName, ipAddress, context).block();
    }
}
