{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://graph.microsoft.com/v1.0//applications",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-ags-diagnostic" : "{\"ServerInfo\":{\"DataCenter\":\"Southeast Asia\",\"Slice\":\"SliceC\",\"Ring\":\"5\",\"ScaleUnit\":\"000\",\"RoleInstance\":\"AGSFE_IN_2\"}}",
      "OData-Version" : "4.0",
      "x-ms-resource-unit" : "1",
      "Body" : "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#applications/$entity\",\"id\":\"f8475f78-720d-4a17-ac71-e8efa5f3fd4c\",\"deletedDateTime\":null,\"appId\":\"aee8aa61-4db8-43d9-b08c-b984122e57db\",\"applicationTemplateId\":null,\"createdDateTime\":\"2021-01-04T05:08:37.7428862Z\",\"displayName\":\"ssp316123a82ed\",\"description\":null,\"groupMembershipClaims\":null,\"identifierUris\":[],\"isDeviceOnlyAuthSupported\":null,\"isFallbackPublicClient\":null,\"notes\":null,\"optionalClaims\":null,\"publisherDomain\":\"AzureSDKTeam.onmicrosoft.com\",\"signInAudience\":\"AzureADandPersonalMicrosoftAccount\",\"tags\":[],\"tokenEncryptionKeyId\":null,\"verifiedPublisher\":{\"displayName\":null,\"verifiedPublisherId\":null,\"addedDateTime\":null},\"spa\":{\"redirectUris\":[]},\"defaultRedirectUri\":null,\"addIns\":[],\"api\":{\"acceptMappedClaims\":null,\"knownClientApplications\":[],\"requestedAccessTokenVersion\":2,\"oauth2PermissionScopes\":[],\"preAuthorizedApplications\":[]},\"appRoles\":[],\"info\":{\"logoUrl\":null,\"marketingUrl\":null,\"privacyStatementUrl\":null,\"supportUrl\":null,\"termsOfServiceUrl\":null},\"keyCredentials\":[],\"parentalControlSettings\":{\"countriesBlockedForMinors\":[],\"legalAgeGroupRule\":\"Allow\"},\"passwordCredentials\":[],\"publicClient\":{\"redirectUris\":[]},\"requiredResourceAccess\":[],\"web\":{\"homePageUrl\":null,\"logoutUrl\":null,\"redirectUris\":[],\"implicitGrantSettings\":{\"enableAccessTokenIssuance\":false,\"enableIdTokenIssuance\":false}}}",
      "Content-Type" : "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
      "Location" : "https://graph.microsoft.com/v2/00000000-0000-0000-0000-000000000000/directoryObjects/f8475f78-720d-4a17-ac71-e8efa5f3fd4c/Microsoft.DirectoryServices.Application"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://graph.microsoft.com/v1.0//applications/f8475f78-720d-4a17-ac71-e8efa5f3fd4c",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-ags-diagnostic" : "{\"ServerInfo\":{\"DataCenter\":\"Southeast Asia\",\"Slice\":\"SliceC\",\"Ring\":\"5\",\"ScaleUnit\":\"000\",\"RoleInstance\":\"AGSFE_IN_13\"}}",
      "OData-Version" : "4.0",
      "x-ms-resource-un[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://graph.microsoft.com/v1.0//servicePrincipals",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-ags-diagnostic" : "{\"ServerInfo\":{\"DataCenter\":\"Southeast Asia\",\"Slice\":\"SliceC\",\"Ring\":\"5\",\"ScaleUnit\":\"000\",\"RoleInstance\":\"AGSFE_IN_12\"}}",
      "OData-Version" : "4.0",
      "x-ms-resource-unit" : "1",
      "Body" : "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals/$entity\",\"id\":\"d9d82900-e285-4b97-ab2b-ac3a7de787b9\",\"deletedDateTime\":null,\"accountEnabled\":true,\"alternativeNames\":[],\"appDisplayName\":\"ssp316123a82ed\",\"appDescription\":null,\"appId\":\"aee8aa61-4db8-43d9-b08c-b984122e57db\",\"applicationTemplateId\":null,\"appOwnerOrganizationId\":\"00000000-0000-0000-0000-000000000000\",\"appRoleAssignmentRequired\":false,\"createdDateTime\":\"2021-01-04T05:08:42Z\",\"description\":null,\"displayName\":\"ssp316123a82ed\",\"homepage\":null,\"loginUrl\":null,\"logoutUrl\":null,\"notes\":null,\"notificationEmailAddresses\":[],\"preferredSingleSignOnMode\":null,\"preferredTokenSigningKeyThumbprint\":null,\"replyUrls\":[],\"resourceSpecificApplicationPermissions\":[],\"samlSingleSignOnSettings\":null,\"servicePrincipalNames\":[\"aee8aa61-4db8-43d9-b08c-b984122e57db\"],\"servicePrincipalType\":\"Application\",\"signInAudience\":\"AzureADandPersonalMicrosoftAccount\",\"tags\":[],\"tokenEncryptionKeyId\":null,\"verifiedPublisher\":{\"displayName\":null,\"verifiedPublisherId\":null,\"addedDateTime\":null},\"addIns\":[],\"appRoles\":[],\"info\":{\"logoUrl\":null,\"marketingUrl\":null,\"privacyStatementUrl\":null,\"supportUrl\":null,\"termsOfServiceUrl\":null},\"keyCredentials\":[],\"oauth2PermissionScopes\":[],\"passwordCredentials\":[]}",
      "Content-Type" : "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
      "Location" : "https://graph.microsoft.com/v2/00000000-0000-0000-0000-000000000000/directoryObjects/d9d82900-e285-4b97-ab2b-ac3a7de787b9/Microsoft.DirectoryServices.ServicePrincipal"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://graph.microsoft.com/v1.0//servicePrincipals/d9d82900-e285-4b97-ab2b-ac3a7de787b9/microsoft.graph.addPassword",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-ags-diagnostic" : "{\"ServerInfo\":{\"DataCenter\":\"Southeast Asia\",\"Slice\":\"SliceC\",\"Ring\":\"5\",\"ScaleUnit\":\"000\",\"RoleInstance\":\"AGSFE_IN_2\"}}",
      "OData-Version" : "4.0",
      "x-ms-resource-unit" : "1",
      "Body" : "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#microsoft.graph.passwordCredential\",\"customKeyIdentifier\":null,\"displayName\":\"sppass\",\"endDateTime\":\"2022-01-04T05:08:33.7941988Z\",\"hint\":null,\"keyId\":\"46441d9c-189a-4077-820f-2ed287dcb4e2\",\"secretText\":\"***REMOVED***\",\"startDateTime\":\"2021-01-04T05:08:33.7941988Z\"}",
      "Content-Type" : "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
      "Location" : "https://graph.microsoft.com"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://graph.microsoft.com/v1.0//servicePrincipals/d9d82900-e285-4b97-ab2b-ac3a7de787b9",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-ags-diagnostic" : "{\"ServerInfo\":{\"DataCenter\":\"Southeast Asia\",\"Slice\":\"SliceC\",\"Ring\":\"5\",\"ScaleUnit\":\"000\",\"RoleInstance\":\"AGSFE_IN_13\"}}",
      "OData-Version" : "4.0",
      "x-ms-resour[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://graph.microsoft.com/v1.0//servicePrincipals?$filter=servicePrincipalNames/any%28c%3Ac%20eq%20%27ssp316123a82ed%27%29",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-ags-diagnostic" : "{\"ServerInfo\":{\"DataCenter\":\"Southeast Asia\",\"Slice\":\"SliceC\",\"Ring\":\"5\",\"ScaleUnit\":\"000\",\"RoleInstance\":\"AGSFE_IN_12\"}}",
      "OData-Version" : "4.0",
      "x-ms-resource-unit" : "1",
      "Body" : "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals\",\"value\":[]}",
      "Content-Type" : "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://graph.microsoft.com/v1.0//servicePrincipals?$filter=displayName%20eq%20%27ssp316123a82ed%27",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-ags-diagnostic" : "{\"ServerInfo\":{\"DataCenter\":\"Southeast Asia\",\"Slice\":\"SliceC\",\"Ring\":\"5\",\"ScaleUnit\":\"000\",\"RoleInstance\":\"AGSFE_IN_2\"}}",
      "OData-Version" : "4.0",
      "x[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://graph.microsoft.com/v1.0//applications?$filter=displayName%20eq%20%27aee8aa61-4db8-43d9-b08c-b984122e57db%27",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-ags-diagnostic" : "{\"ServerInfo\":{\"DataCenter\":\"Southeast Asia\",\"Slice\":\"SliceC\",\"Ring\":\"5\",\"ScaleUnit\":\"000\",\"RoleInstance\":\"AGSFE_IN_12\"}}",
      "OData-Version" : "4.0",
      "x-ms-resource-unit" : "2",
      "Body" : "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#applications\",\"value\":[]}",
      "Content-Type" : "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://graph.microsoft.com/v1.0//applications?$filter=appId%20eq%20%27aee8aa61-4db8-43d9-b08c-b984122e57db%27",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-ags-diagnostic" : "{\"ServerInfo\":{\"DataCenter\":\"Southeast Asia\",\"Slice\":\"SliceC\",\"Ring\":\"5\",\"ScaleUnit\":\"000\",\"RoleInstance\":\"AGSFE_IN_2\"}}",
      "OData-Version" : "4.0[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://graph.microsoft.com/v1.0//applications/f8475f78-720d-4a17-ac71-e8efa5f3fd4c",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "x-ms-ags-diagnostic" : "{\"ServerInfo\":{\"DataCenter\":\"Southeast Asia\",\"Slice\":\"SliceC\",\"Ring\":\"5\",\"ScaleUnit\":\"000\",\"RoleInstance\":\"AGSFE_IN_13\"}}",
      "x-ms-resource-unit" : "1",
      "retry-after" : "0",
      "StatusCode" : "204",
      "Body" : "",
      "Content-Type" : "text/plain"
    },
    "Exception" : null
  } ],
  "variables" : [ "ssp316123a82ed" ]
}