{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobschedules?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Fri, 22 Feb 2019 22:50:02 GMT",
      "etag" : "0x8D699181499598E",
      "location" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "HEAD",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 22 Feb 2019 22:50:02 GMT",
      "etag" : "0x8D699181499598E",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 22 Feb 2019 22:50:02 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D699181499598E",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://servbatch.centralus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"BatchUser-JobSchedule-canCRUD\",\"url\":\"https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD\",\"eTag\":\"0x8D699181499598E\",\"lastModified\":\"2019-02-22T22:50:02.3362958Z\",\"creationTime\":\"2019-02-22T22:50:02.3362958Z\",\"state\":\"active\",\"stateTransitionTime\":\"2019-02-22T22:50:02.3362958Z\",\"schedule\":{\r\n    \"doNotRunUntil\":\"2019-02-22T22:50:01.969Z\",\"doNotRunAfter\":\"2019-02-23T03:50:01.969Z\",\"startWindow\":\"P5D\"\r\n  },\"jobSpecification\":{\r\n    \"priority\":100,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n    },\"poolInfo\":{\r\n      \"poolId\":\"batchuser-testpool\"\r\n    }\r\n  },\"executionInfo\":{\r\n    \"recentJob\":{\r\n      \"url\":\"https://servbatch.centralus.batch.azure.com/jobs/BatchUser-JobSchedule-canCRUD:job-1\",\"id\":\"BatchUser-JobSchedule-canCRUD:job-1\"\r\n    }\r\n  }\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobschedules?api-version=2018-12-01.8.0&%24filter=id%20eq%20%27BatchUser-JobSchedule-canCRUD%27",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://servbatch.centralus.batch.azure.com/$metadata#jobschedules\",\"value\":[\r\n    {\r\n      \"id\":\"BatchUser-JobSchedule-canCRUD\",\"url\":\"https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD\",\"eTag\":\"0x8D699181499598E\",\"lastModified\":\"2019-02-22T22:50:02.3362958Z\",\"creationTime\":\"2019-02-22T22:50:02.3362958Z\",\"state\":\"active\",\"stateTransitionTime\":\"2019-02-22T22:50:02.3362958Z\",\"schedule\":{\r\n        \"doNotRunUntil\":\"2019-02-22T22:50:01.969Z\",\"doNotRunAfter\":\"2019-02-23T03:50:01.969Z\",\"startWindow\":\"P5D\"\r\n      },\"jobSpecification\":{\r\n        \"priority\":100,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n          \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n        },\"poolInfo\":{\r\n          \"poolId\":\"batchuser-testpool\"\r\n        }\r\n      },\"executionInfo\":{\r\n        \"recentJob\":{\r\n          \"url\":\"https://servbatch.centralus.batch.azure.com/jobs/BatchUser-JobSchedule-canCRUD:job-1\",\"id\":\"BatchUser-JobSchedule-canCRUD:job-1\"\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 22 Feb 2019 22:50:02 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D6991814E591D5",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://servbatch.centralus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"BatchUser-JobSchedule-canCRUD\",\"url\":\"https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD\",\"eTag\":\"0x8D6991814E591D5\",\"lastModified\":\"2019-02-22T22:50:02.8358101Z\",\"creationTime\":\"2019-02-22T22:50:02.3362958Z\",\"state\":\"deleting\",\"stateTransitionTime\":\"2019-02-22T22:50:02.9993929Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2019-02-22T22:50:02.3362958Z\",\"schedule\":{\r\n    \"doNotRunUntil\":\"2019-02-22T22:50:01.969Z\",\"doNotRunAfter\":\"2019-02-23T03:50:01.969Z\",\"startWindow\":\"P5D\"\r\n  },\"jobSpecification\":{\r\n    \"priority\":100,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n    },\"poolInfo\":{\r\n      \"poolId\":\"batchuser-testpool\"\r\n    }\r\n  },\"executionInfo\":{\r\n    \"recentJob\":{\r\n      \"url\":\"https://servbatch.centralus.batch.azure.com/jobs/BatchUser-JobSchedule-canCRUD:job-1\",\"id\":\"BatchUser-JobSchedule-canCRUD:job-1\"\r\n    }\r\n  },\"metadata\":[\r\n    {\r\n      \"name\":\"key1\",\"value\":\"value1\"\r\n    }\r\n  ]\r\n}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-canCRUD?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "409",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://servbatch.centralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"JobScheduleBeingDeleted\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\":\"The specified job schedule has been marked for deletion and is being reclaimed.\\nRequestId:57e0857f-e82b-4517-b8b6-8b141906a59e\\nTime:2019-02-22T22:50:04.1506213Z\"\r\n  }\r\n}"
    }
  } ],
  "variables" : [ ]
}