{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobschedules?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Fri, 22 Feb 2019 22:49:58 GMT",
      "etag" : "0x8D699181254918A",
      "location" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 22 Feb 2019 22:49:58 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D699181254918A",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://servbatch.centralus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"BatchUser-JobSchedule-updateJobScheduleState\",\"url\":\"https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState\",\"eTag\":\"0x8D699181254918A\",\"lastModified\":\"2019-02-22T22:49:58.5300874Z\",\"creationTime\":\"2019-02-22T22:49:58.5300874Z\",\"state\":\"active\",\"stateTransitionTime\":\"2019-02-22T22:49:58.5300874Z\",\"schedule\":{\r\n    \"doNotRunUntil\":\"2019-02-22T22:49:58.094Z\",\"doNotRunAfter\":\"2019-02-23T03:49:58.094Z\",\"startWindow\":\"P5D\"\r\n  },\"jobSpecification\":{\r\n    \"priority\":100,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n    },\"poolInfo\":{\r\n      \"poolId\":\"batchuser-testpool\"\r\n    }\r\n  },\"executionInfo\":{\r\n    \"recentJob\":{\r\n      \"url\":\"https://servbatch.centralus.batch.azure.com/jobs/BatchUser-JobSchedule-updateJobScheduleState:job-1\",\"id\":\"BatchUser-JobSchedule-updateJobScheduleState:job-1\"\r\n    }\r\n  }\r\n}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/disable?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/disable",
      "retry-after" : "0",
      "StatusCode" : "204",
      "last-modified" : "Fri, 22 Feb 2019 22:49:58 GMT",
      "etag" : "0x8D699181298EDC5",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 22 Feb 2019 22:49:58 GMT",
      "content-type" : "application/json;odata=minimalmetadata",
      "etag" : "0x8D699181298EDC5",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://servbatch.centralus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"BatchUser-JobSchedule-updateJobScheduleState\",\"url\":\"https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState\",\"eTag\":\"0x8D699181298EDC5\",\"lastModified\":\"2019-02-22T22:49:58.9780933Z\",\"creationTime\":\"2019-02-22T22:49:58.5300874Z\",\"state\":\"disabled\",\"stateTransitionTime\":\"2019-02-22T22:49:58.9780933Z\",\"previousState\":\"active\",\"previousStateTransitionTime\":\"2019-02-22T22:49:58.5300874Z\",\"schedule\":{\r\n    \"doNotRunUntil\":\"2019-02-22T22:49:58.094Z\",\"doNotRunAfter\":\"2019-02-23T03:49:58.094Z\",\"startWindow\":\"P5D\"\r\n  },\"jobSpecification\":{\r\n    \"priority\":100,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":0\r\n    },\"poolInfo\":{\r\n      \"poolId\":\"batchuser-testpool\"\r\n    }\r\n  },\"executionInfo\":{\r\n    \"recentJob\":{\r\n      \"url\":\"https://servbatch.centralus.batch.azure.com/jobs/BatchUser-JobSchedule-updateJobScheduleState:job-1\",\"id\":\"BatchUser-JobSchedule-updateJobScheduleState:job-1\"\r\n    }\r\n  }\r\n}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/enable?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/enable",
      "retry-after" : "0",
      "StatusCode" : "204",
      "last-modified" : "Fri, 22 Feb 2019 22:49:59 GMT",
      "etag" : "0x8D6991812B5186D",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/terminate?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState/terminate",
      "retry-after" : "0",
      "StatusCode" : "202",
      "last-modified" : "Fri, 22 Feb 2019 22:49:59 GMT",
      "etag" : "0x8D6991812CCC995",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "404",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://servbatch.centralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"JobScheduleNotFound\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\":\"The specified job schedule does not exist.\\nRequestId:155de130-3221-4bc2-ab13-e8a3571b3e4d\\nTime:2019-02-22T22:50:01.6977502Z\"\r\n  }\r\n}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobschedules/BatchUser-JobSchedule-updateJobScheduleState?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "404",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://servbatch.centralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"JobScheduleNotFound\",\"message\":{\r\n    \"lang\":\"en-US\",\"value\":\"The specified job schedule does not exist.\\nRequestId:46416eeb-9561-4a7a-aa52-8309e231541c\\nTime:2019-02-22T22:50:01.9009310Z\"\r\n  }\r\n}"
    }
  } ],
  "variables" : [ ]
}