{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobs?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://servbatch.centralus.batch.azure.com/jobs/job-1",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Fri, 22 Feb 2019 22:43:34 GMT",
      "etag" : "0x8D699172DAEB1FA",
      "location" : "https://servbatch.centralus.batch.azure.com/jobs/job-1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobs/BatchUser-failCreateContainerRegPool/tasks?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://servbatch.centralus.batch.azure.com/jobs/BatchUser-failCreateContainerRegPool/tasks/mytask",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Fri, 22 Feb 2019 22:43:35 GMT",
      "etag" : "0x8D699172DBC03F9",
      "location" : "https://servbatch.centralus.batch.azure.com/jobs/BatchUser-failCreateContainerRegPool/tasks/mytask",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobs/BatchUser-failCreateContainerRegPool?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "202",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  } ],
  "variables" : [ ]
}