{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobs?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "dataserviceid" : "https://servbatch.centralus.batch.azure.com/jobs/job-1",
      "retry-after" : "0",
      "StatusCode" : "201",
      "last-modified" : "Fri, 22 Feb 2019 22:43:05 GMT",
      "etag" : "0x8D699171C5847E4",
      "location" : "https://servbatch.centralus.batch.azure.com/jobs/job-1",
      "dataserviceversion" : "3.0",
      "Body" : ""
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobs/BatchUser-testAddMultiTasks/addtaskcollection?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; odata=minimalmetadata; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://servbatch.centralus.batch.azure.com/$metadata#taskaddresult\",\"value\":[\r\n    {\r\n      \"status\":\"Success\",\"taskId\":\"mytask202\",\"eTag\":\"0x8D699171CB50363\",\"lastModified\":\"2019-02-22T22:43:06.4426339Z\",\"location\":\"https://servbatch.centralus.batch.azure.com/jobs/BatchUser-testAddMultiTasks/tasks/mytask202\"\r\n    },{\r\n      \"status\":\"Success\",\"taskId\":\"mytask200\",\"eTag\":\"0x8D699171CB50363\",\"lastModified\":\"2019-02-22T22:43:06.4426339Z\",\"location\":\"https://servbatch.centralus.batch.azure.com/jobs/BatchUser-testAddMultiTasks/tasks/mytask200\"\r\n    },{\r\n      \"status\":\"Success\",\"taskId\":\"mytask205\",\"eTag\":\"0x8D699171CB68A26\"[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://servbatch.centralus.batch.azure.com/jobs/BatchUser-testAddMultiTasks/tasks?api-version=2018-12-01.8.0",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "content-type" : "application/json;odata=minimalmetadata",
      "retry-after" : "0",
      "StatusCode" : "200",
      "dataserviceversion" : "3.0",
      "Body" : "{\r\n  \"odata.metadata\":\"https://servbatch.centralus.batch.azure.com/$metadata#tasks\",\"value\":[\r\n    {\r\n      \"id\":\"mytask0\",\"url\":\"https://servbatch.centralus.batch.azure.com/jobs/BatchUser-testAddMultiTasks/tasks/mytask0\",\"eTag\":\"0x8D699171CB1C92B\",\"creationTime\":\"2019-02-22T22:43:06.4214827Z\",\"lastModified\":\"2019-02-22T22:43:06.4214827Z\",\"state\":\"active\",\"stateTransitionTime\":\"2019-02-22T22:43:06.4214827Z\",\"commandLine\":\"cmd /c echo hello 0\",\"userIdentity\":{\r\n        \"autoUser\":{\r\n          \"elevationLevel\":\"nonadmin\"\r\n        }\r\n      },\"constraints\":{\r\n        \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":0\r\n      },\"executionInfo\":{\r\n        \"retryCount\":0,\"requeueCount\":0\r\n      }\r\n    },{\r\n      \"id\":\"mytask1\",\"url\":\"https://servbatch.centralus.batch.azure.com/jobs/BatchUser-testAddMultiTasks/tasks/mytask1\",\"eTag\":\"0x8D699171CCF4DFE\",\"creationTime\":\"2019-02-22T22:43:06.6149374Z\",\"lastModified\":\"2019-02-22T22:43:06.6149374Z\",\"state\":\"active\",\"stateTransitionTime\":\"2019-02-22T22:43:06.6149374Z\",\"commandLine\":\"cmd /c echo hello 1\",\"userIdentity\":{\r\n        \"autoUser\":{\r\n          \"elevationLevel\":\"nonadmin\"\r\n   [...]
