// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.authorizationauthorization.implementation;

import com.azure.core.annotation.BodyParam;
import com.azure.core.annotation.Delete;
import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Post;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.authorizationauthorization.fluent.AttributeNamespacesClient;
import com.azure.resourcemanager.authorizationauthorization.fluent.models.AttributeNamespaceInner;
import com.azure.resourcemanager.authorizationauthorization.models.AttributeNamespaceCreateRequest;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in AttributeNamespacesClient.
 */
public final class AttributeNamespacesClientImpl implements AttributeNamespacesClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final AttributeNamespacesService service;

    /**
     * The service client containing this operation class.
     */
    private final AuthorizationManagementClientImpl client;

    /**
     * Initializes an instance of AttributeNamespacesClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    AttributeNamespacesClientImpl(AuthorizationManagementClientImpl client) {
        this.service = RestProxy.create(AttributeNamespacesService.class, client.getHttpPipeline(),
            client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for AuthorizationManagementClientAttributeNamespaces to be used by the
     * proxy service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "AuthorizationManagementClientAttributeNamespaces")
    public interface AttributeNamespacesService {
        @Headers({ "Content-Type: application/json" })
        @Post("/providers/Microsoft.Authorization/attributeNamespaces/{attributeNamespace}/action")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<AttributeNamespaceInner>> create(@HostParam("$host") String endpoint,
            @PathParam("attributeNamespace") String attributeNamespace, @QueryParam("api-version") String apiVersion,
            @BodyParam("application/json") AttributeNamespaceCreateRequest parameters,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Get("/providers/Microsoft.Authorization/attributeNamespaces/{attributeNamespace}")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<AttributeNamespaceInner>> get(@HostParam("$host") String endpoint,
            @PathParam("attributeNamespace") String attributeNamespace, @QueryParam("api-version") String apiVersion,
            @HeaderParam("Accept") String accept, Context context);

        @Headers({ "Content-Type: application/json" })
        @Delete("/providers/Microsoft.Authorization/attributeNamespaces/{attributeNamespace}")
        @ExpectedResponses({ 200, 204 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<Void>> delete(@HostParam("$host") String endpoint,
            @PathParam("attributeNamespace") String attributeNamespace, @QueryParam("api-version") String apiVersion,
            @HeaderParam("Accept") String accept, Context context);
    }

    /**
     * Creates a new attribute namespace.
     * 
     * @param attributeNamespace The name of the attribute namespace to create.
     * @param parameters Parameters for creating the attribute namespace.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an attribute namespace resource along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<AttributeNamespaceInner>> createWithResponseAsync(String attributeNamespace,
        AttributeNamespaceCreateRequest parameters) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (attributeNamespace == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter attributeNamespace is required and cannot be null."));
        }
        if (parameters == null) {
            return Mono.error(new IllegalArgumentException("Parameter parameters is required and cannot be null."));
        } else {
            parameters.validate();
        }
        final String apiVersion = "2025-12-01-preview";
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.create(this.client.getEndpoint(), attributeNamespace, apiVersion,
                parameters, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Creates a new attribute namespace.
     * 
     * @param attributeNamespace The name of the attribute namespace to create.
     * @param parameters Parameters for creating the attribute namespace.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an attribute namespace resource along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<AttributeNamespaceInner>> createWithResponseAsync(String attributeNamespace,
        AttributeNamespaceCreateRequest parameters, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (attributeNamespace == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter attributeNamespace is required and cannot be null."));
        }
        if (parameters == null) {
            return Mono.error(new IllegalArgumentException("Parameter parameters is required and cannot be null."));
        } else {
            parameters.validate();
        }
        final String apiVersion = "2025-12-01-preview";
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.create(this.client.getEndpoint(), attributeNamespace, apiVersion, parameters, accept, context);
    }

    /**
     * Creates a new attribute namespace.
     * 
     * @param attributeNamespace The name of the attribute namespace to create.
     * @param parameters Parameters for creating the attribute namespace.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an attribute namespace resource on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<AttributeNamespaceInner> createAsync(String attributeNamespace,
        AttributeNamespaceCreateRequest parameters) {
        return createWithResponseAsync(attributeNamespace, parameters).flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Creates a new attribute namespace.
     * 
     * @param attributeNamespace The name of the attribute namespace to create.
     * @param parameters Parameters for creating the attribute namespace.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an attribute namespace resource along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<AttributeNamespaceInner> createWithResponse(String attributeNamespace,
        AttributeNamespaceCreateRequest parameters, Context context) {
        return createWithResponseAsync(attributeNamespace, parameters, context).block();
    }

    /**
     * Creates a new attribute namespace.
     * 
     * @param attributeNamespace The name of the attribute namespace to create.
     * @param parameters Parameters for creating the attribute namespace.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return an attribute namespace resource.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public AttributeNamespaceInner create(String attributeNamespace, AttributeNamespaceCreateRequest parameters) {
        return createWithResponse(attributeNamespace, parameters, Context.NONE).getValue();
    }

    /**
     * Gets the specified attribute namespace.
     * 
     * @param attributeNamespace The name of the attribute namespace to get.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the specified attribute namespace along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<AttributeNamespaceInner>> getWithResponseAsync(String attributeNamespace) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (attributeNamespace == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter attributeNamespace is required and cannot be null."));
        }
        final String apiVersion = "2025-12-01-preview";
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context -> service.get(this.client.getEndpoint(), attributeNamespace, apiVersion, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Gets the specified attribute namespace.
     * 
     * @param attributeNamespace The name of the attribute namespace to get.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the specified attribute namespace along with {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<AttributeNamespaceInner>> getWithResponseAsync(String attributeNamespace, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (attributeNamespace == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter attributeNamespace is required and cannot be null."));
        }
        final String apiVersion = "2025-12-01-preview";
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.get(this.client.getEndpoint(), attributeNamespace, apiVersion, accept, context);
    }

    /**
     * Gets the specified attribute namespace.
     * 
     * @param attributeNamespace The name of the attribute namespace to get.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the specified attribute namespace on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<AttributeNamespaceInner> getAsync(String attributeNamespace) {
        return getWithResponseAsync(attributeNamespace).flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Gets the specified attribute namespace.
     * 
     * @param attributeNamespace The name of the attribute namespace to get.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the specified attribute namespace along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<AttributeNamespaceInner> getWithResponse(String attributeNamespace, Context context) {
        return getWithResponseAsync(attributeNamespace, context).block();
    }

    /**
     * Gets the specified attribute namespace.
     * 
     * @param attributeNamespace The name of the attribute namespace to get.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the specified attribute namespace.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public AttributeNamespaceInner get(String attributeNamespace) {
        return getWithResponse(attributeNamespace, Context.NONE).getValue();
    }

    /**
     * Deletes the specified attribute namespace.
     * 
     * @param attributeNamespace The name of the attribute namespace to delete.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Void>> deleteWithResponseAsync(String attributeNamespace) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (attributeNamespace == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter attributeNamespace is required and cannot be null."));
        }
        final String apiVersion = "2025-12-01-preview";
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context -> service.delete(this.client.getEndpoint(), attributeNamespace, apiVersion, accept, context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Deletes the specified attribute namespace.
     * 
     * @param attributeNamespace The name of the attribute namespace to delete.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link Response} on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<Void>> deleteWithResponseAsync(String attributeNamespace, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (attributeNamespace == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter attributeNamespace is required and cannot be null."));
        }
        final String apiVersion = "2025-12-01-preview";
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.delete(this.client.getEndpoint(), attributeNamespace, apiVersion, accept, context);
    }

    /**
     * Deletes the specified attribute namespace.
     * 
     * @param attributeNamespace The name of the attribute namespace to delete.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return A {@link Mono} that completes when a successful response is received.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Void> deleteAsync(String attributeNamespace) {
        return deleteWithResponseAsync(attributeNamespace).flatMap(ignored -> Mono.empty());
    }

    /**
     * Deletes the specified attribute namespace.
     * 
     * @param attributeNamespace The name of the attribute namespace to delete.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<Void> deleteWithResponse(String attributeNamespace, Context context) {
        return deleteWithResponseAsync(attributeNamespace, context).block();
    }

    /**
     * Deletes the specified attribute namespace.
     * 
     * @param attributeNamespace The name of the attribute namespace to delete.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public void delete(String attributeNamespace) {
        deleteWithResponse(attributeNamespace, Context.NONE);
    }
}
