{
  "networkCallRecords" : [ {
    "Method" : "POST",
      "Uri": "https://azs-sdk4be879565cee.search.windows.net/indexes('hotels')/docs/search.index?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "a2ee2c25-ecfe-4876-8c2f-34543cfd167a",
      "StatusCode" : "200",
        "Date": "Mon, 30 Sep 2019 21:11:24 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
      "Exception": null
  }, {
    "Method" : "POST",
      "Uri": "https://azs-sdk4be879565cee.search.windows.net/indexes('hotels')/docs/search.post.autocomplete?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "29070b12-a50b-4187-a0de-74ed527d9791",
      "StatusCode" : "200",
        "Date": "Mon, 30 Sep 2019 21:11:27 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
      "Exception": null
  }, {
    "Method" : "POST",
      "Uri": "https://azs-sdk4be879565cee.search.windows.net/indexes('hotels')/docs/search.post.autocomplete?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "7740faf7-ff51-4926-aa7e-e01024693065",
      "StatusCode" : "200",
        "Date": "Mon, 30 Sep 2019 21:11:27 GMT",
      "elapsed-time" : "5",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
      "Exception": null
  } ],
  "variables" : [ ]
}
