{
  "networkCallRecords" : [ {
    "Method" : "POST",
      "Uri": "https://azs-sdkc2176543aa85.search.windows.net/indexes('hotels')/docs/search.index?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "6de7309a-a866-44c8-9ddf-041147487bcb",
      "StatusCode" : "200",
        "Date": "Mon, 30 Sep 2019 21:14:34 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
      "Exception": null
  }, {
    "Method" : "POST",
      "Uri": "https://azs-sdkc2176543aa85.search.windows.net/indexes('hotels')/docs/search.post.autocomplete?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "715ac22d-5bf8-406c-9573-923d3837892f",
      "StatusCode" : "200",
        "Date": "Mon, 30 Sep 2019 21:14:36 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
      "Exception": null
  }, {
    "Method" : "POST",
      "Uri": "https://azs-sdkc2176543aa85.search.windows.net/indexes('hotels')/docs/search.post.autocomplete?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "59119352-8820-46ce-818f-472920cf85db",
      "StatusCode" : "200",
        "Date": "Mon, 30 Sep 2019 21:14:36 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
      "Exception": null
  } ],
  "variables" : [ ]
}
