{
  "networkCallRecords" : [ {
    "Method" : "POST",
      "Uri": "https://azs-sdkfcd40499e78a.search.windows.net/indexes('hotels')/docs/search.index?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "0e70d8b7-6f81-4bd7-8534-b018888587ed",
      "StatusCode" : "200",
        "Date": "Mon, 30 Sep 2019 21:11:38 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
      "Exception": null
  }, {
    "Method" : "POST",
      "Uri": "https://azs-sdkfcd40499e78a.search.windows.net/indexes('hotels')/docs/search.post.autocomplete?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "d738a513-6520-4c4d-9cbf-3be1382500d9",
      "StatusCode" : "200",
        "Date": "Mon, 30 Sep 2019 21:11:41 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
      "Exception": null
  }, {
    "Method" : "POST",
      "Uri": "https://azs-sdkfcd40499e78a.search.windows.net/indexes('hotels')/docs/search.post.autocomplete?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "bfbdc3ff-340b-4106-b06e-a4c25a1a616f",
      "StatusCode" : "200",
        "Date": "Mon, 30 Sep 2019 21:11:41 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
      "Exception": null
  } ],
  "variables" : [ ]
}
