{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azs-sdkd0d178180d1d.search.windows.net/indexes('testindex')/docs/search.index?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "162",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdkd0d178180d1d.search.windows.net/indexes('testindex')/$metadata#Collection(Microsoft.Azure.Search.V2019_05_06.IndexResult)\",\"value\":[{\"key\":\"123\",\"status\":true,\"errorMessage\":null,\"statusCode\":201},{\"key\":\"456\",\"status\":true,\"errorMessage\":null,\"statusCode\":201},{\"key\":\"789\",\"status\":true,\"errorMessage\":null,\"statusCode\":201}]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://azs-sdkd0d178180d1d.search.windows.net/indexes('testindex')/docs/search.post.search?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "29",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdkd0d178180d1d.search.windows.net/indexes('testindex')/$metadata#docs(*)\",\"value\":[{\"@search.score\":1.0,\"Key\":\"123\",\"IntValue\":0,\"Bucket\":{\"BucketName\":\"A\",\"Count\":3}},{\"@search.score\":1.0,\"Key\":\"456\",\"IntValue\":7,\"Bucket\":{\"BucketName\":\"B\",\"Count\":5}}]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    }
  } ],
  "variables" : [ ]
}