{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azs-sdk32976168cd04.search.windows.net/indexes('hotels')/docs/search.index?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "101",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdk32976168cd04.search.windows.net/indexes('hotels')/$metadata#Collection(Microsoft.Azure.Search.V2019_05_06.IndexResult)\",\"value\":[{\"key\":\"123\",\"status\":true,\"errorMessage\":null,\"statusCode\":201}]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
      "Exception": null
  }, {
    "Method" : "GET",
    "Uri" : "https://azs-sdk32976168cd04.search.windows.net/indexes('hotels')/docs('123')?api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "33",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdk32976168cd04.search.windows.net/indexes('hotels')/$metadata#docs(*)/$entity\",\"HotelId\":\"123\",\"HotelName\":\"Lord of the Rings\",\"Description\":\"J.R.R\",\"Description_fr\":\"Tolkien\",\"Category\":null,\"Tags\":[],\"ParkingIncluded\":null,\"SmokingAllowed\":null,\"LastRenovationDate\":null,\"Rating\":null,\"Location\":null,\"Address\":null,\"Rooms\":[]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
      "Exception": null
  } ],
  "variables" : [ ]
}
