{
  "networkCallRecords" : [ {
    "Method" : "POST",
      "Uri": "https://azs-sdke731330004e2.search.windows.net/indexes('hotels')/docs/search.index?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "2e805f94-c01f-4bcb-a0b3-2bce91656ec9",
      "StatusCode" : "200",
        "Date": "Mon, 30 Sep 2019 21:30:35 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
      "Exception": null
  }, {
    "Method" : "POST",
      "Uri": "https://azs-sdke731330004e2.search.windows.net/indexes('hotels')/docs/search.post.suggest?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "5173d520-ed44-4fb6-aa25-a9f7668b3f17",
      "StatusCode" : "200",
        "Date": "Mon, 30 Sep 2019 21:30:38 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
      "Exception": null
  } ],
  "variables" : [ ]
}
