{
  "networkCallRecords" : [ {
    "Method" : "POST",
      "Uri": "https://azs-sdk9941699077e0.search.windows.net/indexes('hotels')/docs/search.index?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "ff0b92e4-1a9f-41c5-a2f6-6bede78ab38f",
      "StatusCode" : "200",
        "Date": "Thu, 05 Sep 2019 10:06:19 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    }
  }, {
    "Method" : "GET",
      "Uri": "https://azs-sdk9941699077e0.search.windows.net/indexes('hotels')/docs('123')?api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "retry-after" : "0",
        "request-id": "0f742d1b-1543-42bc-885a-564b3f75d48d",
      "StatusCode" : "200",
        "Date": "Thu, 05 Sep 2019 10:06:21 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    }
  } ],
  "variables" : [ ]
}
