{
  "networkCallRecords" : [ {
    "Method" : "POST",
      "Uri": "https://azs-sdkcc159114aaca.search.windows.net/indexes('hotels')/docs/search.index?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "98881716-5786-433d-824d-4d70ad720ff0",
      "StatusCode" : "200",
        "Date": "Thu, 05 Sep 2019 10:06:45 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    }
  }, {
    "Method" : "GET",
      "Uri": "https://azs-sdkcc159114aaca.search.windows.net/indexes('hotels')/docs('1')?api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "retry-after" : "0",
        "request-id": "68c52009-83da-4683-93d3-9629528c5a61",
      "StatusCode" : "200",
        "Date": "Thu, 05 Sep 2019 10:06:47 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    }
  } ],
  "variables" : [ ]
}
