{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azs-sdk17b38164be87.search.windows.net/indexes('books')/docs/search.index?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "144",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdk17b38164be87.search.windows.net/indexes('books')/$metadata#Collection(Microsoft.Azure.Search.V2019_05_06.IndexResult)\",\"value\":[{\"key\":\"123\",\"status\":true,\"errorMessage\":null,\"statusCode\":201}]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azs-sdk17b38164be87.search.windows.net/indexes('books')/docs/$count?api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "23",
      "OData-Version" : "4.0",
      "Body" : "﻿1",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "text/plain"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}