{
  "networkCallRecords" : [ {
    "Method" : "POST",
      "Uri": "https://azs-sdk8b30430384e7.search.windows.net/indexes('hotels')/docs/search.index?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "e70d553b-b4f0-4028-bff3-57d664342627",
      "StatusCode" : "207",
        "Date": "Mon, 30 Sep 2019 20:05:47 GMT",
      "elapsed-time" : "133",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
      "Uri": "https://azs-sdk8b30430384e7.search.windows.net/indexes('hotels')/docs('1')?api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "retry-after" : "0",
        "request-id": "053ea6e7-4b4b-4834-a5e9-0c5bab91da88",
      "StatusCode" : "200",
        "Date": "Mon, 30 Sep 2019 20:05:47 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
      "Uri": "https://azs-sdk8b30430384e7.search.windows.net/indexes('hotels')/docs('3')?api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "retry-after" : "0",
        "request-id": "07566803-073b-4613-8d37-499b7455b449",
      "StatusCode" : "200",
        "Date": "Mon, 30 Sep 2019 20:05:47 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}
