{
  "networkCallRecords" : [ {
    "Method" : "POST",
      "Uri": "https://azs-sdkfbe79906ca6c.search.windows.net/indexes('data-types-tests-index')/docs/search.index?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "234817dd-bf0a-49de-b236-7eb3bbf2e6d4",
      "StatusCode" : "200",
        "Date": "Thu, 05 Sep 2019 10:07:00 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    }
  }, {
    "Method" : "GET",
      "Uri": "https://azs-sdkfbe79906ca6c.search.windows.net/indexes('data-types-tests-index')/docs('1')?api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "retry-after" : "0",
        "request-id": "9a6f7b2f-d44a-47ed-8f75-52d39a7f02c0",
      "StatusCode" : "200",
        "Date": "Thu, 05 Sep 2019 10:07:02 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    }
  } ],
  "variables" : [ ]
}
