{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azs-sdk28e25699559a.search.windows.net/indexes('data-types-tests-index')/docs/search.index?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "84",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdk28e25699559a.search.windows.net/indexes('data-types-tests-index')/$metadata#Collection(Microsoft.Azure.Search.V2019_05_06.IndexResult)\",\"value\":[{\"key\":\"1\",\"status\":true,\"errorMessage\":null,\"statusCode\":201}]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azs-sdk28e25699559a.search.windows.net/indexes('data-types-tests-index')/docs('1')?api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "12",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdk28e25699559a.search.windows.net/indexes('data-types-tests-index')/$metadata#docs(*)/$entity\",\"Key\":\"1\",\"Bools\":[true,false],\"Dates\":[\"2019-04-14T14:24:00Z\",\"1999-12-31T23:59:59Z\"],\"Doubles\":[\"-INF\",0.0,2.78,\"NaN\",3.14,\"INF\"],\"Points\":[{\"type\":\"Point\",\"coordinates\":[-67.0,49.0],\"crs\":{\"type\":\"name\",\"properties\":{\"name\":\"EPSG:4326\"}}},{\"type\":\"Point\",\"coordinates\":[21.0,47.0],\"crs\":{\"type\":\"name\",\"properties\":{\"name\":\"EPSG:4326\"}}}],\"Ints\":[1,2,3,4,-13,5,0],\"Longs\":[-9999999999999999,832372345832523],\"Strings\":[\"hello\",\"2019-04-14T14:56:00-07:00\"]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    }
  } ],
  "variables" : [ ]
}