{
  "networkCallRecords" : [ {
    "Method" : "POST",
      "Uri": "https://azs-sdkdc274091522f.search.windows.net/indexes('hotels')/docs/search.index?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "5291e682-6f38-4fa2-b610-3e013034d465",
      "StatusCode" : "200",
        "Date": "Mon, 30 Sep 2019 19:54:35 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
      "Exception": null
  }, {
    "Method" : "POST",
      "Uri": "https://azs-sdkdc274091522f.search.windows.net/indexes('hotels')/docs/search.post.search?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "eacaf118-54bc-4860-850f-f2f18f4c28c5",
      "StatusCode" : "200",
        "Date": "Mon, 30 Sep 2019 19:54:38 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
      "Exception": null
  } ],
  "variables" : [ ]
}
