{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azs-sdke2d121750d59.search.windows.net/indexes('geopoints')/docs/search.index?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "569",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdke2d121750d59.search.windows.net/indexes('geopoints')/$metadata#Collection(Microsoft.Azure.Search.V2019_05_06.IndexResult)\",\"value\":[{\"key\":\"1\",\"status\":true,\"errorMessage\":null,\"statusCode\":201}]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    }
  } ],
  "variables" : [ ]
}