{
    "networkCallRecords" : [ {
        "Method" : "GET",
        "Uri" : "https://azs-sdk2fc750137474.search.windows.net/indexes('hotels')/docs/$count?api-version=2019-05-06",
        "Headers" : { },
        "Response" : {
            "retry-after" : "0",
            "StatusCode" : "200",
            "elapsed-time" : "88",
            "OData-Version" : "4.0",
            "Body" : "﻿0",
            "Preference-Applied" : "odata.include-annotations=\"*\"",
            "Content-Type" : "text/plain"
        }
    } ],
    "variables" : [ ]
}
