{
  "networkCallRecords" : [ {
    "Method" : "POST",
      "Uri": "https://azs-sdk02c34660e931.search.windows.net/indexes('hotels')/docs/search.index?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "7b9f0dbe-bca3-4748-8fcd-320f4964803b",
      "StatusCode" : "200",
        "Date": "Thu, 05 Sep 2019 10:06:33 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    }
  }, {
    "Method" : "GET",
      "Uri": "https://azs-sdk02c34660e931.search.windows.net/indexes('hotels')/docs('2')?$select=Description%2cHotelName%2cAddress/City%2cRooms/BaseRate&api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "retry-after" : "0",
        "request-id": "58eade12-5239-4d5e-b392-123d5dbfe14b",
      "StatusCode" : "200",
        "Date": "Thu, 05 Sep 2019 10:06:36 GMT",
      "elapsed-time" : "9",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    }
  } ],
  "variables" : [ ]
}
