{
    "networkCallRecords": [
        {
            "Method": "POST",
            "Uri": "https://azs-sdk1ac38266e123.search.windows.net/indexes('hotels')/docs/search.post.search?api-version=2019-05-06",
            "Headers": {
                "Content-Type": "application/json; charset=utf-8"
            },
            "Response": {
                "retry-after": "0",
                "StatusCode": "400",
                "elapsed-time": "116",
                "OData-Version": "4.0",
                "Body": "{\"error\":{\"code\":\"\",\"message\":\"Failed to parse query string at line 1, column 8. See https://aka.ms/azure-search-full-query for supported syntax.\"}}",
                "Preference-Applied": "odata.include-annotations=\"*\"",
                "Content-Language": "en",
                "Content-Type": "application/json; odata.metadata=minimal"
            }
        }
    ],
    "variables": []
}
