{
    "networkCallRecords": [
        {
            "Method": "POST",
            "Uri": "https://azs-sdk73d70059df08.search.windows.net/indexes('hotels')/docs/search.post.search?api-version=2019-05-06",
            "Headers": {
                "Content-Type": "application/json; charset=utf-8"
            },
            "Response": {
                "retry-after": "0",
                "StatusCode": "400",
                "elapsed-time": "61",
                "OData-Version": "4.0",
                "Body": "{\"error\":{\"code\":\"\",\"message\":\"Invalid expression: Syntax error at position 7 in 'This is not a valid filter.'.\\r\\nParameter name: $filter\"}}",
                "Preference-Applied": "odata.include-annotations=\"*\"",
                "Content-Language": "en",
                "Content-Type": "application/json; odata.metadata=minimal"
            }
        }
    ],
    "variables": []
}
