{
  "networkCallRecords" : [ {
    "Method" : "POST",
      "Uri": "https://azs-sdkd54000836cd7.search.windows.net/indexes('hotels')/docs/search.index?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "d1ae92d2-93c6-436b-b518-093067461e66",
      "StatusCode" : "200",
        "Date": "Mon, 30 Sep 2019 21:14:06 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
      "Uri": "https://azs-sdkd54000836cd7.search.windows.net/indexes('hotels')/docs/search.post.autocomplete?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "782e46cc-7a0e-4dfb-a8d6-29619977c593",
      "StatusCode" : "200",
        "Date": "Mon, 30 Sep 2019 21:14:09 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
      "Uri": "https://azs-sdkd54000836cd7.search.windows.net/indexes('hotels')/docs/search.post.autocomplete?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "6a232658-301a-4d6a-8c25-e73d535866ac",
      "StatusCode" : "200",
        "Date": "Mon, 30 Sep 2019 21:14:09 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}
