{
    "networkCallRecords": [
        {
            "Method": "POST",
            "Uri": "https://azs-sdk6b491371c155.search.windows.net/indexes('hotels')/docs/search.index?api-version=2019-05-06",
            "Headers": {
                "Content-Type": "application/json; charset=utf-8"
            },
            "Response": {
                "retry-after": "0",
                "StatusCode": "200",
                "elapsed-time": "370",
                "OData-Version": "4.0",
                "Body": "{\"@odata.context\":\"https://azs-sdk6b491371c155.search.windows.net/indexes('hotels')/$metadata#Collection(Microsoft.Azure.Search.V2019_05_06.IndexResult)\",\"value\":[{\"key\":\"1\",\"status\":true,\"errorMessage\":null,\"statusCode\":201},{\"key\":\"2\",\"status\":true,\"errorMessage\":null,\"statusCode\":201},{\"key\":\"3\",\"status\":true,\"errorMessage\":null,\"statusCode\":201},{\"key\":\"4\",\"status\":true,\"errorMessage\":null,\"statusCode\":201},{\"key\":\"5\",\"status\":true,\"errorMessage\":null,\"statusCode\":201},{\"key\":\"6\",\"status\":true,\"errorMessage\":null,\"statusCode\":201},{\"key\":\"7\",\"status\":true,\"errorMessage\":null,\"statusCode\":201},{\"key\":\"8\",\"status\":true,\"errorMessage\":null,\"statusCode\":201},{\"key\":\"9\",\"status\":true,\"errorMessage\":null,\"statusCode\":201},{\"key\":\"10\",\"status\":true,\"errorMessage\":null,\"statusCode\":201}]}",
                "Preference-Applied": "odata.include-annotations=\"*\"",
                "Content-Type": "application/json; odata.metadata=minimal"
            },
            "Exception": null
        },
        {
            "Method": "POST",
            "Uri": "https://azs-sdk6b491371c155.search.windows.net/indexes('hotels')/docs/search.post.autocomplete?api-version=2019-05-06",
            "Headers": {
                "Content-Type": "application/json; charset=utf-8"
            },
            "Response": {
                "retry-after": "0",
                "StatusCode": "200",
                "elapsed-time": "52",
                "OData-Version": "4.0",
                "Body": "{\"@odata.context\":\"https://azs-sdk6b491371c155.search.windows.net/indexes('hotels')/$metadata#Collection(Microsoft.Azure.Search.V2019_05_06.AutocompleteItem)\",\"value\":[{\"text\":\"modern\",\"queryPlusText\":\"modern\"},{\"text\":\"motel\",\"queryPlusText\":\"motel\"}]}",
                "Preference-Applied": "odata.include-annotations=\"*\"",
                "Content-Type": "application/json; odata.metadata=minimal"
            },
            "Exception": null
        },
        {
            "Method": "POST",
            "Uri": "https://azs-sdk6b491371c155.search.windows.net/indexes('hotels')/docs/search.post.autocomplete?api-version=2019-05-06",
            "Headers": {
                "Content-Type": "application/json; charset=utf-8"
            },
            "Response": {
                "retry-after": "0",
                "StatusCode": "200",
                "elapsed-time": "8",
                "OData-Version": "4.0",
                "Body": "{\"@odata.context\":\"https://azs-sdk6b491371c155.search.windows.net/indexes('hotels')/$metadata#Collection(Microsoft.Azure.Search.V2019_05_06.AutocompleteItem)\",\"value\":[{\"text\":\"modern\",\"queryPlusText\":\"modern\"},{\"text\":\"motel\",\"queryPlusText\":\"motel\"}]}",
                "Preference-Applied": "odata.include-annotations=\"*\"",
                "Content-Type": "application/json; odata.metadata=minimal"
            },
            "Exception": null
        }
    ],
    "variables": []
}
