{
  "networkCallRecords" : [ {
    "Method" : "POST",
      "Uri": "https://azs-sdk43d05156989c.search.windows.net/indexes('hotels')/docs/search.index?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "f3595d00-389f-4727-8d44-5d7be497624e",
      "StatusCode" : "200",
        "Date": "Mon, 30 Sep 2019 21:12:48 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
      "Uri": "https://azs-sdk43d05156989c.search.windows.net/indexes('hotels')/docs/search.post.autocomplete?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "2ceb2707-e5ff-4e03-b324-693da90a616b",
      "StatusCode" : "200",
        "Date": "Mon, 30 Sep 2019 21:12:51 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
      "Uri": "https://azs-sdk43d05156989c.search.windows.net/indexes('hotels')/docs/search.post.autocomplete?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
        "request-id": "38cc7711-4532-4c36-b724-ed58c7146696",
      "StatusCode" : "200",
        "Date": "Mon, 30 Sep 2019 21:12:51 GMT",
      "OData-Version" : "4.0",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}
