{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key2899449606b?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 13 Dec 2019 00:51:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"7pPckkymWJ7gGdiVNCKn5V5SGNq\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU3MjA=;sn=655720",
      "Body" : "{\"etag\":\"7pPckkymWJ7gGdiVNCKn5V5SGNq\",\"key\":\"key2899449606b\",\"label\":null,\"content_type\":\"text\",\"value\":\"myNewValue\",\"tags\":{\"AnotherTag\":\"AnotherTagValue\",\"MyTag\":\"TagValue\"},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:19+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key2899449606b?label=9469411c51607f&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 13 Dec 2019 00:51:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"YXgL3JGhzdDOI0wFayTzDVFVEiS\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU3MjE=;sn=655721",
      "Body" : "{\"etag\":\"YXgL3JGhzdDOI0wFayTzDVFVEiS\",\"key\":\"key2899449606b\",\"label\":\"9469411c51607f\",\"content_type\":\"text\",\"value\":\"myNewValue\",\"tags\":{\"AnotherTag\":\"AnotherTagValue\",\"MyTag\":\"TagValue\"},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:19+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key28994%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU3MjE=;sn=655721",
      "Body" : "{\"items\":[{\"etag\":\"7pPckkymWJ7gGdiVNCKn5V5SGNq\",\"key\":\"key2899449606b\",\"label\":null,\"content_type\":\"text\",\"value\":\"myNewValue\",\"tags\":{\"AnotherTag\":\"AnotherTagValue\",\"MyTag\":\"TagValue\"},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:19+00:00\"},{\"etag\":\"YXgL3JGhzdDOI0wFayTzDVFVEiS\",\"key\":\"key2899449606b\",\"label\":\"9469411c51607f\",\"content_type\":\"text\",\"value\":\"myNewValue\",\"tags\":{\"AnotherTag\":\"AnotherTagValue\",\"MyTag\":\"TagValue\"},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:19+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key2899449606b?label=9469411c51607f&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 13 Dec 2019 00:51:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"YXgL3JGhzdDOI0wFayTzDVFVEiS\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU3MjM=;sn=655723",
      "Body" : "{\"etag\":\"YXgL3JGhzdDOI0wFayTzDVFVEiS\",\"key\":\"key2899449606b\",\"label\":\"9469411c51607f\",\"content_type\":\"text\",\"value\":\"myNewValue\",\"tags\":{\"AnotherTag\":\"AnotherTagValue\",\"MyTag\":\"TagValue\"},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:19+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key28994", "9469411c", "key2899449606b", "9469411c51607f" ]
}