{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key11682215453",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 23:27:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"pLuuXIQs71kliias6HhL5Hn1L9K\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzE1NDE=;sn=471541",
      "Body" : "{\"etag\":\"pLuuXIQs71kliias6HhL5Hn1L9K\",\"key\":\"key11682215453\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:27:10+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key11682%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzE1NDI=;sn=471542",
      "Body" : "{\"items\":[{\"etag\":\"pLuuXIQs71kliias6HhL5Hn1L9K\",\"key\":\"key11682215453\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:27:10+00:00\"},{\"etag\":\"OpGhbL6avuNPJiGMJXiGP8HeJwd\",\"key\":\"key11682215453-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:27:11+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key11682215453-1",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 23:27:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"OpGhbL6avuNPJiGMJXiGP8HeJwd\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzE1NDQ=;sn=471544",
      "Body" : "{\"etag\":\"OpGhbL6avuNPJiGMJXiGP8HeJwd\",\"key\":\"key11682215453-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:27:11+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key11682", "6fcf0de0", "key11682215453" ]
}