{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key5106235508e?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 06:08:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"5CchY33S9AtKQFOCFhykWKQBnf5\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQ1Mzc=;sn=634537",
      "Body" : "{\"etag\":\"5CchY33S9AtKQFOCFhykWKQBnf5\",\"key\":\"key5106235508e\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:39+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key51062%2a&label=&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQ1Mzg=;sn=634538",
      "Body" : "{\"items\":[{\"etag\":\"5CchY33S9AtKQFOCFhykWKQBnf5\",\"key\":\"key5106235508e\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:39+00:00\"},{\"etag\":\"E9zV6yP9A3TATlyDyCriokDypJO\",\"key\":\"key5106235508e-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:39+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key5106235508e-1?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 06:08:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"E9zV6yP9A3TATlyDyCriokDypJO\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQ1NDA=;sn=634540",
      "Body" : "{\"etag\":\"E9zV6yP9A3TATlyDyCriokDypJO\",\"key\":\"key5106235508e-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:39+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key51062", "fbf6a121", "key5106235508e" ]
}