{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key85657904888?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 31 Jan 2020 17:07:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"BukDW9zkrann91EJGdZPoUHOeru\"",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY2MjU=;sn=806625",
      "Body" : "{\"etag\":\"BukDW9zkrann91EJGdZPoUHOeru\",\"key\":\"key85657904888\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:57+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key85657%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY2MjY=;sn=806626",
      "Body" : "{\"items\":[{\"etag\":\"BukDW9zkrann91EJGdZPoUHOeru\",\"key\":\"key85657904888\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:57+00:00\"},{\"etag\":\"It5qKhN3CM7GCATubadNUZoA7tR\",\"key\":\"key85657904888-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:57+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key85657904888-1?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 31 Jan 2020 17:07:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"It5qKhN3CM7GCATubadNUZoA7tR\"",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY2Mjg=;sn=806628",
      "Body" : "{\"etag\":\"It5qKhN3CM7GCATubadNUZoA7tR\",\"key\":\"key85657904888-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:57+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key85657", "e9bf2463", "9ec1441b", "key85657904888" ]
}