{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key62892900416?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 05:30:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"VCpEsviUMqUxoFXcfXvKZtjerec\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzMwNDU=;sn=633045",
      "Body" : "{\"etag\":\"VCpEsviUMqUxoFXcfXvKZtjerec\",\"key\":\"key62892900416\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T05:30:13+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key62892900416?label=72bcb7e169597e&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 05:30:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"T366JABmQVRk2WyWsYyQMSV9rhM\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzMwNDY=;sn=633046",
      "Body" : "{\"etag\":\"T366JABmQVRk2WyWsYyQMSV9rhM\",\"key\":\"key62892900416\",\"label\":\"72bcb7e169597e\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T05:30:13+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key62892%2a&label=&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzMwNDY=;sn=633046",
      "Body" : "{\"items\":[{\"etag\":\"VCpEsviUMqUxoFXcfXvKZtjerec\",\"key\":\"key62892900416\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T05:30:13+00:00\"},{\"etag\":\"T366JABmQVRk2WyWsYyQMSV9rhM\",\"key\":\"key62892900416\",\"label\":\"72bcb7e169597e\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T05:30:13+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key62892900416?label=72bcb7e169597e&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 05:30:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"T366JABmQVRk2WyWsYyQMSV9rhM\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzMwNDg=;sn=633048",
      "Body" : "{\"etag\":\"T366JABmQVRk2WyWsYyQMSV9rhM\",\"key\":\"key62892900416\",\"label\":\"72bcb7e169597e\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T05:30:13+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key62892", "72bcb7e1", "key62892900416", "72bcb7e169597e" ]
}