{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key4864548381c?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 31 Jan 2020 17:07:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"IWkDAdfnZcL1No7R9BaGKWnuz1z\"",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY2Mzk=;sn=806639",
      "Body" : "{\"etag\":\"IWkDAdfnZcL1No7R9BaGKWnuz1z\",\"key\":\"key4864548381c\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:58+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key4864548381c?label=7ca6b25c76535b&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 31 Jan 2020 17:07:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"x3OUF0tYRgnyFnrD7lwlyqnAVl7\"",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY2NDA=;sn=806640",
      "Body" : "{\"etag\":\"x3OUF0tYRgnyFnrD7lwlyqnAVl7\",\"key\":\"key4864548381c\",\"label\":\"7ca6b25c76535b\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:58+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key48645%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY2NDA=;sn=806640",
      "Body" : "{\"items\":[{\"etag\":\"IWkDAdfnZcL1No7R9BaGKWnuz1z\",\"key\":\"key4864548381c\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:58+00:00\"},{\"etag\":\"x3OUF0tYRgnyFnrD7lwlyqnAVl7\",\"key\":\"key4864548381c\",\"label\":\"7ca6b25c76535b\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:58+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key4864548381c?label=7ca6b25c76535b&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 31 Jan 2020 17:07:58 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"x3OUF0tYRgnyFnrD7lwlyqnAVl7\"",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY2NDI=;sn=806642",
      "Body" : "{\"etag\":\"x3OUF0tYRgnyFnrD7lwlyqnAVl7\",\"key\":\"key4864548381c\",\"label\":\"7ca6b25c76535b\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:58+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key48645", "7ca6b25c", "7af9664e", "key4864548381c", "7ca6b25c76535b" ]
}