{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key19671848814?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 31 Jan 2020 17:07:53 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"Om6KPVDsYVMT3Nki28UYSNZd52C\"",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY1OTg=;sn=806598",
      "Body" : "{\"etag\":\"Om6KPVDsYVMT3Nki28UYSNZd52C\",\"key\":\"key19671848814\",\"label\":null,\"content_type\":null,\"value\":\"newValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:53+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key19671%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY1OTg=;sn=806598",
      "Body" : "{\"items\":[{\"etag\":\"Om6KPVDsYVMT3Nki28UYSNZd52C\",\"key\":\"key19671848814\",\"label\":null,\"content_type\":null,\"value\":\"newValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:53+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key19671848814?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 31 Jan 2020 17:07:53 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"Om6KPVDsYVMT3Nki28UYSNZd52C\"",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY1OTk=;sn=806599",
      "Body" : "{\"etag\":\"Om6KPVDsYVMT3Nki28UYSNZd52C\",\"key\":\"key19671848814\",\"label\":null,\"content_type\":null,\"value\":\"newValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:53+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key19671", "2caf2859", "e96fe6b3", "key19671848814" ]
}