{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key88786130073",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Mon, 07 Oct 2019 05:15:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"439UYs9HaywUqe4HIAJFeW7IyRJ\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTUxMDg=;sn=395108",
      "Body" : "{\"etag\":\"439UYs9HaywUqe4HIAJFeW7IyRJ\",\"key\":\"key88786130073\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:30+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key88786%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTUxMDk=;sn=395109",
      "Body" : "{\"items\":[{\"etag\":\"439UYs9HaywUqe4HIAJFeW7IyRJ\",\"key\":\"key88786130073\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:30+00:00\"},{\"etag\":\"pZrElkvoFx8EomjRXmL8BotSVyq\",\"key\":\"key88786130073-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:31+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key88786130073-1",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Mon, 07 Oct 2019 05:15:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"pZrElkvoFx8EomjRXmL8BotSVyq\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTUxMTE=;sn=395111",
      "Body" : "{\"etag\":\"pZrElkvoFx8EomjRXmL8BotSVyq\",\"key\":\"key88786130073-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:31+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key88786", "0d004124", "key88786130073" ]
}