{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key30094079989",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 03 Oct 2019 07:23:38 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"Is6kiFMSC8YqDDfNQFD6e25H02s\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzMzMTM=;sn=373313",
      "Body" : "{\"etag\":\"Is6kiFMSC8YqDDfNQFD6e25H02s\",\"key\":\"key30094079989\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-03T07:23:38+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key30094%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzMzMTQ=;sn=373314",
      "Body" : "{\"items\":[{\"etag\":\"Is6kiFMSC8YqDDfNQFD6e25H02s\",\"key\":\"key30094079989\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-03T07:23:38+00:00\"},{\"etag\":\"QyBiJPorPuZIzdAkpalLW3GBN8w\",\"key\":\"key30094079989-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-03T07:23:38+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key30094079989-1",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 03 Oct 2019 07:23:38 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"QyBiJPorPuZIzdAkpalLW3GBN8w\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzMzMTY=;sn=373316",
      "Body" : "{\"etag\":\"QyBiJPorPuZIzdAkpalLW3GBN8w\",\"key\":\"key30094079989-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-03T07:23:38+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key30094", "f96dfced", "key30094079989" ]
}