{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key8048596285a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 08 Oct 2019 17:59:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"oJmXvM3TfovH47dKpRSeGZLNqPU\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0MDIwMDA=;sn=402000",
      "Body" : "{\"etag\":\"oJmXvM3TfovH47dKpRSeGZLNqPU\",\"key\":\"key8048596285a\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T17:59:57+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/locks/key8048596285a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 08 Oct 2019 17:59:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"MAFPDDmwbat57Adaa7h5IyiEVjV\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0MDIwMDE=;sn=402001",
      "Body" : "{\"etag\":\"MAFPDDmwbat57Adaa7h5IyiEVjV\",\"key\":\"key8048596285a\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":true,\"last_modified\":\"2019-10-08T17:59:57+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key8048596285a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "409",
      "Body" : "{\"type\":\"https://azconfig.io/errors/key-locked\",\"title\":\"Modifing key 'key8048596285a' is not allowed\",\"name\":\"key8048596285a\",\"detail\":\"The key is read-only. To allow modification unlock it first.\",\"status\":409}",
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key80485%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"items\":[]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key80485", "361d6c1b", "key8048596285a" ]
}