{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key82103676761?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 13 Dec 2019 00:50:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"NaDd9PuU7htXhnJMpWgYVFz0xS7\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTUzNzA=;sn=655370",
      "Body" : "{\"etag\":\"NaDd9PuU7htXhnJMpWgYVFz0xS7\",\"key\":\"key82103676761\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:50:45+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/locks/key82103676761?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 13 Dec 2019 00:50:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"0gR4fQaKVroaQ2b3xNz4XVhsQIJ\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTUzNzE=;sn=655371",
      "Body" : "{\"etag\":\"0gR4fQaKVroaQ2b3xNz4XVhsQIJ\",\"key\":\"key82103676761\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":true,\"last_modified\":\"2019-12-13T00:50:45+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key82103676761?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "409",
      "Body" : "{\"type\":\"https://azconfig.io/errors/key-locked\",\"title\":\"Modifing key 'key82103676761' is not allowed\",\"name\":\"key82103676761\",\"detail\":\"The key is read-only. To allow modification unlock it first.\",\"status\":409}",
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key82103%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"items\":[]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key82103", "78718378", "key82103676761" ]
}