{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key9863594251f",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 18 Oct 2019 23:38:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"amqoe5206tsXFIJ5KBaf9zQj4aV\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDU4NDE=;sn=445841",
      "Body" : "{\"etag\":\"amqoe5206tsXFIJ5KBaf9zQj4aV\",\"key\":\"key9863594251f\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-18T23:38:17+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/locks/key9863594251f",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 18 Oct 2019 23:38:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"ryqD3ISiLvv4seCO3eKDCedUjas\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDU4NDI=;sn=445842",
      "Body" : "{\"etag\":\"ryqD3ISiLvv4seCO3eKDCedUjas\",\"key\":\"key9863594251f\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":true,\"last_modified\":\"2019-10-18T23:38:17+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key9863594251f",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "409",
      "Body" : "{\"type\":\"https://azconfig.io/errors/key-locked\",\"title\":\"Modifing key 'key9863594251f' is not allowed\",\"name\":\"key9863594251f\",\"detail\":\"The key is read-only. To allow modification unlock it first.\",\"status\":409}",
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key98635%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"items\":[]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key98635", "c6ec4c1c", "key9863594251f" ]
}