{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key15533952969?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sun, 24 Nov 2019 16:05:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"it05MdcJ16CWHEM4g72uO9Yn4fa\"",
      "Sync-Token" : "zAJw6V16=MDotMSM1NjkyMTM=;sn=569213",
      "Body" : "{\"etag\":\"it05MdcJ16CWHEM4g72uO9Yn4fa\",\"key\":\"key15533952969\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-11-24T16:05:42+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/locks/key15533952969?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sun, 24 Nov 2019 16:05:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"kA7DGdB3zkUdu80X5LakUh2YVfS\"",
      "Sync-Token" : "zAJw6V16=MDotMSM1NjkyMTQ=;sn=569214",
      "Body" : "{\"etag\":\"kA7DGdB3zkUdu80X5LakUh2YVfS\",\"key\":\"key15533952969\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":true,\"last_modified\":\"2019-11-24T16:05:42+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key15533952969?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "409",
      "Body" : "{\"type\":\"https://azconfig.io/errors/key-locked\",\"title\":\"Modifing key 'key15533952969' is not allowed\",\"name\":\"key15533952969\",\"detail\":\"The key is read-only. To allow modification unlock it first.\",\"status\":409}",
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key15533%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"items\":[]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key15533", "881fb900", "key15533952969" ]
}