{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key14130593710",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Mon, 07 Oct 2019 05:15:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"tFf9LFpvOkWJdm7kdr9lipUGaKD\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTUxMTY=;sn=395116",
      "Body" : "{\"etag\":\"tFf9LFpvOkWJdm7kdr9lipUGaKD\",\"key\":\"key14130593710\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:31+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key14130593710?label=c51f7f48433275",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Mon, 07 Oct 2019 05:15:32 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"C7EvvUzR9RJIXfw8phGyHVrSOka\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTUxMTk=;sn=395119",
      "Body" : "{\"etag\":\"C7EvvUzR9RJIXfw8phGyHVrSOka\",\"key\":\"key14130593710\",\"label\":\"c51f7f48433275\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:32+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key14130%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"items\":[]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key14130", "c51f7f48", "key14130593710", "c51f7f48433275" ]
}