{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key62618789774",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Wed, 02 Oct 2019 20:46:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"M6xMa0QjZKFaKAIken0YhUE7law\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjQwMDU=;sn=364005",
      "Body" : "{\"etag\":\"M6xMa0QjZKFaKAIken0YhUE7law\",\"key\":\"key62618789774\",\"label\":null,\"content_type\":null,\"value\":\"myNeverDeletedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:51+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/myNonExistentKey",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key62618789774?label=myNonExistentLabel",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key62618%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjQwMDU=;sn=364005",
      "Body" : "{\"items\":[{\"etag\":\"M6xMa0QjZKFaKAIken0YhUE7law\",\"key\":\"key62618789774\",\"label\":null,\"content_type\":null,\"value\":\"myNeverDeletedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:51+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key62618789774",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Wed, 02 Oct 2019 20:46:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"M6xMa0QjZKFaKAIken0YhUE7law\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjQwMDY=;sn=364006",
      "Body" : "{\"etag\":\"M6xMa0QjZKFaKAIken0YhUE7law\",\"key\":\"key62618789774\",\"label\":null,\"content_type\":null,\"value\":\"myNeverDeletedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:51+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key62618", "cbe9e637", "key62618789774" ]
}