{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key33866527017?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 13 Dec 2019 00:51:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"Zbc3l6lkJUxNxJ5yOL3YixgJlnH\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU1OTU=;sn=655595",
      "Body" : "{\"etag\":\"Zbc3l6lkJUxNxJ5yOL3YixgJlnH\",\"key\":\"key33866527017\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:10+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key33866527017?label=670b415742606b&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 13 Dec 2019 00:51:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"0BuU9LtCw6qp0YBHBGKJS0f2uTT\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU1OTg=;sn=655598",
      "Body" : "{\"etag\":\"0BuU9LtCw6qp0YBHBGKJS0f2uTT\",\"key\":\"key33866527017\",\"label\":\"670b415742606b\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:10+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key33866%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"items\":[]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key33866", "670b4157", "key33866527017", "670b415742606b" ]
}