{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key7047950571a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 03 Oct 2019 07:23:38 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"rxLkeeUFPLNIsU7ZUzHajI84oGY\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzMzMTc=;sn=373317",
      "Body" : "{\"etag\":\"rxLkeeUFPLNIsU7ZUzHajI84oGY\",\"key\":\"key7047950571a\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-03T07:23:38+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key7047950571a?label=973ae7ab544750",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 03 Oct 2019 07:23:38 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"3TZazmRrXl3anl37C1eE0PIF2XU\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzMzMTk=;sn=373319",
      "Body" : "{\"etag\":\"3TZazmRrXl3anl37C1eE0PIF2XU\",\"key\":\"key7047950571a\",\"label\":\"973ae7ab544750\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-03T07:23:38+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key70479%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"items\":[]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key70479", "973ae7ab", "key7047950571a", "973ae7ab544750" ]
}