{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key1256377942f?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 31 Jan 2020 17:07:54 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"w4JIUNVzVqKSXpViGPFI40ZGVpL\"",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY2MDQ=;sn=806604",
      "Body" : "{\"etag\":\"w4JIUNVzVqKSXpViGPFI40ZGVpL\",\"key\":\"key1256377942f\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:54+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key1256377942f?label=76040fb288865e&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 31 Jan 2020 17:07:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"4W07NUAPZceNRlx0WqXwK8hRRi4\"",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY2MDc=;sn=806607",
      "Body" : "{\"etag\":\"4W07NUAPZceNRlx0WqXwK8hRRi4\",\"key\":\"key1256377942f\",\"label\":\"76040fb288865e\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:55+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key12563%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"items\":[]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key12563", "76040fb2", "0560a2a7", "key1256377942f", "76040fb288865e" ]
}