{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key2450666046c?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sun, 24 Nov 2019 16:05:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"AF3oJArwufCZennAREjykQnnSID\"",
      "Sync-Token" : "zAJw6V16=MDotMSM1NjkyODQ=;sn=569284",
      "Body" : "{\"etag\":\"AF3oJArwufCZennAREjykQnnSID\",\"key\":\"key2450666046c\",\"label\":null,\"content_type\":null,\"value\":\"myNeverDeletedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-11-24T16:05:51+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/myNonExistentKey?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key2450666046c?label=myNonExistentLabel&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key24506%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM1NjkyODQ=;sn=569284",
      "Body" : "{\"items\":[{\"etag\":\"AF3oJArwufCZennAREjykQnnSID\",\"key\":\"key2450666046c\",\"label\":null,\"content_type\":null,\"value\":\"myNeverDeletedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-11-24T16:05:51+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key2450666046c?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sun, 24 Nov 2019 16:05:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"AF3oJArwufCZennAREjykQnnSID\"",
      "Sync-Token" : "zAJw6V16=MDotMSM1NjkyODU=;sn=569285",
      "Body" : "{\"etag\":\"AF3oJArwufCZennAREjykQnnSID\",\"key\":\"key2450666046c\",\"label\":null,\"content_type\":null,\"value\":\"myNeverDeletedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-11-24T16:05:51+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key24506", "cec76465", "key2450666046c" ]
}