{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key95288082384",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Wed, 02 Oct 2019 20:46:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"i6CpHSTHW76loXuiD8fl8KxfbXR\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjQxNDk=;sn=364149",
      "Body" : "{\"etag\":\"i6CpHSTHW76loXuiD8fl8KxfbXR\",\"key\":\"key95288082384\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:56+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key95288082384?label=21c3aed1702801",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Wed, 02 Oct 2019 20:46:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"Let4W7Goy0aY5oyYVAkcZrxNP6d\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjQxNTI=;sn=364152",
      "Body" : "{\"etag\":\"Let4W7Goy0aY5oyYVAkcZrxNP6d\",\"key\":\"key95288082384\",\"label\":\"21c3aed1702801\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:57+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key95288%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"items\":[]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key95288", "21c3aed1", "key95288082384", "21c3aed1702801" ]
}