{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key4855654053d?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 31 Jan 2020 17:07:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"uWfdpcpmMtRFmAJCNLZY6TSsZCt\"",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY1NTI=;sn=806552",
      "Body" : "{\"etag\":\"uWfdpcpmMtRFmAJCNLZY6TSsZCt\",\"key\":\"key4855654053d\",\"label\":null,\"content_type\":null,\"value\":\"myNeverDeletedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:45+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/myNonExistentKey?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key4855654053d?label=myNonExistentLabel&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key48556%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY1NTI=;sn=806552",
      "Body" : "{\"items\":[{\"etag\":\"uWfdpcpmMtRFmAJCNLZY6TSsZCt\",\"key\":\"key4855654053d\",\"label\":null,\"content_type\":null,\"value\":\"myNeverDeletedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:45+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key4855654053d?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 31 Jan 2020 17:07:45 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"uWfdpcpmMtRFmAJCNLZY6TSsZCt\"",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY1NTM=;sn=806553",
      "Body" : "{\"etag\":\"uWfdpcpmMtRFmAJCNLZY6TSsZCt\",\"key\":\"key4855654053d\",\"label\":null,\"content_type\":null,\"value\":\"myNeverDeletedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:45+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key48556", "de39c5a8", "7e6afc04", "key4855654053d" ]
}