{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key90083468760",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sat, 19 Oct 2019 00:46:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"Yq6lq5kkX9BVNcaVNAQqteE8LbW\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDkwMDc=;sn=449007",
      "Body" : "{\"etag\":\"Yq6lq5kkX9BVNcaVNAQqteE8LbW\",\"key\":\"key90083468760\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:46:21+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key90083468760?label=5594982654926a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sat, 19 Oct 2019 00:46:21 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"DsY7LzFDbb3VBakb0VqDi45NXKs\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDkwMDk=;sn=449009",
      "Body" : "{\"etag\":\"DsY7LzFDbb3VBakb0VqDi45NXKs\",\"key\":\"key90083468760\",\"label\":\"5594982654926a\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:46:21+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key90083%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"items\":[]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key90083", "55949826", "key90083468760", "5594982654926a" ]
}