{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key28482603245",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 04 Oct 2019 00:12:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"HCAb1pdidl2amRgxwpFplZEfoJo\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzk1MDI=;sn=379502",
      "Body" : "{\"etag\":\"HCAb1pdidl2amRgxwpFplZEfoJo\",\"key\":\"key28482603245\",\"label\":null,\"content_type\":null,\"value\":\"myNeverDeletedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:10+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/myNonExistentKey",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key28482603245?label=myNonExistentLabel",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key28482%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzk1MDI=;sn=379502",
      "Body" : "{\"items\":[{\"etag\":\"HCAb1pdidl2amRgxwpFplZEfoJo\",\"key\":\"key28482603245\",\"label\":null,\"content_type\":null,\"value\":\"myNeverDeletedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:10+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key28482603245",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 04 Oct 2019 00:12:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"HCAb1pdidl2amRgxwpFplZEfoJo\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzk1MDM=;sn=379503",
      "Body" : "{\"etag\":\"HCAb1pdidl2amRgxwpFplZEfoJo\",\"key\":\"key28482603245\",\"label\":null,\"content_type\":null,\"value\":\"myNeverDeletedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:10+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key28482", "dd1dc9d4", "key28482603245" ]
}