{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key3050034653d",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 04 Oct 2019 00:12:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"Qg1KHQI3fF45ip7FBUbWwS97YYK\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzk2NDg=;sn=379648",
      "Body" : "{\"etag\":\"Qg1KHQI3fF45ip7FBUbWwS97YYK\",\"key\":\"key3050034653d\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:25+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key3050034653d?label=33e48ffc76776d",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 04 Oct 2019 00:12:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"dLcUHKcK8KPJZ3KGmH29Sfy6Rz7\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzk2NTE=;sn=379651",
      "Body" : "{\"etag\":\"dLcUHKcK8KPJZ3KGmH29Sfy6Rz7\",\"key\":\"key3050034653d\",\"label\":\"33e48ffc76776d\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:25+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key30500%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"items\":[]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key30500", "33e48ffc", "key3050034653d", "33e48ffc76776d" ]
}