{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key94417225711?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 13 Dec 2019 00:51:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"R5xzXu8URspEahhvt2dGQL5CPu6\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU1OTE=;sn=655591",
      "Body" : "{\"etag\":\"R5xzXu8URspEahhvt2dGQL5CPu6\",\"key\":\"key94417225711\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:09+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key94417225711?label=04ff5e84617757&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 13 Dec 2019 00:51:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"t0O8AENnm3EKVjTsBszYvk8auev\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU1OTM=;sn=655593",
      "Body" : "{\"etag\":\"t0O8AENnm3EKVjTsBszYvk8auev\",\"key\":\"key94417225711\",\"label\":\"04ff5e84617757\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:10+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key94417%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"items\":[]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key94417", "04ff5e84", "key94417225711", "04ff5e84617757" ]
}