{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key20823236375?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sun, 24 Nov 2019 16:06:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"cK9mbOaSWrV8KSoyzbslQWfAWM9\"",
      "Sync-Token" : "zAJw6V16=MDotMSM1Njk1NjU=;sn=569565",
      "Body" : "{\"etag\":\"cK9mbOaSWrV8KSoyzbslQWfAWM9\",\"key\":\"key20823236375\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-11-24T16:06:18+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key20823236375?label=myLabel&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sun, 24 Nov 2019 16:06:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"G6lCtcwomB7QAJCL0qirrLuCWa2\"",
      "Sync-Token" : "zAJw6V16=MDotMSM1Njk1NjY=;sn=569566",
      "Body" : "{\"etag\":\"G6lCtcwomB7QAJCL0qirrLuCWa2\",\"key\":\"key20823236375\",\"label\":\"myLabel\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-11-24T16:06:18+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key20823%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM1Njk1NjY=;sn=569566",
      "Body" : "{\"items\":[{\"etag\":\"cK9mbOaSWrV8KSoyzbslQWfAWM9\",\"key\":\"key20823236375\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-11-24T16:06:18+00:00\"},{\"etag\":\"G6lCtcwomB7QAJCL0qirrLuCWa2\",\"key\":\"key20823236375\",\"label\":\"myLabel\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-11-24T16:06:18+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key20823236375?label=myLabel&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sun, 24 Nov 2019 16:06:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"G6lCtcwomB7QAJCL0qirrLuCWa2\"",
      "Sync-Token" : "zAJw6V16=MDotMSM1Njk1Njg=;sn=569568",
      "Body" : "{\"etag\":\"G6lCtcwomB7QAJCL0qirrLuCWa2\",\"key\":\"key20823236375\",\"label\":\"myLabel\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-11-24T16:06:18+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key20823", "cf34e2a9", "key20823236375" ]
}