{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key23163969317?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 05:30:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"U8izeidNzCd6Ecdt1GroSQQkkg3\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzMwNDE=;sn=633041",
      "Body" : "{\"etag\":\"U8izeidNzCd6Ecdt1GroSQQkkg3\",\"key\":\"key23163969317\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T05:30:13+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key23163969317?label=myLabel&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 05:30:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"HyGhutPDFejyAc4lw6e5mIOxhYr\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzMwNDI=;sn=633042",
      "Body" : "{\"etag\":\"HyGhutPDFejyAc4lw6e5mIOxhYr\",\"key\":\"key23163969317\",\"label\":\"myLabel\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T05:30:13+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key23163%2a&label=&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzMwNDI=;sn=633042",
      "Body" : "{\"items\":[{\"etag\":\"U8izeidNzCd6Ecdt1GroSQQkkg3\",\"key\":\"key23163969317\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T05:30:13+00:00\"},{\"etag\":\"HyGhutPDFejyAc4lw6e5mIOxhYr\",\"key\":\"key23163969317\",\"label\":\"myLabel\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T05:30:13+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key23163969317?label=myLabel&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 05:30:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"HyGhutPDFejyAc4lw6e5mIOxhYr\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzMwNDQ=;sn=633044",
      "Body" : "{\"etag\":\"HyGhutPDFejyAc4lw6e5mIOxhYr\",\"key\":\"key23163969317\",\"label\":\"myLabel\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T05:30:13+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key23163", "a0607caf", "key23163969317" ]
}