{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key19675381655?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 13 Dec 2019 00:51:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"sZHmavVNSFMNoAFFDmJrnyBOAX9\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU3MjQ=;sn=655724",
      "Body" : "{\"etag\":\"sZHmavVNSFMNoAFFDmJrnyBOAX9\",\"key\":\"key19675381655\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:19+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key19675381655?label=myLabel&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 13 Dec 2019 00:51:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"uHjOAUVrLDTQbkgNED47VYhhLMV\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU3MjU=;sn=655725",
      "Body" : "{\"etag\":\"uHjOAUVrLDTQbkgNED47VYhhLMV\",\"key\":\"key19675381655\",\"label\":\"myLabel\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:19+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key19675%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU3MjU=;sn=655725",
      "Body" : "{\"items\":[{\"etag\":\"sZHmavVNSFMNoAFFDmJrnyBOAX9\",\"key\":\"key19675381655\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:19+00:00\"},{\"etag\":\"uHjOAUVrLDTQbkgNED47VYhhLMV\",\"key\":\"key19675381655\",\"label\":\"myLabel\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:19+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key19675381655?label=myLabel&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 13 Dec 2019 00:51:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"uHjOAUVrLDTQbkgNED47VYhhLMV\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU3Mjc=;sn=655727",
      "Body" : "{\"etag\":\"uHjOAUVrLDTQbkgNED47VYhhLMV\",\"key\":\"key19675381655\",\"label\":\"myLabel\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:19+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key19675", "3ac148b5", "key19675381655" ]
}