{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key32336587609?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 13 Dec 2019 00:51:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"KPQDBUGzoUJgFqrypLrHPRVM2X6\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU2MDU=;sn=655605",
      "Body" : "{\"etag\":\"KPQDBUGzoUJgFqrypLrHPRVM2X6\",\"key\":\"key32336587609\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:11+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key32336%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU2MDY=;sn=655606",
      "Body" : "{\"items\":[{\"etag\":\"WHtITdYC2cKrsLngWbhPgGpCwoA\",\"key\":\"key32336587609\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:11+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key32336587609?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 13 Dec 2019 00:51:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"WHtITdYC2cKrsLngWbhPgGpCwoA\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU2MDc=;sn=655607",
      "Body" : "{\"etag\":\"WHtITdYC2cKrsLngWbhPgGpCwoA\",\"key\":\"key32336587609\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:11+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key32336", "76618536", "key32336587609" ]
}