{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key0746543494b",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 17:15:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"l6a0vOUCGBgRnHGe83A0pRkWWas\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjcwMzk=;sn=467039",
      "Body" : "{\"etag\":\"l6a0vOUCGBgRnHGe83A0pRkWWas\",\"key\":\"key0746543494b\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:15+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key0746543494b?label=myLabel",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 17:15:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"G1P3JjEycJqXuvsF2clpMYiHFnd\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjcwNDA=;sn=467040",
      "Body" : "{\"etag\":\"G1P3JjEycJqXuvsF2clpMYiHFnd\",\"key\":\"key0746543494b\",\"label\":\"myLabel\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:15+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key07465%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjcwNDA=;sn=467040",
      "Body" : "{\"items\":[{\"etag\":\"l6a0vOUCGBgRnHGe83A0pRkWWas\",\"key\":\"key0746543494b\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:15+00:00\"},{\"etag\":\"G1P3JjEycJqXuvsF2clpMYiHFnd\",\"key\":\"key0746543494b\",\"label\":\"myLabel\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:15+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key0746543494b",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 17:15:15 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"l6a0vOUCGBgRnHGe83A0pRkWWas\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjcwNDI=;sn=467042",
      "Body" : "{\"etag\":\"l6a0vOUCGBgRnHGe83A0pRkWWas\",\"key\":\"key0746543494b\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:15+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key07465", "e705fa56", "key0746543494b" ]
}