{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key9727811817c",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sat, 19 Oct 2019 00:45:54 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"KDcBXnfWxxMcTMv3Z4EsnBuYiJZ\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg2NTY=;sn=448656",
      "Body" : "{\"etag\":\"KDcBXnfWxxMcTMv3Z4EsnBuYiJZ\",\"key\":\"key9727811817c\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:45:54+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key9727811817c?label=myLabel",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sat, 19 Oct 2019 00:45:54 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"Qtyge7y2tTRsW5KEtJPYJYdDZkd\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg2NTc=;sn=448657",
      "Body" : "{\"etag\":\"Qtyge7y2tTRsW5KEtJPYJYdDZkd\",\"key\":\"key9727811817c\",\"label\":\"myLabel\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:45:54+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key97278%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg2NTc=;sn=448657",
      "Body" : "{\"items\":[{\"etag\":\"KDcBXnfWxxMcTMv3Z4EsnBuYiJZ\",\"key\":\"key9727811817c\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:45:54+00:00\"},{\"etag\":\"Qtyge7y2tTRsW5KEtJPYJYdDZkd\",\"key\":\"key9727811817c\",\"label\":\"myLabel\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:45:54+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key9727811817c?label=myLabel",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sat, 19 Oct 2019 00:45:54 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"Qtyge7y2tTRsW5KEtJPYJYdDZkd\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg2NTk=;sn=448659",
      "Body" : "{\"etag\":\"Qtyge7y2tTRsW5KEtJPYJYdDZkd\",\"key\":\"key9727811817c\",\"label\":\"myLabel\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:45:54+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key97278", "81f9e204", "key9727811817c" ]
}