{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key3425585714a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Mon, 07 Oct 2019 05:15:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"0WdN2OgGDmt7RkZJ2EVerrwCs5r\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTQ5NjU=;sn=394965",
      "Body" : "{\"etag\":\"0WdN2OgGDmt7RkZJ2EVerrwCs5r\",\"key\":\"key3425585714a\",\"label\":null,\"content_type\":null,\"value\":\"myNeverRetreivedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:25+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/myNonExistentKey",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key3425585714a?label=myNonExistentLabel",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key34255%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTQ5NjU=;sn=394965",
      "Body" : "{\"items\":[{\"etag\":\"0WdN2OgGDmt7RkZJ2EVerrwCs5r\",\"key\":\"key3425585714a\",\"label\":null,\"content_type\":null,\"value\":\"myNeverRetreivedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:25+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key3425585714a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Mon, 07 Oct 2019 05:15:25 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"0WdN2OgGDmt7RkZJ2EVerrwCs5r\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTQ5NjY=;sn=394966",
      "Body" : "{\"etag\":\"0WdN2OgGDmt7RkZJ2EVerrwCs5r\",\"key\":\"key3425585714a\",\"label\":null,\"content_type\":null,\"value\":\"myNeverRetreivedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:25+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key34255", "62b434b0", "key3425585714a" ]
}