{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key0402096185d",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Mon, 07 Oct 2019 05:15:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"F5zMr1S3XtgorGKV7Cr4W49nESy\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTQ5NzU=;sn=394975",
      "Body" : "{\"etag\":\"F5zMr1S3XtgorGKV7Cr4W49nESy\",\"key\":\"key0402096185d\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:26+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key0402096185d",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTQ5ODA=;sn=394980",
      "Body" : "{\"items\":[{\"etag\":\"ushz1IU313W4wWXmsfMUXXOji8d\",\"key\":\"key0402096185d\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:28+00:00\"},{\"etag\":\"6x17Db0y80q2jB91XvnxghXpVbh\",\"key\":\"key0402096185d\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:26+00:00\"},{\"etag\":\"F5zMr1S3XtgorGKV7Cr4W49nESy\",\"key\":\"key0402096185d\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:26+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key0402096185d",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Memento-Datetime" : "Mon, 07 Oct 2019 05:15:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTQ5ODA=;sn=394980",
      "Body" : "{\"items\":[{\"etag\":\"6x17Db0y80q2jB91XvnxghXpVbh\",\"key\":\"key0402096185d\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:26+00:00\"},{\"etag\":\"F5zMr1S3XtgorGKV7Cr4W49nESy\",\"key\":\"key0402096185d\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:26+00:00\"}]}",
      "Link" : "</revisions?key=key0402096185d>; rel=\"original\"",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key04020%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTQ5ODA=;sn=394980",
      "Body" : "{\"items\":[{\"etag\":\"ushz1IU313W4wWXmsfMUXXOji8d\",\"key\":\"key0402096185d\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:28+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key0402096185d",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Mon, 07 Oct 2019 05:15:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"ushz1IU313W4wWXmsfMUXXOji8d\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTQ5ODE=;sn=394981",
      "Body" : "{\"etag\":\"ushz1IU313W4wWXmsfMUXXOji8d\",\"key\":\"key0402096185d\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:28+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key04020", "a1c7e114", "key0402096185d" ]
}