{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key04364971125?label=950b2b1c932104",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 04 Oct 2019 00:12:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"Ukan8SizxpxPhDEU1XVQlwIb5qg\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzk1MDQ=;sn=379504",
      "Body" : "{\"etag\":\"Ukan8SizxpxPhDEU1XVQlwIb5qg\",\"key\":\"key04364971125\",\"label\":\"950b2b1c932104\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:11+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key04364971125&label=950b2b1c932104",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzk1MDQ=;sn=379504",
      "Body" : "{\"items\":[{\"etag\":\"Ukan8SizxpxPhDEU1XVQlwIb5qg\",\"key\":\"key04364971125\",\"label\":\"950b2b1c932104\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:11+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key04364971125",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzk1MDQ=;sn=379504",
      "Body" : "{\"items\":[{\"etag\":\"Ukan8SizxpxPhDEU1XVQlwIb5qg\",\"key\":\"key04364971125\",\"label\":\"950b2b1c932104\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:11+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key04364%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzk1MDQ=;sn=379504",
      "Body" : "{\"items\":[{\"etag\":\"Ukan8SizxpxPhDEU1XVQlwIb5qg\",\"key\":\"key04364971125\",\"label\":\"950b2b1c932104\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:11+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key04364971125?label=950b2b1c932104",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 04 Oct 2019 00:12:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"Ukan8SizxpxPhDEU1XVQlwIb5qg\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzk1MDU=;sn=379505",
      "Body" : "{\"etag\":\"Ukan8SizxpxPhDEU1XVQlwIb5qg\",\"key\":\"key04364971125\",\"label\":\"950b2b1c932104\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:11+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key04364", "950b2b1c", "key04364971125", "950b2b1c932104" ]
}