{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key73061195898?label=703013ea529408&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 13 Dec 2019 00:50:46 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"Z8zLlDhu3ZUalizWLL1Cf4akydJ\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTUzNzQ=;sn=655374",
      "Body" : "{\"etag\":\"Z8zLlDhu3ZUalizWLL1Cf4akydJ\",\"key\":\"key73061195898\",\"label\":\"703013ea529408\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:50:46+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key73061195898&label=703013ea529408%2c703013ea363700&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTUzNzU=;sn=655375",
      "Body" : "{\"items\":[{\"etag\":\"q1ghQHMqXABpcVBkoYe3wiS1Liv\",\"key\":\"key73061195898\",\"label\":\"703013ea363700\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:50:46+00:00\"},{\"etag\":\"Z8zLlDhu3ZUalizWLL1Cf4akydJ\",\"key\":\"key73061195898\",\"label\":\"703013ea529408\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:50:46+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key73061%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTUzNzU=;sn=655375",
      "Body" : "{\"items\":[{\"etag\":\"q1ghQHMqXABpcVBkoYe3wiS1Liv\",\"key\":\"key73061195898\",\"label\":\"703013ea363700\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:50:46+00:00\"},{\"etag\":\"Z8zLlDhu3ZUalizWLL1Cf4akydJ\",\"key\":\"key73061195898\",\"label\":\"703013ea529408\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:50:46+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key73061195898?label=703013ea529408&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 13 Dec 2019 00:50:46 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"Z8zLlDhu3ZUalizWLL1Cf4akydJ\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTUzNzc=;sn=655377",
      "Body" : "{\"etag\":\"Z8zLlDhu3ZUalizWLL1Cf4akydJ\",\"key\":\"key73061195898\",\"label\":\"703013ea529408\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:50:46+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key73061", "703013ea", "key73061195898", "703013ea529408", "703013ea363700" ]
}