{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key4466789931f",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Mon, 07 Oct 2019 05:15:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"7JGkoKEfyWYrqbjskooPaEQVnXP\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTQ5MDk=;sn=394909",
      "Body" : "{\"etag\":\"7JGkoKEfyWYrqbjskooPaEQVnXP\",\"key\":\"key4466789931f\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:19+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key4466789931f",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTQ5MTE=;sn=394911",
      "Body" : "{\"items\":[{\"etag\":\"gmtPtuqGA7WvybsXh3NXQ5biTcd\",\"key\":\"key4466789931f\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:19+00:00\"},{\"etag\":\"cVFZOTSg6tXBnvkRhfb82FNxrWI\",\"key\":\"key4466789931f\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:19+00:00\"},{\"etag\":\"7JGkoKEfyWYrqbjskooPaEQVnXP\",\"key\":\"key4466789931f\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:19+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key4466789931f&$select=key%2cetag",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTQ5MTE=;sn=394911",
      "Body" : "{\"items\":[{\"etag\":\"gmtPtuqGA7WvybsXh3NXQ5biTcd\",\"key\":\"key4466789931f\"},{\"etag\":\"cVFZOTSg6tXBnvkRhfb82FNxrWI\",\"key\":\"key4466789931f\"},{\"etag\":\"7JGkoKEfyWYrqbjskooPaEQVnXP\",\"key\":\"key4466789931f\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key44667%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTQ5MTE=;sn=394911",
      "Body" : "{\"items\":[{\"etag\":\"gmtPtuqGA7WvybsXh3NXQ5biTcd\",\"key\":\"key4466789931f\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:19+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key4466789931f",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Mon, 07 Oct 2019 05:15:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"gmtPtuqGA7WvybsXh3NXQ5biTcd\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTQ5MTI=;sn=394912",
      "Body" : "{\"etag\":\"gmtPtuqGA7WvybsXh3NXQ5biTcd\",\"key\":\"key4466789931f\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:19+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key44667", "e21a6619", "key4466789931f" ]
}