{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key78179138477",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Wed, 02 Oct 2019 20:46:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"OpUEZB4AzkeaNhYPgkphJNBqhjM\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjM4ODM=;sn=363883",
      "Body" : "{\"etag\":\"OpUEZB4AzkeaNhYPgkphJNBqhjM\",\"key\":\"key78179138477\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:39+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key78179138477",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Content-Range" : "items 1-2/3",
      "retry-after" : "0",
      "StatusCode" : "206",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjM4ODU=;sn=363885",
      "Body" : "{\"items\":[{\"etag\":\"Od8i0xFiCmjQKa5dcwu8ZS3z8FX\",\"key\":\"key78179138477\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:39+00:00\"},{\"etag\":\"OpUEZB4AzkeaNhYPgkphJNBqhjM\",\"key\":\"key78179138477\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:39+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key78179%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjM4ODU=;sn=363885",
      "Body" : "{\"items\":[{\"etag\":\"HbprpQJQpObntO0aeMEPln8b5JD\",\"key\":\"key78179138477\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:39+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key78179138477",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Wed, 02 Oct 2019 20:46:39 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"HbprpQJQpObntO0aeMEPln8b5JD\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjM4ODY=;sn=363886",
      "Body" : "{\"etag\":\"HbprpQJQpObntO0aeMEPln8b5JD\",\"key\":\"key78179138477\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:39+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key78179", "41c879e2", "key78179138477" ]
}