{
  "networkCallRecords" : [ {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key0211359924d",
    "Headers" : {
=======
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key1185138186f",
    "Headers" : {
>>>>>>> 037a38e8b5... Preview 4: Final API Review, Update java doc and sample (#5724)
      "Content-Type" : "application/json"
    },
    "Response" : {
<<<<<<< HEAD
      "Last-Modified" : "Sat, 19 Oct 2019 00:45:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Date" : "Sat, 19 Oct 2019 00:45:54 GMT",
      "Access-Control-Allow-Headers" : "DNT, X-CustomHeader, Keep-Alive, User-Agent, X-Requested-With, If-Modified-Since, Cache-Control, Content-Type, Authorization, x-ms-client-request-id, x-ms-content-sha256, x-ms-date, host, Accept, Accept-Datetime, Date, If-Match, If-None-Match, Sync-Token, x-ms-return-client-request-id, ETag, Last-Modified, Link, Memento-Datetime, x-ms-retry-after, x-ms-request-id, WWW-Authenticate",
      "x-ms-correlation-request-id" : "3669bc4f-b7f3-4a84-9b3e-0c9ac0af7d76",
      "Strict-Transport-Security" : "max-age=15724800; includeSubDomains",
      "Access-Control-Expose-Headers" : "DNT, X-CustomHeader, Keep-Alive, User-Agent, X-Requested-With, If-Modified-Since, Cache-Control, Content-Type, Authorization, x-ms-client-request-id, x-ms-content-sha256, x-ms-date, host, Accept, Accept-Datetime, Date, If-Match, If-None-Match, Sync-Token, x-ms-return-client-request-id, ETag, Last-Modified, Link, Memento-Datetime, x-ms-retry-after, x-ms-request-id, WWW-Authenticate",
      "ETag" : "\"9X11lrPtrxcHrxNxvhFuYDW44C1\"",
      "Access-Control-Allow-Credentials" : "true",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg2Njg=;sn=448668",
      "x-ms-request-id" : "3669bc4f-b7f3-4a84-9b3e-0c9ac0af7d76",
      "Body" : "{\"etag\":\"9X11lrPtrxcHrxNxvhFuYDW44C1\",\"key\":\"key0211359924d\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:45:55+00:00\"}",
      "x-ms-client-request-id" : "8e161ee4-5e87-4bd7-8c40-f7f6847bc17b",
=======
      "Last-Modified" : "Tue, 08 Oct 2019 17:59:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Date" : "Tue, 08 Oct 2019 17:59:41 GMT",
      "Access-Control-Allow-Headers" : "DNT, X-CustomHeader, Keep-Alive, User-Agent, X-Requested-With, If-Modified-Since, Cache-Control, Content-Type, Authorization, x-ms-client-request-id, x-ms-content-sha256, x-ms-date, host, Accept, Accept-Datetime, Date, If-Match, If-None-Match, Sync-To[...]
[...]
  }, {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key0211359924d",
    "Headers" : {
=======
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key1185138186f",
    "Headers" : {
>>>>>>> 037a38e8b5... Preview 4: Final API Review, Update java doc and sample (#5724)
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "Date" : "Sat[...]
  }, {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key0211359924d",
    "Headers" : {
=======
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key1185138186f",
    "Headers" : {
>>>>>>> 037a38e8b5... Preview 4: Final API Review, Update java doc and sample (#5724)
      "Content-Type" : "application/json"
    },
    "Response" : {
<<<<<<< HEAD
      "Memento-Datetime" : "Sat, 19 Oct 2019 00:45:55 GMT",
=======
      "Memento-Datetime" : "Tue, 08 Oct 2019 17:59:42 GMT",
>>>>>>> 037a38e8b5... Preview 4: Final API Review, Update java doc and sample (#5724)
      "Access-Control-Allow-Origin" : "*",
      "Access-Control-Allow-Methods" : "GET, PUT, POST, DELETE, PATCH, OPTIONS",
      "Connection" : "keep-alive",
      "retry-after" : "0",
      "StatusCode" : "200",
<<<<<<< HEAD
      "Date" : "Sat, 19 Oct 2019 00:45:56 GMT",
      "Access-Control-Allow-Headers" : "DNT, X-CustomHeader, Keep-Alive, User-Agent, X-Requested-With, If-Modified-Since, Cache-Control, Content-Type, Authorization, x-ms-client-request-id, x-ms-content-sha256, x-ms-date, host, Accept, Accept-Datetime, Date, If-Match, If-None-Match, Sync-Token, x-ms-return-client-request-id, ETag, Last-Modified, Link, Memento-Datetime, x-ms-retry-after, x-ms-request-id, WWW-Authenticate",
      "x-ms-correlation-request-id" : "64398030-5dde-48e3-b2cb-b57ef14063d7",
      "Strict-Transport-Security" : "max-age=15724800; includeSubDomains",
      "Access-Control-Expose-Headers" : "DNT, X-CustomHeader, Keep-Alive, User-Agent, X-Requested-With, If-Modified-Since, Cache-Control, Content-Type, Authorization, x-ms-client-request-id, x-ms-content-sha256, x-ms-date, host, Accept, Accept-Datetime, Date, If-Match, If-None-Match, Sync-Token, x-ms-return-client-request-id, ETag, Last-Modified, Link, Memento-Datetime, x-ms-retry-after, x-ms-request-id, WWW-Authenticate",
      "Access-Control-Allow-Credentials" : "true",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg2NzA=;sn=448670",
      "x-ms-request-id" : "64398030-5dde-48e3-b2cb-b57ef14063d7",
      "Body" : "{\"items\":[{\"etag\":\"CVyJlOohLcGSWF9NGgBaWaBfyFb\",\"key\":\"key0211359924d\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:45:55+00:00\"}]}",
      "Link" : "</kv?key=key0211359924d>; rel=\"original\"",
      "x-ms-client-request-id" : "3b999f9c-bfa4-47fc-b3cc-27085c5bb98b",
=======
      "Date" : "Tue, 08 Oct 2019 17:59:43 GMT",
      "Access-Control-Allow-Headers" : "DNT, X-CustomHeader, Keep-Alive, User-Agent, X-Requested-With, If-Modified-Since, Cache-Control, Content-Type, Authorization, x-ms-client-request-id, x-ms-content-sha256, x-ms-date, host, Accept, Accept-Datetime, Date, If-Match, If-None-Match, Sync-Token, x-ms-return-client-request-i[...]
  }, {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key02113%2a",
    "Headers" : {
=======
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key11851%2a",
    "Headers" : {
>>>>>>> 037a38e8b5... Preview 4: Final API Review, Update java doc and sample (#5724)
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "Date" : "Sat, 19 Oct 2019 00:45:[...]
[...]
