{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key20178467119?label=lbl41841",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 17:15:07 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"eKme53Kk5R6Dlpg6zuQNooDF74K\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY4OTI=;sn=466892",
      "Body" : "{\"etag\":\"eKme53Kk5R6Dlpg6zuQNooDF74K\",\"key\":\"key20178467119\",\"label\":\"lbl41841\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:07+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key20178467119&label=lbl41841",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY4OTI=;sn=466892",
      "Body" : "{\"items\":[{\"etag\":\"eKme53Kk5R6Dlpg6zuQNooDF74K\",\"key\":\"key20178467119\",\"label\":\"lbl41841\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:07+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key20178467119",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY4OTI=;sn=466892",
      "Body" : "{\"items\":[{\"etag\":\"eKme53Kk5R6Dlpg6zuQNooDF74K\",\"key\":\"key20178467119\",\"label\":\"lbl41841\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:07+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key20178%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY4OTI=;sn=466892",
      "Body" : "{\"items\":[{\"etag\":\"eKme53Kk5R6Dlpg6zuQNooDF74K\",\"key\":\"key20178467119\",\"label\":\"lbl41841\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:07+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key20178467119?label=lbl41841",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 17:15:07 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"eKme53Kk5R6Dlpg6zuQNooDF74K\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY4OTM=;sn=466893",
      "Body" : "{\"etag\":\"eKme53Kk5R6Dlpg6zuQNooDF74K\",\"key\":\"key20178467119\",\"label\":\"lbl41841\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:07+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key20178", "4c055e77", "key20178467119", "lbl41841" ]
}