{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key23415?label=b9eb15d2",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 17:15:01 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"BUHYo79NizmybBERRKT3Wr6fUI5\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY4Mzc=;sn=466837",
      "Body" : "{\"etag\":\"BUHYo79NizmybBERRKT3Wr6fUI5\",\"key\":\"key23415\",\"label\":\"b9eb15d2\",\"content_type\":null,\"value\":\"myValue0\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:01+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key23415&label=b9eb15d2",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY4ODY=;sn=466886",
      "Body" : "{\"items\":[{\"etag\":\"zHphfaiTcqdY8exc2K6ZWJ2WqOt\",\"key\":\"key23415\",\"label\":\"b9eb15d2\",\"content_type\":null,\"value\":\"myValue46\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:07+00:00\"},{\"etag\":\"k3BYz3T3B6QIed6nVIDtAYalzeL\",\"key\":\"key23415\",\"label\":\"b9eb15d2\",\"content_type\":null,\"value\":\"myValue33\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:07+00:00\"},{\"etag\":\"idylMSavawAau9uzzn9xLSssaEe\",\"key\":\"key23415\",\"label\":\"b9eb[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key23415%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY4ODY=;sn=466886",
      "Body" : "{\"items\":[{\"etag\":\"zHphfaiTcqdY8exc2K6ZWJ2WqOt\",\"key\":\"key23415\",\"label\":\"b9eb15d2\",\"content_type\":null,\"value\":\"myValue46\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:07+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key23415?label=b9eb15d2",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 17:15:07 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"zHphfaiTcqdY8exc2K6ZWJ2WqOt\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY4ODc=;sn=466887",
      "Body" : "{\"etag\":\"zHphfaiTcqdY8exc2K6ZWJ2WqOt\",\"key\":\"key23415\",\"label\":\"b9eb15d2\",\"content_type\":null,\"value\":\"myValue46\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:07+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key23415", "b9eb15d2" ]
}