{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key10431745238?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 13 Dec 2019 00:51:05 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"oXQzwf4IuIO1kJlMdhjDCVo41Qb\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU1ODU=;sn=655585",
      "Body" : "{\"etag\":\"oXQzwf4IuIO1kJlMdhjDCVo41Qb\",\"key\":\"key10431745238\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:05+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key10431745238&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU1ODc=;sn=655587",
      "Body" : "{\"items\":[{\"etag\":\"vJPrXEHwlwFUeeOl4MMl9rRagpv\",\"key\":\"key10431745238\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:09+00:00\"},{\"etag\":\"hRIjD1NS0BCxXuybzRY8Iu0ohRK\",\"key\":\"key10431745238\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:07+00:00\"},{\"etag\":\"oXQzwf4IuIO1kJlMdhjDCVo41Qb\",\"key\":\"key10431745238\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:05+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key10431745238&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Memento-Datetime" : "Fri, 13 Dec 2019 00:51:07 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU1ODc=;sn=655587",
      "Body" : "{\"items\":[{\"etag\":\"hRIjD1NS0BCxXuybzRY8Iu0ohRK\",\"key\":\"key10431745238\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:07+00:00\"},{\"etag\":\"oXQzwf4IuIO1kJlMdhjDCVo41Qb\",\"key\":\"key10431745238\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:05+00:00\"}]}",
      "Link" : "</revisions?key=key10431745238&api-version=1.0>; rel=\"original\"",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key10431%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU1ODc=;sn=655587",
      "Body" : "{\"items\":[{\"etag\":\"vJPrXEHwlwFUeeOl4MMl9rRagpv\",\"key\":\"key10431745238\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:09+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key10431745238?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 13 Dec 2019 00:51:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"vJPrXEHwlwFUeeOl4MMl9rRagpv\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU1ODg=;sn=655588",
      "Body" : "{\"etag\":\"vJPrXEHwlwFUeeOl4MMl9rRagpv\",\"key\":\"key10431745238\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:09+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key10431", "ca3af237", "key10431745238" ]
}