{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key89104885483?label=e3d7e0aa733718&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 31 Jan 2020 17:07:48 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"cEzL5hKc8MWcxmey2JFwLiR42nM\"",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY1ODY=;sn=806586",
      "Body" : "{\"etag\":\"cEzL5hKc8MWcxmey2JFwLiR42nM\",\"key\":\"key89104885483\",\"label\":\"e3d7e0aa733718\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:48+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key89104885483&label=e3d7e0aa733718&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY1ODY=;sn=806586",
      "Body" : "{\"items\":[{\"etag\":\"cEzL5hKc8MWcxmey2JFwLiR42nM\",\"key\":\"key89104885483\",\"label\":\"e3d7e0aa733718\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:48+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key89104885483&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY1ODY=;sn=806586",
      "Body" : "{\"items\":[{\"etag\":\"cEzL5hKc8MWcxmey2JFwLiR42nM\",\"key\":\"key89104885483\",\"label\":\"e3d7e0aa733718\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:48+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key89104%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY1ODY=;sn=806586",
      "Body" : "{\"items\":[{\"etag\":\"cEzL5hKc8MWcxmey2JFwLiR42nM\",\"key\":\"key89104885483\",\"label\":\"e3d7e0aa733718\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:48+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key89104885483?label=e3d7e0aa733718&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 31 Jan 2020 17:07:48 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"cEzL5hKc8MWcxmey2JFwLiR42nM\"",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY1ODc=;sn=806587",
      "Body" : "{\"etag\":\"cEzL5hKc8MWcxmey2JFwLiR42nM\",\"key\":\"key89104885483\",\"label\":\"e3d7e0aa733718\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:48+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key89104", "e3d7e0aa", "94f217cc", "key89104885483", "e3d7e0aa733718" ]
}