{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key1103228390b?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 06:08:32 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"flzaTohcPgDrKBs4V6YNPDmBOgu\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQ0MzE=;sn=634431",
      "Body" : "{\"etag\":\"flzaTohcPgDrKBs4V6YNPDmBOgu\",\"key\":\"key1103228390b\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:32+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key1103228390b%2ckey1103295228b&label=&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQ0MzQ=;sn=634434",
      "Body" : "{\"items\":[{\"etag\":\"gL3JEXJS3a1D6MeUb5NVUXUb3vy\",\"key\":\"key1103295228b\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:32+00:00\"},{\"etag\":\"nhXnG1aFKn0dAA488o1rmkHxBiS\",\"key\":\"key1103295228b\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:32+00:00\"},{\"etag\":\"hUKUunC3fMNbw7lQEuSPlhFouvr\",\"key\":\"key1103228390b\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:32+00:00\"},{\"etag\":\"flzaTohcPgDrKBs4V6YNPDmBOgu\",\"key\":\"key1103228390b\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:32+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key11032%2a&label=&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQ0MzQ=;sn=634434",
      "Body" : "{\"items\":[{\"etag\":\"hUKUunC3fMNbw7lQEuSPlhFouvr\",\"key\":\"key1103228390b\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:32+00:00\"},{\"etag\":\"gL3JEXJS3a1D6MeUb5NVUXUb3vy\",\"key\":\"key1103295228b\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:32+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key1103295228b?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 06:08:32 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"gL3JEXJS3a1D6MeUb5NVUXUb3vy\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQ0MzY=;sn=634436",
      "Body" : "{\"etag\":\"gL3JEXJS3a1D6MeUb5NVUXUb3vy\",\"key\":\"key1103295228b\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:32+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key11032", "e0a8acc7", "key1103228390b", "key1103295228b" ]
}