{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key60086354885",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 23:26:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"2ZwKWl2easOwHTvS1NRjgiRN9oR\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzEyNTY=;sn=471256",
      "Body" : "{\"etag\":\"2ZwKWl2easOwHTvS1NRjgiRN9oR\",\"key\":\"key60086354885\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:47+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key60086354885",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzEyNTg=;sn=471258",
      "Body" : "{\"items\":[{\"etag\":\"hS2Ql8wpUkIQuEzLrM0oiaxbzR2\",\"key\":\"key60086354885\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:49+00:00\"},{\"etag\":\"wP8ydVavBXHmT44Dagptdu33F2h\",\"key\":\"key60086354885\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:47+00:00\"},{\"etag\":\"2ZwKWl2easOwHTvS1NRjgiRN9oR\",\"key\":\"key60086354885\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:47+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key60086354885",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Memento-Datetime" : "Thu, 24 Oct 2019 23:26:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzEyNTg=;sn=471258",
      "Body" : "{\"items\":[{\"etag\":\"wP8ydVavBXHmT44Dagptdu33F2h\",\"key\":\"key60086354885\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:47+00:00\"}]}",
      "Link" : "</kv?key=key60086354885>; rel=\"original\"",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key60086%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzEyNTg=;sn=471258",
      "Body" : "{\"items\":[{\"etag\":\"hS2Ql8wpUkIQuEzLrM0oiaxbzR2\",\"key\":\"key60086354885\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:49+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key60086354885",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 23:26:49 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"hS2Ql8wpUkIQuEzLrM0oiaxbzR2\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzEyNTk=;sn=471259",
      "Body" : "{\"etag\":\"hS2Ql8wpUkIQuEzLrM0oiaxbzR2\",\"key\":\"key60086354885\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:49+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key60086", "0ac68c70", "key60086354885" ]
}