{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key27997775409",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 04 Oct 2019 00:12:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"iv2epx6i1Iqd7QIoRmxbX00rxCx\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzkzNjg=;sn=379368",
      "Body" : "{\"etag\":\"iv2epx6i1Iqd7QIoRmxbX00rxCx\",\"key\":\"key27997775409\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:00+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key27997775409%2ckey2799704364d",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzkzNjk=;sn=379369",
      "Body" : "{\"items\":[{\"etag\":\"q5WKpwzuiTwiZaH0aBWyUFYGIcb\",\"key\":\"key2799704364d\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:00+00:00\"},{\"etag\":\"iv2epx6i1Iqd7QIoRmxbX00rxCx\",\"key\":\"key27997775409\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:00+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key27997%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzkzNjk=;sn=379369",
      "Body" : "{\"items\":[{\"etag\":\"q5WKpwzuiTwiZaH0aBWyUFYGIcb\",\"key\":\"key2799704364d\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:00+00:00\"},{\"etag\":\"iv2epx6i1Iqd7QIoRmxbX00rxCx\",\"key\":\"key27997775409\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:00+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key27997775409",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 04 Oct 2019 00:12:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"iv2epx6i1Iqd7QIoRmxbX00rxCx\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzkzNzE=;sn=379371",
      "Body" : "{\"etag\":\"iv2epx6i1Iqd7QIoRmxbX00rxCx\",\"key\":\"key27997775409\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:00+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key27997", "ddcb9ca2", "key27997775409", "key2799704364d" ]
}