{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key52971165836",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Wed, 02 Oct 2019 20:46:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"ootyt3XWANIhqDnYDoqVRJH3pEQ\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjQxMTk=;sn=364119",
      "Body" : "{\"etag\":\"ootyt3XWANIhqDnYDoqVRJH3pEQ\",\"key\":\"key52971165836\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:55+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key52971165836%2ckey52971919855",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjQxMjI=;sn=364122",
      "Body" : "{\"items\":[{\"etag\":\"i88GynyDXU9nA8jYoZdvbicg9zy\",\"key\":\"key52971919855\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:55+00:00\"},{\"etag\":\"cKQMBnrNaYRx5EjUMRgOutCAyGp\",\"key\":\"key52971919855\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:55+00:00\"},{\"etag\":\"Ks1tkLhCbRK5dGtMp1oARYwMbMB\",\"key\":\"key52971165836\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:55+00:00\"},{\"etag\":\"ootyt3XWANIhqDnYDoqVRJH3pEQ\",\"key\":\"key52971165836\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:55+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key52971%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjQxMjI=;sn=364122",
      "Body" : "{\"items\":[{\"etag\":\"Ks1tkLhCbRK5dGtMp1oARYwMbMB\",\"key\":\"key52971165836\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:55+00:00\"},{\"etag\":\"i88GynyDXU9nA8jYoZdvbicg9zy\",\"key\":\"key52971919855\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:55+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key52971919855",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Wed, 02 Oct 2019 20:46:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"i88GynyDXU9nA8jYoZdvbicg9zy\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjQxMjQ=;sn=364124",
      "Body" : "{\"etag\":\"i88GynyDXU9nA8jYoZdvbicg9zy\",\"key\":\"key52971919855\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:55+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key52971", "e628d0b6", "key52971165836", "key52971919855" ]
}