{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key8122460424e?label=9e06cf8312717a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 08 Oct 2019 17:59:40 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"OFm0wGcdivpmUZFjVshFqj34luo\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0MDE4NTM=;sn=401853",
      "Body" : "{\"etag\":\"OFm0wGcdivpmUZFjVshFqj34luo\",\"key\":\"key8122460424e\",\"label\":\"9e06cf8312717a\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T17:59:40+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key8122460424e&label=9e06cf8312717a%2c9e06cf83933869",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0MDE4NTY=;sn=401856",
      "Body" : "{\"items\":[{\"etag\":\"vFpkydlXmFdSRUbzs7FcBMH5ecd\",\"key\":\"key8122460424e\",\"label\":\"9e06cf83933869\",\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T17:59:40+00:00\"},{\"etag\":\"pzGYxSPr8tni9Zy6LJAGR3XN7wi\",\"key\":\"key8122460424e\",\"label\":\"9e06cf83933869\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T17:59:40+00:00\"},{\"etag\":\"MJ67l53EEb4MYSGBBEBqHRK1NVB\",\"key\":\"key8122460424e\",\"label\":\"9e06cf8312717a\",\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T17:59:40+00:00\"},{\"etag\":\"OFm0wGcdivpmUZFjVshFqj34luo\",\"key\":\"key8122460424e\",\"label\":\"9e06cf8312717a\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T17:59:40+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key81224%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0MDE4NTY=;sn=401856",
      "Body" : "{\"items\":[{\"etag\":\"MJ67l53EEb4MYSGBBEBqHRK1NVB\",\"key\":\"key8122460424e\",\"label\":\"9e06cf8312717a\",\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T17:59:40+00:00\"},{\"etag\":\"vFpkydlXmFdSRUbzs7FcBMH5ecd\",\"key\":\"key8122460424e\",\"label\":\"9e06cf83933869\",\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T17:59:40+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key8122460424e?label=9e06cf8312717a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 08 Oct 2019 17:59:40 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"MJ67l53EEb4MYSGBBEBqHRK1NVB\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0MDE4NTg=;sn=401858",
      "Body" : "{\"etag\":\"MJ67l53EEb4MYSGBBEBqHRK1NVB\",\"key\":\"key8122460424e\",\"label\":\"9e06cf8312717a\",\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T17:59:40+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key81224", "9e06cf83", "key8122460424e", "9e06cf8312717a", "9e06cf83933869" ]
}