{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key62602?label=380bd1b0&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sun, 24 Nov 2019 16:05:53 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"Uo3XsM7IufHKlj4v9GhPRJuDn8m\"",
      "Sync-Token" : "zAJw6V16=MDotMSM1NjkzMDI=;sn=569302",
      "Body" : "{\"etag\":\"Uo3XsM7IufHKlj4v9GhPRJuDn8m\",\"key\":\"key62602\",\"label\":\"380bd1b0\",\"content_type\":null,\"value\":\"myValue0\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-11-24T16:05:53+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key62602&label=380bd1b0&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM1NjkzNTE=;sn=569351",
      "Body" : "{\"items\":[{\"etag\":\"4UhxAYEtK5Cb7geqY48frX7wobw\",\"key\":\"key62602\",\"label\":\"380bd1b0\",\"content_type\":null,\"value\":\"myValue49\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-11-24T16:05:56+00:00\"},{\"etag\":\"1dvPLvFwvh122UYOiHXPiXH7zHG\",\"key\":\"key62602\",\"label\":\"380bd1b0\",\"content_type\":null,\"value\":\"myValue48\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-11-24T16:05:56+00:00\"},{\"etag\":\"6suyDtmoVdKUIDdj2rN6ZFc2SU9\",\"key\":\"key62602\",\"label\":\"380b[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key62602%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM1NjkzNTE=;sn=569351",
      "Body" : "{\"items\":[{\"etag\":\"4UhxAYEtK5Cb7geqY48frX7wobw\",\"key\":\"key62602\",\"label\":\"380bd1b0\",\"content_type\":null,\"value\":\"myValue49\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-11-24T16:05:56+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key62602?label=380bd1b0&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sun, 24 Nov 2019 16:05:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"4UhxAYEtK5Cb7geqY48frX7wobw\"",
      "Sync-Token" : "zAJw6V16=MDotMSM1NjkzNTI=;sn=569352",
      "Body" : "{\"etag\":\"4UhxAYEtK5Cb7geqY48frX7wobw\",\"key\":\"key62602\",\"label\":\"380bd1b0\",\"content_type\":null,\"value\":\"myValue49\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-11-24T16:05:56+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key62602", "380bd1b0" ]
}