{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key95601876023?label=737c091962260a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 23:26:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"gNnlHQyBCkoZT4cEWChmsMSKNua\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzExOTM=;sn=471193",
      "Body" : "{\"etag\":\"gNnlHQyBCkoZT4cEWChmsMSKNua\",\"key\":\"key95601876023\",\"label\":\"737c091962260a\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:42+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key95601876023&label=737c091962260a%2c737c091961062c",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzExOTQ=;sn=471194",
      "Body" : "{\"items\":[{\"etag\":\"16SiInaCSpKHZPKXv2Oz2z2WLRG\",\"key\":\"key95601876023\",\"label\":\"737c091961062c\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:42+00:00\"},{\"etag\":\"gNnlHQyBCkoZT4cEWChmsMSKNua\",\"key\":\"key95601876023\",\"label\":\"737c091962260a\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:42+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key95601%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzExOTQ=;sn=471194",
      "Body" : "{\"items\":[{\"etag\":\"16SiInaCSpKHZPKXv2Oz2z2WLRG\",\"key\":\"key95601876023\",\"label\":\"737c091961062c\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:42+00:00\"},{\"etag\":\"gNnlHQyBCkoZT4cEWChmsMSKNua\",\"key\":\"key95601876023\",\"label\":\"737c091962260a\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:42+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key95601876023?label=737c091962260a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 23:26:42 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"gNnlHQyBCkoZT4cEWChmsMSKNua\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzExOTY=;sn=471196",
      "Body" : "{\"etag\":\"gNnlHQyBCkoZT4cEWChmsMSKNua\",\"key\":\"key95601876023\",\"label\":\"737c091962260a\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:42+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key95601", "737c0919", "key95601876023", "737c091962260a", "737c091961062c" ]
}