{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key43243-1?label=b123a566",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 23:27:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"OAIwMudAddzOw88s1V0tN1fAzPn\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzE0NDE=;sn=471441",
      "Body" : "{\"etag\":\"OAIwMudAddzOw88s1V0tN1fAzPn\",\"key\":\"key43243-1\",\"label\":\"b123a566\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:27:10+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key43243-%2a&label=b123a566",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzE0OTA=;sn=471490",
      "Body" : "{\"items\":[{\"etag\":\"5swGKZKDeA78yTktVXxAKlRptZx\",\"key\":\"key43243-0\",\"label\":\"b123a566\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:27:10+00:00\"},{\"etag\":\"OAIwMudAddzOw88s1V0tN1fAzPn\",\"key\":\"key43243-1\",\"label\":\"b123a566\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:27:10+00:00\"},{\"etag\":\"PkwJDxZLQpf9jLmBTl8Yy6qMhhP\",\"key\":\"key43243-10\",\"label\":\"b[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key43243%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzE0OTA=;sn=471490",
      "Body" : "{\"items\":[{\"etag\":\"5swGKZKDeA78yTktVXxAKlRptZx\",\"key\":\"key43243-0\",\"label\":\"b123a566\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"la[...]
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key43243-9?label=b123a566",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 23:27:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"J9EWCOxPDZ3v9GUzNVqmjy5QA6F\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzE1NDA=;sn=471540",
      "Body" : "{\"etag\":\"J9EWCOxPDZ3v9GUzNVqmjy5QA6F\",\"key\":\"key43243-9\",\"label\":\"b123a566\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:27:10+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key43243", "b123a566" ]
}