{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key03953-1?label=e091bd57",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sat, 19 Oct 2019 00:46:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"eT6gWQBpHTUQzP3ay3xNidpgEmb\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg4ODI=;sn=448882",
      "Body" : "{\"etag\":\"eT6gWQBpHTUQzP3ay3xNidpgEmb\",\"key\":\"key03953-1\",\"label\":\"e091bd57\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:46:19+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key03953-%2a&label=e091bd57",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg5MzA=;sn=448930",
      "Body" : "{\"items\":[{\"etag\":\"68JzbrzD1uVTGTlH3kYGA2qkvCa\",\"key\":\"key03953-0\",\"label\":\"e091bd57\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:46:19+00:00\"},{\"etag\":\"eT6gWQBpHTUQzP3ay3xNidpgEmb\",\"key\":\"key03953-1\",\"label\":\"e091bd57\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:46:19+00:00\"},{\"etag\":\"F2g6nE7frqtvqmPJseykCyw43pO\",\"key\":\"key03953-10\",\"label\":\"e[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key03953%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg5MzA=;sn=448930",
      "Body" : "{\"items\":[{\"etag\":\"68JzbrzD1uVTGTlH3kYGA2qkvCa\",\"key\":\"key03953-0\",\"label\":\"e091bd57\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"la[...]
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key03953-9?label=e091bd57",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sat, 19 Oct 2019 00:46:19 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"jHZgGukBaH5oXxdWqk9Q1PWBvlU\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg5ODA=;sn=448980",
      "Body" : "{\"etag\":\"jHZgGukBaH5oXxdWqk9Q1PWBvlU\",\"key\":\"key03953-9\",\"label\":\"e091bd57\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:46:19+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key03953", "e091bd57" ]
}