{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key61421615918",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 04 Oct 2019 00:12:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"Yh6WIxCHkEAz0Q1oEZE8nQ8d9C5\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzkzNzI=;sn=379372",
      "Body" : "{\"etag\":\"Yh6WIxCHkEAz0Q1oEZE8nQ8d9C5\",\"key\":\"key61421615918\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:00+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key61421615918",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Content-Range" : "items 1-2/3",
      "retry-after" : "0",
      "StatusCode" : "206",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzkzNzQ=;sn=379374",
      "Body" : "{\"items\":[{\"etag\":\"9xQaEPSo3bzKGR3jkZBAtbLtSVk\",\"key\":\"key61421615918\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:00+00:00\"},{\"etag\":\"Yh6WIxCHkEAz0Q1oEZE8nQ8d9C5\",\"key\":\"key61421615918\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:00+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key61421%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzkzNzQ=;sn=379374",
      "Body" : "{\"items\":[{\"etag\":\"uJ6guSImHQKkfsHgrVM23mw4hXo\",\"key\":\"key61421615918\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:00+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key61421615918",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 04 Oct 2019 00:12:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"uJ6guSImHQKkfsHgrVM23mw4hXo\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzkzNzU=;sn=379375",
      "Body" : "{\"etag\":\"uJ6guSImHQKkfsHgrVM23mw4hXo\",\"key\":\"key61421615918\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:00+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key61421", "46ebb78a", "key61421615918" ]
}