{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key7696848428e",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 04 Oct 2019 00:12:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"LRIPVAtNIj8fuhEkfhKp67QhLhy\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzk0NDU=;sn=379445",
      "Body" : "{\"etag\":\"LRIPVAtNIj8fuhEkfhKp67QhLhy\",\"key\":\"key7696848428e\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:06+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key7696848428e",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzk0NDc=;sn=379447",
      "Body" : "{\"items\":[{\"etag\":\"8NQHzqX0SigXUZkq52AoFWtmUAd\",\"key\":\"key7696848428e\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:06+00:00\"},{\"etag\":\"uSWlSb8npInv5qiVbuqcQsGSFYB\",\"key\":\"key7696848428e\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:06+00:00\"},{\"etag\":\"LRIPVAtNIj8fuhEkfhKp67QhLhy\",\"key\":\"key7696848428e\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:06+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key7696848428e&$select=key%2cetag",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzk0NDc=;sn=379447",
      "Body" : "{\"items\":[{\"etag\":\"8NQHzqX0SigXUZkq52AoFWtmUAd\",\"key\":\"key7696848428e\"},{\"etag\":\"uSWlSb8npInv5qiVbuqcQsGSFYB\",\"key\":\"key7696848428e\"},{\"etag\":\"LRIPVAtNIj8fuhEkfhKp67QhLhy\",\"key\":\"key7696848428e\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key76968%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzk0NDc=;sn=379447",
      "Body" : "{\"items\":[{\"etag\":\"8NQHzqX0SigXUZkq52AoFWtmUAd\",\"key\":\"key7696848428e\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:06+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key7696848428e",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 04 Oct 2019 00:12:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"8NQHzqX0SigXUZkq52AoFWtmUAd\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzk0NDg=;sn=379448",
      "Body" : "{\"etag\":\"8NQHzqX0SigXUZkq52AoFWtmUAd\",\"key\":\"key7696848428e\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:12:06+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key76968", "1fa8e265", "key7696848428e" ]
}