{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key4353627113c",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Mon, 07 Oct 2019 05:15:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"n9IScNVcjLXZauNSZGuFHTcftZQ\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTUwODY=;sn=395086",
      "Body" : "{\"etag\":\"n9IScNVcjLXZauNSZGuFHTcftZQ\",\"key\":\"key4353627113c\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:30+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key4353627113c%2ckey43536060646",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTUwODk=;sn=395089",
      "Body" : "{\"items\":[{\"etag\":\"VmfiHb1tQtezPSYfaXZhVDlyri6\",\"key\":\"key43536060646\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:30+00:00\"},{\"etag\":\"x8ZuqNAAkZaOzWR5iIJdoGoqYzL\",\"key\":\"key43536060646\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:30+00:00\"},{\"etag\":\"rIqbQZQBg25jPwR6q8gTviYEPB1\",\"key\":\"key4353627113c\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:30+00:00\"},{\"etag\":\"n9IScNVcjLXZauNSZGuFHTcftZQ\",\"key\":\"key4353627113c\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:30+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key43536%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTUwODk=;sn=395089",
      "Body" : "{\"items\":[{\"etag\":\"VmfiHb1tQtezPSYfaXZhVDlyri6\",\"key\":\"key43536060646\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:30+00:00\"},{\"etag\":\"rIqbQZQBg25jPwR6q8gTviYEPB1\",\"key\":\"key4353627113c\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:30+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key4353627113c",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Mon, 07 Oct 2019 05:15:30 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"rIqbQZQBg25jPwR6q8gTviYEPB1\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTUwOTE=;sn=395091",
      "Body" : "{\"etag\":\"rIqbQZQBg25jPwR6q8gTviYEPB1\",\"key\":\"key4353627113c\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:30+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key43536", "b3311745", "key4353627113c", "key43536060646" ]
}