{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key49704838880",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 17:15:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"AsXrJlx0eSR1cYxuqRjra1xXXUD\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY5MDA=;sn=466900",
      "Body" : "{\"etag\":\"AsXrJlx0eSR1cYxuqRjra1xXXUD\",\"key\":\"key49704838880\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:08+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key49704838880",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY5MDQ=;sn=466904",
      "Body" : "{\"items\":[{\"etag\":\"oBlcmlUAPYUIEhBJVK9qjgtzdBn\",\"key\":\"key49704838880\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:10+00:00\"},{\"etag\":\"PFW6Zfk9o18nH8R5TLbBtVzGfn9\",\"key\":\"key49704838880\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:08+00:00\"},{\"etag\":\"AsXrJlx0eSR1cYxuqRjra1xXXUD\",\"key\":\"key49704838880\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:08+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key49704838880",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Memento-Datetime" : "Thu, 24 Oct 2019 17:15:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY5MDQ=;sn=466904",
      "Body" : "{\"items\":[{\"etag\":\"PFW6Zfk9o18nH8R5TLbBtVzGfn9\",\"key\":\"key49704838880\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:08+00:00\"},{\"etag\":\"AsXrJlx0eSR1cYxuqRjra1xXXUD\",\"key\":\"key49704838880\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:08+00:00\"}]}",
      "Link" : "</revisions?key=key49704838880>; rel=\"original\"",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key49704%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY5MDQ=;sn=466904",
      "Body" : "{\"items\":[{\"etag\":\"oBlcmlUAPYUIEhBJVK9qjgtzdBn\",\"key\":\"key49704838880\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:10+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key49704838880",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 17:15:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"oBlcmlUAPYUIEhBJVK9qjgtzdBn\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY5MDU=;sn=466905",
      "Body" : "{\"etag\":\"oBlcmlUAPYUIEhBJVK9qjgtzdBn\",\"key\":\"key49704838880\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:10+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key49704", "c5dcba43", "key49704838880" ]
}