{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key82052858927?label=a85ce4e0792005",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sat, 19 Oct 2019 00:45:54 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"ZymSngZNs5Mp1omWXu8SLhBPob2\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg2NjA=;sn=448660",
      "Body" : "{\"etag\":\"ZymSngZNs5Mp1omWXu8SLhBPob2\",\"key\":\"key82052858927\",\"label\":\"a85ce4e0792005\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:45:54+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key82052858927&label=a85ce4e0792005%2ca85ce4e029636e",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg2NjE=;sn=448661",
      "Body" : "{\"items\":[{\"etag\":\"JWf3Ywda9jPBxLMHmtOAFjRtho0\",\"key\":\"key82052858927\",\"label\":\"a85ce4e029636e\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:45:54+00:00\"},{\"etag\":\"ZymSngZNs5Mp1omWXu8SLhBPob2\",\"key\":\"key82052858927\",\"label\":\"a85ce4e0792005\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:45:54+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key82052%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg2NjE=;sn=448661",
      "Body" : "{\"items\":[{\"etag\":\"JWf3Ywda9jPBxLMHmtOAFjRtho0\",\"key\":\"key82052858927\",\"label\":\"a85ce4e029636e\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:45:54+00:00\"},{\"etag\":\"ZymSngZNs5Mp1omWXu8SLhBPob2\",\"key\":\"key82052858927\",\"label\":\"a85ce4e0792005\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:45:54+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key82052858927?label=a85ce4e0792005",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sat, 19 Oct 2019 00:45:54 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"ZymSngZNs5Mp1omWXu8SLhBPob2\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg2NjM=;sn=448663",
      "Body" : "{\"etag\":\"ZymSngZNs5Mp1omWXu8SLhBPob2\",\"key\":\"key82052858927\",\"label\":\"a85ce4e0792005\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:45:54+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key82052", "a85ce4e0", "key82052858927", "a85ce4e0792005", "a85ce4e029636e" ]
}