{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key82443?label=f11424bc",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Wed, 02 Oct 2019 20:46:35 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"XRUfWGbGM7udUwgS8dnNc91D8sl\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjM4Mjg=;sn=363828",
      "Body" : "{\"etag\":\"XRUfWGbGM7udUwgS8dnNc91D8sl\",\"key\":\"key82443\",\"label\":\"f11424bc\",\"content_type\":null,\"value\":\"myValue0\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:35+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key82443&label=f11424bc",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjM4Nzc=;sn=363877",
      "Body" : "{\"items\":[{\"etag\":\"BScUIrmX4qiYFgDChYf76F3YXwU\",\"key\":\"key82443\",\"label\":\"f11424bc\",\"content_type\":null,\"value\":\"myValue39\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:38+00:00\"},{\"etag\":\"TiSxP7hxJDoDy6J2gglHeX8QVUS\",\"key\":\"key82443\",\"label\":\"f11424bc\",\"content_type\":null,\"value\":\"myValue18\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:38+00:00\"},{\"etag\":\"6OUaq05m2Si78mL6srglFLzOIJU\",\"key\":\"key82443\",\"label\":\"f114[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key82443%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjM4Nzc=;sn=363877",
      "Body" : "{\"items\":[{\"etag\":\"BScUIrmX4qiYFgDChYf76F3YXwU\",\"key\":\"key82443\",\"label\":\"f11424bc\",\"content_type\":null,\"value\":\"myValue39\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:38+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key82443?label=f11424bc",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Wed, 02 Oct 2019 20:46:38 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"BScUIrmX4qiYFgDChYf76F3YXwU\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjM4Nzg=;sn=363878",
      "Body" : "{\"etag\":\"BScUIrmX4qiYFgDChYf76F3YXwU\",\"key\":\"key82443\",\"label\":\"f11424bc\",\"content_type\":null,\"value\":\"myValue39\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:38+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key82443", "f11424bc" ]
}