{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key73077-0?label=my-first-mylabel&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 06:08:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"dITpOkI3mt2NHaxjQCPcCmXN2g8\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQyNjg=;sn=634268",
      "Body" : "{\"etag\":\"dITpOkI3mt2NHaxjQCPcCmXN2g8\",\"key\":\"key73077-0\",\"label\":\"my-first-mylabel\",\"content_type\":null,\"value\":\"myValue2\",\"tags\":{\"tag1\":\"value1\",\"tag2\":\"value2\"},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:14+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key73077-fetch-1?label=my-first-mylabel&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 06:08:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"VZmko3aLjhAbWIC0YU5TvQ2AC7q\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQyNjk=;sn=634269",
      "Body" : "{\"etag\":\"VZmko3aLjhAbWIC0YU5TvQ2AC7q\",\"key\":\"key73077-fetch-1\",\"label\":\"my-first-mylabel\",\"content_type\":null,\"value\":\"myValue2\",\"tags\":{\"tag1\":\"value1\",\"tag2\":\"value2\"},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:14+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key73077-4?label=my-second-mylabel&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 06:08:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"dryOwKjVYBu0oCITXofriT1OLc7\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQyNzI=;sn=634272",
      "Body" : "{\"etag\":\"dryOwKjVYBu0oCITXofriT1OLc7\",\"key\":\"key73077-4\",\"label\":\"my-second-mylabel\",\"content_type\":null,\"value\":\"myValue2\",\"tags\":{\"tag1\":\"value1\",\"tag2\":\"value2\"},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:14+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key73077-fetch-5?label=my-second-mylabel&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 06:08:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"VvLqvofhMiILlu0vDHqBCFu0bDq\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQyNzM=;sn=634273",
      "Body" : "{\"etag\":\"VvLqvofhMiILlu0vDHqBCFu0bDq\",\"key\":\"key73077-fetch-5\",\"label\":\"my-second-mylabel\",\"content_type\":null,\"value\":\"myValue2\",\"tags\":{\"tag1\":\"value1\",\"tag2\":\"value2\"},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:14+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key73077-fetch-%2a&label=%2a-second%2a&api-version=1.0&$select=key%2cetag%2ccontent_type%2ctags",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQyNzU=;sn=634275",
      "Body" : "{\"items\":[{\"etag\":\"VvLqvofhMiILlu0vDHqBCFu0bDq\",\"key\":\"key73077-fetch-5\",\"content_type\":null,\"tags\":{\"tag1\":\"value1\",\"tag2\":\"value2\"}},{\"etag\":\"nw4BPlg1p5xZ1nIFJTpnkVH6pZE\",\"key\":\"key73077-fetch-7\",\"content_type\":null,\"tags\":{\"tag1\":\"value1\",\"tag2\":\"value2\"}}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key73077%2a&label=&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQyNzU=;sn=634275",
      "Body" : "{\"items\":[{\"etag\":\"dITpOkI3mt2NHaxjQCPcCmXN2g8\",\"key\":\"key73077-0\",\"label\":\"my-first-mylabel\",\"content_type\":null,\"value\":\"myValue2\",\[...]
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key73077-fetch-7?label=my-second-mylabel&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 06:08:14 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"nw4BPlg1p5xZ1nIFJTpnkVH6pZE\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQyODM=;sn=634283",
      "Body" : "{\"etag\":\"nw4BPlg1p5xZ1nIFJTpnkVH6pZE\",\"key\":\"key73077-fetch-7\",\"label\":\"my-second-mylabel\",\"content_type\":null,\"value\":\"myValue2\",\"tags\":{\"tag1\":\"value1\",\"tag2\":\"value2\"},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:14+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key73077", "d094f58b" ]
}