{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key16475393804?label=ca083b75786171",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 16:53:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"zaxpX0hbK9cCmtTQkLqargnyfV9\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjUxOTg=;sn=465198",
      "Body" : "{\"etag\":\"zaxpX0hbK9cCmtTQkLqargnyfV9\",\"key\":\"key16475393804\",\"label\":\"ca083b75786171\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T16:53:09+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key16475393804&label=ca083b75786171%2cca083b75040502",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjUxOTk=;sn=465199",
      "Body" : "{\"items\":[{\"etag\":\"ZkioMzSq4HmzyshBD4tv18mjykw\",\"key\":\"key16475393804\",\"label\":\"ca083b75040502\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T16:53:09+00:00\"},{\"etag\":\"zaxpX0hbK9cCmtTQkLqargnyfV9\",\"key\":\"key16475393804\",\"label\":\"ca083b75786171\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T16:53:09+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key16475%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjUxOTk=;sn=465199",
      "Body" : "{\"items\":[{\"etag\":\"ZkioMzSq4HmzyshBD4tv18mjykw\",\"key\":\"key16475393804\",\"label\":\"ca083b75040502\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T16:53:09+00:00\"},{\"etag\":\"zaxpX0hbK9cCmtTQkLqargnyfV9\",\"key\":\"key16475393804\",\"label\":\"ca083b75786171\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T16:53:09+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key16475393804?label=ca083b75040502",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 16:53:09 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"ZkioMzSq4HmzyshBD4tv18mjykw\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjUyMDA=;sn=465200",
      "Body" : "{\"etag\":\"ZkioMzSq4HmzyshBD4tv18mjykw\",\"key\":\"key16475393804\",\"label\":\"ca083b75040502\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T16:53:09+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key16475", "ca083b75", "key16475393804", "ca083b75786171", "ca083b75040502" ]
}