{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key48292403733",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 08 Oct 2019 18:00:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"wpj7ZXjqTcubP4HbZ10LwT1Vp9x\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0MDIxODI=;sn=402182",
      "Body" : "{\"etag\":\"wpj7ZXjqTcubP4HbZ10LwT1Vp9x\",\"key\":\"key48292403733\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T18:00:06+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key48292403733%2ckey48292813744",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0MDIxODU=;sn=402185",
      "Body" : "{\"items\":[{\"etag\":\"qKaUvb3qgi3wZUR8BZCCPnEKttY\",\"key\":\"key48292813744\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T18:00:07+00:00\"},{\"etag\":\"XqqXnOgD7YmBgHWHbWvt9VrCD85\",\"key\":\"key48292813744\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T18:00:06+00:00\"},{\"etag\":\"WA64za3qyJqWAKQklrfnAbfAjNB\",\"key\":\"key48292403733\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T18:00:06+00:00\"},{\"etag\":\"wpj7ZXjqTcubP4HbZ10LwT1Vp9x\",\"key\":\"key48292403733\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T18:00:06+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key48292%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0MDIxODU=;sn=402185",
      "Body" : "{\"items\":[{\"etag\":\"WA64za3qyJqWAKQklrfnAbfAjNB\",\"key\":\"key48292403733\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T18:00:06+00:00\"},{\"etag\":\"qKaUvb3qgi3wZUR8BZCCPnEKttY\",\"key\":\"key48292813744\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T18:00:07+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key48292403733",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 08 Oct 2019 18:00:06 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"WA64za3qyJqWAKQklrfnAbfAjNB\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0MDIxODc=;sn=402187",
      "Body" : "{\"etag\":\"WA64za3qyJqWAKQklrfnAbfAjNB\",\"key\":\"key48292403733\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T18:00:06+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key48292", "9f93ea5f", "key48292403733", "key48292813744" ]
}