{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key99304-0?label=16fa6f19",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Wed, 02 Oct 2019 20:46:54 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"C8Mie18fbd3g3qocMDz7085nlFK\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjQwMTk=;sn=364019",
      "Body" : "{\"etag\":\"C8Mie18fbd3g3qocMDz7085nlFK\",\"key\":\"key99304-0\",\"label\":\"16fa6f19\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:54+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key99304-%2a&label=16fa6f19",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjQwNjg=;sn=364068",
      "Body" : "{\"items\":[{\"etag\":\"C8Mie18fbd3g3qocMDz7085nlFK\",\"key\":\"key99304-0\",\"label\":\"16fa6f19\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:54+00:00\"},{\"etag\":\"zcSDaCY0xo37i8oN4HkbYWWfn5q\",\"key\":\"key99304-1\",\"label\":\"16fa6f19\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:54+00:00\"},{\"etag\":\"CGUPVEjzGLIRA5mqwNHETnDX9Lx\",\"key\":\"key99304-10\",\"label\":\"1[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key99304%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjQwNjg=;sn=364068",
      "Body" : "{\"items\":[{\"etag\":\"C8Mie18fbd3g3qocMDz7085nlFK\",\"key\":\"key99304-0\",\"label\":\"16fa6f19\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"la[...]
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key99304-9?label=16fa6f19",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Wed, 02 Oct 2019 20:46:54 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"rNOH45oAkFJoU1p6qs3x0jTGFvx\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjQxMTg=;sn=364118",
      "Body" : "{\"etag\":\"rNOH45oAkFJoU1p6qs3x0jTGFvx\",\"key\":\"key99304-9\",\"label\":\"16fa6f19\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:54+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key99304", "16fa6f19" ]
}