{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key7369705266a?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sun, 24 Nov 2019 16:05:46 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"xpRfz2Zm2QQ7yEgumkqi6mjIjEv\"",
      "Sync-Token" : "zAJw6V16=MDotMSM1NjkyNzI=;sn=569272",
      "Body" : "{\"etag\":\"xpRfz2Zm2QQ7yEgumkqi6mjIjEv\",\"key\":\"key7369705266a\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-11-24T16:05:46+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key7369705266a%2ckey73697608997&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM1NjkyNzM=;sn=569273",
      "Body" : "{\"items\":[{\"etag\":\"xpRfz2Zm2QQ7yEgumkqi6mjIjEv\",\"key\":\"key7369705266a\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-11-24T16:05:46+00:00\"},{\"etag\":\"ErzhAGttntuPtQb6Ncso19GqLLs\",\"key\":\"key73697608997\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-11-24T16:05:46+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key73697%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM1NjkyNzM=;sn=569273",
      "Body" : "{\"items\":[{\"etag\":\"xpRfz2Zm2QQ7yEgumkqi6mjIjEv\",\"key\":\"key7369705266a\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-11-24T16:05:46+00:00\"},{\"etag\":\"ErzhAGttntuPtQb6Ncso19GqLLs\",\"key\":\"key73697608997\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-11-24T16:05:46+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key73697608997?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sun, 24 Nov 2019 16:05:46 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"ErzhAGttntuPtQb6Ncso19GqLLs\"",
      "Sync-Token" : "zAJw6V16=MDotMSM1NjkyNzU=;sn=569275",
      "Body" : "{\"etag\":\"ErzhAGttntuPtQb6Ncso19GqLLs\",\"key\":\"key73697608997\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-11-24T16:05:46+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key73697", "29d5688c", "key7369705266a", "key73697608997" ]
}