{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key13531-0?label=my-first-mylabel",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 23:26:50 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"oCWKxGkf0JR3W3EsjvWkhltx3sN\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzEyNjY=;sn=471266",
      "Body" : "{\"etag\":\"oCWKxGkf0JR3W3EsjvWkhltx3sN\",\"key\":\"key13531-0\",\"label\":\"my-first-mylabel\",\"content_type\":null,\"value\":\"myValue2\",\"tags\":{\"tag1\":\"value1\",\"tag2\":\"value2\"},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:50+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key13531-fetch-1?label=my-first-mylabel",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 23:26:50 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"eYIUc8dIVt09iAfummK1NbHFOMz\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzEyNjg=;sn=471268",
      "Body" : "{\"etag\":\"eYIUc8dIVt09iAfummK1NbHFOMz\",\"key\":\"key13531-fetch-1\",\"label\":\"my-first-mylabel\",\"content_type\":null,\"value\":\"myValue2\",\"tags\":{\"tag1\":\"value1\",\"tag2\":\"value2\"},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:50+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key13531-fetch-5?label=my-second-mylabel",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 23:26:50 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"F2BA5nwMUSXlLkyUCXhTxRv9Zju\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzEyNjk=;sn=471269",
      "Body" : "{\"etag\":\"F2BA5nwMUSXlLkyUCXhTxRv9Zju\",\"key\":\"key13531-fetch-5\",\"label\":\"my-second-mylabel\",\"content_type\":null,\"value\":\"myValue2\",\"tags\":{\"tag1\":\"value1\",\"tag2\":\"value2\"},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:50+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key13531-6?label=my-second-mylabel",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 23:26:50 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"uYBPxGnPcKZlVOeP3yM0A0lTkTg\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzEyNzE=;sn=471271",
      "Body" : "{\"etag\":\"uYBPxGnPcKZlVOeP3yM0A0lTkTg\",\"key\":\"key13531-6\",\"label\":\"my-second-mylabel\",\"content_type\":null,\"value\":\"myValue2\",\"tags\":{\"tag1\":\"value1\",\"tag2\":\"value2\"},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:50+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key13531-fetch-%2a&label=%2a-second%2a&$select=key%2cetag%2ccontent_type%2ctags",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzEyNzM=;sn=471273",
      "Body" : "{\"items\":[{\"etag\":\"F2BA5nwMUSXlLkyUCXhTxRv9Zju\",\"key\":\"key13531-fetch-5\",\"content_type\":null,\"tags\":{\"tag1\":\"value1\",\"tag2\":\"value2\"}},{\"etag\":\"A3vTE1njzjSvIRu2XFydDCaZZOW\",\"key\":\"key13531-fetch-7\",\"content_type\":null,\"tags\":{\"tag1\":\"value1\",\"tag2\":\"value2\"}}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key13531%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzEyNzM=;sn=471273",
      "Body" : "{\"items\":[{\"etag\":\"oCWKxGkf0JR3W3EsjvWkhltx3sN\",\"key\":\"key13531-0\",\"label\":\"my-first-mylabel\",\"content_type\":null,\"value\":\"myValue2\",\"tags\":{\"tag1\":\"val[...]
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key13531-fetch-7?label=my-second-mylabel",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 23:26:50 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"A3vTE1njzjSvIRu2XFydDCaZZOW\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzEyODE=;sn=471281",
      "Body" : "{\"etag\":\"A3vTE1njzjSvIRu2XFydDCaZZOW\",\"key\":\"key13531-fetch-7\",\"label\":\"my-second-mylabel\",\"content_type\":null,\"value\":\"myValue2\",\"tags\":{\"tag1\":\"value1\",\"tag2\":\"value2\"},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:50+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key13531", "eaacd144" ]
}