{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key34677856427?label=lbl36138",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Mon, 07 Oct 2019 05:15:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"4KdgqTdIyJKXiBfa3kinZnHtTLX\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTQ5Njk=;sn=394969",
      "Body" : "{\"etag\":\"4KdgqTdIyJKXiBfa3kinZnHtTLX\",\"key\":\"key34677856427\",\"label\":\"lbl36138\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:26+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key34677856427&label=lbl36138",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTQ5Njk=;sn=394969",
      "Body" : "{\"items\":[{\"etag\":\"4KdgqTdIyJKXiBfa3kinZnHtTLX\",\"key\":\"key34677856427\",\"label\":\"lbl36138\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:26+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key34677856427",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTQ5Njk=;sn=394969",
      "Body" : "{\"items\":[{\"etag\":\"4KdgqTdIyJKXiBfa3kinZnHtTLX\",\"key\":\"key34677856427\",\"label\":\"lbl36138\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:26+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key34677%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTQ5Njk=;sn=394969",
      "Body" : "{\"items\":[{\"etag\":\"4KdgqTdIyJKXiBfa3kinZnHtTLX\",\"key\":\"key34677856427\",\"label\":\"lbl36138\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:26+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key34677856427?label=lbl36138",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Mon, 07 Oct 2019 05:15:26 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"4KdgqTdIyJKXiBfa3kinZnHtTLX\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzOTQ5NzA=;sn=394970",
      "Body" : "{\"etag\":\"4KdgqTdIyJKXiBfa3kinZnHtTLX\",\"key\":\"key34677856427\",\"label\":\"lbl36138\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-07T05:15:26+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key34677", "d8177986", "key34677856427", "lbl36138" ]
}