{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key64805?label=ee50730d",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sat, 19 Oct 2019 00:46:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"kdiKJOVmNn14EWvsd3OHuHcloA2\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg3NDE=;sn=448741",
      "Body" : "{\"etag\":\"kdiKJOVmNn14EWvsd3OHuHcloA2\",\"key\":\"key64805\",\"label\":\"ee50730d\",\"content_type\":null,\"value\":\"myValue1\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:46:02+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key64805&label=ee50730d",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg3OTA=;sn=448790",
      "Body" : "{\"items\":[{\"etag\":\"nv0XQMpZNdxwKcOhsC3fUj3waR1\",\"key\":\"key64805\",\"label\":\"ee50730d\",\"content_type\":null,\"value\":\"myValue38\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:46:08+00:00\"},{\"etag\":\"vyLD0iADXXT193PwQqpv1dDrQUd\",\"key\":\"key64805\",\"label\":\"ee50730d\",\"content_type\":null,\"value\":\"myValue46\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:46:08+00:00\"},{\"etag\":\"1iHrqjvAExB4yJpzf8rbGhUTD0O\",\"key\":\"key64805\",\"label\":\"ee50[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key64805%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg3OTA=;sn=448790",
      "Body" : "{\"items\":[{\"etag\":\"nv0XQMpZNdxwKcOhsC3fUj3waR1\",\"key\":\"key64805\",\"label\":\"ee50730d\",\"content_type\":null,\"value\":\"myValue38\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:46:08+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key64805?label=ee50730d",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sat, 19 Oct 2019 00:46:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"nv0XQMpZNdxwKcOhsC3fUj3waR1\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg3OTE=;sn=448791",
      "Body" : "{\"etag\":\"nv0XQMpZNdxwKcOhsC3fUj3waR1\",\"key\":\"key64805\",\"label\":\"ee50730d\",\"content_type\":null,\"value\":\"myValue38\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:46:08+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key64805", "ee50730d" ]
}