{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key5801548220d",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 08 Oct 2019 17:59:50 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"ivHhA72t0dmeIN8726hS5gF203i\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0MDE5MzQ=;sn=401934",
      "Body" : "{\"etag\":\"ivHhA72t0dmeIN8726hS5gF203i\",\"key\":\"key5801548220d\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T17:59:50+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key5801548220d",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Content-Range" : "items 1-2/3",
      "retry-after" : "0",
      "StatusCode" : "206",
      "Sync-Token" : "zAJw6V16=MDotMSM0MDE5MzY=;sn=401936",
      "Body" : "{\"items\":[{\"etag\":\"1iLyZWySb4gf6zmIgkCFqYcl3Yo\",\"key\":\"key5801548220d\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T17:59:50+00:00\"},{\"etag\":\"ivHhA72t0dmeIN8726hS5gF203i\",\"key\":\"key5801548220d\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T17:59:50+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key58015%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0MDE5MzY=;sn=401936",
      "Body" : "{\"items\":[{\"etag\":\"cJxQ12haevyhSvOSPiQtdMJCqTd\",\"key\":\"key5801548220d\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T17:59:50+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key5801548220d",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 08 Oct 2019 17:59:50 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"cJxQ12haevyhSvOSPiQtdMJCqTd\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0MDE5Mzc=;sn=401937",
      "Body" : "{\"etag\":\"cJxQ12haevyhSvOSPiQtdMJCqTd\",\"key\":\"key5801548220d\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T17:59:50+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key58015", "ed2ecb03", "key5801548220d" ]
}