{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key5259539810b?label=lbl35135",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Wed, 02 Oct 2019 20:46:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"LCgVMP0zWr3YD1uIfD9oknsNbiw\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjQwMDc=;sn=364007",
      "Body" : "{\"etag\":\"LCgVMP0zWr3YD1uIfD9oknsNbiw\",\"key\":\"key5259539810b\",\"label\":\"lbl35135\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:51+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key5259539810b&label=lbl35135",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjQwMDc=;sn=364007",
      "Body" : "{\"items\":[{\"etag\":\"LCgVMP0zWr3YD1uIfD9oknsNbiw\",\"key\":\"key5259539810b\",\"label\":\"lbl35135\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:51+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key5259539810b",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjQwMDc=;sn=364007",
      "Body" : "{\"items\":[{\"etag\":\"LCgVMP0zWr3YD1uIfD9oknsNbiw\",\"key\":\"key5259539810b\",\"label\":\"lbl35135\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:51+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key52595%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjQwMDc=;sn=364007",
      "Body" : "{\"items\":[{\"etag\":\"LCgVMP0zWr3YD1uIfD9oknsNbiw\",\"key\":\"key5259539810b\",\"label\":\"lbl35135\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:51+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key5259539810b?label=lbl35135",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Wed, 02 Oct 2019 20:46:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"LCgVMP0zWr3YD1uIfD9oknsNbiw\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNjQwMDg=;sn=364008",
      "Body" : "{\"etag\":\"LCgVMP0zWr3YD1uIfD9oknsNbiw\",\"key\":\"key5259539810b\",\"label\":\"lbl35135\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-02T20:46:51+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key52595", "aeeea7d1", "key5259539810b", "lbl35135" ]
}