{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://hemant-appconfiguration.azconfig.io/kv/key74257?label=badac284",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 25 Jul 2019 23:52:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"p0MB3FVqBFZjVNLxsswPOLhAhbw\"",
      "Sync-Token" : "zAJw6V16=NDotMSMzNTU4NzQ=;sn=355874",
      "Body" : "{\"etag\":\"p0MB3FVqBFZjVNLxsswPOLhAhbw\",\"key\":\"key74257\",\"label\":\"badac284\",\"content_type\":null,\"value\":\"myValue0\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-07-25T23:52:56+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://hemant-appconfiguration.azconfig.io/revisions?key=key74257&label=badac284",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=NDotMSMzNTU5MjM=;sn=355923",
      "Body" : "{\"items\":[{\"etag\":\"sOK6GPuWPLaVj9h4PWvdIADBa7E\",\"key\":\"key74257\",\"label\":\"badac284\",\"content_type\":null,\"value\":\"myValue49\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-07-25T23:52:59+00:00\"},{\"etag\":\"TpKeD6knT84Bs1w9jurOrBpdSIV\",\"key\":\"key74257\",\"label\":\"badac284\",\"content_type\":null,\"value\":\"myValue48\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-07-25T23:52:59+00:00\"},{\"etag\":\"mwq67iQg4n3SJNxi2N84nLHVAjp\",\"key\":\"key74257\",\"label\":\"bada[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://hemant-appconfiguration.azconfig.io/kv?key=key74257%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=NDotMSMzNTU5MjM=;sn=355923",
      "Body" : "{\"items\":[{\"etag\":\"sOK6GPuWPLaVj9h4PWvdIADBa7E\",\"key\":\"key74257\",\"label\":\"badac284\",\"content_type\":null,\"value\":\"myValue49\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-07-25T23:52:59+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://hemant-appconfiguration.azconfig.io/kv/key74257?label=badac284",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 25 Jul 2019 23:52:59 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"sOK6GPuWPLaVj9h4PWvdIADBa7E\"",
      "Sync-Token" : "zAJw6V16=NDotMSMzNTU5MjQ=;sn=355924",
      "Body" : "{\"etag\":\"sOK6GPuWPLaVj9h4PWvdIADBa7E\",\"key\":\"key74257\",\"label\":\"badac284\",\"content_type\":null,\"value\":\"myValue49\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-07-25T23:52:59+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    }
  } ],
  "variables" : [ "key74257", "badac284" ]
}