{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key9180695492e?label=lbl14497",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 23:27:04 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"nX8Ik81QnLKrvZKSHB0a9mOyc97\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzE0MDE=;sn=471401",
      "Body" : "{\"etag\":\"nX8Ik81QnLKrvZKSHB0a9mOyc97\",\"key\":\"key9180695492e\",\"label\":\"lbl14497\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:27:04+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key9180695492e&label=lbl14497",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzE0MDE=;sn=471401",
      "Body" : "{\"items\":[{\"etag\":\"nX8Ik81QnLKrvZKSHB0a9mOyc97\",\"key\":\"key9180695492e\",\"label\":\"lbl14497\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:27:04+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key9180695492e",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzE0MDE=;sn=471401",
      "Body" : "{\"items\":[{\"etag\":\"nX8Ik81QnLKrvZKSHB0a9mOyc97\",\"key\":\"key9180695492e\",\"label\":\"lbl14497\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:27:04+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key91806%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzE0MDE=;sn=471401",
      "Body" : "{\"items\":[{\"etag\":\"nX8Ik81QnLKrvZKSHB0a9mOyc97\",\"key\":\"key9180695492e\",\"label\":\"lbl14497\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:27:04+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key9180695492e?label=lbl14497",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 23:27:04 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"nX8Ik81QnLKrvZKSHB0a9mOyc97\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzE0MDI=;sn=471402",
      "Body" : "{\"etag\":\"nX8Ik81QnLKrvZKSHB0a9mOyc97\",\"key\":\"key9180695492e\",\"label\":\"lbl14497\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:27:04+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key91806", "f50c4422", "key9180695492e", "lbl14497" ]
}