{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key66035?label=6ecf10bb&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 06:08:05 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"5CNndkbklR9aJ9DhUFSzvzB4Ugg\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQyMDM=;sn=634203",
      "Body" : "{\"etag\":\"5CNndkbklR9aJ9DhUFSzvzB4Ugg\",\"key\":\"key66035\",\"label\":\"6ecf10bb\",\"content_type\":null,\"value\":\"myValue0\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:05+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key66035&label=6ecf10bb&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQyNTI=;sn=634252",
      "Body" : "{\"items\":[{\"etag\":\"rjqrXge9TEGul57z1XmwHJ8oRWj\",\"key\":\"key66035\",\"label\":\"6ecf10bb\",\"content_type\":null,\"value\":\"myValue49\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:08+00:00\"},{\"etag\":\"uMXPMfKsDsOOqRlKAuoW03jlcbU\",\"key\":\"key66035\",\"label\":\"6ecf10bb\",\"content_type\":null,\"value\":\"myValue48\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:08+00:00\"},{\"etag\":\"0Yc2hTRUX8ng5926i0rmOE83Wsv\",\"key\":\"key66035\",\"label\":\"6ecf[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key66035%2a&label=&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQyNTI=;sn=634252",
      "Body" : "{\"items\":[{\"etag\":\"rjqrXge9TEGul57z1XmwHJ8oRWj\",\"key\":\"key66035\",\"label\":\"6ecf10bb\",\"content_type\":null,\"value\":\"myValue49\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:08+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key66035?label=6ecf10bb&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 06:08:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"rjqrXge9TEGul57z1XmwHJ8oRWj\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQyNTM=;sn=634253",
      "Body" : "{\"etag\":\"rjqrXge9TEGul57z1XmwHJ8oRWj\",\"key\":\"key66035\",\"label\":\"6ecf10bb\",\"content_type\":null,\"value\":\"myValue49\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:08+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key66035", "6ecf10bb" ]
}