{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key6179529147a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 17:14:53 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"9XhRwSAcCgfi0kKtK5Evon7SNZz\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY3Mzg=;sn=466738",
      "Body" : "{\"etag\":\"9XhRwSAcCgfi0kKtK5Evon7SNZz\",\"key\":\"key6179529147a\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:14:53+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key6179529147a%2ckey61795106506",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY3Mzk=;sn=466739",
      "Body" : "{\"items\":[{\"etag\":\"bqirgCosMzph6vFc9O34k0qG2XN\",\"key\":\"key61795106506\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:14:53+00:00\"},{\"etag\":\"9XhRwSAcCgfi0kKtK5Evon7SNZz\",\"key\":\"key6179529147a\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:14:53+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key61795%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY3Mzk=;sn=466739",
      "Body" : "{\"items\":[{\"etag\":\"bqirgCosMzph6vFc9O34k0qG2XN\",\"key\":\"key61795106506\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:14:53+00:00\"},{\"etag\":\"9XhRwSAcCgfi0kKtK5Evon7SNZz\",\"key\":\"key6179529147a\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:14:53+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key6179529147a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 17:14:53 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"9XhRwSAcCgfi0kKtK5Evon7SNZz\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY3NDE=;sn=466741",
      "Body" : "{\"etag\":\"9XhRwSAcCgfi0kKtK5Evon7SNZz\",\"key\":\"key6179529147a\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:14:53+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key61795", "fbdb6ab7", "key6179529147a", "key61795106506" ]
}