{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key7672013143f?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 31 Jan 2020 17:07:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"OZPCYrSs2Bi60neCYdqODFClcfe\"",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY1NzQ=;sn=806574",
      "Body" : "{\"etag\":\"OZPCYrSs2Bi60neCYdqODFClcfe\",\"key\":\"key7672013143f\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:47+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key7672013143f&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"items\":[{\"etag\":\"S9jt6YpRORwZOCINPlos2XouI4y\",\"key\":\"key7672013143f\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:47+00:00\"},{\"etag\":\"g7PCRPYfPOFfuVPFblpYlRTwJoU\",\"key\":\"key7672013143f\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:47+00:00\"},{\"etag\":\"OZPCYrSs2Bi60neCYdqODFClcfe\",\"key\":\"key7672013143f\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:47+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key7672013143f&api-version=1.0&$select=key%2cetag",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"items\":[{\"etag\":\"S9jt6YpRORwZOCINPlos2XouI4y\",\"key\":\"key7672013143f\"},{\"etag\":\"g7PCRPYfPOFfuVPFblpYlRTwJoU\",\"key\":\"key7672013143f\"},{\"etag\":\"OZPCYrSs2Bi60neCYdqODFClcfe\",\"key\":\"key7672013143f\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key76720%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY1NzY=;sn=806576",
      "Body" : "{\"items\":[{\"etag\":\"S9jt6YpRORwZOCINPlos2XouI4y\",\"key\":\"key7672013143f\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:47+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key7672013143f?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 31 Jan 2020 17:07:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"S9jt6YpRORwZOCINPlos2XouI4y\"",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY1Nzc=;sn=806577",
      "Body" : "{\"etag\":\"S9jt6YpRORwZOCINPlos2XouI4y\",\"key\":\"key7672013143f\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:47+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key76720", "e57feac3", "6a67b14a", "key7672013143f" ]
}