{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key88345?label=20c38374",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 16:53:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"qUSTHTeqrAAIFOnVCq36ypakCdq\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjUzMzU=;sn=465335",
      "Body" : "{\"etag\":\"qUSTHTeqrAAIFOnVCq36ypakCdq\",\"key\":\"key88345\",\"label\":\"20c38374\",\"content_type\":null,\"value\":\"myValue1\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T16:53:23+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key88345&label=20c38374",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjUzODQ=;sn=465384",
      "Body" : "{\"items\":[{\"etag\":\"hN6rq0Dq3ngeOdSfVz2OPtRaS4c\",\"key\":\"key88345\",\"label\":\"20c38374\",\"content_type\":null,\"value\":\"myValue47\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T16:53:27+00:00\"},{\"etag\":\"CbriJE3mjqUaFbtp6BCfGsWpehJ\",\"key\":\"key88345\",\"label\":\"20c38374\",\"content_type\":null,\"value\":\"myValue31\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T16:53:26+00:00\"},{\"etag\":\"ZDL2ZEmpdx9sGUx2JTfjRglawNo\",\"key\":\"key88345\",\"label\":\"20c3[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key88345%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjUzODQ=;sn=465384",
      "Body" : "{\"items\":[{\"etag\":\"hN6rq0Dq3ngeOdSfVz2OPtRaS4c\",\"key\":\"key88345\",\"label\":\"20c38374\",\"content_type\":null,\"value\":\"myValue47\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T16:53:27+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key88345?label=20c38374",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 16:53:27 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"hN6rq0Dq3ngeOdSfVz2OPtRaS4c\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjUzODU=;sn=465385",
      "Body" : "{\"etag\":\"hN6rq0Dq3ngeOdSfVz2OPtRaS4c\",\"key\":\"key88345\",\"label\":\"20c38374\",\"content_type\":null,\"value\":\"myValue47\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T16:53:27+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key88345", "20c38374" ]
}