{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key0211359924d",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sat, 19 Oct 2019 00:45:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"9X11lrPtrxcHrxNxvhFuYDW44C1\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg2Njg=;sn=448668",
      "Body" : "{\"etag\":\"9X11lrPtrxcHrxNxvhFuYDW44C1\",\"key\":\"key0211359924d\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:45:55+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key0211359924d",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg2NzA=;sn=448670",
      "Body" : "{\"items\":[{\"etag\":\"j7UldKx9vwuBDQd2JlYMJwC3Juo\",\"key\":\"key0211359924d\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:45:57+00:00\"},{\"etag\":\"CVyJlOohLcGSWF9NGgBaWaBfyFb\",\"key\":\"key0211359924d\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:45:55+00:00\"},{\"etag\":\"9X11lrPtrxcHrxNxvhFuYDW44C1\",\"key\":\"key0211359924d\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:45:55+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key0211359924d",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Memento-Datetime" : "Sat, 19 Oct 2019 00:45:55 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg2NzA=;sn=448670",
      "Body" : "{\"items\":[{\"etag\":\"CVyJlOohLcGSWF9NGgBaWaBfyFb\",\"key\":\"key0211359924d\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:45:55+00:00\"}]}",
      "Link" : "</kv?key=key0211359924d>; rel=\"original\"",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key02113%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg2NzA=;sn=448670",
      "Body" : "{\"items\":[{\"etag\":\"j7UldKx9vwuBDQd2JlYMJwC3Juo\",\"key\":\"key0211359924d\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:45:57+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key0211359924d",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sat, 19 Oct 2019 00:45:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"j7UldKx9vwuBDQd2JlYMJwC3Juo\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg2NzE=;sn=448671",
      "Body" : "{\"etag\":\"j7UldKx9vwuBDQd2JlYMJwC3Juo\",\"key\":\"key0211359924d\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:45:57+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key02113", "e7c9d96e", "key0211359924d" ]
}