{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://azconfig-java.azconfig.io/kv?key=key49375280725&label=%2a8862bf94059305%2a&api-version=1.0&$select=key%2cetag%2ccontent_type%2ctags",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "{\"type\":\"https://azconfig.io/errors/invalid-argument\",\"title\":\"Invalid request parameter 'label'\",\"name\":\"label\",\"detail\":\"label(0): Suffix and Full Text search is not supported\",\"pos\":0,\"status\":400}",
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azconfig-java.azconfig.io/kv?key=key49375%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"items\":[]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key49375", "8862bf94", "key49375280725", "8862bf94059305" ]
}