{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key11483102299?label=a917bc97555296&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 06:08:04 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"kroj4JqREAGLeWcJgHGPYBauwIN\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQxODk=;sn=634189",
      "Body" : "{\"etag\":\"kroj4JqREAGLeWcJgHGPYBauwIN\",\"key\":\"key11483102299\",\"label\":\"a917bc97555296\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:04+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key11483102299&label=a917bc97555296%2ca917bc97262796&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQxOTI=;sn=634192",
      "Body" : "{\"items\":[{\"etag\":\"Fx3Dg68tejnxqmSwdCZE5YUV9jr\",\"key\":\"key11483102299\",\"label\":\"a917bc97262796\",\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:04+00:00\"},{\"etag\":\"Ql8rFhymyhgKcG8ZG5APuT8afiT\",\"key\":\"key11483102299\",\"label\":\"a917bc97262796\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:04+00:00\"},{\"etag\":\"pqeiZa3aH6dW9dUZjNN9Fg9EXpq\",\"key\":\"key11483102299\",\"label\":\"a917bc97555296\",\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:04+00:00\"},{\"etag\":\"kroj4JqREAGLeWcJgHGPYBauwIN\",\"key\":\"key11483102299\",\"label\":\"a917bc97555296\",\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:04+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key11483%2a&label=&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQxOTI=;sn=634192",
      "Body" : "{\"items\":[{\"etag\":\"Fx3Dg68tejnxqmSwdCZE5YUV9jr\",\"key\":\"key11483102299\",\"label\":\"a917bc97262796\",\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:04+00:00\"},{\"etag\":\"pqeiZa3aH6dW9dUZjNN9Fg9EXpq\",\"key\":\"key11483102299\",\"label\":\"a917bc97555296\",\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:04+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key11483102299?label=a917bc97555296&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 06:08:04 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"pqeiZa3aH6dW9dUZjNN9Fg9EXpq\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQxOTQ=;sn=634194",
      "Body" : "{\"etag\":\"pqeiZa3aH6dW9dUZjNN9Fg9EXpq\",\"key\":\"key11483102299\",\"label\":\"a917bc97555296\",\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:04+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key11483", "a917bc97", "key11483102299", "a917bc97555296", "a917bc97262796" ]
}