{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key88243?label=6edf5ac3&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 13 Dec 2019 00:50:46 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"6UqcRivHD9mEET4ZhLTGHqTso3b\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTUzNzg=;sn=655378",
      "Body" : "{\"etag\":\"6UqcRivHD9mEET4ZhLTGHqTso3b\",\"key\":\"key88243\",\"label\":\"6edf5ac3\",\"content_type\":null,\"value\":\"myValue0\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:50:46+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key88243&label=6edf5ac3&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU0Mjc=;sn=655427",
      "Body" : "{\"items\":[{\"etag\":\"vlAy4F6raWuOhInuTlha4FYLRhm\",\"key\":\"key88243\",\"label\":\"6edf5ac3\",\"content_type\":null,\"value\":\"myValue49\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:50:49+00:00\"},{\"etag\":\"S5THfgSde44OkPr0BzK5uHiXieV\",\"key\":\"key88243\",\"label\":\"6edf5ac3\",\"content_type\":null,\"value\":\"myValue48\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:50:49+00:00\"},{\"etag\":\"MZUhXkNRpG4fYgeu6fwEkM0kMQx\",\"key\":\"key88243\",\"label\":\"6edf[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key88243%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU0Mjc=;sn=655427",
      "Body" : "{\"items\":[{\"etag\":\"vlAy4F6raWuOhInuTlha4FYLRhm\",\"key\":\"key88243\",\"label\":\"6edf5ac3\",\"content_type\":null,\"value\":\"myValue49\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:50:49+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key88243?label=6edf5ac3&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 13 Dec 2019 00:50:49 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"vlAy4F6raWuOhInuTlha4FYLRhm\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU0Mjg=;sn=655428",
      "Body" : "{\"etag\":\"vlAy4F6raWuOhInuTlha4FYLRhm\",\"key\":\"key88243\",\"label\":\"6edf5ac3\",\"content_type\":null,\"value\":\"myValue49\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:50:49+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key88243", "6edf5ac3" ]
}