{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key10963556302",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 23:26:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"8TH8dr2rGDzpV1QoENgB24BGBGg\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzEzMzc=;sn=471337",
      "Body" : "{\"etag\":\"8TH8dr2rGDzpV1QoENgB24BGBGg\",\"key\":\"key10963556302\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:56+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key10963556302",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzEzMzk=;sn=471339",
      "Body" : "{\"items\":[{\"etag\":\"GiVWaL1L2qzIBgf19IKhZv4GoCr\",\"key\":\"key10963556302\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:56+00:00\"},{\"etag\":\"KDl2OqXime6d369PAIbQK5Fjbbx\",\"key\":\"key10963556302\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:56+00:00\"},{\"etag\":\"8TH8dr2rGDzpV1QoENgB24BGBGg\",\"key\":\"key10963556302\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:56+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key10963556302&$select=key%2cetag",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzEzMzk=;sn=471339",
      "Body" : "{\"items\":[{\"etag\":\"GiVWaL1L2qzIBgf19IKhZv4GoCr\",\"key\":\"key10963556302\"},{\"etag\":\"KDl2OqXime6d369PAIbQK5Fjbbx\",\"key\":\"key10963556302\"},{\"etag\":\"8TH8dr2rGDzpV1QoENgB24BGBGg\",\"key\":\"key10963556302\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key10963%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzEzMzk=;sn=471339",
      "Body" : "{\"items\":[{\"etag\":\"GiVWaL1L2qzIBgf19IKhZv4GoCr\",\"key\":\"key10963556302\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:56+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key10963556302",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 23:26:56 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"GiVWaL1L2qzIBgf19IKhZv4GoCr\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzEzNDA=;sn=471340",
      "Body" : "{\"etag\":\"GiVWaL1L2qzIBgf19IKhZv4GoCr\",\"key\":\"key10963556302\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:56+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key10963", "4e9444b1", "key10963556302" ]
}