{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key18744906618?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 17:52:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"0WnHkarNxHJQZnaQZ14G511aK1K\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzczNjQ=;sn=637364",
      "Body" : "{\"etag\":\"0WnHkarNxHJQZnaQZ14G511aK1K\",\"key\":\"key18744906618\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T17:52:31+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key18744906618%2ckey1874426982b&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzczNjc=;sn=637367",
      "Body" : "{\"items\":[{\"etag\":\"QdTPPs5ScC9vX42yR834YgqHbN0\",\"key\":\"key1874426982b\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T17:52:31+00:00\"},{\"etag\":\"MdwOBRT5ehTehPUz3nuDufSzByX\",\"key\":\"key1874426982b\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T17:52:31+00:00\"},{\"etag\":\"k2BCzB1qFRZuNve4V1q5a0W2LZ8\",\"key\":\"key18744906618\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T17:52:31+00:00\"},{\"etag\":\"0WnHkarNxHJQZnaQZ14G511aK1K\",\"key\":\"key18744906618\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T17:52:31+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key18744%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzczNjc=;sn=637367",
      "Body" : "{\"items\":[{\"etag\":\"QdTPPs5ScC9vX42yR834YgqHbN0\",\"key\":\"key1874426982b\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T17:52:31+00:00\"},{\"etag\":\"k2BCzB1qFRZuNve4V1q5a0W2LZ8\",\"key\":\"key18744906618\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T17:52:31+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key18744906618?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 17:52:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"k2BCzB1qFRZuNve4V1q5a0W2LZ8\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzczNjk=;sn=637369",
      "Body" : "{\"etag\":\"k2BCzB1qFRZuNve4V1q5a0W2LZ8\",\"key\":\"key18744906618\",\"label\":null,\"content_type\":null,\"value\":\"updatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T17:52:31+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key18744", "e2ee7e03", "key18744906618", "key1874426982b" ]
}