{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key08312?label=ac4e5888",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 17:14:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"JKUWdJeRkVSgqusR7YYQNoK1khj\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY3NzQ=;sn=466774",
      "Body" : "{\"etag\":\"JKUWdJeRkVSgqusR7YYQNoK1khj\",\"key\":\"key08312\",\"label\":\"ac4e5888\",\"content_type\":null,\"value\":\"myValue0\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:14:57+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/revisions?key=key08312&label=ac4e5888",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY4MjM=;sn=466823",
      "Body" : "{\"items\":[{\"etag\":\"g2E2ReOedkP9kq1WtrGpYeNr184\",\"key\":\"key08312\",\"label\":\"ac4e5888\",\"content_type\":null,\"value\":\"myValue43\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:00+00:00\"},{\"etag\":\"3yok0zqzIFbLjj7Xl21wCOXsJ26\",\"key\":\"key08312\",\"label\":\"ac4e5888\",\"content_type\":null,\"value\":\"myValue41\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:00+00:00\"},{\"etag\":\"34pLHj593MCVCz0eJALmrPV1H8Z\",\"key\":\"key08312\",\"label\":\"ac4e[...]
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key08312%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY4MjM=;sn=466823",
      "Body" : "{\"items\":[{\"etag\":\"g2E2ReOedkP9kq1WtrGpYeNr184\",\"key\":\"key08312\",\"label\":\"ac4e5888\",\"content_type\":null,\"value\":\"myValue43\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:00+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key08312?label=ac4e5888",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 17:15:00 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"g2E2ReOedkP9kq1WtrGpYeNr184\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY4MjQ=;sn=466824",
      "Body" : "{\"etag\":\"g2E2ReOedkP9kq1WtrGpYeNr184\",\"key\":\"key08312\",\"label\":\"ac4e5888\",\"content_type\":null,\"value\":\"myValue43\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:00+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key08312", "ac4e5888" ]
}