{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key85486623866?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Mon, 03 Feb 2020 17:33:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"ABpivewGUgw3Kc9D13vmI2IG66S\"",
      "Sync-Token" : "zAJw6V16=MDotMSM4MTYzNDM=;sn=816343",
      "Body" : "{\"etag\":\"ABpivewGUgw3Kc9D13vmI2IG66S\",\"key\":\"key85486623866\",\"label\":null,\"content_type\":null,\"value\":\"cb86f3e5532261\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-02-03T17:33:47+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key85486623866&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM4MTYzNDM=;sn=816343",
      "Body" : "{\"items\":[{\"etag\":\"ABpivewGUgw3Kc9D13vmI2IG66S\",\"key\":\"key85486623866\",\"label\":null,\"content_type\":null,\"value\":\"cb86f3e5532261\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-02-03T17:33:47+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key85486%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"items\":[]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key85486", "fe083313", "cb86f3e5", "key85486623866", "cb86f3e5532261" ]
}