{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key9981011774c?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 13 Dec 2019 00:51:03 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"hGOjcr1f8j0gAdFOSW5mU3JTafl\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU1NzM=;sn=655573",
      "Body" : "{\"etag\":\"hGOjcr1f8j0gAdFOSW5mU3JTafl\",\"key\":\"key9981011774c\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:03+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key99810%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU1NzQ=;sn=655574",
      "Body" : "{\"items\":[{\"etag\":\"hGOjcr1f8j0gAdFOSW5mU3JTafl\",\"key\":\"key9981011774c\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:03+00:00\"},{\"etag\":\"4Vu2o1d2ZAYFBNKT4JtzvKuwcqF\",\"key\":\"key9981011774c-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:03+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key9981011774c-1?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 13 Dec 2019 00:51:03 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"4Vu2o1d2ZAYFBNKT4JtzvKuwcqF\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2NTU1NzY=;sn=655576",
      "Body" : "{\"etag\":\"4Vu2o1d2ZAYFBNKT4JtzvKuwcqF\",\"key\":\"key9981011774c-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-13T00:51:03+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key99810", "87d44712", "key9981011774c" ]
}