{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key47849054780?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 31 Jan 2020 17:07:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"cGHlxpNexpVOZ83KEhp3MDj7DqF\"",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY1Nzg=;sn=806578",
      "Body" : "{\"etag\":\"cGHlxpNexpVOZ83KEhp3MDj7DqF\",\"key\":\"key47849054780\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:47+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key47849054780?label=efb8e032708740&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 31 Jan 2020 17:07:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"L9lwimdDbs7wIAfFvdadVrPQFHJ\"",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY1Nzk=;sn=806579",
      "Body" : "{\"etag\":\"L9lwimdDbs7wIAfFvdadVrPQFHJ\",\"key\":\"key47849054780\",\"label\":\"efb8e032708740\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:47+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key47849%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY1Nzk=;sn=806579",
      "Body" : "{\"items\":[{\"etag\":\"cGHlxpNexpVOZ83KEhp3MDj7DqF\",\"key\":\"key47849054780\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:47+00:00\"},{\"etag\":\"L9lwimdDbs7wIAfFvdadVrPQFHJ\",\"key\":\"key47849054780\",\"label\":\"efb8e032708740\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:47+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key47849054780?label=efb8e032708740&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 31 Jan 2020 17:07:47 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"L9lwimdDbs7wIAfFvdadVrPQFHJ\"",
      "Sync-Token" : "zAJw6V16=MDotMSM4MDY1ODE=;sn=806581",
      "Body" : "{\"etag\":\"L9lwimdDbs7wIAfFvdadVrPQFHJ\",\"key\":\"key47849054780\",\"label\":\"efb8e032708740\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2020-01-31T17:07:47+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key47849", "efb8e032", "f853f23d", "key47849054780", "efb8e032708740" ]
}