{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key4970900887c",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 23:26:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"x3yrzLVeM4xCGzMGt9HyzM6nS1U\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzEzNDE=;sn=471341",
      "Body" : "{\"etag\":\"x3yrzLVeM4xCGzMGt9HyzM6nS1U\",\"key\":\"key4970900887c\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:57+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key4970900887c?label=5b1ad5cc224410",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 23:26:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"QfBxNKMJcsPZTmmsUK8Hgdx2djQ\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzEzNDI=;sn=471342",
      "Body" : "{\"etag\":\"QfBxNKMJcsPZTmmsUK8Hgdx2djQ\",\"key\":\"key4970900887c\",\"label\":\"5b1ad5cc224410\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:57+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key49709%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzEzNDI=;sn=471342",
      "Body" : "{\"items\":[{\"etag\":\"x3yrzLVeM4xCGzMGt9HyzM6nS1U\",\"key\":\"key4970900887c\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:57+00:00\"},{\"etag\":\"QfBxNKMJcsPZTmmsUK8Hgdx2djQ\",\"key\":\"key4970900887c\",\"label\":\"5b1ad5cc224410\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:57+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key4970900887c",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 23:26:57 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"x3yrzLVeM4xCGzMGt9HyzM6nS1U\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NzEzNDQ=;sn=471344",
      "Body" : "{\"etag\":\"x3yrzLVeM4xCGzMGt9HyzM6nS1U\",\"key\":\"key4970900887c\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T23:26:57+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key49709", "5b1ad5cc", "key4970900887c", "5b1ad5cc224410" ]
}