{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key7803082479a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "412"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key7803082479a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 17:15:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"QXoLwCvvbrt768zDGyi7Z53NkRr\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY4OTQ=;sn=466894",
      "Body" : "{\"etag\":\"QXoLwCvvbrt768zDGyi7Z53NkRr\",\"key\":\"key7803082479a\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:08+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key7803082479a?label=b14fcbbd058915",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "412"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key78030%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY4OTc=;sn=466897",
      "Body" : "{\"items\":[{\"etag\":\"WUsfx1XDgyDrdy2GeXHagc95net\",\"key\":\"key7803082479a\",\"label\":null,\"content_type\":null,\"value\":\"myUpdateValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:08+00:00\"},{\"etag\":\"c9JReMUg61koyyEt5IIhmxmfyW0\",\"key\":\"key7803082479a\",\"label\":\"b14fcbbd058915\",\"content_type\":null,\"value\":\"myUpdateValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:08+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key7803082479a?label=b14fcbbd058915",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 24 Oct 2019 17:15:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"c9JReMUg61koyyEt5IIhmxmfyW0\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NjY4OTk=;sn=466899",
      "Body" : "{\"etag\":\"c9JReMUg61koyyEt5IIhmxmfyW0\",\"key\":\"key7803082479a\",\"label\":\"b14fcbbd058915\",\"content_type\":null,\"value\":\"myUpdateValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-24T17:15:08+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key78030", "b14fcbbd", "key7803082479a", "b14fcbbd058915" ]
}