{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key4993790692e?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 17:52:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"yZFUtHqd1pLzMHG0wrKC529eJaL\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzczMzE=;sn=637331",
      "Body" : "{\"etag\":\"yZFUtHqd1pLzMHG0wrKC529eJaL\",\"key\":\"key4993790692e\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T17:52:23+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key49937%2a&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzczMzI=;sn=637332",
      "Body" : "{\"items\":[{\"etag\":\"yZFUtHqd1pLzMHG0wrKC529eJaL\",\"key\":\"key4993790692e\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T17:52:23+00:00\"},{\"etag\":\"KVdMIgg30GywnZPyV8mmgUYgMb8\",\"key\":\"key4993790692e-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T17:52:23+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key4993790692e-1?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 17:52:23 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"KVdMIgg30GywnZPyV8mmgUYgMb8\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzczMzQ=;sn=637334",
      "Body" : "{\"etag\":\"KVdMIgg30GywnZPyV8mmgUYgMb8\",\"key\":\"key4993790692e-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T17:52:23+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key49937", "80feb864", "key4993790692e" ]
}