{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key61070782042?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "412"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key61070782042?api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 06:08:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"DmLkEJViSV3eeJWNlvlF4ALm0s5\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQ0MDQ=;sn=634404",
      "Body" : "{\"etag\":\"DmLkEJViSV3eeJWNlvlF4ALm0s5\",\"key\":\"key61070782042\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:24+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key61070782042?label=cb78fad7030337&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "412"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key61070%2a&label=&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQ0MDc=;sn=634407",
      "Body" : "{\"items\":[{\"etag\":\"O2aoi7JFzhixqgSJEPsXcjqYYnz\",\"key\":\"key61070782042\",\"label\":null,\"content_type\":null,\"value\":\"myUpdateValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:24+00:00\"},{\"etag\":\"cdxPVcrg9lNozyNJgja5fdD36mz\",\"key\":\"key61070782042\",\"label\":\"cb78fad7030337\",\"content_type\":null,\"value\":\"myUpdateValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:24+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key61070782042?label=cb78fad7030337&api-version=1.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 10 Dec 2019 06:08:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"cdxPVcrg9lNozyNJgja5fdD36mz\"",
      "Sync-Token" : "zAJw6V16=MDotMSM2MzQ0MDk=;sn=634409",
      "Body" : "{\"etag\":\"cdxPVcrg9lNozyNJgja5fdD36mz\",\"key\":\"key61070782042\",\"label\":\"cb78fad7030337\",\"content_type\":null,\"value\":\"myUpdateValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-12-10T06:08:24+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key61070", "cb78fad7", "key61070782042", "cb78fad7030337" ]
}