{
  "networkCallRecords" : [ {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key2275341318f",
    "Headers" : {
=======
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key30509299985",
    "Headers" : {
>>>>>>> 037a38e8b5... Preview 4: Final API Review, Update java doc and sample (#5724)
      "Content-Type" : "application/json"
    },
    "Response" : {
<<<<<<< HEAD
      "Last-Modified" : "Sat, 19 Oct 2019 00:46:01 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Date" : "Sat, 19 Oct 2019 00:46:01 GMT",
      "Access-Control-Allow-Headers" : "DNT, X-CustomHeader, Keep-Alive, User-Agent, X-Requested-With, If-Modified-Since, Cache-Control, Content-Type, Authorization, x-ms-client-request-id, x-ms-content-sha256, x-ms-date, host, Accept, Accept-Datetime, Date, If-Match, If-None-Match, Sync-Token, x-ms-return-client-request-id, ETag, Last-Modified, Link, Memento-Datetime, x-ms-retry-after, x-ms-request-id, WWW-Authenticate",
      "x-ms-correlation-request-id" : "da644871-f8c6-4a6f-aad3-1a5dc41a0131",
      "Strict-Transport-Security" : "max-age=15724800; includeSubDomains",
      "Access-Control-Expose-Headers" : "DNT, X-CustomHeader, Keep-Alive, User-Agent, X-Requested-With, If-Modified-Since, Cache-Control, Content-Type, Authorization, x-ms-client-request-id, x-ms-content-sha256, x-ms-date, host, Accept, Accept-Datetime, Date, If-Match, If-None-Match, Sync-Token, x-ms-return-client-request-id, ETag, Last-Modified, Link, Memento-Datetime, x-ms-retry-after, x-ms-request-id, WWW-Authenticate",
      "ETag" : "\"gej4rrESwosET2Eo0gcQ2uPwvSy\"",
      "Access-Control-Allow-Credentials" : "true",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg3MzE=;sn=448731",
      "x-ms-request-id" : "da644871-f8c6-4a6f-aad3-1a5dc41a0131",
      "Body" : "{\"etag\":\"gej4rrESwosET2Eo0gcQ2uPwvSy\",\"key\":\"key2275341318f\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:46:01+00:00\"}",
      "x-ms-client-request-id" : "f8624044-8876-4421-adcf-0d79e4ca1543",
=======
      "Last-Modified" : "Tue, 08 Oct 2019 17:59:50 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Date" : "Tue, 08 Oct 2019 17:59:50 GMT",
      "Access-Control-Allow-Headers" : "DNT, X-CustomHeader, Keep-Alive, User-Agent, X-Requested-With, If-Modified-Since, Cache-Control, Content-Type, Authorization, x-ms-client-request-id, x-ms-content-sha256, x-ms-date, host, Accept, Accept-Datetime, Date, If-Match, If-None-Match, Sync-To[...]
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/locks/key2275341318f",
    "Headers" : {
=======
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/locks/key30509299985",
    "Headers" : {
>>>>>>> 037a38e8b5... Preview 4: Final API Review, Update java doc and sample (#5724)
      "Content-Type" : "application/json"
    },
    "Response" : {
<<<<<<< HEAD
      "Last-Modified" : "Sat, 19 Oct 2019 00:46:01 GMT",
      "retry-after" : "0",
     [...]
[...]
  }, {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key22753%2a",
    "Headers" : {
=======
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key30509%2a",
    "Headers" : {
>>>>>>> 037a38e8b5... Preview 4: Final API Review, Update java doc and sample (#5724)
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "Date" : "Sat, 19 Oct 2019 00:46:[...]
[...]
