{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key2275341318f",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sat, 19 Oct 2019 00:46:01 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"gej4rrESwosET2Eo0gcQ2uPwvSy\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg3MzE=;sn=448731",
      "Body" : "{\"etag\":\"gej4rrESwosET2Eo0gcQ2uPwvSy\",\"key\":\"key2275341318f\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:46:01+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/locks/key2275341318f",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sat, 19 Oct 2019 00:46:01 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"CYP7pgSCGF7HXALQD6zSw5uWGST\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg3MzI=;sn=448732",
      "Body" : "{\"etag\":\"CYP7pgSCGF7HXALQD6zSw5uWGST\",\"key\":\"key2275341318f\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":true,\"last_modified\":\"2019-10-19T00:46:01+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key2275341318f",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "409",
      "Body" : "{\"type\":\"https://azconfig.io/errors/key-locked\",\"title\":\"Modifing key 'key2275341318f' is not allowed\",\"name\":\"key2275341318f\",\"detail\":\"The key is read-only. To allow modification unlock it first.\",\"status\":409}",
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key22753%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg3MzI=;sn=448732",
      "Body" : "{\"items\":[{\"etag\":\"CYP7pgSCGF7HXALQD6zSw5uWGST\",\"key\":\"key2275341318f\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":true,\"last_modified\":\"2019-10-19T00:46:01+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key2275341318f",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Sat, 19 Oct 2019 00:46:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"kwiKPgPh79PwVECMJUHfioCi2kv\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg3MzQ=;sn=448734",
      "Body" : "{\"etag\":\"kwiKPgPh79PwVECMJUHfioCi2kv\",\"key\":\"key2275341318f\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:46:02+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key22753", "be827f6b", "key2275341318f" ]
}