{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key62186236238",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 18 Oct 2019 23:38:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"mOqD54M4d15ciereAOoWBmpDHqm\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDU4NTM=;sn=445853",
      "Body" : "{\"etag\":\"mOqD54M4d15ciereAOoWBmpDHqm\",\"key\":\"key62186236238\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-18T23:38:18+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key62186%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDU4NTQ=;sn=445854",
      "Body" : "{\"items\":[{\"etag\":\"mOqD54M4d15ciereAOoWBmpDHqm\",\"key\":\"key62186236238\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-18T23:38:18+00:00\"},{\"etag\":\"0CEPtcA1CDQdx1qlnW0N1qo9rvG\",\"key\":\"key62186236238-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-18T23:38:18+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key62186236238-1",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 18 Oct 2019 23:38:18 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"0CEPtcA1CDQdx1qlnW0N1qo9rvG\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDU4NTY=;sn=445856",
      "Body" : "{\"etag\":\"0CEPtcA1CDQdx1qlnW0N1qo9rvG\",\"key\":\"key62186236238-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-18T23:38:18+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key62186", "62827678", "key62186236238" ]
}