{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key0885623471a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 08 Oct 2019 17:59:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"cr658u6Gg460YYzJ8rsRiMf70oN\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0MDE4NzE=;sn=401871",
      "Body" : "{\"etag\":\"cr658u6Gg460YYzJ8rsRiMf70oN\",\"key\":\"key0885623471a\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T17:59:41+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key08856%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0MDE4NzI=;sn=401872",
      "Body" : "{\"items\":[{\"etag\":\"cr658u6Gg460YYzJ8rsRiMf70oN\",\"key\":\"key0885623471a\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T17:59:41+00:00\"},{\"etag\":\"HrM6Rd0ZKkNGxuTNPJuObI5l01L\",\"key\":\"key0885623471a-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T17:59:41+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key0885623471a-1",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 08 Oct 2019 17:59:41 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"HrM6Rd0ZKkNGxuTNPJuObI5l01L\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0MDE4NzQ=;sn=401874",
      "Body" : "{\"etag\":\"HrM6Rd0ZKkNGxuTNPJuObI5l01L\",\"key\":\"key0885623471a-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T17:59:41+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key08856", "3b127a46", "key0885623471a" ]
}