{
  "networkCallRecords" : [ {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key26160938028",
    "Headers" : {
=======
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key8417899698e",
    "Headers" : {
>>>>>>> 037a38e8b5... Preview 4: Final API Review, Update java doc and sample (#5724)
      "Content-Type" : "application/json"
    },
    "Response" : {
<<<<<<< HEAD
      "Last-Modified" : "Sat, 19 Oct 2019 00:46:16 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Date" : "Sat, 19 Oct 2019 00:46:16 GMT",
      "Access-Control-Allow-Headers" : "DNT, X-CustomHeader, Keep-Alive, User-Agent, X-Requested-With, If-Modified-Since, Cache-Control, Content-Type, Authorization, x-ms-client-request-id, x-ms-content-sha256, x-ms-date, host, Accept, Accept-Datetime, Date, If-Match, If-None-Match, Sync-Token, x-ms-return-client-request-id, ETag, Last-Modified, Link, Memento-Datetime, x-ms-retry-after, x-ms-request-id, WWW-Authenticate",
      "x-ms-correlation-request-id" : "d650c547-1745-4b0e-a662-a8e24d88e38d",
      "Strict-Transport-Security" : "max-age=15724800; includeSubDomains",
      "Access-Control-Expose-Headers" : "DNT, X-CustomHeader, Keep-Alive, User-Agent, X-Requested-With, If-Modified-Since, Cache-Control, Content-Type, Authorization, x-ms-client-request-id, x-ms-content-sha256, x-ms-date, host, Accept, Accept-Datetime, Date, If-Match, If-None-Match, Sync-Token, x-ms-return-client-request-id, ETag, Last-Modified, Link, Memento-Datetime, x-ms-retry-after, x-ms-request-id, WWW-Authenticate",
      "ETag" : "\"3wbaUkQ8zQcL5LsGXePoDQjtcwS\"",
      "Access-Control-Allow-Credentials" : "true",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg4NjU=;sn=448865",
      "x-ms-request-id" : "d650c547-1745-4b0e-a662-a8e24d88e38d",
      "Body" : "{\"etag\":\"3wbaUkQ8zQcL5LsGXePoDQjtcwS\",\"key\":\"key26160938028\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:46:16+00:00\"}",
      "x-ms-client-request-id" : "ad3e00a0-5917-4680-91c8-81bd1bef2470",
=======
      "Last-Modified" : "Tue, 08 Oct 2019 18:00:03 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Date" : "Tue, 08 Oct 2019 18:00:02 GMT",
      "Access-Control-Allow-Headers" : "DNT, X-CustomHeader, Keep-Alive, User-Agent, X-Requested-With, If-Modified-Since, Cache-Control, Content-Type, Authorization, x-ms-client-request-id, x-ms-content-sha256, x-ms-date, host, Accept, Accept-Datetime, Date, If-Match, If-None-Match, Sync-To[...]
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key26160938028?label=22ed9fef271509",
    "Headers" : {
=======
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key8417899698e?label=747f664b538537",
    "Headers" : {
>>>>>>> 037a38e8b5... Preview 4: Final API Review, Update java doc and sample (#5724)
      "Content-Type" : "application/json"
    },
    "Response" : {
<<<<<<< HEAD
      "Last-Modified" : "Sat, 19 Oct 2019 00:46:16 GM[...]
  }, {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key26160%2a",
    "Headers" : {
=======
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key84178%2a",
    "Headers" : {
>>>>>>> 037a38e8b5... Preview 4: Final API Review, Update java doc and sample (#5724)
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "Date" : "Sat, 19 Oct 2019 00:46:[...]
[...]
