{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key3984601455a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 03 Oct 2019 07:23:05 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"WaUOd8HsJF46go8LfRaXM9MN4N1\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzI5ODI=;sn=372982",
      "Body" : "{\"etag\":\"WaUOd8HsJF46go8LfRaXM9MN4N1\",\"key\":\"key3984601455a\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-03T07:23:05+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key39846%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzI5ODM=;sn=372983",
      "Body" : "{\"items\":[{\"etag\":\"WaUOd8HsJF46go8LfRaXM9MN4N1\",\"key\":\"key3984601455a\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-03T07:23:05+00:00\"},{\"etag\":\"qLk8QyWgUU9HaSs1srRZ9l38NS7\",\"key\":\"key3984601455a-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-03T07:23:05+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key3984601455a-1",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Thu, 03 Oct 2019 07:23:05 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"qLk8QyWgUU9HaSs1srRZ9l38NS7\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzI5ODU=;sn=372985",
      "Body" : "{\"etag\":\"qLk8QyWgUU9HaSs1srRZ9l38NS7\",\"key\":\"key3984601455a-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-03T07:23:05+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key39846", "71057372", "key3984601455a" ]
}