{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key04396155290",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "412"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key04396155290",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 08 Oct 2019 17:59:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"xqe1cg7bfaDtpCB8ZEbE4Nb43sp\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0MDE5NDI=;sn=401942",
      "Body" : "{\"etag\":\"xqe1cg7bfaDtpCB8ZEbE4Nb43sp\",\"key\":\"key04396155290\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T17:59:51+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key04396155290?label=21e67f5a084033",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "412"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key04396%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSM0MDE5NDU=;sn=401945",
      "Body" : "{\"items\":[{\"etag\":\"QbewLzRHYBLyyYfimSOIOiiac9u\",\"key\":\"key04396155290\",\"label\":null,\"content_type\":null,\"value\":\"myUpdateValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T17:59:51+00:00\"},{\"etag\":\"J9CwFVPAQYE9smEg9341MzAtQ1U\",\"key\":\"key04396155290\",\"label\":\"21e67f5a084033\",\"content_type\":null,\"value\":\"myUpdateValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T17:59:51+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key04396155290?label=21e67f5a084033",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Tue, 08 Oct 2019 17:59:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"J9CwFVPAQYE9smEg9341MzAtQ1U\"",
      "Sync-Token" : "zAJw6V16=MDotMSM0MDE5NDg=;sn=401948",
      "Body" : "{\"etag\":\"J9CwFVPAQYE9smEg9341MzAtQ1U\",\"key\":\"key04396155290\",\"label\":\"21e67f5a084033\",\"content_type\":null,\"value\":\"myUpdateValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-08T17:59:51+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key04396", "21e67f5a", "key04396155290", "21e67f5a084033" ]
}