{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key6641282653d",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 04 Oct 2019 00:11:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"sLD9YTwNBWF2fR44sEOOkg3wL8X\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzkzMDk=;sn=379309",
      "Body" : "{\"etag\":\"sLD9YTwNBWF2fR44sEOOkg3wL8X\",\"key\":\"key6641282653d\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:11:51+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key66412%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzkzMTA=;sn=379310",
      "Body" : "{\"items\":[{\"etag\":\"sLD9YTwNBWF2fR44sEOOkg3wL8X\",\"key\":\"key6641282653d\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:11:51+00:00\"},{\"etag\":\"acPZruNPsJscimJ67Ytp2JQHm1p\",\"key\":\"key6641282653d-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:11:51+00:00\"}]}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key6641282653d-1",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "Last-Modified" : "Fri, 04 Oct 2019 00:11:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "\"acPZruNPsJscimJ67Ytp2JQHm1p\"",
      "Sync-Token" : "zAJw6V16=MDotMSMzNzkzMTI=;sn=379312",
      "Body" : "{\"etag\":\"acPZruNPsJscimJ67Ytp2JQHm1p\",\"key\":\"key6641282653d-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-04T00:11:51+00:00\"}",
      "Content-Type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "key66412", "5242b7b3", "key6641282653d" ]
}