{
  "networkCallRecords" : [ {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key1767045048a",
    "Headers" : {
=======
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key04396155290",
    "Headers" : {
>>>>>>> 037a38e8b5... Preview 4: Final API Review, Update java doc and sample (#5724)
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "412"
<<<<<<< HEAD
      "Date" : "Sat, 19 Oct 2019 00:46:01 GMT",
      "Access-Control-Allow-Headers" : "DNT, X-CustomHeader, Keep-Alive, User-Agent, X-Requested-With, If-Modified-Since, Cache-Control, Content-Type, Authorization, x-ms-client-request-id, x-ms-content-sha256, x-ms-date, host, Accept, Accept-Datetime, Date, If-Match, If-None-Match, Sync-Token, x-ms-return-client-request-id, ETag, Last-Modified, Link, Memento-Datetime, x-ms-retry-after, x-ms-request-id, WWW-Authenticate",
      "x-ms-correlation-request-id" : "05f5c6bc-a157-4af1-adee-2b3eeb0d2c99",
=======
      "Date" : "Tue, 08 Oct 2019 17:59:50 GMT",
      "Access-Control-Allow-Headers" : "DNT, X-CustomHeader, Keep-Alive, User-Agent, X-Requested-With, If-Modified-Since, Cache-Control, Content-Type, Authorization, x-ms-client-request-id, x-ms-content-sha256, x-ms-date, host, Accept, Accept-Datetime, Date, If-Match, If-None-Match, Sync-Token, x-ms-return-client-request-id, ETag, Last-Modified, Link, Memento-Datetime, x-ms-retry-after, x-ms-request-id, WWW-Authenticate",
      "x-ms-correlation-request-id" : "9af0e48c-80b6-4250-91a8-ff2efc8b87f8",
>>>>>>> 037a38e8b5... Preview 4: Final API Review, Update java doc and sample (#5724)
      "Strict-Transport-Security" : "max-age=15724800; includeSubDomains",
      "Access-Control-Expose-Headers" : "DNT, X-CustomHeader, Keep-Alive, User-Agent, X-Requested-With, If-Modified-Since, Cache-Control, Content-Type, Authorization, x-ms-client-request-id, x-ms-content-sha256, x-ms-date, host, Accept, Accept-Datetime, Date, If-Match, If-None-Match, Sync-Token, x-ms-return-client-request-id, ETag, Last-Modified, Link, Memento-Datetime, x-ms-retry-after, x-ms-request-id, WWW-Authenticate",
      "Access-Control-Allow-Credentials" : "true",
      "Content-Length" : "0",
<<<<<<< HEAD
      "x-ms-request-id" : "05f5c6bc-a157-4af1-adee-2b3eeb0d2c99",
      "x-ms-client-request-id" : "cf5fa12a-986c-471e-b344-b2f5c4a63d4f"
=======
      "x-ms-request-id" : "9af0e48c-80b6-4250-91a8-ff2efc8b87f8",
      "x-ms-client-request-id" : "343e13bf-5d73-46c4-92e5-954f76ca57a9"
>>>>>>> 037a38e8b5... Preview 4: Final API Review, Update java doc and sample (#5724)
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key1767045048a",
    "Headers" : {
=======
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key04396155290",
    "Headers" : {
>>>>>>> 037a38e8b5... Preview 4: Final API Review, Update java doc and sample (#5724)
      "Content-Type" : "application/json"
    },
    "Response" : {
<<<<<<< HEAD
      "Last-Modified" : "Sat, 19 Oct 2019 00:46:02 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Date" : "Sat, 19 Oct 2019 00:46:01 GMT",
      "Access-Control-Allow-Headers" : "DNT, X-CustomHeader, Keep-Alive, User-Agent, X-Requested-With, If-Modified-Since, Cache-Control, Content-Type, Authorization, x-ms-client-request-id, x-ms-content-sha256, x-ms-date, host, Accept, Accept-Datetime, Date, If-Match, If-None-Match, Sync-Token, x-ms-return-client-request-id, ETag, Last-Modified, Link, Memento-Datetime, x-ms-retry-after, x-ms-request-id, WWW-Authenticate",
      "x-ms-correlation-request-id" : "58f29efc-703e-4d21-8775-913138c74996",
      "Strict-Transport-Security" : "max-age=15724800; includeSubDomains",
      "Access-Control-Expose-Headers" : "DNT, X-CustomHeader, Keep-Alive, User-Agent, X-Requested-With, If-Modified-Since, Cache-Control, Content-Type, Authorization, x-ms-client-request-id, x-ms-content-sha256, x-ms-date, host, Accept, Accept-Datetime, Date, If-Match, If-None-Match, Sync-Token, x-ms-return-client-request-id, ETag, Last-Modified, Link, Memento-Datetime, x-ms-retry-after, x-ms-request-id, WWW-Authenticate",
      "ETag" : "\"JMokzMY9bt3pSz55DXuft4E3UPl\"",
      "Access-Control-Allow-Credentials" : "true",
      "Sync-Token" : "zAJw6V16=MDotMSM0NDg3MzU=;sn=448735",
      "x-ms-request-id" : "58f29efc-703e-4d21-8775-913138c74996",
      "Body" : "{\"etag\":\"JMokzMY9bt3pSz55DXuft4E3UPl\",\"key\":\"key1767045048a\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-10-19T00:46:02+00:00\"}",
      "x-ms-client-request-id" : "f6c24256-0ee8-4670-9944-430dbac3081d",
=======
      "Last-Modified" : "Tue, 08 Oct 2019 17:59:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Date" : "Tue, 08 Oct 2019 17:59:50 GMT",
      "Access-Control-Allow-Headers" : "DNT, X-CustomHeader, Keep-Alive, User-Agent, X-Requested-With, If-Modified-Since, Cache-Control, Content-Type, Authorization, x-ms-client-request-id, x-ms-content-sha256, x-ms-date, host[...]
[...]
  }, {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key1767045048a?label=bb8fa5fd705404",
    "Headers" : {
=======
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv/key04396155290?label=21e67f5a084033",
    "Headers" : {
>>>>>>> 037a38e8b5... Preview 4: Final API Review, Update java doc and sample (#5724)
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "412"
<<<<<<< HEAD[...]
[...]
  }, {
    "Method" : "GET",
<<<<<<< HEAD
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key17670%2a",
    "Headers" : {
=======
    "Uri" : "https://appconfigtestshawnfang.azconfig.io/kv?key=key04396%2a",
    "Headers" : {
>>>>>>> 037a38e8b5... Preview 4: Final API Review, Update java doc and sample (#5724)
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200"
<<<<<<< HEAD
      "Date" : "Sat, 19 Oct 2019 00:46:[...]
[...]
