// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.vmwarecloudsimple.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.Get;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.PagedFlux;
import com.azure.core.http.rest.PagedIterable;
import com.azure.core.http.rest.PagedResponse;
import com.azure.core.http.rest.PagedResponseBase;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.core.util.logging.ClientLogger;
import com.azure.resourcemanager.vmwarecloudsimple.fluent.CustomizationPoliciesClient;
import com.azure.resourcemanager.vmwarecloudsimple.fluent.models.CustomizationPolicyInner;
import com.azure.resourcemanager.vmwarecloudsimple.models.CustomizationPoliciesListResponse;
import reactor.core.publisher.Mono;

/** An instance of this class provides access to all the operations defined in CustomizationPoliciesClient. */
public final class CustomizationPoliciesClientImpl implements CustomizationPoliciesClient {
    private final ClientLogger logger = new ClientLogger(CustomizationPoliciesClientImpl.class);

    /** The proxy service used to perform REST calls. */
    private final CustomizationPoliciesService service;

    /** The service client containing this operation class. */
    private final VMwareCloudSimpleImpl client;

    /**
     * Initializes an instance of CustomizationPoliciesClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    CustomizationPoliciesClientImpl(VMwareCloudSimpleImpl client) {
        this.service =
            RestProxy
                .create(CustomizationPoliciesService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for VMwareCloudSimpleCustomizationPolicies to be used by the proxy
     * service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "VMwareCloudSimpleCus")
    private interface CustomizationPoliciesService {
        @Headers({"Content-Type: application/json"})
        @Get(
            "/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds"
                + "/{pcName}/customizationPolicies")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<CustomizationPoliciesListResponse>> list(
            @HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("regionId") String regionId,
            @PathParam("pcName") String pcName,
            @QueryParam("api-version") String apiVersion,
            @QueryParam("$filter") String filter,
            @HeaderParam("Accept") String accept,
            Context context);

        @Headers({"Content-Type: application/json"})
        @Get(
            "/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds"
                + "/{pcName}/customizationPolicies/{customizationPolicyName}")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<CustomizationPolicyInner>> get(
            @HostParam("$host") String endpoint,
            @QueryParam("api-version") String apiVersion,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("regionId") String regionId,
            @PathParam("pcName") String pcName,
            @PathParam("customizationPolicyName") String customizationPolicyName,
            @HeaderParam("Accept") String accept,
            Context context);

        @Headers({"Content-Type: application/json"})
        @Get("{nextLink}")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<CustomizationPoliciesListResponse>> listNext(
            @PathParam(value = "nextLink", encoded = true) String nextLink,
            @HostParam("$host") String endpoint,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Returns list of customization policies in region for private cloud.
     *
     * @param regionId The region Id (westus, eastus).
     * @param pcName The private cloud name.
     * @param filter The filter to apply on the list operation. only type is allowed here as a filter e.g. $filter=type
     *     eq 'xxxx'.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return list of customization polices response model.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<PagedResponse<CustomizationPolicyInner>> listSinglePageAsync(
        String regionId, String pcName, String filter) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (regionId == null) {
            return Mono.error(new IllegalArgumentException("Parameter regionId is required and cannot be null."));
        }
        if (pcName == null) {
            return Mono.error(new IllegalArgumentException("Parameter pcName is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .list(
                            this.client.getEndpoint(),
                            this.client.getSubscriptionId(),
                            regionId,
                            pcName,
                            this.client.getApiVersion(),
                            filter,
                            accept,
                            context))
            .<PagedResponse<CustomizationPolicyInner>>map(
                res ->
                    new PagedResponseBase<>(
                        res.getRequest(),
                        res.getStatusCode(),
                        res.getHeaders(),
                        res.getValue().value(),
                        res.getValue().nextLink(),
                        null))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Returns list of customization policies in region for private cloud.
     *
     * @param regionId The region Id (westus, eastus).
     * @param pcName The private cloud name.
     * @param filter The filter to apply on the list operation. only type is allowed here as a filter e.g. $filter=type
     *     eq 'xxxx'.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return list of customization polices response model.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<PagedResponse<CustomizationPolicyInner>> listSinglePageAsync(
        String regionId, String pcName, String filter, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (regionId == null) {
            return Mono.error(new IllegalArgumentException("Parameter regionId is required and cannot be null."));
        }
        if (pcName == null) {
            return Mono.error(new IllegalArgumentException("Parameter pcName is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .list(
                this.client.getEndpoint(),
                this.client.getSubscriptionId(),
                regionId,
                pcName,
                this.client.getApiVersion(),
                filter,
                accept,
                context)
            .map(
                res ->
                    new PagedResponseBase<>(
                        res.getRequest(),
                        res.getStatusCode(),
                        res.getHeaders(),
                        res.getValue().value(),
                        res.getValue().nextLink(),
                        null));
    }

    /**
     * Returns list of customization policies in region for private cloud.
     *
     * @param regionId The region Id (westus, eastus).
     * @param pcName The private cloud name.
     * @param filter The filter to apply on the list operation. only type is allowed here as a filter e.g. $filter=type
     *     eq 'xxxx'.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return list of customization polices response model.
     */
    @ServiceMethod(returns = ReturnType.COLLECTION)
    private PagedFlux<CustomizationPolicyInner> listAsync(String regionId, String pcName, String filter) {
        return new PagedFlux<>(
            () -> listSinglePageAsync(regionId, pcName, filter), nextLink -> listNextSinglePageAsync(nextLink));
    }

    /**
     * Returns list of customization policies in region for private cloud.
     *
     * @param regionId The region Id (westus, eastus).
     * @param pcName The private cloud name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return list of customization polices response model.
     */
    @ServiceMethod(returns = ReturnType.COLLECTION)
    private PagedFlux<CustomizationPolicyInner> listAsync(String regionId, String pcName) {
        final String filter = null;
        return new PagedFlux<>(
            () -> listSinglePageAsync(regionId, pcName, filter), nextLink -> listNextSinglePageAsync(nextLink));
    }

    /**
     * Returns list of customization policies in region for private cloud.
     *
     * @param regionId The region Id (westus, eastus).
     * @param pcName The private cloud name.
     * @param filter The filter to apply on the list operation. only type is allowed here as a filter e.g. $filter=type
     *     eq 'xxxx'.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return list of customization polices response model.
     */
    @ServiceMethod(returns = ReturnType.COLLECTION)
    private PagedFlux<CustomizationPolicyInner> listAsync(
        String regionId, String pcName, String filter, Context context) {
        return new PagedFlux<>(
            () -> listSinglePageAsync(regionId, pcName, filter, context),
            nextLink -> listNextSinglePageAsync(nextLink, context));
    }

    /**
     * Returns list of customization policies in region for private cloud.
     *
     * @param regionId The region Id (westus, eastus).
     * @param pcName The private cloud name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return list of customization polices response model.
     */
    @ServiceMethod(returns = ReturnType.COLLECTION)
    public PagedIterable<CustomizationPolicyInner> list(String regionId, String pcName) {
        final String filter = null;
        return new PagedIterable<>(listAsync(regionId, pcName, filter));
    }

    /**
     * Returns list of customization policies in region for private cloud.
     *
     * @param regionId The region Id (westus, eastus).
     * @param pcName The private cloud name.
     * @param filter The filter to apply on the list operation. only type is allowed here as a filter e.g. $filter=type
     *     eq 'xxxx'.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return list of customization polices response model.
     */
    @ServiceMethod(returns = ReturnType.COLLECTION)
    public PagedIterable<CustomizationPolicyInner> list(
        String regionId, String pcName, String filter, Context context) {
        return new PagedIterable<>(listAsync(regionId, pcName, filter, context));
    }

    /**
     * Returns customization policy by its name.
     *
     * @param regionId The region Id (westus, eastus).
     * @param pcName The private cloud name.
     * @param customizationPolicyName customization policy name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the virtual machine customization policy.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<CustomizationPolicyInner>> getWithResponseAsync(
        String regionId, String pcName, String customizationPolicyName) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (regionId == null) {
            return Mono.error(new IllegalArgumentException("Parameter regionId is required and cannot be null."));
        }
        if (pcName == null) {
            return Mono.error(new IllegalArgumentException("Parameter pcName is required and cannot be null."));
        }
        if (customizationPolicyName == null) {
            return Mono
                .error(
                    new IllegalArgumentException("Parameter customizationPolicyName is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .get(
                            this.client.getEndpoint(),
                            this.client.getApiVersion(),
                            this.client.getSubscriptionId(),
                            regionId,
                            pcName,
                            customizationPolicyName,
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Returns customization policy by its name.
     *
     * @param regionId The region Id (westus, eastus).
     * @param pcName The private cloud name.
     * @param customizationPolicyName customization policy name.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the virtual machine customization policy.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<CustomizationPolicyInner>> getWithResponseAsync(
        String regionId, String pcName, String customizationPolicyName, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (regionId == null) {
            return Mono.error(new IllegalArgumentException("Parameter regionId is required and cannot be null."));
        }
        if (pcName == null) {
            return Mono.error(new IllegalArgumentException("Parameter pcName is required and cannot be null."));
        }
        if (customizationPolicyName == null) {
            return Mono
                .error(
                    new IllegalArgumentException("Parameter customizationPolicyName is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .get(
                this.client.getEndpoint(),
                this.client.getApiVersion(),
                this.client.getSubscriptionId(),
                regionId,
                pcName,
                customizationPolicyName,
                accept,
                context);
    }

    /**
     * Returns customization policy by its name.
     *
     * @param regionId The region Id (westus, eastus).
     * @param pcName The private cloud name.
     * @param customizationPolicyName customization policy name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the virtual machine customization policy.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<CustomizationPolicyInner> getAsync(String regionId, String pcName, String customizationPolicyName) {
        return getWithResponseAsync(regionId, pcName, customizationPolicyName)
            .flatMap(
                (Response<CustomizationPolicyInner> res) -> {
                    if (res.getValue() != null) {
                        return Mono.just(res.getValue());
                    } else {
                        return Mono.empty();
                    }
                });
    }

    /**
     * Returns customization policy by its name.
     *
     * @param regionId The region Id (westus, eastus).
     * @param pcName The private cloud name.
     * @param customizationPolicyName customization policy name.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the virtual machine customization policy.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public CustomizationPolicyInner get(String regionId, String pcName, String customizationPolicyName) {
        return getAsync(regionId, pcName, customizationPolicyName).block();
    }

    /**
     * Returns customization policy by its name.
     *
     * @param regionId The region Id (westus, eastus).
     * @param pcName The private cloud name.
     * @param customizationPolicyName customization policy name.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return the virtual machine customization policy.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<CustomizationPolicyInner> getWithResponse(
        String regionId, String pcName, String customizationPolicyName, Context context) {
        return getWithResponseAsync(regionId, pcName, customizationPolicyName, context).block();
    }

    /**
     * Get the next page of items.
     *
     * @param nextLink The nextLink parameter.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return list of customization polices response model.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<PagedResponse<CustomizationPolicyInner>> listNextSinglePageAsync(String nextLink) {
        if (nextLink == null) {
            return Mono.error(new IllegalArgumentException("Parameter nextLink is required and cannot be null."));
        }
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.listNext(nextLink, this.client.getEndpoint(), accept, context))
            .<PagedResponse<CustomizationPolicyInner>>map(
                res ->
                    new PagedResponseBase<>(
                        res.getRequest(),
                        res.getStatusCode(),
                        res.getHeaders(),
                        res.getValue().value(),
                        res.getValue().nextLink(),
                        null))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Get the next page of items.
     *
     * @param nextLink The nextLink parameter.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return list of customization polices response model.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<PagedResponse<CustomizationPolicyInner>> listNextSinglePageAsync(String nextLink, Context context) {
        if (nextLink == null) {
            return Mono.error(new IllegalArgumentException("Parameter nextLink is required and cannot be null."));
        }
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .listNext(nextLink, this.client.getEndpoint(), accept, context)
            .map(
                res ->
                    new PagedResponseBase<>(
                        res.getRequest(),
                        res.getStatusCode(),
                        res.getHeaders(),
                        res.getValue().value(),
                        res.getValue().nextLink(),
                        null));
    }
}
