// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.maintenance.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Post;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.maintenance.fluent.ScheduledEventsClient;
import com.azure.resourcemanager.maintenance.fluent.models.ScheduledEventApproveResponseInner;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in ScheduledEventsClient.
 */
public final class ScheduledEventsClientImpl implements ScheduledEventsClient {
    /**
     * The proxy service used to perform REST calls.
     */
    private final ScheduledEventsService service;

    /**
     * The service client containing this operation class.
     */
    private final MaintenanceManagementClientImpl client;

    /**
     * Initializes an instance of ScheduledEventsClientImpl.
     * 
     * @param client the instance of the service client containing this operation class.
     */
    ScheduledEventsClientImpl(MaintenanceManagementClientImpl client) {
        this.service
            = RestProxy.create(ScheduledEventsService.class, client.getHttpPipeline(), client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for MaintenanceManagementClientScheduledEvents to be used by the proxy
     * service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "MaintenanceManagemen")
    public interface ScheduledEventsService {
        @Headers({ "Content-Type: application/json" })
        @Post("/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Compute/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/scheduledevents/{scheduledEventId}/acknowledge")
        @ExpectedResponses({ 200 })
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<ScheduledEventApproveResponseInner>> acknowledge(@HostParam("$host") String endpoint,
            @PathParam("subscriptionId") String subscriptionId,
            @PathParam("resourceGroupName") String resourceGroupName, @PathParam("resourceType") String resourceType,
            @PathParam("resourceName") String resourceName, @PathParam("scheduledEventId") String scheduledEventId,
            @QueryParam("api-version") String apiVersion, @HeaderParam("Accept") String accept, Context context);
    }

    /**
     * Post Scheduled Event Acknowledgement.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param resourceType Resource type.
     * @param resourceName Resource Name.
     * @param scheduledEventId Scheduled Event Id. This is a GUID-formatted string (e.g.
     * 00000000-0000-0000-0000-000000000000).
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return response of scheduled event acknowledge along with {@link Response} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<ScheduledEventApproveResponseInner>> acknowledgeWithResponseAsync(String resourceGroupName,
        String resourceType, String resourceName, String scheduledEventId) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (resourceType == null) {
            return Mono.error(new IllegalArgumentException("Parameter resourceType is required and cannot be null."));
        }
        if (resourceName == null) {
            return Mono.error(new IllegalArgumentException("Parameter resourceName is required and cannot be null."));
        }
        if (scheduledEventId == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter scheduledEventId is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(context -> service.acknowledge(this.client.getEndpoint(), this.client.getSubscriptionId(),
                resourceGroupName, resourceType, resourceName, scheduledEventId, this.client.getApiVersion(), accept,
                context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Post Scheduled Event Acknowledgement.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param resourceType Resource type.
     * @param resourceName Resource Name.
     * @param scheduledEventId Scheduled Event Id. This is a GUID-formatted string (e.g.
     * 00000000-0000-0000-0000-000000000000).
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return response of scheduled event acknowledge along with {@link Response} on successful completion of
     * {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<ScheduledEventApproveResponseInner>> acknowledgeWithResponseAsync(String resourceGroupName,
        String resourceType, String resourceName, String scheduledEventId, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono.error(
                new IllegalArgumentException("Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono.error(new IllegalArgumentException(
                "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        if (resourceGroupName == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter resourceGroupName is required and cannot be null."));
        }
        if (resourceType == null) {
            return Mono.error(new IllegalArgumentException("Parameter resourceType is required and cannot be null."));
        }
        if (resourceName == null) {
            return Mono.error(new IllegalArgumentException("Parameter resourceName is required and cannot be null."));
        }
        if (scheduledEventId == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter scheduledEventId is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service.acknowledge(this.client.getEndpoint(), this.client.getSubscriptionId(), resourceGroupName,
            resourceType, resourceName, scheduledEventId, this.client.getApiVersion(), accept, context);
    }

    /**
     * Post Scheduled Event Acknowledgement.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param resourceType Resource type.
     * @param resourceName Resource Name.
     * @param scheduledEventId Scheduled Event Id. This is a GUID-formatted string (e.g.
     * 00000000-0000-0000-0000-000000000000).
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return response of scheduled event acknowledge on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<ScheduledEventApproveResponseInner> acknowledgeAsync(String resourceGroupName, String resourceType,
        String resourceName, String scheduledEventId) {
        return acknowledgeWithResponseAsync(resourceGroupName, resourceType, resourceName, scheduledEventId)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Post Scheduled Event Acknowledgement.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param resourceType Resource type.
     * @param resourceName Resource Name.
     * @param scheduledEventId Scheduled Event Id. This is a GUID-formatted string (e.g.
     * 00000000-0000-0000-0000-000000000000).
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return response of scheduled event acknowledge along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<ScheduledEventApproveResponseInner> acknowledgeWithResponse(String resourceGroupName,
        String resourceType, String resourceName, String scheduledEventId, Context context) {
        return acknowledgeWithResponseAsync(resourceGroupName, resourceType, resourceName, scheduledEventId, context)
            .block();
    }

    /**
     * Post Scheduled Event Acknowledgement.
     * 
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param resourceType Resource type.
     * @param resourceName Resource Name.
     * @param scheduledEventId Scheduled Event Id. This is a GUID-formatted string (e.g.
     * 00000000-0000-0000-0000-000000000000).
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return response of scheduled event acknowledge.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public ScheduledEventApproveResponseInner acknowledge(String resourceGroupName, String resourceType,
        String resourceName, String scheduledEventId) {
        return acknowledgeWithResponse(resourceGroupName, resourceType, resourceName, scheduledEventId, Context.NONE)
            .getValue();
    }
}
