{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key40286717171",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzg2MjU=;sn=178625",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Thu, 28 Mar 2019 18:37:50 GMT",
      "etag" : "\"UoWvv5Ab5S5AinhK3lfhl3gBiKY\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"UoWvv5Ab5S5AinhK3lfhl3gBiKY\",\"key\":\"key40286717171\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:50+00:00\"}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key40286717171?label=2d0d15ff824458",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzg2MjY=;sn=178626",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Thu, 28 Mar 2019 18:37:50 GMT",
      "etag" : "\"1DaFFvU71Ym0OMynzppzlRhpYuf\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"1DaFFvU71Ym0OMynzppzlRhpYuf\",\"key\":\"key40286717171\",\"label\":\"2d0d15ff824458\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:50+00:00\"}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key40286%2a",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzg2MjY=;sn=178626",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"UoWvv5Ab5S5AinhK3lfhl3gBiKY\",\"key\":\"key40286717171\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:50+00:00\"},{\"etag\":\"1DaFFvU71Ym0OMynzppzlRhpYuf\",\"key\":\"key40286717171\",\"label\":\"2d0d15ff824458\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:50+00:00\"}]}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key40286717171?label=%00",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzg2Mjc=;sn=178627",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Thu, 28 Mar 2019 18:37:50 GMT",
      "etag" : "\"UoWvv5Ab5S5AinhK3lfhl3gBiKY\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"UoWvv5Ab5S5AinhK3lfhl3gBiKY\",\"key\":\"key40286717171\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:50+00:00\"}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key40286717171?label=2d0d15ff824458",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzg2Mjg=;sn=178628",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Thu, 28 Mar 2019 18:37:50 GMT",
      "etag" : "\"1DaFFvU71Ym0OMynzppzlRhpYuf\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"1DaFFvU71Ym0OMynzppzlRhpYuf\",\"key\":\"key40286717171\",\"label\":\"2d0d15ff824458\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:50+00:00\"}"
    }
  } ],
  "variables" : [ "key40286", "2d0d15ff", "key40286717171", "2d0d15ff824458" ]
}