{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key53305215193",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjgzMTM=;sn=228313",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 24 Apr 2019 18:49:01 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"RyAcgQ2ViIj71FGuRIb1V4WqTPM\"",
      "Body" : "{\"etag\":\"RyAcgQ2ViIj71FGuRIb1V4WqTPM\",\"key\":\"key53305215193\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T18:49:01+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key53305%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjgzMTQ=;sn=228314",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"RyAcgQ2ViIj71FGuRIb1V4WqTPM\",\"key\":\"key53305215193\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T18:49:01+00:00\"},{\"etag\":\"7ewpeZcbeZc1exrOohOgAEKacFq\",\"key\":\"key53305215193-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T18:49:02+00:00\"}]}"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key53305215193-1",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjgzMTY=;sn=228316",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 24 Apr 2019 18:49:02 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"7ewpeZcbeZc1exrOohOgAEKacFq\"",
      "Body" : "{\"etag\":\"7ewpeZcbeZc1exrOohOgAEKacFq\",\"key\":\"key53305215193-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T18:49:02+00:00\"}"
    }
  } ],
  "variables" : [ "key53305", "37bcf714", "key53305215193" ]
}