{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key2696215071c",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMDYzMTc=;sn=206317",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 17 Apr 2019 16:01:12 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"6eafrpBqid8Ml3LOA2cmQ7NdvUO\"",
      "Body" : "{\"etag\":\"6eafrpBqid8Ml3LOA2cmQ7NdvUO\",\"key\":\"key2696215071c\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-17T16:01:12+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key26962%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMDYzMTg=;sn=206318",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"6eafrpBqid8Ml3LOA2cmQ7NdvUO\",\"key\":\"key2696215071c\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-17T16:01:12+00:00\"},{\"etag\":\"LDNseFxZ5F0GP1bbgj4SNsLbt10\",\"key\":\"key2696215071c-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-17T16:01:12+00:00\"}]}"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key2696215071c-1",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMDYzMjA=;sn=206320",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 17 Apr 2019 16:01:12 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"LDNseFxZ5F0GP1bbgj4SNsLbt10\"",
      "Body" : "{\"etag\":\"LDNseFxZ5F0GP1bbgj4SNsLbt10\",\"key\":\"key2696215071c-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-17T16:01:12+00:00\"}"
    }
  } ],
  "variables" : [ "key26962", "1fb37689", "key2696215071c" ]
}