{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key13285919501",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzQyODI=;sn=174282",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 27 Mar 2019 18:38:17 GMT",
      "etag" : "\"Zw9Z4cGHavg3v6lwsCJtV3UYhR9\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"Zw9Z4cGHavg3v6lwsCJtV3UYhR9\",\"key\":\"key13285919501\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-27T18:38:17+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key13285919501?label=%00",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzQyODM=;sn=174283",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 27 Mar 2019 18:38:17 GMT",
      "etag" : "\"hBVSjvMBzmsXkX1aEHCbVPhTSXr\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"hBVSjvMBzmsXkX1aEHCbVPhTSXr\",\"key\":\"key13285919501\",\"label\":null,\"content_type\":null,\"value\":\"myUpdateValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-27T18:38:17+00:00\"}"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key13285919501?label=ea81607430703f",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzQyODU=;sn=174285",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 27 Mar 2019 18:38:18 GMT",
      "etag" : "\"MXnim0poccNFDKScCUrSIU0r2tw\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"MXnim0poccNFDKScCUrSIU0r2tw\",\"key\":\"key13285919501\",\"label\":\"ea81607430703f\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-27T18:38:18+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key13285%2a",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"items\":[]}"
    }
  } ],
  "variables" : [ "key13285", "ea816074", "key13285919501", "ea81607430703f" ]
}