{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key22050916531",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzQyNzQ=;sn=174274",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 27 Mar 2019 18:38:17 GMT",
      "etag" : "\"77QzkCsWGUFhEeexE36oHDjVTOU\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"77QzkCsWGUFhEeexE36oHDjVTOU\",\"key\":\"key22050916531\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-27T18:38:17+00:00\"}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key22050916531?label=%00",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzQyNzQ=;sn=174274",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 27 Mar 2019 18:38:17 GMT",
      "etag" : "\"77QzkCsWGUFhEeexE36oHDjVTOU\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"77QzkCsWGUFhEeexE36oHDjVTOU\",\"key\":\"key22050916531\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-27T18:38:17+00:00\"}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/locks/key22050916531?label=%00",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzQyNzU=;sn=174275",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 27 Mar 2019 18:38:17 GMT",
      "etag" : "\"OZeMbMfjlwn0WNWbK3i2Rj5Y9G1\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"OZeMbMfjlwn0WNWbK3i2Rj5Y9G1\",\"key\":\"key22050916531\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":true,\"last_modified\":\"2019-03-27T18:38:17+00:00\"}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key22050916531?label=%00",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "content-type" : "application/vnd.microsoft.azconfig.kv+json; charset=utf-8",
      "retry-after" : "0",
      "StatusCode" : "409",
      "Body" : "{\"type\":\"https://azconfig.io/errors/key-locked\",\"title\":\"Modifing key 'key22050916531' is not allowed\",\"name\":\"key22050916531\",\"detail\":\"The key is read-only. To allow modification unlock it first.\",\"status\":409}"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key22050916531?label=bb79f94736121d",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzQyNzg=;sn=174278",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 27 Mar 2019 18:38:17 GMT",
      "etag" : "\"O247OC0lvKXymziB2UxSiWMRUQx\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"O247OC0lvKXymziB2UxSiWMRUQx\",\"key\":\"key22050916531\",\"label\":\"bb79f94736121d\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-27T18:38:17+00:00\"}"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/locks/key22050916531?label=bb79f94736121d",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzQyNzk=;sn=174279",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 27 Mar 2019 18:38:17 GMT",
      "etag" : "\"ZVNFaEEU9PsBywDZRkVsq7iAIfp\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"ZVNFaEEU9PsBywDZRkVsq7iAIfp\",\"key\":\"key22050916531\",\"label\":\"bb79f94736121d\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":true,\"last_modified\":\"2019-03-27T18:38:17+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key22050%2a",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"items\":[]}"
    }
  } ],
  "variables" : [ "key22050", "bb79f947", "key22050916531", "bb79f94736121d" ]
}