{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key8896824285c",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjEzMTg=;sn=221318",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 23 Apr 2019 18:32:37 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"vjYl57IisLCyfRTAKxH106MsT1d\"",
      "Body" : "{\"etag\":\"vjYl57IisLCyfRTAKxH106MsT1d\",\"key\":\"key8896824285c\",\"label\":null,\"content_type\":null,\"value\":\"myNeverDeletedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:37+00:00\"}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/myNonExistentKey",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "204"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key88968%2a&label=",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjEzMTg=;sn=221318",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"vjYl57IisLCyfRTAKxH106MsT1d\",\"key\":\"key8896824285c\",\"label\":null,\"content_type\":null,\"value\":\"myNeverDeletedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:37+00:00\"}]}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key8896824285c",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjEzMTk=;sn=221319",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 23 Apr 2019 18:32:37 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"vjYl57IisLCyfRTAKxH106MsT1d\"",
      "Body" : "{\"etag\":\"vjYl57IisLCyfRTAKxH106MsT1d\",\"key\":\"key8896824285c\",\"label\":null,\"content_type\":null,\"value\":\"myNeverDeletedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:37+00:00\"}"
    }
  } ],
  "variables" : [ "key88968", "f966b2ae", "key8896824285c" ]
}