{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key4250196130c",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzQxNDg=;sn=174148",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 27 Mar 2019 18:38:14 GMT",
      "etag" : "\"qHHSBqmm1cXGCZfCTIrbsWheuKY\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"qHHSBqmm1cXGCZfCTIrbsWheuKY\",\"key\":\"key4250196130c\",\"label\":null,\"content_type\":null,\"value\":\"myNeverRetreivedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-27T18:38:14+00:00\"}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/myNonExistentKey?label=%00",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key4250196130c?label=myNonExistentLabel",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key42501%2a",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzQxNDg=;sn=174148",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"qHHSBqmm1cXGCZfCTIrbsWheuKY\",\"key\":\"key4250196130c\",\"label\":null,\"content_type\":null,\"value\":\"myNeverRetreivedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-27T18:38:14+00:00\"}]}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key4250196130c?label=%00",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzQxNDk=;sn=174149",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 27 Mar 2019 18:38:14 GMT",
      "etag" : "\"qHHSBqmm1cXGCZfCTIrbsWheuKY\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"qHHSBqmm1cXGCZfCTIrbsWheuKY\",\"key\":\"key4250196130c\",\"label\":null,\"content_type\":null,\"value\":\"myNeverRetreivedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-27T18:38:14+00:00\"}"
    }
  } ],
  "variables" : [ "key42501", "6b369e64", "key4250196130c" ]
}