{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key3212653602f",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzg2MDc=;sn=178607",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Thu, 28 Mar 2019 18:37:45 GMT",
      "etag" : "\"nDT8bVt68qHqsWoP02E5RT5JLGw\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"nDT8bVt68qHqsWoP02E5RT5JLGw\",\"key\":\"key3212653602f\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:45+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/revisions?key=key3212653602f",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzg2MDk=;sn=178609",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"lJvrSbrOEpfJJfEDiKsGHBGLiOR\",\"key\":\"key3212653602f\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:49+00:00\"},{\"etag\":\"USpxsqobEsXqho7nIvuOtJWEnko\",\"key\":\"key3212653602f\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:47+00:00\"},{\"etag\":\"nDT8bVt68qHqsWoP02E5RT5JLGw\",\"key\":\"key3212653602f\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:45+00:00\"}]}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key3212653602f",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "memento-datetime" : "Thu, 28 Mar 2019 18:37:47 GMT",
      "sync-token" : "zAJw6V16=MjotMSMxNzg2MDk=;sn=178609",
      "link" : "</kv?key=key3212653602f>; rel=\"original\"",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"USpxsqobEsXqho7nIvuOtJWEnko\",\"key\":\"key3212653602f\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:47+00:00\"}]}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key32126%2a",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzg2MDk=;sn=178609",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"lJvrSbrOEpfJJfEDiKsGHBGLiOR\",\"key\":\"key3212653602f\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:49+00:00\"}]}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key3212653602f?label=%00",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzg2MTA=;sn=178610",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Thu, 28 Mar 2019 18:37:49 GMT",
      "etag" : "\"lJvrSbrOEpfJJfEDiKsGHBGLiOR\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"lJvrSbrOEpfJJfEDiKsGHBGLiOR\",\"key\":\"key3212653602f\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:49+00:00\"}"
    }
  } ],
  "variables" : [ "key32126", "c213b6d7", "key3212653602f" ]
}