{
  "networkCallRecords" : [ {
    "Method" : "PUT",
<<<<<<< HEAD
    "Uri" : "https://azconfig-conniey.azconfig.io/kv/key80710-1?label=listed-label",
=======
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key67597-0?label=listed-label",
>>>>>>> 342031b70a... Added unit tests to cover a wider portion of the API
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
<<<<<<< HEAD
      "date" : "Tue, 26 Mar 2019 19:59:28 GMT",
      "server" : "nginx/1.13.9",
      "transfer-encoding" : "chunked",
      "sync-token" : "zAJw6V16=MjotMSMxNzA4NjU=;sn=170865",
      "retry-after" : "0",
      "StatusCode" : "200",
      "strict-transport-security" : "max-age=15724800; includeSubDomains;",
      "x-ms-correlation-request-id" : "03010f47-9b7c-4105-b5fe-4b945f4bcb69",
      "last-modified" : "Tue, 26 Mar 2019 19:59:28 GMT",
      "etag" : "\"68qYXOutgCOVYpn3bvGVNb8A3Dw\"",
      "connection" : "keep-alive",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "x-ms-request-id" : "03010f47-9b7c-4105-b5fe-4b945f4bcb69",
      "Body" : "{\"etag\":\"68qYXOutgCOVYpn3bvGVNb8A3Dw\",\"key\":\"key80710-1\",\"label\":\"listed-label\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-26T19:59:28+00:00\"}",
      "x-ms-client-request-id" : "9d457531-527c-4ae4-ab32-fb6266fbb68b"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key67597-1?label=listed-label",
>>>>>>> 342031b70a... Added unit tests to cover a wider portion of the API
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
<<<<<<< HEAD
      "date" : "Tue, 26 Mar 2019 19:59:28 GMT",
      "server" : "nginx/1.13.9",
      "transfer-encoding" : "chunked",
      "sync-token" : "zAJw6V16=MjotMSMxNzA4NjY=;sn=170866",
      "retry-after" : "0",
      "StatusCode" : "200",
      "strict-transport-security" : "max-age=15724800; includeSubDomains;",
      "x-ms-correlation-request-id" : "da7cac1a-5bab-4ea4-9327-fb93246e43cc",
      "last-modified" : "Tue, 26 Mar 2019 19:59:28 GMT",
      "etag" : "\"M6XxEN8YFR4iPWS8hzPiqjBaY1o\"",
      "connection" : "keep-alive",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "x-ms-request-id" : "da7cac1a-5bab-4ea4-9327-fb93246e43cc",
      "Body" : "{\"etag\":\"M6XxEN8YFR4iPWS8hzPiqjBaY1o\",\"key\":\"key80710-0\",\"label\":\"listed-label\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-26T19:59:28+00:00\"}",
      "x-ms-client-request-id" : "d0e00be7-fe73-460e-9368-97e93a58da04"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azconfig-conniey.azconfig.io/kv?key=%2a&label=listed-label",
=======
      "date" : "Wed, 27 Mar 2019 18:38:16 GMT",
      "server" : "nginx/1.13.9",
      "transfer-encoding" : "chunked",
      "sync-token" : "zAJw6V16=MjotMSMxNzQyMjM=;sn=174223",
      "retry-after" : "0",
      "StatusCode" : "200",
      "strict-transport-security" : "max-age=15724800; includeSubDomains;",
      "x-ms-correlation-request-id" : "ece98ce2-a910-4c33-a273-309599d90696",
      "last-modified" : "Wed, 27 Mar 2019 18:38:16 GMT",
      "etag" : "\"PheeR4oKpZgqN6FwJ8diJvv65Zh\"",
      "connection" : "keep-alive",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "x-ms-request-id" : "ece98ce2-a910-4c33-a273-309599d90696",
      "Body" : "{\"etag\":\"PheeR4oKpZgqN6FwJ8diJvv65Zh\",\"key\":\"key67597-46\",\"label\":\"listed-label\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-27T18:38:16+00:00\"}",
      "x-ms-client-request-id" : "44286749-1731-4a91-b234-2c63b59cc6a7"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?label=listed-label",
>>>>>>> 342031b70a... Added unit tests to cover a wider portion of the API
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
<<<<<<< HEAD
      "date" : "Tue, 26 Mar 2019 19:59:28 GMT",
      "server" : "nginx/1.13.9",
      "transfer-encoding" : "chunked",
      "sync-token" : "zAJw6V16=MjotMSMxNzA5MTQ=;sn=170914",
      "retry-after" : "0",
      "StatusCode" : "200",
      "strict-transport-security" : "max-age=15724800; includeSubDomains;",
      "x-ms-correlation-request-id" : "a9b4b2b4-ec56-48bf-b33f-18e8f00bdbfe",
      "connection" : "keep-alive",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "x-ms-request-id" : "a9b4b2b4-ec56-48bf-b33f-18e8f00bdbfe",
      "Body" : "{\"items\":[{\"etag\":\"M6XxEN8YFR4iPWS8hzPiqjBaY1o\",\"key\":\"key80710-0\",\"label\":\"listed-label\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-26T19:59:28+00:00\"},{\"etag\":\"68qYXOutgCOVYpn3bvGVNb8A3Dw\",\"key\":\"key80710-1\",\"label\":\"listed-label\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-26T19:59:28+00:00\"},{\"etag\":\"AXnR9mx1HJNVdE8P9v26j4MxAAz\",\"key\":\"key80710-10\",\"lab[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azconfig-conniey.azconfig.io/kv?key=key80710%2a",
=======
      "date" : "Wed, 27 Mar 2019 18:38:16 GMT",
      "server" : "nginx/1.13.9",
      "transfer-encoding" : "chunked",
      "sync-token" : "zAJw6V16=MjotMSMxNzQyMjM=;sn=174223",
      "retry-after" : "0",
      "StatusCode" : "200",
      "strict-transport-security" : "max-age=15724800; includeSubDomains;",
      "x-ms-correlation-request-id" : "12e371c1-0bf9-42a4-a57f-2b1be915f028",
   [...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key67597%2a",
>>>>>>> 342031b70a... Added unit tests to cover a wider portion of the API
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
<<<<<<< HEAD
      "date" : "Tue, 26 Mar 2019 19:59:28 GMT",
      "server" : "nginx/1.13.9",
      "transfer-encoding" : "chunked",
      "sync-token" : "zAJw6V16=MjotMSMxNzA5MTQ=;sn=170914",
      "retry-after[...]
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key67597-11?label=listed-label",
>>>>>>> 342031b70a... Added unit tests to cover a wider portion of the API
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
<<<<<<< HEAD
      "date" : "Tue, 26 Mar 2019 19:59:28 GMT",
      "server" : "nginx/1.13.9",
      "transfer-encoding" : "chunked",
      "retry-after" : "0",
      "StatusCode" : "429",
      "strict-transport-security" : "max-age=15724800; includeSubDomains;",
      "x-ms-correlation-request-id" : "3b487590-6463-4e1b-b56c-ba50d8563686",
      "retry-after-ms" : "20",
      "connection" : "keep-alive",
      "content-type" : "application/vnd.microsoft.azconfig.kv+json; charset=utf-8",
      "x-ms-request-id" : "3b487590-6463-4e1b-b56c-ba50d8563686",
      "Body" : "{\"type\":\"https://azconfig.io/errors/too-many-requests\",\"title\":\"The amount of requests sent to the server have surpassed the assigned quota\",\"policy\":\"TotalRequests\",\"status\":429}",
      "x-ms-client-request-id" : "9df7e6b1-5fdd-40cd-9d11-e06607545ad9"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key67597-6?label=listed-label",
>>>>>>> 342031b70a... Added unit tests to cover a wider portion of the API
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
<<<<<<< HEAD
      "date" : "Tue, 26 Mar 2019 19:59:43 GMT",
      "server" : "nginx/1.13.9",
      "transfer-encoding" : "chunked",
      "sync-token" : "zAJw6V16=MjotMSMxNzA5NjQ=;sn=170964",
      "retry-after" : "0",
      "StatusCode" : "200",
      "strict-transport-security" : "max-age=15724800; includeSubDomains;",
      "x-ms-correlation-request-id" : "7eda2d2f-1cbd-4a6c-824c-17ccf3fb322e",
      "last-modified" : "Tue, 26 Mar 2019 19:59:28 GMT",
      "etag" : "\"Mgv0BPMrdAiidioJ61h8XvZKAES\"",
      "connection" : "keep-alive",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "x-ms-request-id" : "7eda2d2f-1cbd-4a6c-824c-17ccf3fb322e",
      "Body" : "{\"etag\":\"Mgv0BPMrdAiidioJ61h8XvZKAES\",\"key\":\"key80710-6\",\"label\":\"listed-label\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-26T19:59:28+00:00\"}",
      "x-ms-client-request-id" : "eec91d01-0cf9-40f4-9427-ba947f1dc460"
    }
  } ],
  "variables" : [ "key80710" ]
=======
      "date" : "Wed, 27 Mar 2019 18:38:16 GMT",
      "server" : "nginx/1.13.9",
      "transfer-encoding" : "chunked",
      "sync-token" : "zAJw6V16=MjotMSMxNzQyNzM=;sn=174273",
      "retry-after" : "0",
      "StatusCode" : "200",
      "strict-transport-security" : "max-age=15724800; includeSubDomains;",
      "x-ms-correlation-request-id" : "b021ca50-dcea-4316-a972-59cddd4cb856",
      "last-modified" : "Wed, 27 Mar 2019 18:38:16 GMT",
      "etag" : "\"1Ldtv2yYjpE4WjwsW6UD3NFRK7w\"",
      "connection" : "keep-alive",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "x-ms-request-id" : "b021ca50-dcea-4316-a972-59cddd4cb856",
      "Body" : "{\"etag\":\"1Ldtv2yYjpE4WjwsW6UD3NFRK7w\",\"key\":\"key67597-6\",\"label\":\"listed-label\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-27T18:38:16+00:00\"}",
      "x-ms-client-request-id" : "86b05eb3-5ef8-4210-9d4a-4cccf5942664"
    }
  } ],
  "variables" : [ "key67597", "857942f9" ]
>>>>>>> 342031b70a... Added unit tests to cover a wider portion of the API
}