{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key7297216965c",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjEzMzM=;sn=221333",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 23 Apr 2019 18:32:39 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"smcQjElB2KnMMcDvaslZ4KtOBQM\"",
      "Body" : "{\"etag\":\"smcQjElB2KnMMcDvaslZ4KtOBQM\",\"key\":\"key7297216965c\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:39+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/revisions?key=key7297216965c&label=",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjEzMzU=;sn=221335",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"zbMzwqfjozZvoen6tTYjj4utkSh\",\"key\":\"key7297216965c\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:43+00:00\"},{\"etag\":\"yVMUYV0y3Y4eBdNaVj3lSk8Dy5R\",\"key\":\"key7297216965c\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:41+00:00\"},{\"etag\":\"smcQjElB2KnMMcDvaslZ4KtOBQM\",\"key\":\"key7297216965c\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:39+00:00\"}]}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/revisions?key=key7297216965c&label=",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "memento-datetime" : "Tue, 23 Apr 2019 18:32:41 GMT",
      "sync-token" : "zAJw6V16=MjotMSMyMjEzMzU=;sn=221335",
      "link" : "</revisions?key=key7297216965c&label=>; rel=\"original\"",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"yVMUYV0y3Y4eBdNaVj3lSk8Dy5R\",\"key\":\"key7297216965c\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:41+00:00\"},{\"etag\":\"smcQjElB2KnMMcDvaslZ4KtOBQM\",\"key\":\"key7297216965c\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:39+00:00\"}]}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key72972%2a&label=",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjEzMzU=;sn=221335",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"zbMzwqfjozZvoen6tTYjj4utkSh\",\"key\":\"key7297216965c\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:43+00:00\"}]}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key7297216965c",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjEzMzY=;sn=221336",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 23 Apr 2019 18:32:43 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"zbMzwqfjozZvoen6tTYjj4utkSh\"",
      "Body" : "{\"etag\":\"zbMzwqfjozZvoen6tTYjj4utkSh\",\"key\":\"key7297216965c\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:43+00:00\"}"
    }
  } ],
  "variables" : [ "key72972", "4b5e1be1", "key7297216965c" ]
}