{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azconfig-conniey.azconfig.io/kv/key35958844175",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzA4NDc=;sn=170847",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 26 Mar 2019 19:59:23 GMT",
      "etag" : "\"h6JLAe4o5I2AXFkqFZbgRpEVazp\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"h6JLAe4o5I2AXFkqFZbgRpEVazp\",\"key\":\"key35958844175\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-26T19:59:23+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azconfig-conniey.azconfig.io/revisions?key=key35958844175",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzA4NDk=;sn=170849",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"I0hvTS8ojInIkD114Qm68MtZQEY\",\"key\":\"key35958844175\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-26T19:59:23+00:00\"},{\"etag\":\"JarzTNhn8xGrhUA4lT9vrvE8iFZ\",\"key\":\"key35958844175\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-26T19:59:23+00:00\"},{\"etag\":\"h6JLAe4o5I2AXFkqFZbgRpEVazp\",\"key\":\"key35958844175\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-26T19:59:23+00:00\"}]}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azconfig-conniey.azconfig.io/kv?key=key35958%2a",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzA4NDk=;sn=170849",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"I0hvTS8ojInIkD114Qm68MtZQEY\",\"key\":\"key35958844175\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-26T19:59:23+00:00\"}]}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azconfig-conniey.azconfig.io/kv/key35958844175?label=%00",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzA4NTA=;sn=170850",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 26 Mar 2019 19:59:23 GMT",
      "etag" : "\"I0hvTS8ojInIkD114Qm68MtZQEY\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"I0hvTS8ojInIkD114Qm68MtZQEY\",\"key\":\"key35958844175\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-26T19:59:23+00:00\"}"
    }
  } ],
  "variables" : [ "key35958", "key35958844175" ]
}