{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key45020109638",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjI2OTQ=;sn=222694",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 24 Apr 2019 04:37:56 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"qStUcrnfbUF6xiUUwLZBbN2DGiu\"",
      "Body" : "{\"etag\":\"qStUcrnfbUF6xiUUwLZBbN2DGiu\",\"key\":\"key45020109638\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T04:37:56+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key45020109638%2ckey45020007432&label=",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjI2OTU=;sn=222695",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"59xgtc6QaJBeAJKdKGitK3dJllc\",\"key\":\"key45020007432\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T04:37:56+00:00\"},{\"etag\":\"qStUcrnfbUF6xiUUwLZBbN2DGiu\",\"key\":\"key45020109638\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T04:37:56+00:00\"}]}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key45020%2a&label=",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjI2OTU=;sn=222695",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"59xgtc6QaJBeAJKdKGitK3dJllc\",\"key\":\"key45020007432\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T04:37:56+00:00\"},{\"etag\":\"qStUcrnfbUF6xiUUwLZBbN2DGiu\",\"key\":\"key45020109638\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T04:37:56+00:00\"}]}"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key45020109638",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjI2OTc=;sn=222697",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 24 Apr 2019 04:37:56 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"qStUcrnfbUF6xiUUwLZBbN2DGiu\"",
      "Body" : "{\"etag\":\"qStUcrnfbUF6xiUUwLZBbN2DGiu\",\"key\":\"key45020109638\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T04:37:56+00:00\"}"
    }
  } ],
  "variables" : [ "key45020", "2f6ccdbe", "key45020109638", "key45020007432" ]
}