{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key2682181678e",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjEyNDM=;sn=221243",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 23 Apr 2019 18:32:29 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"yoHSR3OIJG4SQjvLN7cwIH7AlCT\"",
      "Body" : "{\"etag\":\"yoHSR3OIJG4SQjvLN7cwIH7AlCT\",\"key\":\"key2682181678e\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:29+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/revisions?key=key2682181678e&label=",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjEyNDU=;sn=221245",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"0v33DnXWq58SSojCa0M55fU88d1\",\"key\":\"key2682181678e\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:33+00:00\"},{\"etag\":\"bvqs1qO1ajOXgbKyyhFz5ukh15V\",\"key\":\"key2682181678e\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:31+00:00\"},{\"etag\":\"yoHSR3OIJG4SQjvLN7cwIH7AlCT\",\"key\":\"key2682181678e\",\"label\":null,\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:29+00:00\"}]}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key2682181678e&label=",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "memento-datetime" : "Tue, 23 Apr 2019 18:32:31 GMT",
      "sync-token" : "zAJw6V16=MjotMSMyMjEyNDU=;sn=221245",
      "link" : "</kv?key=key2682181678e&label=>; rel=\"original\"",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"bvqs1qO1ajOXgbKyyhFz5ukh15V\",\"key\":\"key2682181678e\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:31+00:00\"}]}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key26821%2a&label=",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjEyNDU=;sn=221245",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"0v33DnXWq58SSojCa0M55fU88d1\",\"key\":\"key2682181678e\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:33+00:00\"}]}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key2682181678e",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjEyNDY=;sn=221246",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 23 Apr 2019 18:32:33 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"0v33DnXWq58SSojCa0M55fU88d1\"",
      "Body" : "{\"etag\":\"0v33DnXWq58SSojCa0M55fU88d1\",\"key\":\"key2682181678e\",\"label\":null,\"content_type\":null,\"value\":\"anotherValue2\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:33+00:00\"}"
    }
  } ],
  "variables" : [ "key26821", "ab76898a", "key2682181678e" ]
}