{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key25552-0?label=my-first-mylabel",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxODI5MDM=;sn=182903",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Mon, 01 Apr 2019 05:19:59 GMT",
      "etag" : "\"5w8SrwAKyTWC77jXBm5UceNN4ie\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"5w8SrwAKyTWC77jXBm5UceNN4ie\",\"key\":\"key25552-0\",\"label\":\"my-first-mylabel\",\"content_type\":null,\"value\":\"myValue2\",\"tags\":{\"tag1\":\"value1\",\"tag2\":\"value2\"},\"locked\":false,\"last_modified\":\"2019-04-01T05:19:59+00:00\"}"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key25552-6?label=my-second-mylabel",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxODI5MDU=;sn=182905",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Mon, 01 Apr 2019 05:19:59 GMT",
      "etag" : "\"syoy2F6Be29QeZ5S7jN0cO1YZ9B\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"syoy2F6Be29QeZ5S7jN0cO1YZ9B\",\"key\":\"key25552-6\",\"label\":\"my-second-mylabel\",\"content_type\":null,\"value\":\"myValue2\",\"tags\":{\"tag1\":\"value1\",\"tag2\":\"value2\"},\"locked\":false,\"last_modified\":\"2019-04-01T05:19:59+00:00\"}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key25552-fetch-1?label=my-first-mylabel",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxODI5MDY=;sn=182906",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Mon, 01 Apr 2019 05:19:59 GMT",
      "etag" : "\"B1KyTPBhY80OJzfkmKiHjVHKzRu\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"B1KyTPBhY80OJzfkmKiHjVHKzRu\",\"key\":\"key25552-fetch-1\",\"label\":\"my-first-mylabel\",\"content_type\":null,\"value\":\"myValue2\",\"tags\":{\"tag1\":\"value1\",\"tag2\":\"value2\"},\"locked\":false,\"last_modified\":\"2019-04-01T05:19:59+00:00\"}"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key25552-fetch-7?label=my-second-mylabel",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxODI5MDg=;sn=182908",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Mon, 01 Apr 2019 05:19:59 GMT",
      "etag" : "\"zlRjHMtyhO2B5CZPFQyG1xmhv7J\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"zlRjHMtyhO2B5CZPFQyG1xmhv7J\",\"key\":\"key25552-fetch-7\",\"label\":\"my-second-mylabel\",\"content_type\":null,\"value\":\"myValue2\",\"tags\":{\"tag1\":\"value1\",\"tag2\":\"value2\"},\"locked\":false,\"last_modified\":\"2019-04-01T05:19:59+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key25552-fetch-%2a&label=%2a-second%2a&$select=key%2ccontent_type%2cetag%2ctags",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxODI5MTA=;sn=182910",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"HaUkRlU1GCOkQryzymftHs0tUy9\",\"key\":\"key25552-fetch-5\",\"content_type\":null,\"tags\":{\"tag1\":\"value1\",\"tag2\":\"value2\"}},{\"etag\":\"zlRjHMtyhO2B5CZPFQyG1xmhv7J\",\"key\":\"key25552-fetch-7\",\"content_type\":null,\"tags\":{\"tag1\":\"value1\",\"tag2\":\"value2\"}}]}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key25552%2a",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxODI5MTA=;sn=182910",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"5w8SrwAKyTWC77jXBm5UceNN4ie\",\"key\":\"key[...]
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key25552-fetch-3?label=my-first-mylabel",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxODI5MTg=;sn=182918",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Mon, 01 Apr 2019 05:19:59 GMT",
      "etag" : "\"8qR6QL6cmh3ZQGs6b5kHAo3K42X\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"8qR6QL6cmh3ZQGs6b5kHAo3K42X\",\"key\":\"key25552-fetch-3\",\"label\":\"my-first-mylabel\",\"content_type\":null,\"value\":\"myValue2\",\"tags\":{\"tag1\":\"value1\",\"tag2\":\"value2\"},\"locked\":false,\"last_modified\":\"2019-04-01T05:19:59+00:00\"}"
    }
  } ],
  "variables" : [ "key25552", "cd73bb10" ]
}