{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azconfig-conniey.azconfig.io/kv/key92276442391?label=lbl40783",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNjUxNDA=;sn=165140",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 22 Mar 2019 18:15:00 GMT",
      "etag" : "\"iNoz5b41ffeRFODAXUaMk1kQ8Hq\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"iNoz5b41ffeRFODAXUaMk1kQ8Hq\",\"key\":\"key92276442391\",\"label\":\"lbl40783\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-22T18:15:00+00:00\"}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azconfig-conniey.azconfig.io/kv?key=key92276442391&label=lbl40783",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNjUxNDA=;sn=165140",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"iNoz5b41ffeRFODAXUaMk1kQ8Hq\",\"key\":\"key92276442391\",\"label\":\"lbl40783\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-22T18:15:00+00:00\"}]}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azconfig-conniey.azconfig.io/kv?key=key92276442391",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNjUxNDA=;sn=165140",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"iNoz5b41ffeRFODAXUaMk1kQ8Hq\",\"key\":\"key92276442391\",\"label\":\"lbl40783\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-22T18:15:00+00:00\"}]}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azconfig-conniey.azconfig.io/kv?key=key92276%2a",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNjUxNDA=;sn=165140",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"iNoz5b41ffeRFODAXUaMk1kQ8Hq\",\"key\":\"key92276442391\",\"label\":\"lbl40783\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-22T18:15:00+00:00\"}]}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azconfig-conniey.azconfig.io/kv/key92276442391?label=lbl40783",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNjUxNDE=;sn=165141",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Fri, 22 Mar 2019 18:15:00 GMT",
      "etag" : "\"iNoz5b41ffeRFODAXUaMk1kQ8Hq\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"iNoz5b41ffeRFODAXUaMk1kQ8Hq\",\"key\":\"key92276442391\",\"label\":\"lbl40783\",\"content_type\":null,\"value\":\"myValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-22T18:15:00+00:00\"}"
    }
  } ],
  "variables" : [ "key92276", "key92276442391", "lbl40783" ]
}