{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key23705369555?label=5dc9080a850443",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjEyMzU=;sn=221235",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 23 Apr 2019 18:32:28 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"5ZL9Y6qIGyYvv3dpcxKGnvLh6uV\"",
      "Body" : "{\"etag\":\"5ZL9Y6qIGyYvv3dpcxKGnvLh6uV\",\"key\":\"key23705369555\",\"label\":\"5dc9080a850443\",\"content_type\":null,\"value\":\"5dc9080a850443\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:28+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=&label=5dc9080a850443%2c5dc9080a350384",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjEyMzY=;sn=221236",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"ixItK3H2FFhk2KlLRvJU8iWND90\",\"key\":\"key23705369555\",\"label\":\"5dc9080a350384\",\"content_type\":null,\"value\":\"5dc9080a350384\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:28+00:00\"},{\"etag\":\"5ZL9Y6qIGyYvv3dpcxKGnvLh6uV\",\"key\":\"key23705369555\",\"label\":\"5dc9080a850443\",\"content_type\":null,\"value\":\"5dc9080a850443\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:28+00:00\"}]}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key23705%2a&label=",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjEyMzY=;sn=221236",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"ixItK3H2FFhk2KlLRvJU8iWND90\",\"key\":\"key23705369555\",\"label\":\"5dc9080a350384\",\"content_type\":null,\"value\":\"5dc9080a350384\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:28+00:00\"},{\"etag\":\"5ZL9Y6qIGyYvv3dpcxKGnvLh6uV\",\"key\":\"key23705369555\",\"label\":\"5dc9080a850443\",\"content_type\":null,\"value\":\"5dc9080a850443\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:28+00:00\"}]}"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key23705369555?label=5dc9080a850443",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjEyMzg=;sn=221238",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 23 Apr 2019 18:32:28 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"5ZL9Y6qIGyYvv3dpcxKGnvLh6uV\"",
      "Body" : "{\"etag\":\"5ZL9Y6qIGyYvv3dpcxKGnvLh6uV\",\"key\":\"key23705369555\",\"label\":\"5dc9080a850443\",\"content_type\":null,\"value\":\"5dc9080a850443\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:28+00:00\"}"
    }
  } ],
  "variables" : [ "key23705", "5dc9080a", "key23705369555", "5dc9080a850443", "5dc9080a350384" ]
}