{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key6175570635f?label=1271df7209353a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMTkwMDc=;sn=219007",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Mon, 22 Apr 2019 16:56:20 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"wZevc0luqACaESmpKg4e2o3NvQv\"",
      "Body" : "{\"etag\":\"wZevc0luqACaESmpKg4e2o3NvQv\",\"key\":\"key6175570635f\",\"label\":\"1271df7209353a\",\"content_type\":null,\"value\":\"1271df7209353a\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-22T16:56:20+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=&label=1271df7209353a%2c1271df7277667a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMTkwMDg=;sn=219008",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"wZevc0luqACaESmpKg4e2o3NvQv\",\"key\":\"key6175570635f\",\"label\":\"1271df7209353a\",\"content_type\":null,\"value\":\"1271df7209353a\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-22T16:56:20+00:00\"},{\"etag\":\"ZQluO2G50dRWOrshKFhphsyHDM6\",\"key\":\"key6175570635f\",\"label\":\"1271df7277667a\",\"content_type\":null,\"value\":\"1271df7277667a\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-22T16:56:21+00:00\"}]}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key61755%2a&label=",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMTkwMDg=;sn=219008",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"wZevc0luqACaESmpKg4e2o3NvQv\",\"key\":\"key6175570635f\",\"label\":\"1271df7209353a\",\"content_type\":null,\"value\":\"1271df7209353a\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-22T16:56:20+00:00\"},{\"etag\":\"ZQluO2G50dRWOrshKFhphsyHDM6\",\"key\":\"key6175570635f\",\"label\":\"1271df7277667a\",\"content_type\":null,\"value\":\"1271df7277667a\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-22T16:56:21+00:00\"}]}"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key6175570635f?label=1271df7209353a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMTkwMTA=;sn=219010",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Mon, 22 Apr 2019 16:56:20 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"wZevc0luqACaESmpKg4e2o3NvQv\"",
      "Body" : "{\"etag\":\"wZevc0luqACaESmpKg4e2o3NvQv\",\"key\":\"key6175570635f\",\"label\":\"1271df7209353a\",\"content_type\":null,\"value\":\"1271df7209353a\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-22T16:56:20+00:00\"}"
    }
  } ],
  "variables" : [ "key61755", "1271df72", "key6175570635f", "1271df7209353a", "1271df7277667a" ]
}