{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key2680631961f",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjE4MjY=;sn=221826",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 23 Apr 2019 18:46:22 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"GgH3pc674K1yId5ccyRscGl39jd\"",
      "Body" : "{\"etag\":\"GgH3pc674K1yId5ccyRscGl39jd\",\"key\":\"key2680631961f\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:46:22+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key2680631961f%2ckey26806802303&label=",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjE4Mjc=;sn=221827",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"GgH3pc674K1yId5ccyRscGl39jd\",\"key\":\"key2680631961f\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:46:22+00:00\"},{\"etag\":\"lM2qwyS4EYZsDD5EsNgFm5ZqO7V\",\"key\":\"key26806802303\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:46:22+00:00\"}]}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key26806%2a&label=",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjE4Mjc=;sn=221827",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"GgH3pc674K1yId5ccyRscGl39jd\",\"key\":\"key2680631961f\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:46:22+00:00\"},{\"etag\":\"lM2qwyS4EYZsDD5EsNgFm5ZqO7V\",\"key\":\"key26806802303\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:46:22+00:00\"}]}"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key2680631961f",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjE4Mjk=;sn=221829",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 23 Apr 2019 18:46:22 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"GgH3pc674K1yId5ccyRscGl39jd\"",
      "Body" : "{\"etag\":\"GgH3pc674K1yId5ccyRscGl39jd\",\"key\":\"key2680631961f\",\"label\":null,\"content_type\":null,\"value\":\"value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:46:22+00:00\"}"
    }
  } ],
  "variables" : [ "key26806", "cfc87275", "key2680631961f", "key26806802303" ]
}