{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/locks/key0976875290b?label=%00",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/locks/key0976875290b?label=5d7c3c79148487",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key09768%2a",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"items\":[]}"
    }
  } ],
  "variables" : [ "key09768", "5d7c3c79", "key0976875290b", "5d7c3c79148487" ]
}