{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key08051848300",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzQxMjc=;sn=174127",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 27 Mar 2019 18:38:13 GMT",
      "etag" : "\"mebvfGy2TgpJJ4aPyAVHm09gdjX\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"mebvfGy2TgpJJ4aPyAVHm09gdjX\",\"key\":\"key08051848300\",\"label\":null,\"content_type\":null,\"value\":\"myLockUnlockValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-27T18:38:13+00:00\"}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/locks/key08051848300?label=%00",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzQxMjg=;sn=174128",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 27 Mar 2019 18:38:13 GMT",
      "etag" : "\"jp1e0QqKDD8Kd2P30LA2WhRpQtL\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"jp1e0QqKDD8Kd2P30LA2WhRpQtL\",\"key\":\"key08051848300\",\"label\":null,\"content_type\":null,\"value\":\"myLockUnlockValue\",\"tags\":{},\"locked\":true,\"last_modified\":\"2019-03-27T18:38:13+00:00\"}"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key08051848300?label=0449fdec00759b",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzQxMzA=;sn=174130",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 27 Mar 2019 18:38:13 GMT",
      "etag" : "\"9bwe0aN6y4h8RcKYyW26PTyLwP3\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"9bwe0aN6y4h8RcKYyW26PTyLwP3\",\"key\":\"key08051848300\",\"label\":\"0449fdec00759b\",\"content_type\":null,\"value\":\"myLockUnlockValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-27T18:38:13+00:00\"}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/locks/key08051848300?label=0449fdec00759b",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzQxMzE=;sn=174131",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 27 Mar 2019 18:38:13 GMT",
      "etag" : "\"Js8WFnB0Cn1la6fuH19F4z65VZc\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"Js8WFnB0Cn1la6fuH19F4z65VZc\",\"key\":\"key08051848300\",\"label\":\"0449fdec00759b\",\"content_type\":null,\"value\":\"myLockUnlockValue\",\"tags\":{},\"locked\":true,\"last_modified\":\"2019-03-27T18:38:13+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key08051%2a",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzQxMzI=;sn=174132",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"UQ5b88sSHjcaq8DvSwceRuUzQOv\",\"key\":\"key08051848300\",\"label\":null,\"content_type\":null,\"value\":\"myLockUnlockValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-27T18:38:13+00:00\"},{\"etag\":\"ZQKI8IXCcwZGDsTr7IKR5mmzHRr\",\"key\":\"key08051848300\",\"label\":\"0449fdec00759b\",\"content_type\":null,\"value\":\"myLockUnlockValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-27T18:38:13+00:00\"}]}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key08051848300?label=%00",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzQxMzM=;sn=174133",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 27 Mar 2019 18:38:13 GMT",
      "etag" : "\"UQ5b88sSHjcaq8DvSwceRuUzQOv\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"UQ5b88sSHjcaq8DvSwceRuUzQOv\",\"key\":\"key08051848300\",\"label\":null,\"content_type\":null,\"value\":\"myLockUnlockValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-27T18:38:13+00:00\"}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key08051848300?label=0449fdec00759b",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzQxMzQ=;sn=174134",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 27 Mar 2019 18:38:13 GMT",
      "etag" : "\"ZQKI8IXCcwZGDsTr7IKR5mmzHRr\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"ZQKI8IXCcwZGDsTr7IKR5mmzHRr\",\"key\":\"key08051848300\",\"label\":\"0449fdec00759b\",\"content_type\":null,\"value\":\"myLockUnlockValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-27T18:38:13+00:00\"}"
    }
  } ],
  "variables" : [ "key08051", "0449fdec", "key08051848300", "0449fdec00759b" ]
}