{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key76054",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjEyMzk=;sn=221239",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 23 Apr 2019 18:32:28 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"deX4at2Os27qQvrtdBomDsFX7IQ\"",
      "Body" : "{\"etag\":\"deX4at2Os27qQvrtdBomDsFX7IQ\",\"key\":\"key76054\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:28+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key76054%2a&label=",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjEyNDA=;sn=221240",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"deX4at2Os27qQvrtdBomDsFX7IQ\",\"key\":\"key76054\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:28+00:00\"},{\"etag\":\"pQnbuDuXvhHLp40Ml3P25WgtOoX\",\"key\":\"key76054-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:28+00:00\"}]}"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key76054-1",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjEyNDI=;sn=221242",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Tue, 23 Apr 2019 18:32:28 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"pQnbuDuXvhHLp40Ml3P25WgtOoX\"",
      "Body" : "{\"etag\":\"pQnbuDuXvhHLp40Ml3P25WgtOoX\",\"key\":\"key76054-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-23T18:32:28+00:00\"}"
    }
  } ],
  "variables" : [ "key76054", "10172cc9" ]
}