{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key30937571713",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "412"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key30937571713",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzg2MTk=;sn=178619",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Thu, 28 Mar 2019 18:37:50 GMT",
      "etag" : "\"HjFLVvkcIqfqSPTeJaPDfuix2fj\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"HjFLVvkcIqfqSPTeJaPDfuix2fj\",\"key\":\"key30937571713\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:50+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key30937571713?label=%00",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzg2MjA=;sn=178620",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Thu, 28 Mar 2019 18:37:50 GMT",
      "etag" : "\"OUyuDQpfxHz4SX1u3E4HGO6Sqa8\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"OUyuDQpfxHz4SX1u3E4HGO6Sqa8\",\"key\":\"key30937571713\",\"label\":null,\"content_type\":null,\"value\":\"myUpdateValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:50+00:00\"}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key30937571713?label=41183d0e19172c",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "412"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key30937%2a",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzg2MjI=;sn=178622",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"OUyuDQpfxHz4SX1u3E4HGO6Sqa8\",\"key\":\"key30937571713\",\"label\":null,\"content_type\":null,\"value\":\"myUpdateValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:50+00:00\"},{\"etag\":\"VdHrRo5SCi6BWKgK5CDEyyzrlcQ\",\"key\":\"key30937571713\",\"label\":\"41183d0e19172c\",\"content_type\":null,\"value\":\"myUpdateValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:50+00:00\"}]}"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key30937571713?label=41183d0e19172c",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzg2MjQ=;sn=178624",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Thu, 28 Mar 2019 18:37:50 GMT",
      "etag" : "\"VdHrRo5SCi6BWKgK5CDEyyzrlcQ\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"VdHrRo5SCi6BWKgK5CDEyyzrlcQ\",\"key\":\"key30937571713\",\"label\":\"41183d0e19172c\",\"content_type\":null,\"value\":\"myUpdateValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:50+00:00\"}"
    }
  } ],
  "variables" : [ "key30937", "41183d0e", "key30937571713", "41183d0e19172c" ]
}