{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://conniey-config.azconfig.io/kv/key85441",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MzotMSMxNTA4MDY=;sn=150806",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Thu, 04 Apr 2019 18:04:04 GMT",
      "etag" : "\"FcHJ8PjpGenxQ0Mn0QjL0aNa45m\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"FcHJ8PjpGenxQ0Mn0QjL0aNa45m\",\"key\":\"key85441\",\"label\":null,\"content_type\":null,\"value\":\"A Value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-04T18:04:04+00:00\"}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://conniey-config.azconfig.io/locks/key85441",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MzotMSMxNTA4MDc=;sn=150807",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Thu, 04 Apr 2019 18:04:04 GMT",
      "etag" : "\"zRqEZQlH8a0SwupyN8m6csfcpSh\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"zRqEZQlH8a0SwupyN8m6csfcpSh\",\"key\":\"key85441\",\"label\":null,\"content_type\":null,\"value\":\"A Value\",\"tags\":{},\"locked\":true,\"last_modified\":\"2019-04-04T18:04:04+00:00\"}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://conniey-config.azconfig.io/kv/key85441",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "content-type" : "application/vnd.microsoft.azconfig.kv+json; charset=utf-8",
      "retry-after" : "0",
      "StatusCode" : "409",
      "Body" : "{\"type\":\"https://azconfig.io/errors/key-locked\",\"title\":\"Modifing key 'key85441' is not allowed\",\"name\":\"key85441\",\"detail\":\"The key is read-only. To allow modification unlock it first.\",\"status\":409}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://conniey-config.azconfig.io/kv?key=key85441%2a",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MzotMSMxNTA4MDk=;sn=150809",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"mmygSgx2tYj18YEL1LXk5EvRjrG\",\"key\":\"key85441\",\"label\":null,\"content_type\":null,\"value\":\"A New Value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-04T18:04:04+00:00\"}]}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://conniey-config.azconfig.io/kv/key85441",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MzotMSMxNTA4MTA=;sn=150810",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Thu, 04 Apr 2019 18:04:04 GMT",
      "etag" : "\"mmygSgx2tYj18YEL1LXk5EvRjrG\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"mmygSgx2tYj18YEL1LXk5EvRjrG\",\"key\":\"key85441\",\"label\":null,\"content_type\":null,\"value\":\"A New Value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-04T18:04:04+00:00\"}"
    }
  } ],
  "variables" : [ "key85441", "a01346ee" ]
}