{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key74627175002",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzg2NDk=;sn=178649",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Thu, 28 Mar 2019 18:37:52 GMT",
      "etag" : "\"AITrpbyyU1atmxUcL3mRtqUbt4p\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"AITrpbyyU1atmxUcL3mRtqUbt4p\",\"key\":\"key74627175002\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:52+00:00\"}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/locks/key74627175002?label=%00",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzg2NTA=;sn=178650",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Thu, 28 Mar 2019 18:37:52 GMT",
      "etag" : "\"ntp7agEu3NaJvqW9ehq7bxtkunj\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"ntp7agEu3NaJvqW9ehq7bxtkunj\",\"key\":\"key74627175002\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":true,\"last_modified\":\"2019-03-28T18:37:52+00:00\"}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key74627175002",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "content-type" : "application/vnd.microsoft.azconfig.kv+json; charset=utf-8",
      "retry-after" : "0",
      "StatusCode" : "409",
      "Body" : "{\"type\":\"https://azconfig.io/errors/key-locked\",\"title\":\"Modifing key 'key74627175002' is not allowed\",\"name\":\"key74627175002\",\"detail\":\"The key is read-only. To allow modification unlock it first.\",\"status\":409}"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key74627175002?label=611ec2ab97951c",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzg2NTM=;sn=178653",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Thu, 28 Mar 2019 18:37:52 GMT",
      "etag" : "\"d10SlxkCUdUxzGfEkj0pblMx6G8\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"d10SlxkCUdUxzGfEkj0pblMx6G8\",\"key\":\"key74627175002\",\"label\":\"611ec2ab97951c\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:52+00:00\"}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/locks/key74627175002?label=611ec2ab97951c",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzg2NTQ=;sn=178654",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Thu, 28 Mar 2019 18:37:52 GMT",
      "etag" : "\"KwN9AVbkNlchoJrpPTjdbApjbPC\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"KwN9AVbkNlchoJrpPTjdbApjbPC\",\"key\":\"key74627175002\",\"label\":\"611ec2ab97951c\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":true,\"last_modified\":\"2019-03-28T18:37:52+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key74627%2a",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzg2NTY=;sn=178656",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"DhuSdizk6LVHje3vbcx3MhLPsEo\",\"key\":\"key74627175002\",\"label\":null,\"content_type\":null,\"value\":\"myUpdatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:52+00:00\"},{\"etag\":\"0HueeDCeHGhHIE1n3aC32JtxgYo\",\"key\":\"key74627175002\",\"label\":\"611ec2ab97951c\",\"content_type\":null,\"value\":\"myUpdatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:52+00:00\"}]}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key74627175002?label=%00",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzg2NTc=;sn=178657",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Thu, 28 Mar 2019 18:37:52 GMT",
      "etag" : "\"DhuSdizk6LVHje3vbcx3MhLPsEo\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"DhuSdizk6LVHje3vbcx3MhLPsEo\",\"key\":\"key74627175002\",\"label\":null,\"content_type\":null,\"value\":\"myUpdatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:52+00:00\"}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key74627175002?label=611ec2ab97951c",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxNzg2NTg=;sn=178658",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Thu, 28 Mar 2019 18:37:52 GMT",
      "etag" : "\"0HueeDCeHGhHIE1n3aC32JtxgYo\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"0HueeDCeHGhHIE1n3aC32JtxgYo\",\"key\":\"key74627175002\",\"label\":\"611ec2ab97951c\",\"content_type\":null,\"value\":\"myUpdatedValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-03-28T18:37:52+00:00\"}"
    }
  } ],
  "variables" : [ "key74627", "611ec2ab", "key74627175002", "611ec2ab97951c" ]
}