{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key66470635282",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "412"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key66470635282",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjI2OTg=;sn=222698",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 24 Apr 2019 04:37:56 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"Ingv5WzMMCZDPoRlvodSAFRv1ko\"",
      "Body" : "{\"etag\":\"Ingv5WzMMCZDPoRlvodSAFRv1ko\",\"key\":\"key66470635282\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T04:37:56+00:00\"}"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key66470635282?label=c62add5a861132",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "412"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key66470%2a&label=",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjI3MDE=;sn=222701",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"O6BOfAorT2Rsa7QglWuqCBYCEUM\",\"key\":\"key66470635282\",\"label\":null,\"content_type\":null,\"value\":\"myUpdateValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T04:37:56+00:00\"},{\"etag\":\"JuAWGVNj6Bwm3FRCwz7qLsNywjS\",\"key\":\"key66470635282\",\"label\":\"c62add5a861132\",\"content_type\":null,\"value\":\"myUpdateValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T04:37:56+00:00\"}]}"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key66470635282?label=c62add5a861132",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjI3MDM=;sn=222703",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 24 Apr 2019 04:37:56 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"JuAWGVNj6Bwm3FRCwz7qLsNywjS\"",
      "Body" : "{\"etag\":\"JuAWGVNj6Bwm3FRCwz7qLsNywjS\",\"key\":\"key66470635282\",\"label\":\"c62add5a861132\",\"content_type\":null,\"value\":\"myUpdateValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T04:37:56+00:00\"}"
    }
  } ],
  "variables" : [ "key66470", "c62add5a", "key66470635282", "c62add5a861132" ]
}