{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key4650045993b",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMDYxMDc=;sn=206107",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 17 Apr 2019 16:00:52 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"311w994CB9T07kKaxeJirfMXPYp\"",
      "Body" : "{\"etag\":\"311w994CB9T07kKaxeJirfMXPYp\",\"key\":\"key4650045993b\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-17T16:00:52+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key46500%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMDYxMDg=;sn=206108",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"311w994CB9T07kKaxeJirfMXPYp\",\"key\":\"key4650045993b\",\"label\":null,\"content_type\":null,\"value\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-17T16:00:52+00:00\"},{\"etag\":\"ZYMmO5yMEFeYgqqsU4V9hvRV3rg\",\"key\":\"key4650045993b-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-17T16:00:52+00:00\"}]}"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key4650045993b-1",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMDYxMTA=;sn=206110",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 17 Apr 2019 16:00:52 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"ZYMmO5yMEFeYgqqsU4V9hvRV3rg\"",
      "Body" : "{\"etag\":\"ZYMmO5yMEFeYgqqsU4V9hvRV3rg\",\"key\":\"key4650045993b-1\",\"label\":null,\"content_type\":null,\"value\":\"\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-17T16:00:52+00:00\"}"
    }
  } ],
  "variables" : [ "key46500", "1306accb", "key4650045993b" ]
}