{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key93329231452",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjI2MTM=;sn=222613",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 24 Apr 2019 04:37:46 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"Q3A5GH1knT4JzN98qMDoW0ZuxMQ\"",
      "Body" : "{\"etag\":\"Q3A5GH1knT4JzN98qMDoW0ZuxMQ\",\"key\":\"key93329231452\",\"label\":null,\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T04:37:46+00:00\"}"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key93329231452?label=c3c5d4fd966329",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjI2MTY=;sn=222616",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 24 Apr 2019 04:37:46 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"4ki7HBBaKe9KdnB4Dt221BCX0IB\"",
      "Body" : "{\"etag\":\"4ki7HBBaKe9KdnB4Dt221BCX0IB\",\"key\":\"key93329231452\",\"label\":\"c3c5d4fd966329\",\"content_type\":null,\"value\":\"myNewValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T04:37:46+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key93329%2a&label=",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjI2MTg=;sn=222618",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"KEAJlOaHZQiXU8whPi6bnH6tD6b\",\"key\":\"key93329231452\",\"label\":null,\"content_type\":null,\"value\":\"myFinalValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T04:37:46+00:00\"},{\"etag\":\"SX43d97NiInOQrUCWnBvpGSkvUZ\",\"key\":\"key93329231452\",\"label\":\"c3c5d4fd966329\",\"content_type\":null,\"value\":\"myFinalValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T04:37:47+00:00\"}]}"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key93329231452?label=c3c5d4fd966329",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjI2MjA=;sn=222620",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 24 Apr 2019 04:37:47 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"SX43d97NiInOQrUCWnBvpGSkvUZ\"",
      "Body" : "{\"etag\":\"SX43d97NiInOQrUCWnBvpGSkvUZ\",\"key\":\"key93329231452\",\"label\":\"c3c5d4fd966329\",\"content_type\":null,\"value\":\"myFinalValue\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-24T04:37:47+00:00\"}"
    }
  } ],
  "variables" : [ "key93329", "c3c5d4fd", "key93329231452", "c3c5d4fd966329" ]
}