{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azconfig-conniey.azconfig.io/kv/key16834292278",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxODcyMTc=;sn=187217",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 03 Apr 2019 22:23:54 GMT",
      "etag" : "\"dgyHRUafns3To6kwEzNLJMmlrot\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"dgyHRUafns3To6kwEzNLJMmlrot\",\"key\":\"key16834292278\",\"label\":null,\"content_type\":\"json\",\"value\":\"myNewValue\",\"tags\":{\"first tag\":\"first value\",\"second tag\":\"second value\"},\"locked\":false,\"last_modified\":\"2019-04-03T22:23:54+00:00\"}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azconfig-conniey.azconfig.io/locks/key16834292278",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxODcyMTg=;sn=187218",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 03 Apr 2019 22:23:54 GMT",
      "etag" : "\"deRQStUVXb7qxvaMn4WdNjQXCzY\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"deRQStUVXb7qxvaMn4WdNjQXCzY\",\"key\":\"key16834292278\",\"label\":null,\"content_type\":\"json\",\"value\":\"myNewValue\",\"tags\":{\"first tag\":\"first value\",\"second tag\":\"second value\"},\"locked\":true,\"last_modified\":\"2019-04-03T22:23:54+00:00\"}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azconfig-conniey.azconfig.io/kv/key16834292278",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "content-type" : "application/vnd.microsoft.azconfig.kv+json; charset=utf-8",
      "retry-after" : "0",
      "StatusCode" : "409",
      "Body" : "{\"type\":\"https://azconfig.io/errors/key-locked\",\"title\":\"Modifing key 'key16834292278' is not allowed\",\"name\":\"key16834292278\",\"detail\":\"The key is read-only. To allow modification unlock it first.\",\"status\":409}"
    }
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azconfig-conniey.azconfig.io/kv/key16834292278?label=4fd178c7179506",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxODcyMjE=;sn=187221",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 03 Apr 2019 22:23:55 GMT",
      "etag" : "\"HT0TFbx4beZ9MQew1Nsc3AG5ZVa\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"HT0TFbx4beZ9MQew1Nsc3AG5ZVa\",\"key\":\"key16834292278\",\"label\":\"4fd178c7179506\",\"content_type\":\"json\",\"value\":\"myNewValue\",\"tags\":{\"first tag\":\"first value\",\"second tag\":\"second value\"},\"locked\":false,\"last_modified\":\"2019-04-03T22:23:55+00:00\"}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azconfig-conniey.azconfig.io/locks/key16834292278?label=4fd178c7179506",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxODcyMjI=;sn=187222",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 03 Apr 2019 22:23:55 GMT",
      "etag" : "\"l0MCWo91lJztBDrotyAwqgvbHew\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"l0MCWo91lJztBDrotyAwqgvbHew\",\"key\":\"key16834292278\",\"label\":\"4fd178c7179506\",\"content_type\":\"json\",\"value\":\"myNewValue\",\"tags\":{\"first tag\":\"first value\",\"second tag\":\"second value\"},\"locked\":true,\"last_modified\":\"2019-04-03T22:23:55+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azconfig-conniey.azconfig.io/kv?key=key16834%2a",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxODcyMjQ=;sn=187224",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"4WkNeY4ItU9sF4gg9im5XgcTmf6\",\"key\":\"key16834292278\",\"label\":null,\"content_type\":\"text\",\"value\":\"myUpdatedValue\",\"tags\":{\"first tag\":\"first value\",\"second tag\":\"second value\"},\"locked\":false,\"last_modified\":\"2019-04-03T22:23:55+00:00\"},{\"etag\":\"yI7iHzvUwZmsvaimEtBBfkCtFLj\",\"key\":\"key16834292278\",\"label\":\"4fd178c7179506\",\"content_type\":\"text\",\"value\":\"myUpdatedValue\",\"tags\":{\"first tag\":\"first value\",\"second tag\":\"second value\"},\"locked\":false,\"last_modified\":\"2019-04-03T22:23:55+00:00\"}]}"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azconfig-conniey.azconfig.io/kv/key16834292278?label=4fd178c7179506",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMxODcyMjY=;sn=187226",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 03 Apr 2019 22:23:55 GMT",
      "etag" : "\"yI7iHzvUwZmsvaimEtBBfkCtFLj\"",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "Body" : "{\"etag\":\"yI7iHzvUwZmsvaimEtBBfkCtFLj\",\"key\":\"key16834292278\",\"label\":\"4fd178c7179506\",\"content_type\":\"text\",\"value\":\"myUpdatedValue\",\"tags\":{\"first tag\":\"first value\",\"second tag\":\"second value\"},\"locked\":false,\"last_modified\":\"2019-04-03T22:23:55+00:00\"}"
    }
  } ],
  "variables" : [ "key16834", "4fd178c7", "key16834292278", "4fd178c7179506" ]
}