{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key39334493716",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "412"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key39334493716?label=b53567de611023",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "412"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key39334%2a",
    "Headers" : {
      "Content-Type" : "application/vnd.microsoft.azconfig.kv+json"
    },
    "Response" : {
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"items\":[]}"
    }
  } ],
  "variables" : [ "key39334", "b53567de", "key39334493716", "b53567de611023" ]
}