{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key5023857599f",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjI3MjE=;sn=222721",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 24 Apr 2019 04:37:58 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"QXlRRRfZEwYuqcxwXb2n9mTkSlo\"",
      "Body" : "{\"etag\":\"QXlRRRfZEwYuqcxwXb2n9mTkSlo\",\"key\":\"key5023857599f\",\"label\":null,\"content_type\":\"json\",\"value\":\"myNewValue\",\"tags\":{\"first tag\":\"first value\",\"second tag\":\"second value\"},\"locked\":false,\"last_modified\":\"2019-04-24T04:37:58+00:00\"}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key5023857599f?label=ce7f6f0f180834",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjI3MjI=;sn=222722",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 24 Apr 2019 04:37:59 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"png6OHSvlVS6BGz8Wg5MULt9IRu\"",
      "Body" : "{\"etag\":\"png6OHSvlVS6BGz8Wg5MULt9IRu\",\"key\":\"key5023857599f\",\"label\":\"ce7f6f0f180834\",\"content_type\":\"json\",\"value\":\"myNewValue\",\"tags\":{\"first tag\":\"first value\",\"second tag\":\"second value\"},\"locked\":false,\"last_modified\":\"2019-04-24T04:37:59+00:00\"}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key50238%2a&label=",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjI3MjI=;sn=222722",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"QXlRRRfZEwYuqcxwXb2n9mTkSlo\",\"key\":\"key5023857599f\",\"label\":null,\"content_type\":\"json\",\"value\":\"myNewValue\",\"tags\":{\"first tag\":\"first value\",\"second tag\":\"second value\"},\"locked\":false,\"last_modified\":\"2019-04-24T04:37:58+00:00\"},{\"etag\":\"png6OHSvlVS6BGz8Wg5MULt9IRu\",\"key\":\"key5023857599f\",\"label\":\"ce7f6f0f180834\",\"content_type\":\"json\",\"value\":\"myNewValue\",\"tags\":{\"first tag\":\"first value\",\"second tag\":\"second value\"},\"locked\":false,\"last_modified\":\"2019-04-24T04:37:59+00:00\"}]}"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key5023857599f?label=ce7f6f0f180834",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMjI3MjQ=;sn=222724",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 24 Apr 2019 04:37:59 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"png6OHSvlVS6BGz8Wg5MULt9IRu\"",
      "Body" : "{\"etag\":\"png6OHSvlVS6BGz8Wg5MULt9IRu\",\"key\":\"key5023857599f\",\"label\":\"ce7f6f0f180834\",\"content_type\":\"json\",\"value\":\"myNewValue\",\"tags\":{\"first tag\":\"first value\",\"second tag\":\"second value\"},\"locked\":false,\"last_modified\":\"2019-04-24T04:37:59+00:00\"}"
    }
  } ],
  "variables" : [ "key50238", "ce7f6f0f", "key5023857599f", "ce7f6f0f180834" ]
}