{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key9214148729d",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMDYxODY=;sn=206186",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 17 Apr 2019 16:01:02 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"G5T0AdlTkEhnpWY4s6LC9B34N4Y\"",
      "Body" : "{\"etag\":\"G5T0AdlTkEhnpWY4s6LC9B34N4Y\",\"key\":\"key9214148729d\",\"label\":null,\"content_type\":null,\"value\":\"A Value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-17T16:01:02+00:00\"}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv?key=key92141%2a",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMDYxODc=;sn=206187",
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
      "Body" : "{\"items\":[{\"etag\":\"v6K7Y790jP7mtYXzweQPHyS3IJu\",\"key\":\"key9214148729d\",\"label\":null,\"content_type\":null,\"value\":\"A New Value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-17T16:01:02+00:00\"}]}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://alzimmer-appconfig.azconfig.io/kv/key9214148729d",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "sync-token" : "zAJw6V16=MjotMSMyMDYxODg=;sn=206188",
      "retry-after" : "0",
      "StatusCode" : "200",
      "last-modified" : "Wed, 17 Apr 2019 16:01:02 GMT",
      "content-type" : "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
      "etag" : "\"v6K7Y790jP7mtYXzweQPHyS3IJu\"",
      "Body" : "{\"etag\":\"v6K7Y790jP7mtYXzweQPHyS3IJu\",\"key\":\"key9214148729d\",\"label\":null,\"content_type\":null,\"value\":\"A New Value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2019-04-17T16:01:02+00:00\"}"
    }
  } ],
  "variables" : [ "key92141", "b529be8c", "key9214148729d" ]
}