{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/secrets/testSecretDelete?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"testSecretDeleteVal\",\"id\":\"https://azure-sdk-java-key-vault.vault.azure.net/secrets/testSecretDelete/e75928920e1247389906fe8c1853635e\",\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1561365292,\"updated\":1561365292,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/secrets/testSecretDelete?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"recoveryId\":\"https://azure-sdk-java-key-vault.vault.azure.net/deletedsecrets/testSecretDelete\",\"deletedDate\":1561365301,\"scheduledPurgeDate\":1569141301,\"id\":\"https://azure-sdk-java-key-vault.vault.azure.net/secrets/testSecretDelete/e75928920e1247389906fe8c1853635e\",\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1561365292,\"updated\":1561365292,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/deletedsecrets/testSecretDelete?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"error\":{\"code\":\"SecretNotFound\",\"message\":\"Deleted Secret not found: testSecretDelete\"}}"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/deletedsecrets/testSecretDelete?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"error\":{\"code\":\"SecretNotFound\",\"message\":\"Deleted Secret not found: testSecretDelete\"}}"
    }
  } ],
  "variables" : [ ]
}