{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://cameravault.vault.azure.net/secrets/testSecretDelete?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"value\":\"testSecretDeleteVal\",\"id\":\"https://cameravault.vault.azure.net/secrets/testSecretDelete/6763dbce200a4d55a1d17f3d4a2b7b51\",\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1571888911,\"updated\":1571888911,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://cameravault.vault.azure.net/secrets/testSecretDelete?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"recoveryId\":\"https://cameravault.vault.azure.net/deletedsecrets/testSecretDelete\",\"deletedDate\":1571888911,\"scheduledPurgeDate\":1579664911,\"id\":\"https://cameravault.vault.azure.net/secrets/testSecretDelete/6763dbce200a4d55a1d17f3d4a2b7b51\",\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1571888911,\"updated\":1571888911,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://cameravault.vault.azure.net/deletedsecrets/testSecretDelete?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "{\"error\":{\"code\":\"SecretNotFound\",\"message\":\"Deleted Secret not found: testSecretDelete\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cameravault.vault.azure.net/deletedsecrets/testSecretDelete?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "{\"error\":{\"code\":\"SecretNotFound\",\"message\":\"Deleted Secret not found: testSecretDelete\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}