{
  "networkCallRecords" : [ {
    "Method" : "DELETE",
    "Uri" : "https://cameravault.vault.azure.net/secrets/non-existing?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "{\"error\":{\"code\":\"SecretNotFound\",\"message\":\"Secret not found: non-existing\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}