{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/secrets/a7d3931d-d64c-4fe6-8f7e-2b09a6f79c34-testSecretDelete?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"value\":\"testSecretDeleteVal\",\"id\":\"https://azure-sdk-java-key-vault.vault.azure.net/secrets/a7d3931d-d64c-4fe6-8f7e-2b09a6f79c34-testSecretDelete/6ebdad5e6c6f4d1e9d19fc16624a3398\",\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1583732672,\"updated\":1583732672,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/secrets/a7d3931d-d64c-4fe6-8f7e-2b09a6f79c34-testSecretDelete?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"recoveryId\":\"https://azure-sdk-java-key-vault.vault.azure.net/deletedsecrets/a7d3931d-d64c-4fe6-8f7e-2b09a6f79c34-testSecretDelete\",\"deletedDate\":1583732673,\"scheduledPurgeDate\":1591508673,\"id\":\"https://azure-sdk-java-key-vault.vault.azure.net/secrets/a7d3931d-d64c-4fe6-8f7e-2b09a6f79c34-testSecretDelete/6ebdad5e6c6f4d1e9d19fc16624a3398\",\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1583732672,\"updated\":1583732672,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/deletedsecrets/a7d3931d-d64c-4fe6-8f7e-2b09a6f79c34-testSecretDelete?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "{\"error\":{\"code\":\"SecretNotFound\",\"message\":\"Deleted Secret not found: a7d3931d-d64c-4fe6-8f7e-2b09a6f79c34-testSecretDelete\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/deletedsecrets/a7d3931d-d64c-4fe6-8f7e-2b09a6f79c34-testSecretDelete?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "{\"error\":{\"code\":\"SecretNotFound\",\"message\":\"Deleted Secret not found: a7d3931d-d64c-4fe6-8f7e-2b09a6f79c34-testSecretDelete\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}