{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/secrets/7a3f2234-34ed-499e-8c1e-23aff15d19de-testSecretGetDeleted?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"value\":\"testSecretGetDeleteVal\",\"id\":\"https://azure-sdk-java-key-vault.vault.azure.net/secrets/7a3f2234-34ed-499e-8c1e-23aff15d19de-testSecretGetDeleted/876fe006a6ed4735978eea4d05b23fbe\",\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1583732004,\"updated\":1583732004,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/secrets/7a3f2234-34ed-499e-8c1e-23aff15d19de-testSecretGetDeleted?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"recoveryId\":\"https://azure-sdk-java-key-vault.vault.azure.net/deletedsecrets/7a3f2234-34ed-499e-8c1e-23aff15d19de-testSecretGetDeleted\",\"deletedDate\":1583732004,\"scheduledPurgeDate\":1591508004,\"id\":\"https://azure-sdk-java-key-vault.vault.azure.net/secrets/7a3f2234-34ed-499e-8c1e-23aff15d19de-testSecretGetDeleted/876fe006a6ed4735978eea4d05b23fbe\",\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1583732004,\"updated\":1583732004,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/deletedsecrets/7a3f2234-34ed-499e-8c1e-23aff15d19de-testSecretGetDeleted?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "{\"error\":{\"code\":\"SecretNotFound\",\"message\":\"Deleted Secret not found: 7a3f2234-34ed-499e-8c1e-23aff15d19de-testSecretGetDeleted\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/deletedsecrets/7a3f2234-34ed-499e-8c1e-23aff15d19de-testSecretGetDeleted?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "{\"error\":{\"code\":\"SecretNotFound\",\"message\":\"Deleted Secret not found: 7a3f2234-34ed-499e-8c1e-23aff15d19de-testSecretGetDeleted\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}