{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azure-java-live-test.vault.azure.net/secrets/listSecretVersion?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"value\":\"listSecretVersionVal1\",\"id\":\"https://azure-java-live-test.vault.azure.net/secrets/listSecretVersion/cf82b9a342924690a876a4eb342db502\",\"attributes\":{\"enabled\":true,\"exp\":3797280000,\"created\":1583783450,\"updated\":1583783450,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-java-live-test.vault.azure.net/secrets/listSecretVersion/versions?maxresults=25&api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"value\":[{\"id\":\"https://azure-java-live-test.vault.azure.net/secrets/listSecretVersion/811b4825e912498880ec9b4d9247a207\",\"attributes\":{\"enabled\":true,\"exp\":3797452800,\"created\":1583783451,\"updated\":1583783451,\"recoveryLevel\":\"Recoverable+Purgeable\"}},{\"id\":\"https://azure-java-live-test.vault.azure.net/secrets/listSecretVersion/cf82b9a342924690a876a4eb342db502\",\"attributes\":{\"enabled\":true,\"exp\":3797280000,\"created\":1583783450,\"updated\":1583783450,\"recoveryLevel\":\"Recoverable+Purgeable\"}},{\"id\":\"https://azure-java-live-test.vault.azure.net/secrets/listSecretVersion/f1e2adeef8b948369fd86256ef47d53a\",\"attributes\":{\"enabled\":true,\"exp\":3797366400,\"created\":1583783450,\"updated\":1583783450,\"recoveryLevel\":\"Recoverable+Purgeable\"}},{\"id\":\"https://azure-java-live-test.vault.azure.net/secrets/listSecretVersion/f63813354e1440899728ce36cf1ce33c\",\"attributes\":{\"enabled\":true,\"exp\":3797539200,\"created\":1583783451,\"updated\":1583783451,\"recoveryLevel\":\"Recoverable+Purgeable\"}}],\"nextLink\":null}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azure-java-live-test.vault.azure.net/secrets/listSecretVersion?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"recoveryId\":\"https://azure-java-live-test.vault.azure.net/deletedsecrets/listSecretVersion\",\"deletedDate\":1583783452,\"scheduledPurgeDate\":1591559452,\"id\":\"https://azure-java-live-test.vault.azure.net/secrets/listSecretVersion/f63813354e1440899728ce36cf1ce33c\",\"attributes\":{\"enabled\":true,\"exp\":3797539200,\"created\":1583783451,\"updated\":1583783451,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-java-live-test.vault.azure.net/deletedsecrets/listSecretVersion?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "{\"error\":{\"code\":\"SecretNotFound\",\"message\":\"Deleted Secret not found: listSecretVersion\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-java-live-test.vault.azure.net/deletedsecrets/listSecretVersion?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "{\"error\":{\"code\":\"SecretNotFound\",\"message\":\"Deleted Secret not found: listSecretVersion\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}