{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azure-java-live-test.vault.azure.net/secrets/listSecret0?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"value\":\"listSecretVal0\",\"id\":\"https://azure-java-live-test.vault.azure.net/secrets/listSecret0/39d9bffa621f466888acf24e665e92c3\",\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1583783053,\"updated\":1583783053,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-java-live-test.vault.azure.net/secrets?maxresults=25&api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"value\":[{\"id\":\"https://azure-java-live-test.vault.azure.net/secrets/javaSecretTemp\",\"attributes\":{\"enabled\":true,\"created\":1583783051,\"updated\":1583783051,\"recoveryLevel\":\"Recoverable+Purge[...]
