{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/secrets/javaSecretTemp?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"\",\"id\":\"https://azure-sdk-java-key-vault.vault.azure.net/secrets/javaSecretTemp/391cd6c6d24040fb8014ac6e2194055c\",\"attributes\":{\"enabled\":true,\"created\":1561365392,\"updated\":1561365392,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/secrets/javaSecretTemp/?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"value\":\"\",\"id\":\"https://azure-sdk-java-key-vault.vault.azure.net/secrets/javaSecretTemp/391cd6c6d24040fb8014ac6e2194055c\",\"attributes\":{\"enabled\":true,\"created\":1561365392,\"updated\":1561365392,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  } ],
  "variables" : [ ]
}