{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azure-java-live-test.vault.azure.net/secrets/?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "405",
      "Body" : "{\"error\":{\"code\":\"MethodNotAllowed\",\"message\":\"HTTP PUT not allowed\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}