{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://cameravault.vault.azure.net/keys/testRsaKey?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"key\":{\"kid\":\"https://cameravault.vault.azure.net/keys/testRsaKey/5be50a51fdc74cfa91cce5683e093c7a\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"1_6ZtP288hEkKML-L6nFyZh1PD1rmAgwbbwjEvTSDK_008BYWhjp_6ULy9BhWtRIytNkPkm9gzaBTrCpp-vyDXPGa836Htp-w8u5JmxoUZchJh576m3m-8ZYWTmZSAp5SpruyKAmLSxPJHEWPXQntnmuTMjb9HBT9Ltrwc0ZDk-jsMLYunDJrNmrRUxQgb0zQ_Tl5fJjj8j-0KVx2RXtbfWFvf5fRdBYyP3m0aUpoopQPwtXszD2LcSKMJ_TnmnvMWr8MOA5aRlBaGdBk7zBgRafvDPam3Q2AvFA9mfcAVncpfZ3JFm73VARw6MofXtRqOHtZ7y4oNbY95xXwU2r6w\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"created\":1564760502,\"updated\":1564760502,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://cameravault.vault.azure.net/keys/testRsaKey/5be50a51fdc74cfa91cce5683e093c7a/decrypt?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"kid\":\"https://cameravault.vault.azure.net/keys/testRsaKey/5be50a51fdc74cfa91cce5683e093c7a\",\"value\":\"G9GT23aoJ9lUS5WtxwlS9igODCiTObv_Z7U9HhTbk99t_24WdBcngS2ycvtJ7_VQ6ESEKt1QdoI8UMRwh2UOMalPrw1leEgbwgpOtCPjmzCk2fhuxCHyinA3x0iGnD2jyYaXiw\"}",
      "Content-Type" : "application/json; charset=utf-8"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://cameravault.vault.azure.net/keys/testRsaKey/5be50a51fdc74cfa91cce5683e093c7a/encrypt?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"kid\":\"https://cameravault.vault.azure.net/keys/testRsaKey/5be50a51fdc74cfa91cce5683e093c7a\",\"value\":\"rKJ7ajnr5ipKDVFQaQq05muANwyzBV89K8t-diJZVyvI5TbRAm3W4eV9EBY2ZU0vehv2dU2Gsb_j4Wt4vxjb7eV8QWdi3rWtczYvupwcpRUkgKnw872utBf5vUTeXRjVQQb2Mmt53pm265TBfJOcuoLCDRdYyNs43C8GQf8LcOmzixUe8ah0yzhiQdUaaGHY6DQBIIYUeviyzmy2bYUSaLKyWoQW8s2Zqp1XuGM3IJ6Fyij3pj86dgMrxKemeQqMq8jwWUHtIO_0AMFD-wr5ZGV6cdyA4LYBGfUP8jruoq-_vV_KGXBwcKd1UhRVT67FeGCJ8a5UdKGU33tWXy88Lg\"}",
      "Content-Type" : "application/json; charset=utf-8"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://cameravault.vault.azure.net/keys/testRsaKey?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"recoveryId\":\"https://cameravault.vault.azure.net/deletedkeys/testRsaKey\",\"deletedDate\":1564760503,\"scheduledPurgeDate\":1572536503,\"key\":{\"kid\":\"https://cameravault.vault.azure.net/keys/testRsaKey/5be50a51fdc74cfa91cce5683e093c7a\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"1_6ZtP288hEkKML-L6nFyZh1PD1rmAgwbbwjEvTSDK_008BYWhjp_6ULy9BhWtRIytNkPkm9gzaBTrCpp-vyDXPGa836Htp-w8u5JmxoUZchJh576m3m-8ZYWTmZSAp5SpruyKAmLSxPJHEWPXQntnmuTMjb9HBT9Ltrwc0ZDk-jsMLYunDJrNmrRUxQgb0zQ_Tl5fJjj8j-0KVx2RXtbfWFvf5fRdBYyP3m0aUpoopQPwtXszD2LcSKMJ_TnmnvMWr8MOA5aRlBaGdBk7zBgRafvDPam3Q2AvFA9mfcAVncpfZ3JFm73VARw6MofXtRqOHtZ7y4oNbY95xXwU2r6w\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"created\":1564760502,\"updated\":1564760502,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://cameravault.vault.azure.net/deletedkeys/testRsaKey?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "{\"error\":{\"code\":\"KeyNotFound\",\"message\":\"Deleted Key not found: testRsaKey\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cameravault.vault.azure.net/deletedkeys/testRsaKey?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "{\"error\":{\"code\":\"KeyNotFound\",\"message\":\"Deleted Key not found: testRsaKey\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    }
  } ],
  "variables" : [ ]
}