{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://cameravault.vault.azure.net/keys/testRsaKeySignVerify?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"key\":{\"kid\":\"https://cameravault.vault.azure.net/keys/testRsaKeySignVerify/9b907435791b4bd39eed879f78908226\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"1_6ZtP288hEkKML-L6nFyZh1PD1rmAgwbbwjEvTSDK_008BYWhjp_6ULy9BhWtRIytNkPkm9gzaBTrCpp-vyDXPGa836Htp-w8u5JmxoUZchJh576m3m-8ZYWTmZSAp5SpruyKAmLSxPJHEWPXQntnmuTMjb9HBT9Ltrwc0ZDk-jsMLYunDJrNmrRUxQgb0zQ_Tl5fJjj8j-0KVx2RXtbfWFvf5fRdBYyP3m0aUpoopQPwtXszD2LcSKMJ_TnmnvMWr8MOA5aRlBaGdBk7zBgRafvDPam3Q2AvFA9mfcAVncpfZ3JFm73VARw6MofXtRqOHtZ7y4oNbY95xXwU2r6w\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"created\":1565067979,\"updated\":1565067979,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://cameravault.vault.azure.net/keys/testRsaKeySignVerify/9b907435791b4bd39eed879f78908226/sign?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"kid\":\"https://cameravault.vault.azure.net/keys/testRsaKeySignVerify/9b907435791b4bd39eed879f78908226\",\"value\":\"VycNS2AleyY425cgT02DdqHgz0r95vm0UDEsnG8uQiT7IfxflrjKM_d8PvOeV6JA6kamk6lhvFKnJqXyNmFaPcI7RcibAW-e3-9k91TEegUNl4dZpPeuy6AY5-CkafXBBTHCCOAfGuyCeNnr8jJF7teQa_Z246wgoOiGACQx37C2m9jb2x-Q3-mxo8utyi3NFu8LCJs7C9h_AlcszRJ0l9a0dP97YnNFW75GtBpfjt7frZFUGdJNeWvZXBhCzhtYN9ynN6SHIKKVfZEe-Uqc3HvY63oEGvVGcPnWeV2wY8NfQn04gji3hdKKyRH0VLSkwHJpSA7V42EDaPbaQCriQA\"}",
      "Content-Type" : "application/json; charset=utf-8"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://cameravault.vault.azure.net/keys/testRsaKeySignVerify/9b907435791b4bd39eed879f78908226/verify?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"value\":true}",
      "Content-Type" : "application/json; charset=utf-8"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://cameravault.vault.azure.net/keys/testRsaKeySignVerify?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"recoveryId\":\"https://cameravault.vault.azure.net/deletedkeys/testRsaKeySignVerify\",\"deletedDate\":1565067980,\"scheduledPurgeDate\":1572843980,\"key\":{\"kid\":\"https://cameravault.vault.azure.net/keys/testRsaKeySignVerify/9b907435791b4bd39eed879f78908226\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"1_6ZtP288hEkKML-L6nFyZh1PD1rmAgwbbwjEvTSDK_008BYWhjp_6ULy9BhWtRIytNkPkm9gzaBTrCpp-vyDXPGa836Htp-w8u5JmxoUZchJh576m3m-8ZYWTmZSAp5SpruyKAmLSxPJHEWPXQntnmuTMjb9HBT9Ltrwc0ZDk-jsMLYunDJrNmrRUxQgb0zQ_Tl5fJjj8j-0KVx2RXtbfWFvf5fRdBYyP3m0aUpoopQPwtXszD2LcSKMJ_TnmnvMWr8MOA5aRlBaGdBk7zBgRafvDPam3Q2AvFA9mfcAVncpfZ3JFm73VARw6MofXtRqOHtZ7y4oNbY95xXwU2r6w\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"created\":1565067979,\"updated\":1565067979,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://cameravault.vault.azure.net/deletedkeys/testRsaKeySignVerify?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "{\"error\":{\"code\":\"KeyNotFound\",\"message\":\"Deleted Key not found: testRsaKeySignVerify\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cameravault.vault.azure.net/deletedkeys/testRsaKeySignVerify?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "{\"error\":{\"code\":\"KeyNotFound\",\"message\":\"Deleted Key not found: testRsaKeySignVerify\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    }
  } ],
  "variables" : [ ]
}