{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azure-java-live-test3.vault.azure.net/keys/testKey6/create?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"key\":{\"kid\":\"https://azure-java-live-test3.vault.azure.net/keys/testKey6/1fbe1b657f594e9d8bb11c8bcc970f27\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"u9TTaF3LhMrvlVKlVUhgwPBdEZQmLzlQ_CVYQTdOgDjtb0yvEU6_wPZIzsGyZNVtVOqk0V5sQoHs5is9MSmPY5tYLtDTwbRyxRcg3BykezNPlqQjWRptxHgDsx-NdyTeA3t-KF5UDfj66KxRyRuV3ucWff1KRyLtoGcD1B6DVD6dE9TdG7fh1bCReuVwXDsfLHqGBwejGUAhGWO4SVhLhosHlSiLuYkyz9rOHlRM-gl23hDptuRKm5_l2CN8dkT4Eq72IBP12xY8mGNsKZmIBIWjWQxCX7lMsmwMi4mbguPflAqM4Du-0jvc8qEua6vDxMpoymL2bviDP1Ha4gfWjw\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1584043756,\"updated\":1584043756,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azure-java-live-test3.vault.azure.net/keys/testKey6?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"recoveryId\":\"https://azure-java-live-test3.vault.azure.net/deletedkeys/testKey6\",\"deletedDate\":1584043757,\"scheduledPurgeDate\":1591819757,\"key\":{\"kid\":\"https://azure-java-live-test3.vault.azure.net/keys/testKey6/1fbe1b657f594e9d8bb11c8bcc970f27\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"u9TTaF3LhMrvlVKlVUhgwPBdEZQmLzlQ_CVYQTdOgDjtb0yvEU6_wPZIzsGyZNVtVOqk0V5sQoHs5is9MSmPY5tYLtDTwbRyxRcg3BykezNPlqQjWRptxHgDsx-NdyTeA3t-KF5UDfj66KxRyRuV3ucWff1KRyLtoGcD1B6DVD6dE9TdG7fh1bCReuVwXDsfLHqGBwejGUAhGWO4SVhLhosHlSiLuYkyz9rOHlRM-gl23hDptuRKm5_l2CN8dkT4Eq72IBP12xY8mGNsKZmIBIWjWQxCX7lMsmwMi4mbguPflAqM4Du-0jvc8qEua6vDxMpoymL2bviDP1Ha4gfWjw\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1584043756,\"updated\":1584043756,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-java-live-test3.vault.azure.net/deletedkeys/testKey6?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "{\"error\":{\"code\":\"KeyNotFound\",\"message\":\"Deleted Key not found: testKey6\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-java-live-test3.vault.azure.net/deletedkeys/testKey6?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "{\"error\":{\"code\":\"KeyNotFound\",\"message\":\"Deleted Key not found: testKey6\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}