{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys/45e35209-e1f9-41ec-a46e-7084d8711bf4-testKey3/create?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"key\":{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/45e35209-e1f9-41ec-a46e-7084d8711bf4-testKey3/264b60a322264cc18643ae5fe58270ac\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"tHjEwWZx4pWerCnl-QR7Nt_gMbpoTu-YYjz2UDAJC3g2lebREqHFMM39NKbCxYV5VqkP9RMzX8OqD12ncF1oshLcYpMcEFTAXcrHKLmj62HwRpypVuKoDW_ORfquYguloV5zKEZv7dLmE1v7uw2EMOylXW4lHMliUVtPt6kgBtIo7-6vrJ4AFswodsLoZqT7mfVzq-sXqovlYFUukk0dj_RQXX5bIDzFXEcJ9kSYve6J0tvYV4W0pNwtr8x9bhF_OJ0x7CFuYDf6NWZ7rrNeFxQuGL5UHWUB-T5pQjpzGFo6rxTdymLKjBjX_Ne29oj1g5Rlk2ISS9pD5qINk6IYUw\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1583764610,\"updated\":1583764610,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys/45e35209-e1f9-41ec-a46e-7084d8711bf4-testKey3/264b60a322264cc18643ae5fe58270ac?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"key\":{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/45e35209-e1f9-41ec-a46e-7084d8711bf4-testKey3/264b60a322264cc18643ae5fe58270ac\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"tHjEwWZx4pWerCnl-QR7Nt_gMbpoTu-YYjz2UDAJC3g2lebREqHFMM39NKbCxYV5VqkP9RMzX8OqD12ncF1oshLcYpMcEFTAXcrHKLmj62HwRpypVuKoDW_ORfquYguloV5zKEZv7dLmE1v7uw2EMOylXW4lHMliUVtPt6kgBtIo7-6vrJ4AFswodsLoZqT7mfVzq-sXqovlYFUukk0dj_RQXX5bIDzFXEcJ9kSYve6J0tvYV4W0pNwtr8x9bhF_OJ0x7CFuYDf6NWZ7rrNeFxQuGL5UHWUB-T5pQjpzGFo6rxTdymLKjBjX_Ne29oj1g5Rlk2ISS9pD5qINk6IYUw\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1583764610,\"updated\":1583764610,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys/45e35209-e1f9-41ec-a46e-7084d8711bf4-testKey3/2325795ab8fd486da1c3871612525609?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"key\":{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/45e35209-e1f9-41ec-a46e-7084d8711bf4-testKey3/2325795ab8fd486da1c3871612525609\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"1EP4kPrGNeHeUaTut-idR810Xrx_Qj1mdjpYXyg6QHhPrysUXbq1LeNQm6UxKQsKgWoxX3UplTXjc5jthOfld9UhJG70W2fJ81mRrIHSbnogDzDJ9zBz55ec4WxEuV-1ooQy508iFJ_oMSGUbrl7rUvqWZC4qDFd7E8OINZsQRvAWsr7n9Tv-tTgk9RZdLd3f_CWbFOJ7sFO7K6KYwuAYkOuQY-Ta3hzIju5YS0GxxA7dNb-IEllFtX8EqjZMMz2mEzeEK6lICF-MpJocedfNTlkNl_TxKBmybaONIeqMjzObMO6FlVXkbttTcCZIkY4OVhmiuUAe8BS45fnEvA1ww\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1583764611,\"updated\":1583764611,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}