{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys/listKey1/create?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "WWW-Authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : "{\"error\":{\"code\":\"Unauthorized\",\"message\":\"Request is missing a Bearer or PoP token.\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys/listKey1/create?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"key\":{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/listKey1/af00a65fd6d545c89ca07400cf300176\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"xMsqfeCmR9S6Z7vrgpjD2BbJlp-drwhJ77BJtTeaYirJnqp8R-GzR8LYahq0lqu9ZjNNxAiktYkzYa3-1jJqWgEeA_FQjoMHcEDrkAg48CQ0Yyh4GOIiuGNf4B_Nuf-OoEulTcleBxAQXje3Dwah2MXImv8XvH3oboFvXQpSjdvABWcTzzlHna4GdL0RCRqKBlZVYSF9Yhwwz1B1YYmrsWpvvcgkKFK8vyEyMx-r6H5g7Unat7NEHZ6HUM8c-uCzPB9FrD-RZqOhDsYUU8JZVsINV8Z0VPegnJxjgQbEs1YJFLfW1WJbo_F6GxaTaVKIR25hxDo5eiGKeCnMHSddQQ\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1573674693,\"updated\":1573674693,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys?maxresults=25&api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "WWW-Authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : "{\"error\":{\"code\":\"Unauthorized\",\"message\":\"Request is missing a Bearer or PoP token.\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys?maxresults=25&api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"value\":[{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/javaKeyTemp\",\"attributes\":{\"enabled\":true,\"nbf\":949237199,\"exp\":2527113600,\"created\":1573674535,\"updated\":1573674535,\"recoveryLevel\":\"Recoverable+Purgeable\"}},{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/listKey0\",\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1573674791,\"updated\":1573674791,\"recoveryLevel\":\"Recoverable+Purgeable\"}},{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/listKey1\",\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1573674693,\"update[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net:443/keys?api-version=7.0&$skiptoken=eyJOZXh0TWFya2VyIjoiMiE3NiFNREF3TURFeUlXdGxlUzlNU1ZOVVMwVlpOQ0V3TURBd01qZ2hPVGs1T1MweE1pMHpNVlF5TXpvMU9UbzFPUzQ1T1RrNU9UazVXaUUtIiwiVGFyZ2V0TG9jYXRpb24iOjB9&maxresults=25",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "WWW-Authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : "{\"error\":{\"code\":\"Unauthorized\",\"message\":\"Request is missing a Bearer or PoP token.\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
[...]
