{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://cameravault.vault.azure.net/deletedkeys/non-existing/recover?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "{\"error\":{\"code\":\"KeyNotFound\",\"message\":\"Key not found: non-existing\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}