{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys/javaKeyTemp/create?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "WWW-Authenticate" : "Bearer authorization=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : "{\"error\":{\"code\":\"Unauthorized\",\"message\":\"Request is missing a Bearer or PoP token.\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys/javaKeyTemp/create?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"key\":{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/javaKeyTemp/e39f930396bb43a4a746370b34de5dc6\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"re_eaUcBz8kg7EL6X0nJCgcN-CRphcWOgjG16O_byEbBtXzZZAgveDoqlVutOokbrKpG-iBzusHt3CeDPd5mT3PFnxN3oJSeyPfVGmQhODvzRwZNHpBLGF0BGynXJO6u73zCk7iD27P_UWYeamvd6X-0Zq3D_hXDq9omlItS2OnK6RLxtOO1GCM3WfIMl_JZc0xeshma0snp2oKmNROgmpHDEKof2GVUTmY-b8SqvR9sKy8OVyOSVL5hvoLaRSpQHhb3TyM8p9K9fwvIrwGgPaqEBJqVPn-wou1cET0aW6ETYs_ZyvNukz96Otbvg1WRkS-eMdLw6eWxk6QzaTE29w\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"nbf\":949237199,\"exp\":2527113600,\"created\":1573674535,\"updated\":1573674535,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}