{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys/javaKeyTemp/create?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\"key\":{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/javaKeyTemp/d99de2d8203a4546b1a43089ee196a14\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"qqfz5zsdVNwZtcSDzF7_nfmhTKxjDm1n9JVibgyfkQga3ssznXjNmqi2qQspzzVwPyEdPsWGONa6MSfJYHinvT5N1infUz_MHOY4VowevTQq2mFTBrpg-qBpL-IUJR9xN-4fT7jYiF7v__6LAXhe78Y-s6qsrsHcWsPQjQLdRc9Y92qYjVAiuWYwGfg1qkhz5R9Vh3Rzk0fw4Qf5REKfTQBh1HaHqdT08AI5spkAr2CakhrHtbqwqUfviT-p50ZlTiKsg39WUs2DCR-CyA1vAOxT0NRobo1un_cx6aAgZ2nQQRhKpQLWNqPa44m3Lkxo6Ko06rv_Xy4tD9QS1RwljQ\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"nbf\":949237199,\"exp\":2527113600,\"created\":1561363834,\"updated\":1561363834,\"recoveryLevel\":\"Recoverable+Purgeable\"}}"
    }
  } ],
  "variables" : [ ]
}