{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys/f24b7d3d-a4d7-44fe-92fd-f352a6028124-javaKeyTemp/create?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"key\":{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/f24b7d3d-a4d7-44fe-92fd-f352a6028124-javaKeyTemp/c8725d16d15f4fac9d2799968e23c548\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"nz-vnrLVsimnt4u74JgphBB_TKdrjSj6fhu49zpRVy8t2SI-Ma_Uxg0_zDHUsbc8Em3e_0wsL1ke4zuhkhP2f2Zk0nh6NVQKU_WaPHw2vqzJBrfgOvPbhSyYuvDh0dJj7bhod2nAu0JSBMeD3bKES6IGdQQhstd3yyXTQJg-dyleOGQrODcwHBxClKGXpY5RNS6Gaw9g82lno9IkHnSqF_jcWwH-9gOKZibTPX3rjYuuNZB4iPPsnPukmhNDdiIpXOyK0Xu9zA2cVgNKgbtR1cBh62nzqzCuvxZAnNzcPQKy4sM69YUNwDX19YoPNlJVHlMbefKSaI0toI9qn7S_vQ\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"nbf\":949237199,\"exp\":2527113600,\"created\":1583764759,\"updated\":1583764759,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}