{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://cameravault.vault.azure.net/keys/testEcKeyP-256?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"key\":{\"kid\":\"https://cameravault.vault.azure.net/keys/testEcKeyP-256/b9cebc9453db4884a8dfc138fe710e8e\",\"kty\":\"EC\",\"key_ops\":[\"sign\",\"verify\"],\"crv\":\"P-256\",\"x\":\"AIfWigoJFwM0j_lJsKYqPjNBWimWZG9hVHZcvNnAYFRv\",\"y\":\"AKO5ByrxHj1Yj_uaBEwO73rR3JHFfzLcR4Z3NUtmy58w\"},\"attributes\":{\"enabled\":true,\"created\":1571350648,\"updated\":1571350648,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://cameravault.vault.azure.net/keys/testEcKeyP-256/b9cebc9453db4884a8dfc138fe710e8e?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"key\":{\"kid\":\"https://cameravault.vault.azure.net/keys/testEcKeyP-256/b9cebc9453db4884a8dfc138fe710e8e\",\"kty\":\"EC\",\"key_ops\":[\"sign\",\"verify\"],\"crv\":\"P-256\",\"x\":\"AIfWigoJFwM0j_lJsKYqPjNBWimWZG9hVHZcvNnAYFRv\",\"y\":\"AKO5ByrxHj1Yj_uaBEwO73rR3JHFfzLcR4Z3NUtmy58w\"},\"attributes\":{\"enabled\":true,\"created\":1571350648,\"updated\":1571350648,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://cameravault.vault.azure.net/keys/testEcKeyP-256/b9cebc9453db4884a8dfc138fe710e8e/sign?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"kid\":\"https://cameravault.vault.azure.net/keys/testEcKeyP-256/b9cebc9453db4884a8dfc138fe710e8e\",\"value\":\"ocsO5s4SldW5JNMTmzOR655QFFq-Q3TDTNs_Wi_4P30Cs3zoYSrDCBDOGagds-UjOFmF-bqfna3ob19SJK1hSw\"}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://cameravault.vault.azure.net/keys/testEcKeyP-256/b9cebc9453db4884a8dfc138fe710e8e/verify?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"value\":true}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://cameravault.vault.azure.net/keys/testEcKeyP-256?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"recoveryId\":\"https://cameravault.vault.azure.net/deletedkeys/testEcKeyP-256\",\"deletedDate\":1571350649,\"scheduledPurgeDate\":1579126649,\"key\":{\"kid\":\"https://cameravault.vault.azure.net/keys/testEcKeyP-256/b9cebc9453db4884a8dfc138fe710e8e\",\"kty\":\"EC\",\"key_ops\":[\"sign\",\"verify\"],\"crv\":\"P-256\",\"x\":\"AIfWigoJFwM0j_lJsKYqPjNBWimWZG9hVHZcvNnAYFRv\",\"y\":\"AKO5ByrxHj1Yj_uaBEwO73rR3JHFfzLcR4Z3NUtmy58w\"},\"attributes\":{\"enabled\":true,\"created\":1571350648,\"updated\":1571350648,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://cameravault.vault.azure.net/deletedkeys/testEcKeyP-256?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "{\"error\":{\"code\":\"KeyNotFound\",\"message\":\"Deleted Key not found: testEcKeyP-256\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://cameravault.vault.azure.net/keys/testEcKeyP-256K?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"key\":{\"kid\":\"https://cameravault.vault.azure.net/keys/testEcKeyP-256K/9c532e0a7a9c499c962dee06c01f0e61\",\"kty\":\"EC\",\"key_ops\":[\"sign\",\"verify\"],\"crv\":\"P-256K\",\"x\":\"AJezaEj5_RUerFlC8zS8GFhhQFAQAp0OBeUETvAVDHJ5\",\"y\":\"APEQlqySuadPTiCw-LytqM_U8dVBkhHf15ndAOxNqM64\"},\"attributes\":{\"enabled\":true,\"created\":1571350702,\"updated\":1571350702,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://cameravault.vault.azure.net/keys/testEcKeyP-256K/9c532e0a7a9c499c962dee06c01f0e61?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"key\":{\"kid\":\"https://cameravault.vault.azure.net/keys/testEcKeyP-256K/9c532e0a7a9c499c962dee06c01f0e61\",\"kty\":\"EC\",\"key_ops\":[\"sign\",\"verify\"],\"crv\":\"P-256K\",\"x\":\"AJezaEj5_RUerFlC8zS8GFhhQFAQAp0OBeUETvAVDHJ5\",\"y\":\"APEQlqySuadPTiCw-LytqM_U8dVBkhHf15ndAOxNqM64\"},\"attributes\":{\"enabled\":true,\"created\":1571350702,\"updated\":1571350702,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://cameravault.vault.azure.net/keys/testEcKeyP-256K/9c532e0a7a9c499c962dee06c01f0e61/sign?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"kid\":\"https://cameravault.vault.azure.net/keys/testEcKeyP-256K/9c532e0a7a9c499c962dee06c01f0e61\",\"value\":\"a60KVooaoWcK-pb1qofYb7zliDmyEy-BCjI_YGy1RPb2c4guYOWlZeykIbKB7d_zOOU_ykdpX1ujRZs94KkDsg\"}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://cameravault.vault.azure.net/keys/testEcKeyP-256K/9c532e0a7a9c499c962dee06c01f0e61/verify?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"value\":true}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cameravault.vault.azure.net/deletedkeys/testEcKeyP-256K?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "{\"error\":{\"code\":\"KeyNotFound\",\"message\":\"Deleted Key not found: testEcKeyP-256K\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://cameravault.vault.azure.net/deletedkeys/testEcKeyP-256K?api-version=7.0",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "Body" : "{\"error\":{\"code\":\"KeyNotFound\",\"message\":\"Deleted Key not found: testEcKeyP-256K\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}