{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys/6abff074-ce96-4f91-848f-b6bc3a48b4b0-testKey2/create?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"key\":{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/6abff074-ce96-4f91-848f-b6bc3a48b4b0-testKey2/b6f8261d87d74bd4a2d6fea8ffc58712\",\"kty\":\"EC\",\"key_ops\":[\"sign\",\"verify\"],\"crv\":\"P-256\",\"x\":\"wMbu1oZWXXKOKl7Loy44OAxmPavV0RQvT2AS7UR3BUs\",\"y\":\"ogUSUvu4Ns0ybZJi-8Kqejv5dE8q6_l1WJh1pbfNQ_o\"},\"attributes\":{\"enabled\":false,\"exp\":2537049600,\"created\":1583764889,\"updated\":1583764889,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys/6abff074-ce96-4f91-848f-b6bc3a48b4b0-testKey2/?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"key\":{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/6abff074-ce96-4f91-848f-b6bc3a48b4b0-testKey2/b6f8261d87d74bd4a2d6fea8ffc58712\",\"kty\":\"EC\",\"key_ops\":[\"sign\",\"verify\"],\"crv\":\"P-256\",\"x\":\"wMbu1oZWXXKOKl7Loy44OAxmPavV0RQvT2AS7UR3BUs\",\"y\":\"ogUSUvu4Ns0ybZJi-8Kqejv5dE8q6_l1WJh1pbfNQ_o\"},\"attributes\":{\"enabled\":false,\"exp\":2537049600,\"created\":1583764889,\"updated\":1583764889,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys/6abff074-ce96-4f91-848f-b6bc3a48b4b0-testKey2/b6f8261d87d74bd4a2d6fea8ffc58712?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"key\":{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/6abff074-ce96-4f91-848f-b6bc3a48b4b0-testKey2/b6f8261d87d74bd4a2d6fea8ffc58712\",\"kty\":\"EC\",\"key_ops\":[\"sign\",\"verify\"],\"crv\":\"P-256\",\"x\":\"wMbu1oZWXXKOKl7Loy44OAxmPavV0RQvT2AS7UR3BUs\",\"y\":\"ogUSUvu4Ns0ybZJi-8Kqejv5dE8q6_l1WJh1pbfNQ_o\"},\"attributes\":{\"enabled\":false,\"exp\":2852668800,\"created\":1583764889,\"updated\":1583764891,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys/6abff074-ce96-4f91-848f-b6bc3a48b4b0-testKey2/?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"key\":{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/6abff074-ce96-4f91-848f-b6bc3a48b4b0-testKey2/b6f8261d87d74bd4a2d6fea8ffc58712\",\"kty\":\"EC\",\"key_ops\":[\"sign\",\"verify\"],\"crv\":\"P-256\",\"x\":\"wMbu1oZWXXKOKl7Loy44OAxmPavV0RQvT2AS7UR3BUs\",\"y\":\"ogUSUvu4Ns0ybZJi-8Kqejv5dE8q6_l1WJh1pbfNQ_o\"},\"attributes\":{\"enabled\":false,\"exp\":2852668800,\"created\":1583764889,\"updated\":1583764891,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}