{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys/82f8f705-d872-4dc2-ac47-71c9b9d66ab1-testKey1/create?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"key\":{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/82f8f705-d872-4dc2-ac47-71c9b9d66ab1-testKey1/4e9995e664d54af29052373fbe4e9dba\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"mNkZrB-h3rbW0ka0zaX-2kEiMAFWP5cZNJ9Aa2rL2T9KKRQrYZqH0YzpFz9mfTk546WrS_wKactMubjUyKH3q0jFFprEaoymljKJ6MiEuNl0a_MH2PBKiFWwPuhNmb9tqc0XMz2vrZrnz6dWrgXSxndERBrYrYJIjiZi0IgFOSZjXbRMHxz9ep9jZp52xxDoxiB82zMmJewQZ_xoujHvdzKPoRzroFRqT7dzFzceSDtOoviPhR71YzWfR_HmYAZsmwi7giXxDuh9_7IltnA-ROff_GPzxLyMyF46vFqcl4ZeAFlJmGtyBbHpBk4ux1YAupu7m9yhCQ3UfONY8-coTw\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1583764607,\"updated\":1583764607,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys/82f8f705-d872-4dc2-ac47-71c9b9d66ab1-testKey1/?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"key\":{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/82f8f705-d872-4dc2-ac47-71c9b9d66ab1-testKey1/4e9995e664d54af29052373fbe4e9dba\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"mNkZrB-h3rbW0ka0zaX-2kEiMAFWP5cZNJ9Aa2rL2T9KKRQrYZqH0YzpFz9mfTk546WrS_wKactMubjUyKH3q0jFFprEaoymljKJ6MiEuNl0a_MH2PBKiFWwPuhNmb9tqc0XMz2vrZrnz6dWrgXSxndERBrYrYJIjiZi0IgFOSZjXbRMHxz9ep9jZp52xxDoxiB82zMmJewQZ_xoujHvdzKPoRzroFRqT7dzFzceSDtOoviPhR71YzWfR_HmYAZsmwi7giXxDuh9_7IltnA-ROff_GPzxLyMyF46vFqcl4ZeAFlJmGtyBbHpBk4ux1YAupu7m9yhCQ3UfONY8-coTw\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"exp\":2537049600,\"created\":1583764607,\"updated\":1583764607,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "PATCH",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys/82f8f705-d872-4dc2-ac47-71c9b9d66ab1-testKey1/4e9995e664d54af29052373fbe4e9dba?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"key\":{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/82f8f705-d872-4dc2-ac47-71c9b9d66ab1-testKey1/4e9995e664d54af29052373fbe4e9dba\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"mNkZrB-h3rbW0ka0zaX-2kEiMAFWP5cZNJ9Aa2rL2T9KKRQrYZqH0YzpFz9mfTk546WrS_wKactMubjUyKH3q0jFFprEaoymljKJ6MiEuNl0a_MH2PBKiFWwPuhNmb9tqc0XMz2vrZrnz6dWrgXSxndERBrYrYJIjiZi0IgFOSZjXbRMHxz9ep9jZp52xxDoxiB82zMmJewQZ_xoujHvdzKPoRzroFRqT7dzFzceSDtOoviPhR71YzWfR_HmYAZsmwi7giXxDuh9_7IltnA-ROff_GPzxLyMyF46vFqcl4ZeAFlJmGtyBbHpBk4ux1YAupu7m9yhCQ3UfONY8-coTw\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"exp\":2852668800,\"created\":1583764607,\"updated\":1583764608,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azure-sdk-java-key-vault.vault.azure.net/keys/82f8f705-d872-4dc2-ac47-71c9b9d66ab1-testKey1/?api-version=7.1-preview",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"key\":{\"kid\":\"https://azure-sdk-java-key-vault.vault.azure.net/keys/82f8f705-d872-4dc2-ac47-71c9b9d66ab1-testKey1/4e9995e664d54af29052373fbe4e9dba\",\"kty\":\"RSA\",\"key_ops\":[\"encrypt\",\"decrypt\",\"sign\",\"verify\",\"wrapKey\",\"unwrapKey\"],\"n\":\"mNkZrB-h3rbW0ka0zaX-2kEiMAFWP5cZNJ9Aa2rL2T9KKRQrYZqH0YzpFz9mfTk546WrS_wKactMubjUyKH3q0jFFprEaoymljKJ6MiEuNl0a_MH2PBKiFWwPuhNmb9tqc0XMz2vrZrnz6dWrgXSxndERBrYrYJIjiZi0IgFOSZjXbRMHxz9ep9jZp52xxDoxiB82zMmJewQZ_xoujHvdzKPoRzroFRqT7dzFzceSDtOoviPhR71YzWfR_HmYAZsmwi7giXxDuh9_7IltnA-ROff_GPzxLyMyF46vFqcl4ZeAFlJmGtyBbHpBk4ux1YAupu7m9yhCQ3UfONY8-coTw\",\"e\":\"AQAB\"},\"attributes\":{\"enabled\":true,\"exp\":2852668800,\"created\":1583764607,\"updated\":1583764608,\"recoveryLevel\":\"Recoverable+Purgeable\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}