{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azsjavacanautocompleteexcludesfieldsnotinsuggesterdb9795598.search.windows.net/indexes('hotels')/docs/search.index?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "125",
      "OData-Version" : "4.0",
      "Body" : "{\"value\":[{\"key\":\"1\",\"status\":true,\"errorMessage\":null,\"statusCode\":201},{\"key\":\"2\",\"status\":true,\"errorMessage\":null,\"statusCode\":201},{\"key\":\"3\",\"status\":true,\"errorMessage\":null,\"statusCode\":201},{\"key\":\"4\",\"status\":true,\"errorMessage\":null,\"statusCode\":201},{\"key\":\"5\",\"status\":true,\"errorMessage\":null,\"statusCode\":201},{\"key\":\"6\",\"status\":true,\"errorMessage\":null,\"statusCode\":201},{\"key\":\"7\",\"status\":true,\"errorMessage\":null,\"statusCode\":201},{\"key\":\"8\",\"status\":true,\"errorMessage\":null,\"statusCode\":201},{\"key\":\"9\",\"status\":true,\"errorMessage\":null,\"statusCode\":201},{\"key\":\"10\",\"status\":true,\"errorMessage\":null,\"statusCode\":201}]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=none"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azsjavacanautocompleteexcludesfieldsnotinsuggesterdb9795598.search.windows.net/indexes('hotels')/docs/search.post.autocomplete?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "8",
      "OData-Version" : "4.0",
      "Body" : "{\"value\":[]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=none"
    },
    "Exception" : null
  } ],
  "variables" : [ "azsjavacanautocompleteexcludesfieldsnotinsuggesterdb9795598" ]
}