{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azs-sdk9047741df0a.search.windows.net/datasources?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7B96009827E26\"",
      "elapsed-time" : "55",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdk9047741df0a.search.windows.net/$metadata#datasources/$entity\",\"@odata.etag\":\"\\\"0x8D7B96009827E26\\\"\",\"name\":\"azs-java-test-blob\",\"description\":\"Some data source\",\"type\":\"azureblob\",\"subtype\":null,\"credentials\":{\"connectionString\":null},\"container\":{\"name\":\"fakecontainer\",\"query\":\"/fakefolder/\"},\"dataChangeDetectionPolicy\":null,\"dataDeletionDetectionPolicy\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azs-sdk9047741df0a.search.windows.net/datasources('azs-java-test-blob')?api-version=2019-05-06"
    },
    "Exception" : null
  } ],
  "variables" : [ "azs-sdk9047741df0a" ]
}