{
  "networkCallRecords" : [ {
    "Method" : "DELETE",
    "Uri" : "https://azsjavacancreateanddeletedatasource0dc64344689b9d7c.search.windows.net/datasources('azs-java-test-blob')?api-version=2019-05-06-Preview",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "elapsed-time" : "22",
      "OData-Version" : "4.0",
      "Body" : "{\"error\":{\"code\":\"\",\"message\":\"No datasource with the name 'azs-java-test-blob' was found in a service named 'azsjavacancreateanddeletedatasource0dc64344689b9d7c'.\"}}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Language" : "en",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azsjavacancreateanddeletedatasource0dc64344689b9d7c.search.windows.net/datasources('azs-java-test-blob')?api-version=2019-05-06-Preview",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "elapsed-time" : "9",
      "OData-Version" : "4.0",
      "Body" : "{\"error\":{\"code\":\"\",\"message\":\"No data source with the name 'azs-java-test-blob' was found in service 'azsjavacancreateanddeletedatasource0dc64344689b9d7c'.\"}}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Language" : "en",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  } ],
  "variables" : [ "azsjavacancreateanddeletedatasource0dc64344689b9d7c" ]
}