{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azsjavacancreateanddeleteskillset3a58256069266d988.search.windows.net/skillsets?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E627C996F203\"",
      "elapsed-time" : "52",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjavacancreateanddeleteskillset3a58256069266d988.search.windows.net/$metadata#skillsets/$entity\",\"@odata.etag\":\"\\\"0x8D7E627C996F203\\\"\",\"name\":\"ocr-skillset\",\"description\":\"Skillset for testing default configuration\",\"skills\":[{\"@odata.type\":\"#Microsoft.Skills.Vision.OcrSkill\",\"name\":\"myocr\",\"description\":\"Tested OCR skill\",\"context\":\"/document\",\"textExtractionAlgorithm\":null,\"lineEnding\":null,\"defaultLanguageCode\":null,\"detectOrientation\":false,\"inputs\":[{\"name\":\"url\",\"source\":\"/document/url\",\"sourceContext\":null,\"inputs\":[]},{\"name\":\"queryString\",\"source\":\"/document/queryString\",\"sourceContext\":null,\"inputs\":[]}],\"outputs\":[{\"name\":\"text\",\"targetName\":\"mytext\"}]}],\"cognitiveServices\":null,\"knowledgeStore\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjavacancreateanddeleteskillset3a58256069266d988.search.windows.net/skillsets('ocr-skillset')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azsjavacancreateanddeleteskillset3a58256069266d988.search.windows.net/skillsets('ocr-skillset')?api-version=2019-05-06-Preview",
    "Headers" : {
    },
    "Response" : {
      "elapsed-time" : "30",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azsjavacancreateanddeleteskillset3a58256069266d988.search.windows.net/skillsets('ocr-skillset')?api-version=2019-05-06-Preview",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "elapsed-time" : "14",
      "OData-Version" : "4.0",
      "Body" : "{\"error\":{\"code\":\"\",\"message\":\"No skillset with the name 'ocr-skillset' was found in service 'Microsoft.WindowsAzure.Search.Core.Models.SearchService'.\"}}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Language" : "en",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  } ],
  "variables" : [ "azsjavacancreateanddeleteskillset3a58256069266d988" ]
}