{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azsjavacangetdynamicdocumentwithnulloremptyvaluesb1d769845.search.windows.net/indexes('hotels')/docs/search.index?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "318",
      "OData-Version" : "4.0",
      "Body" : "{\"value\":[{\"key\":\"1\",\"status\":true,\"errorMessage\":null,\"statusCode\":201}]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=none"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azsjavacangetdynamicdocumentwithnulloremptyvaluesb1d769845.search.windows.net/indexes('hotels')/docs('1')?$select=HotelId%2cHotelName%2cTags%2cParkingIncluded%2cLastRenovationDate%2cRating%2cLocation%2cAddress%2cRooms/BaseRate%2cRooms/BedOptions%2cRooms/SleepsCount%2cRooms/SmokingAllowed%2cRooms/Tags&api-version=2019-05-06-Preview",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "9",
      "OData-Version" : "4.0",
      "Body" : "{\"HotelId\":\"1\",\"HotelName\":null,\"Tags\":[],\"ParkingIncluded\":null,\"LastRenovationDate\":null,\"Rating\":null,\"Location\":null,\"Address\":null,\"Rooms\":[{\"BaseRate\":null,\"BedOptions\":null,\"SleepsCount\":null,\"SmokingAllowed\":null,\"Tags\":[]}]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=none"
    },
    "Exception" : null
  } ],
  "variables" : [ "azsjavacangetdynamicdocumentwithnulloremptyvaluesb1d769845" ]
}