{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azsjavacangetdocumentwithbase64encodedkey7eb77409d49b1.search.windows.net/indexes('hotels')/docs/search.index?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "189",
      "OData-Version" : "4.0",
      "Body" : "{\"value\":[{\"key\":\"AQIDBAU=\",\"status\":true,\"errorMessage\":null,\"statusCode\":201}]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=none"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azsjavacangetdocumentwithbase64encodedkey7eb77409d49b1.search.windows.net/indexes('hotels')/docs('AQIDBAU=')?$select=HotelId&api-version=2019-05-06-Preview",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "16",
      "OData-Version" : "4.0",
      "Body" : "{\"HotelId\":\"AQIDBAU=\"}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=none"
    },
    "Exception" : null
  } ],
  "variables" : [ "azsjavacangetdocumentwithbase64encodedkey7eb77409d49b1" ]
}