{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azsjavacanrunindexer6c973955ff8f90375dc14813.search.windows.net/datasources('azs-java-test-sql')?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E624DC12C56F\"",
      "elapsed-time" : "67",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjavacanrunindexer6c973955ff8f90375dc14813.search.windows.net/$metadata#datasources/$entity\",\"@odata.etag\":\"\\\"0x8D7E624DC12C56F\\\"\",\"name\":\"azs-java-test-sql\",\"description\":\"Some data source\",\"type\":\"azuresql\",\"subtype\":null,\"credentials\":{\"connectionString\":null},\"container\":{\"name\":\"GeoNamesRI\",\"query\":null},\"dataChangeDetectionPolicy\":null,\"dataDeletionDetectionPolicy\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjavacanrunindexer6c973955ff8f90375dc14813.search.windows.net/datasources('azs-java-test-sql')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azsjavacanrunindexer6c973955ff8f90375dc14813.search.windows.net/indexes?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E624DCA40505\"",
      "elapsed-time" : "951",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjavacanrunindexer6c973955ff8f90375dc14813.search.windows.net/$metadata#indexes/$entity\",\"@odata.etag\":\"\\\"0x8D7E624DCA40505\\\"\",\"name\":\"indexforindexers\",\"defaultScoringProfile\":null,\"fields\":[{\"name\":\"county_name\",\"type\":\"Edm.String\",\"searchable\":false,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":false,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]},{\"name\":\"state\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":false,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]},{\"name\":\"feature_id\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":false,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":true,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]}],\"scoringProfiles\":[],\"corsOptions\":null,\"suggesters\":[],\"analyzers\":[],\"tokenizers\":[],\"tokenFilters\":[],\"charFilters\":[],\"encryptionKey\":null,\"similarity\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjavacanrunindexer6c973955ff8f90375dc14813.search.windows.net/indexes('indexforindexers')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azsjavacanrunindexer6c973955ff8f90375dc14813.search.windows.net/indexers?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E624DD4378DA\"",
      "elapsed-time" : "1127",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjavacanrunindexer6c973955ff8f90375dc14813.search.windows.net/$metadata#indexers/$entity\",\"@odata.etag\":\"\\\"0x8D7E624DD4378DA\\\"\",\"name\":\"indexer\",\"description\":null,\"dataSourceName\":\"azs-java-test-sql\",\"skillsetName\":null,\"targetIndexName\":\"indexforindexers\",\"disabled\":null,\"schedule\":{\"interval\":\"P1D\",\"startTime\":\"0001-01-01T00:00:00Z\"},\"parameters\":null,\"fieldMappings\":[],\"outputFieldMappings\":[],\"cache\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjavacanrunindexer6c973955ff8f90375dc14813.search.windows.net/indexers('indexer')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azsjavacanrunindexer6c973955ff8f90375dc14813.search.windows.net/indexers('indexer')/search.run?api-version=2019-05-06-Preview",
    "Headers" : {
    },
    "Response" : {
      "elapsed-time" : "46",
      "retry-after" : "0",
      "StatusCode" : "202"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azsjavacanrunindexer6c973955ff8f90375dc14813.search.windows.net/indexers('indexer')/search.status?api-version=2019-05-06-Preview",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "21",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjavacanrunindexer6c973955ff8f90375dc14813.search.windows.net/$metadata#Microsoft.Azure.Search.V2019_05_06_Preview.IndexerExecutionInfo\",\"name\":\"indexer\",\"status\":\"running\",\"lastResult\":null,\"executionHistory\":[],\"limits\":{\"maxRunTime\":\"PT0S\",\"maxDocumentExtractionSize\":0,\"maxDocumentContentCharactersToExtract\":0}}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  } ],
  "variables" : [ "azsjavacanrunindexer6c973955ff8f90375dc14813" ]
}