{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azsjavacanuseallregexflagsemptyflagsanalyzerdce287450b1b.search.windows.net/indexes?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "400",
      "elapsed-time" : "42",
      "OData-Version" : "4.0",
      "Body" : "{\"error\":{\"code\":\"\",\"message\":\"The request is invalid. Details: index.analyzers[0].flags : Values of property \\\"flags\\\" must belong to the set of allowed values (case-sensitive) or be in the pipe form of them (e.g. value1|value2|...): CANON_EQ, CASE_INSENSITIVE, COMMENTS, DOTALL, LITERAL, MULTILINE, UNICODE_CASE, UNIX_LINES.\\r\\n\"}}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Language" : "en",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  } ],
  "variables" : [ "azsjavacanuseallregexflagsemptyflagsanalyzerdce287450b1b", "azsmnet23769f4c60e" ]
}