{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azsjavacanupdateindexerbatchsizemaxfaileditems2e7690805aa.search.windows.net/datasources('azs-java-test-sql')?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E625219CF7FD\"",
      "elapsed-time" : "59",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjavacanupdateindexerbatchsizemaxfaileditems2e7690805aa.search.windows.net/$metadata#datasources/$entity\",\"@odata.etag\":\"\\\"0x8D7E625219CF7FD\\\"\",\"name\":\"azs-java-test-sql\",\"description\":\"Some data source\",\"type\":\"azuresql\",\"subtype\":null,\"credentials\":{\"connectionString\":null},\"container\":{\"name\":\"GeoNamesRI\",\"query\":null},\"dataChangeDetectionPolicy\":null,\"dataDeletionDetectionPolicy\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjavacanupdateindexerbatchsizemaxfaileditems2e7690805aa.search.windows.net/datasources('azs-java-test-sql')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azsjavacanupdateindexerbatchsizemaxfaileditems2e7690805aa.search.windows.net/indexes?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E6252263D3A3\"",
      "elapsed-time" : "1297",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjavacanupdateindexerbatchsizemaxfaileditems2e7690805aa.search.windows.net/$metadata#indexes/$entity\",\"@odata.etag\":\"\\\"0x8D7E6252263D3A3\\\"\",\"name\":\"indexforindexers\",\"defaultScoringProfile\":null,\"fields\":[{\"name\":\"county_name\",\"type\":\"Edm.String\",\"searchable\":false,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":false,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]},{\"name\":\"state\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":false,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]},{\"name\":\"feature_id\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":false,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":true,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]}],\"scoringProfiles\":[],\"corsOptions\":null,\"suggesters\":[],\"analyzers\":[],\"tokenizers\":[],\"tokenFilters\":[],\"charFilters\":[],\"encryptionKey\":null,\"similarity\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjavacanupdateindexerbatchsizemaxfaileditems2e7690805aa.search.windows.net/indexes('indexforindexers')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azsjavacanupdateindexerbatchsizemaxfaileditems2e7690805aa.search.windows.net/indexers?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E6252272CB57\"",
      "elapsed-time" : "45",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjavacanupdateindexerbatchsizemaxfaileditems2e7690805aa.search.windows.net/$metadata#indexers/$entity\",\"@odata.etag\":\"\\\"0x8D7E6252272CB57\\\"\",\"name\":\"indexer\",\"description\":null,\"dataSourceName\":\"azs-java-test-sql\",\"skillsetName\":null,\"targetIndexName\":\"indexforindexers\",\"disabled\":true,\"schedule\":{\"interval\":\"P1D\",\"startTime\":\"0001-01-01T00:00:00Z\"},\"parameters\":null,\"fieldMappings\":[],\"outputFieldMappings\":[],\"cache\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjavacanupdateindexerbatchsizemaxfaileditems2e7690805aa.search.windows.net/indexers('indexer')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azsjavacanupdateindexerbatchsizemaxfaileditems2e7690805aa.search.windows.net/indexers('indexer')?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "W/\"0x8D7E62522859494\"",
      "elapsed-time" : "169",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjavacanupdateindexerbatchsizemaxfaileditems2e7690805aa.search.windows.net/$metadata#indexers/$entity\",\"@odata.etag\":\"\\\"0x8D7E62522859494\\\"\",\"name\":\"indexer\",\"description\":null,\"dataSourceName\":\"azs-java-test-sql\",\"skillsetName\":null,\"targetIndexName\":\"indexforindexers\",\"disabled\":null,\"schedule\":{\"interval\":\"P1D\",\"startTime\":\"0001-01-01T00:00:00Z\"},\"parameters\":{\"batchSize\":20,\"maxFailedItems\":121,\"maxFailedItemsPerBatch\":11,\"base64EncodeKeys\":null,\"configuration\":{}},\"fieldMappings\":[],\"outputFieldMappings\":[],\"cache\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  } ],
  "variables" : [ "azsjavacanupdateindexerbatchsizemaxfaileditems2e7690805aa" ]
}