{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azs-sdk967419e8365.search.windows.net/indexes?api-version=2019-05-06",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7B95FD63E980E\"",
      "elapsed-time" : "659",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azs-sdk967419e8365.search.windows.net/$metadata#indexes/$entity\",\"@odata.etag\":\"\\\"0x8D7B95FD63E980E\\\"\",\"name\":\"hotels\",\"defaultScoringProfile\":\"MyProfile\",\"fields\":[{\"name\":\"HotelId\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":true,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]},{\"name\":\"HotelName\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":false,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]},{\"name\":\"Description\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":false,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":\"en.lucene\",\"synonymMaps\"[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azs-sdk967419e8365.search.windows.net/indexes('hotels')?api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "elapsed-time" : "339",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azs-sdk967419e8365.search.windows.net/indexes('hotels')?api-version=2019-05-06",
    "Headers" : { },
    "Response" : {
      "elapsed-time" : "189",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  } ],
  "variables" : [ "azs-sdk967419e8365", "azsmnet92937bab501", "azsmnet17410c18b61", "azsmnet39419adad43", "azsmnet274264647db", "azsmnet63526ed7b99", "azsmnet230107a0445", "azsmnet53090f382fa", "azsmnet635014fb85a", "azsmnet1290268dedb", "azsmnet89907a938f1", "azsmnet0403412580c", "azsmnet174028edf4f", "azsmnet40334b11b94", "azsmnet63934f45d82", "azsmnet12109286a06", "azsmnet2311749e220", "azsmnet907854a0702", "azsmnet158909d8d78", "azsmnet7540073b890", "azsmnet0934732cb14", "azsmnet502530d03b7", "azsmnet60802[...]
