{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azsjava49438556284a344fe49db99d1e3c0.search.windows.net/synonymmaps('test-synonym')?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E62857CC012B\"",
      "elapsed-time" : "32",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjava49438556284a344fe49db99d1e3c0.search.windows.net/$metadata#synonymmaps/$entity\",\"@odata.etag\":\"\\\"0x8D7E62857CC012B\\\"\",\"name\":\"test-synonym\",\"format\":\"solr\",\"synonyms\":\"word1,word2\",\"encryptionKey\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjava49438556284a344fe49db99d1e3c0.search.windows.net/synonymmaps('test-synonym')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azsjava49438556284a344fe49db99d1e3c0.search.windows.net/synonymmaps('test-synonym')?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "412",
      "elapsed-time" : "5",
      "OData-Version" : "4.0",
      "Body" : "{\"error\":{\"code\":\"\",\"message\":\"The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request.\"}}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Language" : "en",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  } ],
  "variables" : [ "azsjava49438556284a344fe49db99d1e3c0" ]
}