{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azsjavacreatedatasourcereturnscorrectdefinition89806387e6.search.windows.net/datasources('azs-java-test-sql')?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E624BD558C2C\"",
      "elapsed-time" : "45",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjavacreatedatasourcereturnscorrectdefinition89806387e6.search.windows.net/$metadata#datasources/$entity\",\"@odata.etag\":\"\\\"0x8D7E624BD558C2C\\\"\",\"name\":\"azs-java-test-sql\",\"description\":\"Some data source\",\"type\":\"azuresql\",\"subtype\":null,\"credentials\":{\"connectionString\":null},\"container\":{\"name\":\"GeoNamesRI\",\"query\":null},\"dataChangeDetectionPolicy\":null,\"dataDeletionDetectionPolicy\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjavacreatedatasourcereturnscorrectdefinition89806387e6.search.windows.net/datasources('azs-java-test-sql')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azsjavacreatedatasourcereturnscorrectdefinition89806387e6.search.windows.net/datasources('azs-java-test-sql')?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E624BD680738\"",
      "elapsed-time" : "33",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjavacreatedatasourcereturnscorrectdefinition89806387e6.search.windows.net/$metadata#datasources/$entity\",\"@odata.etag\":\"\\\"0x8D7E624BD680738\\\"\",\"name\":\"azs-java-test-sql\",\"description\":\"Some data source\",\"type\":\"azuresql\",\"subtype\":null,\"credentials\":{\"connectionString\":null},\"container\":{\"name\":\"GeoNamesRI\",\"query\":null},\"dataChangeDetectionPolicy\":null,\"dataDeletionDetectionPolicy\":{\"@odata.type\":\"#Microsoft.Azure.Search.SoftDeleteColumnDeletionDetectionPolicy\",\"softDeleteColumnName\":\"isDeleted\",\"softDeleteMarkerValue\":\"1\"}}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjavacreatedatasourcereturnscorrectdefinition89806387e6.search.windows.net/datasources('azs-java-test-sql')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azsjavacreatedatasourcereturnscorrectdefinition89806387e6.search.windows.net/datasources('azs-java-test-sql')?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E624BE42BDA0\"",
      "elapsed-time" : "55",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjavacreatedatasourcereturnscorrectdefinition89806387e6.search.windows.net/$metadata#datasources/$entity\",\"@odata.etag\":\"\\\"0x8D7E624BE42BDA0\\\"\",\"name\":\"azs-java-test-sql\",\"description\":\"Some data source\",\"type\":\"azuresql\",\"subtype\":null,\"credentials\":{\"connectionString\":null},\"container\":{\"name\":\"GeoNamesRI\",\"query\":null},\"dataChangeDetectionPolicy\":{\"@odata.type\":\"#Microsoft.Azure.Search.HighWaterMarkChangeDetectionPolicy\",\"highWaterMarkColumnName\":\"fakecolumn\"},\"dataDeletionDetectionPolicy\":{\"@odata.type\":\"#Microsoft.Azure.Search.SoftDeleteColumnDeletionDetectionPolicy\",\"softDeleteColumnName\":\"isDeleted\",\"softDeleteMarkerValue\":\"1\"}}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjavacreatedatasourcereturnscorrectdefinition89806387e6.search.windows.net/datasources('azs-java-test-sql')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azsjavacreatedatasourcereturnscorrectdefinition89806387e6.search.windows.net/datasources('azs-java-test-cosmos')?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E624BE5E146A\"",
      "elapsed-time" : "83",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjavacreatedatasourcereturnscorrectdefinition89806387e6.search.windows.net/$metadata#datasources/$entity\",\"@odata.etag\":\"\\\"0x8D7E624BE5E146A\\\"\",\"name\":\"azs-java-test-cosmos\",\"description\":\"Some data source\",\"type\":\"cosmosdb\",\"subtype\":null,\"credentials\":{\"connectionString\":null},\"container\":{\"name\":\"faketable\",\"query\":\"SELECT ... FROM x where x._ts > @HighWaterMark\"},\"dataChangeDetectionPolicy\":null,\"dataDeletionDetectionPolicy\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjavacreatedatasourcereturnscorrectdefinition89806387e6.search.windows.net/datasources('azs-java-test-cosmos')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azsjavacreatedatasourcereturnscorrectdefinition89806387e6.search.windows.net/datasources('azs-java-test-blob')?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E624BEA4562E\"",
      "elapsed-time" : "28",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjavacreatedatasourcereturnscorrectdefinition89806387e6.search.windows.net/$metadata#datasources/$entity\",\"@odata.etag\":\"\\\"0x8D7E624BEA4562E\\\"\",\"name\":\"azs-java-test-blob\",\"description\":\"Some data source\",\"type\":\"azureblob\",\"subtype\":null,\"credentials\":{\"connectionString\":null},\"container\":{\"name\":\"fakecontainer\",\"query\":\"/fakefolder/\"},\"dataChangeDetectionPolicy\":null,\"dataDeletionDetectionPolicy\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjavacreatedatasourcereturnscorrectdefinition89806387e6.search.windows.net/datasources('azs-java-test-blob')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "PUT",
    "Uri" : "https://azsjavacreatedatasourcereturnscorrectdefinition89806387e6.search.windows.net/datasources('azs-java-test-tablestorage')?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E624BED8922B\"",
      "elapsed-time" : "30",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjavacreatedatasourcereturnscorrectdefinition89806387e6.search.windows.net/$metadata#datasources/$entity\",\"@odata.etag\":\"\\\"0x8D7E624BED8922B\\\"\",\"name\":\"azs-java-test-tablestorage\",\"description\":\"Some data source\",\"type\":\"azuretable\",\"subtype\":null,\"credentials\":{\"connectionString\":null},\"container\":{\"name\":\"faketable\",\"query\":\"fake query\"},\"dataChangeDetectionPolicy\":null,\"dataDeletionDetectionPolicy\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjavacreatedatasourcereturnscorrectdefinition89806387e6.search.windows.net/datasources('azs-java-test-tablestorage')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azsjavacreatedatasourcereturnscorrectdefinition89806387e6.search.windows.net/datasources('azs-java-test-blob')?api-version=2019-05-06-Preview",
    "Headers" : {
    },
    "Response" : {
      "elapsed-time" : "29",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  } ],
  "variables" : [ "azsjavacreatedatasourcereturnscorrectdefinition89806387e6" ]
}