{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azsjava61141f47cfe3ed92c41f2992c7e79.search.windows.net/synonymmaps('test-synonym')?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E6283CACF2FE\"",
      "elapsed-time" : "41",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjava61141f47cfe3ed92c41f2992c7e79.search.windows.net/$metadata#synonymmaps/$entity\",\"@odata.etag\":\"\\\"0x8D7E6283CACF2FE\\\"\",\"name\":\"test-synonym\",\"format\":\"solr\",\"synonyms\":\"word1,word2\",\"encryptionKey\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjava61141f47cfe3ed92c41f2992c7e79.search.windows.net/synonymmaps('test-synonym')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azsjava61141f47cfe3ed92c41f2992c7e79.search.windows.net/synonymmaps('test-synonym')?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "W/\"0x8D7E6283CB3AB5E\"",
      "elapsed-time" : "42",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjava61141f47cfe3ed92c41f2992c7e79.search.windows.net/$metadata#synonymmaps/$entity\",\"@odata.etag\":\"\\\"0x8D7E6283CB3AB5E\\\"\",\"name\":\"test-synonym\",\"format\":\"solr\",\"synonyms\":\"mutated1, mutated2\",\"encryptionKey\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  } ],
  "variables" : [ "azsjava61141f47cfe3ed92c41f2992c7e79" ]
}