{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azsjavacreateorupdateupdateswhenskillsetexists5d0765415d0.search.windows.net/skillsets('testskillset')?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E627C4D890CD\"",
      "elapsed-time" : "52",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjavacreateorupdateupdateswhenskillsetexists5d0765415d0.search.windows.net/$metadata#skillsets/$entity\",\"@odata.etag\":\"\\\"0x8D7E627C4D890CD\\\"\",\"name\":\"testskillset\",\"description\":\"Skillset for testing OCR\",\"skills\":[{\"@odata.type\":\"#Microsoft.Skills.Vision.OcrSkill\",\"name\":\"myocr-0\",\"description\":\"Tested OCR skill\",\"context\":\"/document\",\"textExtractionAlgorithm\":\"handwritten\",\"lineEnding\":null,\"defaultLanguageCode\":\"en\",\"detectOrientation\":false,\"inputs\":[{\"name\":\"url\",\"source\":\"/document/url\",\"sourceContext\":null,\"inputs\":[]},{\"name\":\"queryString\",\"source\":\"/document/queryString\",\"sourceContext\":null,\"inputs\":[]}],\"outputs\":[{\"name\":\"text\",\"targetName\":\"mytext0\"}]}],\"cognitiveServices\":null,\"knowledgeStore\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjavacreateorupdateupdateswhenskillsetexists5d0765415d0.search.windows.net/skillsets('testskillset')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
[...]
