{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azsjavacreatecustomskillsetreturnscorrectdefinitionecd94481.search.windows.net/skillsets?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E627CBECBDC7\"",
      "elapsed-time" : "69",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjavacreatecustomskillsetreturnscorrectdefinitionecd94481.search.windows.net/$metadata#skillsets/$entity\",\"@odata.etag\":\"\\\"0x8D7E627CBECBDC7\\\"\",\"name\":\"custom-skillset\",\"description\":\"Skillset for testing custom skillsets\",\"skills\":[{\"@odata.type\":\"#Microsoft.Skills.Custom.WebApiSkill\",\"name\":\"webapi-skill\",\"description\":\"Calls an Azure function, which in turn calls Bing Entity Search\",\"context\":null,\"uri\":\"https://indexer-e2e-webskill.azurewebsites.net/api/InvokeTextAnalyticsV3?code=foo\",\"httpMethod\":\"POST\",\"timeout\":null,\"batchSize\":null,\"degreeOfParallelism\":null,\"inputs\":[{\"name\":\"text\",\"source\":\"/document/mytext\",\"sourceContext\":null,\"inputs\":[]}],\"outputs\":[{\"name\":\"textItems\",\"targetName\":\"myTextItems\"}],\"httpHeaders\":{\"Ocp-Apim-Subscription-Key\":\"foobar\"}}],\"cognitiveServices\":null,\"knowledgeStore\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjavacreatecustomskillsetreturnscorrectdefinitionecd94481.search.windows.net/skillsets('custom-skillset')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
  } ],
  "variables" : [ "azsjavacreatecustomskillsetreturnscorrectdefinitionecd94481" ]
}