{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azsjava85729cbe6fef636a94dc58e0a61f8.search.windows.net/datasources('azs-java-test-sql')?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E625002396B0\"",
      "elapsed-time" : "129",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjava85729cbe6fef636a94dc58e0a61f8.search.windows.net/$metadata#datasources/$entity\",\"@odata.etag\":\"\\\"0x8D7E625002396B0\\\"\",\"name\":\"azs-java-test-sql\",\"description\":\"Some data source\",\"type\":\"azuresql\",\"subtype\":null,\"credentials\":{\"connectionString\":null},\"container\":{\"name\":\"GeoNamesRI\",\"query\":null},\"dataChangeDetectionPolicy\":null,\"dataDeletionDetectionPolicy\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjava85729cbe6fef636a94dc58e0a61f8.search.windows.net/datasources('azs-java-test-sql')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azsjava85729cbe6fef636a94dc58e0a61f8.search.windows.net/indexes?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E62500BA55D2\"",
      "elapsed-time" : "998",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjava85729cbe6fef636a94dc58e0a61f8.search.windows.net/$metadata#indexes/$entity\",\"@odata.etag\":\"\\\"0x8D7E62500BA55D2\\\"\",\"name\":\"indexforindexers\",\"defaultScoringProfile\":null,\"fields\":[{\"name\":\"county_name\",\"type\":\"Edm.String\",\"searchable\":false,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":false,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]},{\"name\":\"state\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":false,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]},{\"name\":\"feature_id\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":false,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":true,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]}],\"scoringProfiles\":[],\"corsOptions\":null,\"suggesters\":[],\"analyzers\":[],\"tokenizers\":[],\"tokenFilters\":[],\"charFilters\":[],\"encryptionKey\":null,\"similarity\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjava85729cbe6fef636a94dc58e0a61f8.search.windows.net/indexes('indexforindexers')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azsjava85729cbe6fef636a94dc58e0a61f8.search.windows.net/indexers('name')?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E62500D2C5C9\"",
      "elapsed-time" : "141",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjava85729cbe6fef636a94dc58e0a61f8.search.windows.net/$metadata#indexers/$entity\",\"@odata.etag\":\"\\\"0x8D7E62500D2C5C9\\\"\",\"name\":\"name\",\"description\":null,\"dataSourceName\":\"azs-java-test-sql\",\"skillsetName\":null,\"targetIndexName\":\"indexforindexers\",\"disabled\":null,\"schedule\":{\"interval\":\"P1D\",\"startTime\":\"0001-01-01T00:00:00Z\"},\"parameters\":null,\"fieldMappings\":[],\"outputFieldMappings\":[],\"cache\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjava85729cbe6fef636a94dc58e0a61f8.search.windows.net/indexers('name')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
  } ],
  "variables" : [ "azsjava85729cbe6fef636a94dc58e0a61f8" ]
}