{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azsjava092253c498dc6386047d4bdcca342.search.windows.net/datasources('azs-java-test-sql')?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E6254E9ED58C\"",
      "elapsed-time" : "50",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjava092253c498dc6386047d4bdcca342.search.windows.net/$metadata#datasources/$entity\",\"@odata.etag\":\"\\\"0x8D7E6254E9ED58C\\\"\",\"name\":\"azs-java-test-sql\",\"description\":\"Some data source\",\"type\":\"azuresql\",\"subtype\":null,\"credentials\":{\"connectionString\":null},\"container\":{\"name\":\"GeoNamesRI\",\"query\":null},\"dataChangeDetectionPolicy\":null,\"dataDeletionDetectionPolicy\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjava092253c498dc6386047d4bdcca342.search.windows.net/datasources('azs-java-test-sql')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://azsjava092253c498dc6386047d4bdcca342.search.windows.net/indexes?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E6254F4E7A2F\"",
      "elapsed-time" : "1152",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjava092253c498dc6386047d4bdcca342.search.windows.net/$metadata#indexes/$entity\",\"@odata.etag\":\"\\\"0x8D7E6254F4E7A2F\\\"\",\"name\":\"indexforindexers\",\"defaultScoringProfile\":null,\"fields\":[{\"name\":\"county_name\",\"type\":\"Edm.String\",\"searchable\":false,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":false,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]},{\"name\":\"state\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":true,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":false,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]},{\"name\":\"feature_id\",\"type\":\"Edm.String\",\"searchable\":true,\"filterable\":false,\"retrievable\":true,\"sortable\":true,\"facetable\":true,\"key\":true,\"indexAnalyzer\":null,\"searchAnalyzer\":null,\"analyzer\":null,\"synonymMaps\":[]}],\"scoringProfiles\":[],\"corsOptions\":null,\"suggesters\":[],\"analyzers\":[],\"tokenizers\":[],\"tokenFilters\":[],\"charFilters\":[],\"encryptionKey\":null,\"similarity\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjava092253c498dc6386047d4bdcca342.search.windows.net/indexes('indexforindexers')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azsjava092253c498dc6386047d4bdcca342.search.windows.net/indexers('name')?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E6254F8D4026\"",
      "elapsed-time" : "403",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjava092253c498dc6386047d4bdcca342.search.windows.net/$metadata#indexers/$entity\",\"@odata.etag\":\"\\\"0x8D7E6254F8D4026\\\"\",\"name\":\"name\",\"description\":null,\"dataSourceName\":\"azs-java-test-sql\",\"skillsetName\":null,\"targetIndexName\":\"indexforindexers\",\"disabled\":null,\"schedule\":{\"interval\":\"P1D\",\"startTime\":\"0001-01-01T00:00:00Z\"},\"parameters\":null,\"fieldMappings\":[],\"outputFieldMappings\":[],\"cache\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjava092253c498dc6386047d4bdcca342.search.windows.net/indexers('name')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azsjava092253c498dc6386047d4bdcca342.search.windows.net/indexers('name')?api-version=2019-05-06-Preview",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "412",
      "elapsed-time" : "4",
      "OData-Version" : "4.0",
      "Body" : "{\"error\":{\"code\":\"\",\"message\":\"The precondition given in one of the request headers evaluated to false. No change was made to the resource from this request.\"}}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Language" : "en",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  }, {
    "Method" : "DELETE",
    "Uri" : "https://azsjava092253c498dc6386047d4bdcca342.search.windows.net/indexers('name')?api-version=2019-05-06-Preview",
    "Headers" : {
    },
    "Response" : {
      "elapsed-time" : "31",
      "retry-after" : "0",
      "StatusCode" : "204"
    },
    "Exception" : null
  } ],
  "variables" : [ "azsjava092253c498dc6386047d4bdcca342" ]
}