{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azsjava44222aa429ca5e94d4204b1817d9f.search.windows.net/indexes('hotels')/docs/search.index?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "483",
      "OData-Version" : "4.0",
      "Body" : "{\"value\":[{\"key\":\"1\",\"status\":true,\"errorMessage\":null,\"statusCode\":201}]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=none"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azsjava44222aa429ca5e94d4204b1817d9f.search.windows.net/indexes('hotels')/docs('1')?$select=HotelId%2cRooms/BaseRate%2cRooms/BedOptions%2cRooms/SleepsCount%2cRooms/SmokingAllowed%2cRooms/Tags&api-version=2019-05-06-Preview",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "8",
      "OData-Version" : "4.0",
      "Body" : "{\"HotelId\":\"1\",\"Rooms\":[{\"BaseRate\":null,\"BedOptions\":null,\"SleepsCount\":null,\"SmokingAllowed\":null,\"Tags\":[]}]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=none"
    },
    "Exception" : null
  } ],
  "variables" : [ "azsjava44222aa429ca5e94d4204b1817d9f" ]
}