{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azsjava35652d6b33891c3374830bdcabb39.search.windows.net/indexes('hotels')/docs/search.index?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "192",
      "OData-Version" : "4.0",
      "Body" : "{\"value\":[{\"key\":\"1\",\"status\":true,\"errorMessage\":null,\"statusCode\":201}]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=none"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azsjava35652d6b33891c3374830bdcabb39.search.windows.net/indexes('hotels')/docs('1')?$select=HotelId%2cHotelName%2cLocation%2cRooms/BaseRate&api-version=2019-05-06-Preview",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "elapsed-time" : "21",
      "OData-Version" : "4.0",
      "Body" : "{\"HotelId\":\"1\",\"HotelName\":\"2015-02-11T12:58:00Z\",\"Location\":{\"type\":\"Point\",\"coordinates\":[-73.975403,40.760586],\"crs\":{\"type\":\"name\",\"properties\":{\"name\":\"EPSG:4326\"}}},\"Rooms\":[{\"BaseRate\":\"NaN\"}]}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=none"
    },
    "Exception" : null
  } ],
  "variables" : [ "azsjava35652d6b33891c3374830bdcabb39" ]
}