{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://azsjava70864849751cbbfad4785a414cc8f.search.windows.net/synonymmaps?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E6282ABBD501\"",
      "elapsed-time" : "31",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjava70864849751cbbfad4785a414cc8f.search.windows.net/$metadata#synonymmaps/$entity\",\"@odata.etag\":\"\\\"0x8D7E6282ABBD501\\\"\",\"name\":\"test-synonym\",\"format\":\"solr\",\"synonyms\":\"word1,word2\",\"encryptionKey\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjava70864849751cbbfad4785a414cc8f.search.windows.net/synonymmaps('test-synonym')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://azsjava70864849751cbbfad4785a414cc8f.search.windows.net/synonymmaps('test-synonym')?api-version=2019-05-06-Preview",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "W/\"0x8D7E6282ABBD501\"",
      "elapsed-time" : "21",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjava70864849751cbbfad4785a414cc8f.search.windows.net/$metadata#synonymmaps/$entity\",\"@odata.etag\":\"\\\"0x8D7E6282ABBD501\\\"\",\"name\":\"test-synonym\",\"format\":\"solr\",\"synonyms\":\"word1,word2\",\"encryptionKey\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  } ],
  "variables" : [ "azsjava70864849751cbbfad4785a414cc8f" ]
}