{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://azsjavagetsynonymmapthrowsonnotfoundcb784417a23b0f8a.search.windows.net/synonymmaps('thisSynonymMapDoesNotExist')?api-version=2019-05-06-Preview",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "404",
      "elapsed-time" : "19",
      "OData-Version" : "4.0",
      "Body" : "{\"error\":{\"code\":\"\",\"message\":\"No synonym map with the name 'thisSynonymMapDoesNotExist' was found in service 'azsjavagetsynonymmapthrowsonnotfoundcb784417a23b0f8a'.\"}}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Language" : "en",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  } ],
  "variables" : [ "azsjavagetsynonymmapthrowsonnotfoundcb784417a23b0f8a" ]
}