{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azsjava30853dddc64dba0084962a4df1523.search.windows.net/datasources('azs-java-test-blob')?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "ETag" : "W/\"0x8D7E624CBDCE220\"",
      "elapsed-time" : "145",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjava30853dddc64dba0084962a4df1523.search.windows.net/$metadata#datasources/$entity\",\"@odata.etag\":\"\\\"0x8D7E624CBDCE220\\\"\",\"name\":\"azs-java-test-blob\",\"description\":\"Some data source\",\"type\":\"azureblob\",\"subtype\":null,\"credentials\":{\"connectionString\":null},\"container\":{\"name\":\"fakecontainer\",\"query\":\"/fakefolder/\"},\"dataChangeDetectionPolicy\":null,\"dataDeletionDetectionPolicy\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal",
      "Location" : "https://azsjava30853dddc64dba0084962a4df1523.search.windows.net/datasources('azs-java-test-blob')?api-version=2019-05-06-Preview"
    },
    "Exception" : null
  }, {
    "Method" : "PUT",
    "Uri" : "https://azsjava30853dddc64dba0084962a4df1523.search.windows.net/datasources('azs-java-test-blob')?api-version=2019-05-06-Preview",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "ETag" : "W/\"0x8D7E624CBE8F2F8\"",
      "elapsed-time" : "64",
      "OData-Version" : "4.0",
      "Body" : "{\"@odata.context\":\"https://azsjava30853dddc64dba0084962a4df1523.search.windows.net/$metadata#datasources/$entity\",\"@odata.etag\":\"\\\"0x8D7E624CBE8F2F8\\\"\",\"name\":\"azs-java-test-blob\",\"description\":\"somethingnew\",\"type\":\"azureblob\",\"subtype\":null,\"credentials\":{\"connectionString\":null},\"container\":{\"name\":\"fakecontainer\",\"query\":\"/fakefolder/\"},\"dataChangeDetectionPolicy\":null,\"dataDeletionDetectionPolicy\":null}",
      "Preference-Applied" : "odata.include-annotations=\"*\"",
      "Content-Type" : "application/json; odata.metadata=minimal"
    },
    "Exception" : null
  } ],
  "variables" : [ "azsjava30853dddc64dba0084962a4df1523" ]
}