{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://javaformrecognizertestresource.cognitiveservices.azure.com/formrecognizer/v2.0-preview//custom/models",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "Location" : "https://javaformrecognizertestresource.cognitiveservices.azure.com/formrecognizer/v2.0-preview/custom/models/fbf0fb4a-9016-4d80-a50f-0d8830d3b5aa"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://javaformrecognizertestresource.cognitiveservices.azure.com/formrecognizer/v2.0-preview//custom/models/fbf0fb4a-9016-4d80-a50f-0d8830d3b5aa?includeKeys=true",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"modelInfo\":{\"modelId\":\"fbf0fb4a-9016-4d80-a50f-0d8830d3b5aa\",\"status\":\"creating\",\"createdDateTime\":\"2020-04-22T22:32:50Z\",\"lastUpdatedDateTime\":\"2020-04-22T22:32:50Z\"}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://javaformrecognizertestresource.cognitiveservices.azure.com/formrecognizer/v2.0-preview//custom/models/fbf0fb4a-9016-4d80-a50f-0d8830d3b5aa?includeKeys=true",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"modelInfo\":{\"modelId\":\"fbf0fb4a-9016-4d80-a50f-0d8830d3b5aa\",\"status\":\"ready\",\"createdDateTime\":\"2020-04-22T22:32:50Z\",\"lastUpdatedDateTime\":\"2020-04-22T22:32:58Z\"},\"keys\":{\"clusters\":{\"0\":[\"Address:\",\"Charges\",\"Invoice Date\",\"Invoice Due Date\",\"Invoice For:\",\"Invoice Number\",\"Microsoft\",\"Page\",\"VAT ID\"]}},\"trainResult\":{\"trainingDocuments\":[{\"documentName\":\"Invoice_1.pdf\",\"pages\":1,\"errors\":[],\"status\":\"succeeded\"},{\"documentName\":\"Invoice_2.pdf\",\"pages\":1,\"errors\":[],\"status\":\"succeeded\"},{\"documentName\":\"Invoice_3.pdf\",\"pages\":1,\"errors\":[],\"status\":\"succeeded\"},{\"documentName\":\"Invoice_4.pdf\",\"pages\":1,\"errors\":[],\"status\":\"succeeded\"},{\"documentName\":\"Invoice_5.pdf\",\"pages\":1,\"errors\":[],\"status\":\"succeeded\"}],\"errors\":[]}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://javaformrecognizertestresource.cognitiveservices.azure.com/formrecognizer/v2.0-preview//custom/models/fbf0fb4a-9016-4d80-a50f-0d8830d3b5aa?includeKeys=true",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"modelInfo\":{\"modelId\":\"fbf0fb4a-9016-4d80-a50f-0d8830d3b5aa\",\"status\":\"ready\",\"createdDateTime\":\"2020-04-22T22:32:50Z\",\"lastUpdatedDateTime\":\"2020-04-22T22:32:58Z\"},\"keys\":{\"clusters\":{\"0\":[\"Address:\",\"Charges\",\"Invoice Date\",\"Invoice Due Date\",\"Invoice For:\",\"Invoice Number\",\"Microsoft\",\"Page\",\"VAT ID\"]}},\"trainResult\":{\"trainingDocuments\":[{\"documentName\":\"Invoice_1.pdf\",\"pages\":1,\"errors\":[],\"status\":\"succeeded\"},{\"documentName\":\"Invoice_2.pdf\",\"pages\":1,\"errors\":[],\"status\":\"succeeded\"},{\"documentName\":\"Invoice_3.pdf\",\"pages\":1,\"errors\":[],\"status\":\"succeeded\"},{\"documentName\":\"Invoice_4.pdf\",\"pages\":1,\"errors\":[],\"status\":\"succeeded\"},{\"documentName\":\"Invoice_5.pdf\",\"pages\":1,\"errors\":[],\"status\":\"succeeded\"}],\"errors\":[]}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ "testfr18719ff" ]
}