{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://javaformrecognizertestresource.cognitiveservices.azure.com/formrecognizer/v2.0-preview//custom/models/a0a3998a-b3c0-4075-aa6b-c4c4affe66b7/analyze?includeTextDetails=true",
    "Headers" : {
      "Content-Type" : "application/pdf"
    },
    "Response" : null,
    "Exception" : {
      "ClassName" : "java.lang.NullPointerException",
      "ErrorMessage" : null
    }
[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://javaformrecognizertestresource.cognitiveservices.azure.com/formrecognizer/v2.0-preview//custom/models/a0a3998a-b3c0-4075-aa6b-c4c4affe66b7/analyze?includeTextDetails=true",
    "Headers" : {
      "Content-Type" : "application/pdf"
    },
    "Response" : null,
    "Exception" : {
      "ClassName" : "java.lang.NullPointerException",
      "ErrorMessage" : null
    }
  } ],
  "variables" : [ ]
}