{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://javaformrecognizertestresource.cognitiveservices.azure.com/formrecognizer/v2.0-preview//custom/models/95537f1b-aac4-4da8-8292-f1b93ac4c8f8/analyze?includeTextDetails=false",
    "Headers" : {
      "Content-Type" : "application/pdf"
    },
    "Response" : null,
    "Exception" : {
      "ClassName" : "com.azure.core.exception.UnexpectedLengthException",
      "ErrorMessage" : "Request body emitted 156827 bytes more than the expected 154512 bytes."
    }
[...]
  }, {
    "Method" : "POST",
    "Uri" : "https://javaformrecognizertestresource.cognitiveservices.azure.com/formrecognizer/v2.0-preview//custom/models/95537f1b-aac4-4da8-8292-f1b93ac4c8f8/analyze?includeTextDetails=false",
    "Headers" : {
      "Content-Type" : "application/pdf"
    },
    "Response" : null,
    "Exception" : {
      "ClassName" : "com.azure.core.exception.UnexpectedLengthException",
      "ErrorMessage" : "Request body emitted 156827 bytes more than the expected 154512 bytes."
    }
  } ],
  "variables" : [ ]
}