{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://javaformrecognizertestresource.cognitiveservices.azure.com/formrecognizer/v2.0-preview//custom/models/22138c4e-c4b0-4901-a0e1-6c5beb73fc1d?includeKeys=true",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "{\"modelInfo\":{\"modelId\":\"22138c4e-c4b0-4901-a0e1-6c5beb73fc1d\",\"status\":\"invalid\",\"createdDateTime\":\"2020-04-07T18:29:54Z\",\"lastUpdatedDateTime\":\"2020-04-07T18:29:54Z\"},\"trainResult\":{\"averageModelAccuracy\":0.0,\"errors\":[{\"code\":\"2011\",\"message\":\"Could not access Azure blob storage account.\"}]}}",
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}