{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://form-recognizer-canary.cognitiveservices.azure.com/formrecognizer/v2.0-preview//prebuilt/receipt/analyze?includeTextDetails=false",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "WWW-Authenticate" : "AzureApiManagementKey realm=\"https://form-recognizer-canary.cognitiveservices.azure.com/formrecognizer\",name=\"Ocp-Apim-Subscription-Key\",type=\"header\"",
      "retry-after" : "0",
      "StatusCode" : "401",
      "Body" : "{\"error\":{\"code\":\"401\",\"message\": \"Access denied due to invalid subscription key or wrong API endpoint. Make sure to provide a valid key for an active subscription and use a correct regional API endpoint for your resource.\"}}",
      "Content-Type" : "application/json"
    },
    "Exception" : null
  } ],
  "variables" : [ ]
}