jobs:
  - job: 'LiveTest'

    strategy:
      matrix:
        AzureBatch:
          pomFilePath: './batch/data-plane/pom.xml'
        AzureKeyVault:
          pomFilePath: './keyvault/data-plane/pom.xml'
        AzureEventHubs:
          pomFilePath: './eventhubs/data-plane/pom.xml'
        AzureStorage:
          pomFilePath: './storage/data-plane/pom.xml'
        AzureAppConfiguration:
          pomFilePath: './applicationconfig/client/pom.xml'
        AzureServiceBus:
          pomFilePath: './servicebus/data-plane/pom.xml'

    pool:
      vmImage: 'vs2017-win2016'

    steps:
      # Adding -Dmaven.wagon.http.pool=false to the mvn command as a workaround to prevent build failures at maven artifacts downloading stage.
      - task: Maven@3
        displayName: 'Run Live tests'
        inputs:
          mavenPomFile: $(pomFilePath)
          options: '--batch-mode -Dmaven.wagon.http.pool=false -Dsurefire.rerunFailingTestsCount=3'
          mavenOptions: '-Xmx3072m -Dorg.slf4j.simpleLogger.defaultLogLevel=error -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn'
          javaHomeOption: 'JDKVersion'
          jdkVersionOption: '1.8'
          jdkArchitectureOption: 'x64'
          publishJUnitResults: false
          goals: 'test'
        env:
          ARM_CLIENTID: $(java-keyvault-test-arm-client-id)
          ARM_CLIENTKEY: $(java-keyvault-test-arm-client-key)
          AZURE_TEST_MODE: RECORD
          AZURE_BATCH_ACCOUNT: $(java-batch-test-account-name)
          AZURE_BATCH_ACCESS_KEY: $(java-batch-test-account-access-key)
          STORAGE_ACCOUNT_KEY: $(java-batch-test-storage-account-key)
          STORAGE_ACCOUNT_NAME: $(java-batch-test-storage-account-name)
          AZURE_BATCH_ENDPOINT: https://servbatch.centralus.batch.azure.com
          AZURE_EVENTHUBS_CONNECTION_STRING: $(java-event-hubs-test-connection-string)
          PRIMARY_STORAGE_ACCOUNT_NAME: $(java-storage-test-primary-account-name)
          PRIMARY_STORAGE_ACCOUNT_KEY: $(java-storage-test-primary-account-key)
          SECONDARY_STORAGE_ACCOUNT_NAME: $(java-storage-test-secondary-account-name)
          SECONDARY_STORAGE_ACCOUNT_KEY: $(java-storage-test-secondary-account-key)
          PREMIUM_STORAGE_ACCOUNT_NAME: $(java-storage-test-premium-account-name)
          PREMIUM_STORAGE_ACCOUNT_KEY: $(java-storage-test-premium-account-key)
          BLOB_STORAGE_ACCOUNT_NAME: $(java-storage-test-blob-account-name)
          BLOB_STORAGE_ACCOUNT_KEY: $(java-storage-test-blob-account-key)
          AZCONFIG_CONNECTION_STRING: $(java-azconfig-test-connection-string)
          MICROSOFT_AD_TENANT_ID: $(microsoft-active-directory-tenant-id)
          AZURE_SERVICEBUS_CONNECTION_STRING: $(java-servicebus-test-connection-string)
      - task: PublishTestResults@2
        condition: succeededOrFailed()
        inputs:
          mergeTestResults: true
          testRunTitle: 'Live tests for $(pomFilePath)'
