trigger:
- master

jobs:
- job: 'Publish'

  pool:
    vmImage: 'ubuntu-16.04'

  steps:
  - task: Maven@3
    inputs:
      mavenPomFile: 'pom.client.build.xml'
      options: '--batch-mode'  #hides dependencies download progress from CI output
      mavenOptions: '-Xmx3072m -Dmaven.test.skip=true -Dorg.slf4j.simpleLogger.defaultLogLevel=error -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn'
      javaHomeOption: 'JDKVersion'
      jdkVersionOption: '1.8'
      jdkArchitectureOption: 'x64'
      publishJUnitResults: false
      goals: 'package'
    displayName: 'Package'

  - task: Maven@3
    displayName: 'Javadoc'
    inputs:
      mavenPomFile: 'pom.client.build.xml'
      goals: 'javadoc:jar'
      options: '-DskipTests=true'
      publishJUnitResults: false

  - task: CopyFiles@2
    inputs:
      contents: '**/*.jar'
      targetFolder: $(Build.ArtifactStagingDirectory)
      flattenFolders: true
    displayName: 'Copy'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish'

- template: client.test.yml
  parameters:
    name: Linux
    vmImage: 'ubuntu-16.04'

- template: client.test.yml
  parameters:
    name: macOS
    vmImage: 'macOS-10.13'

- template: client.test.yml
  parameters:
    name: Windows
    vmImage: 'vs2017-win2016'
