{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/dirsharename/directory10744e?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D706A8811CDF0F\"",
      "Last-Modified" : "Fri, 12 Jul 2019 09:08:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/dirsharename/directory10744e%2fdir047156c15?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D706A88131CA76\"",
      "Last-Modified" : "Fri, 12 Jul 2019 09:08:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  } ],
  "variables" : [ "directory10744e", "dir047156c15" ]
}