{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/filesharename/testdir%2ffile83109097",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D706E2284DAB9C\"",
      "Last-Modified" : "Fri, 12 Jul 2019 16:01:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "HEAD",
    "Uri" : "https://sima.file.core.windows.net/filesharename/testdir%2ffile83109097",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "Last-Modified" : "Fri, 12 Jul 2019 16:01:10 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-server-encrypted" : "true",
      "x-ms-type" : "File",
      "ETag" : "\"0x8D706E2284DAB9C\"",
      "Body" : "",
      "Content-Type" : "application/octet-stream"
    }
  } ],
  "variables" : [ "file83109097" ]
}