{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/share11832a0f?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D706A83C59172A\"",
      "Last-Modified" : "Fri, 12 Jul 2019 09:06:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/share11832a0f/testshare?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D706A83C657F17\"",
      "Last-Modified" : "Fri, 12 Jul 2019 09:06:33 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/share11832a0f/testshare?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ResourceAlreadyExists",
      "retry-after" : "0",
      "StatusCode" : "409",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceAlreadyExists</Code><Message>The specified resource already exists.\nRequestId:9e6064df-501a-0051-6f91-38d167000000\nTime:2019-07-12T09:06:33.4599680Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sima.file.core.windows.net/share11832a0f?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "share11832a0f" ]
}