{
  "networkCallRecords" : [ {
    "Method" : "GET",
    "Uri" : "https://sima.file.core.windows.net?prefix=share32007623&maxresults=-1&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "OutOfRangeQueryParameterValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>OutOfRangeQueryParameterValue</Code><Message>One of the query parameters specified in the request URI is outside the permissible range.\nRequestId:9e6067ca-501a-0051-0c91-38d167000000\nTime:2019-07-12T09:10:21.6307113Z</Message><QueryParameterName>maxresults</QueryParameterName><QueryParameterValue>-1</QueryParameterValue><MinimumAllowed>1</MinimumAllowed><MaximumAllowed>2147483647</MaximumAllowed></Error>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.file.core.windows.net?prefix=share32007623&maxresults=0&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "OutOfRangeQueryParameterValue",
      "retry-after" : "0",
      "StatusCode" : "400",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>OutOfRangeQueryParameterValue</Code><Message>One of the query parameters specified in the request URI is outside the permissible range.\nRequestId:9e6067cb-501a-0051-0d91-38d167000000\nTime:2019-07-12T09:10:21.7247780Z</Message><QueryParameterName>maxresults</QueryParameterName><QueryParameterValue>0</QueryParameterValue><MinimumAllowed>1</MinimumAllowed><MaximumAllowed>2147483647</MaximumAllowed></Error>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.file.core.windows.net?prefix=share32007623&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://sima.file.core.windows.net/\"><Prefix>share32007623</Prefix><Shares /><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "share32007623" ]
}