{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/dirsharename/directory03228e?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D712211034C53E\"",
      "Last-Modified" : "Fri, 26 Jul 2019 23:29:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/dirsharename/directory03228e%2fdirectory03228e0?restype=directory",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71221103B084F\"",
      "Last-Modified" : "Fri, 26 Jul 2019 23:29:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/dirsharename/directory03228e%2fsamelayer68781d0",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7122110417277\"",
      "Last-Modified" : "Fri, 26 Jul 2019 23:29:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/dirsharename/directory03228e%2fdirectory03228e0%2fnextlayer2731040",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7122110493C85\"",
      "Last-Modified" : "Fri, 26 Jul 2019 23:29:11 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/dirsharename/directory03228e?restype=directory&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://azstoragesdkaccount.file.core.windows.net/\" ShareName=\"dirsharename\" DirectoryPath=\"directory03228e\"><Entries><Directory><Name>directory03228e0</Name><Properties /></Directory><Directory><Name>directory03228e1</Name><Properties /></Directory><Directory><Name>directory03228e2</Name><Properties /></Directory><File><Name>samelayer68781d0</Name><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>samelayer68781d01</Name><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>samelayer68781d012</Name><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "directory03228e", "samelayer68781d", "nextlayer273104" ]
}