{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/share58340816prefix0?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D710912320C177\"",
      "Last-Modified" : "Wed, 24 Jul 2019 23:46:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/share583408161?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D71091232863FA\"",
      "Last-Modified" : "Wed, 24 Jul 2019 23:46:24 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.file.core.windows.net?prefix=share58340816prefix&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://sima.file.core.windows.net/\"><Prefix>share58340816prefix</Prefix><Shares><Share><Name>share58340816prefix0</Name><Properties><Last-Modified>Wed, 24 Jul 2019 23:46:24 GMT</Last-Modified><Etag>\"0x8D710912320C177\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>share58340816prefix2</Name><Properties><Last-Modified>Wed, 24 Jul 2019 23:46:24 GMT</Last-Modified><Etag>\"0x8D7109123302DA0\"</Etag><Quota>2</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.file.core.windows.net?prefix=share58340816&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://sima.file.core.windows.net/\"><Prefix>share58340816</Prefix><Shares><Share><Name>share583408161</Name><Properties><Last-Modified>Wed, 24 Jul 2019 23:46:24 GMT</Last-Modified><Etag>\"0x8D71091232863FA\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>share58340816prefix0</Name><Properties><Last-Modified>Wed, 24 Jul 2019 23:46:24 GMT</Last-Modified><Etag>\"0x8D710912320C177\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>share58340816prefix2</Name><Properties><Last-Modified>Wed, 24 Jul 2019 23:46:24 GMT</Last-Modified><Etag>\"0x8D7109123302DA0\"</Etag><Quota>2</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sima.file.core.windows.net/share58340816prefix2?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "share58340816" ]
}