{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/share62017ab20?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D70A3CED064E6A\"",
      "Last-Modified" : "Tue, 16 Jul 2019 22:28:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/share62017ab20?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-snapshot" : "2019-07-16T22:28:28.0000000Z",
      "ETag" : "\"0x8D70A3CED064E6A\"",
      "Last-Modified" : "Tue, 16 Jul 2019 22:28:28 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.file.core.windows.net?prefix=share62017ab2&include=metadata%2csnapshots&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://sima.file.core.windows.net/\"><Prefix>share62017ab2</Prefix><Shares><Share><Name>share62017ab20</Name><Snapshot>2019-07-16T22:28:28.0000000Z</Snapshot><Properties><Last-Modified>Tue, 16 Jul 2019 22:28:28 GMT</Last-Modified><Etag>\"0x8D70A3CED064E6A\"</Etag><Quota>2</Quota></Properties><Metadata><test>metadata</test></Metadata></Share><Share><Name>share62017ab20</Name><Properties><Last-Modified>Tue, 16 Jul 2019 22:28:28 GMT</Last-Modified><Etag>\"0x8D70A3CED064E6A\"</Etag><Quota>2</Quota></Properties><Metadata><test>metadata</test></Metadata></Share><Share><Name>share62017ab21</Name><Properties><Last-Modified>Tue, 16 Jul 2019 22:28:28 GMT</Last-Modified><Etag>\"0x8D70A3CED17417C\"</Etag><Quota>2</Quota></Properties><Metadata /></Share><Share><Name>share62017ab22</Name><Snapshot>2019-07-16T22:28:28.0000000Z</Snapshot><Properties><Last-Modified>Tue, 16 Jul 2019 22:28:28 GMT</Last-Modified><Etag>\"0x8D70A3CED1EBCE7\"</Etag><Quota>2</Quota></Properties><Metadata><test>metadata</test></Metadata></Share><Share><Name>share62017ab22</Name><Properties><Last-Modified>Tue, 16 Jul 2019 22:28:28 GMT</Last-Modified><Etag>\"0x8D70A3CED1EBCE7\"</Etag><Quota>2</Quota></Properties><Metadata><test>metadata</test></Metadata></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.file.core.windows.net?prefix=share62017ab2&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://sima.file.core.windows.net/\"><Prefix>share62017ab2</Prefix><Shares><Share><Name>share62017ab20</Name><Properties><Last-Modified>Tue, 16 Jul 2019 22:28:28 GMT</Last-Modified><Etag>\"0x8D70A3CED064E6A\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>share62017ab21</Name><Properties><Last-Modified>Tue, 16 Jul 2019 22:28:28 GMT</Last-Modified><Etag>\"0x8D70A3CED17417C\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>share62017ab22</Name><Properties><Last-Modified>Tue, 16 Jul 2019 22:28:28 GMT</Last-Modified><Etag>\"0x8D70A3CED1EBCE7\"</Etag><Quota>2</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sima.file.core.windows.net/share62017ab20?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ShareHasSnapshots",
      "retry-after" : "0",
      "StatusCode" : "409",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareHasSnapshots</Code><Message>The share has snapshots and the operation requires no snapshots.\nRequestId:97675c88-401a-0089-2525-3c76b6000000\nTime:2019-07-16T22:28:29.0826157Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sima.file.core.windows.net/share62017ab22?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ShareHasSnapshots",
      "retry-after" : "0",
      "StatusCode" : "409",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareHasSnapshots</Code><Message>The share has snapshots and the operation requires no snapshots.\nRequestId:97675c8a-401a-0089-2725-3c76b6000000\nTime:2019-07-16T22:28:29.1916931Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "share62017ab2" ]
}