{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/share3152865b0?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D70A3CEE8C9951\"",
      "Last-Modified" : "Tue, 16 Jul 2019 22:28:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.file.core.windows.net?prefix=share3152865b&include=metadata&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://sima.file.core.windows.net/\"><Prefix>share3152865b</Prefix><Shares><Share><Name>share3152865b0</Name><Properties><Last-Modified>Tue, 16 Jul 2019 22:28:31 GMT</Last-Modified><Etag>\"0x8D70A3CEE8C9951\"</Etag><Quota>2</Quota></Properties><Metadata><test>metadata</test></Metadata></Share><Share><Name>share3152865b1</Name><Properties><Last-Modified>Tue, 16 Jul 2019 22:28:31 GMT</Last-Modified><Etag>\"0x8D70A3CEE968637\"</Etag><Quota>2</Quota></Properties><Metadata /></Share><Share><Name>share3152865b2</Name><Properties><Last-Modified>Tue, 16 Jul 2019 22:28:31 GMT</Last-Modified><Etag>\"0x8D70A3CEE9E76EA\"</Etag><Quota>2</Quota></Properties><Metadata><test>metadata</test></Metadata></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.file.core.windows.net?prefix=share3152865b&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://sima.file.core.windows.net/\"><Prefix>share3152865b</Prefix><Shares><Share><Name>share3152865b0</Name><Properties><Last-Modified>Tue, 16 Jul 2019 22:28:31 GMT</Last-Modified><Etag>\"0x8D70A3CEE8C9951\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>share3152865b1</Name><Properties><Last-Modified>Tue, 16 Jul 2019 22:28:31 GMT</Last-Modified><Etag>\"0x8D70A3CEE968637\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>share3152865b2</Name><Properties><Last-Modified>Tue, 16 Jul 2019 22:28:31 GMT</Last-Modified><Etag>\"0x8D70A3CEE9E76EA\"</Etag><Quota>2</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sima.file.core.windows.net/share3152865b2?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "share3152865b" ]
}