{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/share64715b0b0?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D706A8BCC7C1B9\"",
      "Last-Modified" : "Fri, 12 Jul 2019 09:10:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/share64715b0b0?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-snapshot" : "2019-07-12T09:10:08.0000000Z",
      "ETag" : "\"0x8D706A8BCC7C1B9\"",
      "Last-Modified" : "Fri, 12 Jul 2019 09:10:08 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
[...]
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.file.core.windows.net?prefix=share64715b0b&include=metadata%2csnapshots&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://sima.file.core.windows.net/\"><Prefix>share64715b0b</Prefix><Shares><Share><Name>share64715b0b0</Name><Snapshot>2019-07-12T09:10:08.0000000Z</Snapshot><Properties><Last-Modified>Fri, 12 Jul 2019 09:10:08 GMT</Last-Modified><Etag>\"0x8D706A8BCC7C1B9\"</Etag><Quota>2</Quota></Properties><Metadata><test>metadata</test></Metadata></Share><Share><Name>share64715b0b0</Name><Properties><Last-Modified>Fri, 12 Jul 2019 09:10:08 GMT</Last-Modified><Etag>\"0x8D706A8BCC7C1B9\"</Etag><Quota>2</Quota></Properties><Metadata><test>metadata</test></Metadata></Share><Share><Name>share64715b0b1</Name><Properties><Last-Modified>Fri, 12 Jul 2019 09:10:08 GMT</Last-Modified><Etag>\"0x8D706A8BCE316FB\"</Etag><Quota>2</Quota></Properties><Metadata /></Share><Share><Name>share64715b0b2</Name><Snapshot>2019-07-12T09:10:09.0000000Z</Snapshot><Properties><Last-Modified>Fri, 12 Jul 2019 09:10:09 GMT</Last-Modified><Etag>\"0x8D706A8BD13095F\"</Etag><Quota>2</Quota></Properties><Metadata><test>metadata</test></Metadata></Share><Share><Name>share64715b0b2</Name><Properties><Last-Modified>Fri, 12 Jul 2019 09:10:09 GMT</Last-Modified><Etag>\"0x8D706A8BD13095F\"</Etag><Quota>2</Quota></Properties><Metadata><test>metadata</test></Metadata></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.file.core.windows.net?prefix=share64715b0b&include=&comp=list",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "200",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://sima.file.core.windows.net/\"><Prefix>share64715b0b</Prefix><Shares><Share><Name>share64715b0b0</Name><Properties><Last-Modified>Fri, 12 Jul 2019 09:10:08 GMT</Last-Modified><Etag>\"0x8D706A8BCC7C1B9\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>share64715b0b1</Name><Properties><Last-Modified>Fri, 12 Jul 2019 09:10:08 GMT</Last-Modified><Etag>\"0x8D706A8BCE316FB\"</Etag><Quota>2</Quota></Properties></Share><Share><Name>share64715b0b2</Name><Properties><Last-Modified>Fri, 12 Jul 2019 09:10:09 GMT</Last-Modified><Etag>\"0x8D706A8BD13095F\"</Etag><Quota>2</Quota></Properties></Share></Shares><NextMarker /></EnumerationResults>",
      "Content-Type" : "application/xml"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sima.file.core.windows.net/share64715b0b0?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ShareHasSnapshots",
      "retry-after" : "0",
      "StatusCode" : "409",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareHasSnapshots</Code><Message>The share has snapshots and the operation requires no snapshots.\nRequestId:9e60676e-501a-0051-4c91-38d167000000\nTime:2019-07-12T09:10:10.2985757Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sima.file.core.windows.net/share64715b0b2?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ShareHasSnapshots",
      "retry-after" : "0",
      "StatusCode" : "409",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareHasSnapshots</Code><Message>The share has snapshots and the operation requires no snapshots.\nRequestId:9e606770-501a-0051-4e91-38d167000000\nTime:2019-07-12T09:10:10.5397492Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "share64715b0b" ]
}