{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/filesharename/testdir%2ffile40907d4d",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D706A7FFF48161\"",
      "Last-Modified" : "Fri, 12 Jul 2019 09:04:51 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/filesharename/testdir%2ffile40907d4d?comp=properties",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D706A8000106D3\"",
      "Last-Modified" : "Fri, 12 Jul 2019 09:04:52 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-request-server-encrypted" : "true"
    }
  } ],
  "variables" : [ "file40907d4d" ]
}