{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/share3021507b?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D70A3C7856E09E\"",
      "Last-Modified" : "Tue, 16 Jul 2019 22:25:12 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/share3021507b?restype=share&comp=metadata",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D70A3C785EC1B0\"",
      "Last-Modified" : "Tue, 16 Jul 2019 22:25:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "200"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.file.core.windows.net/share3021507b?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "Last-Modified" : "Tue, 16 Jul 2019 22:25:13 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "x-ms-share-quota" : "5120",
      "ETag" : "\"0x8D70A3C785EC1B0\"",
      "x-ms-has-immutability-policy" : "false",
      "x-ms-meta-setting" : "metadata"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sima.file.core.windows.net/share3021507b?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "retry-after" : "0",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "share3021507b" ]
}