{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/share60407a93?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D70F8C958F1003\"",
      "Last-Modified" : "Tue, 23 Jul 2019 16:41:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://sima.file.core.windows.net/share60407a93?restype=share&comp=snapshot",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-snapshot" : "2019-07-23T16:41:17.0000000Z",
      "ETag" : "\"0x8D70F8C953F3480\"",
      "Last-Modified" : "Tue, 23 Jul 2019 16:41:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "201"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://sima.file.core.windows.net/share60407a93?sharesnapshot=2019-07-23T16%3a41%3a17.0000000Z&restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-meta-test" : "metadata",
      "x-ms-version" : "2018-11-09",
      "Last-Modified" : "Tue, 23 Jul 2019 16:41:17 GMT",
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-has-legal-hold" : "false",
      "x-ms-share-quota" : "2",
      "ETag" : "\"0x8D70F8C953F3480\"",
      "x-ms-has-immutability-policy" : "false"
    }
  }, {
    "Method" : "DELETE",
    "Uri" : "https://sima.file.core.windows.net/share60407a93?restype=share",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-error-code" : "ShareHasSnapshots",
      "retry-after" : "0",
      "StatusCode" : "409",
      "Body" : "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ShareHasSnapshots</Code><Message>The share has snapshots and the operation requires no snapshots.\nRequestId:a4781dd5-001a-006b-0975-4192c4000000\nTime:2019-07-23T16:41:17.6894731Z</Message></Error>",
      "Content-Type" : "application/xml"
    }
  } ],
  "variables" : [ "share60407a93" ]
}