{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/filesharename/testdir%2ffile970445fd",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D7122059AD0771\"",
      "Last-Modified" : "Fri, 26 Jul 2019 23:24:04 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/filesharename/testdir%2ffile970445fd",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-copy-id" : "92466157-9c90-4d8c-9f0c-73d4dd0cc3aa",
      "ETag" : "\"0x8D7122059CF64BD\"",
      "Last-Modified" : "Fri, 26 Jul 2019 23:24:05 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "success",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "file970445fd" ]
}