{
  "networkCallRecords" : [ {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/filesharename/testdir%2ffile915691d2",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "ETag" : "\"0x8D715214FD29388\"",
      "Last-Modified" : "Tue, 30 Jul 2019 19:08:31 GMT",
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-request-server-encrypted" : "true"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://azstoragesdkaccount.file.core.windows.net/filesharename/testdir%2ffile915691d2",
    "Headers" : {
      "x-ms-version" : "2018-11-09"
    },
    "Response" : {
      "x-ms-version" : "2018-11-09",
      "x-ms-copy-id" : "018a4780-d459-45ef-9817-a418018f33fc",
      "ETag" : "\"0x8D715214FF7628A\"",
      "Last-Modified" : "Tue, 30 Jul 2019 19:08:31 GMT",
      "retry-after" : "0",
      "x-ms-copy-status" : "success",
      "StatusCode" : "202"
    }
  } ],
  "variables" : [ "file915691d2" ]
}