// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License.
// Code generated by Microsoft (R) AutoRest Code Generator.

package com.azure.resourcemanager.authorization.generated.implementation;

import com.azure.core.annotation.ExpectedResponses;
import com.azure.core.annotation.HeaderParam;
import com.azure.core.annotation.Headers;
import com.azure.core.annotation.Host;
import com.azure.core.annotation.HostParam;
import com.azure.core.annotation.PathParam;
import com.azure.core.annotation.Post;
import com.azure.core.annotation.QueryParam;
import com.azure.core.annotation.ReturnType;
import com.azure.core.annotation.ServiceInterface;
import com.azure.core.annotation.ServiceMethod;
import com.azure.core.annotation.UnexpectedResponseExceptionType;
import com.azure.core.http.rest.Response;
import com.azure.core.http.rest.RestProxy;
import com.azure.core.management.exception.ManagementException;
import com.azure.core.util.Context;
import com.azure.core.util.FluxUtil;
import com.azure.resourcemanager.authorization.generated.fluent.AccessReviewHistoryDefinitionInstancesClient;
import com.azure.resourcemanager.authorization.generated.fluent.models.AccessReviewHistoryInstanceInner;
import reactor.core.publisher.Mono;

/**
 * An instance of this class provides access to all the operations defined in
 * AccessReviewHistoryDefinitionInstancesClient.
 */
public final class AccessReviewHistoryDefinitionInstancesClientImpl
    implements AccessReviewHistoryDefinitionInstancesClient {
    /** The proxy service used to perform REST calls. */
    private final AccessReviewHistoryDefinitionInstancesService service;

    /** The service client containing this operation class. */
    private final AuthorizationManagementClientImpl client;

    /**
     * Initializes an instance of AccessReviewHistoryDefinitionInstancesClientImpl.
     *
     * @param client the instance of the service client containing this operation class.
     */
    AccessReviewHistoryDefinitionInstancesClientImpl(AuthorizationManagementClientImpl client) {
        this.service =
            RestProxy
                .create(
                    AccessReviewHistoryDefinitionInstancesService.class,
                    client.getHttpPipeline(),
                    client.getSerializerAdapter());
        this.client = client;
    }

    /**
     * The interface defining all the services for AuthorizationManagementClientAccessReviewHistoryDefinitionInstances
     * to be used by the proxy service to perform REST calls.
     */
    @Host("{$host}")
    @ServiceInterface(name = "AuthorizationManagem")
    private interface AccessReviewHistoryDefinitionInstancesService {
        @Headers({"Content-Type: application/json"})
        @Post(
            "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewHistoryDefinitions"
                + "/{historyDefinitionId}/instances/{instanceId}/generateDownloadUri")
        @ExpectedResponses({200})
        @UnexpectedResponseExceptionType(ManagementException.class)
        Mono<Response<AccessReviewHistoryInstanceInner>> generateDownloadUri(
            @HostParam("$host") String endpoint,
            @PathParam("historyDefinitionId") String historyDefinitionId,
            @PathParam("instanceId") String instanceId,
            @QueryParam("api-version") String apiVersion,
            @PathParam("subscriptionId") String subscriptionId,
            @HeaderParam("Accept") String accept,
            Context context);
    }

    /**
     * Generates a uri which can be used to retrieve review history data. This URI has a TTL of 1 day and can be
     * retrieved by fetching the accessReviewHistoryDefinition object.
     *
     * @param historyDefinitionId The id of the access review history definition.
     * @param instanceId The id of the access review history definition instance to generate a URI for.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return access Review History Definition Instance along with {@link Response} on successful completion of {@link
     *     Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<AccessReviewHistoryInstanceInner>> generateDownloadUriWithResponseAsync(
        String historyDefinitionId, String instanceId) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (historyDefinitionId == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter historyDefinitionId is required and cannot be null."));
        }
        if (instanceId == null) {
            return Mono.error(new IllegalArgumentException("Parameter instanceId is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        final String accept = "application/json";
        return FluxUtil
            .withContext(
                context ->
                    service
                        .generateDownloadUri(
                            this.client.getEndpoint(),
                            historyDefinitionId,
                            instanceId,
                            this.client.getApiVersion(),
                            this.client.getSubscriptionId(),
                            accept,
                            context))
            .contextWrite(context -> context.putAll(FluxUtil.toReactorContext(this.client.getContext()).readOnly()));
    }

    /**
     * Generates a uri which can be used to retrieve review history data. This URI has a TTL of 1 day and can be
     * retrieved by fetching the accessReviewHistoryDefinition object.
     *
     * @param historyDefinitionId The id of the access review history definition.
     * @param instanceId The id of the access review history definition instance to generate a URI for.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return access Review History Definition Instance along with {@link Response} on successful completion of {@link
     *     Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<Response<AccessReviewHistoryInstanceInner>> generateDownloadUriWithResponseAsync(
        String historyDefinitionId, String instanceId, Context context) {
        if (this.client.getEndpoint() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getEndpoint() is required and cannot be null."));
        }
        if (historyDefinitionId == null) {
            return Mono
                .error(new IllegalArgumentException("Parameter historyDefinitionId is required and cannot be null."));
        }
        if (instanceId == null) {
            return Mono.error(new IllegalArgumentException("Parameter instanceId is required and cannot be null."));
        }
        if (this.client.getSubscriptionId() == null) {
            return Mono
                .error(
                    new IllegalArgumentException(
                        "Parameter this.client.getSubscriptionId() is required and cannot be null."));
        }
        final String accept = "application/json";
        context = this.client.mergeContext(context);
        return service
            .generateDownloadUri(
                this.client.getEndpoint(),
                historyDefinitionId,
                instanceId,
                this.client.getApiVersion(),
                this.client.getSubscriptionId(),
                accept,
                context);
    }

    /**
     * Generates a uri which can be used to retrieve review history data. This URI has a TTL of 1 day and can be
     * retrieved by fetching the accessReviewHistoryDefinition object.
     *
     * @param historyDefinitionId The id of the access review history definition.
     * @param instanceId The id of the access review history definition instance to generate a URI for.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return access Review History Definition Instance on successful completion of {@link Mono}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    private Mono<AccessReviewHistoryInstanceInner> generateDownloadUriAsync(
        String historyDefinitionId, String instanceId) {
        return generateDownloadUriWithResponseAsync(historyDefinitionId, instanceId)
            .flatMap(res -> Mono.justOrEmpty(res.getValue()));
    }

    /**
     * Generates a uri which can be used to retrieve review history data. This URI has a TTL of 1 day and can be
     * retrieved by fetching the accessReviewHistoryDefinition object.
     *
     * @param historyDefinitionId The id of the access review history definition.
     * @param instanceId The id of the access review history definition instance to generate a URI for.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return access Review History Definition Instance.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public AccessReviewHistoryInstanceInner generateDownloadUri(String historyDefinitionId, String instanceId) {
        return generateDownloadUriAsync(historyDefinitionId, instanceId).block();
    }

    /**
     * Generates a uri which can be used to retrieve review history data. This URI has a TTL of 1 day and can be
     * retrieved by fetching the accessReviewHistoryDefinition object.
     *
     * @param historyDefinitionId The id of the access review history definition.
     * @param instanceId The id of the access review history definition instance to generate a URI for.
     * @param context The context to associate with this operation.
     * @throws IllegalArgumentException thrown if parameters fail the validation.
     * @throws ManagementException thrown if the request is rejected by server.
     * @throws RuntimeException all other wrapped checked exceptions if the request fails to be sent.
     * @return access Review History Definition Instance along with {@link Response}.
     */
    @ServiceMethod(returns = ReturnType.SINGLE)
    public Response<AccessReviewHistoryInstanceInner> generateDownloadUriWithResponse(
        String historyDefinitionId, String instanceId, Context context) {
        return generateDownloadUriWithResponseAsync(historyDefinitionId, instanceId, context).block();
    }
}
