{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://graph.microsoft.com/v1.0//applications",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "201",
      "x-ms-ags-diagnostic" : "{\"ServerInfo\":{\"DataCenter\":\"Southeast Asia\",\"Slice\":\"SliceC\",\"Ring\":\"5\",\"ScaleUnit\":\"002\",\"RoleInstance\":\"AGSFE_IN_24\"}}",
      "OData-Version" : "4.0",
      "x-ms-resource-unit" : "1",
      "Body" : "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#applications/$entity\",\"id\":\"92166108-ac41-40fa-9af8-08137f69e07f\",\"deletedDateTime\":null,\"appId\":\"8b494908-52c8-47b5-9ef5-573a3c1815f3\",\"applicationTemplateId\":null,\"createdDateTime\":\"2021-01-04T05:07:35.8947203Z\",\"displayName\":\"javasdkapp0534432\",\"description\":null,\"groupMembershipClaims\":null,\"identifierUris\":[],\"isDeviceOnlyAuthSupported\":null,\"isFallbackPublicClient\":null,\"notes\":null,\"optionalClaims\":null,\"publisherDomain\":\"AzureSDKTeam.onmicrosoft.com\",\"signInAudience\":\"AzureADandPersonalMicrosoftAccount\",\"tags\":[],\"tokenEncryptionKeyId\":null,\"verifiedPublisher\":{\"displayName\":null,\"verifiedPublisherId\":null,\"addedDateTime\":null},\"spa\":{\"redirectUris\":[]},\"defaultRedirectUri\":null,\"addIns\":[],\"api\":{\"acceptMappedClaims\":null,\"knownClientApplications\":[],\"requestedAccessTokenVersion\":2,\"oauth2PermissionScopes\":[],\"preAuthorizedApplications\":[]},\"appRoles\":[],\"info\":{\"logoUrl\":null,\"marketingUrl\":null,\"privacyStatementUrl\":null,\"supportUrl\":null,\"termsOfServiceUrl\":null},\"keyCredentials\":[{\"customKeyIdentifier\":\"B148FDD6DACCA97294917BCAD4B4AD8F1FA30FBA\",\"displayName\":\"cert\",\"endDateTime\":\"2021-04-14T05:07:32.0678431Z\",\"key\":null,\"keyId\":\"63549cd3-8c1f-4d6f-b8d6-250cfa8c295c\",\"startDateTime\":\"2021-01-04T05:07:32.0678431Z\",\"type\":\"AsymmetricX509Cert\",\"usage\":\"Verify\"}],\"parentalControlSettings\":{\"countriesBlockedForMinors\":[],\"legalAgeGroupRule\":\"Allow\"},\"passwordCredentials\":[],\"publicClient\":{\"redirectUris\":[]},\"requiredResourceAccess\":[],\"web\":{\"homePageUrl\":\"http://easycreate.azure.com/javasdkapp0534432\",\"logoutUrl\":null,\"redirectUris\":[],\"implicitGrantSettings\":{\"enableAccessTokenIssuance\":false,\"enableIdTokenIssuance\":false}}}",
      "Content-Type" : "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
      "Location" : "https://graph.microsoft.com/v2/00000000-0000-0000-0000-000000000000/directoryObjects/92166108-ac41-40fa-9af8-08137f69e07f/Microsoft.DirectoryServices.Application"
    },
    "Exception" : null
  }, {
    "Method" : "POST",
    "Uri" : "https://graph.microsoft.com/v1.0//applications/92166108-ac41-40fa-9af8-08137f69e07f/microsoft.graph.addPassword",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-ags-diagnostic" : "{\"ServerInfo\":{\"DataCenter\":\"Southeast Asia\",\"Slice\":\"SliceC\",\"Ring\":\"5\",\"ScaleUnit\":\"002\",\"RoleInstance\":\"AGSFE_IN_10\"}}",
      "OData-Version" : "4.0",
      "x-ms-resource-unit" : "1",
      "Body" : "{\"@odata.context\":\"https://graph.microsoft.com/v1.0/$metadata#microsoft.graph.passwordCredential\",\"customKeyIdentifier\":null,\"displayName\":\"passwd\",\"endDateTime\":\"2022-12-05T05:07:32.0668425Z\",\"hint\":\"u1H\",\"keyId\":\"082d146c-9e54-448b-babc-a6213895325f\",\"secretText\":\"***REMOVED***\",\"startDateTime\":\"2021-01-04T05:07:32.0668425Z\"}",
      "Content-Type" : "application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8",
      "Location" : "https://graph.microsoft.com"
    },
    "Exception" : null
  }, {
    "Method" : "GET",
    "Uri" : "https://graph.microsoft.com/v1.0//applications/92166108-ac41-40fa-9af8-08137f69e07f",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "x-ms-ags-diagnostic" : "{\"ServerInfo\":{\"DataCenter\":\"Southeast Asia\",\"Slice\":\"SliceC\",\"Ring\":\"5\",\"ScaleUnit\":\"002\",\"RoleInstance\":\"AGSFE_IN_22\"}}",
      "OData-Version" : "4.0",
      "x-ms-resource-un[...]
[...]
  }, {
    "Method" : "DELETE",
    "Uri" : "https://graph.microsoft.com/v1.0//applications/92166108-ac41-40fa-9af8-08137f69e07f",
    "Headers" : {
      "Content-Type" : "application/json"
    },
    "Response" : {
      "x-ms-ags-diagnostic" : "{\"ServerInfo\":{\"DataCenter\":\"Southeast Asia\",\"Slice\":\"SliceC\",\"Ring\":\"5\",\"ScaleUnit\":\"002\",\"RoleInstance\":\"AGSFE_IN_24\"}}",
      "x-ms-resource-unit" : "1",
      "retry-after" : "0",
      "StatusCode" : "204",
      "Body" : "",
      "Content-Type" : "text/plain"
    },
    "Exception" : null
  } ],
  "variables" : [ "javasdkapp0534432" ]
}